
<!-- HOMEPAGE BANNER -->
<link rel="stylesheet" type="text/css" href="/css/banners/dbcc/homepage.css">
<div class="dbcc-banner">
  <div class="dbcc-banner__text">
    <p class="serif-m">Up to 12 month financing</p>
    <p class="sans-m">with the David's Bridal Credit Card. <br class="tablet-hidden desktop-hidden">Limited time only!*</p>
    <p class="sans-bold-uppercase">
      <a href="/Content_Finance_dbiCreditCard">Learn More&nbsp;&gt;</a>
    </p>
  </div>
</div>
