<!-- Clearance Tile -->
<style media="screen">
.clearance-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  @media screen and (min-width: 768px) {
    .clearance-boxes {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .clearance-boxes .column {
    width: 50%;
    padding: 5px; }
    @media screen and (min-width: 768px) {
      .clearance-boxes .column {
        width: 100%; } }
    .clearance-boxes .column img {
      width: 100%; }

</style>
<div class="column-centered">
  <section class="clearance-boxes" data-analytics-tagging="Clearance-Tiles">
    <div class="column">
      <a href="/sale/sample-sale?homepage=module">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_samplesale.gif" alt="Bridal Sample Sale - up to 75% off original prices" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-party-dresses?homepage=module">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_moboccasion70off.gif" alt="Occasion Dress Clearance - up to 70% off original prices" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-accessories?homepage=module">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_shoes50.gif" alt="Shoes and Accessories Clearance - up to 50% off original prices" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-wedding-decorations?homepage=module">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_gifts50.gif" alt="Gifts and Decor Clearance - up to 50% off original prices" />
      </a>
    </div>
  </section>
</div>
