<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>

<section class="column-centered" data-analytics-tagging="Module-Row-2">
  
  <div class="column-full">
    <div class="layout-split-3">
      
      
      <div class="column" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/mother-of-the-bride-dresses?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_Modules3_MOB.jpg" alt="$20 Off Dresses for Mom" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">$20 Off Dresses For Mom</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses?homepage=module">ALL REGULAR PRICE STYLES&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>
      
      <div class="column" data-analytics-position="Module_5">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/all-dresses?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_occ_20180801.jpg" alt="Best Dressed Guest" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Best Dressed Guest</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/all-dresses?homepage=module">SHOP OCCASION DRESSES&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>
      
      <div class="column" data-analytics-position="Module_6">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/flower-girl-dresses?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_Modules5_FG.jpg" alt="Shop Styles From $39.95" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Flower Girls</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/flower-girl-dresses?homepage=module">Shop Styles From $39.95&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

    </div>
  </div>
  
</section>
