<style media="screen">
.quick-links {
  display: block;
  position: relative;
  max-width: 1262px;
  margin: 15px auto 30px;
  text-align: center; }
  .quick-links__heading {
    margin-bottom: 10px; }
  .quick-links__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center; }
    .quick-links__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .quick-links__flex .column {
          width: 20%; } }
      .quick-links__flex .column__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 50px;
        padding-left: 3px;
        padding-right: 3px;
        border: 1px solid #333; }
      .quick-links__flex .column a {
        width: 100%;
        display: block; }

</style>

<section class="quick-links" data-analytics-tagging="Shop-These-Categories">
  <h3 class="quick-links__heading serif-m">Shop These Categories</h3>

  <div class="quick-links__flex">
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-dresses/all-wedding-dresses">Wedding Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses">Bridesmaid Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses">Mother of the Bride Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:307445734561666667371117101115116321111023287101100100105110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Guest of Wedding&">Guest of Wedding Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/prom-dresses/all-prom-dresses">Prom Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/Content_StyleandFashionGuide_WeddingInvitations">Invitations</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/accessories/all-accessories">Accessories</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-gifts/all-wedding-gifts">Gifts &amp; Decor</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/shoes/all-shoes">Shoes</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/sale/sale-all">Sale</a>
      </div>
    </div>
  </div>
</section>
