<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>

<section class="column-centered" data-analytics-tagging="Module-Row-3">

  <div class="column-full">
    <div class="layout-split-3">

      <div class="column" data-analytics-position="Module_7">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/all-shoes?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_GEMMA_MSILVERMTLC_SHOE_PROD2_001.jpg" alt="Pair of Shoes" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Buy One, Get One 50% Off</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/all-shoes?homepage=module">SHOP SHOES&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column" data-analytics-position="Module_8">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-dress-quiz?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/hp_module_dress_finder.gif" alt="Wedding Dress outline gif" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Dress Finder</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-dress-quiz?homepage=module">Take the Quiz&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>
	  


	      <div class="column" data-analytics-position="Module_9">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-robes-clothing-gifts?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/1_Robes_HPModule_LikeInTheMovies.jpg" alt="Robes & Getting Ready Loungewear" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">All Robes</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-robes-clothing-gifts?homepage=module">NOW $29.95&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>







    </div>
  </div>

</section>
<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerShoes {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #eebbc0;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerShoes {
      margin: 30px auto; } }
  .promo-bannerShoes .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerShoes .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerShoes .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerShoes .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerShoes .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerShoes .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerShoes .sans-m-bold-uppercase a,
  .promo-bannerShoes .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerShoes .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerShoes__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerShoes__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerShoes__text {
        padding: 0; } }
  .promo-bannerShoes__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerShoes__headlinebm {
        padding-top: 15px; } }
  .promo-bannerShoes__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__subheadline {
        display: inline-block; } }
  .promo-bannerShoes__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerShoes__cta a {
      padding: 0 5px; }
  .promo-bannerShoes__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.shoes-banner2 a:hover {
  color: #333; }

.shoes-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #eebbc0;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .shoes-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .shoes-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .shoes-banner {
      background-position: center; } }
  .shoes-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .shoes-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .shoes-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .shoes-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .shoes-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .shoes-banner .sans-m-bold-uppercase a,
  .shoes-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .shoes-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .shoes-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__inner {
        left: -50%; } }
  .shoes-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .shoes-banner__text {
        padding: 20px 0 0; } }
  .shoes-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__headline {
        padding: 16px 0 0; } }
  .shoes-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .shoes-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .shoes-banner__subheadline2 {
        display: block; } }
    .shoes-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .shoes-banner__subheadline2 .divider {
          display: block; } }

		  


 @media screen and (min-width: 0px) {
 .shoes-banner {height:120px;}
 .shoes-banner__text {padding-top:20px;}
  .shoesLine1 { color:#333 !important;  margin:30px 0px 0px; font-size:22px; }
  .shoesCTA {margin:0px;}
  .DesignerDate { margin-top:-10px !important;}
  }
 
 
 
 @media screen and (min-width: 768px) {
 .shoes-banner {height:120px; background-image:none;}
 .shoes-banner__text {padding-top:30px;}
 .shoesLine1 {margin-top:40px;  color:#333 !important; font-size:28px;}
  .shoesCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-20px !important; margin-bottom:5px !important;}
  .eventCTA {margin-top:-5px !important; }
  }
 
 
 
 @media screen and (min-width: 1024px) {
  .shoes-banner {height:120px;  background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");}
 .promo-bannerShoes__inner {border:none; margin-left:-30%;}
 .shoes-banner {height:200px;}
 .shoes-banner__text {padding-top:65px;}
 .shoesLine1 {font-size:28px; margin-top:40px; margin-bottom:10px; color:#333 !important;}
  .shoesCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-25px !important; margin-bottom:0px !important;}
  .eventCTA {margin-top:-5px !important; }
 }

 
   
		  
</style>

<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerEvent {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #eebbc0;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerEvent {
      margin: 30px auto; } }
  .promo-bannerEvent .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerEvent .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerEvent .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerEvent .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerEvent .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerEvent .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerEvent .sans-m-bold-uppercase a,
  .promo-bannerEvent .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerEvent .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerEvent__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerEvent__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerEvent__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerEvent__text {
        padding: 0; } }
  .promo-bannerEvent__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerEvent__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerEvent__headlinebm {
        padding-top: 15px; } }
  .promo-bannerEvent__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerEvent__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerEvent__subheadline {
        display: inline-block; } }
  .promo-bannerEvent__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerEvent__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerEvent__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerEvent__cta a {
      padding: 0 5px; }
  .promo-bannerEvent__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.events-banner2 a:hover {
  color: #333; }

.events-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #eebbc0;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .events-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .events-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .events-banner {
      background-position: center; } }
  .events-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .events-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .events-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .events-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .events-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .events-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .events-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .events-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .events-banner .sans-m-bold-uppercase a,
  .events-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .events-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .events-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .events-banner__inner {
        left: -50%; } }
  .events-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .events-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .events-banner__text {
        padding: 20px 0 0; } }
  .events-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .events-banner__headline {
        padding: 16px 0 0; } }
  .events-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .events-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .events-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .events-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .events-banner__subheadline2 {
        display: block; } }
    .events-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .events-banner__subheadline2 .divider {
          display: block; } }

		  


 @media screen and (min-width: 0px) {
 .events-banner {height:120px;}
 .events-banner__text {padding-top:15px;}
  .eventLine1 { color:#333 !important;  margin:10px 0px 0px !important; font-size:22px; }
  .eventCTA {margin:0px;}
  .DesignerDate { margin-top:-10px !important;}
  }
 
 
 
 @media screen and (min-width: 768px) {
 .events-banner {height:120px; background-image:none;}
 .events-banner__text {padding-top:20px;}
 .eventLine1 {margin-top:60px;  color:#333 !important; font-size:28px;}
  .eventCTA {margin:0px 0px 0px;}
  .DesignerDate { padding-top:5px !important; margin-top:0px !important; margin-bottom:10px !important;}
  .eventCTA {margin-top:-5px !important; padding-bottom:10px; }
  }
 
 
 
 @media screen and (min-width: 1024px) {
  .events-banner {height:120px;  background-image: url("/wcsstore/images/wwcm/homepage/events_banner_hp_1711.jpg");}
 .promo-bannerEvent__inner {border:none; margin-left:-30%;}
 .events-banner {height:200px;}
 .events-banner__text {padding-top:55px;}
 .eventLine1 {font-size:28px; margin-top:40px; margin-bottom:10px; color:#333 !important;}
  .eventCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-25px !important; margin-bottom:0px !important;}
  .eventCTA {margin-top:-5px !important; }
 }

 
   
		  
</style>



<!-- <section class="events-banner2" data-analytics-tagging="Designer">
  <a href="/Content_StyleandFashionGuide_events">
    <div class="events-banner">
      <div class="promo-bannerEvent__inner">
        <div class="events-banner__text">
		  <div class="events-banner_headline">
            <p class="serif-m-italic eventLine1" style="color:#000 !important;">#DavidsBridalEvents</p>
          </div>
		<div class="promo-bannerEvent__cta sans-bold-uppercase eventCTA">
          <a href="/Content_StyleandFashionGuide_events" style="color:#000;">FIND AN EVENT NEAR YOU&nbsp;&gt;</a>
        </div>
        </div>
      </div>
    </div>
  </a>
</section> -->






