
<style>
.rowContainer,
.rowContainer > .row {
  padding: 0; }

.spacing-media-seo {
  max-width: 1262px;
  margin: 0 auto;
  width: 100%;
}

p.legacy,
.legacy p {
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
	margin: 0 10px 0 10px;
	color: #333;}

h1.new,
.new h1 {
	font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
	font-size: 26px;
	line-height: 15px;
	font-weight: 400;
	margin: 0 10px 0 10px;
	color: #333;}

h2.new,
.new h2 {
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
	margin: 0 10px 0 10px;
	color: #333;}

	.new h2 a {
  text-decoration: underline;
  color: #333;
 	font-weight: 400;
}

.spacing-media-seo a {
  text-decoration: underline;
  color: #333;
}
.spacing-media-seo a:hover {
  text-decoration: underline;
  color: #74736D;
}

</style>
<div class="spacing-media-seo mobile-hidden tablet-hidden">
  <div class="legacy new" style="font-size:10px;">
    <br>

        <h1>Dresses and Accessories for Weddings, Prom, and Social Occasions</h1>
		<br>
		<p>You can always tell when a bride finds the one. It's an incredibly inspiring moment. And we love it. Whether you want to look classic or modern, glamorous or elegant, we've got gorgeous <a href="/wedding-dresses/all-wedding-dresses">wedding dresses</a> for you at an amazing price. Let us help you discover your dream dress in our ever-changing <a href="/wedding-dresses/all-designer-wedding-dresses">designer collections</a> and limited-time <a href="/sale/sale-wedding-dresses">wedding dresses on sale</a>.
		<br>
        <br>
        If you're not ready yet, our <a href="/Content_StyleandFashionGuide_styleguide" style="font-weight:normal;">wedding inspiration</a> section will help you discover new ideas for your big day.
        <br><br>

	      <h2><a href="/bridesmaid-dresses/all-bridesmaid-dresses">Bridesmaid Dresses</a></h2><p>Special dresses for the most special ladies in your life. With nearly infinite combinations of styles and colors, you’ll find something that fits your theme and your bridesmaids.<br><br>

	      <h2><a href="/dresses/flower-girl-dresses">Flower Girl Dresses</a></h2><p>Find the perfect look for the most adorable member of your wedding party. Match her to your wedding theme with traditional, boho, and girly styles.<br><br>

	      <h2><a href="/dresses/mother-of-the-bride-dresses">Mother of the Bride Dresses</a></h2><p>Our big day is a special one for Mom, too. Make sure she's looking her best with a stunning mother of the bride, or mother of the groom, gown from our extensive selection.
		  <br>Be sure to also explore our expansive line of dresses for special occasions.<br><br>

	      <h2><a href="/prom-dresses/all-prom-dresses">Prom Dresses</a></h2><p>From modest long dresses to sexy two-piece dresses, we have a selection of awe-inspiring prom gowns that you'll love. <br><br>

		  <h2><a href="/dresses/formal-dresses">Formal Dresses</a></h2><p>Whether it's a company banquet or just a big night out on the town, our selection of formal dresses gives you dozens of options to find an amazing look. <br><br>

		  <h2><a href="/dresses/cocktail-party-dresses">Cocktail Dresses</a></h2><p>For something a bit more casual, find cocktail and party dresses in an endless combination of lengths, sleeves, and silhouettes.  <br><br>

		  <h2><a href="/accessories">Accessories</a></h2><p>In addition to dresses for every occasion, we have a variety of gorgeous accessories to complete your head-to-toe look, from jewelry and headpieces, to handbags and shoes. <br><br>

<!-- <br><br>

  <p><a href="/wedding-dresses/galina">Galina Wedding Dresses</a> - Free-spirited brides look to express their style in a fun, contemporary way. If simple luxury is what you're seeking, our Galina collection offers hip wedding dresses that let the real you shine through.<br><br>

	<p><a href="/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_brands_ntk_cs%253A%2522David%27s%2BBridal%2BCollection%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002605&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">David's Bridal Collection Wedding Dresses</a> - Traditional, all-American brides will fall in love with the David's Bridal collection. These classic bridal gowns are designed in a variety of shapes from slim sheaths to full ball gowns to modern fit-and-flare styles.<br>

	<br>
	<p><a href="/wedding-dresses/truly-zac-posen">Truly Zac Posen Wedding Dresses</a> - If you’re a glamorous bride who wants a red carpet-worthy wedding dress, the Truly Zac Posen collection is filled with dramatic, couture-inspired styles. With body-contouring mermaid silhouettes, seaming that emphasizes and flatters curves, and exquisite details from head to toe, you’ll love this collection!<br><br>

	<p><a href="/wedding-dresses/wonder-by-jenny-packham">Wonder by Jenny Packham Wedding Dresses</a> - London-based designer Jenny Packham looks to eras of the past for inspiration, and her wedding dresses are just right for vintage-loving brides with an eye for intricate deco beading and crystal motifs. Jenny Packham accessories perfectly match the 1920s Gatsby aesthetic of the designer’s dresses, with crystals accents giving extra sparkle.<br><br>

	<p><a href="/cheers-cynthia-rowley-dresses">Cheers Cynthia Rowley Wedding Dresses</a> - The Cheers Cynthia Rowley collection features playful embellishments, unexpected details, and even modern wedding dress alternatives like short little white dresses and rompers. The bold designs can handle statement accessories like incredible heels that add a pop of color.<br><br>
For more inspiration on finding your perfect look, shop our entire <a href="/wedding-dresses/all-wedding-dresses">collection of wedding dresses</a> today!</p>
 -->
</div>
</div>


<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Corporation",
    "url": "http://www.davidsbridal.com",
    "logo": "/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
    "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+1-844-400-3222",
        "contactType": "customer service",
        "areaServed": "US"
    }],
    "sameAs": [
        "https://www.facebook.com/davidsbridal",
        "https://www.pinterest.com/davidsbridal/",
        "https://twitter.com/davidsbridal",
        "https://www.instagram.com/davidsbridal/",
        "https://www.youtube.com/user/davidsbridal"
    ],
    "potentialAction": {
        "@type": "ReserveAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": "https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052&utm_source=google_local&utm_medium=listing&utm_campaign=410 ",
            "inLanguage": "en",
            "actionPlatform": [
                "http://schema.org/DesktopWebPlatform",
                "http://schema.org/IOSPlatform",
                "http://schema.org/AndroidPlatform"
            ]
        },
        "result": {
            "@type": "Reservation",
            "name": "Book an appointment"
        }
    }
}
</script>
