<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerbm1 {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerbm1 {
      margin: 30px auto; } }
  .promo-bannerbm1 .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerbm1 .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerbm1 .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerbm1 .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerbm1 .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerbm1 .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerbm1 .sans-m-bold-uppercase a,
  .promo-bannerbm1 .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerbm1 .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerbm1__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerbm1__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerbm1__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerbm1__text {
        padding: 0; } }
  .promo-bannerbm1__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerbm1__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerbm1__headlinebm {
        padding-top: 15px; } }
  .promo-bannerbm1__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerbm1__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerbm1__subheadline {
        display: inline-block; } }
  .promo-bannerbm1__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerbm1__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerbm1__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerbm1__cta a {
      padding: 0 5px; }
  .promo-bannerbm1__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.invitations-banner a:hover {
  color: #333; }

.bm-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #e6dbe9;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .bm-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .bm-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_bm_clearance_desktop.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .bm-banner {
      background-position: center; } }
  .bm-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .bm-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .bm-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .bm-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .bm-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .bm-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .bm-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .bm-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .bm-banner .sans-m-bold-uppercase a,
  .bm-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .bm-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .bm-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
	
  .rewards-text {
    font-family: 'Open Sans', 'Verdana', 'Helvetica', 'Arial', 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    margin: 0; }
	
    @media screen and (min-width: 768px) {
      .bm-banner__inner {
        left: 45%; } }
  .bm-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .bm-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .bm-banner__text {
        padding: 20px 0 0; } }
  .bm-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .bm-banner__headline {
        padding: 16px 0 0; } }
  .bm-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .bm-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .bm-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .bm-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .bm-banner__subheadline2 {
        display: block; } }
    .bm-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .bm-banner__subheadline2 .divider {
          display: block; } }

</style>

<section class="column-centered" data-analytics-tagging="Module-Row-1">
  <div class="column-full">
    <div class="layout-split-3">
      <div class="column" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-dresses/all-wedding-dresses?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_Vertical_GalinaSig_CaptivatingConfidence.jpg" alt="Bride posing" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Beautifully Crafted, Amazingly Priced</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-dresses/all-wedding-dresses?homepage=module">Shop All Wedding Dresses&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>
      
      <div class="column" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/bridesmaid-dresses/all-bridesmaid-dresses?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_Modules2_BM.jpg" alt="Bridesmaids posing" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">New Arrivals from $69.95</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses?homepage=module">SHOP BRIDESMAID DRESSES&nbsp;&gt;</a>
            </p>

          </div><!-- media block-content -->
        </div>
      </div>
      
      
      
      <div class="column"data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/tadashi-shoji-collection?homepage=module">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/homepage/HP_casual_ALG18040LBR_IVORY-13.jpg" alt="Introducing Tadashi Shoji Bridal" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Introducing Tadashi Shoji Bridal</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/tadashi-shoji-collection?homepage=module">SHOP THE COLLECTION&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>
      
    </div>
  </div>
</section>