<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerShoes {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ea768a;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerShoes {
      margin: 30px auto; } }
  .promo-bannerShoes .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerShoes .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerShoes .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerShoes .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerShoes .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerShoes .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerShoes .sans-m-bold-uppercase a,
  .promo-bannerShoes .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerShoes .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerShoes__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerShoes__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerShoes__text {
        padding: 0; } }
  .promo-bannerShoes__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerShoes__headlinebm {
        padding-top: 15px; } }
  .promo-bannerShoes__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__subheadline {
        display: inline-block; } }
  .promo-bannerShoes__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerShoes__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerShoes__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerShoes__cta a {
      padding: 0 5px; }
  .promo-bannerShoes__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.shoes-banner2 a:hover {
  color: #333; }

.shoes-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ea768a;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .shoes-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .shoes-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .shoes-banner {
      background-position: center; } }
  .shoes-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .shoes-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .shoes-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .shoes-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .shoes-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .shoes-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .shoes-banner .sans-m-bold-uppercase a,
  .shoes-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .shoes-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .shoes-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__inner {
        left: -50%; } }
  .shoes-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .shoes-banner__text {
        padding: 20px 0 0; } }
  .shoes-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__headline {
        padding: 16px 0 0; } }
  .shoes-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .shoes-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .shoes-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .shoes-banner__subheadline2 {
        display: block; } }
    .shoes-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .shoes-banner__subheadline2 .divider {
          display: block; } }




 @media screen and (min-width: 0px) {
 .shoes-banner {height:120px;}
 .shoes-banner__text {padding-top:20px;}
  .shoesLine1 { color:#333 !important;  margin:30px 0px 0px; font-size:22px; }
  .shoesCTA {margin:0px;}
  .DesignerDate { margin-top:-10px !important;}
  }



 @media screen and (min-width: 768px) {
 .shoes-banner {height:120px; background-image:none;}
 .shoes-banner__text {padding-top:30px;}
 .shoesLine1 {margin-top:40px;  color:#333 !important; font-size:28px;}
  .shoesCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-20px !important; margin-bottom:5px !important;}
  .DesignerCTA {margin-top:-5px !important; }
  }



 @media screen and (min-width: 1024px) {
  .shoes-banner {height:120px;  background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");}
 .promo-bannerShoes__inner {border:none; margin-left:-30%;}
 .shoes-banner {height:200px;}
 .shoes-banner__text {padding-top:65px;}
 .shoesLine1 {font-size:28px; margin-top:40px; margin-bottom:10px; color:#333 !important;}
  .shoesCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-25px !important; margin-bottom:0px !important;}
  .DesignerCTA {margin-top:-5px !important; }
 }




</style>

<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerDesigner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ea768a;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerDesigner {
      margin: 30px auto; } }
  .promo-bannerDesigner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerDesigner .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerDesigner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerDesigner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerDesigner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerDesigner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerDesigner .sans-m-bold-uppercase a,
  .promo-bannerDesigner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerDesigner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerDesigner__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerDesigner__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerDesigner__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerDesigner__text {
        padding: 0; } }
  .promo-bannerDesigner__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerDesigner__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerDesigner__headlinebm {
        padding-top: 15px; } }
  .promo-bannerDesigner__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerDesigner__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerDesigner__subheadline {
        display: inline-block; } }
  .promo-bannerDesigner__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerDesigner__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerDesigner__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerDesigner__cta a {
      padding: 0 5px; }
  .promo-bannerDesigner__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.designer-banner2 a:hover {
  color: #333; }

.designer-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ea768a;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .designer-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .designer-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_shoes_desktop.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .designer-banner {
      background-position: center; } }
  .designer-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .designer-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .designer-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .designer-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .designer-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .designer-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .designer-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .designer-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .designer-banner .sans-m-bold-uppercase a,
  .designer-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .designer-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .designer-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .designer-banner__inner {
        left: -50%; } }
  .designer-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .designer-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .designer-banner__text {
        padding: 20px 0 0; } }
  .designer-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .designer-banner__headline {
        padding: 16px 0 0; } }
  .designer-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .designer-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .designer-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .designer-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .designer-banner__subheadline2 {
        display: block; } }
    .designer-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .designer-banner__subheadline2 .divider {
          display: block; } }




 @media screen and (min-width: 0px) {
 .designer-banner {height:120px;}
 .designer-banner__text {padding-top:10px;}
  .designerLine1 { color:#333 !important;  margin:30px 0px 0px; font-size:22px; }
  .designerCTA {margin:0px;}
  .DesignerDate { margin-top:-10px !important;}
  }



 @media screen and (min-width: 768px) {
 .designer-banner {height:120px; background-image:none;}
 .designer-banner__text {padding-top:20px;}
 .designerLine1 {margin-top:40px;  color:#333 !important; font-size:28px;}
  .designerCTA {margin:0px 0px 0px;}
  .DesignerDate { padding-top:5px !important; margin-top:0px !important; margin-bottom:10px !important;}
  .DesignerCTA {margin-top:-5px !important; padding-bottom:10px; }
  }



 @media screen and (min-width: 1024px) {
  .designer-banner {height:120px;  background-image: url("/wcsstore/images/wwcm/homepage/win_your_wedding_banner_v2.jpg");}
 .promo-bannerDesigner__inner {border:none; margin-left:15%;}
 .designer-banner {height:200px;}
 .designer-banner__text {padding-top:55px;}
 .designerLine1 {font-size:28px; margin-top:40px; margin-bottom:10px; color:#333 !important;}
  .designerCTA {margin:10px 0px 0px;}
  .DesignerDate { margin-top:-25px !important; margin-bottom:0px !important;}
  .DesignerCTA {margin-top:-5px !important; }
 }




</style>



<section class="designer-banner2" data-analytics-tagging="Registration-Banner">
  <a aria-label="sign up for email and be entered to win your wedding gown or up to 5 bridesmaid dresses" href="/emailsignup?homepage=banner">
    <div class="designer-banner">
      <div class="promo-bannerDesigner__inner">
        <div class="designer-banner__text">
          <p class="serif-m-italic GiftsDate DesignerDate" style="display:none;">ends January 30</p>
          <div class="designer-banner_headline">
            <p class="serif-m-italic designerLine1" style="color:#fff !important;">Enter to win <br class="tablet-hidden desktop-hidden">your wedding gown <br class="">or up to 5 bridesmaid dresses</p>
          </div>
          <div class="promo-bannerDesigner__cta sans-bold-uppercase designerCTA">
            <a aria-label="sign up for email and be entered to win your wedding gown or up to 5 bridesmaid dresses" href="/emailsignup?homepage=banner" style="color:#fff;">ENTER NOW&nbsp;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
