<!-- Clearance Maids Banner -->
<style>
.row {
  margin-left: 0; }
.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
[class^="serif"] {
  margin: 0; }
.section-heading_link {
  text-align: left; }
.layout-split-3 {
  margin-top: 10px; }
.layout-split-3 > .column {
  margin-bottom: 20px; }
.layout-split-3 {
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .layout-split-3 {
      padding: 0px; }
  }
.layout-split-3 .column {
  width: 100%;
  padding-bottom: 20px; }
  .layout-split-3 .column:nth-child(3) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .layout-split-3 .column {
      width: 33.33333%;
      padding-bottom: 0px; }
  }
.media-block-content p {
  margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .media-block-content p {
        margin-top: 4px; }
    }
</style>
<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerBMClearance {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #f2526a;
  position: relative;
  text-align: center;
  min-height: 125px; }
  @media screen and (min-width: 500px) {
    .promo-bannerBMClearance {
      margin: 30px auto; } }
  .promo-bannerBMClearance .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerBMClearance .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerBMClearance .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerBMClearance .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerBMClearance .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerBMClearance .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerBMClearance .sans-m-bold-uppercase a,
  .promo-bannerBMClearance .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerBMClearance .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerBMClearance__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff; }
  .promo-bannerBMClearance__text {
    padding: 0; }
    @media screen and (min-width: 768px) {
      .promo-bannerBMClearance__text {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerBMClearance__text {
        padding: 0; } }
  .promo-bannerBMClearance__headlinebm {
    display: block;
    padding-top: 30px; }
    @media screen and (min-width: 500px) {
      .promo-bannerBMClearance__headlinebm {
        padding-top: 30px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerBMClearance__headlinebm {
        padding-top: 15px; } }
  .promo-bannerBMClearance__subheadline {
    display: block;
    padding: 12px 5px 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerBMClearance__subheadline {
        padding: 12px 5px 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerBMClearance__subheadline {
        display: inline-block; } }
  .promo-bannerBMClearance__cta {
    display: block;
    padding: 5px 0 0; }
    @media screen and (min-width: 321px) {
      .promo-bannerBMClearance__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerBMClearance__cta {
        display: inline-block;
        padding: 15px 0 0; } }
    .promo-bannerBMClearance__cta a {
      padding: 0 5px; }
  .promo-bannerBMClearance__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>
<style media="screen">
.BMClearance-banner2 a:hover {
  color: #333; }

.BMClearance-banner {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #f2526a;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .BMClearance-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .BMClearance-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/plp_bm_clearance_desktop_v3.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .BMClearance-banner {
      background-position: center; } }
  .BMClearance-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .BMClearance-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .BMClearance-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .BMClearance-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .BMClearance-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .BMClearance-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .BMClearance-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .BMClearance-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .BMClearance-banner .sans-m-bold-uppercase a,
  .BMClearance-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .BMClearance-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .BMClearance-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .BMClearance-banner__inner {
        left: -50%; } }
  .BMClearance-banner__text {
    padding: 20px 0 0; }
    @media screen and (min-width: 768px) {
      .BMClearance-banner__text {
        padding: 30px 0 0; } }
    @media screen and (min-width: 1024px) {
      .BMClearance-banner__text {
        padding: 20px 0 0; } }
  .BMClearance-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .BMClearance-banner__headline {
        padding: 16px 0 0; } }
  .BMClearance-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .BMClearance-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .BMClearance-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .BMClearance-banner__subheadline2 {
        display: block;
        padding: 8px 0 0; } }
    @media screen and (min-width: 1024px) {
      .BMClearance-banner__subheadline2 {
        display: block; } }
    .BMClearance-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .BMClearance-banner__subheadline2 .divider {
          display: block; } }




 @media screen and (max-width: 320px) {
 .BMClearance-banner {height:120px;}
 .BMClearance-banner__text {padding-top:5px;}
 .BMClearanceDate {color:#fff !important; margin:5px 0px 0px; }
  .BMClearanceLine1 { color:#333 !important;  margin:0px 0px 0px; padding-top:0px; font-size:22px;  color:#fff !important;}
  .BMClearanceCTA {margin:0px; color:#fff !important;}
  .BMClearanceCTA a {margin:0px; color:#fff !important;}
  }

 @media screen and (min-width: 321px) {
 .BMClearance-banner {height:120px;}
 .BMClearance-banner__text {padding-top:10px;}
 .BMClearanceDate {color:#fff !important; margin:5px 0px 0px; }
  .BMClearanceLine1 { color:#333 !important;  margin:0px 0px 0px; padding-top:0px; font-size:22px;  color:#fff !important;}
  .BMClearanceCTA {margin:0px; color:#fff !important;}
  .BMClearanceCTA a {margin:0px; color:#fff !important;}
  }

 @media screen and (min-width: 768px) {
 .BMClearance-banner {height:120px; background-image:none;}
 .BMClearance-banner__text {padding-top:35px;}
 .BMClearanceDate {color:#fff !important;}
 .BMClearanceLine1 {margin-top:0px;  color:#333 !important; font-size:28px; color:#fff !important;}
  .BMClearanceCTA {margin:0px; color:#fff !important;}
  .BMClearanceCTA a {margin:0px; color:#fff !important;}
  }



 @media screen and (min-width: 1024px) {
  .BMClearance-banner {height:120px;  background-color:#f2526a; padding:11px;}
 .promo-bannerBMClearance__inner {border:solid 1px #fff; }
 .BMClearance-banner {height:200px;}
 .BMClearance-banner__text {padding-top:80px;}
 .BMClearanceDate {font-size:18px; margin-top:20px; margin-bottom:10px; color:#fff !important;}
 .BMClearanceLine1 {display:block; font-size:28px; margin-bottom:0px; padding-top:0px; color:#fff !important; margin-top:-10px;}
  .BMClearanceCTA {margin:0px 0px 0px; color:#fff !important;}
  .BMClearanceCTA a {margin:0px 0px 0px; color:#fff !important;}
 }




</style>


<section class="BMClearance-banner" data-analytics-tagging="Clearance-Maids-Banner" style="display:block">
  <div class="promo-bannerBMClearance__inner">
    <div class="BMClearance-banner__text">
      <div class="BMClearance-banner_headline">
        <p class="serif-m-italic BMClearanceLine1">Clearance bridesmaid dresses <br class="tablet-hidden desktop-hidden">up to <br class="tablet-hidden desktop-hidden">70% off original prices</p>
      </div>
      <div class="promo-bannerBMClearance__cta sans-bold-uppercase BMClearanceCTA">
        <a href="/sale/bridesmaid-dresses?homepage=banner">SHOP NOW&nbsp;&gt;</a>
      </div>
    </div>
  </div>
</section>
