// ==========================================================================
// Hero Banner
// ==========================================================================
.appointment-banner {
  background: $brand-primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  padding: 5px 10px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $breakpoint-md) {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h3 {
    //@include green-bg();
  }

  p {
    //@include green-bg();
    display: block;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 100%;
      margin: 0;
    }
    @media screen and (min-width: 1262px) {
      width: auto;
    }
  }

  // White Text
  p:not(:last-of-type) {
    color: $white;
  }

  // Spacing
  .serif-m-italic {
    color: #fff;
    margin-bottom: 4px;
    @media screen and (min-width: $breakpoint-md) {
      margin: 0;
    }
  }
  .sans-s {
    display: none;
    color: #fff;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1262px) {
      margin: 0 20px;
    }
  }



  p.sans-bold-uppercase {
    display: block;
    position: relative;
    margin: 0;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    a {
      color: #fff !important;
      &:hover {
        color: #c1c1c1;
      }
    }
  }

  .btn {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }

  p.btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
    border: 1px solid $white;
    color: $brand-primary;
  }

}
