// ==========================================================================
// Breadcrumbs - Gigya
// ==========================================================================

.breadcrumbs {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  p {
    display: block;
    max-width: 1262px;
    margin: 5px auto 0;
    padding-left: 10px;
    @media screen and (min-width: 1282px) {
      padding-left: 0;
    }

    &.sans-bold-uppercase a.btn-link {
      color: #333;
      &:hover,
      &:focus,
      &:active {
        color: $taupe;
      }
    }

  }
}
