.page-heading {
  //@include green-bg();
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 0 auto;
  padding: 10px;

  h1 {
    margin-bottom: 0;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 5px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 15px;
    }
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .breadcrumbs {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }

  // ==========================================================================
  // Article Share Bar
  // ==========================================================================
  .article__share-bar {
    display: none;
    background: $white;
    padding: 12px 0;
    margin: 0;
    position: relative;
    text-align: center;

    border: solid 1px #eee;

    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 320px;
      padding: 12px 30px;
      margin: 0;
      flex-direction: row;
    }

    & a {
      cursor: pointer;
    }

    &-title {
      margin: 0;
      padding: 0;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 3px;
      }
    }

    &-item-list {
      line-height: 1;
      padding: 0;
    }

    &-item {
      display: inline-block;
      margin-left: 28px;
      @media screen and (min-width: $breakpoint-md) {
        margin-left: 14px;
      }

      &-link {
        display: block;
        height: 18px !important;

        &--email {
          height: 16px;
        }
      }

      &-image {
        height: 100%;
        max-width: 20px;
        max-height: 20px;
        width: auto;
      }
    }

  } // .article__share-bar

  div.gig-button-container {
    margin-bottom: 0;
  }


}
