// ==========================================================================
// Section Heading
// ==========================================================================
.section-heading {
  display: block;
  position: relative;
  clear: both;
  padding: 10px 10px 0;
  text-align: center;

  @media screen and (min-width: $breakpoint-md) {
    padding: 50px 20px 40px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__copy {
    display: block;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

} // .section-heading
