.flash-sale-banner {
  display: block;
  position: relative;
  width: 100%;
  background: #f93777;
  background-image: linear-gradient(45deg, #dd074d, #fa5088);
  color: white; }
  .flash-sale-banner a {
    color: white;
    text-decoration: none; }
  .flash-sale-banner h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", Verdana, Helvetica, Arial, "Droid Sans", sans-serif;
    font-size: 18px;
    line-height: 24px; }
    @media screen and (min-width: 1024px) {
      .flash-sale-banner h3 {
        width: auto; } }
  .flash-sale-banner p {
    font-family: "Open Sans", Verdana, Helvetica, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px; }
  .flash-sale-banner .underline {
    text-decoration: underline; }
  .flash-sale-banner .promo-code {
    font-weight: 700; }
  .flash-sale-banner__inner {
    width: 100%;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flash-sale-banner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flash-sale-banner__timer {
    display: block;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px; }
