$background:    rgba(249, 55, 119, 1);
$white:         rgba(255, 255, 255, 1);

$font:          'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;

@mixin red-bg() {
  background: rgba(255, 0, 0, 0.2);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.2);
}
@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.2);
}


.flash-sale-banner {
  display: block;
  position: relative;
  width: 100%;
  background: $background;
  background-image: linear-gradient(45deg, darken($background, 15%), lighten($background, 5%) );
  color: $white;

  a {
    color: $white;
    text-decoration: none;
  }

  h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: $font;
    font-size: 18px;
    line-height: 24px;
    @media screen and (min-width: 1024px) {
      width: auto;
    }
  }

  p {
    //@include blue-bg();
    font-family: $font;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }



  .underline {
    text-decoration: underline;
  }

  .promo-code {
    font-weight: 700;
  }

  &__inner {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }




  &__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__timer {
    display: block;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
  }

}
