@import "../../../../../variables";
@import "../../../../../mixins";


.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0.9375%;
  }

  // ----------------------------------------------------------------
  // BUTTONS
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin-top: 10px;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }
  }


  // --------------------------------------------------------
  // Main Image
  // --------------------------------------------------------
  &__img {
    display: block;
    position: relative;
    width: 100%;
  }


  // --------------------------------------------------------
  // Text
  // --------------------------------------------------------
  &__text {
    display: block;
    position: relative;
    width: 100%;
    background: #f4ece6;
    text-align: center;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      background: none;
      bottom: 30%;
      transform: translateY(30%);
      left: 0;
    }


    &-sale-ends {
      display: none;
      @media screen and (min-width: $breakpoint-lg) {
        display: block;
        margin: 10px auto;
      }
      img {
        max-width: 12%;
        margin: 0 auto;
      }
    }


    // --------------------------------------------------------
    // Image - Banner
    // --------------------------------------------------------
    &-banner {
      display: block;
      position: relative;
      background: #f0d060;
      width: 100%;
      transition: all 0.3s ease;
      padding: 0 20px;
      @media screen and (min-width: $breakpoint-lg) {
        background: rgba(#f0d060, 0.8);
      }

      svg {
        @media screen and (min-width: $breakpoint-md) {
          max-width: 90%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          display: block;
          max-width: 60%;
          margin: 0 auto;
        }
      }

    }


    &-img-text {
      img {
        max-width: 80%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 20px;
        @media screen and (min-width: 520px) {
          max-width: 416px;
        }
        @media screen and (min-width: $breakpoint-md) {
          margin-top: 20px;
        }
        @media screen and (min-width: $breakpoint-lg) {
          margin-bottom: 0;
          margin-top: 30px;
          max-width: 100%;
        }
        @media screen and (min-width: 1262px) {
          margin-top: 60px;
        }
      }
    }



    &-buttons {
      //@include blue-bg();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0 10px 20px;
      @media screen and (min-width: $breakpoint-md) {
        flex-direction: column;
        padding: 0 10px 30px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        flex-direction: row;
        padding: 15px 0 0;
      }

      .btn {
        @media screen and (min-width: $breakpoint-md) {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }
      .btn-secondary a {
        @media screen and (min-width: $breakpoint-md) {
          min-width: 240px;
        }
      }
    }

  }




  // --------------------------------------------------------
  // Button
  // --------------------------------------------------------
  &__button {
    display: block;
    position: relative;
    padding: 10px;
  }







  // ==========================================================================
  // VISIBILITY
  // ==========================================================================
  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none !important;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none !important;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none !important;
    }
  }


}
