.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .sale-module {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .sale-module {
      margin-bottom: 0.9375%; } }
  .sale-module .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .sale-module .btn {
        width: auto;
        margin-top: 10px; } }
    .sale-module .btn-secondary a {
      background-color: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary a:hover, .sale-module .btn-secondary a:active, .sale-module .btn-secondary a:focus {
        border: 1px solid #eeeeee; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary a {
          width: auto;
          padding: 13px 40px; } }
    .sale-module .btn-secondary-pink a {
      background-color: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary-pink a:hover, .sale-module .btn-secondary-pink a:active, .sale-module .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  .sale-module__img {
    display: block;
    position: relative;
    width: 100%; }
  .sale-module__text {
    display: block;
    position: relative;
    width: 100%;
    background: #f4ece6;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .sale-module__text {
        position: absolute;
        background: none;
        bottom: 30%;
        -webkit-transform: translateY(30%);
                transform: translateY(30%);
        left: 0; } }
    .sale-module__text-sale-ends {
      display: none; }
      @media screen and (min-width: 1024px) {
        .sale-module__text-sale-ends {
          display: block;
          margin: 10px auto; } }
      .sale-module__text-sale-ends img {
        max-width: 12%;
        margin: 0 auto; }
    .sale-module__text-banner {
      display: block;
      position: relative;
      background: #f0d060;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 0 20px; }
      @media screen and (min-width: 1024px) {
        .sale-module__text-banner {
          background: rgba(240, 208, 96, 0.8); } }
      @media screen and (min-width: 768px) {
        .sale-module__text-banner svg {
          max-width: 90%; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-banner svg {
          display: block;
          max-width: 60%;
          margin: 0 auto; } }
    .sale-module__text-img-text img {
      max-width: 80%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 20px; }
      @media screen and (min-width: 520px) {
        .sale-module__text-img-text img {
          max-width: 416px; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-img-text img {
          margin-top: 20px; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-img-text img {
          margin-bottom: 0;
          margin-top: 30px;
          max-width: 100%; } }
      @media screen and (min-width: 1262px) {
        .sale-module__text-img-text img {
          margin-top: 60px; } }
    .sale-module__text-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      padding: 0 10px 20px; }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 0 10px 30px; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-buttons {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          padding: 15px 0 0; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons .btn {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons .btn-secondary a {
          min-width: 240px; } }
  .sale-module__button {
    display: block;
    position: relative;
    padding: 10px; }
  @media screen and (max-width: 767px) {
    .sale-module .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sale-module .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sale-module .lg-hidden {
      display: none !important; } }
