@media screen and (max-width: 1024px) {
  .header__utility-nav[data-utility-position="fixed"] .header__utility-nav-first-list {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    font-size: 0; }
  .header__utility-nav[data-utility-position="fixed"] .header__utility-nav-first-list-item {
    background: #727278; }
    .header__utility-nav[data-utility-position="fixed"] .header__utility-nav-first-list-item:not(:last-child) {
      padding-right: 0;
      border-right: 1px solid #9c9b9f; }
  .header__utility-nav[data-utility-position="fixed"] .header__utility-nav-first-list-item-link {
    color: white;
    padding: 12px 20px; }
    .header__utility-nav[data-utility-position="fixed"] .header__utility-nav-first-list-item-link:hover {
      color: #c1c1c1; } }
