html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .content-page .container {
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (min-width: 1282px) {
      .content-page .container {
        padding-left: 0;
        padding-right: 0; } }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.flex {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  @media screen and (min-width: 768px) {
    .flex {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (min-width: 1024px) {
    .flex {
      margin-left: -10px;
      margin-right: -10px; } }
  .flex.outer-two-column .column {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      .flex.outer-two-column .column {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (min-width: 1024px) {
      .flex.outer-two-column .column {
        width: 50%;
        padding-left: 0;
        padding-right: 0; } }
  .flex .inner-two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
    @media screen and (min-width: 1024px) {
      .flex .inner-two-column {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (min-width: 768px) {
      .flex .inner-two-column .col {
        width: 100%; } }
    @media screen and (min-width: 1024px) {
      .flex .inner-two-column .col {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px; }
        .flex .inner-two-column .col:first-child {
          padding-left: 0; }
        .flex .inner-two-column .col:last-child {
          padding-right: 0; } }
  .flex-item {
    margin-bottom: 10px;
    position: relative;
    background: #f8f6f0; }
    .flex-item__text {
      padding: 10px; }
      .flex-item__text .title {
        margin: 0; }
      .flex-item__text .description {
        margin-top: 5px;
        margin-bottom: 0; }
      .flex-item__text p.sans-bold-uppercase {
        margin-top: 7px;
        margin-bottom: 0; }
      .flex-item__text ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 15px 0 0 0; }
      .flex-item__text .social-share__overlay--icons {
        width: 100%;
        position: relative;
        display: none;
        top: 50%; }
      .flex-item__text .social-share__overlay--icons {
        display: block; }
      .flex-item__text .social-share__icon {
        display: inline-block;
        width: 50px; }
      .flex-item__text .social-share__icon svg {
        height: 18px;
        width: 18px; }
      .flex-item__text .social-share table {
        margin: 0; }
      .flex-item__text .gig-bar-container *,
      .flex-item__text div.gig-reactions-container,
      .flex-item__text .gig-reactions-container span,
      .flex-item__text .gig-reactions-container a:hover,
      .flex-item__text .gig-reactions-container a:visited,
      .flex-item__text .gig-reactions-container a:link,
      .flex-item__text .gig-reactions-container a:active {
        font-size: 12px;
        border: none;
        padding: 0px;
        margin: 0px;
        color: inherit;
        text-decoration: none;
        width: auto;
        float: none;
        border-radius: 0;
        font-family: arial;
        font-size: 10px;
        color: #4D4D4D;
        background: none; }
      .flex-item__text .social-share__overlay--icons li {
        cursor: pointer;
        margin-right: 10px; }
    .flex-item .circle__text {
      display: block;
      position: absolute;
      width: 65%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: center; }
      .flex-item .circle__text p {
        margin: 0; }
        .flex-item .circle__text p.sans-xs {
          margin-top: 5px; }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 10px; }
  @media screen and (min-width: 1024px) {
    .breadcrumbs {
      padding-left: 0; } }
  .breadcrumbs p {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .breadcrumbs p {
        display: inline-block; }
        .breadcrumbs p:not(:first-child) {
          margin-left: 10px; } }

.bridesmaids-heading {
  max-width: 1262px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .bridesmaids-heading {
      margin: 10px auto 0; } }
  .bridesmaids-heading.blue {
    background: #e4eff4; }
  .bridesmaids-heading.gray {
    background: #e5e2e7; }
  .bridesmaids-heading.green {
    background: #d5efe4; }
  .bridesmaids-heading.neutral {
    background: #dccdcd; }
  .bridesmaids-heading.pink {
    background: #f0d0d0; }
  .bridesmaids-heading.purple {
    background: #ded8ec; }
  .bridesmaids-heading__background {
    display: none; }
    @media screen and (min-width: 768px) {
      .bridesmaids-heading__background {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 173px; } }
  .bridesmaids-heading__text {
    padding: 15px 20px; }
    @media screen and (min-width: 768px) {
      .bridesmaids-heading__text {
        width: 90%;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 1024px) {
      .bridesmaids-heading__text {
        width: 80%; } }
    .bridesmaids-heading__text .sans-m {
      margin: 0 auto;
      margin-bottom: 5px;
      max-width: 300px; }
      @media screen and (min-width: 768px) {
        .bridesmaids-heading__text .sans-m {
          max-width: 60%;
          margin: 0 auto;
          margin-bottom: 10px; } }
    .bridesmaids-heading__text .links p.sans-bold-uppercase {
      display: inline-block;
      margin: 0;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-left: 5px; }
      @media screen and (min-width: 768px) {
        .bridesmaids-heading__text .links p.sans-bold-uppercase {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px; } }
  .bridesmaids-heading .mobile-break {
    display: block; }
    @media screen and (min-width: 768px) {
      .bridesmaids-heading .mobile-break {
        display: none; } }

.color-palettes {
  position: relative;
  padding: 0 10px; }
  @media screen and (min-width: 1024px) {
    .color-palettes {
      padding: 0; } }
  .color-palettes .section-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
    .color-palettes .section-heading__text {
      display: inline-block;
      padding: 0 10px 3px 0;
      background: white;
      bottom: -17px;
      position: relative; }
    .color-palettes .section-heading__heading {
      display: inline-block; }
    .color-palettes .section-heading__link {
      display: inline-block;
      margin-left: 10px; }
  .color-palettes .layout-split-2-3-6 {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -5px;
    margin-right: -5px; }
    .color-palettes .layout-split-2-3-6 .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .color-palettes .layout-split-2-3-6 .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .color-palettes .layout-split-2-3-6 .column {
          width: 16.66667%; } }

.events-banner {
  display: block;
  position: relative;
  background: #ebbec8;
  background-image: url("/wcsstore/images/wwcm/sfg/bridesmaids-ugc/events-banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 143px;
  margin: 10px auto 20px; }
  @media screen and (min-width: 768px) {
    .events-banner {
      background-image: url("/wcsstore/images/wwcm/sfg/bridesmaids-ugc/events-banner.jpg");
      margin-top: 25px;
      margin-bottom: 0; } }
  .events-banner__text {
    text-align: center;
    position: absolute;
    width: 90%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
    @media screen and (min-width: 1024px) {
      .events-banner__text {
        width: 90%;
        left: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .events-banner__text h3,
    .events-banner__text p,
    .events-banner__text .links {
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0; }
      @media screen and (min-width: 1024px) {
        .events-banner__text h3,
        .events-banner__text p,
        .events-banner__text .links {
          width: auto; } }
    @media screen and (min-width: 1024px) {
      .events-banner__text h3 {
        margin-bottom: 4px; } }
    .events-banner__text p.sans-s {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px; }
      @media screen and (min-width: 1024px) {
        .events-banner__text p.sans-s {
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 0;
          margin-bottom: 0; } }
    .events-banner__text p.sans-bold-uppercase {
      display: block;
      visibility: visible; }
      @media screen and (min-width: 1024px) {
        .events-banner__text p.sans-bold-uppercase {
          display: none;
          visibility: hidden; } }
    .events-banner__text p.btn {
      display: none;
      visibility: hidden; }
      @media screen and (min-width: 1024px) {
        .events-banner__text p.btn {
          display: block;
          visibility: visible; } }
      .events-banner__text p.btn-secondary a {
        padding-left: 20px;
        padding-right: 20px; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 10px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 10px 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1024px) {
    .article__share-bar {
      margin-left: 0; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  padding: 0 10px; }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance {
      margin-left: -10px;
      margin-right: -10px; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.layout-split-4 {
  max-width: 1272px; }
