html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content-pages h1,
.content-pages h2,
.content-pages h3,
.content-pages h4,
.content-pages h5,
.content-pages h6,
.content-pages p,
.content-pages a {
  color: #333;
  text-decoration: none; }

.content-pages h1, .content-pages h2, .content-pages h3, .content-pages h4, .content-pages h5, .content-pages h6 {
  text-transform: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

.content-page {
  max-width: 1262px;
  width: 100%;
  padding: 5px 10px 50px;
  margin: 0 auto; }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer; }
    .content-page .btn-primary a {
      display: block;
      padding: 7px 0;
      border: 1px solid #fff;
      color: #fff;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333 !important; }
    .content-page .btn-secondary a {
      display: block;
      padding: 9px 0;
      border: 1px solid #52535a;
      color: #333;
      background-color: #fff;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 0; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto; }
  .breadcrumbs-left {
    display: block; }
    @media screen and (min-width: 768px) {
      .breadcrumbs-left {
        display: inline-block; } }
  .breadcrumbs-right {
    display: block; }
    @media screen and (min-width: 768px) {
      .breadcrumbs-right {
        display: inline-block;
        float: right; } }
  .breadcrumbs p.sans-bold-uppercase {
    margin-top: 5px; }

.article__share-bar {
  background: #fff;
  padding: 12px 0;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: solid 1px #eee; }

@media screen and (min-width: 768px) {
  .article__share-bar {
    float: right;
    padding: 12px 30px;
    margin: 0;
    margin-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; } }

.article__share-bar a {
  cursor: pointer; }

.article__share-bar-title {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 768px) {
  .article__share-bar-title {
    margin-bottom: 3px; } }

.article__share-bar-item-list {
  line-height: 1;
  padding: 0; }

.article__share-bar-item {
  display: inline-block;
  margin-left: 28px; }

@media screen and (min-width: 768px) {
  .article__share-bar-item {
    margin-left: 14px; } }

.article__share-bar-item-link {
  display: block;
  height: 18px !important; }

.article__share-bar-item-link--email {
  height: 16px; }

.article__share-bar-item-image {
  height: 100%;
  max-width: none;
  width: auto; }

.article__share-bar {
  background: #fff;
  padding: 12px 0;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      float: right;
      padding: 12px 30px;
      margin: 0;
      margin-left: 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }

.article__share-bar-item-list {
  line-height: 1;
  padding: 0; }

.article__share-bar-item {
  display: inline-block;
  margin-left: 28px; }

@media screen and (min-width: 768px) {
  .article__share-bar-item {
    margin-left: 14px; } }

.article__share-bar-item-link {
  display: block;
  height: 18px !important; }

.article__share-bar-item-link--email {
  height: 16px; }

.article__share-bar-item-image {
  height: 100%;
  max-width: 20px;
  max-height: 20px;
  width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.hero {
  position: relative;
  width: 100%; }
  .hero__img {
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__img {
        margin-bottom: 30px; } }
  .hero__caption {
    display: block;
    position: relative;
    clear: both;
    outline: 6px solid #fff;
    border: 1px solid #333;
    background: #fff;
    padding: 10px 20px 5px; }
    @media screen and (min-width: 768px) {
      .hero__caption {
        position: absolute;
        bottom: 60px;
        left: 40px;
        padding: 20px 30px 10px 20px;
        max-width: 350px; } }
    .hero__caption--logo {
      max-width: 240px;
      margin: 0;
      margin-top: 5px;
      padding: 5px 0; }
    .hero__caption--title {
      margin: 0;
      padding: 10px 0; }

.color-section:not(:last-of-type) {
  border-bottom: 1px solid #74736d; }

.color-section h2 {
  margin-top: 40px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .color-section h2 {
      margin-top: 60px; } }

.color-section .flex-container figure {
  display: block;
  position: relative; }
  .color-section .flex-container figure figcaption {
    display: block;
    max-width: 100%;
    margin-top: 5px; }

.color-section__sub-text {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .color-section__sub-text {
      margin: 40px auto 0; } }

.color-section .palette-carousel {
  display: block;
  position: relative;
  clear: both;
  margin: 20px auto 30px;
  visibility: visible;
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .color-section .palette-carousel {
      margin: 30px auto 50px; } }
  .color-section .palette-carousel__inner {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .color-section .palette-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 350px) {
      .color-section .palette-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .color-section .palette-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .color-section .palette-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .color-section .palette-carousel button {
    display: block;
    background: none;
    border: none;
    padding: 0; }
  .color-section .palette-carousel .palette-carousel-button {
    display: block; }
    .color-section .palette-carousel .palette-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 350px) {
        .color-section .palette-carousel .palette-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .color-section .palette-carousel .palette-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .color-section .palette-carousel .palette-carousel-prev {
    position: absolute;
    left: 0;
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%); }
  .color-section .palette-carousel .palette-carousel-next {
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%); }
  .color-section .palette-carousel figure figcaption {
    margin-top: 5px; }
    .color-section .palette-carousel figure figcaption p {
      margin: 0;
      padding: 0; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px auto 0; }
  @media screen and (min-width: 768px) {
    .flex-container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .flex-container.justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container.justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-container.justify-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex-container.justify-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex-container.align-container-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container.align-container-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex-container.align-container-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-container.align-container-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .flex-container.align-container-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flex-container.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .flex-container .column {
    position: relative;
    padding-bottom: 30px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .flex-container .column {
        margin: 0 20px; } }
    @media screen and (min-width: 1024px) {
      .flex-container .column {
        margin: 0 30px; } }
    @media screen and (min-width: 1300px) {
      .flex-container .column {
        margin: 0 60px; } }
    .flex-container .column .social-share {
      display: block;
      position: relative;
      width: 100%; }
      .flex-container .column .social-share__img {
        width: 100%; }
        @media screen and (max-width: 767px) {
          .flex-container .column .social-share__img img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .flex-container .column .social-share__overlay {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 auto;
          background: rgba(249, 179, 174, 0.7);
          cursor: pointer;
          -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          opacity: 0; }
          .flex-container .column .social-share__overlay:hover {
            opacity: 1; } }
      .flex-container .column .social-share__overlay--icons {
        width: 100%;
        height: 20px;
        text-align: center;
        position: absolute;
        display: none;
        padding: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
        @media screen and (min-width: 768px) {
          .flex-container .column .social-share__overlay--icons {
            display: block; } }
        .flex-container .column .social-share__overlay--icons svg path {
          fill: #333; }
      .flex-container .column .social-share__icon {
        width: 24px;
        height: 20px;
        margin: 0 20px; }
      .flex-container .column .social-share .gig-bar-container {
        display: block;
        width: 100%; }
        .flex-container .column .social-share .gig-bar-container table {
          margin: 0 auto; }
  .flex-container .flex-grow-2 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .flex-container .align-item-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .flex-container .align-item-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .flex-container .align-item-center {
    -ms-flex-item-align: center;
        align-self: center; }
  .flex-container .align-item-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .flex-container .align-item-stretch {
    -ms-flex-item-align: stretch;
        align-self: stretch; }

.callout-text__title {
  text-align: center;
  position: relative; }
  .callout-text__title span {
    padding: 0 20px;
    background: #ffffff;
    position: relative;
    z-index: 2; }
  .callout-text__title:after {
    content: "";
    height: 1px;
    margin-top: -1px;
    width: 100%;
    display: block;
    top: 50%;
    background-color: #eeeeee;
    position: absolute; }

.callout-text__descript {
  text-align: center; }
  @media screen and (min-width: 31.25em) and (max-width: 46.875em) {
    .callout-text__descript {
      margin-top: 10px; } }
  .callout-text__descript a {
    font-weight: 400 !important;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
    .callout-text__descript a:hover, .callout-text__descript a:focus, .callout-text__descript a:active {
      color: #727278;
      text-decoration: none; }
  .callout-text__descript strong {
    font-weight: 500;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(86%, #FFF), color-stop(91%, #f3665c), color-stop(92%, #FFF));
    background: linear-gradient(to bottom, #FFF 86%, #f3665c 91%, #FFF 92%); }

.callout-text__svg {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top; }
  @media screen and (min-width: 46.875em) {
    .callout-text__svg {
      width: 24px;
      height: 24px;
      margin-top: 5px; } }
  .callout-text__svg > * {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .callout-text__svg:hover > * {
    fill: #74736d; }
