<style>
  @media screen and (min-width: 1024px) {
    [data-menu-topic="BLOG"] a {
      transition: all .25s ease;
    }
    [data-menu-topic="BLOG"] a:hover {
      background-color: #ffffff;
      border-left: 1px solid #74736d;
      border-right: 1px solid #74736d;
      border-top: 3px solid #F3665C;
    }
  }
</style>
<li class="header__main-nav-topic" data-menu-topic="BLOG" data-topic-status="closed" role="menuitem">
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="http://www.davidsbridal.com/blog/">The Blog</a>
  </div>
</li>

<li class="header__main-nav-topic desktop-hidden" data-menu-topic="CATALOGS" data-topic-status="closed" role="menuitem">
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/Content_Catalog_onlinecatalog">Look Books & Bride Guides</a>
  </div>
</li>