<li class="header__main-nav-topic " data-menu-topic="BRIDES" data-topic-status="closed" role="menuitem">
  <style media="screen">
  @media screen and (max-width: 63.9375em) {
    .header__main-explore-nav-topic-section ul {
      -webkit-columns: 1;
              columns: 1; }
    .header__main-nav-topic-section-heading-link {
      font-size: 20px;
      padding-bottom: 6px;
      border-bottom: 1px solid #e1e1e1;
      color: #333; }
    .header__main-explore-nav-topic-section ul li {
      padding-top: 12px; }
    .header__main-explore-nav-topic-section ul li a,
    .header__main-nav-topic-section-item-link {
      font-size: 14px;
      line-height: 16px;
      color: #333; }
    .header__main-nav-topic-section-item-list {
      -webkit-columns: 1;
              columns: 1; } }

  @media screen and (min-width: 1024px) {
    .header__main-nav-topic-section {
      width: 190px; } }

  @media screen and (min-width: 1024px) and (min-width: 1100px) {
    .header__main-nav-topic-section {
      width: 205px; } }

  @media screen and (min-width: 1024px) and (min-width: 1150px) {
    .header__main-nav-topic-section {
      width: 215px; } }

  @media screen and (min-width: 1150px) and (min-width: 1250px) {
    .header__main-nav-topic-section {
      width: 235px; } }

  @media screen and (min-width: 1024px) {
    .header__main-nav-topic-section-item-link,
    .header__main-nav-topic-section ul li a {
      font-size: 13px;
      line-height: 16px; } }

  @media screen and (min-width: 1024px) {
    .header__main-nav-topic-section-item,
    .header__main-nav-topic-section ul li {
      padding-top: 10px; } }

  @media screen and (min-width: 1024px) {
    .header__main-nav-topic:nth-child(6) .header__main-nav-topic-section-list,
    .header__main-nav-topic:nth-child(7) .header__main-nav-topic-section-list,
    .header__main-nav-topic:nth-child(8) .header__main-nav-topic-section-list,
    .header__main-nav-topic:nth-child(9) .header__main-nav-topic-section-list {
      left: auto;
      right: 0; } }
  @media screen and (min-width: 1024px) {
    .header__main-nav-topic:nth-child(5n) .header__main-nav-topic-section-list{
      left: auto;
      right: 0; } }

  /* Allows for Explore swimlane to be last in mobile/first in desktop */
  @media screen and (min-width: 1024px) {
    .catalog_nav_espots.header__main-explore-nav-topic-section {
      order: -1; } }
  </style>
  <script>
    allL1Cats.push("Brides");
  </script>
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/brides">Brides</a>
  </div>

  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>

    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a class="sans-bold-uppercase" href="/brides">Brides&nbsp;Homepage</a>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Wedding Dresses</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/all-wedding-dresses"> All Wedding Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/new-arrivals"> New Arrivals</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/plus-size-wedding-dresses"> Plus Size</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/petite-size-wedding-dresses"> Petite</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/tall-wedding-dresses"> Tall</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/mermaid-wedding-dresses"> Mermaid/Trumpet</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/a-line-wedding-dresses"> A-Line</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/ball-gown-wedding-dresses"> Ball Gown</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/lace-wedding-dresses"> Lace</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/long-sleeve-wedding-dresses"> Long Sleeve</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/sheath-wedding-dresses"> Sheath</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/short-wedding-dress"> Short</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses-under-200"> Under $200</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sample-sale"> Sample Sale</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_BRIDES_1">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_BRIDES_1] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Collections</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/white-by-vera-wang"> White by Vera Wang</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/oleg-cassini"> Oleg Cassini</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/davids-bridal-collection-wedding-dresses"> David's Bridal Collection</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/tadashi-shoji-collection"> Tadashi Shoji</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/galina"> Galina</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/db-studio-wedding-dresses"> DB Studio</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/all-designer-wedding-dresses"> All Designer Wedding Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/casual-wedding-dresses"> Casual Wedding Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/little-white-dresses"> Little White Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/modern-wedding-dresses"> Modern Wedding Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/flower-girl-dresses"> Flower Girl</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_BRIDES_2">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_BRIDES_2] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>
    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Wedding Accessories</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/veils"> Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/shoes/bridal-wedding-shoes"> Bridal Shoes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/honeymoon-lingerie"> Bridal Lingerie</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/shapewear-and-slips"> Slips &amp; Shapewear</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jackets-and-wraps"> Jackets &amp; Wraps</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/hair-accessories"> Hair Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/sashes-and-belts"> Belts &amp; Sashes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/bras"> Bras</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jewelry"> Jewelry</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_BRIDES_3">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_BRIDES_3] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_BRIDES">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dress-quiz">Wedding Dress Finder</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingDressesGuide">Wedding Dresses 101</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_Bridal_dbwomanabout">Plus Size Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_Bridal_dbpetiteabout">Petite Size Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingthemes">Wedding Themes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Silhouette Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_fallweddingdressideas">Fall 2018 Collection</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Meet the Brands</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_Appointment_planning">Getting Started</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Wedding Wardrobe</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_Catalog_onlinecatalog">Look Books</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_RealWeddings_realweddings">Real Weddings</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">Wedding Planning Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_gownpreservation">Preserve Your Gown</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Quality &amp; Craftsmanship</a>
        </li>
      </ul>
      <!-- [eSpot Name: ES_EXPLORE_BRIDES_] -->
      <!-- [eSpot Name: ES_EXPLORE_BRIDES] -->
      <!-- END ContentRecommendation.jsp -->
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_BRIDES">
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <style>
        .header__main-nav-topic-section-figure figcaption {
          color: #333;
          -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }
        .header__main-nav-topic-section-figure figcaption:hover {
          color: #74736d;
        }
        .header__main-nav-topic-section-figure a {
          text-decoration: none !important;
        }
      </style>
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Brides">
        <a class="header__main-nav-topic-section-figure-link" href="/maternity-wedding-dresses" data-swimlane-category="Brides" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/Header_Flyout_Maternity.jpg" alt="Maternity wedding dresses now available! Starting at $299" nopin="nopin">
          <figcaption class="sans-bold-uppercase">Maternity wedding dresses now available! Starting at $299&nbsp;&gt;</figcaption>
        </a>
      </figure>
      <!-- [eSpot Name: ES_SWIMLANE_BRIDES_] -->
      <!-- [eSpot Name: ES_SWIMLANE_BRIDES] -->
      <!-- END ContentRecommendation.jsp -->
    </li>
  </ul>
</li>