<li class="header__main-nav-topic header__main-nav-topic--highlight" data-menu-topic="SALE" data-topic-status="closed" role="menuitem">
  <script>
    allL1Cats.push("Sale");
  </script>
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/sale">Sale</a>
  </div>

  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>
    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a class="sans-bold-uppercase" href="/sale">Sale&nbsp;Homepage</a>
    </li>


    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">All Sale </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-all"> All Sale</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sample-sale"> Sample Sale</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/final-sale"> Final Sale</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_SALE_1">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_SALE_1] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Dresses</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-dresses"> All Sale Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-wedding-dresses"> Wedding Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/bridesmaid-dresses"> Bridesmaid Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-party-dresses"> Party Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-mother-of-the-bride-dresses"> Mother of the Bride</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-prom-dresses"> Prom Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-flower-girl-dresses"> Flower Girl Dresses</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_SALE_2">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_SALE_2] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Accessories </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-accessories"> All Sale Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-wedding-decorations"> Wedding Decorations &amp; Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-shoes"> Shoes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-veils"> Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-hair-accessories"> Hair Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-sashes-and-belts"> Belts &amp; Sashes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-jewelry"> Jewelry</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-lingerie"> Lingerie</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sales-shapewear-and-slips"> Slips &amp; Shapewear</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-bras"> Bras</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-jackets-and-wraps"> Jackets &amp; Wraps</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-handbags"> Handbags</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_SALE_3">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_SALE_3] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_SALE">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_BuyOnline_offers">Daily Deals</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingideasonabudget">Wedding Planning Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_realbridesweddingbudget">Budget Tips from Real Brides</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_WeddingPlanning_budgetplanner">How to Set a Wedding Budget</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingchecklist">Your Ultimate Wedding Checklist</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_WeddingVendors_main">Savings From Our Partners</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_SpecialOffers_rewards">DB Rewards</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_RealWeddings_realweddings">Real Weddings</a>
        </li>
      </ul>
      <!-- [eSpot Name: ES_EXPLORE_SALE_] -->
      <!-- [eSpot Name: ES_EXPLORE_SALE] -->
      <!-- END ContentRecommendation.jsp -->
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_SALE">
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <!--<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Sale">
        <a class="header__main-nav-topic-section-figure-link" href="/sale/sample-sale" data-swimlane-category="Sale" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/sample_2.jpg" alt="Shop the Online Sample Sale for up to 75% off—dresses start at $148.48" nopin="nopin">
          <figcaption class="sans-bold-uppercase">Shop the Online Sample Sale for up to 75% off—dresses start at $148.48&nbsp;&gt;</figcaption>
        </a>
      </figure>-->
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Sale">
        <a class="header__main-nav-topic-section-figure-link" href="/extra-off-sale-wedding-dresses" data-swimlane-category="Sale" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/sale_flyout_OP1324.jpg" alt="$100 SELECT SALE WEDDING DRESSES WITH CODE TAKE100" nopin="nopin">
          <figcaption class="sans-bold-uppercase">$100 Off Select Sale Wedding Dresses With Code <span style="color:#aa170d;">TAKE100</span>&nbsp;&gt;</figcaption>
        </a>
      </figure>
      <!-- [eSpot Name: ES_SWIMLANE_SALE_] -->
      <!-- [eSpot Name: ES_SWIMLANE_SALE] -->
      <!-- END ContentRecommendation.jsp -->
    </li>
  </ul>
</li>
