<li class="header__main-nav-topic " data-menu-topic="ACCESSORIES" data-topic-status="closed" role="menuitem">

  <script>
    allL1Cats.push("Accessories");
  </script>
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/accessories">Accessories</a>
  </div>

  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>
    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a class="sans-bold-uppercase" href="/accessories">Accessories&nbsp;Homepage</a>
    </li>



    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Accessories </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/all-accessories"> All Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jewelry"> Jewelry</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/hair-accessories"> Hair Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/veils"> Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/sashes-and-belts"> Belts &amp; Sashes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jackets-and-wraps"> Jackets &amp; Wraps</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/handbags"> Handbags</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/flower-girl-accessories"> Flower Girl Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/gloves"> Gloves</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/garment-bags"> Garment Bags</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/wedding-dress-preservation"> Wedding Dress Preservation</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_ACCESSORIES_1">
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Headpieces </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/mid-length-veils"> Mid-Length Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/cathedral-veils"> Cathedral Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/blushers"> Blushers</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/short-veils"> Short Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/headbands"> Headbands</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/tiaras"> Tiaras</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/combs"> Combs</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/girls-hair-accessories"> Girls Headpieces</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/hairpins"> Hairpins</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_ACCESSORIES_2">
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Lingerie </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/lingerie"> All Lingerie</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/shapewear-and-slips"> Slips &amp; Shapewear</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/bras"> Bras</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/honeymoon-lingerie"> Honeymoon Lingerie</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/robes"> Robes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/garters"> Garters</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/underwear-and-panties"> Panties</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/lingerie-accessories"> Lingerie Accessories</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_ACCESSORIES_3">
      </p>
    </li>

    <li class="header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_ACCESSORIES">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_veilstyleguide">Veil Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_headpiecestyleguide">Headpiece Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">Shapewear Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline & Jewelry Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingshoeideas">5 Must-Have Wedding Shoes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingdressonabudget">4 Looks for Less</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Accessorizing Your Bridal Party</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_Curations_accessories">#DBAccessories</a>
        </li>
      </ul>
    </li>

    <li class="header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_ACCESSORIES">
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Accessories">
        <a class="header__main-nav-topic-section-figure-link" href="/accessories/jewelry" data-swimlane-category="Accessories" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/ACC_FlyOut.jpg" alt="Pair of Earrings" nopin="nopin">
          <figcaption class="sans-bold-uppercase">JEWELRY STARTING AT $10&nbsp;&gt;</figcaption>
        </a>
      </figure>
    </li>
  </ul>
</li>
