<li class="header__main-nav-topic " data-menu-topic="DECORATIONS-GIFTS" data-topic-status="closed" role="menuitem">
  <script>
    allL1Cats.push("Gifts & Decorations");
  </script>
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/wedding-gift-and-decor-ideas">Gifts &amp; Decorations</a>
  </div>

  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>
    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a class="sans-bold-uppercase" href="/wedding-gift-and-decor-ideas">Gifts &amp; Decorations&nbsp;Homepage</a>
    </li>



    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Gifts </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/all-wedding-gifts"> All Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/bridesmaid-gifts"> Bridesmaid Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/wedding-gifts-for-bride"> Bride Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-robes-clothing-gifts"> Robes &amp; Apparel</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/wedding-gifts-for-parents"> Parent Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/wedding-gifts-for-groom"> Groom Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/groomsmen-gifts"> Groomsmen Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/flower-girl-gifts"> Flower Girl Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/ring-bearer-gifts"> Ring Bearer Gifts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/totes-and-cosmetic-bags"> Totes &amp; Cosmetic Cases</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666678891011153245326511010032105116391153270114101101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:small&isPriceFacet:false&facetValues:,Yes%20-%20And%20it's%20Free& "> Personalized Gifts</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_2">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_2] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Wedding Essentials </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-decorations/ceremony-decorations"> Ceremony Decorations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-decorations/reception-decorations"> Reception Decorations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-decorations/all-wedding-decorations"> Wedding Decorations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-decorations/wedding-favors"> Favors</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-cake-toppers"> Cake Toppers</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/flower-girl-baskets"> Flower Girl Baskets</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/ring-bearer-pillows"> Ring Bearer Pillows</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/unity-and-sand-ceremony-sets"> Unity Ceremony</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-guest-book"> Guest Books</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-signs"> Wedding Signs</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-decorations/personalized-decorations"> Personalized Decorations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-pet-decorations-accessories"> Pet Accessories</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_1">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_1] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Stationery </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingInvitations"> Invitations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/announcements/save-the-date?pid=DBRD&psid=WEB&cid=DBRDWEBWS07" target="_blank" rel="noopener"> Save the Dates</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-thank-you-cards?pid=DBRD&psid=WEB&cid=DBRDWEBWS08" target="_blank" rel="noopener"> Thank You Cards</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-programs?pid=DBRD&psid=WEB&cid=DBRDWEBWS02" target="_blank" rel="noopener"> Wedding Programs</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-place-cards?pid=DBRD&psid=WEB&cid=DBRDWEBWS10" target="_blank" rel="noopener"> Place Cards</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-menu-cards?pid=DBRD&psid=WEB&cid=DBRDWEBWS11" target="_blank" rel="noopener"> Menu Cards</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-address-labels?pid=DBRD&psid=WEB&cid=DBRDWEBWS12" target="_blank" rel="noopener">Address Labels</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_3">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DECORATIONS-GIFTS_3] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_DECORATIONS-GIFTS">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_bridesmaidgiftideas">Bridesmaid Gift Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingsouvenirideas">Wedding Favor Ideas</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingPreparation">Completing Your Day Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingGiftIdeas">Wedding Gift Ideas</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_engagementgiftideas">Engagement Gift Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddinginvitationsandstationery">Wedding Invitations</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_WeddingDecorationIdeas">Wedding D&eacute;cor Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_weddingchecklist">Ultimate Wedding Checklist</a>
        </li>
      </ul>
      <!-- [eSpot Name: ES_EXPLORE_DECORATIONS-GIFTS_] -->
      <!-- [eSpot Name: ES_EXPLORE_DECORATIONS-GIFTS] -->
      <!-- END ContentRecommendation.jsp -->
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_DECORATIONS-GIFTS">
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="DecorationsGifts">
        <a class="header__main-nav-topic-section-figure-link" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666678891011153245326511010032105116391153270114101101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:small&isPriceFacet:false&facetValues:,Yes%20-%20And%20it's%20Free&" data-swimlane-category="DecorationsGifts" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/flyout_GIFTS_v1_Stills_PRINT_18F.jpg" alt="Meaningful keepsakes, personalized for free" nopin="nopin">
          <figcaption class="sans-bold-uppercase">GIFTS FOR ALL - WITH FREE PERSONALIZATION&nbsp;&gt;</figcaption>
        </a>
      </figure>


      <!-- [eSpot Name: ES_SWIMLANE_DECORATIONS-GIFTS_] -->
      <!-- [eSpot Name: ES_SWIMLANE_DECORATIONS-GIFTS] -->
      <!-- END ContentRecommendation.jsp -->
    </li>
  </ul>
</li>
