<li class="header__main-nav-topic " data-menu-topic="DRESSES" data-topic-status="closed" role="menuitem">
  <script>
    allL1Cats.push("Dresses");
  </script>
  <div class="header__main-nav-topic-heading">
    <a class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/dresses">Dresses</a>
  </div>

  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>
    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a class="sans-bold-uppercase" href="/dresses">Dresses&nbsp;Homepage</a>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Dresses </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/all-dresses"> All Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/plus-size-dresses"> Plus Size Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/petite-occasion-party-dresses"> Petite Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/maternity-dresses"> Maternity Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/girls-dresses"> Girls Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/flower-girl-dresses"> Flower Girl Dresses</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DRESSES_1">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DRESSES_1] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Collections </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/mother-of-the-bride-dresses"> Mother of the Bride</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/all-wedding-guest-dresses"> Guest of Wedding</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/formal-dresses"> Formal &amp; Evening</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/cocktail-party-dresses"> Cocktail &amp; Party</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/jumpsuits-pantsuits"> Jumpsuits &amp; Pantsuits</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/prom-dresses/all-prom-dresses"> Prom</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/little-white-dresses"> Little White Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/prom-dresses/homecoming-dresses"> Homecoming</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DRESSES_2">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DRESSES_2] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Accessories</a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/shoes/all-shoes"> Shoes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jackets-and-wraps"> Jackets & Wraps</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jewelry"> Jewelry</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/sashes-and-belts"> Sashes & Belts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/shapewear-and-slips"> Slips & Shapewear</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/hair-accessories"> Hair Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/handbags"> Handbags</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/flower-girl-accessories"> Flower Girl Accessories</a>
        </li>
      </ul>
      <p class="header__main-nav-topic-section-paragraph" espot-name="ES_SWIMLANE_BOTTOMLINK_DRESSES_4">
        <!-- BEGIN ContentRecommendation.jsp -->
        <!-- BEGIN ESpotTitle_Data.jspf -->
        <!-- END ESpotTitle_Data.jspf -->
        <!-- BEGIN ESpotTitle_UI.jspf -->
        <!-- END ESpotTitle_UI.jspf -->
        <!-- [eSpot Name: ES_SWIMLANE_BOTTOMLINK_DRESSES_4] -->
        <!-- END ContentRecommendation.jsp -->
      </p>
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_DRESSES">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">Mother of the Bride Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_whattowearsummerweddings">Guest of Wedding Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_casualweddingideas">Casual Wedding Ideas</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear to Every Wedding Event</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_SpecialOccasions">Special Occasions Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Guide</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a class="header__main-nav-topic-section-item-link sans-xs" href="/social-occasion-dress-quiz">Social Occasion Dress Finder</a>
        </li>
      </ul>
      <!-- [eSpot Name: ES_EXPLORE_DRESSES_] -->
      <!-- [eSpot Name: ES_EXPLORE_DRESSES] -->
      <!-- END ContentRecommendation.jsp -->
    </li>

    <li class="catalog_nav_espots header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_DRESSES">
      <!-- BEGIN ContentRecommendation.jsp -->
      <!-- BEGIN ESpotTitle_Data.jspf -->
      <!-- END ESpotTitle_Data.jspf -->
      <!-- BEGIN ESpotTitle_UI.jspf -->
      <!-- END ESpotTitle_UI.jspf -->
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Dresses">
        <a class="header__main-nav-topic-section-figure-link" href="/dresses/mother-of-the-bride-dresses" data-swimlane-category="Dresses" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/MOB_FlyOut.jpg" alt="Styles for mom, now $20 off" nopin="nopin">
          <figcaption class="sans-bold-uppercase">Styles for mom, now $20 off&nbsp;&gt;</figcaption>
        </a>
      </figure>
      <!-- [eSpot Name: ES_SWIMLANE_DRESSES_] -->
      <!-- [eSpot Name: ES_SWIMLANE_DRESSES] -->
      <!-- END ContentRecommendation.jsp -->
    </li>
  </ul>
</li>
