html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative; }
  .content-page .container-full {
    width: 100%;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .content-page .container-full {
        padding-left: 10px;
        padding-right: 10px; } }
  .content-page .container, .content-page .container-lg, .content-page .container-sm {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
    .content-page .container-lg {
      max-width: 1400px; }
    .content-page .container-sm {
      max-width: 1085px; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .img-circle {
    border-radius: 50%; }
  .content-page .img-responsive {
    width: 100%; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 24px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 18px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.two-column {
  max-width: 1262px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  @media screen and (min-width: 768px) {
    .two-column {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .two-column img {
    width: 100%; }
  .two-column .column {
    width: 100%;
    -ms-flex-item-align: stretch;
        align-self: stretch; }
    @media screen and (min-width: 768px) {
      .two-column .column:first-child {
        width: 70%;
        margin-right: 5px; } }
    @media screen and (min-width: 1024px) {
      .two-column .column:first-child {
        width: 66.66667%;
        margin-right: 10px; } }
    @media screen and (min-width: 768px) {
      .two-column .column:last-child {
        width: 30%;
        margin-left: 5px; } }
    @media screen and (min-width: 1024px) {
      .two-column .column:last-child {
        width: 33.33333%;
        margin-left: 10px; } }
    .two-column .column.flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
  .two-column .item {
    width: 100%;
    -ms-flex-item-align: stretch;
        align-self: stretch; }
    .two-column .item img {
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .two-column .item img {
          margin: 0; } }
    .two-column .item.flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
      .two-column .item.flex .col {
        width: 100%;
        -ms-flex-item-align: stretch;
            align-self: stretch; }
        .two-column .item.flex .col:first-child {
          margin-right: 5px; }
          @media screen and (min-width: 1024px) {
            .two-column .item.flex .col:first-child {
              margin-right: 10px; } }
        .two-column .item.flex .col:last-child {
          margin-left: 5px; }
          @media screen and (min-width: 1024px) {
            .two-column .item.flex .col:last-child {
              margin-left: 10px; } }
  .two-column .intro-text {
    text-align: center;
    padding: 10px 10px 20px; }
    @media screen and (min-width: 768px) {
      .two-column .intro-text {
        padding: 0; } }
    .two-column .intro-text h1 {
      margin-bottom: 0; }
    .two-column .intro-text .btn-secondary {
      width: 100%;
      margin-bottom: 15px; }
      .two-column .intro-text .btn-secondary a {
        width: 100%; }
    .two-column .intro-text .sans-m {
      font-size: 13px;
      line-height: 18px; }
      @media screen and (min-width: 1024px) {
        .two-column .intro-text .sans-m {
          font-size: 15px;
          line-height: 24px; } }
  .two-column .pink-box {
    width: 100%;
    background: #ffe6e3;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .two-column .pink-box {
        padding: 40px;
        margin-top: 10px; } }
    @media screen and (min-width: 800px) {
      .two-column .pink-box {
        padding: 20px; } }
    @media screen and (min-width: 1024px) {
      .two-column .pink-box {
        padding: 60px; } }
    @media screen and (min-width: 1100px) {
      .two-column .pink-box {
        padding: 30px; } }
    @media screen and (min-width: 1200px) {
      .two-column .pink-box {
        padding: 20px; } }
    .two-column .pink-box p {
      margin: 0; }
    .two-column .pink-box .serif-s-italic {
      font-size: 16px;
      line-height: 20px; }
      @media screen and (min-width: 768px) {
        .two-column .pink-box .serif-s-italic {
          font-size: 20px;
          line-height: 24px; } }
  .two-column .sm-hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0; }
    @media screen and (min-width: 768px) {
      .two-column .sm-hidden {
        display: block;
        visibility: visible;
        width: auto;
        height: auto; } }
  @media screen and (min-width: 768px) {
    .two-column .m-t-10 {
      margin-top: 10px !important; } }
  @media screen and (min-width: 1024px) {
    .two-column .m-t-10 {
      margin-top: 20px !important; } }

.breadcrumbs {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px; }
  @media screen and (min-width: 768px) {
    .breadcrumbs {
      position: relative;
      max-width: 1262px;
      margin: 10px auto 0; } }
  .breadcrumbs-left {
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .breadcrumbs-left {
        padding-left: 0; } }
  .breadcrumbs p {
    margin-top: 5px; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 0 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 0 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0; }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }
