<style media="screen">
.appointment-flyin {
  display: block;
  position: fixed;
  z-index: 9999;
  background: #f04874;
  text-align: center;
  width: 200px;
  height: 200px;
  left: 0;
  bottom: -240px;
  bottom: 0; }
  @media screen and (min-width: 768px) {
    .appointment-flyin {
      width: 220px;
      height: 220px; } }
  .appointment-flyin__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  .appointment-flyin__close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 15px;
    color: white;
    background: transparent;
    border: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px; }
    .appointment-flyin__close-button:hover, .appointment-flyin__close-button:active, .appointment-flyin__close-button:focus {
      background: #ee3062;
      border: #ee3062; }
    .appointment-flyin__close-button svg {
      fill: #fff;
      width: 16px; }
  .appointment-flyin__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%; }
    .appointment-flyin__text p {
      color: #fff;
      margin: 0; }
      .appointment-flyin__text p.sans-l {
        font-size: 14px;
        margin-bottom: 5px; }
        @media screen and (min-width: 768px) {
          .appointment-flyin__text p.sans-l {
            font-size: 16px; } }
      .appointment-flyin__text p.sans-m {
        margin-bottom: 5px; }
      .appointment-flyin__text p.btn {
        font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
        white-space: nowrap;
        border: none;
        padding: 0;
        cursor: pointer;
        width: auto; }
        .appointment-flyin__text p.btn-secondary {
          display: inline-block;
          width: 90%;
          margin: 0 auto;
          border: 1px solid #74736d;
          color: #333;
          background-color: #fff;
          outline: none;
          font-size: 11px;
          margin-top: 10px; }
          .appointment-flyin__text p.btn-secondary a {
            padding: 13px 0;
            margin: 0 !important; }
            .appointment-flyin__text p.btn-secondary a:hover, .appointment-flyin__text p.btn-secondary a:active, .appointment-flyin__text p.btn-secondary a:focus {
              padding: 13px 0; }
</style>
<style media="screen" type="text/css">
.appointment-flyin__text p {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #fff;
  }
  .appointment-flyin__text .serif-s-italic {
    font-size: 16px;
    line-height: 20px; }
</style>
<div class="appointment-flyin">
  <div class="appointment-flyin__inner">
    <button class="appointment-flyin__close-button">
      <svg viewbox="-495.8 496.1 9.7 9.9" xmlns="http://www.w3.org/2000/svg">
        <title></title>
        <polygon points="-486.3,497.4 -487.2,496.5 -490.8,500.1 -494.4,496.5 -495.2,497.4 -491.6,501 -495.2,504.6 -494.4,505.5 -490.8,501.8 -487.2,505.5 -486.3,504.6 -489.9,501 "></polygon>
      </svg>
    </button>
    <div class="appointment-flyin__text">
      <p class="serif-s-italic"><strong>Find your style,<br>stay in budget </strong></p>
      <p class="sans-xs">our stylists can help put<br>together a look that checks<br>all the boxes.</p>
      <p class="btn btn-secondary"><a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&amp;langId=-1&amp;storeId=10052">Make An Appointment</a></p>
    </div>
  </div>
</div>
