.appointment-flyin {
  position: fixed;
  z-index: 9999;
  background: #737278;
  text-align: center;
  width: 240px;
  height: 220px;
  left: 0;
  bottom: -240px; }
  .appointment-flyin__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  .appointment-flyin__close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 15px;
    color: white;
    background: transparent;
    border: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px; }
    .appointment-flyin__close-button:hover, .appointment-flyin__close-button:active, .appointment-flyin__close-button:focus {
      background: #66666b;
      border: #66666b; }
    .appointment-flyin__close-button svg {
      fill: #fff;
      width: 16px; }
  .appointment-flyin__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%; }
    .appointment-flyin__text p {
      color: #fff;
      margin: 0; }
      .appointment-flyin__text p.sans-l {
        font-size: 14px;
        margin-bottom: 5px; }
        @media screen and (min-width: 768px) {
          .appointment-flyin__text p.sans-l {
            font-size: 16px; } }
      .appointment-flyin__text p.sans-m {
        margin-bottom: 5px; }
      .appointment-flyin__text p.btn {
        font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
        white-space: nowrap;
        border: none;
        padding: 0;
        cursor: pointer;
        width: auto; }
        .appointment-flyin__text p.btn-secondary {
          display: inline-block;
          width: 90%;
          margin: 0 auto;
          border: 1px solid #74736d;
          color: #333;
          background-color: #fff;
          outline: none;
          font-size: 11px;
          margin-top: 10px; }
          .appointment-flyin__text p.btn-secondary a {
            padding: 13px 0;
            margin: 0 !important; }
            .appointment-flyin__text p.btn-secondary a:hover, .appointment-flyin__text p.btn-secondary a:active, .appointment-flyin__text p.btn-secondary a:focus {
              padding: 13px 0; }
