$background: #737278;


.appointment-flyin {
  position: fixed;
  z-index: 9999;
  background: $background;
  text-align: center;
  width: 240px;
  height: 220px;
  left: 0;
  bottom: -240px;

  &__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 15px;
    color: white;
    background: transparent;
    border: transparent;
    transition: all 0.3s ease;
    padding: 12px;

    &:hover,
    &:active,
    &:focus {
      background: darken($background, 5%);
      border: darken($background, 5%);
    }

    svg {
      fill: #fff;
      width: 16px;
    }
  }




  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;


    p {
      color: #fff;
      margin: 0;

      &.sans-l {
        font-size: 14px;
        margin-bottom: 5px;
        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
      }

      &.sans-m {
        margin-bottom: 5px;
      }

      &.btn {
        font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
        white-space: nowrap;
        border: none;
        padding: 0;
        cursor: pointer;
        width: auto;
        &-secondary {
          display: inline-block;
          width: 90%;
          margin: 0 auto;
          border: 1px solid #74736d;
          color: #333;
          background-color: #fff;
          outline: none;
          font-size: 11px;
          margin-top: 10px;
          a {
            padding: 13px 0;
            margin: 0 !important;
            &:hover,
            &:active,
            &:focus {
              padding: 13px 0;
            }
          }
        }
      }


    }
  }

}
