.row {
  margin: 0; }

.vera-wang-toppromo {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333; }
  .vera-wang-toppromo a {
    text-decoration: none; }
    .vera-wang-toppromo a:hover {
      text-decoration: none;
      color: #333; }
  .vera-wang-toppromo__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("http://sb.monetate.net/img/1/564/1454995.jpg");
    background-position: right; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo__bg-img {
        background-position: 35% 0; } }
  .vera-wang-toppromo__text {
    clear: both;
    display: block;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    z-index: 999; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo__text {
        right: calc(35% - 210px);
        width: auto; } }
    @media screen and (min-width: 1024px) {
      .vera-wang-toppromo__text {
        right: calc(30% - 210px); } }
    .vera-wang-toppromo__text p {
      color: #fff;
      margin: 0; }
      .vera-wang-toppromo__text p.serif-l {
        margin-bottom: 10px; }
      .vera-wang-toppromo__text p.sans-m {
        margin-bottom: 15px;
        color: #fff;
        margin-top: 10px; }
  .vera-wang-toppromo .sans-bold-uppercase a {
    display: block !important;
    visibility: visible !important;
    letter-spacing: 0.055em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .vera-wang-toppromo .sans-bold-uppercase a:hover, .vera-wang-toppromo .sans-bold-uppercase a:active {
      color: #e1e1e1;
      text-decoration: none; }
