@import "../../variables";

.row {
  margin: 0;
}

.vera-wang-toppromo {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }



  &__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('http://sb.monetate.net/img/1/564/1454995.jpg');
    background-position: right;
    @media screen and (min-width: $breakpoint-md) {
      background-position: 35% 0;
    }
  }


  &__text {
    //background: #727475;
    clear: both;
    display: block;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 999;
    @media screen and (min-width: $breakpoint-md) {
      right: calc(35% - 210px);
      width: auto;
    }
    @media screen and (min-width: $breakpoint-lg) {
      right: calc(30% - 210px);
    }

    p {
      color: #fff;
      margin: 0;

      &.serif-l {
        margin-bottom: 10px;
      }
      &.sans-m {
        margin-bottom: 15px;
        color: #fff;
        margin-top: 10px;
      }


    }
  }


  .sans-bold-uppercase {
    a {
      display: block !important;
      visibility: visible !important;
      letter-spacing: 0.055em;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      transition: all 0.25s ease;
      &:hover,
      &:active {
        color: #e1e1e1;
        text-decoration: none;
      }
    }

  }


}
