.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

/* Make Header Fixed in Desktop */
@media screen and (min-width: 1024px) {
  .header_wrapper_position {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff; } }

@media screen and (min-width: 1024px) {
  .header__utility-nav[data-utility-position=fixed] {
    top: 50px; } }

.parallax-slider {
  display: block;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .parallax-slider {
      padding-top: 140px; } }
  @media screen and (min-width: 1250px) {
    .parallax-slider {
      padding-top: 160px; } }
  .parallax-slider .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 200px; }
    @media screen and (min-width: 768px) {
      .parallax-slider .btn {
        width: auto;
        margin-top: 10px; } }
    .parallax-slider .btn-secondary a {
      background-color: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: auto;
      min-width: 200px;
      font-size: 12px; }
      .parallax-slider .btn-secondary a:hover, .parallax-slider .btn-secondary a:active, .parallax-slider .btn-secondary a:focus {
        border: 1px solid #eeeeee; }
    .parallax-slider .btn-secondary-pink a {
      background-color: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 13px 24px;
      width: auto;
      min-width: 200px;
      font-size: 12px; }
      .parallax-slider .btn-secondary-pink a:hover, .parallax-slider .btn-secondary-pink a:active, .parallax-slider .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
  .parallax-slider__slide {
    display: block;
    position: relative;
    width: 100%; }
    .parallax-slider__slide:not(:first-child) {
      display: none; }
    @media screen and (min-width: 1024px) {
      .parallax-slider__slide {
        height: 500px;
        height: 100vh;
        overflow: hidden; }
        .parallax-slider__slide:not(:first-child) {
          display: block; } }
    .parallax-slider__slide__img {
      display: block; }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide__img {
          display: none !important; } }
    .parallax-slider__slide-background {
      display: block;
      position: relative; }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide-background {
          position: relative;
          background-position-y: 170px;
          background-position-x: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          height: 100vh; } }
    .parallax-slider__slide-text {
      display: block;
      position: relative;
      text-align: center;
      margin-top: -180px;
      margin-left: 10px;
      margin-right: 10px; }
      @media screen and (min-width: 768px) {
        .parallax-slider__slide-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          margin: 0;
          width: auto; } }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide-text {
          margin: 0;
          width: auto; } }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide-text.hero {
          left: calc(((100vw - 320px) / 2) - 300px); } }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide-text.bridal {
          left: 20px; } }
      @media screen and (min-width: 1200px) {
        .parallax-slider__slide-text.bridal {
          left: calc(((100vw - 320px) / 2) - 420px); } }
      @media screen and (min-width: 1024px) {
        .parallax-slider__slide-text.maids {
          right: 20px; } }
      @media screen and (min-width: 1200px) {
        .parallax-slider__slide-text.maids {
          right: calc(((100vw - 320px) / 2) - 420px); } }
  .parallax-slider .left {
    float: none; }
    @media screen and (min-width: 768px) {
      .parallax-slider .left {
        left: 5%; } }
    @media screen and (min-width: 1024px) {
      .parallax-slider .left {
        left: 10%; } }
  .parallax-slider .right {
    float: none; }
    @media screen and (min-width: 768px) {
      .parallax-slider .right {
        right: 5%; } }
    @media screen and (min-width: 1024px) {
      .parallax-slider .right {
        right: 10%; } }
  .parallax-slider .white-bg {
    background: rgba(255, 255, 255, 0.8); }
  .parallax-slider .cream-bg {
    background: rgba(248, 246, 240, 0.8); }
  @media screen and (max-width: 767px) {
    .parallax-slider .sm-hidden {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .parallax-slider .md-hidden {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 1024px) {
    .parallax-slider .lg-hidden {
      display: none;
      visibility: hidden; } }
