<article class="content-page">

  <!-- Breadcrumbs -->
  <section class="container-full breadcrumbs">
    <div class="breadcrumbs-left">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
      </p>
    </div>
  </section>



  <main class="container-full two-column">
    <!-- Column 1 -->
    <section class="column flex">
      <div class="item">
        <a href="http://www.davidsbridal.com/SearchDisplay?categoryId=3003246&storeId=10052&langId=-1#!&facet:3074457345616666671671041011011141153267121110116104105973282111119108101121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Cheers Cynthia Rowley&">
          <img src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_Hero.jpg" alt="Bride in white two piece dress">
        </a>
      </div>

      <div class="item pink-box">
        <p class="serif-s-italic">Get ready for statement sequins, 3D flowers, and flirty skirts in the fun-loving designer's exclusive collection for David's Bridal.</p>
      </div>

      <div class="item flex sm-hidden">
        <div class="col">
          <a href="/cheers-cynthia-rowley-dresses">
            <img src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_LongModule_2.jpg" alt="Wedding guest in two piece black tulle a line gown">
          </a>
        </div>
        <div class="col">
          <a href="/cheers-cynthia-rowley-dresses">
            <img src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_LongModule_3.jpg" alt="Wedding guest in short like pink occasion dress">
          </a>
        </div>
      </div>
    </section>


    <!-- Column 2 -->
    <section class="column">
      <div class="item">
        <div class="intro-text">
          <h1 class="serif-l">Cheers Cynthia Rowley</h1>
          <p class="sans-l">Exclusively at David's Bridal</p>
          <p class="sans-m">Whether you're celebrating a birthday, work promotion, or your wedding, Cheers Cynthia Rowley dresses are tailor-made for toast-worthy occasions.</p>
          <p class="sans-m">The collection is full of playful designs including a white jumpsuit, a white romper, an A-line gown with fun appliques, and party dresses galore. Each style features designer details like embellished necklines, beading, ribbons, 3D flowers, and sequins.</p>
          <p class="btn btn-secondary">
            <a href="/cheers-cynthia-rowley-dresses">Shop Occasion Dresses</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="/SearchDisplay?categoryId=3003246&storeId=10052&langId=-1#!&facet:3074457345616666671671041011011141153267121110116104105973282111119108101121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Cheers&">Shop Wedding Dresses&nbsp;&gt;</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="/Content_Dresses_CheersCynthiaRowleyStores">Find a Store&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="item">
        <a href="http://www.davidsbridal.com/SearchDisplay?categoryId=3003246&storeId=10052&langId=-1#!&facet:3074457345616666671671041011011141153267121110116104105973282111119108101121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Cheers Cynthia Rowley&">
          <img src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_ShortModule_1.jpg" alt="Bride in white jumpsuit with flowers">
        </a>
        <a href="/cheers-cynthia-rowley-dresses">
          <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_LongModule_2.jpg" alt="Wedding guest in two piece black tulle a line gown">
        </a>
      </div>

      <div class="item">
        <a href="/cheers-cynthia-rowley-dresses">
          <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_LongModule_3.jpg" alt="Wedding guest in short like pink occasion dress">
        </a>
        <a href="/SearchDisplay?categoryId=3003246&storeId=10052&langId=-1#!&facet:3074457345616666671671041011011141153267121110116104105973282111119108101121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Cheers Cynthia Rowley&">
          <img class="m-t-10" src="/wcsstore/images/wwcm/designers/cynthia-rowley/767_CR_ShortModule_4.jpg" alt="Close up of Bride in strapless lace gown with floral ribbon">
        </a>
      </div>
    </section>
  </main>


  <!-- Article Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container inspiration-guidance">
    <div class="column-full">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear to Every Wedding Event" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">What to Wear to Every Wedding Event</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dress &aamp; More&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_jewelrynecklines">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Neckline &amp; Jewelry Guide</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</article>
