<main role="main" class="content-page">

  <section class="hero">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <div class="hero__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tSzuZDkN9nI?autoplay=1&mute=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=tSzuZDkN9nI" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hero__caption">
      <h1 class="serif-l">Our Brands</h1>
      <p class="sans-m">Each David's-exclusive label has its own unique aesthetic, from traditional to modern, boho to regal. Explore them all and see what feels like <em>you.</em></p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_verawangexpmain">White by Vera Wang&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_aboutolegcassini">Oleg Cassini&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_zpexpmain">Truly Zac Posen&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_msexpmain">Melissa Sweet&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_galinasignatureweddingdresses">Galina Signature&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_galinaweddingdresses">Galina&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_dbcollectionweddingdresses">David's Bridal Collection&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_dbstudioweddingdresses">DB Studio&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/reverie-bridesmaid-dresses">Reverie Bridesmaids&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Appointment Banner -->
  <section class="appointment-button">
    <p class="btn btn-secondary-special">
      <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
    </p>
  </section>
  <section class="appointment-banner">
    <p class="serif-m-italic">Find your style</p>
    <p class="sans-m">We're here to help.</p>
    <p class="btn btn-secondary">
      <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment</a>
    </p>
  </section>




  <!-- White by Vera Wang -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_WVW.jpg" alt="Bride wearing black White by Vera Wang gown with flowing black tulle">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_WVW.jpg" alt="Bride wearing black White by Vera Wang gown with flowing black tulle">
      </a>
    </div>
    <div class="brand__text right">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/WVW_Logo_mobile.png" alt="White by Vera Wang Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/WVW_Logo.png" alt="White by Vera Wang Logo">
      </div>
      <p class="sans-m">Bring your modern vision to life with the sophistication of White by Vera Wang wedding dresses, only at David's Bridal.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/wedding-dresses/white-by-vera-wang">Shop White by Vera Wang</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">Shop Bridesmaids&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_verawangexpmain">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Oleg Cassini -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/oleg-cassini">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_Oleg.jpg" alt="Bride wearing off the shoulder lace Oleg Cassini gown on movie set">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_Oleg.jpg" alt="Bride wearing off the shoulder lace Oleg Cassini gown on movie set">
      </a>
    </div>
    <div class="brand__text left">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Oleg_Logo_mobile.png" alt="Oleg Cassini Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Oleg_Logo.png" alt="Oleg Cassini Logo">
      </div>
      <p class="sans-m">You'll find the name of Oleg Cassini, legend among wedding dress designers, on our most timelessly elegant collection.</p>
      <p class="btn btn-secondary-special ">
        <a class="sans-bold-uppercase" href="/wedding-dresses/oleg-cassini">Shop Oleg Cassini</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_aboutolegcassini">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Truly Zac Posen -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/truly-zac-posen">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_TZP.jpg" alt="Seated bride wearing strapless bridal gown with dramatic skirt">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_TZP.jpg" alt="Seated bride wearing strapless bridal gown with dramatic skirt">
      </a>
    </div>
    <div class="brand__text right">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/TZP_Logo_mobile.png" alt="Truly Zac Posen Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/TZP_Logo.png" alt="Truly Zac Posen Logo">
      </div>
      <p class="sans-m">Red carpet favorite Zac Posen offers designer wedding dresses with glamorous, boldly feminine flair.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/wedding-dresses/truly-zac-posen">Shop Truly Zac Posen</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:307445734561666667184114117108121329097993280111115101110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Truly%20Zac%20Posen&">Shop Social Occasion&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_zpexpmain">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Melissa Sweet -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/melissa-sweet">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_MelissaSweet.jpg" alt="Bride in a garden wearing lace V-neck gown with flowing skirt ">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_MelissaSweet.jpg" alt="Bride in a garden wearing lace V-neck gown with flowing skirt ">
      </a>
    </div>
    <div class="brand__text left">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Melissa_Logo_mobile.png" alt="Melissa Sweet Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Melissa_Logo.png" alt="Melissa Sweet Logo">
      </div>
      <p class="sans-m">For wedding dress styles that are vintage-inspired, poetic, and full of romance, look to Melissa Sweet.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/wedding-dresses/melissa-sweet">Shop Melissa Sweet</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_msexpmain">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Galina Signature -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/galina-signature">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_GalinaSig.jpg" alt="Back shot of bride turning to camera wearing an embellished spaghetti strap gown, statement earrings and long veil">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_GalinaSig.jpg" alt="Back shot of bride turning to camera wearing an embellished spaghetti strap gown, statement earrings and long veil">
      </a>
    </div>
    <div class="brand__text right">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/GalinaSig_Logo_mobile.png" alt="Galina Signature Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/GalinaSig_Logo.png" alt="Galina Signature Logo">
      </div>
      <p class="sans-m">Sexy wedding dresses are what Galina Signature does best&mdash;they're captivating, dramatic, and sometimes a little daring.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/wedding-dresses/galina-signature">Shop Galina Signature</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_galinasignatureweddingdresses">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- Galina -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/wedding-dresses/galina">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_Galina.jpg" alt="Bride on beach in Galina lace spaghetti strap gown with side cut-outs and floral sash">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_Galina.jpg" alt="Bride on beach in Galina lace spaghetti strap gown with side cut-outs and floral sash">
      </a>
    </div>
    <div class="brand__text left">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Galina_Logo_mobile.png" alt="Galina Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/Galina_Logo.png" alt="Galina Logo">
      </div>
      <p class="sans-m">Our eclectic Galina collection is all about fresh, one-of-a-kind wedding dresses for the free-spirited bride.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/wedding-dresses/galina">Shop Galina</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_galinaweddingdresses">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- David's Bridal Collection -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/davids-bridal-collection-wedding-dresses">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_DBCollection.jpg" alt="Smiling bride in front of window wearing beaded bodice gown with full skirt">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_DBCollection.jpg" alt="Smiling bride in front of window wearing beaded bodice gown with full skirt">
      </a>
    </div>
    <div class="brand__text right">
      <div class="brand__text--logo">
        <p class="brand__title serif-xl">David's Bridal Collection</p>
      </div>
      <p class="sans-m">Our house brand brings you classic and lovingly crafted gowns that capture all the most beautiful traditions.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/davids-bridal-collection-wedding-dresses">Shop David's Bridal</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_dbcollectionweddingdresses">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>




  <!-- DB Studio -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/db-studio-wedding-dresses">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_DBStudio.jpg" alt="Bride wearing lace LWD with bell sleeves, holding hands with groom while walking on cobblestones">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_DBStudio.jpg" alt="Bride wearing lace LWD with bell sleeves, holding hands with groom while walking on cobblestones">
      </a>
    </div>
    <div class="brand__text left">
      <div class="brand__text--logo">
        <img class="lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/DBStudio_Logo_mobile.png" alt="DB Studio Logo">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/DBStudio_Logo.png" alt="DB Studio Logo">
      </div>
      <p class="sans-m">If you crave a more casual look for your ceremony, reception, or shower, DB Studio has you covered.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/db-studio-wedding-dresses">Shop DB Studio</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_dbstudioweddingdresses">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>





  <!-- Reverie Bridesmaid -->
  <section class="container-full brand">
    <div class="brand__img">
      <a href="/reverie-bridesmaid-dresses">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_Reverie.jpg" alt="Bridesmaids wearing Reverie mix and match navy dresses, one holding a sparkling handbag and one carrying yellow flowers ">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_1600px_Reverie.jpg" alt="Bridesmaids wearing Reverie mix and match navy dresses, one holding a sparkling handbag and one carrying yellow flowers ">
      </a>
    </div>
    <div class="brand__text right">
      <div class="brand__text--logo">
        <img src="/wcsstore/images/wwcm/espots/plp/toppromo/Reverie-logo.png" alt="Reverie Logo">
      </div>
      <p class="sans-m">Our newest line features ready-right-now dresses at pinch-me prices</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/reverie-bridesmaid-dresses">Shop Reverie</a>
      </p>
    </div>
  </section>




  <!-- Article Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container inspiration-guidance">
    <div class="column-full">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingvideos">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_LoveStories.jpg" alt="Real Wedding Videos" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Real Wedding Videos</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingthemes">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Theme Ideas</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_Catalog_onlinecatalog">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_MagazinesAndLookBooks.jpg" alt="Magazines & Look Books" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Magazines &amp; Look Books</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_Catalog_onlinecatalog">Explore Digital Editions&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/wedding-dress-quiz">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Dress Finder</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>
