<main role="main" class="content-page">


  <!-- hero -->
  <section class="hero">
    <div class="hero__img">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/melissa-sweet/767_Hero_MelissaSweet.jpg" alt="Bride seated at an outdoor garden table with rose petals">
      <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/melissa-sweet/1600_Hero_MelissaSweet.jpg" alt="Bride seated at an outdoor garden table with rose petals">
    </div>

    <div class="hero__caption">
      <img src="/wcsstore/images/wwcm/designers/melissa-sweet/Melissa_Sweet_R_White_2.png" alt="Melissa Sweet Logo">
      <p class="sans-m">Vintage-inspired wedding dresses from $758,<br>exclusively at David's Bridal</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/melissa-sweet">Shop Melissa Sweet Wedding Dresses&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="portrait-quote">
    <div class="portrait-quote__img">
      <img src="/wcsstore/images/wwcm/designers/melissa-sweet/MelissaSweet-portrait.jpg" alt="Melissa Sweet black and white portrait">
    </div>
    <div class="portrait-quote__text">
      <!-- <p class="serif-m">&rdquo;</p> -->
      <p class="serif-s-italic">When you layer the right fabrics and laces,<br>the magic just happens.</p>
      <p class="sans-m">&mdash; Melissa Sweet</p>
    </div>
  </section>


  <!-- Appointment Banner -->
  <section class="appointment-banner">
    <p class="serif-m-italic">Enter for a chance to win your gown or 5 bridesmaid dresses</p>
    <p class="btn btn-secondary">
      <a href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">Sign Up Now</a>
    </p>
    <p class="sans-bold-uppercase">
      <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
    </p>
  </section>


  <!-- Melissa Sweet -->
  <section class="container-full">

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/melissa-sweet">
              <img src="/wcsstore/images/wwcm/designers/melissa-sweet/767_Vertical_MelissaSweet_InspiredByThePast.jpg" alt="Bride in garden wearing high neck lace gown with long floral detail veil" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m">Inspired by the Past</p>
        <p class="sans-m">Made for the bride who dreams of vintage wedding dresses, the <a class="inline-link" href="/wedding-dresses/melissa-sweet">Melissa Sweet</a> bridal collection features artisanal details like cascading lace, beautiful ribbon trims, and intricate hand-sewn beading.</p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/melissa-sweet">
              <img src="/wcsstore/images/wwcm/designers/melissa-sweet/767_Vertical_MelissaSweet_ThoughtfullyDesigned.jpg" alt="Bride in garden with softly flowing wedding dress skirt" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m">Thoughtfully Designed</p>
        <p class="sans-m">Melissa Sweet gowns are perfect for modern romantics. The soft silhouettes and exquisite fabrics are refined, but with a certain ease and femininity.</p>
      </div>
    </div>

    <!-- Round Image Left / Quote Right -->
    <div class="two-columns">
      <div class="column">
        <div class="column__img">
          <a href="/wedding-dresses/melissa-sweet">
            <img src="/wcsstore/images/wwcm/designers/melissa-sweet/767_Circle_MelissaSweet.jpg" class="img-round" alt="Close up of bride sitting in a garden with floral headband" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="ldquo serif-l">&ldquo;</p>
            <p class="serif-s-italic">A dress isn't finished until it looks like it fell from heaven.</p>
            <p class="sans-xs">&mdash; Melissa Sweet</p>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- A Few Favorites -->
    <div class="few-favorites">
      <div class="few-favorites__heading">
        <h3 class="serif-m-italic">A few favorites</h3>
      </div>
      <div class="few-favorites__flex">

        <!-- MS251190 -->
        <div class="column">
          <a href="/Product_pressed-flower-tulle-a-line-wedding-dress-ms251190">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251190-10953017-Stone?$plpproductimgmobile_2up$" alt="Pressed Flower Tulle A-Line Wedding Dress">
          </a>
        </div>

        <!-- MS251192 -->
        <div class="column">
          <a href="/Product_lace-high-neck-halter-sheath-wedding-dress-ms251192">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251192-10967355-Ivory?$plpproductimgmobile_2up$" alt="Lace High-Neck Halter Sheath Wedding Dress">
          </a>
        </div>

        <!-- MS251187 -->
        <div class="column">
          <a href="/Product_butterfly-appliqued-tulle-a-line-wedding-dress-ms251187">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251187-10924288-Ivory_Antique%20Mauve?$plpproductimgmobile_2up$" alt="Butterfly Appliqued Tulle A-Line Wedding Dress">
          </a>
        </div>

        <!-- MS251173 -->
        <div class="column">
          <a href="/Product_melissa-sweet-linear-lace-wedding-dress-ms251173">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251173-10650135-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Melissa Sweet  Linear Lace Wedding Dress">
          </a>
        </div>

        <!-- MS251177 -->
        <div class="column">
          <a href="/Product_scalloped-a-line-wedding-dress-with-double-straps-ms251177">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251177-10757008-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Scalloped A-Line Wedding Dress with Double Straps">
          </a>
        </div>

        <!-- MS251185 -->
        <div class="column">
          <a href="/Product_embroidered-and-beaded-lace-sheath-wedding-dress-ms251185">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251185-10848859-Ivory_Cloud?$plpproductimgmobile_2up$" alt="Embroidered and Beaded Lace Sheath Wedding Dress">
          </a>
        </div>
      </div>
    </div>
  </section>



  <section class="wedding-inspiration-banner">
    <p class="serif-m-italic">Want more wedding inspiration?</p>
    <p class="btn btn-secondary">
      <a href="/Content_StyleandFashionGuide_romanticgardenweddingideas">See Wedding Romantic Ideas</a>
    </p>
  </section>


  <section class="our-db-brides">
    <div class="our-db-brides__heading">
      <h3 class="our-db-brides__heading-main serif-m-italic">Our Melissa Sweet brides</h3>
      <p class="our-db-brides__heading-cta sans-bold-uppercase">
        <a href="/Content_Curations_bridal">See More <span class="sm-hidden">Inspiration From Real Brides</span>&nbsp;&gt;</a>
      </p>
    </div>
    <div class="our-db-brides__flex">
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/melissa-sweet/MelissaSweet_UGC_1.jpg" alt="Real bride wearing lace Melissa Sweet gown and dancing">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/melissa-sweet/MelissaSweet_UGC_2.jpg" alt="Real bride wearing Melissa Sweet wedding dress in front of a blue door with her groom">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/melissa-sweet/MelissaSweet_UGC_3.jpg" alt="Real bride wearing Melissa Sweet wedding dress embracing her groom in rustic outdoor setting">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/melissa-sweet/MelissaSweet_UGC_4.jpg" alt="Real bride wearing long sleeve lace Melissa Sweet gown walking outdoors with flowers">
        </a>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear to Every Wedding Event" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">What to Wear to Every Wedding Event</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dress &aamp; More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_jewelrynecklines">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Neckline &amp; Jewelry Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

</main>
