<main role="main" class="content-page">

  <!-- hero -->
  <section class="hero-video">

    <div class="hero-video__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eofippm2iVU?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=eofippm2iVU" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hero-video__video--cover">&nbsp;</div>

    <div class="hero-video__caption">
      <img src="/wcsstore/images/wwcm/designers/oleg-cassini/Oleg_Cassini_R_logo_black.png" alt="Oleg Cassini Logo">
      <p class="sans-m">Elegant wedding dresses from $758<br>and bridesmaid dresses from $159.95,<br>exclusively at David's Bridal</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/oleg-cassini">Shop Wedding Dresses&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/bridesmaid-dresses/oleg-cassini-bridesmaid-dresses">Shop Bridesmaid Dresses&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_olegcassinilocations">Find a Store&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="portrait-quote">
    <div class="portrait-quote__img">
      <img src="/wcsstore/images/wwcm/designers/oleg-cassini/Oleg_Circle1_767.jpg" alt="Oleg Cassini black and white portrait">
    </div>
    <div class="portrait-quote__text">
      <!-- <p class="serif-m">&rdquo;</p> -->
      <p class="serif-s-italic">To be well dressed is a little like<br class="md-hidden lg-hidden"> being in love.</p>
      <p class="sans-m">&mdash;&nbsp;Oleg Cassini</p>
    </div>
  </section>


  <!-- Oleg Cassini -->
  <section class="container-full">

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <img src="/wcsstore/images/wwcm/designers/oleg-cassini/767_Vertical_OlegCassini_RoyalTouches.jpg" alt="Bride in lace wedding dress sitting in a director's chair on a movie set" />
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m gigya-title">Royal Touches</p>
        <p class="sans-m gigya-description">Each Oleg Cassini gown is crafted with luxurious fabrics, intricate appliqu&eacute;s, and fine beadwork, perfect for the bride with an eye for elegance.</p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <img src="/wcsstore/images/wwcm/designers/oleg-cassini/767_Vertical_OlegCassini_PolishedParty.jpg" alt="Two bridesmaids wearing light purple dresses walking through movie set" />
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m gigya-title">Polished Party</p>
        <p class="sans-m gigya-description">Available in sizes 0-30, the new bridesmaid dresses match the elegance of Oleg Cassini bridal styles and come in a palette of sophisticated colors&mdash;from petal pink to marine blue&mdash;that blend together beautifully.</p>
      </div>
    </div>

    <!-- Round Image Left / Quote Right -->
    <!-- <div class="two-columns">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/Oleg_Circle_767_Bridal.jpg" alt="close up of bride with silver veil and high-neck lace wedding gown" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="portrait">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/Oleg_Circle1_767.jpg" alt="portrait of Oleg Cassini">
        </div>

        <div class="quote">
          <blockquote>
            <p class="ldquo serif-l">&ldquo;</p>
            <p class="serif-s-italic">To be well dressed is a little like being in love.</p>
            <p class="sans-xs">&mdash; Oleg Cassini</p>
          </blockquote>
        </div>
      </div>
    </div> -->


  </section>


  <section class="hero">
    <div class="hero__img">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/oleg-cassini/767_Hero2_OlegCassini.jpg" alt="Bride on a movie set looking over her right shoulder">
      <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/oleg-cassini/1600_Hero2_OlegCassini.jpg" alt="Bride on a movie set looking over her right shoulder">
    </div>

    <!-- Appointment Banner -->
    <div class="appointment-banner">
      <p class="serif-m-italic">Enter for a chance to win your gown or 5 bridesmaid dresses</p>
      <p class="btn btn-secondary">
        <a href="/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">Sign Up Now</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
      </p>
    </div>

    <div class="hero__video">
      <div class="hero__video-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qn-hJfQJ7_o?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=qn-hJfQJ7_o" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="hero__video-text">
        <p class="hero__video-title serif-m">Designed, stitched, and adorned by hand.</p>
        <p class="hero__video-cta sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">See the Story of a Gown&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>



  <section class="container-full">
    <!-- A Few Favorites -->
    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A few favorites</p>
      </div>
      <div class="flex-2-3-6">

        <div class="column">
          <a href="/Product_off-the-shoulder-plus-size-a-line-wedding-dress-8cwg765">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8CWG765-10760036-Ivory?$plpproductimgmobile_2up$" alt="Off-The-Shoulder Plus Size A-Line Wedding Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_english-rose-lace-ball-gown-wedding-dress-cwg803">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG803-10971140-Ivory?$plpproductimgmobile_2up$" alt="English Rose Lace Ball Gown Wedding Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_cap-sleeve-plunging-v-neck-sheath-wedding-dress-cwg807">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG807-10978111-Ivory_Cashmere?$plpproductimgmobile_2up$" alt="Cap Sleeve Plunging V-Neck Sheath Wedding Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_appliqued-illusion-faille-bridesmaid-dress-oc290023">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OC290023-10889784-Marine?$plpproductimgmobile_2up$" alt="Appliqued Illusion Faille Bridesmaid Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_embroidered-long-strapless-bridesmaid-dress-oc290028">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OC290028-10889539-Biscotti?$plpproductimgmobile_2up$" alt="Embroidered Long Strapless Bridesmaid Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_beaded-lace-off-the-shoulder-mermaid-wedding-dress-xtcwg808-xtcwg808-32492--1">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-XTCWG808-10996362-Ivory_Stone?$plpproductimgmobile_2up$" alt="Beaded Lace Off-the-Shoulder Mermaid Wedding Dress">
          </a>
        </div>

      </div>
    </div>
  </section>


  <section class="container">
    <div class="two-columns reverse md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <img src="/wcsstore/images/wwcm/designers/oleg-cassini/767_Vertical_OlegCassini_IconicStyle.jpg" alt="Three bridesmaids wearing black dresses with their arms around each other" />
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m gigya-title">Iconic Style</p>
        <p class="sans-m gigya-description">Oleg Cassini is known for creating some of the most memorable moments in fashion history as a designer for Grace Kelly and First Lady Jacqueline Kennedy. The collection&mdash;now including bridesmaid dresses&mdash;features classic silhouettes and lavish adornments.</p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <img src="/wcsstore/images/wwcm/designers/oleg-cassini/767_Vertical_OlegCassini_TimelessBeauty.jpg" alt="Bride turning around to the camera wearing a long veil and tiara" />
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m gigya-title">Timeless Beauty</p>
        <p class="sans-m gigya-description">Oleg Cassini once said that designing a wedding gown is "perhaps the most special task," and the dresses that bear his name reflect the utmost devotion to detail.</p>
      </div>
    </div>
  </section>


  <section class="wedding-inspiration-banner">
    <p class="serif-m-italic">Want more wedding inspiration?</p>
    <p class="btn btn-secondary">
      <a href="/Content_StyleandFashionGuide_traditionalweddings">See Formal Wedding Ideas</a>
    </p>
  </section>


  <section class="our-db-brides">
    <div class="our-db-brides__heading">
      <h3 class="our-db-brides__heading-main serif-m-italic">Our Oleg Cassini brides</h3>
      <p class="our-db-brides__heading-cta sans-bold-uppercase">
        <a href="/Content_Curations_bridal">See More <span class="sm-hidden">Inspiration From Real Brides</span>&nbsp;&gt;</a>
      </p>
    </div>
    <div class="our-db-brides__flex">
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/OlegCassini_UGC_1.jpg" alt="Mother of the bride helping bride put on her veil">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/OlegCassini_UGC_2.jpg" alt="Bride laying down with the back of her dress skirt spread out beneath her">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/OlegCassini_UGC_3.jpg" alt="Bride taking selfie with bridesmaids">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/oleg-cassini/OlegCassini_UGC_4.jpg" alt="Close up of groom holding bride and showing the detail of her dress">
        </a>
      </div>
    </div>
  </section>


  <section class="container-full" style="display: none;">
    <!-- A Few Favorites -->
    <div class="as-seen-in">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">As seen in</p>
      </div>
      <div class="flex-2-3-6">

        <!-- CWG782 -->
        <div class="column">
          <a href="/Product_illusion-lace-long-sleeve-sheath-wedding-dress-cwg782">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG782-10848886-Ivory_Cloud?$plpproductimgmobile_2up$" alt="Illusion Lace Long-Sleeve Sheath Wedding Dress">
          </a>
        </div>

        <!-- V2018 -->
        <div class="column">
          <a href="/Product_rose-gold-embroidered-cathedral-veil-v2018">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V2018-10757751-Rose%20Gold?$plpproductimgmobile_2up$" alt="Rose Gold Embroidered Cathedral Veil">
          </a>
        </div>

        <!-- CWG780 -->
        <div class="column">
          <a href="/Product_beaded-lace-wedding-dress-with-pleated-skirt-cwg780">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG780-10893393-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Beaded Lace Wedding Dress with Pleated Skirt">
          </a>
        </div>

        <!-- CWG791 -->
        <div class="column">
          <a href="/Product_crystal-encrusted-mikado-ball-gown-wedding-dress-cwg791">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG791-10894119-Ivory?$plpproductimgmobile_2up$" alt="Crystal Encrusted Mikado Ball Gown Wedding Dress">
          </a>
        </div>

        <!-- OC290023 -->
        <div class="column">
          <a href="/Product_appliqued-illusion-faille-bridesmaid-dress-oc290023">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OC290023-10889784-Biscotti?$plpproductimgmobile_2up$" alt="Appliqued Illusion Faille Bridesmaid Dress">
          </a>
        </div>

        <!-- CMK513 -->
        <div class="column">
          <a href="/Product_oleg-cassini-cap-sleeve-illusion-wedding-dress-cmk513">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CMK513-10149955-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Cap Sleeve Illusion Wedding Dress">
          </a>
        </div>

      </div>
    </div>
  </section>


  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_headpiecestyleguide">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_HeadpieceGuide.jpg" alt="Headpiece Guide" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Headpiece Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_headpiecestyleguide">From Veils to Flower Crowns&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_jewelrynecklines">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Neckline &amp; Jewelry Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

</main>
