<main role="main" class="content-page">

  <!-- hero -->
  <section class="hero bg-dark-gray">

    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>

    <div class="hero__flex">
      <div class="column">
        <a href="/wedding-dresses/white-by-vera-wang">
          <picture>
            <source media="(max-width: 767px)" srcset="/wcsstore/images/wwcm/designers/vera-wang/WVWhero_767.jpg">
            <source media="(min-width: 768px)" srcset="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Hero_Desktop.jpg">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/WVWhero_767.jpg" alt="Bride in black wedding dress with black veil holding small bouquet of red flowers close">
          </picture>
        </a>
      </div>
      <div class="column">
        <div class="hero__logo">
          <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Logo_Large.jpg" alt="White by Vera Wang Logo">
        </div>
        <div class="hero__video">
          <!-- Mobile Video -->
          <iframe class="md-hidden lg-hidden" width="1920" height="1080" src="https://www.youtube.com/embed/vmAPZMHeNss?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=vmAPZMHeNss" frameborder="0" allowfullscreen></iframe>
          <!-- Tablet/Desktop Video -->
          <iframe class="sm-hidden" width="768" height="486" src="https://www.youtube.com/embed/93NCVyxQpDM?autoplay=1&controls=1&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=93NCVyxQpDM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </section>



  <!-- Appointment Banner -->
  <section class="appointment-banner bg-dark-gray">
    <p class="sans-l">Enter for a chance to win your gown or 5 bridesmaid dresses</p>
    <p class="btn btn-secondary">
      <a href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">Sign Up Now</a>
    </p>
    <p class="sans-bold-uppercase">
      <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment&nbsp;&gt;</a>
    </p>
  </section>



  <section class="vera-wang">
    <div class="vera-wang__flex">

      <div class="column">
        <div class="vera-wang__about">
          <div class="vera-wang__about-portrait">
            <img class="img-round" src="/wcsstore/images/wwcm/designers/vera-wang/VeraWangPortrait.jpg" alt="Portrait of designer Vera Wang">
          </div>
          <div class="vera-wang__about-logo">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/ModernLove.png" alt="Modern Love logo">
          </div>
        </div>
        <div class="vera-wang__text">
          <p class="sans-m">After getting her start at <em>Vogue</em> and Ralph Lauren, designer Vera Wang opened her flagship store in New York City in 1990, forever changing the bridal industry.</p>
          <p class="sans-m">Vera Wang wedding dresses are known around the world for their sophisticated drama and feminine detailing, perfect for the modern bride.</p>
          <p class="sans-m">In 2010, Wang partnered with David's Bridal to create an exlcusive collection. "When someone tries on a Vera Wang dress...they know that they have the very best part of me," she says.</p>
          <p class="sans-m">White by Vera Wang bridal gowns, bridesmaid dresses, and accessories showcase Wang's signature style and turn wedding dreams into reality.</p>
          <!-- <p class="sans-m">White by Vera Wang includes wedding dresses in regular, petite, plus, and extra-length sizes.</p> -->
          <p class="btn btn-secondary">
            <a class="sans-bold-uppercase" href="/wedding-dresses/white-by-vera-wang">Shop Wedding Dresses</a>
          </p>
          <div class="vera-wang__text-ctas">
            <p class="sans-bold-uppercase">
              <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">Shop Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3002633&storeId=10052&langId=-1#!&facet:3074457345616666671871041051161013298121328610111497328797110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,White%20by%20Vera%20Wang&">Shop Accessories&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/Content_Bridal_verawangexpstores">Find a Store&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flex-split-2">
          <div class="col">
            <a href="/wedding-dresses/white-by-vera-wang">
              <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row1_1.jpg" alt="Bride wearing Appliquéd Chantilly Trumpet Wedding Dress with wispy veil">
            </a>
          </div>
          <div class="col">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row1_2.jpg" alt="Bridesmaid wearing black dress holding small bouquet of red flowers">
          </div>
        </div>
        <div class="flex-split-2">
          <div class="col">
            <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">
              <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row2_1.jpg" alt="Bridesmaids wearing matching cream dresses linking arms">
            </a>
          </div>
          <div class="col">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row2_quote.gif" alt="It's not just another dress. It's the dress that you'll remember FOREVER.">
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="flex-1-2">
    <div class="column">
      <a href="/SearchDisplay?categoryId=3002633&storeId=10052&langId=-1#!&facet:3074457345616666671871041051161013298121328610111497328797110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,White%20by%20Vera%20Wang&">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row3_1.jpg" alt="Pointed-toe cross-strap heels with crystal back">
      </a>
    </div>
    <div class="column">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row3_2.jpg" alt="Bride wearing black ball gown wedding dress with matching veil">
      </a>
    </div>
    <div class="column">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row3_3.jpg" alt="Bride wearing high neck illusion neckline gown with wired tiara and undone hair">
      </a>
    </div>
  </section>




  <section class="quote-video">
    <div class="column">
      <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row4_quote.gif" alt="For most women a wedding gown represents far more than just a dress. It is also the embodiment of a DREAM.">
    </div>
    <div class="column">
      <div class="quote-video__video">
        <!-- Mobile Video -->
        <iframe class="md-hidden lg-hidden" width="1920" height="1080" src="https://www.youtube.com/embed/_4f9z1aMRg8?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=_4f9z1aMRg8" frameborder="0" allowfullscreen></iframe>
        <!-- Tablet/Desktop Video -->
        <iframe class="sm-hidden" width="798" height="788" src="https://www.youtube.com/embed/BiyWVknAxUM?autoplay=1&controls=1&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=BiyWVknAxUM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>




  <section class="quote-video">
    <div class="column">
      <div class="quote-video__video">
        <!-- Mobile Video -->
        <iframe class="md-hidden lg-hidden" width="1920" height="1080" src="https://www.youtube.com/embed/W4Depmt2tFs?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=W4Depmt2tFs" frameborder="0" allowfullscreen></iframe>
        <!-- Tablet/Desktop Video -->
        <iframe class="sm-hidden" width="798" height="788" src="https://www.youtube.com/embed/HGKcXe9soFE?autoplay=1&controls=1&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=HGKcXe9soFE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="column">
      <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row5_quote.gif" alt="A wedding gown is about SELF-EXPRESSION, and the bride should choose a dress that reflects who she is above all else.">
    </div>
  </section>





  <section class="flex-1-2">
    <div class="column">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row6_1.jpg" alt="Bride wearing layered tulle one-shoulder a-line wedding dress with bows">
      </a>
    </div>
    <div class="column">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row6_2.jpg" alt="Bride wearing a one shoulder sheath wedding dress with crystals">
      </a>
    </div>
    <div class="column">
      <a href="/wedding-dresses/white-by-vera-wang">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row6_3.jpg" alt="Bride wearing a White by Vera Wang bias-tier trumpet wedding dress">
      </a>
    </div>
  </section>




  <section class="flex-1-2">
    <div class="column">
      <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row7_1.jpg" alt="Bridesmaid with undone hair wearing coral colored one shoulder dress with ruching at the waist">
      </a>
    </div>
    <div class="column">
      <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/VeraWang_Row7_2.jpg" alt="Wine colored open back bridesmaid dress with across the back straps">
      </a>
    </div>
    <div class="column">
      <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">
        <img src="/wcsstore/images/wwcm/designers/vera-wang/Mens-Warehouse-VW.jpg" alt="Black and white photo of groom in black tuxedo | black by VERA WANG">
      </a>
    </div>
  </section>




  <section class="wedding-inspiration-banner bg-dark-gray">
    <p class="serif-m-italic">Want more wedding inspiration?</p>
    <p class="btn btn-secondary">
      <a href="/Content_StyleandFashionGuide_weddingthemes">See Wedding Theme Ideas</a>
    </p>
  </section>


  <!-- A Few Favorites -->
  <section class="few-favorites">
    <div class="few-favorites__inner">
      <div class="few-favorites__heading">
        <h3 class="serif-m-italic">A few favorites</h3>
      </div>
      <div class="few-favorites__flex">
        <div class="column">
          <a href="/Product_white-by-vera-wang-illusion-floral-wedding-dress-vw351426">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351426-10926722-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Illusion Floral Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_white-by-vera-wang-textured-organza-wedding-dress-vw351178">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351178-10177011-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Textured Organza Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_white-by-vera-wang-short-sleeve-lace-wedding-dress-vw351312">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351312-10678870-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Short Sleeve Lace Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_v-neck-halter-gown-with-sash-vw360214">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360214-10277801-Ebony?$plpproductimgmobile_2up$" alt="V Neck Halter Gown with Sash">
          </a>
        </div>
        <div class="column">
          <a href="/Product_charmeuse-and-chiffon-bridesmaid-dress-vw360345">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360345-10828532-Valentina?$plpproductimgmobile_2up$" alt="Charmeuse and Chiffon Bridesmaid Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_white-by-vera-wang-high-neck-halter-wedding-dress-vw351263">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351263-10465242-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang High Neck Halter Wedding Dress">
          </a>
        </div>
      </div>
    </div>
  </section>



  <section class="our-db-brides bg-dark-gray">
    <div class="our-db-brides__inner">
      <div class="our-db-brides__heading">
        <h3 class="our-db-brides__heading-main serif-m-italic">Our White by Vera Wang brides</h3>
        <p class="our-db-brides__heading-cta sans-bold-uppercase">
          <a href="/Content_Curations_bridal">See More Inspiration From Real Bride&nbsp;&gt;</a>
        </p>
      </div>
      <div class="our-db-brides__flex">
        <div class="column">
          <a href="/Content_Curations_bridal">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/Vera_Wang_UGC_1.jpg" alt="Bride laughing amongst bridesmaids in black holding white and green bouquets">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_bridal">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/Vera_Wang_UGC_2.jpg" alt="Bride showing the back of her ruffled biased-tier mermaid wedding dress">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_bridal">
            <img src="/wcsstore/images/wwcm/designers/vera-wang/Vera_Wang_UGC_3.jpg" alt="Bridesmaids in light pink lined up around bride with matching white bouquets">
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressDesigners">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Our Brands</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something For Every Style&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear: Every Wedding Event" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">What to Wear: Every Wedding Event</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dresses & More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

</main>
