<main role="main" class="content-page">


  <!-- hero -->
  <section class="hero">
    <div class="hero__img">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/designers/zac-posen/1804019_Designer_TZP_767Hero.jpg" alt="Smiling bride in white Zac Posen wedding gown holder floral bouquet">
      <img class="sm-hidden" src="/wcsstore/images/wwcm/designers/zac-posen/1804019_Designer_TZP_1600Hero.jpg" alt="Smiling bride in white Zac Posen wedding gown holder floral bouquet">
    </div>

    <div class="hero__caption">
      <img src="/wcsstore/images/wwcm/designers/zac-posen/Truly_Zac_Logo_TM_BLACK.png" alt="Truly Zac Posen Logo">
      <p class="sans-m">Glamorous wedding dresses from $858<br>and occasion dresses from $199.95,<br>exclusively at David's Bridal</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/truly-zac-posen">Shop Truly Zac Posen Wedding Dresses&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/bridesmaid-dresses/truly-zac-posen-bridesmaids">Shop Truly Zac Posen Occasion Dresses&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Bridal_zpexpstores">Find a Store&nbsp;&gt;</a>
      </p>
    </div>

    <div class="hero__credit">
      <p class="sans-xxs">Photos by: Matthew Ree for Style Me Pretty</p>
    </div>
  </section>


  <section class="portrait-quote">
    <div class="portrait-quote__img">
      <img src="/wcsstore/images/wwcm/designers/zac-posen/Zac-Posen-Portrait.jpg" alt="Zac Posen black and white portrait">
    </div>
    <div class="portrait-quote__text">
      <!-- <p class="serif-m">&rdquo;</p> -->
      <p class="serif-s-italic">Amazing detailing, signature elements. Amazing fit and cut. I&nbsp;really try to service all body types.</p>
      <p class="sans-m">&mdash;&nbsp;Zac Posen</p>
    </div>
  </section>


  <!-- Appointment Banner -->
  <section class="appointment-banner">
    <p class="serif-m-italic">Enter for a chance to win your gown or 5 bridesmaid dresses</p>
    <p class="btn btn-secondary">
      <a href="/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=&langId=-1&storeId=10052&">Sign Up Now</a>
    </p>
    <p class="sans-bold-uppercase">
      <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
    </p>
  </section>


  <!-- Melissa Sweet -->
  <section class="container-full">

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/truly-zac-posen">
              <img src="/wcsstore/images/wwcm/designers/zac-posen/1804019_Designer_TZP_Vertical1.jpg" alt="Bride in ruffled ball gown holding all white floral bouquet" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m">From Zac, with Love</p>
        <p class="sans-m">"These dresses are my love not to the bride on her most special day," says Zac Posen, the designer behind <a class="inline-link" href="/wedding-dresses/truly-zac-posen">Truy Zac Posen</a>. His namesake collection of dresses and couture wedding dresses have been worn by leading women including Michelle Obama, Uma Thurman, Gwyneth Paltrow, Naomi Watts, Rihanna, and Coco Rocha.</p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/truly-zac-posen">
              <img src="/wcsstore/images/wwcm/designers/zac-posen/1804019_Designer_TZP_Vertical2.jpg" alt="Bride in sleek mermaid bridal gown standing at bar waiting for a drink" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div class="social-share__icons">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="serif-m">A Glamorous Partnership</p>
        <p class="sans-m">In 2014, Posen joined David's Bridal to create an exclusive collection of formal, fitted <a class="inline-link" href="/wedding-dresses/truly-zac-posen">wedding dresses</a> and <a class="inline-link" href="/bridesmaid-dresses/truly-zac-posen-bridesmaids">occasion dresses</a>. The line features Posen's signature architectural seaming, body-contouring silhouettes, and alluring details.</p>
      </div>
    </div>

    <!-- Round Image Left / Quote Right -->
    <div class="two-columns">
      <div class="column">
        <div class="column__img">
          <a href="/wedding-dresses/melissa-sweet">
            <img src="/wcsstore/images/wwcm/designers/zac-posen/1804019_Designer_TZP_Mobile_Circle.jpg" class="img-round" alt="Two bridesmaids in red bridesmaids dresses holder flowers" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="ldquo serif-l">&ldquo;</p>
            <p class="serif-s-italic">When you're wearing Truly Zac Posen&mdash;whether it's a bridal gown or special occasion dress&mdash;all eyes in the room will be on you.</p>
            <p class="sans-xs">&mdash;&nbsp;Zac Posen</p>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- A Few Favorites -->
    <div class="few-favorites">
      <div class="few-favorites__heading">
        <h3 class="serif-m-italic">A few favorites</h3>
      </div>
      <div class="few-favorites__flex">

        <div class="column">
          <a href="/Product_truly-zac-posen-pleated-organza-wedding-dress-zp341817">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341817-10925164-Ivory?$plpproductimgmobile_2up$" alt="Truly Zac Posen Pleated Organza Wedding Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_truly-zac-posen-horsehair-tier-skirt-wedding-dress-zp341835">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341835-10925105-Ivory?$plpproductimgmobile_2up$" alt="Truly Zac Posen Horsehair Tier Skirt Wedding Dress">
          </a>
        </div>

        <div class="column">
          <a href="/Product_halter-tie-tulle-ball-gown-wedding-dress-with-lace-zp341834">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341834-10977593-Soft%20White?$plpproductimgmobile_2up$" alt="Halter-Tie Tulle Ball Gown Wedding Dress with Lace">
          </a>
        </div>

        <div class="column">
          <a href="/Product_off-the-shoulder-satin-and-tulle-mermaid-gown-zp281818">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP281818-10956616-Wine?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Satin and Tulle Mermaid Gown">
          </a>
        </div>

        <div class="column">
          <a href="/Product_high-low-satin-ball-gown-with-soutache-ruffle-zp281808">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP281808-10962317-Black?$plpproductimgmobile_2up$" alt="High-Low Satin Ball Gown with Soutache Ruffle">
          </a>
        </div>

        <div class="column">
          <a href="/Product_cap-sleeve-satin-mermaid-wedding-dress-with-v-neck-zp341837">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341837-10977575-Champagne?$plpproductimgmobile_2up$" alt="Cap Sleeve Satin Mermaid Wedding Dress with V-Neck">
          </a>
        </div>
      </div>
    </div>
  </section>



  <section class="wedding-inspiration-banner">
    <p class="serif-m-italic">Want more wedding inspiration?</p>
    <p class="btn btn-secondary">
      <a href="/Content_StyleandFashionGuide_GlamorousWeddingIdeas">See Glamorous Wedding Ideas</a>
    </p>
  </section>


  <section class="our-db-brides">
    <div class="our-db-brides__heading">
      <h3 class="our-db-brides__heading-main serif-m-italic">Our Truly Zac Posen brides</h3>
      <p class="our-db-brides__heading-cta sans-bold-uppercase">
        <a href="/Content_Curations_bridal">See More <span class="sm-hidden">Inspiration From Real Brides</span>&nbsp;&gt;</a>
      </p>
    </div>
    <div class="our-db-brides__flex">
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/zac-posen/TrulyZacPosen_UGC_1.jpg" alt="Bride leaning forward and laughing holding a white and yellow bouquet">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/zac-posen/TrulyZacPosen_UGC_2.jpg" alt="Bride standing against groom's back while he has his hands covering his eyes">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/zac-posen/TrulyZacPosen_UGC_3.jpg" alt="Black and white image of bride with an off the shoulder wedding dress looking off to the side">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/designers/zac-posen/TrulyZacPosen_UGC_4.jpg" alt="Groom spinning bride and holding her bouquet">
        </a>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear to Every Wedding Event" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">What to Wear to Every Wedding Event</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dress &aamp; More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_jewelrynecklines">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Neckline &amp; Jewelry Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

</main>
