<style media="screen">
.real-brides {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px;
  background: #fef9f2;
  max-width: 100%;
  margin: 30px auto; }
  @media screen and (min-width: 768px) {
    .real-brides {
      padding: 30px 10px; } }
  .real-brides__inner {
    max-width: 1262px;
    margin: 0 auto; }
    .real-brides__inner p.serif-l-italic {
      font-size: 22px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .real-brides__inner p.serif-l-italic {
          font-size: 28px; } }
  .real-brides__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    clear: both;
    margin-left: -5px;
    margin-right: -5px;
    flex-position: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .real-brides__imgs {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: -10px;
        margin-right: -10px; } }
    .real-brides__imgs .column {
      width: 50%;
      padding: 5px;
      position: relative; }
      @media screen and (min-width: 500px) {
        .real-brides__imgs .column {
          width: 25%;
          padding: 5px; } }
      @media screen and (min-width: 768px) {
        .real-brides__imgs .column {
          width: 20%;
          padding: 10px; } }
  .real-brides__text {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    max-width: 220px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .real-brides__text {
        max-width: 100%; } }
    .real-brides__text p.sans-m {
      padding: 10px 0; }
  .real-brides .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .real-brides .btn-pink a {
      background: #f93777;
      color: #fff;
      padding: 11px 50px; }
      .real-brides .btn-pink a:hover, .real-brides .btn-pink a:focus, .real-brides .btn-pink a:active {
        background: #f60756; }

</style>

<section class="real-brides" data-analytics-tagging="RealBridesUGC">

  <div class="real-brides__inner">
    <p class="serif-l-italic">#DBAccessories</p>

    <div class="real-brides__imgs">
      <div class="column media-block">
        <a href="/Content_Curations_accessories" class="media-block-img-wrap">
          <img class="media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/UGC_DBAccessories_1.jpg" alt="bride standing in long white lace wedding gown with long veil" />
        </a>
      </div>
      <div class="column media-block">
        <a href="/Content_Curations_accessories" class="media-block-img-wrap">
          <img class="media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/UGC_DBAccessories_2.jpg" alt="bride standing in long white lace wedding gown with long veil" />
        </a>
      </div>
      <div class="column mobile-hidden media-block">
        <a href="/Content_Curations_accessories" class="media-block-img-wrap">
          <img class="media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/UGC_DBAccessories_3.jpg" alt="wide brimmed hat that says happily ever after" />
        </a>
      </div>
      <div class="column media-block">
        <a href="/Content_Curations_accessories" class="media-block-img-wrap">
          <img class="media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/UGC_DBAccessories_4.jpg" alt="fives pairs of shoes in a circle" />
        </a>
      </div>
      <div class="column media-block">
        <a href="/Content_Curations_accessories" class="media-block-img-wrap">
          <img class="media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/UGC_DBAccessories_5.jpg" alt="fives pairs of shoes in a circle" />
        </a>
      </div>
    </div>

    <div class="real-brides__text">
      <p class="sans-m">Share your #DBAccessories style!</p>
      <p class="btn btn-pink">
        <a href="/Content_Curations_accessories" class="sans-bold-uppercase">See More</a>
      </p>
    </div>
  </div>

</section>
