

<section class="espot-container three-across" data-analytics-tagging="BeltsSashes-SlipsShapewear-CompleteLook">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      

      <div class="column" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/sashes-and-belts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/accessories/767px_Vertical_CLP_Module_Sashes.jpg" alt="Bride wearing rhinestone belt" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Belts & Sashes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/sashes-and-belts">Shop Belts & Sashes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

<div class="column" data-analytics-position="Module_5">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/shapewear-and-slips">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/Vertical_Cat_Crop_Shapewear.jpg" alt="bride in slip holding wedding gown" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Slips & Shapewear</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/shapewear-and-slips">Shop Foundations&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_6">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_WeddingAccessories">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/accessories/767px_Vertical_CLP_Module_CompleteYourLook.jpg" alt="Bride in sleeveless wedding dress and veil" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Completing Your Look</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_WeddingAccessories">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>



  </div>
</section>
