<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_WeddingGownPreservation.jpg" alt="bride smiling in white dress and necklace">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Preserve Your Wedding Dress</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">Shop Preservation Kit&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/robes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_Robes.jpg" alt="Girls wearing floral print robes">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Robes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/robes">Shop Robes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-gifts/all-wedding-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_Gifts.jpg" alt="two women in black shirts that say bride and bridesmaid">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Gifts</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-gifts/all-wedding-gifts">Shop Style From $9.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_Favors.jpg" alt="wedding china set up for a wedding with a placecard, dessert and silver 'love' ornament">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Favors</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">Shop Favors from $1&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
