<style media="screen">
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

[class^="serif"] {
  margin: 0; }

.promo-bannerwgp {
  max-width: 1262px;
  margin: 10px auto 30px;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  min-height: 200px; }
  @media screen and (min-width: 500px) {
    .promo-bannerwgp {
      margin: 30px auto; } }
  .promo-bannerwgp .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerwgp .serif-l-italic {
      font-size: 28px;
      line-height: 36px; } }
  .promo-bannerwgp .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 46.875em) {
    .promo-bannerwgp .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .promo-bannerwgp .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .promo-bannerwgp .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .promo-bannerwgp .sans-m-bold-uppercase a,
  .promo-bannerwgp .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .promo-bannerwgp .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .promo-bannerwgp__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff;
	
	
	}
  .promo-bannerwgp__text {
    padding: 15px; }
    @media screen and (min-width: 768px) {
      .promo-bannerwgp__text {
        padding: 45px; } }
    @media screen and (min-width: 1024px) {
      .promo-bannerwgp__text {
        padding: 45px; } }
  .promo-bannerwgp__headlinewgp {
    display: block;
    padding-top: 5px; }
    @media screen and (min-width: 500px) {
      .promo-bannerwgp__headlinewgp {
        padding-top: 5px; } }
    @media screen and (max-width: 767px) {
      .promo-bannerwgp__headlinewgp {
        padding-top: 15px; } }
  .promo-bannerwgp__subheadline {
    display: block;
    padding: 5px 0px 10px; }
    @media screen and (min-width: 500px) {
      .promo-bannerwgp__subheadline {
        padding: 5px 0px 10px; } }
   @media screen and (min-width: 768px) {
      .promo-bannerwgp__subheadline {
        display: inline-block;
		padding: 0px 0px 0px; } }
		
  .promo-bannerwgp__cta {
    display: block;
    padding: 10px 0 0; }
    @media screen and (min-width: 500px) {
      .promo-bannerwgp__cta {
        padding: 10px 0 0; } }
    @media screen and (min-width: 768px) {
      .promo-bannerwgp__cta {
        display: inline-block;
        padding: 10px 0 0; } }
    .promo-bannerwgp__cta a {
      padding: 0 5px; }
  .promo-bannerwgp__plan-appointment {
    text-align: center;
    margin: 3px auto 0; }

</style>

<section data-analytics-tagging="Promo-Banner-Kit">
  <div class="promo-bannerwgp">
    <div class="promo-bannerwgp__inner">
      <div class="promo-bannerwgp__text">
        <div class="promo-bannerwgp__headlinewgp">
          <p class="serif-l-italic">Preserve your <br class="desktop-hidden tablet-hidden">wedding dress</p>
        </div>
        <div class="promo-bannerwgp__subheadline">
          <p class="sans-m">We make it easy to turn your gown <br class="desktop-hidden tablet-hidden">into a keepsake.</p>
        </div>
<br class="mobile-hidden">
        <div class="promo-bannerwgp__cta sans-bold-uppercase">
          <a href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">Shop Preservation Kit&nbsp;&gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<style media="screen">
.sale-banner {
  margin: 20px auto 30px; }
  .sale-banner__inner {
    background: #f15269;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1252px;
    outline: 5px solid #f15269;
    padding: 40px 10px;
    text-align: center;
    width: 100%; }
  .sale-banner h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff; }
  .sale-banner p {
    margin: 0;
    color: #fff; }
    .sale-banner p.sans-bold-uppercase a {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .sale-banner p.sans-bold-uppercase a:hover, .sale-banner p.sans-bold-uppercase a:active {
        color: #ccc; }

</style>

<section class="espot-container sale-banner" data-analytics-tagging="BMClearance">
  <a href="/sale/sale-accessories" aria-label="Shoes and accessories up to 50% off">
    <div class="sale-banner__inner">
      <p class="serif-s-italic">shoes & accessories clearance</p>
      <h3 class="serif-l-italic">up to 50% off original prices</h3>
      <p class="sans-bold-uppercase">
        <a href="/sale/sale-accessories">Shop Now&nbsp;&gt;</a>
      </p>
    </div>
  </a>
</section>
