

<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>

<section class="espot-container three-across" data-analytics-tagging="HairAccessories-WeddingVeil-Jewelry">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/hair-accessories">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/accessories/767px_Vertical_CLP_Module_Headpieces.jpg" alt="Bride wearing crystal tiara" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Hair Accessories</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/hair-accessories">Shop Tiaras, Clips, Headbands & More&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>


      <div class="column" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_veilstyleguide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/pairings_comb.jpg" alt="bride wearing crystal crown veil and crystal earrings" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Veil Guide</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_veilstyleguide">Top Off Your Look&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>


      <div class="column" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/jewelry">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/accessories/767px_Vertical_CLP_Module_Jewelry.jpg" alt="silver earring, necklace and earring set" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Jewelry</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/jewelry">STYLES STARTING AT $10&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>


      

  </div>
</section>
