

<section class="espot-container three-across" data-analytics-tagging="BridalBags-JacketsWraps-Honeymoon">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_7">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/handbags">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/767px_Accessories_Handbags.jpg" alt="Gold envelope handbag with makeup and a cell phone" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Bridal & Evening Bags</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/handbags">Shop Styles From $19.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

 

      <div class="column" data-analytics-position="Module_8">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/jackets-and-wraps">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/accessories/767px_Vertical_CLP_Module_Wraps.jpg" alt="Bride wearing sheer wrap" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Jackets & Wraps</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/jackets-and-wraps">Shop Outerwear&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

<div class="column" data-analytics-position="Module_9">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/honeymoon-essentials">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/767px_Accessories_Honeymoon.jpg" alt="Woman lounging with a sun hat and bride bathing suit" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">For the Honeymoon</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/honeymoon-essentials">Shop Honeymoon Apparel&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
