
<style type="text/css">
	.topBannerContainer { width:100%; background-color:#f8b3ae; text-align:center; margin:auto; padding:10px; font-family:'Open Sans',Verdana,Helvetica, Arial,'Droid Sans',sans-serif; font-size:11px; line-height:22px; color:#333; }     @media screen and (min-width: 768px) {.topBannerContainer { width:100%; background-color:#f8b3ae; text-align:center; margin:auto; padding:10px; font-family:'Open Sans',Verdana,Helvetica, Arial,'Droid Sans',sans-serif; font-size:12px; line-height:22px; color:#333; } }
	.topBannerHeadline { font-family:'Domaine Display','Bodoni 72','Times New Roman',Times,'Droid Serif',serif; font-size:18px; color:#333; font-style:italic; }
</style>

<section id="PLP-Promo-BOGO" style="margin-bottom:10px;" data-analytics-tagging="CLP-TopPromo-Banner">

<div class="topBannerContainer">
	<span class="topBannerHeadline" style="white-space:nowrap;">Buy one, get one 50% off <br class="desktop-hidden tablet-hidden">regular price</span>
	<br>
	<span style="white-space:nowrap;"><a href="/accessories/jewelry" style="font-weight:bold; text-decoration:none;" data-toppromo-message="Jewelry">JEWELRY&nbsp;&gt;</a></span>
	&nbsp;&nbsp;&nbsp;
	<a href="/accessories/veils" class="cta-robes" style="font-weight:bold; text-decoration:none;" data-toppromo-message="Veils">VEILS&nbsp;&gt;</a></span>
	&nbsp;&nbsp;&nbsp;
	<br class="desktop-hidden tablet-hidden">
	<span style="white-space:nowrap;"><a href="/accessories/hair-accessories" style="font-weight:bold; text-decoration:none;" data-toppromo-message="Hair Accessories">HAIR ACCESSORIES&nbsp;&gt;</a></span>

</div>

<div class="column-full align-center" style="display:block; line-height:1; margin:2px auto 0;">
  <p class="sans-xxs">*Discount in cart. Cannot be combined. </span> <a href="/Content_BuyOnline_offers" style="display:inline;" data-toppromo-message="Details"><span class="underline">Details</span></a>.</p>
</div>

</section>