<main class="content-page" role="main">

  <section class="jumbotron">
    <div class="jumbotron__img prom"></div>
    <div class="jumbotron__text">
      <p class="jumbotron__text-svg">
        <svg role="img" aria-labelledby="promTitle" viewBox="0 0 144 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="max-width: 100px;">
          <title id="promTitle">Prom</title>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Prom_Horizontal_Black" transform="translate(-265.000000, -17.000000)">
              <path d="M281.367938,41.9 L273.687938,41.9 L273.687938,59 L265.587938,59 L265.587938,17 L281.367938,17 C286.767938,17 289.947938,18.32 292.287938,20.78 C294.387938,22.94 295.587938,26.18 295.587938,29.48 C295.587938,32.78 294.387938,36.02 292.287938,38.18 C290.007938,40.58 286.767938,41.9 281.367938,41.9 Z M273.687938,34.7 L281.007938,34.7 C283.767938,34.7 285.147938,34.04 286.107938,33.02 C287.007938,32.06 287.487938,30.86 287.487938,29.48 C287.487938,28.1 287.007938,26.84 286.107938,25.88 C285.147938,24.86 283.767938,24.2 281.007938,24.2 L273.687938,24.2 L273.687938,34.7 Z M319.887938,29.54 C319.047938,29.42 318.387938,29.3 317.247938,29.3 C313.707938,29.3 310.527938,30.68 308.787938,32.84 L308.787938,29.9 L301.287938,29.9 L301.287938,59 L309.087938,59 L309.087938,40.7 C310.047938,38.96 312.747938,36.5 316.167938,36.5 C317.307938,36.5 318.447938,36.62 318.987938,36.8 L319.887938,29.54 Z M322.587938,44.48 C322.587938,36.08 329.247938,29.3 338.067938,29.3 C346.887938,29.3 353.547938,36.08 353.547938,44.48 C353.547938,52.88 346.887938,59.6 338.067938,59.6 C329.247938,59.6 322.587938,52.88 322.587938,44.48 Z M330.387938,44.48 C330.387938,48.86 333.507938,52.4 338.067938,52.4 C342.627938,52.4 345.747938,48.86 345.747938,44.48 C345.747938,40.1 342.627938,36.5 338.067938,36.5 C333.507938,36.5 330.387938,40.1 330.387938,44.48 Z M367.947938,59 L367.947938,40.1 C369.027938,38.72 371.427938,36.5 374.727938,36.5 C376.227938,36.5 377.907938,36.98 379.107938,38.3 C380.007938,39.32 380.547938,40.64 380.547938,43.28 L380.547938,59 L388.347938,59 L388.347938,43.58 C388.347938,42.38 388.227938,41.3 388.107938,40.34 C389.127938,38.84 391.767938,36.5 395.127938,36.5 C396.627938,36.5 398.307938,36.98 399.507938,38.3 C400.407938,39.32 400.947938,40.64 400.947938,43.28 L400.947938,59 L408.747938,59 L408.747938,43.58 C408.747938,39.26 407.667938,36.26 405.807938,33.98 C403.467938,31.1 399.627938,29.3 395.607938,29.3 C391.287938,29.3 387.627938,31.4 385.287938,33.86 C383.007938,31.1 379.467938,29.3 375.507938,29.3 C372.687938,29.3 369.927938,30.2 367.647938,32.24 L367.647938,29.9 L360.147938,29.9 L360.147938,59 L367.947938,59 Z" id="Prom" fill="#000000"></path>
            </g>
          </g>
        </svg>
      </p>
      <p class="sans-m">Get ready for the most amazing night of your life!</p>
    </div>
  </section>

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="container">
    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Trending Stories</p>
    </div>
    <div class="grid grid__spotlight">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Prom_lp">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PromHomecoming.jpg" alt="Three prom girls in dresses dancing with prom guy and lights in background">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Prom Trends</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Prom_lp">Check Out The Latest&nbsp;&gt;</a>
            </p>
            <p class="btn btn-secondary">
              <a href="/Content_Prom_lp" class="sans-bold-uppercase">Check Out The Latest</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/blog/style-council/tips-trends/prom-2k18-playlist">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Prom2K18Playlist.jpg" alt="Below the knee image of 4 prom girls dancing">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Prom 2K18 Playlist</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/blog/style-council/tips-trends/prom-2k18-playlist">Find It On The Blog&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.davidsbridal.com/blog/prom/prom-checklist/">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PromChecklist.jpg" alt="Prom girls in back of convertible driving along the ocean">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Prom Checklist</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.davidsbridal.com/blog/prom/prom-checklist/">Getting-Ready Tips On The Blog&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="container">
    <!-- <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Party Planning</p>
    </div> -->

    <div class="grid grid-split-1-3">
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Prom_promfashionshows">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PromFashionShows.jpg" alt="Prom girls dressed in embroidered prom dresses laughing on dance floor">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Prom Fashion Shows</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Prom_promfashionshows">Learn More&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Curations_prom">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_DavidsProm.jpg" alt="Real prom girl posing outdoors wearing red dress with back detail ">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">#DavidsProm</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Curations_prom">See The Gallery &amp; Share Your Snaps&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_DonatePromDress">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_DonateYourPromBox.jpg" alt="Prom girl in two-piece floral wine dress with lights in background">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Donate Your Prom Dress</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_DonatePromDress">Learn How&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Prom_jordynwoods">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_JordynWoodsTalksProm.jpg" alt="Jordyn Woods driving convertible for prom" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Jordyn Woods Talks Prom</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Prom_jordynwoods">Get Her Style Secrets&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/blog/style-council/tips-trends/prom-accessories-you-need">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PromAccessoriesYouNeed.jpg" alt="Prom girl in red dress with long earrings" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Prom Accessories You Need</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/blog/style-council/tips-trends/prom-accessories-you-need">Trend Tips on the Blog&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/blog/style-council/tips-trends/prom-beauty-diy-glitter-lips">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_DIYGlitterLips.jpg" alt="Close-up of prom girl with glitter lips" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">DIY Glitter Lips</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/blog/style-council/tips-trends/prom-beauty-diy-glitter-lips">Prom Beauty Inspo on the Blog&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-m">One More Thing...</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/shoes/evening-shoes">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt1.jpg" alt="Group shot of dress shoes on the dance floor">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Shoes</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/shoes/evening-shoes">Buy One, Get One 50% Off&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/earrings">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt2.jpg" alt="Model wearing statement earrings with pink tassels">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Earrings</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/earrings">Shop Earrings&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/handbags">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt3.jpg" alt="Floral clutch handbag and gold accents">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Handbags</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/handbags">Shop Handbags&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/necklaces">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt4.jpg" alt="Black choker on prom girl posing on a carousel">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Chokers &amp; Necklaces</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/necklaces">Shop Necklaces&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="db-prom">
      <div class="db-prom__heading">
        <h3 class="db-prom__heading-main serif-m-italic">#DavidsProm</h3>
        <p class="db-prom__heading-cta sans-bold-uppercase">
          <a href="/Content_Curations_prom">See The Gallery &amp; Share Your Snaps&nbsp;&gt;</a>
        </p>
      </div>
      <div class="db-prom__flex">
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom1.jpg" alt="Real prom girl in gold two-piece prom dress">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom2.jpg" alt="Prom girl IRL posing outdoors wearing red dress with back detail ">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom3.jpg" alt="Back shot of real prom girl in two-piece gold embellished and black dress">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom4.jpg" alt="Real prom girl spinning outdoors in black, white and pink floral prom dress">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom5.jpg" alt="Prom girl IRL wearing black and floral prom dress with pink, green and blue skirt">
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_prom">
            <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom6.jpg" alt="Real prom girl showing off the back of her ball gown dress by roses">
          </a>
        </div>
      </div>
    </div>
  </section>

</main>
