<main class="content-page" role="main">

  <section class="jumbotron">
    <div class="jumbotron__img wedding-dresses"></div>
    <div class="jumbotron__text">
      <p class="jumbotron__text-svg">
        <svg role="img" aria-labelledby="weddingDressesTitle" viewBox="0 0 582 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="max-width:360px; max-height:40px;" width="100%">
          <title id="weddingDressesTitle">Wedding Dresses 101</title>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="WeddingDress101_Horizontal_Black" transform="translate(-41.000000, -13.000000)">
              <rect id="Rectangle-path" x="0" y="15.5" width="673" height="61"></rect>
              <g id="Group" transform="translate(41.155800, 0.099600)" fill="#000000">
                <polygon id="W" points="14.52 58 20.22 58 29.52 31.42 38.88 58 44.58 58 58.5 16 50.34 16 41.64 42.22 32.4 16 26.7 16 17.46 42.22 8.76 16 0.6 16"></polygon>
                <path d="M83.94,48.94 L88.38,53.38 C85.56,56.74 80.94,58.6 76.44,58.6 C67.74,58.6 61.2,52.6 61.2,43.48 C61.2,35.38 66.72,28.3 75.36,28.3 C83.4,28.3 89.1,35.08 89.1,43.18 C89.1,43.96 89.04,44.74 88.92,45.4 L68.76,45.4 C69.18,49.48 72.48,52.3 76.62,52.3 C79.92,52.3 82.56,50.44 83.94,48.94 Z M69.12,39.7 L81.12,39.7 C80.88,37.12 78.54,34.6 75.36,34.6 C72.12,34.6 69.48,37.06 69.12,39.7 Z" id="e"></path>
                <path d="M116.7,47.8 L116.7,39.1 C115.08,36.94 112.5,35.5 109.5,35.5 C104.94,35.5 102,39.28 102,43.48 C102,48.04 105.3,51.4 109.68,51.4 C112.62,51.4 115.2,49.96 116.7,47.8 Z M124.5,58 L117,58 L117,55.66 C114.6,57.7 111.84,58.6 108.9,58.6 C104.58,58.6 100.5,56.68 97.92,53.68 C95.64,51.04 94.2,47.44 94.2,43.48 C94.2,34.9 100.56,28.3 108.48,28.3 C111.66,28.3 114.42,29.2 116.7,31 L116.7,15.4 L124.5,15.4 L124.5,58 Z M153.6,47.8 L153.6,39.1 C151.98,36.94 149.4,35.5 146.4,35.5 C141.84,35.5 138.9,39.28 138.9,43.48 C138.9,48.04 142.2,51.4 146.58,51.4 C149.52,51.4 152.1,49.96 153.6,47.8 Z M161.4,58 L153.9,58 L153.9,55.66 C151.5,57.7 148.74,58.6 145.8,58.6 C141.48,58.6 137.4,56.68 134.82,53.68 C132.54,51.04 131.1,47.44 131.1,43.48 C131.1,34.9 137.46,28.3 145.38,28.3 C148.56,28.3 151.32,29.2 153.6,31 L153.6,15.4 L161.4,15.4 L161.4,58 Z M178.2,28.9 L170.4,28.9 L170.4,58 L178.2,58 L178.2,28.9 Z M169.2,18.58 C169.2,21.4 171.48,23.56 174.3,23.56 C177.12,23.56 179.4,21.4 179.4,18.58 C179.4,15.76 177.12,13.6 174.3,13.6 C171.48,13.6 169.2,15.76 169.2,18.58 Z M195,58 L195,39.1 C196.08,37.6 198.78,35.5 202.08,35.5 C203.88,35.5 205.44,36.1 206.46,37.12 C207.54,38.2 208.2,39.7 208.2,42.58 L208.2,58 L216,58 L216,43.18 C216,38.2 214.92,35.26 213,32.98 C210.6,30.1 206.94,28.3 202.92,28.3 C199.68,28.3 196.92,29.44 194.7,31.24 L194.7,28.9 L187.2,28.9 L187.2,58 L195,58 Z M252.3,28.9 L252.3,56.38 C252.3,61.6 251.4,64.72 249.66,67.18 C247.02,70.84 242.34,73 236.76,73 C231.06,73 225.66,70.36 222.78,67 L227.7,61.9 C229.26,63.58 231.96,66.1 236.76,66.1 C239.28,66.1 241.38,65.32 242.7,63.76 C243.9,62.44 244.5,60.64 244.5,56.92 L244.5,55.96 C242.16,57.76 239.64,58.6 236.7,58.6 C232.38,58.6 228.24,56.68 225.66,53.68 C223.38,51.04 222,47.44 222,43.48 C222,34.9 228.36,28.3 236.28,28.3 C239.58,28.3 242.52,29.38 244.8,31.24 L244.8,28.9 L252.3,28.9 Z M244.5,47.8 L244.5,39.1 C242.88,36.94 240.3,35.5 237.3,35.5 C232.74,35.5 229.8,39.28 229.8,43.48 C229.8,48.04 233.1,51.4 237.48,51.4 C240.42,51.4 243,49.96 244.5,47.8 Z M305.7,37 C305.7,33.52 304.56,30.28 302.64,27.88 C300.3,24.94 296.88,23.2 291.9,23.2 L285.9,23.2 L285.9,50.8 L291.9,50.8 C296.88,50.8 300.3,49.06 302.64,46.12 C304.56,43.72 305.7,40.48 305.7,37 Z M277.8,16 L291,16 C297.66,16 302.04,17.44 305.46,19.96 C310.62,23.8 313.8,30.04 313.8,37 C313.8,43.96 310.62,50.2 305.46,54.04 C302.04,56.56 297.66,58 291,58 L277.8,58 L277.8,16 Z M338.7,28.54 C337.86,28.42 337.2,28.3 336.06,28.3 C332.52,28.3 329.34,29.68 327.6,31.84 L327.6,28.9 L320.1,28.9 L320.1,58 L327.9,58 L327.9,39.7 C328.86,37.96 331.56,35.5 334.98,35.5 C336.12,35.5 337.26,35.62 337.8,35.8 L338.7,28.54 Z" id="dding-Dr"></path>
                <path d="M365.04,48.94 L369.48,53.38 C366.66,56.74 362.04,58.6 357.54,58.6 C348.84,58.6 342.3,52.6 342.3,43.48 C342.3,35.38 347.82,28.3 356.46,28.3 C364.5,28.3 370.2,35.08 370.2,43.18 C370.2,43.96 370.14,44.74 370.02,45.4 L349.86,45.4 C350.28,49.48 353.58,52.3 357.72,52.3 C361.02,52.3 363.66,50.44 365.04,48.94 Z M350.22,39.7 L362.22,39.7 C361.98,37.12 359.64,34.6 356.46,34.6 C353.22,34.6 350.58,37.06 350.22,39.7 Z" id="e"></path>
                <path d="M374.42,54.7 C377.84,57.22 382.1,58.6 386.12,58.6 C392.24,58.6 397.7,55.18 397.7,49.6 C397.7,39.52 383.6,41.02 383.6,37.24 C383.6,35.74 385.4,34.9 387.56,34.9 C389.66,34.9 391.64,35.8 393.14,36.88 L396.8,31.24 C394.88,29.74 390.74,28.3 386.96,28.3 C381.2,28.3 375.8,31.78 375.8,37.36 C375.8,46.72 389.9,45.16 389.9,49.54 C389.9,50.98 388.28,52 386.18,52 C383.24,52 380.18,50.92 378.2,49.12 L374.42,54.7 Z" id="s"></path>
                <path d="M401.82,54.7 C405.24,57.22 409.5,58.6 413.52,58.6 C419.64,58.6 425.1,55.18 425.1,49.6 C425.1,39.52 411,41.02 411,37.24 C411,35.74 412.8,34.9 414.96,34.9 C417.06,34.9 419.04,35.8 420.54,36.88 L424.2,31.24 C422.28,29.74 418.14,28.3 414.36,28.3 C408.6,28.3 403.2,31.78 403.2,37.36 C403.2,46.72 417.3,45.16 417.3,49.54 C417.3,50.98 415.68,52 413.58,52 C410.64,52 407.58,50.92 405.6,49.12 L401.82,54.7 Z M452.64,48.94 L457.08,53.38 C454.26,56.74 449.64,58.6 445.14,58.6 C436.44,58.6 429.9,52.6 429.9,43.48 C429.9,35.38 435.42,28.3 444.06,28.3 C452.1,28.3 457.8,35.08 457.8,43.18 C457.8,43.96 457.74,44.74 457.62,45.4 L437.46,45.4 C437.88,49.48 441.18,52.3 445.32,52.3 C448.62,52.3 451.26,50.44 452.64,48.94 Z M437.82,39.7 L449.82,39.7 C449.58,37.12 447.24,34.6 444.06,34.6 C440.82,34.6 438.18,37.06 437.82,39.7 Z M461.82,54.7 C465.24,57.22 469.5,58.6 473.52,58.6 C479.64,58.6 485.1,55.18 485.1,49.6 C485.1,39.52 471,41.02 471,37.24 C471,35.74 472.8,34.9 474.96,34.9 C477.06,34.9 479.04,35.8 480.54,36.88 L484.2,31.24 C482.28,29.74 478.14,28.3 474.36,28.3 C468.6,28.3 463.2,31.78 463.2,37.36 C463.2,46.72 477.3,45.16 477.3,49.54 C477.3,50.98 475.68,52 473.58,52 C470.64,52 467.58,50.92 465.6,49.12 L461.82,54.7 Z M504.3,29.68 L512.1,25.36 L512.1,58 L520.2,58 L520.2,16 L514.5,16 L504.3,22 L504.3,29.68 Z M551.1,37 C551.1,29.08 549.36,22.6 544.5,22.6 C539.64,22.6 537.9,29.08 537.9,37 C537.9,44.92 539.64,51.4 544.5,51.4 C549.36,51.4 551.1,44.92 551.1,37 Z M529.8,37 C529.8,25.06 533.76,15.4 544.5,15.4 C555.24,15.4 559.2,25.06 559.2,37 C559.2,48.94 555.24,58.6 544.5,58.6 C533.76,58.6 529.8,48.94 529.8,37 Z M565.5,29.68 L573.3,25.36 L573.3,58 L581.4,58 L581.4,16 L575.7,16 L565.5,22 L565.5,29.68 Z" id="ses-101"></path>
              </g>
            </g>
          </g>
        </svg>
      </p>
      <p class="sans-m">Everything you need to know about<br class="md-hidden lg-hidden"> our wedding dresses.</p>
    </div>
  </section>

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="container">
    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Trending Stories</p>
    </div>
    <div class="grid grid__spotlight">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide-styleguidedressguide_index">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SilohouetteGuide.jpg" alt="Chalkboard Illustration of wedding dress silhouettes: sheath, ball gown and mermaid">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Silhouette Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
            </p>
            <p class="btn btn-secondary">
              <a href="/Content_StyleandFashionGuide-styleguidedressguide_index" class="sans-bold-uppercase">Find Your Favorite</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_OurBrands.jpg" alt="Bride with plunging halter neck dress walking in street with flowing veil">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Our Brands</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Appointment_planning">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PlanningAppointment.jpg" alt="Bridal stylist helping bride-to-be at a store appointment">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Planning Your Appointment</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Appointment_planning">Make The Most of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="container">
    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Seasonal Trends</p>
    </div>

    <div class="grid grid-split-1-4">
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_fallweddingdressideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Fall2018Collection.jpg" alt="Bride wearing strapless sweetheart neckline wedding dress with flower crown and flowers">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Fall 2018 Collection</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_fallweddingdressideas">See Our Newest Styles&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_springweddingdressideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SeasonalTrends.jpg" alt="Bride wearing strapless dress with black belt and lace capelet in showroom">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Spring 2018 Collection</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_springweddingdressideas">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_winterweddingdressideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WinterWeddingDresses.jpg" alt="Bride wearing lace sleeveless wedding dress with long veil and tiara">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Winter Wedding Dresses</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_winterweddingdressideas">Stay Warm, Look Chic&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_summerweddingdresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SummerWeddingDresses.jpg" alt="Bride wearing plunging neckline flutter sleeve wedding dress">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Summer Wedding Dress Trends</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_summerweddingdresses">7 Looks You'll Love&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="container">
    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Getting Started</p>
    </div>
    <div class="grid grid__spotlight reverse">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_BridalGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_BrideGuide.jpg" alt="Smiling bride looking over her shoulder">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">The Bride Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_BridalGuide">Highlights From Our Look Books&nbsp;&gt;</a>
            </p>
            <p class="btn btn-secondary">
              <a href="/Content_StyleandFashionGuide_BridalGuide" class="sans-bold-uppercase">Learn More</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Catalog_onlinecatalog">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_LookBook.jpg" alt="Open magazine highlighting our look books">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Look Books &amp; Bride Guides</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Catalog_onlinecatalog">Browse Digital Editions&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_videos">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_VideoShowcase.jpg" alt="Bride and groom and bridesmaids in teal blue dresses walking on cobblestone street">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Video Showcase</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_videos">See Our Styles in Motion&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="container">
    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Dress Details</p>
    </div>
    <div class="grid grid__spotlight">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressFabricsGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingFabricFacts.jpg" alt="Rack of wedding dresses and bridesmaid dresses on hangers in showroom">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Fabric Facts</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressFabricsGuide">Learn More&nbsp;&gt;</a>
            </p>
            <p class="btn btn-secondary">
              <a href="/Content_StyleandFashionGuide_WeddingDressFabricsGuide" class="sans-bold-uppercase">Learn More</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingdressshopping">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FactsAboutWeddingGowns.jpg" alt="Back shot of bride getting dressed in her wedding dress on the big day">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Dress Facts</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything From Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingdresstrainsguide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingDressTrains.jpg" alt="Bride wearing mermaid wedding dress with dramatic cathedral train">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Dress Trains</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingdresstrainsguide">From Ultra-Long To Barely There&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="container">
    <div class="grid grid-split-1-3">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-dress-quiz">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingDressFinder.gif" alt="Animated illustration of different wedding dress silhouettes">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Find Your Dream Dress</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_BustlesGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Bustles.jpg" alt="Wedding Dress Bustle Guide">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Dress Bustle Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_BustlesGuide">How to Tame Your Train&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MostLovedGowns">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MostLovedGowns.jpg" alt="our most-loved gowns">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Customer Favorites: Wedding Gowns</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MostLovedGowns">See Top-Rated Styles&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_headpiecestyleguide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_HeapieceGuide.jpg" alt="Closeup of bride wearing a headpiece and veil">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Headpiece Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_headpiecestyleguide">FROM VEILS TO FLOWER CROWNS&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Quality&Craft.jpg" alt="Wedding dress designer placing finishing touches on back of a lace illusion dress">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Quality &amp; Craftsmanship at David's Bridal</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingdressonabudget">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingDressOnBudget.jpg" alt="Bride wearing simple plunging V-neck wedding dress and veil holding peonies">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Dress on a Budget</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingdressonabudget">Head-to-Toe Style for Less&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_appointmentfaq">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Q&AHeadofStores.jpg" alt="Welcome desk and mannequin display at David's Bridal store ">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Ask the Expert: Our Head of Stores</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointment FAQs&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_alterations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Alterations101.jpg" alt="Seamstress assisting bride with wedding dress alterations">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Alterations 101</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_alterations">Personalize Your Look&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Bridal_dbwomanabout">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AboutPlus.jpg" alt="Plus size bride wearing off-the-shoulder wedding dress and floral hair accessory">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">About Our Plus Sizes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Bridal_dbwomanabout">Learn More About Sizes 14W-30W&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Bridal_dbpetiteabout">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AboutPetite.jpg" alt="Petite bride wearing ball gown lace wedding dress with full, flowing skirt">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">About Our Petite Sizes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Bridal_dbpetiteabout">Gowns for Brides 5'4" &amp; Under&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_gownpreservation">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PreservationKit.jpg" alt="Bride wearing sweetheart neckline strapless wedding dress">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Preserve Your Dress</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_gownpreservation">Create a Keepsake&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Curations_bridal">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBrides.jpg" alt="Close-up of real bride wearing flower crown and long sleeve lace wedding dress">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Real Brides #DavidsBridal</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Curations_bridal">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.davidsbridal.com/blog/dresses-and-gowns/guide-to-colored-wedding-dresses/">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_NonWhiteWeddingDresses.jpg" alt="Bride wearing lace halter wedding dress in soft shade of blue with colorful bouquet">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Colorful Wedding Dress Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.davidsbridal.com/blog/dresses-and-gowns/guide-to-colored-wedding-dresses/">See It On The Blog&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingAccessories">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_CompletingYourLook.jpg" alt="Close-up of bride with veil covering her face at an outdoor setting">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Complete Your Look</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingAccessories">Trends &amp; Tips&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
