
.content-page {
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  & > * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  h1 {
    margin-bottom: 40px;
  }
  
  
  
  ul {
    //@include red-bg();
    padding: 0 0 0 20px;
    
    li {
      //@include blue-bg();
      margin: 0;
      list-style: disc;
      
      a {
        color: $black;
        &:hover {
          color: $taupe;
        }
      }
    }
  }
  
  .serif-xs-italic {
    font-size: 16px;
    line-height: 20px;
  }

  
  
  // --------------------------------------------------------
  // Level 1
  // --------------------------------------------------------
  .level-1__list {
    //@include red-bg();
    padding-left: 0;
    
    &-item {
      //@include green-bg();
      list-style: none;
      margin-bottom: 30px;
      &:not(:last-child) {
        border-bottom: 1px solid $gray-lt;
        @media screen and (min-width: $breakpoint-md) {
          border: none;
        }
      }
    }
    
    &-heading {
      display: block;
      margin-bottom: 5px;
      h2,
      p {
        display: inline-block;
        margin-bottom: 5px;
      }
      h2 {
        margin-right: 10px;
      }
    }
    
  }
  
  
  // --------------------------------------------------------
  // Level 2
  // --------------------------------------------------------
  .level-2__list {
    //@include red-bg();
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
  
    &-item {
      //@include green-bg();
      list-style: none;
      width: 100%;
      padding-top: 5px;
      padding-left: 0;
      @media screen and (min-width: $breakpoint-md) {
        width: calc(100% / 4);
        padding-right: 20px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        padding-right: 30px;
      }
    }
    
    h3 {
      color: #666;
    }
  }

  

  // --------------------------------------------------------
  // Level 3
  // --------------------------------------------------------
  .level-3__list {
    //@include red-bg();
    padding-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 20px;
    }
    
    &-item {
      //@include blue-bg();
      list-style: disc;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    
    a {
      font-size: 13px;
      line-height: 16px;
    }
  }
  
}