// ========================================================
// SECTION
// ========================================================
.section {
  //@include red-bg();
  @include block();
  padding: 10px;
  &:not(:last-child) {
    &::after {
      display: block;
      content: "";
      position: relative;
      margin-top: 20px;
      border-bottom: 1px solid $gray-lt;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }



  p {
    margin-bottom: 5px;
    &.sans-bold-uppercase {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
