<a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" data-inline-message="Appointment-Oleg">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_AppointmentOleg-Cassini.jpg" alt="Bride wearing lacy long sleeve wedding dress with long veil by brick wall">
  </div>
</a>
