<a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" data-inline-message="Appointment-Galina-Signature">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_AppointmentGalina-Signature.jpg" alt="Bride in sheath backless dress looking back in busy bar">
  </div>
</a>
