<a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" data-inline-message="Appointment-Vera-Wang">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Appointment_WVW.jpg" alt="Bride with bow on shoulder and wispy hair with Find Your Dream Dress Make an Appointment text">
  </div>
</a>
