<a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" data-inline-message="Appointment-Melissa-Sweet">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_AppointmentMelissa-Sweet.jpg" alt="Bride leaning on glass garden table with colorful bouquet">
  </div>
</a>
