<style>
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
.promo a,
.promo a:active,
.promo a:visited {
  color:#333;
  text-decoration: none;
}
.listing__grid-promo-slot-text {
  border: 2px solid #fff;
  top: 2.08955224%;
  right: 3.13432836%;
  bottom: 2.08955224%;
  left: 3.13432836%;
}
.listing__grid-promo-slot-text-inner {
  width:98%;
  left:1%;
  margin:0 auto;
  text-align: center;
  bottom:5%;
}
.listing__grid-promo-slot-text-inner .serif-s {margin:0;}
.listing__grid-promo-slot-text-inner .sans-xs {margin:0;}
.listing__grid-promo-slot-text-inner .sans-bold-uppercase {margin:0;}

/* Primary Button */
.listing__grid-promo-slot-text-inner .btn-primary a,
.listing__grid-promo-slot-text-inner .btn-primary a:visited {
   border: 1px solid #ffffff;
   color: #ffffff;
   background-color: #52535a;
   outline: 4px solid #52535a;
   min-width: 80px;
   padding: 7px;
   padding: .4375rem;
   text-align: center;
   text-decoration: none;
}

.listing__grid-promo-slot-text-inner .btn-primary a:hover,
.listing__grid-promo-slot-text-inner .btn-primary a:focus {
   color:#fff;
   outline: 4px solid #333333;
   padding: 7px;
   padding: .4375rem;
   text-align: center;
   text-decoration: none;
}

.reverse-type .sans-bold-uppercase a:hover {
  color: #e0e0e7;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

@media screen and (max-width: 767px) {
  /* Mobile - 1 Across */
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text {border:2px solid #fff;}
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text-inner .serif-s {font-size: 26px; line-height: 26px; margin-bottom:15px;}
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase {font-size: 11px; line-height: 14px;}

  /* Mobile - 2 Across */
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text {border:1px solid #fff;}
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text-inner .serif-s  {font-size: 16px; line-height: 20px; margin-bottom:10px;}
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase  {font-size: 11px; line-height: 14px;}
}

@media screen and (min-width: 768px) {
  /* Tablet - 1 Across */
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text {border:2px solid #fff;}
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text-inner .serif-s {font-size: 48px; line-height: 52px; margin-bottom:2%;}
  .listing__grid-layout[data-listing-current-small-layout=small-larger-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase {font-size: 11px; line-height: 14px;}

  /* Tablet - 2 Across */
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text {border:1px solid #fff;}
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text-inner .serif-s  {font-size: 30px; line-height: 36px; margin-bottom:5px;}
  .listing__grid-layout[data-listing-current-small-layout=small-smaller-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase {font-size: 11px; line-height: 14px;}
}

@media screen and (min-width: 1024px) {
  /* Desktop - Larger */
  .listing__grid-layout[data-listing-current-large-layout=large-larger-layout] .listing__grid-promo-slot-text {border:1px solid #fff;}
  .listing__grid-layout[data-listing-current-large-layout=large-larger-layout] .listing__grid-promo-slot-text-inner .serif-s {font-size: 30px; line-height: 36px; margin-bottom:0;}
  .listing__grid-layout[data-listing-current-large-layout=large-larger-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase {font-size: 11px; line-height: 14px;}

  /* Desktop - Smaller */
  .listing__grid-layout[data-listing-current-large-layout=large-smaller-layout] .listing__grid-promo-slot-text {border:1px solid #fff;}
  .listing__grid-layout[data-listing-current-large-layout=large-smaller-layout] .listing__grid-promo-slot-text-inner .serif-s  {font-size: 16px; line-height: 16px; margin-bottom:0;}
  .listing__grid-layout[data-listing-current-large-layout=large-smaller-layout] .listing__grid-promo-slot-text-inner .sans-bold-uppercase {font-size: 11px; line-height: 14px;}
}
</style>

<div class="mobile-hidden">
  <div class="listing__grid-promo-slot-text">
    <div class="listing__grid-promo-slot-text-inner reverse-type">
      <p class="listing__grid-promo-slot-heading serif-s">Color Coordinate<br />the Guys</p>
      <p>
        <p class="btn-primary mobile-hidden">
          <br>
          <a class="sans-bold-uppercase btn-link" href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_PLP-_-PLP-_-MW_shopTuxedos" data-inline-message="Color Coordinate the Guys">SHOP TUXEDOS</a>
        </p>
      </p>
    </div>
  </div>
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/Inline_espot_tuxedos_1.jpg" alt="Color Coordinate the Guys">
  </div>
</div>


<div class="mobile-only">
  <a href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_PLP-_-PLP-_-MW_shopTuxedos" data-inline-message="Color Coordinate the Guys">
    <div class="listing__grid-promo-slot-text">
      <div class="listing__grid-promo-slot-text-inner reverse-type">
        <p class="listing__grid-promo-slot-heading serif-s">Color Coordinate<br />the Guys</p>
        <p>
          <p class="sans-bold-uppercase desktop-hidden tablet-hidden">SHOP TUXEDOS&nbsp;&gt;</p>
        </p>
      </div>
    </div>
    <div class="listing__grid-promo-slot-photo">
      <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/Inline_espot_tuxedos_1.jpg" alt="Color Coordinate the Guys">
    </div>
  </a>
</div>
