<a href="/Content_Bridal_dbstudioweddingdresses" data-inline-message="DB Studio">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_DB-Studio.jpg" alt="DB Studio Exclusively at David's Bridal">
  </div>
</a>
