<a href="/Content_Bridal_verawangexpmain" data-inline-message="Vera Wang Bridal">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_WVW_Bridal.jpg" alt="Image of bride wearing black dress with White by Vera Wang logo">
  </div>
</a>
