<a href="/Content_Bridal_aboutolegcassini" data-inline-message="Oleg Cassini">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Oleg-Cassini.jpg" alt="Oleg Cassini - Exclusively at David's Bridal">
  </div>
</a>
