<a href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:3074457345616666671871041051161013298121328610111497328797110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,White%20by%20Vera%20Wang&" data-inline-message="Vera Wang Shoes">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_WVW_Shoes.jpg" alt="Image of pointed-toe shoe with crystal back with White by Vera Wang logo">
  </div>
</a>
