<a href="/Content_Bridal_msexpmain" data-inline-message="Melissa Sweet">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Melissa-Sweet.jpg" alt="Melissa Sweet - Exclusively at David's Bridal">
  </div>
</a>
