<a href="/Content_Bridal_dbcollectionweddingdresses" data-inline-message="DB Collection">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_David's-Bridal-Collection.jpg" alt="David's Bridal Colletion">
  </div>
</a>
