<a href="/Content_Bridal_galinaweddingdresses" data-inline-message="Galina">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Galina.jpg" alt="Galina Exclusively at David's Bridal">
  </div>
</a>
