<a href=".com/Content_Bridal_zpexpmain" data-inline-message="Truly Zac Posen">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Zac-Posen.jpg" alt="Truly Zac Posen - Exclusively at David's Bridal">
  </div>
</a>
