<a href="/Content_Bridal_galinasignatureweddingdresses" data-inline-message="Galina Signature">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/InLine_Espot_Refresh_Designer_Galina-Signature.jpg" alt="Galina Signature Exclusively at David's Bridal">
  </div>
</a>
