<a href="/tadashi-shoji-collection" data-inline-message="Tadashi-Shoji-Bridal">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/Inline_Espot_TadashiShoji.jpg" alt="Introducing Tadashi Shoji Bridal">
  </div>
</a>
