<a href="/tadashi-shoji-collection" data-inline-message="Tadashi-Shoji-Collection">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/ES_Inline_TadashiShojiCollection_2.jpg" alt="Tadashi Shoji Collection">
  </div>
</a>
