<style media="screen">
  .listing__grid-promo-slot-video {
    position: relative;
    padding-bottom: 150%;
    height: 0;
  }
  .listing__grid-promo-slot-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class="listing__grid-promo-slot-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3G4c1OOUdPA?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=3G4c1OOUdPA" frameborder="0" allowfullscreen></iframe>
</div>
