<a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052" data-inline-message="Walk-in-Wednesdays">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/walk_in_wed_espot.gif" alt="Walk in Wednesdays | Save 10% off | In store only">
  </div>
</a>
