<a href="/shoes/wide-width-shoes" data-inline-message="Wide-Width-Shoes">
  <div class="listing__grid-promo-slot-photo">
    <img class="listing__grid-promo-slot-image listing__grid-promo-slot-image--narrow" src="/wcsstore/images/wwcm/espots/plp/inline/Inline_Espot_Wide-Width-Shoes.jpg" alt="Wide Width Shoes">
  </div>
</a>
