<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0;
        display: inline-block; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
        .few-favorites-carousel__inner--heading p.serif-m-italic {
          margin-right: 18px; }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
</style>

<div class="few-favorites-carousel" data-analytics-tagging="Trending-Products">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a id="bridesmaidsCarouselPrev" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" aria-label="See previous product">
        <svg class="few-favorites-carousel-button-prev" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div id="bridesmaidsCarouselSlick" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#bridesmaidsCarouselPrev", "nextArrow": "#bridesmaidsCarouselNext" }'>

        <!-- F17063 -->
        <div class="slick-slide">
          <a href="/Product_long-one-shoulder-lace-bridesmaid-dress-f17063">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F17063-10416672-Marine?$plpproductimgmobile_2up$" alt="Long One Shoulder Lace Bridesmaid Dress">
          </a>
        </div>

        <!-- F19328 -->
        <div class="slick-slide">
          <a href="/Product_long-bridesmaid-dress-with-lace-bodice-f19328">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19328-10639812-Wine?$plpproductimgmobile_2up$" alt="Long Bridesmaid Dress with Lace Bodice">
          </a>
        </div>

        <!-- VW360345 -->
        <div class="slick-slide">
          <a href="/Product_charmeuse-and-chiffon-bridesmaid-dress-vw360345">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360345-10828532-Blush?$plpproductimgmobile_2up$" alt="Charmeuse and Chiffon Bridesmaid Dress">
          </a>
        </div>

        <!-- F19608 -->
        <div class="slick-slide">
          <a href="/Product_open-back-lace-and-mesh-bridesmaid-dress-f19608">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19608-10850544-Petal?$plpproductimgmobile_2up$" alt="Open-Back Lace and Mesh Bridesmaid Dress">
          </a>
        </div>

        <!-- VW360214 -->
        <div class="slick-slide">
          <a href="/Product_v-neck-halter-gown-with-sash-vw360214">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360214-10277801-Ebony?$plpproductimgmobile_2up$" alt="V Neck Halter Gown with Sash">
          </a>
        </div>

        <!-- F19755 -->
        <div class="slick-slide">
          <a href="/Product_double-strap-long-georgette-bridesmaid-wrap-dress-f19755">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19755-10987742-Steel Blue?$plpproductimgmobile_2up$" alt="Double-Strap Long Georgette Bridesmaid Wrap Dress">
          </a>
        </div>

        <!-- F19773 -->
        <div class="slick-slide">
          <a href="/Product_flounced-crinkle-chiffon-sheath-bridesmaid-dress-f19773">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19773-10988527-Quartz?$plpproductimgmobile_2up$" alt="Flounced Crinkle Chiffon Sheath Bridesmaid Dress">
          </a>
        </div>

        <!-- OC290023 -->
        <div class="slick-slide">
          <a href="/Product_appliqued-illusion-faille-bridesmaid-dress-oc290023">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OC290023-10889784-Wine?$plpproductimgmobile_2up$" alt="Appliqued Illusion Faille Bridesmaid Dress">
          </a>
        </div>

        <!-- F19831 -->
        <div class="slick-slide">
          <a href="/Product_surplice-tank-long-chiffon-bridesmaid-dress-f19831">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19831-10982151-Ice Blue?$plpproductimgmobile_2up$" alt="Surplice Tank Long Chiffon Bridesmaid Dress">
          </a>
        </div>

        <!-- F19788 -->
        <div class="slick-slide">
          <a href="/Product_long-sequin-blouson-bridesmaid-dress-f19788">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19788-10989310-Rose Gold?$plpproductimgmobile_2up$" alt="Long Sequin Blouson Bridesmaid Dress">
          </a>
        </div>

        <!-- F19771 -->
        <div class="slick-slide">
          <a href="/Product_surplice-mesh-bridesmaid-dress-with-peasant-skirt-f19771">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19771-10969817-Juniper?$plpproductimgmobile_2up$" alt="Surplice Mesh Bridesmaid Dress with Peasant Skirt">
          </a>
        </div>

      </div>

      <a id="bridesmaidsCarouselNext" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" aria-label="See next product">
        <svg class="few-favorites-carousel-button-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var bridesmaidsCarouselSlick = $('#bridesmaidsCarouselSlick');
  bridesmaidsCarouselSlick.slick({
    autoplay: false,
    slidesToShow: 6,
    slidesToScroll: 1,
    variableWidth: false,
    infinite: true,
    centerMode: false,
    dots: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }
    ]
  });
  $('#bridesmaidsCarouselPrev, #bridesmaidsCarouselNext').on("click", function(event){
    event.preventDefault();
  });

});
</script>
