<style media="screen">
.bm-gifts {
  background: #f3eadf;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto; }
  .bm-gifts__bg {
    width: 100%;
    height: 200px;
    background-image: url("/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/Bridesmaids_CLP_BM-Gifts-Banner_1262x200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
    @media screen and (min-width: 768px) {
      .bm-gifts__bg {
        background-position: 90% 0; } }
  .bm-gifts__text {
    padding: 20px;
    text-align: center;
    position: relative; }
    @media screen and (min-width: 768px) {
      .bm-gifts__text {
        padding: 0;
        position: absolute;
        left: 25%;
        top: 50%;
        -webkit-transform: translate(-25%, -50%);
                transform: translate(-25%, -50%); } }
    @media screen and (min-width: 1024px) {
      .bm-gifts__text {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }
  .bm-gifts p {
    margin: 0; }
  .bm-gifts .serif-l {
    margin-bottom: 15px; }
</style>
<section class="bm-gifts" data-analytics-tagging="Bridesmaid-Gifts">
  <a href="/wedding-gifts/bridesmaid-gifts" aria-label="Click here to see bridesmaid gifts">
    <div class="bm-gifts__bg"></div>
  </a>
  <div class="bm-gifts__text">
    <p class="serif-l">bridesmaid gifts</p>
    <p class="sans-bold-uppercase">
      <a href="/wedding-gifts/bridesmaid-gifts ">What To Get For Your Girls&nbsp;&gt;</a>
    </p>
  </div>
</section>