<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/robes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_Robes.jpg" alt="Pink robes of varying colors hanging on a rack">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Robes for Bridesmaids</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/robes">Shop Robes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/shoes/all-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/CompleteYourDay_Module_414x284_MaidsShoes.jpg" alt="Shoes for Bridesmaids">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Shoes for Bridesmaids</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/shoes/all-shoes">Shop Shoes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>


      <div class="column mobile-mb-split-1" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-decorations/all-wedding-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/CompleteYourDay_Module_414x284_Decor.jpg" alt="Ceremony & Decor">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Ceremony & Decor</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-decorations/all-wedding-decorations">Shop Decor&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_Invites.jpg" alt="Color-Coordinated Invites">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Color-Coordinated Invites</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">Shop New Styles from Shutterfly&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>



    </div>

  </div>
</section>
