<style media="screen">
.designer-spotlight {
  max-width: 1282px;
  margin: 0 auto;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .designer-spotlight {
      padding: 0; } }
  .designer-spotlight .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .designer-spotlight .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .designer-spotlight .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(248, 246, 240, 1);
    bottom: -7px;
    position: relative; }
  .designer-spotlight h2 {
    margin: 0;
    margin-bottom: -10px; }
  .designer-spotlight .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .rewards-text {
    font-family: 'Open Sans', 'Verdana', 'Helvetica', 'Arial', 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .designer-spotlight .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .designer-spotlight .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .flex-container .column {
          padding: 5px; } }
  .designer-spotlight img {
    width: 100%; }
  .designer-spotlight .media-block-content {
    margin-top: 10px; }
    .designer-spotlight .media-block-content p {
      margin-top: 5px; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .media-block-content p {
          margin-top: 5px; } }
</style>

<section class="espot-container designer-spotlight" data-analytics-tagging="DesignerSpotlight">
  <div class="section-minor-heading">
    <p class="section-minor-heading__heading serif-s-italic">Designer Spotlight</p>
  </div>

  <div class="flex-container">

    <div class="column" data-analytics-position="Designer_1">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_BrandSpotlight_WVW.jpg" alt="Bridesmaids in mis matched White by Vera Wang dresses" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">White by Vera Wang</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">Shop Exclusive Styles From $139.95*<!--$129.95-->&nbsp;&gt;</a>
          </p>
          <p class="sans-xxs"><strong>*With rewards</strong></p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_2">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/reverie-bridesmaid-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_BrandSpotlight_Reverie.jpg" alt="Bridesmaids wearing mis-matched navy bridesmaid dresses" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">New From Reverie</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/reverie-bridesmaid-dresses">Shop Exclusive Styles From $59.95*<!--$49.95-->&nbsp;&gt;</a>
          </p>
          <p class="sans-xxs"><strong>*With rewards</strong></p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_3">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/bridesmaid-dresses/oleg-cassini-bridesmaid-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_BrandSpotlight_Oleg.jpg" alt="Bridesmaids in the city, wearing long Oleg Cassini bridesmaid dresses" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Oleg Cassini</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/oleg-cassini-bridesmaid-dresses">Shop Exclusive Styles From $149.95*<!--$139.95-->&nbsp;&gt;</a>
          </p>
          <p class="sans-xxs"><strong>*With rewards</strong></p>
        </div><!-- media block-content -->
      </div>
    </div>

  </div>
</section>
