<style media="screen">
.dbcc-banner {
  display: block;
  position: relative;
  max-width: 1262px;
  margin: 30px auto;
  height: 200px;
  background: #ffd0cc;
  background-image: url("/wcsstore/images/wwcm/homepage/DBCC/DBCC_HP_Banner_Refresh_Mobile_V2.jpg");
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .dbcc-banner {
      background-image: url("/wcsstore/images/wwcm/homepage/DBCC/DBCC_HP_Banner_Refresh_Desktop_V2.jpg"); } }
  .dbcc-banner__text {
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    left: 150px; }
    @media screen and (min-width: 768px) {
      .dbcc-banner__text {
        left: 340px; } }
    .dbcc-banner__text p {
      margin: 0;
      padding: 0; }
      .dbcc-banner__text p.sans-m {
        margin-top: 10px;
        margin-bottom: 10px; }
      .dbcc-banner__text p a {
        text-decoration: none; }
</style>

<div class="dbcc-banner">
  <div class="dbcc-banner__text">
    <p class="serif-m">Take 6 months to pay</p>
    <p class="sans-m">with the David's Bridal Credit Card*</p>
    <p class="sans-bold-uppercase">
      <a href="/Content_Finance_dbiCreditCard">Learn More&nbsp;&gt;</a>
    </p>
  </div>
</div>
