<style>
.inspiration-guidance {
  max-width: 1282px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .spacing > * + * {
    margin-top: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .inspiration-guidance .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(248, 246, 240, 1);
    bottom: -7px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .inspiration-guidance .layout-split-4 > .column {
      margin-top: 10px;
      margin-bottom: 10px; }
      .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
        margin-top: 0; }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0;
          width: 25%; }
          .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
            margin-top: 10px; } }
      @media screen and (min-width: 1024px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          clear: none;
          display: block;
          margin-right: 0;
          width: 25%;
          margin-top: 10px; } }

</style>

<section class="inspiration-guidance" data-analytics-tagging="inspiration-guidance">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">



      <div class="column mobile-mb-split-1" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_FallWeddingColors.jpg" alt="Bride in shapewear holding up wedding dress smiling">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Seasonal Wedding Colors</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Explore Winter, Spring, Summer & Fall&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_MaidOfHonorGuide.jpg" alt="Woman holding white shoe dipped in pink paint">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Maid of Honor Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">Duties, Gifts and Styling Tips&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_NecklineGuide.jpg" alt="Bridesmaids laughing and talking at reception">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Accessorizing Your Bridal Party</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Shoes, Jewelry & Other Accents&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartygifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/CompleteYourDay_Module_414x284_Robes.jpg" alt="Girls wearing matching floral print robes">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Party Gifts</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartygifts">A few of our favorites&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
