<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
  .rewards-text {
    font-family: 'Open Sans', 'Verdana', 'Helvetica', 'Arial', 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    margin: 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section class="espot-container three-across" data-analytics-tagging="BMDresses-StyleFinder-PlusSize">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_1">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/bridesmaid-dresses/bridesmaids-new-arrivals">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_Vertical_CLP_Module_Newness.jpg" alt="Bridesmaids in emerald green dresses" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">New Bridesmaid Dresses</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/bridesmaids-new-arrivals">Shop the fall 2018 collection&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_2">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_BridesmaidDress_Quiz">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/Vertical_Cat_Crop_BMStyleFinder.jpg" alt="Bridesmaid dresses of varying colors hanging on a rack" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Bridesmaid Style Finder</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_BridesmaidDress_Quiz">Take The Quiz&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_3">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/bridesmaid-dresses/plus-size-bridesmaid-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_Vertical_CLP_Module_Plus.jpg" alt="Bridesmaid in wedding toast" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Plus Size</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/plus-size-bridesmaid-dresses">Shop Sizes 16-30 From $79.95*<!--$69.95-->&nbsp;&gt;</a>
          </p>
          <p class="sans-xxs"><strong>*With rewards</strong></p>
        </div>
      </div>
    </div>

  </div>
</section>
