<style type="text/css">
	.topBannerContainer { width:100%; background-color:#f8b3ae; text-align:center; margin:auto; padding:10px; font-family:'Open Sans',Verdana,Helvetica, Arial,'Droid Sans',sans-serif; font-size:12px; line-height:22px; color:#333; }
	.topBannerHeadline { font-family:'Domaine Display','Bodoni 72','Times New Roman',Times,'Droid Serif',serif; font-size:18px; color:#333; font-style:italic; }
</style>
<section data-analytics-tagging="BridalSale" style="margin-bottom:10px;">
<div class="topBannerContainer">
	<span class="topBannerHeadline">Style Steals! 50% off <br class="desktop-hidden tablet-hidden">select bridesmaid dresses</span><span class="mobile-hidden">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><br class="desktop-hidden tablet-hidden"><span style="white-space:nowrap;">Ends May 30</span><span class="mobile-hidden">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><br class="desktop-hidden tablet-hidden"><a href="/sale/bridesmaid-dresses" style="font-weight:bold; text-decoration:none;" data-toppromo-message="SHOP NOW">SHOP NOW&nbsp;&gt;</a>
</div>

<div class="column-full align-center" style="display:block; line-height:1; margin:2px auto 0;">
  <p class="sans-xxs">*Ends 5/30/18. Price as marked. <span style="white-space:nowrap;">No other discounts apply.</span> <a href="/Content_BuyOnline_offers" style="display:inline;" data-toppromo-message="Details"><span class="underline">Details</span></a>.</p>
</div>
</section>
