<style media="screen">
.real-brides {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px;
  background: #fef9f2;
  background: white;
  max-width: 100%;
  margin: 30px auto; }
  @media screen and (min-width: 768px) {
    .real-brides {
      padding: 30px 10px; } }
  .real-brides__inner {
    max-width: 1262px;
    margin: 0 auto; }
    .real-brides__inner p.serif-l-italic {
      font-size: 22px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .real-brides__inner p.serif-l-italic {
          font-size: 28px; } }
  .real-brides__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    clear: both;
    margin-left: -5px;
    margin-right: -5px;
    flex-position: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .real-brides__imgs {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: -10px;
        margin-right: -10px; } }
    .real-brides__imgs .column {
      width: 50%;
      padding: 5px;
      position: relative; }
      @media screen and (min-width: 500px) {
        .real-brides__imgs .column {
          width: 25%;
          padding: 5px; } }
      @media screen and (min-width: 768px) {
        .real-brides__imgs .column {
          width: 20%;
          padding: 10px; } }
  .real-brides__text {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    max-width: 220px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .real-brides__text {
        max-width: 100%; } }
    .real-brides__text p.sans-m {
      padding: 10px 0; }
  .real-brides .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .real-brides .btn-pink a {
      background: #f93777;
      color: #fff;
      padding: 11px 50px; }
      .real-brides .btn-pink a:hover, .real-brides .btn-pink a:focus, .real-brides .btn-pink a:active {
        background: #f60756; }

	.real-brides_cta {display:inline-block !important; vertical-align:top !important; margin-top:0px !important;}
    @media screen and (max-width: 767px) {
		.real-brides_cta {display:block !important; vertical-align:top !important; margin-top:10px !important; }
		.real-brides_cta a {padding-left:0px !important; padding-right:0px !important; }
	}

</style>

<section class="real-brides" data-analytics-tagging="RealBridesUGC">

  <div class="real-brides__inner">
    <p class="serif-l-italic">#DBMaids</p>

    <div class="real-brides__imgs">
      <div class="column">
        <a href="/Content_Curations_weddingparty">
          <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/UGC_Bridesmaids_1.jpg" alt="Group picture of bride and groom with bridesmaids" />
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_weddingparty">
          <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/UGC_Bridesmaids_2.jpg" alt="Group picture of bride and groom with bridesmaids" />
        </a>
      </div>
      <div class="column mobile-hidden">
        <a href="/Content_Curations_weddingparty">
          <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/UGC_Bridesmaids_3.jpg" alt="Group picture of bride and groom with bridesmaids" />
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_weddingparty">
          <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/UGC_Bridesmaids_4.jpg" alt="Group picture of bride and groom with bridesmaids" />
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_weddingparty">
          <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/UGC_Bridesmaids_5.jpg" alt="Group picture of bride and groom with bridesmaids" />
        </a>
      </div>
    </div>

    <div class="real-brides__text">
      <p class="sans-m">Share your &num;DBMaids style for a chance to be featured!</p>
      <p class="btn btn-pink real-brides_cta">
        <a href="/Content_Curations_weddingparty" class="sans-bold-uppercase">See The Gallery</a>
      </p>
      <p class="btn btn-pink real-brides_cta">
        <a href="/Content_StyleandFashionGuide_weddingvideos" class="sans-bold-uppercase">WATCH REAL WEDDING VIDEOS</a>
      </p>
    </div>
  </div>

</section>
