<style media="screen">
html,
body {
  color: #333; }

p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

.rowContainer, .rowContainer > .row {
  padding: 0;
  margin: 0; }

.left_espot a {
  text-decoration: none; }
  .left_espot a:hover, .left_espot a:active, .left_espot a:focus {
    text-decoration: none; }


.espot-container {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (min-width: 1282px) {
    .espot-container {
      padding-left: 0;
      padding-right: 0; } }

.ctnr-maincontent {
  background-color: #f8f6f0;
  padding-bottom: 30px;
}
</style>

<style>
.left_espot .column {
  z-index: 1; }

.carousel {
  border: none;
  color: #333;
  margin: 0 auto;
  /* max-width: 1600px; */
  padding: 0;
  position: relative; }
  .carousel h1,
  .carousel h2,
  .carousel h3,
  .carousel h4,
  .carousel h5,
  .carousel h6 {
    padding: 0; }
  .carousel .reverse-type h1,
  .carousel .reverse-type h2,
  .carousel .reverse-type h3,
  .carousel .reverse-type h4,
  .carousel .reverse-type h5,
  .carousel .reverse-type h6,
  .carousel .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .carousel .reverse-type h1,
      .carousel .reverse-type h2,
      .carousel .reverse-type h3,
      .carousel .reverse-type h4,
      .carousel .reverse-type h5,
      .carousel .reverse-type h6,
      .carousel .reverse-type p {
        color: #fff; } }
  .carousel .slide {
    height: auto;
    width: 100%; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
    .carousel .slide-text {
      position: relative;
      padding: 30px;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874; }
      @media screen and (min-width: 768px) {
        .carousel .slide-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 5%;
          margin: 0;
          padding: 20px; } }
      @media screen and (min-width: 1024px) {
        .carousel .slide-text {
          padding: 60px 40px;
          right: 10%;
          width: 340px; } }
      .carousel .slide-text p {
        margin: 0; }
        .carousel .slide-text p.serif-l, .carousel .slide-text p.serif-l-italic {
          margin-bottom: 10px; }
        .carousel .slide-text p.sans-m {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 240px; }
        .carousel .slide-text p.btn {
          margin-bottom: 20px; }
        .carousel .slide-text p.sans-bold-uppercase {
          margin-bottom: 15px; }
  .carousel img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .carousel .carousel-button-container {
      top: 0;
      left: 0; } }
  .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel__buttons a svg {
      -webkit-transition: fill 0.2s ease-in-out;
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      @media screen and (min-width: 768px) {
        .carousel__buttons a svg {
          fill: #fff; } }
      .carousel__buttons a svg:hover {
        fill: #74736d; }
        @media screen and (min-width: 768px) {
          .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 10px; } }
  .carousel-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 10px; } }
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid transparent; }
    .carousel .btn a,
    .carousel .btn a:hover {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      padding: 7px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      min-width: 200px; }
    .carousel .btn-primary a {
      background-color: #52535a;
      color: #fff;
      outline: 4px solid #52535a;
      border: 1px solid #fff; }
      .carousel .btn-primary a:hover {
        outline: 4px solid #333333; }
    .carousel .btn-secondary a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ffffff;
      color: #52535a;
      outline: 1px solid #52535a;
      text-align: center;
      text-decoration: none;
      position: relative; }
      .carousel .btn-secondary a:hover {
        background-color: #ccc;
        outline: 1px solid #333; }
    .carousel .btn-secondary-special a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ef4370;
      color: #ffffff;
      outline: 1px solid #ef4370;
      text-align: center;
      text-decoration: none;
      padding: 11px 24px;
      position: relative; }
      .carousel .btn-secondary-special a:hover, .carousel .btn-secondary-special a:focus {
        padding: 11px 24px;
        background-color: #c20b64;
        outline: 1px solid #c20b64; }
  .carousel-nav {
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0 20px;
    width: 100%;
    max-width: 215px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 9; }
    @media screen and (max-width: 768px) {
      .carousel-nav {
        display: none; } }
    .carousel-nav_items {
      border-top: 3px solid #333333; }
      .carousel-nav_items-sub {
        padding-top: 15px; }
    .carousel-nav_item {
      padding: 15px 0; }
      .carousel-nav_item:not(:first-child) {
        border-top: 1px solid #eeeeee; }
        .carousel-nav_item:not(:first-child)[data-nav-open="true"] {
          border-color: #000000; }
      .carousel-nav_item:last-child {
        padding-bottom: 20px; }
      .carousel-nav_item_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        cursor: pointer;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .carousel-nav_item-child a,
      .carousel-nav_item-child a:visited {
        text-decoration: none;
        display: block;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-delay: initial;
                transition-delay: initial; }
      .carousel-nav_item-child a:hover,
      .carousel-nav_item-child a:focus {
        color: #74736d;
        text-decoration: none; }
    .carousel-nav_header-open-link {
      display: block; }
    .carousel-nav_header-action-plus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-plus svg {
        width: 13px;
        height: 13px; }
    .carousel-nav_header-action-minus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-minus svg {
        width: 13px;
        height: 3px; }
  .carousel-heading {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .carousel.video {
    max-width: 1262px;
    margin: 0 auto;
    border: none; }
    .carousel.video .slide-background {
      position: relative;
      padding-bottom: 56.25%;
      height: 0; }
      .carousel.video .slide-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .carousel.video .slide-text {
      background: rgba(248, 246, 240, 0.85); }
      @media screen and (min-width: 768px) {
        .carousel.video .slide-text {
          top: 40%;
          -webkit-transform: translateY(-40%);
                  transform: translateY(-40%);
          padding: 30px 40px; } }
    .carousel.video .carousel-nav {
      background: rgba(255, 255, 255, 0.85); }
  .carousel .video-cover {
    display: none; }
    @media screen and (min-width: 768px) {
      .carousel .video-cover {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 13.38029%;
        background: white; } }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
  display: block; }

@media screen and (min-width: 768px) {
  .carousel {
    margin-bottom: -10%; } }

@media screen and (min-width: 850px) {
  .carousel {
    margin-bottom: -6%; } }

@media screen and (min-width: 1024px) {
  .carousel {
    margin-bottom: -10%; } }

@media screen and (min-width: 1262px) {
  .carousel {
    margin-bottom: -15vw; } }

@media screen and (min-width: 1600px) {
  .carousel {
    margin-bottom: -250px; } }

.carousel .slide-text {
  background: rgba(248, 246, 240, 0.85);
  margin-top: -200px;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text {
      margin-top: 0;
      top: 30%;
      -webkit-transform: translateY(-30%);
              transform: translateY(-30%);
      right: 20px; } }
  @media screen and (min-width: 850px) {
    .carousel .slide-text {
      margin-top: 0;
      top: 40%;
      -webkit-transform: translateY(-40%);
              transform: translateY(-40%);
      right: 20px; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-text {
      right: 40px;
      width: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media screen and (min-width: 1282px) {
    .carousel .slide-text {
      padding: 40px;
      right: calc((100vw - 1262px) / 2);
      top: 40%;
      -webkit-transform: translateY(-40%);
              transform: translateY(-40%);
      width: 360px; } }
  @media screen and (min-width: 1600px) {
    .carousel .slide-text {
      right: calc((1600px - 1262px) / 2); } }

.carousel .slide-background::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(6.67%, rgba(255, 255, 255, 0.01)), color-stop(13.33%, rgba(255, 255, 255, 0.02)), color-stop(20%, rgba(255, 255, 255, 0.05)), color-stop(26.67%, rgba(255, 255, 255, 0.08)), color-stop(33.33%, rgba(255, 255, 255, 0.13)), color-stop(40%, rgba(255, 255, 255, 0.21)), color-stop(46.67%, rgba(255, 255, 255, 0.34)), color-stop(53.33%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.66)), color-stop(66.67%, rgba(255, 255, 255, 0.79)), color-stop(73.33%, rgba(255, 255, 255, 0.88)), color-stop(80%, rgba(255, 255, 255, 0.92)), color-stop(86.67%, rgba(255, 255, 255, 0.95)), color-stop(93.33%, rgba(255, 255, 255, 0.98)), to(#f8f6f0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.02) 13.33%, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.08) 26.67%, rgba(255, 255, 255, 0.13) 33.33%, rgba(255, 255, 255, 0.21) 40%, rgba(255, 255, 255, 0.34) 46.67%, rgba(255, 255, 255, 0.5) 53.33%, rgba(255, 255, 255, 0.66) 60%, rgba(255, 255, 255, 0.79) 66.67%, rgba(255, 255, 255, 0.88) 73.33%, rgba(255, 255, 255, 0.92) 80%, rgba(255, 255, 255, 0.95) 86.67%, rgba(255, 255, 255, 0.98) 93.33%, #f8f6f0 100%); }
  @media screen and (min-width: 768px) {
    .carousel .slide-background::after {
      height: 40%; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-background::after {
      height: 50%; } }

.carousel .slide-background.bridesmaids::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 5, 0, 0)), color-stop(6.67%, rgba(50, 21, 16, 0.01)), color-stop(13.33%, rgba(64, 37, 32, 0.02)), color-stop(20%, rgba(78, 53, 48, 0.05)), color-stop(26.67%, rgba(93, 69, 64, 0.08)), color-stop(33.33%, rgba(107, 85, 80, 0.13)), color-stop(40%, rgba(121, 101, 96, 0.21)), color-stop(46.67%, rgba(135, 117, 112, 0.34)), color-stop(53.33%, rgba(149, 134, 128, 0.5)), color-stop(60%, rgba(163, 150, 144, 0.66)), color-stop(66.67%, rgba(177, 166, 160, 0.79)), color-stop(73.33%, rgba(191, 182, 176, 0.88)), color-stop(80%, rgba(206, 198, 192, 0.92)), color-stop(86.67%, rgba(220, 214, 208, 0.95)), color-stop(93.33%, rgba(234, 230, 224, 0.98)), to(#f8f6f0));
  background-image: linear-gradient(to bottom, rgba(36, 5, 0, 0) 0%, rgba(50, 21, 16, 0.01) 6.67%, rgba(64, 37, 32, 0.02) 13.33%, rgba(78, 53, 48, 0.05) 20%, rgba(93, 69, 64, 0.08) 26.67%, rgba(107, 85, 80, 0.13) 33.33%, rgba(121, 101, 96, 0.21) 40%, rgba(135, 117, 112, 0.34) 46.67%, rgba(149, 134, 128, 0.5) 53.33%, rgba(163, 150, 144, 0.66) 60%, rgba(177, 166, 160, 0.79) 66.67%, rgba(191, 182, 176, 0.88) 73.33%, rgba(206, 198, 192, 0.92) 80%, rgba(220, 214, 208, 0.95) 86.67%, rgba(234, 230, 224, 0.98) 93.33%, #f8f6f0 100%); }
  @media screen and (min-width: 768px) {
    .carousel .slide-background.bridesmaids::after {
      height: 40%; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-background.bridesmaids::after {
      height: 50%; } }

</style>
<style media="screen">
@-webkit-keyframes circle1 {
  0% {
    fill: #e8aead; }
  33% {
    fill: #952042; }
  66% {
    fill: #113864; }
  100% {
    fill: #e8aead; } }

@keyframes circle1 {
  0% {
    fill: #e8aead; }
  33% {
    fill: #952042; }
  66% {
    fill: #113864; }
  100% {
    fill: #e8aead; } }

@-webkit-keyframes circle2 {
  0% {
    fill: #f7c4d0; }
  33% {
    fill: #842d79; }
  66% {
    fill: #842d79; }
  100% {
    fill: #f7c4d0; } }

@keyframes circle2 {
  0% {
    fill: #f7c4d0; }
  33% {
    fill: #842d79; }
  66% {
    fill: #842d79; }
  100% {
    fill: #f7c4d0; } }

@-webkit-keyframes circle3 {
  0% {
    fill: #d51d88; }
  33% {
    fill: #70114e; }
  66% {
    fill: #472e92; }
  100% {
    fill: #d51d88; } }

@keyframes circle3 {
  0% {
    fill: #d51d88; }
  33% {
    fill: #70114e; }
  66% {
    fill: #472e92; }
  100% {
    fill: #d51d88; } }

.color-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 320px;
  margin: 0 auto 10px; }
  @media screen and (min-width: 1024px) {
    .color-circles {
      max-width: 100%; } }
  .color-circles__svg {
    width: 33.33333%;
    padding: 15px; }
    @media screen and (min-width: 1024px) {
      .color-circles__svg {
        padding: 10px; } }
    .color-circles__svg svg {
      -webkit-animation-duration: 6s;
              animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      max-width: 64px; }
    .color-circles__svg:nth-child(1) svg {
      fill: #e8aead;
      -webkit-animation-name: circle1;
              animation-name: circle1; }
    .color-circles__svg:nth-child(2) svg {
      fill: #f7c4d0;
      -webkit-animation-name: circle2;
              animation-name: circle2; }
    .color-circles__svg:nth-child(3) svg {
      fill: #d51d88;
      -webkit-animation-name: circle3;
              animation-name: circle3; }
</style>

<section class="carousel" data-analytics-tagging="Carousel">
  <div class="slick" data-slick='{"fade": true, "prevArrow": ".carousel-prev", "nextArrow": ".carousel-next" }'>
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide-background bridesmaids">
          <div class="tablet-hidden desktop-hidden">
            <a href="/bridesmaid-dresses/all-bridesmaid-dresses">
              <img src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/CLP_767_Hero_Bridesmaids.jpg" class="desktop-hidden tablet-hidden" alt="bride in floral dress with long veil" />
            </a>
          </div>
          <div class="mobile-hidden">
            <a href="/bridesmaid-dresses/all-bridesmaid-dresses">
              <img src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/CLP_HeroExtended_Desktop_Bridesmaids.jpg" class="mobile-hidden" alt="bride in floral dress with long veil" />
            </a>
          </div>
        </div>

        <div class="slide-text">
          <div class="color-circles">
            <div class="color-circles__svg">
              <svg viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="27" cy="27" r="27"></circle>
              </svg>
            </div>
            <div class="color-circles__svg">
              <svg viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="27" cy="27" r="27"></circle>
              </svg>
            </div>
            <div class="color-circles__svg">
              <svg viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="27" cy="27" r="27"></circle>
              </svg>
            </div>
          </div>

          <p class="serif-l">60+ Bridesmaid <br class="sm-hidden md-hidden">Colors</p>
          <p class="sans-m">Dresses in dozens of beautiful shades, from just $79.95*<br><span class="sans-xxs"><strong>*With rewards</strong></span></p>
          <!--<p class="sans-m">Dresses in dozens of beautiful shades, from just $69.95</p>-->
          <p class="btn btn-secondary-special">
            <a class="sans-bold-uppercase" href="/Content_StyleandFashionGuide-ColorInspiration_colormain">See All Colors</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaid Dresses&nbsp;&gt;</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cover bottom of video -->
  <!-- <div class="video-cover">&nbsp;</div> -->

  <!-- Mini-Nav -->
  <div class="carousel-nav" data-nav-open="true">
    <div class="carousel-heading" data-trigger="">
      <h2 class="serif-s">Bridesmaids</h2>
      <div class="carousel-nav_header-action relative">
        <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
          <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
        </svg></div>
        <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
          <rect x="-492" y="501" width="11" height="1"></rect>
        </svg></div>
      </div>
    </div>

    <ul class="carousel-nav_items" data-sublist="">
      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Explore</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes" class="sans-xs">Wedding Colors & Bridal Party Ideas</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide-ColorInspiration_colormain" class="sans-xs">Color Chart</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_BridesmaidDress_Quiz" class="sans-xs">Style Finder Quiz</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_fallweddingcolorideas" class="sans-xs">Wedding Colors by Season</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas" class="sans-xs">Mismatched Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_BridalParty_versa" class="sans-xs">Versa Convertible Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingcolorideas" class="sans-xs">Color Inspiration</a></li>
          <li class="carousel-nav_item-child"><a href="http://catalog.davidsbridal.com/bridalparty/app.php?Reltd=6.5.6.3.3" class="sans-xs">Look Books</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_Curations_weddingparty" class="sans-xs">#DBMaids</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="true">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Shop</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: block;">
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/all-bridesmaid-dresses" class="sans-xs">All Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/designer-bridesmaid-dresses" class="sans-xs">Designer Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/junior-bridesmaid-dresses" class="sans-xs">Junior Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/plus-size-bridesmaid-dresses" class="sans-xs">Plus Size Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/color-swatches" class="sans-xs">Color Swatches</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/bridesmaids-new-arrivals" class="sans-xs">New Arrivals</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Top Trends</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/lace-bridesmaid-dresses#dbi" class="sans-xs">Lace Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/bridesmaid-dresses/convertible-bridesmaid-dresses#dbi" class="sans-xs">Convertible Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/sequin-bridesmaid-dresses" class="sans-xs">Sequin Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/SearchDisplay?searchTermScope=&searchType=1002&filterTerm=&maxPrice=&top_category=&showResultsPage=true&langId=-1&beginIndex=0&advancedSearch=&sType=SimpleSearch&metaData=YWRzX2ZfYnJhbmRzX250a19jczoiRGF2aWQncyBCcmlkYWwi&pageSize=40&manufacturer=&resultCatEntryType=2&catalogId=10051&pageView=grid&searchTerm=print+dress&minPrice=&urlLangId=-1&categoryId=3002767&storeId=10052" class="sans-xs">Printed Bridesmaid Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10165721051031043276111119&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&facetValues:,High Low&" class="sans-xs">High Low Bridesmaid Dresses</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- End Mini-nav -->

</section><!-- End Carousel -->


<!-- <script type="text/javascript">
  // Set margin-top on element under video to compensate for .video-cover
  jQuery(document).ready(function() {
    var windowWidth = $(window).width();
    var espots = $('.contentRecommendationWidget');
    var carousel = espots.has('.carousel').index() + 1;
    var nthChild = carousel + 1;
    console.log('espots: ' + espots);
    console.log('carousel: ' + carousel);
    console.log('nthChild: ' + nthChild);


    var elementUnderVideo = $('[data-slot-id="1"] .contentRecommendationWidget:nth-child(' + nthChild + ')'); // nth-child is the # of the espot to move up
    function adjustMargin() {
      var videoCoverHeight = $('.carousel .video-cover').height();
      var marginTop = '-' + videoCoverHeight + 'px';
      elementUnderVideo.css('margin-top', marginTop);
    }
    // On Load
    if (windowWidth >= 768) {
      adjustMargin();
    }
    // On Resize
    $(window).on('resize', function() {
      var resizeWindowWidth = $(window).width();
      if (resizeWindowWidth >= 768) {
        adjustMargin();
      } else {
        elementUnderVideo.css('margin-top', '');
      }
    });
  });
</script> -->


<!-- Mini-Nav -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    // ================================================================
    // MINI-NAV FUNCTIONALITY - OPEN/CLOSE
    // ================================================================
    // Mini-Nav Heading
    $('.carousel-heading').on("click", function(){
      if($(this).parent().attr('data-nav-open') == "false") {
        $(this).parent().attr('data-nav-open', 'true');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });

    // Mini-Nav Sections
    $('.carousel-nav_item_header').on('click', function(){
      if($(this).parent().attr('data-nav-open') == 'false') {
        $(this).parent().attr('data-nav-open', 'true');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });


    // ================================================================
    // MINI-NAV - BACK BUTTON - PRESERVE OPEN/CLOSE STATE
    // ================================================================
    // History State
    var currentState = history.state;
    if(currentState === null || currentState === undefined) {
      var menuStates = [];
    } else {
      var menuStates = currentState[0];
    }


    // Get Mini-Nav States
    function getMiniNavStates() {
      var menuStates = [];
      var numMiniNavMenus = $('[data-nav-open]').length;
      if(numMiniNavMenus > 0) {
        $('[data-nav-open]').each(function(index){
          var trueFalse = $(this).attr('data-nav-open');
          trueFalse = [trueFalse];
          menuStates = $.merge(menuStates, trueFalse);
        });
        return menuStates;
      }
    }

    // Set Mini-Nav States
    function setMiniNavStates() {
      $('[data-nav-open]').each(function(index){
        var currentMenuStatesValue = menuStates[index];
        $(this).attr('data-nav-open', currentMenuStatesValue);
        // Mini-Nav Heading
        if(index === 0) {
          if($('.carousel-nav').attr('data-nav-open') === 'true') {
            $('.carousel-nav_items').attr('style', 'display: block');
          } else {
            $('.carousel-nav_items').attr('style', 'display: none');
          }
        // Mini-Nav Sections
        } else {
          if(currentMenuStatesValue === 'true') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: block');
          } else if (currentMenuStatesValue === 'false') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: none');
          }
        }
      });
    }
    setMiniNavStates();
  });
</script>

<!-- Google KnowledgeGraph -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "url": "http://www.davidsbridal.com",
  "logo": "http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
  "sameAs" : ["https://www.facebook.com/DavidsBridal/",
  "https://www.pinterest.com/davidsbridal/",
  "https://twitter.com/davidsbridal",
  "https://www.instagram.com/davidsbridal/",
  "https://www.youtube.com/user/davidsbridal"]
}
</script>
