<section class="espot-container three-across" data-analytics-tagging="Junior-RealBM-Mismatched">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_4">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/bridesmaid-dresses/junior-bridesmaid-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_Vertical_CLP_Module_JBM.jpg" alt="Junior bridesmaid at wedding reception" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Junior Bridesmaids</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/bridesmaid-dresses/junior-bridesmaid-dresses">Shop Styles Starting at $69.95*<!--$59.95-->&nbsp;&gt;</a>
          </p>
          <p class="sans-xxs"><strong>*With rewards</strong></p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_5">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_RealBridesmaidsDresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/Vertical_Cat_Crop_RealBM.jpg" alt="Bridesmaids in blue dresses linking arms with bride" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Real Bridesmaids</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_RealBridesmaidsDresses">Explore Parties By Color&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_6">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/bridesmaids/767px_Vertical_CLP_Module_MixMatch.jpg" alt="Bridesmaids in mis-matched v-neck purple and wine bridesmaid dresses" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
