// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  //@include green-bg();
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 0;

  p.sans-bold-uppercase {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
