.budget-container {
  padding: 15px 0;
}

.flex {
  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: space-around;       // default: flex-start
  align-items: stretch;                // default: stretch
  align-content: stretch;              // default: stretch
  margin-top: -10px;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }

  .column {
    width: 100%;
    padding: 0;

    &:first-child {
      @media screen and (min-width: $breakpoint-md) {
        width: 72.5%;
        margin-right: 5px;
      }
    }
    &:last-child {
      @media screen and (min-width: $breakpoint-md) {
        width: 27.5%;
        margin-left: 5px;
      }
    }

    & img {
      margin-top: 10px;
    }
  } // .column


  &.reverse {
    flex-direction: row-reverse;

    .column {
      &:first-child {
        @media screen and (min-width: $breakpoint-md) {
          margin-right: 0;
          margin-left: 5px;
        }
      }
      &:last-child {
        @media screen and (min-width: $breakpoint-md) {
          margin-right: 5px;
          margin-left: 0;
        }
      }
    }
  }
}
