<style media="screen">
.shop-by-color {
  display: block;
  padding: 15px 0;
  position: relative;
  width: 100%; }
  .shop-by-color__heading {
    padding-bottom: 5px;
    border-bottom: 1px solid #c1c1c1;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__heading {
        text-align: left; } }
  .shop-by-color__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5px; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__flex {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .shop-by-color__flex a {
      text-decoration: none; }
    .shop-by-color__flex .column {
      padding: 5px;
      text-align: center;
      width: 14.2857142857%;
      max-width: 45px; }
      @media screen and (min-width: 768px) {
        .shop-by-color__flex .column {
          width: 7.1428571429%;
          max-width: 50px; } }
      @media screen and (min-width: 1024px) {
        .shop-by-color__flex .column {
          width: 7.6923076923%;
          max-width: 100%; } }
  .shop-by-color__svg svg {
    display: block;
    width: 100%;
    height: 100%; }
  .shop-by-color__copy .sans-bold-uppercase {
    font-size: 9px; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__copy .sans-bold-uppercase {
        font-size: 10px; } }
  .shop-by-color .apple {
    fill: #981C41; }
  .shop-by-color .sienna {
    fill: #D94514; }
  .shop-by-color .sunflower {
    fill: #FADA0C; }
  .shop-by-color .juniper {
    fill: #205241; }
  .shop-by-color .marine {
    fill: #0D3862; }
  .shop-by-color .plum {
    fill: #470040; }
  .shop-by-color .ballet {
    fill: #EAADAD; }
  .shop-by-color .truffle {
    fill: #473336; }
  .shop-by-color .black {
    fill: #040A05; }
  .shop-by-color .mystic {
    fill: #909A9C; }
  .shop-by-color .ivory {
    fill: #F2EEEA; }
  .shop-by-color .white {
    fill: white;
    stroke: #e1e1e1;
    stroke-width: 1px; }
</style>




<section class="shop-by-color">
  <div class="shop-by-color__heading">
    <h3 class="serif-l-italic">Shop by Color</h3>
  </div>

  <div class="shop-by-color__flex">

    <div class="column">
      <a role="button" title="Red" aria-labelledby="307445734561666668982101100_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_170_Red" class="facetbutton" href="#" data-for="307445734561666668982101100" onclick="javascript:setCurrentId('307445734561666668982101100');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668982101100_ACCE_Label" id="307445734561666668982101100" value="ads_f_colorfamily_ntk_cs%3A%22Red%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Red')" class="listing__select-color-family-radio FAMILY_RADIO_Red" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="apple" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Red</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Orange" aria-labelledby="30744573456166666897911497110103101_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_129_Orange" class="facetbutton" href="#" data-for="30744573456166666897911497110103101" onclick="javascript:setCurrentId('30744573456166666897911497110103101');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="30744573456166666897911497110103101_ACCE_Label" id="30744573456166666897911497110103101" value="ads_f_colorfamily_ntk_cs%3A%22Orange%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Orange')" class="listing__select-color-family-radio FAMILY_RADIO_Orange" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="sienna" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Orange</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Yellow" aria-labelledby="307445734561666668989101108108111119_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_107_Yellow" class="facetbutton" href="#" data-for="307445734561666668989101108108111119" onclick="javascript:setCurrentId('307445734561666668989101108108111119');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668989101108108111119_ACCE_Label" id="307445734561666668989101108108111119" value="ads_f_colorfamily_ntk_cs%3A%22Yellow%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Yellow')" class="listing__select-color-family-radio FAMILY_RADIO_Yellow" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="sunflower" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Yellow</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Green" aria-labelledby="307445734561666668971114101101110_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_168_Green" class="facetbutton" href="#" data-for="307445734561666668971114101101110" onclick="javascript:setCurrentId('307445734561666668971114101101110');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668971114101101110_ACCE_Label" id="307445734561666668971114101101110" value="ads_f_colorfamily_ntk_cs%3A%22Green%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Green')" class="listing__select-color-family-radio FAMILY_RADIO_Green" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="juniper" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Green</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="#">
        <div class="shop-by-color__svg">
          <a role="button" title="Blue" aria-labelledby="307445734561666668966108117101_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_256_Blue" class="facetbutton" href="#" data-for="307445734561666668966108117101" onclick="javascript:setCurrentId('307445734561666668966108117101');">
            <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668966108117101_ACCE_Label" id="307445734561666668966108117101" value="ads_f_colorfamily_ntk_cs%3A%22Blue%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Blue')" class="listing__select-color-family-radio FAMILY_RADIO_Blue" onkeypress="">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="marine" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Blue</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Purple" aria-labelledby="307445734561666668980117114112108101_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_207_Purple" class="facetbutton" href="#" data-for="307445734561666668980117114112108101" onclick="javascript:setCurrentId('307445734561666668980117114112108101');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668980117114112108101_ACCE_Label" id="307445734561666668980117114112108101" value="ads_f_colorfamily_ntk_cs%3A%22Purple%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Purple')" class="listing__select-color-family-radio FAMILY_RADIO_Purple" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="plum" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Purple</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Pink" aria-labelledby="307445734561666668980105110107_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_233_Pink" class="facetbutton" href="#" data-for="307445734561666668980105110107" onclick="javascript:setCurrentId('307445734561666668980105110107');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668980105110107_ACCE_Label" id="307445734561666668980105110107" value="ads_f_colorfamily_ntk_cs%3A%22Pink%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Pink')" class="listing__select-color-family-radio FAMILY_RADIO_Pink" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="ballet" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Pink</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Brown" aria-labelledby="307445734561666668966114111119110_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_131_Brown" class="facetbutton" href="#" data-for="307445734561666668966114111119110" onclick="javascript:setCurrentId('307445734561666668966114111119110');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668966114111119110_ACCE_Label" id="307445734561666668966114111119110" value="ads_f_colorfamily_ntk_cs%3A%22Brown%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Brown')" class="listing__select-color-family-radio FAMILY_RADIO_Brown" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="truffle" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Brown</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Black" aria-labelledby="3074457345616666689661089799107_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_155_Black" class="facetbutton" href="#" data-for="3074457345616666689661089799107" onclick="javascript:setCurrentId('3074457345616666689661089799107');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="3074457345616666689661089799107_ACCE_Label" id="3074457345616666689661089799107" value="ads_f_colorfamily_ntk_cs%3A%22Black%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Black')" class="listing__select-color-family-radio FAMILY_RADIO_Black" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="black" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Black</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Grey" aria-labelledby="307445734561666668971114101121_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_168_Grey" class="facetbutton" href="#" data-for="307445734561666668971114101121" onclick="javascript:setCurrentId('307445734561666668971114101121');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668971114101121_ACCE_Label" id="307445734561666668971114101121" value="ads_f_colorfamily_ntk_cs%3A%22Grey%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Grey')" class="listing__select-color-family-radio FAMILY_RADIO_Grey" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="mystic" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Grey</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Multi" aria-labelledby="307445734561666668977117108116105_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_5_Multi" class="facetbutton" href="#" data-for="307445734561666668977117108116105" onclick="javascript:setCurrentId('307445734561666668977117108116105');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668977117108116105_ACCE_Label" id="307445734561666668977117108116105" value="ads_f_colorfamily_ntk_cs%3A%22Multi%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Multi')" class="listing__select-color-family-radio FAMILY_RADIO_Multi" onkeypress="">
        <div class="shop-by-color__svg">
          <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_floralmulti.png" alt="Floral Multi" />
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Multi</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a role="button" title="Ivory" aria-labelledby="307445734561666668973118111114121_ACCE_Label" id="facetButton_4_3074457345618260106_3074457345618262126_107_Ivory" class="facetbutton" href="#" data-for="307445734561666668973118111114121" onclick="javascript:setCurrentId('307445734561666668973118111114121');">
        <input tabindex="-1" type="radio" name="color-family" aria-labelledby="307445734561666668973118111114121_ACCE_Label" id="307445734561666668973118111114121" value="ads_f_colorfamily_ntk_cs%3A%22Ivory%22" onclick="SearchBasedNavigationDisplayJS.showChildColorFamily('Ivory')" class="listing__select-color-family-radio FAMILY_RADIO_Ivory" onkeypress="">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="ivory" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">Ivory</p>
        </div>
      </a>
    </div>

    <!-- <div class="column">
      <a href="#">
        <div class="shop-by-color__svg">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.517 38.641" enable-background="new 0 0 38.517 38.641"
             xml:space="preserve">
            <path class="white" d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
          </svg>
        </div>
        <div class="shop-by-color__copy">
          <p class="sans-bold-uppercase">White</p>
        </div>
      </a>
    </div> -->

  </div>

</section>
