.shop-by-color {
  //background: rgba(248, 246, 240, 1);
  display: block;
  padding: 15px 0;
  position: relative;
  width: 100%;


  &__heading {
    padding-bottom: 5px;
    border-bottom: 1px solid #c1c1c1;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }



  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 5px;
    @media screen and (min-width: 1024px) {
      justify-content: space-between;
    }

    a {
      text-decoration: none;
    }

    .column {
      padding: 5px;
      text-align: center;
      width: 14.2857142857%;
      max-width: 45px;
      @media screen and (min-width: 768px) {
        width: 7.1428571429%;
        max-width: 50px;
      }
      @media screen and (min-width: 1024px) {
        width: 7.6923076923%;
        max-width: 100%;
      }
    } // column
  } // flex


  &__svg {
    svg {
      display: block;
      width: 100%;
      height: 100%;

    }
  }

  &__copy {
    .sans-bold-uppercase {
      font-size: 9px;
      @media screen and (min-width: 1024px) {
        font-size: 10px;
      }
    }
  }









  .apple { fill: #981C41; }
  .sienna { fill: #D94514; }
  .sunflower { fill: #FADA0C; }
  .juniper { fill: #205241; }
  .marine { fill: #0D3862; }
  .plum { fill: #470040; }
  .ballet { fill: #EAADAD; }
  .truffle { fill: #473336; }
  .black { fill: #040A05; }
  .mystic { fill: #909A9C; }
  .ivory { fill: #F2EEEA; }
  .white {
    fill: white;
    stroke: #e1e1e1;
    stroke-width: 1px;
  }

}
