.shop-by-color {
  display: block;
  padding: 15px 0;
  position: relative;
  width: 100%; }
  .shop-by-color__heading {
    padding-bottom: 5px;
    border-bottom: 1px solid #c1c1c1;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__heading {
        text-align: left; } }
  .shop-by-color__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5px; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__flex {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .shop-by-color__flex a {
      text-decoration: none; }
    .shop-by-color__flex .column {
      padding: 5px;
      text-align: center;
      width: 14.2857142857%;
      max-width: 45px; }
      @media screen and (min-width: 768px) {
        .shop-by-color__flex .column {
          width: 7.1428571429%;
          max-width: 50px; } }
      @media screen and (min-width: 1024px) {
        .shop-by-color__flex .column {
          width: 7.6923076923%;
          max-width: 100%; } }
  .shop-by-color__svg svg {
    display: block;
    width: 100%;
    height: 100%; }
  .shop-by-color__copy .sans-bold-uppercase {
    font-size: 9px; }
    @media screen and (min-width: 1024px) {
      .shop-by-color__copy .sans-bold-uppercase {
        font-size: 10px; } }
  .shop-by-color .apple {
    fill: #981C41; }
  .shop-by-color .sienna {
    fill: #D94514; }
  .shop-by-color .sunflower {
    fill: #FADA0C; }
  .shop-by-color .juniper {
    fill: #205241; }
  .shop-by-color .marine {
    fill: #0D3862; }
  .shop-by-color .plum {
    fill: #470040; }
  .shop-by-color .ballet {
    fill: #EAADAD; }
  .shop-by-color .truffle {
    fill: #473336; }
  .shop-by-color .black {
    fill: #040A05; }
  .shop-by-color .mystic {
    fill: #909A9C; }
  .shop-by-color .ivory {
    fill: #F2EEEA; }
  .shop-by-color .white {
    fill: white;
    stroke: #e1e1e1;
    stroke-width: 1px; }
