<style media="screen">
.dbcc-banner {
  display: block;
  position: relative;
  max-width: 1262px;
  margin: 30px auto;
  height: 200px;
  background: #ffd0cc;
  background-image: url("/wcsstore/images/wwcm/homepage/DBCC/DBCC_HP_Banner_Refresh_Mobile_V2.jpg");
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .dbcc-banner {
      background-image: url("/wcsstore/images/wwcm/homepage/DBCC/DBCC_HP_Banner_Refresh_Desktop_V2.jpg"); } }
  .dbcc-banner__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  .dbcc-banner__text {
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    left: 150px; }
    @media screen and (min-width: 768px) {
      .dbcc-banner__text {
        left: 340px; } }
    .dbcc-banner__text a {
      color: #333; }
      .dbcc-banner__text a:hover {
        color: #333; }
    .dbcc-banner__text p {
      margin: 0;
      padding: 0; }
      .dbcc-banner__text p.sans-m {
        padding-top: 10px;
        padding-bottom: 10px; }
      .dbcc-banner__text p.sans-bold-uppercase a {
        display: block;
        text-decoration: none; }
        .dbcc-banner__text p.sans-bold-uppercase a:hover {
          color: #74736d; }
</style>

<section class="dbcc-banner">
  <a href="/Content_Finance_dbiCreditCard">
    <div class="dbcc-banner__inner">&nbsp;</div>
  </a>

  <div class="dbcc-banner__text">
    <a href="/Content_Finance_dbiCreditCard">
      <p class="sans-m">Limited Time Only</p>
      <p class="serif-m">Up to 12 months financing</p>
      <p class="sans-m">with the David's Bridal Credit Card*</p>
    </a>
    <p class="sans-bold-uppercase">
      <a href="/Content_Finance_dbiCreditCard">Learn More&nbsp;&gt;</a>
    </p>
  </div>
</section>
