<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section data-analytics-tagging="SaleModule" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/designer-bridal-under-500">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2017/sale/1803021_crops_3_767x1150.jpg" alt="Bride holding colorful bouquet" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Last Chance Designer Dresses Under&nbsp;$500</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/designer-bridal-under-500">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_2">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/sale-wedding-dresses-under-300">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2017/sale/1803021_crops_1_767x1150.jpg" alt="Bride in strapless white wedding dress" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Dresses Under $300</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/sale-wedding-dresses-under-300">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/casual-bridal-under-150">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2017/sale/1803021_crops_2_767x1150.jpg" alt="Bride in casual wedding dress" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Casual Wedding Dresses Under $150</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/casual-bridal-under-150">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
