<style media="screen">
.shop-by-price {
  max-width: 1272px;
  margin: 15px auto 0; }
  @media screen and (min-width: 768px) {
    .shop-by-price {
      margin: 20px auto 0; } }
  .shop-by-price .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (min-width: 768px) {
      .shop-by-price .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .shop-by-price .flex-container .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .shop-by-price .flex-container .column {
          width: 100%; } }
    .shop-by-price .flex-container a {
      color: #333; }
      .shop-by-price .flex-container a:hover, .shop-by-price .flex-container a:active {
        color: #333; }
  .shop-by-price img {
    width: 100%; }
  .shop-by-price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: column;
        -ms-flex-positive: column;
            flex-grow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #f8f6f0;
    border: 2px solid #f04874;
    padding: 24px 5px;
    text-align: center;
    height: 100%; }
    .shop-by-price-item p {
      margin: 0;
      width: 100%; }
      .shop-by-price-item p .serif-m {
        font-size: 18px; }
        @media screen and (min-width: 768px) {
          .shop-by-price-item p .serif-m {
            font-size: 24px; } }
      .shop-by-price-item p .serif-xxl {
        font-size: 26px; }
        @media screen and (min-width: 768px) {
          .shop-by-price-item p .serif-xxl {
            font-size: 48px; } }
</style>

<section data-analytics-tagging="ShopByPrice" class="espot-container shop-by-price">
  <div class="flex-container">
    <div class="column">
      <a href="/sale/sample-sale">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_samplesale.gif" alt="Bridal Sample Sale" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-party-dresses">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_moboccasion70off.gif" alt="Occasion dress clearance" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-accessories">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_shoes50.gif" alt="Shoes & Accessories Clearance" />
      </a>
    </div>
    <div class="column">
      <a href="/sale/sale-wedding-decorations">
        <img src="/wcsstore/images/wwcm/homepage/Desktop_Module_Specs_Desktop_gifts50.gif" alt="Gifts & Decor Clearance" />
      </a>
    </div>
  </div>
</section>
