<style media="screen">
.appointment-banner {
  max-width: 1262px;
  margin: 10px auto;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  height: 125px; }
  @media screen and (min-width: 768px) {
    .appointment-banner {
      height: 155px;
      margin: 10px auto; } }
  @media screen and (min-width: 1024px) {
    .appointment-banner {
      height: 120px; } }
.appointment-banner__inner {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  left: 8px;
  border: 1px solid #fff;
  padding: 20px 0; }
@media screen and (min-width: 500px) {
  .appointment-banner__inner {
    padding: 10px 0; } }
@media screen and (min-width: 500px) {
  .appointment-banner__inner {
    padding: 18px 0; } }
.appointment-banner__text {
  padding: 0; }
.appointment-banner__headline {
  display: block; }
@media screen and (min-width: 768px) {
  .appointment-banner__headline {
    display: block; } }
@media screen and (min-width: 1024px) {
  .appointment-banner__headline {
    display: inline-block; } }
.appointment-banner__headline p {
  margin-bottom: 0; }
.appointment-banner__subheadline {
  display: none;
  padding: 8px 50px 8px; }
@media screen and (min-width: 768px) {
  .appointment-banner__subheadline {
    display: block;
    padding: 8px 50px 8px; } }
@media screen and (min-width: 1024px) {
  .appointment-banner__subheadline {
    display: inline-block;
    padding: 24px 20px 0; } }
.appointment-banner__subheadline p {
  line-height: 20px !important;
  margin-bottom: 0; }
.appointment-banner__btn {
  display: block;
  margin: 0;
  padding: 10px 10px; }
@media screen and (min-width: 768px) {
  .appointment-banner__btn {
    padding: 0 10px; } }
@media screen and (min-width: 1024px) {
  .appointment-banner__btn {
    display: inline-block; } }
.appointment-banner .btn {
  font-family: "Open Sans", Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  background-color: transparent; }
.appointment-banner .btn-secondary a {
  outline: none;
  color: #52535a;
  background-color: #ffffff;
  border: 1px solid #52535a;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 240px;
  margin: 0 auto; }
.appointment-banner .btn-secondary a:hover,
.appointment-banner .btn-secondary a:focus {
  background-color: #ffffff;
  border: 1px solid #e0e0e7;
  outline: none; }
</style>
<div class="appointment-banner">
  <div class="appointment-banner__inner">
    <div class="appointment-banner__text">
      <div class="appointment-banner__headline">
        <p class="serif-m-italic">Meet with a stylist</p>
      </div>
      <div class="appointment-banner__subheadline">
        <p class="sans-xs">We&#39;d love to help you put together your look, from dress to jewelry.</p>
      </div>
      <div class="appointment-banner__btn">
        <p class="btn btn-secondary"><a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&amp;langId=-1&amp;storeId=10052">Make an Appointment</a></p>
      </div>
    </div>
  </div>
</div>
