<style media="screen">
.closest-store-banner {
  background: #fdccd0;
  display: block;
  margin: 0 auto;
  max-width: 1215px;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .closest-store-banner {
      background-image: url("http://sb.monetate.net/img/1/564/717050.jpg");
      background-repeat: no-repeat;
      background-position: 0% 0%;
      height: 200px; } }
  .closest-store-banner__inner {
    display: block;
    height: 100%;
    width: 100%; }
  .closest-store-banner__text {
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .closest-store-banner__text {
        padding: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        left: 30%;
        right: 10%; } }
    @media screen and (min-width: 1024px) {
      .closest-store-banner__text {
        left: initial;
        right: 25%; } }
  .closest-store-banner p {
    margin: 0; }
  .closest-store-banner .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .closest-store-banner .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .closest-store-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    margin-top: 15px; }
    .closest-store-banner .btn-secondary a.sans-bold-uppercase {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #74736d;
      color: #333;
      background-color: #fff;
      outline: none; }
      .closest-store-banner .btn-secondary a.sans-bold-uppercase:hover, .closest-store-banner .btn-secondary a.sans-bold-uppercase:active, .closest-store-banner .btn-secondary a.sans-bold-uppercasefocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .closest-store-banner .btn-secondary a.sans-bold-uppercase {
          padding: 11px 50px !important; } }
</style>
<div class="closest-store-banner">
  <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">
    <div class="closest-store-banner__inner"></div>
  </a>
  <div class="closest-store-banner__text">
    <p class="sans-l">Visit your store</p>
    <p class="sans-l">
      <strong>
        <span>at </span>
        <span id="closestStoreAddress">2600 Chemical Road, </span>
        <span id="closestStoreCity"><br class="tablet-hidden desktop-hidden">Plymouth Meeting, </span>
        <span id="closestStoreState">PA</span>
        <span></span>
      </strong>
    </p>
    <p class="sans-l"><strong>for help finding your perfect dress.</strong></p>
    <p class="btn btn-secondary">
      <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052" class="sans-bold-uppercase">Make An Appointment</a>
    </p>
  </div>
</div>
