html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.rwv-banner {
  display: block;
  max-width: 1262px;
  background: #fee6e3;
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px; }
  .rwv-banner p {
    margin: 0; }
    .rwv-banner p:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px; }
  .rwv-banner .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .rwv-banner .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .rwv-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .rwv-banner .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .rwv-banner .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .rwv-banner .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .rwv-banner .sans-bold-uppercase a,
  .rwv-banner .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .rwv-banner .sans-bold-uppercase a:hover,
  .rwv-banner .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }

.rwv-showcase-banner {
  display: block;
  max-width: 1262px;
  background: #fee6e3;
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px; }
  .rwv-showcase-banner p {
    margin: 0; }
    .rwv-showcase-banner p:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px; }
  .rwv-showcase-banner .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .rwv-showcase-banner .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .rwv-showcase-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .rwv-showcase-banner .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .rwv-showcase-banner .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .rwv-showcase-banner .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .rwv-showcase-banner .sans-bold-uppercase a,
  .rwv-showcase-banner .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .rwv-showcase-banner .sans-bold-uppercase a:hover,
  .rwv-showcase-banner .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .rwv-showcase-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .rwv-showcase-banner .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .rwv-showcase-banner .btn-secondary a:hover, .rwv-showcase-banner .btn-secondary a:active, .rwv-showcase-banner .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .rwv-showcase-banner .btn-secondary a {
          padding: 11px 100px; } }
