@import "../../variables";
@import "../../mixins";
@import "../../resets";

.rwv-banner {
  display: block;
  max-width: 1262px;
  background: #fee6e3;
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;

  p {
    margin: 0;
    &:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }


        .sans-bold-uppercase a,
        .sans-bold-uppercase a:visited {
          font-weight: 700;
          color: #333;
          text-decoration: none;
          transition: all 0.25s ease;
          transition-property: all;
          transition-duration: 0.25s;
          transition-timing-function: ease;
          transition-delay: initial;
        }
        .sans-bold-uppercase a:hover,
        .sans-bold-uppercase a:active {
          color: #727278;
          text-decoration: none;
        }
}


.rwv-showcase-banner {
  display: block;
  max-width: 1262px;
  background: #fee6e3;
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;

  p {
    margin: 0;
    &:nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }

    .sans-bold-uppercase a,
    .sans-bold-uppercase a:visited {
      font-weight: 700;
      color: #333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
    }
    .sans-bold-uppercase a:hover,
    .sans-bold-uppercase a:active {
      color: #727278;
      text-decoration: none;
    }

    .btn {
      font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      vertical-align: top;
      white-space: nowrap;
      border: none;
      padding: 0;
      cursor: pointer;
      width: auto;

      &-secondary a {
        display: inline-block;
        padding: 9px 32px;
        border: 1px solid $purple-gray-dk;
        color: $black;
        background-color: $white;
        outline: none;
        &:hover,
        &:active,
        &focus {
          border: 1px solid $purple-lt;
        }
        @media screen and (min-width: $breakpoint-md) {
          padding: 11px 100px;
        }
      }
    }
}
