<div class="mt-nav-menu-link"><span>Menu</span></div>
<div class="mt-nav">

  <!-- BRIDES -->
  <div class="mt-nav-top mt-brides"><span>Brides</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/brides">Brides</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressesGuide">Wedding Dresses 101</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dress-quiz">Wedding Dress Finder</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressDesigners">Meet the Brands</a>
          <a href="http://dbqa.davidsbridal.com/Content_Appointment_planning">Getting Started</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide-styleguidedressguide_index">Silhouette Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear: Every Wedding Event</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingthemes">Wedding Themes</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingPlanningGuide">Wedding Planning Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_springweddingdressideas">Spring 2018 Collection</a>
          <a href="http://dbqa.davidsbridal.com/Content_Catalog_onlinecatalog">Look Books</a>
          <a href="http://dbqa.davidsbridal.com/Content_Bridal_dbwomanabout">Plus Size Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_Bridal_dbpetiteabout">Petite Size Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_RealWeddings_realweddings">Real Weddings</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_gownpreservation">Preserve Your Gown</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Wedding Dresses</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/all-wedding-dresses">All Wedding Dresses</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/plus-size-wedding-dresses">Plus Size</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/petite-size-wedding-dresses">Petite</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/tall-wedding-dresses">Tall</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/mermaid-wedding-dresses">Mermaid/Trumpet</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/a-line-wedding-dresses">A-Line</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/ball-gown-wedding-dresses">Ball Gown</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/sheath-wedding-dresses">Sheath</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/short-wedding-dress">Short</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/casual-wedding-dress">Casual</a>
          <a href="http://dbqa.davidsbridal.com/dresses/little-white-dresses">Little White Dresses</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/online-only-exclusive-wedding-dresses">Online Exclusives</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/limited-edition">Limited Edition</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Designer</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/all-designer-wedding-dresses">All Designer Wedding Dresses</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/white-by-vera-wang">White by Vera Wang</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/oleg-cassini">Oleg Cassini</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/truly-zac-posen">Truly Zac Posen</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/melissa-sweet">Melissa Sweet</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/galina-signature">Galina Signature</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/galina">Galina</a>
          <a href="http://dbqa.davidsbridal.com/davids-bridal-collection-wedding-dresses">David&#39;s Bridal Collection</a>
          <a href="http://dbqa.davidsbridal.com/db-studio-wedding-dresses">DB Studio</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/wonder-by-jenny-packham">Wonder by Jenny Packham</a>
          <a href="http://dbqa.davidsbridal.com/cheers-cynthia-rowley-dresses">Cheers Cynthia Rowley</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/jewel">Jewel</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-dresses-under-200">Under $200</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses-under-600">Under $600</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses-under-1000">Under $1000</a>
          <a href="http://dbqa.davidsbridal.com/wedding-dresses-over-1000">$1000 &amp; Up</a>
          <a href="http://dbqa.davidsbridal.com/select-wedding-dresses-onsale">Up to 70% Off</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Complete Your Day</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-dresses/casual-wedding-dress">All Accessories</a>
          <a href="http://dbqa.davidsbridal.com/shoes/bridal-wedding-shoes">Bridal Shoes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/veils">Veils</a>
          <a href="http://dbqa.davidsbridal.com/accessories/hair-accessories">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/shoes/bridal-wedding-shoes">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/accessories/shapewear-and-slips">Slips &amp; Shapewear</a>
          <a href="http://dbqa.davidsbridal.com/accessories/bras">Bras</a>
          <a href="http://dbqa.davidsbridal.com/accessories/honeymoon-lingerie">Honeymoon Lingerie</a>
          <a href="http://dbqa.davidsbridal.com/accessories/handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/sashes-and-belts">Sashes &amp; Belts</a>
          <a href="http://dbqa.davidsbridal.com/accessories/gloves">Gloves</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jackets-and-wraps">Bridal Jackets &amp; Wraps</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/wedding-dresses/casual-wedding-dress">OH-SO-EFFORTLESS LITTLE WHITE DRESSES, STARTING AT $99.95&nbsp;&gt;</a>
    </div>
  </div>


  <!-- BRIDESMAIDS -->
  <div class="mt-nav-top mt-bridesmaids"><span>Bridesmaids</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/bridesmaids">Bridesmaids</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Wedding Colors & Bridal Party Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide-ColorInspiration_colormain">Color Chart</a>
          <a href="http://dbqa.davidsbridal.com/Content_BridesmaidDress_Quiz">Style Finder Quiz</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_springweddingcolorideas">Wedding Colors By Season</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Mismatched Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/Content_BridalParty_versa">Versa Convertible Dresses</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorideas">Color Inspiration</a>
          <a href="http://dbqa.davidsbridal.com/Content_Catalog_onlinecatalog">Look Books</a>
          <a href="http://dbqa.davidsbridal.com/Content_Curations_weddingparty">#DBMaids</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Bridesmaid Dresses</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/all-bridesmaid-dresses">All Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/bridesmaids-new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/junior-bridesmaid-dresses">Junior Bridesmaids</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/online-only-exclusive-bridesmaid-dresses">Online Exclusives</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/plus-size-bridesmaid-dresses">Plus Size Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/maternity-bridesmaid-dresses">Maternity Friendly</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/convertible-bridesmaid-dresses">Convertible Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/lace-bridesmaid-dresses">Lace Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/short-bridesmaid-dresses">Short Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/color-swatches">Color Swatches</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Designer</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/designer-bridesmaid-dresses">All Designer Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/oleg-cassini-bridesmaid-dresses">Oleg Cassini</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/wonder-by-jenny-packham-bridesmaids">Wonder by Jenny Packham</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/truly-zac-posen-bridesmaids">Truly Zac Posen</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses/donna-morgan-bridesmaids">Donna Morgan</a>
          <a href="http://dbqa.davidsbridal.com/reverie-bridesmaid-dresses">Reverie</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses-under-100">Under $100</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses-under-150">Under $150</a>
          <a href="http://dbqa.davidsbridal.com/bridesmaid-dresses-under-200">Under $200</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Complete Your Look</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/accessories/all-accessories">All Accessories</a>
          <a href="http://dbqa.davidsbridal.com/shoes/all-shoes">Shoes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/hair-accessories">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jewelry">Jewlery</a>
          <a href="http://dbqa.davidsbridal.com/accessories/handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jackets-and-wraps">Jackets &amp; Wraps</a>
          <a href="http://dbqa.davidsbridal.com/accessories/sashes-and-belts">Sashes &amp; Belts</a>
          <a href="http://dbqa.davidsbridal.com/accessories/bras">Bras</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garment-bags">Garmet Bags</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/Content_BridesmaidDress_Quiz">OUR DRESS FINDER CAN HELP YOU PICK THE PERFECT LOOK FOR YOUR BRIDAL PARTY&nbsp;&gt;</a>
    </div>
  </div>


  <!-- FLOWER GIRL -->
  <div class="mt-nav-top mt-flower-girl"><span>Flower Girl</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/flowergirl">Flower Girl</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Inspiration</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Wedding Colors & Bridal Party Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorideas">Wedding Color Inspiration</a>
          <a href="http://dbqa.davidsbridal.com/Content_Catalog_onlinecatalog">2018 Look Book</a>
          <a href="http://dbqa.davidsbridal.com/Content_RealWeddings_realweddings">Real Weddings</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Flower Girl Dresses</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/dresses/flower-girl-dresses">All Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:307445734561666668266117121979810810179110108105110101&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,Online Only&amp;">Online Exclusives</a>
          <a href="http://dbqa.davidsbridal.com/colored-flower-girl-dresses">Colorful Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/lace-vintage-flower-girl-dresses">Lace Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:10160671049710911297103110101">Ivory Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:1016087104105116101&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:&amp;">White Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/bohemian-flower-girl-dresses">Bohemian Flower Girl Dresses</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop by Size</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/dresses/flower-girl-dresses">All</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:3074457345616666688731101029711011611595495077,3074457345616666688731101029711011611595495677,3074457345616666688731101029711011611595505277&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,12M,18M,24M&amp;">Infants</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:307445734561666668884111100100108101114115955084,307445734561666668884111100100108101114115955184,3074457345616666688841111001001081011141159551,3074457345616666688841111001001081011141159552&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,2T,3T,3,4&amp;">Toddlers</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:30744573456166666887610511611610810132751051001159552,30744573456166666887610511611610810132751051001159553,30744573456166666887610511611610810132751051001159554,3074457345616666688761051161161081013275105100115955488,30744573456166666887610511611610810132751051001159555&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:4,5,6,6X,7&amp;">Little Kids</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:3074457345616666688751051001159553,3074457345616666688751051001159554,3074457345616666688751051001159556,307445734561666668875105100115954948,307445734561666668875105100115954950&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:5,6,8,10,12&amp;">Kids</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:307445734561666668880108117115327510510011595495043,307445734561666668880108117115327510510011595494843,3074457345616666688801081171153275105100115955643,307445734561666668880108117115327510510011595495243&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,12+,10+,8+,14+&amp;">Plus Kids</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:307445734561666668884101101110115954952&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:14&amp;">Teens</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:price&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:18.00&amp;maxPrice:50.00&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,$18.00-$37.00,$18.00-$30.00,$18.00-$50.00&amp;">Under $50</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:price&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:18.00&amp;maxPrice:100.00&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:$18.00-$100.00&amp;">Under $100</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002801&amp;storeId=10052&amp;langId=-1#!&amp;facet:price&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:100.00&amp;maxPrice:150.00&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:$100.00-$150.00&amp;">$100 &amp; Up</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-flower-girl-dresses">Sale</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Complete Your Look</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/accessories/flower-girl-accessories">All Flower Girl Accessories</a>
          <a href="http://dbqa.davidsbridal.com/flower-girl-jewelry">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/flower-girl-outerwear">Jackets &amp; Wraps</a>
          <a href="http://dbqa.davidsbridal.com/shoes/flower-girl-shoes">Shoes</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_e3_acctype_ntk_cs%253A%2522Girl%2527s%2BHeadpieces%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002632&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?pageSize=40&amp;searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_ceremonyacc_ntk_cs%253A%2522Flower%2BGirl%2BBaskets%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002755&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Flower Girl Baskets</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_e3_acctype_ntk_cs%253A%2522Communion%2BVeils%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002631&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Veils</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_e3_acctype_ntk_cs%253A%2522Sashes%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002755&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Sashes &amp; Belts</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_handbagtype_ntk_cs%253A%2522Flower%2BGirl%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002625&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?pageSize=40&amp;searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f2_ntk_cs%253A%2522XXS%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002626&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Gloves</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/flower-girl-gifts">Flower Girl Gifts</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/accessories/flower-girl-accessories">BUY ONE GET ONE 50% OFF SELECT FLOWER GIRL ACCESSORIES&nbsp;&gt;</a>
    </div>
  </div>


  <!-- DRESSES -->
  <div class="mt-nav-top mt-dresses"><span>Dresses</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/dresses">Dresses</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_motherofbridedresses">Mother of the Bride Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_styleguidemobcoordinator">Color Ideas for Mom</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_springweddingguestdresses">Guest of Wedding Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_casualweddingideas">Casual Wedding Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear to Every Wedding Event</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_SpecialOccasions">Special Occassions Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Guide</a>
          <a href="http://dbqa.davidsbridal.com/social-occasion-dress-quiz">Social Occasion Dress Finder</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Dresses</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/dresses/all-dresses">All Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/dresses-new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/dresses/dresses-limited-edition">Limited Edition</a>
          <a href="http://dbqa.davidsbridal.com/dresses/plus-size-dresses">Plus Size Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/girls-dresses">Girls Dresses</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Collections</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/dresses/mother-of-the-bride-dresses">Mother of the Bride Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/formal-dresses">Formal Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/cocktail-party-dresses">Cocktail &amp; Party Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/all-prom-dresses">Prom Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/flower-girl-dresses">Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/communion-dresses">Communion Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/little-black-dresses">Little Black Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/little-white-dresses">Little White Dresses</a>
          <a href="http://dbqa.davidsbridal.com/dresses/quinceanera-dresses">Quinceanera Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/homecoming-dresses">Homecoming Dresses</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/dresses-under-50">Under $50</a>
          <a href="http://dbqa.davidsbridal.com/dresses-under-100">Under $100</a>
          <a href="http://dbqa.davidsbridal.com/dresses-under-150">Under $150</a>
          <a href="http://dbqa.davidsbridal.com/dresses-over-150">$150 &amp; Up</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Complete Your Look</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/accessories/all-accessories">All Accessories</a>
          <a href="http://dbqa.davidsbridal.com/shoes/all-shoes">Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/flower-girl-shoes">Flower Girl Shoes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jewelry">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/accessories/hair-accessories">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/gloves">Gloves</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jackets-and-wraps">Jackets &amp; Wraps</a>
          <a href="http://dbqa.davidsbridal.com/accessories/shapewear-and-slips">Slip &amp; Shapewear</a>
          <a href="http://dbqa.davidsbridal.com/accessories/bras">Bras</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garment-bags">Garmet Bags</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/dresses/mother-of-the-bride-dresses">STYLES FOR MOM NOW $20 OFF&nbsp;&gt;</a>
    </div>
  </div>


  <!-- ACCESSORIES -->
  <div class="mt-nav-top mt-accessories"><span>Accessories</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/accessories">Accessories</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_veilstyleguide">Veil Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_headpiecestyleguide">Headpiece Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_styleguideenhanceyourshape">Shapewear Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_jewelrynecklines">Neckline & Jewelry Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingshoeideas">5 Must-Have Wedding Shoes</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingdressonabudget">4 Looks for Less</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_bridalpartyaccessorizing">Accessorizing Your Bridal Party</a>
          <a href="http://dbqa.davidsbridal.comhttp://dbqa.davidsbridal.com/Content_Curations_accessories">#DBAccessories</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Accessories</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/accessories/all-accessories">All Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/accessories-new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/accessories/veils">Veils</a>
          <a href="http://dbqa.davidsbridal.com/accessories/hair-accessories">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jewelry">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/accessories/handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/gloves">Gloves</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jackets-and-wraps">Jackets &amp; Wraps</a>
          <a href="http://dbqa.davidsbridal.com/accessories/sashes-and-belts">Belts &amp; Sashes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garment-bags">Garmet Bags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/wedding-dress-preservation">Wedding Dress Preservation</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?categoryId=3002633&amp;storeId=10052&amp;langId=-1#!&amp;facet:307445734561666668266117121979810810179110108105110101&amp;productBeginIndex:0&amp;orderBy:&amp;pageView:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:30&amp;productSize:large&amp;isPriceFacet:false&amp;facetValues:,Online Only&amp;">Online Exclusives</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Headpieces</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/mid-length-veils">Mid-Length Veils</a>
          <a href="http://dbqa.davidsbridal.com/cathedral-veils">Cathedral Veils</a>
          <a href="http://dbqa.davidsbridal.com/blushers">Blushers</a>
          <a href="http://dbqa.davidsbridal.com/short-veils">Short Veils</a>
          <a href="http://dbqa.davidsbridal.com/communion-veils">Communion Veils</a>
          <a href="http://dbqa.davidsbridal.com/tiaras">Tiaras</a>
          <a href="http://dbqa.davidsbridal.com/headbands">Headbands</a>
          <a href="http://dbqa.davidsbridal.com/combs">Combs</a>
          <a href="http://dbqa.davidsbridal.com/girls-hair-accessories">Girls Headpieces</a>
          <a href="http://dbqa.davidsbridal.com/hairpins">Hairpins</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Lingerie</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/accessories/lingerie">All Lingerie</a>
          <a href="http://dbqa.davidsbridal.com/accessories/shapewear-and-slips">Slips &amp; Shapewear</a>
          <a href="http://dbqa.davidsbridal.com/accessories/honeymoon-lingerie">Honeymoon Lingerie</a>
          <a href="http://dbqa.davidsbridal.com/accessories/bras">Bras</a>
          <a href="http://dbqa.davidsbridal.com/accessories/underwear-and-panties">Panties</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garters">Garters</a>
          <a href="http://dbqa.davidsbridal.com/accessories/lingerie-accessories">Lingerie Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/robes">Robes</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/veils-under-75">Veils Under $75</a>
          <a href="http://dbqa.davidsbridal.com/jewelry-under-20">Jewelry Under $20</a>
          <a href="http://dbqa.davidsbridal.com/slips-shapewear-under-50">Slips &amp; Shapewear Under $50</a>
          <a href="http://dbqa.davidsbridal.com/belts-sashes-under-50">Belts &amp; Sashes Under $50</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/accessories/jewelry">BUY ONE, GET ONE 50% OFF REGULAR PRICE JEWELRY&nbsp;&gt;</a>
    </div>
  </div>


  <!-- SHOES -->
  <div class="mt-nav-top mt-shoes"><span>Shoes</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/shoes">Shoes</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingshoeideas">5 Must-Have Bridal Shoes</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_dyeableshoesguide">Dyeable Shoes Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorshoes">Wedding Shoe Color Tips</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_somethingblueideas">Something Blue</a>
          <a href="http://dbqa.davidsbridal.com/Content_Curations_accessories">#DBAccessories</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shoes</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/shoes/all-shoes">All Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/shoes-new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/shoes/bridal-wedding-shoes">Bridal Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/evening-shoes">Evening Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/dyeable-shoes">Dyeable Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/flower-girl-shoes">Flower Girl Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/designer-shoes">Designer Shoes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/wide-width-shoes">Wide Width Shoes</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/shoes-under-25">Under $25</a>
          <a href="http://dbqa.davidsbridal.com/shoes-under-50">Under $50</a>
          <a href="http://dbqa.davidsbridal.com/shoes-under-100">Under $100</a>
          <a href="http://dbqa.davidsbridal.com/shoes/all-shoes">$100 &amp; Up</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop by Styles</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/shoes/sandals">Sandals</a>
          <a href="http://dbqa.davidsbridal.com/shoes/wedges">Wedges</a>
          <a href="http://dbqa.davidsbridal.com/shoes/heels-and-pumps">Pumps &amp; Heels</a>
          <a href="http://dbqa.davidsbridal.com/shoes/peep-toe-shoes">Peep Toes</a>
          <a href="http://dbqa.davidsbridal.com/shoes/ballet-flats">Ballet Flats</a>
          <a href="http://dbqa.davidsbridal.com/shoes/flip-flops">Flip Flops</a>
          <a href="http://dbqa.davidsbridal.com/shoes/sneakers">Sneakers &amp; Casual</a>
          <a href="http://dbqa.davidsbridal.com/shoes/foot-jewelry">Foot Jewelry</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/shoes/ballet-flats">BALLET FLATS STARTING AT $19.95&nbsp;&gt;</a>
    </div>
  </div>


  <!-- GIFTS -->
  <div class="mt-nav-top mt-gifts"><span>Gifts</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/gifts">Gifts</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingPreparation">Completing Your Day Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingGiftIdeas">Wedding Gift Ideas Hub</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_bridesmaidgiftideas">Bridesmaid Gift Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_engagementgiftideas">Engagement Gift Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingthemes">Wedding Themes</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">Wedding Invitations</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingsouvenirideas">Wedding Favor Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingchecklist">Ultimate Wedding Checklist</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Gifts by Category</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/all-wedding-gifts">All Gifts</a>
          <a href="http://dbqa.davidsbridal.com/totes-and-cosmetic-bags">Totes &amp; Cosmetic Cases</a>
          <a href="http://dbqa.davidsbridal.com/accessories/personalized-jewelry">Personalized Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/wedding-robes-clothing-gifts">Robes &amp; Apparel</a>
          <a href="http://dbqa.davidsbridal.com/barware-glassware-gifts">Barware &amp; Glassware</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522Jewelry%2BBoxes%2Band%2BRing%2BDishes%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Ring Holders &amp; Jewelry Boxes</a>
          <a href="http://dbqa.davidsbridal.com/cufflinks">Cuff Links &amp; Tie Clips</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522Travel%2BAccessories%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Travel Accessories</a>
          <a href="http://dbqa.davidsbridal.com/sunglasses">Sunglasses</a>
          <a href="http://dbqa.davidsbridal.com/bachelorette-party-gifts">Bachelorette</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Apparel Gifts</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-robes-clothing-gifts">All Robes &amp; Apparel</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522Robes%2Band%2BSlippers%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002658&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bridesmaid Robes</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002658&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bridesmaid Apparel</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522Robes%2Band%2BSlippers%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002659&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bride Robes</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002659&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bride Apparel</a>
          <a href="http://dbqa.davidsbridal.com/sleepwear-wedding-gifts">Sleepwear</a>
          <a href="http://dbqa.davidsbridal.com/slippers">Slippers</a>
          <a href="http://dbqa.davidsbridal.com/bachelorette-party-shirts">Bachelorette Party</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_personalized_ntk_cs%253A%2522Yes%2B-%2BAnd%2Bit%2527s%2BFree%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3039092&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Personalized Robes &amp; Apparel</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Gifts by Recipient</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/all-wedding-gifts">All Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/bridesmaid-gifts">Bridesmaid Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/groomsmen-gifts">Groomsmen Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/wedding-gifts-for-bride">Bride Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/wedding-gifts-for-groom">Groom Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/wedding-gifts-for-parents">Parent Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/flower-girl-gifts">Flower Girl Gifts</a>
          <a href="http://dbqa.davidsbridal.com/wedding-gifts/ring-bearer-gifts">Ring Bearer Gifts</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_giftsbyrecip_ntk_cs%253A%2522The%2BCouple%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">For the Couple</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_personalized_ntk_cs%253A%2522Yes%2B-%2BAnd%2Bit%2527s%2BFree%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Personalized Gifts</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Gifts by Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/gifts-under-10">Under $10</a>
          <a href="http://dbqa.davidsbridal.com/gifts-under-25">Under $25</a>
          <a href="http://dbqa.davidsbridal.com/gifts-under-50">Under $50</a>
          <a href="http://dbqa.davidsbridal.com/gifts-under-100">Under $100</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/wedding-gifts/all-wedding-gifts">BOGO 50% OFF ROBES &amp; GIFTS&nbsp;&gt;</a>
    </div>
  </div>


  <!-- DECOR -->
  <div class="mt-nav-top mt-decor"><span>Decor</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/wedding-decor">Decor</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingPreparation">Completing Your Day Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingDecorationIdeas">Wedding Decor Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingthemes">Wedding Themes</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_rusticweddingideas">Rustic D&eacute;cor</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">Wedding Invitations</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingsouvenirideas">Wedding Favor Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingchecklist">Ultimate Wedding Checklist</a>
          <a href="http://dbqa.davidsbridal.com/Content_RealWeddings_realweddings">Real Weddings</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Ceremony</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-decorations/ceremony-decorations">All Ceremony</a>
          <a href="http://dbqa.davidsbridal.com/unity-and-sand-ceremony-sets">Unity Ceremony</a>
          <a href="http://dbqa.davidsbridal.com/ring-bearer-pillows">Ring Bearer Pillows</a>
          <a href="http://dbqa.davidsbridal.com/flower-girl-baskets">Flower Girl Baskets</a>
          <a href="http://dbqa.davidsbridal.com/aisle-runners">Aisle Runners</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_ceremonyacc_ntk_cs%253A%2522Ceremony%2BSigns%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002655&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Ceremony Signs</a>
          <a href="http://dbqa.davidsbridal.com/wedding-pet-decorations-accessories">Pet Accessories</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?pageSize=40&amp;searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_ceremonyacc_ntk_cs%253A%2522Bouquet%2BAccessories%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002655&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bouquet Accessories</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?pageSize=40&amp;searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_ceremonyacc_ntk_cs%253A%2522Memorial%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002655&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Memorial</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_personalized_ntk_cs%253A%2522Yes%2B-%2BAnd%2Bit%2527s%2BFree%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002655&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Free Personalization</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Reception</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-decorations/reception-decorations">All Reception</a>
          <a href="http://dbqa.davidsbridal.com/wedding-cake-toppers">Cake Toppers</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_recepaccess_ntk_cs%253A%2522Guest%2BBooks%2Band%2BAlternatives%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002832&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Guest Books &amp; Alternatives</a>
          <a href="http://dbqa.davidsbridal.com/wedding-toasting-and-champagne-flutes">Toasting Flutes</a>
          <a href="http://dbqa.davidsbridal.com/serving-sets">Serving Sets</a>
          <a href="http://dbqa.davidsbridal.com/place-cards-and-table-numbers">Placecards &amp; Table Numbers</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_recepaccess_ntk_cs%253A%2522Personalized%2BNapkins%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002654&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Personalized Napkins</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_recepaccess_ntk_cs%253A%2522Candy%2Band%2BDessert%2BTable%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002654&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Candy &amp; Dessert Table</a>
          <a href="http://dbqa.davidsbridal.com/card-and-gift-holders">Wedding Card Boxes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garters">Garters</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_personalized_ntk_cs%253A%2522Yes%2B-%2BAnd%2Bit%2527s%2BFree%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002654&amp;langId=-1&amp;storeId=10052&amp;sType=Simple">Free Personalization</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Favors</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/wedding-decorations/wedding-favors">All Favors</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_favtypeattr_ntk_cs%253A%2522Barware%2B-%2BGlassware%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002653&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Bar &amp; Glassware</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_favtypeattr_ntk_cs%253A%2522Favor%2BHolders%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002653&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Favor Boxes &amp; Bags</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_favtypeattr_ntk_cs%253A%2522Edible%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002653&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Candy</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_favtypeattr_ntk_cs%253A%2522Place%2BCard%2BHolders%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002653&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Place Card Holders</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_favtypeattr_ntk_cs%253A%2522Unique%2BFavors%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002653&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Unique Favors</a>
          <a href="http://dbqa.davidsbridal.com/matches-candles-wedding-favors">Matches &amp; Candles</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Stationery</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">Invitations</a>
          <a href="https://www.shutterfly.com/cards-stationery/announcements/save-the-date?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS07&amp;mtNavCategory=DECORATIONS&amp;esch=1"> Save the Dates</a>
          <a href="https://www.shutterfly.com/wedding/wedding-invitation-samples?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS38"> Free Samples</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-thank-you-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS08&amp;mtNavCategory=DECORATIONS"> Thank You Cards</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-programs?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS02&amp;mtNavCategory=DECORATIONS"> Wedding Programs</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-place-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS10&amp;mtNavCategory=DECORATIONS"> Place Cards</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-menu-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS11&amp;mtNavCategory=DECORATIONS"> Menu Cards</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/wedding-decorations/all-wedding-decorations">BOGO 50% OFF D&eacute;COR &amp; FAVORS &nbsp;&gt;</a>
    </div>
  </div>


  <!-- PROM -->
  <div class="mt-nav-top mt-prom"><span>Prom</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/prom">Prom</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_Prom">Prom Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_Prom_lp">Prom Trend Report</a>
          <a href="http://dbqa.davidsbridal.com/blog/prom/prom-checklist/">Prom Checklist</a>
          <a href="http://dbqa.davidsbridal.com/Content_Prom_promfashionshows">Host a Fashion Show</a>
          <a href="http://dbqa.davidsbridal.com/Content_Prom_jordynwoods">Jordyn Woods Talks Prom</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_DonatePromDress">Donate Your Prom Dress</a>
          <a href="http://dbqa.davidsbridal.com/Content_Curations_prom">#DAVIDSPROM</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Prom</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/prom-dresses/homecoming-dresses">Homecoming Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/all-prom-dresses">All Prom Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/prom-new-arrivals">New Arrivals</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/prom-dresses-coming-soon">Coming Soon</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/long-prom-dresses">Long Prom Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/plus-size-prom-dresses">Plus Size Prom Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/two-piece-prom-dresses">Two-Piece Prom Dresses</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses/short-prom-dresses">Short Prom Dresses</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Shop By Price</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/prom-dresses-under-50">Under $50</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses-under-100">Under $100</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses-under-150">Under $150</a>
          <a href="http://dbqa.davidsbridal.com/prom-dresses-under-200">Under $200</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Complete Your Look</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/shoes/evening-shoes">Shoes</a>
          <a href="http://dbqa.davidsbridal.com/accessories/jewelry">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002632&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/accessories/handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/accessories/shapewear-and-slips">Slips &amp; Shapewear</a>
          <a href="http://dbqa.davidsbridal.com/accessories/garment-bags">Garment Bags</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="https://dbqa.davidsbridal.com/webapp/wcs/stores/servlet/UserSignupView?catalogId=10051&amp;catalogId=10051&amp;storeId=10052&amp;krypto=r7iwz%2FXmXVE61qdHX8xFdI7XBpPT2o1KRmNw30ePPoruqvAR11qaC97dXdU8GNeh4ijG6AiItpBJTbVZTdkBVOPgG%2BSeYBVeoqUEBlpqL8U%3D&amp;ddkey=http%3AUserSignupView">ENTER TO WIN YOUR DRESS, PLUS GET $10 OFF + FREE SHIPPING ON YOUR NEXT ORDER</a>
    </div>
  </div>


  <!-- SALE -->
  <div class="mt-nav-top mt-sale"><span>Sale</span>

    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="http://dbqa.davidsbridal.com/sale">Sale</a>

      <div class="mt-nav-expandable"><span>Explore</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_BuyOnline_offers">Daily Deals</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingideasonabudget">Wedding Planning Guide</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_realbridesweddingbudget">Budget Tips from Real Brides</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingPlanning_budgetplanner">How to Set a Wedding Budget</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_weddingchecklist">Your Ultimate Wedding Checklist</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_main">Savings From Our Partners</a>
          <a href="http://dbqa.davidsbridal.com/Content_SpecialOffers_rewards">DB Rewards</a>
          <a href="http://dbqa.davidsbridal.com/Content_RealWeddings_realweddings">Real Weddings</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>All Sale</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/sale/sale-all">All Sale</a>
          <a href="http://dbqa.davidsbridal.com/sale/sample-sale">Sample Sale</a>
          <a href="http://dbqa.davidsbridal.com/sale/final-sale">Final Sale</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Dresses</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/sale/sale-dresses">All Sale Dresses</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-wedding-dresses">Wedding Dresses</a>
          <a href="http://dbqa.davidsbridal.com/sale/bridesmaid-dresses">Bridesmaid Dresses</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-flower-girl-dresses">Flower Girl Dresses</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-mother-of-the-bride-dresses">Mother of the Bride</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-party-dresses">Party Dresses</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-prom-dresses">Prom Dresses</a>
        </div>
      </div>

      <div class="mt-nav-expandable"><span>Accessories</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/sale/sale-accessories">All Sale Accessories</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-shoes">Shoes</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-wedding-decorations">Wedding Decorations &amp; Gifts</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-hair-accessories">Hair Accessories</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-handbags">Handbags</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-jewelry">Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-lingerie">Lingerie</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-bras">Bras</a>
          <a href="http://dbqa.davidsbridal.com/sale/sales-shapewear-and-slips">Slips &amp; Shapewear</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-veils">Veils</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-sashes-and-belts">Belts &amp; Sashes</a>
          <a href="http://dbqa.davidsbridal.com/sale/sale-jackets-and-wraps">Jackets &amp; Wraps</a>
        </div>
      </div>

      <a class="mt-nav-thumb" href="http://dbqa.davidsbridal.com/sale/sample-sale">SHOP THE ONLINE SAMPLE SALE FOR UP TO 75% OFF - DRESSES START AT $148.48</a>
    </div>
  </div>


  <!-- DB PARTNERS -->
  <div class="mt-nav-top mt-all-departments"><span>DB PARTNERS</span>
    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="/Content_WeddingVendors_main">DB PARTNERS HOMEPAGE</a>
      <div class="mt-nav-expandable"><span>DB Partners</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_main">DB Partners</a>
          <a href="http://dbqa.davidsbridal.com/Content_SpecialOffers_rewards">DB Rewards</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_photography">Photography</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_giftregistry">Gift Registry</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_jewelry">Fine Jewelry</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_beautywellness">Beauty &amp; Wellness</a>
          <a href="https://www.hotelblocksforweddings.com/?cm_sp=WS_TopNav-_-TopNav-_-WS_giftRegistry">Hotel Blocks</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_photogifts">Photo Gifts</a>
          <a href="http://dbqa.davidsbridal.com/Content_WeddingVendors_afterthewedding">After the Wedding</a>
        </div>
      </div>
    </div>
  </div>


  <!-- INVITATIONS -->
  <div class="mt-nav-top mt-shop-collections"><span>INVITATIONS</span>
    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="/Content_StyleandFashionGuide_WeddingInvitations">INVITATIONS HOMEPAGE</a>
      <div class="mt-nav-expandable"><span>Invitations</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">Wedding Invitations</a>
          <a href="https://www.shutterfly.com/cards-stationery/announcements/save-the-date?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS01" target="_blank">Save the Dates</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-thank-you-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS02" target="_blank">Thank You Cards</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-programs?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS03"
          target="_blank">Wedding Programs</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-place-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS04" target="_blank">Place Cards</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-menu-cards?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS05"
          target="_blank">Menu Cards</a>
          <a href="https://www.shutterfly.com/cards-stationery/wedding-cards-stationery/wedding-address-labels?pid=DBRD&amp;psid=WEB&amp;cid=DBRDWEBWS06" target="_blank">Address Labels</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">All Stationery</a>
        </div>
      </div>
    </div>
  </div>


  <!-- INSPIRE & GUIDE -->
  <div class="mt-nav-top mt-inspire-guide"><span>INSPIRE &amp; GUIDE</span>
    <div class="mt-nav-level-2"><span class="mt-nav-return">&lt; Main Menu</span>
      <a href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE HOMEPAGE</a>
      <div class="mt-nav-expandable"><span>Inspiration &amp; Guidance</span>
        <div class="mt-nav-expandable-submenu">
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_styleguide">All Inspiraton &amp; Guidance</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressesGuide">Wedding Dresses 101</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingPlanningGuide">Wedding Planning</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Wedding Colors &amp; Bridal Party Ideas</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_WeddingPreparation">Completing Your Day</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_RealWeddings">Real Weddings</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_SpecialOccasions">Special Occasions</a>
          <a href="http://dbqa.davidsbridal.com/Content_StyleandFashionGuide_Prom">Prom</a>
          <a href="http://dbqa.davidsbridal.com/blog/index.php">The Blog</a>
        </div>
      </div>
    </div>
  </div>


  <!-- THE BLOG -->
  <div class="mt-nav-top mt-the-blog mt-no-arrow">
    <span><a href="http://dbqa.davidsbridal.com/blog/">THE BLOG</a></span>
  </div>


  <!-- TUXEDOS & SUITS -->
  <div class="mt-nav-top mt-inspireguide mt-no-arrow">
    <span><a href="/BrideGroomCaptureFormView?catalogId=10051&amp;storeId=10052&amp;langId=-1&amp;cm_sp=WS_TopNav-_-TopNav-_-WS_TuxedosSuits">TUXEDOS &amp; SUITS</a></span>
  </div>


  <div class="mt-nav-footer">
    <a href="https://secure.opinionlab.com/ccc01/comment_card_d.asp?referer=https://dbqa.davidsbridal.com">Share Website Feedback</a>
    <span class="mt-nav-footer-help">Need Help? <a href="tel:1-844-400-3222">1-844-400-3222</a></span>
    <a class="mt-nav-flag" href="http://dbqa.davidsbridal.com/InternationalLandingView?catalogId=10051&amp;langId=-1&amp;storeId=10052"><img src="" /></a>
  </div>
</div>
