<style media="screen">
.listing__grid-swatches-container {
  display: block;
  width: 100%; }

.listing__grid-swatches {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 10px; }

.listing__grid-swatch {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .listing__grid-swatch {
      height: 24px;
      width: 24px;
      margin-left: 5px;
      margin-right: 5px; } }
  .listing__grid-swatch-input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .listing__grid-swatch-label {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .listing__grid-swatch-bg {
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .listing__grid-swatch-bg {
        height: 24px;
        width: 24px; } }
  .listing__grid-swatch-title {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .listing__grid-swatch-plus {
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    position: relative; }
    .listing__grid-swatch-plus svg {
      position: absolute;
      width: 12px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin-top: -1px;
      margin-left: -1px; }

.listing__grid-item-description {
  padding-top: 0; }
</style>

<!-- Insert before .listing__grid-item-description -->
<div class="listing__grid-swatches-container">
  <ul class="listing__grid-swatches">

    <li class="listing__grid-swatch" data-color="42264f">
      <input class="listing__grid-swatch-input" type="radio" name="listing__grid-color-swatch" value="color-swatch--amethyst" data-swatch-slug="amethyst" swatch-name="color" swatch-value="Amethyst">
      <label class="listing__grid-swatch-label" for="listing__grid-color-swatch--amethyst" title="Amethyst">
        <span class="listing__grid-swatch-bg" data-swatch-slug="amethyst" style="background-color: #42264f;"></span>
        <span class="listing__grid-swatch-title">Amethyst</span>
      </label>
    </li>

    <li class="listing__grid-swatch" data-color="99062A">
      <input class="listing__grid-swatch-input" type="radio" name="listing__grid-color-swatch" value="color-swatch--apple" data-swatch-slug="apple" swatch-name="color" swatch-value="Apple">
      <label class="listing__grid-swatch-label" for="listing__grid-color-swatch--apple" title="Apple">
        <span class="listing__grid-swatch-bg" data-swatch-slug="amethyst" style="background-color: #99062A;"></span>
        <span class="listing__grid-swatch-title">Apple</span>
      </label>
    </li>

    <li class="listing__grid-swatch" data-color="ebb8af">
      <input class="listing__grid-swatch-input" type="radio" name="listing__grid-color-swatch" value="color-swatch--ballet" data-swatch-slug="ballet" swatch-name="color" swatch-value="Ballet">
      <label class="listing__grid-swatch-label" for="listing__grid-color-swatch--ballet" title="Ballet">
        <span class="listing__grid-swatch-bg" data-swatch-slug="amethyst" style="background-color: #ebb8af;"></span>
        <span class="listing__grid-swatch-title">Ballet</span>
      </label>
    </li>

    <li class="listing__grid-swatch" data-color="d80d86">
      <input class="listing__grid-swatch-input" type="radio" name="listing__grid-color-swatch" value="color-swatch--begonia" data-swatch-slug="begonia" swatch-name="color" swatch-value="Begonia">
      <label class="listing__grid-swatch-label" for="listing__grid-color-swatch--begonia" title="Begonia">
        <span class="listing__grid-swatch-bg" data-swatch-slug="amethyst" style="background-color: #d80d86;"></span>
        <span class="listing__grid-swatch-title">Begonia</span>
      </label>
    </li>

    <li class="listing__grid-swatch listing__grid-swatch-plus">
      <label class="listing__grid-swatch-label" for="listing__grid-color-swatch--begonia" title="Begonia">
        <span class="listing__grid-swatch-bg">
          <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
            <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
          </svg>
        </span>
      </label>
    </li>

  </ul>
</div>


<script type="text/javascript">

</script>
