.listing__grid-swatches-container {
  display: block;
  width: 100%;
  margin-top: 5px; }

.listing__grid-swatches {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 10px; }

.listing__grid-swatch {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .listing__grid-swatch {
      height: 24px;
      width: 24px;
      margin-left: 5px;
      margin-right: 5px; } }
  .listing__grid-swatch-input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .listing__grid-swatch-label {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .listing__grid-swatch-bg {
    border: 1px solid #c1c1c1;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .listing__grid-swatch-bg:focus, .listing__grid-swatch-bg:active, .listing__grid-swatch-bg:hover {
      border: 1px solid black; }
    @media screen and (min-width: 768px) {
      .listing__grid-swatch-bg {
        height: 24px;
        width: 24px; } }
  .listing__grid-swatch-title {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .listing__grid-swatch-plus {
    border: 1px solid #c1c1c1;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .listing__grid-swatch-plus:hover, .listing__grid-swatch-plus:focus, .listing__grid-swatch-plus:active {
      border: 1px solid black; }
    .listing__grid-swatch-plus svg {
      position: absolute;
      width: 12px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.listing__grid-swatches-container + .listing__grid-item-description {
  padding-top: 5px !important; }
