$mobile-size: 30px;
$desktop-size: 24px;
$breakpoint: 768px;

.listing__grid {


  // Container
  &-swatches-container {
    display: block;
    width: 100%;
    margin-top: 5px;
  }



  // UL element
  &-swatches {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 10px;
  }



  // LI elements
  &-swatch {
    display: inline-block;
    height: $mobile-size;
    width: $mobile-size;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0;
    @media screen and (min-width: $breakpoint) {
      height: $desktop-size;
      width: $desktop-size;
      margin-left: 5px;
      margin-right: 5px;
    }

    &-input {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }

    &-label {
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &-bg {
      border: 1px solid #c1c1c1;
      content: '';
      display: block;
      height: $mobile-size;
      width: $mobile-size;
      left: 0;
      position: absolute;
      top: 0;
      cursor: pointer;
      transition: all 0.3s ease;
      &:focus,
      &:active,
      &:hover {
        border: 1px solid black
      }
      @media screen and (min-width: $breakpoint) {
        height: $desktop-size;
        width: $desktop-size;
      }
    }

    // Title: hidden, accessible by SR
    &-title {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }


    &-plus {
      border: 1px solid #c1c1c1;
      display: block;
      position: relative;
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        border: 1px solid black;
      }
      & svg {
        position: absolute;
        width: 12px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }


  }

}


.listing__grid-swatches-container + .listing__grid-item-description {
  padding-top: 5px !important;
}
