html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
  .content-page .container-full {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-m-bold {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .inline-link {
    color: #74736d;
    font-weight: 400;
    text-decoration: underline; }
    .content-page .inline-link:hover, .content-page .inline-link:active, .content-page .inline-link:focus {
      color: #333333;
      font-weight: 400;
      text-decoration: underline; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.hero {
  display: block;
  position: relative;
  width: 100%; }
  .hero__breadcrumbs {
    display: block;
    position: absolute;
    max-width: 1262px;
    width: 100%;
    top: 10px;
    left: 10px; }
    @media screen and (min-width: 1282px) {
      .hero__breadcrumbs {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
  .hero__text {
    display: block;
    position: relative;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero__text {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        max-width: 1262px; } }
    @media screen and (min-width: 1282px) {
      .hero__text {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
    .hero__text--inner {
      display: block;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .hero__text--inner {
          width: 50%;
          padding-left: 10px; } }
      @media screen and (min-width: 1282px) {
        .hero__text--inner {
          width: 50%;
          padding-left: 0; } }
    .hero__text .serif-xl {
      font-size: 26px;
      line-height: 1; }
      @media screen and (min-width: 1024px) {
        .hero__text .serif-xl {
          font-size: 36px;
          line-height: 40px; } }
    .hero__text .sans-m {
      font-size: 15px; }
      @media screen and (min-width: 1024px) {
        .hero__text .sans-m {
          max-width: 420px; } }
      @media screen and (min-width: 1282px) {
        .hero__text .sans-m {
          margin-top: 15px;
          margin-bottom: 30px; } }
    .hero__text-copy {
      background: #f7c7c7;
      padding: 20px 10px; }
      @media screen and (min-width: 768px) {
        .hero__text-copy {
          padding: 20px 0 30px;
          background: none; } }
      @media screen and (min-width: 1282px) {
        .hero__text-copy {
          padding-bottom: 50px; } }
    .hero__text-video {
      display: block;
      background: #fff;
      padding: 10px; }
      @media screen and (min-width: 768px) {
        .hero__text-video {
          padding: 0;
          background: none; } }
      .hero__text-video .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0; }
      .hero__text-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.steps {
  display: block;
  position: relative;
  width: 100%;
  background: #fcd8d8; }
  .steps__inner {
    max-width: 1262px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; }
  .steps svg {
    fill: #333; }
  .steps__svg {
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .steps__svg {
        margin-bottom: 25px; } }
  .steps .column {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .steps .column {
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media screen and (min-width: 1024px) {
      .steps .column {
        width: 33.33333%;
        padding-top: 50px;
        padding-bottom: 50px; } }
  .steps__text p {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px; }

.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 30px auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  .few-favorites-carousel__heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 1262px; }
    .few-favorites-carousel__heading-text {
      display: inline-block;
      padding: 0 10px 3px 0;
      background: white;
      bottom: -27px;
      position: relative; }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1332px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 350px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 350px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.img-text-block {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: #fcd8d8; }
  .img-text-block__text {
    display: block;
    position: relative;
    padding: 20px 10px;
    max-width: 1262px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .img-text-block__text {
        position: absolute;
        padding: 0;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        left: 50%; } }
    @media screen and (min-width: 768px) {
      .img-text-block__text--inner {
        width: 50%; }
        .img-text-block__text--inner.md-left {
          padding-left: 10px; }
        .img-text-block__text--inner.md-right {
          float: right;
          padding-right: 10px; } }
    .img-text-block__text--svg {
      display: block; }
      .img-text-block__text--svg svg {
        max-width: 120px; }
        @media screen and (min-width: 1024px) {
          .img-text-block__text--svg svg {
            max-width: 100%; } }
    .img-text-block__text--copy h3 {
      margin-bottom: 10px; }
    .img-text-block__text--copy .btn {
      display: block;
      width: 100%;
      max-width: 330px; }
      @media screen and (min-width: 768px) {
        .img-text-block__text--copy .btn {
          display: inline-block;
          max-width: 175px;
          width: 50%; } }
      @media screen and (min-width: 1024px) {
        .img-text-block__text--copy .btn {
          width: 100%;
          max-width: 220px;
          margin-top: 20px; } }
      .img-text-block__text--copy .btn-secondary a {
        display: block;
        width: 100%;
        padding: 11px 0; }
    .img-text-block__text .serif-m {
      font-size: 18px;
      line-height: 22px; }
      @media screen and (min-width: 1024px) {
        .img-text-block__text .serif-m {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 15px; } }
    .img-text-block__text .sans-m {
      font-size: 13px;
      line-height: 18px; }
      @media screen and (min-width: 1024px) {
        .img-text-block__text .sans-m {
          font-size: 15px;
          line-height: 24px; } }
  .img-text-block .btn + .btn {
    margin-left: 0; }
    @media screen and (min-width: 768px) {
      .img-text-block .btn + .btn {
        margin-top: 0;
        margin-left: 10px; } }
    @media screen and (min-width: 1024px) {
      .img-text-block .btn + .btn {
        margin-top: 20px; } }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 10px 10px 0; }
  @media screen and (min-width: 1272px) {
    .breadcrumbs {
      padding: 10px 0 0; } }
  .breadcrumbs p.sans-bold-uppercase {
    margin-top: 5px; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee;
  margin-left: 10px;
  margin-right: 10px; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      padding: 12px 30px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 320px;
      margin-left: 5px; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  display: block;
  margin: 0 auto;
  max-width: 1262px;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-right: 5px; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 5px;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 0; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 40%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1262px;
    margin-left: 0;
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  float: none !important;
  height: auto !important; }
  .slick-slide img {
    width: 100%;
    height: 100%; }

.slide-cream {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f6f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%; }
  .slide-cream__text {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 400px) {
      .slide-cream__text {
        padding-left: 20px;
        padding-right: 20px; } }
  .slide-cream p {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px; }
