<div class="listing__grid-item-rating">
  <div class="listing__grid-item-rating-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="listing__grid-item-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
