.listing__grid-item-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5px;

  &-stars {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 16px;
    max-width: 80px;
    position: relative;
    padding: 0;
    //text-shadow: 0px 1px 0 #a2a2a2;
    cursor: default;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 24px;
    }

    &-top {
      color: #aa170d;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }


  &-reviews {
    color: #333;
    font-size: 11px;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-left: 2px;
    margin-top: 2px;
  }



}


.listing__grid-item-rating + .listing__grid-item-description {
  padding-top: 5px !important;
}
