.listing__grid-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5px; }
  .listing__grid-item-rating-stars {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 16px;
    max-width: 80px;
    position: relative;
    padding: 0;
    cursor: default; }
    @media screen and (min-width: 768px) {
      .listing__grid-item-rating-stars {
        font-size: 16px; } }
    .listing__grid-item-rating-stars-top {
      color: #aa170d;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden; }
    .listing__grid-item-rating-stars-bottom {
      padding: 0;
      display: block;
      z-index: 0; }
  .listing__grid-item-rating-reviews {
    color: #333;
    font-size: 11px;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-left: 2px;
    margin-top: 2px; }

.listing__grid-item-rating + .listing__grid-item-description {
  padding-top: 5px !important; }
