<style type="text/css">
	.ftr_mnu {color: #ffffff;
  			font-family: "Open Sans", Verdana, Arial, sans-serif;
  			font-weight: 400;
  			text-decoration: none;
  			font-size: 12px;
  			text-align: left;
  			line-height: 24 px;
  			}
  	.ftr_mnu_u {color: #ffffff;
  			font-family: "Open Sans", Verdana, Arial, sans-serif;
  			font-weight: 400;
  			text-decoration: underline;
  			font-size: 12px;
  			text-align: left;
  			line-height: 24 px;
  			}
 </style>
<div>
    <h2 class="footer-links-heading">
			<a href="/Content_HelpFAQ_helphome">Customer Service</a>
		</h2>
    <ul>
        <li><a href="/contactUsView">Contact Us</a></li>
        <li><a href="/Content_HelpFAQ_helphome">Help and FAQs</a></li>
        <li><a href="/Content_HelpFAQ_helporderasyoushop?leftNav=true#findSize">Size Information</a></li>
        <li><a href="/Content_SpecialOffers_rewards">David's Bridal Rewards</a></li>
      <li><span class="ftr_mnu">Help? </span><span class="ftr_mnu_u">1-844-400-3222</span></li>
    </ul>
</div>
