<div>
    <h2 class="footer-links-heading">
      <a href="/Content_StyleandFashionGuide_styleguide">Resources</a>
    </h2>
    <ul>
        <li><a href="/Content_BuyOnline_offers">Special Offers</a></li>
        <li><a href="/Content_WeddingPlanning_main">Wedding Solutions</a></li>
        <li><a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance</a></li>
        <li><a href="/BridalShowsView">Bridal Shows</a></li>
        <li><a href="/Content_Catalog_onlinecatalog">Catalogs</a></li>
        <li><a href="/Content_StyleandFashionGuide_videos">Videos</a></li>
    </ul>
</div>
