<div>
  <h2 class="footer-links-heading">
    <a href="/Content_HelpFAQ_helpourstores?leftNav=true">David's Bridal Stores</a>
  </h2>
  <ul>
    <li><a href="/DBIAjaxStoreLocatorDisplayView?langId=-1&storeId=10052&catalogId=10051">Find David’s Bridal Shops</a></li>
    <li><a href="/DBIStoresDirectoryView?catalogId=10051&langId=-1&storeId=10052">Browse Store List</a></li>
    <li><a href="/MakeAnAppointmentView?comingFrom=Footer">Schedule an Appointment</a></li>
    <li><a href="/Content_HelpFAQ_helpourstores?leftNav=true#storeServ">Information and Services</a></li>
    <li><a href="/Content_SpecialOffers_dbgc">David's Bridal Gift Card</a></li>
    <li><a href="/Content_StyleandFashionGuide_events">Events</a></li>
  </ul>
</div>
