<div>
  <h2 class="footer-links-heading">
    <a href="/Content_About_aboutus">About David's bridal</a>
  </h2>
  <ul>
    <li><a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Quality &amp; Craftsmanship</a></li>
    <li><a href="/Content_HelpFAQ_helpcompanyinfo?leftNav=true">Company Info</a></li>
    <li><a href="http://jobs.davidsbridal.com/" target="_blank">Careers</a></li>
    <li><a href="/Content_PressRoom_home">Press Room</a></li>
    <li><a href="/Content_Legal_InvestorRelations">Investor Relations</a></li>
    <li><a href="/Content_Finance_dbiCreditCard">David's Bridal Credit Card</a></li>
  </ul>
</div>
