<style>
.footer-links .box p+p {
    margin-top: 10px;
}
</style>


<div class="box" style="background-color:#fff;">
  <h2 class="footer-links-heading" style="color:#f3665c;">More Ways To Save</h2>
  <p style="color:#666;">Buy now, take 6 months to pay with the David's Bridal Credit Card*</p>
  <p style="color:#666;"><a href="/Content_Finance_dbiCreditCard" style="color:#666;">LEARN MORE&nbsp;&gt;</a></p>
</div>
