<div>
  <h2 class="footer-links-heading"><a href="/Content_HelpFAQ_helppurchasingordering?leftNav=true">Online Orders</a></h2>
  <ul>
    <li><a href="/Content_HelpFAQ_helporderstatus?leftNav=true">Order Status</a></li>
    <li><a href="/Content_HelpFAQ_ShippingGuide">Shipping Information</a></li>
    <li><a href="/Content_HelpFAQ_helporderchangesreturnsexchanges?leftNav=true#retExch">Returns and Exchanges</a></li>
    <li><a href="/Content_HelpFAQ_helpintlordersfaq">International Orders</a></li>
  </ul>
</div>
