<style>
.footer-promo {
  padding: 20px 10px;
  color: #333;
}
.footer-promo a,
.footer-promo a:visited {
  color: #333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}
.footer-promo a:hover,
.footer-promo a:focus {
  color: #74736d;
  text-decoration: none;
}
.footer-promo-heading {
  padding: 5px 0;
}
.footer-promo-message {
  padding: 5px 0;
}
</style>

<div class="footer-promo-headling serif-l-italic">
  FREE SHIPPING ON ORDERS $100+
</div>

<div class="footer-promo-message sans-bold-uppercase">
  <a href="/Content_BuyOnline_offers" class="sans-bold-uppercase">DETAILS &amp; MORE DEALS&nbsp;&gt;</a>
</div>
