<style media="screen">
/* For PLP Listing Pager */
.listing__grid-layout .listing-pager {
  text-align:center;
}

/* PDP - Fix Style number margin - DO NOT REMOVE */
.detail__style-collection,.detail__style-id {
  margin-right: 0;
}

.blog-icon {
  max-width: 100%;
  width: 30%;
  margin-top: 0; }
  @media screen and (min-width: 320px) and (max-width: 377px) {
    .blog-icon {
      max-width: 100%;
      width: 30%;
      margin-top: 11px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .blog-icon {
      max-width: 100%;
      width: 20%;
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .blog-icon {
      max-width: 100%;
      width: 55%;
      margin-top: 0px;
      width: 100px; } }

#shareIcons li.li_blog {
  display: inline !important; }

.ctnr-footer-icons svg {
  background: no-repeat; }

.ctnr-footer-icons {
  padding-top: 20px;
  padding-bottom: 30px; }

.ctnr-footer-icons .get-connected {
  border-bottom: 1px solid #e0e0e7;
  margin: 0 0 10px;
  padding: 10px 5%;
  color: #666; }
</style>

<div class="ctnr-footer-icons">
  <h3 class="serif-m get-connected">Get Connected</h3>
  <ul id="shareIcons" class="footer-icons-top">
    <li><a href="https://www.facebook.com/davidsbridal" target="_blank" rel="noopener" class="icon-facebook" aria-label="David's Bridal Facebook Link"></a></li>
    <li><a href="https://www.pinterest.com/davidsbridal/" target="_blank" rel="noopener" class="icon-pinterest" aria-label="David's Bridal Pinterest Link"></a></li>
    <li><a href="https://twitter.com/davidsbridal" target="_blank" rel="noopener" class="icon-twitter" aria-label="David's Bridal Twitter Link"></a></li>
    <li><a href="https://www.instagram.com/davidsbridal/" target="_blank" rel="noopener" class="icon-instagram" aria-label="David's Bridal Instagram Link"></a></li>
    <li><a href="https://www.youtube.com/user/davidsbridal" target="_blank" rel="noopener" class="icon-youtube" aria-label="David's Bridal Facebook Link"></a></li>
    <li class="li_blog">
      <a href="/blog" aria-label="David's Bridal The Blog Link">
        <svg role="img" aria-labelledby="socialShareTheBlogTitle socialShareTheBlogDesc" class="blog-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160 30" style="enable-background:new 0 0 160 30;" xml:space="preserve">
          <title id="socialShareTheBlogTitle">The Blog</title>
          <desc id="socialShareTheBlogDesc">The Blog Logo</desc>
          <style type="text/css">
          .st0{fill:#555555;}
          </style>
          <path class="st0" d="M5,25c0,0.2-0.1,0.4-0.1,0.6c0,1.2,0.8,1.8,2.1,1.8c1.1,0,2.4-0.5,3.5-1.7l0.1,0.1C8.9,28,7,29.2,4.4,29.2 c-2.4,0-3.7-1.3-3.7-3.2c0-0.4,0.1-0.8,0.2-1.2l3.2-13H1.7l0-0.3c3.7-1,6.2-3.3,8.1-7h0.3l-1.6,6.3h5l-0.4,1H8.3L5,25z"/>
          <path class="st0" d="M16.5,28.8h-4.1l5.9-23.7c0.1-0.4,0.2-0.9,0.2-1.4c0-1.2-0.7-1.7-1.9-2.3V1.4h6.8l-3.9,15.4 c1.7-3.5,4.5-6.2,7.8-6.2c2.6,0,3.7,1.7,3.7,4c0,0.7-0.1,1.4-0.2,2l-2.2,8.9c-0.1,0.2-0.1,0.5-0.1,0.7c0,1,0.6,1.4,1.6,1.4 c0.7,0,1.4-0.2,2-0.5l0,0.1c-1.3,1.4-2.7,2.1-4.4,2.1c-2.1,0-3.3-1.2-3.3-3c0-0.4,0-0.8,0.1-1.2l2.1-8.4c0.1-0.6,0.2-1.3,0.3-1.9 c0-1.1-0.4-1.9-1.9-1.9c-2.1,0-5.2,2.3-6.5,7.7L16.5,28.8z"/>
          <path class="st0" d="M33.7,22c0-5.8,4.7-11.4,11.1-11.4c3.2,0,5.3,1.6,5.3,4c0,4.1-5.1,5.7-12,5.9C38,21,38,21.5,38,22.1 c0,3.7,1.9,5.3,4.7,5.3c2.3,0,4.2-1.1,5.9-3.2h0.1c-1.3,3.1-4.4,5-7.8,5C36.7,29.2,33.7,26.4,33.7,22z M38.1,19.9 c5.1-0.4,8.5-2.5,8.5-6.6c0-1.3-0.6-2.2-1.8-2.2C41.7,11.2,38.9,15.6,38.1,19.9z"/>
          <path class="st0" d="M56.7,28.8L56.7,28.8c1.9-0.9,2.6-2.2,3.2-4.6L64,7.8c0.2-0.7,0.3-1.5,0.3-2.2c0-1.1-0.4-1.8-1.4-2.3V3.2h10.7 c4.7,0,7.8,1.6,7.8,5.3c0,4.5-3.9,6.8-8.3,7.2c3.4,0.3,6.7,1.8,6.7,5.1c0,5.8-5.7,8.1-11.4,8.1L56.7,28.8z M67.6,27.9 c4.5,0,7.8-2.9,7.8-7.4c0-3-1.9-4.2-5.5-4.2h-3.8l-2.9,11.6H67.6z M69.7,15.3c4.1,0,7.5-2.6,7.5-7c0-2.6-1.5-4.2-4.6-4.2h-3.4 l-2.8,11.2H69.7z"/>
          <path class="st0" d="M87.3,27.9h5.5c4.7,0,7-2.5,10.2-6.7h0.1l-3,7.7H80.7v-0.1c1.9-0.8,2.6-2.1,3.2-4.5L88,7.8 c0.2-0.7,0.3-1.5,0.4-2.2c0-1.1-0.4-1.8-1.4-2.3V3.2h8.5v0.1c-1.9,0.8-2.6,2.1-3.2,4.5L87.3,27.9z"/>
          <path class="st0" d="M120.2,2.8c6.3,0,10.4,4.4,10.4,10.5c0,8.8-6.7,15.9-15,15.9c-6.3,0-10.3-4.4-10.3-10.5 C105.3,9.9,112,2.8,120.2,2.8z M115.6,28.4c3.8,0,6.8-3.3,8.6-7.8c1.2-3,1.8-6.1,1.8-9.3c0-4.1-1.9-7.7-5.8-7.7 c-3.7,0-6.8,3.3-8.6,7.8c-1.2,3-1.8,6.1-1.9,9.3C109.8,24.8,111.7,28.4,115.6,28.4L115.6,28.4z"/>
          <path class="st0" d="M150.7,21.5c0.2-0.7,0.4-1.4,0.4-2.2c0-1.1-0.4-1.8-1.4-2.3v-0.1h8.4v0.1c-1.9,0.8-2.6,2.1-3.2,4.5l-2.1,7.7 h-0.1l-1.8-3.8c-1.9,2.4-4.9,3.9-8,3.8c-6.3,0-10.2-4.3-10.2-10.3c0-9.2,7.6-16,15.4-16c3.6,0,5.2,1.4,6.7,1.4 c0.9,0,1.6-0.6,2.2-1.1l-1.4,8h-0.1c-1-4.4-3.1-7.5-7.2-7.5c-6.4,0-11,8.3-11,16.1c0,4.8,2.1,8.2,6,8.2c3.5,0,6.1-1.8,7-5.3 L150.7,21.5z"/>
        </svg>
      </a>
    </li>
  </ul>
</div>
