// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  position: relative;
  width: 100%;

  &__img {
    img {
      width: 100%;
    }
  }


  &__text {
    background: $cream;
    border: 3px solid $brand-primary;
    display: block;
    margin-top: 10px;
    padding: 30px 20px 30px;
    position: relative;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      transform-style: preserve-3d;
      width: 320px;
    }
  }

  .sans-m {
    font-size: 15px;
    line-height: 24px;
    margin: 0 auto 10px;;
    max-width: 320px;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 240px;
    }
  }

} // .hero
