.content-page {
  button {
    margin: 30px auto;

    &.btn {
      font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      vertical-align: top;
      white-space: nowrap;
      border: none;
      padding: 0;
      cursor: pointer;
      width: auto;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;

      &-secondary {
        width: 100%;
        display: block;
        padding: 11px 32px;
        border: 1px solid $purple-gray-dk;
        color: $black;
        background-color: $white;
        outline: none;
        &:hover,
        &:active {
          border: 1px solid $purple-lt;
        }
        &:focus {
          @include focus;
        }
      }
    }
  }
}
