<main class="content-page" role="main">

  <!-- Article -->
  <article class="about-us">
    <div class="about-us__img">
      <img src="/wcsstore/images/wwcm/sfg/about-us/About-Us-Hero_desktop.jpg" alt="Drawing of original David's Bridal store">
    </div>

    <div class="about-us__text">
      <header>
        <h1 class="serif-xl">About David's Bridal</h1>
      </header>
      <section>
        <p class="sans-m">Founded as a neighborhood bridal salon in Fort Lauderdale, Florida, in 1950, David's Bridal is now an international wedding dress destination with more than 330 stores throughout the United States, Canada, Mexico, and the United Kingdom. Along the way, we've stayed true to our guiding principle that each bride deserves the wedding of her dreams.</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_dbcommunity ">Meet the DB Community&nbsp;&gt;</a>
        </p>
      </section>

      <div class="about-us__hero">
        <img src="/wcsstore/images/wwcm/sfg/about-us/About-Us-Hero_mobile.jpg" alt="Drawing of original David's Bridal store">
      </div>

      <section>
        <p class="sans-m">We know a bit about making dreams come true: In fact, one in three brides in the United States purchases her dress from David's Bridal. We wouldn't be where we are today without the generations of loyal brides who have come to us for beautiful, high&ndash;quality wedding dresses&mdash;including exclusive designer styles from Vera Wang, Oleg Cassini, Zac Posen, and Melissa Sweet&mdash;in a full range of sizes at prices that make getting married easier to afford.</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">More About Our Quality&nbsp;&gt;</a>
        </p>
      </section>

      <section>
        <p class="sans-m">Creating head&ndash;to&ndash;toe bridal looks is just the start, however. We're also experts at outfitting every member of the wedding party, flower girls, moms, and special guests with the same level of care and know&ndash;how offered to our brides. Our breathtaking selection of dresses in an array of styles and colors, including party, occasion, and prom dresses, coupled with personalized style advice, expert alterations, and finishing touches like lingerie, shoes, and accessories, make us the one&ndash;stop bridal shop that millions of brides and their families have trusted for over 65 years.</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_appointmentfaq">Plan Your Appointment&nbsp;&gt;</a>
        </p>
      </section>

    </div>
  </article>


  <!-- Appointment Banner -->
  <section>
    <div class="appointment-banner">
      <p class="serif-m-italic">Find your style, stay in budget</p>
      <p class="sans-s">Our stylists can help you put together a look that checks all the boxes.</p>
      <p class="btn btn-secondary">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
      </p>
    </div>
  </section>


  <!-- Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingvideos">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_LoveStories.jpg" alt="Real Wedding Videos">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Real Wedding Videos</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingthemes">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Theme Ideas</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_Catalog_onlinecatalog">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_MagazinesAndLookBooks.jpg" alt="Magazines & Look Books">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Magazines &amp; Look Books</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_Catalog_onlinecatalog">Explore Digital Editions&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/wedding-dress-quiz">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Dress Finder</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
