<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">Alterations 101</h1>
        <p class="sans-l">For a dress that fits perfectly, start with the size that's right for you (we have plus size, petite, and extra length), then let our in-store alterations specialists work their magic. Here are a few things to know about alterations and dress fittings.</p>
        <img src="/wcsstore/images/wwcm/sfg/alterations/Alterations_Hero.jpg" alt="Bride twirling in gown in alterations room.">
      </section>


      <div class="accordion">
        <ul class="accordion__items">

          <!-- Why should I have my dress altered at David's Bridal? -->
          <li class="accordion__item" data-nav-open="true" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Why should I have my dress altered at David&rsquo;s Bridal?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: block;">
              <p class="sans-m">Every one of our 300+ locations has on-site alterations specialists who know our dresses inside and out, from the unique construction to the carefully crafted details. They can alter any wedding dresses, bridesmaid dresses, and social occasion dresses purchased at our stores or website.</p>
            </div>
          </li>


          <!-- When should I schedule my alterations? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">When should I schedule my alterations?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>

            <div class="accordion__content" style="display: none;">
              <p class="sans-m">We recommend making the appointment for your first fitting when you buy your dress. An alterations specialist will create a specific timeline based on your event date. Please allow 4 weeks between the first fitting and the pickup fitting.</p>
              <p class="sans-bold-uppercase">
                <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">Find a Store&nbsp;&gt;</a>
              </p>
            </div>
          </li>


          <!-- How can I personalize my dress? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">How can I personalize my dress?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Along with adjusting the length and fit, we can make your gown one of a kind with:</p>

              <section class="layout-1-2">

                <div class="flex cream-bg">
                  <div class="item">
                    <div class="item__text">
                      <p class="sans-m-bold">Straps & sleeves</p>
                      <p class="sans-m">Our alterations experts can add thin or thick straps, cap sleeves, short sleeves, or long sleeves to any strapless wedding dress.</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item__img">
                      <img src="/wcsstore/images/wwcm/sfg/alterations/Alterations_Straps-Sleeves.jpg" alt="Bride in alterations having sleeves added to wedding gown.">
                    </div>
                  </div>
                </div>

                <div class="flex cream-bg">
                  <div class="item">
                    <div class="item__text">
                      <p class="sans-m-bold">Corset backs</p>
                      <p class="sans-m">If your dress zips in back, we can transform it with a glamorous lace-up corset back (which gives you extra breathing room too) or a delicate button-up closure.</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item__img">
                      <img src="/wcsstore/images/wwcm/sfg/alterations/Alterations_CorsetBacks.jpg" alt="Bride in alterations having corset added to wedding gown.">
                    </div>
                  </div>
                </div>

                <div class="flex cream-bg">
                  <div class="item">
                    <div class="item__text">
                      <p class="sans-m-bold">Bustles</p>
                      <p class="sans-m">A long, flowing train looks beautiful as you walk down the aisle. But what happens at the reception, when you want to dance? Bustle it! We'll create a custom bustle to complement your gown.</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item__img">
                      <img src="/wcsstore/images/wwcm/sfg/alterations/Alterations_Bustles.jpg" alt="Happy bride in Alterations showing the bustle added to her wedding gown.">
                    </div>
                  </div>
                </div>

              </section>


            </div>
          </li>


          <!-- What happens at the first fitting? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">What happens at the first fitting?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">First fittings take about an hour for wedding dresses and half an hour for bridesmaid or formal dresses. You'll try on your dress, and a specialist will pin it to show you the best alterations for an ideal fit. For wedding dresses with a train, you'll see bustle options.</p>
            </div>
          </li>


          <!-- What should I bring to my fittings? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">What should I bring to my fittings?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">To ensure the perfect fit, bring the bra, slip, shapewear, and shoes you plan to wear with your dress. The right lingerie can change everything.</p>
            </div>
          </li>


          <!-- Who should I bring? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Who should I bring?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Ask one or two trusted friends. If your gown has a long train, invite your maid of honor to the final fitting so she can learn how to bustle your gown for the big day.</p>
            </div>
          </li>


          <!-- How much will alterations cost? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">How much will alterations cost?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Pricing varies based on the complexity of the alterations, so we'll need to see you in the garment first. Payment is due at the time of your first fitting. Additional charges apply to rush orders needed within 14 days. The <a href="/Content_Finance_dbiCreditCard" class="inline-link">David's Bridal Credit Card</a> can be used to pay for alterations.</p>
            </div>
          </li>


          <!-- What about pressing? -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">What about pressing?</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Our alterations services include a professional press and steam. If you're planning to have your dress altered elsewhere, we will steam your garment's outer layer before it leaves our store.</p>

            </div>
          </li>

        </ul>
      </div><!-- /.accordion -->


      <section>
        <br>
        <p class="sans-m">To schedule an alterations appointment, call your local store.</p>
        <p class="sans-bold-uppercase">
          <a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">Find a Store&nbsp;&gt;</a>
        </p>
      </section>

    </main>



    <!-- COLUMN 2 - Aside Content -->
    <aside class="column">

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_WeddingAccessories">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_CompletingYourLook.jpg" alt="Completing Your Look">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_WeddingAccessories" class="text-decoration-none">Completing Your Look</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingAccessories">Explore&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_Appointment_planning">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_PlanningForYourAppointment.jpg" alt="Planning Your Appointment">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_Appointment_planning">Explore&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_shapewearguide">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ShapewearAndMore-mobile.jpg" alt="Shapewear Guide">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_shapewearguide" class="text-decoration-none">Shapewear Guide</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_shapewearguide">Explore&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_headpiecestyleguide">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_HeadpieceGuide.jpg" alt="Headpiece Guide">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_headpiecestyleguide" class="text-decoration-none">Headpiece Guide</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_headpiecestyleguide">Explore&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_Curations_bridal">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealBrides.jpg" alt="Real Brides DavidsBridal">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_Curations_bridal" class="text-decoration-none">Real Brides #DavidsBridal</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_Curations_bridal">Explore&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

      </div>
    </aside>
  </section>



  <!-- Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>



  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Complete Your Look</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/accessories/sashes-and-belts">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BeltsSashes_414x284.jpg" alt="Sash and Belt for your wedding gown.">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Sashes & Belts</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/accessories/sashes-and-belts">Shop Now&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/accessories/jackets-and-wraps">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_OuterwearGuide_414x284.jpg" alt="Jackets & Toppers for your wedding dress.">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Jackets & Wraps</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/accessories/jackets-and-wraps">Shop Now&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/accessories/shapewear-and-slips">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_ShapewearMore.jpg" alt="Slips & Shapewear to create foundation for your wedding dress.">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Slips & Shapewear</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/accessories/shapewear-and-slips">Shop Now&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/accessories/veils">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/CompleteYourDay_Module_414x284_Veils.jpg" alt="Veils that are perfect for your wedding gown.">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Veils</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/accessories/veils">Shop Now&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</article>
