<article class="content-page">

  <!-- breadcrumbs -->
  <section>
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section><!-- breadcrumbs -->


  <!-- two-column -->
  <section class="two-column split-4-5">

    <main class="column">

      <div class="page-heading">
        <h1 class="serif-xxl">Bachelorette Party Themes</h1>
        <p class="sans-l">We've got bachelorette party ideas and must&ndash;have gifts and decor (starting at only $9.95!) for a freewheeling day, night, or weekend dedicated to the soon&ndash;to&ndash;be Mrs.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-gifts/all-wedding-gifts">Shop Gifts&nbsp;&gt;</a>
        </p>
      </div>


      <!-- Gifts 1 -->
      <div class="gifts">
        <div class="col">
          <div class="col__img">
            <a href="/wedding-gifts/all-wedding-gifts">
              <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Hero_Spa.jpg" alt="Floral Robe | David's Bridal">
            </a>
          </div>
          <div class="col__caption">
            <p class="heading serif-m-italic">Spa Retreat</p>
            <p class="text sans-m">Book appointments at a luxe salon, or host a day of relaxation at home. Many professionals will bring the treatments to you, from manicures to makeovers to massages. Just don't forget the mimosas!</p>
          </div>
        </div>

        <div class="col flex-vertical">
          <div class="flex-vertical__col">
            <figure>
              <a href="/wedding-gifts/all-wedding-gifts">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_FlipFlops_SPA_V2.jpg" alt="White Bridal Flip Flops | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Flip&ndash;flops keep a fresh pedi smudge&ndash;free.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/wedding-gifts/all-wedding-gifts">Shop Gifts &amp; Robes&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Totes%2Band%2BCosmetic%2BBags%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Spa_Tote.jpg" alt="Pink Bridesmaid Tote Bags | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Carry cozy clothes or a pretty robe in a roomy, reversible tote.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Totes%2Band%2BCosmetic%2BBags%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop Totes&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div><!-- Gifts 1 -->


      <!-- Gifts 2 -->
      <div class="gifts reverse">
        <div class="col">
          <div class="col__img">
            <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch ">
              <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Hero_Beach.jpg" alt="Brides Mate Tank Top and Favors | David's Bridal">
            </a>
          </div>
          <div class="col__caption">
            <p class="heading serif-m-italic">Beach Weekend</p>
            <p class="text sans-m">If you're lucky enough to live near the water&mdash;or can escape to the seaside for a bachelorette weekend&mdash;you've got a built&ndash;in theme. Beach&ndash;ready party gear helps you make the most of the sun and surf.</p>
          </div>
        </div>

        <div class="col flex-vertical">
          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Tank_BeachBabes.jpg" alt="Bride to Be Tank Top with Mermaid | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Pick up some on&ndash;theme bachelorette party supplies for the beachy bride and her (mer)maids.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop T&ndash;Shirts &amp; Apparel&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Barware%2Band%2BGlassware%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Glassware_BeachBabes.jpg" alt="Bride and Bridesmaid Stemless Wine Glasses | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Raise a glass to the bride!</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Barware%2Band%2BGlassware%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop Drinkware&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div><!-- Gifts 2 -->


      <!-- Gifts 3 -->
      <div class="gifts">
        <div class="col">
          <div class="col__img">
            <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
              <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Hero_BrideTribe.jpg" alt="White Bride T Shirt with Heart and Arrow | David's Bridal">
            </a>
          </div>
          <div class="col__caption">
            <p class="heading serif-m-italic">Daytime Get&ndash;Together</p>
            <p class="text sans-m">A picnic in the park or a potluck brunch, complete with easy bachelorette party games, yummy snacks, and plenty of time to chill, is perfect for the bride who prefers a laid&ndash;back gathering.</p>
          </div>
        </div>

        <div class="col flex-vertical">
          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Women%2527s%2BAccessories%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_HairTie_BrideTribe.jpg" alt="Bride Tribe Ribbon Hair Ties | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Sweep your hair into a ponytail for a casual afternoon.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Women%2527s%2BAccessories%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop Accessories&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Barware%2Band%2BGlassware%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Koozie_BrideTribe.jpg" alt="Bridal Party Zoozie Set | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Pretty, portable drink holders are perfect for an al fresco party.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522Barware%2Band%2BGlassware%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop Drinkware&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div><!-- Gifts 3 -->


      <!-- Gifts 4 -->
      <div class="gifts reverse">
        <div class="col">
          <div class="col__img">
            <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_occasiontype_ntk_cs%253A%2522Bachelorette%2BParty%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
              <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Hero_BrideSquad.jpg" alt="Bride and Bridesmaid in Black and White T Shirts">
            </a>
          </div>
          <div class="col__caption">
            <p class="heading serif-m-italic">Sips with the Squad</p>
            <p class="text sans-m">Celebrate the bride&ndash;to&ndash;be with a toast or two. Matching bachelorette party shirts and hats are a fun choice because they amp up the festive feeling and keep the group easily findable as you move from location to location.</p>
          </div>
        </div>

        <div class="col flex-vertical">
          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_occasiontype_ntk_cs%253A%2522Bachelorette%2BParty%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Hats_BrideSquad.jpg" alt="Bride Squad Baseball Hats | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Bold gold letters let everyone know your group came to slay.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_occasiontype_ntk_cs%253A%2522Bachelorette%2BParty%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">Shop Bachelorette Gifts&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex-vertical__col">
            <figure>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_occasiontype_ntk_cs%253A%2522Bachelorette%2BParty%2522&showResultsPage=true&beginIndex=0&categoryId=3002832&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/bachelorette-party-ideas/Bachlorette_767_Prod_Balloons_BrideSquad.jpg" alt="Black Pop Fizz Clink Balloons | David's Bridal">
              </a>
              <figcaption>
                <p class="heading sans-m">Balloons and bachelorette party decorations set the tone.</p>
                <p class="text sans-bold-uppercase">
                  <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_occasiontype_ntk_cs%253A%2522Bachelorette%2BParty%2522&showResultsPage=true&beginIndex=0&categoryId=3002832&langId=-1&storeId=10052&sType=SimpleSearch">Shop Bachelorette Decor&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div><!-- Gifts 4 -->
    </main>


    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_bridalpartygifts">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_OurPicksWeddingPartyGifts.jpg" alt="Wedding Party Gift Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_bridalpartygifts" class="text-decoration-none">Wedding Party Gift Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_bridalpartygifts">A Few of Our Favorites&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddinghashtagideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_weddinghashtag_414x284.jpg" alt="How to Create a Wedding Hashtag">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddinghashtagideas" class="text-decoration-none">How to Create a Wedding Hashtag</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddinghashtagideas">Snap &amp; Share&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Curations_bridal">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealBrides.jpg" alt="Real Brides DavidsBridal">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Curations_bridal" class="text-decoration-none">Real Brides &num;DavidsBridal</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Curations_bridal">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingphototips">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_LookAmazing.jpg" alt="Look Amazing in Every Photo">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingphototips" class="text-decoration-none">Look Amazing in Every Photo</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingphototips">Pose Like a Pro&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>

  </section><!-- two-column -->

</article>
