<main class="content-page" role="main">

  <!-- hero -->
  <section class="hero">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <div class="hero__img">
      <a href="#">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/bridal-guide/BrideGuide_Hero_Mobile.jpg" alt="">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/bridal-guide/BrideGuide_Hero_Desktop.jpg" alt="">
      </a>
    </div>
    <div class="hero__text">
      <p class="serif-s-italic">welcome to the</p>
      <h1 class="serif-xl">Bride Guide</h1>
      <p class="sans-m">Congrats, bride-to-be! We've pulled together the most helpful advice and ideas for starting to plan your dream day.</p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Catalog_onlinecatalog">See Our Latest Catalogs&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/newregistration">Sign Up To Get Inspiration In The Mail&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <!-- banner -->
  <section>
    <div class="reg-banner">
      <div class="reg-banner__flex">
        <p class="serif-m-italic">Enter for a change to win your gown or 5 bridesmaid dresses</p>
        <p class="btn btn-secondary">
          <a href="/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=&langId=-1&storeId=10052&" class="sans-bold-uppercase">Sign Up Now</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <!-- modules -->
  <section class="container">
    <div class="flex">

      <!-- Your Ultimate Wedding Checklist -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingchecklist">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingChecklist.jpg" alt="Your Ultimate Wedding Checklist">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Your Ultimate Wedding Checklist</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingchecklist">Cross Off Those To-Do's&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Wedding Theme Ideas -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingthemes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Theme Ideas</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Wedding Color Inspiration -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Best Budget Tips from Real Brides -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_realbridesweddingbudget">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_RealBridesBudget.jpg" alt="Best Budget Tips from Real Brides">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Best Budget Tips from Real Brides</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_realbridesweddingbudget">See How They Saved&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Silhouette Guide -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide-styleguidedressguide_index">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_SilhouetteGuide_414x284.jpg" alt="Silhouette Guide">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Silhouette Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Wedding Dress Finder -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-dress-quiz">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Dress Finder</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Planning Your Appointment -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_Appointment_planning">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_Getting-Started_414x284.jpg" alt="Planning Your Appointment">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Planning Your Appointment</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Wedding Veil Guide -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_veilstyleguide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_VeilGuide_625x430.jpg" alt="Wedding Veil Guide">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Veil Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_veilstyleguide">Top Off Your Look&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Mismatched Bridesmaid Dresses -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Mother of the Bride Attire -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_motherofbridedresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/MOB_I&G_Module_414x284.jpg" alt="Mother of the Bride Attire">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Mother of the Bride Attire</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_motherofbridedresses">3 Tips for Getting Dressed&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Wedding Party Gift Guide -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartygifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_OurPicksWeddingPartyGifts.jpg" alt="Wedding Party Gift Guide">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding Party Gift Guide</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartygifts">A Few of Our Favorites&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- What to Wear: Every Wedding Event -->
      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear: Every Wedding Event">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">What to Wear: Every Wedding Event</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dresses & More&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- inspiration & guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">There's More</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_About_aboutus">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/bridal-guide/AboutDB_Module_414x284.jpg" alt="About David's Bridal">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">About David's Bridal</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_About_aboutus">Who We Are&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_dbcommunity">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_DBCommunity_414x284.jpg" alt="David's Bridal Community">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">David's Bridal Community</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingflowers">Our Inspiring Customers&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_events">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_Events_414x284.jpg" alt="Find Events Near You">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Find Events Near You</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_events">#DavidsBridalEvents&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_WeddingVendors_main">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/bridal-guide/Partners_Module_414x284.jpg" alt="Plan. Save. Wed.">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Plan. Save. Wed.</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_WeddingVendors_main">More From Our Partners&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
