<!-- Swatch SVG Symbol -->
<svg style="display: none;">
  <symbol id="colorSwatch">
    <path d="M35.549,30.677c0.827-1.188,1.61-2.383,2.468-3.521c0.407-0.546,0.418-0.938-0.031-1.453 c-0.836-0.963-1.61-1.979-2.438-3.004c0.808-1.076,1.562-2.154,2.396-3.164c0.468-0.562,0.521-0.959,0.013-1.532 c-0.853-0.945-1.612-1.972-2.412-2.961c0.832-1.162,1.589-2.292,2.425-3.355c0.442-0.565,0.487-0.973,0.011-1.553 c-0.834-1.014-1.576-2.104-2.422-3.252c0.971-1.249,1.938-2.485,2.911-3.746C37.194,2.047,35.995,1.024,34.799,0 c-0.239,0-0.479,0-0.72,0c-1.162,0.924-2.314,1.857-3.498,2.757c-0.133,0.104-0.493,0.085-0.623-0.021 c-1.043-0.895-2.06-1.816-3.08-2.731c-0.158,0-0.318,0-0.479,0c-1.229,0.982-2.467,1.968-3.819,3.047 c-1.228-1.029-2.42-2.04-3.617-3.047c-0.159,0-0.318,0-0.479,0c-1.075,0.875-2.127,1.786-3.248,2.604 c-0.251,0.184-0.865,0.188-1.107,0.004c-1.066-0.813-2.062-1.729-3.083-2.604c-0.16,0-0.318,0-0.479,0 C9.494,0.9,8.437,1.806,7.347,2.672c-0.161,0.122-0.568,0.161-0.71,0.047C5.524,1.84,4.447,0.913,3.36,0.001 c-0.157,0-0.317,0-0.479,0C1.92,1.201,0.96,2.401,0,3.602C0,3.76,0,3.921,0,4.081c0.96,1.217,1.923,2.436,2.963,3.75 c-1,1.246-1.98,2.469-2.964,3.69c0,0.236,0,0.479,0,0.721c1.045,1.122,2.091,2.243,3.233,3.474 c-1.121,1.291-2.179,2.511-3.233,3.729c0,0.16,0,0.319,0,0.479c0.974,1.188,1.94,2.373,2.965,3.619 c-1.027,1.324-1.996,2.572-2.965,3.819c0,0.16,0,0.319,0,0.479c0.957,1.152,1.914,2.309,2.938,3.541 c-0.997,1.322-1.968,2.609-2.938,3.898c0,0.159,0,0.318,0,0.479c1.2,0.959,2.397,1.921,3.602,2.882c0.159,0,0.318,0,0.479,0 c1.268-1.036,2.528-2.075,3.851-3.155c1.349,1.107,2.59,2.136,3.83,3.155c0.08,0,0.159,0,0.239,0 c1.188-1.052,2.375-2.103,3.626-3.204c1.384,1.021,2.687,1.979,4.018,2.965c1.36-0.95,2.692-1.886,4.074-2.852 c1.306,0.957,2.587,1.896,3.896,2.857c1.332-0.964,2.621-1.896,3.951-2.855c1.287,0.941,2.562,1.875,3.906,2.855 c1.029-1.337,2.021-2.623,3.045-3.945C37.508,33.179,36.553,31.96,35.549,30.677z"/>
  </symbol>
</svg>



<main role="main" class="content-page">

  <!-- Top Banner -->
  <section class="top-banner">
    <div class="top-banner__copy">
      <p class="serif-m-italic">Color-palette conundrum?</p>
      <p class="serif-m">Our stylists can help.</p>
      <p class="btn btn-secondary">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="san-bold-uppercase">Make an Appointment</a>
      </p>
    </div>
  </section>



  <section class="container breadcrumbs">
    <p class="pinterest-button">
      <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/">
        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" alt="Pin It" title="Pin It" />
      </a>
    </p>
    <p class="sans-bold-uppercase">
      <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
    </p>
  </section>



  <section class="container page-heading">
    <h1 class="serif-xl">Color Palette</h1>
    <p class="sans-l">When you shop at David's Bridal, you can count on colors that look stunning indoors and out, and match dress to dress whether your friends order from Philly or Phoenix.</p>
    <p class="serif-m">6 swatches for $5, plus free shipping
      <span class="sans-bold-uppercase">
        <a class="btn-link" href="/bridesmaid-dresses/color-swatches">SHOP NOW&nbsp;&gt;</a>
      </span>
    </p>
  </section>



  <!-- Standard Swatches -->
  <section class="container">
    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608010111697108&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Petal&">
          <div class="swatch-container__svg">
            <svg class="petal" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Petal</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606697108108101116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Ballet&">
          <div class="swatch-container__svg">
            <svg class="ballet" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">BALLET</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608111797114116122&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Quartz&">
          <div class="swatch-container__svg">
            <svg class="quartz" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Quartz</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608410599107108101100&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Tickled&">
          <div class="swatch-container__svg">
            <svg class="tickled" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Tickled</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606610110311111010597&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Begonia&">
          <div class="swatch-container__svg">
            <svg class="begonia" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Begonia</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016065112112108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Apple&">
          <div class="swatch-container__svg">
            <svg class="apple" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Apple</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608310510111011097&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Sienna&">
          <div class="swatch-container__svg">
            <svg class="sienna" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Sienna</p>
            <p class="sans-xxs">new!</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606710410597110116105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Chianti&">
          <div class="swatch-container__svg">
            <svg class="chianti" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Chianti</p>
            <p class="sans-xxs">new!</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016087105110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Wine&">
          <div class="swatch-container__svg">
            <svg class="wine" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Wine</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160839711010311410597&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Sangria&">
          <div class="swatch-container__svg">
            <svg class="sangria" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Sangria</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/raspberry-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="raspberry" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Raspberry</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/bellini-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="bellini" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Bellini</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016067111114971083282101101102&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Coral Reef&">
          <div class="swatch-container__svg">
            <svg class="coralreef" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Coral Reef</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160711179711897&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Guava&">
          <div class="swatch-container__svg">
            <svg class="guava" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Guava</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160679711097114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Canary&">
          <div class="swatch-container__svg">
            <svg class="canary" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Canary</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160679711097114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Sunflower&">
          <div class="swatch-container__svg">
            <svg class="sunflower" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Sunflower</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016080101114115105109109111110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Persimmon&">
          <div class="swatch-container__svg">
            <svg class="persimmon" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Persimmon</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/mint-green-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="mint" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Mint</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607710197100111119&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Meadow&">
          <div class="swatch-container__svg">
            <svg class="meadow" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Meadow</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016067108111118101114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Clover&">
          <div class="swatch-container__svg">
            <svg class="clover" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Clover</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016074117110105112101114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Juniper&">
          <div class="swatch-container__svg">
            <svg class="juniper" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Juniper</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608311297&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Spa&">
          <div class="swatch-container__svg">
            <svg class="spa" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Spa</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/teal-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="tealblue" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Teal Blue</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/malibu-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="malibu" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Malibu</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/oasis-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="oasis" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Oasis</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/ice-blue-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="iceblue" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Ice Blue</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016072111114105122111110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Horizon&">
          <div class="swatch-container__svg">
            <svg class="horizon" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Horizon</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/marine-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="marine" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Marine</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160831161011011083266108117101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Steel Blue&">
          <div class="swatch-container__svg">
            <svg class="steel-blue" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Steel Blue</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160671119897108116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Cobalt&">
          <div class="swatch-container__svg">
            <svg class="cobalt" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Cobalt</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016073114105115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Iris&">
          <div class="swatch-container__svg">
            <svg class="iris" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Iris</p>
          </div>
        </a>
      </div>


      <div class="swatch-container">
        <a href="/wisteria-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="wisteria" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Wisteria</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608210110310111099121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Regency&">
          <div class="swatch-container__svg">
            <svg class="regency" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Regency</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607697112105115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Lapis&">
          <div class="swatch-container__svg">
            <svg class="lapis" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Lapis</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/plum-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="plum" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Plum</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/ivory-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="ivory" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Ivory</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/champagne-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="champagne" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Champagne</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606610511599111116116105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Biscotti&">
          <div class="swatch-container__svg">
            <svg class="biscotti" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Biscotti</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/portobello-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="portobello" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Portobello</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016084114117102102108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Truffle&">
          <div class="swatch-container__svg">
            <svg class="truffle" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Truffle</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607712111511610599&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Mystic&">
          <div class="swatch-container__svg">
            <svg class="mystic" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Mystic</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607710111499117114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Mercury&">
          <div class="swatch-container__svg">
            <svg class="mercury" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Mercury</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/pewter-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="pewter" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Pewter</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607111497112104105116101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Graphite&">
          <div class="swatch-container__svg">
            <svg class="graphite" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Graphite</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/black-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="black" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Black</p>
          </div>
        </a>
      </div>
    </div>
  </section>



  <!-- White by Vera Wang -->
  <section class="container">
    <h3 class="serif-l">White by Vera Wang Exclusives</h3>
    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016065109101116104121115116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Amethyst&">
          <div class="swatch-container__svg">
            <svg class="amethyst" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Amethyst</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/blush-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="blush" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Blush</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606797115115105115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Cassis&">
          <div class="swatch-container__svg">
            <svg class="cassis" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Cassis</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016067104971149911197108&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Charcoal&">
          <div class="swatch-container__svg">
            <svg class="charcoal" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Charcoal</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606998111110121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Ebony&">
          <div class="swatch-container__svg">
            <svg class="ebony" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Ebony</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/forest-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="forest" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Forest</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016077105100110105103104116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Midnight&">
          <div class="swatch-container__svg">
            <svg class="midnight" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Midnight</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016077105115116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Mist&">
          <div class="swatch-container__svg">
            <svg class="mist" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Mist</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016083116101114108105110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Sterling&">
          <div class="swatch-container__svg">
            <svg class="sterling" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Sterling</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016083117110115101116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Sunset&">
          <div class="swatch-container__svg">
            <svg class="sunset" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Sunset</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160869710810111011610511097&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Valentina&">
          <div class="swatch-container__svg">
            <svg class="valentina" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Valentina</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608611932671049710911297103110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Vw Champagne&">
          <div class="swatch-container__svg">
            <svg class="vwchampagne" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">VW Champagne</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/olive-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <svg class="olive" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Olive</p>
          </div>
        </a>
      </div>

    </div>
  </section>



  <!-- Metallic -->
  <section class="container">
    <h3 class="serif-l">Metallic</h3>
    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016083116101101108326610811710132771011169710810810599&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Steel Blue Metallic&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_steelbluemetallic.png" alt="Steel Blue Metallic Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Steel Blue Metallic</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607111110810032771011169710810810599&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Gold Metallic&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_goldmetallic.png" alt="Gold Metallic Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Gold Metallic</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/rose-gold-bridesmaid-dresses">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_rosegoldmetallic.png" alt="Rose Gold Metallic Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Rose Gold Metallic</p>
          </div>
        </a>
      </div>

    </div>
  </section>



  <!-- Sequin -->
  <section class="container">
    <h3 class="serif-l">Sequin</h3>
    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016071111108100&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Gold&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_goldsequin.png" alt="Gold Sequin Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Gold</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607897118121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Navy&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_navysequin.png" alt="Navy Sequin Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Navy</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016082111115101,10160821111151013271111108100&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Rose%20Gold&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_sequin_rose.png" alt="Rose Sequin Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Rose</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101608010897116105110117109&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Platinum&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_platinumsequin.png" alt="Platinum Sequin Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Platinum</p>
          </div>
        </a>
      </div>

    </div>
  </section>



  <!-- Prints -->
  <section class="container">
    <h3 class="serif-l">Prints</h3>
    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016071114101121476610811710180114105110116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Grey/BluePrint&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_greyfloral.png" alt="Grey Floral Print" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Grey Floral</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160701081111149710832771171081161053280114105110116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Floral Multi Print&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_floralmulti.png" alt="Floral Multi" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Floral Multi</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160771171081161054780114105110116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Multi/Print&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_multiprint.png" alt="Multi Print" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Multi Print</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101607797114105110101478111797114116122&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:small&isPriceFacet:false&facetValues:,Marine/Quartz&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_marinequartzsequin.png" alt="Marine/Quartz Print" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Marine/Quartz</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160871051101014773118111114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:small&isPriceFacet:false&facetValues:,Wine/Ivory&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_wineivorysequin.png" alt="Wine/Ivory Print" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Wine/Ivory</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606610897991074773118111114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:small&isPriceFacet:false&facetValues:,Black/Ivory&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_blackivorysequin.png" alt="Black/Ivory Print" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Black/Ivory</p>
          </div>
        </a>
      </div>

    </div>
  </section>



  <!-- Lace -->
  <section class="container">
    <h3 class="serif-l">Lace</h3>

    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:101606797109101111&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Cameo&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_cameolace.png" alt="Cameo Lace Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Cameo</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160809711410297105116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Parfait&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_parfaitlace.png" alt="Parfait Lace Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Parfait</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016071114101121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Grey&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_greylace.png" alt="Grey Lace Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Grey</p>
          </div>
        </a>
      </div>
    </div>
  </section>




  <!-- Discontinued -->
  <section class="container">
    <h3 class="serif-l">Discontinued</h3>
    <p class="sans-m">Only a few remain, shop now!</p>

    <div class="swatch">
      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016080111111108&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Pool&">
          <div class="swatch-container__svg">
            <svg class="pool" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Pool</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016080979910510210599&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Pacific&">
          <div class="swatch-container__svg">
            <svg class="pacific" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Pacific</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160771111141101051101033271108111114121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Morning Glory&">
          <div class="swatch-container__svg">
            <svg class="morning-glory" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Morning Glory</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:1016066111117113117101116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Bouquet&">
          <div class="swatch-container__svg">
            <svg class="bouquet" viewBox="0 0 38.517 38.641">
              <use xlink:href="#colorSwatch" x="0px" y="0px" />
            </svg>
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Bouquet</p>
          </div>
        </a>
      </div>

      <div class="swatch-container">
        <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:10160801011169710832771011169710810810599&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Petal Metallic&">
          <div class="swatch-container__svg">
            <img src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_swatch_petalmetallic.png" alt="Petal Metallic Swatch" />
          </div>
          <div class="swatch-container__copy">
            <p class="sans-bold-uppercase">Petal Metallic</p>
          </div>
        </a>
      </div>

    </div>
  </section>




  <section class="container links">
    <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/bridesmaid-dresses/all-bridesmaid-dresses">SHOP ALL BRIDESMAID DRESSES&nbsp;&gt;</a>
      </p>
    </div>
    <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide-Wedding_Colors">SEE COLOR IDEAS FOR BRIDESMAIDS&nbsp;&gt;</a>
      </p>
    </div>
  </section>



  <!-- Coordinate Your Day With Color -->
  <section class="container coordinate-your-day">
    <div class="column-full">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-m-italic">Coordinate Your Day With Color</p>
      </div>


      <div class="layout-split-4">

        <div class="column">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/wedding-gift-and-decor-ideas">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_decorations.jpg" alt="Shop Favors and Decor" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">
                  <a href="/wedding-gift-and-decor-ideas" class="media-block-content__title__link text-decoration-none">All the Finishing Touches</a>
                </span>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/wedding-gift-and-decor-ideas">Shop Favors &amp; Decor&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_ColorInspiration-_-Content-_-MW_shopTuxedos">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_mencolor.jpg" alt="Color Coordinate the Guys" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">
                  <a href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_ColorInspiration-_-Content-_-MW_shopTuxedos" class="media-block-content__title__link text-decoration-none">Color Coordinate the Guys</a>
                </span>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_ColorInspiration-_-Content-_-MW_shopTuxedos">Shop Tuxedos&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingInvitations">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_invitesavedate.jpg" alt="Wedding Invitations by David’s Bridal" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">
                  <a href="/Content_StyleandFashionGuide_WeddingInvitations" class="media-block-content__title__link text-decoration-none">Invitations &amp; Stationery</a>
                </span>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingInvitations">Find Your Color&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_styleguidemobcoordinator">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/colormain/sfg_colormain_mob.jpg" alt="Color Guide for Mom" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">
                  <a href="/Content_StyleandFashionGuide_styleguidemobcoordinator" class="media-block-content__title__link text-decoration-none">Color Guide for Mom</a>
                </span>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_styleguidemobcoordinator">Explore Now&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</main>
