<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance &gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="hero">
        <div class="hero__img">
          <img src="/wcsstore/images/wwcm/sfg/fabrics/Fabrics_Hero.jpg" alt="Wedding dresses and bridesmaid dresses in a variety of fabrics on hangers">
        </div>
        <div class="hero__text">
          <h1 class="serif-l">All About Wedding&nbsp;Fabrics</h1>
          <p class="sans-m">As you start your wedding or bridesmaid dress search, keep these fabric facts in mind.</p>
          <p class="sans-bold-uppercase">
            <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses&nbsp;&gt;</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaid Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </section>

      <!-- Lace -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/1_Lace.jpg" alt="Lace bridal gown on model with insets for chantilly, corded and guipure lace" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Lace</h3>
            <p class="sans-m">Lace is a sheer, delicate, open-weave fabric with a pattern, often floral or scalloped. Types of lace include Chantilly, corded, guipure, and crochet.</p>
            <ul>
              <li class="sans-m">Weight: Light to medium</li>
              <li class="sans-m">Soft or Structured: Soft</li>
              <li class="sans-m">Vibe: Romantic, vintage, classic</li>
              <li class="sans-m">Best for: Weddings year-round</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/lace-wedding-dresses">Shop Lace Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/bridesmaid-dresses/lace-bridesmaid-dresses">Shop Lace Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Chiffon -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/2_Chiffon_bm.jpg" alt="Chiffon bridesmaid dress in wine with closeup view of soft flowing fabric" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Chiffon</h3>
            <p class="sans-m">Chiffon is a flowing, sheer fabric with a plain weave.</p>
            <ul>
              <li class="sans-m">Weight: Light</li>
              <li class="sans-m">Soft or Structured: Soft</li>
              <li class="sans-m">Vibe: Ethereal, carefree, classic</li>
              <li class="sans-m">Best for: Spring and summer weddings</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/chiffon-wedding-dresses ">Shop Chiffon Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/chiffon-bridesmaid-dresses">Shop Chiffon Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Organza -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/3_Organza.jpg" alt="Organza mermaid wedding dress with closeup fabric view" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Organza</h3>
            <p class="sans-m">Organza is a gauzy fabric as sheer as chiffon but much stiffer.</p>
            <ul>
              <li class="sans-m">Weight: Light to medium</li>
              <li class="sans-m">Soft or Structured: Structured</li>
              <li class="sans-m">Vibe: Polished, elegant, formal</li>
              <li class="sans-m">Best for: Weddings year-round</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/organza-wedding-dresses">Shop Organza Wedding Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Tulle -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/4_Tulle_new2.jpg" alt="Tulle wedding gown with closeup fabric view" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Tulle</h3>
            <p class="sans-m">Tulle, aka netting, is a sheer yet relatively stiff fabric often layered as a skirt.</p>
            <ul>
              <li class="sans-m">Weight: Light</li>
              <li class="sans-m">Soft or Structured: Either, depending on how many layers are used</li>
              <li class="sans-m">Vibe: Classic, timeless, girly</li>
              <li class="sans-m">Best for: Weddings year-round</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/tulle-wedding-dresses">Shop Tulle Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:307445734561666669283111102116323832701081111191219584117108108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Tulle&">Shop Tulle Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Satin -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/5_Satin.jpg" alt="Satin A-line gown with closeup view of charmeuse and duchesse satin" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Satin</h3>
            <p class="sans-m">Satin is a weave of fabric with a lustrous surface. Types of satin include drapey charmeuse and stiffer duchesse.</p>
            <ul>
              <li class="sans-m">Weight: Medium to heavy</li>
              <li class="sans-m">Soft or Structured: Usually structured, but depends on weight</li>
              <li class="sans-m">Vibe: Classic, romantic, elegant</li>
              <li class="sans-m">Best for: Fall and winter weddings</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/satin-wedding-dresses ">Shop Satin Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:30744573456166666928311611411799116117114101100958397116105110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Satin&">Shop Satin Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Mikado -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/6_Mikado.jpg" alt="Mikado wedding gown with closeup view of the structured fabric" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Mikado</h3>
            <p class="sans-m">Mikado is a textured fabric with a slight sheet.</p>
            <ul>
              <li class="sans-m">Weight: Heavy</li>
              <li class="sans-m">Soft or Structured: Structured</li>
              <li class="sans-m">Vibe: Polished, refined, modern</li>
              <li class="sans-m">Best for: Fall and winter weddings</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/mikado-wedding-dresses">Shop Mikado Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:30744573456166666928311611411799116117114101100957710510797100111&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Mikado&">Shop Mikado Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Mesh -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/7_Mesh_bm.jpg" alt="Mesh bridesmaid dress with closeup view of soft flowing fabric" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Mesh</h3>
            <p class="sans-m">Mesh is an airy, loosely knit open-weave fabric with a bit of stretch.</p>
            <ul>
              <li class="sans-m">Weight: Light</li>
              <li class="sans-m">Soft or Structured: Soft</li>
              <li class="sans-m">Vibe: Effortless, carefree, playful</li>
              <li class="sans-m">Best for: Spring and summer weddings, or year-round for bridesmaids</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/mesh-wedding-dresses">Shop Mesh Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:307445734561666669283111102116323832701081111191219577101115104&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Mesh&">Shop Mesh Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Sequin -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/8_SequinBM_v3.jpg" alt="Sequin bridesmaid dress with closeup view of sequins" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Sequin</h3>
            <p class="sans-m">Sequins are decorative discs applied to fabric for sparkle and texture.</p>
            <ul>
              <li class="sans-m">Weight: Medium</li>
              <li class="sans-m">Soft or Structured: Structured</li>
              <li class="sans-m">Vibe: Glamorous, fun, style savvy</li>
              <li class="sans-m">Best for: Weddings year-round</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/sequin-bridesmaid-dresses">Shop Sequin Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- Crepe -->
      <section class="flex-1-2">
        <div class="flex-1-2__flex">
          <div class="flex-1-2__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/fabrics/9_Crepe.jpg" alt="Crepe wedding dress in long sheath style with closeup view of fabric" />
          </div>
          <div class="flex-1-2__flex-col">
            <h3 class="serif-m">Crepe</h3>
            <p class="sans-m">Crepe is a crisp, eggshell-textured fabric that drapes nicely.</p>
            <ul>
              <li class="sans-m">Weight: Medium</li>
              <li class="sans-m">Soft or Structured: Structured</li>
              <li class="sans-m">Vibe: Sleek, polished, timeless</li>
              <li class="sans-m">Best for: Fall, winter, and spring weddings</li>
            </ul>
            <p class="sans-bold-uppercase">
              <a href="/crepe-wedding-dresses">Shop Crepe Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3003367&storeId=10052&langId=-1#!&facet:307445734561666669283111102116323832701081111191219567114101112101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Crepe&">Shop Crepe Bridesmaid Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

    </main>


    <!-- COLUMN 2 - Aside Content -->
    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide-styleguidedressguide_index">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_SilhouetteGuide_414x284.jpg" alt="Silhouette Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide-styleguidedressguide_index" class="text-decoration-none">Silhouette Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Appointment_planning">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Getting-Started_414x284.jpg" alt="Planning Your Appointment">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingthemes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Catalog_onlinecatalog">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_MagazinesAndLookBooks.jpg" alt="Magazines & Look Books">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Catalog_onlinecatalog" class="text-decoration-none">Magazines &amp; Look Books</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Catalog_onlinecatalog">Explore Digital Editions&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

  <div class="listing-pager__top" id="scrollToTop">
  	<a class="listing-pager__top-link" href="#" aria-label="Click here to scroll to top of the page">
  		<span class="listing-pager__top-link-image">
  			<svg role="img" aria-labelledby="scrollToTopTitle" class="listing-pager__top-link-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
          <title id="scrollToTopTitle">Scroll to Top Button</title>
  				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
  				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
  			</svg>
  		</span>
  		<span class="listing-pager__top-link-text">Top</span>
  	</a>
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      $(window).on('scroll', function() {
    		scrollFunction();
    	});
      function scrollFunction() {
        var scrollTop = $(window).scrollTop();
    		if (scrollTop >= 100) {
    			$('#scrollToTop').css('display', 'block');
    		} else {
    			$('#scrollToTop').css('display', 'none');
    		}
      }
    	$('.listing-pager__top-link').on('click', function(event) {
    		event.preventDefault();
    		$('html, body').animate({scrollTop: 0}, 1000);
    	});
    });
  </script>

</article>
