<main role="main" class="content-page">


  <!-- Page Heading -->
  <section class="page-heading">
    <div class="page-heading__flex">

      <div class="column">
        <div class="breadcrumbs">
          <p class="sans-bold-uppercase">
            <a href="#">Inspiration &amp; Guidance&nbsp;&gt;</a>
          </p>
        </div>
        <h1 class="serif-xl">Our Fall 2018 Collection</h1>
      </div>

      <div class="column">
        <div class="article__share-bar">
          <p class="article__share-bar-title serif-s-italic">Share:</p>
          <!-- Gigya Share Bar Container -->
          <ul class="article__share-bar-item-list" id="socialShareIconsDesktop">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </div>
  </section>




  <!-- Hero -->
  <section class="hero">
    <div class="hero__img">
      <a href="/wedding-dresses/casual-wedding-dress">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Hero_Mobile_767x461.jpg" alt="Group shot of models wearing various David's Bridal wedding dresses">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Hero_Desktop_1600x615.jpg" alt="Group shot of models wearing various David's Bridal wedding dresses">
      </a>
    </div>
  </section>




  <!-- Appointment Banner -->
  <section class="appointment-banner">
    <h3 class="serif-m-italic">Find your style, stay in budget</h3>
    <p class="sans-s">Our stylists can help you put together a look that checks all the boxes.</p>
    <p class="sans-bold-uppercase">
      <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment&nbsp;&gt;</a>
    </p>
    <p class="btn btn-secondary">
      <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
    </p>
  </section>


  <section class="container">
    <div class="section-heading">
      <p class="section-heading__copy sans-m">With more than 30 new designs, the David's Bridal fall 2018 collection offers wedding dresses for all styles, sizes, and budgets. So whether you're dreaming of classic ivory or a touch of gold, head-to-toe beading or a whimsical feather skirt, you'll find the perfect look for your celebration of a lifetime.</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/new-arrivals">Shop New Arrivals&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/all-wedding-dresses">Shop All Wedding Dresses&nbsp;&gt;</a>
      </p>
    </div>
  </section>



  <section class="container">
    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wine-bridesmaid-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_WineForEveryone.jpg" alt="Three bridesmaids wearing different length wine colored dresses" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Wine for everyone:</span> The on-trend color for bridesmaid dresses comes in a range of tones that are fun to mix, from chianti to sangria&mdash;and prints too!</p>
        <p class="sans-bold-uppercase">
          <a href="/wine-bridesmaid-dresses">Shop Wine Bridesmaid Dresses&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_CaptivatingBacks.jpg" alt="Lacy back detail of two brides" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Captivating backs:</span> Our fall wedding dresses feature thoughtful details at every angle, like hand-placed appliqu&eacute;s that stand out against illusion mesh.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Circle_RoseGoldAccessories.jpg" alt="Rose gold metallic high heels with opulent straps" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic"><a class="inline-link" href="/rose-gold-accessories">Rose gold accessories</a> are equal parts opulent and romantic.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>



  <section class="container">
    <div class="two-columns md-flex-start reverse">

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/sequin-bridesmaid-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_SequinShimmer.jpg" alt="Bridesmaids standing back to back and leaning forward while laughing in sequin dresses" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Sequin shimmer:</span> Metallic shine highlights the latest bridesmaid dresses for fall 2018. Go for a little luster&mdash;or a lot.</p>
        <p class="sans-bold-uppercase">
          <a href="/sequin-bridesmaid-dresses">Shop Sequin Bridesmaid Dresses&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/sheath-wedding-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_LongSleeveSheaths.jpg" alt="Two models wearing beaded long sleeve wedding dresses" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Long-sleeve sheaths:</span> With lace or deco-beaded arm coverage, these are ideal autumn wedding dresses for chillier weather.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/sheath-wedding-dresses">Shop Sheath Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up reverse">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Circle_Jacket.jpg" alt="Bride wearing a black leather jacket with Just Married embroidered in white" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">After the ceremony, put on a <a class="inline-link" href="/wedding-gifts/wedding-gifts-for-bride">jacket</a> that says it all.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>



  <section class="container">
    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/all-accessories">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_EyeCatchingAccessories.jpg" alt="Bride looking down wearing feather earrings and crystal necklace holding a bouquet" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Eye-catching accessories:</span> Find finishing touches that reflect your personality, like fluttery feather earrings and heirloom-style jewels.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/all-accessories">Shop Accessories&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jackets-and-wraps">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_BridalToppers.jpg" alt="Bride posing with feather outwear jacket" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Bridal toppers:</span> The easiest way to switch up your look between the ceremony and reception? A capelet or shrug worn over your gown.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jackets-and-wraps">Shop Jackets &amp; Wraps&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Circle_HairAccessories.jpg" alt="Close up of bride with hair in a put together bun and floral vertical clip" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Crystal <a class="inline-link" href="/accessories/hair-accessories">hair accessories</a> are always in season.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>



  <section class="container">
    <div class="two-columns md-flex-start reverse">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/handbags">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_SparklingAccents.jpg" alt="Pearl clutch with handle on white background near pink flowers" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Sparkling accents:</span> A beaded clutch will complement your wedding dress's embellishments and catch the light just so.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/handbags">Shop Handbags&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/all-wedding-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_WhimsicalFeathers.jpg" alt="Models posing in various feather wedding dresses" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Whimsical feathers:</span> Take your pick for how to wear fall's feather trend: fun earrings, a chic shrug, or a glam gown.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up reverse">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Circle_Earrings.jpg" alt="Bride looking down over her shoulder showing off dangling crystal earrings" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Add dangling <a class="inline-link" href="/earrings">earrings</a> for instant elegance.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_LittleOnes.jpg" alt="Flower girl smiling at the camera with another little flower girl smiling at her" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Little ones:</span> Impossibly cute dresses for flower girls are available in sizes 12M-14, with plenty of options to fit your day's vibe.</p>
        <p class="sans-bold-uppercase">
          <a href="/dresses/flower-girl-dresses">Shop Flower Girls&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/colorful-wedding-dresses">
              <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_MetallicFabrics.jpg" alt="Models walking down runway posing in champaign wedding dresses" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m gigya-description"><span class="serif-m">Metallic fabrics:</span> Golden appliqu&eacute; and thousands of sequins deliver subtle color to fall wedding gowns. Or choose a soft hue like blush and stone.</p>
        <p class="sans-bold-uppercase">
          <a href="/colorful-wedding-dresses">Shop Colorful Wedding Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/fall-2018-collection/Fall2018Collection_Circle_PetAccessories.jpg" alt="Dog handkerchiefs that say Best Dog with a bowtie and Dog of Honor with a pink flower" class="img-round" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Invite your dog to join in on the day with spiffy <a class="inline-link" href="/wedding-pet-decorations-accessories">pet accessories</a>.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>




  <section class="container md-hidden lg-hidden" style="background: #fff">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>



  <!-- inspiration & guidance -->
  <section class="container-full" style="background: #fff">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressesGuide">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingDress101.jpg" alt="Wedding Dresses 101">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Dresses 101</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressesGuide">Brands, Trends, FAQs &amp; More&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingPlanning.jpg" alt="Wedding Planning">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Planning</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">Themes, Advice, To-Do's &amp; More&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingColors.jpg" alt="Wedding Colors & Bridal Party Ideas">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Colors & Bridal Party Ideas</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Maids, Moms &amp; More&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingAccessories">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_CompletingYourLook.jpg" alt="Completing Your Look">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Completing Your Look</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingAccessories">Veils, Shoes, Jewelry &amp; More&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
