<article class="content-page">

  <!-- breadcrumbs -->
  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
      </p>
    </div>
  </section><!-- breadcrumbs -->


  <!-- hero - video -->
  <section class="container">
    <div class="hero">
      <div class="hero__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i4ZiHupef8k?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=i4ZiHupef8k" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="hero__textbox">
        <h1 class="serif-xl">Flower Girl Guide</h1>
        <p class="sans-l">Your tiny sidekick's style can be just as unique as yours. Here are a few ideas to help her match your wedding theme.</p>
        <p class="sans-bold-uppercase">
          <a href="/dresses/flower-girl-dresses">Shop Flower Girl Dresses&nbsp;&gt;</a>
        </p>
      </div>
      <!-- Cover bottom of video -->
      <div class="hero__video-cover">&nbsp;</div>
    </div>
  </section>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      var windowWidth = $(window).width();
      var elementUnderVideo = $('.element-under-video');
      function adjustMargin() {
        var videoCoverHeight = $('.hero .hero__video-cover').height();
        var marginTop = '-' + videoCoverHeight + 'px';
        elementUnderVideo.css('margin-top', marginTop);
      }
      if (windowWidth >= 1024) {
        adjustMargin();
      }
      $(window).on('resize', function() {
        var resizeWindowWidth = $(window).width();
        if (resizeWindowWidth >= 1024) {
          adjustMargin();
        } else {
          elementUnderVideo.css('margin-top', '');
        }
      });
    });
  </script>


  <!-- Traditional -->
  <section class="container element-under-video">
    <div class="flex">
      <div class="column">
        <a href="/dresses/flower-girl-dresses">
          <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/767_Traditional_Hero.jpg" alt="Flower Girl Dress with Tulle and Ribbon Waist">
        </a>
      </div>
      <div class="column">
        <div class="flex-inner">
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/1_Style_FG9010_Traditional.gif" alt="Satin A-line Flower Girl Dress with beaded metallic embroidery">
            </a>
          </div>
          <div class="col">
            <div class="col__img">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/pink-bg.gif">
            </div>
            <div class="col__text">
              <p class="serif-m">Traditional</p>
              <p class="sans-m">These adorable flower girl dresses are decked out in tulle, lace, and ribbons&mdash;all perfect for her big dress-up moment.</p>
              <p class="sans-bold-uppercase">
                <a href="/dresses/flower-girl-dresses">Shop Dresses&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/accessories/flower-girl-accessories">Shop Accessories&nbsp;&gt;</a>
              </p>
            </div>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/3_Robe_Traditional.jpg" alt="Rhinestone Flower Girl Satin Robe">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/4_Basket_Traditional.jpg" alt="Satin Flower Girl Basket">
            </a>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/5_Style_E721347_Traditional.jpg" alt="Lattice Bodice Flower Girl Dress with Tiered Tulle Skirt">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/6_Shoe_Traditional.jpg" alt="Strapy Satin Flower Girl Shoe with Rhinestone">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- hero - image -->
  <section class="container">
    <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/Spring2018-FG-1.jpg" alt="Bride kneeling by flower girls holding babys breath">
  </section>


  <!-- Boho -->
  <section class="container">
    <div class="flex reverse">
      <div class="column">
        <a href="/dresses/flower-girl-dresses">
          <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/767_Boho_Hero.jpg" alt="Illusion Lace Tie-Back Halter Flower Girl Dress">
        </a>
      </div>
      <div class="column">
        <div class="flex-inner">
          <div class="col">
            <div class="col__img">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/pink-bg.gif">
            </div>
            <div class="col__text">
              <p class="serif-m">Boho</p>
              <p class="sans-m">For a vintage-inspired wedding, dress your most adorable attendant in a charming lace flower girl style to match the vibe.</p>
              <p class="sans-bold-uppercase">
                <a href="/dresses/flower-girl-dresses">Shop Dresses&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/accessories/flower-girl-accessories">Shop Accessories&nbsp;&gt;</a>
              </p>
            </div>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/2_Style_B31133DV_Boho.gif" alt="Boho Flutter Sleeve Lace Flower Girl Dress">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/3_Headband_Boho.jpg" alt="Flower Girl Flower Headband with Crystal Centers">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/4_Basket_Boho.jpg" alt="Here Comes The Bride Rustic Flower Girl Basket">
            </a>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/5_Style_RK1361_Boho.jpg" alt="Sleeveless All Over Lace Flower Girl Dress with Scalloped Hem">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/6_Shoe_Boho.jpg" alt="Flower Girl Crochet Lace Ballet Flats">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- hero - image -->
  <section class="container">
    <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/Spring2018-FG-2.jpg" alt="Group of flower girls gazing at bride">
  </section>


  <!-- Preppy -->
  <section class="container">
    <div class="flex">
      <div class="column">
        <a href="/dresses/flower-girl-dresses">
          <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/767_Preppy_Hero.jpg" alt="Satin Tank Bubble Flower Girl Dress with 3D Flower">
          <div class="circle-text pink" style="display: none;">
            <p>Now Available <br>In 13 Colors!</p>
          </div>
        </a>
      </div>
      <div class="column">
        <div class="flex-inner">
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/1_Style_FG3707_Preppy.gif" alt="Full Length Flower Girl Dress with Straps">
            </a>
          </div>
          <div class="col">
            <div class="col__img">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/pink-bg.gif">
            </div>
            <div class="col__text">
              <p class="serif-m">Preppy</p>
              <p class="sans-m">Picture classic pleats, a cute hem, and a flower or two (how appropriate!) for your polished little lady.</p>
              <p class="sans-bold-uppercase">
                <a href="/dresses/flower-girl-dresses">Shop Dresses&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/accessories/flower-girl-accessories">Shop Accessories&nbsp;&gt;</a>
              </p>
            </div>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/3_Handbag_Preppy.jpg" alt="Pearl-Handled Satin Flower Girl Purse">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/4_Sash_Preppy.jpg" alt="Blue Satin Flower Girl Ribbon">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/5_Shoe_Preppy.jpg" alt="Girls Lace Mary Janes with Pearl Strap">
            </a>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/6_Style_KP1330_Preppy.jpg" alt="Spaghetti Strap Chiffon Tea Length Dress">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- hero - image -->
  <section class="container">
    <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/Spring2018-FG-3.jpg" alt="Bride leaning down to flower girl with heart shaped back dress">
  </section>


  <!-- Girly -->
  <section class="container">
    <div class="flex reverse">
      <div class="column">
        <a href="/dresses/flower-girl-dresses">
          <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/767_Girly_Hero.jpg" alt="Tea Length Satin and Tulle Flower Girl Dress">
        </a>
      </div>
      <div class="column">
        <div class="flex-inner">
          <div class="col">
            <div class="col__img">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/pink-bg.gif">
            </div>
            <div class="col__text">
              <p class="serif-m">Girly</p>
              <p class="sans-m">Your flower girl will love how she shimmers in a little glitter. A poofy skirt makes it so fun to take a twirl!</p>
              <p class="sans-bold-uppercase">
                <a href="/dresses/flower-girl-dresses">Shop Dresses&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/accessories/flower-girl-accessories">Shop Accessories&nbsp;&gt;</a>
              </p>
            </div>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/2_Style_WG1370_Girly_Slide1.jpg" alt="Pink Tulle Flower Girl Dress with Ribbon">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/3_Tiara_Girly.jpg" alt="Chrystal Flower Girl Tiara">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/4_Necklace_Girly.jpg" alt="Flower Girl Necklace">
            </a>
          </div>
          <div class="col">
            <a href="/dresses/flower-girl-dresses">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/5_Style_RK1368_Girly.gif" alt="Ball Gown Flower Girl Dress with Heart Cutout">
            </a>
          </div>
          <div class="col">
            <a href="/accessories/flower-girl-accessories">
              <img src="/wcsstore/images/wwcm/sfg/flower-girl-guide/6_Shoe_Girly.jpg" alt="Girls T-Strap Crystal Sandals">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- article share bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <!-- inspiration & guidance -->
  <section class="container inspiration-guidance">
    <div class="column-full">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Accessorizing_Bridal_414x284.jpg" alt="Accessorizing Your Bridal Party" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Accessorizing Your Bridal Party</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Shoes, Jewelry &amp; Other Accents&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartygifts">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_OurPicksWeddingPartyGifts.jpg" alt="Wedding Party Gift Guide" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Wedding Party Gift Guide</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartygifts">A Few of Our Favorites&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingvideos">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_LoveStories.jpg" alt="Real Wedding Videos" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Real Wedding Videos</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</article>
