<main class="content-page" role="main">

  <!-- Breadcrumbs -->
  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <!-- Page Heading -->
  <section class="container">
    <h1 class="serif-xl">Getting Started</h1>
    <p class="sans-m">Ready to find your dream dress? Here's what to expect at your appointment, plus tips for making the most of it.</p>
  </section>


  <!-- Before your appointment -->
  <section class="container">
    <div class="getting-started">

      <div class="getting-started__intro">
        <h3 class="serif-l-italic">Before your appointment</h3>
      </div>

      <div class="getting-started__actions">
        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-phone-get-inspired1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70.8 120.6" style="enable-background:new 0 0 70.8 120.6;" xml:space="preserve">
              <path class="svg-pink" d="M69.8,1.2h-68v118h68V1.2z M36,112.9c-2.9,0-5.3-2.4-5.3-5.3s2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3 S38.9,112.9,36,112.9z M63.8,96.2h-56v-86h56V96.2z"/>
              <g>
                <path class="svg-pink" d="M35.8,14.5c-3.3,0-5.8,3.6-5.8,8.2s2.6,8.2,5.8,8.2c3.2,0,5.8-3.6,5.8-8.2S39.1,14.5,35.8,14.5z M35.8,28.8 c-2.1,0-3.8-2.8-3.8-6.2s1.8-6.2,3.8-6.2s3.8,2.8,3.8,6.2C39.6,26,37.9,28.8,35.8,28.8z"/>
                <g>
                  <path class="svg-pink" d="M39.6,44.4l-0.4-0.2v-0.5c0.1-1.7,0.5-4.8,1.6-6.6c0.3-0.4,0.3-0.8,0.4-1.1c0-0.3-0.1-0.5-0.1-0.8 c-0.1-0.3-0.2-0.5-0.3-0.6c-0.4-0.7-1.1-1.1-1.8-1.1c-1.6,0.1-2.8,1.6-2.8,1.6l-0.5,0.6l-0.5-0.5c0,0-1.3-1.5-2.9-1.6 c-0.7-0.1-1.4,0.4-1.9,1.1c-0.2,0.4-0.7,1.4,0,2.5c1.2,1.9,1.6,5.3,1.7,6.7v0.4l-0.4,0.2C28.6,46.1,18.5,57,14.3,86.1 c0.9,0.9,6.1,5.1,21.5,5.1c15.5,0,20.6-4.2,21.5-5.1C53.7,52,39.8,44.5,39.6,44.4z"/>
                </g>
                <rect class="svg-pink" x="31.3" y="29.2" transform="matrix(0.9267 0.3758 -0.3758 0.9267 14.6092 -9.6159)" width="1.3" height="6.8"/>
                <path class="svg-pink" d="M41,35.1l-2.3-6l-1.2,0.5l2.4,6.3l1.1-0.4C41.1,35.4,41,35.2,41,35.1z"/>
              </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Get inspired</p>
            <p class="sans-m">by our <a class="inline-link" href="/wedding-dress-quiz">Dress Finder Quiz</a> and <a class="inline-link" href="/Content_RealWeddings_realweddings">real&nbsp;weddings</a>.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-heart" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67 62" style="enable-background:new 0 0 67 62;" xml:space="preserve">
              <path class="svg-transparent" d="M56.3,2.5l-0.2-0.1C43.4-2.4,36.4,4.6,33.5,8.3c-2.9-3.6-10-10.7-22.9-5.8C3.9,5.7,0,12.8,0.6,20.5 c0.5,6.2,3,11.6,7.6,16c6.6,6.4,22,21.8,23.7,23.8c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.3,1.6-0.7c1.6-2,17-17.4,23.7-23.8
            	c4.6-4.5,7.2-9.9,7.6-16C66.9,12.8,63,5.7,56.3,2.5z"/>
              <path class="svg-pink" d="M56.3,2.5l-0.2-0.1C43.4-2.4,36.4,4.6,33.5,8.3c-2.9-3.6-10-10.7-22.9-5.8C3.9,5.7,0,12.8,0.6,20.5
            	c0.5,6.2,3,11.6,7.6,16c6.6,6.4,22,21.8,23.7,23.8c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.3,1.6-0.7c1.6-2,17-17.4,23.7-23.8
            	c4.6-4.5,7.2-9.9,7.6-16C66.9,12.8,63,5.7,56.3,2.5z M33.5,56.1c-4.5-4.8-17-17.2-22.4-22.5c-3.9-3.8-6-8.3-6.4-13.5
            	c-0.5-6,2.5-11.5,7.6-14c2.4-0.9,4.7-1.4,6.8-1.4c6.8,0,10.4,4.6,12.3,7.1c0.3,0.4,0.5,0.7,0.7,0.9c0.7,0.9,2.3,0.8,3,0
            	c0.2-0.2,0.4-0.5,0.7-0.9c2.5-3.3,7.7-10,18.9-5.8c5.1,2.5,8.2,8.1,7.7,14.1c-0.4,5.2-2.6,9.7-6.4,13.5C50.5,38.9,38,51.3,33.5,56.1
            	z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Save your favorites</p>
            <p class="sans-m">on davidsbridal.com and pin wedding dresses to your <a class="inline-link" href="https://www.pinterest.com/davidsbridal/" target="_blank">Pinterest</a> board.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-clock" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67 62" style="enable-background:new 0 0 67 62;" xml:space="preserve">
              <circle class="svg-clock-stroke1" cx="33.4" cy="31.1" r="27.8"/>
              <polygon class="svg-clock-stroke2" points="33.4,30.5 53.1,30.5 53.1,31.8 33.4,31.8 "/>
              <polygon class="svg-clock-stroke2" points="22.9,14.5 24,13.9 33.6,30.5 32.6,31.3 "/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Book your visit early</p>
            <p class="sans-m">for the most options (and plenty of time for alterations).</p>
          </div>
        </div>
      </div>

      <div class="getting-started__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_767_BeforeApt.jpg" alt="Bride sitting with David's Bridal stylist looking through booklet">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_BeforeApt.jpg" alt="Bride sitting with David's Bridal stylist looking through booklet">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make An Appointment</a>
        </p>
      </div>

    </div>
  </section>


  <!-- During your appointment -->
  <section class="container">
    <div class="getting-started">

      <div class="getting-started__intro">
        <h3 class="serif-l-italic">During your appointment</h3>
      </div>

      <div class="getting-started__actions">
        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-notebook" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 61.2 71.9" style="enable-background:new 0 0 61.2 71.9;" xml:space="preserve">
              <g id="XMLID_17_">
            	  <rect id="XMLID_43_" x="37.3" y="56.4" class="svg-pink" width="10.9" height="1.8"/>
            	  <rect id="XMLID_19_" x="37.3" y="51.6" class="svg-pink" width="14.9" height="1.8"/>
              </g>
              <g id="XMLID_29_">
              	<rect id="XMLID_36_" x="37.3" y="38.4" class="svg-pink" width="10.9" height="1.8"/>
              	<rect id="XMLID_33_" x="37.3" y="33.6" class="svg-pink" width="14.9" height="1.8"/>
              </g>
              <g id="XMLID_44_">
              	<rect id="XMLID_47_" x="37.3" y="20.1" class="svg-pink" width="10.9" height="1.8"/>
              	<rect id="XMLID_45_" x="37.3" y="15.4" class="svg-pink" width="14.9" height="1.8"/>
              </g>
              <path class="svg-pink" d="M4.7,0.6v12.5H1.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h3.5v10H1.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5
              	h3.5v10H1.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h3.5v10H1.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h3.5v10H1.1
              	c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h3.5v13.1h56.1V0.6L4.7,0.6L4.7,0.6z M58.7,69.2h-52V58.1h2.7v0.1c0,0.9,0.7,1.6,1.6,1.6
              	s1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6c-0.5,0-0.9,0.2-1.2,0.5H6.7v-10h2.7c0,0.9,0.8,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6
              	c0-0.9-0.7-1.6-1.6-1.6c-0.6,0-1.1,0.3-1.4,0.7h-3v-10h2.7c0.1,0.8,0.8,1.4,1.6,1.4c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6
              	c-0.7,0-1.2,0.4-1.5,0.9H6.7v-10h2.8c0.2,0.7,0.8,1.2,1.6,1.2c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6c-0.7,0-1.3,0.5-1.6,1.1
              	H6.7v-10h2.8c0.3,0.6,0.8,1,1.5,1c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6c-0.8,0-1.5,0.6-1.6,1.3H6.7V2.6h52.1v66.6L58.7,69.2
              	L58.7,69.2z"/>
              <path class="svg-pink" d="M29,13.2L29,13.2c-2.7-1-4.1,0.4-4.7,1.2c-0.6-0.7-2.1-2.2-4.7-1.2c-1.4,0.7-2.2,2.1-2.1,3.7
              	c0.1,1.3,0.6,2.4,1.6,3.3c1.4,1.3,4.5,4.5,4.9,4.9c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2-0.1,0.3-0.1c0.3-0.4,3.5-3.6,4.9-4.9
              	c0.9-0.9,1.5-2,1.6-3.3C31.2,15.3,30.4,13.8,29,13.2z"/>
              <path class="svg-pink" d="M29,30.8L29,30.8c-2.7-1-4.1,0.4-4.7,1.2c-0.6-0.7-2.1-2.2-4.7-1.2c-1.4,0.7-2.2,2.1-2.1,3.7
              	c0.1,1.3,0.6,2.4,1.6,3.3c1.4,1.3,4.5,4.5,4.9,4.9c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2-0.1,0.3-0.1c0.3-0.4,3.5-3.6,4.9-4.9
              	c0.9-0.9,1.5-2,1.6-3.3C31.2,32.9,30.4,31.5,29,30.8z"/>
              <path class="svg-pink" d="M29,48.5L29,48.5c-2.7-1-4.1,0.4-4.7,1.2c-0.6-0.7-2.1-2.2-4.7-1.2c-1.4,0.7-2.2,2.1-2.1,3.7
              	c0.1,1.3,0.6,2.4,1.6,3.3c1.4,1.3,4.5,4.5,4.9,4.9c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2-0.1,0.3-0.1c0.3-0.4,3.5-3.6,4.9-4.9
              	c0.9-0.9,1.5-2,1.6-3.3C31.2,50.6,30.4,49.1,29,48.5z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Meet your stylist</p>
            <p class="sans-m">and share your wedding vision. Not sure yet? No problem! We can help.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-hanger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 105 61.2" style="enable-background:new 0 0 105 61.2;" xml:space="preserve">
              <g id="Layer_1_1_">
              	<path id="XMLID_10_" class="svg-pink" d="M73.9,35.9c-13.2-7.5-14.2-16.5-14.2-16.5s-2.7-0.1-5.6-0.1v-0.9c0-1.9,1-3.8,2.8-5
              		c2.6-1.8,4.5-5.4,2.7-9.3c-1.1-2.2-3.3-3.8-5.7-4.2c-2.6-0.3-5,0.7-6.8,2.8l-0.4,0.5c-0.9,1.1-0.9,1.1-2.6,1.1c-0.6,0-1,0.4-1,1
              		s0.4,1,1,1c2.4,0,2.7-0.2,4.1-1.8L48.6,4c1-1.1,2.6-2.4,5-2.1C55.4,2.1,57,3.3,57.8,5c1.4,2.8-0.1,5.4-2,6.7
              		c-2.3,1.6-3.7,4-3.7,6.6v0.9c-3.4,0-6.6,0-6.6,0.1c0,0-1,9-14.3,16.5c-12.3,7-32.4,13.9-31.1,23.6c0.2,1.1,1.4,2,2.4,1.4
              		c0.7-0.4,1.6-1.4,2.6-1.4H100c1,0,1.9,1,2.6,1.4c1,0.6,2.3-0.1,2.4-1.3C106.3,50,86.2,42.9,73.9,35.9z M8.2,57.5
              		c8.5-6,22-14.2,27.7-17.4c7.3-4.2,14.7-8.6,16.6-9.7c1.9,1.1,9.3,5.6,16.6,9.8c5.6,3.2,19.1,11.3,27.7,17.3
              		C96.8,57.5,8.2,57.5,8.2,57.5z"/>
              </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Try on dresses</p>
            <p class="sans-m">in more than just sample sizes.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-high-heel" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 93 84.3" style="enable-background:new 0 0 93 84.3;" xml:space="preserve">
              <path class="svg-pink" d="M69.5,57.7c-5.6,0-9.9,1-13.3,2.4c-7.8-7.4-23.8-21.8-35.7-24.3C11.1,19.5,21.7,8,21.7,8h32.1V1H16.2
            	c0,0-15.1,14.9-15.1,24.8c0,10,3.7,11.8,3.7,11.8V83h5l2.1-43.3c24.1,9.6,30.1,32,31.8,36s3.7,6.6,9.5,6.9
            	c14.9,2.2,38.6-4.8,38.6-4.8v-6.5C91.8,71.3,86,57.7,69.5,57.7z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Complete your look</p>
            <p class="sans-m">with <a class="inline-link" href="/accessories/shapewear-and-slips">shapewear</a> and <a class="inline-link" href="/accessories/all-accessories">accessories</a>, from <a class="inline-link" href="/accessories/veils">veil</a> to <a class="inline-link" href="/shoes/all-shoes">shoes</a>.</p>
          </div>
        </div>
      </div>

      <div class="getting-started__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_767_DuringApt.jpg" alt="Brides holding hands and dancing in David's Bridal dressing room area">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_DuringApt.jpg" alt="Brides holding hands and dancing in David's Bridal dressing room area">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">Find a Store</a>
        </p>
      </div>

    </div>
  </section>


  <!-- After your appointment -->
  <section class="container">
    <div class="getting-started">

      <div class="getting-started__intro">
        <h3 class="serif-l-italic">After your appointment</h3>
      </div>

      <div class="getting-started__actions">
        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-pencil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 126.7 126" style="enable-background:new 0 0 126.7 126;" xml:space="preserve">
              <path class="svg-pink" class="st0" d="M93.2,2.6L13,83.8l-6.7,36.6l36.6-6.7l81.2-80.2L93.2,2.6z M93.2,15.3l18.1,18.1l-6.4,6.3l-18-18L93.2,15.3z M24,85.5l56.6-57.3l17.9,17.9l-57.3,56.6L24,85.5z M20.2,94.5l12,12l-14.7,2.7L20.2,94.5z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Write a review</p>
            <p class="sans-m">to help other brides-to-be, and don't forget to tag your pics <a href="/Content_Curations_bridal" class="inline-link">#davidsbridal</a>.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-dress-alterations" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.8 57.4" style="enable-background:new 0 0 28.8 57.4;" xml:space="preserve">
              <path class="svg-pink" d="M19,38.3c-0.8-3.7,3.4-16.1,2.7-21.1c-0.5-3.5-2.2-5-3.1-5.7c0.1-1,0.4-4.7,1.5-6.6c1.4-2.2-0.5-4.7-2.4-4.6 c-1.9,0.2-3.2,1.8-3.2,1.8S13,0.4,11.2,0.3c-2-0.1-4,2.4-2.6,4.6c1.2,2,1.5,5.9,1.6,6.7c-1,0.7-2.5,2.3-3,5.6 c-0.7,5,3.5,17.4,2.6,21.1C9,42,0.4,52.9,0.4,52.9s4,4.1,14,4.1c10.6,0,14-4.1,14-4.1S19.8,42,19,38.3z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Schedule your alterations</p>
            <p class="sans-m">so we can tailor your dress to you.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-calendar" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 124 115.7" style="enable-background:new 0 0 124 115.7;" xml:space="preserve">
              <path class="svg-pink" d="M100.7,13.7V0h-10v13.7H33.3V0h-10v13.7H0v102h124v-102C124,13.7,100.7,13.7,100.7,13.7z M23.3,23.7V31h10v-7.3 h57.3V31h10v-7.3H114v16.7H10V23.7H23.3z M10,105.7V50.3h104v55.3L10,105.7L10,105.7z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Invite your party</p>
            <p class="sans-m">to <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052" class="inline-link">make an appointment</a>. (Think bridesmaids, moms, and flower girls.)</p>
          </div>
        </div>
      </div>

      <div class="getting-started__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_767_AfterApt.jpg" alt="Seamstress putting last minute touches on wedding dress">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_AfterApt.jpg" alt="Seamstress putting last minute touches on wedding dress">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/Content_StyleandFashionGuide_alterations">See Our Alterations Guide</a>
        </p>
      </div>

    </div>
  </section>


  <!-- Shopping for bridesmaids -->
  <section class="container">
    <div class="getting-started">

      <div class="getting-started__intro">
        <h3 class="serif-l-italic">Shopping for bridesmaids</h3>
      </div>

      <div class="getting-started__actions">
        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-phone-get-inspired2" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70.8 120.6" style="enable-background:new 0 0 70.8 120.6;" xml:space="preserve">
              <path class="svg-pink" d="M69.8,1.2h-68v118h68V1.2z M36,112.9c-2.9,0-5.3-2.4-5.3-5.3s2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3 S38.9,112.9,36,112.9z M63.8,96.2h-56v-86h56V96.2z"/>
              <g>
            	   <path class="svg-phone-get-inspired2-stroke" d="M30.8,37.1v-5.7V37.1z"/>
            	   <g>
            		   <path class="svg-pink" d="M44.1,75.4c-0.5-12-1.8-22.6-2.5-24.6c-0.6-1.8-0.8-4-0.8-4l-0.1-0.4h-0.1c0.2-2,0.6-3.7,1.3-4.9 c0.8-1.2,0.8-2.8,0-4c-0.7-1.2-1.9-1.8-3-1.7c-1.4,0.2-2.6,1-3.2,1.6c-0.7-0.6-1.9-1.5-3.3-1.6c-1.2-0.1-2.4,0.6-3.1,1.7 c-0.7,1.2-0.7,2.6,0,3.8c1,1.7,1.4,5,1.5,6.1c-0.1,0.8-0.3,2.1-0.7,3.3c-0.6,2-1.9,12.6-2.4,24.6c-0.5,12.1-0.6,15.8-0.6,15.8v0.5 l0.5,0.1c0.1,0,2.9,0.8,8.1,0.8c5.7,0,8.2-0.8,8.4-0.8l0.4-0.1v-0.4C44.5,91.2,44.6,87.5,44.1,75.4z M35.7,91.3 c-3.8,0-6.3-0.5-7.3-0.7c0-1.4,0.1-5.7,0.6-15.2c0.5-12.6,1.9-22.6,2.4-24.2c0.5-1.2,0.7-2.6,0.8-3.6v-0.1v-0.1 c-0.1-1.4-0.5-4.8-1.7-6.7c-0.7-1.1-0.2-2.1,0-2.5c0.5-0.7,1.2-1.1,1.9-1.1c1.6,0.1,2.9,1.6,2.9,1.6l0.5,0.5l0.5-0.6 c0,0,1.2-1.5,2.8-1.6c0.7,0,1.4,0.4,1.8,1.1c0.2,0.3,0.7,1.4,0,2.5c-0.9,1.6-1.3,4.1-1.5,6l-0.1,0.7h0.3c0.1,0.8,0.3,2.4,0.8,3.8 c0.5,1.6,1.9,11.7,2.4,24.2c0.4,9.7,0.4,14,0.4,15.3C42.3,90.9,39.9,91.3,35.7,91.3z"/>
            		   <path class="svg-pink" d="M35.8,14c-3.3,0-5.8,3.6-5.8,8.2s2.6,8.2,5.8,8.2c3.2,0,5.8-3.6,5.8-8.2S39.1,14,35.8,14z M35.8,28.3 c-2.1,0-3.8-2.8-3.8-6.2s1.8-6.2,3.8-6.2s3.8,2.8,3.8,6.2C39.6,25.5,37.9,28.3,35.8,28.3z"/>
            		   <polygon class="svg-pink" points="31.3,48.3 30.9,43.1 29.5,39.7 29.5,38 31.3,36.5 34,36.5 35.8,38.6 37.9,36.5 39.9,36.5 41.6,38.3 41.6,40.1 40.7,43.3 40.2,47.5 40.9,50.7 42.3,59.1 43.4,73.8 43.9,91.2 38.2,91.7 33.1,91.7 27.8,91.1 27.8,83.5 28.9,69.6 29.3,63.3 30,56.9 30.6,52.3"/>
            		   <path class="svg-phone-get-inspired2-stroke" d="M40.4,37.1v-5.7V37.1z"/>
            	   </g>
               </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Get inspired</p>
            <p class="sans-m">by our <a class="inline-link" href="/Content_Curations_weddingparty">real bridesmaid galleries</a> and <a class="inline-link" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">mismatched 'maids guide</a>.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-swatch" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.5 38.6" style="enable-background:new 0 0 38.5 38.6;" xml:space="preserve">
              <path class="svg-pink" d="M35.5,30.7c0.8-1.2,1.6-2.4,2.5-3.5c0.4-0.5,0.4-0.9,0-1.5c-0.8-1-1.6-2-2.4-3c0.8-1.1,1.6-2.2,2.4-3.2
            	c0.5-0.6,0.5-1,0-1.5c-0.9-0.9-1.6-2-2.4-3c0.8-1.2,1.6-2.3,2.4-3.4c0.4-0.6,0.5-1,0-1.6c-0.8-1-1.6-2.1-2.4-3.3
            	c1-1.2,1.9-2.5,2.9-3.7C37.2,2,36,1,34.8,0c-0.2,0-0.5,0-0.7,0c-1.2,0.9-2.3,1.9-3.5,2.8c-0.1,0.1-0.5,0.1-0.6,0
            	c-1-0.9-2.1-1.8-3.1-2.7c-0.2,0-0.3,0-0.5,0c-1.2,1-2.5,2-3.8,3c-1.2-1-2.4-2-3.6-3c-0.2,0-0.3,0-0.5,0c-1.1,0.9-2.1,1.8-3.2,2.6
            	c-0.3,0.2-0.9,0.2-1.1,0C13.1,1.8,12.1,0.9,11,0c-0.2,0-0.3,0-0.5,0C9.5,0.9,8.4,1.8,7.3,2.7c-0.2,0.1-0.6,0.2-0.7,0
            	C5.5,1.8,4.4,0.9,3.4,0C3.2,0,3,0,2.9,0C1.9,1.2,1,2.4,0,3.6c0,0.2,0,0.3,0,0.5c1,1.2,1.9,2.4,3,3.8c-1,1.2-2,2.5-3,3.7
            	c0,0.2,0,0.5,0,0.7c1,1.1,2.1,2.2,3.2,3.5C2.1,17,1.1,18.2,0,19.4c0,0.2,0,0.3,0,0.5c1,1.2,1.9,2.4,3,3.6c-1,1.3-2,2.6-3,3.8
            	c0,0.2,0,0.3,0,0.5c1,1.2,1.9,2.3,2.9,3.5c-1,1.3-2,2.6-2.9,3.9c0,0.2,0,0.3,0,0.5c1.2,1,2.4,1.9,3.6,2.9c0.2,0,0.3,0,0.5,0
            	c1.3-1,2.5-2.1,3.9-3.2c1.3,1.1,2.6,2.1,3.8,3.2c0.1,0,0.2,0,0.2,0c1.2-1.1,2.4-2.1,3.6-3.2c1.4,1,2.7,2,4,3
            	c1.4-0.9,2.7-1.9,4.1-2.9c1.3,1,2.6,1.9,3.9,2.9c1.3-1,2.6-1.9,4-2.9c1.3,0.9,2.6,1.9,3.9,2.9c1-1.3,2-2.6,3-3.9
            	C37.5,33.2,36.6,32,35.5,30.7z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Pick your palette</p>
            <p class="sans-m">from <a href="/Content_StyleandFashionGuide-ColorInspiration_colormain" class="inline-link">50+ colors</a> with the help of our <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="inline-link">wedding color ideas</a>.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-heart" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 67 62" style="enable-background:new 0 0 67 62;" xml:space="preserve">
              <path class="svg-transparent" d="M56.3,2.5l-0.2-0.1C43.4-2.4,36.4,4.6,33.5,8.3c-2.9-3.6-10-10.7-22.9-5.8C3.9,5.7,0,12.8,0.6,20.5 c0.5,6.2,3,11.6,7.6,16c6.6,6.4,22,21.8,23.7,23.8c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.3,1.6-0.7c1.6-2,17-17.4,23.7-23.8
            	c4.6-4.5,7.2-9.9,7.6-16C66.9,12.8,63,5.7,56.3,2.5z"/>
              <path class="svg-pink" d="M56.3,2.5l-0.2-0.1C43.4-2.4,36.4,4.6,33.5,8.3c-2.9-3.6-10-10.7-22.9-5.8C3.9,5.7,0,12.8,0.6,20.5
            	c0.5,6.2,3,11.6,7.6,16c6.6,6.4,22,21.8,23.7,23.8c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.3,1.6-0.7c1.6-2,17-17.4,23.7-23.8
            	c4.6-4.5,7.2-9.9,7.6-16C66.9,12.8,63,5.7,56.3,2.5z M33.5,56.1c-4.5-4.8-17-17.2-22.4-22.5c-3.9-3.8-6-8.3-6.4-13.5
            	c-0.5-6,2.5-11.5,7.6-14c2.4-0.9,4.7-1.4,6.8-1.4c6.8,0,10.4,4.6,12.3,7.1c0.3,0.4,0.5,0.7,0.7,0.9c0.7,0.9,2.3,0.8,3,0
            	c0.2-0.2,0.4-0.5,0.7-0.9c2.5-3.3,7.7-10,18.9-5.8c5.1,2.5,8.2,8.1,7.7,14.1c-0.4,5.2-2.6,9.7-6.4,13.5C50.5,38.9,38,51.3,33.5,56.1
            	z"/>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Save your favorites</p>
            <p class="sans-m">from our bridesmaid collection, then make an <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052" class="inline-link">appointment</a> to try them on!</p>
          </div>
        </div>
      </div>

      <div class="getting-started__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_767_Maids.jpg" alt="Bridesmaids holding bouquets winking and blowing kisses to the camera">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/getting-started/GettingStarted_LP_Maids.jpg" alt="Bridesmaids holding bouquets winking and blowing kisses to the camera">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaids</a>
        </p>
      </div>

    </div>
  </section>




  <!-- Gigya Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
      </ul>
    </div>
  </section>

  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">More about getting started</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_appointmentfaq">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Ask the Expert: Our Head of Stores</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&amp;A&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/wedding-dress-quiz">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Dress Finder</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_Bridal_beyourownbride">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="BeYourOwnBride">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">#BeYourOwnBride</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_Bridal_beyourownbride">Whatever You Do, Be You&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Quality & Craftsmanship at David's Bridal</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
