<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="two-columns container">
    <main class="column" role="main">
      <div class="page-heading">
        <h1 class="serif-xl">Wedding Dress on a Budget</h1>
        <p class="sans-l">These gowns are carefully crafted, on-trend, and, yes, incredibly priced. See how we styled four affordable wedding dresses, staying in budget without sacrificing style.</p>
      </div>

      <!-- Under 450 -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Head-to-Toe Under $450</h2>
          <p class="sans-m">A slim sheath is perfect for a casual, carefree wedding. Pair it with beaded tassel earrings, high-heeled wedding sandals, and a polished clutch.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/wedding-dresses-under-600">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under450_Style.jpg" alt="Bride Wearing Lace Sheath Dress Holding Purse">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/wedding-dresses-under-600">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under450_Accessories1.jpg" alt="Beaded Tassel Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Bracelets%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under450_Accessories2.jpg" alt="Cubic Zirconia Bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Bracelets%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/bridal-wedding-shoes">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under450_Accessories3.jpg" alt="Ankle Strap Shoe with Chystals">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/bridal-wedding-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Under 750 -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Head-to-Toe Under $750</h2>
          <p class="sans-m">Wedding dresses under $500 can really wow: Just check out this structured satin ball gown. Pair it with timeless cubic zirconia bridal jewelry and a simple veil.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/wedding-dresses-under-600">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under750_Style.jpg" alt="Bride in V Neck Ball Gown with Veil and Bouquet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/wedding-dresses-under-600">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under750_Accessories1.jpg" alt="Cubic Zirconia Drop Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Necklaces%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under750_Accessories2.jpg" alt="Cubic Zirconia Necklace with Tear Drop Jewel">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Necklaces%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/bridal-wedding-shoes">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under750_Accessories3.jpg" alt="White Strapy Bridal Shoe">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/bridal-wedding-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Under 1050 -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Head-to-Toe Under $1,050</h2>
          <p class="sans-m">This statement-making trumpet gown costs less than $800, leaving plenty left for equally glam accents. Pair it with a jeweled necklace and sparkly sash.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/wedding-dresses-under-1000">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1050_Style.jpg" alt="Bride in Trumpet Wedding Dress with Beaded Sash and Bouquet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/wedding-dresses-under-1000">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1050_Accessories1.jpg" alt="Cubic Zirconia Necklace and Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/accessories/sashes-and-belts">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1050_Accessories2.jpg" alt="White Sash with Chrystals">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/sashes-and-belts">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/bridal-wedding-shoes">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1050_Accessories3.jpg" alt="Wedge Heal with Chrystal Strap">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/bridal-wedding-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Under 1350 -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Head-to-Toe Under $1,350</h2>
          <p class="sans-m">Go for all-out opulence in an organza ball gown with three-quarter lace sleeves. Pair it with an elegant cathedral veil and pearl and cubic zirconia drop earrings.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/wedding-dresses-over-1000">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1350_Style.jpg" alt="Bride in Tulle Ball Gown with Long Sleeves and Veil with Bouquet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/wedding-dresses-over-1000">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1350_Accessories1.jpg" alt="Pearl and Cubic Zirconia Stud Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/accessories/sashes-and-belts">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1350_Accessories2.jpg" alt="White Sash with Chrystals and Pearls">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/sashes-and-belts">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/bridal-wedding-shoes">
                <img src="/wcsstore/images/wwcm/sfg/headtotoelooksforless/Under1350_Accessories3.jpg" alt="White High Heal Shoe with Open Toe">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/bridal-wedding-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </main>


    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Bridal_beyourownbride">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="BeYourOwnBride">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Bridal_beyourownbride">#BeYourOwnBride</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Bridal_beyourownbride">Whatever You Do, Be You&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_WeddingPlanning_budgetplanner">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingBudget.jpg" alt="How to Plan Your Wedding Budget">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_WeddingPlanning_budgetplanner">How to Plan Your Wedding Budget</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_WeddingPlanning_budgetplanner">And Stick To It&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear: Every Wedding Event">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear: Every Wedding Event</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dresses &amp; More&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_realbridesweddingbudget">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealBridesBudget.jpg" alt="Best Budget Tips from Real Brides">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_realbridesweddingbudget">Best Budget Tips from Real Brides</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_realbridesweddingbudget">See How They Saved&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_uniqueweddingshoes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_UniqueBridalShoes_414x284.jpg" alt="Unconventional Bridal Shoes">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_uniqueweddingshoes">Unconventional Bridal Shoes</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_uniqueweddingshoes">Get Your Kicks&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

</article>
