<main class="content-page">

  <!-- hero -->
  <section class="hero">
    <div class="breadcrumbs">
      <div class="breadcrumbs__inner">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_Prom">Inspiration &amp; Guidance / Prom&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <div class="social-share">
      <div class="social-share__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/1_full_span_hero.jpg" alt="Girls having fun at their homecoming dance.">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/Homecoming_TrendsLP_2018_Hero_Desktop_1600x615.jpg" alt="Girls having fun at their homecoming dance.">
      </div>
      <div class="social-share__overlay">
        <ul class="social-share__overlay--icons">
          <div id="hero">
            <!-- Gigya Social Share loaded here -->
          </div>
        </ul>
      </div>

      <div class="hero__text">
        <h3 class="hero__text-headline serif-l gigya-title">What to Wear <br class="sm-hidden md-hidden">to Homecoming</h3>
        <p class="sans-l gigya-description">Need hoco ideas? This year, we're loving fun floral prints and dazzling fabrics like sequins and satin. Long sleeves, OTS necklines, and two-piece looks are having a moment too. As for homecoming colors, try sophisticated wine, black or navy, or a lively palette of bright reds and pinks.</p>
      </div>
    </div>


  </section>


  <!-- two-column -->
  <section class="container">
    <div class="two-column-vert-offset">

      <!-- Prints -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/printed-dresses">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/1_Prints.jpg" alt="Girl wearing two-piece, off-the-shoulder printed homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Prints:</span> Funky new florals take over.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/printed-dresses">Shop Prints&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <!-- Long Sleeves -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:10169761111101033283108101101118101115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Long%20Sleeves&">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/2_Sleeves.jpg" alt="Girl wearing two piece, lace and flora homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Long Sleeves:</span> Solid or sheer, always stunning.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:10169761111101033283108101101118101115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Long%20Sleeves&">Shop Statement Sleeves&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- hero 1 -->
  <section class="hero">
    <div class="social-share">
      <div class="social-share__img">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/Hero_1_Desktop.jpg" alt="Girls at their homecoming dance laughing and having fun.">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/2_full_span.jpg" alt="Girls at their homecoming dance laughing and having fun.">
      </div>
      <div class="social-share__overlay">
        <ul class="social-share__overlay--icons">
          <div id="hero1">
            <!-- Gigya Social Share loaded here -->
          </div>
        </ul>
      </div>
    </div>
  </section>


  <!-- section heading -->
  <section class="container">
    <div class="section-heading">
      <p class="serif-xl">100+ styles to choose from, because more options = more awesome</p>
    </div>
  </section>


  <!-- two-column -->
  <section class="container">
    <div class="two-column-vert-offset">

      <!-- Wine Shades -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wine-prom-dresses">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/3_Wine.jpg" alt="Girl wearing wine colored homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Wine Shades:</span> Maroon and burgundy makes every skin tone glow.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/wine-prom-dresses">Shop Now&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <!-- Two Pieces -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/prom-dresses/two-piece-prom-dresses">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/4_TwoPieces.jpg" alt="Girl wearing two piece homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Two Pieces:</span> Cute top, flared skirt, done!
          </p>
          <p class="sans-bold-uppercase">
            <a href="/prom-dresses/two-piece-prom-dresses">Shop Two-Pieces&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </section>




  <!-- hero 2 -->
  <section class="hero">
    <div class="social-share">
      <div class="social-share__img">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/Hero_2_Desktop.jpg" alt="Girls taking pictures at their homecoming dance.">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/3_full_span.jpg" alt="Girls taking pictures at their homecoming dance.">
      </div>
      <div class="social-share__overlay">
        <ul class="social-share__overlay--icons">
          <div id="hero2">
            <!-- Gigya Social Share loaded here -->
          </div>
        </ul>
      </div>
    </div>
  </section>


  <!-- section heading -->
  <section class="container">
    <div class="section-heading">
      <p class="serif-xl">Homecoming looks from just $89.95 in sizes 0-22</p>
    </div>
  </section>


  <!-- two-column -->
  <section class="container">
    <div class="two-column-vert-offset">

      <!-- Off the Shoulder -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:1016979102102321161041013283104111117108100101114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Off">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/6_OTS.jpg" alt="Girl wearing off-the-shoulder dress at her homecoming dance." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Off the Shoulder:</span> The happy medium between sleeves and strapless.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:1016979102102321161041013283104111117108100101114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Off">Shop Now&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <!-- Velvet -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:307445734561666669986101108118101116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Velvet&">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/5_Velvet.jpg" alt="Girl in velvet, two-piece homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Velvet:</span> Wear it all over, or go halfsies like this.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/SearchDisplay?categoryId=3002669&storeId=10052&langId=-1#!&facet:307445734561666669986101108118101116&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Velvet&">Shop Velvet Prom Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </section>




  <!-- hero 3 -->
  <section class="hero">
    <div class="social-share">
      <div class="social-share__img">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/Hero_3_Desktop.jpg" alt="Girl wearing metallic heel at her homecoming dance.">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/homecoming/2018/4_full_span.jpg" alt="Girl wearing metallic heel at her homecoming dance.">
      </div>
      <div class="social-share__overlay">
        <ul class="social-share__overlay--icons">
          <div id="hero3">
            <!-- Gigya Social Share loaded here -->
          </div>
        </ul>
      </div>
    </div>
  </section>


  <!-- section heading -->
  <section class="container">
    <div class="section-heading">
      <p class="serif-xl" style="max-width:720px;">A dress this good deserves <a href="/prom-shoes-and-heels">amazing shoes</a></p>
    </div>
  </section>


  <!-- two-column -->
  <section class="container">
    <div class="two-column-vert-offset">

      <!-- Sequins & Glitter -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/sequin-prom-dresses--1">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/7_Sequins&Glitter.jpg" alt="Girl wearing short sequined dress to her homecoming dance." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Sequins &amp; Glitter:</span> We're all for shine, all the time.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/sequin-prom-dresses--1">Shop Sequin Prom Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <!-- Satin -->
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/satin-prom-dresses">
              <img src="/wcsstore/images/wwcm/sfg/homecoming/2018/8_Satin.jpg" alt="Girl wearing red satin homecoming dress." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <div class="column__text">
          <p class="sans-m gigya-title">
            <span class="serif-m">Satin:</span> This glossy fabric makes color pop.
          </p>
          <p class="sans-bold-uppercase">
            <a href="/satin-prom-dresses">Shop Satin Prom Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- article share bar -->
  <section class="container">
    <hr class="sm-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>

</main>
