<main role="main" class="content-page">

  <header class="container page-heading">
    <h1 class="serif-xl">
      <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance</a>
    </h1>
  </header>
  
  
  <!-- WEDDING DRESSES 101 -->
  <section class="container">
    <ul class="level-1__list">
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Wedding Dresses 101</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressesGuide">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-2__list">
          <!-- Dress Guides -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Dress Guides</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide-styleguidedressguide_index">Silhouette Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Bridal_dbpetiteabout">About Our Petite Sizes</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Bridal_dbwomanabout">About Our Plus Sizes</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/wedding-dress-quiz">Wedding Dress Finder Quiz</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressDesigners">Our Brands</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingdresstrainsguide">Wedding Dress Trains</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingDressFabricsGuide">Wedding Dress Fabrics</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingdressonabudget">Wedding Dress on a Budget</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_qualityandcraftsmanship">Quality & Craftsmanship</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingdressshopping">Wedding Gown Facts & Sizing</a>
              </li>
            </ul>
          </li>
          
          
          <li class="level-2__list-item">
            <!-- Getting Ready -->
            <h3 class="serif-xs-italic">Getting Ready</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_BridalGuide">Bride Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Appointment_planning">Planning Your Appointment</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_appointmentfaq">Appointments FAQ</a>
              </li>
            </ul>
            
            <!-- Seasonal Trends -->
            <h3 class="serif-xs-italic">Seasonal Trends</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_fallweddingdressideas">Fall 2018 Collection</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_springweddingdressideas">Spring 2018 Collection</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_winterweddingdressideas">Winter Wedding Dresses</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_summerweddingdresses">Summer Wedding Dress Trends</a>
              </li>
            </ul>
          </li>
          
          <!-- Inspiration -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Inspiration</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Curations_bridal">Real Brides #DavidsBridal</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_RealWeddings_realweddings">Real Weddings</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingvideos">Real Wedding Videos</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MostLovedGowns">Our Most Loved Gowns: Customer Favorites</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingdressonabudget">Wedding Dress on a Budget</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Bridal_beyourownbride">Be Your Own Bride</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/dresses-and-gowns/princess-wedding-dress-inspiration/">Princess Wedding Dress Inspiration | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/dresses-and-gowns/guide-to-colored-wedding-dresses/">Colorful Wedding Dress Guide | Blog Post</a>
              </li>
            </ul>
          </li>
          
          <!-- All in the Details -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">All in the Details</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_alterations">Alterations 101</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_headpiecestyleguide">Headpiece Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_veilstyleguide">Veil Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_BustlesGuide">Wedding Dress Bustles</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_gownpreservation">Preserve Your Dress</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      
      
      
      
      <!-- WEDDING PLANNING -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Wedding Planning</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingPlanningGuide">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-2__list clearfix">
          <!-- Getting Started -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Getting Started</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingchecklist">Wedding Checklist</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Catalog_onlinecatalog">Look Books & Bride Guides</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Appointment_planning">Planning Your Appointment</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_appointmentfaq">Appointments FAQ</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_WeddingPlanning_budgetplanner">How to Set a Wedding Budget</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingvenuesquiz">What Wedding Venue is Right for You?</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_BridalGuide">Bride Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/wedding-planning/quiz-are-you-ready-for-the-ring/">Are you Ready for the Ring Quiz | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/wedding-planning/a-typical-wedding-day-timeline/">A Typical Wedding Day Timeline | Blog Post</a>
              </li>
            </ul>
          </li>
          
          <!-- Plan. Save. Wed. -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Plan. Save. Wed.</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_WeddingVendors_main">Wedding Savings & Vendors</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_SpecialOffers_rewards">DB Rewards</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingadviceandtipsfromtheexperts">Ask the Experts</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_videos">Videos</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingideasonabudget">How Not to Blow Your Budget</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_questionstoaskweddingvendors">What to Ask Your Vendors</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_honeymoontipsforbride">Honeymoon Tips</a>
              </li>
            </ul>
          </li>
          
          <!-- Get Inspired -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Get Inspired</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_videos">Videos</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_findyourweddingstylewithmelissasweet">Melissa Sweet Wedding Advice</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_verawangweddingadvice">Vera Wang Wedding Advice</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_honeymoontipsforbride">Honeymoon Tips</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingphototips">Look Amazing in Every Photo</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_RealWeddings_realweddings">Real Wedding Stories</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddinghashtagideas">Creating a Wedding Hashtag</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddinghairstyleideas">Wedding Hairstyle Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/wedding-planning/special-ways-to-incorporate-your-grandparents/">Special Ways to Incorporate Your Grandparents | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_events">Events</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_dbcommunity">DB Community</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/wedding-planning/wedding-traditions-its-ok-to-break/">Wedding Traditions It's OK to Break | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/category/wedding-planning/">Blog | Wedding Planning</a>
              </li>
            </ul>
          </li>
          
          <!-- Wedding Themes & Ideas -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Wedding Themes & Ideas</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingthemes">Wedding Themes - All</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_casualweddingideas">Casual Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_traditionalweddings">Formal Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_rusticcountryweddingideas">Rustic Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_beachdestinationweddingideas">Beach Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_vintageweddingideas">Vintage Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_modernweddingideas">Modern Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_romanticgardenweddingideas">Romantic Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_smallweddingideas">How to Plan a Small Wedding</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_outdoorweddingideas">Outdoor Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_GlamorousWeddingIdeas">Glamorous Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_festivalwedding">Festival Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MinimalistWeddingIdeas">Minimalist Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_GardenWeddingIdeas">Garden Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_cityhallwedding">City Hall and Courthouse Wedding Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingguestattire">Wedding Inspiration by Season</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>




      <!-- WEDDING COLORS & BRIDAL PARTY IDEAS -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Wedding Colors & Bridal Party Ideas</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <!-- Getting Started -->
        <ul class="level-2__list">
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">All Things Color</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorideas">Wedding Color Inspiration</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide-ColorInspiration_colormain">Color Palette</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Mismatch Bridesmaids</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/bridesmaid-dresses/color-swatches">Color Swatches</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/dresses-and-gowns/bridesmaid-dress-color-palettes-that-wow/">Color Palettes That Wow | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_RealBridesmaidsDresses">Real Bridesmaids by Color</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingguestattire">Wedding Inspiration by Season</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_springweddingcolorideas">Spring Wedding Color Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_summerweddingcolorideas">Summer Wedding Color Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_winterweddingcolorideas">Winter Wedding Color Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_fallweddingcolorideas">Fall Wedding Color Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorcoral">Color Theory - Corals</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorblue">Color Theory - Blues</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorpurple">Color Theory - Purples</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolormetallic">Color Theory - Metallic</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorpastels">Color theory - Pastel</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingcolorshoes">Color Theory - Shoes</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_somethingblueideas">Something Blue Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_rosegoldwedding">Made You Blush</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/dresses-and-gowns/the-all-white-bridal-party/">The All White Bridal Party | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_dyeableshoesguide">All About Dyeable Shoes</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_menswearhousecolorcoordination">Men's Wearhouse Color Me Happy</a>
              </li>
            </ul>
          </li>
  
        
          <!-- Bridesmaids 101 -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Bridesmaids 101</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_BridesmaidDress_Quiz">Bridesmaid Style Finder</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridesmaiddresstrends">Bridesmaid Dress Trends</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MostLovedBridesmaidDresses">Our Most Loved Bridesmaids: Customer Favorites</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MaidOfHonorGuide">Maid Of Honor Guide </a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Curations_weddingparty">#DBMaids</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_BridalParty_convertibledressstyles">Convertible Dresses</a>
              </li>
            </ul>
          </li>
        
          <!-- All About Moms -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">All About Moms</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MotheroftheBrideGuide">Mother of the Bride and Groom Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_styleguidemobcoordinator">Color Ideas for Mom</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MotheroftheBrideLooksforLess">MOB Get the Look For Less</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_motherofbridedresses">3 Tips for choosing a MOB Dress</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Mother_weddingadvice">Wedding Advice from Moms</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_Curations_motherofthebride">#dbmom</a>
              </li>
            </ul>
          </li>
        
          
          <li class="level-2__list-item">
            <!-- For Your Party -->
            <h3 class="serif-xs-italic">For Your Party</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/wedding-planning/all-about-flower-girls/">All About Flower Girls | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridesmaidgiftideas">Bridesmaid Gift Guide</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a>
              </li>
            </ul>
            
            <!-- All in the Details -->
            <h3 class="serif-xs-italic">All in the Details</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">Wedding invitations</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="http://www.davidsbridal.com/blog/style-council/tips-trends/the-cutest-wedding-pet-accessories/">Pet Accessories | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingchecklist">Wedding Checklist</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>


      
      
      <!-- MOTHER OF THE BRIDE & GROOM -->
      <li class="level-1__list-item">
        <h2 class="serif-m">
          <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MotheroftheBrideGuide">Mother of the Bride & Groom</a>
        </h2>
        
        <ul class="level-3__list">
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_styleguidemobcoordinator">Color Ideas for Mom</a>
          </li>
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/Content_Mother_weddingadvice">#dbmom</a>
          </li>
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_motherofbridedresses">3 Tips for choosing a MOB Dress</a>
          </li>
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/Content_StyleandFashionGuide_MotheroftheBrideLooksforLess">MOB Get the Look For Less</a>
          </li>
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/Content_Mother_weddingadvice">Wedding Advice from Moms</a>
          </li>
          <li class="level-3__list-item">
            <a class="sans-m" href="https://www.davidsbridal.com/wedding-gifts/wedding-gifts-for-parents">Gifts for Parents</a>
          </li>
        </ul>
      </li>
      
      
      
      
      <!-- COMPLETING YOUR LOOK -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Completing Your Look</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingAccessories">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <!-- Top It Off -->
        <ul class="level-2__list">
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Top It Off</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_veilstyleguide">Veil Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_headpiecestyleguide">Headpiece Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/all-about-wedding-tiara/">All About Wedding Tiaras | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddinghairstyleideas">Wedding Hairstyles</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingOuterwearGuide">Outerwear Guide</a>
              </li>
            </ul>
          </li>
        
          <!-- Under the Dress & All in the Details -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Under the Dress & All in the Details</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_styleguideenhanceyourshape">Shapewear Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_spanxbridalshapewearguide">Spanx Shapewear</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_BustlesGuide">Wedding Dress Bustles</a>
              </li>
            </ul>
          </li>
        
          <!-- Jewelry & Accessories -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Jewelry & Accessories</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_jewelrynecklines">Neckline & Jewelry Guides</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_jewelrytrends">New Jewelry Trends for Every Occasion</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridalpartyaccessorizing">Accessorizing Your Bridal party</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_Curations_accessories">#DBAccessories</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingdressonabudget">Total Look for Less: Weddings a Budget</a>
              </li>
              <li class="level-3__list-item">
                <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/a-guide-to-wedding-rings/">A Guide to Wedding Rings | Blog Post</a>
              </li>
            </ul>
          </li>
        
          <!-- Shoes -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Shoes</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingshoeideas">5 Shoes Every Bride Needs</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_uniqueweddingshoes">Unconventional Bridal Shoes</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_dyeableshoesguide">All About Dyeable Shoes</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>




      <!-- COMPLETING YOUR DAY -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Completing Your Day</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingPreparation">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        
        <ul class="level-2__list">
          <!-- Gift Guides -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Gift Guides</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_engagementgiftideas">Engagement Party Gift Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridesmaidgiftideas">Bridesmaid Gift Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingGiftIdeas">Wedding Gift Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_WeddingVendors_giftregistry">Gift Registry</a>
              </li>
            </ul>
          </li>
        
          <!-- Party Planning -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Party Planning</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_engagementpartyideas">Engagement Party Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bachelorettepartyideas">Bachelorette Party Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_bridalshowerideas">Planning a Bridal Shower</a>
              </li>
            </ul>
          </li>
        
          <!-- Invitations -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Invitations</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingInvitations">The Wedding Shop by Shutterfly</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddinginvitationsandstationery">Wedding Invitations & Stationery</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddinginvitationswording">How to Word Your Wedding Invitations</a>
              </li>
            </ul>
          </li>
        
          <!-- Reception & Decorating Ideas -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Reception & Decorating Ideas</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingDecorationIdeas">Wedding Decorations Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeddingDecorChecklist">Wedding Decorations Checklist</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_rusticweddingideas">Rustic Decorations</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingseatingarrangements">Wedding Reception Seating Solutions</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingsouvenirideas">Wedding Favor Ideas</a>
              </li>
              <li class="level-3__list-item">
                <a href="http://www.davidsbridal.com/blog/wedding-planning/dog-wedding-moments">Adorable Dog Wedding Moments | Blog Post</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      
      
      
      <!-- REAL WEDDINGS & COMMUNITY -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Real Weddings & Community</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_RealWeddings">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-3__list">
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_RealWeddings_realweddings">Real Wedding Stories</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_bridal">#Davidsbridal Real Brides</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_weddingparty">#DBMaids</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_accessories">#DBAccessories</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_motherofthebride">#DBMom</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_giftsanddecorations">#DBGifts</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_RealBridesmaidsDresses">Real Bridesmaids by Color</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_realbridesweddingbudget">Real Brides Budget Tips</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Mother_weddingadvice">Mother of the Bride Advice</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingvideos">Real Wedding Videos</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_dbcommunity">DB Community</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/">Blog</a>
          </li>
        </ul>
      </li>
      
      
      
      
      <!-- SPECIAL OCCASIONS -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Special Occassions</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_SpecialOccasions">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-2__list">
          <!-- What to Wear to Weddings -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">What to Wear to Weddings</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear: Every Wedding Event</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_whattoweartoawedding">What to Wear: Wedding Guest</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_springweddingguestdresses">What to Wear: Spring Weddings</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_whattowearsummerweddings">What to Wear: Summer Weddings</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_whattowearfallwedding">What to Wear: Fall Wedding Guest</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_WeartoWinterWedding">What to Wear: Winter Weddings</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_holidayoutfits">What to Wear: Holiday Event</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_weddingguestattire">Wedding Inspiration by Season</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_tuxedostyles">Modern Guide to Tuxes</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_motherofbridedresses">3 Tips for choosing a MOB Dress</a>
              </li>
            </ul>
          </li>
        
          <!-- Special Celebrations -->
          <li class="level-2__list-item">
            <h3 class="serif-xs-italic">Special Celebrations</h3>
            <ul class="level-3__list">
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_Prom">Prom</a>
              </li>
              <li class="level-3__list-item">
                <a href="http://www.davidsbridal.com/blog/dresses-and-gowns/top-looks-for-communion/">Top Looks for Communion | Blog Post</a>
              </li>
              <li class="level-3__list-item">
                <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_dbcommunity">DB Community Hub</a>
              </li>
              <li class="level-3__list-item">
                <a href="http://www.davidsbridal.com/blog/category/dresses-and-gowns/">Blog | Dresses & Gowns</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      
      
      
      
      <!-- PROM -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Prom</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_Prom">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-3__list">
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Prom_promfashionshows">Host a Prom Fashion Show</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Curations_prom">#DavidsProm</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Prom_lp">Prom Trends</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Prom_homecomingideas">Homecoming Ideas</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Prom_jordynwoods">Jordyn Woods Talks Prom</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/prom/prom-checklist/">Prom Checklist | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/prom-beauty-diy-glitter-lips">DIY Glitter Lips | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/prom-accessories-you-need">Prom Accessories You Need | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/prom-2k18-playlist">Prom 2K18 Playlist | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_Prom_mostcomfortablepromshoes">Prom Shoes</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/dresses-and-gowns/homecoming-2018-lookbook/">Homecoming 2018 Lookbook | Blog Post</a>
          </li>
        </ul>
      </li>
      
      
      
      
      <!-- ROYAL WEDDING -->
      <li class="level-1__list-item">
        <div class="level-1__list-heading">
          <h2 class="serif-m">Royal Wedding</h2>
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_royalweddingideas">See More&nbsp;&gt;</a>
          </p>
        </div>
        
        <ul class="level-3__list">
          <li class="level-3__list-item">
            <a href="https://www.davidsbridal.com/Content_StyleandFashionGuide_royalweddingideas">Royal Wedding Inspiration</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/dresses-and-gowns/meghan-markles-wedding-dress/">Meghan Markle's Wedding Dress | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/how-to-host-a-royal-wedding-viewing-party/">How to Host a Royal Wedding Viewing Party |Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/bridal-hair-inspired-by-meghan-markle/">Meghan Markle Hair Inspiration | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/dresses-and-gowns/the-all-white-bridal-party/">The All White Bridal Party | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/wedding-planning/5-wedding-traditions-from-across-the-pond/">Wedding Traditions Across the Pond | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/wedding-planning/all-about-flower-girls/">All About Flower Girls | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/all-about-wedding-tiara/">All About Wedding Tiaras | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/wedding-planning/wedding-traditions-its-ok-to-break/">Wedding Traditions It's OK to Break | Blog Post</a>
          </li>
          <li class="level-3__list-item">
            <a href="http://www.davidsbridal.com/blog/dresses-and-gowns/princess-wedding-dress-inspiration/">Princess Wedding Dress Inspiration | Blog Post</a>
          </li>
        </ul>
      </li>
      
      
    </ul>
  </section>

</main>
