<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="container page-heading">
    <div class="column">
      <h1 class="serif-xl">Real Wedding Videos</h1>
      <p class="sans-l">Watch our brides' highlight reels for real #DavidsBridal wedding inspiration. You'll see beautiful dresses made for every style, shape, and size.</p>
    </div>
    <div class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>
    </div>
  </section><!-- /.page-heading -->


  <section class="container logo-banner">
    <p class="serif-s-italic">brought to you by</p>
    <p>
      <a href="http://lovestoriestv.us/" target="_blank">
        <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/LoveStoriesTV-logo.png" alt="LoveStoriesTV Logo">
      </a>
    </p>
  </section>


  <main role="main">

    <!-- Row 1 -->
    <section class="container flex-container">

      <!-- Trenton & Michele -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/226337918" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/trenton-michele.jpg" alt="Trenton & Michele Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Trenton &amp; Michele</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Birmingham, Alabama | Shades Valley Community Church</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/genesis-media-solutions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Genesis Media Solutions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Sarah & Josh -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543392789014859%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/sarah-josh.jpg" alt="Sarah & Josh Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Sarah &amp; Josh</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/ball-gown-wedding-dresses">Ball Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Knoxville, Tennessee | Club LeConte</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/sweet-tea-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Sweet Tea Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Andrea & Timothy -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543381112349360%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/andrea-timothy.jpg" alt="Andrea & Timothy Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Andrea &amp; Timothy</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/sheath-wedding-dresses">Sheath Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Wetmore, Kansas | Reyner's Coach House</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/david-vincent/?utm_source=davidsbridal&utm_medium=site" target="_blank">David Vincent</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 1 -->



    <!-- Share Your Wedding Video Banner -->
    <section class="share-wedding-banner">
      <p class="serif-m-italic">Did you wear David's Bridal at your wedding?</p>
      <p class="btn btn-secondary">
        <a href="http://lovestoriestv.us/add-your-wedding-video/" class="sans-bold-uppercase" target="_blank">Share Your Wedding Video</a>
      </p>
    </section>



    <!-- Row 2 -->
    <section class="container flex-container">

      <!-- Kelly & Scott -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1544336768920461%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/kelly-scott.jpg" alt="Kelly & Scott Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Kelly &amp; Scott</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a> &amp; <a href="/bridesmaid-dresses/short-bridesmaid-dresses">Short Bridesmaid Dresses</a></p>
          <p class="sans-m">Tampa, Florida | Ybor City Museum Garden</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/brandon-paul-photography-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Brandon Paul Photography & Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Tabitha & Scott -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543377305683074%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/tabitha-scott.jpg" alt="Tabitha & Scott Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Tabitha &amp; Scott</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a></p>
          <p class="sans-m">Chattanooga, Tennessee | Fillauer Lake House and Barn</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/axel-marshall-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Axel Marshall Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Chandler & Gillis -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543347039019434%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/chandler-gillis.jpg" alt="Chandler & Gillis Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Chandler &amp; Gillis</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a></p>
          <p class="sans-m">Auburn, Alabama | Lazenby Farms</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/lex-and-lee-photography/?utm_source=davidsbridal&utm_medium=site" target="_blank">Lex and Lee Photography</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 2 -->



    <!-- Row 3 -->
    <section class="container flex-container">

      <!-- Emily & Patrick -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543353182352153%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/emily-patrick.jpg" alt="Emily & Patrick Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Emily &amp; Patrick</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/ball-gown-wedding-dresses">Ball Gowns</a></p>
          <p class="sans-m">Ocho Rios, Jamaica | Sandals Ochi Beach Resort</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/josh-nagel-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Josh Nagel Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Rachel & Thomas -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543355819018556%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/rachel-thomas.jpg" alt="Rachel & Thomas Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Rachel &amp; Thomas</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a></p>
          <p class="sans-m">Wyandotte, Michigan | Silver Shores Waterfront</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/heart-soul/?utm_source=davidsbridal&utm_medium=site" target="_blank">Heart + Soul</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Carla & Stephen -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543422899011848%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/carla-stephen.jpg" alt="Carla & Stephen Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Carla &amp; Stephen</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/ball-gown-wedding-dresses">Ball Gowns</a></p>
          <p class="sans-m">MetroWest, Florida | Crystal Ballroom at Veranda</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/unashamed-imaging/?utm_source=davidsbridal&utm_medium=site" target="_blank">Unashamed Imaging</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 3 -->



    <!-- Row 4 -->
    <section class="container flex-container">

      <!-- Wanessa & Giovanni -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/226358556" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/vanessa-giovanni.jpg" alt="Wanessa & Giovanni Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Wanessa &amp; Giovanni</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a></p>
          <p class="sans-m">Brasilia, Brazil | Private Residence</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/folk-filmes/?utm_source=davidsbridal&utm_medium=site" target="_blank">Folk Filmes</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Lucia & Gary -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1544305988923539%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/lucia-gary.jpg" alt="Lucia & Gary Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Lucia &amp; Gary</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/sheath-wedding-dresses">Sheath Gowns</a></p>
          <p class="sans-m">Nashville, Tennessee | Vine Street Christian Church</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/little-josh-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Little Josh Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Elesia & Brian -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543470999007038%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/elesia-brian.jpg" alt="Elesia & Brian Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Elesia &amp; Brian</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">Elkridge, Maryland | Belmont Manor</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/this-day-fwd/?utm_source=davidsbridal&utm_medium=site" target="_blank">ThisDayFWD</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 4 -->



    <!-- Row 5 -->
    <section class="container flex-container">

      <!-- Charette & Gabriel -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543452565675548%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/charette-gabriel.jpg" alt="Charette & Gabriel Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Charette &amp; Gabriel</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">West Point, New York | West Point Club</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/railroad-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Railroad Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Keri & Brandon -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1544349722252499%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/keri-brandon.jpg" alt="Keri & Brandon Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Keri &amp; Brandon</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">McKinney, Texas | The Cotton Mill</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/splendor-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Splendor Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Ashley & Jeff -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/226452815" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/ashley-jeff.jpg" alt="Ashley & Jeff Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Ashley &amp; Jeff</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a></p>
          <p class="sans-m">Denver, Colorado | The Chateaux at Fox Meadows</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/all-digital-photo-and-video/?utm_source=davidsbridal&utm_medium=site" target="_blank">All Digital Photo and Video</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 5 -->


    <!-- Row 6 -->
    <section class="container flex-container">

      <!-- Kasey & Matthew -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1503367163017422%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Kasey-Matthew.jpg" alt="Kasey & Matthew Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Kasey &amp; Matthew</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/melissa-sweet">Melissa Sweet Gowns</a> &amp; <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">Nashville, Tennessee | Graystone Quarry</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/dallas-wilson-wedding-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Dallas Wilson Wedding Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Katie & Ben -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499164950104310%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/p640x640/19057508_1499169230103882_3562633663604588544_n.jpg?oh=9a21b9be909c86002821402bd4b2828c&oe=59E570B3" alt="Katie & Ben Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Katie &amp; Ben</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/ball-gown-wedding-dresses">Ball Gowns</a> &amp; <a href="/bridesmaid-dresses/short-bridesmaid-dresses">Short Bridesmaid Dresses</a></p>
          <p class="sans-m">Irvington, Alabama</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/for-him-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">For Him Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Tessa & Jason -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499062470114558%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/p640x640/19058712_1499066546780817_8631681837325877248_n.jpg?oh=912e7cfabc4b8c513c688a40075333a8&oe=59DCF20F" alt="Tessa & Jason Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Tessa &amp; Jason</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a> &amp; <a href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Mismatched Bridesmaid Dresses</a></p>
          <p class="sans-m">Ogdensburg, New York | Stone Fence Inn and Suites</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/railroad-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Railroad Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 6 -->



    <!-- Find Your Style Banner -->
    <section class="find-style-banner">
      <p class="serif-m-italic">Find your style!</p>
      <p class="btn btn-secondary">
        <a href="/wedding-dresses/all-wedding-dresses" class="sans-bold-uppercase">Shop Wedding Dresses</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaid Dresses&nbsp;&gt;</a>
      </p>
    </section>



    <!-- Row 7 -->
    <section class="container flex-container">
      <!-- Melissa & Tinus -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499157620105043%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/p640x640/19084108_1499163706771101_6810262855078641664_n.jpg?oh=5d0225499e76d261543b4c237be0d876&oe=59E9B572" alt="Melissa & Tinus Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Melissa &amp; Tinus</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a> &amp; <a href="/bridesmaid-dresses/convertible-bridesmaid-dresses">Convertible Bridesmaid Dresses</a></p>
          <p class="sans-m">Temecula, California | Lake Oak Meadows</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/sj-videography/?utm_source=davidsbridal&utm_medium=site" target="_blank">SJ Videography</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Cassie & Rick -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/220983777" data-lity>
            <img src="https://i.vimeocdn.com/video/639137893.jpg" alt="Cassie & Rick Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Cassie &amp; Rick</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/mermaid-wedding-dresses">Mermaid Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Cincinnati, Ohio | St. Martin of Tours Church</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/true-artists-studio/?utm_source=davidsbridal&utm_medium=site" target="_blank">True Artists Studio</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Anne & Ari -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221027168" data-lity>
            <img src="https://i.vimeocdn.com/video/639193804.jpg" alt="Anne & Ari Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Anne &amp; Ari</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Vancouver, Canada | Eagle Quest Coyote Creek</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/hundredfold-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">HundredFold Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 7 -->


    <!-- Row 8 -->
    <section class="container flex-container">
      <!-- Hannah & Adam -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1512694362084702%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Hannah-Adam.jpg" alt="Hannah & Adam Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Hannah &amp; Adam</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Chattanooga, Tennessee | The Chattanoogan</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/bill-cox-chelsea-cox/?utm_source=davidsbridal&utm_medium=site" target="_blank">BC Weddings</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Lauren & Jared -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221464128" data-lity>
            <img src="https://i.vimeocdn.com/video/639737759.jpg" alt="Lauren & Jared Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Lauren &amp; Jared</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a> &amp; <a href="/bridesmaid-dresses/short-bridesmaid-dresses">Short Bridesmaid Dresses</a></p>
          <p class="sans-m">Mifflinburg, Pennsylvania | Camp Mount Luther</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/dp-weddings/?utm_source=davidsbridal&utm_medium=site" target="_blank">DP Weddings</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Nikki & Kevin -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1455121334508672%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Nikki-Kevin_1000x562.jpg" alt="Nikki & Kevin Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Nikki &amp; Kevin</p>
          <p class="sans-m">Shop <a href="/lace-wedding-dresses">Lace Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Slidell, Louisiana</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/harmonic-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Harmonic Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 8 -->


    <!-- Row 9 -->
    <section class="container flex-container">
      <!-- Shaunese & Joshua -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/194853835" data-lity>
            <img src="https://i.vimeocdn.com/video/606922469.jpg" alt="Shaunese & Joshua Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Shaunese &amp; Joshua</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/galina-signature">Galina Signature Gowns</a></p>
          <p class="sans-m">Colorado Springs, Colorado | The Pinery at the Hill</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/canvas-light/?utm_source=davidsbridal&utm_medium=site" target="_blank">Canvas and Light</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Annie & Drew -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/220983421" data-lity>
            <img src="https://i.vimeocdn.com/video/639138539.jpg" alt="Annie & Drew Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Annie &amp; Drew</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a> &amp; <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">Pittsburgh, Pennsylvania | DoubleTree by Hilton Hotel Pittsburgh &ndash; Cranberry</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/dorosh-documentaries/?utm_source=davidsbridal&utm_medium=site" target="_blank">Dorosh Documentaries</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Jai & Bernard -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499178480102957%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Jai-Bernard.jpg" alt="Jai & Bernard Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Jai &amp; Bernard</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/sheath-wedding-dresses">Sheath Gowns</a> &amp; <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Nashville, Tennessee | BB Kings Blues Club</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/big-hill-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Big Hill Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 9 -->


    <!-- Row 10 -->
    <section class="container flex-container">
      <!-- Courtney & Justin -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221008690" data-lity>
            <img src="https://i.vimeocdn.com/video/639167556.jpg" alt="Courtney & Justin Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Courtney &amp; Justin</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a></p>
          <p class="sans-m">Louisville, Kentucky | The Wimmer Residence</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/complete/?utm_source=davidsbridal&utm_medium=site" target="_blank">Complete Weddings and Events</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Katie & Scott -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/220984671" data-lity>
            <img src="https://i.vimeocdn.com/video/639137344.jpg" alt="Katie & Scott Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Katie &amp; Scott</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/ball-gown-wedding-dresses">Ball Gowns</a></p>
          <p class="sans-m">Woodbury, Tennessee | Short Mountain Distillery</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.us/category/cinematographer/love-in-motion/?utm_source=davidsbridal&utm_medium=site" target="_blank">Love In Motion</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Rebecca & Thiago -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499039866783485%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Rebecca-Thiago_1000x562.jpg" alt="Rebecca & Thiago Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Rebecca &amp; Thiago</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a></p>
          <p class="sans-m">North Beach, Maryland | Herrington on the Bay</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/shutter-and-sound/?utm_source=davidsbridal&utm_medium=site" target="_blank">Shutter and Sound</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 10 -->


    <!-- Row 11 -->
    <section class="container flex-container">
      <!-- Christy & Alex -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499232106764261%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s851x315/19084200_1499237866763685_8263277916545089536_n.jpg?oh=676a1f3d288264cdf891d203c17e4295&oe=59D9D776" alt="Christy & Alex Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Christy &amp; Alex</p>
          <p class="sans-m">Shop <a href="/wedding-dresses/a-line-wedding-dresses">A-Line Gowns</a></p>
          <p class="sans-m">Luther, Oklahoma | Tres Suenos Winery &amp; Vineyards</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/stem-photography/?utm_source=davidsbridal&utm_medium=site" target="_blank">Stem Photography</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Laura & Mark -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221010674" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Laura-Mark_1000x562.jpg" alt="Laura & Mark Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Laura &amp; Mark</p>
          <p class="sans-m">Shop <a href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:101698311611497112108101115115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Strapless&">Strapless Gowns</a></p>
          <p class="sans-m">Cranston, Rhode Island | Stamp Farms</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/the-storytelling-company/?utm_source=davidsbridal&utm_medium=site" target="_blank">The Storytelling Company</a></p>
          <!-- <p class="sans-m">&nbsp;</p> -->
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Ariel & Michael -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499190610101744%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Ariel-Michael.jpg" alt="Ariel & Michael Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Ariel &amp; Michael</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Coral Gables, Florida | Cocoplum Women's Club</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/andreo-studio/?utm_source=davidsbridal&utm_medium=site" target="_blank">Andreo Studio</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

    </section><!-- Row 11 -->





    <!-- See More -->
    <!-- <section class="container see-more">
      <button class="icon see-more__button">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 62 62" style="enable-background:new 0 0 62 62;" xml:space="preserve">
        <title>Down Arrow</title>
        <polygon points="17,27.9 19.2,25.8 31,38.5 42.8,25.8 45,27.9 31,42.9 "/>
        <path d="M0.5,31C0.5,14.1,14.2,0.5,31,0.5S61.5,14.1,61.5,31S47.9,61.5,31,61.5S0.5,47.8,0.5,31z M58.5,31
          C58.5,15.8,46.2,3.5,31,3.5S3.5,15.8,3.5,31S15.8,58.5,31,58.5S58.5,46.2,58.5,31z"/>
        </svg>
        <p class="sans-bold-uppercase">See More</p>
      </button>
    </section> -->


    <!-- Row 12 -->
    <section class="container flex-container">
      <!-- Ali & Garrett -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499218593432279%2F&show_text=0&width=560" data-lity>
            <img src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Ali-Garrett.jpg" alt="Ali & Garrett Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Ali &amp; Garrett</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Milwaukee, Wisconsin | Anodyne Coffee Roastery</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/happy-camper-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Happy Camper Film &amp; Photo</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Ruth & Landon -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/220984800" data-lity>
            <img src="https://i.vimeocdn.com/video/639137114.jpg" alt="Ruth & Landon Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Ruth &amp; Landon</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Palisade, Colorado | Canyon Winds Winery</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/jami-davis/?utm_source=davidsbridal&utm_medium=site" target="_blank">Jami Davis Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Mattie & Michael -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499024793451659%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s851x315/19057338_1499030776784394_8576068994459500544_n.jpg?oh=8be490d9b07f6f12dff1cabc3954b80e&oe=59D8F6B9" alt="Mattie & Michael Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Mattie &amp; Michael</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">Birmingham, Alabama | Rosewood Hall</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/jeff-bush-videography/?utm_source=davidsbridal&utm_medium=site" target="_blank">Jeff Bush Videography</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 12 -->



    <!-- Row 13-->
    <section class="container flex-container">
      <!-- Brooke & Kyle -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/210943167" data-lity>
            <img src="https://i.vimeocdn.com/video/626863609.jpg" alt="Brooke & Kyle Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Brooke &amp; Kyle</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/short-bridesmaid-dresses">Short Bridesmaid Dresses</a></p>
          <p class="sans-m">Hector, New York | Logan Ridge Estates</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/tim-mieney/?utm_source=davidsbridal&utm_medium=site" target="_blank">Productions by Tim</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Alex & Evan -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499172476770224%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s851x315/19058687_1499175216769950_6481845453485768704_n.jpg?oh=c041ca10d19fd5d6ce13748491e0a333&oe=59E7C54F" alt="Alex & Evan Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Alex &amp; Evan</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">Lexington, Kentucky | Keeneland</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/reel-special-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Reel Special Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Alura & Joshua -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1498973880123417%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s851x315/19057483_1498984370122368_4695911349304164352_n.jpg?oh=8fef23fc4ec71dba9d9a24a76a3de58c&oe=59E2DF32" alt="Alura & Joshua Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Alura &amp; Joshua</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/convertible-bridesmaid-dresses">Convertible Bridesmaid Dresses</a></p>
          <p class="sans-m">Austin, Texas | Twisted Ranch</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/jr-digital-video/?utm_source=davidsbridal&utm_medium=site" target="_blank">JR Digital Video</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 13 -->



    <!-- Row 14 -->
    <section class="container flex-container">
      <!-- Rocio & Juan Carlos -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/207333841" data-lity>
            <img src="https://i.vimeocdn.com/video/622381148.jpg" alt="Rocio & Juan Carlos Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Rocio &amp; Juan Carlos</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids">White by Vera Wang Bridesmaids</a></p>
          <p class="sans-m">San Marcos, California | Green Gables Wedding Estate</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/sj-videography/?utm_source=davidsbridal&utm_medium=site" target="_blank">SJ Videography</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Brynn & Jason -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499087423445396%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/s851x315/19058623_1499098713444267_4518624453764055040_n.jpg?oh=578970211e229be5adceb077b02cbce7&oe=59D1B4D0" alt="Brynn & Jason Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Brynn &amp; Jason</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Thurmont, Maryland | ThorpeWood</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.us/category/cinematographer/thuis-studios/?utm_source=davidsbridal&utm_medium=site" target="_blank">Thuis Studios</a> and <a href="http://lovestoriestv.com/category/cinematographer/films-by-j/?utm_source=davidsbridal&utm_medium=site" target="_blank">Films by J</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Melissa & Johnny -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221483019" data-lity>
            <img src="https://i.vimeocdn.com/video/639766474.jpg" alt="Melissa & Johnny Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Melissa &amp; Johnny</p>
          <p class="sans-m">Shop <a href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Mismatched Bridesmaid Dresses</a></p>
          <p class="sans-m">Folsom, California | Lake Natoma Inn</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.us/category/cinematographer/kyle-mize-productions/?utm_source=davidsbridal&utm_medium=site" target="_blank">Kyle Mize Productions</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 14 -->



    <!-- Row 15 -->
    <section class="container flex-container">
      <!-- Hannah & Sam -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1503409906346481%2F&show_text=0&width=560" data-lity>
            <img src="https://scontent.xx.fbcdn.net/v/t15.0-10/p640x640/19183125_1503419019678903_8932724435929006080_n.jpg?oh=f0f91e377f8bef1b2a92d7b32ed16790&oe=59DDBE81" alt="Hannah & Sam Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Hannah &amp; Sam</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Edmonton, Canada | Snow Valley</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/interga-films/?utm_source=davidsbridal&utm_medium=site" target="_blank">Integra Films</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Jamie & Daniel -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221482371" data-lity>
            <img src="https://i.vimeocdn.com/video/639760245.jpg" alt="Jamie & Daniel Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Jamie &amp; Daniel</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Randolph, New Jersey | Meadow Wood Manor</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/studio-94/?utm_source=davidsbridal&utm_medium=site" target="_blank">Studio 94</a></p>
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>

      <!-- Caroline & Brandon -->
      <div class="column video-card">
        <div class="video-card__img">
          <a href="https://player.vimeo.com/video/221008991" data-lity>
            <img src="https://i.vimeocdn.com/video/639168143.jpg" alt="Caroline & Brandon Wedding Video">
            <div class="video-card__play-button">
              <svg class="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="-480 481 39 39">
                <circle fill-opacity="0" cx="-460.5" cy="500.5" r="19"></circle>
                <path d="M-460.5,481c-10.8,0-19.5,8.8-19.5,19.5s8.8,19.5,19.5,19.5s19.5-8.8,19.5-19.5 S-449.7,481-460.5,481z M-460.5,519c-10.2,0-18.5-8.3-18.5-18.5s8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5S-450.3,519-460.5,519z"></path>
                <path d="M-466,511.3l17-11.1l-17-10.9V511.3z M-465,491.1l14.1,9.1l-14.1,9.3V491.1z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="video-card__text">
          <p class="serif-m video-card__names">Caroline &amp; Brandon</p>
          <p class="sans-m">Shop <a href="/bridesmaid-dresses/long-bridesmaid-dresses">Long Bridesmaid Dresses</a></p>
          <p class="sans-m">Van Alstyne, Texas | Rustic Grace Estate</p>
          <p class="sans-m">Cinematographer: <a href="http://lovestoriestv.com/category/cinematographer/brian-rossen/?utm_source=davidsbridal&utm_medium=site" target="_blank">Brian Rossen</a></p>
          <!-- <p class="sans-m">&nbsp;</p> -->
          <ul class="video-card__social-share">
            <!-- Gigya icons go here -->
          </ul>
        </div>
      </div>
    </section><!-- Row 15 -->


    <section class="container more-inspiration">
      <h2 class="serif-m-italic">Want more real wedding inspiration?</h2>
      <p class="sans-bold-uppercase">
        <a href="/Content_RealWeddings_realweddings ">Explore Featured Wedding Stories&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/Content_Curations_bridal">See #DavidsBridal Galleries&nbsp;&gt;</a>
      </p>
    </section>

  </main>
</article><!-- /.content-page -->
