<main class="content-page" role="main">

  <!--  Breadcrumbs -->
  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>




  <section class="container">
    <div class="page-heading">
      <h1 class="serif-xl">Maid of Honor Guide</h1>
      <p class="sans-l">What does a maid or matron of honor do, and how do you distinguish her from the rest of your bridal party? We put together some maid of honor ideas to help you figure out her role&mdash;and her style.</p>
    </div>
  </section>




  <article class="container">

    <!-- Row 1 -->
    <div class="flex">
      <div class="column">
        <figure>
          <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MOH_LP_767_MOHDuties.jpg" alt="Bride smiling at bridesmaids holding bouquets">
          <figcaption class="sans-xs">Photo: Michelle Lea Photographie</figcaption>
        </figure>
      </div>
      <div class="column beige-bg">
        <h2 class="serif-l-italic">Maid of Honor Duties</h2>
        <p class="sans-m">Maid of honor duties can include helping plan the <a href="/Content_StyleandFashionGuide_engagementpartyideas" class="inline-link">engagement party</a> or <a href="/Content_StyleandFashionGuide_bachelorettepartyideas" class="inline-link">bachelorette party</a>, keeping track of shower gifts, wrangling bridesmaids, and <a href="/wedding-toasting-and-champagne-flutes" class="inline-link">giving a toast</a> at the rehearsal dinner or wedding reception. She's your trusted advisor, and she'll make sure everything goes smoothly, even fluffing your dress's train so it looks perfect in photos. (Married friend? Matron of honor duties are the same!)</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_bridalshowerideas">Planning a Bridal Shower&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="flex reverse">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MOH_LP_767_MOHStyle.jpg" alt="Bride linking arms with blue bridal party">
      </div>
      <div class="column beige-bg">
        <h2 class="serif-l-italic">Maid of Honor Style</h2>
        <p class="sans-m">You can easily set your maid of honor apart from your bridesmaids by varying her dress style, color, or fabric. For example, she could wear a <a href="/sequin-bridesmaid-dresses" class="inline-link">beaded bridesmaid dress</a>, or add a <a href="/accessories/sashes-and-belts" class="inline-link">sash</a> to her look. With all the support she's giving you, it's nice to give her first dibs on her favorite look! And if your maid of honor is a sister who's younger, a <a href="/bridesmaid-dresses/junior-bridesmaid-dresses" class="inline-link">junior bridesmaid dress</a> will fit right in, and fit her just right.</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">How To Mismatch Bridesmaids&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="flex">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MOH_LP_767_MOHGifts.jpg" alt="Maid of Honor bracelet surrounded by make up and flowers">
      </div>
      <div class="column beige-bg">
        <h2 class="serif-l-italic">Maid of Honor Gifts</h2>
        <p class="sans-m">The wedding gift from the maid of honor to the bride and groom is often something personal since she knows you better than anyone. Return her thoughtfulness with a <a href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666678891011153245326511010032105116391153270114101101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Yes - And it's Free&" class="inline-link">personalized gift</a> that shows how much you appreciate friendship&mdash;not just on the wedding day, but every day.</p>
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_bridesmaidgiftideas">Bridesmaid Gift Ideas&nbsp;&gt;</a>
        </p>
      </div>
    </div>

  </article>




  <!-- Trending Products -->
  <section>
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="few-favorites-carousel__inner--heading">
          <p class="serif-m-italic">More Maid of Honor Gifts</p>
        </div>

        <div class="slick-container">
          <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
            <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

            <!-- ACC613 -->
            <div class="slick-slide">
              <a href="/Product_heart-handled-maid-of-honor-mug-acc613">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ACC613-10939494-Mint?$plpproductimgmobile%5F2up$" alt="Heart-Handled Maid of Honor Mug">
              </a>
            </div>

            <!-- T8078 -->
            <div class="slick-slide">
              <a href="/Product_maid-of-honor-duties-t-shirt-t8078">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-T8078-10961868-Black?$plpproductimgmobile%5F2up$" alt="Maid of Honor Duties T-Shirt">
              </a>
            </div>

            <!-- 999DB2072 -->
            <div class="slick-slide">
              <a href="/Product_will-you-be-my-maid-of-honor-bracelet-999db2072">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-999DB2072-10950913-Mint?$plpproductimgmobile%5F2up$" alt="Will You Be My Maid of Honor Bracelet">
              </a>
            </div>

            <!-- DBMOHRB -->
            <div class="slick-slide">
              <a href="/Product_rhinestone-maid-of-honor-satin-robe-dbmohrb">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DBMOHRB-10230937-Aqua?$plpproductimgmobile%5F2up$" alt="Rhinestone Maid of Honor Satin Robe">
              </a>
            </div>

            <!-- CN10002 -->
            <div class="slick-slide">
              <a href="/Product_be-my-maid-of-honor-candle-cn10002">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CN10002-10837897-Vanilla?$plpproductimgmobile%5F2up$" alt="Be My Maid of Honor Candle">
              </a>
            </div>

            <!-- 9999081 -->
            <div class="slick-slide">
              <a href="/Product_maid-of-honor-drink-sleeve-9999081">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9999081-10754776-Hot%20Pink?$plpproductimgmobile%5F2up$" alt="Maid of Honor Drink Sleeve">
              </a>
            </div>

            <!-- CO50065N6043 -->
            <div class="slick-slide">
              <a href="/Product_maid-of-honor-cosmetic-bag-co50065n6043">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CO50065N6043-10889945-Mint?$plpproductimgmobile%5F2up$" alt="Maid of Honor Cosmetic Bag">
              </a>
            </div>


          </div>

          <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
            <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>



  <section class="real-brides">

    <div class="real-brides__inner">
      <p class="serif-l-italic">#DBMaids</p>

      <div class="real-brides__imgs">
        <div class="column">
          <a href="/Content_Curations_weddingparty">
            <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MaidOfHonorGuide_UGC_1.jpg" alt="Groom dipping bride under bridge with bridal party" />
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_weddingparty">
            <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MaidOfHonorGuide_UGC_2.jpg" alt="Bride linking arms with bridesmaids in neutral dresses" />
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_weddingparty">
            <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MaidOfHonorGuide_UGC_3.jpg" alt="Maid of honor holding bride's train in garden" />
          </a>
        </div>
        <div class="column">
          <a href="/Content_Curations_weddingparty">
            <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MaidOfHonorGuide_UGC_4.jpg" alt="Bride posing surrounded by bridesmaids in purple" />
          </a>
        </div>
        <div class="column sm-hidden">
          <a href="/Content_Curations_weddingparty">
            <img src="/wcsstore/images/wwcm/sfg/maid-of-honor-guide/MaidOfHonorGuide_UGC_5.jpg" alt="Bride and bridesmaids with back turned to camera with arms around each other" />
          </a>
        </div>
      </div>

      <div class="real-brides__text">
        <p class="sans-m">Share your &num;DBMaids style for a chance to be featured!</p>
        <p class="btn btn-pink">
          <a href="/Content_Curations_weddingparty" class="sans-bold-uppercase">See More</a>
        </p>
      </div>
    </div>

  </section>

</main>
