<main class="content-page" role="main">

  <!--  Breadcrumbs -->
  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="jumbotron">
    <div class="jumbotron__img main-hub"></div>
    <div class="jumbotron__text">
      <h1 class="serif-xl">Please check back<br class="md-hidden lg-hidden"> soon for military<br class="md-hidden lg-hidden"> discount information.</h1>
      <p class="sans-m">In the meantime, visit our Daily Deals page<br class="md-hidden lg-hidden"> for current savings and offers.</p>
      <p class="btn btn-secondary">
        <a href="/Content_BuyOnline_offers" class="sans-bold-uppercase">See Daily Deals</a>
      </p>
    </div>
  </section>



  <!-- Trending Products -->
  <section>
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="few-favorites-carousel__inner--heading">
          <p class="serif-s-italic">You may also like</p>
        </div>

        <div class="slick-container">
          <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
            <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

            <!-- WG3827 -->
            <div class="slick-slide">
              <a href="/Product_soft-lace-wedding-dress-with-low-back-wg3827">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3827-10752686-Ivory?$plpproductimgmobile_2up$" alt="Soft Lace Wedding Dress with Low Back">
              </a>
            </div>

            <!-- F19328 -->
            <div class="slick-slide">
              <a href="/Product_long-bridesmaid-dress-with-lace-bodice-f19328">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19328-10639812-Marine?$plpproductimgmobile_2up$" alt="Long Bridesmaid Dress with Lace Bodice">
              </a>
            </div>

            <!-- RK1368 -->
            <div class="slick-slide">
              <a href="/Product_ball-gown-flower-girl-dress-with-heart-cutout-rk1368lf">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RK1368-10957577-Soft White?$plpproductimgmobile_2up$" alt="Ball Gown Flower Girl Dress with Heart Cutout">
              </a>
            </div>

            <!-- 850 -->
            <div class="slick-slide">
              <a href="/Product_one-tier-tulle-fingertip-veil-with-pencil-edge-850">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-850-10103795-Champagne?$plpproductimgmobile_2up$" alt="One Tier Tulle Fingertip Veil with Pencil Edge">
              </a>
            </div>

            <!-- VW351178 -->
            <div class="slick-slide">
              <a href="/Product_white-by-vera-wang-textured-organza-wedding-dress-vw351178">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351178-10177011-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Textured Organza Wedding Dress">
              </a>
            </div>

            <!-- F19608 -->
            <div class="slick-slide">
              <a href="/Product_open-back-lace-and-mesh-bridesmaid-dress-f19608">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19608-10850544-Ice%20Blue?$plpproductimgmobile_2up$" alt="Open-Back Lace and Mesh Bridesmaid Dress">
              </a>
            </div>

            <!-- NAYOMI -->
            <div class="slick-slide">
              <a href="/Product_single-strap-sandal-nayomi">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-NAYOMI-10257253-Gold Metallic?$plpproductimgmobile_2up$" alt="Single Strap Sandal">
              </a>
            </div>

          </div>

          <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
            <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>



  <!-- INSPIRATION & GUIDANCE -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_Curations_bridal">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBrides.jpg" alt="Real Brides DavidsBridal">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Real Brides #DavidsBridal</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_Curations_bridal">Get Inspired&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingColors.jpg" alt="Wedding Color Inspiration">
              </a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_realbridesweddingbudget">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBrideBudgetTips.jpg" alt="Best Budget Tips from Real Brides">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Best Budget Tips from Real Brides</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_realbridesweddingbudget">See How They Saved&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingvideos">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_LoveStoriesTV.jpg" alt="Real Wedding Videos">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Real Wedding Videos</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now And Share Yours&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
