
<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">10&percnt; Military Discount</h1>
        <p class="sans-l">David's Bridal is proud to offer 10&percnt; off all in-store purchases for active-duty military members and their significant others.</p>
        <img src="/wcsstore/images/wwcm/sfg/military-discount/Military_Discount_767Hero.jpg" alt="Bride and military groom feeding each other wedding cake">
      </section>

      <section class="text">
        <p class="sans-m">Let us say thanks for your service and sacrifice by helping you find the perfect looks for life's special moments.</p>

        <p class="sans-m">Present a valid military ID showing current active duty to receive 10&percnt; off your entire purchase in any U.S. David's Bridal store.</p>

        <p class="sans-m">Eligibility: We offer this discount to all active duty military personnel plus their spouses and significant others. The discount is not transferable to other family members.</p>

        <p class="sans-m">This offer is valid May 1-31, 2018, in the United States only.</p>

        <p class="btn btn-secondary">
          <a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Find a Store</a>
        </p>
      </section>


      <section class="real-brides">

        <div class="real-brides__inner">
          <p class="serif-l-italic">#DavidsBridal</p>

          <div class="real-brides__imgs">
            <div class="column">
              <a href="/Content_Curations_bridal">
                <figure>
                  <img src="/wcsstore/images/wwcm/sfg/military-discount/MilitaryDiscount_UGC_1.jpg" alt="Bride linking arms with military husband" />
                  <figcaption>Amanda B Photography c/o Loey Lane</figcaption>
                </figure>
              </a>
            </div>
            <div class="column">
              <a href="/Content_Curations_bridal">
                <figure>
                  <img src="/wcsstore/images/wwcm/sfg/military-discount/MilitaryDiscount_UGC_2.jpg" alt="Bride and military groom embracing in field" />
                  <figcaption>Photo by Hannah Smith Photography</figcaption>
                </figure>
              </a>
            </div>
            <div class="column sm-hidden">
              <a href="/Content_Curations_bridal">
                <figure>
                  <img src="/wcsstore/images/wwcm/sfg/military-discount/MilitaryDiscount_UGC_3.jpg" alt="Military groom dipping and kissing bride" />
                </figure>
              </a>
            </div>
          </div>

          <div class="real-brides__text">
            <p class="sans-m">Share your <strong>&num;davidsbridal</strong> style for a chance to be featured!</p>
            <div class="real-brides__text-buttons">
              <div class="column">
                <p class="btn btn-pink">
                  <a href="/Content_Curations_bridal" class="sans-bold-uppercase">See The Gallery</a>
                </p>
              </div>
              <div class="column">
                <p class="btn btn-pink">
                  <a href="/Content_StyleandFashionGuide_weddingvideos" class="sans-bold-uppercase">Watch Real Wedding Videos</a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>


      <section class="disclaimer">
        <p class="sans-xs">*Offer valid through May 31, 2018 in U.S. stores only. Not valid online or for immediate or extended family members. Must present valid military ID or DD214 at the time of purchase to receive discount. Discount will be applied to merchandise purchases only after any other valid discounts, coupons or special offers are applied. Not valid on alterations services, shipping or David's Bridal gift cards. Offer subject to change. See a store for details.</p>
      </section>


    </main>



    <!-- COLUMN 2 - Aside Content -->
    <aside class="column">

      <div class="recommend-block">
        <p class="serif-s-italic">Inspiration &amp; Guidance</p>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_Curations_bridal">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBrides.jpg" alt="Real Brides DavidsBridal">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_Curations_bridal" class="text-decoration-none">Real Brides #DavidsBridal</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_Curations_bridal">Get Inspired&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_weddingcolorideas">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingColors.jpg" alt="Wedding Color Inspiration">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_realbridesweddingbudget">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBrideBudgetTips.jpg" alt="Best Budget Tips from Real Brides">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_realbridesweddingbudget" class="text-decoration-none">Best Budget Tips from Real Brides</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_realbridesweddingbudget">See How They Saved&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

        <div class="recommend-block__inner cf">
        	<div class="recommend-block__image">
        		<a href="/Content_StyleandFashionGuide_weddingvideos">
        			<img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_LoveStoriesTV.jpg" alt="Real Wedding Videos">
        		</a>
        	</div>
        	<div class="recommend-block__content spacing-half">
        		<p class="serif-xs">
        			<a href="/Content_StyleandFashionGuide_weddingvideos" class="text-decoration-none">Real Wedding Videos</a>
        		</p>
        		<p class="sans-bold-uppercase">
        			<a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now And Share Yours&nbsp;&gt;</a>
        		</p>
        	</div>
        </div>

      </div>
    </aside>
  </section>


</article>
