<main class="content-page" role="main">


  <!-- BREADCRUMBS -->
  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
          <a class="btn-link" href="/Content_StyleandFashionGuide_weddingthemes">Wedding Themes&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>



  <!-- HERO -->
  <section class="container hero">
    <!-- <div class="hero__video">
      <iframe src="https://www.youtube.com/embed/H6iGnXUW7hw?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=H6iGnXUW7hw" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div class="hero__img">
      <img src="/wcsstore/images/wwcm/sfg/theme-minimalist/MinimalistWeddingIdeas_Hero_Mobile.jpg" class="md-hidden lg-hidden" alt="3 brides in different gown styles">
      <img src="/wcsstore/images/wwcm/sfg/theme-minimalist/MinimalistWeddingIdeas_Hero_Desktop.jpg" class="sm-hidden" alt="3 brides in different gown styles">
    </div>

    <div class="hero__text">
      <h1 class="serif-xl">Minimalist<br>Wedding Ideas</h1>
      <p class="sans-m">Sometimes less is more: Imagine a minimalist wedding with a sleek wedding dress, sculptural bouquets, and simple wedding invitations.</p>
    </div>
  </section>


  <section class="container flex">
    <div class="column">
      <div class="flex__inner">

        <!-- Column 1 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/accessories/sashes-and-belts">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/1_SparkleMore_Verticle.jpg" alt="bride in low-cut gown with rhinestone sash" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">A Hint of Shade</h3>
          			<p class="sans-xs description">Tie on a sash to personalize a simple wedding&nbsp;dress</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/accessories/sashes-and-belts">Shop Sashes&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/bridesmaid-dresses/all-bridesmaid-dresses">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/2_UnderstatedColors_Square.jpg" alt="bridesmaid in black strapless dress with belt" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Understated Colors</h3>
          			<p class="sans-xs description">Neutral bridesmaid dresses make accessories&nbsp;sparkle</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridemaids&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/wedding-dresses/ball-gown-wedding-dresses">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/3_ElegantlyOnTrend.jpg" alt="bride in high-neck gown with pockets and veil" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Elegantly On-Trend</h3>
          			<p class="sans-xs description">Modern cutouts make a classic silhouette feel&nbsp;fresh</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/wedding-dresses/ball-gown-wedding-dresses">Shop Ball Gowns&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>


        <!-- Column 2 -->
        <div class="col">
          <div class="flex__circle">
          	<div class="flex__circle--img">
              <img src="/wcsstore/images/wwcm/sfg/theme-minimalist/circle-blue.gif" nopin="nopin">
            </div>
            <div class="flex__circle--text">
              <p class="serif-s-italic">Minimalist wedding<br>dresses start at $199.95</p>
            </div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/lace-wedding-dresses">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/4_ExquisiteLace_Verticle.jpg" alt="bride in white lace gown" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Exquisite Lace</h3>
          			<p class="sans-xs description">The fabric injects romance into sheath&nbsp;gowns</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/lace-wedding-dresses">Shop Lace Wedding Dresses&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/Content_StyleandFashionGuide_weddingflowers">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/5_FoliageDisplay.jpg" alt="bride carrying green bouquet with matching crown" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Foliage on Display</h3>
          			<p class="sans-xs description">Request simple wedding bouquets full of&nbsp;greenery</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/Content_StyleandFashionGuide_weddingflowers">Wedding Flower Inspiration&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="flex__inner">

        <!-- Column 3 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/wedding-dresses/all-wedding-dresses">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/6_OffTheShoulder_Verticle.jpg" alt="bride in off-the-shoulder sheath gown" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Off-the-Shoulder Chic</h3>
          			<p class="sans-xs description">Sleeves add allure to a minimalist wedding&nbsp;dress</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/dresses/flower-girl-dresses">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/7_SpotlightDetails.jpg" alt="bride holding flower girl's hand" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Spotlight on the Details</h3>
          			<p class="sans-xs description">Statement cutouts and bows really stand&nbsp;out</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/dresses/flower-girl-dresses">Shop Flower Girls&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__circle">
          	<div class="flex__circle--img">
              <img src="/wcsstore/images/wwcm/sfg/theme-minimalist/circle-blue.gif" nopin="nopin">
            </div>
            <div class="flex__circle--text">
              <p class="serif-s-italic">Share pics of your<br>minimalist wedding<br>#davidsbridal</p>
            </div>
          </div>
        </div>


        <!-- Column 4 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/wedding-dresses/white-by-vera-wang">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/8_ExclusiveDesignerGowns.jpg" alt="bride in open-back style gown" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Exclusive Designer Gowns</h3>
          			<p class="sans-xs description">Sophisticated styling elevates every&nbsp;angle</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/wedding-dresses/white-by-vera-wang">Shop White By Vera Wang&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/Content_StyleandFashionGuide_WeddingInvitations">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/9_RememberDay.jpg" alt="photographed wedding invitations" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Remember the Day</h3>
          			<p class="sans-xs description">Collect wedding photos in a contemporary album</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/Content_StyleandFashionGuide_WeddingInvitations">Shop The Wedding Shop by Shutterfly&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/accessories/jewelry">
          			<img src="/wcsstore/images/wwcm/sfg/theme-minimalist/10_JustRightJewels.jpg" alt="bride with crystal necklace and earrings" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Just-Right Jewels</h3>
          			<p class="sans-xs description">Put on crystal accents for the finishing&nbsp;touch</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="container">
    <div class="theme-links blue">

      <div class="theme-links__headline">
        <p class="serif-l-italic">Shop the theme</p>
      </div>

      <div class="theme-links__links">
        <p class="sans-bold-uppercase">
          <a href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:307445734561666668383105109112108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Simple&">Minimalist Wedding Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/all-accessories">Minimalist Accessories&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:307445734561666668383105109112108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Simple&">Minimalist Flower Girl Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-decorations/wedding-favors">Minimalist Favors&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-decorations/wedding-favors">Minimalist Gifts&nbsp;&gt;</a>
        </p>
      </div>

    </div>
  </section>



    <!-- Gigya Share Bar -->
    <section class="container">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <ul class="article__share-bar-item-list" id="socialShareIcons"></ul>
      </div>
    </section>



    <!-- Inspiration & Guidance -->
    <section class="inspiration-guidance">
      <div class="column-full">
        <div class="spacing spacing-h">

          <div class="section-minor-heading">
            <p class="section-minor-heading__heading serif-s-italic" style="color: #333;">See Other Wedding Themes</p>
          </div>

          <div class="layout-split-4 spacing article__teaser-list">

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_festivalwedding">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/weddingthemes/FestivalHubPageModule_Desktop.jpg" alt="Festival Wedding Ideas">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Festival Wedding Ideas</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_festivalwedding">Explore&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_vintageweddingideas">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/weddingthemes/WeddingThemes-VintageWedding.jpg" alt="Vintage Wedding Ideas">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Vintage Wedding Ideas</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_vintageweddingideas">Explore&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_beachdestinationweddingideas">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/weddingthemes/WeddingThemes-BeachWedding.jpg" alt="Beach Wedding Ideas">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Beach Wedding Ideas</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_beachdestinationweddingideas">Explore&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_casualweddingideas">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/weddingthemes/WeddingThemes-CasualWedding.jpg" alt="Casual Wedding Ideas">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Casual Wedding Ideas</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_casualweddingideas">Explore&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section class="inspiration-guidance">
      <div class="column-full">
        <div class="spacing spacing-h">
          <div class="section-minor-heading">
            <p class="section-minor-heading__heading serif-s-italic" style="color: #333;">Real Wedding Videos</p>
          </div>

          <div class="layout-split-4 spacing article__teaser-list">

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543470999007038%2F&show_text=0&width=560" data-lity>
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/loveStoriesTV/elesia-brian.jpg" alt="Elesia & Brian">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Elesia &amp; Brian</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1543470999007038%2F&show_text=0&width=560" data-lity>See Their Video&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499157620105043%2F&show_text=0&width=560" data-lity>
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Melissa-Tinus.jpg" alt="Melissa & Tinus">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Melissa &amp; Tinus</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1499157620105043%2F&show_text=0&width=560" data-lity>See Their Video&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1544349722252499%2F&show_text=0&width=560" data-lity>
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/loveStoriesTV/keri-brandon.jpg" alt="Keri & Brandon">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Keri &amp; Brandon</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1544349722252499%2F&show_text=0&width=560" data-lity>See Their Video&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1455121334508672%2F&show_text=0&width=560" data-lity>
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/loveStoriesTV/Nikki-Kevin_1000x562.jpg" alt="Nikki & Kevin">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Nikki &amp; Kevin</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLoveStoriesTV%2Fvideos%2F1455121334508672%2F&show_text=0&width=560" data-lity>See Their Video&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>
