<main role="main" class="content-page">

  <section class="page-heading">
    <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/our-most-loved-gowns.svg" alt="our most loved gowns">
    <p class="sans-m">The best wedding dresses, <br class="md-hidden lg-hidden">awarded four or five stars by our customers.</p>
  </section>


  <!-- A-Line Favorites -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite A-line dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/a-line-wedding-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column">
          <a href="/Product_off-the-shoulder-lace-a-line-wedding-dress-cwg765" data-product-id="10760074">
	          <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG765-10760074-Ivory?$plpproductimgmobile_2up$" alt="Off-The-Shoulder Lace A-Line Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_sheer-beaded-bodice-organza-a-line-wedding-dress-swg784" data-product-id="10918948">
		        <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SWG784-10918948-Ivory_Rose%20Water?$plpproductimgmobile_2up$" alt="Sheer Beaded Bodice Organza A-Line Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column mobile-full">
          <a href="/Product_plus-size-long-sleeve-wedding-dress-with-low-back-9wg3831">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/UGC_Quote_9WG3831.jpg" alt="I loved my dress, it was a perfect and flattering fit! I felt so confident and beautiful on my big day and got so many compliments on my dress | Cassi | Style Number 9WG3831">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_chiffon-empire-waist-plus-size-wedding-dress-9v9743" data-product-id="6144083">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9V9743-6144083-Ivory?$plpproductimgmobile_2up$" alt="Chiffon Empire Waist Plus Size Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_scalloped-a-line-wedding-dress-with-double-straps-ms251177" data-product-id="10757008">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251177-10757008-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Scalloped A-Line Wedding Dress with Double Straps">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Sheath Favorites -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite sheath dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/sheath-wedding-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column mobile-full">
          <a href="/Product_melissa-sweet-linear-lace-wedding-dress-ms251173">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/UGC_Quote_MS251173.jpg" alt="Pictures don't do this dress justice. If was perfect in every way...I can't stop staring at it in our wedding photos. The perfect blend of rustic and elegance. | DestinationWeddings | Style Number MS251173">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_soft-lace-wedding-dress-with-low-back-wg3827" data-product-id="10752686">
		        <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3827-10752686-Ivory?$plpproductimgmobile_2up$" alt="Soft Lace Wedding Dress with Low Back">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_white-by-vera-wang-short-sleeve-lace-wedding-dress-vw351312" data-product-id="10678870">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351312-10678870-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Short Sleeve Lace Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_flower-lace-v-neck-wedding-dress-with-empire-waist-kp3783" data-product-id="10512768">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-KP3783-10512768-Ivory?$plpproductimgmobile_2up$" alt="Flower Lace V-Neck Wedding Dress with Empire Waist">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_off-the-shoulder-eyelash-lace-sheath-wedding-dress-wg3892" data-product-id="10894856">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3892-10894856-Ivory?$plpproductimgmobile_2up$" alt="Off-The-Shoulder Eyelash Lace Sheath Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Ball Gown Favorites -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite ball gown dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/ball-gown-wedding-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column">
          <a href="/Product_white-by-vera-wang-organza-plus-size-wedding-dress-8vw351178" data-product-id="10177011">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8VW351178-10949472-White?$plpproductimgmobile_2up$" alt="White by Vera Wang Organza Plus Size Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_beaded-lace-wedding-dress-with-pleated-skirt-cwg780" data-product-id="10893393">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG780-10893393-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Beaded Lace Wedding Dress with Pleated Skirt">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column mobile-full">
          <a href="/Product_white-by-vera-wang-textured-organza-wedding-dress-vw351178">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/UGC_Quote_VW351178.jpg" alt="Pictures don't do this dress justice. If was perfect in every way...I can't stop staring at it in our wedding photos. The perfect blend of rustic and elegance. | DestinationWeddings | Style Number MS251178">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_sheer-lace-and-tulle-ball-gown-wedding-dress-wg3861" data-product-id="10925292">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/WG3861_IVYCHAMP_CORE_PROD3_V2_033?$plpproductimgmobile_2up$" alt="Flower Lace V-Neck Wedding Dress with Empire Waist">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_truly-zac-posen-horsehair-tier-skirt-wedding-dress-zp341835" data-product-id="10925105">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341835-10925105-Ivory?$plpproductimgmobile_2up$" alt="Truly Zac Posen Horsehair Tier Skirt Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Mermaid Favorites -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite mermaid dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/mermaid-wedding-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column mobile-full">
          <a href="/Product_beaded-venice-lace-trumpet-wedding-dress-swg723">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/UGC_Quote_SWG723.jpg" alt="It doesn't matter what your body type, this dress will look like it was made for you. It was incredibly comfortable and easy to get around in. | KBURKHART6585 | Style number SWG723">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_truly-zac-posen-seamed-satin-wedding-dress-zp341718" data-product-id="10793559">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341718-10793559-Ivory?$plpproductimgmobile_2up$" alt="Truly Zac Posen Seamed Satin Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_ruffled-organza-plus-size-mermaid-wedding-dress-9wg3832" data-product-id="10754830">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3832-10754830-Ivory?$plpproductimgmobile_2up$" alt="Ruffled Organza Plus Size Mermaid Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_tulle-cap-sleeve-mermaid-wedding-dress-wg3911" data-product-id="10971250">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3911-10971250-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Tulle Cap Sleeve Mermaid Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_oleg-cassini-lace-trumpet-wedding-dress-cwg747" data-product-id="10687115">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG747-10687115-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Lace Trumpet Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Short Favorites -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite short dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/short-wedding-dress">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column">
          <a href="/Product_oleg-cassini-cap-sleeve-illusion-wedding-dress-cmk513" data-product-id="10149955">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CMK513-10149955-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Cap Sleeve Illusion Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_strapless-lace-short-wedding-dress-wg3826" data-product-id="10756443">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3826-10756443-Ivory?$plpproductimgmobile_2up$" alt="Strapless Lace Short Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column mobile-full">
          <a href="/Product_oleg-cassini-cap-sleeve-illusion-wedding-dress-cmk513">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-gowns/UGC_Quote_CMK513.jpg" alt="This was the perfect wedding dress for me. I loved the short length and sleeves. Great for dancing the night away! | Happy2Shop21 | Style number CMK513">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_tulle-plus-size-tea-length-wedding-dress-9wg3857" data-product-id="10860349">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3857-10860349-Ivory?$plpproductimgmobile_2up$" alt="Tulle Plus Size Tea-Length Wedding Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_short-halter-wedding-dress-with-keyhole-cutout-21395d" data-product-id="10522521">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21395D-10522521-Ivory?$plpproductimgmobile_2up$" alt="Short Halter Wedding Dress with Keyhole Cutout">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>




  <!-- inspiration & guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MostLovedBridesmaidDresses">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MostLoved_BM.jpg" alt="most-loved bridesmaid dresses">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Customer Favorites: Bridesmaids</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MostLovedBridesmaidDresses">See Top-Rated Styles&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide-styleguidedressguide_index">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SilohouetteGuide.jpg" alt="Silhouette Guide">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Silhouette Guide</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressesGuide">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingDress101.jpg" alt="Wedding Dresses 101">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Wedding Dresses 101</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressesGuide">Brands, Trends, FAQs &amp; More&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_Appointment_planning">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PlanningAppointment.jpg" alt="Planning for Your Appointment">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Planning Your Appointment</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_Appointment_planning">Make The Most of It&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
