<main role="main" class="content-page">

  <section class="page-heading">
    <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/most-loved-bridesmaid-dresses/our-most-loved-bridesmaid-dresses-mobile.svg" alt="our most loved bridesmaid dresses">
    <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/most-loved-bridesmaid-dresses/our-most-loved-bridesmaid-dresses.svg" alt="our most loved bridesmaid dresses">
    <p class="sans-m">The best bridesmaid dresses, <br class="md-hidden lg-hidden">according to our customers.</p>
  </section>


  <!-- Favorite Long Dresses -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite long dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/bridesmaid-dresses/long-bridesmaid-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column">
          <a href="/Product_one-shoulder-dress-with-satin-sash-vw360215" data-product-id="10278110">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360215-10278110-VW%20Olive?$plpproductimgmobile_2up$" alt="One Shoulder Dress with Satin Sash">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_soft-mesh-halter-bridesmaid-dress-with-slim-sash-f19533" data-product-id="10831687">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19533-10831687-Biscotti?$plpproductimgmobile_2up$" alt="Soft Mesh Halter Bridesmaid Dress with Slim Sash">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column mobile-full">
          <a href="/Product_v-neck-halter-gown-with-sash-vw360214">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-bridesmaid-dresses/UGC_Quote_VW360214_767px.jpg" alt="These dresses were absolutely stunning on my girls. They felt great in them and they looked great in them. The dresses were light and comfortable, chic and elegant. | Sydney | Style Number VW360214">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_charmeuse-and-chiffon-bridesmaid-dress-vw360345" data-product-id="10828532">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360345-10828532-Blush?$plpproductimgmobile_2up$" alt="Charmeuse and Chiffon Bridesmaid Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_long-one-shoulder-crinkle-chiffon-dress-f18055" data-product-id="10523250">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F18055-10523250-Iris?$plpproductimgmobile_2up$" alt="Long One-Shoulder Crinkle Chiffon Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Favorite Short Dresses -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite short dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="/bridesmaid-dresses/short-bridesmaid-dresses">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column mobile-full">
          <a href="/Product_short-crinkle-chiffon-dress-with-front-cascade-f14847">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-bridesmaid-dresses/UGC_Quote_F14847_767px.jpg" alt="I went to other bridal stores, and dresses very similar to this one were twice the price! I was glad I was able to keep things affordable for my bridesmaids. | MarisaStephens | F14847">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_short-mesh-bridesmaid-dress-with-cowl-back-f16007" data-product-id="10275464">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F16007-10275464-Spa?$plpproductimgmobile_2up$" alt="Short Mesh Bridesmaid Dress with Cowl Back">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_high-low-satin-bridesmaid-dress-with-pockets-f19623" data-product-id="10880903">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19623-10880903-Quartz?$plpproductimgmobile_2up$" alt="High-Low Satin Bridesmaid Dress with Pockets">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_off-the-shoulder-tea-length-bridesmaid-dress-f19743" data-product-id="10898837">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19743-10898837-Mercury?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Tea-Length Bridesmaid Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_short-one-shoulder-dress-with-satin-sash-vw361260" data-product-id="10445922">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW361260-10445922-Steel%20Blue?$plpproductimgmobile_2up$" alt="Short One Shoulder Dress with Satin Sash">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <hr class="md-hidden lg-hidden">


  <!-- Favorite Lace & Embellished Dresses -->
  <section class="most-loved bv-ratings">
    <div class="most-loved__inner">
      <div class="most-loved__heading">
        <h3 class="serif-m-italic">favorite lace &amp; embellished dresses</h3>
        <p class="sans-bold-uppercase">
          <a href="">View All&nbsp;&gt;</a>
        </p>
      </div>
      <div class="most-loved__flex">
        <div class="column">
          <a href="/Product_open-back-metallic-lace-and-mesh-bridesmaid-dress-f19608m" data-product-id="10876994">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19608M-10876994-Steel Blue Metallic?$plpproductimgmobile_2up$" alt="Open-Back Metallic Lace and Mesh Bridesmaid Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_sequin-v-neck-bridesmaid-dress-with-satin-piping-f19787" data-product-id="10985934">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19787-10985934-Gold?$plpproductimgmobile_2up$" alt="Sequin V-Neck Bridesmaid Dress with Satin Piping">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column mobile-full">
          <a href="/Product_long-bridesmaid-dress-with-lace-bodice-f19328">
            <img src="/wcsstore/images/wwcm/sfg/most-loved-bridesmaid-dresses/UGC_Quote_F19328_767px.jpg" alt="I loved, loved, loved this dress on my girls. All of them looked great, none of them had any issues with their dress. It matched our theme perfectly, and they photograph well. | Devon | F19328">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_lace-and-mesh-long-strapless-dress-f18095" data-product-id="10524798">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F18095-10524798-Wisteria?$plpproductimgmobile_2up$" alt="Lace and Mesh Long Strapless Dress">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/Product_sequin-bodice-bridesmaid-dress-with-chiffon-skirt-vw360345s-vw360345s-30230--1" data-product-id="10892375">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/VW360345S_MIDNIGHT_VW_PROD12_V2_045?$plpproductimgmobile_2up$" alt="Sequin Bodice Bridesmaid Dress with Chiffon Skirt">
            <div class="listing__grid-item-rating">
              <!-- Ratings stars get added here -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>




  <!-- inspiration & guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MostLovedGowns">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MostLovedGowns.jpg" alt="most-loved gowns">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Customer Favorites: Wedding Gowns</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MostLovedGowns">See Top-Rated Styles&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_ColorIdeas.jpg" alt="Wedding Color Inspiration">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Fun with Hues&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MaidOfHonorGuide.jpg" alt="Maid of Honor Guide">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Maid of Honor Guide</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">Duties, Gifts &amp; Styling Tips&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_Curations_weddingparty">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_DBMaids.jpg" alt="DBMaids">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">#DBMaids</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_Curations_weddingparty">See The Gallery&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
