<main role="main" class="content-page">

  <!-- HERO -->
  <section class="container-full">
    <div class="hero">
      <div class="hero__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Hero_Neckline_Jewelry_Guide_767.jpg" alt="Four bridesmaids in mismatched dresses holding champagne glasses">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Hero_Neckline_Jewelry_Guide_1600x615.jpg" alt="Four bridesmaids in mismatched dresses holding champagne glasses">
      </div>

      <div class="hero__copy">
        <h1 class="serif-l"><span class="serif-s-italic">Just Add Sparkle: </span><br>Neckline &amp;<br class="sm-hidden md-hidden"> Jewelry Combos</h1>
        <p class="sans-l">The key to customizing a <span class="nowrap">big-event</span> look? Accessorizing with <span class="nowrap">eye-catching</span> jewelry that perfectly complements the silhouette of your dress. But if you're not sure when to reach for sparkling earrings and when to slip on a statement bangle, use your neckline&mdash;and our helpful suggestions&mdash;as your guide.</p>
      </div>

    </div>
  </section>


  <article class="container">

    <!-- SWEETHEART NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">Sweetheart Neckline</h3>
        <p class="sans-m">Play up the romantic curves of a sweetheart neckline with a short necklace, and adorn bare arms with a bracelet.</p>
        <p class="sans-bold-uppercase">
          <a href="/necklaces">Shop Necklaces&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/bracelets">Shop Bracelets&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Sweetheart-Neckline.gif" alt="Illustration of sweetheart neckline">
        </div>
        <div class="column">
          <a href="/necklaces">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60252NSS-10615540-Rose%20Gold?$plpproductimgmobile_2up$" alt="Pear Stone Necklace">
          </a>
        </div>
        <div class="column">
          <a href="/bracelets">
        		<img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60145B-10822677-Rose%20Gold?$plpproductimgmobile_2up$" alt="Faceted Bold Gem Bracelet">
        	</a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60250E-10498627-Rose%20Gold?$plpproductimgmobile_2up$" alt="Filigree and Crystal Drop Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- V-NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">V-Neckline</h3>
        <p class="sans-m">Keep the V-neckline's flattering plunge prominent by choosing a sparkly bracelet and drop earrings.</p>
        <p class="sans-bold-uppercase">
          <a href="/bracelets">Shop Bracelets&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/V-Neckline.gif" alt="Illustration of a v-neckline">
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-149671EP-11009308-Silver?$plpproductimgmobile_2up$" alt="Laurel Leaf Cubic Zirconia Drop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/bracelets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-100868P-10892567-Silver?$plpproductimgmobile_2up$" alt="Delicate Cubic Zirconia Tennis Bracelet">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-PEARLEARRING-10823563-Ivory?$plpproductimgmobile_2up$" alt="Cubic Zirconia and Pearl Drop Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- ILLUSION NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">Illusion Neckline</h3>
        <p class="sans-m">Opt for dangling earrings and a ring&mdash;a necklace could snag the illusion neckline's delicate fabric.</p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Illusion-Neckline.gif" alt="Illustration of an illusion neckline">
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F2009-10753188-Sapphire?$plpproductimgmobile_2up$" alt="Pear Sapphire Drop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60250E-10498627-Silver?$plpproductimgmobile_2up$" alt="Filigree and Crystal Drop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-51959BDA-10630576-Silver?$plpproductimgmobile_2up$" alt="Faceted Crystal Statement Stud Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- HIGH NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">High Neckline</h3>
        <p class="sans-m">Make statement earrings the focus of a high-neckline look, and complete the ensemble with a bracelet, if you like.</p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/bracelets">Shop Bracelets&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/High-Neckline.gif" alt="Illustration of a high neckline">
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SF10735E-11005022-Rose%20Gold?$plpproductimgmobile_2up$" alt="Crystal Cluster Drop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/bracelets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SL0088-10383013-Gold?$plpproductimgmobile_2up$" alt="Twisted Pave Rhinestone Bracelet">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ME28921-10822523-Silver?$plpproductimgmobile_2up$" alt="Marquise-Cut Cubic Zirconia Drop Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- HALTER NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">Halter Neckline</h3>
        <p class="sans-m">Slip on bold earrings and a dazzling bracelet, since halter necklines typically don't allow for necklaces.</p>
        <p class="sans-bold-uppercase">
          <a href="/bracelets">Shop Bracelets&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Halter-Neckline.gif" alt="Illustration of a halter neckline">
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-AJER30517-10961117-Silver?$plpproductimgmobile_2up$" alt="Cubic Zirconia Leaf Drop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/bracelets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-53621BDA-10630584-Silver?$plpproductimgmobile_2up$" alt="Teardrop and Pave Link Cubic Zirconia Bracelet">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-51579BDA-10630574-Rose%20Gold?$plpproductimgmobile_2up$" alt="Pear Solitaire Pave Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- ONE-SHOULDER NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">One-Shoulder Neckline</h3>
        <p class="sans-m">Focus on the one-shoulder neckline's striking angles by choosing simple earrings and a glitzy bracelet.</p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/bracelets">Shop Bracelets&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/One-Shoulder-Neckline.gif" alt="Illustration of a one-shoulder neckline">
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-20070521-10823087-Silver?$plpproductimgmobile_2up$" alt="Cubic Zirconia Halo Teardrop Earrings">
          </a>
        </div>
        <div class="column">
          <a href="/bracelets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SL0088-10383013-Silver?$plpproductimgmobile_2up$" alt="Twisted Pave Rhinestone Bracelet">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/DV68255_MSILVER_JEWELRY_PROD1_004?$plpproductimgmobile_2up$" alt="Crystal-Traced Hoop Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- OFF-THE-SHOULDER NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">Off-the-Shoulder Neckline</h3>
        <p class="sans-m">Enhance the face-framing potential of an off-the-shoulder neckline with a luminous necklace and brilliant studs.</p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/necklaces">Shop Necklaces&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Off-the-Shoulder-Neckline.gif" alt="Illustration of an off-the-shoulder neckline">
        </div>
        <div class="column">
          <a href="/jewelry-sets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60008S-10822220-Rose%20Gold?$plpproductimgmobile_2up$" alt="Almond Cubic Zirconia Necklace and Earring Set">
          </a>
        </div>
        <div class="column">
          <a href="/necklaces">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60395NX-10752286-Rose%20Gold?$plpproductimgmobile_2up$" alt="Pear-Cut Crystal Choker">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-E310563-10824280-Rose%20Gold?$plpproductimgmobile_2up$" alt="Cubic Zirconia Petals Pear Drop Earrings">
          </a>
        </div>
      </div>
    </section>


    <!-- STRAIGHT NECKLINE -->
    <section class="section">
      <div class="section__heading">
        <h3 class="serif-m-italic">Straight Neckline</h3>
        <p class="sans-m">Highlight the clean profile of a straight neckline with streamlined posts earrings, or go for the ease of a matching jewelry set.</p>
        <p class="sans-bold-uppercase">
          <a href="/earrings">Shop Earrings&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/jewelry-sets">Shop Jewelry Sets&nbsp;&gt;</a>
        </p>
      </div>

      <div class="flex flex__split-2-4">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/neckline-jewelry/Straight-Neckline.gif" alt="Illustration of a straight neckline">
        </div>
        <div class="column">
          <a href="/jewelry-sets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-262S-10892526-Silver?$plpproductimgmobile_2up$" alt="Cubic Zirconia Pave Pearl Necklace and Earring Set">
          </a>
        </div>
        <div class="column">
          <a href="/earrings">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BE02493-10823531-Rose%20Gold?$plpproductimgmobile_2up$" alt="Pear-Shaped Cubic Zirconia Halo Studs">
          </a>
        </div>
        <div class="column">
          <a href="/jewelry-sets">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60008S-10822220-Rose%20Gold?$plpproductimgmobile_2up$" alt="Almond Cubic Zirconia Necklace and Earring Set">
          </a>
        </div>
      </div>
    </section>

  </article>



  <!-- ARTICLE SHARE BAR -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>



  <!-- INSPIRATION & GUIDANCE -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressNeckLinesTypes">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&G_Module_870x617_NecklineGuide_Fall.jpg" alt="Neckline Guide">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Neckline Guide</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressNeckLinesTypes">From Sweetheart to Scoop&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AccYourParty.jpg" alt="Bride with bridesmaids wearing wine dresses and sparkling earrings">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Accessorizing Your Bridal Party</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Shoes, Jewelry &amp; Other Accents&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bestbratypes">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_BraGuide.jpg" alt="Illusion of bra on pink background">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Bra Guide</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bestbratypes">Options for Every Dress&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

          <div class="column mobile-mb-split-1">
          	<div class="media-block default spacing">
          		<a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Shapewear.jpg" alt="Bride in bra and slip getting dressed in her wedding gown">
          		</a>
          		<div class="media-block-content spacing-half">
          			<div class="spacing-half">
          				<span class="media-block-content__title serif-m">Shapewear &amp; More</span>
          			</div>
          			<p class="sans-bold-uppercase">
          				<a class="media-block-content__cta" href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">What Goes Under the Dress&nbsp;&gt;</a>
          			</p>
          		</div>
          	</div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
