<article class="content-page">

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Oleg Cassini Trunk Show&nbsp;&amp;&nbsp;Pre-Sale</h1>

      <div class="two-column">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/oleg-cassini-trunk-show/767_OlegTrunkShow_GIF_2.gif" alt="Gif image of bride sitting on stone; Two bridesmaids in pink leaning against building">
        </div>
        <div class="column">

          <section class="text-box pink">
            <h2 class="serif-s-italic">Trunk Show &amp; Pre-Sale Savings</h2>
            <p class="sans-m">Enjoy $20 off Oleg Cassini bridesmaid dresses &amp;<br>$100 off <a class="inline-link" href="/wedding-dresses/oleg-cassini">Oleg Cassini wedding gowns</a></p>

            <!-- For Before September 22 -->
            <p class="sans-xs" style="margin-top:8px;">Check back September 22 to shop online</p>

            <!-- For September 22 -->
            <div style="margin-top:10px; display:none;">
              <h3 class="serif-s-italic">Can't make it in person?</h3>
              <p class="sans-bold-uppercase">
                <a href="#">Shop The Online Pre-Sale&nbsp;&gt;</a>
              </p>
            </div>

          </section>

          <section class="main-text">
            <p class="sans-m">For four days only, join us for sweet treats and shopping! Be the first to shop the brand new Oleg Cassini bridesmaid collection, and get an exclusive sneak peek at Oleg Cassini's Spring 2018 bridal collection.</p>

            <p class="sans-m-bold">Join us Friday, September 22 - Monday, September 25 at the following locations, or shop online from anywhere!</p>
            <ul>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=New+York&langId=-1&latitude=40.74413&zipCode=10010&longitude=-73.99195&radius=50&catalogId=10051&distance=2.2849260581302198&selectState=NY&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=156&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=new+york%2C+ny">New York, NY</a></li>
              <li><a class="sans-m" href="sView?currentLat=&selectCity=Costa+Mesa&langId=-1&latitude=33.68872&zipCode=92626&longitude=-117.89425&radius=50&catalogId=10051&distance=3.571236961482975&selectState=CA&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=171&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=costa+mesa%2C+ca">Costa Mesa, CA</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Oklahoma+City&langId=-1&latitude=35.61025&zipCode=73134&longitude=-97.54942&radius=50&catalogId=10051&distance=10.025595011619084&selectState=OK&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=232&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=oklahoma+city%2C+ok">Oklahoma City, OK</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Kennesaw&langId=-1&latitude=34.01322&zipCode=30144&longitude=-84.56205&radius=50&catalogId=10051&distance=3.1387543348951956&selectState=GA&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=297&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=kennesaw%2C+ga">Kennesaw, GA</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Tampa&langId=-1&latitude=27.94833&zipCode=33609&longitude=-82.51883&radius=50&catalogId=10051&distance=3.7637469734098516&selectState=FL&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=162&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=tampa%2C+fl">Tampa, FL</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Austin&langId=-1&latitude=30.39000&zipCode=78759&longitude=-97.74500&radius=50&catalogId=10051&distance=8.483365836387254&selectState=TX&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=115&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=austin+north%2C+tx">Austin North, TX</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Schaumburg&langId=-1&latitude=42.05000&zipCode=60173&longitude=-88.06483&radius=50&catalogId=10051&distance=1.4924745305210774&selectState=IL&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=166&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=schaumburg%2C+il">Schaumburg, IL</a></li>
              <li><a class="sans-m" href="/DBIAjaxStoreLocatorDirectionsView?currentLat=&selectCity=Westwood&langId=-1&latitude=42.20287&zipCode=02090&longitude=-71.15389&radius=50&catalogId=10051&distance=3.692017672671899&selectState=MA&currentLong=&ShowBreadCrumbInStoreLocator=true&stLocId=14&pageName=DBIAjaxStoreLocatorDirectionsView&storeId=10052&zipCityInput=westwood%2C+ma">Westwood, MA</a></li>
            </ul>

            <p class="btn btn-secondary">
              <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
            </p>

            <p class="btn btn-secondary" style="margin-left: 0;">
              <a class="sans-bold-uppercase" href="/wedding-dresses/oleg-cassini">Shop Online Pre-Sale</a>
            </p>

            <p class="sans-bold-uppercase" style="display: none;">
              <a href="#">See The Video&nbsp;&gt;</a>
            </p>
          </section>

        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality & Craftsmanship at David's Bridal</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something For Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_appointmentfaq">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&A&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Appointment_planning">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_PlanningForYourAppointment.jpg" alt="Planning Your Appointment">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>

    </aside>
  </section>


  <section class="appointment-banner">
    <div class="appointment-banner__inner">
      <div class="appointment-banner__text">
        <div class="appointment-banner__headline">
          <p class="serif-m-italic">Meet with a stylist</p>
        </div>
        <div class="appointment-banner__subheadline">
          <p class="sans-s">We'd love to help you put together your look, from dress to jewelry.</p>
        </div>
        <div class="appointment-banner__btn">
          <p class="btn btn-secondary">
            <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Make an Appointment</a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="disclaimer">
      <p class="sans-xxs">$20 off Bridesmaids: Offer valid for orders placed September 7, 2017 through 11:59 pm ET on September 27, 2017 at David's Bridal stores in the United States and Puerto Rico and online at davidsbridal.com. Valid on regular price and special value bridesmaid dresses in departments 20, 27, 29, 30, 31, and 36. Excludes Jr. Bridesmaid dresses (Dept 18), clearance, final sale, prior sales and existing layaways. No other discounts apply. Discount taken at register, price as marked online.</p>

      <p class="sans-xxs">$100 off Designers: Offer valid for orders placed September 7, 2017 through 11:59 pm ET on September 27, 2017 at David's Bridal stores in the United States and Puerto Rico and online at davidsbridal.com. Valid on the purchase of regular price White by Vera Wang®, Oleg Cassini®, Melissa Sweet®, Wonder by Jenny Packham®, Truly Zac Posen®, Galina Signature, and Cheers Cynthia Rowley® wedding dresses. Excludes DB Studio®, David's Bridal collection, Galina®, Jewel®, clearance, special value, final sale, prior sales, and existing layaways. No other discounts apply. Discount taken at register in-store; price as marked online. </p>
    </div>
  </section>


  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality & Craftsmanship at David's Bridal</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something For Every Style&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_appointmentfaq">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&A&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Appointment_planning">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_PlanningForYourAppointment.jpg" alt="Planning Your Appointment">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most of It&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingcolorideas">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>

</article>
