<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance &gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">The Wedding Outerwear Guide</h1>
        <p class="sans-l">There are endless (stylish!) ways to cover up for your ceremony or cool-weather vows.</p>
      </section>


      <!-- 1. Capes & Capelets -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:101676797112101115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Capes&">
              <img src="/wcsstore/images/wwcm/sfg/outerwear/OuterwearGuide_767px_Capelets.jpg" alt="Bride wearing pear and crystal chiffon capelet over strapless wedding dress" />
            </a>
          </div>
          <div class="something-blue__flex-col">
            <h3 class="serif-m">1. Capes &amp; Capelets</h3>
            <p class="sans-m">Delicate details and romantic draping add a beautiful layer.</p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:101676797112101115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Capes&">Shop Capes &amp; Capelets&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- 2. Jackets -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <a href="/accessories/jackets-and-wraps">
              <img src="/wcsstore/images/wwcm/sfg/outerwear/OuterwearGuide_767px_Jackets.jpg" alt="Bride wearing mermaid gown with beaded lace 3/4 sleeve jacket" />
            </a>
          </div>
          <div class="something-blue__flex-col">
            <h3 class="serif-m">2. Jackets</h3>
            <p class="sans-m">Get instant sleeves and a one-of-a-kind neckline with a lacy bolero.</p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jackets-and-wraps">Shop Jackets&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- 3. Toppers -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <a href="/accessories/jackets-and-wraps">
              <img src="/wcsstore/images/wwcm/sfg/outerwear/OuterwearGuide_767px_Toppers.jpg" alt="Bride wearing Beaded net cap sleeve topper with wedding dress" />
            </a>
          </div>
          <div class="something-blue__flex-col">
            <h3 class="serif-m">3. Toppers</h3>
            <p class="sans-m">These versatile pieces transform your strapless dress with illusion fabric.</p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jackets-and-wraps">Shop Toppers&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- 4. Faux Fur -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:1016770117114327911711610111411910197114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Fur Outerwear&">
              <img src="/wcsstore/images/wwcm/sfg/outerwear/OuterwearGuide_767px_FauxFur.jpg" alt="Bride wearing white faux fur jacket with satin ribbon" />
            </a>
          </div>
          <div class="something-blue__flex-col">
            <h3 class="serif-m">4. Faux Fur</h3>
            <p class="sans-m">A luxurious shrug is dramatic, regal, and oh-so-cozy.</p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:1016770117114327911711610111411910197114&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Fur Outerwear&">Shop Faux Fur&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

      <!-- 5. Wraps -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:101678711497112115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Wraps&">
              <img src="/wcsstore/images/wwcm/sfg/outerwear/OuterwearGuide_767px_Wraps.jpg" alt="Bride with champagne color sheer wrap around her shoulders" />
            </a>
          </div>
          <div class="something-blue__flex-col">
            <h3 class="serif-m">5. Wraps</h3>
            <p class="sans-m">A silky-sheer wrap gives your look a breath of softness.</p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3002759&storeId=10052&langId=-1#!&facet:101678711497112115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Wraps&">Shop Wraps&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </section>

    </main>




    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_winterweddingdressideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_WinterWeddingDresses_414x284.jpg" alt="Winter Wedding Dresses">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_winterweddingdressideas" class="text-decoration-none">Winter Wedding Dresses</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_winterweddingdressideas">Stay Warm, Look Chic&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_winterweddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingColorsFall.jpg" alt="Wedding Colors by Season">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_winterweddingcolorideas" class="text-decoration-none">Wedding Colors by Season</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_winterweddingcolorideas">Hures for Each Time of Year&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeartoWinterWedding">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_WhatToWearWinterWeddings_414x284.jpg" alt="What to Wear to Winter Weddings">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeartoWinterWedding" class="text-decoration-none">What to Wear to Winter Weddings</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeartoWinterWedding">See Our Cheat Sheet&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_jewelrynecklines">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_jewelrynecklines" class="text-decoration-none">Neckline &amp; Jewelry Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_RealWeddings_realweddings">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_RealWeddings_realweddings" class="text-decoration-none">Real Wedding Stories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>
</article>
