<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
      </p>
    </div>
  </section>

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Getting Started</h1>
      <p class="sans-l">Ready to find your dream dress? Here's what to expect at your 1-hour appointment, plus tips for making the most of it.</p>
      <p class="btn btn-secondary-special">
        <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
      </p>

      <div class="two-column">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/appointment/PlanningYourApt_Hero_767px.jpg" alt="Bride working with bridal consultant in David's Bridal store">
        </div>
        <div class="column">

          <section class="appt-section">
            <p class="serif-s-italic">Before your appointment:</p>
            <p class="sans-m">1. Get inspired by our <a href="/wedding-dress-quiz">Dress Finder quiz</a> and <a href="/Content_RealWeddings_realweddings">real weddings</a>.</p>
            <p class="sans-m">2. Save your favorites on davidsbridal.com and pin top styles to your wedding <a href="http://www.pinterest.com/davidsbridal" target="_blank">Pinterest</a> board.</p>
            <p class="sans-bold-uppercase">
              <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/be-your-own-bride-quiz">Get Your Custom Pinterest Board&nbsp;&gt;</a>
            </p>
            <p class="sans-m">3. <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Book your visit</a> early for the most options (and plenty of time for alterations).</p>
            <p class="sans-bold-uppercase">
              <a href="/Content_StyleandFashionGuide_appointmentfaq">See Our Appointment Q&amp;A&nbsp;&gt;</a>
            </p>
          </section>

          <section class="appt-section">
            <p class="serif-s-italic">During your appointment:</p>
            <p class="sans-m">1. Meet your stylist and share your wedding vision. Not sure yet? No problem! We can help.</p>
            <p class="sans-m">2. Try on dresses with guidance from our expert stylists.</p>
            <p class="sans-m">3. Enhance your silhouette with shapewear and accessorize from veil to shoes.</p>
            <p class="sans-bold-uppercase">
              <a href="/Content_StyleandFashionGuide_shapewearguide">See Our Shapewear Guide&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/Content_StyleandFashionGuide_veilstyleguide">See Our Veil Guide&nbsp;&gt;</a>
            </p>
          </section>

          <section class="appt-section">
            <p class="serif-s-italic">After your appointment:</p>
            <p class="sans-m">1. Invite your party to <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">make an appointment</a>. (Think bridesmaids, moms, and flower girls.)</p>
            <p class="sans-m">2. <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Schedule your alterations</a> so we can tailor your dress to you.</p>
            <p class="sans-bold-uppercase">
              <a href="/Content_StyleandFashionGuide_alterations">See Our Alterations Guide&nbsp;&gt;</a>
            </p>
            <p class="sans-m">3. Write a review to help other brides-to-be, and don't forget to tag your big-day pics <a href="/Content_Curations_bridal">#davidsbridal</a>!</p>
          </section>

        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingvideos">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_LoveStories.jpg" alt="Real Wedding Videos">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingvideos" class="text-decoration-none">Real Wedding Videos</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingthemes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Catalog_onlinecatalog">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_MagazinesAndLookBooks.jpg" alt="Magazines & Look Books">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Catalog_onlinecatalog" class="text-decoration-none">Magazines &amp; Look Books</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Catalog_onlinecatalog">Explore Digital Editions&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/wedding-dress-quiz">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/wedding-dress-quiz" class="text-decoration-none">Wedding Dress Finder</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>



  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">
        <div class="spacing">

          <div class="section-minor-heading">
            <p class="section-minor-heading__heading serif-m-italic" style="color: #333;">More Ways to Save</p>
          </div>


          <div class="layout-split-3 spacing">

            <div class="column mobile-mb-split-1">
             <div class="media-block default spacing">
               <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_ColorInspiration-_-Content-_-MW_shopTuxedos">
                 <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/appointment/MensWearhouse_767px.jpg" alt="Groom and groomsmen in grey suits">
               </a>
               <div class="media-block-content spacing-half">
                 <div class="spacing-half">
                   <span class="media-block-content__title serif-m">Men's Wearhouse</span>
                 </div>
                 <p class="description sans-m">Create an account for a chance to win $500 gift card.</p>
                 <p class="sans-bold-uppercase">
                   <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_menswearhousecolorcoordination?cm_sp=WS_ColorInspiration-_-Content-_-MW_shopTuxedos">Sign Up to Enter&nbsp;&gt;</a>
                 </p>
               </div><!-- media block-content -->
             </div>
            </div>

            <div class="column mobile-mb-split-1">
             <div class="media-block default spacing">
               <a class="media-block-img-wrap" href="/Content_Finance_dbiCreditCard">
                 <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/appointment/DBCC_767px.jpg" alt="Pink David's Bridal Credit Card">
               </a>
               <div class="media-block-content spacing-half">
                 <div class="spacing-half">
                   <span class="media-block-content__title serif-m">David's Bridal Credit Card</span>
                 </div>
                 <p class="description sans-m">Take up to 12 months to pay for big-day purchases.</p>
                 <p class="sans-bold-uppercase">
                   <a class="media-block-content__cta" href="/Content_Finance_dbiCreditCard">Apply Now&nbsp;&gt;</a>
                 </p>
               </div><!-- media block-content -->
             </div>
            </div>

            <div class="column mobile-mb-split-1">
             <div class="media-block default spacing">
               <a class="media-block-img-wrap" href="/Content_SpecialOffers_rewards">
                 <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/appointment/Rewards_767px.jpg" alt="Closeup of winking bride behind bridal bouquet">
               </a>
               <div class="media-block-content spacing-half">
                 <div class="spacing-half">
                   <span class="media-block-content__title serif-m">David's Bridal Rewards</span>
                 </div>
                 <p class="description sans-m">Enjoy up to $1,500 in wedding savings!</p>
                 <p class="sans-bold-uppercase">
                   <a class="media-block-content__cta" href="/Content_SpecialOffers_rewards">Learn More&nbsp;&gt;</a>
                 </p>
               </div><!-- media block-content -->
             </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingvideos">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_LoveStories.jpg" alt="Real Wedding Videos">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingvideos" class="text-decoration-none">Real Wedding Videos</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingthemes">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Catalog_onlinecatalog">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_MagazinesAndLookBooks.jpg" alt="Magazines & Look Books">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Catalog_onlinecatalog" class="text-decoration-none">Magazines &amp; Look Books</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Catalog_onlinecatalog">Explore Digital Editions&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/wedding-dress-quiz">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/DressFinder_InspirationGuidance.jpg" alt="Wedding Dress Finder">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/wedding-dress-quiz" class="text-decoration-none">Wedding Dress Finder</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/wedding-dress-quiz">Take The Quiz&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>


</article>
