<main class="content-page" role="main">

  <!-- hero -->
  <section class="hero">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE &gt;</a>
      </p>
    </div>

    <div class="hero__img">
      <a href="/wedding-dresses/plus-size-wedding-dresses">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuideLP_Hero_767.jpg" alt="Bride wearing one shoulder plus size wedding dress with another bride in background">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuideLP_Hero_1600.jpg" alt="Bride wearing one shoulder plus size wedding dress with another bride in background">
      </a>
    </div>
    <div class="hero__caption right">
      <h1 class="serif-xl">David&rsquo;s Bridal<br>Plus Size Guide</h1>
      <p class="sans-m">We're proud to offer plus size wedding dresses, from classic ball gowns to dramatic mermaids, in sizes 14W to 30W. To create the most flattering styles, our design team uses real customers' measurements and a size 18 fit model. The result is simply gorgeous dresses that fit like a dream.</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/plus-size-wedding-dresses">Shop Plus Size Wedding Dresses&nbsp;&gt;</a>
      </p>
      <p class="sans-bold-uppercase">
        <a href="/extended-plus-size-wedding-dresses">Shop Extended Sizes&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <!-- appointment banner -->
  <section class="appointment-banner">
    <div class="appointment-banner__column">
      <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/location_pin.png" alt="Location Icon">
    </div>
    <div class="appointment-banner__column">
      <p class="serif-m-italic">Try on plus size dresses at any <br class="md-hidden lg-hidden">David&rsquo;s Bridal location.</p>
    </div>
    <div class="appointment-banner__column">
      <p class="btn btn-secondary">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
      </p>
    </div>
    <div class="appointment-banner__column">
      <p class="sans-bold-uppercase">
        <a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">Find a Store&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="our-db-brides">
    <div class="our-db-brides__heading">
      <h3 class="our-db-brides__heading-main serif-m-italic">#DavidsBridal</h3>
      <p class="our-db-brides__heading-cta sans-bold-uppercase">
        <a href="/Content_Curations_bridal">See More <span class="sm-hidden">Inspiration From Real Brides</span>&nbsp;&gt;</a>
      </p>
    </div>
    <div class="our-db-brides__flex">
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuide_UGC_1.jpg" alt="Real plus size bride wearing cathedral veil and holding bouquet">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuide_UGC_2.jpg" alt="Real bride with bridesmaids wearing long wine dresses">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuide_UGC_3.jpg" alt="Real plus size bride with mother and grandmother">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_bridal">
          <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/PlusSizeGuide_UGC_4.jpg" alt="Real plus size bride wearing sleeveless sheath">
        </a>
      </div>
    </div>
  </section>




  <section class="container">
    <!-- <div class="section-heading">
      <h2 class="serif-xxl">Engagement Party</h2>
      <p class="sans-m">It's your first chance to don a little white dress and raise a glass to the good news.</p>
    </div> -->

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/Content_StyleandFashionGuide-styleguidedressguide_index">
              <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_PlusLP_Verticals_Silhouettes.jpg" alt="Bride on a rustic wooden bridge wearing plus size tea-length wedding dress" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>

        <p class="sans-m"><span class="serif-m">Flattering silhouettes:</span> We find that the best wedding dresses for plus sizes are the styles you feel great wearing. Lookig for a place to start? Check out our <a class="inline-link" href="/Content_StyleandFashionGuide-styleguidedressguide_index">silhouette guide</a> for suggestions based on your body type.</p>

      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
              <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_PlusLP_Verticals_ThoughtfulDesign.jpg" alt="Bride taking a spin in a plus size lace wedding gown in front of barn door" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>

        <p class="sans-m"><span class="serif-m">Thoughtful design:</span> Just as important as the beautiful fabrics and hand-beaded embellishments: what's underneath. Our high-quality lining and flexible boning add shape and support for a smooth, flattering finish. Read about our <a class="inline-link" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">quality and craftsmanship</a> to learn how our attention to detail makes a difference.</p>
      </div>
    </div>


    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <img class="img-round" src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_Circle_PlusLP_BM.jpg" alt="Bridesmaid wearing plus size dress in wine with flattering shirred detail" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Our plus size collection includes bridesmaid dresses up to size 30 and looks for every special occasion, available to try on in our <a class="inline-link" href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">300</a> stores around the country.</p>
            <p class="sans-bold-uppercase">
              <a href="/bridesmaid-dresses/plus-size-bridesmaid-dresses">Shop Plus Size Bridesamid Dresses&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/plus-size-party-dresses">Shop Plus Size Party Dresses&nbsp;&gt;</a>
            </p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_oleg-cassini-plus-size-ball-gown-wedding-dress-8cwg748">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8CWG748-10695956-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Plus Size Ball Gown Wedding Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_lace-plus-size-wedding-dress-with-pleated-skirt-8cwg780">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8CWG780-10893008-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Lace Plus Size Wedding Dress with Pleated Skirt">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_crinkle-chiffon-draped-plus-size-wedding-dress-9v3540">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9V3540-10176523-Ivory?$plpproductimgmobile_2up$" alt="Crinkle Chiffon Draped Plus Size Wedding Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_beaded-cap-sleeve-lace-plus-size-wedding-dress-9t9612">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9T9612-6166441-Ivory?$plpproductimgmobile_2up$" alt="Beaded Cap Sleeve Lace Plus Size Wedding Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_lace-and-organza-plus-size-ball-gown-wedding-dress-9wg3830">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3830-10752555-Soft%20White?$plpproductimgmobile_2up$" alt="Lace and Organza Plus Size Ball Gown Wedding Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_plus-size-beaded-trumpet-wedding-dress-9swg723">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9SWG723-10552017-Ivory_Blush?$plpproductimgmobile_2up$" alt="Beaded Trumpet Plus Size Wedding Dress">
        	</a>
        </div>
      </div>
    </div>
  </section>




  <!-- bridal shower -->
  <section class="container">
    <!-- <div class="container section-heading">
      <h2 class="serif-xxl">Bridal Shower</h2>
      <p class="sans-m">A day full of pretty paper and bows calls for a ladylike outfit with all the trimmings.</p>
    </div> -->

    <!-- Reverse -->
    <div class="two-columns reverse md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/SearchDisplay?categoryId=3002595&storeId=10052&langId=-1#!&facet:10164654576105110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,A-Line&">
              <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_PlusLP_Verticals_Aline.jpg" alt="Two real brides wearing plus size wedding dresses walking outdoors" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m"><span class="serif-m">A-line elegance:</span> The surefire shape guaranteed to flatter every body? The always-classic A-line.</p>
        <p class="sans-bold-uppercase">
          <a href="/SearchDisplay?categoryId=3002595&storeId=10052&langId=-1#!&facet:10164654576105110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,A-Line&">Shop A-Line Wedding Dresses&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jackets-and-wraps">
              <img src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_PlusLP_Verticals_Coverage.jpg" alt="Plus size bride wearing lace wedding dress and bridal topper" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div>
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m"><span class="serif-m">A touch of coverage:</span> Capes, wraps, and sleeves can transform a look. Go sheer to let the beauty of your gown&mdash;and your figure!&mdash;shine through.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jackets-and-wraps">Shop Outerwear&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/plus-size-wedding-dresses-with-sleeves">Shop Wedding Dresses With Sleeves&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns reverse shift-up">
      <div class="column">
        <div class="column__img">
          <img class="img-round" src="/wcsstore/images/wwcm/sfg/plus-size-guide/767_Circle_PlusLP_Sash.jpg" alt="Grosgrain ivory bridal sash with beaded embellishment" />
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Add a <a href="/accessories/sashes-and-belts">sash</a> to amp up the glamour and highlight the narrowest point of your body.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_strapless-lace-plus-size-short-wedding-dress-9wg3826">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3826-10756272-Ivory?$plpproductimgmobile_2up$" alt="Strapless Lace Plus Size Short Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_metallic-lace-plus-size-a-line-wedding-dress-8cwg767">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8CWG767-10937387-Blush?$plpproductimgmobile_2up$" alt="Metallic Lace Plus Size A-Line Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_cap-sleeve-lace-plus-size-ball-gown-wedding-dress-8cwg768">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8CWG768-10760228-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Cap Sleeve Lace Plus Size Ball Gown Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_plunging-lace-halter-plus-size-wedding-dress-9wg3844">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3844-10848904-Ivory?$plpproductimgmobile_2up$" alt="Plunging Lace Halter Plus Size Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_lace-sweetheart-plus-size-ball-gown-wedding-dress-9wg3829">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3829-10752798-Ivory?$plpproductimgmobile_2up$" alt="Lace Sweetheart Plus Size Ball Gown Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_scalloped-lace-and-tulle-plus-size-wedding-dress-9wg3850">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3850-10876152-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Scalloped Lace and Tulle Plus Size Wedding Dress">
          </a>
        </div>
      </div>
    </div>
  </section>




  <!-- gigya share bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
      </ul>
    </div>
  </section>




  <!-- inspiration & guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide-styleguidedressguide_index">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SilohouetteGuide.jpg" alt="Chalkboard Illustration of wedding dress silhouettes: sheath, ball gown and mermaid">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Silhouette Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingdressshopping">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FactsAboutWeddingGowns.jpg" alt="Back shot of bride getting dressed in her wedding dress on the big day">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Dress Facts</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything from Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingPlanning.jpg" alt="Tabletop with wedding planning books, laptop, love dish, flowers and tea">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Planning Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">Themes, Advice, To-Do's &amp; More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_RealWeddings">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealWeddingsHub.jpg" alt="Real bride and groom looking at each other and smiling during cheers">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Real Weddings</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_RealWeddings">Galleries, Cute Couples &amp; More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
