<main class="content-page" role="main">

  <!-- Breadcrumbs -->
  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <!-- Page Heading -->
  <section class="container page-heading">
    <h1 class="serif-xl">Donate Your Prom Dress</h1>
    <p class="sans-m">If you've still got last year's look in your closet, why not gift it to another grateful prom girl? To make it easy, we've teamed up with <a href="http://www.beccascloset.org/" target="_blank" class="inline-link">Becca's Closet</a>, a nonprofit that collects prom dresses for teens in need. You can also drop off your dress directly at your <a href="http://www.beccascloset.org/beccas-closet-chapters/" target="_blank" class="inline-link">local Becca's Closet chapter</a>.</p>
    <p class="sans-bold-uppercase">
      <a href="http://www.givebackbox.com/dbi" target="_blank">Get Your Free Shipping Label&nbsp;&gt;</a>
    </p>
    <p class="sans-bold-uppercase">
      <a href="/UserSignupView?storeId=10052&catalogId=10051&roleName=Prom">Enter to Win Your Prom Dress&nbsp;&gt;</a>
    </p>
  </section>


  <!-- Before your appointment -->
  <section class="container">
    <div class="getting-started">

      <div class="getting-started__intro">
        <h3 class="serif-l-italic">How it works</h3>
      </div>

      <div class="getting-started__actions">
        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-label" viewBox="0 0 195 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="label" transform="translate(3.000000, 3.000000)" stroke="#EE3B78">
                  <rect id="Rectangle-path" stroke-width="6" fill="#FFFAF9" fill-rule="nonzero" transform="translate(73.617438, 63.052364) rotate(-23.040000) translate(-73.617438, -63.052364) " x="12.2424383" y="21.662364" width="122.75" height="82.78"></rect>
                  <path d="M23.95,71.16 L69.96,51.59" id="Shape" stroke-width="3" fill="#FFFAF9" fill-rule="nonzero"></path>
                  <path d="M28.64,82.17 L74.65,62.6" id="Shape" stroke-width="3" fill="#FFFAF9" fill-rule="nonzero"></path>
                  <path d="M33.32,93.19 L79.33,73.62" id="Shape" stroke-width="3" fill="#FFFAF9" fill-rule="nonzero"></path>
                  <circle id="Oval" stroke-width="6" fill="#FFFFFF" fill-rule="nonzero" transform="translate(110.432151, 47.379996) rotate(-23.040000) translate(-110.432151, -47.379996) " cx="110.432151" cy="47.3799957" r="7.14"></circle>
                  <path d="M117.01,44.59 C117.01,44.59 137.82,52.73 151.95,29.73 C166.08,6.73 190.33,20.96 190.33,20.96" id="Shape" stroke-width="6"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Print it out</p>
            <p class="sans-m print-it-out-desc"><a class="inline-link" href="http://www.givebackbox.com/dbi" target="_blank">Download</a> and print your free shipping label, selecting either UPS&nbsp;or&nbsp;USPS.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-pack-it" viewBox="0 0 227 182" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="pack-it1" stroke="#F93777" fill-rule="nonzero">
                  <polyline id="Shape" stroke-width="6" fill="#FFFAF9" points="195.8 33.8 116.5 21.2 33 42.8 118.5 140.8 116.5 21.2 119.8 140.8 195.8 33.8"></polyline>
                  <polyline id="Shape" stroke-width="6" fill="#FFFAF9" points="137 62.2 33 43.8 32 147.8 137 177.2 137 62.2 194.8 34.8 195.8 139.2 137 177.2"></polyline>
                  <polygon id="Shape" stroke-width="6" fill="#FFFAF9" points="32 42.8 8 80.5 121 105.5 134.7 63"></polygon>
                  <polygon id="Shape" stroke-width="6" fill="#FFFAF9" points="139 62.3 163 92.7 221.7 59 195.8 33.8"></polygon>
                  <path d="M0.8,16.3 C0.8,16.3 37.4,-11.9 76.9,14.6 L71.7,5.3 C71.7,5.3 69.1,1 69.5,0.7 C69.9,0.4 73.1,3.5 73.1,3.5 C73.1,3.5 80.8,11.7 85.1,18.6 C85.1,18.6 87.1,19.7 77.9,21.6 C72.3,22.7 65.7,23.4 60.7,22.3 C59.2,22 63.3,20.5 67.1,19.6 C70.4,18.8 75.6,18.2 75.6,18.2 C75.6,18.2 37.1,-5.6 0.8,16.3 Z" id="Shape" fill="#F93777"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Pack it up</p>
            <p class="sans-m">Tuck your gently worn long or short prom dress into any box, attach your label, and drop it off with the sender you chose.</p>
          </div>
        </div>

        <div class="column">
          <div class="column__img">
            <svg role="img" class="svg-send-it" viewBox="0 0 177 113" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Send" transform="translate(0.000000, 3.000000)">
                  <polygon id="Shape" stroke="#EE3C78" stroke-width="5" fill="#FFF8F7" fill-rule="nonzero" points="36.9 10.2 170.2 0.4 79.4 103.3 75.4 48.4"></polygon>
                  <path d="M75.4,48.4 L170.2,0.4" id="Shape" stroke="#EE3C78" stroke-width="5"></path>
                  <g id="Group" transform="translate(0.000000, 45.000000)" fill-rule="nonzero" fill="#F93777">
                    <path d="M54,5 L9.4,24.8 C8.1,25.4 6.6,24.8 6,23.5 L6,23.5 C5.4,22.2 6,20.7 7.3,20.1 L52,0.4 C53.3,-0.2 54.8,0.4 55.4,1.7 L55.4,1.7 C55.9,2.9 55.3,4.4 54,5 Z" id="Shape"></path>
                    <path d="M63.6,24.2 L19,44 C17.7,44.6 16.2,44 15.6,42.7 L15.6,42.7 C15,41.4 15.6,39.9 16.9,39.3 L61.5,19.5 C62.8,18.9 64.3,19.5 64.9,20.8 L64.9,20.8 C65.5,22.2 64.9,23.7 63.6,24.2 Z" id="Shape"></path>
                    <path d="M48.6,19.2 L3.9,38.9 C2.6,39.5 1.1,38.9 0.5,37.6 L0.5,37.6 C-0.1,36.3 0.5,34.8 1.8,34.2 L46.4,14.4 C47.7,13.8 49.2,14.4 49.8,15.7 L49.8,15.7 C50.4,17.1 49.8,18.6 48.6,19.2 Z" id="Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="column__text">
            <p class="serif-l">Send it off</p>
            <p class="sans-m">Your donation will arrive at the nearest chapter of Becca's Closet to be gifted to a grateful prom girl.</p>
          </div>
        </div>
      </div>

      <div class="getting-started__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/DonateDressImage_mobile_767px.jpg" alt="Prom goers dancing by fluorescent lights">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/PromDonateDress_desktop.jpg" alt="Prom goers dancing by fluorescent lights">
      </div>

    </div>
  </section>


  <section class="container">
    <div class="partnership-box">
      <h3 class="serif-m-italic">In partnership with</h3>
      <div class="partnership-box__logos">
        <div class="partnership-box__logo">
          <a href="http://www.beccascloset.org/" target="_blank">
          <svg role="img" class="svg-beccas-closet" viewBox="0 0 603 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="bc-logo-w-transparent" fill-rule="nonzero" fill="#FE9BB7">
                <path d="M135.4,228.2 C134.6,227.7 133.8,227.4 132.9,227.1 C132,226.9 131.2,226.7 130.6,226.7 C130,226.7 129.6,226.8 129.2,226.9 C128.9,227 128.6,227.2 128.4,227.5 C128.2,227.8 128,228.1 127.9,228.5 C127.8,228.9 127.7,229.3 127.5,229.7 C127.1,231.3 126.5,233 125.8,234.9 C125.1,236.7 124.2,238.5 123.1,240 C122,241.6 120.7,242.9 119.2,243.9 C117.7,244.9 116,245.4 114,245.4 C112.1,245.4 110.4,244.8 108.8,243.7 C107.3,242.6 105.9,241 104.7,239.1 C103.5,237.2 102.4,235 101.5,232.4 C100.6,229.8 99.8,227.2 99.1,224.4 C98.4,221.6 97.9,218.8 97.4,215.9 C96.9,213 96.6,210.3 96.3,207.7 C96,205.1 95.9,202.7 95.8,200.6 C95.7,198.4 95.6,196.7 95.6,195.3 C95.6,191.2 96,187.2 96.8,183.2 C97.6,179.2 98.9,175.4 100.8,171.8 C101.5,170.5 102.4,169.3 103.3,168 C104.2,166.7 105.3,165.6 106.4,164.6 C107.6,163.6 108.8,162.8 110.2,162.2 C111.6,161.6 113.1,161.3 114.7,161.3 C116.3,161.3 117.5,161.6 118.5,162.1 C119.4,162.6 120.1,163.3 120.7,164.2 C121.2,165 121.7,165.9 122.1,166.9 C122.5,167.9 123,168.7 123.6,169.6 C124.2,170.4 125,171.1 125.9,171.7 C126.8,172.2 128.1,172.5 129.8,172.5 C130.7,172.5 131.3,172.3 131.7,171.9 C132.1,171.5 132.2,170.9 132.2,170.1 C132.2,167.6 131.7,165.4 130.8,163.4 C129.9,161.4 128.6,159.7 127,158.3 C125.4,156.9 123.5,155.8 121.4,155 C119.3,154.2 117,153.8 114.6,153.8 C113.4,153.8 112.2,153.9 111,154 C109.8,154.2 108.7,154.4 107.6,154.9 C104.6,155.9 102,157.3 99.7,159.1 C97.4,160.9 95.5,162.9 93.9,165.2 C92.3,167.5 90.9,170 89.8,172.7 C88.7,175.4 87.8,178.2 87.2,181.1 C86.6,184 86.1,186.9 85.9,189.9 C85.6,192.9 85.5,195.7 85.5,198.5 C85.5,203.2 85.8,208 86.4,212.7 C87,217.4 87.8,222.1 88.9,226.8 C89.6,230 90.6,233.3 91.9,236.5 C93.2,239.7 94.8,242.7 96.7,245.3 C98.7,247.9 101,250.1 103.8,251.7 C106.6,253.3 109.9,254.2 113.8,254.2 C116.7,254.2 119.4,253.7 121.8,252.8 C124.2,251.9 126.4,250.6 128.3,249 C130.2,247.4 131.9,245.5 133.4,243.3 C134.9,241.1 136.1,238.7 137.1,236.1 C137.3,235.5 137.5,234.8 137.7,234.2 C137.9,233.5 138,232.9 138,232.2 C138,231.4 137.7,230.7 137.2,230.1 C136.9,229.2 136.2,228.6 135.4,228.2 Z" id="Shape"></path>
                <path d="M187.9,238.3 C187.4,237.7 186.7,237.2 186.1,236.8 C185.4,236.4 184.8,236.2 184.2,236.2 C183.5,236.2 182.9,236.4 182.5,236.8 C182,237.2 181.6,237.7 181.2,238.1 C180.3,238.9 179,239.7 177.4,240.4 C175.8,241.1 174.1,241.8 172.3,242.3 C170.5,242.9 168.7,243.3 166.9,243.7 C165.1,244.1 163.6,244.3 162.4,244.3 C162.3,242.9 162.2,241.6 162.2,240.2 C162.2,238.8 162.2,237.5 162.2,236.1 C162.2,224 162.1,211.9 162,200 C161.9,188.1 161.7,176 161.5,163.9 C161.5,162.9 161.5,162 161.5,161.1 C161.5,160.2 161.4,159.3 161.2,158.5 C161,157.8 160.6,157.2 160.1,156.7 C159.6,156.2 159.1,155.7 158.5,155.4 C157.9,155 157.2,154.8 156.5,154.6 C155.8,154.4 155.1,154.3 154.5,154.3 C153.9,154.3 153.4,154.5 153,154.8 C152.6,155.2 152.4,155.6 152.2,156.1 C152,156.6 151.9,157.2 151.9,157.8 C151.9,158.4 151.8,159 151.8,159.4 C151.8,161.3 151.8,163.2 151.9,165.1 C152,167 152,168.9 152,170.8 C152,183.1 152,195.2 151.9,207.3 C151.8,219.4 151.8,231.5 151.8,243.7 C151.8,245.4 152.1,246.8 152.6,248 C153.1,249.2 153.9,250.2 154.8,250.9 C155.8,251.7 156.9,252.2 158.2,252.6 C159.5,253 160.9,253.1 162.5,253.1 C163.3,253.1 164.6,253 166.3,252.7 C168,252.4 169.8,252.1 171.9,251.6 C173.9,251.1 176,250.6 178.1,249.9 C180.2,249.2 182.2,248.5 183.9,247.7 C185.7,246.9 187.1,246 188.2,245.1 C189.3,244.1 189.9,243.1 189.9,242.1 C189.9,241.5 189.7,240.9 189.4,240.2 C188.9,239.6 188.4,238.9 187.9,238.3 Z" id="Shape"></path>
                <path d="M241.7,181.5 C241.2,178.1 240.5,174.8 239.5,171.6 C238.5,168.4 237.3,165.5 235.7,162.9 C234.1,160.3 232.1,158.3 229.7,156.7 C227.3,155.1 224.4,154.3 221.1,154.3 C220,154.3 218.9,154.4 217.9,154.6 C216.8,154.8 215.8,155.2 214.9,155.8 C214.6,155.4 214.3,155.1 213.9,154.9 C213.5,154.7 213.1,154.6 212.7,154.6 C212.3,154.6 211.9,154.7 211.4,155 C211,155.3 210.5,155.5 210.1,155.9 C209.7,156.2 209.3,156.6 209,157 C208.7,157.4 208.4,157.7 208.1,158 C205.9,160.7 204,163.7 202.6,167.1 C201.2,170.5 200.1,174 199.2,177.6 C198.3,181.2 197.8,184.9 197.5,188.6 C197.2,192.3 197.1,195.8 197.1,199.2 C197.1,201.2 197.2,203.5 197.3,206.2 C197.4,208.9 197.7,211.7 197.9,214.6 C198.2,217.6 198.6,220.6 199.1,223.6 C199.6,226.7 200.2,229.6 200.9,232.4 C201.6,235.2 202.4,237.8 203.4,240.2 C204.3,242.6 205.4,244.6 206.6,246.3 C208.1,248.4 210,250 212.1,251.3 C214.3,252.6 216.7,253.2 219.4,253.2 C222.1,253.2 224.5,252.6 226.6,251.5 C228.7,250.4 230.5,248.9 232.1,247 C233.7,245.1 235.1,242.9 236.2,240.3 C237.3,237.7 238.3,235 239.1,232.2 C239.9,229.3 240.5,226.4 241,223.4 C241.5,220.4 241.8,217.4 242.1,214.6 C242.3,211.7 242.5,209 242.6,206.5 C242.7,204 242.7,201.7 242.7,199.8 C242.7,197.4 242.6,194.6 242.5,191.5 C242.5,188.1 242.2,184.9 241.7,181.5 Z M232.1,208.8 C232,211.1 231.8,213.6 231.6,216.2 C231.4,218.8 231,221.4 230.6,224.1 C230.1,226.8 229.6,229.3 228.9,231.7 C228.2,234.1 227.4,236.3 226.4,238.3 C225.4,240.3 224.2,241.9 222.8,243.2 C222.3,243.6 221.8,244 221.2,244.4 C220.7,244.8 220,245 219.4,245 C218.2,245 217.1,244.4 216,243.2 C215,242 214.1,240.4 213.3,238.4 C212.5,236.4 211.8,234.1 211.1,231.6 C210.5,229 209.9,226.3 209.5,223.5 C209,220.7 208.7,217.9 208.3,215.1 C208,212.3 207.7,209.6 207.5,207.2 C207.3,204.7 207.2,202.5 207.1,200.6 C207,198.7 207,197.2 207,196.3 C207,193.2 207.1,190 207.4,187 C207.7,183.9 208.2,180.8 209,177.7 C209.7,178 210.4,178.1 211.2,178.1 C211.5,178.1 211.8,178.1 212.1,178.1 C212.4,178.1 212.6,178 212.7,177.9 C213.1,177.5 213.5,176.9 213.9,176.1 C214.3,175.2 214.7,174.3 215.1,173.2 C215.5,172.1 215.9,171 216.3,169.8 C216.7,168.6 217.2,167.5 217.7,166.5 C218.2,165.5 218.7,164.7 219.3,164 C219.8,163.4 220.5,163 221.1,163 C222.8,163 224.2,163.8 225.4,165.4 C226.6,167 227.6,169.1 228.4,171.6 C229.2,174.1 229.9,176.9 230.3,180 C230.8,183.1 231.2,186.1 231.4,189.1 C231.7,192 231.8,194.7 231.9,197.2 C232,199.6 232,201.5 232,202.6 C232.2,204.4 232.2,206.5 232.1,208.8 Z" id="Shape"></path>
                <path d="M295.5,211.8 C294,208.9 292.2,206.1 290.3,203.4 C288.4,200.7 286.4,198.1 284.3,195.5 C282.2,192.9 280.3,190.5 278.3,188.1 C276.4,185.7 274.6,183.4 273.1,181.1 C271.6,178.8 270.3,176.6 269.4,174.4 C268.5,172.2 268,170.1 268,168 C268,166.5 268.3,165.2 268.8,164.2 C269.3,163.2 270,162.3 270.9,161.7 C271.8,161.1 272.8,160.6 274,160.3 C275.2,160 276.5,159.9 277.8,159.9 C279.7,159.9 281.2,160.2 282.4,160.7 C283.6,161.2 284.5,161.9 285.3,162.8 C286,163.7 286.6,164.8 286.9,166.2 C287.3,167.5 287.6,169 287.8,170.6 C287.9,171.5 288,172.2 288.1,172.8 C288.2,173.4 288.4,173.9 288.7,174.4 C289,174.9 289.3,175.3 289.8,175.7 C290.3,176.1 290.9,176.5 291.7,176.9 C292.6,177.4 293.5,177.6 294.4,177.6 C295,177.6 295.5,177.4 295.9,176.9 C296.3,176.4 296.5,175.9 296.7,175.2 C296.9,174.5 297,173.9 297,173.2 C297,172.5 297.1,171.9 297.1,171.5 C297.1,168.4 296.7,165.7 295.8,163.3 C294.9,160.9 293.6,158.9 291.9,157.2 C290.2,155.6 288.2,154.3 285.7,153.4 C283.3,152.5 280.5,152.1 277.5,152.1 C275,152.1 272.6,152.4 270.2,153 C267.9,153.6 265.8,154.6 263.9,155.9 C262.1,157.2 260.6,158.9 259.5,160.9 C258.4,162.9 257.8,165.3 257.8,168.1 C257.8,171.5 258.6,174.9 260.2,178.2 C261.8,181.5 263.7,184.8 266.1,188 C268.5,191.3 271,194.6 273.8,197.9 C276.6,201.2 279.2,204.6 281.5,208.1 C283.9,211.5 285.8,215.1 287.4,218.7 C289,222.3 289.8,226 289.8,229.8 C289.8,231.8 289.6,233.8 289.1,235.8 C288.6,237.8 287.9,239.7 286.8,241.3 C285.7,242.9 284.4,244.3 282.8,245.3 C281.2,246.3 279.2,246.9 276.9,246.9 C273.7,246.9 270.6,245.9 268.9,243.9 C267.2,241.9 265.7,239.4 265.7,236.2 L265.7,232.2 C265.7,231.4 266.1,230.6 265.5,229.9 C265,229.2 264.6,228.6 263.9,228.1 C263.1,227.6 262.4,227.2 261.6,226.9 C260.7,226.6 260,226.5 259.3,226.5 C258.4,226.5 257.7,226.8 257.3,227.4 C256.8,228 256.5,228.8 256.2,229.7 C255.9,230.6 255.8,231.5 255.8,232.5 C255.8,233.5 255.7,234.3 255.7,234.9 C255.7,238 256.2,240.9 257.3,243.4 C258.4,246 259.9,248.1 261.8,249.9 C263.7,251.7 266,253.1 268.6,254 C271.2,255 274.1,255.5 277.2,255.5 C280.7,255.5 283.9,254.8 286.8,253.5 C289.7,252.2 292.1,250.4 294.2,248.1 C296.2,245.8 297.8,243.2 298.9,240.2 C300,237.2 300.5,234 300.5,230.6 C300.5,227.3 300,224 299.1,220.9 C298.3,217.8 297.1,214.7 295.5,211.8 Z" id="Shape"></path>
                <path d="M360.6,233.3 C360.1,232.7 359.5,232.2 358.9,231.8 C358.3,231.4 357.6,231.2 356.9,231.2 C356.2,231.2 355.6,231.4 355.1,231.8 C354.6,232.2 354.1,232.7 353.6,233.1 C352.4,234.3 351,235.5 349.4,236.7 C347.8,237.9 346.1,239.1 344.3,240.1 C342.5,241.1 340.7,242 338.8,242.6 C336.9,243.3 335.2,243.6 333.5,243.6 C332.5,243.6 331.6,243.5 331,243.2 C330.4,242.9 329.8,242.3 329.3,241.3 C329.1,240.7 328.8,239.6 328.6,237.9 C328.4,236.2 328.2,234.2 328,232 C327.8,229.7 327.6,227.3 327.5,224.8 C327.3,222.2 327.2,219.8 327.1,217.4 C327,215 326.9,212.9 326.8,210.9 C326.7,209 326.6,207.5 326.6,206.6 C328.5,206.5 330.3,206.4 332.2,206.4 C334,206.4 335.9,206.3 337.8,206.2 C338.5,206.2 339.4,206.1 340.4,206.1 C341.4,206.1 342.3,206 343.2,205.9 C344.1,205.7 344.9,205.5 345.7,205 C346.4,204.6 347,203.9 347.3,203 C347.5,202.5 347.7,201.9 347.7,201.4 C347.8,200.9 347.8,200.3 347.8,199.6 C347.8,198.7 347.6,198 347.2,197.5 C346.8,197 346.1,196.7 345.2,196.7 C344.8,196.7 344.5,196.7 344.1,196.8 C343.8,196.8 343.4,196.9 343,196.9 C340.2,197.3 337.4,197.7 334.6,198 C331.8,198.3 329,198.6 326.2,198.8 C326,193.8 325.7,188.9 325.5,184.1 C325.2,179.3 325.1,174.4 325.1,169.4 C325.1,168.6 325.1,167.9 325.2,167.1 C325.3,166.4 325.5,165.8 325.7,165.1 C326.6,165 327.5,165.1 328.4,165.1 C329.3,165.1 330.2,165.1 331.1,165.1 L340,165.1 C341,165.1 342.4,165 344,165 C345.6,165 347.2,164.8 348.7,164.6 C350.2,164.3 351.5,163.8 352.6,163 C353.7,162.2 354.2,161 354.2,159.3 C354.2,158.6 354,158.2 353.6,158 C353.2,157.8 352.7,157.6 352.2,157.6 C351.3,157.4 350.4,157.3 349.5,157.4 C348.6,157.5 347.7,157.5 346.8,157.5 C343.8,157.5 340.8,157.5 337.8,157.4 C334.8,157.4 331.8,157.3 328.9,157.3 C325.9,157.3 323.6,157.6 321.8,158.1 C320,158.6 318.6,159.5 317.7,160.8 C316.7,162 316.1,163.6 315.8,165.5 C315.5,167.4 315.3,169.7 315.3,172.5 C315.3,174.1 315.3,175.7 315.4,177.3 C315.4,178.9 315.5,180.5 315.6,182.1 C316,196.1 316.6,210 317.2,224 C317.2,225.4 317.3,226.9 317.4,228.7 C317.5,230.5 317.6,232.2 317.7,234.1 C317.8,235.9 318,237.7 318.2,239.4 C318.4,241.1 318.7,242.5 319.2,243.8 C319.7,245.4 320.5,246.7 321.5,247.8 C322.5,248.9 323.6,249.8 324.9,250.5 C326.2,251.2 327.6,251.7 329,252.1 C330.5,252.4 332,252.6 333.5,252.6 L334.6,252.5 C336.5,252.5 338.3,252.3 340,252 C341.7,251.6 343.4,251.1 345,250.5 C346.6,249.9 348.2,249.1 349.7,248.2 C351.2,247.3 352.8,246.4 354.3,245.4 C354.9,245 355.6,244.6 356.6,244 C357.5,243.4 358.4,242.8 359.3,242.1 C360.2,241.4 360.9,240.7 361.5,240 C362.1,239.3 362.4,238.5 362.4,237.7 C362.4,237.1 362.3,236.4 362,235.7 C361.5,234.5 361.1,233.9 360.6,233.3 Z" id="Shape"></path>
                <path d="M414.2,155.6 C413.8,155.4 413.4,155.3 412.9,155.2 C412.4,155.2 411.9,155.1 411.4,155.1 C410.3,155.1 409.2,155.2 408.1,155.3 C407,155.5 405.9,155.6 404.8,155.7 L393.4,156.9 C392.8,156 391.9,155.3 390.7,154.8 C389.6,154.3 388.4,154 387.3,154 C386.7,154 386.3,154.1 385.9,154.3 C385.6,154.5 385.3,154.8 385.2,155.2 C385,155.5 384.9,155.9 384.9,156.4 C384.9,156.8 384.8,157.3 384.8,157.7 C382.4,158 380,158.2 377.6,158.3 C375.2,158.5 372.8,158.8 370.5,159.3 C369,159.7 367.8,160.3 366.7,161.2 C365.6,162.1 365.1,163.3 365.1,164.9 C365.1,165.6 365.3,166.1 365.7,166.4 C366.1,166.7 366.7,166.9 367.4,166.9 C370.3,166.9 373.1,166.8 376,166.5 C378.8,166.2 381.7,166 384.5,165.7 C384.5,169.6 384.5,173.4 384.4,177.1 C384.4,180.8 384.3,184.6 384.3,188.4 C384.3,195.3 384.5,202.2 384.8,209.1 C385.2,216 385.6,222.9 386.2,229.8 C386.4,233 386.6,236.3 386.8,239.5 C387,242.7 387.3,246 387.8,249.2 C387.9,250.2 388.1,250.9 388.4,251.5 C388.6,252.1 389.2,252.6 390.1,253.2 C390.8,253.6 391.7,253.9 392.9,254.1 C394.1,254.3 395.1,254.4 395.9,254.4 C396.9,254.4 397.8,254.1 398.3,253.6 C398.9,253.1 399.2,252.3 399.2,251.2 C399.2,250.5 399.1,249.8 399,249.1 C398.8,248.4 398.7,247.7 398.6,247 C397,235.6 395.6,224.1 394.9,212.7 C394.2,201.3 393.6,189.8 393.6,178.3 L393.6,164.8 C395.6,164.7 399.1,164.6 401.7,164.6 C404.4,164.6 407.1,164.3 409.6,163.7 C411.2,163.3 412.5,162.6 413.5,161.6 C414.4,160.6 414.9,159.2 414.9,157.6 C414.9,157 414.8,156.4 414.6,156.1 C414.8,156.1 414.5,155.8 414.2,155.6 Z" id="Shape"></path>
                <path d="M90,103.5 C89.2,100.3 87.9,97.1 86.2,94 C84.4,90.9 82.2,88 79.5,85.3 C76.8,82.6 73.8,80.3 70.3,78.3 C74.6,75.3 78.6,72 82.2,68.4 C85.8,64.8 88.9,61 91.6,57.2 C94.3,53.4 96.4,49.5 98,45.5 C99.6,41.5 100.6,37.7 100.9,34.1 C101.2,29.9 100.7,25.9 99.4,22.1 C98.1,18.3 95.9,15 92.8,12.2 C89.7,9.4 85.8,7.1 81,5.4 C76.2,3.7 70.6,2.9 64.1,2.9 C62.5,2.9 61,3 59.6,3.1 C58.2,3.2 56.6,3.4 55.1,3.6 C54.3,2.6 52.7,1.8 50.3,1.3 C49.2,1.1 48.1,0.9 47.1,0.8 C46.1,0.7 45.2,0.8 44.3,1.1 C43.4,1.4 42.5,2.1 41.7,3.1 C40.9,4.1 40.1,5.6 39.4,7.4 C36.2,8.6 32.8,10 29.3,11.6 C25.8,13.2 22.2,15.1 18.5,17.3 C17.8,18.5 17.4,19.8 17.2,21.1 C17,22.4 17,23.5 17.1,24.5 C17.2,25.7 17.4,26.9 17.6,28 C18.3,30.2 19.4,31.6 21,32.1 C22.6,32.6 24.3,32.1 25.9,30.5 C27.5,29.1 29,27.7 30.5,26.5 C32,25.3 33.5,24.1 35.1,23 C34.2,26.2 32.8,31.2 30.9,38 C29,44.7 26.9,52.3 24.6,60.6 C22.3,69 19.8,77.6 17.3,86.5 C14.8,95.4 12.5,103.7 10.4,111.3 C8.3,118.9 6.5,125.4 5,130.7 C3.5,136 2.6,139.1 2.4,140.1 C2,141.8 1.6,143.1 1.3,144 C1,144.9 0.8,145.7 0.7,146.3 C0.6,146.9 0.5,147.4 0.5,147.9 C0.5,148.4 0.6,149.1 0.7,150 C0.8,151.6 1.2,152.8 1.8,153.6 C2.4,154.4 3.2,155.1 4.2,155.7 C4.8,156 5.7,156.5 7.1,157 C8.5,157.5 10.2,158 12.2,158.6 C14.2,159.2 16.5,159.6 19,160 C21.5,160.4 24.2,160.6 27.1,160.6 C34.9,160.6 42.5,159.5 49.8,157.4 C57.2,155.3 63.8,152.2 69.6,148.1 C75.4,144 80.3,139.1 84.1,133.1 C87.9,127.2 90.1,120.5 90.8,113.1 C91.1,109.9 90.8,106.7 90,103.5 Z M34.8,75.3 C35.1,74.2 35.3,73.1 35.6,72 C37,66.2 38.6,60.5 40.3,54.8 C42,49.1 43.6,43.7 45.1,38.6 C46.6,33.5 48,28.8 49.4,24.5 C50.7,20.2 51.8,16.6 52.7,13.7 C57,12.3 61.2,11.5 65.2,11.5 C71.2,11.5 75.9,13.4 79.2,17.1 C82.5,20.8 83.8,26.5 83.1,34.2 C82.8,37.4 81.9,40.9 80.5,44.7 C79.1,48.5 77.3,52.2 75.2,55.8 C73,59.4 70.5,62.8 67.6,66 C64.7,69.2 61.7,71.8 58.6,73.8 C57.3,73.6 55.9,73.4 54.4,73.2 C53,73 51.4,72.9 49.9,72.9 C47,72.9 44,73.5 40.8,74.7 C37.6,75.9 35.4,77.3 34,78.7 C34.2,77.6 34.5,76.4 34.8,75.3 Z M73.8,107.4 C73.2,114.1 71.5,120.1 68.5,125.5 C65.5,130.9 61.9,135.5 57.6,139.3 C53.3,143.1 48.5,146 43.3,148.1 C38.1,150.2 33,151.2 28,151.2 C26.6,151.2 25.2,151.1 24,150.9 C22.9,150.7 21.8,150.5 20.7,150.2 C19.6,150 18.7,149.6 18,149 C19.9,140 21.7,131.5 23.3,123.5 C25,115.5 26.5,108.5 28,102.5 C29.6,95.5 31.1,89 32.7,83 C32.8,84 33.1,85.1 33.7,86.2 C34.3,87.3 35,88.3 36,89.1 C37,89.9 38.2,90.5 39.7,90.9 C41.1,91.3 42.9,91.2 44.9,90.6 C51,88.7 56.6,86.4 61.8,83.6 C63.5,84.7 65.1,86 66.6,87.5 C68.1,89 69.4,90.7 70.6,92.7 C71.8,94.7 72.7,96.8 73.3,99.2 C73.8,101.6 74,104.3 73.8,107.4 Z" id="Shape"></path>
                <path d="M330.8,113.4 C330.7,116.4 330.9,118.9 331.4,120.9 C331.9,122.9 332.4,124.5 333,125.7 C333.7,127.1 334.5,128.3 335.5,129 C336.5,129.7 337.7,130.1 339,130.4 C340.3,130.7 341.8,130.8 343.3,130.7 C344.8,130.6 346.3,130.3 347.7,129.9 C349.1,129.5 350.4,128.9 351.5,128.2 C353.2,127.1 355.3,125.2 357.8,122.4 C360.3,119.7 362.9,116.7 365.5,113.4 C368.1,110.1 370.7,106.8 373.1,103.5 C375.5,100.2 377.6,97.5 379.1,95.2 C379.4,94.8 379.6,94.5 379.8,94.2 C380.8,92.9 381.9,91.5 383,90 C384.6,87.8 386.1,85.7 387.5,83.7 C388.9,81.7 389.9,80.2 390.4,79.4 C390.6,79.8 390.9,80.7 391.3,81.8 C391.7,83 392.1,84.2 392.6,85.4 C393,86.8 393.6,88.4 394.3,90.1 C395.1,92.3 396,94.8 397.1,97.5 C398.2,100.2 399.2,102.8 400.2,105.4 C401.1,108 401.8,110.5 402.3,112.8 C402.7,115.1 402.7,116.8 402.3,118.1 C401.9,119.3 401.2,120.3 400.2,121.1 C399.3,121.9 398.3,122.5 397.2,122.9 C396.1,123.3 395.1,123.6 394,123.6 C392.9,123.6 392.1,123.4 391.4,122.9 C390.8,122.5 390.2,121.6 389.6,120.4 C389,119.3 388.3,117.8 387.4,115.8 C386.5,113.9 385.5,111.2 384.4,107.7 C383.1,108.1 381.9,108.5 380.9,108.9 C379.9,109.2 379.1,109.6 378.6,109.9 C377.9,110.3 377.4,110.7 376.9,111.1 C375.8,112.1 375,113 374.4,113.8 C373.8,114.6 373.2,115.6 372.6,117 C372,118 372.1,119.5 372.9,121.3 C373.6,123.2 374.7,125.1 376.2,127.1 C377.7,129 379.5,130.7 381.7,132.2 C383.9,133.6 386.1,134.4 388.5,134.4 C391.8,134.4 395,133.5 398.1,131.7 C401.2,129.9 403.9,127.8 406.3,125.3 C408.7,122.8 410.7,120.2 412.3,117.5 C413.9,114.8 414.9,112.5 415.2,110.7 C415.4,109.5 415.3,108 414.7,106.2 C414.1,104.4 413.4,102.5 412.5,100.4 C411.6,98.3 410.6,96.3 409.5,94.1 C408.4,92 407.3,89.9 406.3,87.9 C405.5,86.3 404.8,84.6 404.1,82.7 C403.5,81.1 403,79.3 402.3,77.2 C401.7,75.1 401.2,72.7 400.9,70.2 C402.6,68.2 403.9,66.6 404.7,65.3 C405.6,64 406.3,62.9 406.7,62 C407.1,61.1 407.5,60.4 407.7,59.8 C407.9,58.7 407.6,57.6 406.7,56.5 C405.8,55.4 404.6,54.5 403.2,53.6 C401.4,52.7 399.4,52.7 397.2,53.5 C395,54.3 392.8,55.6 390.7,57.3 C388.6,59 386.7,60.8 385.2,62.9 C383.6,65 382.6,66.8 382.2,68.3 C381.6,70.2 381.8,71.9 382.6,73.3 C383.4,74.7 383.7,75.9 383.5,76.8 C383.4,77.1 382.8,78.1 381.7,79.7 C380.6,81.3 379.4,83.2 378,85.2 C376.7,87.3 375.3,89.3 374,91.2 C372.7,93.2 371.7,94.6 371,95.5 C370.8,95.8 370.7,96.1 370.5,96.3 C369.8,97.3 369,98.3 368.2,99.3 C366.3,101.8 364.3,104.3 362.1,106.9 C359.9,109.5 357.8,111.9 355.8,114.1 C353.8,116.3 351.9,118.1 350.1,119.4 C348.3,120.8 346.9,121.5 345.8,121.5 C344.5,121.5 343.4,121.2 342.7,120.6 C342,120 341.4,119.2 341.1,118.2 C340.8,117.2 340.6,116.1 340.5,114.9 C340.4,113.7 340.5,112.6 340.6,111.6 C340.9,109.9 341.2,108.5 341.4,107.4 C341.6,106.3 341.8,105.3 342,104.5 C342.2,103.7 342.3,102.8 342.5,102 C342.7,101.2 342.9,100.2 343.1,99.2 C344.2,94.1 345.1,89.9 345.8,86.7 C346.5,83.5 347,80.9 347.3,79 C347.6,77.1 347.8,75.8 347.8,75.1 C347.8,74.4 347.7,73.9 347.6,73.7 C347.4,73.6 346.9,73.5 346.3,73.5 C345.7,73.5 344.9,73.6 343.9,73.7 C342.8,73.8 341.5,74 340,74.4 C342.3,70.8 343.3,68 342.8,65.8 C342.3,63.6 341.3,62 339.7,60.9 C337.8,59.7 335.4,58.8 332.3,58.2 C329.7,58 326.5,58.9 322.6,60.9 C318.7,62.9 314.7,65.9 310.7,69.8 C306.7,73.8 303,78.5 299.6,84.1 C296.8,88.6 294.7,93.6 293.1,99 C290.1,102.5 286.8,105.9 283.2,109.2 C279.2,112.9 275.2,116.1 271,118.8 C266.8,121.5 263,122.9 259.6,122.9 C257.7,122.9 255.8,122.6 253.8,122.1 C251.8,121.5 250,120.6 248.3,119.3 C246.6,118 245.2,116.1 244.1,113.8 C243,111.5 242.5,108.5 242.6,104.8 C242.7,98.5 243.8,92.9 245.9,88.1 C248,83.3 250.4,79.3 253.2,76.2 C255.9,73 258.6,70.6 261.2,69 C263.8,67.4 265.6,66.6 266.6,66.6 C267.6,66.6 268.3,66.9 268.8,67.4 C269.2,68 269.5,68.6 269.5,69.4 C269.5,70.2 269.3,70.9 268.9,71.6 C268.5,72.3 268,72.8 267.3,73.1 C266.4,73.5 265.6,73.9 265,74.3 C264.3,74.6 263.7,75.2 263.2,76 C263,76.4 262.8,77.3 262.6,78.7 C262.4,80 262.4,81.4 262.6,82.8 C262.8,84.2 263.2,85.4 263.9,86.5 C264.6,87.6 265.7,88.1 267.2,88.1 C269,88.1 270.6,87.7 272.1,86.8 C273.6,85.9 274.9,84.7 276,83.2 C277.1,81.7 278,80 278.7,78 C279.4,76.1 279.7,74.1 279.7,72.1 C279.8,67.9 278.6,64.5 276.1,62.1 C273.6,59.7 270.6,58.4 267,58.4 C260.7,58.4 255.1,60.1 250.5,63.5 C245.8,66.9 242,71 238.9,75.7 C235.8,80.4 233.5,85.4 232,90.5 C230.8,94.5 230.1,97.9 229.8,100.9 C227.1,103.8 224.3,106.7 221.2,109.6 C217.2,113.3 213.2,116.5 209,119.2 C204.8,121.9 201,123.3 197.6,123.3 C195.7,123.3 193.8,123 191.8,122.5 C189.8,121.9 188,121 186.3,119.7 C184.6,118.4 183.2,116.5 182.1,114.2 C181,111.9 180.5,108.9 180.6,105.2 C180.7,98.9 181.8,93.3 183.9,88.5 C186,83.7 188.4,79.7 191.2,76.6 C193.9,73.4 196.6,71 199.2,69.4 C201.8,67.8 203.6,67 204.6,67 C205.6,67 206.3,67.3 206.8,67.8 C207.2,68.4 207.5,69 207.5,69.8 C207.5,70.6 207.3,71.3 206.9,72 C206.5,72.7 206,73.2 205.3,73.5 C204.4,73.9 203.6,74.3 203,74.7 C202.3,75 201.7,75.6 201.2,76.4 C201,76.8 200.8,77.7 200.6,79.1 C200.4,80.4 200.4,81.8 200.6,83.2 C200.8,84.6 201.2,85.8 201.9,86.9 C202.6,88 203.7,88.5 205.2,88.5 C207,88.5 208.6,88.1 210.1,87.2 C211.6,86.3 212.9,85.1 214,83.6 C215.1,82.1 216,80.4 216.7,78.4 C217.4,76.5 217.7,74.5 217.7,72.5 C217.8,68.3 216.6,64.9 214.1,62.5 C211.6,60.1 208.6,58.8 205,58.8 C198.7,58.8 193.1,60.5 188.5,63.9 C183.8,67.3 180,71.4 176.9,76.1 C173.8,80.8 171.5,85.8 170,90.9 C168.8,94.9 168.1,98.3 167.8,101.3 C164.7,104.6 161.4,107.7 157.9,110.7 C153.9,114.1 149.9,117 145.8,119.4 C141.7,121.8 137.7,123 133.9,123 C132.1,123 130.4,122.7 128.6,122.2 C126.9,121.7 125.3,120.9 124,119.7 C122.7,118.5 121.5,117 120.7,115.1 C119.8,113.2 119.3,110.9 119.2,108.1 C120.9,106.9 122.8,105.5 125,104 C127.2,102.5 129.6,100.9 132,99.2 C134.2,97.6 136.6,95.9 139.1,94 C141.6,92.1 144,90 146.2,87.7 C148.4,85.4 150.3,82.7 152,79.8 C153.6,76.9 154.6,73.7 154.9,70.3 C155.1,67.2 154.3,64.6 152.4,62.4 C150.5,60.3 147.4,59.2 143.2,59.2 C138.7,59.2 134.3,60.6 129.9,63.4 C125.5,66.2 121.5,69.7 118,73.9 C114.5,78.1 111.5,82.8 109.1,87.9 C106.7,93 105.3,97.8 104.8,102.4 C104.2,108 104.7,112.7 106.1,116.6 C107.5,120.5 109.4,123.7 111.7,126.1 C114,128.6 116.6,130.4 119.5,131.5 C122.3,132.7 125,133.3 127.4,133.3 C132.1,133.3 136.9,132.2 141.9,130 C146.9,127.8 151.7,124.8 156.4,121.2 C160.5,118.1 164.3,114.6 168.1,110.7 C168.3,111.9 168.5,113 168.7,114.2 C169.5,117.7 170.8,120.9 172.8,123.8 C174.7,126.7 177.4,129.1 180.7,130.9 C184,132.7 188.1,133.7 193,133.7 C196.6,133.7 200.2,132.9 203.9,131.3 C207.6,129.7 211.1,127.6 214.6,125.1 C218.1,122.6 221.4,119.8 224.5,116.7 C226.6,114.7 228.5,112.7 230.3,110.7 C230.5,111.8 230.7,113 230.9,114.2 C231.7,117.7 233,120.9 235,123.8 C236.9,126.7 239.6,129.1 242.9,130.9 C246.2,132.7 250.3,133.7 255.2,133.7 C258.8,133.7 262.4,132.9 266.1,131.3 C269.8,129.7 273.3,127.6 276.8,125.1 C280.3,122.6 283.6,119.8 286.7,116.7 C288.2,115.2 289.7,113.8 291.1,112.3 C291,113.7 291,115.1 291.2,116.4 C291.5,120 292.3,123 293.5,125.3 C294.7,127.6 296.2,129.3 298,130.3 C299.8,131.4 301.5,131.9 303,131.9 C306.3,131.7 309.7,131 313,129.7 C315.9,128.6 319,126.8 322.2,124.4 C325.1,121.2 328.1,117.8 330.8,113.4 Z M123.1,85 C124.7,81.4 126.3,78.3 128.1,75.8 C129.9,73.3 131.7,71.4 133.5,70 C135.3,68.7 136.9,68 138.3,68 C139.5,68 140.5,68.5 141.1,69.4 C141.8,70.3 142,71.9 141.8,74 C141.6,76 140.5,78.4 138.6,81.2 C136.7,84 133.4,87.2 128.6,90.9 C127,92.1 125.5,93.3 123.9,94.3 C122.3,95.4 120.9,96.4 119.6,97.4 C120.4,92.8 121.5,88.7 123.1,85 Z M316.3,116.8 C314.7,117.6 313.1,118.1 311.5,118.1 C309.9,118.2 308.5,117.6 307.3,116.3 C306.6,115.6 306.2,114.2 306,112 C305.8,109.8 305.9,107.3 306.3,104.4 C306.7,101.5 307.4,98.4 308.4,95.1 C309.4,91.8 310.7,88.7 312.4,85.8 C316.4,78.8 319.9,74 323,71.3 C326.1,68.7 328.2,67.9 329.4,68.9 C329.7,69.3 330,70 330.1,70.7 C330.2,71.4 330.2,72.3 330,73.5 C329.8,74.7 329.3,76.1 328.4,77.9 C329.3,77.7 330.2,77.5 331.1,77.4 C332,77.3 332.7,77.1 333.3,76.9 C334,76.7 334.6,76.5 335.1,76.4 C335.5,76.3 335.6,77.2 335.4,79 C335.1,80.8 334.7,83.2 334.1,85.9 C333.5,88.7 332.9,91.6 332.1,94.6 C331.3,97.6 330.7,100.2 330.1,102.5 C330,103.1 329.5,103.9 328.7,105.2 C327.9,106.4 326.8,107.8 325.5,109.2 C324.2,110.7 322.8,112 321.2,113.4 C319.5,114.9 317.9,116 316.3,116.8 Z" id="Shape"></path>
                <path d="M374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 C375,33.4 375,33.4 374.9,33.4 C375,33.4 375,33.4 374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 L374.9,33.4 C377.2,31.7 387.4,20.7 387.4,14.7 C387.4,13.9 387.2,13.1 386.9,12.3 C386.6,11.6 386.1,10.9 385.5,10.3 C384.9,9.7 384.2,9.2 383.5,8.9 C382.8,8.6 382,8.4 381.1,8.4 C380.3,8.4 379.5,8.6 378.7,8.9 C378,9.2 377.3,9.7 376.7,10.3 C376.1,10.9 375.5,11.7 374.8,12.8 C374.8,12.8 374.8,12.8 374.8,12.8 C374.8,12.8 374.8,12.8 374.8,12.8 C374.1,11.7 373.5,10.9 372.9,10.3 C372.6,10 372.3,9.7 372,9.5 C371.7,9.3 371.3,9.1 371,8.9 C370.3,8.6 369.5,8.4 368.6,8.4 C367.8,8.4 367,8.6 366.2,8.9 C365.5,9.2 364.8,9.7 364.2,10.3 C363.6,10.9 363.1,11.6 362.8,12.3 C362.5,13 362.3,13.8 362.3,14.7 C362.4,20.7 372.7,31.7 374.9,33.4 Z" id="Shape"></path>
                <path d="M578.3,101.1 C564.1,101.1 552.1,111.1 551.4,125.9 C551.1,129 549.7,131.4 548.1,131.1 C547.1,130.7 545.4,130.2 543.6,126.1 L541.4,126.2 C541.4,127.2 542.4,131.5 539.7,131.2 C537.2,131.1 534.6,126.9 531.9,122.8 L452,8.2 C452,8.2 448.9,4.1 446.5,2.4 C444.4,1 439.2,0.9 437.9,2.2 C437.3,2.8 436.8,5.8 436.8,10.4 C436.8,10.4 436.1,249.9 437.4,253.8 C437.8,255 438.7,255.1 440.5,255 C440.5,255 440.5,255 440.5,255 C442.3,255 443.2,254.8 443.7,254.6 C446.3,254.2 452.2,246 452.2,246 L532.9,130.6 C534.7,132.6 536.7,135 539.5,135 C541.3,135 543.2,133.6 543.6,132.9 C544.4,134.1 547,135.3 549.3,134.7 C552.8,133.8 553.9,130.4 554.4,128.1 L554.8,126.1 C556.5,112.8 564.8,105.1 577.6,104.9 C590.1,104.8 598.7,114.8 598.7,127.3 C598.7,139.8 585,150 575,150 L575,153.9 C586,153.9 602.7,142.1 602.7,127.5 C602.7,112.9 592.9,101.1 578.3,101.1 Z M451,238.4 L451,17 L528.7,128.2 L451,238.4 Z" id="Shape"></path>
              </g>
            </g>
          </svg>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="help-banner">
      <p class="serif-m-italic">Have a question?</p>
      <p class="sans-m">Email <a href="mailto:dbgivesback@dbi.com" class="inline-link">dbgivesback@dbi.com</a></p>
    </div>
  </section>


  <section class="container">
    <p class="disclaimer sans-xs">
      *Fulfilled by Give Back Box
      <br>
      **MBSS d/b/a The Give Back Box does not plan, manage, advise, consult, or prepare materials for or with respect to any charitable solicitation. Give Back Box does not act in the capacity of a professional fundraiser and does not solicit for any charitable organization.</p>
  </section>



  <!-- Gigya Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
      </ul>
    </div>
  </section>



  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_Prom_lp">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/I&G_Module_PromTopTrends_414x284.jpg" alt="Two Prom Girls dancing back to back">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Top Trends</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_Prom_lp">Get Inspired&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="http://www.davidsbridal.com/blog/prom/prom-checklist/">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/I&G_Module_PromChecklist_414x284.jpg" alt="Prom girl in two piece black and white dress sitting on colorful carnival wheel game">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Prom Checklist</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="http://www.davidsbridal.com/blog/prom/prom-checklist/">Everything You'll Need&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="http://www.davidsbridal.com/blog/dresses-and-gowns/location-davids-prom-photo-shoot/">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/I&G_Module_PromBehindTheScenes_414x284.jpg" alt="Two prom girls posing in photo booth with arms around each other">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Behind The Scenes</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="http://www.davidsbridal.com/blog/dresses-and-gowns/location-davids-prom-photo-shoot/">Go Inside Photoshoot&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_Curations_prom">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/prom-donate-dress/I&G_Module_PromDavidsProm_414x284.jpg" alt="Prom girl posing on dock by lake">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">#DavidsProm</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_Curations_prom">See The Gallery&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
