<main class="content-page">

  <section class="hero">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
      </p>
    </div>

    <div class="hero__video">
      <!-- <iframe src="https://www.youtube.com/embed/5cAmZw1eafY?autoplay=1&controls=1&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=5cAmZw1eafY&end=76" frameborder="0" allowfullscreen></iframe> -->
      <div id="qualityStoreVideo"></div>
      <div class="hero__video--cover">&nbsp;</div>
    </div>

    <div class="hero__text">
      <h1 class="serif-xl">Quality &amp; Craftsmanship at David&rsquo;s Bridal</h1>
      <p class="sans-l lg-hidden">When it comes to shopping for wedding dresses online, what you see is not always what you get. Some online retailers use low quality or unethical manufacturing techniques to deliver an inexpensive, but ultimately inferior, product. However, we guarantee that the gown you receive will look just as it did when you ordered it online or in-store, with the breathtaking style and highly skilled craftsmanship you paid for.</p>
    </div>
  </section>

  <section class="textbox">
    <p class="sans-l">When it comes to shopping for wedding dresses online, what you see is not always what you get. Some online retailers use low quality or unethical manufacturing techniques to deliver an inexpensive, but ultimately inferior, product. However, we guarantee that the gown you receive will look just as it did when you ordered it online or in-store, with the breathtaking style and highly skilled craftsmanship you paid for.</p>
  </section>


  <article class="container">
    <!-- Row 1 -->
    <div class="flex">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/quality-story/2378_DB_2017_BTS_462_RGB_150DPI.jpg" alt="Seamstress attaching fabric to dress on model">
      </div>
      <div class="column beige-bg">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/quality-story/cream-bg.gif">
        </div>
        <div class="column__text">
          <h2 class="serif-l-italic">Attention to Detail</h2>
          <p class="sans-m">Our wedding dresses are made-to-order and hand-embellished with artisan skill, requiring as many as 100 hours of effort. Each gown is thoughtfully designed to flatter your figure and crafted with the utmost care.</p>
        </div>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="flex reverse">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/quality-story/DB_fw17_nw_377.jpg" alt="Zac Posen designer presenting model with wedding dress">
      </div>
      <div class="column beige-bg">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/quality-story/cream-bg.gif">
        </div>
        <div class="column__text">
          <h2 class="serif-l-italic">Amazing Value</h2>
          <p class="sans-m">To ensure the best quality at the best price, we have dedicated design, fit, and color teams, and employ streamlined production methods.</p>
        </div>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="flex">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/quality-story/2378_DB_2017_BTS_2541_RGB_150DPI.jpg" alt="Stylist fitting happy bride with bird cage veil">
      </div>
      <div class="column beige-bg">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/quality-story/cream-bg.gif">
        </div>
        <div class="column__text">
          <h2 class="serif-l-italic">The Perfect Fit</h2>
          <p class="sans-m">We base every design on real women’s proportions and offer a full suite of sizes, including plus size wedding dresses up to 26W, petite wedding dresses, and extra-length wedding dresses.</p>
        </div>
      </div>
    </div>

    <!-- Row 4 -->
    <div class="flex reverse">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/quality-story/DB_fw17_nw_290.jpg" alt="Three brides modeling back of dresses">
      </div>
      <div class="column beige-bg">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/quality-story/cream-bg.gif">
        </div>
        <div class="column__text">
          <h2 class="serif-l-italic">Ethical Sourcing</h2>
          <p class="sans-m">Our suppliers comply with the highest degree of ethical sourcing, manufacturing, and labor practices. </p>
          <p class="sans-bold-uppercase">
            <a href="/Content_Legal_ethics">Read The Full Policy&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Row 5 -->
    <div class="flex">
      <div class="column">
        <img src="/wcsstore/images/wwcm/sfg/quality-story/DB_fw17_nw_177.jpg" alt="Wedding Dresses and Blue bridesmaid dresses on clothing racks">
      </div>
      <div class="column beige-bg">
        <div class="column__img">
          <img src="/wcsstore/images/wwcm/sfg/quality-story/cream-bg.gif">
        </div>
        <div class="column__text">
          <h2 class="serif-l-italic">Tried &amp; True Color</h2>
          <p class="sans-m">Simply put: We have your color. Our whole rainbow of shades&mdash;from sky blues to soft pinks to vivid greens and more&mdash;is tested in our color lab for consistency from dress to dress, in every setting.</p>
        </div>
      </div>
    </div>
  </article>



  <!-- article share bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <!-- inspiration & guidance -->
  <section class="container inspiration-guidance">
    <div class="column-full">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
      </div>

      <div class="layout-split-4 spacing article__teaser-list">
        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Our Brands</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingdressshopping">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingDressShopping.jpg" alt="Facts About Wedding Gowns" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Facts About Wedding Gowns</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything from Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingadviceandtipsfromtheexperts">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ExpertAdvice.jpg" alt="Ask The Expert" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Ask The Expert</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingadviceandtipsfromtheexperts">Wedding Questions, Answered&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/Content_Bridal_beyourownbride">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="Be Your Own Bride" nopin="nopin">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <span class="media-block-content__title serif-m">Be Your Own Bride</span>
              </div>
              <p class="sans-bold-uppercase">
                <a class="media-block-content__cta" href="/Content_Bridal_beyourownbride">Whatever You Do, Be You&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<script async src="https://www.youtube.com/iframe_api"></script>
<script>
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('qualityStoreVideo', {
      height: '390',
      width: '640',
      videoId: 'qn-hJfQJ7_o',
      playerVars: {
        autoplay: true,
        controls: 0,
        loop: 1,
        modestbranding: 1,
        playlist: 'qn-hJfQJ7_o',
        rel: 0,
        showinfo: 0
      },
      events: {
        'onReady': onPlayerReady
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }
</script>
