<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_HelpFAQ_helphome">Help | FAQ&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xxl">Online Returns</h1>
        <p class="sans-l">We hope you love your purchase, but if you'd like to return an item, just follow the steps below. Have a question? Call <a href="tel:18004003222" class="inline-link">1-844-400-3222</a> or email <a href="mailto:dbcustomerservice@dbi.com" class="inline-link">dbcustomerservice@dbi.com</a>.</p>
      </section>


      <div class="accordion">
        <ul class="accordion__items">

          <!-- Online Merchandise Return Policy -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Our Return Policy</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Items purchased online must be shipped back to us and cannot be returned to a store.</p>
              <p class="sans-m">Please note: all returns must be in their original condition&mdash;unworn, unwashed, unaltered, undamaged, clean, and free of lint and hair; merchandise must be in its original packaging with all tags attached.</p>
              <p class="sans-m-bold">Items not eligible for returns:</p>
              <ul class="list-bulleted">
                <li class="sans-m">Special order items&mdash;if your order is delayed beyond the original expected delivery date, you may cancel your special order</li>
                <li class="sans-m">Personalized and dyed items</li>
                <li class="sans-m">Perishables, swimsuits, and personal care items</li>
                <li class="sans-m" style="margin-bottom: 0;">Final sale items</li>
              </ul>
            </div>
          </li>


          <!-- Return Process -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">How to Make a Return</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>

            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Our return process requires you to return items to us within 28 days.</p>
              <div class="getting-started">
                <div class="getting-started__actions">
                  <div class="col">
                    <div class="col__img">
                      <svg role="img" class="svg-phone" viewBox="0 0 69 119" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="phone-taupe_Return">
                            <rect id="Rectangle-path" fill="#FFF8F7" fill-rule="nonzero" x="0.6" y="0.2" width="68" height="118"></rect>
                            <path d="M68.6,0.3 L0.6,0.3 L0.6,118.3 L68.6,118.3 L68.6,0.3 Z M34.8,112 C31.9,112 29.5,109.6 29.5,106.7 C29.5,103.8 31.9,101.4 34.8,101.4 C37.7,101.4 40.1,103.8 40.1,106.7 C40.1,109.6 37.7,112 34.8,112 Z M62.6,95.3 L6.6,95.3 L6.6,9.3 L62.6,9.3 L62.6,95.3 Z" id="Shape" fill="#F93777" fill-rule="nonzero"></path>
                            <path d="M15,22.7 L54.3,22.7" id="Shape" stroke="#F93777" stroke-width="2"></path>
                            <path d="M15,31.3 L54.3,31.3" id="Shape" stroke="#F93777" stroke-width="2"></path>
                            <path d="M15,40 L54.3,40" id="Shape" stroke="#F93777" stroke-width="2"></path>
                            <path d="M15,49 L54.3,49" id="Shape" stroke="#F93777" stroke-width="2"></path>
                            <path d="M15,58 L54.3,58" id="Shape" stroke="#F93777" stroke-width="2"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="col__text">
                      <p class="serif-s">Step 1:</p>
                      <p class="sans-m">Obtain your RMA</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="col__img">
                      <svg role="img" class="svg-box" viewBox="0 0 47 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="box_icon" transform="translate(0.000000, 1.000000)" stroke="#F93777">
                            <polyline id="Shape" fill="#F8F6F0" fill-rule="nonzero" points="6.2 6.3 17.6 13.7 17.6 33.8 6.2 26.4 6.2 15.4"></polyline>
                            <polyline id="Shape" fill="#F8F6F0" fill-rule="nonzero" points="38.7 11.2 18.1 13.7 18.1 34 38.7 31.5 38.7 18.6"></polyline>
                            <polygon id="Shape" fill="#F8F6F0" fill-rule="nonzero" points="28.2 4.1 34.9 0.4 46.4 7.3 38.7 11.2"></polygon>
                            <polygon id="Shape" fill="#F8F6F0" fill-rule="nonzero" points="6.2 6.3 0.8 11.2 13.1 20.1 17.7 13.7"></polygon>
                            <path d="M6.2,6.3 L28.2,4.1" id="Shape"></path>
                            <path d="M28.2,4.5 L28.2,12.5" id="Shape"></path>
                            <polyline id="Shape" fill="#F8F6F0" fill-rule="nonzero" points="17.7 14.2 20 21.7 42.5 18.5 38.7 11.7"></polyline>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="col__text">
                      <p class="serif-s">Step 2:</p>
                      <p class="sans-m">Pack it up</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="col__img">
                      <svg role="img" class="svg-send-it" viewBox="0 0 177 113" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Send" transform="translate(0.000000, 3.000000)">
                            <polygon id="Shape" stroke="#EE3C78" stroke-width="5" fill="#FFF8F7" fill-rule="nonzero" points="36.9 10.2 170.2 0.4 79.4 103.3 75.4 48.4"></polygon>
                            <path d="M75.4,48.4 L170.2,0.4" id="Shape" stroke="#EE3C78" stroke-width="5"></path>
                            <g id="Group" transform="translate(0.000000, 45.000000)" fill-rule="nonzero" fill="#F93777">
                              <path d="M54,5 L9.4,24.8 C8.1,25.4 6.6,24.8 6,23.5 L6,23.5 C5.4,22.2 6,20.7 7.3,20.1 L52,0.4 C53.3,-0.2 54.8,0.4 55.4,1.7 L55.4,1.7 C55.9,2.9 55.3,4.4 54,5 Z" id="Shape"></path>
                              <path d="M63.6,24.2 L19,44 C17.7,44.6 16.2,44 15.6,42.7 L15.6,42.7 C15,41.4 15.6,39.9 16.9,39.3 L61.5,19.5 C62.8,18.9 64.3,19.5 64.9,20.8 L64.9,20.8 C65.5,22.2 64.9,23.7 63.6,24.2 Z" id="Shape"></path>
                              <path d="M48.6,19.2 L3.9,38.9 C2.6,39.5 1.1,38.9 0.5,37.6 L0.5,37.6 C-0.1,36.3 0.5,34.8 1.8,34.2 L46.4,14.4 C47.7,13.8 49.2,14.4 49.8,15.7 L49.8,15.7 C50.4,17.1 49.8,18.6 48.6,19.2 Z" id="Shape"></path>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="col__text">
                      <p class="serif-s">Step 3:</p>
                      <p class="sans-m">Send it off</p>
                    </div>
                  </div>
                </div>
              </div>

              <p class="sans-m-bold">Step 1: Obtain your RMA</p>
              <p class="sans-m">Request a return merchandise authorization (RMA) number within 14 days of receiving your order.</p>

              <ul class="list-numbered">
                <li class="sans-m">1. Go to <a href="/TrackOrder?storeId=10052&catalogId=10051&langId=-1" class="inline-link">Order Status</a> and enter your order number and email. You can find your order number in your confirmation and shipping emails or on your packing slip.</li>
                <li class="sans-m">2. Click on the order, then select Request Return next to the item you want to return in the Estimated Delivery column.</li>
                <li class="sans-m">3. You will receive an email with details about your return, including your RMA number and next steps or instructions to contact customer service.</li>
              </ul>
              <p class="sans-m">Your RMA number expires 14 days after the date it was created, so be sure we receive your return within that time frame.</p>

              <p class="sans-m-bold">Step 2: Pack it up</p>
              <p class="sans-m">You'll receive an email with your RMA number and the address where you should ship your return. Please write the RMA number on the outside of the box.</p>

              <p class="sans-m-bold">Step 3: Send it off</p>
              <p class="sans-m">Mail your return using a trackable shipping service, such as registered USPS, FedEx, or UPS, and be sure to keep your receipt and tracking information. We cannot guarantee refunds for returns sent using an untracked method.</p>
              <p class="sans-m">As a reminder, ship your item to us within 14 days of creating your RMA.</p>

              <p class="sans-m-bold">Refund processing</p>
              <p class="sans-m">We will inspect and process your return within 14 days. You will receive a confirmation via email when your return has been processed.</p>

              <p class="sans-m">Please allow up to two billing cycles for the return credit to appear on your credit card statement. Credits are processed for the original cost of the merchandise plus tax&mdash;shipping and handling fees will not be refunded.</p>

              <p class="sans-m">If an item is returned in unacceptable condition, we will send it back to you and no refund will be issued.</p>

              <p class="sans-m">Have a question? Call <a href="tel:18444003222" class="inline-link">1-844-400-3222</a> or email <a href="mailto:dbcustomerservice@dbi.com" class="inline-link">dbcustomerservice@dbi.com</a>.</p>
            </div>
          </li>


          <!-- Exchanges -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Exchanges</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Online purchases are not eligible for exchanges. Please follow the return instructions and then place a new order for an alternative item.</p>
            </div>
          </li>


          <!-- Defective, Damaged or Mis-shipped Items -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Defective, Damaged or Incorrect&nbsp;Items</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m-bold">Reporting an issue</p>
              <p class="sans-m">If you receive a defective, damaged, or incorrect item, we'd like to make it right. Tell us about the issue by calling <a href="tel:18444003222" class="inline-link">1-844-400-3222</a> or emailing <a href="mailto:dbcustomerservice@dbi.com" class="inline-link">dbcustomerservice@dbi.com</a> within 14 days of receiving the shipment. When you send back the item, include a note of explanation in the return box.</p>

              <p class="sans-m-bold">Replacing an item</p>
              <p class="sans-m">We'll do our best to replace defective, damaged, or incorrect items. If we cannot send a replacement, you'll be refunded the purchase price plus shipping and handling fees.</p>

              <p class="sans-m-bold">Shipping refunds</p>
              <p class="sans-m">Refunds for return shipping are calculated using the lowest-cost shipping method. Items returned via expedited shipping methods will only be refunded an amount equal to the lowest cost shipping method.</p>
              <p class="sans-m">For all other returns, shipping and handling fees will not be refunded.</p>
            </div>
          </li>


          <!-- Online Changes & Cancellations -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Online Changes & Cancellations</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">We start processing orders as soon as they're placed and are unable to change or cancel orders once confirmed. This includes changes to products, payment method, shipping address, and shipping method.</p>
            </div>
          </li>


          <!-- Store Merchandise Return Policy -->
          <li class="accordion__item" data-nav-open="false" tabindex="0">
            <div class="accordion__header" data-trigger="">
              <h3 class="serif-m">Store Merchandise Return Policy</h3>
              <div class="accordion__header-action relative">
                <div class="accordion__header-action-plus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                    <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                  </svg>
                </div>
                <div class="accordion__header-action-minus">
                  <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                    <rect x="-492" y="501" width="11" height="1"></rect>
                  </svg>
                </div>
              </div>
            </div>
            <div class="accordion__content" style="display: none;">
              <p class="sans-m">Items purchased at David's Bridal stores are not eligible for returns; however, they may be eligible for exchange. Visit your David's Bridal store for more information.</p>
              <p class="sans-bold-uppercase">
                <a href="/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">Find a Store&nbsp;&gt;</a>
              </p>
            </div>
          </li>

        </ul>
      </div><!-- /.accordion -->

    </main>



    <!-- COLUMN 2 - Aside Content -->
    <aside class="column">
      <div class="article__share-bar" style="display: none;">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_About_aboutus">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AboutPlus.jpg" alt="About Us">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_About_aboutus" class="text-decoration-none">About Us</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_About_aboutus">Learn More&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Quality&Craft.jpg" alt="Quality & Craftsmanship">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality & Craftsmanship</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FactsAboutWeddingGowns.jpg" alt="Wedding Gown Facts">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Wedding Gown Facts</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything From Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide-styleguidedressguide_index">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SilohouetteGuide.jpg" alt="Silhouette Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide-styleguidedressguide_index" class="text-decoration-none">Silhouette Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Find Your Favorite&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

</article>
