<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_HelpFAQ_helphome">Help | FAQ&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>


  <div class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">Shipping Guide</h1>
        <p class="sans-l">Have a question about shipping time frames and fees? Here's what you need to know.</p>
      </section>


      <section class="infographic">

        <!-- Table -->
        <div class="infographic__table">
          <div class="infographic__table-column">
            <div class="infographic__table-column-item white">
              <p class="sans-m-bold">processing time <br class="md-hidden lg-hidden">(3 days)</p>
            </div>
            <div class="infographic__table-column-item cream">
              <p class="sans-m-bold">shipping method <br class="md-hidden lg-hidden">(1-6 days)</p>
            </div>
          </div>
          <div class="infographic__table-column">
            <div class="infographic__table-column-item pink1">
              <p class="sans-m-bold">&nbsp;</p>
            </div>
            <div class="infographic__table-column-item pink2">
              <p class="sans-m-bold">&nbsp;</p>
            </div>
          </div>
        </div>

        <!-- Icons -->
        <div class="infographic__icons">
          <div class="infographic__icons-column">
            <div class="infographic__icons-column-svg">
              <svg role="img" class="svg-shopping-bag" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Shopping Bag Icon</title>
                <polygon points="0.2 5.2 18.2 5.2 16.2 18.2 2.2 18.2"></polygon>
                <path d="M9.2,1.2 C10.9,1.2 12.2,2.5 12.2,4.2 L13.2,4.2 C13.2,2 11.4,0.2 9.2,0.2 C7,0.2 5.2,2 5.2,4.2 L6.2,4.2 C6.2,2.5 7.5,1.2 9.2,1.2 Z"></path>
              </svg>
            </div>
            <div class="infographic__icons-column-text">
              <p class="sans-m-bold">place your order</p>
            </div>
          </div>

          <div class="infographic__icons-column">
            <div class="infographic__icons-column-svg">
              <svg class="svg-truck" viewBox="0 0 55 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="truck_shipping_wip">
                    <path d="M37,26.3 L3.4,26.3 C1.7,26.3 0.4,25 0.4,23.3 L0.4,3.5 C0.4,1.8 1.7,0.5 3.4,0.5 L37,0.5 C38.7,0.5 40,1.8 40,3.5 L40,23.4 C40,25 38.7,26.3 37,26.3 Z" id="Shape" fill="#F04874" fill-rule="nonzero"></path>
                    <g id="Group" transform="translate(40.000000, 5.000000)" stroke="#F04874" stroke-width="2">
                      <path d="M11.4,19.4 L2.3,19.4 C1.2,19.4 0.3,18.5 0.3,17.4 L0.3,2.1 C0.3,1 1.2,0.1 2.3,0.1 L11.4,0.1 C12.5,0.1 13.4,1 13.4,2.1 L13.4,17.4 C13.4,18.5 12.5,19.4 11.4,19.4 Z" id="Shape"></path>
                      <rect id="Rectangle-path" x="4.1" y="3.7" width="5.5" height="7.3"></rect>
                    </g>
                    <circle id="Oval" stroke="#F04874" stroke-width="2" fill="#FFE6E3" cx="7.8" cy="26.3" r="4.2"></circle>
                    <circle id="Oval" stroke="#F04874" stroke-width="2" fill="#FFE6E3" cx="47.2" cy="26.3" r="4.2"></circle>
                  </g>
                </g>
              </svg>
            </div>
            <div class="infographic__icons-column-text">
              <p class="sans-m-bold">order leaves<br>our warehouse</p>
            </div>
          </div>

          <div class="infographic__icons-column">
            <div class="infographic__icons-column-svg">
              <svg class="svg-door" viewBox="0 0 30 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="door_shipping_wip" transform="translate(1.000000, 1.000000)">
                    <path d="M25.1,47.3 L2.8,47.3 C1.7,47.3 0.8,46.4 0.8,45.3 L0.8,2.7 C0.8,1.6 1.7,0.7 2.8,0.7 L25.1,0.7 C26.2,0.7 27.1,1.6 27.1,2.7 L27.1,45.3 C27.1,46.4 26.2,47.3 25.1,47.3 Z" id="Shape" stroke="#F04874" stroke-width="2"></path>
                    <path d="M10,16.3 L7,16.3 C5.9,16.3 5,15.4 5,14.3 L5,6.4 C5,5.3 5.9,4.4 7,4.4 L10.1,4.4 C11.2,4.4 12.1,5.3 12.1,6.4 L12.1,14.3 C12,15.4 11.1,16.3 10,16.3 Z" id="Shape" stroke="#F04874" stroke-width="2"></path>
                    <path d="M20.9,16.3 L17.8,16.3 C16.7,16.3 15.8,15.4 15.8,14.3 L15.8,6.4 C15.8,5.3 16.7,4.4 17.8,4.4 L20.9,4.4 C22,4.4 22.9,5.3 22.9,6.4 L22.9,14.3 C22.9,15.4 22,16.3 20.9,16.3 Z" id="Shape" stroke="#F04874" stroke-width="2"></path>
                    <path d="M10,43.5 L7,43.5 C5.9,43.5 5,42.6 5,41.5 L5,26.7 C5,25.6 5.9,24.7 7,24.7 L10.1,24.7 C11.2,24.7 12.1,25.6 12.1,26.7 L12.1,41.6 C12,42.6 11.1,43.5 10,43.5 Z" id="Shape" stroke="#F04874" stroke-width="2"></path>
                    <path d="M20.9,43.5 L17.8,43.5 C16.7,43.5 15.8,42.6 15.8,41.5 L15.8,26.7 C15.8,25.6 16.7,24.7 17.8,24.7 L20.9,24.7 C22,24.7 22.9,25.6 22.9,26.7 L22.9,41.6 C22.9,42.6 22,43.5 20.9,43.5 Z" id="Shape" stroke="#F04874" stroke-width="2"></path>
                    <circle id="Oval" fill="#F04874" fill-rule="nonzero" cx="5" cy="20.7" r="1.7"></circle>
                  </g>
                </g>
              </svg>
            </div>
            <div class="infographic__icons-column-text">
              <p class="sans-m-bold">order arrives<br>at your door</p>
            </div>
          </div>
        </div>

      </section>
      <div class="processing-time">
        <p class="sans-m-bold">Please allow additional processing time for special order and personalized products, as they are made just for&nbsp;you.</p>
      </div>



      <section>
        <!-- Standard (ground) -->
        <table class="shipping-table" width="100%">
          <thead>
            <tr>
              <th colspan="2"><span class="upper">Standard</span> (ground)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Processed within 3 business days</td>
              <td width="50%" class="cream">Delivered 1-6 business days after processing</td>
            </tr>
          </tbody>
        </table>

        <!-- Expedited (2 business days) -->
        <table class="shipping-table" width="100%">
          <thead>
            <tr>
              <th colspan="2"><span class="upper">Expedited</span> (2 business days)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Processed within 3 business days</td>
              <td width="50%" class="cream">Delivered 2 business days after processing</td>
            </tr>
          </tbody>
        </table>

        <!-- Express (next business days) -->
        <table class="shipping-table" width="100%">
          <thead>
            <tr>
              <th colspan="2"><span class="upper">Express</span> (next business day)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Processed within 3 business days</td>
              <td width="50%" class="cream">Delivered the next business day after processing</td>
            </tr>
          </tbody>
        </table>
      </section>


      <section class="text">
        <h3 class="serif-s-italic">Processing &amp; Shipping Time Frames</h3>
        <p class="sans-m">When you add an item to your shopping bag, we estimate the processing time and standard shipping delivery date. Expedited shipping options are available at checkout.</p>
        <p class="sans-m">You will receive a shipment notification email when each item is shipped. Orders with multiple items may ship at different times in separate boxes.</p>
        <p class="sans-m">To ensure that your items arrive in time for your event, refer to the estimated delivery dates quoted in your shopping bag, as many of our styles are made to order. We take great care to ensure the quality of each product and prepare it for shipping, and we appreciate your patience while we process your order.</p>
        <p class="sans-m-bold">Please allow additional processing time for special order and personalized products, as they are made just for&nbsp;you.</p>
      </section>

      <section class="text">
        <h3 class="serif-s-italic">Shipping Area</h3>
        <p class="sans-m">Our U.S. website ships to all 50 states. We do not ship to U.S. territories, PO boxes, or APO/FPO addresses.</p>
        <p class="sans-m">We offer international shipping for select items. To check if an item can be shipped internationally, first <a href="/InternationalLandingView?catalogId=10051&langId=-1&storeId=10052" class="inline-link">choose your country and currency</a>. Then as you shop, international availability will appear afer you select a color and a size. Learn more by reading our <a href="/Content_HelpFAQ_helppurchasingordering?leftNav=true#international" class="inline-link">International FAQs</a>.</p>
      </section>


      <section>
        <h3 class="serif-s-italic">Shipping Fees</h3>
        <p class="sans-m">Standard shipping fees are based on your order's value*</p>

        <table class="shipping-table" width="100%">
          <thead>
            <tr>
              <th colspan="2">Order Value $0-$49.99</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Standard</td>
              <td width="50%" class="cream">$8</td>
            </tr>
            <tr>
              <td width="50%">Expedited</td>
              <td width="50%" class="cream">$30</td>
            </tr>
            <tr>
              <td width="50%">Express</td>
              <td width="50%" class="cream">$40</td>
            </tr>
          </tbody>
        </table>

        <table class="shipping-table" width="100%">
          <thead>
            <tr>
              <th colspan="2">Order Value $50-$99.99</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Standard</td>
              <td width="50%" class="cream">$15</td>
            </tr>
            <tr>
              <td width="50%">Expedited</td>
              <td width="50%" class="cream">$30</td>
            </tr>
            <tr>
              <td width="50%">Express</td>
              <td width="50%" class="cream">$40</td>
            </tr>
          </tbody>
        </table>

        <table class="shipping-table" width="100%">
          <caption align="bottom" class="sans-xs">&ast;Flat rate shipping offers can only be redeemed online at davidsbridal.com and cannot be applied to any prior purchases or shipments outside the US.  Shipping rates will be applied automatically at checkout based on the pre-tax purchase amount.  Free shipping offer for any pre-tax purchases $100 or more valid in the continental US only.  Pre-tax purchases $100 or more shipped to AK and HI will be charged $20 flat rate shipping.  $20 flat rate shipping will be applied to any pre-tax purchases $100 or more shipped to AK and HI.</caption>
          <thead>
            <tr>
              <th colspan="2">Order Value $100&plus;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%">Standard</td>
              <td width="50%" class="cream">Free&ast;</td>
            </tr>
            <tr>
              <td width="50%">Expedited</td>
              <td width="50%" class="cream">$30</td>
            </tr>
            <tr>
              <td width="50%">Express</td>
              <td width="50%" class="cream">$40</td>
            </tr>
          </tbody>
        </table>
      </section>


      <section>
        <h3 class="serif-s-italic">Order Status</h3>
        <p class="sans-m">For details on your davidsbridal.com order, check your <a href="/Content_HelpFAQ_helporderstatus?leftNav=true#orderStatus" class="inline-link">Order Status.</a></p>
      </section>


      <section>
        <h3 class="serif-s-italic">Invitations</h3>
        <p class="sans-m">For shipping information or other questions about Shutterfly wedding invitations, visit <a href="https://www.shutterfly.com/shipping/?esch=1" target="_blank" class="inline-link">shutterfly.com/shipping.</a></p>
      </section>

    </main>


    <!-- COLUMN 2 - Aside Content -->
    <aside class="column">
      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_About_aboutus">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/newstores2017/Module_414x284_AboutUs.jpg" alt="About Us">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_About_aboutus" class="text-decoration-none">About Us</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_About_aboutus">Learn More About Us&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_dbcommunity">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_DBCommunity_414x284.jpg" alt="David's Bridal Community">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_dbcommunity" class="text-decoration-none">David's Bridal Community</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_dbcommunity">Our Inspiring Customers&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality &amp; Craftsmanship at David's Bridal</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_alterations">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Alterations101.jpg" alt="Alterations 101">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_alterations" class="text-decoration-none">Alterations 101</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_alterations">Personalize Your Look&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </div>

</article>
