<main class="content-page" role="main">

  <section class="container-full">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>

    <div class="hero">
      <div class="hero__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly-Hero-Mobile.jpg" alt="Bride's hand holding a wedding invitation">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly-Hero-Desktop.jpg" alt="Bride's hand holding a wedding invitation">
      </div>
      <div class="hero__text">
        <div class="hero__text-logo">
          <img class="the-wedding-shop-logo" src="/wcsstore/images/wwcm/sfg/shutterfly/TheWeddingShopLogo.svg" alt="The Wedding Shop | Shutterfly Logo">
        </div>
        <p class="serif-s-italic">David's Bridal Preferred Wedding Invitations Partner</p>
        <p class="sans-m">We're thrilled to launch our brand new invitations partnership with Shutterfly, the online destination for photo printing, personalized stationery, and more. In colors that match our David's Bridal exclusive palette, styles for every wedding theme, and complete stationery suites, you’ll be sure to find the invitations that complement your day.</p>
      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="rewards-banner">
      <p class="rewards-banner__heading serif-s-italic text-reverse">40% off save the dates and wedding invitations*</p>
      <p class="rewards-banner__subheading sans-m text-reverse">with the code in your Beyond the Dress savings booklet</p>
      <p class="rewards-banner__btn btn btn-secondary">
        <a class="sans-bold-uppercase" href="http://www.pntra.com/t/2-322432-162709-162580" target="_blank">Shop Now</a>
      </p>
      <p class="rewards-banner__cta sans-bold-uppercase text-reverse">
        <a href="/Content_WeddingVendors_beyondthedress">Learn More&nbsp;&gt;</a>
      </p>
    </div>
  </section>



  <section class="container">
    <div class="section-heading">
      <h3 class="serif-l">Shutterfly Wedding Products</h3>
    </div>

    <div class="flex two-column">

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pntrac.com/t/2-322431-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/1_SaveTheDates.jpg" alt="Save the Date stationery with photos and hearts">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Save the Dates</h3>
            <p><a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrac.com/t/2-322431-162709-162580" target="_blank">Shop Now&nbsp;&gt;</a></p>
          </div>
        </div>
      </article>

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/2_Invitations.jpg" alt="Wedding invitations with foil accents">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Wedding Invitations</h3>
            <p><a class="media-block-content__cta sans-bold-uppercase" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">Shop Now&nbsp;&gt;</a></p>
          </div>
        </div>
      </article>

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pntra.com/t/2-322429-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/3_CeremonyReception.jpg" alt="Black menu card on white dinnerware">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Ceremony &amp; Reception Stationery</h3>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntra.com/t/2-322429-162709-162580" target="_blank">Shop Programs&nbsp;&gt;</a>
            </p>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrs.com/t/2-322428-162709-162580 " target="_blank">Shop Menu Cards&nbsp;&gt;</a>
            </p>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrs.com/t/2-322959-162709-162580" target="_blank">Shop Place Cards&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </article>

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.gopjn.com/t/2-322427-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/4_ThankYou.jpg" alt="Metallic accent wedding invitations in a variety of colors with flowers">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Thank You Cards</h3>
            <p><a class="media-block-content__cta sans-bold-uppercase" href="http://www.gopjn.com/t/2-322427-162709-162580" target="_blank">Shop Now&nbsp;&gt;</a></p>
          </div>
        </div>
      </article>

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/5_Color.jpg" alt="Colorful invitations with a bouquet of flowers">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Shop by Color</h3>
            <p><a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">Shop Now&nbsp;&gt;</a></p>
          </div>
        </div>
      </article>

      <article class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjtra.com/t/2-322425-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/shutterfly/6_Theme.jpg" alt="Rustic Save the Date with flowers and perfume">
          </a>
          <div class="media-block-content spacing-half">
            <h3 class="media-block-content__title serif-m">Shop by Style</h3>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrac.com/t/2-322960-162709-162580" target="_blank">Shop Rustic&nbsp;&gt;</a>
            </p>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntrs.com/t/2-322961-162709-162580" target="_blank">Shop Classic&nbsp;&gt;</a>
            </p>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="http://www.pntra.com/t/2-322962-162709-162580" target="_blank">Shop Vintage&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </article>

    </div>
  </section>



  <!-- FIND YOUR PERFECT MATCH -->
  <section class="container">
    <div class="find-your-match">
      <div class="find-your-match__img">
        <img src="/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly_Find-Your-Match-Mobile.png" alt="Bridesmaid in blue dress with blue invite, color wheel icon">
      </div>
      <div class="find-your-match__background"></div>
      <div class="find-your-match__text">
        <div class="find-your-match__heading">
          <img src="/wcsstore/images/wwcm/sfg/shutterfly/SFLY_customcolor_logo_Circle.svg" alt="Shutterfly Custom Color Logo">
          <h3 class="serif-m-italic">Complement Your Wedding Colors</h3>
        </div>

        <p class="find-your-match__step sans-m" style="margin-top: 10px;">Shutterfly's Custom Color Palette lets you coordinate your stationery with <br class="sm-hidden">your wedding's colors and style, in four simple steps.</p>
        <p class="find-your-match__step sans-m">1. Choose your favorite from hundreds of Shutterfly's exclusive designs</p>
        <p class="find-your-match__step sans-m">2. Click the Personalize button</p>
        <p class="find-your-match__step sans-m">3. Click the color wheel icon to reveal Shutterfly’s Custom Color Palette</p>
        <p class="find-your-match__step sans-m">4. Customize your ink color</p>
      </div>
    </div>
  </section>



  <!-- BLUE & GREEN PALETTES -->
  <section class="container">
    <div class="palette">
      <div class="palette__heading">
        <h3 class="serif-m">The Blue &amp; Green Palettes</h3>
        <p class="sans-m">Coordinate with David's Bridal exclusive <br class="md-hidden lg-hidden">colors marine, mint, spa, and more</p>
        <p class="sans-bold-uppercase">
          <a href="http://www.gopjn.com/t/2-322424-162709-162580" target="_blank">Shop Blue&nbsp;&gt;</a>
          <a href="http://www.gopjn.com/t/2-322423-162709-162580" target="_blank">Shop Green&nbsp;&gt;</a>
        </p>
      </div>
      <div class="palette__flex">
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="mint">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Mint</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Rain</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="spa">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Spa</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Surf</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="oasis">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Oasis</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Peacock</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="horizon">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Horizon</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">True Blue</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="marine">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Marine</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Stormy Blue</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="juniper">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Juniper</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Spruce</p>
          </a>
        </div>
      </div>
    </div>


    <!-- PINK, RED, PURPLE PALETTES -->
    <div class="palette">
      <div class="palette__heading">
        <h3 class="serif-m">The Pink, Red &amp; Purple Palettes</h3>
        <p class="sans-m">Coordinate with David's Bridal exclusive <br class="md-hidden lg-hidden">colors petal, ballet, wine, and more</p>
        <p class="sans-bold-uppercase">
          <a href="http://www.pntra.com/t/2-322422-162709-162580" target="_blank">Shop Pink&nbsp;&gt;</a>
          <a href="http://www.pntrac.com/t/2-322421-162709-162580" target="_blank">Shop Red&nbsp;&gt;</a>
          <a href="http://www.pntrs.com/t/2-322420-162709-162580" target="_blank">Shop Purple&nbsp;&gt;</a>
        </p>
      </div>
      <div class="palette__flex">
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="petal">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Petal</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Blush</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="ballet">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Ballet</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Delicate Rose</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="coral-reef">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Coral Reef</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Ballet</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="begonia">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Begonia</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Berry</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="guava">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Guava</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Bright Red</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="persimmon">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Persimmon</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Fire Engine</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="apple">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Apple</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Syrah</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="bouquet">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Bouquet</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Violet</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="raspberry">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Raspberry</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Aubergine</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="regency">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Regency</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Velvet Rope</p>
          </a>
        </div>
      </div>
    </div>

    <!-- NEUTRAL PALETTE -->
    <div class="palette">
      <div class="palette__heading">
        <h3 class="serif-m">The Neutral Palette</h3>
        <p class="sans-m">Coordinate with David's Bridal exclusive <br class="md-hidden lg-hidden">colors graphite, mercury, truffle, and more</p>
        <p class="sans-bold-uppercase">
          <a href="http://www.pjtra.com/t/2-322419-162709-162580" target="_blank">Shop Neutral&nbsp;&gt;</a>
        </p>
      </div>
      <div class="palette__flex">
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="mercury">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Mercury</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Slate</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="graphite">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Graphite</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Gray</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="truffle">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Truffle</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Rich Burgundy</p>
          </a>
        </div>
        <div class="palette__item">
          <a href="http://www.pntrac.com/t/2-322426-162709-162580" target="_blank">
            <svg width="140px" height="140px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g fill="#666666" class="black">
                <circle cx="70" cy="70" r="70"></circle>
              </g>
            </svg>
            <p class="sans-bold-uppercase">Black</p>
            <p class="sans-xs has-check"><em>Shutterfly custom color:</em></p>
            <p class="sans-xs">Black</p>
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- CUSTOMER SERVICE BANNER -->
  <section class="container">
    <div class="banner-customer-service">
      <p class="banner-customer-service__heading serif-s-italic">Customer Support</p>
      <p class="banner-customer-service__lead sans-m">Existing invitation customers:<br class="md-hidden lg-hidden"> If you placed an order with invitations.davidsbridal.com prior to Sunday, October 15,<br class="md-hidden lg-hidden"> your order is in the works.</p>
      <p class="banner-customer-service__cta sans-m">Call <a class="inline-link" href="tel:18883145639">1-888-314-5639</a> with questions or concerns.</p>
    </div>
  </section>


  <!-- ARTICLE SHARE BAR -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
      </ul>
    </div>
  </section>


  <!-- INSPIRATION & GUIDANCE -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingenvelopeformat">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_Addressing_414x284.jpg" alt="How to Address Wedding Invitations">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">How to Address Wedding Invitations</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingenvelopeformat">Guest-by-Guest Advice&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddinginvitationswording">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_InvitationsWording.jpg" alt="How to Word Your Wedding Invitations">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">How to Word Your Wedding Invitations</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddinginvitationswording#">See The Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddinginvitationsandstationery">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_InvitesHub.jpg" alt="All About Wedding Invitations">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">All About Wedding Invitations</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddinginvitationsandstationery">Learn More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingsouvenirideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingKeepsakes_414x284.jpg" alt="Wedding Favor Ideas">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Favor Ideas</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingsouvenirideas">Gifts for Your Guests&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
