<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance &gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">Something Blue Ideas</h1>
        <p class="sans-l">Old, new, and borrowed&mdash;no problem. But what to do for your something blue?</p>
      </section>


      <!-- 1. Your Dress -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #d4ecf8;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">1. Your Dress!</h3>
            <p class="sans-m">A light blue gown looks heavenly (and still feels bridal).</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Blue Wedding Dresses&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 2. Shoes -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #e4eef9;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">2. Shoes</h3>
            <p class="sans-m">Wear blue wedding shoes that peek out from your hem, or for a subtler touch, choose a pair with blue soles.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Shoes&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 3. Lingerie -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #eaf7f7;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">3. Lingerie</h3>
            <p class="sans-m">Keep the colorful tradition going with your honeymoon lingerie.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Lingerie&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 4. Bridesmaids -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #add9f3;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">4. Bridesmaids</h3>
            <p class="sans-m">For a creative twist, turn your whole bridal party into a good luck charm with blue bridesmaid dresses.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Bridesmaids&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 5. Flower Girl -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #c9d6f3;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">5. Flower Girl</h3>
            <p class="sans-m">Or, let your littlest lady do the honors!</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Flower Girl Dresses&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 6. Sashes -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #cde0f5;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">6. Sashes</h3>
            <p class="sans-m">These satin ribbon sashes come in tons of colors so you can pick the perfect shade of blue to tie off your look.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Sashes&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 7. Jewelry -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #c1d8e9;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">7. Jewelry</h3>
            <p class="sans-m">A sapphire-colored necklace, earrings, or a statement ring is an elegant way to incorporate royal blue.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Jewelry&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

      <!-- 8. Fun Extras -->
      <section class="something-blue">
        <div class="something-blue__flex" style="background: #bae1e1;">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">8. Fun Extras</h3>
            <p class="sans-m">Unique something blue ideas are everywhere: Stick these "I Do" decals on your wedding-day heels, slide on a colorful garter to toss at the reception, or sew a personalized blue monogram into your dress.</p>
            <p class="sans-bold-uppercase">
              <a href="#">Shop Gifts&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <img src="http://placehold.it/767x1108" alt="" />
          </div>
        </div>
      </section>

    </main>




    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="#">
              <img data-pin-nopin="true" src="http://placehold.it/414x284" alt="Lorem Ipsum">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="#" class="text-decoration-none">Lorem Ipsum</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="#">
              <img data-pin-nopin="true" src="http://placehold.it/414x284" alt="Lorem Ipsum">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="#" class="text-decoration-none">Lorem Ipsum</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="#">
              <img data-pin-nopin="true" src="http://placehold.it/414x284" alt="Lorem Ipsum">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="#" class="text-decoration-none">Lorem Ipsum</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="#">
              <img data-pin-nopin="true" src="http://placehold.it/414x284" alt="Lorem Ipsum">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="#" class="text-decoration-none">Lorem Ipsum</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
    </aside>
  </section>
</article>
