<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance &gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">Unconventional Bridal Shoes</h1>
        <p class="sans-l">There’s no law about wearing white pumps on your wedding day, you know.</p>
      </section>


      <!-- Wedding Sandals -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">Wedding Sandals</h3>
            <p class="sans-m">For summer vows, don’t be afraid to free your toes. Wedding sandals can still be fancy, especially with statement stones.</p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/sandals">Shop Sandals From $19.95&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <a href="/shoes/sandals">
              <img src="/wcsstore/images/wwcm/sfg/unconventional-bridal-shoes/767px_Shoes_1.jpg" alt="Silver bejeweled sandals for a wedding." />
            </a>
          </div>
        </div>
      </section>

      <!-- Ballet Flats -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">Ballet Flats</h3>
            <p class="sans-m">Some brides choose flat wedding shoes to balance their height with their fianc&eacute;’s. But others know comfort is a beautiful thing&mdash;and love wearing their wedding shoes long after the big day.</p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/ballet-flats">Shop Ballet Flats&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <a href="/shoes/ballet-flats">
              <img src="/wcsstore/images/wwcm/sfg/unconventional-bridal-shoes/767px_Shoes_2.jpg" alt="Rose gold ballet flats for a wedding." />
            </a>
          </div>
        </div>
      </section>

      <!-- Wedding Sneakers & Slip-Ons -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">Wedding Sneakers & Slip-Ons</h3>
            <p class="sans-m">You’re not dreaming: TOMS come in white lace and glitter, perfect for your wedding. We also have casual wedding sneakers with decidedly bridal touches.</p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/sneakers">Shop Sneakers & Slip-Ons&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <a href="/shoes/sneakers">
              <img src="/wcsstore/images/wwcm/sfg/unconventional-bridal-shoes/767px_Shoes_3.jpg" alt="Wedding Sneakers and slip-ons for the bride" />
            </a>
          </div>
        </div>
      </section>

      <!-- Dyeable Shoes -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">Dyeable Shoes</h3>
            <p class="sans-m">How fun would it be for your heels to match your bridesmaid dresses, or to make shoes your “something blue?” With our custom-color footwear, anything is possible.</p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/dyeable-shoes">Shop Dyeable Shoes&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <a href="/shoes/dyeable-shoes">
              <img src="/wcsstore/images/wwcm/sfg/unconventional-bridal-shoes/767px_Shoes_4.jpg" alt="Dyeable shoes for a wedding" />
            </a>
          </div>
        </div>
      </section>

      <!-- Cowboy Boots -->
      <section class="something-blue">
        <div class="something-blue__flex">
          <div class="something-blue__flex-col">
            <h3 class="serif-m">Cowboy Boots</h3>
            <p class="sans-m">These boots are made for walkin’ down the aisle. We say leather and lace were meant to be together.</p>
            <p class="sans-bold-uppercase">
              <a href="/Product_classic-cowboy-boots-sochi72_sneakers">Shop This Style&nbsp;&gt;</a>
            </p>
          </div>
          <div class="something-blue__flex-col">
            <a href="/Product_classic-cowboy-boots-sochi72_sneakers">
              <img src="/wcsstore/images/wwcm/sfg/unconventional-bridal-shoes/767px_Shoes_5.jpg" alt="Cowboy Boot Wedding Shoe" />
            </a>
          </div>
        </div>
      </section>

    </main>




    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingshoeideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingShoeIdeas.jpg" alt="White pumps on a pink background">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="Content_StyleandFashionGuide_weddingshoeideas" class="text-decoration-none">5 Shoes Every Bride Needs</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingshoeideas">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_dyeableshoesguide">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_DyeableShoesGuide.jpg" alt="Bridesmaids sitting on a step wearing dyeable shoes">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_dyeableshoesguide" class="text-decoration-none">All About Dyeable Shoes</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_dyeableshoesguide">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Curations_accessories">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_CurationsAccessories_414x284.jpg" alt="Fancy flip flops and pearl jewelry">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Curations_accessories" class="text-decoration-none">#DBAccessories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Curations_accessories">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>
    </aside>
    
  </section>
</article>
