<main role="main" class="content-page">

  <!-- Hero -->
  <section class="container-full">
    <div class="hero">

      <div class="hero__breadcrumbs">
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>

      <div class="hero__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/767_Hero_Versa_Hub.jpg" alt="Bridesmaid in one shoulder convertible dress">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/VersaMain-Hero-Desktop.jpg" alt="Bridesmaid in one shoulder convertible dress">
      </div>

      <div class="hero__text">
        <div class="hero__text--inner">
          <div class="hero__text-copy">
            <h1 class="serif-xl">Style-Your-Way Dresses</h1>
            <p class="sans-m">These convertible bridesmaid dresses let you create a look that's unique to you. Twist, braid, or knot the fabric ties for a completely new neckline.</p>
            <p class="sans-bold-uppercase">
              <a href="/Content_BridalParty_convertibledressshowtotie">Style-Your-Way Mesh Dress&nbsp;&gt;</a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/Content_BridalParty_convertibledress">Style-Your-Way Jersey Dress&nbsp;&gt;</a>
            </p>
          </div>
          <div class="hero__text-video">
            <div class="video-container">
              <!-- Sound -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ppGeVTbNgus?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=ppGeVTbNgus&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
              <!-- No Sound -->
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OYcgAwTC88k?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=OYcgAwTC88k&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




  <!-- Steps -->
  <section class="container-full">
    <div class="steps">
      <div class="steps__inner">

        <div class="column">
          <div class="steps__svg">
            <svg width="31px" height="35px" viewBox="0 0 31 35">
              <polygon points="0.6 5 8.8 0.2 13.4 0.2 13.4 33.8 6.9 33.8 6.9 7.7 0.7 11.2 0.7 5"></polygon>
              <path d="M26.4,25.9 C28.8,25.9 30.6,27.8 30.6,30.1 C30.6,32.5 28.7,34.3 26.4,34.3 C24.1,34.3 22.2,32.5 22.2,30.1 C22.2,27.8 24.1,25.9 26.4,25.9 Z"></path>
            </svg>
          </div>
          <div class="steps__text">
            <p class="serif-m">Decide on a dress</p>
            <p class="sans-m">Flowy mesh or shiny jersey?</p>
          </div>
        </div>

        <div class="column">
          <div class="steps__svg">
            <svg width="37px" height="35px" viewBox="0 0 37 35">
              <path d="M0.5,7.9 C1.9,3.3 6.2,0.1 11.1,0.1 C16.9,0.1 21.9,4.4 21.9,10.5 C21.9,14.6 19.8,17.6 17.6,20.1 L10.4,28.4 L22.1,28.4 L22.1,34.2 L0.2,34.2 L0.2,30.4 L12,16.9 C14.6,14 15.3,12.1 15.3,10.3 C15.3,7.9 13.5,5.8 10.9,5.8 C8.6,5.8 7,7.3 6.3,9.6 L0.5,7.9 Z"></path>
              <path d="M32.4,26.3 C34.8,26.3 36.6,28.2 36.6,30.5 C36.6,32.8 34.7,34.7 32.4,34.7 C30.1,34.7 28.2,32.9 28.2,30.5 C28.2,28.1 30.1,26.3 32.4,26.3 Z"></path>
            </svg>
          </div>
          <div class="steps__text">
            <p class="serif-m">Pick your palette</p>
            <p class="sans-m">Choose from up to 45 colors</p>
          </div>
        </div>

        <div class="column">
          <div class="steps__svg">
            <svg width="40px" height="35px" viewBox="0 0 40 35">
              <path d="M5.5,25.4 C6.9,27.4 9.2,28.8 11.7,28.8 C14.9,28.8 18,26.3 18,22.7 C18,19.2 15.1,16.6 11.4,16.6 C10.1,16.6 8.6,16.9 7.4,17.6 L7.4,13.8 L13.7,6.4 L2.4,6.4 L2.4,0.4 L22.8,0.4 L22.8,4.2 L16.7,11.7 C21.3,13.5 24.5,17.5 24.5,22.6 C24.5,29.7 18.9,34.5 12,34.5 C7.8,34.5 3.8,32.6 0.9,29.3 L5.5,25.4 Z"></path>
              <path d="M35.1,26.1 C37.5,26.1 39.3,28 39.3,30.3 C39.3,32.6 37.4,34.5 35.1,34.5 C32.8,34.5 30.9,32.7 30.9,30.3 C30.9,27.9 32.8,26.1 35.1,26.1 Z"></path>
            </svg>
          </div>
          <div class="steps__text">
            <p class="serif-m">Wear it your way</p>
            <p class="sans-m">Create the neckline you love</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Carousel -->
  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="topCarouselPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="topCarousel" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#topCarouselPrev", "nextArrow": "#topCarouselNext" }'>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_CHIANTI_VERSA_v1_GRECIAN_18S.jpg" alt="">
            </div>

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">Bridesmaids<br>and beyond</p>
                  <p class="sans-xs">These versatile dresses give you a closet full of options you can wear beyond the wedding.</p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_CHIANTI_VERSA_v2_GRECIAN_18S.jpg" alt="">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_PLUM_VERSA_v1_BRAID_18S.jpg" alt="">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_PLUM_VERSA_v2_BRAID_18S.jpg" alt="">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_QUARTZ_VERSA_SLVCAPE_18S.jpg" alt="">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-main/F19515_WISTERIA_VERSA_KNTCAPSLV_18S.jpg" alt="">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="topCarouselNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>


  <!-- Image w/ Text -->
  <!-- Mesh -->
  <section class="container-full">
    <div class="img-text-block">
      <div class="img-text-block__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/767_Versa_Hub_Module.jpg" alt="Bridesmaid in Style-Your-Way Mesh Dress">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/VersaMain-Mesh-Desktop.jpg" alt="Bridesmaid in Style-Your-Way Mesh Dress">
      </div>
      <div class="img-text-block__text">
        <div class="img-text-block__text--inner md-left">
          <div class="img-text-block__text--svg">
            <svg height="21px" viewBox="0 0 163 21">
              <polygon points="7.6 14.9 5.4 14.9 0.5 3.2 3.6 3.2 6.4 10 9.3 3.2 11.5 3.2 14.4 10 17.3 3.2 20.4 3.2 15.5 14.8 13.3 14.8 10.4 8"></polygon>
              <path d="M33.4,14.9 L30.4,14.9 L30.4,14 C29.4,14.8 28.3,15.2 27.2,15.2 C25.5,15.2 23.8,14.4 22.8,13.2 C21.9,12.1 21.3,10.7 21.3,9.1 C21.3,5.7 23.8,3 27,3 C28.3,3 29.5,3.4 30.4,4.2 L30.4,3.3 L33.4,3.3 L33.4,14.9 Z M30.2,7.3 C29.6,6.4 28.5,5.9 27.3,5.9 C25.5,5.9 24.3,7.4 24.3,9.1 C24.3,10.9 25.6,12.3 27.4,12.3 C28.6,12.3 29.6,11.7 30.2,10.9 L30.2,7.3 Z"></path>
              <polygon points="37.5 20.7 40.7 13.8 35.5 3.3 38.9 3.3 42.3 10.3 45.4 3.3 48.7 3.3 40.7 20.7"></polygon>
              <path d="M51,11.3 C51.8,12 53,12.5 54.2,12.5 C55,12.5 55.7,12.1 55.7,11.5 C55.7,9.7 50.1,10.4 50.1,6.6 C50.1,4.4 52.3,3 54.6,3 C56.1,3 57.8,3.6 58.5,4.2 L57,6.4 C56.4,6 55.6,5.6 54.8,5.6 C53.9,5.6 53.2,5.9 53.2,6.5 C53.2,8 58.8,7.4 58.8,11.4 C58.8,13.6 56.6,15 54.2,15 C52.6,15 50.9,14.4 49.5,13.4 L51,11.3 Z"></path>
              <path d="M77,14.9 C76.6,15 75.7,15.1 75.1,15.1 C73.2,15.1 71.9,14.5 71.1,13.4 C70.5,12.6 70.2,11.6 70.2,9.9 L70.2,5.8 L67,5.8 L67,3.2 L70.2,3.2 L70.2,0 L73.3,0 L73.3,3.2 L77.1,3.2 L77.1,5.8 L73.3,5.8 L73.3,10.2 C73.3,10.9 73.4,11.4 73.7,11.7 C74,12.1 74.5,12.3 75.3,12.3 C75.8,12.3 76.4,12.2 76.6,12.2 L77,14.9 Z"></path>
              <path d="M85,3 C88.5,3 91.2,5.7 91.2,9.1 C91.2,12.5 88.5,15.1 85,15.1 C81.5,15.1 78.8,12.4 78.8,9.1 C78.8,5.7 81.4,3 85,3 Z M85,12.2 C86.8,12.2 88.1,10.8 88.1,9 C88.1,7.2 86.9,5.8 85,5.8 C83.2,5.8 81.9,7.2 81.9,9 C81.9,10.8 83.1,12.2 85,12.2 Z"></path>
              <polygon points="105.3 14.9 103.1 14.9 98.2 3.3 101.3 3.3 104.1 10.1 107 3.3 109.2 3.3 112.1 10.1 115 3.3 118.1 3.3 113.2 14.9 111 14.9 108.1 8.1"></polygon>
              <path d="M129.8,13 C128.7,14.3 126.8,15.1 125,15.1 C121.5,15.1 118.9,12.7 118.9,9.1 C118.9,5.9 121.1,3 124.6,3 C127.8,3 130.1,5.7 130.1,9 C130.1,9.3 130.1,9.6 130,9.9 L122,9.9 C122.2,11.5 123.5,12.7 125.1,12.7 C126.4,12.7 127.5,12 128,11.4 L129.8,13 Z M126.9,7.6 C126.8,6.6 125.9,5.6 124.6,5.6 C123.3,5.6 122.2,6.6 122.1,7.6 L126.9,7.6 Z"></path>
              <path d="M144.3,14.9 L141.3,14.9 L141.3,14 C140.3,14.8 139.2,15.2 138.1,15.2 C136.4,15.2 134.7,14.4 133.7,13.2 C132.8,12.1 132.2,10.7 132.2,9.1 C132.2,5.7 134.7,3 137.9,3 C139.2,3 140.4,3.4 141.3,4.2 L141.3,3.3 L144.3,3.3 L144.3,14.9 Z M141.2,7.3 C140.6,6.4 139.5,5.9 138.3,5.9 C136.5,5.9 135.3,7.4 135.3,9.1 C135.3,10.9 136.6,12.3 138.4,12.3 C139.6,12.3 140.6,11.7 141.2,10.9 L141.2,7.3 Z"></path>
              <path d="M155,6 C154.8,5.9 154.3,5.9 153.9,5.9 C152.5,5.9 151.5,6.9 151.1,7.6 L151.1,14.9 L148,14.9 L148,3.2 L151,3.2 L151,4.4 C151.7,3.5 153,3 154.4,3 C154.9,3 155.1,3 155.5,3.1 L155,6 Z"></path>
              <path d="M160.6,3 C161.8,3 162.7,3.9 162.7,5.1 C162.7,6.3 161.8,7.1 160.6,7.1 C159.4,7.1 158.5,6.2 158.5,5.1 C158.5,4 159.5,3 160.6,3 Z M160.6,11 C161.8,11 162.7,11.9 162.7,13.1 C162.7,14.3 161.8,15.1 160.6,15.1 C159.4,15.1 158.5,14.2 158.5,13.1 C158.5,12 159.5,11 160.6,11 Z"></path>
            </svg>
          </div>
          <div class="img-text-block__text--copy">
            <h3 class="serif-m">Style-Your-Way Mesh Dress</h3>
            <p class="sans-m">Our soft and flowy mesh fabric makes this option incredibly easy to wear. This dress starts with six long ties that allow you to customize the sweetheart bodice with the straps or sleeves you desire&mdash;from a braided one-shoulder to flowy
              cap sleeves. Get this long style in 45 colors.</p>
            <p class="btn btn-secondary sans-bold-uppercase">
              <a href="/Content_BridalParty_convertibledressshowtotie">See How To Style</a>
            </p>
            <p class="btn btn-secondary sans-bold-uppercase">
              <a href="/Content_BridalParty_convertibledress">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Image w/ Text -->
  <!-- Jersey -->
  <section class="container-full">
    <div class="img-text-block">
      <div class="img-text-block__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/767_Versa_Hub_Module_Jersey.jpg" alt="Bridesmaid in Style-Your-Way Jersey Dress">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/versa-main/VersaMain-Jersey-Desktop.jpg" alt="Bridesmaid in Style-Your-Way Jersey Dress">
      </div>
      <div class="img-text-block__text">
        <div class="img-text-block__text--inner md-right">
          <div class="img-text-block__text--svg">
            <svg height="21px" viewBox="0 0 163 21">
              <polygon points="7.6 14.9 5.4 14.9 0.5 3.2 3.6 3.2 6.4 10 9.3 3.2 11.5 3.2 14.4 10 17.3 3.2 20.4 3.2 15.5 14.8 13.3 14.8 10.4 8"></polygon>
              <path d="M33.4,14.9 L30.4,14.9 L30.4,14 C29.4,14.8 28.3,15.2 27.2,15.2 C25.5,15.2 23.8,14.4 22.8,13.2 C21.9,12.1 21.3,10.7 21.3,9.1 C21.3,5.7 23.8,3 27,3 C28.3,3 29.5,3.4 30.4,4.2 L30.4,3.3 L33.4,3.3 L33.4,14.9 Z M30.2,7.3 C29.6,6.4 28.5,5.9 27.3,5.9 C25.5,5.9 24.3,7.4 24.3,9.1 C24.3,10.9 25.6,12.3 27.4,12.3 C28.6,12.3 29.6,11.7 30.2,10.9 L30.2,7.3 Z"></path>
              <polygon points="37.5 20.7 40.7 13.8 35.5 3.3 38.9 3.3 42.3 10.3 45.4 3.3 48.7 3.3 40.7 20.7"></polygon>
              <path d="M51,11.3 C51.8,12 53,12.5 54.2,12.5 C55,12.5 55.7,12.1 55.7,11.5 C55.7,9.7 50.1,10.4 50.1,6.6 C50.1,4.4 52.3,3 54.6,3 C56.1,3 57.8,3.6 58.5,4.2 L57,6.4 C56.4,6 55.6,5.6 54.8,5.6 C53.9,5.6 53.2,5.9 53.2,6.5 C53.2,8 58.8,7.4 58.8,11.4 C58.8,13.6 56.6,15 54.2,15 C52.6,15 50.9,14.4 49.5,13.4 L51,11.3 Z"></path>
              <path d="M77,14.9 C76.6,15 75.7,15.1 75.1,15.1 C73.2,15.1 71.9,14.5 71.1,13.4 C70.5,12.6 70.2,11.6 70.2,9.9 L70.2,5.8 L67,5.8 L67,3.2 L70.2,3.2 L70.2,0 L73.3,0 L73.3,3.2 L77.1,3.2 L77.1,5.8 L73.3,5.8 L73.3,10.2 C73.3,10.9 73.4,11.4 73.7,11.7 C74,12.1 74.5,12.3 75.3,12.3 C75.8,12.3 76.4,12.2 76.6,12.2 L77,14.9 Z"></path>
              <path d="M85,3 C88.5,3 91.2,5.7 91.2,9.1 C91.2,12.5 88.5,15.1 85,15.1 C81.5,15.1 78.8,12.4 78.8,9.1 C78.8,5.7 81.4,3 85,3 Z M85,12.2 C86.8,12.2 88.1,10.8 88.1,9 C88.1,7.2 86.9,5.8 85,5.8 C83.2,5.8 81.9,7.2 81.9,9 C81.9,10.8 83.1,12.2 85,12.2 Z"></path>
              <polygon points="105.3 14.9 103.1 14.9 98.2 3.3 101.3 3.3 104.1 10.1 107 3.3 109.2 3.3 112.1 10.1 115 3.3 118.1 3.3 113.2 14.9 111 14.9 108.1 8.1"></polygon>
              <path d="M129.8,13 C128.7,14.3 126.8,15.1 125,15.1 C121.5,15.1 118.9,12.7 118.9,9.1 C118.9,5.9 121.1,3 124.6,3 C127.8,3 130.1,5.7 130.1,9 C130.1,9.3 130.1,9.6 130,9.9 L122,9.9 C122.2,11.5 123.5,12.7 125.1,12.7 C126.4,12.7 127.5,12 128,11.4 L129.8,13 Z M126.9,7.6 C126.8,6.6 125.9,5.6 124.6,5.6 C123.3,5.6 122.2,6.6 122.1,7.6 L126.9,7.6 Z"></path>
              <path d="M144.3,14.9 L141.3,14.9 L141.3,14 C140.3,14.8 139.2,15.2 138.1,15.2 C136.4,15.2 134.7,14.4 133.7,13.2 C132.8,12.1 132.2,10.7 132.2,9.1 C132.2,5.7 134.7,3 137.9,3 C139.2,3 140.4,3.4 141.3,4.2 L141.3,3.3 L144.3,3.3 L144.3,14.9 Z M141.2,7.3 C140.6,6.4 139.5,5.9 138.3,5.9 C136.5,5.9 135.3,7.4 135.3,9.1 C135.3,10.9 136.6,12.3 138.4,12.3 C139.6,12.3 140.6,11.7 141.2,10.9 L141.2,7.3 Z"></path>
              <path d="M155,6 C154.8,5.9 154.3,5.9 153.9,5.9 C152.5,5.9 151.5,6.9 151.1,7.6 L151.1,14.9 L148,14.9 L148,3.2 L151,3.2 L151,4.4 C151.7,3.5 153,3 154.4,3 C154.9,3 155.1,3 155.5,3.1 L155,6 Z"></path>
              <path d="M160.6,3 C161.8,3 162.7,3.9 162.7,5.1 C162.7,6.3 161.8,7.1 160.6,7.1 C159.4,7.1 158.5,6.2 158.5,5.1 C158.5,4 159.5,3 160.6,3 Z M160.6,11 C161.8,11 162.7,11.9 162.7,13.1 C162.7,14.3 161.8,15.1 160.6,15.1 C159.4,15.1 158.5,14.2 158.5,13.1 C158.5,12 159.5,11 160.6,11 Z"></path>
            </svg>
          </div>
          <div class="img-text-block__text--copy">
            <h3 class="serif-m">Style-Your-Way Jersey Dress</h3>
            <p class="sans-m">Our slightly stretchy jersey fabric drapes beautifully and gives your look a hint of shine. This dress starts with two long ties that become your bodice, straps, and neckline. With backless lingerie, the possibilities are endless. Get this
              long style in 12 colors.</p>
            <p class="btn btn-secondary sans-bold-uppercase">
              <a href="/Content_BridalParty_convertibledress">See How To Style</a>
            </p>
            <p class="btn btn-secondary sans-bold-uppercase">
              <a href="/bridesmaid-dresses/convertible-bridesmaid-dresses">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Under the Dress -->
  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="few-favorites-carousel__heading">
          <p class="few-favorites-carousel__heading-text serif-s-italic">Under the dress</p>
        </div>

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="underTheDressPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="underTheDress" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#underTheDressPrev", "nextArrow": "#underTheDressNext" }'>

            <div class="slick-slide">
              <a href="/Product_deep-plunge-convertible-strapless-bra-5312">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-5312-10979677-Fawn?$plpproductimgmobile_2up$" alt="Deep-Plunge Convertible Strapless Bra">
              </a>
            </div>

            <div class="slick-slide">
              <a href="/Product_spanx-high-waisted-power-short-2745">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-2745-10630466-Black?$plpproductimgmobile_2up$" alt="Spanx High Waisted Power Short">
              </a>
            </div>

            <div class="slick-slide">
              <a href="/Product_fashion-forms-nubra-ultralite-backless-bra-db16846">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DB16846-10660295-Nude?$plpproductimgmobile_2up$" alt="Fashion Forms NuBra Ultralite Backless Bra">
              </a>
            </div>
            
            <div class="slick-slide">
              <a href="/Product_curvy-couture-strapless-convertible-push-up-bra-1211">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1211-10932616-Black?$plpproductimgmobile_2up$" alt="Curvy Couture Strapless Convertible Push-Up Bra">
              </a>
            </div>

            <div class="slick-slide">
              <a href="/Product_spanx-higher-power-panties-2746">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-2746-10630481-Nude?$plpproductimgmobile_2up$" alt="Spanx Higher Power Panties">
              </a>
            </div>

            <div class="slick-slide">
              <a href="/Product_felina-body-luxe-150671">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-150671-10175861-Black?$plpproductimgmobile_2up$" alt="Felina Body Luxe Bra">
              </a>
            </div>

            <div class="slick-slide">
              <a href="/Product_spanx-mid-thigh-power-short-2744">
                <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-2744-10630458-Nude?$plpproductimgmobile_2up$" alt="Spanx Mid Thigh Power Short">
              </a>
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="underTheDressNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>



  <!-- Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_Catalog_onlinecatalog">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_LookBook.jpg" alt="Open magazine highlighting our look books">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Our Latest Look Books</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_Catalog_onlinecatalog">Browse Digital Editions&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_BridesmaidMismatched.jpg" alt="Mix and match bridesmaid dresses in floral print and bright colors">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_jewelrynecklines">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_NecklineGuide.jpg" alt="Closeup of bride in V-neck dress with statement necklace eating cake">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Neckline &amp; Jewelry Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide-Wedding_Colors">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_ColorIdeas.jpg" alt="Bride and 3 Bridesmaid in Blue Dresses">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Color Ideas for Your Wedding</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide-Wedding_Colors">Fun with Hues&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
