<main role="main" class="content-page">

  <!-- Hero -->
  <section class="container-full">
    <div class="hero">

      <div class="hero__breadcrumbs">
        <p class="sans-bold-uppercase">
          <a href="/Content_StyleandFashionGuide_styleguide">Inspiration&nbsp;&amp;&nbsp;Guidance</a>
          <span>&nbsp;/&nbsp;</span>
          <a href="/Content_BridalParty_convertibledressstyles">Style-Your-Way&nbsp;Dress&nbsp;&gt;</a>
        </p>
      </div>

      <div class="hero__img">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/sfg/versa-new-styles/767_Hero_Versa_New.jpg" alt="Bridesmaid in Style-Your-Way Mesh Cap Sleeve Dress">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/versa-new-styles/VersaNewStyles_Hero_Desktop_1600x615.jpg" alt="Bridesmaid in Style-Your-Way Mesh Cap Sleeve Dress">
      </div>

      <div class="hero__text">
        <div class="hero__text--inner">
          <div class="hero__text-copy">
            <div class="hero__text--svg">
              <svg height="21px" viewBox="0 0 163 21">
                <polygon points="7.6 14.9 5.4 14.9 0.5 3.2 3.6 3.2 6.4 10 9.3 3.2 11.5 3.2 14.4 10 17.3 3.2 20.4 3.2 15.5 14.8 13.3 14.8 10.4 8"></polygon>
                <path d="M33.4,14.9 L30.4,14.9 L30.4,14 C29.4,14.8 28.3,15.2 27.2,15.2 C25.5,15.2 23.8,14.4 22.8,13.2 C21.9,12.1 21.3,10.7 21.3,9.1 C21.3,5.7 23.8,3 27,3 C28.3,3 29.5,3.4 30.4,4.2 L30.4,3.3 L33.4,3.3 L33.4,14.9 Z M30.2,7.3 C29.6,6.4 28.5,5.9 27.3,5.9 C25.5,5.9 24.3,7.4 24.3,9.1 C24.3,10.9 25.6,12.3 27.4,12.3 C28.6,12.3 29.6,11.7 30.2,10.9 L30.2,7.3 Z"></path>
                <polygon points="37.5 20.7 40.7 13.8 35.5 3.3 38.9 3.3 42.3 10.3 45.4 3.3 48.7 3.3 40.7 20.7"></polygon>
                <path d="M51,11.3 C51.8,12 53,12.5 54.2,12.5 C55,12.5 55.7,12.1 55.7,11.5 C55.7,9.7 50.1,10.4 50.1,6.6 C50.1,4.4 52.3,3 54.6,3 C56.1,3 57.8,3.6 58.5,4.2 L57,6.4 C56.4,6 55.6,5.6 54.8,5.6 C53.9,5.6 53.2,5.9 53.2,6.5 C53.2,8 58.8,7.4 58.8,11.4 C58.8,13.6 56.6,15 54.2,15 C52.6,15 50.9,14.4 49.5,13.4 L51,11.3 Z"></path>
                <path d="M77,14.9 C76.6,15 75.7,15.1 75.1,15.1 C73.2,15.1 71.9,14.5 71.1,13.4 C70.5,12.6 70.2,11.6 70.2,9.9 L70.2,5.8 L67,5.8 L67,3.2 L70.2,3.2 L70.2,0 L73.3,0 L73.3,3.2 L77.1,3.2 L77.1,5.8 L73.3,5.8 L73.3,10.2 C73.3,10.9 73.4,11.4 73.7,11.7 C74,12.1 74.5,12.3 75.3,12.3 C75.8,12.3 76.4,12.2 76.6,12.2 L77,14.9 Z"></path>
                <path d="M85,3 C88.5,3 91.2,5.7 91.2,9.1 C91.2,12.5 88.5,15.1 85,15.1 C81.5,15.1 78.8,12.4 78.8,9.1 C78.8,5.7 81.4,3 85,3 Z M85,12.2 C86.8,12.2 88.1,10.8 88.1,9 C88.1,7.2 86.9,5.8 85,5.8 C83.2,5.8 81.9,7.2 81.9,9 C81.9,10.8 83.1,12.2 85,12.2 Z"></path>
                <polygon points="105.3 14.9 103.1 14.9 98.2 3.3 101.3 3.3 104.1 10.1 107 3.3 109.2 3.3 112.1 10.1 115 3.3 118.1 3.3 113.2 14.9 111 14.9 108.1 8.1"></polygon>
                <path d="M129.8,13 C128.7,14.3 126.8,15.1 125,15.1 C121.5,15.1 118.9,12.7 118.9,9.1 C118.9,5.9 121.1,3 124.6,3 C127.8,3 130.1,5.7 130.1,9 C130.1,9.3 130.1,9.6 130,9.9 L122,9.9 C122.2,11.5 123.5,12.7 125.1,12.7 C126.4,12.7 127.5,12 128,11.4 L129.8,13 Z M126.9,7.6 C126.8,6.6 125.9,5.6 124.6,5.6 C123.3,5.6 122.2,6.6 122.1,7.6 L126.9,7.6 Z"></path>
                <path d="M144.3,14.9 L141.3,14.9 L141.3,14 C140.3,14.8 139.2,15.2 138.1,15.2 C136.4,15.2 134.7,14.4 133.7,13.2 C132.8,12.1 132.2,10.7 132.2,9.1 C132.2,5.7 134.7,3 137.9,3 C139.2,3 140.4,3.4 141.3,4.2 L141.3,3.3 L144.3,3.3 L144.3,14.9 Z M141.2,7.3 C140.6,6.4 139.5,5.9 138.3,5.9 C136.5,5.9 135.3,7.4 135.3,9.1 C135.3,10.9 136.6,12.3 138.4,12.3 C139.6,12.3 140.6,11.7 141.2,10.9 L141.2,7.3 Z"></path>
                <path d="M155,6 C154.8,5.9 154.3,5.9 153.9,5.9 C152.5,5.9 151.5,6.9 151.1,7.6 L151.1,14.9 L148,14.9 L148,3.2 L151,3.2 L151,4.4 C151.7,3.5 153,3 154.4,3 C154.9,3 155.1,3 155.5,3.1 L155,6 Z"></path>
                <path d="M160.6,3 C161.8,3 162.7,3.9 162.7,5.1 C162.7,6.3 161.8,7.1 160.6,7.1 C159.4,7.1 158.5,6.2 158.5,5.1 C158.5,4 159.5,3 160.6,3 Z M160.6,11 C161.8,11 162.7,11.9 162.7,13.1 C162.7,14.3 161.8,15.1 160.6,15.1 C159.4,15.1 158.5,14.2 158.5,13.1 C158.5,12 159.5,11 160.6,11 Z"></path>
              </svg>
            </div>
            <h1 class="serif-xl">Style-Your-Way Mesh&nbsp;Dress</h1>
            <p class="sans-m">Our soft and flowy mesh fabric makes this option incredibly easy to wear. This convertible bridesmaid dress starts with six long ties that allow you to customize the sweetheart bodice with the straps or sleeves you desire&mdash;from a braided
              one-shoulder to flowy cap sleeves. Get this long style in 45 colors.</p>
            <p class="btn btn-secondary sans-bold-uppercase">
              <a href="#">Shop Now</a>
            </p>

            <div class="hero__text--jump-links">
              <p class="sans-bold-uppercase">
                <a href="#crossFrontCapSleeves">Cross-Front Cap&nbsp;Sleeves</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#braidedOneShoulder">Braided One-Shoulder</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#halter">Halter</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#tBack">T-Back</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#offTheShoulder">Off-the-Shoulder</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#oneShoulder">One-Shoulder</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#knottedCapSleeves">Knotted Cap Sleeves</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#yNeck">Y-Neck</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#crossBackTank">Cross-Back Tank</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="#capSleeves">Cap Sleeves</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




  <!-- Cross-Front Cap Sleeves -->
  <section class="container-full" id="crossFrontCapSleeves">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2uM0mR8DJG0?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=2uM0mR8DJG0&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Cross-Front Cap Sleeves</h3>
          <p class="sans-m">Cross each of the two front ties over the opposite shoulder and knot together at the back of the neck. Finish with a bow. Wrap the two side ties around the waist, passing each one through a back tie's keyhole, and knot together in the front.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="crossFrontCapSleevesPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="crossFrontCapSleevesCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Cross-Front Cap Sleeves</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_CrossFrontCapSleeves.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step1.jpg" alt="Cross-Front Cap Sleeves Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step2.jpg" alt="Cross-Front Cap Sleeves Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step3.jpg" alt="Cross-Front Cap Sleeves Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step4.jpg" alt="Cross-Front Cap Sleeves Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step5.jpg" alt="Cross-Front Cap Sleeves Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-FrontCapSleeve/Versa_Sketches_LPCross-FrontCapSleeve_Step6.jpg" alt="Cross-Front Cap Sleeves Step 6">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="crossFrontCapSleevesNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Braided One-Shoulder -->
  <section class="container-full" id="braidedOneShoulder">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XXFtQYAx5vk?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=XXFtQYAx5vk&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Braided One-Shoulder</h3>
          <p class="sans-m">Braid the two front ties with the right side tie, drape the braid over the left shoulder, and knot to the right back tie. Wrap the left side tie around the waist and attach to the braided strap in the back.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="braidedOneShoulderPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="braidedOneShoulderCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Braided One-Shoulder</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_BraidedOneShoulder.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step1.jpg" alt="Braided One-Shoulder Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step2.jpg" alt="Braided One-Shoulder Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step3.jpg" alt="Braided One-Shoulder Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step4.jpg" alt="Braided One-Shoulder Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step5.jpg" alt="Braided One-Shoulder Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step6.jpg" alt="Braided One-Shoulder Step 6">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step7.jpg" alt="Braided One-Shoulder Step 7">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Braid/Versa_Sketches_LPBraid_Step8.jpg" alt="Braided One-Shoulder Step 8">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="braidedOneShoulderNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Halter -->
  <section class="container-full" id="halter">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qjBqeVIbVl4?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=qjBqeVIbVl4&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Halter</h3>
          <p class="sans-m">Drape the two front ties over the shoulders, knot together at the back of the neck, and finish with a bow.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="halterPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="halterCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Halter</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_Halter.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Halter/Versa_Sketches_LPHalter_Step1.jpg" alt="Halter Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Halter/Versa_Sketches_LPHalter_Step2.jpg" alt="Halter Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Halter/Versa_Sketches_LPHalter_Step3.jpg" alt="Halter Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Halter/Versa_Sketches_LPHalter_Step4.jpg" alt="Halter Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Halter/Versa_Sketches_LPHalter_Step5.jpg" alt="Halter Step 5">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="halterNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- T-Back -->
  <section class="container-full" id="tBack">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frsf1ZK0Sd4?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=frsf1ZK0Sd4&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">T-Back</h3>
          <p class="sans-m">Cross the left front tie over the right shoulder and the right front tie over the left shoulder. Twist the ties down to the waist, separate, and knot to the back ties' keyholes. Wrap the side ties around the waist, crisscrossing in the front,
            and knot together in the back. Finish with a bow.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="tBackPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="tBackCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style T-Back</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_TBack.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step1.jpg" alt="T-Back Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step2.jpg" alt="T-Back Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step3.jpg" alt="T-Back Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step4.jpg" alt="T-Back Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step5.jpg" alt="T-Back Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/T-Back/Versa_Sketches_LPT-Back_Step6.jpg" alt="T-Back Step 6">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="tBackNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Off-the-Shoulder -->
  <section class="container-full" id="offTheShoulder">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p3jCEv7zG_0?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=p3jCEv7zG_0&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Off-the-Shoulder</h3>
          <p class="sans-m">Lift the left front and side ties and knot together at the bodice. Separate the ties so one drapes around the arm, then knot together at the back. Knot the tie to the opposite back tie's keyhole. Repeat on the right side.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="offTheShoulderPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="offTheShoulderCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Off-the-Shoulder</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_OffTheShoulder.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step1.jpg" alt="Off-the-Shoulder Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step2.jpg" alt="Off-the-Shoulder Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step3.jpg" alt="Off-the-Shoulder Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step4.jpg" alt="Off-the-Shoulder Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step5.jpg" alt="Off-the-Shoulder Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step6.jpg" alt="Off-the-Shoulder Step 6">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Off-the-Shoulder/Versa_Sketches_LPOff-the-Shoulder_Step7.jpg" alt="Off-the-Shoulder Step 7">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="offTheShoulderNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- One-Shoulder -->
  <section class="container-full" id="oneShoulder">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tQGvbT8ykBI?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=tQGvbT8ykBI&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">One-Shoulder</h3>
          <p class="sans-m">Gather the two front and two back ties at one shoulder. Knot together. Wrap the two side ties around the waist, crisscrossing in the front, and knot together in the back.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="oneShoulderPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="oneShoulderCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style One-Shoulder</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_OneShoulder.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step1.jpg" alt="One-Shoulder Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step2.jpg" alt="One-Shoulder Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step3.jpg" alt="One-Shoulder Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step4.jpg" alt="One-Shoulder Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step5.jpg" alt="One-Shoulder Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/One-Shoulder/Versa_Sketches_LPOneShoulder_Step6.jpg" alt="One-Shoulder Step 6">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="oneShoulderNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Knotted Cap Sleeves -->
  <section class="container-full" id="knottedCapSleeves">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5AUn0CFAox0?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=5AUn0CFAox0&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Knotted Cap Sleeves</h3>
          <p class="sans-m">Lift the two front ties, knot each one at the top of the bodice, and fan out over each shoulder. Cross the ties in the back and knot to the back ties' keyholes. Wrap the side ties around the waist, weaving through the keyholes in the back, and knot together in the front.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="knottedCapSleevesPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="knottedCapSleevesCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Knotted Cap Sleeves</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_KnottedCapSleeves.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step1.jpg" alt="Knotted Cap Sleeves Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step2.jpg" alt="Knotted Cap Sleeves Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step3.jpg" alt="Knotted Cap Sleeves Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step4.jpg" alt="Knotted Cap Sleeves Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step5.jpg" alt="Knotted Cap Sleeves Step 5">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step6.jpg" alt="Knotted Cap Sleeves Step 6">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/KnottedCapSleeve/Versa_Sketches_LPKnottedCapSleeve_Step7.jpg" alt="Knotted Cap Sleeves Step 7">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="knottedCapSleevesNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Y-Neck -->
  <section class="container-full" id="yNeck">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RaOoYPBTXyo?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=RaOoYPBTXyo&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Y-Neck</h3>
          <p class="sans-m">Combine the right front and side ties; combine the left front and side ties. Bring the grouped ties to the front of the neck, knot together, then drape over the opposite shoulders and knot to the back ties' keyholes.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="yNeckPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="yNeckCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Y-Neck</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_YNeck.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Y-Neck/Versa_Sketches_LPY-Neck_Step1.jpg" alt="Y-Neck Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Y-Neck/Versa_Sketches_LPY-Neck_Step2.jpg" alt="Y-Neck Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Y-Neck/Versa_Sketches_LPY-Neck_Step3.jpg" alt="Y-Neck Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Y-Neck/Versa_Sketches_LPY-Neck_Step4.jpg" alt="Y-Neck Step 4">
            </div>

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">Personalize It!</p>
                  <p class="sans-m">This dress comes with a matching sash, but you can swap in a crystal-embellished ribbon for extra sparkle.</p>
                </div>
              </div>
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="yNeckNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Cross-Back Tank -->
  <section class="container-full" id="crossBackTank">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vhSEDS3QP6s?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=vhSEDS3QP6s&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Cross-Back Tank</h3>
          <p class="sans-m">Drape the two front ties over the shoulders, cross in the back, and knot to the back ties' keyholes.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="crossBackTankPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="crossBackTankCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Cross-Back Tank</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_CrossBackTank.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-BackTank/Versa_Sketches_LPCrossBackTank_Step1.jpg" alt="Cross-Back Tank Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-BackTank/Versa_Sketches_LPCrossBackTank_Step2.jpg" alt="Cross-Back Tank Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-BackTank/Versa_Sketches_LPCrossBackTank_Step3.jpg" alt="Cross-Back Tank Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-BackTank/Versa_Sketches_LPCrossBackTank_Step4.jpg" alt="Cross-Back Tank Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cross-BackTank/Versa_Sketches_LPCrossBackTank_Step5.jpg" alt="Cross-Back Tank Step 5">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="crossBackTankNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>



  <!-- Cap Sleeves -->
  <section class="container-full" id="capSleeves">
    <div class="video-text-block">
      <div class="video-text-block--inner">

        <div class="video-text-block__video">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0J4tWcut4Vk?autoplay=false&controls=0&loop=1&modestbranding=1&playlist=0J4tWcut4Vk&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="video-text-block__text">
          <h3 class="serif-m">Cap Sleeves</h3>
          <p class="sans-m">Drape the two front ties over the shoulders, fan out the fabric, then cross in the back and knot to the back ties' keyholes. Attach the belt.</p>
          <p class="sans-bold-uppercase">
            <a href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </div>
  </section>


  <section class="container-full">
    <div class="few-favorites-carousel">
      <div class="few-favorites-carousel__inner">

        <div class="slick-container">
          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" id="capSleevesPrev">
            <svg role="img" class="few-favorites-carousel-button-prev" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
            </svg>
          </a>

          <div id="capSleevesCarousel" class="few-favorites-carousel__slick">

            <div class="slick-slide">
              <div class="slide-cream">
                <div class="slide-cream__text">
                  <p class="serif-m">How to Style Cap Sleeves</p>
                  <p class="sans-bold-uppercase">
                    <a href="/wcsstore/images/wwcm/sfg/convertible/mesh/pdf/Mesh_ConvertibleDress_Directions_CapSleeves.pdf">Download the&nbsp;PDF&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cap-Sleeves/Versa_Sketches_LPCapSleeves_Step1.jpg" alt="Cap Sleeves Step 1">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cap-Sleeves/Versa_Sketches_LPCapSleeves_Step2.jpg" alt="Cap Sleeves Step 2">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cap-Sleeves/Versa_Sketches_LPCapSleeves_Step3.jpg" alt="Cap Sleeves Step 3">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cap-Sleeves/Versa_Sketches_LPCapSleeves_Step4.jpg" alt="Cap Sleeves Step 4">
            </div>

            <div class="slick-slide">
              <img src="/wcsstore/images/wwcm/sfg/versa-new-styles/Versa-Sketches/Cap-Sleeves/Versa_Sketches_LPCapSleeves_Step5.jpg" alt="Cap Sleeves Step 5">
            </div>

          </div>

          <a href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" id="capSleevesNext">
            <svg role="img" class="few-favorites-carousel-button-next" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
              <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
              <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </section>




  <!-- Share Bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>


  <!-- Inspiration & Guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>

        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingColors.jpg" alt="Bridesmaids wearing mix and match blue dresses holding colorful paper fans">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Colors &amp; Bridal Party Ideas</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Maids, Moms &amp; More&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AccYourParty.jpg" alt="Bride with bridesmaids wearing wine dresses and sparkling earrings">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Accessorizing Your Bridal Party</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Shoes, Jewelry &amp; Other Accents&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_RealBridesmaidsDresses">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RealBridesmaids.jpg" alt="Real bridesmaids in pink mismatched bridesmaid dresses holding bouquets">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Real Bridesmaids</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_RealBridesmaidsDresses">Explore Parties by Color&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">
          			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MaidOfHonorGuide.jpg" alt="Maid of Honor Guide">
          		</a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Maid of Honor Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_MaidOfHonorGuide">Duties, Gifts &amp; Styling Tips&nbsp;&gt;</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
