<main class="content-page" role="main">


  <!-- BREADCRUMBS -->
  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section>



  <!-- HERO -->
  <section class="container hero">
    <!-- <div class="hero__video">
      <iframe src="https://www.youtube.com/embed/H6iGnXUW7hw?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=H6iGnXUW7hw" frameborder="0" allowfullscreen></iframe>
    </div> -->

    <div class="hero__img">
      <img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/767_Mobile_Hero.jpg" class="md-hidden lg-hidden" alt="bride hairstyle in a low bun wearing a tiara">
      <img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/1262_Desktop_Hero.jpg" class="sm-hidden" alt="bride hairstyle in a low bun wearing a tiara">
    </div>

    <div class="hero__text">
      <h1 class="serif-xl">Wedding<br>Hairstyle Ideas</h1>
      <p class="sans-m">Your hairstyle is a fun way to show your personality. So whether you're a bride, bridesmaid, or wedding guest, pick a 'do that embodies you.</p>
    </div>
  </section>


  <section class="container flex">
    <div class="column">
      <div class="flex__inner">

        <!-- Column 1 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/1_Messy.jpg" alt="bride with pulled-back hair" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Perfectly Messy Updo</h3>
          			<p class="sans-xs description">Pulled-back hair helps show off your dress's neckline</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/accessories/veils">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/2_Chignon.jpg" alt="bride wearing low pulled-back hairstyle with veil" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Polished Wedding Chignon</h3>
          			<p class="sans-xs description">With a low bun, you can attach your veil either right above or below it</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/accessories/veils">Shop Veils&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/accessories/veils">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/3_Short&Sweet.jpg" alt="Bride and groom holding hands" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Short & Sweet</h3>
          			<p class="sans-xs description">A birdcage veil beautifully complements a short wedding hairstyle</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/accessories/veils">Shop Veils&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/4_Buns.jpg" />
          		<div class="flex__item--text">
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
            <div class="flex__item--absolute" style="height:80%; top:43%;">
              <p class="serif-m">Bun: 3 Ways</p>
              <p class="sans-m">Messy Topknot</p>
              <p class="sans-m">Half Up, Half Down</p>
              <p class="sans-m">Low Chignon</p>
            </div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/5_Chic_Hippie.jpg" alt="Bride and two bridesmaids wearing bohemian flower crowns" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Chic Hippie Hair</h3>
          			<p class="sans-xs description">For bohemian bridesmaid hair, wear it down with a flower crown</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">Shop Headbands&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/tiaras">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/6_Crown.jpg" alt="bride wearing pulled back hairstyle with tiara" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Crowning Moment</h3>
          			<p class="sans-xs description">A crystal tiara and a bold red lip are positively regal</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/tiaras">Shop Tiaras&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>


        <!-- Column 2 -->
        <div class="col">

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/Content_StyleandFashionGuide_veilstyleguide">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/7_Classic.jpg" alt="Bride in sleek pulled-back hair" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Keep It Classic</h3>
          			<p class="sans-xs description">Let your beauty speak for itself with a timeless hairstyle and a tulle veil</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/Content_StyleandFashionGuide_veilstyleguide">See The Veil Guide&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/8_Trial.jpg" alt="brides wearing jeweled hair clip" />
          		<div class="flex__item--text">
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
            <div class="flex__item--absolute" style="height:80px; top:22%;">
              <p class="serif-m">Set up a trial with your stylist to test different looks</p>
            </div>
          </div>
          
          <div class="flex__circle">
          	<div class="flex__circle--img">
              <img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/9_BobbyPins.jpg" alt="">
            </div>
            <div class="flex__item--absolute" style="height:35%; top:60%;">
              <p class="serif-m">For last-minute fixes, bring along hairspray, bobby pins, and elastic bands</p>
            </div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/10_Bright.jpg" alt="Groom holding bride with red hair" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Bright Idea</h3>
          			<p class="sans-xs description">Vibrant hair looks even more brilliant when you're wearing white</p>
            			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/11_Curls.jpg" alt="Bride wearing natural bridal hairstyle" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Curls That Wow</h3>
          			<p class="sans-xs description">Highlight your natural texture and you'll feel like the best version of yourself</p>
            			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/Content_StyleandFashionGuide_veilstyleguide">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/12_Swept_Back.jpg" alt="Bride in strapless wedding dress with long veil holding flowers" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Swept Back Beautifully</h3>
          			<p class="sans-xs description">Strands framing the face and a lower veil placement keep this wedding updo from looking uptight</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/Content_StyleandFashionGuide_veilstyleguide">See the Veil Guide&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="flex__inner">

        <!-- Column 3 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/13_Meghan.jpg" alt="Meghan Markle wedding hairstyles" />
          		<div class="flex__item--text">
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
            <div class="flex__item--absolute" style="height:140px; top:25%;">
              <p class="serif-m" style="margin-bottom:15px">Get Meghan Markle&rsquo;s<br>Royal Hair</p>
              <p class="sans-bold-uppercase">
                <a href="http://www.davidsbridal.com/blog/style-council/tips-trends/bridal-hair-inspired-by-meghan-markle/">See The Blog Post&nbsp;&gt;</a>
              </p>
              <p class="sans-bold-uppercase">
                <a href="/tiaras">Shop Tiaras&nbsp;&gt;</a>
              </p>
            </div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/14_Beach.jpg" alt="Bride standing on dock in long wedding gown" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Beach Bun</h3>
          			<p class="sans-xs description">An easy updo feels right for seaside vows</p>
                <p class="sans-bold-uppercase">
          				<a class="btn-link" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">Shop Headbands&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/Content_StyleandFashionGuide_headpiecestyleguide">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/15_Bloom.jpg" alt="Bride wearing jeweled headband with bridal hairstyle" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Blooms for Your Hair</h3>
          			<p class="sans-xs description">A flower headband won't wilt, even on the hottest summer day</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/Content_StyleandFashionGuide_headpiecestyleguide">See the Headpiece Guide&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/16_Braid.jpg" alt="Bride wearing a braided updo hairstyle" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Braided Updo</h3>
          			<p class="sans-xs description">Beachy waves and a fishtail braid combine for a chic tousled effect</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/17_Simple.jpg" alt="Bride in shimmery dress and bold headband" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Simple Hair, Sparkling Details</h3>
          			<p class="sans-xs description">Try this pairing: a bold headband and effortless bridal hair</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Headbands%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch">Shop Headbands&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/18_Red_Carpet.jpg" alt="Bride with long curls and plunging neckline wedding gown" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Red-Carpet Ready</h3>
          			<p class="sans-xs description">Glamorous curls and a dramatic plunging neckline evoke Old Hollywood</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>


        <!-- Column 4 -->
        <div class="col">
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/headbands">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/19_Wavy.jpg" alt="Bride wearing headband with soft wavy hairstyle" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Wavy Wedding Hair</h3>
          			<p class="sans-xs description">A beautiful long bridal hairstyle: soft curls and a goddess headband</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/headbands">Shop Headbands&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/20_Heatless.jpg" />
          		<div class="flex__item--text">
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
            <div class="flex__item--absolute" style="height:90%; top:45%;">
              <p class="serif-m">Easy Heatless<br>Overnight Waves</p>
              <p class="sans-xs">Start with freshly washed and dried hair. Detangle and work in a little bit of your favorite styling cream.</p>
              <p class="sans-xs">Divide hair into 2 or 3 sections, and braid each section. (More sections create smaller waves, fewer sections create larger waves.)</p>
              <p class="sans-xs">Secure each braid with a hair tie. Get your beauty sleep, then undo braids in the a.m.</p>
            </div>
          </div>

          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/earrings">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/21_Earrings.jpg" alt="Bride wearing jeweled earrings with soft bridal hairstyle" />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Go Boho</h3>
          			<p class="sans-xs description">Lively curls are so pretty with bold floral earrings</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/earrings">Shop Earrings&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__circle">
          	<div class="flex__circle--img">
              <img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/22_Share.jpg" />
            </div>
            <div class="flex__item--absolute" style="height:110px; top:65%;">
              <p class="serif-m">Share your<br>wedding hairstyle<br>&num;davidsbridal</p>
            </div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
          		<a href="/accessories/jewelry">
          			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/23_Sleek.jpg" alt="Bride wearing jeweled earrings with sleek and straight hairstyle." />
          		</a>
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Sleek & Straight</h3>
          			<p class="sans-xs description">For an understated look, keep your hairstyle simple and wear fun jewelry</p>
          			<p class="sans-bold-uppercase">
          				<a class="btn-link" href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
          			</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
          
          <div class="flex__item">
          	<div class="flex__item--img">
        			<img src="/wcsstore/images/wwcm/sfg/wedding-hairstyle-ideas/24_Group.jpg" alt="Bride and five bridesmaids all doning different hairstyles" />
          		<div class="flex__item--text">
          			<h3 class="serif-s title">Group Effort</h3>
          			<p class="sans-xs description">Bridesmaids' hairstyles can be different&mdash;just aim for a similar vibe</p>
          			<ul class="flex__item--gigya"></ul>
          		</div>
          	</div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="container" style="display: none;">
    <div class="theme-links pink">

      <div class="theme-links__headline">
        <p class="serif-l-italic">Shop the theme</p>
      </div>

      <div class="theme-links__links">
        <p class="sans-bold-uppercase">
          <a href="#">Garden Wedding Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="#">Garden Accessories&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="#">Garden Flower Girl Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="#">Garden Favors&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="#">Garden Gifts&nbsp;&gt;</a>
        </p>
      </div>

    </div>
  </section>



    <!-- Gigya Share Bar -->
    <section class="container">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <ul class="article__share-bar-item-list" id="socialShareIcons"></ul>
      </div>
    </section>



    <!-- Inspiration & Guidance -->
    <section class="inspiration-guidance">
      <div class="column-full">
        <div class="spacing spacing-h">

          <div class="section-minor-heading">
            <p class="section-minor-heading__heading serif-s-italic" style="color: #333;">See Other Wedding Themes</p>
          </div>

          <div class="layout-split-4 spacing article__teaser-list">

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_engagementpartyideas">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_EngagementPartyIdeas.jpg" nopin="nopin" alt="Wedding chairs decorated with greenery, flowers and Happily Ever After sign">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Engagement Party Ideas</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_engagementpartyideas">5 Themes to Help You Plan&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FlowerGirlGuide.jpg" nopin="nopin" alt="">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Flower Girl Dress Guide</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">4 Ways To Dress Up&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingflowers">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingFlowers.jpg" nopin="nopin" alt="Two hands holding bridal bouquets: one all white and one vintage chic pink, green, gold">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Wedding Flower Inspiration</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingflowers">Beautiful Bouquets Galore&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="column mobile-mb-split-1">
              <div class="media-block default spacing">
                <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_headpiecestyleguide">
                  <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_HeapieceGuide.jpg" nopin="nopin" alt="">
                </a>
                <div class="media-block-content spacing-half">
                  <div class="spacing-half">
                    <span class="media-block-content__title serif-m">Headpiece Guide</span>
                  </div>
                  <p class="sans-bold-uppercase">
                    <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_headpiecestyleguide">From Veils to Flower Crowns&nbsp;&gt;</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </div>

</main>
