<article class="content-page">

  <!-- breadcrumbs -->
  <section>
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE&nbsp;&gt;</a>
        </p>
      </div>
    </div>
  </section><!-- breadcrumbs -->


  <!-- two-column -->
  <section class="two-column split-4-5">

    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xxl">Wedding Decoration Ideas</h1>
        <p class="sans-l">The beauty's in the details! Adorn every moment of your day with must-have wedding decorations, from your walk down the aisle to your cake-cutting photo op. Here are a few of our favorite wedding party decorations and supplies.</p>
      </section>


      <section class="large-2-small">
        <h3 class="serif-l-italic">Unity Ceremony</h3>
        <p class="sans-m">A unity ceremony is a heartfelt symbol of you and your fianc&eacute;'s new relationship. You'll need a few props, like a wedding unity candle to light, or colorful sand to mix in a keepsake container.</p>

        <div class="flex">
          <div class="flex__col">
            <figure>
              <a href="/unity-and-sand-ceremony-sets">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_UnityCeremony.jpg" alt="two hands lighting candles in unity ceremony">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/unity-and-sand-ceremony-sets">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex__col">
            <figure>
              <a href="/unity-and-sand-ceremony-sets">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_Unity1.jpg" alt="heart-shaped sand ceremony set">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/unity-and-sand-ceremony-sets">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
            <figure>
              <a href="/unity-and-sand-ceremony-sets">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_Unity2.jpg" alt="unity heart">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/unity-and-sand-ceremony-sets">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>


      <section class="quick-tip">
        <div class="quick-tip__inner">
          <p class="quick-tip__heading serif-m">Quick Tip:</p>
          <p class="quick-tip__copy serif-m-italic">It doesn&rsquo;t have to be just bride and groom: invite your parents or siblings to participate as you join your whole families.</p>
        </div>
      </section>


      <section class="large-2-small">
        <h3 class="serif-l-italic">Flower Girl Baskets &amp; Ring Bearer Pillows</h3>
        <p class="sans-m">Where else will she keep her petal stash, and how else will he get your rings to the altar? Choose adorable pieces in your favorite colors.</p>

        <div class="flex reverse">
          <div class="flex__col">
            <figure>
              <a href="/flower-girl-baskets">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/2_FGBasket.jpg" alt="wooden flower girl basket that says 'Here Comes the Bride'">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/flower-girl-baskets">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex__col">
            <figure>
              <a href="/flower-girl-baskets">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_FG1.jpg" alt="white flower girl basket with blue ribbon">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/flower-girl-baskets">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
            <figure>
              <a href="/ring-bearer-pillows">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_FG2.jpg" alt="gold sequined ring bearer pillow">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/ring-bearer-pillows">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>


      <section class="quick-tip">
        <div class="quick-tip__inner">
          <p class="quick-tip__heading serif-m">Quick Tip:</p>
          <p class="quick-tip__copy serif-m-italic">No kids on call? Include your pup instead, decked out in the cutest <a href="/wedding-pet-decorations-accessories" class="inline-link">pet gear</a>.</p>
        </div>
      </section>


      <section class="large-2-small">
        <h3 class="serif-l-italic">Toasting Flutes</h3>
        <p class="sans-m">Whether whimsical or sentimental, a unique set of engraved champagne flutes will serve you well for wedding toasts and years to come.</p>

        <div class="flex">
          <div class="flex__col">
            <figure>
              <a href="/wedding-toasting-and-champagne-flutes">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/3_ToastingFlutes.jpg" alt="stemless champagne glasses that say 'hubby' and 'wifey'">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-toasting-and-champagne-flutes">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex__col">
            <figure>
              <a href="/wedding-toasting-and-champagne-flutes">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_ToastFlute1.jpg" alt="champagne glasses that say 'hubby' and 'wifey'">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-toasting-and-champagne-flutes">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
            <figure>
              <a href="/wedding-toasting-and-champagne-flutes">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_ToastingFlute2.jpg" alt="monogrammed champagne flutes">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-toasting-and-champagne-flutes">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>


      <section class="quick-tip">
        <div class="quick-tip__inner">
          <p class="quick-tip__heading serif-m">Quick Tip:</p>
          <p class="quick-tip__copy serif-m-italic">Give your guests personalized <a href="/barware-glassware-gifts" class="inline-link">wine glasses</a>, too.</p>
        </div>
      </section>


      <section class="large-2-small">
        <h3 class="serif-l-italic">Cake Toppers</h3>
        <p class="sans-m">Even prettier than the icing on the cake: the topper on the cake. Wedding cake decorations are an easy way to add something eye-catching.</p>

        <div class="flex reverse">
          <div class="flex__col">
            <figure>
              <a href="/wedding-cake-toppers">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/4_CakeToppers.jpg" alt="gold Mr. & Mrs. cake topper">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-cake-toppers">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="flex__col">
            <figure>
              <a href="/wedding-cake-toppers">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_CakeTopper2.jpg" alt="couple kissing cake topper">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-cake-toppers">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
            <figure>
              <a href="/wedding-cake-toppers">
                <img src="/wcsstore/images/wwcm/sfg/wedding-decoration-ideas/1_CakeTopper.jpg" alt="silver monogrammed cake topper">
              </a>
              <figcaption>
                <p class="sans-bold-uppercase">
                  <a href="/wedding-cake-toppers">Shop Now&nbsp;&gt;</a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>


      <section class="quick-tip">
        <div class="quick-tip__inner">
          <p class="quick-tip__heading serif-m">Quick Tip:</p>
          <p class="quick-tip__copy serif-m-italic">If cake&rsquo;s not your thing, how about a candy table? Serve your favorite <a href="/wedding-decorations/personalized-decorations" class="inline-link">sweets</a>, complete with custom wrappers.</p>
        </div>
      </section>

    </main>




    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_bridalpartygifts">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingPartyGiftGuide.jpg" alt="Wedding Party Gift Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_bridalpartygifts" class="text-decoration-none">Wedding Party Gift Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_bridalpartygifts">A Few Of Our Favorites&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingflowers">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingFlowers.jpg" alt="Wedding Flower Inspiration">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingflowers" class="text-decoration-none">Wedding Flower Inspiration</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingflowers">Beautiful Bouquets Galore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_rusticweddingideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_RusticDecor.jpg" alt="Rustic Decorations">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_rusticweddingideas" class="text-decoration-none">Rustic Decorations</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_rusticweddingideas">Add Handcrafted Touches&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingsouvenirideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingFavors.jpg" alt="Wedding Favor Ideas">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingsouvenirideas" class="text-decoration-none">Wedding Favor Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingsouvenirideas">Gifts For Your Guests&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_outdoorweddingideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_OutdoorWedding.jpg" alt="Outdoor Wedding Ideas">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_outdoorweddingideas" class="text-decoration-none">Outdoor Wedding Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_outdoorweddingideas">Go Beyond The Backyard&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>

  </section><!-- two-column -->

</article>



<link rel="stylesheet" href="/css/back-to-top.css">

<style media="screen">
.listing-pager__top {
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 40px;
  z-index: 1;
  text-align: center;
  pointer-events: all; }
  .listing-pager__top-link {
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none !important;
    height: 100%; }
    .listing-pager__top-link:hover .listing-pager__top-link-text, .listing-pager__top-link:focus .listing-pager__top-link-text, .listing-pager__top-link:active .listing-pager__top-link-text {
      color: #74736d; }
    .listing-pager__top-link:hover .listing-pager__top-link-image svg, .listing-pager__top-link:focus .listing-pager__top-link-image svg, .listing-pager__top-link:active .listing-pager__top-link-image svg {
      fill: #74736d; }
    .listing-pager__top-link-text {
      font-family: "Open Sans", Verdana, Helvetica, Arial, Droid Sans, sans-serif;
      display: block;
      font-size: 11px;
      font-weight: 700;
      margin-top: 10px;
      text-transform: uppercase;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      color: #333;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .listing-pager__top-link-image {
      width: 100%; }
    .listing-pager__top-link-svg {
      width: 40px;
      fill: #333;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
</style>
<div class="listing-pager__top" id="scrollToTop">
	<a class="listing-pager__top-link" href="#">
		<span class="listing-pager__top-link-image">
			<svg role="img" aria-describedby="backToTopTitle backToTopDesc" class="listing-pager__top-link-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
        <title id="backToTopTitle">Back To Top Button</title>
        <desc id="backToTopDesc">Click to return to the top of the page</desc>
				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
			</svg>
		</span>
		<span class="listing-pager__top-link-text">Top</span>
	</a>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
  function scrollFunction() {
		var scrollTop = $(window).scrollTop();
		if (scrollTop >= 100) {
      $('#scrollToTop').fadeIn(500);
		} else {
      $('#scrollToTop').fadeOut(500);
		}
	}

	$(window).on('scroll', function() {
		scrollFunction();
	});

  $('#scrollToTop a').on('click', function(e) {
    e.preventDefault();
    console.log('SCROLL TO TOP CLICKED');
    $('html, body').animate({scrollTop: 0}, 1000);
  });
});
</script>
