<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs-left">
        <p class="sans-bold-uppercase">
          <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance &gt;</a>
        </p>
      </div>
    </div>
  </section>


  <section class="flex-container">

    <!-- COLUMN 1 - Main Content -->
    <main class="column">

      <section class="page-heading">
        <h1 class="serif-xl">What Wedding Venue Is Right for You?</h1>
        <p class="sans-l">Take our wedding venues quiz and learn where it would suit you to say, "I Do!"</p>
      </section><!-- /.page-heading -->

      <!-- Questions -->
      <section class="questions">

        <!-- question 1 -->
        <div class="questions__flex">
          <div class="questions__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/weddingvenue/WeddingVenue-Modern.jpg" alt="Romantic bride and groom kissing in museum">
          </div>
          <div class="questions__flex-col">
            <div class="questions__form">
              <h2 class="serif-m-italic">What type of dress did&mdash;or will&mdash;you choose?</h2>
              <div class="form-input">
                <input id="dress1" type="radio" name="dress" value="1" checked="checked">
                <label for="dress1" class="sans-m">Lacy dress with a vintage feel</label>
              </div>
              <div class="form-input">
                <input id="dress2" type="radio" name="dress" value="2">
                <label for="dress2" class="sans-m">Light and breezy sheath</label>
              </div>
              <div class="form-input">
                <input id="dress3" type="radio" name="dress" value="3">
                <label for="dress3" class="sans-m">Sleek mermaid gown</label>
              </div>
              <div class="form-input">
                <input id="dress4" type="radio" name="dress" value="4">
                <label for="dress4" class="sans-m">Classic ball gown</label>
              </div>
              <div class="form-input">
                <input id="dress5" type="radio" name="dress" value="5">
                <label for="dress5" class="sans-m">Effortless little white dress</label>
              </div>
            </div>
          </div>
        </div>

        <!-- question 2 -->
        <div class="questions__flex reverse">
          <div class="questions__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/weddingvenue/WeddingVenue-Romantic.jpg" alt="Bride and groom standing by vine covered building">
          </div>
          <div class="questions__flex-col">
            <div class="questions__form">
              <h2 class="serif-m-italic">What details and decor do you envision for your day?</h2>
              <div class="form-input">
                <input id="decor1" type="radio" name="decor" value="1" checked="checked">
                <label for="decor1" class="sans-m">Mason jars and twinkle lights</label>
              </div>
              <div class="form-input">
                <input id="decor2" type="radio" name="decor" value="2">
                <label for="decor2" class="sans-m">An airy canopy and bare feet all around</label>
              </div>
              <div class="form-input">
                <input id="decor3" type="radio" name="decor" value="3">
                <label for="decor3" class="sans-m">Exposed bricks walls and metallic accents</label>
              </div>
              <div class="form-input">
                <input id="decor4" type="radio" name="decor" value="4">
                <label for="decor4" class="sans-m">A sit-down dinner with lush blooms and candlelight</label>
              </div>
              <div class="form-input">
                <input id="decor5" type="radio" name="decor" value="5">
                <label for="decor5" class="sans-m">A family-style feast and an all-night party</label>
              </div>
            </div>
          </div>
        </div>

        <!-- question 3 -->
        <div class="questions__flex">
          <div class="questions__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/weddingvenue/WeddingVenue-Rustic.jpg" alt="Bride and groom dancing under hanging flower arch">
          </div>
          <div class="questions__flex-col">
            <div class="questions__form">
              <h2 class="serif-m-italic">What kind of music will play for your first dance?</h2>
              <div class="form-input">
                <input id="music1" type="radio" name="music" value="1" checked="checked">
                <label for="music1" class="sans-m">A twangy country ballad</label>
              </div>
              <div class="form-input">
                <input id="music2" type="radio" name="music" value="2">
                <label for="music2" class="sans-m">A singer-songwriter solo, complete with strummy guitar</label>
              </div>
              <div class="form-input">
                <input id="music3" type="radio" name="music" value="3">
                <label for="music3" class="sans-m">A poppy, Top 40 love song</label>
              </div>
              <div class="form-input">
                <input id="music4" type="radio" name="music" value="4">
                <label for="music4" class="sans-m">A torch song by a sentimental crooner</label>
              </div>
              <div class="form-input">
                <input id="music5" type="radio" name="music" value="5">
                <label for="music5" class="sans-m">Whatever the best man-slash-DJ has cued up on the playlist</label>
              </div>
            </div>
          </div>
        </div>

        <!-- question 4 -->
        <div class="questions__flex reverse">
          <div class="questions__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/weddingvenue/WeddingVenue-Beach.jpg" alt="Bride and groom holding hands on beach">
          </div>
          <div class="questions__flex-col">
            <div class="questions__form">
              <h2 class="serif-m-italic">What is your ideal honeymoon?</h2>
              <div class="form-input">
                <input id="honeymoon1" type="radio" name="honeymoon" value="1" checked="checked">
                <label for="honeymoon1" class="sans-m">Retreating to a quiet cabin in the woods</label>
              </div>
              <div class="form-input">
                <input id="honeymoon2" type="radio" name="honeymoon" value="2">
                <label for="honeymoon2" class="sans-m">Splashing in the surf, sunning on the sand, repeat</label>
              </div>
              <div class="form-input">
                <input id="honeymoon3" type="radio" name="honeymoon" value="3">
                <label for="honeymoon3" class="sans-m">Exploring the big city's museums and brunch spots</label>
              </div>
              <div class="form-input">
                <input id="honeymoon4" type="radio" name="honeymoon" value="4">
                <label for="honeymoon4" class="sans-m">Staying in a Victorian B&amp;B and touring a vineyard</label>
              </div>
              <div class="form-input">
                <input id="honeymoon5" type="radio" name="honeymoon" value="5">
                <label for="honeymoon5" class="sans-m">Booking a long weekend getaway whenever the mood strikes</label>
              </div>
            </div>
          </div>
        </div>

        <!-- question 5 -->
        <div class="questions__flex">
          <div class="questions__flex-col">
            <img src="/wcsstore/images/wwcm/sfg/weddingvenue/WeddingVenue-Casual.jpg" alt="Bridal party walking down desert street">
          </div>
          <div class="questions__flex-col">
            <div class="questions__form">
              <h2 class="serif-m-italic">What do you envision your wedding party wearing?</h2>
              <div class="form-input">
                <input id="weddingparty1" type="radio" name="weddingparty" value="1" checked="checked">
                <label for="weddingparty1" class="sans-m">My 'maids will kick up their heels in cowboy boots</label>
              </div>
              <div class="form-input">
                <input id="weddingparty2" type="radio" name="weddingparty" value="2">
                <label for="weddingparty2" class="sans-m">Short dresses in shades of blue, green, or grey</label>
              </div>
              <div class="form-input">
                <input id="weddingparty3" type="radio" name="weddingparty" value="3">
                <label for="weddingparty3" class="sans-m">Metallics and sequins will definitely be involved</label>
              </div>
              <div class="form-input">
                <input id="weddingparty4" type="radio" name="weddingparty" value="4">
                <label for="weddingparty4" class="sans-m">Long dresses in a soft pink or purple ombr&eacute; arrangement</label>
              </div>
              <div class="form-input">
                <input id="weddingparty5" type="radio" name="weddingparty" value="5">
                <label for="weddingparty5" class="sans-m">Whatever they'd like to wear is fine with me</label>
              </div>
            </div>
          </div>
        </div>

        <!-- See Results Button -->
        <button type="button" name="button" id="SeeYourResults" class="btn btn-secondary sans-bold-uppercase">See Your Results</button>

      </section><!-- Questions -->


      <!-- Results -->
      <section class="results">

        <div class="accordion">
          <ul class="accordion__items">

            <!-- Rustic Wedding Venue -->
            <li class="accordion__item" data-nav-open="false" tabindex="0">
              <div class="accordion__header" data-trigger="">
                <h3 class="serif-m-italic">Rustic Wedding Venue</h3>
                <div class="accordion__header-action relative">
                  <div class="accordion__header-action-plus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                      <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                    </svg>
                  </div>
                  <div class="accordion__header-action-minus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                      <rect x="-492" y="501" width="11" height="1"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="accordion__content" style="display: none">
                <p class="sans-m">Barns are a popular choice for rustic weddings, because they blend a warm country feel with the opportunity to use lots of charming, DIY details. Other rustic options include summer camps or ski chalets in their off-seasons, or a lakeside lodge.</p>
                <p class="btn btn-secondary">
                  <a href="/Content_StyleandFashionGuide_rusticcountryweddingideas" class="sans-bold-uppercase">Rustic Wedding Ideas</a>
                </p>
                <div class="share-results" style="display: none">
                  <div class="share-results__flex">
                    <p class="sans-bold-uppercase">Share Your Results</p>
                    <ul class="share-results-gigya" id="share-rustic">
                      <!-- Gigya icons go here -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <!-- Beach Wedding Venue -->
            <li class="accordion__item" data-nav-open="false" tabindex="0">
              <div class="accordion__header" data-trigger="">
                <h3 class="serif-m-italic">Beach Wedding Venue</h3>
                <div class="accordion__header-action relative">
                  <div class="accordion__header-action-plus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                      <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                    </svg>
                  </div>
                  <div class="accordion__header-action-minus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                      <rect x="-492" y="501" width="11" height="1"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="accordion__content" style="display: none">
                <p class="sans-m">Beaches offer the ultimate outdoor wedding twofer: It's a theme and a venue in one! You can hold the entire day by the sea, or spend part of the wedding outside (either the ceremony or the cocktail hour, for instance) and then move the rest of the party into a reception hall. If you're not lucky enough to live near the beach, look into a destination wedding at an all-inclusive resort&mdash;they have something for everyone.</p>
                <p class="btn btn-secondary">
                  <a href="/Content_StyleandFashionGuide_beachdestinationweddingideas" class="sans-bold-uppercase">Beach Wedding Ideas</a>
                </p>
                <div class="share-results" style="display: none">
                  <div class="share-results__flex">
                    <p class="sans-bold-uppercase">Share Your Results</p>
                    <ul class="share-results-gigya" id="share-beach">
                      <!-- Gigya icons go here -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <!-- Modern Wedding Venue -->
            <li class="accordion__item" data-nav-open="false" tabindex="0">
              <div class="accordion__header" data-trigger="">
                <h3 class="serif-m-italic">Modern Wedding Venue</h3>
                <div class="accordion__header-action relative">
                  <div class="accordion__header-action-plus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                      <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                    </svg>
                  </div>
                  <div class="accordion__header-action-minus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                      <rect x="-492" y="501" width="11" height="1"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="accordion__content" style="display: none">
                <p class="sans-m">Consider a rooftop wedding reception venue with a breathtaking skyline view, and industrial loft space with lots of room for dining and dancing, or an art gallery or museum that will let you roam.</p>
                <p class="btn btn-secondary">
                  <a href="/Content_StyleandFashionGuide_modernweddingideas" class="sans-bold-uppercase">Modern Wedding Ideas</a>
                </p>
                <div class="share-results" style="display: none">
                  <div class="share-results__flex">
                    <p class="sans-bold-uppercase">Share Your Results</p>
                    <ul class="share-results-gigya" id="share-modern">
                      <!-- Gigya icons go here -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <!-- Romantic Wedding Venue -->
            <li class="accordion__item" data-nav-open="false" tabindex="0">
              <div class="accordion__header" data-trigger="">
                <h3 class="serif-m-italic">Romantic Wedding Venue</h3>
                <div class="accordion__header-action relative">
                  <div class="accordion__header-action-plus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                      <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                    </svg>
                  </div>
                  <div class="accordion__header-action-minus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                      <rect x="-492" y="501" width="11" height="1"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="accordion__content" style="display: none">
                <p class="sans-m">What says "romantic" more than a garden wedding? Surrounded by lush vegetation and beautiful flora, Mother Nature will provide much of the decor. A refined estate or grand banquet hall are also lovely choices, with the added perk of not having to worry about weather.</p>
                <p class="btn btn-secondary">
                  <a href="/Content_StyleandFashionGuide_romanticgardenweddingideas" class="sans-bold-uppercase">Romantic Wedding Ideas</a>
                </p>
                <div class="share-results" style="display: none">
                  <div class="share-results__flex">
                    <p class="sans-bold-uppercase">Share Your Results</p>
                    <ul class="share-results-gigya" id="share-romantic">
                      <!-- Gigya icons go here -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <!-- Casual Wedding Venue -->
            <li class="accordion__item" data-nav-open="false" tabindex="0">
              <div class="accordion__header" data-trigger="">
                <h3 class="serif-m-italic">Casual Wedding Venue</h3>
                <div class="accordion__header-action relative">
                  <div class="accordion__header-action-plus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                      <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
                    </svg>
                  </div>
                  <div class="accordion__header-action-minus">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                      <rect x="-492" y="501" width="11" height="1"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="accordion__content" style="display: none">
                <p class="sans-m">The beauty of a small wedding is that it can take place just about anywhere: a local park, your parents' backyard, your favorite neighborhood gastropub. Wherever you can relax with family and friends in a low-key atmosphere will do just fine!</p>
                <p class="btn btn-secondary">
                  <a href="/Content_StyleandFashionGuide_casualweddingideas" class="sans-bold-uppercase">Casual Wedding Ideas</a>
                </p>
                <div class="share-results" style="display: none">
                  <div class="share-results__flex">
                    <p class="sans-bold-uppercase">Share Your Results</p>
                    <ul class="share-results-gigya" id="share-casual">
                      <!-- Gigya icons go here -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div><!-- /.accordion -->

      </section><!-- Results -->
    </main><!-- COLUMN 1 - Main Content -->


    <!-- COLUMN 2 - Aside -->
    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingthemes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingThemesHub_414x284.jpg" alt="Wedding Theme Ideas">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_RealWeddings_realweddings">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_RealWeddings_realweddings" class="text-decoration-none">Real Wedding Stories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingseatingarrangements">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingSeating_414x284.jpg" alt="Wedding Reception Seating Solutions">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingseatingarrangements" class="text-decoration-none">Wedding Reception Seating Solutions</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingseatingarrangements">Pull Up A Chair&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div><!-- /.recommend-block -->


      <!-- Pinterest Widget -->
      <div class="pinterest-widget">
        <a data-pin-do="embedBoard" data-pin-board-width="275" data-pin-scale-height="350" data-pin-scale-width="200" href="https://www.pinterest.com/davidsbridal/whats-your-wedding-style/"></a>
      </div>


    </aside><!-- COLUMN 2 - Aside -->

  </section><!-- /.flex-container -->

</article><!-- /.content-page -->
