<article class="content-page">

  <!-- hero -->
  <section class="hero">
    <div class="hero__img">
      <a href="/wedding-dresses/casual-wedding-dress">
        <img class="md-hidden lg-hidden" src="http://placehold.it/767x471" alt="Bride hlding bouquet in casual wedding dress, on beach.">
        <img class="sm-hidden" src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_Hero_Desktop_1600x615_052018.jpg" alt="Bride hlding bouquet in casual wedding dress, on beach.">
      </a>
    </div>
    <div class="hero__caption left">
      <p class="serif-l-italic">What to Wear:</p>
      <p class="serif-xl">Every Wedding Event</p>
      <p class="sans-m">Your wedding is really a whole string of celebrations, from the engagement party to the reception and beyond. And with dresses from only $99.95, you have permission to pick out a look that's just right for each bride&ndash;to&dash;be moment.</p>
      <p class="sans-bold-uppercase">
        <a href="/wedding-dresses/casual-wedding-dress">Shop Now&nbsp;&gt;</a>
      </p>
    </div>

    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a class="btn-link" href="/Content_StyleandFashionGuide_styleguide">INSPIRATION &amp; GUIDANCE &gt;</a>
      </p>
    </div>
  </section>


  <!-- appointment banner -->
  <section class="appointment-banner">
    <p class="serif-m-italic">Want in&dash;person advice?</p>
    <p class="sans-s">Our stylists are happy to help.</p>
    <p class="btn btn-secondary">
      <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
    </p>
  </section>




  <!-- how they styled it -->
  <section class="container">
    <div class="styled-it">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">See How They Styled It</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_UGC_1.jpg" alt="caralynmirand posing in little white dress">
          <div class="column__overlay">
            <span class="sans-m">@caralynmirand</span>
          </div>
        </div>

        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_UGC_2.jpg" alt="changellepaige posing in little white dress">
          <div class="column__overlay">
            <span class="sans-m">@changellepaige</span>
          </div>
        </div>

        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_UGC_3.jpg" alt="bychloewen posing in little white dress">
          <div class="column__overlay">
            <span class="sans-m">@bychloewen</span>
          </div>
        </div>

        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_UGC_4.jpg" alt="bohemianbrown posing in little white dress">
          <div class="column__overlay">
            <span class="sans-m">@bohemianbrown</span>
          </div>
        </div>

        <div class="column">
          <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/WTW_UGC_5.jpg" alt="missmorrestyle posing in little white dress">
          <div class="column__overlay">
            <span class="sans-m">@missmorrestyle</span>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- engagement party -->
  <section class="container">
    <div class="section-heading">
      <h2 class="serif-xxl">Engagement Party</h2>
      <p class="sans-m">It's your first chance to don a little white dress and raise a glass to the good news.</p>
    </div>

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jewelry">
              <img src="http://placehold.it/767x1150?text=engagement+small" alt="Pastel stone cluster post earrings" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--engagement-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>

        <p class="sans-m">A little soft color brings out your eyes.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="http://placehold.it/767x1150?text=engagement+large" alt="Bride in short Casual Wedding Dress" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--engagement-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>

        <p class="sans-m">A short lacy dress hints at your bridal look to come.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/casual-wedding-dress">Shop Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/shoes/all-shoes">
            <img src="http://placehold.it/767x767" alt="Open toed stacked and strappy heel" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Strappy block heels give you comfortable height for dinner and dancing.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_embroidered-sequin-short-fit-and-flare-dress-8385aw3c">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8385AW3C-10970336-Ivory_Nude?$plpproductimgmobile_2up$" alt="Embroidered Sequin Short Fit-and-Flare Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_short-daisy-lace-sheath-with-spaghetti-straps-ja28721h540">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JA28721H540-10956853-Mauve?$plpproductimgmobile_2up$" alt="Short Daisy Lace Sheath with Spaghetti Straps">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_one-shoulder-crepe-jumpsuit-with-cascading-flounce-263727">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-263727-10955769-Ivory?$plpproductimgmobile_2up$" alt="One-Shoulder Crepe Jumpsuit with Cascading Flounce">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_short-illusion-lace-dress-with-3-4-bell-sleeves-sdwg0618">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0618-10926599-Ivory?$plpproductimgmobile_2up$" alt="Short Illusion Lace Dress with 3/4 Bell Sleeves">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_mock-neck-illusion-lace-short-dress-650133">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-650133-10950895-Ivory?$plpproductimgmobile_2up$" alt="Mock-Neck Illusion Lace Short Dress">
        	</a>
        </div>
        <div class="column">
          <a href="/Product_illusion-lace-shift-dress-with-contrast-ribbon-ds870029">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DS870029-10963001-Ivory_Nude?$plpproductimgmobile_2up$" alt="Illusion Lace Shift Dress with Contrast Ribbon">
        	</a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- bridal shower -->
  <section class="container">
    <div class="container section-heading">
      <h2 class="serif-xxl">Bridal Shower</h2>
      <p class="sans-m">A day full of pretty paper and bows calls for a ladylike outfit with all the trimmings.</p>
    </div>

    <!-- Reverse -->
    <div class="two-columns reverse md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jewelry">
              <img src="http://placehold.it/767x1150" alt="Rose Gold necklace and earring set" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--bridal-shower-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">A necklace-and-earrings set takes the guesswork out of accessorizing.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="http://placehold.it/767x1150" alt="Bride in a a casual white dress on the beach" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--bridal-shower-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Soft, flowy lace is lovely for an afternoon celebration.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/casual-wedding-dress">Shop Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns reverse shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/shoes/all-shoes">
            <img src="http://placehold.it/767x767" alt="Metallic strappy heels" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Rose gold accents go with everything, for your bride-to-be wardrobe and beyond.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_floral-lace-short-sheath-with-keyhole-back-ja28492h543">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JA28492H543-10976748-Ivory?$plpproductimgmobile_2up$" alt="Floral Lace Short Sheath with Keyhole Back">
          </a>
        </div>
        <div class="column">
          <a href="/Product_off-the-shoulder-plus-size-lace-mini-dress-w96471h635">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-W96471H635-10959437-Ivory?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Plus Size Lace Mini Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_lace-fit-and-flare-dress-with-illusion-neckline-d70651h602">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-D70651H602-10970472-Ivory?$plpproductimgmobile_2up$" alt="Lace Fit-and-Flare Dress with Illusion Neckline">
          </a>
        </div>
        <div class="column">
          <a href="/Product_flutter-sleeve-pleated-chiffon-sheath-gown-ds870018">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DS870018-10959464-Ivory?$plpproductimgmobile_2up$" alt="Flutter Sleeve Pleated Chiffon Sheath Gown">
          </a>
        </div>
        <div class="column">
          <a href="/Product_soft-floral-lace-sheath-gown-with-blush-lining-sdwg0622">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0622-10925454-Ivory_Angel?$plpproductimgmobile_2up$" alt="Soft Floral Lace Sheath Gown with Blush Lining">
          </a>
        </div>
        <div class="column">
          <a href="/Product_strapless-lace-short-wedding-dress-wg3826">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3826-10756443-Ivory?$plpproductimgmobile_2up$" alt="Strapless Lace Short Wedding Dress">
          </a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- bachelorette party -->
  <section class="container">
    <div class="container section-heading">
      <h2 class="serif-xxl">Bachelorette Party</h2>
      <p class="sans-m">Whether you're club hoping or just kicking back, anything goes for your last spin as a single lady.</p>
    </div>

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jewelry">
              <img src="http://placehold.it/767x1150" alt="tiny pearl tassel earrings" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--bachelorette-party-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Trending tassels get an upgrade with tiny pearls.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="http://placehold.it/767x1150" alt="Bride wearing short casual white dress with handbag." />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--bachelorette-party-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Short hem? Cute clutch? Check and check.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/casual-wedding-dress">Shop Dresses&nbsp;&gt;</a>
          <a href="/accessories/handbags">Shop Handbags&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/shoes/all-shoes">
            <img src="http://placehold.it/767x767" alt="White strappy wedding shoe" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Your legs will look amazing in sky-high stilettos.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_off-the-shoulder-medallion-lace-shift-dress-rb60342da">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RB60342DA-10970351-Ivory?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Medallion Lace Shift Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_chiffon-bridesmaid-jumpsuit-with-beaded-neckline-ej8m7587">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EJ8M7587-10896807-Black?$plpproductimgmobile_2up$" alt="Chiffon Bridesmaid Jumpsuit with Beaded Neckline">
          </a>
        </div>
        <div class="column">
          <a href="/Product_layered-lace-body-con-short-dress-182448">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-182448-10939417-Ivory?$plpproductimgmobile_2up$" alt="Layered Lace Short Dress with Keyhole Back">
          </a>
        </div>
        <div class="column">
          <a href="/Product_short-halter-wedding-dress-with-keyhole-cutout-21395d">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21395D-10522521-Ivory?$plpproductimgmobile_2up$" alt="Short Halter Wedding Dress with Keyhole Cutout">
          </a>
        </div>
        <div class="column">
          <a href="/Product_off-the-shoulder-flounced-short-lace-dress-sdwg0634">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0634-10956371-Soft White?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Flounced Short Lace Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_bride-v-neck-tee-a032014679">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/A032014679_MWHITE_GIFTS_OM_PROD8_023?$plpproductimgmobile_2up$" alt="White t-shirt with gold metallic 'bride'">
          </a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- rehearsal dinner -->
  <section class="container">
    <div class="container section-heading">
      <h2 class="serif-xxl">Rehearsal Dinner</h2>
      <p class="sans-m">This look can lean toward casual or elegant, depending on the evening's vibe.</p>
    </div>

    <!-- Reverse -->
    <div class="two-columns reverse md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jewelry">
              <img src="http://placehold.it/767x1150" alt="Crystal necklace and earring set" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--rehearsal-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Crystals are always stylish, but organic clusters make them&nbsp;modern.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="http://placehold.it/767x1150" alt="Flowy white wedding dress" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--rehearsal-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <!-- <p class="caption"><em>Photo courtesy of Emily Jenny Cholakian, Stiletto Beats</em></p> -->
        <p class="sans-m">A little bit of bling is perfect for wedding-day eve.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/casual-wedding-dress">Shop Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns reverse shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/shoes/all-shoes">
            <img src="http://placehold.it/767x767" alt="Silver strappy heel" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Match your jewelry back to your shoes for a little shine all&nbsp;around.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_off-the-shoulder-lace-high-low-dress-3602hn6a">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3602HN6A-10954101-Blush?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Lace High-Low Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_floral-mikado-crossback-high-low-ball-gown-10519d">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-10519D-10959325-Blush_Multi?$plpproductimgmobile_2up$" alt="Floral Mikado Crossback High-Low Ball Gown">
          </a>
        </div>
        <div class="column">
          <a href="/Product_high-neck-allover-lace-sheath-gown-with-open-back-10586d">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-10586D-10954622-Ivory_Nude?$plpproductimgmobile_2up$" alt="High-Neck Allover Lace Sheath Gown with Open Back">
          </a>
        </div>
        <div class="column">
          <a href="/Product_ruched-charmeuse-sheath-dress-with-brooch-int19665">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-INT19665-10925463-Soft White?$plpproductimgmobile_2up$" alt="Ruched Charmeuse Sheath Dress with Brooch">
          </a>
        </div>
        <div class="column">
          <a href="/Product_3-4-sleeve-lace-sheath-dress-with-keyhole-back-184230db">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-184230DB-10952520-Ivory?$plpproductimgmobile_2up$" alt="3/4-Sleeve Lace Sheath Dress with Keyhole Back">
          </a>
        </div>
        <div class="column">
          <a href="/Product_lace-cap-sleeve-long-matte-mesh-dress-xs3450">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-XS3450-10155761-Ivory?$plpproductimgmobile_2up$" alt="Lace Cap Sleeve Long Matte Mesh Dress">
          </a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- getting ready -->
  <section class="container">
    <div class="container section-heading">
      <h2 class="serif-xxl">Getting Ready</h2>
      <p class="sans-m">So maybe it's not a party, exactly&mdash;but you can still look cute! Take a deep breath as you beautify for the best day ever.</p>
    </div>

    <div class="two-columns md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-decorations/all-wedding-decorations">
              <img src="/wcsstore/images/wwcm/sfg/what-to-wear-to-every-wedding-event/getting-ready_Small_Vertical.jpg" alt="Strapless dress with sparkle bodice and tulle skirt hanging on Bride hanger" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--getting-ready-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Hang your gown for all to admire, and for a must&ndash;have photo op.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-decorations/all-wedding-decorations">Shop Decor&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-robes-clothing-gifts">
              <img src="http://placehold.it/767x1150" alt="Woman wearing a short floral robe" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--getting-ready-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Get your hair and makeup done in a brightly patterned (and super&ndash;soft) robe.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-robes-clothing-gifts">Shop Robes&nbsp;&gt;</a>
        </p>
      </div>
    </div>

    <div class="two-columns shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/wedding-gifts/bridesmaid-gifts">
            <img src="http://placehold.it/767x767" alt="Mini emergency kit for brides" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Come prepared for anything your wedding throws your way with pocket&dash;size fixes for outfit and beauty issues.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_floral-satin-robe-eb3152">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3152-10836734-Aqua%20Blue?$plpproductimgmobile_2up$" alt="Floral Satin Robe">
          </a>
        </div>
        <div class="column">
          <a href="/Product_personalized-embroidered-name-satin-robe-emrb-name">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EMRB-NAME-10532829-Pink?$plpproductimgmobile_2up$" alt="Personalized Embroidered Name Satin Robe">
          </a>
        </div>
        <div class="column">
          <a href="/Product_bridal-party-tank-tops-eb3201bp">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3201BP-10970102-Black?$plpproductimgmobile_2up$" alt="Bridal Party Tank Tops">
          </a>
        </div>
        <div class="column">
          <a href="/Product_blank-luxury-satin-robe-blnkrobe">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BLNKROBE-10629894-Aqua?$plpproductimgmobile_2up$" alt="Blank Luxury Satin Robe">
          </a>
        </div>
        <div class="column">
          <a href="/Product_personalized-monogram-cotton-lace-robe-eb3184m">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3184M-10963202-Blush?$plpproductimgmobile_2up$" alt="Personalized Monogram Cotton Lace Robe">
          </a>
        </div>
        <div class="column">
          <a href="/Product_personalized-jersey-robe-with-lace-jlrob">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JLROB-10824430-Mint?$plpproductimgmobile_2up$" alt="Personalized Jersey Robe with Lace">
          </a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- wedding reception -->
  <section class="container">
    <div class="container section-heading">
      <h2 class="serif-xxl">Wedding Reception</h2>
      <p class="sans-m">Your first celebration as a married couple is a great excuse to wear a <em>second</em> dream dress!</p>
    </div>

    <!-- Reverse -->
    <div class="two-columns reverse md-flex-start">
      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/accessories/jewelry">
              <img src="http://placehold.it/767x1150" alt="Long crystal earrings" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--reception-small">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">Switch up your look with evening-ready earrings.</p>
        <p class="sans-bold-uppercase">
          <a href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
        </p>
      </div>

      <div class="column">
        <div class="social-share">
          <div class="social-share__img">
            <a href="/wedding-dresses/casual-wedding-dress">
              <img src="http://placehold.it/767x1150" alt="Bride in long casual wedding dress" />
            </a>
          </div>
          <div class="social-share__overlay">
            <ul class="social-share__overlay--icons">
              <div id="social-share-icons--reception-large">
                <!-- Gigya Social Share loaded here -->
              </div>
            </ul>
          </div>
        </div>
        <p class="sans-m">After the ceremony, it's time for a sleek silhouette and allover sequins.</p>
        <p class="sans-bold-uppercase">
          <a href="/wedding-dresses/casual-wedding-dress">Shop Dresses&nbsp;&gt;</a>
        </p>
      </div>
    </div>


    <div class="two-columns reverse shift-up">
      <div class="column">
        <div class="column__img">
          <a href="/shoes/all-shoes">
            <img src="http://placehold.it/767x767" alt="Closed toe lace wedding shoes" class="img-round" />
          </a>
        </div>
      </div>
      <div class="column">
        <div class="quote">
          <blockquote>
            <p class="serif-s-italic">Fabulous shoes are a must, especially if you trade your long gown for a short reception dress.</p>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="few-favorites">
      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-s-italic">A Few Favorites</p>
      </div>

      <div class="flex layout-2-3-6">
        <div class="column">
          <a href="/Product_allover-sequined-v-neck-sheath-gown-264186">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-264186-10925625-Ivory?$plpproductimgmobile_2up$" alt="Allover Sequined V-Neck Sheath Gown">
          </a>
        </div>
        <div class="column">
          <a href="/Product_draped-off-the-shoulder-crepe-sheath-gown-int19673">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-INT19673-10939426-Ivory?$plpproductimgmobile_2up$" alt="Draped Off-The-Shoulder Crepe Sheath Gown">
          </a>
        </div>
        <div class="column">
          <a href="/Product_sequin-leaf-appliqued-high-neck-sheath-gown-sdwg0686">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0686-10967136-Soft%20White?$plpproductimgmobile_2up$" alt="Sequin Leaf-Appliqued High Neck Sheath Gown">
          </a>
        </div>
        <div class="column">
          <a href="/Product_mikado-high-low-wedding-dress-sdwg0576">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0576-10881501-Ivory?$plpproductimgmobile_2up$" alt="Mikado High-Low Wedding Dress">
          </a>
        </div>
        <div class="column">
          <a href="/Product_corded-lace-trumpet-dress-with-illusion-sides-db19799">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DB19799-10925490-Ivory?$plpproductimgmobile_2up$" alt="Corded Lace Trumpet Dress with Illusion Sides">
          </a>
        </div>
        <div class="column">
          <a href="/Product_soft-lace-wedding-dress-with-low-back-wg3827">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3827-10752686-Ivory?$plpproductimgmobile_2up$" alt="Soft Lace Wedding Dress with Low Back">
          </a>
        </div>
      </div>
    </div>

    <hr>
  </section>




  <!-- rewards banner -->
  <section class="container">
    <div class="rewards-banner">
      <p class="serif-m-italic">Save $20 on every party look with your David's Bridal Rewards!</p>
      <p class="sans-bold-uppercase">
        <a href="/Content_SpecialOffers_rewards">See How&nbsp;&gt;</a>
      </p>
      <p class="btn btn-secondary">
        <a href="/Content_SpecialOffers_rewards">See How</a>
      </p>
    </div>
  </section>




  <!-- gigya share bar -->
  <section class="container">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>




  <!-- inspiration & guidance -->
  <section class="container">
    <div class="inspiration-guidance">
      <div class="column-full">

        <div class="section-minor-heading">
          <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
        </div>


        <div class="layout-split-4 spacing article__teaser-list">

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_veilstyleguide">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_VeilGuide_414x284.jpg" alt="Wedding Veil Guide">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Veil Guide</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_veilstyleguide">Top Off Your Look&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingflowers">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingFlowers.jpg" alt="Wedding Flower Inspiration">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Flower Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingflowers">Beautiful Bouquets Galore&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddinghairstyleideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingHairstyles.jpg" alt="Wedding Hairstyle Ideas">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Hairstyle Ideas</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddinghairstyleideas">Find Your 'Do&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

          <div class="column mobile-mb-split-1">
            <div class="media-block default spacing">
              <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
              </a>
              <div class="media-block-content spacing-half">
                <div class="spacing-half">
                  <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                </div>
                <p class="sans-bold-uppercase">
                  <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas For Your Day&nbsp;&gt;</a>
                </p>
              </div><!-- media block-content -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</article>
