<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="two-columns container">
    <main class="column" role="main">
      <div class="page-heading">
        <h1 class="serif-xl"><span class="serif-l-italic">What to Wear:</span><br>Winter Wedding Edition</h1>
        <p class="sans-l">Great style doesn't hibernate, you know. Here are a few ideas for those cool-weather celebrations on your calendar, with occasion dresses starting at just $99.95.</p>
      </div>

      <!-- Casual -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Casual Wedding</h2>
          <p class="sans-m">With a low-key dress code, there's room to play with fun patterns and boho sleeves. Clean-lined accents finish off your no-fuss look.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/cocktail-party-dresses">
                <img id="gigyaImage" src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Hero_Casual.jpg" alt="Wine colored cold-shoulder lace sheath dress">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/cocktail-party-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Casual_Jewelry.jpg" alt="Double ring dangling hoops earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Casual_Handbag.jpg" alt="Crystal Flap Envelope Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Casual_Shoe.jpg" alt="Patent High Heel with Ankle Strap">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Jewel tones are made for wintry backdrops&mdash;think <a href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:1016087105110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Wine&">wine</a>, <a href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:101608410197108&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Teal&">teal</a>, or <a href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:101607897118121&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Navy&">navy</a>.</p>
        </div>
      </div>


      <!-- Semi-Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Semi-Formal Wedding</h2>
          <p class="sans-m">Art Deco detailing elevates an always-chic LBD. Tie it together with trending accessories like hoop earrings and chunky heels.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Hero_SemiFormal.jpg" alt="Long black slip dress with glitter print">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_SemiFormal_Handbag.jpg" alt="Small Gold Crystal Mesh Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_SemiFormal_Jewelry.jpg" alt="Silver crystal-traced hoop earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_SemiFormal_Shoe.jpg" alt="Gold crisscross strap block heel">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Cover up with a cute <a href="/accessories/jackets-and-wraps">shrug</a> you can shed at the reception.</p>
        </div>
      </div>


      <!-- Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Formal Wedding</h2>
          <p class="sans-m">Time for something floor-length and fabulous! Rich jacquard fabric and sky-high shoes are all black-tie approved.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/formal-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Hero_Formal.jpg" alt="Off the shoulder jacquard ball gown with red floral skirt">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/formal-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/SearchDisplay?categoryId=3002628&storeId=10052&langId=-1#!&facet:10167661149799101108101116115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Bracelets&">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Formal_Jewelry.jpg" alt="Cubic Zirconia Solitaire Bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?categoryId=3002628&storeId=10052&langId=-1#!&facet:10167661149799101108101116115&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Bracelets&">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Formal_Handbag.jpg" alt="Silver Crystal Mesh Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Formal_Shoe.jpg" alt="Black Simple Ankle Strap High Heel">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">With a boldly printed skirt, try jewelry with twinkling crystals.</p>
        </div>
      </div>



      <!-- Destination Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Destination Wedding</h2>
          <p class="sans-m">Jetting off for faraway vows? Pack a flowy floral number and silver touches that go with everything.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Hero_Destination.jpg" alt="Purple floral chiffon surplice gown with beaded waist">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Destination_Handbag.jpg" alt="Allover Crystal Minaudiere">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Destinatio_Jewelry.jpg" alt="Silver Filigree and Crystal Drop Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Earrings%2522&showResultsPage=true&beginIndex=0&categoryId=3002628&langId=-1&storeId=10052&sType=SimpleSearch">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-winter-wedding/WTW_767_Acc_Destination_Shoe.jpg" alt="Mirror Metallic Block Heel">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">For an outdoor wedding, try block heels&mdash;like <a href="/shoes/wedges">wedges</a>, they're good on grassy fields and sandy shores.</p>
        </div>
      </div>

    </main>


    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_engagementgiftideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_engagementgg.jpg" alt="Engagement Gift Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_engagementgiftideas">Engagement Gift Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_engagementgiftideas">Presents for the Happy Couple&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_winterweddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingColorsFall.jpg" alt="Wedding Colors by Season">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_winterweddingcolorideas">Wedding Colors by Season</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_winterweddingcolorideas">Hues for Each Time of Year&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_RealWeddings_realweddings">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_RealWeddings_realweddings">Real Wedding Stories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_jewelrynecklines">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline &amp; Jewelry Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_bestbratypes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BraGuide.jpg" alt="Bra Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_bestbratypes">What to Wear With Any Dress&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

</article>
