<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="two-columns container">
    <main class="column" role="main">
      <div class="page-heading">
        <h1 class="serif-xl"><span class="serif-l-italic">What to Wear:</span><br>Fall Wedding Edition</h1>
        <p class="sans-l">You have an invitation on your fridge and absolutely no idea what to wear. No worries&mdash;here are a few ideas for how to dress for a fall wedding, with <a class="inline-link" href="/dresses/all-dresses">occasion dresses</a> starting at just $99.95.</p>
      </div>

      <!-- Casual -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Casual Wedding</h2>
          <p class="sans-m">If the ceremony and reception are on the simpler side, choose an easy shift dress with a cool detail. Finish the look with a metallic handbag and understated heels.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/cocktail-party-dresses">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_casual_1.jpg" alt="Navy Blue Crepe Off-the-Shoulder Short Sheath Dress">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/cocktail-party-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_casual_2.jpg" alt="Gold Crystal Mesh Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_casual_3.jpg" alt="Gold Ankle Strap High Heel Shoe">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Don't forget to grab a <a href="/accessories/jackets-and-wraps">jacket</a>! Early fall days can still feel like summer, but it gets quite chilly at night. A denim jacket adds edge and keeps things casual.</p>
        </div>
      </div>




      <!-- Semi-Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Semi-Formal Wedding</h2>
          <p class="sans-m">Fun crystal embellishments feel refined when scattered atop a slim sheath dress. Sparkly heels and accessories are the perfect accompaniments.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_semiformal_1.jpg" alt="Red Keyhole Occasion Dress with Sparkle">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/earrings">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_semiformal_3.jpg" alt="Laurel Leaf Cubic Zirconia Drop Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/earrings">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_semiformal_2.jpg" alt="Silver Crystal Flap Envelope Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Usher in fall with a rich shade of wine. You'll look seasonally appropriate and totally on trend.</p>
        </div>
      </div>




      <!-- Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Formal Wedding</h2>
          <p class="sans-m">When you've got a black-tie event on the horizon, try a mermaid gown. One with a high neckline and metallic lace appliques feels suitably dramatic for a fancy reception.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/formal-dresses">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_formal_1.jpg" alt="Metallic Lace and Jersey Round Neck Halter Gown">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/formal-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_formal_3.jpg" alt="Gold Glitter Envelope Clutch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/earrings">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_formal_2.jpg" alt="Crystal and Pearl Double Medallion Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/earrings">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Unsure how to accessorize a unique neckline? Check out our <a href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline and Jewelry Guide</a> for ideas.</p>
        </div>
      </div>





      <!-- Destination Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Destination Wedding</h2>
          <p class="sans-m">An easy-to-pack, super-flowy maxi dress is the epitome of destination wedding dressing. Breezy and cool with a little bit of drama, you'll feel tropical <em>and</em> dressy.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_destination_1.jpg" alt="Navy Blue Pleated and Printed Jersey Maxi Dress with flowers">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/earrings">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_destination_2.jpg" alt="Crystal Cluster Drop Earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/earrings">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_destination_3.jpg" alt="Triple-Strap Metallic Stiletto Sandals">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic"><a href="/gold-and-rose-gold-accessories">Rose gold accessories</a> pick up the pink tones in floral dresses&mdash;and destination sunsets.</p>
        </div>
      </div>
      
      
      
      
      <!-- Mother of the Bride & Groom -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Mother of the Bride & Groom</h2>
          <p class="sans-m">A structured design with flattering details (think: cold shoulders and a cinched waist) make mom shine. Extra-embellished shoes and accessories guarantee she'll stand out among the well-wishers.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/mother-of-the-bride-dresses">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_MOB_1.jpg" alt="Pleated Taffeta Dress with Lace Bodice">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/mother-of-the-bride-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_MOB_3.jpg" alt="Gold Sequin Evening Pouch">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>
            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/what-to-wear-fall-wedding/767px_MOB_2.jpg" alt="Embellished High Heel Sandals with Ankle Strap">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">For more advice and ideas, check out our <a href="/Content_StyleandFashionGuide_MotheroftheBrideGuide" style="white-space: nowrap;">Mother of the Bride & Groom</a> inspiration page.</p>
        </div>
      </div>

    </main>


    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_engagementgiftideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_engagementgg.jpg" alt="Engagement Gift Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_engagementgiftideas">Engagement Gift Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_engagementgiftideas">Presents for the Happy Couple&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_winterweddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingColorsFall.jpg" alt="Wedding Colors by Season">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_winterweddingcolorideas">Wedding Colors by Season</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_winterweddingcolorideas">Hues for Each Time of Year&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_RealWeddings_realweddings">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_RealWeddings_realweddings">Real Wedding Stories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_jewelrynecklines">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline &amp; Jewelry Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_bestbratypes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BraGuide.jpg" alt="Bra Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_bestbratypes">What to Wear With Any Dress&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

</article>
