<article class="content-page">

  <section class="container">
    <div class="breadcrumbs">
      <p class="sans-bold-uppercase">
        <a href="/Content_StyleandFashionGuide_styleguide">Inspiration &amp; Guidance&nbsp;&gt;</a>
      </p>
    </div>
  </section>


  <section class="two-columns container">
    <main class="column" role="main">
      <div class="page-heading">
        <h1 class="serif-xl"><span class="serif-l-italic">What to Wear:</span><br>Summer Wedding Edition</h1>
        <p class="sans-l">Need an outfit or two? Here's your guide to summer wedding guest dresses.</p>
      </div>

      <!-- Casual -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Casual Wedding</h2>
          <p class="sans-m">Shorter skirts and breathable fabrics define the breeziest summer dresses for weddings. Slip on strappy heels and you're done.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/cocktail-party-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Casual_Hero.jpg" alt="girl in pink lace dress and flower heels">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/cocktail-party-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Casual_Accessories_1.jpg" alt="crystal-studded hoop earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Casual_Accessories_2.jpg" alt="rose gold bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/shoes/all-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Casual_Accessories_3.jpg" alt="rose gold high-heeled sandal">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/all-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Rose gold accessories add subtle<br>color to your effortless shift dress.</p>
        </div>
      </div>




      <!-- Semi-Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Semi-Formal Wedding</h2>
          <p class="sans-m">A soft maxi shape works beautifully in any setting that's between chill and elegant. Playful patterns and sparkly extras are welcome!</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/SemiFormal_Hero.jpg" alt="girl in long pink dress">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/SemiFormal_Accessories_1.jpg" alt="diamond drop earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/SemiFormal_Accessories_2.jpg" alt="diamond bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/SemiFormal_Accessories_3.jpg" alt="silver high-heeled sandal">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Teardrop stones are trending in the jewelry world&mdash;they add a modern touch to a classic look.</p>
        </div>
      </div>




      <!-- Formal Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Formal Wedding</h2>
          <p class="sans-m">For summer evening dresses, think dramatic skirts and luxurious fabrics. Then add crystals all around.</p>
        </div>
        <div class="flex">
          <div class="column">
            <p>
              <a href="/dresses/formal-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Formal_Hero.jpg" alt="girl in long floral and black dress">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/formal-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Formal_Accessories_1.jpg" alt="diamond pear earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Formal_Accessories_2.jpg" alt="diamond bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/shoes/evening-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Formal_Accessories_3.jpg" alt="black high-heeled sandal">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/evening-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Have you ever tried a print on a floral dress? Go for it! If you choose a grand silhouette and a rich fabric, it feels suitably fancy.</p>
        </div>
      </div>




      <!-- Destination Wedding -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Destination Wedding</h2>
          <p class="sans-m">Going to a beach wedding? It's the perfect occasion for pastel shades and a little sun-catching shimmer.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/all-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Destination_Hero.jpg" alt="girl in long silver off-the-shoulder dress">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Destination_Accessories_1.jpg" alt="crystal leaf drop earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Destination_Accessories_2.jpg" alt="crystal bracelet">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/shoes/sandals">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Destination_Accessories_3.jpg" alt="flat t-strap sandal">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/sandals">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Blingy yet comfortable, statement sandals fit right in, especially if the party takes place on sand.</p>
        </div>
      </div>




      <!-- Mother of the Bride -->
      <div class="budget-container">
        <div class="budget-container__heading">
          <h2 class="serif-l-italic">Mother of the Bride</h2>
          <p class="sans-m">A full-length dress in a lustrous fabric is perfect for the mother of the bride or groom. Consider a color that complements the bridal party.</p>
        </div>
        <div class="flex reverse">
          <div class="column">
            <p>
              <a href="/dresses/mother-of-the-bride-dresses">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/MOB_Hero.jpg" alt="mom in long silver floral gown">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/dresses/mother-of-the-bride-dresses">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
          <div class="column">
            <p>
              <a href="/accessories/jewelry">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/MOB_Accessories_1.jpg" alt="pearl drop earrings">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/jewelry">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/accessories/handbags">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/MOB_Accessories_2.jpg" alt="silver handbag">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/accessories/handbags">Shop Now&nbsp;&gt;</a>
            </p>

            <p>
              <a href="/shoes/all-shoes">
                <img src="/wcsstore/images/wwcm/sfg/wtw-summer-wedding/MOB_Accessories_3.jpg" alt="embellished high-heeled sandal">
              </a>
            </p>
            <p class="sans-bold-uppercase">
              <a href="/shoes/all-shoes">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="style-tip">
        <div class="style-tip__inner">
          <p class="serif-m">Style Tip:</p>
          <p class="serif-s-italic">Take cues from the bride for how casual or formal to dress&mdash;then accessorize accordingly.</p>
        </div>
      </div>


    </main>


    <aside class="column">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_MOB_Hub.jpg" alt="Bride and Mom hugging">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">Mother of the Bride Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">Colors, Trends, Advice & More&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/social-occasion-dress-quiz">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SpecialOccasion.jpg" alt="Social Occasion Dress Finder">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/social-occasion-dress-quiz">Social Occasion Dress Finder</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/social-occasion-dress-quiz">Take the Quiz&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_jewelrynecklines">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Necklines_414x284.jpg" alt="Neckline & Jewelry Guide">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline &amp; Jewelry Guide</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_jewelrynecklines">Just Add Sparkle&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_summerweddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_SummerWeddingColors.jpg" alt="Summer Wedding Colors">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_summerweddingcolorideas">Summer Wedding Colors</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_summerweddingcolorideas">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_jewelrytrends">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_JewelryTrends.jpg" alt="Now Trending: New Jewelry Styles">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_jewelrytrends">Now Trending: New Jewelry Styles</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_jewelrytrends">Get Accessorized&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>

</article>
