@import "../../../../../variables";
@import "../../../../../mixins";


.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0.9375%;
  }
  
  p + p {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
  }

  // ----------------------------------------------------------------
  // BUTTONS
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin-top: 10px;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 20px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 20px;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }
  }


  // --------------------------------------------------------
  // Main Image
  // --------------------------------------------------------
  &__img {
    display: block;
    position: relative;
    width: 100%;
  }


  // --------------------------------------------------------
  // Text
  // --------------------------------------------------------
  &__text {
    //@include red-bg();
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      position: absolute;
      background: none;
      bottom: 10%;
      transform: translateY(10%);
      left: 0;
    }
    @media screen and (min-width: $breakpoint-lg) {
      bottom: 14px;
    }
    @media screen and (min-width: 1262px) {
      bottom: 3%;
      transform: translateY(3%);
    }
    
    .buttons {
      //@include blue-bg();
      display: none;
      padding: 0 10px 20px;
      @media screen and (min-width: $breakpoint-lg) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 15px 0 0;
      }
      @media screen and (min-width: 1262px) {
        padding: 15px 0 10px;
      }

      .btn {
        @media screen and (min-width: $breakpoint-md) {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }
      .btn-secondary a {
        @media screen and (min-width: $breakpoint-lg) {
          min-width: 240px;
        }
      }
    }
    
    
    p.sans-bold-uppercase {
      padding-top: 20px;
      padding-bottom: 20px;
      @media screen and (min-width: $breakpoint-md) {
        padding-top: 0;
        padding-bottom: 6px;
      }
    }

  }
  
  
  
  &-top {
    display: block;
    position: relative;
    .buttons {
      //@include red-bg();
      display: flex;
      align-items: center;
      position: absolute;
      padding: 20px 10px;
      left: 11%;
      right: 10.5%;
      top: 82%;
      height: 50px;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    p.btn {
      width: 100%;
    }
  }
  
  &-bottom {
    display: block;
    position: relative;
    .buttons {
      //@include red-bg();
      display: flex;
      align-items: center;
      position: absolute;
      padding: 20px 10px;
      left: 11%;
      right: 10.5%;
      top: 67%;
      height: 50px;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
    p.btn {
      width: 100%;
    }
  }



  // ==========================================================================
  // VISIBILITY
  // ==========================================================================
  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none !important;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none !important;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none !important;
    }
  }


}
