<link rel="stylesheet" type="text/css" href="/monetate/ec-4018/ec-4018-mobile.css">

<div id="continue-dialog" role="dialog" aria-labelledby="admessagehead1" aria-describedby="admessagebody1">
  <button type="button" id="button-close" aria-label="close"></button>

  	<div id="dialog-inner-wrapper">
      <div id="admessagebody1" tabindex="-1" class="sr-only">Registration Modal</div>
      <div>
        <p>
          <img src="http://sb.monetate.net/img/1/c/static/2804/444359/8efee3d7cc774f46d76f785629593b153a9ccf05.png" alt="Registration Modal" usemap="#registrationModal">
        </p>
        <map id="registrationModal" name="registrationModal">
          <area shape="rect" id="Brides" coords="35,113,288,153" href="https://www.davidsbridal.com/BrideSignupFormView?catalogId=10051&amp;langId=-1&amp;storeId=10052&amp;regSource=PaidSearch" alt="For Brides" target="_self">
          <area shape="rect" id="Bridesmaid" coords="35,163,288,203" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Bridesmaid" alt="For Bridesmaids" target="_self">
          <area shape="rect" id="Mother" coords="35,213,288,253" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Mother" alt="For Mothers of the Bride" target="_self">
          <area shape="rect" id="Other" coords="35,265,288,305" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Other" alt="For Party Goers" target="_self">
          <area shape="rect" id="Prom" coords="35,315,288,355" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Prom" alt="For Prom Goers" target="_self">
        </map>
      </div>
	</div>
</div>
