<link rel="stylesheet" type="text/css" href="/monetate/ec-4018/ec-4018-desktop.css">

<div id="continue-dialog" role="dialog" aria-labelledby="admessagehead1" aria-describedby="admessagebody1">
  <button type="button" id="button-close" aria-label="close"></button>

  	<div id="dialog-inner-wrapper">
      <div id="admessagebody1" tabindex="-1" class="sr-only">Registration Modal</div>
      <div>
        <p>
          <img src="http://sb.monetate.net/img/1/c/static/2804/444360/58b21d90b1948ec0cf9a9180454c850b14318eb4.png" alt="Registration Modal" usemap="#registrationModal">
        </p>
        <map id="registrationModal" name="registrationModal">
          <area shape="rect" id="Brides" coords="337,199,588,239" href="https://www.davidsbridal.com/BrideSignupFormView?catalogId=10051&amp;langId=-1&amp;storeId=10052&amp;regSource=PaidSearch" alt="For Brides" target="_self">
          <area shape="rect" id="Bridesmaid" coords="337,249,588,289" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Bridesmaid" alt="For Bridesmaids" target="_self">
          <area shape="rect" id="Mother" coords="337,299,588,339" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Mother" alt="For Mothers of the Bride" target="_self">
          <area shape="rect" id="Other" coords="337,351,588,391" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Other" alt="For Party Goers" target="_self">
          <area shape="rect" id="Prom" coords="337,401,588,441" href="https://www.davidsbridal.com/UserSignupView?storeId=10052&amp;catalogId=10051&amp;roleName=Prom" alt="For Prom Goers" target="_self">
        </map>
      </div>
	</div>
</div>
