// ========================================================
// COPY BOX
// ========================================================
$top-md: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
$box-width: 280px;

&__copy {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: -8px;
  margin-bottom: -10px;
  @media screen and (min-width: $breakpoint-md) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: $box-width;
  }
  @media screen and (min-width: 1332px) {
    right: calc((100vw - 1262px) / 2);
  }
  @media screen and (min-width: 1600px) {
    right: calc((1600px - 1262px) / 2);
  }


  &--buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div {
      display: block;
      width: 100%;
    }
  }


  .btn {
    min-width: $box-width;
    width: 100%;
    max-width: 330px;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 220px;
      min-width: auto;
    }

    &-secondary a {
      min-width: $box-width;
      width: 100%;
      max-width: 330px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 220px;
        min-width: auto;
      }
    }
  }

  // .btn {
  //   display: block;
  //   width: $box-width;
  //   margin: 0 auto;
  //   @media screen and (min-width: $breakpoint-md) {
  //     width: $box-width - 40;
  //   }
  //   @media screen and (min-width: $breakpoint-lg) {
  //     width: $box-width + 20;
  //     &:nth-child(3) {
  //       margin-top: 20px;
  //     }
  //   }
  //
  //   &-secondary a {
  //     min-width: $box-width;
  //     @media screen and (min-width: $breakpoint-md) {
  //       min-width: $box-width - 40;
  //     }
  //     @media screen and (min-width: $breakpoint-lg) {
  //       min-width: $box-width + 20;
  //     }
  //   }
  // }


  &--inner {
    background: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      background: rgba(248,246,240, 0.85);
      margin-left: 0;
      margin-right: 0;
      padding: 10px 10px 15px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding: 10px 10px 15px;
    }
  }


  &--offer {
    //@include green-bg();
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }


  p {
    //@include red-bg();
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    // @media screen and (min-width: $breakpoint-xl) {
    //   margin-top: 6px;
    //   margin-bottom: 6px;
    // }

    &.sans-bold-uppercase,
    &.btn {
      margin-top: 8px;
    }
  }

} // .hero__copy
