// ==========================================================================
// Mixins
// ==========================================================================
@mixin focus() {
  outline: 1px dotted $black !important;
  outline-offset: 2px;
}


@mixin block() {
  display: block;
  position: relative;
  clear: both;
}

@mixin transition() {
  transition: all 0.3s ease;
}


@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
@mixin red-bg() {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.4);
}

@mixin no-hypens() {
  height: none;
}
