// ----------------------------------------------------------------
// TYPOGRAPHY
// ----------------------------------------------------------------
a {
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}

img {
  width: 100%;
}

.serif-xl {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  @media screen and (min-width: $breakpoint-md) {
    font-size: 26px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 36px;
  }
}

.sans-l {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  @media screen and (min-width: $breakpoint-md) {
    font-size: 13px;
    line-height: 18px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 15px;
    line-height: 20px;
  }
}
