.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  max-width: 1600px;
  position: relative;
  width: 100%; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0;
    position: relative; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1150px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1150px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 11px 14px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
  .hero__copy {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: -8px;
    margin-bottom: -10px; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 50px;
        width: 280px; } }
    @media screen and (min-width: 1332px) {
      .hero__copy {
        right: calc((100vw - 1262px) / 2); } }
    @media screen and (min-width: 1600px) {
      .hero__copy {
        right: calc((1600px - 1262px) / 2); } }
    .hero__copy--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .hero__copy--buttons div {
        display: block;
        width: 100%; }
    .hero__copy .btn {
      min-width: 280px;
      width: 100%;
      max-width: 330px; }
      @media screen and (min-width: 768px) {
        .hero__copy .btn {
          max-width: 220px;
          min-width: auto; } }
      .hero__copy .btn-secondary a {
        min-width: 280px;
        width: 100%;
        max-width: 330px; }
        @media screen and (min-width: 768px) {
          .hero__copy .btn-secondary a {
            max-width: 220px;
            min-width: auto; } }
    .hero__copy--inner {
      background: none;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .hero__copy--inner {
          background: rgba(248, 246, 240, 0.85);
          margin-left: 0;
          margin-right: 0;
          padding: 10px 10px 15px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--inner {
          padding: 10px 10px 15px; } }
    .hero__copy--offer {
      padding-top: 8px;
      padding-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy--offer {
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .hero__copy p {
          margin-top: 4px;
          margin-bottom: 4px; } }
      .hero__copy p.sans-bold-uppercase, .hero__copy p.btn {
        margin-top: 8px; }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
  .hero__link {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .hero__link {
        display: none; } }
  .hero__disclaimer {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }
    @media screen and (min-width: 1600px) {
      .hero__disclaimer {
        margin-right: 0; } }
