@import "variables";
@import "mixins";


// ========================================================
// ESPOT RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}


// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  max-width: $max-width;
  position: relative;
  width: 100%;


  @import "typography";
  @import "buttons";
  @import "copy-box";
  @import "helpers";
  @import "misc";

} // .hero
