// ==========================================================================
// Banner - Getting Started
// ==========================================================================
.banner-getting-started {
  background: $cream;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .column {
    //@include blue-bg();
    display: block;
    width: 100%;

    &.heading {
      padding-top: 10px;
      padding-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        padding-top: 20px;
        padding-bottom: 30px;
      }

      img {
        width: auto;
        max-width: 100%;
      }

      p.serif-m-italic {
        margin: 0;
        margin-top: 20px;
        @media screen and (min-width: $breakpoint-md) {
          margin-top: 10px;
        }
      }
    }
  } // .column



  &__steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .col {
      //@include green-bg();
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        width: 25%;
      }

      p {
        margin: 0;
      }
    }
  }
}
