// ==========================================================================
// CUSTOMER SERVICE BANNER
// ==========================================================================
.banner-customer-service {
  background: #ffe6e3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    width: 100%;
    margin-bottom: 10px;
  }

  &__lead {
    max-width: 240px;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 100%;
    }
  }

  &__cta {
    .inline-link {
      font-weight: 400;
      text-decoration: underline;
      &:hover,
      &:active,
      &:visited {
        color: $purple-gray;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}
