// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;

  p {
    //@include red-bg();
    display: block;
    margin: 0 auto;
    max-width: $container-max-width;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
  }

  .sans-bold-uppercase {
    margin-bottom: 0;
    padding-left: 10px;
    @media screen and (min-width: $container-max-width) {
      padding-left: 0;
    }
  }
}
