// ==========================================================================
// Find Your Match
// ==========================================================================
.find-your-match {
  background: #ffe6e3;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  position: relative;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__img {
    display: none;
    background-color: #edbfbf;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }

  &__background {
    display: block;
    background-color: #edbfbf;
    background-image: url('/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly_Find-Your-Match-Mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      background-image: url('/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly_Find-Your-Match.jpg');
      background-position: 10% 0%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 230px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      height: 250px;
    }
  }






  &__text {
    background: #ffe6e3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint-md) {
      background: none;
      padding: 0;
      position: absolute;
      right: 10px;
      left: 42.5%;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (min-width: $breakpoint-lg) {
      left: 40%;
    }
    @media screen and (min-width: $container-max-width) {
      left: 45%;
    }

    img {
      display: inline-block;
      float: left;
      width: 40px;
      max-width: 100%;
      margin-right: 5px;
      @media screen and (min-width: $breakpoint-lg) {
        margin-right: 10px;
      }
    }
  }



  &__heading {
    //@include red-bg();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    @media screen and (min-width: $breakpoint-lg) {
      padding-bottom: 5px;
    }
  }

  &__step {
    display: block;
    clear: both;
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 100%;
      margin-bottom: 3px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 5px;
    }
  }



  .serif-m-italic {
    font-size: 18px;
    line-height: 22px; }
    @media screen and (min-width: $breakpoint-lg) {
      .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }

  .sans-m {
    font-size: 13px;
    line-height: 20px; }
    @media screen and (min-width: $breakpoint-lg) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }

} // .find-your-match
