// ==========================================================================
// HERO
// ==========================================================================
.hero {
  // &__background-image {
  //   display: none;
  //   background-color: #ffe6e3;
  //   background-image: url('/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly-Hero-Mobile.jpg');
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   display: block;
  //   width: 100%;
  //   @media screen and (min-width: $breakpoint-md) {
  //     background-image: url('/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly-Hero-Desktop.jpg');
  //   }
  // }

  &__img {
    background: #fad5ce;
    background-image: linear-gradient(to right, #fbd9d3, #fad5ce);
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 50px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 20px;
    }
  }


  &__text {
    //@include blue-bg();
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;

    @media screen and (min-width: $breakpoint-md) {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: 40%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-left: 0;
      padding-right: 0;
      left: 45%;
      right: 5%;
    }
    @media screen and (min-width: 1300px) {
      left: 50%;
      right: 10%;
    }

    &-logo {
      display: block;
      width: 300px;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-lg) {
        width: 344px;
      }
    }

    svg {
      margin-bottom: 5px;
    }

    // .the-wedding-shop-logo {
    //   width: 200px;
    // }

    .serif-s-italic {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 100%;
      }
    }
  }




  .serif-xl {
    font-size: 26px;
    line-height: 1; }
    @media screen and (min-width: $breakpoint-lg) {
      .serif-xl {
        font-size: 36px;
        line-height: 40px; } }

  .serif-l {
    font-size: 22px;
    line-height: 26px; }
    @media screen and (min-width: $breakpoint-lg) {
      .serif-l {
        font-size: 28px;
        line-height: 36px; } }

  .serif-s-italic {
    font-size: 16px;
    line-height: 20px; }
    @media screen and (min-width: $breakpoint-lg) {
      .serif-s-italic {
        font-size: 20px;
        line-height: 24px; } }

  .sans-m {
    font-size: 13px;
    line-height: 20px; }
    @media screen and (min-width: $breakpoint-lg) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }
} // .hero
