// ==========================================================================
// Palette Colors
// ==========================================================================
$colors: (
  'mint': #c3e5da,
  'spa': #80cecc,
  'oasis': #16839c,
  'horizon': #094b9c,
  'marine': #103864,
  'juniper': #215241,

  'petal': #f9dfd5,
  'ballet': #ebadad,
  'coral-reef': #f58789,
  'begonia': #d81787,
  'guava': #ef5364,
  'persimmon': #e23e22,
  'apple': #981d42,
  'bouquet': #b68fb4,
  'raspberry': #862a77,
  'regency': #472e92,
  
  'mercury': #7a7d7c,
  'graphite': #525252,
  'truffle': #473336,
  'black': #000000,
);

@each $name, $color in $colors {
  .#{$name} {
    fill: $color;
  }
}
