// ==========================================================================
// Palette
// ==========================================================================
.palette {
  display: block;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid $gray-lt;
  &:last-of-type {
    border-bottom: none;
  }


  &__heading {
    p {
      display: block;
      @media screen and (min-width: $breakpoint-md) {
        display: inline-block;
      }

      &.sans-m {
        @media screen and (min-width: $breakpoint-md) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (min-width: $breakpoint-md) {
      justify-content: center;
    }
  }

  &__item {
    //border: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
    @media screen and (min-width: 600px) {
      width: 33.33333%;
    }
    @media screen and (min-width: $breakpoint-md) {
      width: 25%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 16.66667%;
    }

    svg {
      margin-bottom: 5px;
      max-width: 140px;
    }

    img {
      margin-bottom: 5px;
      max-width: 100%;
      width: auto;
    }

    .sans-bold-uppercase {
      margin-bottom: 5px;
    }

    .sans-xs {
      margin-bottom: 0;
    }
  }

  .img-circle {
    border-radius: 50%;
  }

  .has-check {
    display: inline;
    position: relative;
    padding-left: 16px;
    //border: 1px solid blue;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 20px;
    }
    &::before {
      background-image: url('/wcsstore/images/wwcm/sfg/shutterfly/check-mark-icon.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      content: " ";
      display: inline-block;
      height: 12px;
      left: 0;
      margin-right: 5px;
      position: absolute;
      text-align: center;
      top: 2px;
      width: 12px;
      //border: 1px solid red;
      @media screen and (min-width: $breakpoint-md) {
        left: 0;
        top: 1px;
        height: 16px;
        width: 16px;
      }
    }
  }

} // .palette
