// ==========================================================================
// REWARDS BANNER
// ==========================================================================
.rewards-banner {
  background: #f93777;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 10px;
    padding-bottom: 10px;
  }


  p {
    width: 100%;
    @media screen and (min-width: $container-max-width) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 0;
      width: auto;
    }


    &.text-reverse {
      color: $white;
      a {
        color: $white;
        &:hover,
        &:active {
          color: $gray-med;
        }
      }
    }

    &.sans-bold-uppercase.text-reverse {
      a {
        color: $white;
        &:hover,
        &:active {
          color: $gray-med;
        }
      }
    }
  }


  &__heading {
    max-width: 240px;
    margin-bottom: 10px;
    @media screen and (min-width: 400px) {
      max-width: 100%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 5px;
    }
  }

  &__subheading {
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    margin-bottom: 15px;
    &.btn {
      &-secondary {
        a {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }

  &__cta {
    margin-bottom: 0;
  }


} // .rewards-banner
