// ==========================================================================
// Layout: 2 columns flex
// ==========================================================================

.section-heading {
  //@include green-bg();
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0;
}

.flex {
  //@include red-bg();
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: $container-max-width;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;

  &.two-column {
    .column {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
      }
    } // .column
  } // .flex.two-column

  .media-block-content {
    p {
      display: block;
      margin-top: 1rem;
      margin-bottom: .85rem;
      @media screen and (min-width: $breakpoint-lg) {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

}
