// ==========================================================================
// Hero Banner
// ==========================================================================
.appointment-banner {
  background: #f6c9c8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 15px;


  &__column {
    //@include green-bg();
    width: 100%;
    padding: 5px 0;
    &:nth-child(1) {
      padding: 0 !important;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: auto;
      padding: 10px;
      &:nth-child(3) {
        width: 100%;
      }
    }
    @media screen and (min-width: 1150px) {
      padding: 5px 10px;
      &:nth-child(3) {
        width: auto;
      }
    }
    @media screen and (min-width: 1262px) {
      padding: 5px 20px;
    }
  }

  img {
    max-width: 16px;
    width: auto;
    @media screen and (min-width: 1150px) {
      max-width: 24px;
    }
  }

  p {
    margin: 0;
  }

  .btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
  }

}
