// ==========================================================================
// Breadcrumbs - Gigya
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  width: 100%;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  p {
    display: block;
    max-width: 1262px;
    margin: 10px auto;
    padding-left: 10px;
    // @media screen and (min-width: 1282px) {
    //   padding-left: 0;
    // }

    &.sans-bold-uppercase a.btn-link {
      color: $black;
      &:hover,
      &:focus,
      &:active {
        color: $taupe;
      }
      @media screen and (min-width: 768px) {
        color: $white;
        &:hover,
        &:focus,
        &:active {
          color: $gray-med;
        }
      }
    }

  }
}
