// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.few-favorites {
  //@include red-bg();
  position: relative;
  padding: 0 10px;

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(248, 246, 240, 1);
    bottom: -27px;
    position: relative;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-left: -5px;
    margin-right: -5px;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }


    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
      }
    }
  }

}
