.our-db-brides {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 30px auto 0;
  padding: 0 10px;

  &__heading {
    padding-left: 0;
    h3,
    p {
      display: inline-block;
      margin-bottom: 10px;
    }
    &-cta {
      margin-left: 10px;
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 25%;
      }
    }
  }

}
