// ==========================================================================
// Section Heading
// ==========================================================================
.section-heading {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px 0;

  @media screen and (min-width: $breakpoint-md) {
    text-align: center;
    padding: 50px 20px 40px;
  }

  p {
    margin: 0;
    &:last-of-type {
      margin-top: 15px;
    }
  }

} // .section-heading
