// ==========================================================================
// Two Column - Offset
// ==========================================================================
.two-columns {
  //@include green-bg();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    padding-top: 30px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 60px;
  }

  // REVERSE
  &.reverse {
    flex-direction: row-reverse;
  }

  @media screen and (min-width: $breakpoint-md) {
    &.md-flex-start {
      align-items: center;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &.md-flex-start {
      align-items: center;
    }
  }




  // ----------------------------------------------------------------
  // DEFAULT COLUMNS
  // ----------------------------------------------------------------
  .column {
    //@include blue-bg();
    width: 100%;
    margin: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-left: 30px;
      margin-right: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-left: 60px;
      margin-right: 60px;
    }

    //background: rgba(255, 0, 0, 0.1);
    //border: 1px solid rgba(255, 0, 0, 0.5);

    @media screen and (min-width: $breakpoint-md) {
      &:nth-of-type(1) {
        max-width: 35%;
      }
      &:nth-of-type(2) {
        max-width: 65%;
      }
    }

    @media screen and (min-width: $breakpoint-lg) {
      &:nth-of-type(1) {
        max-width: 35%;
      }
      &:nth-of-type(2) {
        max-width: 65%;
      }
    }

    & .caption {
      margin: 5px 0;
      font-size: 13px;
    }

    // Spacing under images
    & .sans-m {
      margin: 10px 0;
    }

    .sans-bold-uppercase {
      a {
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }


    // ----------------------------------------------------------------
    // Round Image
    // ----------------------------------------------------------------
    &__img {
      position: relative;
      margin-left: 20px;
      margin-right: 20px;
      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 95%;
        height: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $black;
        border-radius: 50%;
      }
      @media screen and (min-width: $breakpoint-md) {
        margin-right: 0;
        margin-left: 0;
      }


      & img {
        border-radius: 50%;
      }
    } // .column__img


    // ----------------------------------------------------------------
    // Blockquote
    // ----------------------------------------------------------------
    & .quote {
      display: block;
      position: relative;
      clear: both;
      border: 2px solid $black;
      border-width: 2px 0;
      text-align: center;
      margin: 0;


      & blockquote {
        border: 1px solid $black;
        border-width: 1px 0;
        margin: 2px 0;
        padding: 20px 0;
        @media screen and (min-width: $breakpoint-lg) {
          padding: 30px 0;
        }

        & p {
          margin: 0;
          &.sans-bold-uppercase {
            margin-top: 15px;
          }
        }

        p.serif-s-italic a {
          text-decoration: none;
          background-image: linear-gradient(to right, black, black);
          background-position: 0 1.2em;
          background-repeat: repeat-x;
          background-size: 1px 1px;
          transition: all 0.3s ease;
          &:hover,
          &:focus,
          &:active {
            color: $taupe;
            background-image: linear-gradient(to right, $taupe, $taupe);
            background-position: 0 1.2em;
            background-repeat: repeat-x;
            background-size: 1px 1px;
          }
        }

        & .serif-s-italic {
          color: $purple-gray-dk;
          margin-bottom: 5px;
          padding: 0 10px;
          @media screen and (min-width: $breakpoint-md) {
            padding: 0 20px;
          }
        }
      }
    } // .quote

  } // .column

} // .two-columns


@media screen and (min-width: $breakpoint-lg) {
  .shift-up {
    margin-top: -50px;
  }
}
