<style media="screen">
.callout-default--small {
  background: #f8f6f0;
  border: 2px solid #f04874;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .callout-default--small {
      margin-bottom: 30px; } }

.callout-default__inner--small {
  background: #f8f6f0; }

.callout-default__descript--small {
  color: #333;
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .callout-default__descript--small {
      margin-left: auto;
      margin-right: auto; } }
  .callout-default__descript--small a {
    color: #333; }
    .callout-default__descript--small a:hover, .callout-default__descript--small a:focus, .callout-default__descript--small a:active {
      color: #74736d; }
</style>

<div class="callout-default--small">
  <div class="callout-default__inner--small">
    <p class="callout-default__descript--small sans-m align-center" id="countdownMessage" style="display: block;">You're <strong id="freeShippingCountdownAmount">$00.00</strong> away from free shipping! See <a href="#">Exclusions and Details</a> for more info.</p>
    <p class="callout-default__descript--small sans-m align-center" id="freeShippingMessage" style="display: none;">Hooray! You've reached free shipping!</p>
  </div>
</div>


<script type="text/javascript">
console.log('MONETATE: FREE SHIPPING COUNTDOWN');

function updateFreeShippingCountdown() {
  var textAwayFromShipping = $('#freeShippingCountdownAmount');
  var countdownMessage = $('#countdownMessage');
  var freeShippingMessage = $('#freeShippingMessage');

  var subtotal = $('#WC_SingleShipmentOrderTotalsSummary_td_2').text();
  var subtotalInt = Number(subtotal.replace(/[^0-9\.-]+/g,""));
  var discount = $('#WC_SingleShipmentOrderTotalsSummary_td_4').text();
  var discountInt = Number(discount.replace(/[^0-9\.-]+/g,""));

  var awayFromShipping = 100.00 - (subtotalInt + discountInt);
  var formattedAwayFromShipping = Number(awayFromShipping).toFixed(2);

  if (awayFromShipping > 0) {
    countdownMessage.show();
    freeShippingMessage.hide();
    textAwayFromShipping.text('$' + formattedAwayFromShipping);
  } else {
    countdownMessage.hide();
    freeShippingMessage.show();
  }
  // console.log('FREE SHIPPING COUNTDOWN UPDATED');
}
setInterval(updateFreeShippingCountdown, 1000);



// MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
// var trackChange = function(element) {
//   var observer = new MutationObserver(function(mutations, observer) {
//     if(mutations[0].attributeName == "value") {
//         $(element).trigger("change");
//     }
//   });
//   observer.observe(element, {
//     attributes: true
//   });
//   console.log('ELEMENT CHANGED');
//   updateFreeShippingCountdown();
// };
// // Just pass an element to the function to start tracking
// trackChange( $('#currentOrderAmount')[0] );


// // Run once
// var i = 0;
// if( i == 0) {
//   updateFreeShippingCountdown();
//   i++;
// }
//
// // Add Promo Code
// $('#PromotionCodeForm').submit(function() {
//   console.log('PROMO ADDED');
//   updateFreeShippingCountdown();
// });
//
// // Remove Promo Code
// $('.icon-remove-promo').on('click', function() {
//   console.log('PROMO REMOVED');
//   updateFreeShippingCountdown();
// });
//
// // Item Removed From Cart
// $('.remove_item').on('click', function() {
//   console.log('ITEM REMOVED');
//   updateFreeShippingCountdown();
// });



</script>
