.callout-default--small {
  background: #f8f6f0;
  border: 2px solid #f04874;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .callout-default--small {
      margin-bottom: 30px; } }

.callout-default__inner--small {
  background: #f8f6f0; }

.callout-default__descript--small {
  color: #333;
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .callout-default__descript--small {
      margin-left: auto;
      margin-right: auto; } }
  .callout-default__descript--small a {
    color: #333; }
    .callout-default__descript--small a:hover, .callout-default__descript--small a:focus, .callout-default__descript--small a:active {
      color: #74736d; }
