.callout-default {

  &--small {
    background: #f8f6f0;
    border: 2px solid #f04874;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  } // .callout-default--small


  &__inner {
    &--small {
      background: #f8f6f0;
    }
  }


  &__descript {
    &--small {
      color: #333;
      padding: 10px 20px;
      margin-bottom: 0;
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }

      a {
        color: #333;
        &:hover,
        &:focus,
        &:active {
          color: #74736d;
        }
      }
    }
  }

} // .callout-default
