<style media="screen">
.reverie {
  display: block;
  position: relative;
  border-top: 1px solid #c1c1c1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-top: 15px; }
  @media screen and (min-width: 768px) {
    .reverie {
      margin-bottom: 0; } }
  .reverie__question {
    display: block; }
  .reverie .flex {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .reverie button {
    display: inline-block;
    background: #ef4370;
    border: 1px solid #ef4370;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    padding: 7px 24px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .reverie button {
        width: auto; }
        .reverie button:nth-child(1) {
          width: 29%;
          margin-right: 1%; }
        .reverie button:nth-child(2) {
          width: 38%;
          margin-left: 1%;
          margin-right: 1%; }
        .reverie button:nth-child(3) {
          width: 29%;
          margin-left: 1%; } }
    .reverie button:hover, .reverie button:active, .reverie button:focus {
      background: #c20b64;
      border: 1px solid #c20b64; }
  .reverie p {
    margin: 0;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .reverie__thank-you {
    display: none; }
</style>

<div class="reverie">
  <div class="reverie__question">
    <p class="sans-xs">Help us learn about our new&nbsp;collection...</p>
    <p class="serif-s-italic">What occasion are you shopping for?</p>
    <div class="flex">
      <button type="button" name="Bridesmaid">Bridesmaid</button>
      <button type="button" name="FormalDress">Formal Dress</button>
      <button type="button" name="Prom">Prom</button>
    </div>
  </div>
  <div class="reverie__thank-you">
    <p class="serif-s-italic">Thank you for your feedback!</p>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    $('.reverie').find('button').on('click', function() {
      $('.reverie__question').hide();
      $('.reverie__thank-you').show();
    });
  });
</script>
