.reverie {
  display: block;
  position: relative;
  border-top: 1px solid #c1c1c1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-top: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &__question {
    display: block;
  }

  .flex {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

  button {
    display: inline-block;
    //background: #52535a;
    background: #ef4370;
    border: 1px solid #ef4370;
    color: #fff;
    //outline: 4px solid #52535a;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    padding: 7px 24px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: auto;
      &:nth-child(1) {
        width: 29%;
        margin-right: 1%;
      }
      &:nth-child(2) {
        width: 38%;
        margin-left: 1%;
        margin-right: 1%;
      }
      &:nth-child(3) {
        width: 29%;
        margin-left: 1%;
      }
    }

    &:hover,
    &:active,
    &:focus {
      // background: #333;
      // outline: 4px solid #333;
      background: #c20b64;
      border: 1px solid #c20b64;
    }
  }

  p {
    margin: 0;
    hyphens: none;
  }

  &__thank-you {
    display: none;
  }

}
