.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
  max-width: 1600px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #333; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0;
    position: relative; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1150px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1150px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
  .hero__container {
    display: block;
    position: relative;
    margin-bottom: -10px; }
    @media screen and (min-width: 768px) {
      .hero__container {
        margin-bottom: -5px; } }
    .hero__container.clear::after {
      clear: both;
      content: "";
      display: table; }
  .hero__item {
    display: block;
    position: relative;
    float: left; }
    .hero__item:last-child {
      margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .hero__item {
        display: inline-block;
        margin-bottom: 0; } }
    .hero__item-image .btn {
      background: none;
      bottom: 10px;
      left: 0;
      right: 0;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute; }
      .hero__item-image .btn-secondary a {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        letter-spacing: 0.055em;
        width: 100%; }
        .hero__item-image .btn-secondary a:hover, .hero__item-image .btn-secondary a:active, .hero__item-image .btn-secondary afocus {
          border: 1px solid #eee;
          background-color: rgba(255, 255, 255, 0.9); }
    .hero__item-image-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .hero__item-image-caption {
          background: rgba(255, 255, 255, 0.9); } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption {
          padding: 0;
          background: none;
          width: 100%;
          height: 100%; } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption a {
          background: rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          opacity: 0; }
          .hero__item-image-caption a:hover, .hero__item-image-caption a:active, .hero__item-image-caption a:focus {
            opacity: 1; } }
    .hero__item-video {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0; }
      @media screen and (min-width: 768px) {
        .hero__item-video {
          -ms-flex-item-align: end;
              align-self: flex-end;
          margin-top: -10%;
          margin-bottom: -10%;
          z-index: 1; } }
      @media screen and (min-width: 1024px) {
        .hero__item-video {
          padding-bottom: 37.6237623762%;
          margin-top: -19.5%; } }
      .hero__item-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        @media screen and (min-width: 1024px) {
          .hero__item-video iframe {
            height: 204%;
            width: 101%; } }
  .hero .image-a {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-a {
        width: 54.56%;
        margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .hero .image-a {
        width: 36.875%;
        margin-right: 0; } }
  .hero .image-b {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-b {
        width: 45.44%;
        margin-bottom: 0;
        text-align: right; } }
    @media screen and (min-width: 1024px) {
      .hero .image-b {
        width: 36.875%;
        margin-bottom: 0;
        margin-right: 0; } }
  .hero .image-c {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-c {
        width: 45.44%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-c {
        width: 26.25%; } }
  .hero .image-d {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-d {
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .hero .image-d {
        width: 63.125%;
        margin-top: 0; } }
  .hero__copy {
    display: block;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 10; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        float: none;
        position: absolute;
        margin: 0;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        width: 280px;
        top: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
        left: calc(54.1666666667% - (280px / 2)); } }
    @media screen and (min-width: 1024px) {
      .hero__copy {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 300px;
        left: calc(36.4375% - 150px); } }
    @media screen and (min-width: 1262px) {
      .hero__copy {
        width: 340px;
        left: calc(36.4375% - 170px); } }
    .hero__copy--inner {
      background: #f8f6f0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 40px;
      padding-bottom: 25px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .hero__copy--inner {
          background: rgba(248, 246, 240, 0.85);
          margin-left: 0;
          margin-right: 0;
          padding: 20px 20px 15px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--inner {
          padding: 40px 30px 25px; } }
    .hero__copy--offer {
      padding-top: 8px;
      padding-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy--offer {
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .hero__copy p {
          margin-top: 4px;
          margin-bottom: 4px; } }
    .hero__copy .serif-xl {
      font-size: 26px; }
    .hero__copy .sans-l {
      margin-top: 10px;
      margin-bottom: 14px; }
    .hero__copy .sans-bold-uppercase {
      margin-top: 0; }
    .hero__copy .btn-secondary a {
      min-width: 300px; }
      @media screen and (min-width: 768px) {
        .hero__copy .btn-secondary a {
          min-width: 240px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy .btn-secondary a {
          min-width: 260px; } }
    .hero__copy--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .hero__copy--buttons .column {
        width: 100%;
        padding: 2px 0; }
    .hero__copy--figure {
      display: block;
      position: relative;
      width: 100%;
      text-align: center; }
      .hero__copy--figure img {
        display: block;
        position: relative;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto; }
        @media screen and (min-width: 768px) {
          .hero__copy--figure img {
            max-width: 260px; } }
        @media screen and (min-width: 1024px) {
          .hero__copy--figure img {
            max-width: 280px; } }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
  .hero__link {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .hero__link {
        display: none; } }
  .hero__disclaimer {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }
    @media screen and (min-width: 1600px) {
      .hero__disclaimer {
        margin-right: 0; } }
