<!-- <link rel="stylesheet" href="/css/espots/homepage/hero/July/vera-wang/hero.css"> -->
<link rel="stylesheet" href="/css/espots/homepage/hero/July/sale-module/styles.css">
<link rel="stylesheet" href="/css/espots/homepage/hero/July/sample-sale-banner/styles.css">



<style media="screen">
.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .sale-module {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .sale-module {
      margin-bottom: 0.9375%; } }
  .sale-module .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .sale-module .btn {
        width: auto;
        margin-top: 10px; } }
    .sale-module .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary a:hover, .sale-module .btn-secondary a:active, .sale-module .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary a {
          width: auto;
          padding: 13px 40px; } }
    .sale-module .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary-pink a:hover, .sale-module .btn-secondary-pink a:active, .sale-module .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  .sale-module__img {
    display: block;
    position: relative;
    width: 100%; }
  .sale-module__text {
    display: block;
    position: relative;
    width: 100%;
    background: #f4ece6;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .sale-module__text {
        position: absolute;
        background: none;
        bottom: 30%;
        -webkit-transform: translateY(30%);
                transform: translateY(30%);
        left: 0; } }
    .sale-module__text-sale-ends {
      display: none; }
      @media screen and (min-width: 1024px) {
        .sale-module__text-sale-ends {
          display: block;
          margin: 10px auto; } }
      .sale-module__text-sale-ends img {
        max-width: 12%;
        margin: 0 auto; }
    .sale-module__text-banner {
      display: block;
      position: relative;
      background: #f0d060;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 0 20px; }
      @media screen and (min-width: 1024px) {
        .sale-module__text-banner {
          background: rgba(240, 208, 96, 0.8); } }
      @media screen and (min-width: 768px) {
        .sale-module__text-banner svg {
          max-width: 90%; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-banner svg {
          display: block;
          max-width: 60%;
          margin: 0 auto; } }
    .sale-module__text-img-text img {
      max-width: 80%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 20px; }
      @media screen and (min-width: 520px) {
        .sale-module__text-img-text img {
          max-width: 416px; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-img-text img {
          margin-top: 20px; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-img-text img {
          margin-bottom: 0;
          margin-top: 30px;
          max-width: 100%; } }
      @media screen and (min-width: 1262px) {
        .sale-module__text-img-text img {
          margin-top: 60px; } }
    .sale-module__text-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      padding: 0 10px 20px; }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 0 10px 30px; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text-buttons {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          padding: 15px 0 0; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons .btn {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons .btn-secondary a {
          min-width: 240px; } }
  .sale-module__button {
    display: block;
    position: relative;
    padding: 10px; }
  @media screen and (max-width: 767px) {
    .sale-module .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sale-module .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sale-module .lg-hidden {
      display: none !important; } }
</style>
<section class="sale-module" data-analytics-tagging="Sale Module">

  <div class="sale-module__img">
    <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/HP_7.20-7.23_sample_sale_mobile.jpg" alt="SAMPLE SALE Wedding dresses up to $800 off original price, including designer styles">
    <img class="sm-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/HP_7.20-7.23_sample_sale_desktop.jpg" alt="SAMPLE SALE Wedding dresses up to $800 off original price, including designer styles">
  </div>

  <div class="sale-module__text">
    <div class="sale-module__text-sale-ends">
      <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/ends-July-23.png" alt="wedding dresses up to $800 off original price, including designer styles">
    </div>

    <div class="sale-module__text-banner">
      <svg viewBox="0 0 757 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-4.000000, -214.000000)" fill="#FFFFFF">
            <path d="M4.2,288.6 L14.76,277.56 C20.360028,283.720031 26.959962,286.8 34.56,286.8 C38.160018,286.8 41.0999886,285.80001 43.38,283.8 C45.6600114,281.79999 46.8,279.280015 46.8,276.24 C46.8,273.039984 45.5200128,270.46001 42.96,268.5 C40.3999872,266.53999 36.5000262,264.56001 31.26,262.56 C26.0199738,260.55999 22.2400116,258.880007 19.92,257.52 C11.9999604,252.879977 8.04,246.52004 8.04,238.44 C8.04,231.319964 10.7999724,225.600022 16.32,221.28 C21.8400276,216.959978 28.3199628,214.8 35.76,214.8 C44.8800456,214.8 52.9999644,217.439974 60.12,222.72 L51.72,234.72 C47.71998,231.039982 42.8800284,229.2 37.2,229.2 C33.7599828,229.2 30.740013,229.959992 28.14,231.48 C25.539987,233.000008 24.24,235.279985 24.24,238.32 C24.24,240.720012 25.5799866,242.819991 28.26,244.62 C30.9400134,246.420009 34.1599812,248.019993 37.92,249.42 C41.6800188,250.820007 45.459981,252.439991 49.26,254.28 C53.060019,256.120009 56.2999866,258.879982 58.98,262.56 C61.6600134,266.240018 63,270.719974 63,276 C63,283.280036 60.200028,289.299976 54.6,294.06 C48.999972,298.820024 42.3200388,301.2 34.56,301.2 C23.5199448,301.2 13.400046,297.000042 4.2,288.6 Z M84.72,300 L67.8,300 L103.8,216 L115.2,216 L151.2,300 L134.28,300 L126.36,281.4 L92.64,281.4 L84.72,300 Z M109.44,242.16 L98.76,267 L120.12,267 L109.44,242.16 Z M172.2,216 L202.8,266.28 L233.4,216 L244.8,216 L244.8,300 L228.6,300 L228.6,253.2 L208.44,286.2 L197.16,286.2 L177,253.2 L177,300 L160.8,300 L160.8,216 L172.2,216 Z M295.56,265.8 L280.2,265.8 L280.2,300 L264,300 L264,216 L295.56,216 C305.320049,216 312.599976,218.519975 317.4,223.56 C321.800022,228.120023 324,233.919965 324,240.96 C324,248.000035 321.800022,253.799977 317.4,258.36 C312.679976,263.320025 305.400049,265.8 295.56,265.8 Z M280.2,251.4 L294.84,251.4 C299.560024,251.4 302.95999,250.280011 305.04,248.04 C306.880009,246.03999 307.8,243.680014 307.8,240.96 C307.8,238.159986 306.880009,235.76001 305.04,233.76 C302.95999,231.519989 299.560024,230.4 294.84,230.4 L280.2,230.4 L280.2,251.4 Z M336,300 L336,216 L352.2,216 L352.2,285.6 L387.6,285.6 L387.6,300 L336,300 Z M450.6,230.4 L416.4,230.4 L416.4,247.8 L442.2,247.8 L442.2,262.2 L416.4,262.2 L416.4,285.6 L451.8,285.6 L451.8,300 L400.2,300 L400.2,216 L450.6,216 L450.6,230.4 Z M487.8,288.6 L498.36,277.56 C503.960028,283.720031 510.559962,286.8 518.16,286.8 C521.760018,286.8 524.699989,285.80001 526.98,283.8 C529.260011,281.79999 530.4,279.280015 530.4,276.24 C530.4,273.039984 529.120013,270.46001 526.56,268.5 C523.999987,266.53999 520.100026,264.56001 514.86,262.56 C509.619974,260.55999 505.840012,258.880007 503.52,257.52 C495.59996,252.879977 491.64,246.52004 491.64,238.44 C491.64,231.319964 494.399972,225.600022 499.92,221.28 C505.440028,216.959978 511.919963,214.8 519.36,214.8 C528.480046,214.8 536.599964,217.439974 543.72,222.72 L535.32,234.72 C531.31998,231.039982 526.480028,229.2 520.8,229.2 C517.359983,229.2 514.340013,229.959992 511.74,231.48 C509.139987,233.000008 507.84,235.279985 507.84,238.32 C507.84,240.720012 509.179987,242.819991 511.86,244.62 C514.540013,246.420009 517.759981,248.019993 521.52,249.42 C525.280019,250.820007 529.059981,252.439991 532.86,254.28 C536.660019,256.120009 539.899987,258.879982 542.58,262.56 C545.260013,266.240018 546.6,270.719974 546.6,276 C546.6,283.280036 543.800028,289.299976 538.2,294.06 C532.599972,298.820024 525.920039,301.2 518.16,301.2 C507.119945,301.2 497.000046,297.000042 487.8,288.6 Z M568.32,300 L551.4,300 L587.4,216 L598.8,216 L634.8,300 L617.88,300 L609.96,281.4 L576.24,281.4 L568.32,300 Z M593.04,242.16 L582.36,267 L603.72,267 L593.04,242.16 Z M644.4,300 L644.4,216 L660.6,216 L660.6,285.6 L696,285.6 L696,300 L644.4,300 Z M759,230.4 L724.8,230.4 L724.8,247.8 L750.6,247.8 L750.6,262.2 L724.8,262.2 L724.8,285.6 L760.2,285.6 L760.2,300 L708.6,300 L708.6,216 L759,216 L759,230.4 Z"></path>
          </g>
        </g>
      </svg>
    </div>

    <div class="sale-module__text-img-text">
      <img class="lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/HP_7.20-7.23_sample_sale_mobile-text.png" alt="wedding dresses up to $800 off original price, including designer styles">
      <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/HP_7.20-7.23_sample_sale_desktop-text.png" alt="wedding dresses up to $800 off original price, including designer styles">
    </div>

    <div class="sale-module__text-buttons">
      <p class="btn btn-secondary">
        <a class="sans-bold-uppercase" href="/sale/sale-wedding-dresses?homepage=salehero">Select Wedding Dresses</a>
      </p>
      <p class="btn btn-secondary sm-hidden md-hidden">
        <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=salehero">Make an Appointment</a>
      </p>
      <p class="sans-bold-uppercase sm-hidden lg-hidden">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=salehero">Make an Appointment&nbsp;&gt;</a>
      </p>
    </div>
  </div>

  <div class="sale-module__button md-hidden lg-hidden">
    <p class="btn btn-secondary-pink">
      <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=salehero">Make an Appointment</a>
    </p>
  </div>

</section>



<style media="screen">
.sample-sale-banner {
  display: block;
  position: relative;
  max-width: 1262px;
  margin-top: -10px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border: 2px solid #f0d060;
  text-align: center;
  padding: 20px 10px; }
  @media screen and (min-width: 768px) {
    .sample-sale-banner {
      margin-top: 25px; } }
  .sample-sale-banner p + p {
    margin: 0; }
  .sample-sale-banner img {
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto; }
  .sample-sale-banner a {
    color: #333; }
    .sample-sale-banner a:hover {
      color: #333 !important; }
  .sample-sale-banner__text {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sample-sale-banner__text-message {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media screen and (min-width: 768px) {
        .sample-sale-banner__text-message {
          margin-top: 15px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
    .sample-sale-banner__text-cta {
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .sample-sale-banner__text-cta {
          margin-top: 15px; } }
  .sample-sale-banner .serif-s-italic {
    font-size: 24px;
    line-height: 28px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .sample-sale-banner .serif-s-italic:last-child {
        font-size: 18px;
        line-height: 22px; } }
    @media screen and (min-width: 768px) {
      .sample-sale-banner .serif-s-italic {
        padding-right: 10px;
        padding-left: 5px; }
        .sample-sale-banner .serif-s-italic:not(:last-child)::after {
          display: block;
          position: absolute;
          content: "";
          border-right: 1px solid #333;
          height: 100%;
          top: 0;
          right: 0; } }
  @media screen and (max-width: 767px) {
    .sample-sale-banner .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sample-sale-banner .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sample-sale-banner .lg-hidden {
      display: none !important; } }
</style>
<section class="sample-sale-banner" data-analytics-tagging="sample-sale-banner">
  <a href="/sale/sample-sale?homepage=hero">
    <div class="sample-sale-banner__text">
      <div class="sample-sale-banner__text-icon">
        <img src="/wcsstore/images/wwcm/homepage/2018/July/sample-sale-dress.gif" alt="">
      </div>
      <div class="sample-sale-banner__text-message">
        <p class="serif-s-italic">plus take an additional $50 off select wedding dresses</p>
        <p class="serif-s-italic">online only</p>
      </div>
      <div class="sample-sale-banner__text-cta">
        <p class="sans-bold-uppercase">Shop Now&nbsp;&gt;</p>
      </div>
    </div>
  </a>
</section>




<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
  max-width: 1600px;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0;
    position: relative; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1150px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1150px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
  .hero__container {
    display: block;
    position: relative;
    margin-bottom: -10px; }
    @media screen and (min-width: 768px) {
      .hero__container {
        margin-bottom: 0; } }
    .hero__container.clear::after {
      clear: both;
      content: "";
      display: table; }
  .hero__item {
    display: block;
    position: relative;
    float: left; }
    .hero__item:last-child {
      margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .hero__item {
        display: inline-block;
        margin-bottom: 0; } }
    .hero__item-image .btn {
      background: none;
      bottom: 10px;
      left: 0;
      right: 0;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute; }
      .hero__item-image .btn-secondary a {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        letter-spacing: 0.055em;
        width: 100%; }
        .hero__item-image .btn-secondary a:hover, .hero__item-image .btn-secondary a:active, .hero__item-image .btn-secondary afocus {
          border: 1px solid #eee;
          background-color: rgba(255, 255, 255, 0.9); }
    .hero__item-image-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .hero__item-image-caption {
          background: rgba(255, 255, 255, 0.9); } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption {
          padding: 0;
          background: none;
          width: 100%;
          height: 100%; } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption a {
          background: rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          opacity: 0; }
          .hero__item-image-caption a:hover, .hero__item-image-caption a:active, .hero__item-image-caption a:focus {
            opacity: 1; } }
    .hero__item-video {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0; }
      @media screen and (min-width: 768px) {
        .hero__item-video {
          -ms-flex-item-align: end;
              align-self: flex-end;
          margin-top: -10%;
          margin-bottom: -10%;
          z-index: 1; } }
      @media screen and (min-width: 1024px) {
        .hero__item-video {
          padding-bottom: 37.6237623762%;
          margin-top: -19.5%; } }
      .hero__item-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        @media screen and (min-width: 1024px) {
          .hero__item-video iframe {
            height: 204%;
            width: 101%; } }
  .hero .image-a {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-a {
        width: 54.56%;
        margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .hero .image-a {
        width: 36.875%;
        margin-right: 0; } }
  .hero .image-b {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-b {
        width: 45.44%;
        margin-bottom: 0;
        text-align: right; } }
    @media screen and (min-width: 1024px) {
      .hero .image-b {
        width: 36.875%;
        margin-bottom: 0;
        margin-right: 0; } }
  .hero .image-c {
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .image-c {
        width: 45.44%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-c {
        width: 26.25%; } }
  .hero .image-d {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-d {
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .hero .image-d {
        width: 63.125%;
        margin-top: 0; } }
  .hero__copy {
    display: block;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 10; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        float: none;
        position: absolute;
        margin: 0;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        width: 280px;
        top: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
        left: calc(54.1666666667% - (280px / 2)); } }
    @media screen and (min-width: 1024px) {
      .hero__copy {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 300px;
        left: calc(36.4375% - 150px); } }
    @media screen and (min-width: 1262px) {
      .hero__copy {
        width: 340px;
        left: calc(36.4375% - 170px); } }
    .hero__copy--inner {
      background: #f8f6f0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 40px;
      padding-bottom: 25px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .hero__copy--inner {
          background: rgba(248, 246, 240, 0.85);
          margin-left: 0;
          margin-right: 0;
          padding: 20px 20px 15px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--inner {
          padding: 40px 30px 25px; } }
    .hero__copy--offer {
      padding-top: 8px;
      padding-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy--offer {
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .hero__copy p {
          margin-top: 4px;
          margin-bottom: 4px; } }
    .hero__copy .serif-xl {
      font-size: 26px; }
    .hero__copy .sans-l {
      margin-top: 10px;
      margin-bottom: 14px; }
    .hero__copy .sans-bold-uppercase {
      margin-top: 0; }
    .hero__copy .btn-secondary a {
      min-width: 300px; }
      @media screen and (min-width: 768px) {
        .hero__copy .btn-secondary a {
          min-width: 240px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy .btn-secondary a {
          min-width: 260px; } }
    .hero__copy--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .hero__copy--buttons .column {
        width: 100%;
        padding: 2px 0; }
    .hero__copy--figure {
      display: block;
      position: relative;
      width: 100%;
      text-align: center; }
      .hero__copy--figure img {
        display: block;
        position: relative;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto; }
        @media screen and (min-width: 768px) {
          .hero__copy--figure img {
            max-width: 260px; } }
        @media screen and (min-width: 1024px) {
          .hero__copy--figure img {
            max-width: 280px; } }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
  .hero__link {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .hero__link {
        display: none; } }
  .hero__disclaimer {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }
    @media screen and (min-width: 1600px) {
      .hero__disclaimer {
        margin-right: 0; } }
</style>
<section class="hero" data-analytics-tagging="Hero">
  <div class="hero__container clear" style="background: #333">

    <!-- Image A -->
    <section class="hero__item image-a">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/wedding-dresses/white-by-vera-wang?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/July/vera-wang/WVW_HP_Panel_Hero_Mobile_767.jpg" alt="Bride in black White by Vera Wang wedding dress">
        </a>
        <figcaption class="hero__item-image-caption sm-hidden">
          <p class="btn btn-secondary">
            <a href="/wedding-dresses/white-by-vera-wang?homepage=hero">Shop Wedding Dresses</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/wedding-dresses/white-by-vera-wang?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/July/vera-wang/HP_Hero_WVW_July2018_Desktop_A.jpg" alt="Bride in black White by Vera Wang wedding dress">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/wedding-dresses/white-by-vera-wang?homepage=hero">Shop Wedding Dresses<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- CTA Link -->
    <section class="hero__link sm-hidden">
      <p class="sans-bold-uppercase">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=hero">Make An Appointment&nbsp;&gt;</a>
      </p>
    </section>


    <!-- Copy Box -->
    <section class="hero__copy">
      <div class="hero__copy--inner">

        <div class="hero__copy--offer">
          <figure class="hero__copy--figure">
            <img src="/wcsstore/images/wwcm/homepage/2018/July/vera-wang/WVW_Logo.png" alt="White by Vera Wang Logo">
          </figure>
          <p class="sans-l">White by Vera Wang<br>The fall 2018 collection is here</p>
          <div class="hero__copy--buttons">
            <div class="column">
              <p class="btn btn-secondary">
                <a class="sans-bold-uppercase" href="/wedding-dresses/white-by-vera-wang?homepage=hero">Shop Wedding Dresses</a>
              </p>
            </div>
            <div class="column">
              <p class="btn btn-secondary">
                <a class="sans-bold-uppercase" href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids?homepage=hero">Shop Bridesmaid Dresses</a>
              </p>
            </div>
          </div>
        </div>

        <div class="hero__copy--offer">
          <p class="sans-bold-uppercase">
            <a href="/Content_Bridal_verawangexpmain?homepage=hero">A Note From Vera&nbsp;&gt;</a>
          </p>
        </div>

        <div class="hero__copy--offer">
          <p class="sans-bold-uppercase">
            <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=hero">Make An Appointment&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </section>


    <!-- Image B -->
    <section class="hero__item image-b sm-hidden">
      <figure class="hero__item-image sm-hidden">
        <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/July/vera-wang/HP_Hero_WVW_July2018_Desktop_B.jpg" alt="two bridesmaids in cream colored dresses linking arms">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/bridesmaid-dresses/white-by-vera-wang-bridesmaids?homepage=hero">Shop Bridesmaids<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- Image C -->
    <section class="hero__item image-c sm-hidden">
      <figure class="hero__item-image">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052&homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/July/vera-wang/HP_Hero_WVW_July2018_Desktop_C.gif" alt="It's not just another dress. It's the dress that you'll remember forever.">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052&homepage=hero">Make an Appointment<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- Image D -->
    <section class="hero__item image-d sm-hidden">
      <div class="hero__item-video">
        <!-- Mobile Video -->
        <!-- <iframe class="md-hidden lg-hidden" width="560" height="315" src="https://www.youtube.com/embed/NZ2eyfFp03A?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=NZ2eyfFp03A" frameborder="0" allowfullscreen></iframe> -->
        <!-- Tablet/Desktop Video -->
        <div id="veraWangVideoDesktop"></div>
        <!-- <iframe class="sm-hidden" height="380" src="https://www.youtube.com/embed/e85-4cn7NUE?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=e85-4cn7NUE&" frameborder="0" allowfullscreen></iframe> -->
      </div>

      <!-- <figure class="hero__item-image">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">
          <img src="http://placehold.it/1010x380/CCCCCC/333333" alt="">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure> -->
    </section>

  </div>
</section>

<script type="text/javascript">
(function($) {

  // document ready
  $(window).on('load', function() {
    console.log('Window Load');

    // create deferred object
    var YTdeferred = $.Deferred();
    window.onYouTubeIframeAPIReady = function() {
      console.log('API ready');
      // resolve when youtube callback is called
      // passing YT as a parameter
      YTdeferred.resolve(window.YT);
    };

    // embedding youtube iframe api
    // https://developers.google.com/youtube/iframe_api_reference#Getting_Started
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    // whenever youtube callback was called = deferred resolved
    // your custom function will be executed with YT as an argument
    YTdeferred.done(function(YT) {
      console.log('Player ready');
      // creating a player
      player = new YT.Player('veraWangVideoDesktop', {
        height: '390',
        width: '640',
        videoId: 'e85-4cn7NUE',
        playerVars: {
          autoplay: 1,
          controls: 0,
          loop: 1,
          mute: 1,
          modestbranding: 1,
          rel: 0,
          showinfo: 0,
          playlist: 'e85-4cn7NUE'
        }
      });
    });
  });
})(jQuery);
</script>
