.jumbotron {
  clear: both;
  display: block;
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: #ffe6e3; }
  .jumbotron__text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .jumbotron__text img {
      display: block;
      margin: 0 auto; }
    .jumbotron__text p {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 5px; }
