// ==========================================================================
// Hero Banner
// ==========================================================================
.appointment-banner {
  background: #f6c9c8;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  padding: 20px;
  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
  @media screen and (min-width: 1300px) {
    padding: 15px 0;
  }

  .sans-bold-uppercase a {
    color: #333;
    &:hover,
    &:active {
      color: #74736d;
    }
  }

  p {
    display: block;
    margin: 10px 0;
    @media screen and (min-width: 1300px) {
      display: inline;
      margin: 0 20px;
    }
  }

  // White Text
  p {
    color: #333;
  }

  // Spacing
  p:first-of-type {
    margin-bottom: 4px;
    @media screen and (min-width: 1300px) {
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
  p:nth-of-type(2) {
    margin-bottom: 8px;
    @media screen and (min-width: 1300px) {
      margin-bottom: 0;
    }
  }
  p.btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
    padding: 11px 75px;
  }

}
