html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }
  .content-page .container {
    max-width: 1282px;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-left: 10px;
    padding-right: 10px; }
    .content-page .container-full {
      max-width: 1600px;
      padding-left: 0;
      padding-right: 0; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 1024px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 1024px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      text-align: center;
      padding: 13px 10px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none;
      font-size: 9px; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 350px) {
        .content-page .btn-secondary a {
          font-size: 10px; } }
      @media screen and (min-width: 400px) {
        .content-page .btn-secondary a {
          font-size: 11px; } }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }
  .content-page .inline-link {
    color: #74736d;
    font-weight: 400;
    text-decoration: underline; }
    .content-page .inline-link:hover, .content-page .inline-link:active, .content-page .inline-link:focus {
      color: #333333;
      font-weight: 400;
      text-decoration: underline; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1; }
  .grid.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .grid .column {
    display: block;
    width: 100%;
    padding: 0 5px 0; }
  .grid-split-1-2 .column {
    width: 100%;
    padding: 15px 5px 0; }
    .grid-split-1-2 .column:not(:last-child) {
      padding-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .grid-split-1-2 .column {
        width: 50%;
        padding: 15px 5px 0; }
        .grid-split-1-2 .column:not(:last-child) {
          padding-bottom: 25px; } }
  .grid-split-1-3 {
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .grid-split-1-3 {
        margin-bottom: 15px; } }
    .grid-split-1-3 .column {
      width: 100%;
      padding-bottom: 15px; }
      @media screen and (min-width: 768px) {
        .grid-split-1-3 .column {
          width: 33.3333%; }
          .grid-split-1-3 .column:not(:last-child) {
            padding-bottom: 15px; } }
  .grid-split-1-4 {
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .grid-split-1-4 {
        margin-bottom: 15px; } }
    .grid-split-1-4 .column {
      width: 100%;
      padding-bottom: 15px; }
      @media screen and (min-width: 768px) {
        .grid-split-1-4 .column {
          width: 25%; }
          .grid-split-1-4 .column:not(:last-child) {
            padding-bottom: 15px; } }
  .grid__spotlight {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .grid__spotlight {
        margin-bottom: 35px; } }
    @media screen and (min-width: 1024px) {
      .grid__spotlight {
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 25px; } }
    .grid__spotlight .media-block {
      position: relative; }
    .grid__spotlight .column {
      padding: 0 5px 0; }
      @media screen and (min-width: 1024px) {
        .grid__spotlight .column {
          padding: 0 15px 15px; } }
      .grid__spotlight .column:first-child .media-block-img-wrap {
        display: block;
        position: relative;
        margin-bottom: 10px; }
        @media screen and (min-width: 768px) {
          .grid__spotlight .column:first-child .media-block-img-wrap {
            margin-bottom: 0; } }
        .grid__spotlight .column:first-child .media-block-img-wrap::after {
          display: block;
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8)));
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%); }
          @media screen and (min-width: 768px) {
            .grid__spotlight .column:first-child .media-block-img-wrap::after {
              display: none; } }
      .grid__spotlight .column:first-child .media-block-content {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        text-align: center; }
        @media screen and (min-width: 768px) {
          .grid__spotlight .column:first-child .media-block-content {
            position: relative;
            text-align: left;
            left: initial;
            right: initial;
            bottom: initial; } }
        .grid__spotlight .column:first-child .media-block-content__title {
          color: #fff; }
          @media screen and (min-width: 768px) {
            .grid__spotlight .column:first-child .media-block-content__title {
              color: #333; } }
      .grid__spotlight .column:first-child p.sans-bold-uppercase {
        display: none; }
        @media screen and (min-width: 768px) {
          .grid__spotlight .column:first-child p.sans-bold-uppercase {
            display: block; } }
      .grid__spotlight .column:first-child p.btn {
        margin-top: 10px;
        display: block; }
        @media screen and (min-width: 768px) {
          .grid__spotlight .column:first-child p.btn {
            display: none;
            margin-top: 0; } }
        .grid__spotlight .column:first-child p.btn-secondary a {
          display: block;
          width: 100%; }
      .grid__spotlight .column:last-child .media-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
        .grid__spotlight .column:last-child .media-block:not(:last-child) {
          padding-bottom: 10px; }
          @media screen and (min-width: 768px) {
            .grid__spotlight .column:last-child .media-block:not(:last-child) {
              padding-bottom: 0; } }
        .grid__spotlight .column:last-child .media-block-img-wrap {
          width: 45%;
          padding-right: 5px;
          padding-bottom: 0;
          padding-top: 5px; }
          @media screen and (min-width: 768px) {
            .grid__spotlight .column:last-child .media-block-img-wrap {
              width: 100%;
              padding-bottom: 0;
              padding-top: 0;
              padding-right: 0; } }
        .grid__spotlight .column:last-child .media-block-content {
          width: 55%;
          margin-top: 5px;
          padding-left: 5px; }
          @media screen and (min-width: 768px) {
            .grid__spotlight .column:last-child .media-block-content {
              width: 100%;
              padding-left: 0;
              margin-top: 12px; } }
          @media screen and (min-width: 1024px) {
            .grid__spotlight .column:last-child .media-block-content {
              margin-top: 19px; } }
        .grid__spotlight .column:last-child .media-block .serif-m {
          font-size: 16px;
          line-height: 20px; }
          @media screen and (min-width: 1024px) {
            .grid__spotlight .column:last-child .media-block .serif-m {
              font-size: 20px;
              line-height: 24px; } }
      @media screen and (min-width: 768px) {
        .grid__spotlight .column:first-child {
          width: 70%; }
        .grid__spotlight .column:last-child {
          width: 30%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .grid__spotlight .column:last-child > * + * {
            display: block;
            width: 100%; }
            .grid__spotlight .column:last-child > * + *:last-child {
              margin-top: auto; } }
      @media screen and (min-width: 1024px) {
        .grid__spotlight .column:first-child {
          width: 70%; }
        .grid__spotlight .column:last-child {
          width: 30%; } }

.media-block-content__cta {
  display: inline-block; }
  .media-block-content__cta:not(:first-child) {
    margin-left: 10px; }
  @media screen and (min-width: 768px) {
    .media-block-content__cta {
      display: block; }
      .media-block-content__cta:not(:first-child) {
        margin-left: 0;
        margin-top: 5px; } }
  @media screen and (min-width: 1262px) {
    .media-block-content__cta {
      display: inline-block; }
      .media-block-content__cta:not(:first-child) {
        margin-left: 15px;
        margin-top: 0; } }

/* IE11 Fix */
@media screen and (min-width: 768px) {
  html.no-smil .grid__spotlight .column:last-child {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; } }

@media screen and (min-width: 768px) {
  .margin-top-10 {
    margin-top: 10px; } }

@media screen and (min-width: 768px) {
  .margin-top-20 {
    margin-top: 20px; } }

@media screen and (min-width: 768px) {
  .margin-top-30 {
    margin-top: 30px; } }

.jumbotron {
  clear: both;
  display: block;
  position: relative;
  max-width: 1600px; }
  .jumbotron__img {
    background: #ccc;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    z-index: 0;
    background-image: url("/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/767_MobileHero_MainHub.jpg"); }
    @media screen and (min-width: 768px) {
      .jumbotron__img {
        background-image: url("/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/MainHub_IG_Tablet_Hero.jpg");
        background-position: 85% 0; } }
    @media screen and (min-width: 1024px) {
      .jumbotron__img {
        background-image: url("/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/MainHub_IG_Desktop_Hero.jpg");
        background-position: 60% 0; } }
    .jumbotron__img.summer-weddings {
      background-image: url("/wcsstore/images/wwcm/sfg/summer-weddings/1804032_Summer_Wedding_HUB_IG_Tablet_Hero.jpg");
      background-position: right; }
      @media screen and (min-width: 768px) {
        .jumbotron__img.summer-weddings {
          background-position: 85% 0; } }
      @media screen and (min-width: 1024px) {
        .jumbotron__img.summer-weddings {
          background-image: url("/wcsstore/images/wwcm/sfg/summer-weddings/1804032_Summer_Wedding_HUB_IG_Desktop_Hero.jpg");
          background-position: 60% 0; } }
  .jumbotron__text {
    background: rgba(248, 246, 240, 0.8);
    position: absolute;
    padding: 20px 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media screen and (min-width: 1024px) {
      .jumbotron__text {
        bottom: initial;
        left: initial;
        right: initial;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 580px;
        padding-top: 20px;
        padding-bottom: 20px; } }
    .jumbotron__text-svg {
      display: block;
      margin: 0 auto;
      max-width: 320px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; }
      @media screen and (min-width: 1024px) {
        .jumbotron__text-svg {
          max-width: 480px;
          padding-left: 0px;
          padding-right: 0px; } }
      .jumbotron__text-svg svg {
        display: block;
        margin: 0 auto;
        max-width: 100%; }
    .jumbotron__text h1,
    .jumbotron__text p {
      display: block;
      width: 100%; }
    .jumbotron__text p {
      margin-bottom: 0; }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  padding: 15px 0;
  padding-bottom: 20px; }
  @media screen and (min-width: 1024px) {
    .breadcrumbs {
      padding-bottom: 30px; } }
  .breadcrumbs p {
    margin: 0; }

.section-minor-heading {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  margin-top: -24px;
  margin-bottom: 15px;
  z-index: 0; }
  @media screen and (min-width: 768px) {
    .section-minor-heading {
      margin-top: -27px;
      margin-bottom: 20px; } }

.section-minor-heading .section-minor-heading__heading {
  display: inline-block;
  padding: 0 10px 3px 0;
  background: white;
  bottom: -24px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .section-minor-heading .section-minor-heading__heading {
      bottom: -27px; } }

.inspiration-guidance {
  position: relative;
  padding: 0; }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: -10px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: -17px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 45%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    max-width: 1272px; }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.db-prom {
  display: block;
  position: relative;
  clear: both;
  margin: 50px auto 0; }
  .db-prom__heading {
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .db-prom__heading h3,
      .db-prom__heading p {
        display: inline-block;
        margin-bottom: 10px; } }
    @media screen and (min-width: 768px) {
      .db-prom__heading-cta {
        margin-left: 10px; } }
  .db-prom__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px; }
    .db-prom__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .db-prom__flex .column {
          width: 16.66667%; } }

.sitemap-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px; }
  .sitemap-link .btn {
    width: 100%;
    max-width: 400px; }
    .sitemap-link .btn-secondary a {
      font-size: 11px;
      width: 100%;
      max-width: 400px; }
      @media screen and (min-width: 1024px) {
        .sitemap-link .btn-secondary a {
          font-size: 12px; } }
