@import "../../../../../variables";
@import "../../../../../mixins";

.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }



.hero {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0.9375%;
  }

  // ----------------------------------------------------------------
  // BUTTONS
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin-top: 10px;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }
  }






  // --------------------------------------------------------
  // Main Image
  // --------------------------------------------------------
  &__img {
    display: block;
    position: relative;
    width: 100%;
  }



  // --------------------------------------------------------
  // Text
  // --------------------------------------------------------
  &__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    padding: 20px 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 10px;
    }


    img {
      max-width: 75%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 30px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 80%;
        margin-top: 0;
      }
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 50%;
        margin-bottom: 20px;
      }
    }

    &-ctas {
      & > * {
        margin-top: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }








  // ==========================================================================
  // VISIBILITY
  // ==========================================================================
  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none !important;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none !important;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none !important;
    }
  }


}
