.add-bridesmaid {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;
  
  
  // Button
  &__button {
    display: block;
    width: 100%;
    background: $white;
    color: $black;
    border: 1px solid $black;
    padding: 11px 0;
    
    &:hover,
    &:focus,
    &:active {
      background: $white;
      color: $black;
      border: 1px solid $gray-med;
    }
  }
}