// ========================================================
// BRIDESMAID MODULE
// ========================================================

.bridesmaid-module-template {
  display: none !important;
}

.bridesmaid {
  display: block;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.28);
  background: #f8f8f8;
  width: 100%;
  max-width: 1262px;
  margin: 40px auto 30px;
  padding: 20px 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 50px auto;
    padding: 20px;
  }
  
  &:not(:last-of-type) {
    margin-bottom: 40px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      border-bottom: 1px solid $gray-med;
      bottom: -22px;
      left: 0;
      right: 0;
      @media screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
  
  
  
  
  
  // --------------------------------------------------------
  // Header
  // --------------------------------------------------------
  &__header {
    //@include red-bg();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
  
    // Close Button
    &-close {
      background: none;
      border: none;
      &:hover,
      &:focus {
        background: none;
        border: none;
        svg {
          fill: $black;
        }
      }
      &:active,
      &:visited {
        background: none;
        border: none;
        svg {
          fill: $taupe;
        }
      }
      
      svg {
        fill: $taupe;
        transition: all 0.3s ease;
      }
    }
  }
  
  
  .product-image {
    display: block;
    position: relative;
    img {
      cursor: pointer;
    }
    
    .primary-image {
      display: block;
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: all 0.75s ease-in-out;
      &:hover {
        opacity: 0;
      }
    }
    .alt-image {
      display: block;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  }
  
  
  // --------------------------------------------------------
  // Columns
  // --------------------------------------------------------
  &__columns {
    //@include red-bg();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    margin-top: 20px;
    
    & > .column {
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        &:first-child {
          width: 42%;
        }
        &:last-child {
          width: 58%;
        }
      }
    }
    
    .options {
      //@include green-bg();
      padding-top: 20px;
      @media screen and (min-width: $breakpoint-md) {
        padding-top: 0;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    
    .option {
      display: block;
      width: 100%;
      background: $white;
      border: 1px solid $gray-lt;
      padding: 10px 20px;
      margin-bottom: 20px;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
      &-heading {
        border-bottom: rgba(0,0,0,.1) 1px solid;
        &__heading {
          display: inline-block;
          padding: 0 10px 3px 0;
          background: #fff;
          bottom: -7px;
          position: relative;
        }
      }
      
      &-body {
        display: block;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    
    }
    
    .split-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      & > * {
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          width: calc((100% - 20px) / 2);
        }
      }
    }
  }
  
  
  
  // ========================================================
  // Lengths
  // ========================================================
  .lengths {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    
    .length {
      //@include red-bg();
      width: calc(100% / 2);
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      align-content: stretch;
      @media screen and (min-width: $breakpoint-md) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: calc(100% / 5);
      }
      
      svg {
        transition: all 0.3s ease;
        .stroke {
          fill: $taupe;
        }
      }
      
      span {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: $taupe;
      }
      .sans-bold-uppercase {
        font-size: 10px;
      }

    }
    
    input[type="radio"] {
      display: none;
      &:checked {
        & ~ label {
          border: 1px solid $black;
          svg {
            .stroke {
              fill: $black;
            }
          }
          .sans-bold-uppercase {
            color: $black;
          }
        }
      }
      &:disabled {
        & ~ label {
          position: relative;
          cursor: not-allowed;
          svg {
            .stroke {
              fill: $gray-med;
            }
          }
          .sans-bold-uppercase {
            color: $gray-med;
          }
        }
      }
    }
    
    label {
      display: inline-block;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: stretch;
      justify-content: center;
      //border: 1px solid $gray-lt;
      border: 1px solid $white;
      padding: 10px 0 10px;
      width: 100%;
    }
  }
  
  
  
  // ========================================================
  // Necklines
  // ========================================================
  .necklines {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    
    .neckline {
      //@include red-bg();
      width: calc(100% / 2);
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      align-content: stretch;
      @media screen and (min-width: $breakpoint-md) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: calc(100% / 5);
      }
      
      svg {
        transition: all 0.3s ease;
        .stroke {
          stroke: $taupe;
          stroke-width: 2;
        }
      }
      
      span {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: $taupe;
      }
      .sans-bold-uppercase {
        font-size: 10px;
      }

    }
    
    input[type="radio"] {
      display: none;
      &:checked {
        & ~ label {
          border: 1px solid $black;
          svg {
            .stroke {
              stroke: $black;
            }
          }
          .sans-bold-uppercase {
            color: $black;
          }
        }
      }
      &:disabled {
        & ~ label {
          position: relative;
          cursor: not-allowed;
          svg {
            .stroke {
              stroke: $gray-med;
            }
          }
          .sans-bold-uppercase {
            color: $gray-med;
          }
        }
      }
    }
    
    label {
      display: inline-block;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: center;
      //border: 1px solid $gray-lt;
      border: 1px solid $white;
      padding: 10px 0 10px;
      width: 100%;
      min-height: 110px;
    }
  }
  
  
  
  
  
  
  // ========================================================
  // Selections
  // ========================================================
  .selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1262px) {
      background: $white;
      border: 1px solid $gray-lt;
      padding: 20px;
    }
    
    
    .column {
      display: block;
      width: 100%;
      @media screen and (min-width: 1262px) {
        width: auto;
      }
      
      &:first-child {
        background: $white;
        border: 1px solid $gray-lt;
        padding: 20px;
        @media screen and (min-width: 1262px) {
          background: none;
          border: none;
          padding: 0;
        }
      }
    }
    
    p.sans-xs {
      font-weight: 700;
    }
    
    button {
      width: 100%;
      margin-top: 20px;
      @media screen and (min-width: 1262px) {
        margin-top: 0;
        width: auto;
      }
      &.btn-secondary-pink {
        span {
          display: inline-block;
          background: #f93777;
          outline: none;
          color: #fff;
          padding: 15px 50px;
          border: none;
          width: 100%;
          @media screen and (min-width: 1262px) {
            width: auto;
          }
          &:hover,
          &:active,
          &focus {
            background: #f60756;
          }
        }
      }
    }
  }
  
}