.bridal-party {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.28);
  border: 1px solid $gray-lt;
  background: #f8f8f8;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;
  padding: 20px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 50px auto;
  }
  
  
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  &__members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    
    .column {
      width: 50%;
      padding: 10px 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33333%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 20%;
      }
    }
  }
  
  
  .name {
    text-align: center;
    margin-bottom: 5px;
    p {
      color: $purple-gray-dk;
      min-height: 24px;
    }
  }
  
  .image {
    display: block;
    margin-bottom: 10px;
    img {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.28);
    }
  }
  
  .dress-details {
    display: block;
    text-align: center;
    
    p {
      font-weight: 700;
      font-size: 10px;
      line-height: 14px;
    }
  }
}