.chosen {
  &-container {
    width: 100% !important;
  }
}

.chosen-container-single .chosen-single {
  background: $white;
  border-radius: 0;
  padding: 4px 0 4px 8px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  
  span {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    padding-left: 10px;
  }
}
  
.chosen-container-single .chosen-single div {
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
  
.chosen-container-single .chosen-single div b {
  // background-image: url('/wcsstore/images/wwcm/svg/arrow-down.svg') !important;
  background-image: url('data:image/svg+xml;utf8,<svg width="18px" height="11px" viewBox="0 0 18 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Maids:-Style-Proliferation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Desktop-HD" transform="translate(-882.000000, -939.000000)" fill="#333333"><g id="Concent-2" transform="translate(89.000000, 330.000000)"><g id="Colors" transform="translate(511.000000, 520.000000)"><g id="color-dropdown" transform="translate(20.000000, 70.000000)"><g id="arrow-down" transform="translate(262.000000, 19.000000)"><polygon fill-rule="nonzero" points="9 10.7555556 0.310344828 1.52777778 1.67586207 0.305555556 9 8.06666667 16.3241379 0.305555556 17.6896552 1.52777778"></polygon></g></g></g></g></g></g></svg>') !important;
  background-size: 18px 11px !important;
  background-repeat: no-repeat !important;
  transition: all 0.4s ease;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  //background-image: url('/wcsstore/images/wwcm/svg/arrow-up.svg') !important;
  // background-size: 18px 11px !important;
  // background-repeat: no-repeat !important;
  background-position: 0px 2px;
  transform: rotateX(180deg);
}

.chosen-container .chosen-results li.active-result,
.chosen-container .chosen-results li.disabled-result {
  height: 50px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 36px;
  padding-left: 10px;
  span {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    &.color-swatch {
      border: 2px solid $gray-med;
    }
    &.size-swatch {
      border: 2px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 40px;
      color: $black;
    }
  }
}

.chosen-container .chosen-results li.disabled-result {
  text-decoration: line-through;
  color: lighten($black, 40%);
}


.chosen-container .chosen-results li.highlighted {
  background: $gray-lt;
  color: $black;
}


.chosen-container-single .chosen-drop {
  border-radius: 0;
}

.swatch {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  &.color-swatch {
    border: 2px solid $gray-med;
  }
  &.size-swatch {
    border: 2px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
    color: $black;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
  }
}