.page-heading {
  //@include green-bg();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px auto !important;
  
  &__text {
    width: 100%;
    padding-right: 40px;
  }
  
  h1 {
    display: block;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  
}