.select2 {
  
  &-container {
    border-radius: 0;
    display: inline-table;
    
    .select2-choice {
      height: 50px;
      border: 1px solid $gray-dk;
      color: $black;
      border-radius: 0;
      background-image: none;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      transition: all 0.4s ease;
      
      
      .select2-chosen {
        font-size: 13px;
        font-family: "Open Sans";
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        padding-left: 10px;
        transition: all 0.4s ease;
        //margin-left: 54px;
      }
      
      abbr {
        background: none;
        background-image: none !important;
        display: block;
        width: 32px;
        height: 32px;
        border: 2px solid $gray-dk;
        left: 15px;
        display: none;
      }
      
      .select2-arrow {
        background-image: none;
        background: $white;
        width: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: all 0.4s ease;
        border-left: none;
        top: 1px;
        b {
          background-image: url('/wcsstore/images/wwcm/svg/arrow-down.svg') !important;
          background-size: 18px 11px !important;
          background-repeat: no-repeat !important;
          background-position: center;
          transition: all 0.4s ease;
          position: absolute;
          height: 11px;
          width: 18px;
          right: 15px;
        }
      }
    }
  }
  
  &-dropdown-open {
    .select2-choice {
      background-image: linear-gradient(to bottom, darken($white, 10%), $white);
      transition: all 0.4s ease;
      .select2-arrow {
        transition: all 0.4s ease;
        background-image: linear-gradient(to bottom, darken($white, 10%), $white);
        b {
          transition: all 0.4s ease;
          background-size: 18px 11px !important;
          transform: rotateX(180deg);
          transition: all 0.4s ease;
        }
      }
    }
  }
  
  
  
  &-drop {
    border-radius: 0;
    &-active {
      border: 1px solid $gray-dk;
    }
  }
  
  
  &-search {
    display: none !important;
  }
  
  
}


.select2-results {
  li {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    padding-left: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .select2-highlighted {
    background: $gray-lt;
    color: $black;
  }
  
  .select2-disabled {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: $gray-med;
    text-decoration: line-through;
  }
  
  .select2-result-label {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .select2-match {
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid $gray-dk;
    margin-right: 15px;
    display: none;
  }
}

