/* Make Header Fixed in Desktop */
.header_wrapper_position {
  @media screen and (min-width: 1024px) {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
  }
}

.header__utility-nav[data-utility-position=fixed] {
  @media screen and (min-width: 1024px) {
    top: 50px;
  }
}






.parallax-slider {
  display: block;
  position: relative;
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 140px;
  }
  @media screen and (min-width: 1250px) {
    padding-top: 160px;
  }


  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 200px;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin-top: 10px;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: auto;
      min-width: 200px;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 13px 24px;
      width: auto;
      min-width: 200px;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
    }
  }


  &__slide {
    display: block;
    position: relative;
    width: 100%;
    &:not(:first-child) {
      display: none;
    }


    @media screen and (min-width: $breakpoint-lg) {
      height: 500px;
      height: 100vh;
      overflow: hidden;
      &:not(:first-child) {
        display: block;
      }
    }

    // img {
    //   display: block;
    //   @media screen and (min-width: $breakpoint-lg) {
    //     height: 100vh;
    //   }
    // }


    &__img {
      display: block;
      @media screen and (min-width: $breakpoint-lg) {
        display: none !important;
      }
    }

    // ========================================================
    // Background
    // ========================================================
    &-background {
      display: block;
      position: relative;

      @media screen and (min-width: $breakpoint-lg) {
        position: relative;
        background-position-y: 170px;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
      }
    }


    // ========================================================
    // Text Box
    // ========================================================
    &-text {
      display: block;
      position: relative;
      //width: calc(100% - 20px);
      //padding: 30px 10px;
      text-align: center;
      //border: 2px solid #f04874;
      margin-top: -180px;
      margin-left: 10px;
      margin-right: 10px;
      @media screen and (min-width: $breakpoint-md) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: auto;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin: 0;
        width: auto;
      }

      &.hero {
        @media screen and (min-width: 1024px) {
          left: calc(((100vw - 320px) / 2) - 300px);
        }
      }
      &.bridal {
        @media screen and (min-width: 1024px) {
          left: 20px;
        }
        @media screen and (min-width: 1200px) {
          left: calc(((100vw - 320px) / 2) - 420px);
        }
      }
      &.maids {
        @media screen and (min-width: 1024px) {
          right: 20px;
        }
        @media screen and (min-width: 1200px) {
          right: calc(((100vw - 320px) / 2) - 420px);
        }
      }
    }
  }





  // --------------------------------------------------------
  // Position
  // --------------------------------------------------------
  .left {
    float: none;
    @media screen and (min-width: $breakpoint-md) {
      left: 5%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      left: 10%;
    }
  }
  .right {
    float: none;
    @media screen and (min-width: $breakpoint-md) {
      right: 5%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      right: 10%;
    }
  }


  // --------------------------------------------------------
  // Color
  // --------------------------------------------------------
  .white-bg {
    background: rgba(255, 255, 255, 0.8);
  }
  .cream-bg {
    background: rgba(248, 246, 240, 0.8);
  }



  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none;
      visibility: hidden;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none;
      visibility: hidden;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none;
      visibility: hidden;
    }
  }
}
