.fixed-banner {
  display: block;
  position: fixed;
  width: 100%;
  max-width: 720px;
  background: #f93777;
  color: #fff;
  left: auto;
  right: 0;
  z-index: 10000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 8px;
  transition: all 1s ease;
  &[data-status="open"] {
    bottom: 0;
  }
  &[data-status="closed"] {
    bottom: -200px;
  }


  &__close {
    &-button {
      background: none;
      background-color: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;
      height: 32px;
      z-index: 1;
      padding: 0;
      transition: background-color 0.5s ease;
      fill: #fff;
      @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: darken(#f93777, 10%);
        svg {
          fill: #fff;
        }
      }
    }
  }


  &__text {
    padding: 10px;
    padding-right: 30px;
    @media screen and (min-width: 1024px) {
      padding-right: 50px;
    }
  }

  .sans-l {
    font-size: 12px;
    line-height: 16px;
    @media screen and (min-width: 1024px) {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .bold {
    font-weight: 700;
  }
}
