.fixed-banner {
  display: block;
  position: fixed;
  width: 100%;
  max-width: 720px;
  background: #f93777;
  color: #fff;
  left: auto;
  right: 0;
  z-index: 10000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 8px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .fixed-banner[data-status="open"] {
    bottom: 0; }
  .fixed-banner[data-status="closed"] {
    bottom: -200px; }
  .fixed-banner__close-button {
    background: none;
    background-color: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    z-index: 1;
    padding: 0;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    fill: #fff; }
    @media screen and (min-width: 768px) {
      .fixed-banner__close-button {
        width: 40px;
        height: 40px; } }
    .fixed-banner__close-button:hover, .fixed-banner__close-button:focus, .fixed-banner__close-button:active {
      background-color: #f60756; }
      .fixed-banner__close-button:hover svg, .fixed-banner__close-button:focus svg, .fixed-banner__close-button:active svg {
        fill: #fff; }
  .fixed-banner__text {
    padding: 10px;
    padding-right: 30px; }
    @media screen and (min-width: 1024px) {
      .fixed-banner__text {
        padding-right: 50px; } }
  .fixed-banner .sans-l {
    font-size: 12px;
    line-height: 16px; }
    @media screen and (min-width: 1024px) {
      .fixed-banner .sans-l {
        font-size: 15px;
        line-height: 22px; } }
  .fixed-banner .bold {
    font-weight: 700; }
