<section class="espot-container">
  <div class="win-your-gown">
    <div class="win-your-gown__text">
      <p class="serif-l-italic">Win your wedding gown or 5 bridesmaid&nbsp;dresses</p>
      <p class="sans-bold-uppercase">
        <a href="#">Enter Now&nbsp;&gt;</a>
      </p>
    </div>
  </div>
</section>
