<section data-analytics-tagging="DesignerSpotlight" class="espot-container designer-spotlight">
  <div class="section-minor-heading">
    <p class="section-minor-heading__heading serif-s-italic">Brand Spotlight</p>
  </div>

  <div class="flex-container">

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="#">
          <img class="media-block-img box-shadow" src="http://placehold.it/400x300" alt="#" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop NOW &nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="#">
          <img class="media-block-img box-shadow" src="http://placehold.it/400x300" alt="#" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="#">
          <img class="media-block-img box-shadow" src="http://placehold.it/400x300" alt="#" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="#">
          <img class="media-block-img box-shadow" src="http://placehold.it/400x300" alt="#" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop Now&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

  </div>
</section>
