<section class="espot-container sale-banner">
  <a href="#">
    <div class="sale-banner__inner">
      <p class="serif-s-italic">clearance gifts</p>
      <h3 class="serif-l-italic">up to 50% off original prices</h3>
      <p class="sans-bold-uppercase">
        <a href="#">Shop Now&nbsp;&gt;</a>
      </p>
    </div>
  </a>
</section>
