<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- <div class="slick-slide">
          <a href="/Product_illusion-lace-and-satin-mermaid-wedding-dress-wg3855" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3855-10872109-Ivory?$plpproductimgmobile_2up$" alt="Illusion Lace and Satin Mermaid Wedding Dress">
          </a>
        </div> -->

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

        <div class="slick-slide">
          <a href="#" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://placehold.it/370x557" alt="">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
