<section class="inspiration-guidance">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/414x286" alt="#">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Lorem Ipsum</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/414x286" alt="#">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Lorem Ipsum</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/414x286" alt="#">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Lorem Ipsum</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/414x286" alt="#">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Lorem Ipsum</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="#">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
