<section class="espot-container shop-by-price" data-analytics-tagging="ShopByPrice" >
  <div class="flex-container">
    <div class="column">
      <a href="#">
        <img src="http://placehold.it/307x154" alt="#" />
      </a>
    </div>
    <div class="column">
      <a href="#">
        <img src="http://placehold.it/307x154" alt="#" />
      </a>
    </div>
    <div class="column">
      <a href="#">
        <img src="http://placehold.it/307x154" alt="#" />
      </a>
    </div>
    <div class="column">
      <a href="#">
        <img src="http://placehold.it/307x154" alt="#" />
      </a>
    </div>
  </div>
</section>
