

<section class="carousel" data-analytics-tagging="Carousel">
  <div class="slick" data-slick='{"fade": true, "prevArrow": ".carousel-prev", "nextArrow": ".carousel-next" }'>
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide-background">
          <div class="mobile-hidden">
            <a href="/prom-dresses/all-prom-dresses">
              <img src="http://placehold.it/1600x621" class="mobile-hidden" alt="#" />
            </a>
          </div>
          <div class="tablet-hidden desktop-hidden">
            <a href="/prom-dresses/all-prom-dresses">
              <img src="http://placehold.it/767x590" class="desktop-hidden tablet-hidden" alt="#" />
            </a>
          </div>
        </div>

        <div class="slide-text">
          <p class="serif-l-italic">serif-l-italic</p>
          <p class="sans-m">sans-m</p>
          <p class="btn btn-secondary-special">
            <a class="sans-bold-uppercase" href="/prom-dresses/all-prom-dresses" id="ShopTheCollection">sans-bold-uppercase</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="carousel-nav" data-nav-open="true">
    <div class="carousel-heading" data-trigger="">
      <h2 class="serif-s">Category</h2>
      <div class="carousel-nav_header-action relative">
        <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
          <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
        </svg></div>
        <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
          <rect x="-492" y="501" width="11" height="1"></rect>
        </svg></div>
      </div>
    </div>

    <ul class="carousel-nav_items" data-sublist="">
      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Explore</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="true">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Shop</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: block;">
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
          <li class="carousel-nav_item-child"><a href="#" class="sans-xs">Lorem Ipsum</a></li>
        </ul>
      </li>
    </ul>
  </div>

</section><!-- End Carousel -->

<!-- Mini-Nav -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    // ================================================================
    // MINI-NAV FUNCTIONALITY - OPEN/CLOSE
    // ================================================================
    // Mini-Nav Heading
    $('.carousel-heading').on("click", function(){
      if($(this).parent().attr('data-nav-open') == "false") {
        $(this).parent().attr('data-nav-open', 'true');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });

    // Mini-Nav Sections
    $('.carousel-nav_item_header').on('click', function(){
      if($(this).parent().attr('data-nav-open') == 'false') {
        $(this).parent().attr('data-nav-open', 'true');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });


    // ================================================================
    // MINI-NAV - BACK BUTTON - PRESERVE OPEN/CLOSE STATE
    // ================================================================
    // History State
    var currentState = history.state;
    if(currentState === null || currentState === undefined) {
      var menuStates = [];
    } else {
      var menuStates = currentState[0];
    }


    // Get Mini-Nav States
    function getMiniNavStates() {
      var menuStates = [];
      var numMiniNavMenus = $('[data-nav-open]').length;
      if(numMiniNavMenus > 0) {
        $('[data-nav-open]').each(function(index){
          var trueFalse = $(this).attr('data-nav-open');
          trueFalse = [trueFalse];
          menuStates = $.merge(menuStates, trueFalse);
        });
        return menuStates;
      }
    }

    // Set Mini-Nav States
    function setMiniNavStates() {
      $('[data-nav-open]').each(function(index){
        var currentMenuStatesValue = menuStates[index];
        $(this).attr('data-nav-open', currentMenuStatesValue);
        // Mini-Nav Heading
        if(index === 0) {
          if($('.carousel-nav').attr('data-nav-open') === 'true') {
            $('.carousel-nav_items').attr('style', 'display: block');
          } else {
            $('.carousel-nav_items').attr('style', 'display: none');
          }
        // Mini-Nav Sections
        } else {
          if(currentMenuStatesValue === 'true') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: block');
          } else if (currentMenuStatesValue === 'false') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: none');
          }
        }
      });
    }
    setMiniNavStates();
  });
</script>

<!-- Google KnowledgeGraph -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "url": "http://www.davidsbridal.com",
  "logo": "http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
  "sameAs" : ["https://www.facebook.com/DavidsBridal/",
  "https://www.pinterest.com/davidsbridal/",
  "https://twitter.com/davidsbridal",
  "https://www.instagram.com/davidsbridal/",
  "https://www.youtube.com/user/davidsbridal"]
}
</script>
