<section class="real-brides" data-analytics-tagging="RealBridesUGC">

  <div class="real-brides__inner">
    <p class="serif-l-italic">#DavidsBridal</p>
    <div class="real-brides__imgs">
      <div class="column">
        <a href="#">
          <img src="http://placehold.it/236x236" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="#">
          <img src="http://placehold.it/236x236" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="#">
          <img src="http://placehold.it/236x236" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="#">
          <img src="http://placehold.it/236x236" alt="" />
        </a>
      </div>
      <div class="column mobile-hidden">
        <a href="#">
          <img src="http://placehold.it/236x236" alt="" />
        </a>
      </div>
    </div>

    <div class="real-brides__text">
      <p class="sans-m">Share your #DavidsBridal style for a chance to be featured!</p>
      <p class="btn btn-pink">
        <a href="#" class="sans-bold-uppercase">See More</a>
      </p>
    </div>
  </div>

</section>
