<div class="dbcc-banner">
  <div class="dbcc-banner__text">
    <p class="serif-m">Take 6 months to pay</p>
    <p class="sans-m">with the David's Bridal Credit Card*</p>
    <p class="sans-bold-uppercase">
      <a href="/Content_Finance_dbiCreditCard">Learn More&nbsp;&gt;</a>
    </p>
  </div>
</div>
