<section data-analytics-tagging="ShopByPrice" class="espot-container shop-by-price">

  <div class="flex-container">
    <div class="column">
      <a href="/veils-under-75">
        <div class="shop-by-price-item">
          <p class="serif-m">veils under</p>
          <p class="serif-xxl">$75</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/jewelry-under-20">
        <div class="shop-by-price-item">
          <p class="serif-m">jewelry under</p>
          <p class="serif-xxl">$20</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/slips-shapewear-under-50">
        <div class="shop-by-price-item">
          <p class="serif-m">slips & shapewear under</p>
          <p class="serif-xxl">$50</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/belts-sashes-under-50">
        <div class="shop-by-price-item">
          <p class="serif-m">belts & sashes under</p>
          <p class="serif-xxl">$50</p>
        </div>
      </a>
    </div>
  </div>

</section>
