<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/828x1242" alt="#" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop NOW &nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/828x1242" alt="#" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop Now&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="#">
            <img class="media-block-img box-shadow" src="http://placehold.it/828x1242" alt="#" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Lorem Ipsum</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="#">Shop Now&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

  </div>
</section>
