<section class="carousel video" data-analytics-tagging="Carousel">
  <div class="slick" data-slick='{"fade": true, "prevArrow": ".carousel-prev", "nextArrow": ".carousel-next" }'>
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide-background">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XQu8TTBmGhA?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=XQu8TTBmGhA" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="slide-text">
          <p class="serif-l">Every Budget, <br class="mobile-hidden">Every Size</p>
          <p class="sans-m">Once-in-a-lifetime gowns,<br>starting at $399</p>
          <p class="btn btn-secondary-special">
            <a class="sans-bold-uppercase" href="#">Shop All Wedding Dresses</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="#">Make An Appointment&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cover bottom of video -->
  <div class="video-cover">&nbsp;</div>

  <!-- Mini-Nav -->
  <div class="carousel-nav" data-nav-open="true">
    <div class="carousel-heading" data-trigger="">
      <h2 class="serif-s">Brides</h2>
      <div class="carousel-nav_header-action relative">
        <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
          <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
        </svg></div>
        <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
          <rect x="-492" y="501" width="11" height="1"></rect>
        </svg></div>
      </div>
    </div>

    <ul class="carousel-nav_items" data-sublist="">
      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Explore</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="/Content_Appointment_planning" class="sans-xs">Planning For Your Appointment</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_Catalog_onlinecatalog" class="sans-xs">2017 Look Book</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_Bridal_dbwomanabout" class="sans-xs">Plus Size Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/spring-bridal-collection-2017" class="sans-xs">2017 Bridal Trends</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_Curations_bridal" class="sans-xs">Real Brides Inspiration</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide-styleguidedressguide_index" class="sans-xs">Silhouette Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_alterations" class="sans-xs">Alterations Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_gownpreservation" class="sans-xs">Preserve Your Gown</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="true">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Shop</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: block;">
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/all-wedding-dresses" class="sans-xs">All Wedding Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/new-arrivals" class="sans-xs">New Arrivals</a></li>
          <li class="carousel-nav_item-child"><a href="/all-designer-wedding-gowns" class="sans-xs">Designer Wedding Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/plus-size-wedding-dresses" class="sans-xs">Plus Size Wedding Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/petite-size-wedding-dresses" class="sans-xs">Petite Wedding Dresses</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/limited-edition" class="sans-xs">Limited Edition</a></li>
          <li class="carousel-nav_item-child"><a href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:price&productBeginIndex:0&orderBy:&pageView:grid&minPrice:39.00&maxPrice:99.99&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,$39.00-$99.99&" class="sans-xs">Wedding Dresses Under $100</a></li>
          <li class="carousel-nav_item-child"><a href="/casual-wedding-dresses" class="sans-xs">Reception Dresses</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Trending Designers</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/white-by-vera-wang" class="sans-xs">White by Vera Wang</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/truly-zac-posen" class="sans-xs">Truly Zac Posen</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/wonder-by-jenny-packham" class="sans-xs">Wonder by Jenny Packham</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/melissa-sweet" class="sans-xs">Melissa Sweet</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/oleg-cassini" class="sans-xs">Oleg Cassini</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/jewel" class="sans-xs">Jewel</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/galina" class="sans-xs">Galina</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-dresses/galina-signature" class="sans-xs">Galina Signature</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- End Mini-nav -->

</section><!-- End Carousel -->

<script type="text/javascript">
  // Set margin-top on element under video to compensate for .video-cover
  jQuery(document).ready(function() {
    var windowWidth = $(window).width();
    var espots = $('.contentRecommendationWidget');
    var carousel = espots.has('.carousel').index() + 1;
    var nthChild = carousel + 1;
    console.log('espots: ' + espots);
    console.log('carousel: ' + carousel);
    console.log('nthChild: ' + nthChild);


    var elementUnderVideo = $('[data-slot-id="1"] .contentRecommendationWidget:nth-child(' + nthChild + ')'); // nth-child is the # of the espot to move up
    function adjustMargin() {
      var videoCoverHeight = $('.carousel .video-cover').height();
      var marginTop = '-' + videoCoverHeight + 'px';
      elementUnderVideo.css('margin-top', marginTop);
    }
    // On Load
    if (windowWidth >= 768) {
      adjustMargin();
    }
    // On Resize
    $(window).on('resize', function() {
      var resizeWindowWidth = $(window).width();
      if (resizeWindowWidth >= 768) {
        adjustMargin();
      } else {
        elementUnderVideo.css('margin-top', '');
      }
    });
  });
</script>

<!-- Mini-Nav -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    // ================================================================
    // MINI-NAV FUNCTIONALITY - OPEN/CLOSE
    // ================================================================
    // Mini-Nav Heading
    $('.carousel-heading').on("click", function(){
      if($(this).parent().attr('data-nav-open') == "false") {
        $(this).parent().attr('data-nav-open', 'true');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });

    // Mini-Nav Sections
    $('.carousel-nav_item_header').on('click', function(){
      if($(this).parent().attr('data-nav-open') == 'false') {
        $(this).parent().attr('data-nav-open', 'true');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });


    // ================================================================
    // MINI-NAV - BACK BUTTON - PRESERVE OPEN/CLOSE STATE
    // ================================================================
    // History State
    var currentState = history.state;
    if(currentState === null || currentState === undefined) {
      var menuStates = [];
    } else {
      var menuStates = currentState[0];
    }


    // Get Mini-Nav States
    function getMiniNavStates() {
      var menuStates = [];
      var numMiniNavMenus = $('[data-nav-open]').length;
      if(numMiniNavMenus > 0) {
        $('[data-nav-open]').each(function(index){
          var trueFalse = $(this).attr('data-nav-open');
          trueFalse = [trueFalse];
          menuStates = $.merge(menuStates, trueFalse);
        });
        return menuStates;
      }
    }

    // Set Mini-Nav States
    function setMiniNavStates() {
      $('[data-nav-open]').each(function(index){
        var currentMenuStatesValue = menuStates[index];
        $(this).attr('data-nav-open', currentMenuStatesValue);
        // Mini-Nav Heading
        if(index === 0) {
          if($('.carousel-nav').attr('data-nav-open') === 'true') {
            $('.carousel-nav_items').attr('style', 'display: block');
          } else {
            $('.carousel-nav_items').attr('style', 'display: none');
          }
        // Mini-Nav Sections
        } else {
          if(currentMenuStatesValue === 'true') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: block');
          } else if (currentMenuStatesValue === 'false') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: none');
          }
        }
      });
    }
    setMiniNavStates();
  });
</script>

<!-- Google KnowledgeGraph -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "url": "http://www.davidsbridal.com",
  "logo": "http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
  "sameAs" : ["https://www.facebook.com/DavidsBridal/",
  "https://www.pinterest.com/davidsbridal/",
  "https://twitter.com/davidsbridal",
  "https://www.instagram.com/davidsbridal/",
  "https://www.youtube.com/user/davidsbridal"]
}
</script>
