<section class="quick-links" data-analytics-tagging="quick-links">
  <h3 class="quick-links__heading serif-m">Shop These Categories</h3>

  <div class="quick-links__flex">
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/accessories/veils">Veils</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/shoes/bridal-wedding-shoes">Shoes</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/accessories/shapewear-and-slips">Slips & Shapewear</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/accessories/wedding-dress-preservation">Wedding Gown Preservation</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses">Bridesmaid Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-gifts/bridesmaid-gifts">Bridesmaid Gifts</a>
      </div>
    </div>

  </div>
</section>
