<!DOCTYPE HTML>
<html lang="en" xml:lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

  <link rel="apple-touch-icon" href="/wcsstore/AuroraPlusStorefrontAssetStore/images/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="152x152" href="/wcsstore/AuroraPlusStorefrontAssetStore/images/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/wcsstore/AuroraPlusStorefrontAssetStore/images/favicon.ico" mce_href="/wcsstore/AuroraPlusStorefrontAssetStore/images/favicon.ico"/>

  <link rel="stylesheet" href="/AuroraPlusStorefrontAssetStore/css/common1_1.css" type="text/css"/>
  <link rel="stylesheet" href="/wcsstore/AuroraPlusStorefrontAssetStore/DBIcompiled-css/screen.css" media="all" />

  <script async src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIcompiled-js/UIjs/modernizr.min.js"></script>
  <script src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIcompiled-js/UIjs/script.min.js"></script>

  <meta name="CommerceSearch" content="storeId_10052" />
  <meta name="apple-itunes-app" content="app-id=945431285, app-argument= davidsbridal://">

  <!-- <script src="/AuroraPlusStorefrontAssetStore/javascript/compiled-js/mod-enq.js"></script> -->
  <script type="text/javascript" src="http://www.davidsbridal.com/wcsstore/dojo18-cv/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: false,  modulePaths: {storetext: 'http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/'}, useCommentedJson: true,locale: 'en-us' "></script>

  <!-- BEGIN Monetate Head --><!-- Begin Monetate.jsp --><!-- Begin Monetate ExpressTag Async v6.1. Place at start of document head. DO NOT ALTER. -->
  <!-- <script type="text/javascript">
  function loadMonetate() {
    var monetateT = new Date().getTime();
    var p = document.location.protocol;
    if (p == "http:" || p == "https:") {
      var element = document.createElement("script");
      element.type = "text/javascript";
      element.async = true;
      element.src = (p == "https:" ? "https://s" : "http://") + "e.monetate.net/js/2/a-906b916f/p/davidsbridal.com/custom.js";
      document.body.appendChild(element);
    }
  }

  if (window.addEventListener)
    window.addEventListener("load", loadMonetate, false);
  else if (window.attachEvent)
    window.attachEvent("onload", loadMonetate);
  else window.onload = loadMonetate;

  </script> -->
  <!-- End Monetate tag. --><!-- End Monetate.jsp --><!-- END Monetate Head -->

  <meta name="google-site-verification" content="cWgAY8RnjhOIUs9bWlYtiJmVc5yDbllyOT5d5Of8m_U" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Wedding Dresses, Bridesmaid Dresses &amp; Gowns | David&#039;s Bridal</title>
  <meta name="description" content="Feel beautiful and have the wedding of your dreams! #BeYourOwnBride with David&#039;s Bridal and find the unique wedding dress to match your style and budget. "/>
  <meta name="keywords" content=""/>
  <meta name="pageIdentifier" content="Home Page US"/>
  <meta name="pageId" content="2501"/>
  <meta name="pageGroup" content="Content"/>


  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="David's Bridal" />
  <meta property="og:image" content="https://www.davidsbridal.com/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png" />
  <meta property="og:title" content="Wedding Dresses, Bridesmaid Dresses &amp; Gowns | David&#039;s Bridal" />
  <meta property="og:description" content="Feel beautiful and have the wedding of your dreams! #BeYourOwnBride with David&#039;s Bridal and find the unique wedding dress to match your style and budget. "/>
  <meta property="og:url" content="https://www.davidsbridal.com/"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="fb:app_id" content="267486070293613" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@davidsbridal">
  <meta name="twitter:creator" content="@davidsbridal">
  <meta name="twitter:title" content="Wedding Dresses, Bridesmaid Dresses &amp; Gowns | David&#039;s Bridal" />
  <meta name="twitter:description" content="Feel beautiful and have the wedding of your dreams! #BeYourOwnBride with David&#039;s Bridal and find the unique wedding dress to match your style and budget. "/>
  <meta name="twitter:image" content="https://www.davidsbridal.com/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png" />

</head>
<body>
  <script language="javascript" type="text/javascript">
    var docTitle = document.title;
    var pageNameValue = docTitle.replace(/'/g, "");
    var storeIdentifierForTaging = 'DBI';

    var L1 = [''];
    var L2 = [''];
    var L3 = [''];
    var page_type = 'Other';

    var categoryId = pageNameValue;
    var pageName = pageNameValue;
    if ('Home' == 'Home') {
        categoryId = 'Home Page';
        pageName =  'Home Page';
    }

    utag_data = typeof utag_data !== 'undefined' ? utag_data : {};
    utag_data['category_id'] = categoryId;
    utag_data['page_name'] =  pageName;
    page_type =  'Home';

    utag_data['L1'] = L1;
    utag_data['L2'] = L2;
    utag_data['L3'] = L3;
    utag_data['page_type'] = page_type;

    var utagUrl = "//tags.tiqcdn.com/utag/davidsbridal/v7/prod/utag.js";
  </script>
