.help-banner {
  background: $pink;
  margin-top: 10px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 30px;
    flex-wrap: nowrap;
  }

  p {
    margin: 0;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin: 0 10px;
    }

    &.serif-m-italic {
      margin-bottom: 5px;
    }
  }
} // .help-banner
