// ==========================================================================
// SVGs
// ==========================================================================
.svg {
  &-transparent {
    fill: none;
  }
  &-pink {
    fill: #F93777;
  }
  &-white {
    fill: #fff;
  }
  &-green {
    fill: green;
  }



  // How it works
  &-label {
    width: 60px;
    @media screen and (min-width: $breakpoint-md) {
      width: 84px;
    }
  }

  &-pack-it {
    width: 60px;
    @media screen and (min-width: $breakpoint-md) {
      width: 84px;
    }
  }

  &-send-it {
    width: 60px;
    @media screen and (min-width: $breakpoint-md) {
      width: 74px;
    }
  }


  &-beccas-closet {
    width: 100%;
  }
}


p.disclaimer {
  color: #74736d;
  font-size: 11px;
  line-height: 14px;
  margin-top: 20px;
  padding-right: 20px;
}
