.page-heading {
  padding-bottom: 20px;

  p {
    margin: 0;
    &.sans-m {
      max-width: 860px;
      margin-bottom: 5px;
    }

    &.sans-bold-uppercase {
      margin-top: 10px;
      @media screen and (min-width: $breakpoint-md) {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

}
