.partnership-box {
  display: block;
  position: relative;
  clear: both;
  background: $cream;
  text-align: center;
  padding: 20px 0;

  &__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    margin: 10px auto 0;
    @media screen and (min-width: $breakpoint-md) {
      width: 320px;
    }
  }

  &__logo {
    //@include green-bg();
    display: block;
    padding: 0 10px;
    width: 50%;
    &:first-child {
      width: 55%;
    }
    &:last-child {
      width: 45%;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 10px;
      &:last-child {
        padding-left: 30px;
      }
    }
  }
}
