<style media="screen">
.appointment-flyin {
  display: block;
  position: fixed;
  z-index: 9999;
  background: #f04874;
  text-align: center;
  width: 200px;
  height: 200px;
  left: 20px;
  bottom: -240px;
  bottom: 20px; }
  .appointment-flyin__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  .appointment-flyin__close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 15px;
    color: white;
    background: transparent;
    border: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px; }
    .appointment-flyin__close-button:hover, .appointment-flyin__close-button:active, .appointment-flyin__close-button:focus {
      background: #ee3062;
      border: #ee3062; }
    .appointment-flyin__close-button svg {
      fill: #fff;
      width: 16px; }
  .appointment-flyin__svg {
    padding-top: 15px; }
    .appointment-flyin__svg svg {
      width: 30px; }
  .appointment-flyin__text p.sans-l {
    color: #fff;
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .appointment-flyin__text p.sans-l {
        font-size: 16px; } }
  .appointment-flyin__text p.btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .appointment-flyin__text p.btn-secondary {
      display: inline-block;
      width: 90%;
      margin: 0 auto;
      border: 1px solid #74736d;
      color: #333;
      background-color: #fff;
      outline: none;
      font-size: 11px;
      margin-top: 10px; }
      .appointment-flyin__text p.btn-secondary a {
        padding: 13px 0;
        margin: 0 !important; }
        .appointment-flyin__text p.btn-secondary a:hover, .appointment-flyin__text p.btn-secondary a:active, .appointment-flyin__text p.btn-secondary a:focus {
          padding: 13px 0; }
</style>
<div class="appointment-flyin">
  <div class="appointment-flyin__inner">
    <button class="appointment-flyin__close-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-495.8 496.1 9.7 9.9">
      	<title>Close</title>
      	<polygon points="-486.3,497.4 -487.2,496.5 -490.8,500.1 -494.4,496.5 -495.2,497.4 -491.6,501 -495.2,504.6 -494.4,505.5 -490.8,501.8 -487.2,505.5 -486.3,504.6 -489.9,501 "></polygon>
      </svg>
    </button>

    <div class="appointment-flyin__svg">
      <svg width="61px" height="62px" viewBox="0 0 61 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="clock" transform="translate(2.000000, 3.000000)" stroke="#000000">
            <circle id="Oval" stroke-width="5" fill="#FFFFFF" fill-rule="nonzero" cx="28.4" cy="28.1" r="27.8"></circle>
            <polygon id="Shape" stroke-width="2" points="28.4 27.5 48.1 27.5 48.1 28.8 28.4 28.8"></polygon>
            <polygon id="Shape" stroke-width="2" points="17.9 11.5 19 10.9 28.6 27.5 27.6 28.3"></polygon>
          </g>
        </g>
      </svg>
    </div>

    <div class="appointment-flyin__text">
      <p class="sans-l"><strong>Shop our sale<br>before it's over!</strong></p>
      <p class="btn btn-secondary">
        <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make An Appointment</a>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  function flyInSlideUp() {
    $('.appointment-flyin').animate({bottom: '20px'}, 1000);
    $('.appointment-flyin__close-button').on('click', function(event) {
      event.preventDefault();
      $('.appointment-flyin').animate({bottom: '-240px'}, 1000);
    });
  }
  setTimeout(flyInSlideUp, 2000);
});

</script>
