.flash-sale-banner {
  width: 100%;
  background: #f04874;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px 0 10px;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    padding: 10px 0;
  }

  p {
    display: block;
    width: 100%;
    color: #fff;
    margin: 0;
    @media screen and (min-width: 768px) {
      width: auto;
      margin-left: 3px;
      margin-right: 3px;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    strong {
      margin-right: 5px;
    }

    &.divider {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &.sans-bold-uppercase {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
