<style media="screen">
.flash-sale-banner {
  width: 100%;
  background: #f04874;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px 0 10px; }
  @media screen and (min-width: 768px) {
    .flash-sale-banner {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding: 10px 0; } }
  .flash-sale-banner p {
    display: block;
    width: 100%;
    color: #fff;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .flash-sale-banner p {
        width: auto;
        margin-left: 3px;
        margin-right: 3px; } }
    .flash-sale-banner p:not(:last-child) {
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .flash-sale-banner p:not(:last-child) {
          margin-bottom: 0; } }
    .flash-sale-banner p strong {
      margin-right: 5px; }
    .flash-sale-banner p.divider {
      display: none; }
      @media screen and (min-width: 768px) {
        .flash-sale-banner p.divider {
          display: block; } }
    .flash-sale-banner p.sans-bold-uppercase a {
      color: #fff;
      text-decoration: underline; }
</style>
<div class="flash-sale-banner">
  <p class="sans-m"><strong>LIMITED TIME</strong> Get your dream dress&mdash;on sale</p>
  <p class="sans-m divider">|</p>
  <p class="sans-bold-uppercase">
    <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment</a>
  </p>
</div>
