.carousel {

  .slide-text {

    @media screen and (min-width: 768px) {
      position: absolute;
      background: #f6f8f0;
      border: 2px solid #f04874;
      text-align: center;
      padding: 30px 0 20px;
      max-width: 310px;
    }


    p {
      &.svg {
        margin-top: -15px;
        &-mobile-only {
          display: block;
          @media screen and (min-width: 768px) {
            display: none !important;
          }
        }
        &-mobile-hidden {
          display: none;
          @media screen and (min-width: 768px) {
            display: block !important;
          }
        }
        svg {
          width: 240px;
          @media screen and (min-width: 768px) {
            width: 200px;
          }
        }
      }

      &.sans-m {
        margin-top: -10px;
        @media screen and (min-width: 768px) {
          margin-top: 0px;
        }
      }

      &.btn.btn-secondary-special {
        border: none;
        margin-top: 15px;
        @media screen and (min-width: 768px) {
          margin-top: 25px;
        }
        a {
          padding: 11px 0;
        }
      }
    }



  }
}
