@media screen and (min-width: 768px) {
  .carousel .slide-text {
    position: absolute;
    background: #f6f8f0;
    border: 2px solid #f04874;
    text-align: center;
    padding: 30px 0 20px;
    max-width: 310px; } }

.carousel .slide-text p.svg {
  margin-top: -15px; }
  .carousel .slide-text p.svg-mobile-only {
    display: block; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg-mobile-only {
        display: none !important; } }
  .carousel .slide-text p.svg-mobile-hidden {
    display: none; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg-mobile-hidden {
        display: block !important; } }
  .carousel .slide-text p.svg svg {
    width: 240px; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg svg {
        width: 200px; } }

.carousel .slide-text p.sans-m {
  margin-top: -10px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text p.sans-m {
      margin-top: 0px; } }

.carousel .slide-text p.btn.btn-secondary-special {
  border: none;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text p.btn.btn-secondary-special {
      margin-top: 25px; } }
  .carousel .slide-text p.btn.btn-secondary-special a {
    padding: 11px 0; }
