<style media="screen">
@media screen and (min-width: 768px) {
  .carousel .slide-text {
    position: absolute;
    background: #f6f8f0;
    border: 2px solid #f04874;
    text-align: center;
    padding: 30px 0 20px;
    max-width: 310px; } }

.carousel .slide-text p.svg {
  margin-top: -15px; }
  .carousel .slide-text p.svg-mobile-only {
    display: block; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg-mobile-only {
        display: none !important; } }
  .carousel .slide-text p.svg-mobile-hidden {
    display: none; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg-mobile-hidden {
        display: block !important; } }
  .carousel .slide-text p.svg svg {
    width: 240px; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text p.svg svg {
        width: 200px; } }

.carousel .slide-text p.sans-m {
  margin-top: -10px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text p.sans-m {
      margin-top: 0px; } }

.carousel .slide-text p.btn.btn-secondary-special {
  border: none;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text p.btn.btn-secondary-special {
      margin-top: 25px; } }
  .carousel .slide-text p.btn.btn-secondary-special a {
    padding: 11px 0; }
</style>

<div class="carousel">
  <div class="slick" data-slick='{"fade": true, "prevArrow": ".carousel-prev", "nextArrow": ".carousel-next" }'>
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide slide-style-a position-right spacing">
          <div class="slide-background">
            <a class="tablet-hidden desktop-hidden" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">
              <img src="http://sb.monetate.net/img/1/564/1353591.jpg" alt="" />
            </a>
            <a class="mobile-hidden" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">
              <img src="http://sb.monetate.net/img/1/564/1353592.jpg" alt="" />
            </a>
          </div>
          <div class="slide-text">
            <p class="svg svg-mobile-only">
              <svg width="457px" height="62px" viewBox="0 0 457 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="mobile-text" transform="translate(2.000000, 3.000000)">
                    <g id="The.-Time.-Is.-Now." transform="translate(77.000000, 5.000000)" fill="#000000">
                      <path d="M1.05,10.6 L1.05,15.64 L8.82,15.64 L8.82,40 L14.49,40 L14.49,15.64 L22.26,15.64 L22.26,10.6 L1.05,10.6 Z M31.92,26.77 C32.676,25.72 34.566,24.25 36.876,24.25 C38.136,24.25 39.228,24.67 39.942,25.384 C40.698,26.14 41.16,27.19 41.16,29.206 L41.16,40 L46.62,40 L46.62,29.626 C46.62,26.14 45.864,24.082 44.52,22.486 C42.84,20.47 40.278,19.21 37.464,19.21 C35.364,19.21 33.432,19.924 31.92,21.1 L31.92,10.18 L26.46,10.18 L26.46,40 L31.92,40 L31.92,26.77 Z M66.738,33.658 L69.846,36.766 C67.872,39.118 64.638,40.42 61.488,40.42 C55.398,40.42 50.82,36.22 50.82,29.836 C50.82,24.166 54.684,19.21 60.732,19.21 C66.36,19.21 70.35,23.956 70.35,29.626 C70.35,30.172 70.308,30.718 70.224,31.18 L56.112,31.18 C56.406,34.036 58.716,36.01 61.614,36.01 C63.924,36.01 65.772,34.708 66.738,33.658 Z M56.364,27.19 L64.764,27.19 C64.596,25.384 62.958,23.62 60.732,23.62 C58.464,23.62 56.616,25.342 56.364,27.19 Z M76.44,36.766 C76.44,38.824 78.036,40.42 80.094,40.42 C82.152,40.42 83.79,38.824 83.79,36.766 C83.79,34.708 82.152,33.07 80.094,33.07 C78.036,33.07 76.44,34.708 76.44,36.766 Z M97.02,10.6 L97.02,15.64 L104.79,15.64 L104.79,40 L110.46,40 L110.46,15.64 L118.23,15.64 L118.23,10.6 L97.02,10.6 Z M127.89,19.63 L122.43,19.63 L122.43,40 L127.89,40 L127.89,19.63 Z M121.59,12.406 C121.59,14.38 123.186,15.892 125.16,15.892 C127.134,15.892 128.73,14.38 128.73,12.406 C128.73,10.432 127.134,8.92 125.16,8.92 C123.186,8.92 121.59,10.432 121.59,12.406 Z M139.65,40 L139.65,26.77 C140.406,25.804 142.086,24.25 144.396,24.25 C145.446,24.25 146.622,24.586 147.462,25.51 C148.092,26.224 148.47,27.148 148.47,28.996 L148.47,40 L153.93,40 L153.93,29.206 C153.93,28.366 153.846,27.61 153.762,26.938 C154.476,25.888 156.324,24.25 158.676,24.25 C159.726,24.25 160.902,24.586 161.742,25.51 C162.372,26.224 162.75,27.148 162.75,28.996 L162.75,40 L168.21,40 L168.21,29.206 C168.21,26.182 167.454,24.082 166.152,22.486 C164.514,20.47 161.826,19.21 159.012,19.21 C155.988,19.21 153.426,20.68 151.788,22.402 C150.192,20.47 147.714,19.21 144.942,19.21 C142.968,19.21 141.036,19.84 139.44,21.268 L139.44,19.63 L134.19,19.63 L134.19,40 L139.65,40 Z M188.328,33.658 L191.436,36.766 C189.462,39.118 186.228,40.42 183.078,40.42 C176.988,40.42 172.41,36.22 172.41,29.836 C172.41,24.166 176.274,19.21 182.322,19.21 C187.95,19.21 191.94,23.956 191.94,29.626 C191.94,30.172 191.898,30.718 191.814,31.18 L177.702,31.18 C177.996,34.036 180.306,36.01 183.204,36.01 C185.514,36.01 187.362,34.708 188.328,33.658 Z M177.954,27.19 L186.354,27.19 C186.186,25.384 184.548,23.62 182.322,23.62 C180.054,23.62 178.206,25.342 177.954,27.19 Z M198.03,36.766 C198.03,38.824 199.626,40.42 201.684,40.42 C203.742,40.42 205.38,38.824 205.38,36.766 C205.38,34.708 203.742,33.07 201.684,33.07 C199.626,33.07 198.03,34.708 198.03,36.766 Z M221.76,40 L227.43,40 L227.43,10.6 L221.76,10.6 L221.76,40 Z M231.924,37.69 C234.318,39.454 237.3,40.42 240.114,40.42 C244.398,40.42 248.22,38.026 248.22,34.12 C248.22,27.064 238.35,28.114 238.35,25.468 C238.35,24.418 239.61,23.83 241.122,23.83 C242.592,23.83 243.978,24.46 245.028,25.216 L247.59,21.268 C246.246,20.218 243.348,19.21 240.702,19.21 C236.67,19.21 232.89,21.646 232.89,25.552 C232.89,32.104 242.76,31.012 242.76,34.078 C242.76,35.086 241.626,35.8 240.156,35.8 C238.098,35.8 235.956,35.044 234.57,33.784 L231.924,37.69 Z M254.73,36.766 C254.73,38.824 256.326,40.42 258.384,40.42 C260.442,40.42 262.08,38.824 262.08,36.766 C262.08,34.708 260.442,33.07 258.384,33.07 C256.326,33.07 254.73,34.708 254.73,36.766 Z M278.46,40 L284.13,40 L284.13,20.848 L300.51,40 L304.5,40 L304.5,10.6 L298.83,10.6 L298.83,29.752 L282.45,10.6 L278.46,10.6 L278.46,40 Z M309.33,29.836 C309.33,23.956 313.992,19.21 320.166,19.21 C326.34,19.21 331.002,23.956 331.002,29.836 C331.002,35.716 326.34,40.42 320.166,40.42 C313.992,40.42 309.33,35.716 309.33,29.836 Z M314.79,29.836 C314.79,32.902 316.974,35.38 320.166,35.38 C323.358,35.38 325.542,32.902 325.542,29.836 C325.542,26.77 323.358,24.25 320.166,24.25 C316.974,24.25 314.79,26.77 314.79,29.836 Z M349.734,28.156 L354.858,40 L358.638,40 L367.206,19.63 L361.704,19.63 L356.706,31.516 L351.624,19.63 L347.844,19.63 L342.72,31.516 L337.764,19.63 L332.262,19.63 L340.83,40 L344.61,40 L349.734,28.156 Z M370.146,36.766 C370.146,38.824 371.742,40.42 373.8,40.42 C375.858,40.42 377.496,38.824 377.496,36.766 C377.496,34.708 375.858,33.07 373.8,33.07 C371.742,33.07 370.146,34.708 370.146,36.766 Z"></path>
                    </g>
                    <g id="clock" stroke="#F93777">
                      <circle id="Oval" stroke-width="5" fill="#FFFFFF" fill-rule="nonzero" cx="28.4" cy="28.1" r="27.8"></circle>
                      <polygon id="Shape" stroke-width="2" points="28.4 27.5 48.1 27.5 48.1 28.8 28.4 28.8"></polygon>
                      <polygon id="Shape" stroke-width="2" points="17.9 11.5 19 10.9 28.6 27.5 27.6 28.3"></polygon>
                    </g>
                  </g>
                </g>
              </svg>
            </p>

            <p class="svg svg-mobile-hidden">
              <svg width="285px" height="100px" viewBox="0 0 285 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-136.000000, -145.000000)">
                    <g id="Group" transform="translate(138.000000, 148.000000)">
                      <path d="M78.05,15.6 L78.05,20.64 L85.82,20.64 L85.82,45 L91.49,45 L91.49,20.64 L99.26,20.64 L99.26,15.6 L78.05,15.6 Z M108.92,31.77 C109.676,30.72 111.566,29.25 113.876,29.25 C115.136,29.25 116.228,29.67 116.942,30.384 C117.698,31.14 118.16,32.19 118.16,34.206 L118.16,45 L123.62,45 L123.62,34.626 C123.62,31.14 122.864,29.082 121.52,27.486 C119.84,25.47 117.278,24.21 114.464,24.21 C112.364,24.21 110.432,24.924 108.92,26.1 L108.92,15.18 L103.46,15.18 L103.46,45 L108.92,45 L108.92,31.77 Z M143.738,38.658 L146.846,41.766 C144.872,44.118 141.638,45.42 138.488,45.42 C132.398,45.42 127.82,41.22 127.82,34.836 C127.82,29.166 131.684,24.21 137.732,24.21 C143.36,24.21 147.35,28.956 147.35,34.626 C147.35,35.172 147.308,35.718 147.224,36.18 L133.112,36.18 C133.406,39.036 135.716,41.01 138.614,41.01 C140.924,41.01 142.772,39.708 143.738,38.658 Z M133.364,32.19 L141.764,32.19 C141.596,30.384 139.958,28.62 137.732,28.62 C135.464,28.62 133.616,30.342 133.364,32.19 Z M153.44,41.766 C153.44,43.824 155.036,45.42 157.094,45.42 C159.152,45.42 160.79,43.824 160.79,41.766 C160.79,39.708 159.152,38.07 157.094,38.07 C155.036,38.07 153.44,39.708 153.44,41.766 Z M174.02,15.6 L174.02,20.64 L181.79,20.64 L181.79,45 L187.46,45 L187.46,20.64 L195.23,20.64 L195.23,15.6 L174.02,15.6 Z M204.89,24.63 L199.43,24.63 L199.43,45 L204.89,45 L204.89,24.63 Z M198.59,17.406 C198.59,19.38 200.186,20.892 202.16,20.892 C204.134,20.892 205.73,19.38 205.73,17.406 C205.73,15.432 204.134,13.92 202.16,13.92 C200.186,13.92 198.59,15.432 198.59,17.406 Z M216.65,45 L216.65,31.77 C217.406,30.804 219.086,29.25 221.396,29.25 C222.446,29.25 223.622,29.586 224.462,30.51 C225.092,31.224 225.47,32.148 225.47,33.996 L225.47,45 L230.93,45 L230.93,34.206 C230.93,33.366 230.846,32.61 230.762,31.938 C231.476,30.888 233.324,29.25 235.676,29.25 C236.726,29.25 237.902,29.586 238.742,30.51 C239.372,31.224 239.75,32.148 239.75,33.996 L239.75,45 L245.21,45 L245.21,34.206 C245.21,31.182 244.454,29.082 243.152,27.486 C241.514,25.47 238.826,24.21 236.012,24.21 C232.988,24.21 230.426,25.68 228.788,27.402 C227.192,25.47 224.714,24.21 221.942,24.21 C219.968,24.21 218.036,24.84 216.44,26.268 L216.44,24.63 L211.19,24.63 L211.19,45 L216.65,45 Z M265.328,38.658 L268.436,41.766 C266.462,44.118 263.228,45.42 260.078,45.42 C253.988,45.42 249.41,41.22 249.41,34.836 C249.41,29.166 253.274,24.21 259.322,24.21 C264.95,24.21 268.94,28.956 268.94,34.626 C268.94,35.172 268.898,35.718 268.814,36.18 L254.702,36.18 C254.996,39.036 257.306,41.01 260.204,41.01 C262.514,41.01 264.362,39.708 265.328,38.658 Z M254.954,32.19 L263.354,32.19 C263.186,30.384 261.548,28.62 259.322,28.62 C257.054,28.62 255.206,30.342 254.954,32.19 Z M275.03,41.766 C275.03,43.824 276.626,45.42 278.684,45.42 C280.742,45.42 282.38,43.824 282.38,41.766 C282.38,39.708 280.742,38.07 278.684,38.07 C276.626,38.07 275.03,39.708 275.03,41.766 Z" id="The.-Time." fill="#000000"></path>
                      <g id="clock" stroke="#F93777">
                        <circle id="Oval" stroke-width="5" fill="#FFFFFF" fill-rule="nonzero" cx="28.4" cy="28.1" r="27.8"></circle>
                        <polygon id="Shape" stroke-width="2" points="28.4 27.5 48.1 27.5 48.1 28.8 28.4 28.8"></polygon>
                        <polygon id="Shape" stroke-width="2" points="17.9 11.5 19 10.9 28.6 27.5 27.6 28.3"></polygon>
                      </g>
                      <path d="M65.36,96 L71.03,96 L71.03,66.6 L65.36,66.6 L65.36,96 Z M75.524,93.69 C77.918,95.454 80.9,96.42 83.714,96.42 C87.998,96.42 91.82,94.026 91.82,90.12 C91.82,83.064 81.95,84.114 81.95,81.468 C81.95,80.418 83.21,79.83 84.722,79.83 C86.192,79.83 87.578,80.46 88.628,81.216 L91.19,77.268 C89.846,76.218 86.948,75.21 84.302,75.21 C80.27,75.21 76.49,77.646 76.49,81.552 C76.49,88.104 86.36,87.012 86.36,90.078 C86.36,91.086 85.226,91.8 83.756,91.8 C81.698,91.8 79.556,91.044 78.17,89.784 L75.524,93.69 Z M98.33,92.766 C98.33,94.824 99.926,96.42 101.984,96.42 C104.042,96.42 105.68,94.824 105.68,92.766 C105.68,90.708 104.042,89.07 101.984,89.07 C99.926,89.07 98.33,90.708 98.33,92.766 Z M122.06,96 L127.73,96 L127.73,76.848 L144.11,96 L148.1,96 L148.1,66.6 L142.43,66.6 L142.43,85.752 L126.05,66.6 L122.06,66.6 L122.06,96 Z M152.93,85.836 C152.93,79.956 157.592,75.21 163.766,75.21 C169.94,75.21 174.602,79.956 174.602,85.836 C174.602,91.716 169.94,96.42 163.766,96.42 C157.592,96.42 152.93,91.716 152.93,85.836 Z M158.39,85.836 C158.39,88.902 160.574,91.38 163.766,91.38 C166.958,91.38 169.142,88.902 169.142,85.836 C169.142,82.77 166.958,80.25 163.766,80.25 C160.574,80.25 158.39,82.77 158.39,85.836 Z M193.334,84.156 L198.458,96 L202.238,96 L210.806,75.63 L205.304,75.63 L200.306,87.516 L195.224,75.63 L191.444,75.63 L186.32,87.516 L181.364,75.63 L175.862,75.63 L184.43,96 L188.21,96 L193.334,84.156 Z M213.746,92.766 C213.746,94.824 215.342,96.42 217.4,96.42 C219.458,96.42 221.096,94.824 221.096,92.766 C221.096,90.708 219.458,89.07 217.4,89.07 C215.342,89.07 213.746,90.708 213.746,92.766 Z" id="Is.-Now." fill="#000000"></path>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
            <p class="sans-m">Snap up your dream dress while it's on sale!</p>
            <p class="btn btn-secondary-special">
              <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" style="width:200px !important;">MAKE AN APPOINTMENT</a></p>
          </div>
        </div><!-- /slide -->
      </div><!-- /slide-container -->
    </div><!-- /slick-slide -->

  </div><!-- /slick -->
</div><!-- /carousel -->
