<div class="listing__grid-item-inner">
  <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">
    <img src="http://sb.monetate.net/img/1/564/1353885.jpg" alt="The. Time. Is. Now. Make an Appointment">
  </a>
</div>
