html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    line-height: 12px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 10px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer; }
    .content-page .btn-primary a {
      display: block;
      padding: 7px 0;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: block;
      padding: 9px 0;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 0; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

/**
*
* Layout: Two-Column
*
**/
.two-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  max-width: 1262px;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .two-column {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .two-column.split-4-5 > .column {
    width: 100%;
    padding: 10px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .two-column.split-4-5 > .column {
        padding: 0 10px; } }
    @media screen and (min-width: 1024px) {
      .two-column.split-4-5 > .column {
        margin: 0 10px; } }
    .two-column.split-4-5 > .column:first-child {
      margin-left: 0; }
    .two-column.split-4-5 > .column:last-child {
      margin-right: 0; }
      @media screen and (min-width: 1024px) {
        .two-column.split-4-5 > .column:last-child {
          max-width: 353px; } }
  .two-column .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1262px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .two-column .two-column {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .two-column .two-column .column {
      width: 100%;
      padding: 10px 0; }
      @media screen and (min-width: 768px) {
        .two-column .two-column .column:last-child {
          padding-left: 20px;
          padding-right: 0px; } }
      @media screen and (min-width: 1300px) {
        .two-column .two-column .column:last-child {
          padding-right: 30px; } }
      .two-column .two-column .column .serif-s-italic {
        margin-bottom: 0; }
      .two-column .two-column .column .rsvp {
        margin-bottom: 5px; }
        .two-column .two-column .column .rsvp a {
          color: #727278;
          font-weight: normal;
          text-decoration: underline; }
          .two-column .two-column .column .rsvp a:hover, .two-column .two-column .column .rsvp a:focus, .two-column .two-column .column .rsvp a:active {
            color: #333; }
      .two-column .two-column .column .store-details {
        margin-top: 20px;
        margin-bottom: 20px; }
      .two-column .two-column .column .sans-xs {
        margin-top: 20px; }
      .two-column .two-column .column ul {
        padding-left: 15px;
        padding-bottom: 20px; }
        .two-column .two-column .column ul li {
          list-style-type: disc;
          font-size: 13px;
          line-height: 20px; }
          @media screen and (min-width: 768px) {
            .two-column .two-column .column ul li {
              font-size: 15px;
              line-height: 24px; } }

.article__share-bar {
  width: 100%;
  background: white;
  padding: 12px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      padding: 12px 30px;
      margin: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.recommend-block {
  display: block;
  position: relative;
  clear: both;
  margin-top: 30px;
  padding-bottom: 30px; }
  .recommend-block__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .recommend-block__inner {
        padding-bottom: 10px; } }
    .recommend-block__inner a {
      color: #333333;
      text-decoration: none;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: initial;
              transition-delay: initial; }
      .recommend-block__inner a:hover {
        color: #74736d;
        text-decoration: none; }
  .recommend-block__image {
    float: left;
    display: block;
    margin-right: 0%;
    width: 40%;
    min-width: 80px; }
    @media screen and (min-width: 768px) {
      .recommend-block__image {
        width: 33.33333%; } }
    .recommend-block__image:last-child {
      margin-right: 0; }
  .recommend-block__content {
    padding-left: 10px;
    width: 60%; }
    @media screen and (min-width: 768px) {
      .recommend-block__content {
        width: 66.66667%; } }
    .recommend-block__content .serif-xs {
      margin: 0; }
    .recommend-block__content .sans-bold-uppercase {
      margin-top: 3px; }

.appointment-banner {
  max-width: 1262px;
  margin: 20px auto 30px;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  height: 165px; }
  @media screen and (min-width: 500px) {
    .appointment-banner {
      height: 135px; } }
  @media screen and (min-width: 768px) {
    .appointment-banner {
      height: 155px; } }
  @media screen and (min-width: 1024px) {
    .appointment-banner {
      height: 120px; } }
  .appointment-banner__inner {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
    left: 8px;
    border: 1px solid #fff;
    padding: 20px 0; }
    @media screen and (min-width: 500px) {
      .appointment-banner__inner {
        padding: 10px 0; } }
    @media screen and (min-width: 500px) {
      .appointment-banner__inner {
        padding: 15px 0; } }
  .appointment-banner__text {
    padding: 0; }
  .appointment-banner__headline {
    display: block; }
    @media screen and (min-width: 768px) {
      .appointment-banner__headline {
        display: block; } }
    @media screen and (min-width: 1024px) {
      .appointment-banner__headline {
        display: inline-block; } }
    .appointment-banner__headline p {
      margin-bottom: 0; }
  .appointment-banner__subheadline {
    display: block;
    padding: 8px 50px 8px; }
    @media screen and (min-width: 768px) {
      .appointment-banner__subheadline {
        padding: 8px 50px 8px; } }
    @media screen and (min-width: 1024px) {
      .appointment-banner__subheadline {
        display: inline-block;
        padding: 24px 20px 0; } }
    .appointment-banner__subheadline p {
      line-height: 20px !important;
      margin-bottom: 0; }
  .appointment-banner__btn {
    display: block;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .appointment-banner__btn {
        padding: 0 10px; } }
    @media screen and (min-width: 1024px) {
      .appointment-banner__btn {
        display: inline-block; } }
  .appointment-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    background-color: transparent; }
  .appointment-banner .btn-secondary a {
    outline: none;
    color: #52535a;
    background-color: #ffffff;
    border: 1px solid #52535a;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 240px;
    margin: 0 auto; }
  .appointment-banner .btn-secondary a:hover,
  .appointment-banner .btn-secondary a:focus {
    background-color: #ffffff;
    border: 1px solid #e0e0e7;
    outline: none; }

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 1262px;
  margin: 0 auto;
  margin-top: -20px;
  padding: 0 20px 20px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .logos {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding: 20px 10px; } }
  .logos .column {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .logos .column {
        width: auto;
        padding: 0 20px; } }
    .logos .column img {
      width: auto;
      max-width: 100%; }
  .logos .m-t-10 {
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .logos .m-t-10 {
        margin-top: 0; } }
