.designer-spotlight {
  max-width: 1282px;
  margin: 0 auto;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .designer-spotlight {
      padding: 0; } }
  .designer-spotlight .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .designer-spotlight .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .designer-spotlight .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -7px;
    position: relative; }
  .designer-spotlight h2 {
    margin: 0;
    margin-bottom: -10px; }
  .designer-spotlight .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .designer-spotlight .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .designer-spotlight .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .flex-container .column {
          padding: 5px; } }
  .designer-spotlight img {
    width: 100%; }
  .designer-spotlight .media-block-content {
    margin-top: 10px; }
    .designer-spotlight .media-block-content p {
      margin-top: 5px; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .media-block-content p {
          margin-top: 5px; } }
