.grid-2-3-6 {
  display: block;
  position: relative;
  clear: both;
  margin: 20px auto; }
  @media screen and (min-width: 1024px) {
    .grid-2-3-6 {
      margin: 30px auto; } }
  .grid-2-3-6 img {
    width: 100%; }
  .grid-2-3-6__inner {
    display: block;
    margin: 0 auto;
    padding: 0 5px; }
    @media screen and (min-width: 1282px) {
      .grid-2-3-6__inner {
        padding: 0; } }
  .grid-2-3-6__heading {
    padding: 0;
    display: block; }
    .grid-2-3-6__heading > *:not(:last-child) {
      margin-right: 10px; }
    .grid-2-3-6__heading h3 {
      display: inline-block; }
    .grid-2-3-6__heading p {
      display: inline-block; }
  .grid-2-3-6__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px; }
    .grid-2-3-6__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .grid-2-3-6__flex .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .grid-2-3-6__flex .column {
          width: 16.66667%; } }
