.homecoming-banner {
  display: block;
  position: relative;
  max-width: 1252px;
  margin: 0 auto;
  background-color: #acdef1;
  background-image: url("/wcsstore/images/wwcm/categorylandingpages/homecoming2017/hoco_trends2017_banner_full.jpg");
  background-position: 18% 0;
  background-size: cover;
  height: 115px; }
  @media screen and (min-width: 768px) {
    .homecoming-banner {
      background-position: 9% 0;
      height: 149px; } }
  @media screen and (min-width: 1024px) {
    .homecoming-banner {
      background-position: 0 0; } }
  .homecoming-banner__text {
    position: absolute;
    text-align: center;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 60%; }
    @media screen and (min-width: 768px) {
      .homecoming-banner__text {
        right: 5%; } }
    @media screen and (min-width: 1024px) {
      .homecoming-banner__text {
        right: 10%; } }
    .homecoming-banner__text p {
      margin: 0; }
    .homecoming-banner__text .serif-l-italic {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .homecoming-banner__text .serif-l-italic {
          font-size: 32px;
          line-height: 36px; } }
    .homecoming-banner__text .sans-s {
      margin-bottom: 10px; }
