.carousel {
  margin-bottom: -160px; }
  .carousel .slide-text {
    background: none;
    border: none;
    position: absolute;
    top: 25%;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .carousel .slide-text {
        right: 0;
        left: auto;
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      .carousel .slide-text {
        width: 90%; } }
    @media screen and (min-width: 1400px) {
      .carousel .slide-text {
        width: 100%;
        left: auto;
        right: auto; } }
    .carousel .slide-text img {
      display: block;
      width: 100%;
      margin: 0 auto; }
      @media screen and (min-width: 768px) {
        .carousel .slide-text img {
          width: 75%; } }
    .carousel .slide-text .btn-secondary a {
      width: auto;
      padding: 15px 100px; }
  @media screen and (min-width: 768px) {
    .carousel {
      margin-bottom: -120px; } }
