html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0;
  margin: 0; }

.left_espot a {
  text-decoration: none; }
  .left_espot a:hover, .left_espot a:active, .left_espot a:focus {
    text-decoration: none; }
