.sale-banner {
  margin: 20px auto 30px; }
  .sale-banner__inner {
    background: #f15269;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1252px;
    outline: 5px solid #f15269;
    padding: 40px 10px;
    text-align: center;
    width: 100%; }
  .sale-banner h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff; }
  .sale-banner p {
    margin: 0;
    color: #fff; }
    .sale-banner p.sans-bold-uppercase a {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .sale-banner p.sans-bold-uppercase a:hover, .sale-banner p.sans-bold-uppercase a:active {
        color: #ccc; }
