.win-your-gown {
  position: relative;
  background: #ea768a;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  outline: 5px solid #ea768a;
  border: 1px solid #fff;
  padding: 30px 10px; }
  .win-your-gown .sans-bold-uppercase a {
    color: #fff; }
