<!-- Async Tag // Tag for network 5245: David's Bridal, Inc. // Website: David's bridal // Page: Category Return Bridal Party  // Placement: Category Return Bridal Party -Position 4-300 x 250 (3927973) // created at: Oct 3, 2016 9:00:12 AM -->
<div id="3927973">
  <noscript>
    <a href="http://adserver.adtechus.com/adlink|3.0|5245.1|3927973|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" target="_blank">
      <img src="http://adserver.adtechus.com/adserv|3.0|5245.1|3927973|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" border="0" width="300" height="250">
    </a>
  </noscript>
</div>
<script>
  ADTECH.config.placements[3927973] = {
    sizeid: 170,
    params: { 
      alias: '',
      target: '_blank'
    }
  };
  ADTECH.loadAd(3927973);
</script>
