.about-us {
  display: block;
  position: relative;
  background: $cream;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 20px 0;
  }

  h1 {
    padding-left: 10px;
    @media screen and (min-width: $breakpoint-lg) {
      padding-left: 0;
    }
  }

  // Mobile Image
  &__hero {
    display: block;
    @media screen and (min-width: $breakpoint-lg) {
      display: none;
      visibility: hidden;
    }
  }


  // Desktop Image
  &__img {
    display: none;
    @media screen and (min-width: $breakpoint-lg) {
      display: block;
    }
  }


  // Text
  &__text {
    position: relative;
    padding: 15px 0 30px;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      top: 10px;
      right: 10px;
      left: 57%;
    }
    @media screen and (min-width: 1050px) {
      top: 3%;
      right: 10px;
    }
    @media screen and (min-width: 1100px) {
      right: 5%;
    }
    @media screen and (min-width: 1200px) {
      top: 7%;
      right: 7%;
    }

    section {
      padding-left: 10px;
      padding-right: 10px;
      @media screen and (min-width: $breakpoint-lg) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    section:last-of-type {
      margin-top: 20px;
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 0;
      }
    }

    section:not(:first-of-type) {
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 10px;
      }
      @media screen and (min-width: 1100px) {
        margin-top: 20px;
      }
    }



    p {
      margin: 0;

      &.sans-bold-uppercase {
        margin-top: 10px;
      }
    }
  }




} // about-us
