// ==========================================================================
// Hero Banner
// ==========================================================================
.appointment-banner {
  background: $brand-primary;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  padding: 15px 10px 20px;
  @media screen and (min-width: 1262px) {
    padding: 5px;
  }

  p {
    display: block;
    margin: 0;
    @media screen and (min-width: $breakpoint-lg) {
      display: inline;
      margin: 0 20px;
    }
    &:not(:last-of-type) {
      color: $white;
    }


    // Spacing
    &.serif-m-italic {
      @media screen and (min-width: $breakpoint-lg) {
        padding-top: 0;
      }
    }
    &.sans-s {
      display: none;
      @media screen and (min-width: $breakpoint-md) {
        display: block;
        margin-top: 4px;
      }
      @media screen and (min-width: 1262px) {
        display: inline-block;
        margin: 0;
      }
    }
    &.btn {
      margin-top: 15px;
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 11px;
      }
      @media screen and (min-width: 1262px) {
        margin-top: 0;
      }
    }
    &.btn-secondary a {
      font-size: 12px;
      letter-spacing: 0.055em;
    }

  } // p

} // .appointment-banner
