// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.inspiration-guidance {
  position: relative;
  padding: 0;
  .column-full {
    padding: 0;
  }


  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
  }

  .article__teaser-list {
    margin-top: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 5px;
    }

    & .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%;
      @media screen and (max-width: ($breakpoint-md - 1) ) {
        float: left;
        margin-right: 11px;
        width: 50%;
        & img {
          width: 100%;
        }
      }
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 10px;
      }
    }

    & .mobile-mb-split-1:not(:last-child) {
      @media screen and (max-width: ($breakpoint-md - 1) ) {
        padding-bottom: 0px;
      }
    }
  }

  .column [class^=layout-],
  .column-full [class^=layout-] {
    margin-right: 0;
    margin-left: 0;
  }


  .layout-split-4 {
      max-width: 1272px;
      margin-left: -5px;
      margin-right: -5px;

    & > .column {
      @media screen and (min-width: $breakpoint-md) {
        float: left;
        display: block;
        margin-right: 0;
        width: 25%;
      }
      &:nth-child(1) {
        @media screen and (min-width: $breakpoint-md) {
          margin-top: 10px;
        }
        @media screen and (min-width: $breakpoint-lg) {
          margin-top: 0;
        }
      }
      &:nth-child(2n+1) {
        @media screen and (max-width: 71.875em) and (min-width: 64em) {
          clear: none;
          margin-top: 0;
        }
      }
      &:nth-child(4) {
        @media screen and (max-width: 71.875em) and (min-width: 64em) {
          clear: none;
          margin-top: 0;
        }
      }
    }
  }

}
