<div class="header_wrapper_position" id="headerWidget">
  <!-- BEGIN Header.jsp -->


  <!-- By default set to USD  -->
  <style>
    @media screen and (min-width: 1024px) {
      #CatalogSearchForm {
        position: absolute;
        right: 0;
        top: 0;
        background: #727278;
        padding: 4px 4px 0;
        width: 210px;
        height: 38px !important;
        text-align: left;
        border-left: .1rem solid #9c9b9f;
      }

      #CatalogSearchForm .header__search-field-input[type=search] {
        height: 27px !important;
      }

      ul.header__utility-nav-second-list {
        padding-right: 210px;
      }

      /* IE Fix */
      _:-ms-input-placeholder,
       :root #CatalogSearchForm {
        height: 37px !important;
      }
    }
  </style>

  <input type="hidden" name="userType" id="UserType" value="G" />
  <div class="show-until-large" data-show-until-large=""></div>
  <div class="header__promo-bar" data-first-item-active="true">
    <div class="layout-split-5-6-large header__promo-bar-inner">
      <div class="header__promo-container column">
        <div class="header__promo-container-inner">
          <div class="header__promo-controls">
            <a class="header__promo-controls-previous-link" href="#">
              <svg xml:space="preserve" style="enable-background:new 5.5 -5.5 62 62;" viewBox="5.5 -5.5 62 62" height="62px" width="62px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="op-arrow" version="1.1">
                <style type="text/css">#op-arrow:focus, #op-arrow:hover {filter: url(#dropshadow);}</style>
                <polygon points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 " class="left-arrow"/>
                <path d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z" class="left-arrow"/>
                <defs><filter height="2" width="2" id="dropshadow"><feGaussianBlur stdDeviation="1" in="SourceAlpha"/><feOffset result="offsetblur" dy="1" dx="1"/><feFlood flood-opacity="0.5" flood-color="black"/><feComposite operator="in" in2="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs>
              </svg>
            </a>
            <a class="header__promo-controls-next-link" href="#">
              <svg xml:space="preserve" style="enable-background:new 5.5 -5.7 62 62;" viewBox="5.5 -5.7 62 62" height="62px" width="62px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="right-arrow" version="1.1">
                <style type="text/css">#right-arrow:focus, #right-arrow:hover {filter: url(#dropshadow);}</style>
                <polygon points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 " class="right_arrow"/><path d="M36.5,56C19.7,56,6,42.4,6,25.5C6,8.7,19.7-5,36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2 C21.3-2,9,10.3,9,25.5S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z" class="right_arrow"/>
                <defs><filter height="2" width="2" id="dropshadow"><feGaussianBlur stdDeviation="1" in="SourceAlpha"/><feOffset result="offsetblur" dy="1" dx="1"/><feFlood flood-opacity="0.5" flood-color="black"/><feComposite operator="in" in2="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs>
              </svg>
            </a>
          </div>
          <ul class="header__promo-list">
            <!-- BEGIN ContentRecommendation.jsp -->
            <!-- BEGIN ESpotTitle_Data.jspf -->
            <!-- END ESpotTitle_Data.jspf -->
            <!-- BEGIN ESpotTitle_UI.jspf -->
            <!-- END ESpotTitle_UI.jspf -->
            {{> espots-ES-HEADER-PROMOBAR }}
            <!-- [eSpot Name: ES_HEADER_PROMOBAR_] -->
            <!-- [eSpot Name: ES_HEADER_PROMOBAR] -->
            <!-- END ContentRecommendation.jsp -->
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="show-until-large slide-menu" data-slide-menu="account" style="display: none;">

    <div class="header__personal-nav-account relative">
      <a class="header__personal-nav-account-icon-link" href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">
        <span class="header__personal-nav-account-icon">
          <svg class="fill-taupe-to-gray-med" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.8">
            <path d="M18.6,17.9c2,1.1,3.6-0.3,3.6-0.3c-0.2,0-0.4-0.2-0.6-0.3c1,0.1,1.8-0.6,1.8-0.6c-0.1-0.1-0.3-0.2-0.4-0.3 c0.6-0.5,1-0.9,1-0.9s-1.8-1.2-1.8-7.8c0-3.2-2.1-5.9-4.9-6.8c-2.8-0.4-4,1.2-4,1.2c-1-0.6-2.1-0.4-2.9,0.2C8.8,3.6,7.8,5.5,7.8,7.7 c0,6.6-1.8,7.8-1.8,7.8s0.3,0.4,1,0.9c-0.2,0.2-0.3,0.3-0.4,0.3c0,0,0.8,0.7,1.8,0.6c-0.2,0.2-0.4,0.3-0.6,0.3c0,0,1.6,1.4,3.6,0.3 c-0.1,4.7-10.7,3.6-10.7,9.5v1.2c0,0.3,0.3,0.6,0.6,0.6h27.5c0.3,0,0.6-0.3,0.6-0.6v-1.2C29.3,21.4,18.7,22.6,18.6,17.9z"></path>
          </svg>
        </span>
        <span class="header__personal-nav-account-text sans-xs header-SignIn-new"></span>
      </a>
    </div>

    <script>
      document.mobileSignInText = "Sign in";
      document.desktopSignInText = "Sign Up/Login";
      var backendUserType = "G";
      var mobileHTML = `<div class="header__personal-nav-account-dropdown-header">
        <span class="header__personal-nav-account-dropdown-header-icon serif-s-italic">
          <svg class="fill-gray-med" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.8"><path d="M18.6,17.9c2,1.1,3.6-0.3,3.6-0.3c-0.2,0-0.4-0.2-0.6-0.3c1,0.1,1.8-0.6,1.8-0.6c-0.1-0.1-0.3-0.2-0.4-0.3 c0.6-0.5,1-0.9,1-0.9s-1.8-1.2-1.8-7.8c0-3.2-2.1-5.9-4.9-6.8c-2.8-0.4-4,1.2-4,1.2c-1-0.6-2.1-0.4-2.9,0.2C8.8,3.6,7.8,5.5,7.8,7.7 c0,6.6-1.8,7.8-1.8,7.8s0.3,0.4,1,0.9c-0.2,0.2-0.3,0.3-0.4,0.3c0,0,0.8,0.7,1.8,0.6c-0.2,0.2-0.4,0.3-0.6,0.3c0,0,1.6,1.4,3.6,0.3 c-0.1,4.7-10.7,3.6-10.7,9.5v1.2c0,0.3,0.3,0.6,0.6,0.6h27.5c0.3,0,0.6-0.3,0.6-0.6v-1.2C29.3,21.4,18.7,22.6,18.6,17.9z"></path></svg>
        </span>
        <span data-slide-menu-close="" class="cursor-pointer header__personal-nav-account-dropdown-header-icon header__personal-nav-account-dropdown-header-close">
          <svg class="fill-taupe" xmlns="http://www.w3.org/2000/svg" viewBox="-495.8 496.1 9.7 9.9"><polygon points="-486.3,497.4 -487.2,496.5 -490.8,500.1 -494.4,496.5 -495.2,497.4 -491.6,501 -495.2,504.6 -494.4,505.5 -490.8,501.8 -487.2,505.5 -486.3,504.6 -489.9,501 "></polygon></svg>
        </span>
      </div>
      <ul class="drop-down-menu">
        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/AjaxLogonForm?catalogId=10051&myAcctMain=1&langId=&storeId=10052" id="WC_MyAccountSidebarDisplayf_links_4">My Account</a>
        </li>
        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/UserRegistrationForm?editRegistration=Y&amp;catalogId=10051&amp;langId=-1&amp;storeId=10052&amp;userRegistrationStyle=strong" id="WC_MyAccountSidebarDisplayf_links_1">Personal Information</a>
        </li>
        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="AddressBookShippingAddress?storeId=10052&amp;catalogId=10051&amp;langId=-1&amp;actionType=getAddress" id="WC_MyAccountSidebarDisplayf_links_2">My Shipping Address</a>
        </li>
        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/WishListDisplayView?catalogId=10051&amp;listId=.&amp;langId=-1&amp;wishListStyle=strong&amp;storeId=10052" id="WC_MyAccountSidebarDisplayf_links_4">My Favorites</a>
        </li>

        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052" id="WC_MyAccountSidebarDisplayf_links_11">Make An Appointment</a>
        </li>
        <li class="drop-down-menu-item">
          <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/TrackOrderStatus?orderStatusStyle=strong&amp;catalogId=10051&amp;langId=-1&amp;storeId=10052" id="WC_MyAccountSidebarDisplayf_links_5">Order History</a>
        </li>
        <li class="drop-down-menu-item sans-xs">
          <a class="sans-xs" id="Logout" href="https://www.davidsbridal.com/Logoff?catalogId=10051&myAcctMain=1&langId=-1&storeId=10052&deleteCartCookie=true&URL=https%3A%2F%2Fwww.davidsbridal.com%2FLogonForm"><span>Sign Out</span></a>
        </li>
      </ul>`;


      var desktopHTML = `<div class="header__personal-nav-account relative">
        <a class="header__personal-nav-account-icon-link" href="#">
          <span class="header__personal-nav-account-icon">
            <svg class="fill-taupe-to-gray-med" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.8"><path d="M18.6,17.9c2,1.1,3.6-0.3,3.6-0.3c-0.2,0-0.4-0.2-0.6-0.3c1,0.1,1.8-0.6,1.8-0.6c-0.1-0.1-0.3-0.2-0.4-0.3 c0.6-0.5,1-0.9,1-0.9s-1.8-1.2-1.8-7.8c0-3.2-2.1-5.9-4.9-6.8c-2.8-0.4-4,1.2-4,1.2c-1-0.6-2.1-0.4-2.9,0.2C8.8,3.6,7.8,5.5,7.8,7.7 c0,6.6-1.8,7.8-1.8,7.8s0.3,0.4,1,0.9c-0.2,0.2-0.3,0.3-0.4,0.3c0,0,0.8,0.7,1.8,0.6c-0.2,0.2-0.4,0.3-0.6,0.3c0,0,1.6,1.4,3.6,0.3 c-0.1,4.7-10.7,3.6-10.7,9.5v1.2c0,0.3,0.3,0.6,0.6,0.6h27.5c0.3,0,0.6-0.3,0.6-0.6v-1.2C29.3,21.4,18.7,22.6,18.6,17.9z"></path></svg>
          </span>
          <span class="header__personal-nav-account-text sans-xs"></span>
        </a>
      </div>
      <div class="header__personal-nav-account-dropdown" data-dropdown-menu="personal-nav" style="position: absolute; top: 113px; left: 1171.31px; display: none;">
        <ul class="drop-down-menu">
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/AjaxLogonForm?catalogId=10051&myAcctMain=1&langId=&storeId=10052" id="WC_MyAccountSidebarDisplayf_links_4">My Account</a>
          </li>
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/UserRegistrationForm?editRegistration=Y&amp;catalogId=10051&amp;langId=-1&amp;storeId=10052&amp;userRegistrationStyle=strong" id="WC_MyAccountSidebarDisplayf_links_1">Personal Information</a>
          </li>
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="AddressBookShippingAddress?storeId=10052&amp;catalogId=10051&amp;langId=-1&amp;actionType=getAddress" id="WC_MyAccountSidebarDisplayf_links_2">My Shipping Address</a>
          </li>
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/WishListDisplayView?catalogId=10051&amp;listId=.&amp;langId=-1&amp;wishListStyle=strong&amp;storeId=10052" id="WC_MyAccountSidebarDisplayf_links_4">My Favorites</a>
          </li>
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052" id="WC_MyAccountSidebarDisplayf_links_11">Make An Appointment</a>
          </li>
          <li class="drop-down-menu-item">
            <a class="sans-bold-uppercase" href="https://www.davidsbridal.com/TrackOrderStatus?orderStatusStyle=strong&amp;catalogId=10051&amp;langId=-1&amp;storeId=10052" id="WC_MyAccountSidebarDisplayf_links_5">Order History</a>
          </li>
          <li class="drop-down-menu-item sans-xs">
            <a class="sans-xs" id="Logout" href="https://www.davidsbridal.com/Logoff?catalogId=10051&myAcctMain=1&langId=-1&storeId=10052&deleteCartCookie=true&URL=https%3A%2F%2Fwww.davidsbridal.com%2FLogonForm"><span>Sign Out</span></a>
          </li>
        </ul>
      </div>`;

  
    </script>

  </div>

  <div class="slide-content">
    <div class="header page " data-menu-status="closed">
      <div class="header__search-small">

        <!-- BEGIN Search.jsp -->
        <meta name="CommerceSearch" content="storeId_10052" />
        <!-- Begin Search Widget -->
        <form name="mobileCatalogSearchForm" action="http://www.davidsbridal.com/SearchDisplay" method="get" id="mobile_CatalogSearchForm" class="header__search column">
          <div class="header__search-field">
            <label class="header__search-field-label" for="header-search-input">Search</label>
            <div class="autocomplete-wrap">
              <input id="mobile_SimpleSearchForm_SearchTerm" type="search" class="search_input gray_color searchbox header__search-field-input" name="searchTerm" autocomplete="off" maxlength="65" tabindex="0" title="Press the Up or Down Arrow keys to navigate through the search suggestions. Suggested site content and search history, if any, are included after the suggestions.  Press the Enter key for all search results." onkeypress="return SearchJS._onKeyPress(event);" value='' placeholder='Search'></input>
              <div class="header__search-autocomplete-dropdown " id="mobile_AutoSuggestDiv" role="region" aria-required="true" aria-labelledby="AutoSuggestDiv" onmouseover="SearchJS.autoSuggestHover = true;" onmouseout="SearchJS.autoSuggestHover = false; document.getElementById('mobile_SimpleSearchForm_SearchTerm').focus();" style="display:none;">
                <!-- Start SearchDropdownWidget -->
                <span id="mobile_autoSuggestDynamic_Result_div_ACCE_Label" class="accessibility">Suggested keywords menu</span>
                <div id="mobile_autoSuggestStatic_1" class="spacing-zero"></div>
                <div id="mobile_autoSuggestStatic_2" class="spacing-zero"></div>
                <div id="mobile_autoSuggestStatic_3" class="spacing-zero"></div>
                <div id="mobile_autoSuggestHistory" class="spacing-zero"></div>
                <p><a class="sans-m-bold-uppercase" id="mobile_viewAllResults" href="#">View all results&nbsp;&gt;</a></p>
              </div>
              <!-- Refresh area to retrieve cached suggestions -->
              <span id="mobile_autoSuggestCachedSuggestions_div_ACCE_Label" class="accessibility">Suggested site content and search history menu</span>
              <input type="hidden" name="storeId" value='10052' />
              <input type="hidden" name="catalogId" value='10051' />
              <input type="hidden" name="langId" value='-1' />
              <input type="hidden" name="pageSize" value="40" />
              <input type="hidden" name="beginIndex" value="0" />
              <input type="hidden" name="sType" value="SimpleSearch" />
              <input type="hidden" name="resultCatEntryType" value="2" />
              <input type="hidden" name="showResultsPage" value="true" />
              <input type="hidden" name="searchSource" value="Q" />
              <input type="hidden" name="pageView" value="" />
              <span id="mobile_searchTextHolder" class="nodisplay"></span>
            </div>
            <span class="header__search-field-icon-close">
              <img class="header__search-field-icon-image" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/header/close.svg" alt="Search">
            </span>
          </div>
        </form>
        <!-- End Search Widget -->
        <!-- END Search.jsp -->
      </div>


      <div class="header__primary column-full">
        <div class="header__primary-inner relative">
          <div class="header__logo">
            <a class="header__logo-link" href="http://www.davidsbridal.com/">
              <img class="header__logo-image" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png" alt="David's Bridal">
            </a>
          </div>
          <nav class="header__utility-nav" data-utility-position="static">
            <ul class="header__utility-nav-first-list">
              <li class="header__utility-nav-first-list-item">
                <a class="header__utility-nav-first-list-item-link sans-xs-bold" id="Header_MakeAnAppointmentLink" href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">
                  <span class="header__utility-nav-first-list-item-text--short">Appointments </span>
                  <span class="header__utility-nav-first-list-item-text--long">Make an Appointment </span>
                </a>
              </li>
              <li class="header__utility-nav-first-list-item">
                <a class="header__utility-nav-first-list-item-link sans-xs-bold" id="Header_StoreLocatorLink" href="http://www.davidsbridal.com/DBIAjaxStoreLocatorDisplayView?catalogId=10051&langId=-1&storeId=10052">
                  <span class="header__utility-nav-first-list-item-text--short">Stores</span></span>
                  <span class="header__utility-nav-first-list-item-text--long">Find a Store</span></span>
                </a>
              </li>
            </ul>
            <ul class="header__utility-nav-second-list">
              <li class="header__utility-nav-second-list-item">
                <a class="header__utility-nav-second-list-item-link header__utility-nav-search-trigger" href="#">
                  <svg class="fill-taupe" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 64.8">
                    <path class="st0" d="M39.5,0.8C27,0.8,16.8,11,16.8,23.5c0,5.2,1.8,10,4.7,13.8L0,58.8l5.9,5.9l21.8-21.8c3.4,2.1,7.4,3.2,11.7,3.2 c12.5,0,22.7-10.2,22.7-22.7S51.9,0.8,39.5,0.8z M39.5,42.2c-10.3,0-18.7-8.4-18.7-18.7S29.2,4.8,39.5,4.8s18.7,8.4,18.7,18.7 S49.7,42.2,39.5,42.2z"></path>
                  </svg>
                </a>
              </li>
              <li class="header__utility-nav-second-list-item" id="Header_ShoppingCartLink">
                <span id="MiniShoppingCart_Label" class="accessibility">Shopping Cart</span>
                <div id="MiniShoppingCart" widgetId="MiniShoppingCart" controllerId="MiniShoppingCartController" ariaMessage="Shopping Cart Display Updated" ariaLiveId="ariaMessage" role="region" aria-labelledby="MiniShoppingCart_Label">
                  <div id="widget_minishopcart" role="button" tabindex="0" onKeyPress="showMiniShopCartDropDownEvent(event,'widget_minishopcart','quick_cart_container','orderItemsList');" onMouseOver="javascript:showMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemsListAutoClose');">
                    <div id="miniShopCartBody" class="">
                      <div id="miniShopCartOverlay" class="content_overlay" alt="Aurora"></div>
                      <div class="info">
                        <a href="http://www.davidsbridal.com/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10051&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10052&URL=https%3A%2F%2Fwww.davidsbridal.com%2FAjaxOrderItemDisplayView" class="cart header__utility-nav-second-list-item-link with-item">
                          <svg class="fill-taupe-to-white-large" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.3px" height="18.3px" viewBox="0 0 18.3 18.3" style="enable-background:new 0 0 18.3 18.3;" xml:space="preserve">
                            <g id="bag_x5F_grey">
                              <polygon class="" points="18.2,18.2 0.2,18.2 2.2,5.2 16.2,5.2  "></polygon>
                              <path class="" d="M9.2,1.2c1.7,0,3,1.3,3,3h1c0-2.2-1.8-4-4-4s-4,1.8-4,4h1C6.2,2.5,7.5,1.2,9.2,1.2z"></path>
                            </g>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div id="placeHolder"></div>

                  <div id="MiniShopCartProductAdded" style="display:none;">
                    <div id="MiniShopCartProductAddedWrapper">
                      <div id="widget_minishopcart_popup_1">
                        <a id="MiniShopCartCloseButton_2" href="javascript:dijit.byId('MiniShopCartProductAdded').hide();" class="close_control tlignore">
                          <div class="icon"></div>
                          <span class="close">Close</span>
                        </a>
                        <span class="notification">This item has been successfully added:</span>
                        <div class="products added">
                        </div>

                        <div id="modalRecommondation"></div>

                        <div class="actions">
                          <a id="GotoCartButton2" href="http://www.davidsbridal.com/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10051&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10052&URL=https%3A%2F%2Fwww.davidsbridal.com%2FAjaxOrderItemDisplayView" class="btn btn-1">Checkout</a>
                          <a href="javascript:dijit.byId('MiniShopCartProductAdded').hide();" class="btn btn-2">Continue Shopping</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <input type="hidden" id="currentOrderQuantity" value="0" />
                  <input type="hidden" id="currentOrderAmount" value="0.00" />
                  <input type="hidden" id="currentOrderCurrency" value="USD" />
                  <input type="hidden" id="currentOrderLanguage" value="-1" />
                  <input type="hidden" id="currentOrderId" value="" />

                  <div id="quick_cart_container" style="display:none;">
                    <span class="accessibility" id="quick_cart_container_ACCE_Label">Shopping Cart Popup</span>
                    <div id="quick_cart">
                      <div id="MiniShopCartProductsList">
                        <div id="widget_minishopcart_popup" class="minicart-popup">
                          <a id="MiniShopCartCloseButton_1" href="#close" class="icon-close">
                            <img class="header__main-nav-trigger-icon-image header__main-nav-trigger-icon-image--close" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/header/close.svg" alt="Close">
                          </a>
                          <div class="empty">Your cart is empty.</div>
                          <div class="go_to_cart">
                            <span>Subtotal does not include shipping, handling, or taxes</span>
                            <a onclick="headerGoToCart();" id="GotoCartButton1" href="http://www.davidsbridal.com/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10051&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10052&URL=https%3A%2F%2Fwww.davidsbridal.com%2FAjaxOrderItemDisplayView" class="btn btn-1" tabindex="0">Checkout</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="MiniShopCartContents" class="ctnr-minicart-popup" widgetId="MiniShopCartContents" controllerId="MiniShopCartContentsController"></div>
              </li>
            </ul>

            <!-- BEGIN Search.jsp -->
            <meta name="CommerceSearch" content="storeId_10052" />
            <!-- Begin Search Widget -->
            <form name="CatalogSearchForm" action="http://www.davidsbridal.com/SearchDisplay" method="get" id="CatalogSearchForm" class="header__search column">
              <!-- Search Widget -->
              <div class="widget_search_position header__search-field" role="search">
                <div id="widget_search">
                  <div class="content">
                    <div class="">
                      <label class="header__search-field-label" for="header-search-input">Search</label>
                      <input id="SimpleSearchForm_SearchTerm" type="search" class="search_input gray_color searchbox header__search-field-input" name="searchTerm" autocomplete="off" maxlength="65" tabindex="0" title="Press the Up or Down Arrow keys to navigate through the search suggestions. Suggested site content and search history, if any, are included after the suggestions.  Press the Enter key for all search results." onkeypress="return SearchJS._onKeyPress(event);" value='' placeholder='Search'></input>
                    </div>
                    <div class="">
                      <div role="button" aria-labelledby="searchDepartmentList_ACCE_Label" onclick="$('searchDepartmentList').style.display='block'" tabindex="0" class="all_departments">
                        <span class="header__search-field-icon">
                          <img id="search_submit" class="header__search-field-icon-image" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/header/search.svg" alt="Search">
                        </span>
                      </div>
                      <input id="search_categoryId" type="hidden" name="categoryId" value="" />
                      <span class="accessibility" id="searchDepartmentList_ACCE_Label">Search in</span>
                    </div>
                  </div><!-- content -->
                </div><!-- widget_search -->
              </div>
              <!-- widget_search_position -->
              <!-- Start SearchDropdownWidget -->

              <div class="header__search-autocomplete-dropdown " id="AutoSuggestDiv" role="region" aria-required="true" aria-labelledby="AutoSuggestDiv" onmouseover="SearchJS.autoSuggestHover = true;" onmouseout="SearchJS.autoSuggestHover = false; document.getElementById('SimpleSearchForm_SearchTerm').focus();">
                <span id="autoSuggestDynamic_Result_div_ACCE_Label" class="accessibility">Suggested keywords menu</span>
                <div widgetId="autoSuggestDisplay_Widget" controllerId="AutoSuggestDisplayController" id="autoSuggestDynamic_Result_div" role="region" aria-live="polite" aria-atomic="true" aria-relevant="all" aria-labelledby="autoSuggestDynamic_Result_div_ACCE_Label"></div>
                <div id="autoSuggestStatic_1" class="spacing-zero"></div>
                <div id="autoSuggestStatic_2" class="spacing-zero"></div>
                <div id="autoSuggestStatic_3" class="spacing-zero"></div>
                <div id="autoSuggestHistory" class="spacing-zero"></div>
                <p class="searchbox-view-all-results"><a class="sans-m-bold-uppercase" id="viewAllResults" href="#">View all results&nbsp;&gt;</a></p>
              </div>

              <!-- Refresh area to retrieve cached suggestions -->
              <span id="autoSuggestCachedSuggestions_div_ACCE_Label" class="accessibility">Suggested site content and search history menu</span>
              <div widgetId="AutoSuggestCachedSuggestions" controllerId="AutoSuggestCachedSuggestionsController" id="autoSuggestCachedSuggestions_div" role="region" aria-live="polite" aria-atomic="true" aria-relevant="all" style="display:none;" aria-labelledby="autoSuggestCachedSuggestions_div_ACCE_Label"></div>
              <input type="hidden" name="storeId" value='10052' />
              <input type="hidden" name="catalogId" value='10051' />
              <input type="hidden" name="langId" value='-1' />
              <input type="hidden" name="pageSize" value="40" />
              <input type="hidden" name="beginIndex" value="0" />
              <input type="hidden" name="sType" value="SimpleSearch" />
              <input type="hidden" name="resultCatEntryType" value="2" />
              <input type="hidden" name="showResultsPage" value="true" />
              <input type="hidden" name="searchSource" value="Q" />
              <input type="hidden" name="pageView" value="" />
              <span id="searchTextHolder" class="nodisplay"></span>
            </form>
            <!-- End Search Widget -->
            <!-- END Search.jsp -->
          </nav>

          <div class="header__personal-nav" data-dropdown-menu-hover-trigger="personal-nav" data-slide-menu-trigger="account">
            <div class="header__personal-nav-account relative">
              <a class="header__personal-nav-account-icon-link" href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">
                <span class="header__personal-nav-account-icon">
                  <svg class="fill-taupe-to-gray-med" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.8">
                    <path d="M18.6,17.9c2,1.1,3.6-0.3,3.6-0.3c-0.2,0-0.4-0.2-0.6-0.3c1,0.1,1.8-0.6,1.8-0.6c-0.1-0.1-0.3-0.2-0.4-0.3 c0.6-0.5,1-0.9,1-0.9s-1.8-1.2-1.8-7.8c0-3.2-2.1-5.9-4.9-6.8c-2.8-0.4-4,1.2-4,1.2c-1-0.6-2.1-0.4-2.9,0.2C8.8,3.6,7.8,5.5,7.8,7.7 c0,6.6-1.8,7.8-1.8,7.8s0.3,0.4,1,0.9c-0.2,0.2-0.3,0.3-0.4,0.3c0,0,0.8,0.7,1.8,0.6c-0.2,0.2-0.4,0.3-0.6,0.3c0,0,1.6,1.4,3.6,0.3 c-0.1,4.7-10.7,3.6-10.7,9.5v1.2c0,0.3,0.3,0.6,0.6,0.6h27.5c0.3,0,0.6-0.3,0.6-0.6v-1.2C29.3,21.4,18.7,22.6,18.6,17.9z"></path>
                  </svg>
                </span>
                <span class="header__personal-nav-account-text sans-xs header-SignIn-new"></span>
              </a>
            </div>
          </div>
          <div id="catalog_navigation_menu_container" class="header__primary-dropdown" data-menu-status="closed" data-menu-active-topic="brides">
            <a class="header__main-nav-trigger" href="#">
              <span class="header__main-nav-trigger-icon">
                <img class="header__main-nav-trigger-icon-image header__main-nav-trigger-icon-image--open" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/header/menu.svg" alt="Open">
                <img class="header__main-nav-trigger-icon-image header__main-nav-trigger-icon-image--close" src="/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/header/close.svg" alt="Close">
              </span>
              <span class="header__main-nav-trigger-text header__main-nav-trigger-text--main">Menu</span>
              <span class="header__main-nav-trigger-text header__main-nav-trigger-text--topic">
              <!-- DO NOT REMOVE THIS COMMENT - Added to avoid duplicate department display  --><!-- BEGIN Department.jsp -->

                <script>
                  var allL1Cats = [];
                </script>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="BRIDES">Brides</span>
                <style>
                  [data-menu-active-topic='BRIDES'] .header__main-nav-trigger-text-topic[data-trigger-topic='BRIDES'] {
                    display: block; }
                    @media screen and (max-width: 1023px) {
                      [data-menu-active-topic='BRIDES'] .header__main-nav-topic[data-menu-topic='BRIDES'] {
                        display: block; }
                      [data-menu-active-topic='BRIDES'] [data-menu-topic='BRIDES'] .header__main-nav-topic-section-list {
                        display: block;
                        padding-left: 0; }
                    }
                    @media screen and (min-width: 1023px) {
                      [data-topic-status='open'] .header__main-nav-topic-heading-link,
                      [data-menu-active-topic='BRIDES'] [data-menu-topic='BRIDES'] .header__main-nav-topic-heading-link {
                        background-color: #ffffff;
                        border-left: 1px solid #74736d;
                        border-right: 1px solid #74736d;
                        border-top: 3px solid #F3665C; }
                    }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="BRIDESMAIDS">Bridesmaids</span>
                <style>
                  [data-menu-active-topic='BRIDESMAIDS'] .header__main-nav-trigger-text-topic[data-trigger-topic='BRIDESMAIDS'] {
                    display: block; }
                    @media screen and (max-width: 1023px) {
                      [data-menu-active-topic='BRIDESMAIDS'] .header__main-nav-topic[data-menu-topic='BRIDESMAIDS'] {
                        display: block; }
                      [data-menu-active-topic='BRIDESMAIDS'] [data-menu-topic='BRIDESMAIDS'] .header__main-nav-topic-section-list {
                        display: block;
                        padding-left: 0; }
                    }
                    @media screen and (min-width: 1023px) {
                      [data-topic-status='open'] .header__main-nav-topic-heading-link,
                      [data-menu-active-topic='BRIDESMAIDS'] [data-menu-topic='BRIDESMAIDS'] .header__main-nav-topic-heading-link {
                        background-color: #ffffff;
                        border-left: 1px solid #74736d;
                        border-right: 1px solid #74736d;
                        border-top: 3px solid #F3665C; }
                    }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="DRESSES">Dresses</span>
                <style>
                  [data-menu-active-topic='DRESSES'] .header__main-nav-trigger-text-topic[data-trigger-topic='DRESSES'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='DRESSES'] .header__main-nav-topic[data-menu-topic='DRESSES'] {
                      display: block;
                    }
                    [data-menu-active-topic='DRESSES'] [data-menu-topic='DRESSES'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='DRESSES'] [data-menu-topic='DRESSES'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="ACCESSORIES">Accessories</span>
                <style>
                  [data-menu-active-topic='ACCESSORIES'] .header__main-nav-trigger-text-topic[data-trigger-topic='ACCESSORIES'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='ACCESSORIES'] .header__main-nav-topic[data-menu-topic='ACCESSORIES'] {
                      display: block;
                    }
                    [data-menu-active-topic='ACCESSORIES'] [data-menu-topic='ACCESSORIES'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='ACCESSORIES'] [data-menu-topic='ACCESSORIES'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="SHOES">Shoes</span>
                <style>
                  [data-menu-active-topic='SHOES'] .header__main-nav-trigger-text-topic[data-trigger-topic='SHOES'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='SHOES'] .header__main-nav-topic[data-menu-topic='SHOES'] {
                      display: block;
                    }
                    [data-menu-active-topic='SHOES'] [data-menu-topic='SHOES'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='SHOES'] [data-menu-topic='SHOES'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="DECORATIONS-GIFTS">Gifts &amp; Decorations</span>
                <style>
                  [data-menu-active-topic='DECORATIONS-GIFTS'] .header__main-nav-trigger-text-topic[data-trigger-topic='DECORATIONS-GIFTS'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='DECORATIONS-GIFTS'] .header__main-nav-topic[data-menu-topic='DECORATIONS-GIFTS'] {
                      display: block;
                    }
                    [data-menu-active-topic='DECORATIONS-GIFTS'] [data-menu-topic='DECORATIONS-GIFTS'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='DECORATIONS-GIFTS'] [data-menu-topic='DECORATIONS-GIFTS'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="PROM">Prom</span>
                <style>
                  [data-menu-active-topic='PROM'] .header__main-nav-trigger-text-topic[data-trigger-topic='PROM'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='PROM'] .header__main-nav-topic[data-menu-topic='PROM'] {
                      display: block;
                    }
                    [data-menu-active-topic='PROM'] [data-menu-topic='PROM'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='PROM'] [data-menu-topic='PROM'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <span class="header__main-nav-trigger-text-topic" data-trigger-topic="SALE">Sale</span>
                <style>
                  [data-menu-active-topic='SALE'] .header__main-nav-trigger-text-topic[data-trigger-topic='SALE'] {
                    display: block;
                  }
                  @media screen and (max-width: 1023px) {
                    [data-menu-active-topic='SALE'] .header__main-nav-topic[data-menu-topic='SALE'] {
                      display: block;
                    }
                    [data-menu-active-topic='SALE'] [data-menu-topic='SALE'] .header__main-nav-topic-section-list {
                      display: block;
                      padding-left: 0;
                    }
                  }
                  @media screen and (min-width: 1023px) {
                    [data-topic-status='open'] .header__main-nav-topic-heading-link,
                    [data-menu-active-topic='SALE'] [data-menu-topic='SALE'] .header__main-nav-topic-heading-link {
                      background-color: #ffffff;
                      border-left: 1px solid #74736d;
                      border-right: 1px solid #74736d;
                      border-top: 3px solid #F3665C;
                    }
                  }
                </style>

                <script>
                  jQuery(document).ready(function() {
                    try {
                      document.getElementById("catalog_navigation_menu_container").setAttribute("data-menu-active-topic", (!document.activeL1Topic || document.activeL1Topic == "") ? "menu" : document.activeL1Topic);
                    } catch (e) {}
                    var espots = jQuery(".catalog_nav_espots");
                    for (var i = 0; i < espots.length; i++) {
                      var espot = espots[i],
                        espotName = espot.getAttribute("espot-name") + "_";
                      if (typeof(espot) == "function") return;
                      if (espot.innerHTML.indexOf(espotName) == -1) {
                        dojo.destroy(espot);
                      }
                    }
                  });
                </script>
              <!-- END Department.jsp -->
              </span>
            </a>




            <div class="header__primary-dropdown-content">
              <div class="header__primary-dropdown-row header__primary-dropdown-row--primary">
                <nav class="header__main-nav" aria-label="Departments">
                  <div class="header__main-nav-content">
                    <!-- DO NOT REMOVE THIS COMMENT - Added to avoid duplicate department display  -->
                    <!-- BEGIN Department.jsp -->

                    <script>
                      var allL1Cats = [];
                    </script>

                    <ul class="header__main-nav-topic-list">
                      {{> espots-ES_HEADER_TOPNAV_BRIDES }}
                      {{> espots-ES_HEADER_TOPNAV_BRIDESMAIDS }}
                      {{> espots-ES_HEADER_TOPNAV_DRESSES }}
                      {{ molecules-plus-size}}
                      {{> espots-ES_HEADER_TOPNAV_ACCESSORIES }}
                      {{> espots-ES_HEADER_TOPNAV_SHOES }}
                      {{> espots-ES_HEADER_TOPNAV_DECORATIONS-GIFTS }}
                      {{> espots-ES_HEADER_TOPNAV_PROM }}
                      {{> espots-ES_HEADER_TOPNAV_SALE }}
                      {{> espots-ES_HEADER_TOPNAV_THE-BLOG }}
                    </ul>

                    <!-- END Department.jsp -->
                  </div>
                </nav>
              </div>


              <div class="header__primary-dropdown-row header__primary-dropdown-row--secondary">
                <!-- BEGIN DBIBusinessNavigationMenu.jsp -->
                <script>
                  var businessNavJSONData = {};
                </script>
                <nav class="header__business-nav">
                  <ul class="header__business-nav-link-list sans-m-bold-uppercase--business-nav-link-list">

                    {{> molecules-rewards }}
                    {{> molecules-invitations }}
                    {{> molecules-inspiration-guidance }}
                    {{> molecules-tuxedos-suits }}

                  </ul>
                </nav>

                <script type="text/javascript">
                  var headerCatalogMainMenu = "Main Menu";
                  var homePageString = "Homepage";
                  jQuery(document).ready(function() {
                    var htmlString = [],
                      menuTitleString = [];
                    for (var i in businessNavJSONData) {
                      htmlString.push("<li class=\"header__main-nav-topic header__main-nav-topic-business\" data-menu-topic=\"" + i + "\" data-topic-status=\"closed\" role=\"menuitem\">");
                      htmlString.push("<div class=\"header__main-nav-topic-heading\">")
                      htmlString.push("<a onclick=\"headerClickEvent(\"" + i + "\");\" class=\"header__main-nav-topic-heading-link sans-bold-uppercase\">");
                      htmlString.push(i);
                      htmlString.push("</a>");
                      htmlString.push("</div>");


                      for (var j = 0; j < businessNavJSONData[i]['data'].length; j++) {
                        if (j == 0) {
                          htmlString.push("<ul class=\"header__main-nav-topic-section-list\">");
                          htmlString.push("<li class=\"hide-at-large\">");
                          htmlString.push("<a class=\"header__main-nav-topic-section-link--main sans-bold-uppercase\" href=\"#\" data-menu-back=\"\">" + headerCatalogMainMenu + "</a>");
                          htmlString.push("</li>");
                          htmlString.push("<li class=\"header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large\">");
                          htmlString.push("<a onclick=\"businessNavClickEvent(\"" + i + "\");\" class=\"sans-bold-uppercase\" href=\"" + businessNavJSONData[i]['targetURL'] + "\" >");
                          htmlString.push(i + "&nbsp;" + homePageString);
                          htmlString.push("</a>");
                          htmlString.push("</li>");
                          menuTitleString.push("<span class=\"header__main-nav-trigger-text-topic\" data-trigger-topic=\"" + i + "\">" + i + "</span>");
                          htmlString.push("<li class=\"header__main-nav-topic-section spacing-half\">");
                          htmlString.push("<div class=\"header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic\">");
                          htmlString.push("<a class=\"header__main-nav-topic-section-heading-link\">" + i + "</a>");
                          htmlString.push("</div>");
                          htmlString.push("<ul class=\"header__main-nav-topic-business-section-item-list\">");
                        }
                        var currentItem = businessNavJSONData[i]['data'][j];
                        htmlString.push("<li class=\"header__main-nav-topic-section-item\">");
                        htmlString.push("<a onclick=\"headerClickEvent(\"" + i + "\", \"" + currentItem['item'] + "\");\" class=\"header__main-nav-topic-section-item-link sans-xs\" href='" + currentItem['url'] + "'>" + currentItem['item'] +
                          "</a>");
                        htmlString.push("</li>");
                      }
                      htmlString.push("</ul>");
                      htmlString.push("<p class=\"header__main-nav-topic-section-paragraph\" espot-name=\"ES_SWIMLANE_BOTTOMLINK_" + i + "_1\">");
                      htmlString.push("</p>");
                      htmlString.push("</li>");
                      htmlString.push("</ul>");
                      htmlString.push("</li>");
                    }
                    $(".header__main-nav-topic-list").append(htmlString.join(''));
                    $(".header__main-nav-trigger-text.header__main-nav-trigger-text--topic").append(menuTitleString.join(''));
                    switchMobileMenuStatus();

                  });
                </script>

                <!-- END DBIBusinessNavigationMenu.jsp -->
              </div>
              <div class="header__primary-dropdown-row header__primary-dropdown-row--secondary">
                <div class="header__primary-dropdown-actions">
                  <span class="header__personal-nav-account-icon header__primary-dropdown-account-state-change">
                    <div class="header__personal-nav-account relative">
                      <a class="header__personal-nav-account-icon-link" href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=SiteReg">
                        <span class="header__personal-nav-account-icon">
                          <svg class="fill-taupe-to-gray-med" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 29.8">
                            <path d="M18.6,17.9c2,1.1,3.6-0.3,3.6-0.3c-0.2,0-0.4-0.2-0.6-0.3c1,0.1,1.8-0.6,1.8-0.6c-0.1-0.1-0.3-0.2-0.4-0.3 c0.6-0.5,1-0.9,1-0.9s-1.8-1.2-1.8-7.8c0-3.2-2.1-5.9-4.9-6.8c-2.8-0.4-4,1.2-4,1.2c-1-0.6-2.1-0.4-2.9,0.2C8.8,3.6,7.8,5.5,7.8,7.7 c0,6.6-1.8,7.8-1.8,7.8s0.3,0.4,1,0.9c-0.2,0.2-0.3,0.3-0.4,0.3c0,0,0.8,0.7,1.8,0.6c-0.2,0.2-0.4,0.3-0.6,0.3c0,0,1.6,1.4,3.6,0.3 c-0.1,4.7-10.7,3.6-10.7,9.5v1.2c0,0.3,0.3,0.6,0.6,0.6h27.5c0.3,0,0.6-0.3,0.6-0.6v-1.2C29.3,21.4,18.7,22.6,18.6,17.9z"></path>
                          </svg>
                        </span>
                        <span class="header__personal-nav-account-text sans-xs">Sign in</span>
                      </a>
                    </div>
                  </span>

                  <div class="header__primary-dropdown-currency">
                    <div class="header__personal-nav-currency">
                      <form class="header__personal-nav-currency-form" action="#">
                        <div class="header__personal-nav-currency-input">
                          <span class="header__personal-nav-currency-label-currency"></span>
                          <span class="header__personal-nav-currency-label-flag">
                            <a id="e4x_flagdiv_header" href="https://www.davidsbridal.com/InternationalLandingView?catalogId=10051&amp;langId=-1&amp;storeId=10052">
                              <img id="e4x_flag_header_d" src="/AuroraPlusStorefrontAssetStore/images/intflags/US.png" alt="Country" />
                            </a>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- END Header.jsp -->
</div>
