<div class="ctnr-footer">
  <!-- BEGIN Footer.jsp -->

  <footer role="contentinfo">
    {{> espots-ES_Social_Share }}

    <div id="footer" class="footer-links mobile-hidden">
      <div class="row-no-stack">
        <div class="span2">
          {{> espots-ES_Footer_1 }}
        </div>
        <div class="span2">
          {{> espots-ES_Footer_2 }}
        </div>
        <div class="span2">
          {{> espots-ES_Footer_3 }}
        </div>
        <div class="span2">
          {{> espots-ES_Footer_4 }}
        </div>
        <div class="span2">
          {{> espots-ES_Footer_5 }}
        </div>
        <div class="span2 tablet-stack">
          {{> espots-ES_Footer_6 }}
        </div>
      </div>
    </div>

    <div class="ctnr-partners">
      {{> espots-ES_ExclusivePartners }}
    </div>


    <div class="footer-promo">
      {{> espots-ES_Promotion }}
    </div>

    <div class="footer-copy">
      <div id="ctnr-flag-2" class="ctnr-flag-m"></div>
      <div class="copy-links">
        <ul>
          <li id="ctnr-trust-d" class="ctnr-trust-d">
            <span id="ctnr-trust" class="ctnr-trust">
              <a href="https://www.paypal.com/in/webapps/mpp/paypal-popup" class="PayPal-link" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/in/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                 <img src="/AuroraPlusStorefrontAssetStore/images/colors/color1/footer/now_accepting_pp.png" border="0" alt="Now accepting PayPal">
              </a>
            </span>
          </li>
          <li class="ctnr-copy">&#169; 2002-2017 Davids Bridal. All Rights Reserved. <span>&nbsp;&nbsp;|&nbsp;</span></li>
          <li class="icon-dot"><a href="http://www.davidsbridal.com/Content_Legal_privacy">Privacy Policy</a></li>
          <li class="icon-dot"><a href="http://www.davidsbridal.com/Content_Legal_privacy#CaliforniaPrivacyRights">California Privacy Rights</a></li>
          <li class="icon-dot"><a href="http://www.davidsbridal.com/Content_Legal_ethics">Transparency in Supply Chain</a></li>
          <li class="icon-dot"><a href="http://www.davidsbridal.com/Content_Legal_terms">Terms & Conditions</a></li>
          <li class="icon-dot mobile-only"><a href="http://www.davidsbridal.com/Content_HelpFAQ_helphome">Help</a></li>
          <li class="icon-dot mobile-only"><a href="http://www.davidsbridal.com/Content_HelpFAQ_helporderstatus?leftNav=true#orderStatus">Order Status</a></li>
          <li class="icon-dot mobile-only"><a href="http://jobs.davidsbridal.com/ ">Careers</a></li>
          <li class="icon-dot icon-dot-last"><a href="http://www.davidsbridal.com/sitemap">Site Map</a></li>
          <li id="ctnr-flag-1">
            <a id="e4x_flagdiv" href="http://www.davidsbridal.com/InternationalLandingView?catalogId=10051&amp;langId=-1&amp;storeId=10052">Change Region&nbsp;&nbsp;<img id="e4x_flag_d" src="/AuroraPlusStorefrontAssetStore/images/intflags/US.png" alt="Testing" /></a>
          </li>
        </ul>
      </div>
      <div id="ctnr-trust-t" class="ctnr-trust-t"></div>
    </div>
    <!--End Footer Content -->

  </footer>
  <!-- END Footer.jsp -->
</div>