{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/about-us/styles.css">

      <!-- HTML -->
      {{> templates-about-us }}

      <!-- JS -->
      <script type="text/javascript" src="https://cdns.gigya.com/JS/gigya.js?apiKey=2_8MPxVvTo5jvagDj9VK-NSZKt2gBPaUYxs5okAKYBd-XCymVHC2Ofd-h5ktLWudz6"></script>
      <script type="text/javascript" src="/assets/js/sfg/about-us.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>