{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/alterations/styles.css">

      <!-- HTML -->
      {{> templates-alterations }}

      <!-- JS -->
      <script type="text/javascript" src="/assets/js/min/gigya-share-bar.min.js"></script>
      <script type="text/javascript" src="/assets/js/sfg/alterations.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>