{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/bridal-guide-hub/styles.css">

      <!-- HTML -->
      {{> templates-bridal-guide-hub }}


    </div>
  </div>

  {{> organisms-footer }}
</div>