{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/color-chart/styles.css">

      <!-- HTML -->
      {{> templates-color-chart }}

      <!-- JS -->
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>