{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/fall-wedding-ideas/styles.css">

      <!-- HTML -->
      {{> templates-fall-wedding-ideas }}

      <!-- JAVASCRIPT -->
      <!-- Pinterest -->
      <!-- <script async defer src="//assets.pinterest.com/js/pinit.js"></script> -->

      <!-- Gigya -->
      <script type="text/javascript" src="/assets/js/sfg/fall-wedding-ideas.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>