{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/inspiration-guidance-sitemap/styles.css">

      <!-- HTML -->
      {{> templates-inspiration-guidance-sitemap }}

    </div>
  </div>

  {{> organisms-footer }}
</div>