{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/love-stories-tv/styles.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css">

      <!-- HTML -->
      {{> templates-love-stories-tv }}

      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdns.gigya.com/JS/gigya.js?apiKey=2_8MPxVvTo5jvagDj9VK-NSZKt2gBPaUYxs5okAKYBd-XCymVHC2Ofd-h5ktLWudz6"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script><!-- http://sorgalla.com/lity/ -->
      <script type="text/javascript" src="/assets/js/sfg/love-stories-tv.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>