{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/military-discount-coming-soon/styles.css">

      <!-- HTML -->
      {{> templates-military-discount-coming-soon }}

      <!-- JS -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script type="text/javascript" src="/assets/js/sfg/military-discount-coming-soon.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>