{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css">
      <link rel="stylesheet" href="/assets/css/pages/wedding-themes/minimalist-wedding-ideas/styles.css">

      <!-- HTML -->
      {{> templates-minimalist-wedding-ideas }}

      <!-- JAVASCRIPT -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script>
      <script type="text/javascript" src="/assets/js/sfg/wedding-themes/minimalist-wedding-ideas.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>