{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/neckline-jewelry/styles.css">

      <!-- HTML -->
      {{> templates-neckline-jewelry }}

      <!-- JS -->
      <script type="text/javascript">
        (function($) {
          $(window).load(function() {
            $.ajax({
              url: '/wcsstore/images/wwcm/js/custom-jquery-plugins/gigya-share-bar.min.js'
            }).done(function() {
              $('#socialShareIcons').gigyaShareBar({
                image: "/wcsstore/images/wwcm/sfg/neckline-jewelry/Hero_Neckline_Jewelry_Guide_767.jpg"
              });
            });
          });
        }(jQuery));
      </script>

    </div>
  </div>

  {{> organisms-footer }}
</div>