{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/plus-size-guide/styles.css">

      <!-- HTML -->
      {{> templates-plus-size-guide }}

      <!-- JAVASCRIPT -->
      <script type="text/javascript" src="https://cdns.gigya.com/JS/gigya.js?apiKey=2_8MPxVvTo5jvagDj9VK-NSZKt2gBPaUYxs5okAKYBd-XCymVHC2Ofd-h5ktLWudz6"></script>
      <script type="text/javascript" src="/assets/js/sfg/plus-size-guide.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>