{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/something-blue/styles.css">

      <!-- HTML -->
      {{> templates-something-blue }}

      <!-- JS -->
      <script type="text/javascript" src="/assets/js/sfg/something-blue.js"></script>

    </div>
  </div>

  {{> organisms-footer }}
</div>