{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/versa-new-styles/styles.css">

      <!-- HTML -->
      {{> templates-versa-new-styles }}

      <!-- JS -->
      <script src="/assets/js/min/gigya-share-bar.min.js"></script>
      <script src="/assets/js/sfg/versa-new-styles.js"></script>
      

    </div>
  </div>

  {{> organisms-footer }}
</div>