{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/what-to-wear-summer-wedding/styles.css">

      <!-- HTML -->
      {{> templates-what-to-wear-summer-wedding }}

      <!-- JS -->
      <script type="text/javascript" src="/assets/wcsstore/images/wwcm/js/custom-jquery-plugins/gigya-share-bar.min.js"></script>
      <script type="text/javascript">
        jQuery('#socialShareIcons').gigyaShareBar({
          image: "/wcsstore/images/wwcm/sfg/wtw-summer-wedding/Casual_Hero.jpg"
        });
      </script>
      

    </div>
  </div>

  {{> organisms-footer }}
</div>