<section class="espot-container three-across" data-analytics-tagging="MOB-EveryWeddingEvent-Prom">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_7">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_MOB.jpg" alt="Bride and mother of the bride laughing together." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Mother of the Bride & Groom</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">Colors, trends, advice & more&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

<div class="column" data-analytics-position="Module_8">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_whattowearsummerweddings">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/Vertical_Cat_Crop_WTW_SummerWeddings.jpg" alt="Wedding guest wearing off-the-shoulder dress with black top and floral print bottom">
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">What to Wear: Summer Weddings</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_whattowearsummerweddings">Be The Best-Dressed Guest&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_9">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_E-Spot_v1.jpg" alt="neon lights on a black background advertising prom dresses up to 75% off" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Homecoming</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom">Shop Homecoming Styles&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
