<style type="text/css">
	.topBannerContainer { width:100%; background-color:#f8b3ae; text-align:center; margin:auto; padding:10px; font-family:'Open Sans',Verdana,Helvetica, Arial,'Droid Sans',sans-serif; font-size:12px; line-height:22px; color:#333; }
	.topBannerHeadline { font-family:'Domaine Display','Bodoni 72','Times New Roman',Times,'Droid Serif',serif; font-size:18px; color:#333; font-style:italic; }
	.topBannerHeadline a { font-family:'Open Sans',sans-serif; font-size:12px; color:#333; font-style:normal; font-weight:bold; text-decoration:none; }
</style>
<section data-analytics-tagging="CLPTopPromoBanner"  style="margin-bottom:10px;">
<div class="topBannerContainer">
	<span class="topBannerHeadline">$20 off any regular price dress for mom with code GOMOM3<br class="desktop-hidden tablet-hidden"><span class="mobile-hidden" style="font-style:normal;">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="/dresses/mother-of-the-bride-dresses">SHOP NOW &gt;</a><!--<a href="/wcsstore/images/wwcm/specialoffers/coupon_20offMOB-Jun18.pdf" target="_blank">GET THE COUPON &gt;</a>--></span>
</div>

<div class="column-full align-center" style="line-height:1; margin:2px auto 0;">
  <p class="sans-xxs">*Ends 9/30/18. Cannot be combined. <a href="/Content_BuyOnline_offers" style="display:inline;" data-toppromo-message="Details"><span class="underline">Details</span></a>.</p>
</div>
</section>
