<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/shoes/all-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/CompleteYourDay_Module_414x284_Shoes.jpg" alt="Strappy shoes with embellishment and block heel in grass">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Shoes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/shoes/all-shoes">Shop Styles&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/jewelry">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/CompleteYourDay_Module_414x284_Jewelry.jpg" alt="Jewelry tray with black tassel earrings and beaded earrings, and flowers">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Jewelry</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/jewelry">Buy One, Get One 50% Off&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/SearchDisplay?categoryId=3002839&storeId=10052&langId=-1#!&facet:30744573456166666718311297110120&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Spanx&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/CompleteYourDay_Module_414x284_Spanx.jpg" alt="Bride wearing Spanx bridal shapewear">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Spanx&reg;</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/SearchDisplay?categoryId=3002839&storeId=10052&langId=-1#!&facet:30744573456166666718311297110120&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Spanx&">Shop Spanx&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/handbags">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/CompleteYourDay_Module_414x284_EveningBags.jpg" alt="Embellished clutch handbag perfect for any event">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Evening Bags</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/handbags">Shop Styles From $19.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
