<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0;
        display: inline-block; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
        .few-favorites-carousel__inner--heading p.serif-m-italic {
          margin-right: 18px; }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
</style>

<div class="few-favorites-carousel" data-analytics-tagging="Trending-Products">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a id="dressesCarouselPrev" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" aria-label="See previous product">
        <svg class="few-favorites-carousel-button-prev" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div id="dressesCarouselSlick" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#dressesCarouselPrev", "nextArrow": "#dressesCarouselNext" }'>
        
        <!-- X35241DH232 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-high-neck-gown-with-ladder-back-detail-x35241dh232">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-X35241DH232-10881531-Navy?$plpproductimgmobile_2up$" alt="Chiffon High-Neck Gown with Ladder Back Detail">
          </a>
        </div>

        <!-- 12089 -->
        <div class="slick-slide">
          <a href="/Product_lace-keyhole-tie-back-halter-dress-12089" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-12089-10511155-Taupe?$plpproductimgmobile_2up$" alt="Lace Keyhole Tie Back Halter Dress">
          </a>
        </div>

        <!-- 21655W -->
        <div class="slick-slide">
          <a href="/Product_cold-shoulder-plus-size-ball-gown-with-floral-lace-21655w">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21655W-10962250-Black_Taupe?$plpproductimgmobile_2up$" alt="Cold Shoulder Plus Size Ball Gown with Floral Lace">
          </a>
        </div>

        <!-- 1298 -->
        <div class="slick-slide">
          <a href="/Product_sleeveless-key-hole-beaded-waist-jersey-dress-1298">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1298-10231881-Red?$plpproductimgmobile_2up$" alt="Sleeveless KeyHole Beaded Waist Jersey Dress">
          </a>
        </div>

        <!-- JA28721H540 -->
        <div class="slick-slide">
          <a href="/Product_short-daisy-lace-sheath-with-spaghetti-straps-ja28721h540">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JA28721H540-10956853-Mauve?$plpproductimgmobile_2up$" alt="Short Daisy Lace Sheath with Spaghetti Straps">
          </a>
        </div>

        <!-- 785X -->
        <div class="slick-slide">
          <a href="/Product_deep-v-neck-spaghetti-strap-sheath-with-beading-785x">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-785X-10977312-Navy?$plpproductimgmobile_2up$" alt="Deep V-Neck Spaghetti Strap Sheath with Beading">
          </a>
        </div>

        <!-- X91691QJ1 -->
        <div class="slick-slide">
          <a href="/Product_glitter-lace-pleated-two-piece-short-dress-x91691qj1">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-X91691QJ1-10977498-Blush?$plpproductimgmobile_2up$" alt="Glitter Lace Pleated Two-Piece Short Dress">
          </a>
        </div>

        <!-- 6628KP6C -->
        <div class="slick-slide">
          <a href="/Product_short-cap-sleeve-lace-dress-with-beaded-waist-6628kp6c" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/6628KP6C_MIVORYNUDE_PRTY_PROD4_043?$plpproductimgmobile_2up$" alt="Short Cap Sleeve Lace Dress with Beaded Waist">
          </a>
        </div>

        <!-- 3552DB -->
        <div class="slick-slide">
          <a href="/Product_sequin-lace-dress-with-mikado-skirt-3552db">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3552DB-10647616-Champagne?$plpproductimgmobile_2up$" alt="Sequin Lace Dress with Mikado Skirt">
          </a>
        </div>

        <!-- 1811E6112 -->
        <div class="slick-slide">
          <a href="/Product_one-shoulder-mikado-mermaid-dress-with-3d-flowers-1811e6112">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1811E6112-10983923-Almond?$plpproductimgmobile_2up$" alt="One-Shoulder Mikado Mermaid  Dress with 3D Flowers">
          </a>
        </div>

        <!-- 1709231 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-sheath-dress-with-tiered-flutter-sleeves-1709231">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1709231-10977880-Mauve?$plpproductimgmobile_2up$" alt="Chiffon Sheath Dress with Tiered Flutter Sleeves">
          </a>
        </div>

        <!-- 59358D -->
        <div class="slick-slide">
          <a href="/Product_floral-applique-illusion-bodice-knit-mermaid-gown-59358d">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-59358D-10955751-Dusk?$plpproductimgmobile_2up$" alt="Floral Applique Illusion Bodice Knit Mermaid Gown">
          </a>
        </div>

        <!-- 12150901 -->
        <div class="slick-slide">
          <a href="/Product_mademoiselle-lace-plus-size-dress-12150901" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-12150901-10875242-Black?$plpproductimgmobile_2up$" alt="Mademoiselle Lace Plus Size Dress">
          </a>
        </div>

        <!-- 59241D -->
        <div class="slick-slide">
          <a href="/Product_embroidered-floral-sequin-mesh-mermaid-gown-59241d" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/59241D_MBLUSHGOLD_MOB_PROD12_010?$plpproductimgmobile_2up$" alt="Embroidered Floral Sequin Mesh Mermaid Gown">
          </a>
        </div>

        <!-- 29989 -->
        <div class="slick-slide">
          <a href="/Product_short-patchwork-beaded-a-line-wedding-dress-29989">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-29989-10998428-Blush?$plpproductimgmobile_2up$" alt="Lara Annabelle Beaded Mesh A-Line Dress">
          </a>
        </div>

        <!-- 24799 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-three-piece-pantsuit-with-high-low-jacket-24799" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-24799-10884959-Eggplant?$plpproductimgmobile_2up$" alt="Chiffon Three-Piece Pantsuit with High-Low Jacket">
          </a>
        </div>

        <!-- 117152 -->
        <div class="slick-slide">
          <a href="/Product_cap-sleeves-embroidered-dress-with-tulle-godets-117152">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-117152-10610391-Silver?$plpproductimgmobile_2up$" alt="Cap Sleeves Embroidered Dress with Tulle Godets">
          </a>
        </div>

        <!-- 111537DB -->
        <div class="slick-slide">
          <a href="/Product_printed-round-neck-chiffon-gown-with-beaded-waist-111537db">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-111537DB-10889256-Black_Multi?$plpproductimgmobile_2up$" alt="Printed Round-Neck Chiffon Gown with Beaded Waist">
          </a>
        </div>

        <!-- 8950DW -->
        <div class="slick-slide">
          <a href="//Product_cold-shoulder-plus-size-gown-with-crystal-accents-8950dw" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/8950DW_MNAVY_MOB_PROD8_2354?$plpproductimgmobile_2up$" alt="Cold Shoulder Plus Size Gown with Crystal Accents">
          </a>
        </div>

        <!-- 7772W -->
        <div class="slick-slide">
          <a href="/Product_mock-two-piece-lace-and-jersey-pant-suit-7772w" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/7772W_MMOCHA_MOB_V2_PROD3_036?$plpproductimgmobile_2up$" alt="Mock Two Piece Lace and Jersey Pant Suit">
          </a>
        </div>

      </div>

      <a id="dressesCarouselNext" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" aria-label="See next product">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var dressesCarouselSlick = $('#dressesCarouselSlick');
  dressesCarouselSlick.slick({
    autoplay: false,
    slidesToShow: 6,
    slidesToScroll: 1,
    variableWidth: false,
    infinite: true,
    centerMode: false,
    dots: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }
    ]
  });
  $('#dressesCarouselPrev, #dressesCarouselNext').on("click", function(event){
    event.preventDefault();
  });
});
</script>
