<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>

<section class="espot-container three-across" data-analytics-tagging="DressesForMom-PlusSizes-FormalDresses">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/cocktail-party-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_Cocktail.jpg" alt="Lady in short cocktail dress with strappy heels" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Cocktail & Party Dresses</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/cocktail-party-dresses">Shop short styles from $89.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>



      <div class="column" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/mother-of-the-bride-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_MOBDresses.jpg" alt="Mother of the Bride wearing long off the shoulder dress" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Dresses for Mom</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses">Shop Styles From $99.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/plus-size-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_Plus.jpg" alt="Plus size woman wearing blue lace cocktail dress standing outside and looking down" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Plus Size</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/plus-size-dresses">Shop Sizes 14W-32W&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
