<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0; }

.spacing-media-seo {
    max-width: 1262px;
    margin: 0 auto;
    width: 100%;
}

p.legacy,
.legacy p{
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size:10px;
	line-height: 15px;
	 margin: 0 10px 0 10px;
}

</style>
<div class="spacing-media-seo mobile-hidden tablet-hidden">
<div class="legacy">
<br>
<p><strong>The Best Dresses for Every Occasion</strong>
<br>
Whether it’s a wedding or a charity gala, your prom or homecoming, a special date or a company party, David’s Bridal offers all types of dresses for all types of celebrations. Explore thousands of dress images to find your perfect look. From short, fun frocks to magnificent ball gowns, you will find every style of dress represented in our comprehensive collection. We believe every woman deserves to feel gorgeous, so we carry a wide range of sizes and cuts to flatter each unique body, from petite to plus size.<br>
<br>
<strong> Find Your Perfect Dress: Fashion to Inspire You</strong>
<br>
Just looking at pictures of dresses can make your heart beat a little faster. It’s part of the anticipation that comes before a special event. At the sight of so many gorgeous dresses, ideas start to take shape, and the details begin to fall into place. Maybe it’s all-over sequins, dazzling as you move onto the dance floor. Perhaps it’s a romantic cloud of lace, evoking the grace and beauty of long ago. Long or short, understated or elaborate, modest or daring: with so many styles of dresses on offer, you’ll find the one that speaks to you.</p>
</div>
</div>

<!-- SCROLL TO TOP BUTTON -->
<style media="screen">
	.listing-pager__top {
		display: none;
		position: fixed;
		top: auto;
		right: 15px;
		bottom: 25px;
	 	z-index: 1; }
</style>
<div class="listing-pager__top" id="scrollToTop">
	<a class="listing-pager__top-link" href="#">
		<span class="listing-pager__top-link-image">
			<svg class="listing-pager__top-link-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
			</svg>
		</span>
		<span class="listing-pager__top-link-text">Top</span>
	</a>
</div>
<script type="text/javascript">
	// When the user scrolls down, show the button
	$(window).on('scroll', function() {
		scrollFunction();
	});
	const scrollFunction = () => {
		let scrollTop = $(window).scrollTop();
		if (scrollTop >= 100) {
			$('#scrollToTop').css('display', 'block');
		} else {
			$('#scrollToTop').css('display', 'none');
		}
	}

	// When the user clicks on the button, scroll to the top
	$('#scrollToTop a').on('click', function(e) {
		e.preventDefault();
    console.log('SCROLL TO TOP CLICKED');
		$('html, body').animate({scrollTop: 0}, 1000);
	});
</script>
