<section class="espot-container three-across" data-analytics-tagging="Cocktail-WinterWeddingGuest-LWD">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">


      <div class="column" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/formal-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/767px_Dresses_Formal.jpg" alt="Girl in halter gown standing in front of a vine" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Formal Dresses</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/formal-dresses">Shop Long Styles From $99.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    

    <div class="column" data-analytics-position="Module_5">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/dresses/flower-girl-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_FlowerGirl.jpg" alt="Flower Girl wearing long dress with satin shoes" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Flower Girls</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/flower-girl-dresses">Shop styles from $39.95&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>


    <div class="column" data-analytics-position="Module_6">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/dresses/little-white-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/dresses/767px_Vertical_CLP_Module_LWD.jpg" alt="Woman wearing off the shoulder short white dress" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Little White Dresses</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/little-white-dresses">Shop LWD Styles&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
