<style media="screen">
.designer-spotlight {
  max-width: 1282px;
  margin: 0 auto;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .designer-spotlight {
      padding: 0; } }
  .designer-spotlight .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .designer-spotlight .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .designer-spotlight .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -7px;
    position: relative; }
  .designer-spotlight h2 {
    margin: 0;
    margin-bottom: -10px; }
  .designer-spotlight .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .designer-spotlight .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .designer-spotlight .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .flex-container .column {
          padding: 5px; } }
  .designer-spotlight img {
    width: 100%; }
  .designer-spotlight .media-block-content {
    margin-top: 10px; }
    .designer-spotlight .media-block-content p {
      margin-top: 5px; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .media-block-content p {
          margin-top: 5px; } }
</style>

<section data-analytics-tagging="DesignerSpotlight" class="espot-container designer-spotlight">
  <div class="section-minor-heading">
    <p class="section-minor-heading__heading serif-s-italic">Brand Spotlight</p>
  </div>

  <div class="flex-container">


    <div class="column" data-analytics-position="Designer_1">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/terani-couture-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/BrandSpotlight_Terani.jpg" alt="Open back aqua dress with beautiful beading and embellishment by Terani Couture" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Terani Couture</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/terani-couture-dresses">Shop Terani Couture&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>


    <div class="column" data-analytics-position="Designer_2">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/kiyonna-plus-size-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/BrandSpotlight_Kiyonna.jpg" alt="Plus size red wine color dress with 3/4 sleeves by Kiyonna" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Kiyonna</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/kiyonna-plus-size-dresses">Shop Kiyonna&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_3">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:30744573456166666718497100971151041053283104111106105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Tadashi%20Shoji&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/BrandSpotlight_TadashiShoji.jpg" alt="Model wearing long sleeve black lace dress" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Tadashi Shoji</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002803&storeId=10052&langId=-1#!&facet:30744573456166666718497100971151041053283104111106105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Tadashi%20Shoji&">Shop Tadashi Shoji&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_4">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/dresses/maternity-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/dresses/BrandSpotlight_Ingrid-Isabel.jpg" alt="Model wearing navy embellished waist off-the-shoulder satin ball gown" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Ingrid and Isabel</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/maternity-dresses">Shop Maternity&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

  </div>
</section>
