
// 3 Across
.listing__grid-layout[data-listing-current-large-layout="large-larger-layout"] {

  .listing-pager.centered {
    width: 33.2%;
    align-self: center;
    margin-bottom: 15%;
  }

  .listing-pager__message {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

}


.listing__grid-layout[data-listing-current-large-layout="large-smaller-layout"] {

  .listing-pager.centered {
    width: 24.9%;
    align-self: center;
    margin-bottom: 15%;
  }

  .listing-pager__message {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .listing-pager__page-item:not(:last-child) {
    margin-right: 6px;
  }

  .listing-pager__previous-link {
    margin-right: 10px;
  }
  .listing-pager__next-link {
    margin-left: 10px;
  }

  .listing-pager__next-link-image,
  .listing-pager__previous-link-image,
  .listing-pager__top-link-image {
    max-width: 24px;
  }

}
