<style media="screen">
.grid-2-3-6 {
  display: block;
  position: relative;
  clear: both;
  margin: 20px auto; }
  @media screen and (min-width: 1024px) {
    .grid-2-3-6 {
      margin: 30px auto; } }
  .grid-2-3-6 img {
    width: 100%; }
  .grid-2-3-6__inner {
    display: block;
    margin: 0 auto;
    padding: 0 5px; }
    @media screen and (min-width: 1282px) {
      .grid-2-3-6__inner {
        padding: 0; } }
  .grid-2-3-6__heading {
    padding: 0;
    display: block; }
    .grid-2-3-6__heading > *:not(:last-child) {
      margin-right: 10px; }
    .grid-2-3-6__heading h3 {
      display: inline-block; }
    .grid-2-3-6__heading p {
      display: inline-block; }
  .grid-2-3-6__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px; }
    .grid-2-3-6__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .grid-2-3-6__flex .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .grid-2-3-6__flex .column {
          width: 16.66667%; } }
</style>
<section class="espot-container grid-2-3-6">
  <div class="grid-2-3-6__inner">
    <div class="grid-2-3-6__heading">
      <h3 class="serif-l">Share Your Style &num;DavidsProm</h3>
      <p class="sans-bold-uppercase">
        <a href="/Content_Curations_prom">See More Inspiration&nbsp;&gt;</a>
      </p>
    </div>
    <div class="grid-2-3-6__flex">
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_1.jpg" alt="Prom girl twirling in gold and white two piece prom dress">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_2.jpg" alt="Prom girl posting in high low red dress">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_3.jpg" alt="Prom girl with open back beaded prom dress">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_4.jpg" alt="Prom girl twirling and smiling in printed floral prom dress">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_5.jpg" alt="Prom girl posing in black prom dress with floral skirt">
        </a>
      </div>
      <div class="column">
        <a href="/Content_Curations_prom">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Homecoming_2018_UGC_6.jpg" alt="Prom girl looking over her shoulder wearing two piece ball gown prom dress">
        </a>
      </div>
    </div>
  </div>
</section>
