<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.few-favorites-carousel__inner--heading h3 {
  display: inline-block; }
.few-favorites-carousel__inner--heading p {
  display: inline-block; }
.few-favorites-carousel__inner--heading > *:not(:last-child) {
 margin-right: 10px; }
</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <h3 class="serif-l">What&rsquo;s Trending</h3>
      <p class="sans-bold-uppercase">
        <a href="/prom-dresses/homecoming-dresses">Shop Top Picks&nbsp;&gt;</a>
      </p>
    </div>

    <div class="slick-container">
      <a href="javascript:void()" id="homecomingTrendingProductsPrev" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg role="img" class="few-favorites-carousel-button-prev" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick">

        <!-- 9234XX8P  -->
        <div class="slick-slide">
          <a href="/Product_long-sleeve-lace-crop-top-and-shantung-skirt-set-9234xx8p">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9234XX8P-10885677-Wine Multi?$plpproductimgmobile_2up$" alt="Long-Sleeve Lace Crop Top and Shantung Skirt Set">
          </a>
        </div>

        <!-- 57509  -->
        <div class="slick-slide">
          <a href="/Product_jersey-and-glitter-print-tulle-dress-57509">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-57509-10887588-Merlot?$plpproductimgmobile_2up$" alt="Jersey and Glitter-Print Tulle Dress">
          </a>
        </div>

        <!-- 592BN  -->
        <div class="slick-slide">
          <a href="/Product_appliqued-satin-fit-and-flare-sweetheart-dress-592bn">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-592BN-11009779-Navy_Gold?$plpproductimgmobile_2up$" alt="Appliqued Satin Fit-and-Flare Sweetheart Dress">
          </a>
        </div>

        <!-- 156595w  -->
        <div class="slick-slide">
          <a href="/Product_lace-appliqued-mesh-fit-and-flare-plus-size-dress-156595w">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-156595W-11009774-Mint?$plpproductimgmobile_2up$" alt="Lace Appliqued Mesh Fit-and-Flare Plus Size Dress">
          </a>
        </div>

        <!-- 10432  -->
        <div class="slick-slide">
          <a href="/Product_off-the-shoulder-velvet-top-and-flocked-skirt-set-10432">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-10432-10887441-Black_Red?$plpproductimgmobile_2up$" alt="Off-the-Shoulder Velvet Top and Flocked Skirt Set">
          </a>
        </div>

        <!-- 10848  -->
        <div class="slick-slide">
          <a href="/Product_short-slinky-slip-dress-with-glitter-print-10848">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-10848-11008386-Black_Gold?$plpproductimgmobile_2up$" alt="Short Slinky Slip Dress with Glitter Print">
          </a>
        </div>

        <!-- 569BN -->
        <div class="slick-slide">
          <a href="/Product_split-sleeve-jersey-and-printed-charmeuse-set-569bn">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-569BN-11009819-Black_Multi?$plpproductimgmobile_2up$" alt="Split Sleeve Jersey and Printed Charmeuse Set">
          </a>
        </div>

        <!-- 256540  -->
        <div class="slick-slide">
          <a href="/Product_embroidered-sheer-fit-and-flare-dress-with-v-back-256540">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-256540-11008296-Eggplant?$plpproductimgmobile_2up$" alt="Embroidered Sheer Fit-and-Flare Dress with V-Back">
          </a>
        </div>

        <!-- 3329SU8E -->
        <div class="slick-slide">
          <a href="/Product_high-neck-lace-and-printed-mikado-two-piece-dress-3329su8e">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3329SU8E-11008311-Navy_Multi?$plpproductimgmobile_2up$" alt="High-Neck Lace and Printed Mikado Two-Piece Dress">
          </a>
        </div>

        <!-- 576BN -->
        <div class="slick-slide">
          <a href="/Product_sequin-and-mesh-fit-and-flare-short-dress-576bn">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-576BN-11008341-Wine?$plpproductimgmobile_2up$" alt="Sequin and Mesh Fit-and-Flare Short Dress">
          </a>
        </div>

        <!-- 27092 -->
        <div class="slick-slide">
          <a href="/Product_two-piece-lace-and-printed-satin-dress-with-bow-27092">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-27092-11008276-Black_Multi?$plpproductimgmobile_2up$" alt="Two-Piece Lace and Printed Satin Dress with Bow">
          </a>
        </div>
        <!-- 345BN -->
        <div class="slick-slide">
          <a href="/Product_satin-sweetheart-party-dress-with-crystal-pockets-345bn">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-345BN-11011417-Red?$plpproductimgmobile_2up$" alt="Satin Sweetheart Party Dress with Crystal Pockets">
          </a>
        </div>

      </div>

      <a href="javascript:void()" id="homecomingTrendingProductsNext" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg role="img" class="few-favorites-carousel-button-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false,
    prevArrow: '#homecomingTrendingProductsPrev',
    nextArrow: '#homecomingTrendingProductsNext'
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
