<style>
.shop-by-price {
  max-width: 1272px;
  margin: 5px auto 0; }
  .shop-by-price .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (min-width: 768px) {
      .shop-by-price .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .shop-by-price .flex-container .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .shop-by-price .flex-container .column {
          width: 100%; } }
    .shop-by-price .flex-container a {
      color: #333; }
      .shop-by-price .flex-container a:hover, .shop-by-price .flex-container a:active {
        color: #333; }
  .shop-by-price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: column;
        -ms-flex-positive: column;
            flex-grow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #f8f6f0;
    border: 2px solid #f04874;
    padding: 24px 0;
    text-align: center;
    height: 100%; }
    .shop-by-price-item p {
      margin: 0;
      width: 100%; }
      .shop-by-price-item p .serif-m {
        font-size: 18px; }
        @media screen and (min-width: 768px) {
          .shop-by-price-item p .serif-m {
            font-size: 24px; } }
      .shop-by-price-item p .serif-xxl {
        font-size: 26px; }
        @media screen and (min-width: 768px) {
          .shop-by-price-item p .serif-xxl {
            font-size: 48px; } }

</style>

<section data-analytics-tagging="ShopByPrice" class="espot-container shop-by-price">
  <div class="flex-container">
    <div class="column">
      <a href="/prom-dresses-under-50">
        <div class="shop-by-price-item">
          <p class="serif-m">dresses under</p>
          <p class="serif-xxl">$50</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/prom-dresses-under-100">
        <div class="shop-by-price-item">
          <p class="serif-m">dresses under</p>
          <p class="serif-xxl">$100</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/prom-dresses-under-150">
        <div class="shop-by-price-item">
          <p class="serif-m">dresses under</p>
          <p class="serif-xxl">$150</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/prom-dresses-under-200">
        <div class="shop-by-price-item">
          <p class="serif-m">dresses under</p>
          <p class="serif-xxl">$200</p>
        </div>
      </a>
    </div>
  </div>
</section>
