<section data-analytics-tagging="LongDresses-Shoes-Jewelry" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/long-prom-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Long-Dresses.jpg" alt="Girl wearing long wine colored homecoming dress."/>
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Long Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/long-prom-dresses">Shop Long Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/prom-shoes-and-heels">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Shoes.jpg" alt="Girl wearing Metallic Shoes to homecoming dance." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Shoes</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-shoes-and-heels">Shop Shoes&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/accessories/jewelry">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Jewelry.jpg" alt="Girl wearing hoop hearings matching her wine colored dress to homecoming dance." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Jewelry</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/jewelry">Shop Jewelry&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
