<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section data-analytics-tagging="WTW-TwoPiece-PlusSize" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_Prom_homecomingideas">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/WTW.jpg" alt="Two girls dancing at their Homecoming Dance."/>
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">What to Wear to Homecoming</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_Prom_homecomingideas">See The Trends&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/two-piece-prom-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Two-piece.jpg" alt="Girl wearing two piece homecoming dress." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Two Piece Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/two-piece-prom-dresses">Shop The Trend&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/plus-size-prom-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Plus.jpg" alt="Girl wearing off-the-shoulder homecoming dress." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Plus Sizes</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/plus-size-prom-dresses">Shop Sizes 17-22&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
