<section data-analytics-tagging="Headpieces-Earrings-Handbags" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/accessories/hair-accessories">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Headpieces.jpg" alt="Girl wearing sparkly headband to homecoming dance."/>
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Headpieces</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/hair-accessories">Shop Headpieces&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/earrings">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Earrings.jpg" alt="Girl wearing trendy earrings with wine colored homecoming dress." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Earrings</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/earrings">Shop Earrings&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-handbags-clutches">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming/2018/Handbags.jpg" alt="Girl wearing handbag matching her homecoming dress." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Handbags</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-handbags-clutches">Shop Handbags&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
