.weekend-sale {
  display: block;
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto 10px;
  
  
  &__countdown {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 2;
    top: calc((100% - 80px) / 16);
    right: calc((100% - 80px) / 16);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(-22deg) translate(calc((100% - 80px) / 16), calc((100% - 80px) / 16));

    @media screen and (min-width: 768px) {
      border-radius: 50%;
      position: absolute;
      width: 90px;
      height: 90px;
      z-index: 2;
      top: 50%;
      right: initial;
      left: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateZ(-22deg) translate(10%, -50%);
    }
    @media screen and (min-width: 1024px) {
      width: 160px;
      height: 160px;
    }

    &--text {
      color: #c95966;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.055em;
      @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}