<!-- F19419 -->
<div class="page">
  <div class="spacing-half relative">
    <h2 class="serif-m-italic">Round Out The Party</h2>

    <div class="complementary-products__controls show-until-large">
      <a class="silhouette-arrow previous  svg-shadow svg-hover" href="#" role="button" title="Previous Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="39.6 11.5 41.7 13.7 29 25.5 41.7 37.3 39.6 39.5 24.6 25.5 "></polygon>
          <path d="M36.5-5C53.4-5 67 8.7 67 25.5S53.4 56 36.5 56 6 42.4 6 25.5 19.7-5 36.5-5zM36.5 53C51.7 53 64 40.7 64 25.5S51.7-2 36.5-2 9 10.3 9 25.5 21.3 53 36.5 53z"></path>
        </svg>
      </a>
      <a class="silhouette-arrow next  svg-shadow svg-hover" href="#" role="button" title="Next Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="33.4 39.5 31.4 37.3 44.1 25.5 31.4 13.7 33.4 11.5 48.5 25.5 "></polygon>
          <path d="M36.5 56C19.7 56 6 42.4 6 25.5S19.7-5 36.5-5 67 8.7 67 25.5 53.4 56 36.5 56zM36.5-2C21.3-2 9 10.3 9 25.5S21.3 53 36.5 53 64 40.7 64 25.5 51.7-2 36.5-2z"></path>
        </svg>
      </a>
    </div>

    <div class="layout-split-2-4-large-alt slick-split-2-4-large">

      <!-- F18095 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_lace-and-mesh-long-strapless-dress-f18095" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Lace and Mesh Long Strapless Dress" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F18095-10524798-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_lace-and-mesh-long-strapless-dress-f18095" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Lace and Mesh Long Strapless Dress</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$179.95</span></div>
        </div>
      </div>

      <!-- F19505 -->
      <div class="column">
        <div class="complementary-image"><a href="/Product_long-mesh-dress-with-lace-cap-sleeves-f19505" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))"><img alt="Long Mesh Dress with Lace Cap Sleeves" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19505-10775164-Apple?$plpproductimgdesktop_3up$" /> </a></div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_long-mesh-dress-with-lace-cap-sleeves-f19505" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Long Mesh Dress with Lace Cap Sleeves</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$159.95</span></div>
        </div>
      </div>

      <!-- JB9479 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_cap-sleeve-lace-and-mesh-long-girls-dress-jb9479" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Cap Sleeve Lace and Mesh Long Girls Dress" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JB9479-10776087-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_cap-sleeve-lace-and-mesh-long-girls-dress-jb9479" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Cap Sleeve Lace and Mesh Long Girls Dress</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$119.95</span></div>
        </div>
      </div>

      <!-- F15749 -->
      <div class="column">
        <div class="complementary-image"><a href="/Product_sleeveless-long-mesh-dress-with-corded-lace-f15749" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))"><img alt="Sleeveless Long Mesh Dress with Corded Lace" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F15749-10237112-Apple?$plpproductimgdesktop_3up$" /> </a></div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_sleeveless-long-mesh-dress-with-corded-lace-f15749" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Sleeveless Long Mesh Dress with Corded Lace</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$159.95</span></div>
        </div>
      </div>





    </div>
  </div>
</div>
