<!-- F19712 -->
<div class="page">
  <div class="spacing-half relative">
    <h2 class="serif-m-italic">Round Out The Party</h2>

    <div class="complementary-products__controls show-until-large">
      <a class="silhouette-arrow previous  svg-shadow svg-hover" href="#" role="button" title="Previous Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="39.6 11.5 41.7 13.7 29 25.5 41.7 37.3 39.6 39.5 24.6 25.5 "></polygon>
          <path d="M36.5-5C53.4-5 67 8.7 67 25.5S53.4 56 36.5 56 6 42.4 6 25.5 19.7-5 36.5-5zM36.5 53C51.7 53 64 40.7 64 25.5S51.7-2 36.5-2 9 10.3 9 25.5 21.3 53 36.5 53z"></path>
        </svg>
      </a>
      <a class="silhouette-arrow next  svg-shadow svg-hover" href="#" role="button" title="Next Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="33.4 39.5 31.4 37.3 44.1 25.5 31.4 13.7 33.4 11.5 48.5 25.5 "></polygon>
          <path d="M36.5 56C19.7 56 6 42.4 6 25.5S19.7-5 36.5-5 67 8.7 67 25.5 53.4 56 36.5 56zM36.5-2C21.3-2 9 10.3 9 25.5S21.3 53 36.5 53 64 40.7 64 25.5 51.7-2 36.5-2z"></path>
        </svg>
      </a>
    </div>

    <div class="layout-split-2-4-large-alt slick-split-2-4-large">

      <!-- F19748 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_ruffle-trim-chiffon-faux-wrap-bridesmaid-dress-f19748" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Ruffle-Trim Chiffon Faux-Wrap Bridesmaid Dress" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19748-10911913-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_ruffle-trim-chiffon-faux-wrap-bridesmaid-dress-f19748" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Ruffle-Trim Chiffon Faux-Wrap Bridesmaid Dress</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$139.95</span></div>
        </div>
      </div>

      <!-- W10974 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_mesh-long-bridesmaid-dress-with-crisscross-back-w10974" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Mesh Long Bridesmaid Dress with Crisscross Back" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-W10974-10684519-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_mesh-long-bridesmaid-dress-with-crisscross-back-w10974" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Mesh Long Bridesmaid Dress with Crisscross Back</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$169.95</span></div>
        </div>
      </div>

      <!-- F19533 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_soft-mesh-halter-bridesmaid-dress-with-slim-sash-f19533" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Soft Mesh Halter Bridesmaid Dress with Slim Sash" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19533-10831687-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_soft-mesh-halter-bridesmaid-dress-with-slim-sash-f19533" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Soft Mesh Halter Bridesmaid Dress with Slim Sash</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$119.95</span></div>
        </div>
      </div>

      <!-- F19740 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_high-low-chiffon-halter-bridesmaid-dress-f19740" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="High-Low Chiffon Halter Bridesmaid Dress" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19740-10899609-Apple?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_high-low-chiffon-halter-bridesmaid-dress-f19740" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">High-Low Chiffon Halter Bridesmaid Dress</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$159.95</span></div>
        </div>
      </div>

    </div>
  </div>
</div>
