<!-- VW360317 -->
<div class="page">
  <div class="spacing-half relative">
    <h2 class="serif-m-italic">Round Out The Party</h2>

    <div class="complementary-products__controls show-until-large">
      <a class="silhouette-arrow previous  svg-shadow svg-hover" href="#" role="button" title="Previous Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="39.6 11.5 41.7 13.7 29 25.5 41.7 37.3 39.6 39.5 24.6 25.5 "></polygon>
          <path d="M36.5-5C53.4-5 67 8.7 67 25.5S53.4 56 36.5 56 6 42.4 6 25.5 19.7-5 36.5-5zM36.5 53C51.7 53 64 40.7 64 25.5S51.7-2 36.5-2 9 10.3 9 25.5 21.3 53 36.5 53z"></path>
        </svg>
      </a>
      <a class="silhouette-arrow next  svg-shadow svg-hover" href="#" role="button" title="Next Image">
        <svg class="fill-white" viewbox="5.5 -5.5 62 62" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <polygon points="33.4 39.5 31.4 37.3 44.1 25.5 31.4 13.7 33.4 11.5 48.5 25.5 "></polygon>
          <path d="M36.5 56C19.7 56 6 42.4 6 25.5S19.7-5 36.5-5 67 8.7 67 25.5 53.4 56 36.5 56zM36.5-2C21.3-2 9 10.3 9 25.5S21.3 53 36.5 53 64 40.7 64 25.5 51.7-2 36.5-2z"></path>
        </svg>
      </a>
    </div>

    <div class="layout-split-2-4-large-alt slick-split-2-4-large">

      <!-- VW360214 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_v-neck-halter-gown-with-sash-vw360214" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="V Neck Halter Gown with Sash" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360214-10277801-Amethyst?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_v-neck-halter-gown-with-sash-vw360214" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">V Neck Halter Gown with Sash</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$199.95</span></div>
        </div>
      </div>

      <!-- VW360215 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_one-shoulder-dress-with-satin-sash-vw360215" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="One Shoulder Dress with Satin Sash" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360215-10278110-Amethyst?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_one-shoulder-dress-with-satin-sash-vw360215" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">One Shoulder Dress with Satin Sash</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$199.95</span></div>
        </div>
      </div>

      <!-- VW360345 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_charmeuse-and-chiffon-bridesmaid-dress-vw360345" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Charmeuse and Chiffon Bridesmaid Dress" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360345-10828532-Amethyst?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_charmeuse-and-chiffon-bridesmaid-dress-vw360345" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Charmeuse and Chiffon Bridesmaid Dress</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$199.95</span></div>
        </div>
      </div>

      <!-- VW360340 -->
      <div class="column">
        <div class="complementary-image">
          <a href="/Product_charmeuse-and-chiffon-bridesmaid-dress-with-ruffle-vw360340" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <img alt="Charmeuse and Chiffon Bridesmaid Dress with Ruffle" class="box-shadow spacing-top" src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360340-10834100-Amethyst?$plpproductimgdesktop_3up$" />
          </a>
        </div>
        <div class="complementary-content align-center">
          <a class="spacing-quarter" href="/Product_white-by-vera-wang-short-halter-bridesmaid-dress-vw360261" onclick="(ga('send', 'event', 'PDP', 'Monetate', 'Round out the party'))">
            <p class="sans-m-bold-uppercase shop-by-wedding_gallery__title">Charmeuse and Chiffon Bridesmaid Dress with Ruffle</p>
          </a>
          <div class="listing__grid-item-price" data-listing-item-marked-down="false"><span class="listing__grid-item-price-standard sans-xs">$199.95</span></div>
        </div>
      </div>

    </div>
  </div>
</div>
