// ========================================================
// FLEX
// ========================================================
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 10px;
  }


  &__split-2-4 {
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 25%;
      }
    }

  }

}
