// ========================================================
// HERO
// ========================================================
$hero-outline: 8px;
$hero-copy-w: 280px;

.hero {
  @include block();



  &__copy {
    @include block();
    background: #ffd0cd;
    outline: $hero-outline solid #ffd0cd;
    border: 1px solid #fff;
    margin: 10px + $hero-outline;
    padding: 10px;
    @media screen and (min-width: $breakpoint-lg) {
      background: rgba(#ffd0cd, 0.8);
      outline: 8px solid rgba(#ffd0cd, 0.8);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px + $hero-outline;
      max-width: $hero-copy-w;
      margin: 0;
    }
    @media screen and (min-width: 1262px) {
      max-width: $hero-copy-w + 10px;
      padding: 15px;
      right: calc((100vw - 1230px) / 2);
    }
    @media screen and (min-width: 1600px) {
      right: calc((1600px - 1230px) / 2);
    }

    p {
      margin-bottom: 0;
    }

    .nowrap {
      white-space: nowrap;
    }

    .serif-l {
      font-size: 22px;
      line-height: 26px;
      font-weight: normal;
      @media screen and (min-width: 1262px) {
        font-size: 28px;
        line-height: 36px;
      }
    }


    .sans-l {
      font-size: 16px;
      line-height: 25px;
      font-weight: normal;
      @media screen and (min-width: 1262px) {
        font-size: 18px;
        line-height: 30px;
      }
    }

  }



}
