// ========================================================
// CONTAINER
// ========================================================
&__container {
  //@include red-bg();
  display: block;
  position: relative;
  margin-bottom: -10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: -5px;
  }

  &.clear { // Clearfix for floats
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
} // .hero__container
