$width1: 54.1666666667%;
$width2: 36.4375%;
$width3: 45.1822916667%;
$width4: 25.875%;
$width5: 62.9375%;

$margin-md: 0.6510416667%;
$margin-lg: 0.625%;

// --------------------------------------------------------
// IMAGE A
// --------------------------------------------------------
.image-a {
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $breakpoint-md) {
    width: $width1;
    margin-right: $margin-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $width2;
    margin-right: $margin-lg;
  }

  .hero__item-video {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    @media screen and (min-width: $breakpoint-md) {
      align-self: flex-end;
      z-index: 1;
      padding-bottom: 130.3602058319%;
    }
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @media screen and (min-width: $breakpoint-lg) {
        height: 100%;
        width: 100%;
      }
    }
  }

}

// --------------------------------------------------------
// IMAGE B
// --------------------------------------------------------
.image-b {
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $breakpoint-md) {
    width: $width3;
    margin-bottom: $margin-md;
    text-align: right;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $width2;
    margin-bottom: 0;
    margin-right: $margin-lg;
  }
}

// --------------------------------------------------------
// IMAGE C
// --------------------------------------------------------
.image-c {
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    width: $width3;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $width4;
  }
}

// --------------------------------------------------------
// IMAGE D
// --------------------------------------------------------
.image-d {
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: $margin-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $width5;
    margin-top: $margin-lg;
  }

  .hero__item-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    @media screen and (min-width: $breakpoint-md) {
      align-self: flex-end;
      margin-top: -10%;
      margin-bottom: -10%;
      z-index: 1;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-bottom: 37.6237623762%;
      margin-top: -19.5%;
    }
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @media screen and (min-width: $breakpoint-lg) {
        height: 204%;
        width: 101%;
      }
    }
  }

}
