// ========================================================
// ITEMS
// ========================================================
&__item {
  //@include green-bg();
  display: block;
  position: relative;
  float: left;
  // &:not(:last-child) {
  //   margin-bottom: 10px;
  //   @media screen and (min-width: $breakpoint-md) {
  //     margin-bottom: 0;
  //   }
  // }
  &:last-child {
    margin-bottom: 5px;
  }
  @media screen and (min-width: $breakpoint-md) {
    display: inline-block;
    margin-bottom: 0;
  }

  // &:not(:first-child) {
  //   padding-left: 10px;
  //   padding-right: 10px;
  //   @media screen and (min-width: $breakpoint-md) {
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
  // }


  // --------------------------------------------------------
  // IMAGE <figure>
  // --------------------------------------------------------
  &-image {

    // BUTTONS
    .btn {
      background: none;
      bottom: 10px;
      left: 0;
      right: 0;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute;
      &-secondary a {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        letter-spacing: 0.055em;
        width: 100%;
        &:hover,
        &:active,
        &focus {
          border: 1px solid $gray-lt;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    } // .btn


    &-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        background: rgba(255, 255, 255, 0.9);
      }
      @media screen and (min-width: $breakpoint-lg) {
        padding: 0;
        background: none;
        width: 100%;
        height: 100%;
      }

      // Overlay - Desktop Only
      @media screen and (min-width: $breakpoint-lg) {
        a {
          background: rgba(0,0,0,0.5);
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          &:hover,
          &:active,
          &:focus {
            opacity: 1;
          }
        }
      }

    }

  } // .hero__item-image



} // .hero__item
