@import "variables";
@import "mixins";


// ========================================================
// ESPOT RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}


// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
  max-width: $max-width;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fff;


  @import "typography";
  @import "buttons";
  @import "container";
  @import "items";
  @import "image-positioning";
  @import "copy-box";
  @import "helpers";
  @import "misc";
  //@import "animation";

} // .hero
