// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 10px;

  p.sans-bold-uppercase {
    margin-top: 5px;
  }
}
