// ==========================================================================
// Questions
// ==========================================================================
.questions {
  @include block;

  &__flex {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: flex-start;    // default: flex-start
    align-items: center;           // default: stretch
    align-content: stretch;         // default: stretch
    margin: 10px auto;
    background: $pink;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }

    &.reverse {
      flex-direction: row-reverse;
    }

    &-col {
      @include block;
      width: 100%;

      //background: rgba(0, 255, 0, 0.1);
      //border: 1px solid rgba(0, 255, 0, 0.25);
    }

  } // flex


  &__form {
    padding: 20px 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 20px;
    }

    .form-input {
      padding: 5px 0;
    }

    label {
      padding-left: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
} // .questions
