// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  margin: 10px auto;
  @media screen and (min-width: $breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  p {
    margin: 0;
    padding-left: 10px;
  }
}
