article.container {
  padding-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  //@include red-bg();
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  .column {
    display: block;
    position: relative;
    width: 100%;
    margin: 5px;

    &__text {
      position: absolute;
      left: 10%;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (min-width: $breakpoint-md) {
        right: 10%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        right: 20%;
      }
    }

    h2 {
      margin-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }
  } // .column

  .beige-bg {
    background: $cream;
  }
} // .flex
