.hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 10px;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &--cover {
      display: none;
      @media screen and (min-width: $breakpoint-md) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9.375%;
        background: rgba(255, 255, 255, 1);
      }
    }
  } // .hero__video


  // Textbox
  &__text {
    display: block;
    position: relative;
    border: 2px solid $brand-primary;
    margin: 10px 10px 5px;
    padding: 20px;
    background: $cream;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: -4%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      background: rgba(248, 246, 240, 0.85);
      position: absolute;
      margin: 0;
      padding: 40px;
      right: 50px;
      bottom: calc(50px + 9.375%);
      max-width: 360px;
    }

    p {
      margin: 0;
      &.sans-bold-uppercase {
        margin-top: 10px;
      }
    }

  } // .hero__textbox

} // .hero


.textbox {
  display: none;
  @media screen and (min-width: $breakpoint-lg) {
    display: block;
    position: relative;
    //border: 2px solid $brand-primary;
    padding: 20px;
    padding-left: 10px;
    //background: $cream;
    margin: 20px auto 15px;
    max-width: 1262px;
    margin-top: -4.375%;
  }
  @media screen and (min-width: 1282px) {
    padding-left: 0;
  }
  p {
    margin: 0;
  }
}
