<a class="mt-signup-text" href="http://dbqa.davidsbridal.com/newregistration" onclick="(ga('tealium_0.send', 'event', 'Monetate', 'Prog Reg - Edit Signup/Login - 7/26/17', 'Sign Up Click - Experiment', {nonInteraction: true}))">Sign Up</a>
.header__personal-nav-account-icon-link .header__personal-nav-account-text





<a class="mt-login-link" href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&amp;catalogId=10051&amp;myAcctMain=1&amp;myAcctMain=1&amp;langId=&amp;storeId=10052&amp;regSource=&amp;login=yes" onclick="(ga('tealium_0.send', 'event', 'Monetate', 'Prog Reg - Edit Signup/Login - 7/26/17', 'Login Click - Experiment', {nonInteraction: true}))">Login</a>
.header__personal-nav-account-icon-link








<a class="mt-signup-text" href="http://dbqa.davidsbridal.com/newregistration" onclick="(ga('tealium_0.send', 'event', 'Monetate', 'Prog Reg - Edit Signup/Login - 7/26/17', 'Sign Up Click - Experiment', {nonInteraction: true}))">Sign Up</a>

<span>&nbsp;|&nbsp;</span>

<a class="mt-login-link" href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&amp;catalogId=10051&amp;myAcctMain=1&amp;myAcctMain=1&amp;langId=&amp;storeId=10052&amp;regSource=&amp;login=yes" onclick="(ga('tealium_0.send', 'event', 'Monetate', 'Prog Reg - Edit Signup/Login - 7/26/17', 'Login Click - Experiment', {nonInteraction: true}))">Login</a>
