#eSpot_ES_Registration_Bride_Step1_Top,
#fb_registration,
.span6.bride-form,
#eSpot_ES_Registration_Bride_Step1_Right {
  display: none !important; }

.toggle-panel.collapsed {
  display: block !important; }

@media screen and (min-width: 768px) {
  .row-fluid .span6, .row-no-stack-fluid .span6 {
    width: 100% !important;
    margin: 0 auto !important; } }

@media screen and (min-width: 1024px) {
  .row-fluid .span6, .row-no-stack-fluid .span6 {
    max-width: 720px !important;
    float: none !important; } }
