.header__main-nav-trigger-text {
  display: none !important;
}


.signup-login {

  a {
    color: #666;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
  }

  &__mobile {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 30px;
    font-size: 11px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }


  &__desktop {
    display: none;
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-wrap: nowrap;
      padding-top: 1px;
    }
  }

  .login span {
    @media screen and (min-width: 1024px) {
      padding-left: 0;
    }
  }

}
