.header__main-nav-trigger-text {
  display: none !important; }

.signup-login a {
  color: #666;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
  text-decoration: none; }

.signup-login__mobile {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 30px;
  font-size: 11px; }
  @media screen and (min-width: 1024px) {
    .signup-login__mobile {
      display: none; } }

.signup-login__desktop {
  display: none; }
  @media screen and (min-width: 1024px) {
    .signup-login__desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding-top: 1px; } }

@media screen and (min-width: 1024px) {
  .signup-login .login span {
    padding-left: 0; } }
