.footer-copy {
  padding-bottom: 50px
}

#chatButton {
  display: block;
  position: fixed;
  bottom: -4px;
  right: 0;
  z-index: 99999;
  width: 130px;
  height: 44px;
  background: #f3665c;
  box-shadow: 5px 0 15px -4px rgba(0, 0, 0, 0.5), -5px 0 15px -4px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  border-top-left-radius: 12px
}

.chat-button>header {
  height: 40px;
  background-color: #f3665c;
  color: #fff;
  text-indent: 0;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 10px;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-top-left-radius: 12px
}

.chat-button>header:hover, .chat-button>header:focus, .chat-button>header:active {
  background: #f57c74
}

.chat-button>header span.chat-icon {
  margin-right: 5px !important
}

.chat-button>header .wc-buttons {
  position: absolute;
  top: 0;
  right: 3px
}

.chat-button>header .wc-buttons a.wc-show {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: normal;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  margin-right: 3px
}

.chat-button>header .wc-buttons a.wc-show:hover {
  background-color: #f57c74;
  border: none
}
