#nowebchat {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: orangered;
  margin: 2px;
  border: red solid 1px;
  display: none; }

#chatTemplate {
  display: none; }

.wc-webchat {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 99;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif; }

@media screen and (max-width: 767px) {
  .wc-webchat {
    width: 100%; } }

.wc-webchat {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wc-webchat > header {
  height: 40px;
  background-color: #f3665c;
  color: #fff;
  text-indent: 0;
  margin: 0;
  padding: 0 0 0 10px;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase; }

.wc-webchat > header span.chat-icon {
  display: inline-block;
  height: 40px;
  line-height: 42px;
  vertical-align: middle;
  margin-right: 5px !important; }

.wc-webchat > header .wc-buttons {
  position: absolute;
  top: 0;
  right: 3px; }

.wc-webchat > header .wc-buttons a.wc-show {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: normal;
  border: none;
  background: none;
  padding: 0;
  margin: -3px 3px 0 0; }

.wc-webchat > header .wc-buttons a.wc-show:hover {
  background-color: #f57c74;
  border: none; }

.wc-webchat .wc-chatbox {
  height: calc(50vh); }

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .wc-webchat .wc-chatbox {
    height: calc(75vh); } }

@media screen and (min-width: 768px) {
  .wc-webchat .wc-chatbox {
    height: 380px; } }

.wc-webchat .wc-chatbox section {
  padding: 0 20px;
  margin: 24px -16px 0;
  background: #f6f7f8;
  height: 420px;
  border: 1px dashed #ccc; }

.wc-webchat .wc-chatbox .wc-chatting {
  margin-top: 10px; }

.wc-webchat .wc-ctistatus {
  font: status-bar;
  font-size: 11px;
  display: block;
  line-height: 0; }

.wc-webchat .wc-status {
  height: auto;
  font-size: 12px;
  text-align: left;
  color: #333;
  line-height: 28px;
  padding: 0;
  margin: 0 0 0 -15px;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif; }

.wc-webchat .wc-error {
  background-color: #FF9999;
  color: #A60000;
  border: 1px solid #A60000;
  padding: 0; }

.wc-webchat .wc-error-label {
  color: #FF6666; }

.wc-webchat .wc-hide {
  display: none; }

.wc-webchat .wc-history {
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
  height: 200px;
  margin: 0;
  border: 1px solid #999;
  background: #fff;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  color: #52535a; }

.wc-webchat .wc-history-label {
  display: inline-block;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px; }

.wc-webchat .wc-history li {
  padding: 4px 5px;
  margin: 0;
  color: #333; }

.wc-webchat .wc-history li .wc-name {
  display: inline-block;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: #727278;
  margin-right: 5px; }

.wc-webchat .wc-history li.wc-local {
  color: #74736d; }

.wc-webchat .wc-history li.wc-name {
  font-size: 70%;
  color: #333; }

.wc-webchat .wc-history li.wc-name:after {
  content: ':'; }

.wc-webchat .wc-history li.wc-name-input {
  width: 270px; }

.wc-webchat .wc-history li.wc-name.wc-consecutive {
  display: none; }

.wc-webchat .wc-typing {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
  height: 32px;
  width: 100%;
  color: #f3665c;
  padding: 0;
  margin: 0 0 0 -4px;
  background-color: #f6f7f8;
  font-style: italic;
  border: none; }

.wc-webchat form {
  display: block; }

.wc-webchat fieldset {
  margin: 15px 0 0;
  border: 0;
  padding: 0; }

.wc-webchat legend {
  display: none; }

.wc-webchat fieldset input {
  background: none;
  border: none;
  height: 32px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 0; }

.wc-webchat textarea.wc-message {
  width: 100%;
  height: 60px;
  border: 1px solid #999;
  margin: 0;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wc-webchat .wc-message-label {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

.wc-webchat input[type="button"] {
  background: none;
  border: none;
  border-radius: 0;
  background: #52535a; }

.wc-webchat .wc-initiate,
.wc-webchat .wc-terminate {
  cursor: pointer;
  font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  width: 120px;
  height: 34px;
  background-color: #52535a;
  padding: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: initial;
  transition-delay: initial; }

.wc-webchat .wc-initiate:active,
.wc-webchat .wc-initiate:focus,
.wc-webchat .wc-initiate:hover,
.wc-webchat .wc-terminate:active,
.wc-webchat .wc-terminate:focus,
.wc-webchat .wc-terminate:hover {
  background-color: #727278; }

.wc-webchat .wc-initiating span {
  font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
  font-size: 13px;
  line-height: 24px; }

.wc-webchat .wc-initiating p {
  margin-right: 22px; }

.wc-webchat .wc-transcript {
  float: left;
  font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  color: #727278;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 0; }

.wc-webchat .wc-transcript:hover {
  color: #333; }

.wc-webchat .wc-announcement,
.wc-webchat .wc-progress,
.wc-webchat .wc-welcome {
  font-style: italic;
  font-size: 14px;
  color: #999;
  margin: 0;
  padding: 0; }

.wc-webchat .wc-progress {
  color: #52535a; }
