// ==========================================================================
// Mixins
// ==========================================================================
@mixin focus() {
  outline: 1px dotted $black !important;
  outline-offset: 2px;
}


@mixin block() {
  display: block;
  position: relative;
}

@mixin transition() {
  transition: all 0.3s ease;
}


@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
@mixin red-bg() {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.4);
}

@mixin no-hypens() {
  height: none;
}


@mixin background-opacity($color, $opacity: .3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}


@mixin stepwiseGradient($direction: "to bottom", $startColor: "rgba(255, 255, 255, 0.00)", $endColor: "rgba(255, 255, 255, 1.00)") {
  background-image: linear-gradient(
    $direction,
    rgba(255, 255, 255, 0.00) 0%,
    rgba(255, 255, 255, 0.01) 6.67%,
    rgba(255, 255, 255, 0.02) 13.33%,
    rgba(255, 255, 255, 0.05) 20.00%,
    rgba(255, 255, 255, 0.08) 26.67%,
    rgba(255, 255, 255, 0.13) 33.33%,
    rgba(255, 255, 255, 0.21) 40.00%,
    rgba(255, 255, 255, 0.34) 46.67%,
    rgba(255, 255, 255, 0.50) 53.33%,
    rgba(255, 255, 255, 0.66) 60.00%,
    rgba(255, 255, 255, 0.79) 66.67%,
    rgba(255, 255, 255, 0.88) 73.33%,
    rgba(255, 255, 255, 0.92) 80.00%,
    rgba(255, 255, 255, 0.95) 86.67%,
    rgba(255, 255, 255, 0.98) 93.33%,
    rgba(248, 246, 240, 1.00) 100.00%
  );
}
