// ==========================================================================
// Resets
// ==========================================================================
html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
}


:focus {
  @include focus;
}


.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none;
}


// ==========================================================================
// Divs Outside of #Content
// ==========================================================================
#main_content{
  width: 100%;
}
.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

#page .header_wrapper_position {
  padding-bottom: 0;
}
