// ========================================================
// VARIABLES
// ========================================================


// --------------------------------------------------------
// BREAKPOINTS
// --------------------------------------------------------
$breakpoint-xs:         320px;
$breakpoint-sm:         350px;
$breakpoint-md:         768px;
$breakpoint-lg:         1024px;
$breakpoint-xl:         1300px;


// --------------------------------------------------------
// COLORS
// --------------------------------------------------------

// Happy Cog
$black:                 rgb(51,51,51);      // #333333
$white:                 rgb(255,255,255);   // #ffffff
$coral:                 rgb(243,102,92);    // #f3665c
$purple-lt:             rgb(224,224,231);   // #e0e0e7
$purple-gray-dk:        rgb(82,83,90);      // #52535a
$purple-gray:           rgb(114,114,120);   // #727278
$blue-lt:               rgb(226,238,243);   // #e2eef3
$taupe:                 rgb(116,115,109);   // #74736d
$gray-dk:               rgb(102,102,102);   // #666666
$gray-med:              rgb(193,193,193);   // #c1c1c1
$gray-lt:               rgb(238,238,238);   // #eeeeee
$cream:                 rgb(248,246,240);   // #f8f6f0


// David's Bridal
$dark-pink:             rgb(233,176,184);   // #e9b0b8
$pink:                  rgb(255,230,227);   // #ffe6e3
$brand-primary:         rgb(249,55,119);    // #F93777;



// ========================================================
// CONTAINERS
// ========================================================
$wrapper-max-width:     1600px;
$container-max-width:   1262px;
