.rewards {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;

  & img {
    max-width: 100%;
    width: auto;
  }

  p {
    margin: 0;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .sans-m {
      a {
        text-decoration: underline;
        font-weight: normal;
        &:hover {
          color: $purple-gray;
        }
      }
    }
  }

  .btn {
    width: 60%;
    a {
      width: 100%;
    }
  }

  .disclaimers {
    padding: 25px 15px 15px;
    text-align: left;
    p {
      font-size: 9px;
      line-height: 12px;
    }

  }




  // Background colors
  .dark-pink {
    background: $dark-pink;
  }
  .light-pink {
    background: $pink;
  }


  // spacing
  .m-t {
    margin-top: 2px;
  }

  .m-t-5 {
    margin-top: 5px;
  }
  .m-b-5 {
    margin-bottom: 5px;
  }
  .m-tb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .m-t-10 {
    margin-top: 10px;
  }
  .m-b-10 {
    margin-bottom: 10px;
  }
  .m-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .m-t-20 {
    margin-top: 20px;
  }
  .m-b-20 {
    margin-bottom: 20px;
  }
  .m-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
