<link rel="stylesheet" href="/assets/css/espots/homepage/hero/August/august-sale/styles.css">


<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }
.ctnr-maincontent a {
  text-decoration: none; }
</style>
<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }
.ctnr-maincontent a {
  text-decoration: none; }
</style>
<style media="screen">
.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .sale-module {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .sale-module {
      margin-bottom: 0.9375%; } }
  .sale-module p + p {
    margin: 0;
    padding: 0; }
  .sale-module img {
    width: 100%; }
  .sale-module .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .sale-module .btn {
        width: auto;
        margin-top: 10px; } }
    .sale-module .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 20px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary a:hover, .sale-module .btn-secondary a:active, .sale-module .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary a {
          width: auto;
          padding: 13px 20px; } }
    .sale-module .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary-pink a:hover, .sale-module .btn-secondary-pink a:active, .sale-module .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  .sale-module__img {
    display: block;
    position: relative;
    width: 100%; }
  .sale-module__text {
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .sale-module__text {
        position: absolute;
        background: none;
        bottom: 10%;
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
        left: 0; } }
    @media screen and (min-width: 1024px) {
      .sale-module__text {
        bottom: 14px; } }
    @media screen and (min-width: 1262px) {
      .sale-module__text {
        bottom: 3%;
        -webkit-transform: translateY(3%);
                transform: translateY(3%); } }
    .sale-module__text .buttons {
      display: none;
      padding: 0 10px 20px; }
      @media screen and (min-width: 1024px) {
        .sale-module__text .buttons {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-line-pack: center;
              align-content: center;
          padding: 15px 0 0; } }
      @media screen and (min-width: 1262px) {
        .sale-module__text .buttons {
          padding: 15px 0 10px; } }
      @media screen and (min-width: 768px) {
        .sale-module__text .buttons .btn {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px; } }
      @media screen and (min-width: 1024px) {
        .sale-module__text .buttons .btn-secondary a {
          min-width: 240px; } }
    .sale-module__text p.sans-bold-uppercase {
      padding-top: 20px;
      padding-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .sale-module__text p.sans-bold-uppercase {
          padding-top: 0;
          padding-bottom: 6px; } }
  .sale-module-top {
    display: block;
    position: relative; }
    .sale-module-top .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      padding: 20px 10px;
      left: 11%;
      right: 10.5%;
      top: 82%;
      height: 50px; }
      @media screen and (min-width: 768px) {
        .sale-module-top .buttons {
          display: none; } }
    .sale-module-top p.btn {
      width: 100%; }
  .sale-module-bottom {
    display: block;
    position: relative; }
    .sale-module-bottom .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      padding: 20px 10px;
      left: 11%;
      right: 10.5%;
      top: 67%;
      height: 50px; }
      @media screen and (min-width: 768px) {
        .sale-module-bottom .buttons {
          display: none; } }
    .sale-module-bottom p.btn {
      width: 100%; }
  @media screen and (max-width: 767px) {
    .sale-module .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sale-module .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sale-module .lg-hidden {
      display: none !important; } }
</style>
<section class="sale-module" data-analytics-tagging="Sale-Module">
  
  <div class="sale-module-top">
    <a href="/sale/bridesmaid-dresses?homepage=salehero">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/august-sale/HP_August_Sale_Mobile_Top.jpg" alt="summer sale | style steals! select bridesmaid dresses 50% off">
      <img class="sm-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/august-sale/HP_August_Sale_Desktop.jpg" alt="summer sale | style steals! select bridesmaid dresses 50% off | select regular price wedding dresses up to $150 off">
    </a>
    <div class="buttons">
      <p class="btn btn-secondary">
        <a href="/sale/bridesmaid-dresses?homepage=salehero">Shop Style Steals</a>
      </p>
    </div>
  </div>
  
  <div class="sale-module-bottom md-hidden lg-hidden">
    <a href="/wedding-dresses/all-wedding-dresses?homepage=salehero">
      <img src="/wcsstore/images/wwcm/homepage/2018/August/august-sale/HP_August_Sale_Mobile_Bottom.jpg" alt="select regular price wedding dresses up to $150 off">
    </a>
    <div class="buttons">
      <p class="btn btn-secondary">
        <a href="/wedding-dresses/all-wedding-dresses?homepage=salehero">Shop Wedding Dresses</a>
      </p>
    </div>
  </div>
  
  <div class="sale-module__text">
    <div class="buttons">
      <p class="btn btn-secondary">
        <a class="sans-bold-uppercase" href="/sale/bridesmaid-dresses?homepage=salehero">Shop Style Steals</a>
      </p>
      <p class="btn btn-secondary">
        <a class="sans-bold-uppercase" href="/wedding-dresses/all-wedding-dresses?homepage=salehero">Shop Wedding Dresses</a>
      </p>
    </div>
    <p class="sans-bold-uppercase">
      <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=salehero">Make an Appointment&nbsp;&gt;</a>
    </p>
  </div>

</section>
