<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }
.ctnr-maincontent a {
  text-decoration: none; }
</style>

<style media="screen">
.weekend-sale {
  display: block;
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto 10px; }
  .weekend-sale__countdown {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 2;
    top: calc((100% - 80px) / 16);
    right: calc((100% - 80px) / 16);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: rotateZ(-22deg) translate(calc((100% - 80px) / 16), calc((100% - 80px) / 16));
            transform: rotateZ(-22deg) translate(calc((100% - 80px) / 16), calc((100% - 80px) / 16)); }
    @media screen and (min-width: 768px) {
      .weekend-sale__countdown {
        border-radius: 50%;
        position: absolute;
        width: 90px;
        height: 90px;
        z-index: 2;
        top: 50%;
        right: initial;
        left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: rotateZ(-22deg) translate(10%, -50%);
                transform: rotateZ(-22deg) translate(10%, -50%); } }
    @media screen and (min-width: 1024px) {
      .weekend-sale__countdown {
        width: 160px;
        height: 160px; } }
    .weekend-sale__countdown--text {
      color: #c95966;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.055em; }
      @media screen and (min-width: 1024px) {
        .weekend-sale__countdown--text {
          font-size: 20px;
          line-height: 24px; } }

</style>

<section class="weekend-sale" data-analytics-tagging="September-Weekend">
  <a href="/sale/sale-wedding-dresses?homepage=salehero">
    <img class="tablet-hidden desktop-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/HP_September_weekend_sale_mobile.gif" alt="4 days only! | online & in-store | 50% off select bridal styles | shop now">
    <img class="mobile-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/HP_September_weekend_sale_desktop.gif" alt="4 days only! | online & in-store | 50% off select bridal styles | shop now">
  </a>
  
  <div class="weekend-sale__countdown" data-end-date="August 20, 2018 11:59:59 PM">
    <p class="weekend-sale__countdown--text">4 Days<br>Only!</p>
  </div>
</section>

<script type="text/javascript">
(function( $ ){
  
  console.log('COUNTDOWN');

  var $countdown = $('.weekend-sale__countdown');
  var $countdownText = $('.weekend-sale__countdown--text');
  var endDate = new Date($countdown.attr('data-end-date'));
  
  // Development
  var endDate = new Date();
  endDate.setDate(endDate.getDate() + 4);
  console.log(endDate);
  
  var today = new Date();
  //var endDate = new Date('May 28, 2018 11:59:59 PM');
  //var today = new Date('May 28, 2018 12:00:00 AM');
  var secondsInDay = 1000 * 60 * 60 * 24;

  // Adjust start/end date/time to Eastern time
  function timezoneAdjust(date, timezoneOffest) {
    var timezoneOffest = timezoneOffest || -4;
    return new Date( new Date(date).getTime() + timezoneOffest * 3600 * 1000).toUTCString().replace( / GMT$/, "" );
  }

  var endTime = new Date( timezoneAdjust(endDate) ).getTime();
  var currentTime = new Date( timezoneAdjust(today) ).getTime();
  var daysLeft = Math.ceil((endTime - currentTime) / secondsInDay);

  var text = '';
  if(daysLeft >= 4) {
    text = '4 Days<br>Only!';
  } else if(daysLeft === 3 ) {
    text = '3 Days<br>Left!';
  } else if(daysLeft === 2 ) {
    text = '2 Days<br>Left!';
  } else if(daysLeft === 1 ) {
    text = 'Last<br>Day!'
  } else {
    text = '';
  }

  $countdownText.html(text);

}( jQuery ));

</script>