<!-- <link rel="stylesheet" href="/css/espots/homepage/hero/July/sale-module-part-5/styles.css"> -->


<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }
.ctnr-maincontent a {
  text-decoration: none; }
</style>
<style media="screen">
.sale-module {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .sale-module {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .sale-module {
      margin-bottom: 0.9375%; } }
  .sale-module .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    max-width: 480px; }
    @media screen and (min-width: 768px) {
      .sale-module .btn {
        width: auto;
        margin-top: 10px; } }
    .sale-module .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 0;
      width: 100%;
      max-width: 480px;
      font-size: 12px; }
      .sale-module .btn-secondary a:hover, .sale-module .btn-secondary a:active, .sale-module .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary a {
          width: auto;
          min-width: 280px;
          padding: 13px 40px; } }
    .sale-module .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .sale-module .btn-secondary-pink a:hover, .sale-module .btn-secondary-pink a:active, .sale-module .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .sale-module .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  .sale-module__img {
    display: block;
    position: relative;
    width: 100%; }
    .sale-module__img img {
      width: 100%; }
  .sale-module__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    text-align: center;
    padding-top: 20px; }
    @media screen and (min-width: 1262px) {
      .sale-module__text {
        padding-top: 0;
        top: 25%;
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%); } }
    .sale-module__text-img img {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (min-width: 1024px) {
        .sale-module__text-img img {
          max-width: 45%; } }
    .sale-module__text-buttons {
      display: block; }
      .sale-module__text-buttons .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
        padding: 20px 10px; }
        @media screen and (min-width: 1024px) {
          .sale-module__text-buttons .buttons {
            padding: 15px 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row; } }
        @media screen and (min-width: 1262px) {
          .sale-module__text-buttons .buttons {
            padding: 25px 0; } }
      @media screen and (min-width: 768px) {
        .sale-module__text-buttons .btn {
          margin-left: 20px;
          margin-right: 20px; } }
  @media screen and (max-width: 767px) {
    .sale-module .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sale-module .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sale-module .lg-hidden {
      display: none !important; } }
</style>
<section class="sale-module" data-analytics-tagging="Sale-Module">
  <div class="sale-module__img">
    <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_mobile.jpg" alt="SUMMER SALE in-store only select wedding dresses originally $300-$600 now $99">
    <img class="sm-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_tablet.jpg" alt="SUMMER SALE in-store only select wedding dresses originally $300-$600 now $99">
    <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_desktop.jpg" alt="SUMMER SALE in-store only select wedding dresses originally $300-$600 now $99">
  </div>

  <div class="sale-module__text">
    <div class="sale-module__text-img">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_mobile-text.png" alt="limited time | in-store only | select wedding dresses originally $300-$600, now $99">
      <img class="sm-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_tablet-text.png" alt="limited time | in-store only | select wedding dresses originally $300-$600, now $99">
      <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/August/8.10-8.13/HP_8.10-8.13_desktop-text.png" alt="limited time | in-store only | select wedding dresses originally $300-$600, now $99">
    </div>

    <div class="sale-module__text-buttons">
      <div class="buttons">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/wedding-dresses/all-wedding-dresses?homepage=salehero">Shop Wedding Dresses</a>
        </p>
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses?homepage=salehero">Shop Bridesmaid Dresses</a>
        </p>
      </div>

      <p class="sans-bold-uppercase">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052&homepage=salehero">Make an Appointment&nbsp;&gt;</a>
      </p>
    </div>
  </div>
</section>
