.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero, .hero__disclaimer {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.hero a {
  text-decoration: none; }

.hero img {
  width: 100%;
  z-index: 1; }

.hero__img {
  display: block;
  position: relative; }

.hero__text {
  display: block;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .hero__text svg {
    max-height: 100% !important; }
  .hero__text-free-shipping {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 65%; }
    @media screen and (min-width: 350px) {
      .hero__text-free-shipping {
        max-width: 75%;
        padding-bottom: 75%; } }
    @media screen and (min-width: 768px) {
      .hero__text-free-shipping {
        max-width: 70%;
        padding-bottom: 20%; } }
    @media screen and (min-width: 1024px) {
      .hero__text-free-shipping {
        max-width: 800px;
        padding-bottom: 200px;
        margin: 20px auto 30px; } }
    .hero__text-free-shipping-svg {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
  .hero__text-online-orders {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 5px auto;
    max-width: 180px;
    padding-bottom: 25px; }
    @media screen and (min-width: 350px) {
      .hero__text-online-orders {
        margin: 10px auto; } }
    @media screen and (min-width: 768px) {
      .hero__text-online-orders {
        max-width: 300px;
        padding-bottom: 5%; } }
    @media screen and (min-width: 1024px) {
      .hero__text-online-orders {
        max-width: 360px;
        margin: 20px auto 30px; } }
    .hero__text-online-orders-svg {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }

.hero-links__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 480px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .hero-links__flex {
      max-width: 600px; } }
  @media screen and (min-width: 1024px) {
    .hero-links__flex {
      max-width: 720px; } }
  .hero-links__flex .column {
    width: 50%;
    padding: 5px; }
    @media screen and (min-width: 768px) {
      .hero-links__flex .column {
        width: 33.33333%;
        padding: 10px; } }
  .hero-links__flex a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #333;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: white; }
    .hero-links__flex a:hover {
      border: 1px solid #e0e0e7; }
    .hero-links__flex a p {
      width: 100%;
      display: block; }

.hero__disclaimer {
  text-align: right;
  font-size: 10px;
  line-height: 14px;
  margin-top: 2px;
  padding-right: 5px; }
  @media screen and (min-width: 1024px) {
    .hero__disclaimer {
      font-size: 11px;
      line-height: 14px; } }
  @media screen and (min-width: 1600px) {
    .hero__disclaimer {
      padding-right: 0; } }
  .hero__disclaimer a {
    text-decoration: underline; }

@-webkit-keyframes pinkText {
  10% {
    fill: white; }
  20% {
    fill: #f93777; }
  30% {
    fill: white; } }

@keyframes pinkText {
  10% {
    fill: white; }
  20% {
    fill: #f93777; }
  30% {
    fill: white; } }

.hero__text-free-shipping svg path {
  fill: white; }
  .hero__text-free-shipping svg path.free {
    -webkit-animation: pinkText 6s 2s infinite forwards;
            animation: pinkText 6s 2s infinite forwards; }
  .hero__text-free-shipping svg path.shipping {
    -webkit-animation: pinkText 6s 3s infinite forwards;
            animation: pinkText 6s 3s infinite forwards; }
  .hero__text-free-shipping svg path.today {
    -webkit-animation: pinkText 6s 4s infinite forwards;
            animation: pinkText 6s 4s infinite forwards; }
  .hero__text-free-shipping svg path.only {
    -webkit-animation: pinkText 6s 5s infinite forwards;
            animation: pinkText 6s 5s infinite forwards; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none !important; } }
