@import "../../../variables";
@import "../../../mixins";

.ctnr-maincontent .row {
  margin: 0 auto;
}

.hero {
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;

  background: rgba(255, 0, 0, 0.1);


  img {
    width: 100%;
  }



  & > * {
    color: #fff;
    text-shadow: 0 2px 0 rgba(110,133,156,0.2);
    //padding: 0.85em;
    //border: solid 1px rgba(110,133,156,0.15);
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
  }
} // .hero



/* =====================================
   Grid Layout
======================================== */
// .image {
//   &-a {
//     background-color: #3f8abf;
//   }
//   &-b {
//     background-color: #fbaea8;
//   }
//   &-c {
//     background-color: #aad2ed;
//   }
//   &-d {
//     background-color: #6ad78a;
//   }
// }

.hero {
  .image {
    &-a {
      @media screen and (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      //grid-area: A;
    }
    &-b {
      @media screen and (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      //grid-area: B;
    }
    &-c {
      @media screen and (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      //grid-area: C;
    }
    &-d {
      @media screen and (min-width: 768px) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      //grid-area: D;
    }
  }
}


.hero {
  //height: 660px;
  max-width: 1600px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  // grid-template-areas:
  //   "A"
  //   "B"
  //   "C"
  //   "D";

  $column-large: 36.4375%;
  $column-small: 25.875%;

  $column-large: 37.0625%;

  @media screen and (min-width: 768px) {
    grid-template-columns: $column-large $column-small $column-large;
    grid-auto-rows: minmax(100px, auto);
    // grid-template-areas:
    //   "A B D"
    //   "A C C"
  }
  // @media screen and (min-width: 1024px) {
  //   grid-template-areas:
  //     "C C A"
  //     "D B A"
  // }
}



// .A {
//   /*grid-column-start: 1;
//   grid-column-end: -1;*/
//   /*grid-column: 1 / -1;*/
//   grid-area: "A";
// }
//
// .B {
//   grid-area: "B";
// }
//
// .C {
//   /*grid-row-start: 2;
//   grid-row-end: 3;*/
//   /*grid-row: 2 / 3;*/
//   grid-area: "C";
// }
//
// .D {
//   /*grid-row-start: 2;
//   grid-row-end: -1;*/
//   /*grid-row: 2 / -1;*/
//   grid-area: "D";
// }








// ==========================================================================
// Visibility
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none;
    visibility: hidden;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
    display: none;
    visibility: hidden;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none;
    visibility: hidden;
  }
}
