.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: -5px; }
  .hero a {
    text-decoration: none; }
  .hero .column_full {
    margin-left: -5px;
    margin-right: -5px; }
  .hero img {
    width: 100%; }
  .hero .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }
    .hero .flex__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .hero .flex__row:first-child {
          width: 37.2%; } }
      @media screen and (min-width: 1024px) {
        .hero .flex__row:first-child {
          width: 37%; } }
      @media screen and (min-width: 1150px) {
        .hero .flex__row:first-child {
          width: 36.8322981366%; } }
      @media screen and (min-width: 768px) {
        .hero .flex__row:last-child {
          width: 62.8%; } }
      @media screen and (min-width: 1024px) {
        .hero .flex__row:last-child {
          width: 63%; } }
      @media screen and (min-width: 1150px) {
        .hero .flex__row:last-child {
          width: 63.1677018634%; } }
      @media screen and (min-width: 768px) {
        .hero .flex__row:last-child .flex__cell:first-child {
          width: 58.2%; } }
      @media screen and (min-width: 1024px) {
        .hero .flex__row:last-child .flex__cell:first-child {
          width: 58.2%; } }
      @media screen and (min-width: 1150px) {
        .hero .flex__row:last-child .flex__cell:first-child {
          width: 58.3087512291%; } }
      @media screen and (min-width: 768px) {
        .hero .flex__row:last-child .flex__cell:nth-child(2) {
          width: 41.8%; } }
      @media screen and (min-width: 1024px) {
        .hero .flex__row:last-child .flex__cell:nth-child(2) {
          width: 41.8%; } }
      @media screen and (min-width: 1150px) {
        .hero .flex__row:last-child .flex__cell:nth-child(2) {
          width: 41.6912487709%; } }
      @media screen and (min-width: 768px) {
        .hero .flex__row:last-of-type {
          -ms-flex-flow: wrap;
              flex-flow: wrap; } }
    .hero .flex__cell {
      display: block;
      position: relative;
      padding: 5px;
      width: 100%; }
      .hero .flex__cell-img {
        display: block;
        position: relative;
        padding-left: 10px;
        padding-right: 10px; }
        .hero .flex__cell-img.full-width {
          padding-left: 0 !important;
          padding-right: 0 !important; }
        @media screen and (min-width: 768px) {
          .hero .flex__cell-img {
            padding-left: 0;
            padding-right: 0; } }
        .hero .flex__cell-img a {
          display: block;
          position: relative; }
        .hero .flex__cell-img .btn {
          font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
          vertical-align: top;
          white-space: nowrap;
          border: none;
          padding: 0;
          cursor: pointer;
          width: auto;
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          background: none;
          margin-left: 10px;
          margin-right: 10px; }
          .hero .flex__cell-img .btn-secondary a {
            display: inline-block;
            padding: 11px 14px;
            border: 1px solid #52535a;
            color: #333333;
            background-color: rgba(255, 255, 255, 0.8);
            outline: none;
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            font-size: 11px;
            letter-spacing: 0.605px;
            width: 100%; }
            .hero .flex__cell-img .btn-secondary a:hover, .hero .flex__cell-img .btn-secondary a:active, .hero .flex__cell-img .btn-secondary afocus {
              border: 1px solid #eeeeee;
              background-color: rgba(255, 255, 255, 0.9); }
            @media screen and (min-width: 768px) {
              .hero .flex__cell-img .btn-secondary a {
                padding: 9px 14px; } }
      .hero .flex__cell-overlay {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px 0 5px 5px;
        background: rgba(248, 246, 240, 0.85); }
        @media screen and (min-width: 768px) {
          .hero .flex__cell-overlay {
            margin-left: 0;
            margin-right: 0;
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            padding: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: white; } }
        @media screen and (min-width: 1024px) {
          .hero .flex__cell-overlay:hover, .hero .flex__cell-overlay:active, .hero .flex__cell-overlay:focus {
            opacity: 1; } }
        .hero .flex__cell-overlay.lead {
          margin-left: 0;
          margin-right: 0;
          padding-left: 15px; }
          @media screen and (min-width: 768px) {
            .hero .flex__cell-overlay.lead {
              padding-left: 0; } }
  .hero__copy {
    display: block;
    text-align: center;
    position: relative;
    background: #f8f6f0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        background: rgba(248, 246, 240, 0.75);
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        z-index: 10;
        padding: 10px 10px;
        width: 230px;
        left: calc(100% - 120px);
        margin: 0;
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .hero__copy {
        background: rgba(248, 246, 240, 0.85);
        margin-top: -1px;
        padding: 10px 10px 20px;
        width: 260px;
        left: calc(100% - 135px); } }
    .hero__copy-offer {
      padding-top: 15px;
      padding-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .hero__copy-offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy-offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin: 0; }
      .hero__copy p.serif-xl {
        margin-top: 5px;
        margin-bottom: 5px; }
        @media screen and (min-width: 768px) {
          .hero__copy p.serif-xl {
            margin-top: 0;
            margin-bottom: 0; } }
        @media screen and (min-width: 1024px) {
          .hero__copy p.serif-xl {
            margin-top: 0;
            margin-bottom: 5px; } }
        @media screen and (min-width: 1100px) {
          .hero__copy p.serif-xl {
            margin-top: 5px;
            margin-bottom: 5px; } }
      .hero__copy p.sans-bold-uppercase {
        margin-top: 10px; }
        @media screen and (min-width: 768px) {
          .hero__copy p.sans-bold-uppercase {
            margin-top: 5px; } }
        @media screen and (min-width: 1024px) {
          .hero__copy p.sans-bold-uppercase {
            margin-top: 10px; } }
        @media screen and (min-width: 1100px) {
          .hero__copy p.sans-bold-uppercase {
            margin-top: 10px; } }
      .hero__copy p.btn {
        margin-top: 10px; }
        @media screen and (min-width: 768px) {
          .hero__copy p.btn {
            margin-top: 6px; } }
        @media screen and (min-width: 1024px) {
          .hero__copy p.btn {
            margin-top: 10px; } }
        @media screen and (min-width: 1100px) {
          .hero__copy p.btn {
            margin-top: 10px; } }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1024px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1024px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      display: inline-block;
      padding: 11px 14px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary afocus {
        border: 1px solid #eeeeee; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary a {
          padding: 9px 14px; } }
  .hero__bottom-cover {
    display: none; }
    @media screen and (min-width: 768px) {
      .hero__bottom-cover {
        display: block;
        width: 100%;
        height: 5px;
        background: white;
        position: absolute;
        bottom: 0;
        z-index: 10; } }
    @media screen and (min-width: 1024px) {
      .hero__bottom-cover {
        height: 10px; } }
  .hero__disclaimer {
    z-index: 11;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (min-width: 768px) {
  .fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    .fade-in.one {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .fade-in.two {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .fade-in.three {
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }
    .fade-in.four {
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
    .fade-in.last {
      -webkit-animation-delay: 2.5s;
              animation-delay: 2.5s; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none !important; } }
