@import "../../../variables";
@import "../../../mixins";


$max-width: 1600px;




.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}


// ========================================================
// HERO
// ========================================================
%centered-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}


.hero {
  //@include red-bg();
  @extend %centered-container;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    z-index: 1;
  }


  // --------------------------------------------------------
  // IMAGE
  // --------------------------------------------------------
  &__img {
    display: block;
    position: relative;
  }



  // --------------------------------------------------------
  // TEXT
  // --------------------------------------------------------
  &__text {
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      max-height: 100% !important;
    }


    // Free Shipping SVG
    &-free-shipping {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding: 0;
      margin: 0 auto;
      max-width: 60%;
      padding-bottom: 65%;
      @media screen and (min-width: 350px) {
        max-width: 75%;
        padding-bottom: 75%;
      }
      @media screen and (min-width: 768px) {
        max-width: 70%;
        padding-bottom: 20%;
      }
      @media screen and (min-width: 1024px) {
        max-width: 800px;
        padding-bottom: 200px;
        margin: 20px auto 30px;
      }

      &-svg {
        //background: rgba(0, 255, 0, 0.2);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }


    // on all online orders
    &-online-orders {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding: 0;
      margin: 5px auto;
      max-width: 180px;
      padding-bottom: 25px;
      @media screen and (min-width: 350px) {
        margin: 10px auto;
      }
      @media screen and (min-width: 768px) {
        max-width: 300px;
        padding-bottom: 5%;
      }
      @media screen and (min-width: 1024px) {
        max-width: 360px;
        margin: 20px auto 30px;
      }
      &-svg {
        //background: rgba(255, 0, 0, 0.2);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

  }




  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  &-links__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    max-width: 480px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 600px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 720px;
    }

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 33.33333%;
        padding: 10px;
      }
    } // .column

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding-left: 3px;
      padding-right: 3px;
      border: 1px solid #333;
      transition: all 0.3s ease;
      background: $white;
      &:hover {
        border: 1px solid #e0e0e7;
      }

      p {
        width: 100%;
        display: block;
      }
    }

  }



  &__disclaimer {
    @extend %centered-container;
    text-align: right;
    font-size: 10px;
    line-height: 14px;
    margin-top: 2px;
    padding-right: 5px;
    @media screen and (min-width: 1024px) {
      font-size: 11px;
      line-height: 14px;
    }
    @media screen and (min-width: $max-width) {
      padding-right: 0;
    }

    a {
      text-decoration: underline;
    }
  }


} // .hero




// ========================================================
// Animation
// ========================================================
@keyframes pinkText {
  10% {
    fill: $white;
  }
  20% {
    fill: $brand-primary;
  }
  30% {
    fill: $white;
  }
}


.hero__text-free-shipping {
  svg {
    path {
      fill: $white;
      &.free {
        animation: pinkText 6s 2s infinite forwards;
      }
      &.shipping {
        animation: pinkText 6s 3s infinite forwards;
      }
      &.today {
        animation: pinkText 6s 4s infinite forwards;
      }
      &.only {
        animation: pinkText 6s 5s infinite forwards;
      }
    }
  }
}






// ==========================================================================
// Visibility
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none !important;
  }
}
