@import "../../../variables";
@import "../../../mixins";

// ========================================================
// VARIABLES
// ========================================================
$max-width: 1600px;




// ========================================================
// RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}




// ========================================================
// HERO
// ========================================================
.hero {
  //@include red-bg();
  min-height: 400px;

  display: block;
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: -5px;

  a {
    text-decoration: none;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

  // ----------------------------------------------------------------
  // Copy
  // ----------------------------------------------------------------
  .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    line-height: 1;
    font-weight: normal;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 26px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 36px;
    }
  }

  .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 13px;
      line-height: 18px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-secondary a {
      display: inline-block;
      padding: 11px 14px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      backface-visibility: hidden;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 9px 14px;
      }
    }
  }





  // ========================================================
  // FLEX
  // ========================================================
  .flex {


    // --------------------------------------------------------
    // CONTAINER
    // --------------------------------------------------------
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      align-content: flex-start;
    } // .flex__container


    // --------------------------------------------------------
    // COLUMN
    // --------------------------------------------------------
    &__column {
      display: block;
      position: relative;
      width: 100%;

      @media screen and (min-width: $breakpoint-md) {
        &:nth-child(1) { // Image A
          width: 54.4%;
        }
        &:nth-child(2) { // Image B/C
          width: 45.6%;
        }
        &:nth-child(3) { // Image D
          width: 100%;
        }
      }

      @media screen and (min-width: $breakpoint-lg) {
        &:nth-child(1) {  // Image A
          width: 36%;
        }
        &:nth-child(2) { // Image B/C
          width: 50%;
          .flex__item {
            &:first-child { // Image B
              width: 58.2%;
            }
            &:last-child { // Image C
              width: 41.8%;
            }
          }

        }
        &:nth-child(3) { // Image D
          width: 50%;
        }
      }

    } // .flex__column


    // --------------------------------------------------------
    // INNER - B & C
    // --------------------------------------------------------
    &__inner {
      display: flex;
      @media screen and (min-width: $breakpoint-md) {
        flex-wrap: wrap;
      }
      @media screen and (min-width: $breakpoint-lg) {
        flex-wrap: nowrap;
      }
    }

    // --------------------------------------------------------
    // ITEM
    // --------------------------------------------------------
    &__item {
      //@include green-bg();
      display: block;
      position: relative;
      width: 100%;
    } // .flex__item




  }







  // ========================================================
  // Bottom Cover
  // ========================================================
  // &__bottom-cover {
  //   display: none;
  //   @media screen and (min-width: 768px) {
  //     display: block;
  //     width: 100%;
  //     height: 5px;
  //     background: white;
  //     position: absolute;
  //     bottom: 0;
  //     z-index: 10;
  //   }
  //   @media screen and (min-width: 1024px) {
  //     height: 10px;
  //   }
  // }

} // .hero





// ========================================================
// Animation
// ========================================================
// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
//
// $delay: 0.5s;
//
// @media screen and (min-width: 768px) {
//   .fade-in {
//     opacity: 0;
//     animation: fadeIn ease-in 1;
//     animation-fill-mode: forwards;
//     animation-duration: 1s;
//
//     &.one {
//       animation-delay: $delay;
//     }
//     &.two {
//       animation-delay: $delay * 2;
//     }
//     &.three {
//       animation-delay: $delay * 3;
//     }
//     &.four {
//       animation-delay: $delay * 4;
//     }
//     &.last {
//       animation-delay: $delay * 5;
//     }
//
//   } // .fade-in
// }





// ==========================================================================
// Visibility
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none !important;
  }
}
