@import "../../../variables";
@import "../../../mixins";

// ========================================================
// VARIABLES
// ========================================================
$max-width: 1600px;




// ========================================================
// RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}




// ========================================================
// HERO
// ========================================================
.hero {
  //@include red-bg();
  min-height: 400px;

  display: block;
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: -5px;

  a {
    text-decoration: none;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

  // ----------------------------------------------------------------
  // Copy
  // ----------------------------------------------------------------
  .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    line-height: 1;
    font-weight: normal;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 26px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 36px;
    }
  }

  .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 13px;
      line-height: 18px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-secondary a {
      display: inline-block;
      padding: 11px 14px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      backface-visibility: hidden;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 9px 14px;
      }
    }
  }



  // ========================================================
  // GRID
  // ========================================================
  &__grid {
    @include red-bg();
    width: 100%;
    max-width: 1600px;

    display: -ms-grid;
    display: grid;

    //grid-gap: 10px;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);

    @media screen and (min-width: $breakpoint-md) {
      grid-gap: 5px;
      -ms-grid-columns: 54.3905635649% 5px 45.6094364351%;
      -ms-grid-rows: 27.2174969623% 5px 38.1530984204% 5px 34.6294046173%;
      grid-template-columns: 54.0364583333% 45.3125%;
      grid-template-rows: repeat(3, auto);
    }

    @media screen and (min-width: $breakpoint-lg) {
      grid-gap: 10px;
      -ms-grid-columns: 36.4375% 10px 36.4375% 10px 25.875%;
      -ms-grid-rows: 1fr 10px 1fr;
      grid-template-columns: repeat(2, 36.4375%) 25.875%;
      grid-template-rows: repeat(2, auto);
    }


    &--item {
      background: #444; // REMOVE
      display: block;
      position: relative;
      margin-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 0;
      }
    }


    // --------------------------------------------------------
    // Image A
    // --------------------------------------------------------
    .image-a {
      //display: none;
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 1; // start / end
      grid-row: 1 / 1; // start / end
      @media screen and (min-width: $breakpoint-md) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2; // start / end
        grid-row: 1 / 3; // start / end
      }
      @media screen and (min-width: $breakpoint-lg) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 1; // start / end
        grid-row: 1 / 3; // start / end
      }
    }


    // --------------------------------------------------------
    // Image B
    // --------------------------------------------------------
    .image-b {
      //display: none;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      //grid-column: 2 / 3;
      //grid-row: 2 / 1;
      @media screen and (min-width: $breakpoint-md) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3; // start / end
        grid-row: 1 / 2; // start / end
      }
      @media screen and (min-width: $breakpoint-lg) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        grid-column: 2 / 3; // start / end
        grid-row: 2 / 1; // start / end
      }
    }


    // --------------------------------------------------------
    // Image C
    // --------------------------------------------------------
    .image-c {
      //display: none;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      //grid-column: 3 / 4;
      //grid-row: 1 / 1;
      @media screen and (min-width: $breakpoint-md) {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3; // start / end
        grid-row: 2 / 3; // start / end
      }
      @media screen and (min-width: $breakpoint-lg) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        grid-column: 3 / 4; // start / end
        grid-row: 1 / 1; // start / end
      }
    }


    // --------------------------------------------------------
    // Image D
    // --------------------------------------------------------
    .image-d {
      //display: none;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      //grid-column: 2 / 4;
      //grid-row: 2;
      @media screen and (min-width: $breakpoint-md) {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / 3; // start / end
        grid-row: 3 / 4; // start / end
      }
      @media screen and (min-width: $breakpoint-lg) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
        grid-column: 2 / 4; // start / end
        grid-row: 2; // start / end
      }
    }


  } // .hero__grid






  // ========================================================
  // Bottom Cover
  // ========================================================
  // &__bottom-cover {
  //   display: none;
  //   @media screen and (min-width: 768px) {
  //     display: block;
  //     width: 100%;
  //     height: 5px;
  //     background: white;
  //     position: absolute;
  //     bottom: 0;
  //     z-index: 10;
  //   }
  //   @media screen and (min-width: 1024px) {
  //     height: 10px;
  //   }
  // }







  // ========================================================
  // Animation
  // ========================================================
  // @keyframes fadeIn {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }
  //
  // $delay: 0.5s;
  //
  // @media screen and (min-width: 768px) {
  //   .fade-in {
  //     opacity: 0;
  //     animation: fadeIn ease-in 1;
  //     animation-fill-mode: forwards;
  //     animation-duration: 1s;
  //
  //     &.one {
  //       animation-delay: $delay;
  //     }
  //     &.two {
  //       animation-delay: $delay * 2;
  //     }
  //     &.three {
  //       animation-delay: $delay * 3;
  //     }
  //     &.four {
  //       animation-delay: $delay * 4;
  //     }
  //     &.last {
  //       animation-delay: $delay * 5;
  //     }
  //
  //   } // .fade-in
  // }





  // ==========================================================================
  // Visibility
  // ==========================================================================
  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none !important;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none !important;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none !important;
    }
  }

} // .hero
