@import "../../../variables";
@import "../../../mixins";

$max-width: 1600px;

.ctnr-maincontent .row {
  margin: 0 auto;
}





.hero {
  //@include red-bg();
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: -5px;

  a {
    text-decoration: none;
  }

  .column_full {
    margin-left: -5px;
    margin-right: -5px;
  }


  .object-fit {
    &_fill {
      object-fit: fill;
    }
    &_contain {
      object-fit: contain;
    }
    &_cover {
      object-fit: cover;
    }
    &_none {
      object-fit: none;
    }
    &_scale-down {
      object-fit: scale-down;
    }
  }

  img[class] {
    width: 100%;
  }




  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    // --------------------------------------------------------
    // .flex__row
    // --------------------------------------------------------
    &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (min-width: 768px) {
        flex-direction: row;

        &:first-child {
          width: 37.5%;
          @media screen and (min-width: 768px) {
            width: 54.498714653%;
          }
          @media screen and (min-width: 1024px) {
            width: 36.9%;
          }
        }
        &:last-child {
          width: 62.5%;
          @media screen and (min-width: 768px) {
            width: 45.501285347%;
          }
          @media screen and (min-width: 1024px) {
            width: 63.1%;
          }

          .flex__cell {
            &:first-child {
              @media screen and (min-width: 768px) {
                //width: 60.0829445308%;
              }
              @media screen and (min-width: 1024px) {
                width: 58.308751229105%;
              }

            }
            &:nth-child(2) {
              @media screen and (min-width: 768px) {
                //width: 39.9170554692%;
              }
              @media screen and (min-width: 1024px) {
                width: 41.691248770895%;
              }

            }
          }
        }
        &:last-of-type {
          flex-flow: wrap;
        }
      }
    } // .flex__row


    // --------------------------------------------------------
    // .flex__cell
    // --------------------------------------------------------
    &__cell {
      @include green-bg();
      display: block;
      position: relative;
      padding: 5px;
      width: 100%;
      &:nth-child(2) {
        //order: 1;
      }

      // --------------------------------------------------------
      // .flex__cell-img
      // --------------------------------------------------------
      &-img {
        display: block;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        &.full-width {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        @media screen and (min-width: 768px) {
          padding-left: 0;
          padding-right: 0;
        }
      } // .flex__cell-img


      // --------------------------------------------------------
      // .flex__cell-overlay
      // --------------------------------------------------------
      &-overlay {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px 0 5px 5px;
        background: rgba(248,246,240,0.85);
        @media screen and (min-width: 768px) {
          margin-left: 5px;
          margin-right: 5px;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          bottom: 5px;
          padding: 0;
          background: rgba(0,0,0,0.5);
          opacity: 0;
          @include transition();
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          &:hover,
          &:active,
          &:focus {
            opacity: 1;
          }
        }

        &.lead {
          margin-left: 0;
          margin-right: 0;
          padding-left: 15px;
          @media screen and (min-width: 768px) {
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 0;
          }
        }
      } // .flex__cell-overlay

    } // .flex__cell



    .row-2 {
      @media screen and (min-width: 768px) {
        //flex: 1;
        margin: 0;
        //order: 3;
      }

    }

    .col-2 {
      @media screen and (min-width: 768px) {
        margin: 0;
        //flex: 1;
        //width: 100% !important;
      }
    }

  } // .flex



  // ========================================================
  // Hero Copy
  // ========================================================
  // &__copy {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: center;
  //   align-content: center;
  //   text-align: center;
  //   position: absolute;
  //   background: rgba(248,246,240, 0.85);
  //   top: 60vw;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 300px;
  //   height: 300px;
  //   z-index:
  //
  //   p {
  //     margin: 0;
  //     &.serif-xl {
  //       margin-bottom: 10px;
  //     }
  //     &.sans-l {
  //       margin-bottom: 10px;
  //     }
  //   }
  //
  //   &.round {
  //     border-radius: 50%;
  //   }
  // }

  .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-l {
        font-size: 18px;
        line-height: 24px; } }



  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-primary {
      & a {
        display: inline-block;
        padding: 7px 24px;
        border: 1px solid $white;
        color: $white;
        background-color: $purple-gray-dk;
        outline: 4px solid $purple-gray-dk;
        &:hover,
        &:active,
        &:focus {
          border: 1px solid $purple-lt;
          outline: 4px solid $black !important;
        }
      }
    }


    &-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 11px 50px;
      }
    }
  }


  &__bottom-cover {
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
      position: absolute;
      bottom: 0;
      background: white;
      width: 100%;
      height: 6px;
    }
  }

} // .hero





// ========================================================
// Animation
// ========================================================
// @keyframes fadeIn {
//   from {
//     opacity:0;
//   }
//   to {
//     opacity:1;
//   }
// }
//
// .fade-in {
//   opacity: 0;
//   animation: fadeIn ease-in 1;
//   animation-fill-mode: forwards;
//   animation-duration: 1s;
//
//   &.one {
//     animation-delay: 0.5s;
//   }
//   &.two {
//     animation-delay: 1.0s;
//   }
//   &.three {
//     animation-delay: 1.5s;
//   }
//   &.four {
//     animation-delay: 2.0s;
//   }
//
// } // .fade-in






// ==========================================================================
// Visibility
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none;
    visibility: hidden;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
    display: none;
    visibility: hidden;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none;
    visibility: hidden;
  }
}
