.ctnr-maincontent .row {
  margin: 0 auto; }

.hero {
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0.1); }
  .hero img {
    width: 100%; }
  .hero > * {
    color: #fff;
    text-shadow: 0 2px 0 rgba(110, 133, 156, 0.2);
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    padding: 5px; }

/* =====================================
   Grid Layout
======================================== */
@media screen and (min-width: 768px) {
  .hero .image-a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; } }

@media screen and (min-width: 768px) {
  .hero .image-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; } }

@media screen and (min-width: 768px) {
  .hero .image-c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; } }

@media screen and (min-width: 768px) {
  .hero .image-d {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; } }

.hero {
  max-width: 1600px;
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto); }
  @media screen and (min-width: 768px) {
    .hero {
      grid-template-columns: 37.0625% 25.875% 37.0625%;
      grid-auto-rows: minmax(100px, auto); } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }
