<span class="header__main-nav-trigger-text-topic" data-trigger-topic="PLUSSIZE">Plus Size</span>
<style>
  [data-menu-active-topic='PLUSSIZE'] .header__main-nav-trigger-text-topic[data-trigger-topic='PLUSSIZE'] {
    display: block;
  }
  @media screen and (max-width: 1023px) {
    [data-menu-active-topic='PLUSSIZE'] .header__main-nav-topic[data-menu-topic='PLUSSIZE'] {
      display: block;
    }
    [data-menu-active-topic='PLUSSIZE'] [data-menu-topic='PLUSSIZE'] .header__main-nav-topic-section-list {
      display: block;
      padding-left: 0;
    }
  }
  @media screen and (min-width: 1023px) {
    [data-topic-status='open'] .header__main-nav-topic-heading-link,
    [data-menu-active-topic='PLUSSIZE'] [data-menu-topic='PLUSSIZE'] .header__main-nav-topic-heading-link {
      background-color: #ffffff;
      border-left: 1px solid #74736d;
      border-right: 1px solid #74736d;
      border-top: 3px solid #F3665C;
    }
  }
</style>
<li class="header__main-nav-topic " data-menu-topic="PLUSSIZE" data-topic-status="closed" role="menuitem">
  <script>allL1Cats.push("FlowerGirl");</script>
  <div class="header__main-nav-topic-heading">
    <a onclick="headerClickEvent('FlowerGirl');" class="header__main-nav-topic-heading-link sans-bold-uppercase" href="/flowergirl">Flower Girl</a>
  </div>
  <ul class="header__main-nav-topic-section-list">
    <li class="hide-at-large">
      <a class="header__main-nav-topic-section-link--main sans-bold-uppercase" href="#" data-menu-back="">Main Menu</a>
    </li>
    <li class="header__main-nav-topic-section-link--all sans-bold-uppercase hide-at-large">
      <a onclick="headerClickEvent('FlowerGirl');" class="sans-bold-uppercase" href="/flowergirl">Flower Girl&nbsp;Homepage</a>
    </li>
    <li class="header__main-nav-topic-section header__main-explore-nav-topic-section spacing-half" espot-name="ES_EXPLORE_PLUSSIZE">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Explore</a>
      </div>
      <ul>
        <li><a onclick="headerClickEvent('FlowerGirl', 'Explore', 'Flower Girl Inspiration')" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Inspiration</a></li>
        <li><a onclick="headerExploreClickEvent('ES_EXPLORE_PLUSSIZE', 'FlowerGirl', 'Wedding Color Inspiration')" href="/Content_StyleandFashionGuide_weddingcolorideas">Wedding Color Inspiration</a></li>
        <li><a onclick="headerExploreClickEvent('ES_EXPLORE_PLUSSIZE', 'FlowerGirl', '2017 Look Book')" href="/Content_Catalog_onlinecatalog">2017 Look Book</a></li>
        <li><a onclick="headerExploreClickEvent('ES_EXPLORE_PLUSSIZE', 'FlowerGirl', 'Real Weddings')" href="/Content_RealWeddings_realweddings">Real Weddings</a></li>
        <li><a onclick="headerExploreClickEvent('ES_EXPLORE_PLUSSIZE', 'FlowerGirl', 'Wedding Party Gift Guide')" href="/Content_StyleandFashionGuide_bridalpartygifts">Wedding Party Gift Guide</a></li>
      </ul>
    </li>
    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Flower Girl Dresses </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'All Flower Girl Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/flower-girl-dresses"> All Flower Girl Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'Online Exclusives');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:307445734561666668266117121979810810179110108105110101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Online Only&"> Online Exclusives</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'Flower Girl Dresses with Color');" class="header__main-nav-topic-section-item-link sans-xs" href="/colored-flower-girl-dresses"> Flower Girl Dresses with Color</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'Lace Flower Girl Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/lace-vintage-flower-girl-dresses"> Lace Flower Girl Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'Ivory Flower Girl Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:10160671049710911297103110101,1016073118111114121,101607311811111412147671049710911297103110101,10160831111021163287104105116101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:&"> Ivory Flower Girl Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'White Flower Girl Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:1016087104105116101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:&"> White Flower Girl Dresses</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Flower Girl Dresses' ,'Bohemian Flower Girl Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/bohemian-flower-girl-dresses"> Bohemian Flower Girl Dresses</a>
        </li>
      </ul>
    </li>
    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Shop by Size </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'All');" class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/flower-girl-dresses"> All</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Infants');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:3074457345616666688731101029711011611595495077,3074457345616666688731101029711011611595495677,3074457345616666688731101029711011611595505277&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,12M,18M,24M&"> Infants</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Toddlers');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:307445734561666668884111100100108101114115955084,307445734561666668884111100100108101114115955184,3074457345616666688841111001001081011141159551,3074457345616666688841111001001081011141159552&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,2T,3T,3,4&"> Toddlers</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Little Kids');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:30744573456166666887610511611610810132751051001159552,30744573456166666887610511611610810132751051001159553,30744573456166666887610511611610810132751051001159554,3074457345616666688761051161161081013275105100115955488,30744573456166666887610511611610810132751051001159555&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:4,5,6,6X,7&"> Little Kids</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Kids');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:3074457345616666688751051001159553,3074457345616666688751051001159554,3074457345616666688751051001159556,307445734561666668875105100115954948,307445734561666668875105100115954950&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:5,6,8,10,12&"> Kids</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Plus Kids');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:307445734561666668880108117115327510510011595495043,307445734561666668880108117115327510510011595494843,3074457345616666688801081171153275105100115955643,307445734561666668880108117115327510510011595495243&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,12+,10+,8+,14+&"> Plus Kids</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Size' ,'Teens');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:307445734561666668884101101110115954952&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:14&"> Teens</a>
        </li>
      </ul>
    </li>
    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Shop by Price </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Price' ,'Under $50');" class="header__main-nav-topic-section-item-link sans-xs" href="/flower-girl-dresses-under-50"> Under $50</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Price' ,'Under $100');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:price&productBeginIndex:0&orderBy:&pageView:grid&minPrice:18.00&maxPrice:100.00&pageSize:30&productSize:large&isPriceFacet:false&facetValues:$18.00-$100.00&"> Under $100</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Price' ,'$100 & Up');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?categoryId=3002801&storeId=10052&langId=-1#!&facet:price&productBeginIndex:0&orderBy:&pageView:grid&minPrice:100.00&maxPrice:150.00&pageSize:30&productSize:large&isPriceFacet:false&facetValues:$100.00-$150.00&"> $100 & Up</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Shop by Price' ,'Sale');" class="header__main-nav-topic-section-item-link sans-xs" href="/sale/sale-flower-girl-dresses"> Sale</a>
        </li>
      </ul>
    </li>
    <li class="header__main-nav-topic-section spacing-half">
      <div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
        <a class="header__main-nav-topic-section-heading-link">Complete Your Look </a>
      </div>
      <ul class="header__main-nav-topic-section-item-list">
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'All Flower Girl Accessories');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/flower-girl-accessories"> All Flower Girl Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Jewelry');" class="header__main-nav-topic-section-item-link sans-xs" href="/flower-girl-jewelry"> Jewelry</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Jackets & Wraps');" class="header__main-nav-topic-section-item-link sans-xs" href="/flower-girl-outerwear"> Jackets & Wraps</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Shoes');" class="header__main-nav-topic-section-item-link sans-xs" href="/shoes/flower-girl-shoes"> Shoes</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Hair Accessories');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Girl%2527s%2BHeadpieces%2522&showResultsPage=true&beginIndex=0&categoryId=3002632&langId=-1&storeId=10052&sType=SimpleSearch"> Hair Accessories</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Flower Girl Baskets');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_ceremonyacc_ntk_cs%253A%2522Flower%2BGirl%2BBaskets%2522&showResultsPage=true&beginIndex=0&categoryId=3002755&langId=-1&storeId=10052&sType=SimpleSearch"> Flower Girl Baskets</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Veils');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Communion%2BVeils%2522&showResultsPage=true&beginIndex=0&categoryId=3002631&langId=-1&storeId=10052&sType=SimpleSearch"> Veils</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Sashes & Belts');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_e3_acctype_ntk_cs%253A%2522Sashes%2522&showResultsPage=true&beginIndex=0&categoryId=3002755&langId=-1&storeId=10052&sType=SimpleSearch"> Sashes & Belts</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Handbags');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_handbagtype_ntk_cs%253A%2522Flower%2BGirl%2522&showResultsPage=true&beginIndex=0&categoryId=3002625&langId=-1&storeId=10052&sType=SimpleSearch"> Handbags</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Gloves');" class="header__main-nav-topic-section-item-link sans-xs" href="/SearchDisplay?pageSize=40&searchType=1000&pageView=grid&catalogId=10051&facet=ads_f2_ntk_cs%253A%2522XXS%2522&showResultsPage=true&beginIndex=0&categoryId=3002626&langId=-1&storeId=10052&sType=SimpleSearch"> Gloves</a>
        </li>
        <li class="header__main-nav-topic-section-item">
          <a onclick="headerClickEvent('FlowerGirl', 'Complete Your Look' ,'Flower Girl Gifts');" class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-gifts/flower-girl-gifts"> Flower Girl Gifts</a>
        </li>
      </ul>
    </li>
    <li class="header__main-nav-topic-section spacing-half" espot-name="ES_SWIMLANE_PLUSSIZE">
      <figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="FlowerGirl">
        <a href="/accessories/flower-girl-accessories" data-swimlane-category="FlowerGirl" data-swimlane-position="1">
          <img class="header__main-nav-topic-section-image" src="//sb.monetate.net/img/1/c/static/2804/528571/17f07deafcba2cb54bb36f060e6f93ff2d8f2510.png" alt="Buy One Get One 50% Off Select Flower Girl Accessories" nopin="nopin">
          <figcaption class="sans-bold-uppercase">Buy One Get One 50% Off Select Flower Girl Accessories&nbsp;&gt;</figcaption>
        </a>
      </figure>
    </li>
  </ul>
</li>
