.header__main-nav-content {
  @media screen and (min-width: 1024px) {
    position: absolute !important;
    bottom: -5px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 10 !important;
  }
  @media screen and (min-width: 1150px) {
    width: 1150px !important;
  }
  @media screen and (min-width: 1250px) {
    width: 1250px !important;
  }
  @media screen and (min-width: 1300px) {
    width: 1340px !important;
  }
}

@media screen and (min-width: 1024px) {
  .header__main-nav-topic:nth-child(6) .header__main-nav-topic-section-list,
  .header__main-nav-topic:nth-child(7) .header__main-nav-topic-section-list,
  .header__main-nav-topic:nth-child(8) .header__main-nav-topic-section-list,
  .header__main-nav-topic:nth-child(9) .header__main-nav-topic-section-list {
    left: auto;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__main-nav-topic[data-menu-topic="PLUSSIZE"] .header__main-nav-topic-section-list{
    left: 0;
    right: auto;
  }
}
