// ==========================================================================
// Bridesmaid Hub Heading
// ==========================================================================
.bridesmaids-heading {
  max-width: 1252px;
  background: #f5d3d4;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  @media screen and (min-width: 1262px) {
    margin: 0 auto;
  }

  &__background {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 200px;
    }
  }

  // Text
  &__text {
    //@include green-bg();
    padding: 15px 20px;
    @media screen and (min-width: $breakpoint-md) {
      width: 100%;
      position: relative;
    }

    .sans-m {
      margin: 0 auto;
      margin-bottom: 5px;
      max-width: 400px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    .links {
      p.sans-bold-uppercase {
        margin: 0;
        margin-bottom: 5px;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

} // .bridesmaids-heading
