// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.inspiration-guidance {
  position: relative;
  padding: 0 10px;
  .column-full {
    padding: 0;
  }


  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
  }

  .article__teaser-list {
    margin-top: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 5px;
    }

    & .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%;
      @media screen and (max-width: 767px) {
        float: left;
        margin-right: 11px;
        width: 50%;
        & img {
          width: 100%;
        }
      }
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 10px;
      }
    }

    & .mobile-mb-split-1:not(:last-child) {
      @media screen and (max-width: 767px) {
        padding-bottom: 0px;
      }
    }
  }


  @media screen and (min-width: 768px) {
    .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
      .layout-split-4 > .column:nth-child(1) {
        margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
      .layout-split-4 > .column:nth-child(1) {
        margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

}
