// ==========================================================================
// Layout: 2 columns flex
// ==========================================================================

.two-column-flex {
  //@include red-bg();
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: flex-start;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  margin-top: 5px;
  @media screen and (min-width: $breakpoint-md) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: $container-max-width) {
    padding-left: 0;
    padding-right: 0;
  }

  .column {
    //@include green-bg();
    width: 100%;
    padding: 5px 10px;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
      padding: 5px;
    }
    @media screen and (min-width: $container-max-width) {
      padding: 5px;
    }

    &__text {
      padding-top: 10px;
      padding-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        padding-top: 20px;
        padding-bottom: 15px;
      }

      h3 {
        display: block;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
        }
      }

      p {
        display: block;
        margin-bottom: 0;
        margin-top: 5px;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
          padding-left: 20px;
        }
      }
    }
  } // .column


} // .two-column
