<style media="screen">
html,
body {
  color: #333; }

p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

.rowContainer, .rowContainer > .row {
  padding: 0;
  margin: 0; }

.left_espot a {
  text-decoration: none; }
  .left_espot a:hover, .left_espot a:active, .left_espot a:focus {
    text-decoration: none; }


.espot-container {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (min-width: 1282px) {
    .espot-container {
      padding-left: 0;
      padding-right: 0; } }

</style>

<style media="screen">
.prom-takeover {
  border: none;
  color: #333;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  position: relative; }
  .prom-takeover h1,
  .prom-takeover h2,
  .prom-takeover h3,
  .prom-takeover h4,
  .prom-takeover h5,
  .prom-takeover h6 {
    padding: 0; }
  .prom-takeover .reverse-type h1,
  .prom-takeover .reverse-type h2,
  .prom-takeover .reverse-type h3,
  .prom-takeover .reverse-type h4,
  .prom-takeover .reverse-type h5,
  .prom-takeover .reverse-type h6,
  .prom-takeover .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .prom-takeover .reverse-type h1,
      .prom-takeover .reverse-type h2,
      .prom-takeover .reverse-type h3,
      .prom-takeover .reverse-type h4,
      .prom-takeover .reverse-type h5,
      .prom-takeover .reverse-type h6,
      .prom-takeover .reverse-type p {
        color: #fff; } }
  .prom-takeover .slide {
    height: auto;
    width: 100%; }
    .prom-takeover .slide-background {
      position: relative;
      width: 100%; }
    .prom-takeover .slide-text {
      position: relative;
      padding: 30px 0;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874; }
      @media screen and (min-width: 768px) {
        .prom-takeover .slide-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 5%;
          margin: 0;
          padding: 20px; } }
      @media screen and (min-width: 1024px) {
        .prom-takeover .slide-text {
          padding: 30px;
          right: 10%; } }
      .prom-takeover .slide-text p {
        margin: 0; }
        .prom-takeover .slide-text p.serif-l, .prom-takeover .slide-text p.serif-l-italic {
          margin-bottom: 10px; }
        .prom-takeover .slide-text p.sans-m {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 240px; }
        .prom-takeover .slide-text p.btn {
          margin-bottom: 20px; }
        .prom-takeover .slide-text p.sans-bold-uppercase {
          margin-bottom: 0; }
  .prom-takeover img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .prom-takeover .prom-takeover-button-container {
      top: 0;
      left: 0; } }
  .prom-takeover__buttons a {
    display: inline-block;
    width: 30px; }
    .prom-takeover__buttons a svg {
      -webkit-transition: fill 0.2s ease-in-out;
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      @media screen and (min-width: 768px) {
        .prom-takeover__buttons a svg {
          fill: #fff; } }
      .prom-takeover__buttons a svg:hover {
        fill: #74736d; }
        @media screen and (min-width: 768px) {
          .prom-takeover__buttons a svg:hover {
            fill: #c1c1c1; } }
  .prom-takeover .btn {
    margin: 10px 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid transparent; }
    .prom-takeover .btn a,
    .prom-takeover .btn a:hover {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      padding: 7px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      min-width: 200px; }
    .prom-takeover .btn-primary a {
      background-color: #52535a;
      color: #fff;
      outline: 4px solid #52535a;
      border: 1px solid #fff; }
      .prom-takeover .btn-primary a:hover {
        outline: 4px solid #333333; }
    .prom-takeover .btn-secondary a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ffffff;
      color: #52535a;
      outline: 1px solid #52535a;
      text-align: center;
      text-decoration: none;
      position: relative; }
      .prom-takeover .btn-secondary a:hover {
        background-color: #ccc;
        outline: 1px solid #333; }
    .prom-takeover .btn-secondary-special a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ef4370;
      color: #ffffff;
      outline: 1px solid #ef4370;
      text-align: center;
      text-decoration: none;
      padding: 11px 24px;
      position: relative;
      min-width: 240px !important; }
      .prom-takeover .btn-secondary-special a:hover, .prom-takeover .btn-secondary-special a:focus {
        padding: 11px 24px;
        background-color: #c20b64;
        outline: 1px solid #c20b64; }
  .prom-takeover-heading {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.prom-takeover .sans-m {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    .prom-takeover .sans-m {
      font-size: 15px;
      line-height: 24px; } }
</style>

<section class="prom-takeover" data-analytics-tagging="prom-takeover">
  <div class="slick">
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide-background">
          <div class="mobile-hidden">
            <a href="#">
              <img src="/wcsstore/images/wwcm/categorylandingpages/spring2018/dresses/Dresses_Hero_1600x615.jpg" class="mobile-hidden" alt="" />
            </a>
          </div>
          <div class="tablet-hidden desktop-hidden">
            <a href="#">
              <img src="http://sb.monetate.net/img/1/564/1403938.jpg" class="desktop-hidden tablet-hidden" alt="" />
            </a>
          </div>
        </div>

        <div class="slide-text">
          <p class="serif-l-italic">&num;DavidsProm</p>
          <p class="sans-m">The new collection is here!<br>Find your dress from $99.95</p>
          <p class="btn btn-secondary-special">
            <a class="sans-bold-uppercase" href="#">Shop Prom</a>
          </p>
          <p class="sans-bold-uppercase">
            <a href="#">Get Inspired&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section><!-- End prom-takeover -->
