#makeApptBtn {
  display: none !important; }

.detail__actions .detail__actions-group .button-column {
  width: 100% !important; }

@media screen and (min-width: 78.125em) {
  .detail__actions .detail__actions-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.pdp-favorite-container {
  margin-bottom: 12px; }
