<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/groomsmen-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Groomsmen.jpg" alt="wooden six pack holder with bottle opener on side, antlers and text MICHAEL GROOMSMAN 09.12.15" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Groomsmen Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/groomsmen-gifts">Shop Groosmen Gifts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/flower-girl-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Flowergirl.jpg" alt="white tshirt with lace, floral heart with FLOWER GIRL written in gold" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Flower Girl Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/flower-girl-gifts">Shop Flower Girl Gifts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/wedding-gifts-for-parents">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Parents.jpg" alt="white heart shaped tray, two white handkerchiefs" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Gifts for Parents</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/wedding-gifts-for-parents">Shop Gifts for Parents&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
