<style media="screen">
.three-across h2 {
  margin: 0;
  margin-bottom: -10px; }

.three-across .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  @media screen and (min-width: 768px) {
    .three-across .flex-container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .three-across .flex-container .column {
    width: 100%;
    padding: 0px;
    margin: 15px 0; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container .column {
        padding: 5px; } }
    .three-across .flex-container .column img {
      width: 100%; }
    .three-across .flex-container .column .media-block-content {
      margin-top: 10px; }
      .three-across .flex-container .column .media-block-content p {
        margin-top: 5px; }
        @media screen and (min-width: 768px) {
          .three-across .flex-container .column .media-block-content p {
            margin-top: 5px; } }
</style>
<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="m/wedding-gifts/bridesmaid-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Bridesmaid.jpg" alt="black tote bag with sunglasses, keychain and tumbler around it" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Bridesmaid Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="m/wedding-gifts/bridesmaid-gifts">Shop Bridesmaid Gifts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/wedding-gifts-for-bride">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Robes.jpg" alt="girl wearing white robe with "Bride" written on back" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Robes for Brides</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/wedding-gifts-for-bride">Shop Robes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-robes-clothing-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Apparel.jpg" alt="girl wearing beachy honeymoon tank top" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">T-Shirts &amp; Apparel</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-robes-clothing-gifts">Shop Apparel&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
