<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/barware-glassware-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Drinkware.jpg" alt="two floral tumblers and one floral coffee mug" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Mugs, Glasses &amp; More</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/barware-glassware-gifts">Shop Drinkware&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/totes-and-cosmetic-bags">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Totes.jpg" alt="striped bridesmaid tote with makeup bag and flowers inside" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Totes &amp; Cosmetic Bags</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/totes-and-cosmetic-bags">Shop Bags&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/personalized-jewelry">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Personalized.jpg" alt="white box with gold THANK YOU for being my bridesmaid bracelet" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Personalized Jewelry</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/personalized-jewelry">Shop Personalized Jewelry&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
