<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/wedding-gifts-for-groom">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Groom.jpg" alt="square box with socks next to it" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Groom Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/wedding-gifts-for-groom">Shop Groom Gifts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666674841041013267111117112108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,The Couple&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_Couple.jpg" alt="two white mugs with heart shaped handle, black script hubby and wifey" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Gifts for Couples</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666674841041013267111117112108101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,The Couple&">Shop Gifts for Couples&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/ring-bearer-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/gifts/767_Gifts_CLP_RingBearer.jpg" alt="white to-go cup with straw, with text K - KEVIN RING SECURITY" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Ring Bearer Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/ring-bearer-gifts">Shop Ring Bearer Gifts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
