<style media="screen">
.shop-by-price .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .shop-by-price .flex-container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .shop-by-price .flex-container .column {
    width: 50%;
    padding: 5px; }
    @media screen and (min-width: 768px) {
      .shop-by-price .flex-container .column {
        width: 100%; } }
  .shop-by-price .flex-container a {
    color: #333; }
    .shop-by-price .flex-container a:hover, .shop-by-price .flex-container a:active {
      color: #333; }

.shop-by-price-item {
  background: #f9b3ae;
  padding: 24px 0;
  text-align: center; }
  .shop-by-price-item p {
    margin: 0; }
    .shop-by-price-item p .serif-m {
      font-size: 18px; }
      @media screen and (min-width: 768px) {
        .shop-by-price-item p .serif-m {
          font-size: 24px; } }
    .shop-by-price-item p .serif-xxl {
      font-size: 26px; }
      @media screen and (min-width: 768px) {
        .shop-by-price-item p .serif-xxl {
          font-size: 48px; } }

</style>

<section data-analytics-tagging="ShopByPrice" class="espot-container shop-by-price">

  <div class="flex-container">
    <div class="column">
      <a href="/gifts-under-10">
        <div class="shop-by-price-item">
          <p class="serif-m">gifts under</p>
          <p class="serif-xxl">$10</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/gifts-under-25">
        <div class="shop-by-price-item">
          <p class="serif-m">gifts under</p>
          <p class="serif-xxl">$25</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/gifts-under-50">
        <div class="shop-by-price-item">
          <p class="serif-m">gifts under</p>
          <p class="serif-xxl">$50</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="/gifts-under-100">
        <div class="shop-by-price-item">
          <p class="serif-m">gifts under</p>
          <p class="serif-xxl">$100</p>
        </div>
      </a>
    </div>
  </div>

</section>
