<style media="screen">
html,
body {
  color: #333; }

p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

.rowContainer, .rowContainer > .row {
  padding: 0;
  margin: 0; }

.left_espot a {
  text-decoration: none; }
  .left_espot a:hover, .left_espot a:active, .left_espot a:focus {
    text-decoration: none; }


.espot-container {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (min-width: 1282px) {
    .espot-container {
      padding-left: 0;
      padding-right: 0; } }



</style>

<style media="screen">
.carousel {
  border: none;
  color: #333;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  position: relative; }
  .carousel h1,
  .carousel h2,
  .carousel h3,
  .carousel h4,
  .carousel h5,
  .carousel h6 {
    padding: 0; }
  .carousel .reverse-type h1,
  .carousel .reverse-type h2,
  .carousel .reverse-type h3,
  .carousel .reverse-type h4,
  .carousel .reverse-type h5,
  .carousel .reverse-type h6,
  .carousel .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .carousel .reverse-type h1,
      .carousel .reverse-type h2,
      .carousel .reverse-type h3,
      .carousel .reverse-type h4,
      .carousel .reverse-type h5,
      .carousel .reverse-type h6,
      .carousel .reverse-type p {
        color: #fff; } }
  .carousel .slide {
    height: auto;
    width: 100%; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
    .carousel .slide-text {
      position: relative;
      padding: 30px;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874; }
      @media screen and (min-width: 768px) {
        .carousel .slide-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 5%;
          margin: 0;
          padding: 20px 40px; } }
      @media screen and (min-width: 1024px) {
        .carousel .slide-text {
          padding: 60px 40px;
          right: 10%;
          width: 340px; } }
      .carousel .slide-text p {
        margin: 0; }
        .carousel .slide-text p.serif-l, .carousel .slide-text p.serif-l-italic {
          margin-bottom: 10px; }
        .carousel .slide-text p.sans-m {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 240px; }
        .carousel .slide-text p.btn {
          margin-bottom: 20px; }
        .carousel .slide-text p.sans-bold-uppercase {
          margin-bottom: 0; }
  .carousel img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .carousel .carousel-button-container {
      top: 0;
      left: 0; } }
  .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel__buttons a svg {
      -webkit-transition: fill 0.2s ease-in-out;
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      @media screen and (min-width: 768px) {
        .carousel__buttons a svg {
          fill: #fff; } }
      .carousel__buttons a svg:hover {
        fill: #74736d; }
        @media screen and (min-width: 768px) {
          .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 10px; } }
  .carousel-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 10px; } }
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid transparent; }
    .carousel .btn a,
    .carousel .btn a:hover {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      padding: 7px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      min-width: 200px; }
    .carousel .btn-primary a {
      background-color: #52535a;
      color: #fff;
      outline: 4px solid #52535a;
      border: 1px solid #fff; }
      .carousel .btn-primary a:hover {
        outline: 4px solid #333333; }
    .carousel .btn-secondary a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ffffff;
      color: #52535a;
      outline: 1px solid #52535a;
      text-align: center;
      text-decoration: none;
      position: relative; }
      .carousel .btn-secondary a:hover {
        background-color: #ccc;
        outline: 1px solid #333; }
    .carousel .btn-secondary-special a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ef4370;
      color: #ffffff;
      outline: 1px solid #ef4370;
      text-align: center;
      text-decoration: none;
      padding: 11px 24px;
      position: relative; }
      .carousel .btn-secondary-special a:hover, .carousel .btn-secondary-special a:focus {
        padding: 11px 24px;
        background-color: #c20b64;
        outline: 1px solid #c20b64; }
  .carousel-nav {
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0 20px;
    width: 100%;
    max-width: 215px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 9; }
    @media screen and (max-width: 767px) {
      .carousel-nav {
        display: none; } }
    .carousel-nav_items {
      border-top: 3px solid #333333; }
      .carousel-nav_items-sub {
        padding-top: 15px; }
    .carousel-nav_item {
      padding: 15px 0; }
      .carousel-nav_item:not(:first-child) {
        border-top: 1px solid #eeeeee; }
        .carousel-nav_item:not(:first-child)[data-nav-open="true"] {
          border-color: #000000; }
      .carousel-nav_item:last-child {
        padding-bottom: 20px; }
      .carousel-nav_item_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        cursor: pointer;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .carousel-nav_item-child a,
      .carousel-nav_item-child a:visited {
        text-decoration: none;
        display: block;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-delay: initial;
                transition-delay: initial; }
      .carousel-nav_item-child a:hover,
      .carousel-nav_item-child a:focus {
        color: #74736d;
        text-decoration: none; }
    .carousel-nav_header-open-link {
      display: block; }
    .carousel-nav_header-action-plus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-plus svg {
        width: 13px;
        height: 13px; }
    .carousel-nav_header-action-minus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-minus svg {
        width: 13px;
        height: 3px; }
  .carousel-heading {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .carousel.video {
    max-width: 1262px;
    margin: 0 auto;
    border: none; }
    .carousel.video .slide-background {
      position: relative;
      padding-bottom: 56.25%;
      height: 0; }
      .carousel.video .slide-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .carousel.video .slide-text {
      background: rgba(248, 246, 240, 0.85); }
      @media screen and (min-width: 768px) {
        .carousel.video .slide-text {
          top: 40%;
          -webkit-transform: translateY(-40%);
                  transform: translateY(-40%);
          padding: 30px 40px; } }
    .carousel.video .carousel-nav {
      background: rgba(255, 255, 255, 0.85); }
  .carousel .video-cover {
    display: none; }
    @media screen and (min-width: 768px) {
      .carousel .video-cover {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 13.38029%;
        background: white; } }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
  display: block; }


.carousel {
    margin-bottom: -15%;
}
@media screen and (min-width: 768px) {
.carousel .slide-background.decor::after {
    height: 40%;
}}
@media screen and (min-width: 1024px) {
.carousel .slide-background.decor::after {
    height: 50%;
}
}

.carousel .slide-background.decor::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
    z-index: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(6.67%, rgba(255, 255, 255, 0.01)), color-stop(13.33%, rgba(255, 255, 255, 0.02)), color-stop(20%, rgba(255, 255, 255, 0.05)), color-stop(26.67%, rgba(255, 255, 255, 0.08)), color-stop(33.33%, rgba(255, 255, 255, 0.13)), color-stop(40%, rgba(255, 255, 255, 0.21)), color-stop(46.67%, rgba(255, 255, 255, 0.34)), color-stop(53.33%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.66)), color-stop(66.67%, rgba(255, 255, 255, 0.79)), color-stop(73.33%, rgba(255, 255, 255, 0.88)), color-stop(80%, rgba(255, 255, 255, 0.92)), color-stop(86.67%, rgba(255, 255, 255, 0.95)), color-stop(93.33%, rgba(255, 255, 255, 0.98)), to(#f8f6f0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.02) 13.33%, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.08) 26.67%, rgba(255, 255, 255, 0.13) 33.33%, rgba(255, 255, 255, 0.21) 40%, rgba(255, 255, 255, 0.34) 46.67%, rgba(255, 255, 255, 0.5) 53.33%, rgba(255, 255, 255, 0.66) 60%, rgba(255, 255, 255, 0.79) 66.67%, rgba(255, 255, 255, 0.88) 73.33%, rgba(255, 255, 255, 0.92) 80%, rgba(255, 255, 255, 0.95) 86.67%, rgba(255, 255, 255, 0.98) 93.33%, #f8f6f0 100%);
}
</style>


<section class="carousel" data-analytics-tagging="Carousel">
  <div class="slick" data-slick='{"fade": true, "prevArrow": ".carousel-prev", "nextArrow": ".carousel-next" }'>
    <!-- Slide 1 -->
    <div>
      <div class="slide-container">
        <div class="slide-background decor">
          <div class="mobile-hidden">
            <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
              <img src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/CLP_1600_Hero_GiftsDecor.jpg" alt="Floral Robes for Bridal Party" />
            </a>
          </div>
          <div class="tablet-hidden desktop-hidden">
            <a href="/SearchDisplay?searchType=1000&pageView=grid&catalogId=10051&facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&showResultsPage=true&beginIndex=0&categoryId=3002662&langId=-1&storeId=10052&sType=SimpleSearch">
              <img src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/CLP_767_Hero_GiftsDecor.jpg" alt="Floral Robes for Bridal Party" />
            </a>
          </div>
        </div>

        <div class="slide-text">
          <p class="serif-l">Getting-Ready <br>Glam</p>
          <p class="sans-m">Coordinating robes make an Insta-worthy style statement</p>
          <p class="btn btn-secondary-special">
            <a class="sans-bold-uppercase" href="/wedding-gifts/bridesmaid-gifts">Shop Bridesmaid Gifts</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="carousel-nav" data-nav-open="true">
      <div class="carousel-heading" data-trigger="">
        <h2 class="serif-s">Gifts &amp;&nbsp; Decorations</h2>
        <div class="carousel-nav_header-action relative">
          <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
            <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
          </svg></div>
          <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
            <rect x="-492" y="501" width="11" height="1"></rect>
          </svg></div>
        </div>
      </div>

      <ul class="carousel-nav_items" data-sublist="">
        <li class="carousel-nav_item" data-nav-open="false">
          <div class="carousel-nav_item_header" data-trigger="">
            <h3 class="sans-bold-uppercase">Explore</h3>
            <div class="carousel-nav_header-action relative">
              <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
              </svg></div>
              <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                <rect x="-492" y="501" width="11" height="1"></rect>
              </svg></div>
            </div>
          </div>
          <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_WeddingPreparation" class="sans-xs">Completing Your Day Guide</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_WeddingGiftIdeas" class="sans-xs">Wedding Gift Ideas Hub</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_bridalpartygifts" class="sans-xs">Wedding Party Gift Guide</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_bridesmaidgiftideas" class="sans-xs">Bridesmaid Gift Guide</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_engagementgiftideas" class="sans-xs">Engagement Gift Guide</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_WeddingInvitations" class="sans-xs">Wedding Invitations</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingsouvenirideas" class="sans-xs">Wedding Favor Ideas</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingflowers" class="sans-xs">Wedding Flower Inspiration</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_WeddingDecorationIdeas" class="sans-xs">Wedding D&eacute;cor Guide</a></li>
            <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingchecklist" class="sans-xs">Ultimate Wedding Checklist</a></li>
          </ul>
        </li>

        <li class="carousel-nav_item" data-nav-open="true">
          <div class="carousel-nav_item_header" data-trigger="">
            <h3 class="sans-bold-uppercase">Shop</h3>
            <div class="carousel-nav_header-action relative">
              <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
              </svg></div>
              <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                <rect x="-492" y="501" width="11" height="1"></rect>
              </svg></div>
            </div>
          </div>
          <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: block;">
            <li class="carousel-nav_item-child"><a href="/wedding-gifts/all-wedding-gifts" class="sans-xs">Gifts</a></li>
            <li class="carousel-nav_item-child"><a href="/wedding-decorations/ceremony-decorations" class="sans-xs">Ceremony</a></li>
            <li class="carousel-nav_item-child"><a href="/wedding-decorations/reception-decorations" class="sans-xs">Reception</a></li>
            <li class="carousel-nav_item-child"><a href="/wedding-decorations/all-wedding-decorations" class="sans-xs">Wedding Decorations</a></li>
            <li class="carousel-nav_item-child"><a href="/wedding-decorations/wedding-favors" class="sans-xs">Favors</a></li>
            <li class="carousel-nav_item-child"><a href="/engagement-party-gifts" class="sans-xs">Engagement Gifts</a></li>
            <li class="carousel-nav_item-child"><a href="/bridal-shower-gifts" class="sans-xs">Bridal Shower Gifts</a></li>
            <li class="carousel-nav_item-child"><a href="/bachelorette-party-gifts" class="sans-xs">Bachelorette Party Gifts</a></li>
            <li class="carousel-nav_item-child"><a href="/honeymoon-essentials" class="sans-xs">Honeymoon</a></li>
          </ul>
        </li>

        <li class="carousel-nav_item" data-nav-open="false">
          <div class="carousel-nav_item_header" data-trigger="">
            <h3 class="sans-bold-uppercase">Trending Gifts</h3>
            <div class="carousel-nav_header-action relative">
              <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
                <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
              </svg></div>
              <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
                <rect x="-492" y="501" width="11" height="1"></rect>
              </svg></div>
            </div>
          </div>
          <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
            <li class="carousel-nav_item-child"><a href="/wedding-robes-clothing-gifts" class="sans-xs">Bride &amp; Bridesmaid Robes</a></li>
            <li class="carousel-nav_item-child"><a href="/bride-shirts" class="sans-xs">Bride Shirts</a></li>
            <li class="carousel-nav_item-child"><a href="/bridesmaid-shirts" class="sans-xs">Bridesmaid Shirts</a></li>
            <li class="carousel-nav_item-child"><a href="/totes-and-cosmetic-bags" class="sans-xs">Totes &amp; Cosmetic Bags</a></li>
            <li class="carousel-nav_item-child"><a href="/barware-glassware-gifts" class="sans-xs">Barware &amp; Glassware</a></li>
            <li class="carousel-nav_item-child"><a href="/personalized-gifts" class="sans-xs">Personalized Gifts</a></li>
          </ul>
        </li>

      </ul>
    </div>

</section><!-- End Carousel -->


<!-- Mini-Nav -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    // ================================================================
    // MINI-NAV FUNCTIONALITY - OPEN/CLOSE
    // ================================================================
    // Mini-Nav Heading
    $('.carousel-heading').on("click", function(){
      if($(this).parent().attr('data-nav-open') == "false") {
        $(this).parent().attr('data-nav-open', 'true');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });

    // Mini-Nav Sections
    $('.carousel-nav_item_header').on('click', function(){
      if($(this).parent().attr('data-nav-open') == 'false') {
        $(this).parent().attr('data-nav-open', 'true');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });


    // ================================================================
    // MINI-NAV - BACK BUTTON - PRESERVE OPEN/CLOSE STATE
    // ================================================================
    // History State
    var currentState = history.state;
    if(currentState === null || currentState === undefined) {
      var menuStates = [];
    } else {
      var menuStates = currentState[0];
    }


    // Get Mini-Nav States
    function getMiniNavStates() {
      var menuStates = [];
      var numMiniNavMenus = $('[data-nav-open]').length;
      if(numMiniNavMenus > 0) {
        $('[data-nav-open]').each(function(index){
          var trueFalse = $(this).attr('data-nav-open');
          trueFalse = [trueFalse];
          menuStates = $.merge(menuStates, trueFalse);
        });
        return menuStates;
      }
    }

    // Set Mini-Nav States
    function setMiniNavStates() {
      $('[data-nav-open]').each(function(index){
        var currentMenuStatesValue = menuStates[index];
        $(this).attr('data-nav-open', currentMenuStatesValue);
        // Mini-Nav Heading
        if(index === 0) {
          if($('.carousel-nav').attr('data-nav-open') === 'true') {
            $('.carousel-nav_items').attr('style', 'display: block');
          } else {
            $('.carousel-nav_items').attr('style', 'display: none');
          }
        // Mini-Nav Sections
        } else {
          if(currentMenuStatesValue === 'true') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: block');
          } else if (currentMenuStatesValue === 'false') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: none');
          }
        }
      });
    }
    setMiniNavStates();
  });
</script>

<!-- Google KnowledgeGraph -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "url": "http://www.davidsbridal.com",
  "logo": "http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
  "sameAs" : ["https://www.facebook.com/DavidsBridal/",
  "https://www.pinterest.com/davidsbridal/",
  "https://twitter.com/davidsbridal",
  "https://www.instagram.com/davidsbridal/",
  "https://www.youtube.com/user/davidsbridal"]
}
</script>
