<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>

<section class="espot-container three-across" data-analytics-tagging="BrideGifts-Reception-Ceremony">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/bridesmaid-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/767px_Vertical_CLP_Module_MaidsGifts.jpg" alt="Robes, Jewelry dish, compact mirror and more bridesmaid gifts" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Bridesmaid Gifts</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/bridesmaid-gifts">What To Get For Your Girls&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-decorations/all-wedding-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/767px_Vertical_CLP_Module_WeddingDecor.jpg" alt="Bouquet charms and other wedding decorations" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Decorations </h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-decorations/all-wedding-decorations">Shop from $3.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-robes-clothing-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/767px_Vertical_CLP_Module_Robes.jpg" alt="Bride wearing white Bride robe" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Robes & Apparel</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-robes-clothing-gifts">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
