html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 1282px) {
      .content-page .container {
        padding-left: 0;
        padding-right: 0; } }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .img-circle {
    border-radius: 50%; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.two-column-vert-offset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px auto; }
  @media screen and (min-width: 768px) {
    .two-column-vert-offset {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .two-column-vert-offset {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .two-column-vert-offset .column {
    width: 100%;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .two-column-vert-offset .column {
        width: 45%;
        margin-top: 15px;
        margin-bottom: 15px; }
        .two-column-vert-offset .column:last-child {
          -ms-flex-item-align: end;
              align-self: flex-end;
          padding-top: 10%; } }
    @media screen and (min-width: 1024px) {
      .two-column-vert-offset .column {
        width: 40%; } }
    .two-column-vert-offset .column__text {
      margin-top: 10px; }
      @media screen and (min-width: 1024px) {
        .two-column-vert-offset .column__text {
          margin-top: 20px; } }
      .two-column-vert-offset .column__text a {
        margin-right: 10px; }

.hero {
  display: block;
  position: relative; }
  .hero__text {
    display: block;
    position: relative;
    padding: 20px 10px; }
    @media screen and (min-width: 1024px) {
      .hero__text {
        position: absolute;
        background: white;
        max-width: 420px;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        padding: 20px; } }
    @media screen and (min-width: 1262px) {
      .hero__text {
        left: calc((100vw - 1242px) / 2);
        padding: 30px 40px;
        max-width: 380px; } }
    @media screen and (min-width: 1600px) {
      .hero__text {
        left: calc((1600px - 1242px) / 2); } }
    .hero__text-headline {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .hero__text-headline {
          font-size: 36px;
          line-height: 40px; } }
    .hero__text p {
      margin-bottom: 0; }

.breadcrumbs {
  display: block;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .breadcrumbs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; } }
  .breadcrumbs__inner {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1262px;
    margin: 0 auto;
    padding: 10px; }
  .breadcrumbs p {
    margin: 0; }

.section-heading {
  text-align: center;
  margin: 30px auto 20px; }
  @media screen and (min-width: 768px) {
    .section-heading {
      margin: 60px auto 40px; } }
  .section-heading p {
    margin: 0 auto;
    padding: 0; }
  .section-heading a {
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #000; }
    .section-heading a:hover {
      color: #74736d; }
      .section-heading a:hover::after {
        background: #74736d; }
    .section-heading a::after {
      display: inline-block;
      content: "";
      position: absolute;
      background: #000;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: 1;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.social-share {
  display: block;
  position: relative;
  width: 100%; }
  .social-share__img {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .social-share__img img {
        width: 100%; } }
  @media screen and (min-width: 1024px) {
    .social-share__overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      background: rgba(249, 179, 174, 0.7);
      cursor: pointer;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 0; }
      .social-share__overlay:hover {
        opacity: 1; } }
  .social-share__overlay--icons {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    display: none;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (min-width: 1024px) {
      .social-share__overlay--icons {
        display: block; } }
    .social-share__overlay--icons svg path {
      fill: #333; }
  .social-share__icon {
    width: 24px;
    height: 20px;
    margin: 0 15px; }
  .social-share .gig-bar-container {
    display: block;
    width: 100%; }
    .social-share .gig-bar-container table {
      margin: 0 auto; }

.article__share-bar {
  width: 100%;
  background: white;
  padding: 12px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 340px;
      padding: 12px 30px;
      margin: 0 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      top: -27px; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 24px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }
