{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/roseville-reopening/styles.css">

      <!-- HTML -->
      {{> templates-roseville-reopening }}

      <!-- JS -->
      <script type="text/javascript" src="/wcsstore/images/wwcm/js/custom-jquery-plugins/gigya-share-bar.min.js"></script>
      <script type="text/javascript">
        (function($) {
          $(document).ready(function() {
            $('#socialShareIcons, #socialShareIconsMobile').gigyaShareBar({
              image: "/wcsstore/images/wwcm/store-reopening/roseville/767_image.jpg"
            });
          });
        }(jQuery));
      </script>

    </div>
  </div>

  {{> organisms-footer }}
</div>