{{> atoms-head-homepage }}

<div id="page">
  {{> organisms-header }}


  <div class="ctnr-maincontent" id="contentWrapper">
    <div id="content" role="main">
      <!-- BEGIN StaticContentPageDisplayContainer.jsp -->

      <div class="rowContainer" id="container_">
        <div class="row">
          <div class="col12" data-slot-id="1">


            <div id="contentRecommendationWidget_1_-2012_3074457345618265119" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> organisms-build-your-bridal-party }}
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <link rel="stylesheet" href="/monetate/actions/webchat/button.css">
  <script type="text/javascript" src="/monetate/actions/webchat/button.js"></script> -->

  {{> organisms-footer }}

</div><!-- /page -->
