// ----------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------
.btn {
  font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  border: none;
  padding: 0;
  cursor: pointer;
  width: auto;

  &-secondary a {
    background-color: $white;
    backface-visibility: hidden;
    border: 1px solid $purple-gray-dk;
    color: $black;
    display: inline-block;
    outline: none;
    padding: 13px 14px;
    width: auto;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $gray-lt;
    }
  }
}
