// ========================================================
// COPY BOX
// ========================================================
$top-md: calc(((100vw / 1.4169741697) - 360px) / 2);
$box-width: 220px;

$md-width: 260px;
$lg-width: 340px;


&__calc {
  width: calc(54.1666666667% - ($md-width / 2));
}

&__copy {
  display: block;
  float: left;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: $breakpoint-md) {
    float: none;
    position: absolute;
    margin: 0;
    transform-style: preserve-3d;
    top: $top-md;
    left: calc(54.1666666667% - (#{$md-width} / 2));
    width: auto;
  }
  @media screen and (min-width: $breakpoint-lg) {
    top: 50%;
    transform: translateY(-50%);
    left: calc(36.4375% - (#{$lg-width} / 2)); // Image A container width - half of copy box
  }
  // @media screen and (min-width: 1262px) {
  //   left: calc(36.4375% - (#{$lg-width} / 2)); // Image A container width - half of copy box
  // }


  .btn {
    min-width: $box-width;
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-md) {
      min-width: $box-width - 40;
    }
    @media screen and (min-width: $breakpoint-lg) {
      min-width: $box-width - 20;
      margin-top: 20px;
    }

    &-secondary a {
      min-width: $box-width;
      @media screen and (min-width: $breakpoint-md) {
        min-width: $box-width - 40;
      }
      @media screen and (min-width: $breakpoint-lg) {
        min-width: $box-width - 20;
      }
    }
  }

  // .btn {
  //   display: block;
  //   width: $box-width;
  //   margin: 0 auto;
  //   @media screen and (min-width: $breakpoint-md) {
  //     width: $box-width - 40;
  //   }
  //   @media screen and (min-width: $breakpoint-lg) {
  //     width: $box-width + 20;
  //     &:nth-child(3) {
  //       margin-top: 20px;
  //     }
  //   }
  //
  //   &-secondary a {
  //     min-width: $box-width;
  //     @media screen and (min-width: $breakpoint-md) {
  //       min-width: $box-width - 40;
  //     }
  //     @media screen and (min-width: $breakpoint-lg) {
  //       min-width: $box-width + 20;
  //     }
  //   }
  // }


  &--inner {
    background: rgba(248, 246, 240, 0.85);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    width: $md-width + 20px;
    height: $md-width + 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc( #{$md-width} / -3 );
    @media screen and (min-width: $breakpoint-md) {
      background: rgba(248,246,240, 0.85);
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: $lg-width;
      height: $lg-width;
    }
  }


  &--offer {
    //@include green-bg();
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 4px;
      padding-bottom: 14px;
    }
  }


  p {
    //@include red-bg()
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    // @media screen and (min-width: $breakpoint-xl) {
    //   margin-top: 6px;
    //   margin-bottom: 6px;
    // }

    &.sans-bold-uppercase {
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 0;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 8px;
      }
    }
  }

} // .hero__copy
