$height-m: 245px;
$height-d: 200px;



.rowContainer .row {
  margin: 0;
}

.toppromo__maids {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: $height-m;
  background: #ee7d7b;
  background-image: -webkit-linear-gradient(top left, #e97875, #c65155);
  background-image: -o-linear-gradient(top left, #e97875, #c65155);
  background-image: linear-gradient(to bottom right, #e97875, #c65155);
  @media screen and (min-width: 768px) {
    height: $height-d;
  }


  &-inner {
    //background: rgba(0, 0, 255, 0.2);
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      left: 10px;
      right: 0;
    }
  }


  &-svg {
    width: 100%;
    max-width: 375px;
    transition: all 0.3s ease;
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 430px;
      margin-right: 60px;
    }
  }


  &-text {
    margin-top: 25px;
    transition: all 0.3s ease;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 30px;
    }
    @media screen and (min-width: 1024px) {
      margin-left: 60px;
    }


    p {
      margin: 0;
      color: #fff;
    }

    &-headline {
      font-size: 15px;
      line-height: 24px;
      text-transform: uppercase;
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }

    &-enddate {
      font-size: 15px;
      line-height: 24px;
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }

    .btn {
      //display: none !important;
      margin-top: 15px;
      // @media screen and (min-width: 768px) {
      //   margin-top: 15px;
      // }
    }
  }




  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 200px;

    &-secondary a {
      display: inline-block;
      padding: 11px 32px;
      border: 1px solid #fff;
      color: #333;
      background-color: #fff;
      outline: none;
      font-size: 11px;
      min-width: 200px;
      @media screen and (min-width: 768px) {
        padding: 11px 50px;
        font-size: 12px;
      }
    }
  }


}
