.rowContainer .row {
  margin: 0; }

.toppromo__maids {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 245px;
  background: #ee7d7b;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e97875), to(#c65155));
  background-image: linear-gradient(to bottom right, #e97875, #c65155); }
  @media screen and (min-width: 768px) {
    .toppromo__maids {
      height: 200px; } }
  .toppromo__maids-inner {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media screen and (min-width: 768px) {
      .toppromo__maids-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        left: 10px;
        right: 0; } }
  .toppromo__maids-svg {
    width: 100%;
    max-width: 375px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media screen and (min-width: 768px) {
      .toppromo__maids-svg {
        margin-right: 30px; } }
    @media screen and (min-width: 1024px) {
      .toppromo__maids-svg {
        max-width: 430px;
        margin-right: 60px; } }
  .toppromo__maids-text {
    margin-top: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media screen and (min-width: 768px) {
      .toppromo__maids-text {
        margin-top: 0;
        margin-left: 30px; } }
    @media screen and (min-width: 1024px) {
      .toppromo__maids-text {
        margin-left: 60px; } }
    .toppromo__maids-text p {
      margin: 0;
      color: #fff; }
    .toppromo__maids-text-headline {
      font-size: 15px;
      line-height: 24px;
      text-transform: uppercase; }
      @media screen and (min-width: 768px) {
        .toppromo__maids-text-headline {
          font-size: 18px; } }
    .toppromo__maids-text-enddate {
      font-size: 15px;
      line-height: 24px; }
      @media screen and (min-width: 768px) {
        .toppromo__maids-text-enddate {
          font-size: 18px; } }
    .toppromo__maids-text .btn {
      margin-top: 15px; }
  .toppromo__maids .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 200px; }
    .toppromo__maids .btn-secondary a {
      display: inline-block;
      padding: 11px 32px;
      border: 1px solid #fff;
      color: #333;
      background-color: #fff;
      outline: none;
      font-size: 11px;
      min-width: 200px; }
      @media screen and (min-width: 768px) {
        .toppromo__maids .btn-secondary a {
          padding: 11px 50px;
          font-size: 12px; } }
