.flash-sale-banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 195px;
  text-align: center;
  background: #b8dae0;
  background-image: url("/wcsstore/images/wwcm/homepage/2018/May/memorial-day-weekend/HP_MemorialDayWeekend_FreeShipping_Mobile.jpg");
  background-position: right;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .flash-sale-banner {
      height: 100px;
      background-image: url("/wcsstore/images/wwcm/homepage/2018/May/memorial-day-weekend/HP_MemorialDayWeekend_FreeShipping_Desktop_1600x100.jpg"); } }
  .flash-sale-banner .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  .flash-sale-banner__text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .flash-sale-banner__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center; } }
  @media screen and (min-width: 1024px) {
    .flash-sale-banner__svg svg {
      max-width: 700px;
      margin-right: 20px; } }
  @media screen and (min-width: 1262px) {
    .flash-sale-banner__svg svg {
      max-width: 100%;
      margin-right: 60px; } }
  .flash-sale-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    margin-top: 20px; }
    @media screen and (min-width: 1024px) {
      .flash-sale-banner .btn {
        margin-top: 0;
        float: left; } }
    .flash-sale-banner .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 50px;
      width: auto; }
      .flash-sale-banner .btn-secondary a:hover, .flash-sale-banner .btn-secondary a:active, .flash-sale-banner .btn-secondary a:focus {
        border: 1px solid #eee; }
  @media screen and (max-width: 767px) {
    .flash-sale-banner .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .flash-sale-banner .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .flash-sale-banner .lg-hidden {
      display: none !important; } }
