<article class="content-page">

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Grand Reopening: Columbus</h1>

      <div class="two-column">
        <div class="column">
          <img src="/wcsstore/images/wwcm/stores/store-177-reopening/767_RealWeddings_Vertical_4.jpg" alt="Happy Model Walking Out from Behind Curtains">
        </div>
        <div class="column">
          <p class="serif-s-italic">We&rsquo;ve refreshed our Columbus store!</p>
          <p class="sans-m">Join David's Bridal and more national and local wedding vendors for our reopening celebration.</p>

          <p class="sans-m">
            <strong>
              Thursday, May 25
              <br>
              6 PM &ndash; 9 PM
            </strong>
          </p>

          <ul>
            <li>Free gifts for the first 100 attendees</li>
            <li>Roses for all attendees from Botanica Flowers</li>
            <li>Door prizes including a travel gift basket from Dream Vacations and a two&ndash;hour rental from Classic Limo</li>
            <li>Photos from Buckeye Photobooth</li>
            <li>Swag from Bed Bath &amp; Beyond</li>
            <li>Exciting offers from Men's Wearhouse, The Pros, and Hand &amp; Stone</li>
            <li>Refreshments from Cooper's Hawk</li>
          </ul>

          <p class="sans-m rsvp">RSVP to <a href="mailto:columbusrsvp@dbi.com">columbusrsvp@dbi.com</a></p>
          <p class="sans-bold-uppercase">
            <a href="https://www.facebook.com/events/1669763226652015/" target="_blank">RSVP on Facebook&nbsp;&gt;</a>
          </p>

          <p class="sans-m store-details">
            Easton Gateway<br>
            4187 Worth Avenue<br>
            Columbus, OH 43219<br>
            614-428-4618
          </p>

          <p class="sans-m">
            <strong>Plus, save 10% on your regular price purchase*</strong><br>
            Thursday, May 25&ndash;Wednesday, June 7
          </p>

          <p class="sans-xs">*Offer valid May 25th-June 7th in the Columbus-Easton (#177) store only. Valid on any regular price purchase made in store only. No other coupons apply. Not valid with any other offers. Not valid on prior sales, existing layaways, "special value" and "as is" styles. Discount taken at register.</p>
        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_appointmentfaq">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&amp;A&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Bridal_beyourownbride">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="#BeYourOwnBride">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Bridal_beyourownbride" class="text-decoration-none">&num;BeYourOwnBride</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Bridal_beyourownbride">Whatever You Do, Be You&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingcolorideas">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingDressShopping.jpg" alt="Facts About Wedding Gowns">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Gowns</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">EVERYTHING FROM SIZING TO SLIPS, FABRICS TO FITTINGS&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_RealWeddings_realweddings">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_RealWeddings_realweddings" class="text-decoration-none">Real Wedding Stories</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>


  <section class="logos">
    <div class="column">
      <a href="http://columbusweddingflorist.com/" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Botanica-Logo.png" alt="Botanica Flowers Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.dpbolvw.net/click-7603274-10856937-1425567555000?sid=WS_Superfooter&cm_sp=WS_Superfooter_-Superfooter-_-BBB_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/BBB-Logo.png" alt="Bed Bath & Beyond Registry">
      </a>
    </div>
    <div class="column">
      <a href="https://www.coopershawkwinery.com/" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/CH-Logo.png" alt="Cooper's Hawk">
      </a>
    </div>
    <div class="column">
      <a href="http://www.davidsbridal.com/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_sp=WS_Superfooter_-Superfooter-_-MW_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Mens-Wearhouse-Logo.png" alt="Men's Wearhouse Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.thepros.com/Landing-Page.aspx?landingpage=brand&LD=4959&cm_sp=WS_Superfooter_-Superfooter-_-Pros_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/ThePros-Logo.png" alt="The Pros Wedding Photographers Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.handandstone.com" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Hand-Stone-Logo.png" alt="Hand & Stone Massage & Facial Spa Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://mdewitt.dreamvacations.com/travel/HomePage.html" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Dream-Vacations-Logo.png" alt="Dream Vacations Logo">
      </a>
    </div>
  </section>


  <section class="appointment-banner">
    <div class="appointment-banner__inner">
        <div class="appointment-banner__text">
          <div class="appointment-banner__headline">
            <p class="serif-m-italic">Meet with a stylist</p>
          </div>
          <div class="appointment-banner__subheadline">
            <p class="sans-s">We'd love to help you put together your look, from dress to jewelry.</p>
          </div>
          <div class="appointment-banner__btn">
            <p class="btn btn-secondary">
              <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
  </section>


  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_appointmentfaq">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&amp;A&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Bridal_beyourownbride">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="#BeYourOwnBride">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Bridal_beyourownbride" class="text-decoration-none">&num;BeYourOwnBride</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Bridal_beyourownbride">Whatever You Do, Be You&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingcolorideas">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingcolorideas" class="text-decoration-none">Wedding Color Inspiration</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingdressshopping">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingDressShopping.jpg" alt="Facts About Wedding Gowns">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Gowns</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">EVERYTHING FROM SIZING TO SLIPS, FABRICS TO FITTINGS&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_RealWeddings_realweddings">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_RealWeddingsHub_414x284.jpg" alt="Real Wedding Stories">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_RealWeddings_realweddings" class="text-decoration-none">Real Wedding Stories</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_RealWeddings_realweddings">Get Inspired&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>


</article>
