<article class="content-page">

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Grand Reopening: Middletown</h1>

      <div class="two-column">
        <div class="column">
          <img src="/wcsstore/images/wwcm/stores/store-177-reopening/767_RealWeddings_Vertical_4.jpg" alt="Happy Bride coming out from behind curtains">
        </div>
        <div class="column">
          <p class="serif-s-italic">We&rsquo;ve refreshed our Middletown store!</p>
          <p class="sans-m">Join David's Bridal and local wedding vendors for our reopening celebration and mini bridal fair.</p>

          <p class="sans-m">
            <strong>
              Thursday, July 27
              <br>
              6 PM&ndash;8 PM
            </strong>
          </p>

          <ul>
            <li>Sweet treats and shopping</li>
            <li>Free gifts for the first 100 guests</li>
            <li>Door prizes from David's Bridal and more</li>
          </ul>

          <!-- <p class="sans-m rsvp">RSVP to <a href="mailto:middletownrsvp@dbi.com">middletownrsvp@dbi.com</a></p> -->
          <p class="sans-bold-uppercase">
            <a href="https://www.facebook.com/events/522223458108700/" target="_blank">RSVP on Facebook&nbsp;&gt;</a>
          </p>

          <p class="sans-m store-details">
            Wallkill Plaza<br>
            400 Route 211<br>
            Middletown, NY<br>
            845-344-1200
          </p>

          <p class="sans-m">
            <strong>Plus, save 10% on your regular price purchase*</strong><br>
            Thursday, July 27&ndash;Wednesday, August 9
          </p>

          <p class="sans-xs">*Offer valid July 27-August 9 in the Middletown, NY (#170) store only. Valid on any regular price purchase made in store only. No other coupons apply. Not valid with any other offers. Not valid on prior sales, existing layaways, "special value" and as-is styles. Discount taken at register.</p>
        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingDressShopping.jpg" alt="Facts About Wedding Gowns">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Gowns</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything from Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_appointmentfaq">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Lorem Ipsum">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&amp;A&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Bridal_beyourownbride">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="Be Your Own Bride">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Bridal_beyourownbride" class="text-decoration-none">Be Your Own Bride</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Bridal_beyourownbride">Explore&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>


  <section class="logos">
    <div class="column">
      <a href="http://www.dpbolvw.net/click-7603274-10856937-1425567555000?sid=WS_Superfooter&cm_sp=WS_Superfooter_-Superfooter-_-BBB_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/BBB-Logo.png" alt="Bed Bath & Beyond Registry Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.davidsbridal.com/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_sp=WS_Superfooter_-Superfooter-_-MW_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Mens-Wearhouse-Logo.png" alt="Men's Wearhouse Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.thepros.com/Landing-Page.aspx?landingpage=brand&LD=4959&cm_sp=WS_Superfooter_-Superfooter-_-Pros_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/ThePros-Logo.png" alt="The Pros Weddings Logo">
      </a>
    </div>
    <div class="column m-t-10">
      <a href="http://www.handandstone.com" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Hand-Stone-Logo.png" alt="Hand and Stone Massage and Facial Spa Logo">
      </a>
    </div>
  </section>


  <section class="appointment-banner">
    <div class="appointment-banner__inner">
        <div class="appointment-banner__text">
          <div class="appointment-banner__headline">
            <p class="serif-m-italic">Meet with a stylist</p>
          </div>
          <div class="appointment-banner__subheadline">
            <p class="sans-s">We'd love to help you put together your look, from dress to jewelry.</p>
          </div>
          <div class="appointment-banner__btn">
            <p class="btn btn-secondary">
              <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
  </section>


  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingdressshopping">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_WeddingDressShopping.jpg" alt="Facts About Wedding Gowns">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Gowns</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Everything from Sizing to Slips, Fabrics to Fittings&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_appointmentfaq">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Lorem Ipsum">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&amp;A&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Bridal_beyourownbride">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_BYOB_434x300.jpg" alt="Be Your Own Bride">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Bridal_beyourownbride" class="text-decoration-none">Be Your Own Bride</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Bridal_beyourownbride">Explore&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>


</article>
