<article class="content-page">

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Grand Opening: Roseville, Minnesota</h1>

      <div class="two-column">
        <div class="column">
          <img src="/wcsstore/images/wwcm/store-reopening/roseville/767_image.jpg" alt="Bride spinning her dress by large glass windows">
        </div>
        <div class="column">
          <p class="serif-s-italic">We&rsquo;re moving in Roseville!</p>
          <p class="sans-m">Join David's Bridal and local wedding vendors for our reopening celebration and mini bridal fair.</p>

          <p class="sans-m">
            <strong>
              Thursday, June 14
              <br>
              6 PM&ndash;8 PM
            </strong>
          </p>

          <ul>
            <li>Sweet treats, a mini bridal fair, and shopping</li>
            <li>Free gifts for the first 100 guests</li>
            <li>Door prizes from David's Bridal and your favorite local wedding vendors</li>
          </ul>

          <!-- <p class="sans-m rsvp">RSVP to <a href="mailto:waldorfrsvp@dbi.com">waldorfrsvp@dbi.com</a></p> -->
          <p class="sans-bold-uppercase">
            <a href="https://www.facebook.com/events/1025533894261851/" target="_blank">RSVP on Facebook&nbsp;&gt;</a>
          </p>

          <address class="sans-m store-details">
            Rosedale Marketplace<br>
            2401 Fairview Avenue North<br>
            Roseville, MN 55113<br>
            <a href="tel:6516971590" class="inline-link">651-697-1590</a>
          </address>

          <p class="sans-m">
            <strong>Plus, save 10% on your regular price purchase*</strong><br>
            Thursday, June 24&ndash;Wednesday, June 27
          </p>

          <p class="sans-xs">*Offer valid June 14-June 27 in the Roseville (#79) store only. Valid on any regular price purchase made in store only. No other coupons apply. Not valid with any other offers. Not valid on prior sales, existing layaways, "special value" and as-is styles. Discount taken at register.</p>
        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>
        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>


      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_About_aboutus">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AboutUs.jpg" alt="About David's Bridal">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_About_aboutus" class="text-decoration-none">About Us</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_About_aboutus">Learn More&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_OurBrands.jpg" alt="Our Brands">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something For Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Appointment_planning">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PlanningAppointment.jpg" alt="Planning Your Appointment">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FactsAboutWeddingGowns.jpg" alt="Facts About Wedding Dresses">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Dresses</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Learn More&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_weddingthemes">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingThemes.jpg" alt="Bride wearing jean jacket with Bride embroidered with flowers on back">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>


  <section class="logos">
    <div class="column">
      <a href="https://www.missnowmrs.com/davidsbridal?ref=DB_RosevilleLP" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/MissNowMrs-Logo.png" alt="MissNowMrs.com Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://www.bachmans.com/storeLocator/Store-Lyndale-6010--612-861-7676" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/Bachmans-Logo.png" alt="Bachman's Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://www.bedbathandbeyond.com/store/page/Registry" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/BedBathBeyond-Logo.png" alt="Bed Bath &amp; Beyond Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://handandstonespas.com/locations/st-louis-park" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/Hand-Stone-Logo.png" alt="Hand and Stone Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://www.marykay.com/nseibert/en-US/" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/Mary-Kay-Logo.png" alt="Mary Kay Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://tuxedo.menswearhouse.com/" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/MW_Logo_Hz_Large_Black_transparentBkgrd.png" alt="Men's Wearhouse Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://www.nothingbundtcakes.com/bakery/mn/st-paul-mn" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/Nothing-Bundt-Cakes-logo.png" alt="Nothing Bundt Cakes Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.thepros.com" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/ThePros-Logo.png" alt="The Pros Logo">
      </a>
    </div>
    <div class="column">
      <a href="https://www.radisson.com/roseville-hotel-mn-55113/mnroserd" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/Radisson-logo.jpg" alt="Radisson Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.thewowbar.com/" target="_blank">
        <img src="/wcsstore/images/wwcm/store-reopening/wowbar_logo.png" alt="The Wow Bar Logo">
      </a>
    </div>
  </section>


  <section class="appointment-banner">
    <div class="appointment-banner__inner">
        <div class="appointment-banner__text">
          <div class="appointment-banner__headline">
            <p class="serif-m-italic">Meet with a stylist</p>
          </div>
          <div class="appointment-banner__subheadline">
            <p class="sans-s">We'd love to help you put together your look, from dress to jewelry.</p>
          </div>
          <div class="appointment-banner__btn">
            <p class="btn btn-secondary">
              <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
  </section>


  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_About_aboutus">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_AboutUs.jpg" alt="About David's Bridal">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_About_aboutus" class="text-decoration-none">About Us</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_About_aboutus">Learn More&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_OurBrands.jpg" alt="Our Brands">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something For Every Style&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Appointment_planning">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PlanningAppointment.jpg" alt="Planning Your Appointment">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingdressshopping">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_FactsAboutWeddingGowns.jpg" alt="Facts About Wedding Dresses">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingdressshopping" class="text-decoration-none">Facts About Wedding Dresses</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingdressshopping">Learn More&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_weddingthemes">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingThemes.jpg" alt="Bride wearing jean jacket with Bride embroidered with flowers on back">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_weddingthemes" class="text-decoration-none">Wedding Theme Ideas</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>


</article>
