<article class="content-page">

  <!-- two-column -->
  <section class="two-column split-4-5">
    <main class="column">
      <h1 class="serif-xl">Grand Reopening: Tyler</h1>

      <div class="two-column">
        <div class="column">
          <img id="gigyaImage" src="/wcsstore/images/wwcm/stores/store-192-reopening/767_tyler_hero_lp.jpg" alt="Bride smiling while brass band plays around her" />
        </div>
        <div class="column">
          <p class="serif-s-italic">We&rsquo;ve moved in Tyler!</p>
          <p class="sans-m">Join David's Bridal and local wedding vendors for our reopening celebration and mini bridal fair.</p>

          <p class="sans-m">
            <strong>
              Thursday, October 12 | 6 PM&ndash;8 PM
            </strong>
          </p>

          <ul>
            <li>Sweet treats, a mini bridal fair, and shopping</li>
            <li>Free gifts for the first 100 guests</li>
            <li>Door prizes from David's Bridal and your favorite local wedding vendors</li>
          </ul>

          <p class="sans-m rsvp">RSVP to <a href="mailto:tylerrsvp@dbi.com">tylerrsvp@dbi.com</a></p>
          <p class="sans-bold-uppercase">
            <a href="https://www.facebook.com/events/149330065659188/" target="_blank">RSVP on Facebook&nbsp;&gt;</a>
          </p>

          <p class="sans-m store-details">
            The Village at Cumberland Park<br>
            8930 South Broadway Avenue<br>
            Tyler, TX 75703<br>
            903-534-1785
          </p>

          <p class="sans-m">
            <strong>Join the celebration with 10% off your regular price purchase*</strong><br>
            Thursday, October 12&ndash;Wednesday, October 25
          </p>

          <p class="sans-xs">*Offer valid October 12-October 25 in the Tyler, TX (#192) store only. Valid on any regular price purchase made in store only. No other coupons apply. Not valid with any other offers. Not valid on prior sales, existing layaways, "special value" and as-is styles. Discount taken at register.</p>
        </div>
      </div>
    </main>


    <aside class="column sm-hidden md-hidden">
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share:</p>

        <!-- Gigya Share Bar Container -->
        <ul class="article__share-bar-item-list" id="socialShareIcons">
          <!-- Gigya icons go here -->
        </ul>
      </div>

      <div class="recommend-block">
        <p class="serif-s-italic">You May Also Like</p>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_events">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Events_414x284.jpg" alt="DavidsBridalEvents">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_events" class="text-decoration-none">#DavidsBridalEvents</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_events">Find Events Near You&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality & Craftsmanship at David's Bridal</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_StyleandFashionGuide_appointmentfaq">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&A&nbsp;&gt;</a>
            </p>
          </div>
        </div>

        <div class="recommend-block__inner cf">
          <div class="recommend-block__image">
            <a href="/Content_Appointment_planning">
              <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_PlanningForYourAppointment.jpg" alt="Planning Your Appointment">
            </a>
          </div>
          <div class="recommend-block__content spacing-half">
            <p class="serif-xs">
              <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
            </p>
            <p class="sans-bold-uppercase">
              <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
            </p>
          </div>
        </div>

      </div>
    </aside>
  </section>


  <section class="logos">
    <div class="column">
      <a href="http://www.dpbolvw.net/click-7603274-10856937-1425567555000?sid=WS_Superfooter&cm_sp=WS_Superfooter_-Superfooter-_-BBB_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/BBB-Logo.png" alt="Bed Bath & Beyond Registry Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.davidsbridal.com/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_sp=WS_Superfooter_-Superfooter-_-MW_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Mens-Wearhouse-Logo.png" alt="Men's Wearhouse Logo">
      </a>
    </div>
    <div class="column">
      <a href="http://www.thepros.com/Landing-Page.aspx?landingpage=brand&LD=4959&cm_sp=WS_Superfooter_-Superfooter-_-Pros_logo" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/ThePros-Logo.png" alt="The Pros Weddings Logo">
      </a>
    </div>
    <div class="column m-t-10">
      <a href="http://www.handandstone.com" target="_blank">
        <img src="/wcsstore/images/wwcm/stores/store-177-reopening/Hand-Stone-Logo.png" alt="Hand and Stone Massage and Facial Spa Logo">
      </a>
    </div>
  </section>


  <section class="appointment-banner">
    <div class="appointment-banner__inner">
        <div class="appointment-banner__text">
          <div class="appointment-banner__headline">
            <p class="serif-m-italic">Meet with a stylist</p>
          </div>
          <div class="appointment-banner__subheadline">
            <p class="sans-s">We'd love to help you put together your look, from dress to jewelry.</p>
          </div>
          <div class="appointment-banner__btn">
            <p class="btn btn-secondary">
              <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052" class="sans-bold-uppercase">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
  </section>


  <section class="container lg-hidden">
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>

      <!-- Gigya Share Bar Container -->
      <ul class="article__share-bar-item-list" id="socialShareIconsMobile">
        <!-- Gigya icons go here -->
      </ul>
    </div>

    <div class="recommend-block">
      <p class="serif-s-italic">You May Also Like</p>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_events">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Events_414x284.jpg" alt="DavidsBridalEvents">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_events" class="text-decoration-none">#DavidsBridalEvents</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_events">Find Events Near You&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_Quality_414x284.jpg" alt="Quality & Craftsmanship at David's Bridal">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship" class="text-decoration-none">Quality & Craftsmanship at David's Bridal</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_qualityandcraftsmanship">Learn More About Our Dresses&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_WeddingDressDesigners" class="text-decoration-none">Our Brands</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_StyleandFashionGuide_appointmentfaq">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_Expertadviceappointments.jpg" alt="Ask the Expert: Our Head of Stores">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_StyleandFashionGuide_appointmentfaq" class="text-decoration-none">Ask the Expert: Our Head of Stores</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_StyleandFashionGuide_appointmentfaq">Appointments Q&A&nbsp;&gt;</a>
          </p>
        </div>
      </div>

      <div class="recommend-block__inner cf">
        <div class="recommend-block__image">
          <a href="/Content_Appointment_planning">
            <img data-pin-nopin="true" src="/wcsstore/images/wwcm/sfg/Inspiration_PlanningForYourAppointment.jpg" alt="Planning Your Appointment">
          </a>
        </div>
        <div class="recommend-block__content spacing-half">
          <p class="serif-xs">
            <a href="/Content_Appointment_planning" class="text-decoration-none">Planning Your Appointment</a>
          </p>
          <p class="sans-bold-uppercase">
            <a class="listing__heading-cta" href="/Content_Appointment_planning">Make The Most Of It&nbsp;&gt;</a>
          </p>
        </div>
      </div>

    </div>
  </section>


</article>
