<style media="screen">
.dbcc-banner {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1252px; }
  .dbcc-banner__inner {
    background: #ffbbb3;
    border: 1px solid #fff;
    outline: 5px solid #ffbbb3;
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center; }
    @media screen and (min-width: 1150px) {
      .dbcc-banner__inner {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        padding-top: 35px;
        padding-bottom: 35px; } }
  .dbcc-banner p {
    width: 100%;
    margin: 0; }
    @media screen and (min-width: 1150px) {
      .dbcc-banner p {
        width: auto; } }
    .dbcc-banner p.sans-m {
      max-width: 280px;
      margin-top: 5px;
      margin-bottom: 15px; }
      @media screen and (min-width: 500px) {
        .dbcc-banner p.sans-m {
          max-width: 100%; } }
      @media screen and (min-width: 1150px) {
        .dbcc-banner p.sans-m {
          margin: 0 20px; } }
  .dbcc-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .dbcc-banner .btn-secondary a {
      display: inline-block;
      padding: 11px 32px;
      border: 1px solid #52535a;
      color: #333;
      background-color: #fff;
      outline: none;
      min-width: 240px; }
      .dbcc-banner .btn-secondary a:hover, .dbcc-banner .btn-secondary a:active, .dbcc-banner .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .dbcc-banner .btn-secondary a {
          padding: 11px 50px;
          min-width: auto; } }
</style>
<section data-analytics-tagging="DBCC-Banner" class="espot-container dbcc-banner">
  <div class="dbcc-banner__inner">
    <p class="serif-m-italic">David&rsquo;s Bridal Credit Card</p>
    <p class="sans-m">Apply now to enjoy 6 months special financing on your gown, invites, and more.</p>
    <p class="btn btn-secondary">
      <a href="/Content_Finance_dbiCreditCard" class="sans-bold-uppercase">Get The Card</a>
    </p>
  </div>
</section>
