<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section data-analytics-tagging="Dresses-Accessories-Shoes" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/flower-girl-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/1_Dresses.jpg" alt="Flower girls in pink and purple dresses with matching baskets" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Dresses</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/flower-girl-dresses">Shop From $39.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/girls-hair-accessories">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/2_Accessories.jpg" alt="Flower girl with flower headband and dress with blue floral sash" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Accessories</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/girls-hair-accessories">Shop Headpieces & More&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/flower-girl-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/3_Shoes.jpg" alt="Close up with flower girl pink dress and white shoes" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Shoes</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/flower-girl-shoes">Shop Girls Sizes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
