<link rel="stylesheet" href="/css/category-landing-pages/fg-pink-banner.css">

<style media="screen">
.fg-rewards-banner {
  margin: 20px auto 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1282px; }
  .fg-rewards-banner__inner {
    background: #f93777; }
  .fg-rewards-banner__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    padding-top: 20px; }
    @media screen and (min-width: 768px) {
      .fg-rewards-banner__flex {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        padding-top: 30px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }
  .fg-rewards-banner p {
    width: 100%;
    margin: 0;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .fg-rewards-banner p {
        width: auto;
        margin-right: 15px;
        margin-left: 15px; } }
    .fg-rewards-banner p.sans-m {
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .fg-rewards-banner p.sans-m {
          margin: 0; } }
  .fg-rewards-banner .sans-bold-uppercase {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px; }
    @media screen and (min-width: 768px) {
      .fg-rewards-banner .sans-bold-uppercase {
        padding-bottom: 30px; } }
    .fg-rewards-banner .sans-bold-uppercase a {
      color: #fff; }
      .fg-rewards-banner .sans-bold-uppercase a:hover {
        color: #eee; }

</style>
<section data-analytics-tagging="DBCC-Banner" class="espot-container fg-rewards-banner">
  <div class="fg-rewards-banner__inner">
    <div class="fg-rewards-banner__flex">
      <p class="serif-xl">15% off</p>
      <p class="sans-m">regular price flower girl dresses with DB Rewards</p>
    </div>
    <p class="sans-bold-uppercase">
      <a href="/Content_SpecialOffers_rewards">See Rewards&nbsp;&gt;</a>
    </p>
  </div>
</section>
