<section data-analytics-tagging="FGguide-Gifts-RingBearer" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/4_FGGuide.jpg" alt="Bride leaning down to flower girl with heart shaped back dress" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Flower Girl Guide</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">4 Ways to Dress Up&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/flower-girl-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/5_Vertical_Cat_Crop_FGGifts.jpg" alt="Flower girl t shirt with flowers scattered around" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Gifts</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/flower-girl-gifts">Shop For Her&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/ring-bearer-accessories">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/flower-girl/s18/6_RB+Pet.jpg" alt="Puppy on garden chair with wooden My Humans Are Getting Married sign" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Ring Bearer & Pet Accessories</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/ring-bearer-accessories">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
