<section class="inspiration-guidance" data-analytics-tagging="complete-your-day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="http://invitations.davidsbridal.com/index.jsp" target="_blank">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2017/brides/2017fall_brides_4across_a.jpg" alt="Invitations in Your Color">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Invitations in Your Color</h3>
              </div>
              <p class="cta_space">
                <a class="media-block-content__cta sans-bold-uppercase" href="http://invitations.davidsbridal.com/index.jsp" target="_blank">Shop Invites from 60¢&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/wedding-gift-and-decor-ideas">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2017/bridesmaids/2017fall_bridesmaids_4across_b.jpg" alt="Ceremony &amp; Decorations">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Ceremony &amp; Decorations</h3>
              </div>
              <p class="cta_space">
                <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gift-and-decor-ideas">Shop Now&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2017/bridesmaids/2017fall_bridesmaids_4across_c.jpg" alt="Robes for Bridesmaids">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Robes for Bridesmaids</h3>
              </div>
              <p class="cta_space">
                <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?searchType=1000&amp;pageView=grid&amp;catalogId=10051&amp;facet=ads_f_gifttypeattr_ntk_cs%253A%2522T-Shirts%2Band%2BApparel%2522&amp;showResultsPage=true&amp;beginIndex=0&amp;categoryId=3002662&amp;langId=-1&amp;storeId=10052&amp;sType=SimpleSearch">Spend $100, Save $20 with Rewards&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

        <div class="column mobile-mb-split-1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/shoes/evening-shoes">
              <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2017/bridesmaids/2017fall_bridesmaids_4across_d.jpg" alt="Shoes for Bridesmaids">
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Shoes for Bridesmaids</h3>
              </div>
              <p class="cta_space">
                <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/evening-shoes">Shop BOGO 50% Off&nbsp;&gt;</a>
              </p>
            </div>
          </div>
        </div>

      </div>

  </div>
</section>
