<style media="screen">
.flower-girl-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .flower-girl-carousel {
      margin: 30px auto 0; } }
  .flower-girl-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .flower-girl-carousel__inner {
        display: block; } }
    .flower-girl-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .flower-girl-carousel__inner--heading {
          padding-left: 40px; } }
      .flower-girl-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .flower-girl-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .flower-girl-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .flower-girl-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .flower-girl-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .flower-girl-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .flower-girl-carousel .flower-girl-carousel-button {
    display: block; }
    .flower-girl-carousel .flower-girl-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .flower-girl-carousel .flower-girl-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .flower-girl-carousel .flower-girl-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .flower-girl-carousel .flower-girl-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .flower-girl-carousel .flower-girl-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="flower-girl-carousel">
  <div class="flower-girl-carousel__inner">

    <div class="flower-girl-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="flower-girl-carousel-button flower-girl-carousel-prev">
        <svg class="flower-girl-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="flower-girl-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="flower-girl-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="flower-girl-carousel__slick" data-slick='{"prevArrow": ".flower-girl-carousel-prev", "nextArrow": ".flower-girl-carousel-next" }'>


        <!-- 385UA -->
        <div class="slick-slide">
          <a href="/Product_satin-and-tulle-cap-sleeve-communion-dress-385ua" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-385UA-10950607-White?$plpproductimgmobile_2up$" alt="Satin and Tulle Cap Sleeve Communion Dress">
          </a>
        </div>

        <!-- WG1370LF -->
        <div class="slick-slide">
          <a href="/Product_sequin-and-tulle-flower-girl-dress-with-satin-sash-wg1370-wg1370-31509--1" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1370-10958746-Ivory?$plpproductimgmobile_2up$" alt="Sequin and Tulle Flower Girl Dress with Satin Sash">
          </a>
        </div>

        <!-- 377UA -->
        <div class="slick-slide">
          <a href="/Product_satin-and-tulle-beaded-communion-dress-377ua" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-377UA-10950600-White?$plpproductimgmobile_2up$" alt="Satin and Tulle Beaded Communion Dress">
          </a>
        </div>

        <!-- OP218 -->
        <div class="slick-slide">
          <a href="/Product_flower-girl-dress-with-tulle-and-ribbon-waist-op218" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP218-10302451-Ivory?$plpproductimgmobile_2up$" alt="Flower Girl Dress with Tulle and Ribbon Waist">
          </a>
        </div>

        <!-- OP239 -->
        <div class="slick-slide">
          <a href="/Product_short-lace-flower-girl-dress-with-illusion-sleeves-op239" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP239-10913597-Soft%20White?$plpproductimgmobile_2up$" alt="Short Lace Flower Girl Dress with Illusion Sleeves">
          </a>
        </div>

        <!-- WG1372 -->
        <div class="slick-slide">
          <a href="/Product_satin-flower-girl-dress-with-pleated-waist-and-hem-wg1372" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1372-10919164-Ivory_Apple?$plpproductimgmobile_2up$" alt="Satin Flower Girl Dress with Pleated Waist and Hem">
          </a>
        </div>

        <!-- RK1368LF -->
        <div class="slick-slide">
          <a href="/Product_ball-gown-flower-girl-dress-with-heart-cutout-rk1368lf" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RK1368-10957577-Soft%20White?$plpproductimgmobile_2up$" alt="Ball Gown Flower Girl Dress with Heart Cutout">
          </a>
        </div>

        <!-- S1038LF -->
        <div class="slick-slide">
          <a href="/Product_satin-flower-girl-dress-with-tulle-skirt-s1038" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-S1038-6096959-Lapis?$plpproductimgmobile_2up$" alt="Satin Flower Girl Dress with Tulle Skirt">
          </a>
        </div>

        <!-- OP228LF -->
        <div class="slick-slide">
          <a href="/Product_corded-lace-flower-girl-dress-with-tulle-skirt-op228-op228-31505--1" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP228-10958664-Ivory?$plpproductimgmobile_2up$" alt="Corded Lace Flower Girl Dress with Tulle Skirt">
          </a>
        </div>

        <!-- WG1374 -->
        <div class="slick-slide">
          <a href="/Product_banded-lace-illusion-flower-girl-dress-wg1374" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1374-10940141-Ivory?$plpproductimgmobile_2up$" alt="Banded Lace Illusion Flower Girl Dress">
          </a>
        </div>

        <!-- WG1371 -->
        <div class="slick-slide">
          <a href="/Product_lace-and-tulle-flower-girl-dress-with-full-skirt-wg1371-wg1371-31510--1" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1371-10958763-Ivory?$plpproductimgmobile_2up$" alt="Lace and Tulle Flower Girl Dress with Full Skirt">
          </a>
        </div>

        <!-- RK1361 -->
        <div class="slick-slide">
          <a href="/Product_sleeveless-all-over-lace-dress-with-scalloped-hem-rk1361" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RK1361-10503710-Ivory?$plpproductimgmobile_2up$" alt="Sleeveless All Over Lace Dress with Scalloped Hem">
          </a>
        </div>

        <!-- OP240 -->
        <div class="slick-slide">
          <a href="/Product_metallic-crochet-and-chiffon-flower-girl-dress-op240" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP240-10939039-Soft%20White?$plpproductimgmobile_2up$" alt="Metallic Crochet and Chiffon Flower Girl Dress">
          </a>
        </div>

        <!-- WG1375 -->
        <div class="slick-slide">
          <a href="/Product_tulle-flower-girl-dress-with-floral-embroidery-wg1375-wg1375-31506--1" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1375-10958675-Soft%20White?$plpproductimgmobile_2up$" alt="Tulle Flower Girl Dress with Floral Embroidery">
          </a>
        </div>

        <!-- OP222 -->
        <div class="slick-slide">
          <a href="/Product_lace-and-mesh-tank-flower-girl-dress-op222" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP222-10538791-Ivory?$plpproductimgmobile_2up$" alt="Lace and Mesh Tank Flower Girl Dress">
          </a>
        </div>

        <!-- WG1373 -->
        <div class="slick-slide">
          <a href="/Product_eyelash-lace-fit-and-flare-flower-girl-dress-wg1373" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1373-10939956-Soft%20White?$plpproductimgmobile_2up$" alt="Eyelash Lace Fit-and-Flare Flower Girl Dress">
          </a>
        </div>

      </div>

      <a href="#" class="flower-girl-carousel-button flower-girl-carousel-next">
        <svg class="flower-girl-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="flower-girl-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="flower-girl-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.flower-girl-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.flower-girl-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.flower-girl-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
