<style>
.inspiration-guidance {
  max-width: 1282px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .spacing > * + * {
    margin-top: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .inspiration-guidance .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -7px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .inspiration-guidance .layout-split-4 > .column {
      margin-top: 10px;
      margin-bottom: 10px; }
      .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
        margin-top: 0; }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0;
          width: 25%; }
          .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
            margin-top: 10px; } }
      @media screen and (min-width: 1024px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          clear: none;
          display: block;
          margin-right: 0;
          width: 25%;
          margin-top: 10px; } }

</style>

<section class="inspiration-guidance" data-analytics-tagging="inspiration-guidance">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_ColorIdeas.jpg" alt="Wedding Color Inspiration">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Color Inspiration</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_bridalpartygifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_WeddingPartyGiftGuide.jpg" alt="Wedding Party Gift Guide">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Party Gift Guide</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_bridalpartygifts">A Few of Our Favorites&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
      	<div class="media-block default spacing">
      		<a class="media-block-img-wrap" href="/blog/style-council/tips-trends/the-cutest-wedding-pet-accessories/">
      			<img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_PetAccessories.jpg" alt="Bride holding corgi dog dressed in a pet tuxedo">
      		</a>
      		<div class="media-block-content spacing-half">
      			<div class="spacing-half">
      				<span class="media-block-content__title serif-m">Pet Accessories</span>
      			</div>
      			<p class="sans-bold-uppercase">
      				<a class="media-block-content__cta" href="/blog/style-council/tips-trends/the-cutest-wedding-pet-accessories/">See Ideas on the Blog&nbsp;&gt;</a>
      			</p>
      		</div>
      	</div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingvideos">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_LoveStoriesTV.jpg" alt="Real Wedding Videos">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Real Wedding Videos</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_weddingvideos">Watch Now and Share Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
