// ----------------------------------------------------------------
// Bottom Carousel
// ----------------------------------------------------------------
.bottom-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  @media screen and (min-width: $breakpoint-md) {
    margin: 30px auto 0;
  }


  // ----------------------------------------------------------------
  // Inner
  // ----------------------------------------------------------------
  &__inner {
    display: block;
    position: relative;
    max-width: 1410px;
    margin: 0 auto;

    background: rgba(255, 255, 255, 0.2);

    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }

    // Heading
    &--heading {
      padding: 0 0 10px;
      p {
        margin: 0;
        @media screen and (min-width: $breakpoint-md) {
          padding-bottom: 10px;
        }        
      }
    }
  }

  .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $breakpoint-sm) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .slick-slide {
    padding: 0 5px;
    visibility: visible;
  }


  // ----------------------------------------------------------------
  // Arrows
  // ----------------------------------------------------------------
  .bottom-carousel-button {
    display: block;
    & svg {
      width: 20px;
      height: 20px;
      @media screen and (min-width: $breakpoint-sm) {
        width: 24px;
        height: 24px;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .bottom-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

} // End .bottom-carousel
