// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  @media screen and (min-width: $breakpoint-md) {
    position: relative;
    max-width: 1262px;
    margin: 10px auto 0;
  }

  &-left {
    padding-left: 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 0;
    }
  }

  p {
    margin-top: 5px;
  }
}
