// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.few-favorites {
  position: relative;
  padding: 0;

  // .section-minor-heading {
  //   border-bottom: rgba(0,0,0,.1) 1px solid;
  // }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
    margin-bottom: 15px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-left: -5px;
    margin-right: -5px;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }


    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
      }
    }
  }



  // ----------------------------------------------------------------
  // Slick Carousel
  // ----------------------------------------------------------------
  .slick {
    margin-left: 40px;
    margin-right: 40px;

    &-container {
      position: relative;
      margin-top: 20px;
    }

    &-carousel-button {
      position: absolute;
    }
    &-carousel-prev,
    &-carousel-next {
      top: 50%;
      transform: translateY(-50%);
      & svg {
        height: 32px;
        width: 32px;
      }
    }
    &-carousel-prev {
      left: 0;
    }
    &-carousel-next {
      right: 0;
    }

  } // .slick-container

} // .few-favorites
