.two-column {
  //@include blue-bg();
  max-width: 1262px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }

  img {
    width: 100%;
  }

  // ----------------------------------------------------------------
  // Two Columns
  // ----------------------------------------------------------------
  .column {
    //@include green-bg();
    width: 100%;
    align-self: stretch;

    &:first-child {
      @media screen and (min-width: $breakpoint-md) {
        width: 70%;
        margin-right: 5px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 66.66667%;
        margin-right: 10px;
      }
    }
    &:last-child {
      @media screen and (min-width: $breakpoint-md) {
        width: 30%;
        margin-left: 5px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 33.33333%;
        margin-left: 10px;
      }
    }



    &.flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: space-between;
    } // .column.flex
  } // .column


  // ----------------------------------------------------------------
  // Items
  // ----------------------------------------------------------------
  .item {
    width: 100%;
    align-self: stretch;
    //@include red-bg();

    img {
      margin-bottom: 10px;
      @media screen and (min-width: $breakpoint-md) {
        margin: 0;
      }
    }

    &.flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: space-between;

      .col {
        width: 100%;
        align-self: stretch;
        &:first-child {
          margin-right: 5px;
          @media screen and (min-width: $breakpoint-lg) {
            margin-right: 10px;
          }
        }
        &:last-child {
          margin-left: 5px;
          @media screen and (min-width: $breakpoint-lg) {
            margin-left: 10px;
          }
        }
      } // .item.flex .col
    } // .item.flex
  } // .item


  // ----------------------------------------------------------------
  // Intro Text
  // ----------------------------------------------------------------
  .intro-text {
    text-align: center;
    padding: 10px 10px 20px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0;
    }

    h1 {
      margin-bottom: 0;
    }

    .btn-secondary {
      width: 100%;
      margin-bottom: 15px;
      a {
        width: 100%;
      }
    }

    .sans-m {
      font-size: 13px;
      line-height: 18px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }


  // ----------------------------------------------------------------
  // Pink Box
  // ----------------------------------------------------------------
  .pink-box {
    width: 100%;
    background: $pink;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 40px;
      margin-top: 10px;
    }
    @media screen and (min-width: 800px) {
      padding: 20px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding: 60px;
    }
    @media screen and (min-width: 1100px) {
      padding: 30px;
    }
    @media screen and (min-width: 1200px) {
      padding: 20px;
    }


    p {
      margin: 0;
    }
    .serif-s-italic {
      font-size: 16px;
      line-height: 20px;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }


  .sm-hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      visibility: visible;
      width: auto;
      height: auto;
    }
  }

  .m-t-10 {
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 10px !important;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-top: 20px !important;
    }
  }

} // .two-column
