.wedding-inspiration-banner {
  background: $brand-primary;
  text-align: center;
  padding: 20px;
  margin: 20px auto 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    margin: 30px auto 5px;
  }

  p {
    width: 100%;
    margin: 0;
    color: #fff;
    line-height: 1;
    &:first-child {
      margin-bottom: 15px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: auto;
      margin: 0 15px;
      &:first-child {
        margin-bottom: 0;
      }
    }

    &.btn-secondary a {
      font-size: 12px;
      letter-spacing: 0.055em;
      padding: 13px 25px;
    }
    // @media screen and (min-width: $breakpoint-lg) {
    //   margin: 0 15px;
    // }

  }


}
