<style>
/* Selector */
#step1-appt-content {}
</style>



<style media="screen">
.step1-banner {
  display: block;
  position: relative;
  width: 100%;
  background: #f04874;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px; }
  .step1-banner p {
    margin: 0; }
</style>

<section class="step1-banner">
  <p class="serif-s-italic">Hi Kate, I'm a banner!</p>
</section>






<script>
$('#step1-appt > h2').text('Kate! Make an Appointment Already!');
</script>