.step1-banner {
  display: block;
  position: relative;
  width: 100%;
  background: #f04874;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  
  p {
    margin: 0;
  }
}