// ==========================================================================
// Article Share Bar
// ==========================================================================

.article__share-bar {
  background: #fff;
  padding: 12px 0;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      float: right;
      padding: 12px 30px;
      margin: 0;
      margin-left: 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
          -ms-grid-row-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: none;
      width: auto; }


.article__share-bar {
  background: $white;
  padding: 12px 0;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #eee;

  @media screen and (min-width: $breakpoint-md) {
    float: right;
    padding: 12px 30px;
    margin: 0;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
  }

  & a {
    cursor: pointer;
  }

  &-title {
    margin: 0;
    padding: 0;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 3px;
    }
  }

  &-item-list {
    line-height: 1;
    padding: 0;
  }
}


  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

      div.gig-button-container {
        margin-bottom: 0;
      }
