.callout-text {

  &__title {
    text-align: center;
    position: relative;

    span {
      padding: 0 20px;
      background: #ffffff;
      position: relative;
      z-index: 2;
    }

    &:after {
      content: "";
      height: 1px;
      margin-top: -1px;
      width: 100%;
      display: block;
      top: 50%;
      background-color: #eeeeee;
      position: absolute;
    }
  }


  &__descript {
    text-align: center;
    @media screen and (min-width: 31.25em) and (max-width: 46.875em) {
      margin-top: 10px;
    }

    a {
      font-weight: 400 !important;
      color: #333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;

      &:hover,
      &:focus,
      &:active {
        color: #727278;
        text-decoration: none;
      }
    }

    strong {
      font-weight: 500;
      background: linear-gradient(to bottom, #FFF 86%, #f3665c 91%, #FFF 92%);
    }
  }


  &__svg {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width: 46.875em) {
      width: 24px;
      height: 24px;
      margin-top: 5px;
    }

    & > * {
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
    }

    &:hover > * {
      fill: #74736d;
    }
  }

}
