// ==========================================================================
// Color Section
// ==========================================================================
.color-section {
  &:not(:last-of-type) {
    border-bottom: 1px solid $taupe;
  }


  & h2 {
    margin-top: 40px;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 60px;
    }
  }

  .flex-container {
    & figure {
      display: block;
      position: relative;

      & figcaption {
        display: block;
        max-width: 100%;
        margin-top: 5px;
      }
    }
  }





  &__sub-text {
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      margin: 40px auto 0;
    }
  }




  // ----------------------------------------------------------------
  // Palette Carousel
  // ----------------------------------------------------------------
  .palette-carousel {
    display: block;
    position: relative;
    clear: both;
    margin: 20px auto 30px;
    visibility: visible;
    max-width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      margin: 30px auto 50px;
    }

    //
    // height: 300px;
    // background: rgba(255, 0, 0, 0.1);

    // Inner
    &__inner {
      display: block;
      max-width: 100%;
      margin: 0 auto;

      // height: 195px;
      // background: rgba(255, 0, 0, 0.1);
    }

    .slick-container {
      margin: 0 auto;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;

      // height: 195px;
      // background: rgba(255, 0, 0, 0.1);

      @media screen and (min-width: $breakpoint-sm) {
        padding-left: 25px;
        padding-right: 25px;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .slick-slide {
      padding: 0 5px;
      visibility: visible;
    }


     // Arrows
     button {
       display: block;
       background: none;
       border: none;
       padding: 0;
     }

    .palette-carousel-button {
      display: block;
      & svg {
          width: 20px;
          height: 20px;
          @media screen and (min-width: $breakpoint-sm) {
            width: 24px;
            height: 24px;
          }
          @media screen and (min-width: $breakpoint-md) {
            width: 32px;
            height: 32px;
          }
      }
    }

    .palette-carousel-prev {
      position: absolute;
      left: 0;
      top: 40%;
      transform: translateY(-40%);
    }
    .palette-carousel-next {
      position: absolute;
      right: 0;
      top: 40%;
      transform: translateY(-40%);
    }


    & figure {
      & figcaption {
        margin-top: 5px;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }


  } // .palette-carousel

} // .color-section
