// ==========================================================================
// Flexbox
// ==========================================================================

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px auto 0;

  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $breakpoint-lg) {

  }


  // ----------------------------------------------------------------
  // Justify Content
  // ----------------------------------------------------------------
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.justify-space-around {
    justify-content: space-around;
  }


  // ----------------------------------------------------------------
  // Items - Align Items
  // ----------------------------------------------------------------
  &.align-container-start {
    align-items: flex-start;
  }
  &.align-container-end {
    align-items: flex-end;
  }
  &.align-container-center {
    align-items: center;
  }
  &.align-container-baseline {
    align-items: baseline;
  }
  &.align-container-stretch {
    align-items: stretch;
  }


  &.reverse {
    flex-direction: row-reverse;
  }




  .column {
    position: relative;
    padding-bottom: 30px;
    flex-grow: 1;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-md) {
      margin: 0 20px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin: 0 30px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      margin: 0 60px;
    }


    .social-share {
      display: block;
      position: relative;
      width: 100%;

      &__img {
        width: 100%;
        img {
          @media screen and (max-width: ($breakpoint-md - 1)) {
            width: 100%;
          }
        }
      }

      &__overlay {
        @media screen and (min-width: $breakpoint-md) {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 auto;
          background: rgba(249, 179, 174, 0.7);
          cursor: pointer;

          transition: opacity 0.3s ease-in-out;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }

        &--icons {
          width: 100%;
          height: 20px;
          text-align: center;
          position: absolute;
          display: none;
          padding: 0;

          top: 50%;
          transform: translateY(-50%);
          @media screen and (min-width: $breakpoint-md) {
            display: block;
          }

          svg {
            path {
              fill: #333;
            }
          }
        }
      }

      &__icon {
        width: 24px;
        height: 20px;
        margin: 0 20px;
      }

      .gig-bar-container {
        display: block;
        width: 100%;
        table {
          margin: 0 auto;
        }
      }


    } // .social-share


  }

  .flex-grow-2 {
    flex-grow: 2;
  }



  // ----------------------------------------------------------------
  // Items - Align Items
  // ----------------------------------------------------------------
  .align-item-start {
    align-self: flex-start;
  }
  .align-item-end {
    align-self: flex-end;
  }
  .align-item-center {
    align-self: center;
  }
  .align-item-baseline {
    align-self: baseline;
  }
  .align-item-stretch {
    align-self: stretch;
  }

} // flex-container
