// ==========================================================================
// Hero
// ==========================================================================
.hero {
  position: relative;
  width: 100%;

  // ----------------------------------------------------------------
  // Image
  // ----------------------------------------------------------------
  &__img {
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }


  // ----------------------------------------------------------------
  // Text Box
  // ----------------------------------------------------------------
  &__caption {
    display: block;
    position: relative;
    clear: both;

    outline: 6px solid $white;
    border: 1px solid $black;
    background: $white;
    padding: 10px 20px 5px;

    @media screen and (min-width: $breakpoint-md) {
      position: absolute;
      bottom: 60px;
      left: 40px;
      padding: 20px 30px 10px 20px;
      max-width: 350px;
    }


    &--logo {
      max-width: 240px;
      margin: 0;
      margin-top: 5px;
      padding: 5px 0;
    }


    &--title {
      margin: 0;
      padding: 10px 0;
    }
  }

} // .hero
