{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/ig-categorization/styles.css">

      <!-- HTML -->
      {{> templates-ig-hub }}
      

    </div>
  </div>

  {{> organisms-footer }}
</div>