{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"> -->
         <style>
           html,
           body {
             font-family: "Open Sans", Verdana, Arial, sans-serif;
             box-sizing: border-box;
             margin: 0;
             padding: 0;
             color: #333333; }

           * {
             box-sizing: border-box; }

           :focus {
             outline: 1px dotted #333 !important;
             outline-offset: 2px; }

           .content-container h1,
           .content-container h2,
           .content-container h3,
           .content-container h4,
           .content-container h5,
           .content-container h6,
           .content-container p,
           .content-container a {
             color: #333;
             text-decoration: none; }

           #main_content {
             width: 100%; }

           .content-pages.one_column {
             width: 100%;
             position: relative;
             padding: 0;
             margin: 0; }

           .content-pages.one_column .ctnr-maincontent {
             width: 100%;
             max-width: 100%;
             padding: 0; }

           #page .header_wrapper_position {
             padding-bottom: 0; }

           .content-page {
             max-width: 1600px;
             width: 100%;
             margin: 0 auto;
             padding-bottom: 100px; }
             .content-page .container-full {
               max-width: 1420px;
               width: 100%;
               margin: 10px auto 0;
               padding-left: 10px;
               padding-right: 10px; }
             .content-page .container {
               max-width: 1262px;
               width: 100%;
               margin: 0 auto 0;
               padding-left: 10px;
               padding-right: 10px; }
             .content-page img {
               width: 100%; }
             .content-page h1,
             .content-page h2,
             .content-page h3,
             .content-page h4,
             .content-page h5,
             .content-page h6,
             .content-page p,
             .content-page a {
               color: #333;
               text-decoration: none; }
             .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
               text-transform: none; }
             .content-page hr {
               margin: 0 10px;
               border: none;
               border-bottom: 1px solid #e5e5e5; }
               @media screen and (min-width: 768px) {
                 .content-page hr {
                   margin-top: 60px; } }
             .content-page .img-circle {
               border-radius: 50%; }
             .content-page .serif-xxxl {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 26px;
               line-height: 1;
               font-weight: normal; }
               @media screen and (min-width: 768px) {
                 .content-page .serif-xxxl {
                   font-size: 60px;
                   line-height: 64px; } }
             .content-page .serif-xxl {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 26px;
               line-height: 1;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .serif-xxl {
                 font-size: 48px;
                 line-height: 52px; } }
             .content-page .serif-xl {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 26px;
               line-height: 1;
               font-weight: normal;
               padding-bottom: 8px; }
             @media screen and (min-width: 768px) {
               .content-page .serif-xl {
                 font-size: 36px;
                 line-height: 40px;
                 padding-bottom: 8px; } }
             .content-page .serif-l {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 22px;
               line-height: 26px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .serif-l {
                 font-size: 28px;
                 line-height: 36px; } }
             .content-page .serif-l-italic {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-style: italic;
               font-size: 22px;
               line-height: 26px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .serif-l-italic {
                 font-size: 32px;
                 line-height: 36px; } }
             .content-page .serif-m-italic {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-style: italic;
               font-size: 18px;
               line-height: 22px;
               font-weight: 500; }
             @media screen and (min-width: 768px) {
               .content-page .serif-m-italic {
                 font-size: 26px;
                 line-height: 32px; } }
             .content-page .serif-s-italic {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-style: italic;
               font-size: 16px;
               line-height: 20px;
               font-weight: 500; }
             @media screen and (min-width: 768px) {
               .content-page .serif-s-italic {
                 font-size: 20px;
                 line-height: 24px; } }
             .content-page .serif-m {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 18px;
               line-height: 22px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .serif-m {
                 font-size: 22px;
                 line-height: 26px; } }
             .content-page .serif-s {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 16px;
               line-height: 20px;
               font-weight: 500; }
             @media screen and (min-width: 768px) {
               .content-page .serif-s {
                 font-size: 20px;
                 line-height: 24px; } }
             .content-page .serif-xs {
               font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
               font-size: 14px;
               line-height: 18px;
               font-weight: 500; }
             @media screen and (min-width: 768px) {
               .content-page .serif-xs {
                 font-size: 16px;
                 line-height: 20px; } }
             .content-page .sans-l {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 16px;
               line-height: 25px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .sans-l {
                 font-size: 18px;
                 line-height: 30px; } }
             .content-page .sans-m {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 13px;
               line-height: 20px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .sans-m {
                 font-size: 15px;
                 line-height: 24px; } }
             .content-page .sans-s {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 11px;
               line-height: 14px;
               font-weight: normal; }
             @media screen and (min-width: 768px) {
               .content-page .sans-s {
                 font-size: 15px;
                 line-height: 24px; } }
             .content-page .sans-xs {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 11px;
               line-height: 14px; }
             @media screen and (min-width: 768px) {
               .content-page .sans-xs {
                 font-size: 13px;
                 line-height: 20px; } }
             .content-page .sans-bold-uppercase {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 11px;
               line-height: 14px;
               text-transform: uppercase;
               font-weight: 700;
               letter-spacing: 0.055em;
               text-decoration: none; }
             @media screen and (min-width: 768px) {
               .content-page .sans-bold-uppercase {
                 font-size: 12px;
                 line-height: 16px; } }
             .content-page .sans-m-bold-uppercase {
               font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
               font-size: 9px;
               font-weight: 700 !important;
               line-height: 12px;
               text-transform: uppercase;
               letter-spacing: 0.055em;
               text-decoration: none;
               margin: 0; }
             @media screen and (min-width: 768px) {
               .content-page .sans-m-bold-uppercase {
                 font-size: 11px;
                 line-height: 14px; } }
             .content-page .sans-bold-uppercase a,
             .content-page .sans-bold-uppercase a:visited {
               font-weight: 700;
               color: #333;
               text-decoration: none;
               transition: all 0.25s ease;
               transition-property: all;
               transition-duration: 0.25s;
               transition-timing-function: ease;
               transition-delay: initial; }
             .content-page .sans-bold-uppercase a:hover,
             .content-page .sans-bold-uppercase a:active {
               color: #727278;
               text-decoration: none; }
             .content-page p[class^="serif"] a {
               font-weight: normal !important; }
             .content-page .btn {
               font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
               display: inline-block;
               text-decoration: none;
               text-align: center;
               text-transform: uppercase;
               vertical-align: top;
               white-space: nowrap;
               border: none;
               padding: 0;
               cursor: pointer;
               width: auto; }
               .content-page .btn-primary a {
                 display: inline-block;
                 padding: 7px 24px;
                 border: 1px solid #fff;
                 color: #fff;
                 background-color: #52535a;
                 outline: 4px solid #52535a; }
                 .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
                   border: 1px solid #e0e0e7;
                   outline: 4px solid #333 !important; }
               .content-page .btn-secondary a {
                 display: inline-block;
                 padding: 9px 32px;
                 border: 1px solid #52535a;
                 color: #333;
                 background-color: #fff;
                 outline: none; }
                 .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
                   border: 1px solid #e0e0e7; }
                 @media screen and (min-width: 768px) {
                   .content-page .btn-secondary a {
                     padding: 11px 50px; } }

           @media screen and (max-width: 767px) {
             .sm-hidden {
               display: none;
               visibility: hidden; } }

           @media screen and (min-width: 768px) and (max-width: 1023px) {
             .md-hidden {
               display: none;
               visibility: hidden; } }

           @media screen and (min-width: 1024px) {
             .lg-hidden {
               display: none;
               visibility: hidden; } }

           .two-columns {
             margin-top: 15px;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
                 -ms-flex-direction: row;
                     flex-direction: row;
             -ms-flex-wrap: wrap;
                 flex-wrap: wrap;
             -ms-flex-pack: distribute;
                 justify-content: space-around;
             -webkit-box-align: center;
                 -ms-flex-align: center;
                     align-items: center; }
             @media screen and (min-width: 768px) {
               .two-columns {
                 margin-top: 20px; }
               .two-columns.reverse .column:nth-of-type(1) {
                 max-width: 60%;
                 margin-right: 30px;
                 margin-left: 0; }
               .two-columns.reverse .column:nth-of-type(2) {
                 max-width: 40%;
                 margin-left: 30px;
                 margin-right: 0; } }
             @media screen and (min-width: 1024px) {
               .two-columns.reverse .column:nth-of-type(1) {
                 max-width: 60%;
                 margin-right: 60px; }
               .two-columns.reverse .column:nth-of-type(2) {
                 max-width: 40%;
                 margin-left: 60px; } }
             .two-columns.reverse-flex {
               -webkit-box-orient: horizontal;
               -webkit-box-direction: reverse;
                   -ms-flex-direction: row-reverse;
                       flex-direction: row-reverse; }
               @media screen and (min-width: 768px) {
                 .two-columns.reverse-flex .column:nth-of-type(1) {
                   max-width: 40%;
                   margin-right: 0;
                   margin-left: 30px; }
                 .two-columns.reverse-flex .column:nth-of-type(2) {
                   max-width: 60%;
                   margin-left: 0;
                   margin-right: 30px; } }
               @media screen and (min-width: 1024px) {
                 .two-columns.reverse-flex .column:nth-of-type(1) {
                   max-width: 40%;
                   margin-left: 60px; }
                 .two-columns.reverse-flex .column:nth-of-type(2) {
                   max-width: 60%;
                   margin-right: 60px; } }
             @media screen and (min-width: 768px) {
               .two-columns {
                 -ms-flex-wrap: nowrap;
                     flex-wrap: nowrap; } }
             @media screen and (min-width: 768px) {
               .two-columns.md-flex-start {
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center; } }
             @media screen and (min-width: 1024px) {
               .two-columns.md-flex-start {
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center; } }
             .two-columns .column {
               width: 100%;
               margin: 10px 0; }
               @media screen and (min-width: 768px) {
                 .two-columns .column:nth-of-type(1) {
                   max-width: 40%;
                   margin-right: 30px; }
                 .two-columns .column:nth-of-type(2) {
                   max-width: 60%;
                   margin-left: 30px; } }
               @media screen and (min-width: 1024px) {
                 .two-columns .column:nth-of-type(1) {
                   max-width: 40%;
                   margin-right: 60px; }
                 .two-columns .column:nth-of-type(2) {
                   max-width: 60%;
                   margin-left: 60px; } }
               .two-columns .column .caption {
                 margin: 5px 0;
                 font-size: 13px; }
               .two-columns .column p {
                 margin: 10px 0; }
                 .two-columns .column p.sans-m {
                   margin-top: -5px; }
               .two-columns .column__img {
                 position: relative;
                 margin-left: 20px;
                 margin-right: 20px; }
                 .two-columns .column__img img {
                   border-radius: 50%; }
               .two-columns .column .quote {
                 display: block;
                 position: relative;
                 clear: both;
                 border: 2px solid #e2eef3;
                 border-width: 2px 0;
                 text-align: center;
                 margin: 0;
                 margin-top: 20px; }
                 .two-columns .column .quote blockquote {
                   border: 1px solid #e2eef3;
                   border-width: 1px 0;
                   margin: 2px 0;
                   padding: 20px; }
                   .two-columns .column .quote blockquote .ldquo {
                     margin: 0;
                     margin-top: 10px;
                     font-size: 48px;
                     color: #d6d6d6; }
                     @media screen and (min-width: 768px) {

                       .two-columns .column .quote blockquote .ldquo {
                         font-size: 60px; } }
                   .two-columns .column .quote blockquote p {
                     margin: 0; }
                   .two-columns .column .quote blockquote .serif-s-italic {
                     font-size: 18px;
                     line-height: 22px;
                     color: #52535a;
                     max-width: 400px;
                     margin: 0 auto; }
                     @media screen and (min-width: 1024px) {
                       .two-columns .column .quote blockquote .serif-s-italic {
                         font-size: 20px;
                         line-height: 24px; } }
                   .two-columns .column .quote blockquote .sans-xs {
                     margin-top: 20px;
                     margin-bottom: 10px; }

           @media screen and (min-width: 1024px) {
             .shift-up {
               margin-top: -50px; }
               .content-page .container-full {
               max-width: 1420px;
               width: 100%;
               margin: 20px auto 0;
               padding-left: 10px;
               padding-right: 10px; }
             }

           .hero {
             width: 100%;
             margin: 0 auto;
             display: block;
             position: relative;
             clear: both; }
             .hero__img {
               display: block;
               position: relative; }
             .hero__video {
               position: relative;
               padding-bottom: 56.25%;
               height: 0; }
               .hero__video iframe {
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%; }
               .hero__video--cover {
                 display: none; }
                 @media screen and (min-width: 1024px) {
                   .hero__video--cover {
                     display: block;
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     width: 100%;
                     height: 9.375%;
                     background: rgba(248, 246, 240, 1); } }
             .hero__caption {
               text-align: center;
               display: block;
               position: relative;
               border: 3px solid #fff;
               margin: 10px;
               padding: 20px;
               background: none; }
               @media screen and (min-width: 1024px) {
                 .hero__caption {
                   border: 3px solid #fff;
                   position: absolute;
                   margin: 0;
                   padding: 30px;
                   right: 7.5%;
                   top: 40%;
                   -webkit-transform: translateY(-40%);
                           transform: translateY(-40%);
                   background: rgba(255, 255, 255, 0.8); } }
               .hero__caption img {
                 margin-bottom: 20px;
                 max-width: 350px; }
                 @media screen and (min-width: 1024px) {
                   .hero__caption img {
                     max-width: 350px; } }
               .hero__caption p {
                 margin: 0; }
                 .hero__caption p.sans-bold-uppercase {
                   margin-top: 15px;
                   margin-bottom: 15px; }
                   .hero__caption p.sans-bold-uppercase:last-child {
                     margin-bottom: 0; }

           .appointment-banner {
             background: #f6c9c8;
             display: block;
             position: relative;
             clear: both;
             text-align: center;
             padding: 20px; }
             @media screen and (min-width: 1024px) {
               .appointment-banner {
                 margin-top: -5.3%;
               }
             }
             @media screen and (min-width: 1300px) {
               .appointment-banner {
                 padding: 15px 0; } }
             .appointment-banner .sans-bold-uppercase a {
               color: #333; }
               .appointment-banner .sans-bold-uppercase a:hover, .appointment-banner .sans-bold-uppercase a:active {
                 color: #74736d; }
             .appointment-banner p {
               display: block;
               margin: 10px 0; }
               @media screen and (min-width: 1300px) {
                 .appointment-banner p {
                   display: inline;
                   margin: 0 20px; } }
             .appointment-banner p {
               color: #333; }
             .appointment-banner p:first-of-type {
               margin-bottom: 4px; }
               @media screen and (min-width: 1300px) {
                 .appointment-banner p:first-of-type {
                   padding-top: 10px;
                   margin-bottom: 0; } }
             .appointment-banner p:nth-of-type(2) {
               margin-bottom: 8px; }
               @media screen and (min-width: 1300px) {
                 .appointment-banner p:nth-of-type(2) {
                   margin-bottom: 0; } }
             .appointment-banner p.btn-secondary a {
               font-size: 12px;
               letter-spacing: 0.055em;
               padding: 11px 75px; }

           .section-heading {
             display: block;
             position: relative;
             text-align: center;
             clear: both;
             padding: 20px 10px 0; }
             @media screen and (min-width: 768px) {
               .section-heading {
                 padding: 50px 20px 40px; } }
             .section-heading img {
               width: auto;
               max-width: 100%;
               margin-bottom: 15px; }
             .section-heading p {
               margin: 0; }
               .section-heading p:last-of-type {
                 margin-top: 5px; }

           .few-favorites {
             position: relative;
             padding: 0; }
             @media screen and (min-width: 768px) {
               .few-favorites {
                 padding-bottom: 50px; } }
             .few-favorites .section-minor-heading .section-minor-heading__heading {
               display: inline-block;
               padding: 0 10px 3px 0;
               background: white;
               bottom: -27px;
               position: relative;
               margin-bottom: 15px; }
             .few-favorites .flex {
               display: -webkit-box;
               display: -ms-flexbox;
               display: flex;
               -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
                       justify-content: space-between;
               -ms-flex-wrap: wrap;
                   flex-wrap: wrap;
               margin: 20px auto;
               margin-left: -5px;
               margin-right: -5px; }
               @media screen and (min-width: 768px) {
                 .few-favorites .flex {
                   -ms-flex-wrap: nowrap;
                       flex-wrap: nowrap; } }
               .few-favorites .flex .column {
                 width: 50%;
                 padding: 5px; }
                 @media screen and (min-width: 768px) {
                   .few-favorites .flex .column {
                     width: 100%; } }

           .social-share {
             display: block;
             position: relative;
             width: 100%; }
             .social-share__img {
               width: 100%; }
               @media screen and (max-width: 767px) {
                 .social-share__img img {
                   width: 100%; } }
             @media screen and (min-width: 768px) {
               .social-share__overlay {
                 display: block;
                 position: absolute;
                 top: 0;
                 right: 0;
                 bottom: 0;
                 left: 0;
                 margin: 0 auto;
                 background: rgba(249, 179, 174, 0.7);
                 cursor: pointer;
                 transition: opacity 0.3s ease-in-out;
                 opacity: 0; }
                 .social-share__overlay:hover {
                   opacity: 1; } }
             .social-share__overlay--icons {
               width: 100%;
               height: 20px;
               text-align: center;
               position: absolute;
               display: none;
               padding: 0;
               top: 50%;
               -webkit-transform: translateY(-50%);
                       transform: translateY(-50%); }
               @media screen and (min-width: 768px) {
                 .social-share__overlay--icons {
                   display: block; } }
               .social-share__overlay--icons svg path {
                 fill: #333; }
             .social-share__icon {
               width: 24px;
               height: 20px;
               margin: 0 15px; }
             .social-share .gig-bar-container {
               display: block;
               width: 100%; }
               .social-share .gig-bar-container table {
                 margin: 0 auto; }

           .wedding-inspiration-banner {
             background: #f6c9c8;
             max-width: 1242px;
             text-align: center;
             padding: 20px;
             margin: 20px auto 5px;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
                 -ms-flex-direction: row;
                     flex-direction: row;
             -ms-flex-wrap: wrap;
                 flex-wrap: wrap;
             -webkit-box-pack: center;
                 -ms-flex-pack: center;
                     justify-content: center;
             -webkit-box-align: start;
                 -ms-flex-align: start;
                     align-items: flex-start;
             -ms-flex-line-pack: start;
                 align-content: flex-start; }
             @media screen and (min-width: 1024px) {
               .wedding-inspiration-banner {
                 -ms-flex-wrap: nowrap;
                     flex-wrap: nowrap;
                 margin: 60px auto 5px; } }
             .wedding-inspiration-banner p {
               width: 100%;
               margin: 0;
               color: #333;
               line-height: 1; }
               .wedding-inspiration-banner p:first-child {
                 margin-bottom: 15px; }
               @media screen and (min-width: 1024px) {
                 .wedding-inspiration-banner p {
                   width: auto;
                   margin: 0 15px; }
                   .wedding-inspiration-banner p:first-child {
                     margin-bottom: 0; } }
               .wedding-inspiration-banner p.btn-secondary a {
                 font-size: 12px;
                 letter-spacing: 0.055em;
                 padding: 13px 25px; }

           .article__share-bar {
             background: #fff;
             padding: 12px 0;
             margin: 20px 0 0;
             position: relative;
             text-align: center;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
                 -ms-flex-align: center;
                     align-items: center;
             -webkit-box-pack: center;
                 -ms-flex-pack: center;
                     justify-content: center;
             border: solid 1px #eee; }
             @media screen and (min-width: 768px) {
               .article__share-bar {
                 max-width: 320px;
                 padding: 12px 30px;
                 margin: 30px 0 0;
                 -webkit-box-orient: horizontal;
                 -webkit-box-direction: normal;
                     -ms-flex-direction: row;
                         flex-direction: row;
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center; } }
             .article__share-bar a {
               cursor: pointer; }
             .article__share-bar-title {
               margin: 0;
               padding: 0; }
               @media screen and (min-width: 768px) {
                 .article__share-bar-title {
                   margin-bottom: 3px; } }
             .article__share-bar-item-list {
               line-height: 1;
               padding: 0; }
             .article__share-bar-item {
               display: inline-block;
               margin-left: 28px; }
               @media screen and (min-width: 768px) {
                 .article__share-bar-item {
                   margin-left: 14px; } }
               .article__share-bar-item-link {
                 display: block;
                 height: 18px !important; }
                 .article__share-bar-item-link--email {
                   height: 16px; }
               .article__share-bar-item-image {
                 height: 100%;
                 max-width: 20px;
                 max-height: 20px;
                 width: auto; }

           div.gig-button-container {
             margin-bottom: 0; }

           .inspiration-guidance {
             position: relative;
             max-width: 1262px;
             margin: 0 auto;
             padding: 0; }
             .inspiration-guidance .column-full {
               padding: 0; }
             .inspiration-guidance .section-minor-heading {
               border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
             .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
               display: inline-block;
               padding: 0 10px 3px 0;
               background: rgba(248, 246, 240, 1);
               bottom: -27px;
               position: relative; }
             .inspiration-guidance .article__teaser-list {
               margin-top: 15px; }
               @media screen and (min-width: 768px) {
                 .inspiration-guidance .article__teaser-list {
                   margin-top: 5px; } }
               .inspiration-guidance .article__teaser-list .media-block-img-wrap {
                 float: left;
                 margin-right: 11px;
                 width: 100%; }
                 @media screen and (max-width: 767px) {
                   .inspiration-guidance .article__teaser-list .media-block-img-wrap {
                     float: left;
                     margin-right: 11px;
                     width: 50%; }
                     .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
                       width: 100%; } }
                 @media screen and (min-width: 768px) {
                   .inspiration-guidance .article__teaser-list .media-block-img-wrap {
                     margin-bottom: 10px; } }
               @media screen and (max-width: 767px) {
                 .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
                   padding-bottom: 0px; } }
             @media screen and (min-width: 768px) {
               .inspiration-guidance .layout-split-4 > .column {
                 float: left;
                 display: block;
                 margin-right: 0;
                 width: 25%; }
               .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
                 margin-top: 10px; } }
             @media screen and (min-width: 1024px) {
               .inspiration-guidance .layout-split-4 > .column {
                 float: left;
                 display: block;
                 margin-right: 0;
                 width: 25%; }
               .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
                 margin-top: 0px; } }
             @media screen and (max-width: 71.875em) and (min-width: 64em) {
               .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
                 clear: none;
                 margin-top: 0; }
               .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
                 clear: none;
                 margin-top: 0; } }


                  .bottom-carousel {
             display: block;
             position: relative;
             clear: both;
             width: 100%;
             margin: 10px auto 0;
             visibility: visible; }
             @media screen and (min-width: 768px) {
               .bottom-carousel {
                 margin: 30px auto 0; } }
             .bottom-carousel__inner {
               display: block;
               position: relative;
               max-width: 1410px;
               margin: 0 auto;
               background: rgba(255, 255, 255, 0.2); }
               @media screen and (min-width: 768px) {
                 .bottom-carousel__inner {
                   display: block; } }
               .bottom-carousel__inner--heading {
                 padding: 0 0 10px 32px; }
                 @media screen and (min-width: 768px) {
                   .bottom-carousel__inner--heading {
                     padding-left: 40px; } }
                 .bottom-carousel__inner--heading p {
                   margin: 0; }
                   @media screen and (min-width: 768px) {
                     .bottom-carousel__inner--heading p {
                       padding-bottom: 10px; } }
             .bottom-carousel .slick-container {
               margin: 0 auto;
               position: relative;
               padding-left: 20px;
               padding-right: 20px; }
               @media screen and (min-width: 350px) {
                 .bottom-carousel .slick-container {
                   padding-left: 25px;
                   padding-right: 25px; } }
               @media screen and (min-width: 768px) {
                 .bottom-carousel .slick-container {
                   padding-left: 35px;
                   padding-right: 35px; } }
             .bottom-carousel .slick-slide {
               padding: 0 5px;
               visibility: visible; }
             .bottom-carousel .bottom-carousel-button {
               display: block; }
               .bottom-carousel .bottom-carousel-button svg {
                 width: 20px;
                 height: 20px; }
                 @media screen and (min-width: 350px) {
                   .bottom-carousel .bottom-carousel-button svg {
                     width: 24px;
                     height: 24px; } }
                 @media screen and (min-width: 768px) {
                   .bottom-carousel .bottom-carousel-button svg {
                     width: 32px;
                     height: 32px; } }
             .bottom-carousel .bottom-carousel-prev {
               position: absolute;
               left: 0;
               top: 50%;
               -webkit-transform: translateY(-50%);
                       transform: translateY(-50%); }
             .bottom-carousel .bottom-carousel-next {
               position: absolute;
               right: 0;
               top: 50%;
               -webkit-transform: translateY(-50%);
                       transform: translateY(-50%); }

         .our-db-brides {
           display: block;
           position: relative;
           clear: both;
           max-width: 1262px;
           margin: 30px auto 0;
           padding: 0 5px; }
           .our-db-brides__heading {
             padding-left: 5px; }
             .our-db-brides__heading h3,
             .our-db-brides__heading p {
               display: inline-block;
               margin-bottom: 10px; }
             .our-db-brides__heading-cta {
               margin-left: 10px; }
           .our-db-brides__flex {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
                 -ms-flex-direction: row;
                     flex-direction: row;
             -ms-flex-wrap: wrap;
                 flex-wrap: wrap;
             -webkit-box-pack: justify;
                 -ms-flex-pack: justify;
                     justify-content: space-between;
             -webkit-box-align: stretch;
                 -ms-flex-align: stretch;
                     align-items: stretch;
             -ms-flex-line-pack: stretch;
                 align-content: stretch; }
             .our-db-brides__flex .column {
               width: 50%;
               padding: 5px; }
               @media screen and (min-width: 768px) {
                 .our-db-brides__flex .column {
                   width: 25%; } }

     .few-favorites {
       display: block;
       position: relative;
       clear: both;
       max-width: 1400px;
       margin: 0 auto;
       margin-top: 20px;
       padding: 0 5px; }
       @media screen and (min-width: 1024px) {
         .few-favorites {
           margin-bottom: 30px; } }
       .few-favorites__heading {
         padding: 0 5px; }
       .few-favorites__flex {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
             -ms-flex-direction: row;
                 flex-direction: row;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         -ms-flex-pack: distribute;
             justify-content: space-around;
         -webkit-box-align: stretch;
             -ms-flex-align: stretch;
                 align-items: stretch;
         -ms-flex-line-pack: stretch;
             align-content: stretch; }
         .few-favorites__flex .column {
           width: 50%;
           padding: 5px; }
           @media screen and (min-width: 768px) {
             .few-favorites__flex .column {
               width: 33.33333%; } }
           @media screen and (min-width: 1024px) {
             .few-favorites__flex .column {
               width: 16.66667%; } }

          .hero__caption svg {
            width: 240px;
            margin-top: 15px;
            margin-bottom: 20px;
            opacity: 1;
          }

          .ctnr-maincontent {
            background: rgba(248, 246, 240, 1);
            padding-bottom: 50px;
          }

          .content-page p a.inline-link {
            text-decoration: underline;
            font-weight: normal; }
            .content-page p a.inline-link:hover {
              text-decoration: underline;
              font-weight: normal;
              color: #74736d; }
         </style>



         <!-- HTML -->
         <article class="content-page">


           <!-- hero -->
           <section class="hero">
             <div class="hero__video" id="melissaSweetVideo">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/OdKwf1IazL0?autoplay=1&controls=0&loop=1&mute=1&modestbranding=1&rel=0&showinfo=0&playlist=OdKwf1IazL0" frameborder="0" allowfullscreen></iframe>
             </div>

             <div class="hero__video--cover">&nbsp;</div>

             <div class="hero__caption">
               <svg viewBox="0 0 582 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                 <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                   <g id="DBCollection_Brown_Stack_White" transform="translate(0.000000, -19.000000)" fill="#333333">
                     <g id="Group" transform="translate(0.200700, 0.565900)">
                       <path d="M33.9,70.7 L33.9,57.65 C31.47,54.41 27.6,52.25 23.1,52.25 C16.26,52.25 11.85,57.92 11.85,64.22 C11.85,71.06 16.8,76.1 23.37,76.1 C27.78,76.1 31.65,73.94 33.9,70.7 Z M45.6,86 L34.35,86 L34.35,82.49 C30.75,85.55 26.61,86.9 22.2,86.9 C15.72,86.9 9.6,84.02 5.73,79.52 C2.31,75.56 0.15,70.16 0.15,64.22 C0.15,51.35 9.69,41.45 21.57,41.45 C26.34,41.45 30.48,42.8 33.9,45.5 L33.9,22.1 L45.6,22.1 L45.6,86 Z" id="d"></path>
                       <path d="M89.2,70.7 L89.2,57.65 C86.77,54.41 82.9,52.25 78.4,52.25 C71.56,52.25 67.15,57.92 67.15,64.22 C67.15,71.06 72.1,76.1 78.67,76.1 C83.08,76.1 86.95,73.94 89.2,70.7 Z M100.9,42.35 L100.9,86 L89.65,86 L89.65,82.49 C86.05,85.55 81.91,86.9 77.5,86.9 C71.02,86.9 64.9,84.02 61.03,79.52 C57.61,75.56 55.45,70.16 55.45,64.22 C55.45,51.35 64.99,41.45 76.87,41.45 C81.82,41.45 86.23,43.07 89.65,45.86 L89.65,42.35 L100.9,42.35 Z" id="a"></path>
                       <polygon id="v" points="121.05 42.35 108.9 42.35 128.97 86 137.07 86 157.14 42.35 144.99 42.35 133.02 68.99"></polygon>
                       <path d="M177.35,42.35 L165.65,42.35 L165.65,86 L177.35,86 L177.35,42.35 Z M163.85,26.87 C163.85,31.1 167.27,34.34 171.5,34.34 C175.73,34.34 179.15,31.1 179.15,26.87 C179.15,22.64 175.73,19.4 171.5,19.4 C167.27,19.4 163.85,22.64 163.85,26.87 Z M221,70.7 L221,57.65 C218.57,54.41 214.7,52.25 210.2,52.25 C203.36,52.25 198.95,57.92 198.95,64.22 C198.95,71.06 203.9,76.1 210.47,76.1 C214.88,76.1 218.75,73.94 221,70.7 Z M232.7,86 L221.45,86 L221.45,82.49 C217.85,85.55 213.71,86.9 209.3,86.9 C202.82,86.9 196.7,84.02 192.83,79.52 C189.41,75.56 187.25,70.16 187.25,64.22 C187.25,51.35 196.79,41.45 208.67,41.45 C213.44,41.45 217.58,42.8 221,45.5 L221,22.1 L232.7,22.1 L232.7,86 Z M251.6,23 L244.85,49.55 L253.4,49.55 L264.2,23 L251.6,23 Z M264.83,81.05 C269.96,84.83 276.35,86.9 282.38,86.9 C291.56,86.9 299.75,81.77 299.75,73.4 C299.75,58.28 278.6,60.53 278.6,54.86 C278.6,52.61 281.3,51.35 284.54,51.35 C287.69,51.35 290.66,52.7 292.91,54.32 L298.4,45.86 C295.52,43.61 289.31,41.45 283.64,41.45 C275,41.45 266.9,46.67 266.9,55.04 C266.9,69.08 288.05,66.74 288.05,73.31 C288.05,75.47 285.62,77 282.47,77 C278.06,77 273.47,75.38 270.5,72.68 L264.83,81.05 Z" id="id’s"></path>
                       <path d="M352.85,57.65 L352.85,70.7 C355.1,73.94 358.97,76.1 363.38,76.1 C369.95,76.1 374.9,71.06 374.9,64.22 C374.9,57.92 370.49,52.25 363.65,52.25 C359.15,52.25 355.28,54.41 352.85,57.65 Z M352.4,86 L341.15,86 L341.15,22.1 L352.85,22.1 L352.85,45.5 C356.27,42.8 360.41,41.45 365.18,41.45 C377.06,41.45 386.6,51.35 386.6,64.22 C386.6,70.16 384.44,75.56 381.02,79.52 C377.15,84.02 371.03,86.9 364.55,86.9 C360.14,86.9 356,85.55 352.4,82.49 L352.4,86 Z" id="b"></path>
                       <path d="M424.05,41.81 C422.79,41.63 421.8,41.45 420.09,41.45 C414.78,41.45 410.01,43.52 407.4,46.76 L407.4,42.35 L396.15,42.35 L396.15,86 L407.85,86 L407.85,58.55 C409.29,55.94 413.34,52.25 418.47,52.25 C420.18,52.25 421.89,52.43 422.7,52.7 L424.05,41.81 Z" id="r"></path>
                       <path d="M445.15,42.35 L433.45,42.35 L433.45,86 L445.15,86 L445.15,42.35 Z M431.65,26.87 C431.65,31.1 435.07,34.34 439.3,34.34 C443.53,34.34 446.95,31.1 446.95,26.87 C446.95,22.64 443.53,19.4 439.3,19.4 C435.07,19.4 431.65,22.64 431.65,26.87 Z" id="i"></path>
                       <path d="M488.8,70.7 L488.8,57.65 C486.37,54.41 482.5,52.25 478,52.25 C471.16,52.25 466.75,57.92 466.75,64.22 C466.75,71.06 471.7,76.1 478.27,76.1 C482.68,76.1 486.55,73.94 488.8,70.7 Z M500.5,86 L489.25,86 L489.25,82.49 C485.65,85.55 481.51,86.9 477.1,86.9 C470.62,86.9 464.5,84.02 460.63,79.52 C457.21,75.56 455.05,70.16 455.05,64.22 C455.05,51.35 464.59,41.45 476.47,41.45 C481.24,41.45 485.38,42.8 488.8,45.5 L488.8,22.1 L500.5,22.1 L500.5,86 Z" id="d"></path>
                       <path d="M544.3,70.7 L544.3,57.65 C541.87,54.41 538,52.25 533.5,52.25 C526.66,52.25 522.25,57.92 522.25,64.22 C522.25,71.06 527.2,76.1 533.77,76.1 C538.18,76.1 542.05,73.94 544.3,70.7 Z M556,42.35 L556,86 L544.75,86 L544.75,82.49 C541.15,85.55 537.01,86.9 532.6,86.9 C526.12,86.9 520,84.02 516.13,79.52 C512.71,75.56 510.55,70.16 510.55,64.22 C510.55,51.35 520.09,41.45 531.97,41.45 C536.92,41.45 541.33,43.07 544.75,45.86 L544.75,42.35 L556,42.35 Z M581.2,22.1 L569.5,22.1 L569.5,86 L581.2,86 L581.2,22.1 Z" id="al"></path>
                       <path d="M114.95,160.34 C113.06,163.22 109.28,166.1 104.51,166.1 C97.4,166.1 92.45,161.06 92.45,154.22 C92.45,147.56 97.49,142.25 104.24,142.25 C108.47,142.25 111.98,144.41 114.32,147.47 L122.6,140.18 C118.55,134.96 111.8,131.45 104.24,131.45 C90.92,131.45 80.75,141.53 80.75,154.22 C80.75,166.82 90.65,176.9 104.15,176.9 C112.34,176.9 118.82,173.93 123.95,167.09 L114.95,160.34 Z M129.35,154.22 C129.35,141.62 139.34,131.45 152.57,131.45 C165.8,131.45 175.79,141.62 175.79,154.22 C175.79,166.82 165.8,176.9 152.57,176.9 C139.34,176.9 129.35,166.82 129.35,154.22 Z M141.05,154.22 C141.05,160.79 145.73,166.1 152.57,166.1 C159.41,166.1 164.09,160.79 164.09,154.22 C164.09,147.65 159.41,142.25 152.57,142.25 C145.73,142.25 141.05,147.65 141.05,154.22 Z M197.39,112.1 L185.69,112.1 L185.69,176 L197.39,176 L197.39,112.1 Z M222.59,112.1 L210.89,112.1 L210.89,176 L222.59,176 L222.59,112.1 Z" id="coll"></path>
                       <path d="M266.56,162.41 L273.22,169.07 C268.99,174.11 262.06,176.9 255.31,176.9 C242.26,176.9 232.45,167.9 232.45,154.22 C232.45,142.07 240.73,131.45 253.69,131.45 C265.75,131.45 274.3,141.62 274.3,153.77 C274.3,154.94 274.21,156.11 274.03,157.1 L243.79,157.1 C244.42,163.22 249.37,167.45 255.58,167.45 C260.53,167.45 264.49,164.66 266.56,162.41 Z M244.33,148.55 L262.33,148.55 C261.97,144.68 258.46,140.9 253.69,140.9 C248.83,140.9 244.87,144.59 244.33,148.55 Z" id="e"></path>
                       <path d="M316.65,160.34 C314.76,163.22 310.98,166.1 306.21,166.1 C299.1,166.1 294.15,161.06 294.15,154.22 C294.15,147.56 299.19,142.25 305.94,142.25 C310.17,142.25 313.68,144.41 316.02,147.47 L324.3,140.18 C320.25,134.96 313.5,131.45 305.94,131.45 C292.62,131.45 282.45,141.53 282.45,154.22 C282.45,166.82 292.35,176.9 305.85,176.9 C314.04,176.9 320.52,173.93 325.65,167.09 L316.65,160.34 Z" id="c"></path>
                       <path d="M366.8,166.1 C365.99,166.28 363.74,166.55 362.03,166.55 C359.15,166.55 357.26,165.74 356.09,164.39 C355.1,163.22 354.65,161.6 354.65,158.9 L354.65,142.25 L369.05,142.25 L369.05,132.35 L354.65,132.35 L354.65,120.2 L342.95,120.2 L342.95,132.35 L330.8,132.35 L330.8,142.25 L342.95,142.25 L342.95,157.55 C342.95,163.76 343.94,167.63 346.19,170.6 C349.16,174.56 354.29,176.9 361.31,176.9 C363.56,176.9 367.07,176.54 368.6,176 L366.8,166.1 Z" id="t"></path>
                       <path d="M392.05,132.35 L380.35,132.35 L380.35,176 L392.05,176 L392.05,132.35 Z M378.55,116.87 C378.55,121.1 381.97,124.34 386.2,124.34 C390.43,124.34 393.85,121.1 393.85,116.87 C393.85,112.64 390.43,109.4 386.2,109.4 C381.97,109.4 378.55,112.64 378.55,116.87 Z M401.95,154.22 C401.95,141.62 411.94,131.45 425.17,131.45 C438.4,131.45 448.39,141.62 448.39,154.22 C448.39,166.82 438.4,176.9 425.17,176.9 C411.94,176.9 401.95,166.82 401.95,154.22 Z M413.65,154.22 C413.65,160.79 418.33,166.1 425.17,166.1 C432.01,166.1 436.69,160.79 436.69,154.22 C436.69,147.65 432.01,142.25 425.17,142.25 C418.33,142.25 413.65,147.65 413.65,154.22 Z M469.99,176 L469.99,147.65 C471.61,145.4 475.66,142.25 480.61,142.25 C483.31,142.25 485.65,143.15 487.18,144.68 C488.8,146.3 489.79,148.55 489.79,152.87 L489.79,176 L501.49,176 L501.49,153.77 C501.49,146.3 499.87,141.89 496.99,138.47 C493.39,134.15 487.9,131.45 481.87,131.45 C477.01,131.45 472.87,133.16 469.54,135.86 L469.54,132.35 L458.29,132.35 L458.29,176 L469.99,176 Z" id="ion"></path>
                     </g>
                   </g>
                 </g>
               </svg>
               <p class="sans-l">Classic wedding dresses from $299,</p>
               <p class="sans-l">exclusively at David's Bridal</p>
               <p class="sans-bold-uppercase">
                 <a href="/davids-bridal-collection-wedding-dresses">Shop David's Bridal Wedding Dresses&nbsp;&gt;</a>
               </p>

             </div>
           </section>


           <!-- Appointment Banner -->
           <section class="appointment-banner">
             <p class="serif-m-italic">Enter for a chance to win your gown or 5 bridesmaid dresses</p>
             <p class="btn btn-secondary">
               <a href="https://www.davidsbridal.com/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=&storeId=10052&regSource=">Sign Up Now</a>
             </p>
             <p class="sans-bold-uppercase">
               <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
             </p>
           </section>


           <!-- DB Collection -->
           <section class="container">


             <div class="two-columns md-flex-start">
               <div class="column">
                 <div class="social-share">
                   <div class="social-share__img">
                     <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Vertical_DBCollection_OnBudgetBeauty.jpg" alt="Bride twirling in dress while groom takes a picture" />
                   </div>
                   <div class="social-share__overlay">
                     <ul class="social-share__overlay--icons">
                       <div class="social-share__icons">
                         <!-- Gigya Social Share loaded here -->
                       </div>
                     </ul>
                   </div>
                 </div>
                 <p class="serif-m">On-Budget Beauty</p>
                 <p class="sans-m">The <a class="inline-link" href="/davids-bridal-collection-wedding-dresses">David's Bridal Collection</a>&mdash;featuring intricate beading, expert draping, and impeccable detailing&mdash;combines couture craftsmanship with accessible price points.</p>
               </div>

               <div class="column">
                 <div class="social-share">
                   <div class="social-share__img">
                     <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Vertical_DBCollection_ThePerfectFit.jpg" alt="Bride standing with her back to the camera next to large window" />
                   </div>
                   <div class="social-share__overlay">
                     <ul class="social-share__overlay--icons">
                       <div class="social-share__icons">
                         <!-- Gigya Social Share loaded here -->
                       </div>
                     </ul>
                   </div>
                 </div>
                 <p class="serif-m">The Perfect Fit</p>
                 <p class="sans-m">With beautiful wedding gowns available in <a class="inline-link" href="/wedding-dresses/petite-size-wedding-dresses">petite</a>, <a class="inline-link" href="/wedding-dresses/plus-size-wedding-dresses">plus</a>, and extra length sizes, there's a match for every bride.</p>
               </div>
             </div>

             <!-- Round Image Left / Quote Right -->
             <div class="two-columns">
               <div class="column">
                 <div class="column__img">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Circle_DBCollection_Bridesmaids.jpg" alt="Three bridesmaids smiling and holding champagne flutes" class="img-round" />
                 </div>
               </div>
               <div class="column">
                 <div class="quote">
                   <blockquote>
                     <p class="serif-s-italic" style="max-width: 360px;">A mix of <a class="inline-link" href="/bridesmaid-dresses/all-bridesmaid-dresses">bridesmaid styles</a> in one color family feels fresh.</p>
                   </blockquote>
                 </div>
               </div>
             </div>
           </section>


           <section class="few-favorites">
             <div class="few-favorites__heading">
               <h3 class="serif-m-italic">A few favorites</h3>
             </div>
             <div class="few-favorites__flex">
               <div class="column">
                 <a href="/Product_satin-cap-sleeve-plus-size-ball-gown-wedding-dress-9wg3900">
                  <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3900-10978030-Ivory?$plpproductimgmobile_2up$" alt="Satin Cap Sleeve Plus Size Ball Gown Wedding Dress">
                </a>
               </div>
               <div class="column">
                 <a href="/Product_garza-ball-gown-wedding-dress-with-double-straps-wg3903">
                    <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3903-10971167-Ivory_Blush?$plpproductimgmobile_2up$" alt="Garza Ball Gown Wedding Dress with Double Straps">
                  </a>
               </div>
               <div class="column">
                 <a href="/Product_crepe-mermaid-wedding-dress-with-metallic-embroide-wg3875">
                  <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3875-10967491-Ivory?$plpproductimgmobile_2up$" alt="Crepe Mermaid Wedding Dress with Metallic Embroide">
                </a>
               </div>
               <div class="column">
                 <a href="/Product_long-mesh-style-your-way-6-tie-bridesmaid-dress-f19515">
                    <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19515-10968016-Steel%20Blue?$plpproductimgmobile_2up$" alt="Long Mesh Style-Your-Way 6 Tie Bridesmaid Dress">
                  </a>
               </div>
               <div class="column">
                 <a href="/Product_double-strap-long-georgette-bridesmaid-wrap-dress-f19755">
                    <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19755-10987742-Wine?$plpproductimgmobile_2up$" alt="Double-Strap Long Georgette Bridesmaid Wrap Dress">
                  </a>
               </div>
               <div class="column">
                 <a href="/Product_allover-lace-cap-sleeve-sheath-wedding-dress-wg3910">
                    <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3910-10970549-Ivory?$plpproductimgmobile_2up$" alt="Allover Lace Cap Sleeve Sheath Wedding Dress">
                  </a>
               </div>
             </div>
           </section>


           <section class="container-lg" style="display: none;">
             <!-- A Few Favorites -->
             <div class="bottom-carousel">
               <div class="bottom-carousel__inner">
                 <div class="bottom-carousel__inner--heading">
                   <p class="serif-m-italic">A few favorites</p>
                 </div>

                 <div class="slick-container">
                   <a href="#" class="bottom-carousel-button bottom-carousel-prev">
                     <svg class="bottom-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
                       <polygon class="bottom-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
                       <path class="bottom-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
                     </svg>
                   </a>

                   <div class="slick" data-slick='{"prevArrow": ".bottom-carousel-prev", "nextArrow": ".bottom-carousel-next" }'>
                     <!-- Slide 1 -->
                     <div class="slick-slide">
                       <a href="/Product_satin-cummerbund-ball-gown-wedding-dress-v3848_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V3848-10852982-Ivory?$plpproductimgmobile_2up$" alt="Satin Cummerbund Ball Gown Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 2 -->
                     <div class="slick-slide">
                       <a href="/Product_a-line-lace-wedding-dress-with-side-split-detail-yp3344_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-YP3344-10113344-Ivory?$plpproductimgmobile_2up$" alt="A-line Lace Wedding Dress with Side Split Detail">
                       </a>
                     </div>
                     <!-- Slide 3 -->
                     <div class="slick-slide">
                       <a href="/Product_ruffled-organza-plus-size-mermaid-wedding-dress-9wg3832_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3832-10754830-Ivory?$plpproductimgmobile%5F2up$" alt="Ruffled Organza Plus Size Mermaid Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 4 -->
                     <div class="slick-slide">
                       <a href="/Product_sweetheart-trumpet-wedding-dress-with-beaded-sash-v3680_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V3680-10232908-Soft White?$plpproductimgmobile_2up$" alt="Sweetheart Trumpet Wedding Dress with Beaded Sash ">
                       </a>
                     </div>
                     <!-- Slide 5 -->
                     <div class="slick-slide">
                       <a href="/Product_all-over-beaded-lace-trumpet-wedding-dress-t9612_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-T9612-6097085-Ivory?$plpproductimgmobile_2up$" alt="All Over Beaded Lace Trumpet Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 6 -->
                     <div class="slick-slide">
                       <a href="/Product_allover-lace-a-line-strapless-wedding-dress-wg3805_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3805-10687280-Ivory?$plpproductimgmobile%5F2up$" alt="Allover Lace A-Line Strapless Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 7 -->
                     <div class="slick-slide">
                       <a href="/Product_beaded-illusion-bodice-ball-gown-wedding-dress-v3849_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V3849-10860362-Ivory?$plpproductimgmobile%5F2up$" alt="Beaded Illusion Bodice Ball Gown Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 8 -->
                     <div class="slick-slide">
                       <a href="/Product_ruched-bodice-chiffon-a-line-wedding-dress-wg3856_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3856-10827600-Ivory?$plpproductimgmobile%5F2up$" alt="Ruched Bodice Chiffon A-Line Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 9 -->
                     <div class="slick-slide">
                       <a href="/Product_illusion-lace-and-chiffon-plus-size-wedding-dress-9wg3851_all-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9WG3851-10880051-Soft White?$plpproductimgmobile%5F2up$" alt="Illusion Lace and Chiffon Plus Size Wedding Dress">
                       </a>
                     </div>
                     <!-- Slide 10 -->
                     <div class="slick-slide">
                       <a href="/Product_beaded-lace-and-tulle-ball-gown-wedding-dress-v3836_ball-gown-wedding-dresses">
                         <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V3836-10757588-Ivory?$plpproductimgmobile%5F2up$" alt="Beaded Lace and Tulle Ball Gown Wedding Dress">
                       </a>
                     </div>
                   </div>
                   <a href="#" class="bottom-carousel-button bottom-carousel-next">
                     <svg class="bottom-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
                       <polygon class="bottom-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
                       <path class="bottom-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
                     </svg>
                   </a>
                 </div>
               </div>
             </div>
           </section>




           <section class="container">
             <!-- Reverse -->
             <div class="two-columns reverse md-flex-start">
               <div class="column">
                 <div class="social-share">
                   <div class="social-share__img">
                     <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Vertical_DBCollection_EnduringStyle.jpg" alt="Bride standing with mom and grandmother showing off her ring" />
                   </div>
                   <div class="social-share__overlay">
                     <ul class="social-share__overlay--icons">
                       <div class="social-share__icons">
                         <!-- Gigya Social Share loaded here -->
                       </div>
                     </ul>
                   </div>
                 </div>
                 <p class="serif-m">Enduring Style</p>
                 <p class="sans-m">Embodying what it means to look like a bride, the David's Bridal Collection of classic wedding dresses includes princess-inspired <a class="inline-link" href="/wedding-dresses/ball-gown-wedding-dresses">ball gowns</a>, long-sleeve <a class="inline-link" href="/lace-wedding-dresses">lace wedding dresses</a>, elegant strapless wedding dresses, <a class="inline-link" href="/modest-wedding-dresses">modest wedding dresses</a>, and more.</p>
               </div>

               <div class="column">
                 <div class="social-share">
                   <div class="social-share__img">
                     <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Vertical_DBCollection_FlowerGirlsToo.jpg" alt="Junior bridesmaid standing with two flower girls outside smiling" />
                   </div>
                   <div class="social-share__overlay">
                     <ul class="social-share__overlay--icons">
                       <div class="social-share__icons">
                         <!-- Gigya Social Share loaded here -->
                       </div>
                     </ul>
                   </div>
                 </div>
                 <p class="serif-m">For Flower Girls, Too</p>
                 <p class="sans-m">The littlest ladies can match the bride in ivory, white, or champagne, or match the 'maids with select styles in 30+ colors.</p>
               </div>
             </div>

             <div class="two-columns reverse-flex">
               <div class="column">
                 <div class="column__img">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/767_Circle_DBCollection_FlowerGirls.jpg" alt="Bride putting lipstick on flower girl" class="img-round" />
                 </div>
               </div>
               <div class="column">
                 <div class="quote">
                   <blockquote>
                     <p class="serif-s-italic">From <a class="inline-link" href="/dresses/flower-girl-dresses">flower girls</a> to grandmothers, we can dress everyone in your party.</p>

                   </blockquote>
                 </div>
               </div>
             </div>
           </section>


           <section class="wedding-inspiration-banner">
             <p class="serif-m-italic">Want more wedding inspiration?</p>
             <p class="btn btn-secondary">
               <a href="/Content_StyleandFashionGuide_traditionalweddings">See Formal Wedding Ideas</a>
             </p>
           </section>


           <section class="our-db-brides">
             <div class="our-db-brides__heading">
               <h3 class="our-db-brides__heading-main serif-m-italic">
                 Our <span class="md-hidden lg-hidden">DB</span><span class="sm-hidden">David's Bridal</span> brides</h3>
               <p class="our-db-brides__heading-cta sans-bold-uppercase">
                 <a href="/Content_Curations_bridal ">See More <span class="sm-hidden">Inspiration From Real Brides</span>&nbsp;&gt;</a>
               </p>
             </div>
             <div class="our-db-brides__flex">
               <div class="column">
                 <a href="/Content_Curations_bridal">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/DBCollection_UGC_1.jpg" alt="Groom standing behind bride kissing her cheek">
                 </a>
               </div>
               <div class="column">
                 <a href="/Content_Curations_bridal">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/DBCollection_UGC_2.jpg" alt="Plus size bride standing with groom in field">
                 </a>
               </div>
               <div class="column">
                 <a href="/Content_Curations_bridal">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/DBCollection_UGC_3.jpg" alt="Bride posing with hands in her dress pockets">
                 </a>
               </div>
               <div class="column">
                 <a href="/Content_Curations_bridal">
                   <img src="/wcsstore/images/wwcm/designers/dbcollection/DBCollection_UGC_4.jpg" alt="Bride twirling her wedding dress skirt">
                 </a>
               </div>
             </div>
           </section>


           <section class="container">
             <div class="article__share-bar">
               <p class="article__share-bar-title serif-s-italic">Share:</p>
               <!-- Gigya Share Bar Container -->
               <ul class="article__share-bar-item-list" id="socialShareIcons">
                 <!-- Gigya icons go here -->
               </ul>
             </div>
           </section>


           <section class="container">
             <div class="inspiration-guidance">
               <div class="column-full">

                 <div class="section-minor-heading">
                   <p class="section-minor-heading__heading serif-s-italic">Inspiration &amp; Guidance</p>
                 </div>

                 <div class="layout-split-4 spacing article__teaser-list">

                   <div class="column mobile-mb-split-1">
                     <div class="media-block default spacing">
                       <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_WeddingDressDesigners">
                         <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&G_Module_MeetTheBrands_414x284.jpg" alt="Our Brands" nopin="nopin">
                       </a>
                       <div class="media-block-content spacing-half">
                         <div class="spacing-half">
                           <span class="media-block-content__title serif-m">Our Brands</span>
                         </div>
                         <p class="sans-bold-uppercase">
                           <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Something for Every Style&nbsp;&gt;</a>
                         </p>
                       </div>
                     </div>
                   </div>

                   <div class="column mobile-mb-split-1">
                     <div class="media-block default spacing">
                       <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_weddingcolorideas">
                         <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_ColorHub_414x284.jpg" alt="Wedding Color Inspiration" nopin="nopin">
                       </a>
                       <div class="media-block-content spacing-half">
                         <div class="spacing-half">
                           <span class="media-block-content__title serif-m">Wedding Color Inspiration</span>
                         </div>
                         <p class="sans-bold-uppercase">
                           <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Ideas for Your Day&nbsp;&gt;</a>
                         </p>
                       </div>
                     </div>
                   </div>

                   <div class="column mobile-mb-split-1">
                     <div class="media-block default spacing">
                       <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
                         <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BridalCelebrations_414x284.jpg" alt="What to Wear to Every Wedding Event" nopin="nopin">
                       </a>
                       <div class="media-block-content spacing-half">
                         <div class="spacing-half">
                           <span class="media-block-content__title serif-m">What to Wear to Every Wedding Event</span>
                         </div>
                         <p class="sans-bold-uppercase">
                           <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">Little White Dress &amp; More&nbsp;&gt;</a>
                         </p>
                       </div>
                     </div>
                   </div>

                   <div class="column mobile-mb-split-1">
                     <div class="media-block default spacing">
                       <a class="media-block-img-wrap" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">
                         <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/Inspiration_BM_Mismatch.jpg" alt="Mismatched Bridesmaid Dresses" nopin="nopin">
                       </a>
                       <div class="media-block-content spacing-half">
                         <div class="spacing-half">
                           <span class="media-block-content__title serif-m">Mismatched Bridesmaid Dresses</span>
                         </div>
                         <p class="sans-bold-uppercase">
                           <a class="media-block-content__cta" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Our How-To Guide&nbsp;&gt;</a>
                         </p>
                       </div>
                     </div>
                   </div>

                 </div>

               </div>
             </div>
           </section>

         </article>


         <!-- JS -->
         <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
         <script type="text/javascript">
          jQuery(document).ready(function(){
             $('.slick').slick({
               autoplay: false,
               slidesToShow: 6,
               variableWidth: true,
               infinite: true,
               centerMode: false,
               dots: false
             });
             $('.bottom-carousel-button').on("click", function(event){
               event.preventDefault();
             });

             var windowWidth = $(window).width();
             var bottomCarouselWidth = $('.slick').width();

             if(windowWidth < 600) {
               $('.bottom-carousel .slick-slide').width((bottomCarouselWidth / 2) - 10);
             } else if (windowWidth < 768) {
               $('.bottom-carousel .slick-slide').width((bottomCarouselWidth / 3) - 10);
             } else if (windowWidth < 1024) {
               $('.bottom-carousel .slick-slide').width((bottomCarouselWidth / 4) - 10);
             } else {
               $('.bottom-carousel .slick-slide').width((bottomCarouselWidth / 6) - 10);
             }

             $(window).resize(function(){
               var windowWidthResize = $(window).width();
               var bottomCarouselWidthResize = $('.slick').width();

               if(windowWidthResize < 600) {
                 $('.bottom-carousel .slick-slide').width((bottomCarouselWidthResize / 2) - 10);
               } else if (windowWidthResize < 768) {
                 $('.bottom-carousel .slick-slide').width((bottomCarouselWidthResize / 3) - 10);
               } else if (windowWidthResize < 1024) {
                 $('.bottom-carousel .slick-slide').width((bottomCarouselWidthResize / 4) - 10);
               } else {
                 $('.bottom-carousel .slick-slide').width((bottomCarouselWidthResize / 6) - 10);
               }
             });
           });
         </script> -->


         <script type="text/javascript">
         jQuery(window).on('load', function() {

           $.ajax({
             type: 'GET',
             url: 'https://cdns.gigya.com/JS/gigya.js?apiKey=2_8MPxVvTo5jvagDj9VK-NSZKt2gBPaUYxs5okAKYBd-XCymVHC2Ofd-h5ktLWudz6',
             dataType: 'script'

           }).done(function(){

             var linkBack = window.location.href;
             var title = $('title').text();
             var description = $('meta[name="description"]').attr('content');

             ua = new gigya.services.socialize.UserAction();
             ua.setLinkBack(linkBack);
             var image = {
               type: 'image',
               src: window.location + '/wcsstore/images/wwcm/designers/dbcollection/767_Vertical_DBCollection_ThePerfectFit.jpg',
               href: linkBack
             };
             ua.setTitle(title);
             ua.addMediaItem(image);
             ua.setDescription(description);
             var shareBarParams = {
               userAction: ua,
               shareButtons: [{
                 provider: 'pinterest',
                 iconImgUp: 'pinterest',
                 svg: '<svg class="article__share-bar-item-image" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 144 144"><path fill="#FFF" d="M144 72c0 39.8-32.2 72-72 72S0 111.8 0 72 32.2 0 72 0s72 32.2 72 72"></path><path fill="#BD081C" d="M71.9 5.4C35.1 5.4 5.3 35.2 5.3 72c0 28.2 17.5 52.3 42.3 62-.6-5.3-1.1-13.3.2-19.1 1.2-5.2 7.8-33.1 7.8-33.1s-2-4-2-9.9c0-9.3 5.4-16.2 12-16.2 5.7 0 8.4 4.3 8.4 9.4 0 5.7-3.6 14.3-5.5 22.2-1.6 6.6 3.3 12 9.9 12 11.8 0 20.9-12.5 20.9-30.5 0-15.9-11.5-27.1-27.8-27.1-18.9 0-30.1 14.2-30.1 28.9 0 5.7 2.2 11.9 5 15.2.5.7.6 1.2.5 1.9-.5 2.1-1.6 6.6-1.8 7.5-.3 1.2-1 1.5-2.2.9-8.3-3.9-13.5-16-13.5-25.8 0-21 15.3-40.3 44-40.3 23.1 0 41 16.5 41 38.4 0 22.9-14.5 41.4-34.5 41.4-6.7 0-13.1-3.5-15.3-7.6 0 0-3.3 12.7-4.1 15.8-1.5 5.8-5.6 13-8.3 17.5 6.2 1.9 12.8 3 19.7 3 36.8 0 66.6-29.8 66.6-66.6 0-36.7-29.8-66.5-66.6-66.5z"></path></svg>'
               }, {
                 provider: 'facebook',
                 iconImgUp: 'facebook',
                 svg: '<svg class="article__share-bar-item-image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 275.3 276.1" style="enable-background:new 0 0 275.3 276.1;" xml:space="preserve"><path id="Blue_1_" fill="#3B5999" d="M256.4,3.7H18.9c-8.1,0-14.7,6.6-14.7,14.7v237.4c0,8.1,6.6,14.7,14.7,14.7h127.8V167.3H112V127 h34.8V97.3c0-34.5,21.1-53.2,51.8-53.2c14.7,0,27.4,1.1,31.1,1.6v36l-21.3,0c-16.7,0-20,7.9-20,19.6V127h39.9l-5.2,40.3h-34.7v103.4 h68c8.1,0,14.7-6.6,14.7-14.7V18.5C271.1,10.3,264.5,3.7,256.4,3.7z"></path></svg>'
               }, {
                 provider: 'email',
                 iconImgUp: 'email',
                 svg: '<svg class="article__share-bar-item-image" xmlns="http://www.w3.org/2000/svg" width="22px" height="18px" viewBox="-491 495 16.8 12" enable-background="new -491 495 16.8 12"><g fill="#333"><path d="m-482.5 503.9l-7.5-5.8v7.9c0 .6.6 1 .8 1h12.9c.3 0 .6-.1.8-.3.2-.2.4-.4.4-.7v-7.9l-7.4 5.8"></path><path d="m-475 496.5c0-.3-.1-.7-.3-.9-.2-.2-.4-.6-.7-.6h-13.1c-.3 0-.5.4-.7.6-.2.2-.3.5-.3.8l7.5 5.7 7.6-5.6"></path></g></svg>'
               }, {
                 provider: 'twitter',
                 iconImgUp: 'twitter',
                 svg: '<svg class="article__share-bar-item-image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="18px" viewBox="0 0 288 247.5" style="enable-background:new 0 0 288 247.5;" xml:space="preserve"><path fill="#55ACEE" d="M282.3,40.2c-10.1,4.5-20.9,7.5-32.2,8.8c11.6-6.9,20.5-17.9,24.7-31c-10.8,6.4-22.8,11.1-35.6,13.6 c-10.2-10.9-24.8-17.7-40.9-17.7c-31,0-56.1,25.1-56.1,56.1c0,4.4,0.5,8.7,1.5,12.8C96.9,80.5,55.6,58.1,27.9,24.2 c-4.8,8.3-7.6,17.9-7.6,28.2c0,19.5,9.9,36.6,25,46.7c-9.2-0.3-17.8-2.8-25.4-7c0,0.2,0,0.5,0,0.7c0,27.2,19.3,49.8,45,55 c-4.7,1.3-9.7,2-14.8,2c-3.6,0-7.1-0.4-10.6-1c7.1,22.3,27.9,38.5,52.4,39c-19.2,15-43.4,24-69.7,24c-4.5,0-9-0.3-13.4-0.8 c24.8,15.9,54.3,25.2,86,25.2c103.2,0,159.6-85.5,159.6-159.6c0-2.4-0.1-4.9-0.2-7.3C265.2,61.4,274.7,51.5,282.3,40.2z"></path></svg>'
               }],
               buttonTemplate: '<li class="article__share-bar-item"><a onclick="$onClick" data-img="$iconImg">$svg</a></li>',
               containerID: 'socialShareIcons',
               showCounts: 'none',
               sessionExpiration: '0'
             };
             gigya.services.socialize.showShareBarUI(shareBarParams);


             var pinterest =
               '<svg id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path style="fill:#333" d="M30.374,4.622c-13.586,0-20.437,9.74-20.437,17.864c0,4.918,1.862,9.293,5.855,10.922c0.655,0.27,1.242,0.01,1.432-0.715  c0.132-0.5,0.445-1.766,0.584-2.295c0.191-0.717,0.117-0.967-0.412-1.594c-1.151-1.357-1.888-3.115-1.888-5.607  c0-7.226,5.407-13.695,14.079-13.695c7.679,0,11.898,4.692,11.898,10.957c0,8.246-3.649,15.205-9.065,15.205  c-2.992,0-5.23-2.473-4.514-5.508c0.859-3.623,2.524-7.531,2.524-10.148c0-2.34-1.257-4.292-3.856-4.292  c-3.058,0-5.515,3.164-5.515,7.401c0,2.699,0.912,4.525,0.912,4.525s-3.129,13.26-3.678,15.582  c-1.092,4.625-0.164,10.293-0.085,10.865c0.046,0.34,0.482,0.422,0.68,0.166c0.281-0.369,3.925-4.865,5.162-9.359  c0.351-1.271,2.011-7.859,2.011-7.859c0.994,1.896,3.898,3.562,6.986,3.562c9.191,0,15.428-8.379,15.428-19.595  C48.476,12.521,41.292,4.622,30.374,4.622z"/></svg>';
             var facebook =
               '<svg class="article__share-bar-item-image" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 275.3 276.1" style="enable-background:new 0 0 275.3 276.1;" xml:space="preserve"><path id="Blue_1_" fill="#333" d="M256.4,3.7H18.9c-8.1,0-14.7,6.6-14.7,14.7v237.4c0,8.1,6.6,14.7,14.7,14.7h127.8V167.3H112V127 h34.8V97.3c0-34.5,21.1-53.2,51.8-53.2c14.7,0,27.4,1.1,31.1,1.6v36l-21.3,0c-16.7,0-20,7.9-20,19.6V127h39.9l-5.2,40.3h-34.7v103.4 h68c8.1,0,14.7-6.6,14.7-14.7V18.5C271.1,10.3,264.5,3.7,256.4,3.7z"></path></svg>';
             var buttonTemplate = '<li class="social-share__icon"><a onclick="$onClick" data-img="$iconImg">$svg</a></li>';
             var shareButtons = [{
               provider: 'pinterest',
               iconImgUp: 'pinterest',
               svg: pinterest
             }, {
               provider: 'facebook',
               iconImgUp: 'facebook',
               svg: facebook
             }];


             $.each( $('.social-share').parent('.column'), function(index, key, value) {
               var gigyaTitle = $(this).find('p.serif-m').text();
               var gigyaDescription = $(this).find('p.sans-m').text();
               var gigyaImageSrc = $(this).find('img').attr('src');
               var containerId = gigyaTitle.replace(/\s+/g, '-').toLowerCase();
               var gigyaContainerId = $(this).find('.social-share__icons').prop('id', containerId);
               console.log(gigyaTitle);
               console.log(gigyaDescription);
               console.log(gigyaImageSrc);
               console.log(containerId);

               var share = new gigya.services.socialize.UserAction();
               share.setTitle(gigyaTitle);
               var image = {
                 type: 'image',
                 src: window.location.origin + gigyaImageSrc,
                 href: linkBack
               };
               share.addMediaItem(image);
               share.setDescription(gigyaDescription);
               var shareBarParams = {
                 userAction: share,
                 shareButtons: shareButtons,
                 buttonTemplate: buttonTemplate,
                 containerID: containerId,
                 showCounts: 'none',
                 sessionExpiration: '0'
               };
               gigya.services.socialize.showShareBarUI(shareBarParams);
             });


           }).fail(function(){
             console.error('GIGYA FAILED');
           });

         });

         </script>

    </div>
  </div>

  {{> organisms-footer }}
</div>