{{> atoms-head-content }}

<div id="page">
  {{> organisms-header }}

  <div id="main_content" class="one_column content-pages">
    <div class="ctnr-maincontent row-fluid" role="main">

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/pages/designers/meet-the-designers/styles.css">

      <!-- HTML -->
      {{> templates-meet-the-designers }}

      <!-- JS -->
      <script type="text/javascript" src="/wcsstore/images/wwcm/js/custom-jquery-plugins/gigya-share-bar.min.js"></script>
      <script type="text/javascript">
        jQuery('#socialShareIcons').gigyaShareBar({
          image: "/wcsstore/images/wwcm/designers/meet-the-brands/MeetTheBrands_767px_WVW.jpg"
        });
      </script>

    </div>
  </div>

  {{> organisms-footer }}
</div>