<div class="offerBox">
  <div class="offerDate">Ends 2/21/18</div>
  <div class="offerHead">Mix &amp; Match | Buy One, Get One 50% Off <a href="/shoes/all-shoes">Shoes</a>, <a href="/accessories/all-accessories">Accessories</a>, and <a href="/accessories/lingerie">Lingerie</a></div>
  <div class="offerBody"><b>Use code: BOGOALL</b></div>
  <div class="offerFoot">Offer valid from February 5, 2018 through February 21, 2018 at select David&#39;s Bridal stores in the United States and online at davidsbridal.com. Valid on regular price and clearance accessories and shoes in depts. 11, 23, 37, 45, 48, 50, 55, 56, 57, 58, 59, 62, 65, 66, 67, 68, 70, 75, 77, and 82. Excludes Toms&reg;, Blue by Betsey Johnson&reg;, Pink by Betsey Johnson&reg;, Jewel Badgley Mischka&reg;, Dyeables&reg;, Touch Ups&reg;, Pink Paradox&reg;, Liz Rene Signature Collection&reg;, gifts (dept. 60), favors (dept. 61), wedding gown preservation kits (80), garment bags (85), special value, prior sales, and existing layaways. Discount will be taken on item of equal or lesser value. No other discounts apply. Discount taken at register; use promotional code BOGOALL and the discount will be applied at checkout.</div>
  <div class="offerFoot">
    <a href="/shoes/all-shoes">Shop Shoes</a>&nbsp;&nbsp;
    <a href="/accessories/all-accessories">Shop Accessories</a>&nbsp;&nbsp;
    <a href="/accessories/lingerie">Shop Lingerie</a>
  </div>
</div>



<!-- 3/1 - 4/2 -->
<div class="offerBox">
  <div class="offerDate">Ends 4/2/18</div>
  <div class="offerHead">Mix &amp; Match | Buy One, Get One 50% Off <a href="/shoes/all-shoes">Shoes</a>, <a href="/accessories/all-accessories">Accessories</a>, and <a href="/accessories/lingerie">Lingerie</a></div>
  <div class="offerBody"><b>Use code: BOGOALL</b></div>
  <div class="offerFoot">Offer valid from February 5, 2018 through April 2, 2018 at select David's Bridal stores in the United States and online at davidsbridal.com. Valid on regular price accessories and shoes in depts. 11, 23, 37, 45, 48, 50, 55, 56, 57, 58, 59, 62, 65, 66, 67, 68, 70, 75, 77, and 82. Excludes clearance, Toms&reg;, Blue by Betsey Johnson&reg;, Pink by Betsey Johnson&reg;, Jewel Badgley Mischka&reg;, Dyeables&reg;, Touch Ups&reg;, Pink Paradox&reg;, Liz Rene Signature Collection&reg;, gifts (dept. 60), favors (dept. 61), wedding gown preservation kits (80), garment bags (85), special value, prior sales, and existing layaways. Discount will be taken on item of equal or lesser value. No other discounts apply. Discount taken at register; use promotional code BOGOALL and the discount will be applied at checkout.</div>
  <div class="offerFoot">
    <a href="/shoes/all-shoes">Shop Shoes</a>&nbsp;&nbsp;
    <a href="/accessories/all-accessories">Shop Accessories</a>&nbsp;&nbsp;
    <a href="/accessories/lingerie">Shop Lingerie</a>
  </div>
</div>
