<link rel="stylesheet" href="/monetate/actions/promo-drawer/styles.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" rel="stylesheet" />


<section aria-label="Daily Deals" class="promo-drawer" id="promoDrawer" role="dialog" tabindex="-1">
  <div class="promo-drawer__drawer" data-drawer-status="closed">

    <!-- Drawer Header -->
    <div class="promo-drawer__header" tabindex="-1">
      <div class="promo-drawer__header-icon">
        <svg role="img" style="enable-background:new 0 0 83 108.3;" version="1.1" viewbox="0 0 83 108.3" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
          <path d="M25.7,8.4L13.4,25v76.3h58.1V25L59.3,8.4H25.7z M42.5,23.2c-2.6,0-4.7-2.1-4.7-4.7c0-2.6,2.1-4.7,4.7-4.7 s4.7,2.1,4.7,4.7C47.2,21.1,45.1,23.2,42.5,23.2z"></path>
        </svg>
      </div>

      <div class="promo-drawer__header-text">
        <h3 class="sans-m" data-original-text="">daily deals</h3>
        <p class="sans-xs">click for more ways to save</p>
      </div>

      <div class="promo-drawer__header-arrow">
        <svg height="18px" role="img" version="1.1" viewbox="0 0 29 18" width="29px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="14.5 17.6 0.5 2.5 2.7 0.5 14.5 13.2 26.3 0.5 28.5 2.5" transform="translate(14.500000, 9.050000) scale(-1, -1) translate(-14.500000, -9.050000) "></polygon>
        </svg>
      </div>
    </div>

    <!-- Drawer Content -->
    <div class="promo-drawer__content">
      <button class="promo-drawer__close-button" name="button" tabindex="-1" type="button">
        <svg role="img" style="enable-background:new -493 495 13.9 12;" version="1.1" viewbox="-493 495 13.9 12" width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
          <polygon points="-480.7,495 -485.6,500 -490.6,495 -491.6,496 -486.6,501 -491.6,506 -490.6,507 -485.6,502 -480.7,507 -479.7,506 -484.7,501 -479.7,496 "></polygon>
        </svg>
      </button>

      <div class="promo-drawer__carousel">
        <div class="promo-drawer__carousel--inner">
          <div class="slick-container">
            <a class="promo-drawer__carousel-button promo-drawer__carousel-prev" href="javascript:void();">
              <svg class="promo-drawer__carousel-button-prev" height="62px" role="img" style="enable-background:new 5.5 -5.5 62 62;" version="1.1" viewbox="5.5 -5.5 62 62" width="62px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon class="promo-drawer__carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "></polygon>
                <path class="promo-drawer__carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"></path>
              </svg>
            </a>

            <div class="promo-drawer__carousel--slick" data-slick="{&quot;prevArrow&quot;:&quot;.promo-drawer__carousel-prev&quot;, &quot;nextArrow&quot;:&quot;.promo-drawer__carousel-next&quot; }">
              <!-- SLIDES GO HERE -->
            </div>

            <a class="promo-drawer__carousel-button promo-drawer__carousel-next" href="javascript:void();">
              <svg class="promo-drawer__carousel-button-next" height="62px" role="img" style="enable-background:new 5.5 -5.5 62 62;" version="1.1" viewbox="5.5 -5.5 62 62" width="62px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon class="promo-drawer__carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "></polygon>
                <path class="promo-drawer__carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Overlay -->
  <div class="promo-drawer__overlay">&nbsp;</div>
</section>



<script type="text/javascript" src="/monetate/actions/promo-drawer/script.js"></script>
