/* ---------------------------------------------------------
    HEADER STYLES
    --------------------------------------------------------- */
.mt_endcap .mt_sliderTop {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-weight: normal;
  font-size: 22px;
  font-style: italic;
  margin-left: .5%;
  margin-top: 15px; }

.mt_title {
  color: #333; }

/* ---------------------------------------------------------
    GENERIC STYLES
    These can stay mostly untouched
    --------------------------------------------------------- */
.mt_endcap {
  direction: ltr;
  overflow: hidden;
  position: relative; }

.mt_endcap .mt_sliderMiddle {
  position: relative;
  overflow: hidden; }

.mt_endcap .mt_sliderMask {
  width: 100%;
  height: auto;
  overflow: hidden; }

.mt_endcap .mt_sliderMask ul {
  position: relative;
  margin: 0;
  padding: 0; }

.mt_endcap .mt_sliderMask ul li.mt_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 5.5px;
  list-style: none; }

.mt_endcap .mt_arrowContainer {
  cursor: pointer; }

.mt_endcap .mt_ratings {
  display: inline-block;
  position: relative; }

.mt_endcap .mt_ratings > .mt_rating {
  overflow: hidden;
  white-space: nowrap; }

.mt_endcap .mt_ratings > .mt_rating.full {
  position: relative;
  z-index: 2; }

.mt_endcap .mt_ratings > .mt_rating.empty {
  position: absolute;
  top: 0; }

.mt_endcap .mt_pagination {
  text-align: center; }

.mt_endcap .mt_pages {
  display: inline-block;
  padding: 5px 10px; }

/* ---------------------------------------------------------
    HORIZONTAL STYLES
    Adjust your max width on the endcap & edit the
    slider mask calc to match your combined creative widths.
    --------------------------------------------------------- */
.mt_endcap.mt_horizontal {
  width: 100%;
  max-width: 1262px;
  padding: 0 .5%; }

.mt_endcap.mt_horizontal .mt_sliderMiddle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-align-items: center; }

.mt_endcap.mt_horizontal .mt_sliderMask {
  float: left;
  /* This is to fix styles in IE. Please subtract the SUM of BOTH the arrow widths */
  max-width: calc(100% - 0px); }

.mt_endcap.mt_horizontal .mt_sliderMask ul {
  left: 0; }

/* Only animations on the .mt_animate class. This class gets removed when swiping. */
.mt_endcap.mt_horizontal .mt_sliderMask ul.mt_animate {
  -webkit-transition: left .25s;
  transition: left .25s; }

.mt_endcap.mt_horizontal li.mt_item {
  display: inline-block;
  vertical-align: top; }

.mt_endcap.mt_horizontal .mt_itemImageContainer .mt_image {
  width: 100%;
  height: auto; }

.mt_endcap.mt_horizontal .mt_arrowContainer {
  float: left;
  position: relative;
  width: 32px;
  margin-top: -40px; }

/* Custom Styles */
.mt_itemWrapper a {
  color: #333;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.mt_itemWrapper .mt_itemText .mt_prodName {
  margin-top: 5px; }
