// ==========================================================================
// Article Share Bar
// ==========================================================================
.article__share-bar {
  background: $white;
  padding: 12px 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #eee;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

  @media screen and (min-width: $breakpoint-md) {
    padding: 12px 30px;
    flex-direction: row;
    align-items: center;
    max-width: 320px;
    margin-top: 30px;
  }

  & a {
    cursor: pointer;
  }

  &-title {
    margin: 0;
    padding: 0;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 3px;
    }
  }

  &-item-list {
    line-height: 1;
    padding: 0;
  }

  &-item {
    display: inline-block;
    margin-left: 28px;
    @media screen and (min-width: $breakpoint-md) {
      margin-left: 14px;
    }

    &-link {
      display: block;
      height: 18px !important;

      &--email {
        height: 16px;
      }
    }

    &-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto;
    }
  }

} // .article__share-bar

div.gig-button-container {
  margin-bottom: 0;
}
