// ========================================================
// FLEX
// ========================================================
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5px !important;
  padding-left: 5px;
  padding-right: 5px;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }

  .column {
    display: block;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }


    .flex__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
      @media screen and (min-width: $breakpoint-lg) {
        flex-wrap: nowrap;
      }

      .col {
        display: block;
        padding: 5px ;
        position: relative;
        width: 100%;
        @media screen and (min-width: $breakpoint-lg) {
          width: 50%;
        }
      }
    }
  }




  &__item {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      &.sans-xs {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }



    &--text {
      background: $cream;
      padding: 10px 10px 20px;
    }

    &--gigya {
      display: block;
      margin-top: 10px;
      padding: 0;
      position: relative;
      width: 100%;

      li {
        cursor: pointer;
        margin-right: 5px;
      }

      svg {
        height: 24px;
      }
    }
    
    
    
    
    // Text over image
    &--img {
      img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    &--absolute {
      //@include red-bg();
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      max-width: 320px;
    }
    
    
  }



  &__circle {
    display: block;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--text {
      //@include green-bg();
      display: block;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
      left: 15%;
    }
    p {
      margin: 0;
    }
  }


}
