// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;


  &__img {
    display: block;
    position: relative;
  }


  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }



  &__text {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid $black;
    display: block;
    margin: 10px auto 0;
    padding: 20px 20px 10px;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      bottom: 30px;
      right: 30px;
      margin: 0;
      outline: 6px solid rgba(255, 255, 255, 0.85);
      position: absolute;
      width: 340px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      right: 40px;
      bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      bottom: 60px;
      right: 50px;
    }
  }


}
