// ========================================================
// Selection Price
// ========================================================
.detail__price.border-bottom--gray-lt.spacing-top[data-position="relative"] {
  position: relative;
}

.detail__price.border-bottom--gray-lt.spacing-top[data-position="fixed"] {
  position: fixed;
  bottom: 90px;
  z-index: 999;
  border-bottom: 0;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}


// ========================================================
// Buttons
// ========================================================
.detail__fieldset.detail__actions.spacing-top[data-position="relative"] {
  position: relative;
}

.detail__fieldset.detail__actions.spacing-top[data-position="fixed"] {
  position: fixed;
  background: white;
  bottom: -10px;
  z-index: 10;
  width: 100%;
  margin-left: -15px;
  padding: 20px 15px 15px;
  box-shadow: 0 -4px 16px #666;
}
