// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  //@include green-bg();
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 10px;
  @media screen and (min-width: 1262px) {
    padding-left: 0;
  }

  p.sans-bold-uppercase {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
