.find-style-banner {
  display: block;
  max-width: $container-max-width;
  background: $blue-lt;
  text-align: center;
  padding: 20px 20px;
  margin: 10px auto;

  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: center;       // default: flex-start
  align-items: center;                // default: stretch
  align-content: stretch;              // default: stretch

  @media screen and (min-width: $breakpoint-md) {
    margin: 25px auto;
  }
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    //margin: 20px auto;
  }

  p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    //border: 1px solid rgba(0, 0, 0, 0.2);

    @media screen and (min-width: $breakpoint-lg) {
      width: auto;
      margin: 0 30px;
    }

    &.btn {
      @media screen and (max-width: ($breakpoint-lg - 1)) {
        margin-top: 10px;
      }
    }
  }

}
