/**
*
* Flexbox
*
**/



// ==========================================================================
// Flex Container
// ==========================================================================
.flex-container {
  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: space-around;       // default: flex-start
  align-items: stretch;                // default: stretch
  align-content: stretch;              // default: stretch
  max-width: $container-max-width;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }


  //min-height: 300px;
  //background: rgba(255, 0, 0, 0.1);
  //border: 1px solid red;


  .column {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;


    //border: 1px solid grey;

    @media screen and (min-width: $breakpoint-md) {
      width: 33.33333%;
      margin: 25px 5px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }


  } // .column


} // .flex-container


.margin-top {
  margin-top: 200px !important;
}
