.logo-banner {
  display: block;
  background: $blue-lt;
  text-align: center;
  //padding: 20px 40px 10px;

  &.container {
    margin-bottom: 10px;
    padding: 8px 40px 8px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0px;
    }
  }

  p {
    margin-bottom: 10px;
  }

  & img {
    width: auto;
    max-width: 100%;
  }
}
