.page-heading {
  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: nowrap;                     // default: nowrap
  justify-content: space-around;;     // default: flex-start
  align-items: flex-start;;           // default: stretch
  align-content: flex-start;;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (min-width: 1262px) {
    padding-left: 0;
  }

  .column {
    width: 100%;

    //border: 1px solid black;

    &:first-child {

    }
    &:last-child {
      display: none;
      @media screen and (min-width: $breakpoint-lg) {
        display: block;
        max-width: 314px;
      }
    }
  }

  .sans-l {
    max-width: 870px;
  }
}
