.see-more {
  text-align: center;

  button {
    background: none;
    border: none;
    & > * {
      transition: all 0.25s ease;
    }
    &:hover > * {
      color: $purple-gray;
      fill: $purple-gray;
    }

    svg {
      width: 40px;
      height: 40px;
      @media screen and (min-width: $breakpoint-md) {
        width: 50px;
        height: 50px;
      }
    }

    p {
      margin-top: 5px;
    }
  }
}
