.share-wedding-banner {
  display: block;
  max-width: $container-max-width;
  background: $blue-lt;
  text-align: center;
  padding: 20px 40px;
  margin: 10px auto;

  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: center;       // default: flex-start
  align-items: center;                // default: stretch
  align-content: stretch;              // default: stretch

  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    margin: 25px auto;
  }

  p {
    width: 100%;
    margin: 0;
    @media screen and (min-width: $breakpoint-lg) {
      width: auto;
    }

    &:first-child {
      margin-bottom: 15px;
      @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 0;
        margin-right: 60px;
      }
    }
  }

}
