.video-card {
  position: relative;
  background: $cream;
  padding-bottom: 40px;

  &.no-content {
    background: none;
  }

  &__img {
    display: block;
    position: relative;
  } // img

  &__video {
    position: relative;
    padding-bottom: 48%;
    height: 0;
    padding-top: 30px;
    overflow: hidden;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  } // video

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //background: rgba(0, 0, 0, 0.2);
    svg {
      width: 64px;
      height: 64px;
      cursor: pointer;
      transition: fill 0.3s ease;
      fill: #333333;
      @media screen and (min-width: 768px) {
        width: 48px;
        height: 48px;
      }
      @media screen and (min-width: 1024px) {
        width: 64px;
        height: 64px;
      }
      &:hover {
        fill: #727278;
      }
    }
  }



  &__text {
    padding: 15px;
    @media screen and (min-width: $breakpoint-md) {
      //padding: 20px;
    }

    p {
      margin: 0;

      &.serif-m {
        margin-bottom: 10px;
      }

      a {
        color: $taupe;
        font-weight: normal;
        text-decoration: underline;
        &:hover {
          color: $black;
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }
  }


  // Social Share Icons
  &__social-share {
    position: absolute;
    bottom: 15px;
    left: 15px;
    // padding: 10px 0 0;
    padding: 0;
    margin: 0;

    svg {
      height: 18px;
      width: 18px;
      margin-right: 10px;
      @media screen and (min-width: $breakpoint-md) {
        height: 24px;
        width: 24px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
