.loveStoriesTV {
  color: #333;
  max-width: 1262px;
  display: block;
  position: relative;
  margin: 0 auto;

  p {
    margin-bottom: 0;
  }

  .sans-m {
    margin: 0;
    a {
      color: #727278;
      text-decoration: underline;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
      &:hover,
      &:active,
      &:focus {
        color: #333;
        text-decoration: underline;
      }
    }
  }


  .column-full {
    padding: 0;  }

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -10px;
    position: relative;
  }

  .article__teaser-list {
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }

    & .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%;
      @media screen and (max-width: 767px) {
        float: left;
        margin-right: 11px;
        width: 40%;
        & img {
          width: 100%;
        }
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: 767px) {
      & .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px;
      }
    }
  }


  @media screen and (min-width: 768px) {
    .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
      .layout-split-4 > .column:nth-child(1) {
        margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
      .layout-split-4 > .column:nth-child(1) {
        margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }
}
