<link rel="stylesheet" href="/css/espots/homepage/redesign/hero/hero.css">



<section class="hero" data-analytics-tagging="Hero">
  <div class="hero__container clear">

    <!-- Image A -->
    <section class="hero__item fade-in image-a">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/wedding-dresses/all-wedding-dresses">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_Mobile_ModulesMobileHomepage_Module_A_767x767.jpg" alt="Bride on steps with bouquet and long veil">
        </a>
        <figcaption class="hero__item-image-caption">
          <p class="btn btn-secondary">
            <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/wedding-dresses/all-wedding-dresses">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_ModulesDesktopHomepage_Module_A.jpg" alt="Bride on steps with bouquet and long veil">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/wedding-dresses/all-wedding-dresses">Shop Wedding Dresses<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- CTA Link -->
    <section class="hero__link">
      <p class="sans-bold-uppercase">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make An Appointment&nbsp;&gt;</a>
      </p>
    </section>


    <!-- Copy Box -->
    <section class="hero__copy fade-in">
      <div class="hero__copy--inner">

        <div class="hero__copy--offer">
          <p class="serif-xl">All-Around<br>Opulence</p>
          <p class="sans-l" style="margin-top: 10px;">Handcrafted looks you'll only<br>find at David's Bridal</p>

          <p class="btn btn-secondary">
            <a href="/wedding-dresses/all-wedding-dresses" class="sans-bold-uppercase">Shop Wedding Dresses</a>
          </p>
          <p class="btn btn-secondary">
            <a href="/accessories/all-accessories" class="sans-bold-uppercase">Shop Accessories</a>
          </p>
        </div>

        <div class="hero__copy--offer sm-hidden">
          <p class="sans-bold-uppercase">
            <a href="/Content_StyleandFashionGuide_qualityandcraftsmanship">See How Our <br class="sm-hidden lg-hidden">Gowns Are Made&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </section>


    <!-- Image B -->
    <section class="hero__item fade-in image-b sm-hidden">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/accessories/all-accessories">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_Mobile_ModulesMobileHomepage_Module_B.jpg" alt="Close up of crystal tiara and earrings by teacup">
        </a>
        <figcaption class="hero__item-image-caption">
          <p class="btn btn-secondary">
            <a href="/accessories/all-accessories">Shop Accessories</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/accessories/all-accessories">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_ModulesDesktopHomepage_Module_B.jpg" alt="Close up of crystal tiara and earrings by teacup">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/accessories/all-accessoriess">Shop Accessories<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>



    <!-- Image C -->
    <section class="hero__item fade-in image-c sm-hidden">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/bridesmaid-dresses/all-bridesmaid-dresses">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_Mobile_ModulesMobileHomepage_Module_C.jpg" alt="Pink bridesmaids leaning against building">
        </a>
        <figcaption class="hero__item-image-caption">
          <p class="btn btn-secondary">
            <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaid Dresses</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/bridesmaid-dresses/all-bridesmaid-dresses">
          <img class="lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_Mobile_ModulesMobileHomepage_Module_C.jpg" alt="Pink bridesmaids leaning against building">
          <img class="md-hidden" src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_ModulesDesktopHomepage_Module_C.jpg" alt="Pink bridesmaids leaning against building">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Bridesmaid Dresses<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>



    <!-- Image D -->
    <section class="hero__item fade-in image-d sm-hidden">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_Mobile_ModulesMobileHomepage_Module_D.jpg" alt="Bride in lacy dress looking out window wearing crystal hair clip">
        </a>
        <figcaption class="hero__item-image-caption">
          <p class="btn btn-secondary">
            <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">
          <img src="/wcsstore/images/wwcm/homepage/2018/April/age-of-opulence/Homepage_TemplateB_ModulesDesktopHomepage_Module_D.jpg" alt="Bride in lacy dress looking out window wearing crystal hair clip">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>

  </div>

  <!-- <p class="hero__disclaimer sans-xs">*Wedding dresses shown are on sale but are not part of the $99 and $499 sale</p> -->
</section>
