<link rel="stylesheet" href="/css/espots/homepage/redesign/hero-free-shipping.css">

<section class="hero" data-analytics-tagging="Hero">

  <div class="hero__img">
    <a href="/wedding-dresses/all-wedding-dresses">
      <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/Free_Shipping_Homepage_Mobile_400x533.jpg" alt="">
      <img class="sm-hidden" src="/wcsstore/images/wwcm/homepage/Free_Shipping_Homepage_Desktop_1600x764.jpg" alt="">
    </a>
  </div>

  <div class="hero__text">
    <div class="hero__text-free-shipping">
      <a href="/wedding-dresses/all-wedding-dresses">
        <div class="md-hidden lg-hidden">
          <svg class="hero__text-free-shipping-svg" viewBox="0 0 243 264" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Mobile" transform="translate(-55.000000, -16.000000)" fill="#FFFFFF">
                <g id="Free-Shipping" transform="translate(49.000000, -13.000000)">
                  <path class="free" d="M55.05,42.2 L23.7,42.2 L23.7,58.15 L47.35,58.15 L47.35,71.35 L23.7,71.35 L23.7,106 L8.85,106 L8.85,29 L55.05,29 L55.05,42.2 Z M86.29,71.9 L80.9,71.9 L80.9,106 L66.05,106 L66.05,29 L94.1,29 C101.140035,29 106.749979,30.9066476 110.93,34.72 C115.476689,39.0466883 117.75,44.2899692 117.75,50.45 C117.75,56.6100308 115.476689,61.8533117 110.93,66.18 C108.729989,68.2333436 106.163348,69.7366619 103.23,70.69 L132.05,106 L113.68,106 L86.29,71.9 Z M80.9,58.7 L93.22,58.7 C96.8133513,58.7 99.3066597,57.9300077 100.7,56.39 C102.166674,54.7766586 102.9,52.8333447 102.9,50.56 C102.9,48.2133216 102.166674,46.2333414 100.7,44.62 C99.233326,43.0066586 96.7400176,42.2 93.22,42.2 L80.9,42.2 L80.9,58.7 Z M185.95,42.2 L154.6,42.2 L154.6,58.15 L178.25,58.15 L178.25,71.35 L154.6,71.35 L154.6,92.8 L187.05,92.8 L187.05,106 L139.75,106 L139.75,29 L185.95,29 L185.95,42.2 Z M246.45,42.2 L215.1,42.2 L215.1,58.15 L238.75,58.15 L238.75,71.35 L215.1,71.35 L215.1,92.8 L247.55,92.8 L247.55,106 L200.25,106 L200.25,29 L246.45,29 L246.45,42.2 Z" id="FREE"></path>
                  <path class="shipping" d="M6.7025,148.965 L11.3665,144.089 C13.8398457,146.80968 16.7548166,148.17 20.1115,148.17 C21.701508,148.17 22.999995,147.728338 24.007,146.845 C25.014005,145.961662 25.5175,144.848673 25.5175,143.506 C25.5175,142.09266 24.9521723,140.953171 23.8215,140.0875 C22.6908277,139.221829 20.9683449,138.347338 18.654,137.464 C16.3396551,136.580662 14.6701718,135.83867 13.6455,135.238 C10.1474825,133.188656 8.3985,130.379685 8.3985,126.811 C8.3985,123.666318 9.61748781,121.14001 12.0555,119.232 C14.4935122,117.32399 17.3554836,116.37 20.6415,116.37 C24.6695201,116.37 28.2558176,117.535988 31.4005,119.868 L27.6905,125.168 C25.9238245,123.542659 23.7861792,122.73 21.2775,122.73 C19.7581591,122.73 18.4243391,123.065663 17.276,123.737 C16.1276609,124.408337 15.5535,125.415327 15.5535,126.758 C15.5535,127.818005 16.1453274,128.745496 17.329,129.5405 C18.5126726,130.335504 19.934825,131.042164 21.5955,131.6605 C23.256175,132.278836 24.9256583,132.994329 26.604,133.807 C28.2823417,134.619671 29.7133274,135.838659 30.897,137.464 C32.0806726,139.089341 32.6725,141.067988 32.6725,143.4 C32.6725,146.615349 31.4358457,149.274156 28.9625,151.3765 C26.4891543,153.478844 23.5388505,154.53 20.1115,154.53 C15.2354756,154.53 10.7658537,152.675019 6.7025,148.965 Z M64.4725,154 L64.4725,137.305 L45.9225,137.305 L45.9225,154 L38.7675,154 L38.7675,116.9 L45.9225,116.9 L45.9225,130.945 L64.4725,130.945 L64.4725,116.9 L71.6275,116.9 L71.6275,154 L64.4725,154 Z M80.1075,154 L80.1075,116.9 L87.2625,116.9 L87.2625,154 L80.1075,154 Z M109.6815,138.895 L102.8975,138.895 L102.8975,154 L95.7425,154 L95.7425,116.9 L109.6815,116.9 C113.992188,116.9 117.207489,118.012989 119.3275,120.239 C121.270843,122.25301 122.2425,124.814651 122.2425,127.924 C122.2425,131.033349 121.270843,133.59499 119.3275,135.609 C117.242823,137.799678 114.027522,138.895 109.6815,138.895 Z M102.8975,132.535 L109.3635,132.535 C111.448177,132.535 112.949829,132.040338 113.8685,131.051 C114.681171,130.167662 115.0875,129.125339 115.0875,127.924 C115.0875,126.687327 114.681171,125.627338 113.8685,124.744 C112.949829,123.754662 111.448177,123.26 109.3635,123.26 L102.8975,123.26 L102.8975,132.535 Z M141.2165,138.895 L134.4325,138.895 L134.4325,154 L127.2775,154 L127.2775,116.9 L141.2165,116.9 C145.527188,116.9 148.742489,118.012989 150.8625,120.239 C152.805843,122.25301 153.7775,124.814651 153.7775,127.924 C153.7775,131.033349 152.805843,133.59499 150.8625,135.609 C148.777823,137.799678 145.562522,138.895 141.2165,138.895 Z M134.4325,132.535 L140.8985,132.535 C142.983177,132.535 144.484829,132.040338 145.4035,131.051 C146.216171,130.167662 146.6225,129.125339 146.6225,127.924 C146.6225,126.687327 146.216171,125.627338 145.4035,124.744 C144.484829,123.754662 142.983177,123.26 140.8985,123.26 L134.4325,123.26 L134.4325,132.535 Z M159.0775,154 L159.0775,116.9 L166.2325,116.9 L166.2325,154 L159.0775,154 Z M174.7125,154 L174.7125,116.9 L179.7475,116.9 L200.4175,141.068 L200.4175,116.9 L207.5725,116.9 L207.5725,154 L202.5375,154 L181.8675,129.832 L181.8675,154 L174.7125,154 Z M232.9065,122.73 C229.408483,122.73 226.475845,123.966654 224.1085,126.44 C221.741155,128.913346 220.5575,131.916649 220.5575,135.45 C220.5575,139.054018 221.776488,142.074988 224.2145,144.513 C226.652512,146.951012 229.655815,148.17 233.2245,148.17 C236.333849,148.17 239.089821,147.21601 241.4925,145.308 L241.4925,137.305 L231.9525,137.305 L231.9525,130.945 L248.6475,130.945 L248.6475,147.428 C246.951492,149.583344 244.752014,151.305827 242.049,152.5955 C239.345986,153.885173 236.351516,154.53 233.0655,154.53 C227.341471,154.53 222.633352,152.701518 218.941,149.0445 C215.248648,145.387482 213.4025,140.856027 213.4025,135.45 C213.4025,130.043973 215.239815,125.512518 218.9145,121.8555 C222.589185,118.198482 227.270805,116.37 232.9595,116.37 C238.365527,116.37 242.888148,118.136649 246.5275,121.67 L241.9165,126.546 C239.372487,124.001987 236.369184,122.73 232.9065,122.73 Z" id="SHIPPING"></path>
                  <path class="today" d="M9.23,166.2 L46.6,166.2 L46.6,175.08 L32.91,175.08 L32.91,218 L22.92,218 L22.92,175.08 L9.23,175.08 L9.23,166.2 Z M59.55,192.1 C59.55,197.033358 61.1779837,201.226649 64.434,204.68 C67.6900163,208.133351 71.7353092,209.86 76.57,209.86 C81.4046908,209.86 85.4499837,208.133351 88.706,204.68 C91.9620163,201.226649 93.59,197.033358 93.59,192.1 C93.59,187.166642 91.9620163,182.973351 88.706,179.52 C85.4499837,176.066649 81.4046908,174.34 76.57,174.34 C71.7353092,174.34 67.6900163,176.066649 64.434,179.52 C61.1779837,182.973351 59.55,187.166642 59.55,192.1 Z M49.56,192.1 C49.56,184.601296 52.088308,178.286692 57.145,173.156 C62.2016919,168.025308 68.6766272,165.46 76.57,165.46 C84.4633728,165.46 90.938308,168.025308 95.995,173.156 C101.051692,178.286692 103.58,184.601296 103.58,192.1 C103.58,199.598704 101.051692,205.913308 95.995,211.044 C90.938308,216.174692 84.4633728,218.74 76.57,218.74 C68.6766272,218.74 62.2016919,216.174692 57.145,211.044 C52.088308,205.913308 49.56,199.598704 49.56,192.1 Z M146.13,192.1 C146.13,187.758645 144.872013,184.009349 142.356,180.852 C139.297318,177.003981 134.882029,175.08 129.11,175.08 L121.71,175.08 L121.71,209.12 L129.11,209.12 C134.882029,209.12 139.297318,207.196019 142.356,203.348 C144.872013,200.190651 146.13,196.441355 146.13,192.1 Z M111.72,166.2 L128,166.2 C135.449371,166.2 141.393978,167.827984 145.834,171.084 C149.040683,173.452012 151.556658,176.485982 153.382,180.186 C155.207342,183.886019 156.12,187.857312 156.12,192.1 C156.12,196.342688 155.207342,200.313982 153.382,204.014 C151.556658,207.714019 149.040683,210.747988 145.834,213.116 C141.393978,216.372016 135.449371,218 128,218 L111.72,218 L111.72,166.2 Z M166.924,218 L156.49,218 L178.69,166.2 L185.72,166.2 L207.92,218 L197.486,218 L192.602,206.53 L171.808,206.53 L166.924,218 Z M182.168,182.332 L175.582,197.65 L188.754,197.65 L182.168,182.332 Z M248.25,166.2 L230.49,194.542 L230.49,218 L220.5,218 L220.5,194.542 L202.74,166.2 L214.136,166.2 L225.532,184.404 L236.854,166.2 L248.25,166.2 Z" id="TODAY"></path>
                  <path class="only" d="M23.15,260.5 C23.15,266.50003 25.1299802,271.599979 29.09,275.8 C33.0500198,280.000021 37.9699706,282.1 43.85,282.1 C49.7300294,282.1 54.6499802,280.000021 58.61,275.8 C62.5700198,271.599979 64.55,266.50003 64.55,260.5 C64.55,254.49997 62.5700198,249.400021 58.61,245.2 C54.6499802,240.999979 49.7300294,238.9 43.85,238.9 C37.9699706,238.9 33.0500198,240.999979 29.09,245.2 C25.1299802,249.400021 23.15,254.49997 23.15,260.5 Z M11,260.5 C11,251.379954 14.0749692,243.700031 20.225,237.46 C26.3750307,231.219969 34.249952,228.1 43.85,228.1 C53.450048,228.1 61.3249692,231.219969 67.475,237.46 C73.6250307,243.700031 76.7,251.379954 76.7,260.5 C76.7,269.620046 73.6250307,277.299969 67.475,283.54 C61.3249692,289.780031 53.450048,292.9 43.85,292.9 C34.249952,292.9 26.3750307,289.780031 20.225,283.54 C14.0749692,277.299969 11,269.620046 11,260.5 Z M86.6,292 L86.6,229 L95.15,229 L130.25,270.04 L130.25,229 L142.4,229 L142.4,292 L133.85,292 L98.75,250.96 L98.75,292 L86.6,292 Z M156.8,292 L156.8,229 L168.95,229 L168.95,281.2 L195.5,281.2 L195.5,292 L156.8,292 Z M247.25,229 L225.65,263.47 L225.65,292 L213.5,292 L213.5,263.47 L191.9,229 L205.76,229 L219.62,251.14 L233.39,229 L247.25,229 Z" id="ONLY"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>

        <div class="sm-hidden">
          <svg class="hero__text-free-shipping-svg" viewBox="0 0 1018 235" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-Copy" transform="translate(-292.000000, -190.000000)" fill="#FFFFFF">
                <g id="Free-Shipping" transform="translate(281.000000, 155.000000)">
                  <g id="LINE-1">
                    <path class="free" d="M72,54.48 L30.96,54.48 L30.96,75.36 L61.92,75.36 L61.92,92.64 L30.96,92.64 L30.96,138 L11.52,138 L11.52,37.2 L72,37.2 L72,54.48 Z M112.896,93.36 L105.84,93.36 L105.84,138 L86.4,138 L86.4,37.2 L123.12,37.2 C132.336046,37.2 139.679973,39.695975 145.152,44.688 C151.10403,50.3520283 154.08,57.2159597 154.08,65.28 C154.08,73.3440403 151.10403,80.2079717 145.152,85.872 C142.271986,88.5600134 138.912019,90.5279938 135.072,91.776 L172.8,138 L148.752,138 L112.896,93.36 Z M105.84,76.08 L121.968,76.08 C126.672024,76.08 129.935991,75.0720101 131.76,73.056 C133.68001,70.9439894 134.64,68.4000149 134.64,65.424 C134.64,62.3519846 133.68001,59.7600106 131.76,57.648 C129.83999,55.5359894 126.576023,54.48 121.968,54.48 L105.84,54.48 L105.84,76.08 Z M243.36,54.48 L202.32,54.48 L202.32,75.36 L233.28,75.36 L233.28,92.64 L202.32,92.64 L202.32,120.72 L244.8,120.72 L244.8,138 L182.88,138 L182.88,37.2 L243.36,37.2 L243.36,54.48 Z M322.56,54.48 L281.52,54.48 L281.52,75.36 L312.48,75.36 L312.48,92.64 L281.52,92.64 L281.52,120.72 L324,120.72 L324,138 L262.08,138 L262.08,37.2 L322.56,37.2 L322.56,54.48 Z" id="FREE"></path>
                    <path class="shipping" d="M371.44,124.32 L384.112,111.072 C390.832034,118.464037 398.751954,122.16 407.872,122.16 C412.192022,122.16 415.719986,120.960012 418.456,118.56 C421.192014,116.159988 422.56,113.136018 422.56,109.488 C422.56,105.647981 421.024015,102.552012 417.952,100.2 C414.879985,97.8479882 410.200031,95.472012 403.912,93.072 C397.623969,90.671988 393.088014,88.6560082 390.304,87.024 C380.799952,81.4559722 376.048,73.8240485 376.048,64.128 C376.048,55.5839573 379.359967,48.7200259 385.984,43.536 C392.608033,38.3519741 400.383955,35.76 409.312,35.76 C420.256055,35.76 429.999957,38.9279683 438.544,45.264 L428.464,59.664 C423.663976,55.2479779 417.856034,53.04 411.04,53.04 C406.911979,53.04 403.288016,53.9519909 400.168,55.776 C397.047984,57.6000091 395.488,60.3359818 395.488,63.984 C395.488,66.8640144 397.095984,69.3839892 400.312,71.544 C403.528016,73.7040108 407.391977,75.6239916 411.904,77.304 C416.416023,78.9840084 420.951977,80.927989 425.512,83.136 C430.072023,85.344011 433.959984,88.6559779 437.176,93.072 C440.392016,97.4880221 442,102.863968 442,109.2 C442,117.936044 438.640034,125.159971 431.92,130.872 C425.199966,136.584029 417.184047,139.44 407.872,139.44 C394.623934,139.44 382.480055,134.40005 371.44,124.32 Z M528.4,138 L528.4,92.64 L478,92.64 L478,138 L458.56,138 L458.56,37.2 L478,37.2 L478,75.36 L528.4,75.36 L528.4,37.2 L547.84,37.2 L547.84,138 L528.4,138 Z M570.88,138 L570.88,37.2 L590.32,37.2 L590.32,138 L570.88,138 Z M651.232,96.96 L632.8,96.96 L632.8,138 L613.36,138 L613.36,37.2 L651.232,37.2 C662.944059,37.2 671.679971,40.2239698 677.44,46.272 C682.720026,51.7440274 685.36,58.7039578 685.36,67.152 C685.36,75.6000422 682.720026,82.5599726 677.44,88.032 C671.775972,93.9840298 663.040059,96.96 651.232,96.96 Z M632.8,79.68 L650.368,79.68 C656.032028,79.68 660.111988,78.3360134 662.608,75.648 C664.816011,73.247988 665.92,70.4160163 665.92,67.152 C665.92,63.7919832 664.816011,60.912012 662.608,58.512 C660.111988,55.8239866 656.032028,54.48 650.368,54.48 L632.8,54.48 L632.8,79.68 Z M736.912,96.96 L718.48,96.96 L718.48,138 L699.04,138 L699.04,37.2 L736.912,37.2 C748.624059,37.2 757.359971,40.2239698 763.12,46.272 C768.400026,51.7440274 771.04,58.7039578 771.04,67.152 C771.04,75.6000422 768.400026,82.5599726 763.12,88.032 C757.455972,93.9840298 748.720059,96.96 736.912,96.96 Z M718.48,79.68 L736.048,79.68 C741.712028,79.68 745.791988,78.3360134 748.288,75.648 C750.496011,73.247988 751.6,70.4160163 751.6,67.152 C751.6,63.7919832 750.496011,60.912012 748.288,58.512 C745.791988,55.8239866 741.712028,54.48 736.048,54.48 L718.48,54.48 L718.48,79.68 Z M785.44,138 L785.44,37.2 L804.88,37.2 L804.88,138 L785.44,138 Z M827.92,138 L827.92,37.2 L841.6,37.2 L897.76,102.864 L897.76,37.2 L917.2,37.2 L917.2,138 L903.52,138 L847.36,72.336 L847.36,138 L827.92,138 Z M986.032,53.04 C976.527952,53.04 968.560032,56.3999664 962.128,63.12 C955.695968,69.8400336 952.48,77.999952 952.48,87.6 C952.48,97.392049 955.791967,105.599967 962.416,112.224 C969.040033,118.848033 977.199952,122.16 986.896,122.16 C995.344042,122.16 1002.83197,119.568026 1009.36,114.384 L1009.36,92.64 L983.44,92.64 L983.44,75.36 L1028.8,75.36 L1028.8,120.144 C1024.19198,126.000029 1018.21604,130.679982 1010.872,134.184 C1003.52796,137.688018 995.392045,139.44 986.464,139.44 C970.911922,139.44 958.12005,134.47205 948.088,124.536 C938.05595,114.59995 933.04,102.288073 933.04,87.6 C933.04,72.9119266 938.03195,60.6000497 948.016,50.664 C958.00005,40.7279503 970.719923,35.76 986.176,35.76 C1000.86407,35.76 1013.15195,40.559952 1023.04,50.16 L1010.512,63.408 C1003.59997,56.4959654 995.440047,53.04 986.032,53.04 Z" id="SHIPPING"></path>
                  </g>
                  <g id="LINE-2" transform="translate(72.000000, 130.000000)">
                    <path class="today" d="M3.6,37.2 L76.32,37.2 L76.32,54.48 L49.68,54.48 L49.68,138 L30.24,138 L30.24,54.48 L3.6,54.48 L3.6,37.2 Z M101.52,87.6 C101.52,97.200048 104.687968,105.359966 111.024,112.08 C117.360032,118.800034 125.231953,122.16 134.64,122.16 C144.048047,122.16 151.919968,118.800034 158.256,112.08 C164.592032,105.359966 167.76,97.200048 167.76,87.6 C167.76,77.999952 164.592032,69.8400336 158.256,63.12 C151.919968,56.3999664 144.048047,53.04 134.64,53.04 C125.231953,53.04 117.360032,56.3999664 111.024,63.12 C104.687968,69.8400336 101.52,77.999952 101.52,87.6 Z M82.08,87.6 C82.08,73.007927 86.9999508,60.7200499 96.84,50.736 C106.680049,40.7519501 119.279923,35.76 134.64,35.76 C150.000077,35.76 162.599951,40.7519501 172.44,50.736 C182.280049,60.7200499 187.2,73.007927 187.2,87.6 C187.2,102.192073 182.280049,114.47995 172.44,124.464 C162.599951,134.44805 150.000077,139.44 134.64,139.44 C119.279923,139.44 106.680049,134.44805 96.84,124.464 C86.9999508,114.47995 82.08,102.192073 82.08,87.6 Z M270,87.6 C270,79.1519578 267.552024,71.8560307 262.656,65.712 C256.70397,58.2239626 248.112056,54.48 236.88,54.48 L222.48,54.48 L222.48,120.72 L236.88,120.72 C248.112056,120.72 256.70397,116.976037 262.656,109.488 C267.552024,103.343969 270,96.0480422 270,87.6 Z M203.04,37.2 L234.72,37.2 C249.216072,37.2 260.783957,40.3679683 269.424,46.704 C275.664031,51.312023 280.559982,57.215964 284.112,64.416 C287.664018,71.616036 289.44,79.3439587 289.44,87.6 C289.44,95.8560413 287.664018,103.583964 284.112,110.784 C280.559982,117.984036 275.664031,123.887977 269.424,128.496 C260.783957,134.832032 249.216072,138 234.72,138 L203.04,138 L203.04,37.2 Z M310.464,138 L290.16,138 L333.36,37.2 L347.04,37.2 L390.24,138 L369.936,138 L360.432,115.68 L319.968,115.68 L310.464,138 Z M340.128,68.592 L327.312,98.4 L352.944,98.4 L340.128,68.592 Z M468.72,37.2 L434.16,92.352 L434.16,138 L414.72,138 L414.72,92.352 L380.16,37.2 L402.336,37.2 L424.512,72.624 L446.544,37.2 L468.72,37.2 Z" id="TODAY"></path>
                    <path class="only" d="M533.76,87.6 C533.76,97.200048 536.927968,105.359966 543.264,112.08 C549.600032,118.800034 557.471953,122.16 566.88,122.16 C576.288047,122.16 584.159968,118.800034 590.496,112.08 C596.832032,105.359966 600,97.200048 600,87.6 C600,77.999952 596.832032,69.8400336 590.496,63.12 C584.159968,56.3999664 576.288047,53.04 566.88,53.04 C557.471953,53.04 549.600032,56.3999664 543.264,63.12 C536.927968,69.8400336 533.76,77.999952 533.76,87.6 Z M514.32,87.6 C514.32,73.007927 519.239951,60.7200499 529.08,50.736 C538.920049,40.7519501 551.519923,35.76 566.88,35.76 C582.240077,35.76 594.839951,40.7519501 604.68,50.736 C614.520049,60.7200499 619.44,73.007927 619.44,87.6 C619.44,102.192073 614.520049,114.47995 604.68,124.464 C594.839951,134.44805 582.240077,139.44 566.88,139.44 C551.519923,139.44 538.920049,134.44805 529.08,124.464 C519.239951,114.47995 514.32,102.192073 514.32,87.6 Z M635.28,138 L635.28,37.2 L648.96,37.2 L705.12,102.864 L705.12,37.2 L724.56,37.2 L724.56,138 L710.88,138 L654.72,72.336 L654.72,138 L635.28,138 Z M747.6,138 L747.6,37.2 L767.04,37.2 L767.04,120.72 L809.52,120.72 L809.52,138 L747.6,138 Z M892.32,37.2 L857.76,92.352 L857.76,138 L838.32,138 L838.32,92.352 L803.76,37.2 L825.936,37.2 L848.112,72.624 L870.144,37.2 L892.32,37.2 Z" id="ONLY"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <div class="hero__text-online-orders">
        <svg class="hero__text-online-orders-svg" viewBox="0 0 338 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-Copy" transform="translate(-631.000000, -468.000000)" fill="#000000">
              <path d="M631.916,485.54 C631.916,480.5 635.66,476.72 640.664,476.72 C645.668,476.72 649.412,480.5 649.412,485.54 C649.412,490.58 645.668,494.36 640.664,494.36 C635.66,494.36 631.916,490.58 631.916,485.54 Z M635.336,485.54 C635.336,488.636 637.532,491.12 640.664,491.12 C643.796,491.12 645.992,488.636 645.992,485.54 C645.992,482.444 643.796,479.96 640.664,479.96 C637.532,479.96 635.336,482.444 635.336,485.54 Z M657.404,477.08 L654.092,477.08 L654.092,494 L657.512,494 L657.512,482.372 C658.52,481.148 660.14,479.96 662.372,479.96 C663.776,479.96 665.072,480.608 665.864,481.616 C666.476,482.372 666.872,483.38 666.872,485.54 L666.872,494 L670.292,494 L670.292,485.72 C670.292,482.804 669.716,481.076 668.636,479.708 C667.196,477.872 664.964,476.72 662.48,476.72 C660.032,476.72 658.304,477.836 657.404,478.7 L657.404,477.08 Z M698.12,494 L698.12,492.452 C696.752,493.676 694.916,494.36 692.9,494.36 C691.388,494.36 689.804,493.928 688.652,493.244 C686.096,491.732 684.332,488.924 684.332,485.54 C684.332,482.156 686.132,479.312 688.688,477.8 C689.84,477.116 691.244,476.72 692.828,476.72 C694.736,476.72 696.572,477.296 698.12,478.628 L698.12,477.08 L701.432,477.08 L701.432,494 L698.12,494 Z M698.012,488.708 L698.012,482.372 C696.968,481.004 695.24,479.96 693.188,479.96 C689.912,479.96 687.752,482.588 687.752,485.54 C687.752,488.564 690.092,491.12 693.368,491.12 C695.096,491.12 696.86,490.256 698.012,488.708 Z M707.552,494 L710.972,494 L710.972,468.44 L707.552,468.44 L707.552,494 Z M717.092,494 L720.512,494 L720.512,468.44 L717.092,468.44 L717.092,494 Z M734.912,485.54 C734.912,480.5 738.656,476.72 743.66,476.72 C748.664,476.72 752.408,480.5 752.408,485.54 C752.408,490.58 748.664,494.36 743.66,494.36 C738.656,494.36 734.912,490.58 734.912,485.54 Z M738.332,485.54 C738.332,488.636 740.528,491.12 743.66,491.12 C746.792,491.12 748.988,488.636 748.988,485.54 C748.988,482.444 746.792,479.96 743.66,479.96 C740.528,479.96 738.332,482.444 738.332,485.54 Z M760.4,477.08 L757.088,477.08 L757.088,494 L760.508,494 L760.508,482.372 C761.516,481.148 763.136,479.96 765.368,479.96 C766.772,479.96 768.068,480.608 768.86,481.616 C769.472,482.372 769.868,483.38 769.868,485.54 L769.868,494 L773.288,494 L773.288,485.72 C773.288,482.804 772.712,481.076 771.632,479.708 C770.192,477.872 767.96,476.72 765.476,476.72 C763.028,476.72 761.3,477.836 760.4,478.7 L760.4,477.08 Z M779.048,494 L782.468,494 L782.468,468.44 L779.048,468.44 L779.048,494 Z M788.588,494 L792.008,494 L792.008,477.08 L788.588,477.08 L788.588,494 Z M788.048,471.068 C788.048,472.328 789.02,473.3 790.28,473.3 C791.54,473.3 792.548,472.328 792.548,471.068 C792.548,469.808 791.54,468.8 790.28,468.8 C789.02,468.8 788.048,469.808 788.048,471.068 Z M801.44,477.08 L798.128,477.08 L798.128,494 L801.548,494 L801.548,482.372 C802.556,481.148 804.176,479.96 806.408,479.96 C807.812,479.96 809.108,480.608 809.9,481.616 C810.512,482.372 810.908,483.38 810.908,485.54 L810.908,494 L814.328,494 L814.328,485.72 C814.328,482.804 813.752,481.076 812.672,479.708 C811.232,477.872 809,476.72 806.516,476.72 C804.068,476.72 802.34,477.836 801.44,478.7 L801.44,477.08 Z M834.992,486.26 L821.96,486.26 C822.14,489.104 824.48,491.372 827.432,491.372 C829.952,491.372 831.32,490.148 832.292,489.068 L834.524,491.192 C833.264,492.812 830.852,494.36 827.396,494.36 C822.464,494.36 818.648,490.616 818.648,485.54 C818.648,480.464 822.104,476.72 826.892,476.72 C831.608,476.72 835.028,480.536 835.028,485.54 C835.028,485.684 835.028,485.936 834.992,486.26 Z M827,479.708 C824.804,479.708 822.824,481.184 822.248,483.38 L831.464,483.38 C830.96,481.22 829.016,479.708 827,479.708 Z M847.988,485.54 C847.988,480.5 851.732,476.72 856.736,476.72 C861.74,476.72 865.484,480.5 865.484,485.54 C865.484,490.58 861.74,494.36 856.736,494.36 C851.732,494.36 847.988,490.58 847.988,485.54 Z M851.408,485.54 C851.408,488.636 853.604,491.12 856.736,491.12 C859.868,491.12 862.064,488.636 862.064,485.54 C862.064,482.444 859.868,479.96 856.736,479.96 C853.604,479.96 851.408,482.444 851.408,485.54 Z M879.884,476.828 C879.488,476.756 878.912,476.72 878.552,476.72 C876.068,476.72 874.304,477.872 873.476,479.024 L873.476,477.08 L870.164,477.08 L870.164,494 L873.584,494 L873.584,482.804 C874.52,481.184 876.392,479.96 878.156,479.96 C878.696,479.96 879.092,479.996 879.488,480.104 L879.884,476.828 Z M895.652,494 L895.652,492.452 C894.284,493.676 892.448,494.36 890.432,494.36 C888.92,494.36 887.336,493.928 886.184,493.244 C883.628,491.732 881.864,488.924 881.864,485.54 C881.864,482.156 883.664,479.312 886.22,477.8 C887.372,477.116 888.776,476.72 890.36,476.72 C892.196,476.72 894.032,477.296 895.544,478.556 L895.544,468.44 L898.964,468.44 L898.964,494 L895.652,494 Z M895.544,488.708 L895.544,482.372 C894.5,481.004 892.772,479.96 890.72,479.96 C887.444,479.96 885.284,482.588 885.284,485.54 C885.284,488.564 887.624,491.12 890.9,491.12 C892.628,491.12 894.392,490.256 895.544,488.708 Z M919.988,486.26 L906.956,486.26 C907.136,489.104 909.476,491.372 912.428,491.372 C914.948,491.372 916.316,490.148 917.288,489.068 L919.52,491.192 C918.26,492.812 915.848,494.36 912.392,494.36 C907.46,494.36 903.644,490.616 903.644,485.54 C903.644,480.464 907.1,476.72 911.888,476.72 C916.604,476.72 920.024,480.536 920.024,485.54 C920.024,485.684 920.024,485.936 919.988,486.26 Z M911.996,479.708 C909.8,479.708 907.82,481.184 907.244,483.38 L916.46,483.38 C915.956,481.22 914.012,479.708 911.996,479.708 Z M934.424,476.828 C934.028,476.756 933.452,476.72 933.092,476.72 C930.608,476.72 928.844,477.872 928.016,479.024 L928.016,477.08 L924.704,477.08 L924.704,494 L928.124,494 L928.124,482.804 C929.06,481.184 930.932,479.96 932.696,479.96 C933.236,479.96 933.632,479.996 934.028,480.104 L934.424,476.828 Z M936.764,492.02 C938.636,493.532 940.904,494.36 943.604,494.36 C946.916,494.36 949.904,492.38 949.904,489.176 C949.904,485.684 946.412,484.496 943.748,483.812 C942.056,483.38 940.724,482.984 940.724,481.832 C940.724,480.5 942.128,479.708 943.784,479.708 C945.152,479.708 946.376,480.248 947.42,481.04 L949.184,478.592 C947.852,477.512 946.052,476.72 943.568,476.72 C940.544,476.72 937.304,478.376 937.304,482.012 C937.304,484.388 939.14,485.684 941.192,486.368 C943.676,487.196 946.484,487.304 946.484,489.248 C946.484,490.58 945.008,491.372 943.532,491.372 C941.84,491.372 940.112,490.724 938.528,489.5 L936.764,492.02 Z M953.144,475.352 L958.4,477.044 L955.16,481.544 L957.464,483.2 L960.704,478.7 L963.98,483.2 L966.284,481.508 L963.008,477.044 L968.3,475.316 L967.4,472.58 L962.144,474.308 L962.144,468.8 L959.264,468.8 L959.264,474.344 L954.008,472.652 L953.144,475.352 Z" id="on-all-online-orders"></path>
            </g>
          </g>
        </svg>
      </div>
    </a>

    <div class="hero-links__flex">
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/wedding-dresses/all-wedding-dresses">Wedding Dresses</a>
        </div>
      </div>
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/bridesmaid-dresses/all-bridesmaid-dresses">Bridesmaid Dresses</a>
        </div>
      </div>
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses">Mother of the Bride</a>
        </div>
      </div>
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/prom-dresses/all-prom-dresses">Prom</a>
        </div>
      </div>
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/accessories/all-accessories">Accessories</a>
        </div>
      </div>
      <div class="column">
        <div class="column__flex">
          <a class="sans-bold-uppercase" href="/shoes/all-shoes">Shoes</a>
        </div>
      </div>
    </div>

  </div>
</section>

<p class="hero__disclaimer">
  *See <a href="/Content_BuyOnline_offers#oo">Details</a>
</p>
