<link rel="stylesheet" href="/css/espots/homepage/redesign/hero-redesign-april-grid.css">




<section class="hero" data-analytics-tagging="Hero">
  <div class="hero__grid">

    <!-- Image A -->
    <div class="hero__grid--item image-a">
      <figure class="md-hidden lg-hidden">
        <a href="#">
          <img src="http://placehold.it/767x1006&text=MOBILE+A" alt="">
        </a>
      </figure>
      <figure class="sm-hidden">
        <a href="#">
          <img src="http://placehold.it/583x760&text=DESKTOP+A" alt="">
        </a>
      </figure>
    </div>

    <!-- Image B -->
    <div class="hero__grid--item image-b">
      <figure class="md-hidden lg-hidden">
        <a href="#">
          <img src="http://placehold.it/767x693&text=MOBILE+B" alt="">
        </a>
      </figure>
      <figure class="sm-hidden">
        <a href="#">
          <img src="http://placehold.it/583x375&text=DESKTOP+B" alt="">
        </a>
      </figure>
    </div>

    <!-- Image C -->
    <div class="hero__grid--item image-c">
      <figure class="md-hidden lg-hidden">
        <a href="#">
          <img src="http://placehold.it/767x693&text=MOBILE+C" alt="">
        </a>
      </figure>
      <figure class="sm-hidden">
        <a href="#">
          <img src="http://placehold.it/414x375&text=DESKTOP+C" alt="">
        </a>
      </figure>
    </div>

    <!-- Image D -->
    <div class="hero__grid--item image-d">
      <figure class="md-hidden lg-hidden">
        <a href="#">
          <img src="http://placehold.it/767x693&text=MOBILE+D" alt="">
        </a>
      </figure>
      <figure class="sm-hidden">
        <a href="#">
          <img src="http://placehold.it/1007x375&text=DESKTOP+D" alt="">
        </a>
      </figure>
    </div>

  </div>
</section>
