<link rel="stylesheet" href="/css/espots/homepage/redesign/hero-redesign-april.css">


<section class="hero" data-analytics-tagging="Hero">

  <div class="flex__container">

    <!-- Image A / Main Hero -->
    <section class="flex__column">
      <div class="flex__item">
        <figure class="md-hidden lg-hidden">
          <img src="http://placehold.it/767x1006&text=MOBILE+A" alt="">
        </figure>
        <figure class="sm-hidden">
          <img src="http://placehold.it/583x760&text=DESKTOP+A" alt="">
        </figure>
      </div>
    </section>

    <!-- Image B/C -->
    <section class="flex__column">
      <div class="flex__inner">

        <div class="flex__item">
          <figure class="md-hidden lg-hidden">
            <img src="http://placehold.it/767x693&text=MOBILE+B" alt="">
          </figure>
          <figure class="sm-hidden">
            <img src="http://placehold.it/583x375&text=DESKTOP+B" alt="">
          </figure>
        </div>

        <div class="flex__item">
          <figure class="md-hidden lg-hidden">
            <img src="http://placehold.it/767x693&text=MOBILE+C" alt="">
          </figure>
          <figure class="sm-hidden">
            <img src="http://placehold.it/414x375&text=DESKTOP+C" alt="">
          </figure>
        </div>
      </div>
    </section>

    <!-- Image D -->
    <section class="flex__column">
      <div class="flex__item">
        <figure class="md-hidden lg-hidden">
          <img src="http://placehold.it/767x693&text=MOBILE+D" alt="">
        </figure>
        <figure class="sm-hidden">
          <img src="http://placehold.it/1007x375&text=DESKTOP+D" alt="">
        </figure>
      </div>
    </section>

  </div>

</section>
