.accordion {
  background-color: $white;
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;


  &__items {
    padding: 0;
  }


  // ----------------------------------------------------------------
  // Header
  // ----------------------------------------------------------------
  &__header {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: nowrap;              // default: nowrap
    justify-content: space-between; // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch
    width: 100%;
    cursor: pointer;

    h3 {
      width: 80%;
    }

    &-action {
      width: 20%;

      &.relative {
        position: relative;
      }

      &-plus,
      &-minus {
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
      & svg {
        width: 13px;
        height: 13px;
      }
    }
  } // .accordion__header



  // ----------------------------------------------------------------
  // Item
  // ----------------------------------------------------------------
  &__item {
    padding: 15px 20px;
    border-top: 1px solid #eaeaea;
    &:last-child {
      border-bottom: 1px solid #eaeaea;
    }

    &.pink {
      background-color: $pink;
    }
    &.cream {
      background-color: $cream;
    }
  }



  // ----------------------------------------------------------------
  // Content
  // ----------------------------------------------------------------
  &__content {
    display: none;
    padding-bottom: 10px;

    .share-results {

      &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: stretch;
        padding: 0;
        margin-top: 15px;
        margin-bottom: -10px;

        p.sans-bold-uppercase {
          margin-top: 2px;
        }
      }

      &-gigya {
        padding-left: 0;
        & a {
          cursor: pointer;
        }
      }
    }
  }


} // .accordion




[data-nav-open="false"] > .accordion__header .accordion__header-action .accordion__header-action-plus {
display: block; }

[data-nav-open="false"] > .accordion__header .accordion__header-action .accordion__header-action-minus {
display: none; }

[data-nav-open="true"] > .accordion__header .accordion__header-action .accordion__header-action-plus {
display: none; }

[data-nav-open="true"] > .accordion__header .accordion__header-action .accordion__header-action-minus {
display: block; }
