// ========================================================
// INFOGRAPHIC
// ========================================================
.infographic {
  background: $pink;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 20px 15px;
  margin-bottom: 5px;
  @media screen and (min-width: $breakpoint-md) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 30px 20px 40px;
  }


  // --------------------------------------------------------
  // Table
  // --------------------------------------------------------
  &__table {
    //@include red-bg();
    display: flex;
    width: 66.66667%;
    height: 400px;
    padding-top: 5px;
    padding-right: 10px;
    @media screen and (min-width: $breakpoint-md) {
      width: 100%;
      height: auto;
      padding: 0;
      flex-direction: column-reverse;
      margin-top: -10px;
    }


    &-column {
      //@include green-bg();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 50%;
      height: 100%;
      &:first-child {
        width: 70%;
      }
      &:last-child {
        width: 30%;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }


      &-item {
        display: block;
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
        &:first-child {
          height: 40%;
        }
        &:last-child {
          height: 60%;
        }
        @media screen and (min-width: $breakpoint-md) {
          height: auto;
          padding: 5px;
          &:first-child {
            height: auto;
          }
          &:last-child {
            height: auto;
          }
        }

        &.white {
          background: $white;
          border: 1px solid $black;
        }
        &.cream {
          background: $cream;
          border: 1px solid $black;
          border-top: none;
          @media screen and (min-width: $breakpoint-md) {
            border: 1px solid $black;
            border-left: none;
          }
        }

        &.pink1 {
          border-top: 1px solid $black;
          border-bottom: 1px solid $black;
          @media screen and (min-width: $breakpoint-md) {
            border: none;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            padding-top: 10px;
          }
        }
        &.pink2 {
          border-bottom: 1px solid $black;
          @media screen and (min-width: $breakpoint-md) {
            border: none;
            border-left: none;
            border-right: 1px solid $black;
          }
        }


        p {
          display: block;
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          @media screen and (min-width: $breakpoint-md) {
            position: relative;
            top: initial;
            transform: initial;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      } // .infographic__table-column
    } // .infographic__table-column


  } // .infographic__table





  // --------------------------------------------------------
  // Icons
  // --------------------------------------------------------
  &__icons {
    //@include green-bg();
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    height: 400px;

    @media screen and (min-width: $breakpoint-md) {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
    }



    &-column {
      //@include blue-bg();
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      height: 33.33333%;
      &:not(:last-child) {
        height: 66.66667%;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: 140px;
        height: auto;

        &:nth-child(1) {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
        }
      }

      // SVG
      &-svg {
        //@include red-bg();
        display: block;
        width: 100%;
        svg {
          height: 40px;
        }
      }

      // Text
      &-text {
        //@include red-bg();
        display: block;
        width: 100%;
        margin-top: 5px;
      }





    }

  } // .infographic__icons





} // .infographic
