.content-page {

  h3.serif-s-italic {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .text {
    p.sans-m {
      margin-bottom: 20px;
    }
  }

  .processing-time {
    //@include green-bg();
    display: block;
    position: relative;
    clear: both;
    padding-bottom: 10px;
  }
}




// --------------------------------------------------------
// Icons
// --------------------------------------------------------
.svg {

  &-shopping-bag {
    fill: $brand-primary;
    width: 32px;
  }

  &-truck {
    width: 54px;
  }


  &-door {
    width: 22px;
  }
}
