// ========================================================
// TABLES
// ========================================================
.shipping-table {
  margin-bottom: 20px;

  thead,
  tbody {
    border: 1px solid $black;
    text-align: left;
    font-size: 13px;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  thead {
    background: #f93777;
    color: $white;
    tr {
      th,
      td {
        padding: 10px 20px;
        span {
          letter-spacing: 0.055em;
        }        
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        padding: 20px 30px 20px 20px;
        border-bottom: 1px solid $black;
        &:not(:last-child) {
          border-right: 1px solid $black;
        }
        &.cream {
          background: $cream;
        }
      }
    }
  }


  caption {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }


} // .shipping-table
