// ==========================================================================
// Hero Banner
// ==========================================================================
$appointment-break: 1100px;

.appointment-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  clear: both;
  text-align: center;
  padding: 20px;
  @media screen and (min-width: $appointment-break) {
    padding: 15px 0;
  }

  .sans-bold-uppercase a {
    color: #fff !important;
    &:hover,
    &:active {
      color: #c1c1c1 !important;
    }
  }

  p {
    display: block;
    margin: 10px 0;
    @media screen and (min-width: $appointment-break) {
      display: inline;
      margin: 0 20px;
    }
  }

  // White Text
  p {
    color: #fff;
  }

  // Spacing
  p:first-of-type {
    margin-bottom: 4px;
    width: 100%;
    @media screen and (min-width: $appointment-break) {
      margin-bottom: 0;
      width: auto;
    }
  }
  p:nth-of-type(2) {
    margin-bottom: 8px;
    @media screen and (min-width: $appointment-break) {
      margin-bottom: 0;
    }
  }
  .sans-bold-uppercase {
    width: 100%;
    @media screen and (min-width: $appointment-break) {
      width: auto;
    }
  }
  p.btn-secondary a {
    min-width: 240px;
    font-size: 11px;
    letter-spacing: 0.055em;
    padding-top: 11px;
    padding-bottom: 11px;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 12px;
    }
  }

}
