.few-favorites {
  background: rgba(51, 51, 51, 1);
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 10px;

  &__inner {
    display: block;
    max-width: 1420px;
    margin: 0 auto;
  }

  &__heading {
    padding: 0;
    h3 {
      color: #fff;
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 33.33333%;
      }
      @media screen and (min-width: 1024px) {
        width: 16.66667%;
      }
    }
  }
}
