.flex-1-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  .column {
    display: block;
    &:first-child {
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.3333%;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 50%;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.3333%;
      }
    }

  }

}
