// ==========================================================================
// Hero Image and Caption
// ==========================================================================
.hero {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;

  .breadcrumbs {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 1262px;
    @media screen and (min-width: 1262px) {
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      color: #fff;
      &:hover {
        color: #c1c1c1;
      }
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    .column {
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        &:first-child {
          width: 33.33333%;
        }
        &:last-child {
          width: 66.66667%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: stretch;
          justify-content: center;
        }
      }
    }
  }



  &__logo {
    display: block;
    text-align: center;
    margin-left: -50px;
    margin-right: -50px;
    @media screen and (min-width: $breakpoint-md) {
      align-self: flex-end;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      //max-width: 340px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 100%;
        //width: 60%;
      }
    }
  }

  &__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    //padding-top: 25px;
    height: 0;
    @media screen and (min-width: $breakpoint-md) {
      align-self: flex-end;
      padding-bottom: 63.28125%;
    }
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

} // .hero
