.our-db-brides {
  background: rgba(85, 85, 85, 1);
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 10px 30px;
  @media screen and (min-width: $breakpoint-md) {
    padding: 30px 10px 50px;
  }

  &__inner {
    max-width: 1262px;
    margin: 0 auto;
  }

  &__heading {
    padding-left: 0;
    h3,
    p {
      display: inline-block;
      margin-bottom: 10px;
      color: #fff;
    }
    &-main {
      margin-right: 10px;
    }
    .sans-bold-uppercase a {
      color: #fff !important;
      &:hover {
        color: #c1c1c1 !important;
      }
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 100%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 33.33333%;
      }
    }
  }

}
