.quote-video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  max-width: 1600px;
  margin: 0 auto;

  .column {
    margin: 0;
    padding: 0;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }
  }


  &__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 98.7468671679%;
    }
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
