// ==========================================================================
// Section Heading
// ==========================================================================
.section-heading {
  display: block;
  position: relative;
  text-align: center;
  clear: both;
  padding: 20px 10px 0;

  @media screen and (min-width: $breakpoint-md) {

    padding: 50px 20px 40px;
  }

  img {
    width: auto;
    max-width: 100%;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    &:last-of-type {
      margin-top: 5px;
    }
  }

} // .section-heading
