.vera-wang {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  color: #fff;
  background: rgba(51, 51, 51, 1);


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }

  .column {
    display: block;
    width: 100%;
    @media screen and (min-width: $breakpoint-lg) {
      &:first-child {
        width: 33.33333%;
        align-self: center;
      }
      &:last-child {
        width: 66.66667%;
      }
    }
  }


  .img-round {
    border-radius: 50%;
  }


  &__about {
    display: block;
    position: relative;
    text-align: center;
    padding: 30px 10px;
    @media screen and (min-width: $breakpoint-lg) {
      padding: 15px 10px;
    }
    @media screen and (min-width: 1262px) {
      padding: 30px 10px;
    }
    img {
      max-width: 100%;
      width: auto;
    }
    &-portrait {
      margin-bottom: 30px;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
      @media screen and (min-width: 1262px) {
        max-width: 100%;
      }
    }
    &-logo {
      display: block;
      max-width: 240px;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 240px;
      }
      @media screen and (min-width: 1262px) {
        max-width: 300px;
      }
    }
  }



  &__text {
    display: block;
    position: relative;
    padding: 0 10px;
    @media screen and (min-width: $breakpoint-md) {
      text-align: center;
    }
    @media screen and (min-width: $breakpoint-lg) {
      text-align: left;
    }
    @media screen and (min-width: 1262px) {
      max-width: 405px;
      margin-left: auto;
      margin-right: auto;
    }
    p.sans-m {
      color: #fff;
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 12px;
      }
      @media screen and (min-width: 1262px) {
        font-size: 15px;
      }
    }

    p.sans-bold-uppercase a {
      color: #fff !important;
      &:hover {
        color: #c1c1c1 !important;
      }
    }

    .btn {
      width: 100%;
      margin-top: 10px;
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
      }
      &-secondary a {
        width: 100%;
        padding: 15px 50px;
        @media screen and (min-width: $breakpoint-md) {
          width: auto;
        }
      }
    }


    &-ctas {
      text-align: center;
      padding-top: 20px;
      @media screen and (min-width: $breakpoint-lg) {
        text-align: left;
      }
      .sans-bold-uppercase {
        display: block;
        margin-bottom: 20px;
      }
    }

  }



  .flex-split-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .col {
      width: 50%;
    }
  }




}
