// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  //@include red-bg();
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 10px 10px 0;
  @media screen and (min-width: ($container-max-width + 10px)) {
    padding: 10px 0 0;
  }

  p.sans-bold-uppercase {
    margin-top: 5px;
  }
}
