// ==========================================================================
// Flex-1-2
// ==========================================================================
.layout-1-2 {
  display: block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 30px;
    }

    &.cream-bg {
      background: $cream;
    }
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .item {
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }

    &__text {
      padding: 20px 10px;
      @media screen and (min-width: $breakpoint-md) {
        padding: 0 30px;
      }
    }
  }

}
