.page-heading,
.text,
.disclaimer,
.recommend-block {
  padding-left: 10px;
  padding-right: 10px;
}

section.text {
  margin-top: 10px;

  .btn {
    &-secondary {
      display: block;
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 300px;
      }
      a {
        display: block;
        width: 100%;
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
  }

}

section.disclaimer {
  margin-top: 30px;
  p {
    color: $taupe;
  }
}
