// ========================================================
// REAL BRIDES UGC
// ========================================================
.real-brides {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px;
  background: #f8f6f0;
  max-width: 100%;
  margin: 30px auto 0;
  @media screen and (min-width: 768px) {
    padding: 30px 20px;
  }
  @media screen and (min-width: 1262px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__inner {
    max-width: 1262px;
    margin: 0 auto;

    p {
      &.serif-l-italic {
        font-size: 22px;
        text-align: center;
        margin-bottom: 14px;
        @media screen and (min-width: 768px) {
          font-size: 28px;
        }
      }
    }
  }


  &__imgs {
    display: flex;
    position: relative;
    clear: both;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (min-width: $breakpoint-lg) {
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-left: -10px;
      margin-right: -10px;
    }

    .column {
      width: 50%;
      padding: 5px;
      position: relative;
      // @media screen and (min-width: 500px) {
      //   width: 25%;
      //   padding: 5px;
      // }
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33333%;
        padding: 10px;
      }
    }

    figcaption {
      display: block;
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;
      padding: 5px;
      background: rgba(248, 246, 240, 0.8);
      font-size: 11px;
      @media screen and (min-width: $breakpoint-md) {
        bottom: 10px;
        left: 10px;
        right: 10px;
      }
    }
  }


  &__text {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    margin: 0 auto;


    p {
      &.sans-m {
        max-width: 220px;
        padding: 10px 0;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
          max-width: 100%;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (min-width: $breakpoint-md) {
        margin-top: -10px;
      }
      .column {
        width: 100%;
        padding: 5px;
        max-width: 300px;
        @media screen and (min-width: $breakpoint-md) {
          width: 280px;
          padding: 10px;
        }
      }
    }

  }


  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    margin-left: 0;
    &-pink {
      display: block;
      width: 100%;
      a {
        background: #f93777;
        color: #fff;
        padding: 11px 0;
        &:hover,
        &:focus,
        &:active {
          background: #f60756;
        }
      }
    }

    & + .btn {
      margin-left: 0;
      margin-top: 15px;
    }
  }


} // .real-brides
