<style media="screen">
.july-fourth {
  max-width: 1262px;
  margin: 10px auto;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  padding: 30px 0; }
  .july-fourth__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .july-fourth p {
    margin: 0; }
  .july-fourth .no-wrap {
    white-space: nowrap; }
</style>

<div class="july-fourth">
  <div class="july-fourth__inner">
    <div class="july-fourth__text">
      <p class="serif-l">4th of July hours for all US stores: <span class="no-wrap">12:00 pm - 6:00 pm</span></p>
    </div>
  </div>
</div>
