.july-fourth {
  max-width: 1262px;
  margin: 10px auto;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  padding: 30px 0;

  // &__inner {
  //   position: absolute;
  //   top: 8px;
  //   bottom: 8px;
  //   right: 8px;
  //   left: 8px;
  //   border: 1px solid #fff;
  //   padding: 20px 0;
  // }


  &__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 0;
  }

  .no-wrap {
    white-space: nowrap;
  }

}
