


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<link rel="stylesheet" href="/assets/css/build-your-bridal-party/styles.css">




<!-- BRIDESMAID MODULE TEMPLATE -->
<div class="bridesmaid-module-template" style="display:none !important;">
  <section class="bridesmaid" data-product-id="" data-style-number="">
    <header class="bridesmaid__header">
      <div class="bridesmaid__header-info">
        <div class="form-group">
          <label class="serif-l" for="name" title="Click to edit email address">Name:</label>
          <input class="sans-m" type="text" name="name" value="" placeholder="Enter Bridesmaid's Name" autocomplete="off">
          <span class="serif-l hidden" title="Click to edit name"></span>
        </div>
        <div class="form-group" style="display:none !important;">
          <label class="sans-bold-uppercase" for="email" title="Click to edit email address">Email:</label>
          <input class="sans-m" type="email" name="email" value="" placeholder="Enter Bridesmaid's Email" autocomplete="off">
          <span class="sans-bold-uppercase hidden" title="Click to edit email address"></span>
        </div>
      </div>
      
      <button class="bridesmaid__header-close" tabindex="0">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="19.3571429 2.28571429 17.4285714 0.357142857 9.71428571 8.07142857 2 0.357142857 0.285714286 2.28571429 8 10 0.285714286 17.7142857 2 19.6428571 9.71428571 11.7142857 17.4285714 19.6428571 19.3571429 17.7142857 11.6428571 10"></polygon>
        </svg>
      </button>
    </header>
    
    
    <div class="bridesmaid__columns">
      
      <!-- Product Image -->
      <div class="column product-image">
        <a class="product-image__link" href="#">
          <div class="primary-image">
            <img src="" alt="">
          </div>
          <div class="alt-image">
            <img src="" alt="">
          </div>
        </a>
      </div>
      
      <!-- Product Options -->
      <div class="column options">
        
        <!-- Length -->
        <section class="option">
          <div class="option-heading">
            <h3 class="option-heading__heading serif-s-italic">Length</h3>
          </div>
          <div class="option-body lengths flex">
            <!-- lengths dynamically inserted -->
          </div>
        </section>
        
        <!-- Neckline -->
        <section class="option">
          <div class="option-heading">
            <h3 class="option-heading__heading serif-s-italic">Neckline/Sleeves</h3>
          </div>
          <div class="option-body necklines flex">
            <!-- necklines dynamically inserted -->
          </div>
        </section>
        
        <!-- Color & Size -->
        <div class="split-2">
          <section class="option">
            <div class="option-heading">
              <h3 class="option-heading__heading serif-s-italic">Color</h3>
            </div>
            <div class="option-body">
              <select class="chosen color" name="color">
                <!-- colors dynamically inserted -->
          		</select>
            </div>
          </section>
          
          <section class="option">
            <div class="option-heading">
              <h3 class="option-heading__heading serif-s-italic">Size</h3>
            </div>
            <div class="option-body">
              <select class="chosen size" name="size">
                <!-- sizes dynamically inserted -->
          		</select>
            </div>
          </section>
        </div>
        
        
        <!-- Selections -->
        <section class="selections">
          <div class="column">
            <div class="dress-details">
              <p class="brand sans-xs"></p>
              <p class="title sans-xs"></p>
              <p class="style sans-xs"></p>
            </div>
          </div>
          <div class="column">
            <button class="shop-this-style btn btn-secondary-pink" type="button" name="button" wairole="button" role="button" title="SHOP THIS STYLE" style="cursor: pointer;">
              <span class="sans-bold-uppercase btn-link" aria-label="SHOP THIS STYLE">SHOP THIS STYLE</span>
            </button>
          </div>
        </section>
  
      </div>
    </div>
  </section>
</div>


<!-- BRIDAL PARTY TEMPLATE -->
<div class="bridal-party-template" style="display:none !important;">
  <div class="column">
    <div class="name">
      <p class="serif-s-italic"></p>
    </div>
    <a href="">
      <div class="image">
        <img src="" alt="">
      </div>
    </a>
    <a href="">
      <div class="dress-details">
        <p class="brand sans-xs"></p>
        <p class="title sans-xs"></p>
        <p class="style sans-xs"></p>
        <p class="color-size sans-xs"><span class="color"></span>, Size <span class="size"></span></p>
      </div>
    </a>
  </div>
</div>




<main role="main" class="content-page">
  
  <!-- Page Heading -->
  <section class="container page-heading">
    <div class="page-heading__text">
      <h1 class="serif-xl">Build Your Lace/Mesh Party</h1>
      <p class="sans-l">Pick a dress for each of your bridesmaids, see how the lineup looks, and easily email everyone the style details.</p>
    </div>
    
    <div class="article__share-bar">
      <p class="article__share-bar-title serif-s-italic">Share:</p>
      <ul class="article__share-bar-item-list" id="socialShareIcons">
        <!-- Gigya icons go here -->
      </ul>
    </div>
  </section>

  
  <!-- Add Bridesmaid Button -->
  <div class="add-bridesmaid">
    <button class="add-bridesmaid__button serif-l" type="button" name="addBridesmaid" tabindex="0">+ Add Another Bridesmaid</button>
  </div>
  
  
  <!-- Your Bridal Party -->
  <section class="bridal-party">
    <header class="bridal-party__header">
      <div class="bridal-party__header-info">
        <h3 class="serif-l">Your Bridal Party:</h3>
      </div>
      <div class="article__share-bar">
        <p class="article__share-bar-title serif-s-italic">Share with your party:</p>
        <ul class="article__share-bar-item-list" id="bridalPartyShareIcons">
          <!-- Gigya icons go here -->
          <li class="article__share-bar-item">
            <a id="emailShare" class="article__share-bar-item-link email" href="javascript:void">
              <svg class="article__share-bar-item-image" xmlns="http://www.w3.org/2000/svg" width="22px" height="18px" viewBox="-491 495 16.8 12" enable-background="new -491 495 16.8 12"><g fill="#333"><path d="m-482.5 503.9l-7.5-5.8v7.9c0 .6.6 1 .8 1h12.9c.3 0 .6-.1.8-.3.2-.2.4-.4.4-.7v-7.9l-7.4 5.8"></path><path d="m-475 496.5c0-.3-.1-.7-.3-.9-.2-.2-.4-.6-.7-.6h-13.1c-.3 0-.5.4-.7.6-.2.2-.3.5-.3.8l7.5 5.7 7.6-5.6"></path></g></svg>
            </a>
          </li>
        </ul>
      </div>
    </header>
    
    <div class="bridal-party__members">
      <!-- Bridesmaids dynamically inserted here -->
    </div>
  </section>
  
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script src="https://cdns.gigya.com/JS/gigya.js?apiKey=2_8MPxVvTo5jvagDj9VK-NSZKt2gBPaUYxs5okAKYBd-XCymVHC2Ofd-h5ktLWudz6"></script>
<script src="/assets/js/build-your-bridal-party/configuration.js"></script>
<script src="/assets/js/build-your-bridal-party/products.js"></script>
<script src="/assets/js/build-your-bridal-party/script.js"></script>