// ==========================================================================
// Appointment Banner - Pink
// ==========================================================================
.appointment-banner {
  max-width: 1262px;
  margin: 20px auto 30px;
  background-color: #ffbbb3;
  position: relative;
  text-align: center;
  height: 165px;
  @media screen and (min-width: 500px) {
    height: 135px;
  }
  @media screen and (min-width: $breakpoint-md) {
    height: 155px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    height: 120px;
  }


    // ----------------------------------------------------------------
  // Banner
  // ----------------------------------------------------------------
  &__inner {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
    left: 8px;
    border: 1px solid #fff;
    padding: 20px 0;
    @media screen and (min-width: 500px) {
      padding: 10px 0;
    }
    @media screen and (min-width: 500px) {
      padding: 15px 0;
    }
  }

  &__text {
    padding: 0;
  }

  &__headline {
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
    }
    & p {
      margin-bottom: 0;
    }
  }

  &__subheadline {
    display: block;
    padding: 8px 50px 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 8px 50px 8px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
      padding: 24px 20px 0;
    }
    & p {
      line-height: 20px !important;
      margin-bottom: 0;
    }
  }

  &__btn {
    display: block;
    margin: 0;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 10px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
    }
  }


  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    background-color: transparent;
  }

  .btn-secondary a {
    outline: none;
    color: #52535a;
    background-color: #ffffff;
    border: 1px solid #52535a;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 240px;
    margin: 0 auto;
  }

  .btn-secondary a:hover,
  .btn-secondary a:focus {
    background-color: #ffffff;
    border: 1px solid #e0e0e7;
    outline: none;
  }
}
