.logos {
  //@include red-bg();
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: center;    // default: flex-start
  align-items: center;           // default: stretch
  align-content: center;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 20px 0;
  text-align: center;

  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: wrap;
    padding: 20px 10px;
  }

  .column {
    //@include green-bg();
    width: 100%;
    padding: 20px 0;
    //border: 1px solid black;
    @media screen and (min-width: $breakpoint-md) {
      width: 33.33333%;
      padding: 20px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 20%;
      width: 20%;
    }

    img {
      width: auto;
      max-width: 100%;
    }
  }

  .m-t-10 {
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }

} // .logos
