// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  margin: 10px auto;

  p {
    margin: 0;
  }
}
