.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  //@include red-bg();

  img {
    width: 100%;
  }

  a {
    color: #333;
    &:hover,
    &:focus,
    &:active {
      color: $purple-gray;
    }
  }


  &-split-2 {
    .column {
      width: 100%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        padding: 5px;
      }
    }
  }



  &-split-3 {
    .column {
      width: 100%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33333%;
        padding: 5px;
      }
    }
  }



} // .flex




.spacing {
  margin-top: 1em;
  margin-bottom: 1em;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
