.hero {
  width: 100%;
  margin: 5px auto 0;
  display: block;
  position: relative;
  clear: both;

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  } // .hero__video


  // Textbox
  &__textbox {
    display: block;
    position: relative;
    border: 1px solid #333;
    margin: 10px auto 0;
    padding: 20px 30px;
    background: $white;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      margin: 0;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      transform-style: preserve-3d;
      opacity: 0.85;
      max-width: 360px;
      outline: 8px solid #fff;
    }

    p {
      margin: 0;
      &.sans-bold-uppercase {
        margin-top: 10px;
      }
    }

  } // .hero__textbox

} // .hero
