.layout-split-2 {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  @include red-bg();


  .column {
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }
  }
}
