// ========================================================
// ES_ShippingInfo_Modal
// ========================================================
.dijitDialog {
  .dijitDialogPaneContent {
    padding: 0;
    h2 {
      background: #f8f6f0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: #333;
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;
      padding: 20px;
      margin: 0;
      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}

.ship-info-modal {
  color: #333;
  padding: 20px 20px 30px;
  max-width: 540px;
  p {
    margin: 0;
    margin-right: 10px;
  }
}
