#ESpot_ES_ShippingMethods_Modal h2 {
  display: none; }

.dijitDialog .dijitDialogPaneContent {
  padding: 0; }

.ship-methods-modal {
  color: #333;
  display: block; }
  .ship-methods-modal__heading {
    background: #f8f6f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px; }
    .ship-methods-modal__heading h3 {
      color: #333; }
  .ship-methods-modal__panel {
    padding: 20px; }
  .ship-methods-modal__details ul {
    padding: 0 0 10px; }
    .ship-methods-modal__details ul li {
      padding: 5px 0; }
  .ship-methods-modal__disclaimer {
    color: #f04874; }

.ctnr-avsmodal .dijitDialogPaneContent {
  padding: 16px; }
