// ========================================================
// ES_ShippingMethods_Modal
// ========================================================
#ESpot_ES_ShippingMethods_Modal {
  h2 {
    display: none;
  }
}
.dijitDialog {
  .dijitDialogPaneContent {
    padding: 0;
  }
}


.ship-methods-modal {
  color: #333;
  display: block;

  &__heading {
    background: #f8f6f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px;
    h3 {
      color: #333;
    }
  }


  &__panel {
    padding: 20px;
  }

  &__details {
    ul {
      padding: 0 0 10px;
      li {
        padding: 5px 0;
      }
    }
  }

  &__disclaimer {
    color: #f04874;
  }

}


.ctnr-avsmodal {
  .dijitDialogPaneContent {
    padding: 16px;
  }
}
