<style>
    [data-menu-active-topic='Rewards'] .header__main-nav-trigger-text-topic[data-trigger-topic='Rewards'] {
        display: block;
    }

    @media screen and (max-width: 1023px) {
        [data-menu-active-topic='Rewards'] .header__main-nav-topic[data-menu-topic='Rewards'] {
            display: block;
        }
        [data-menu-active-topic='Rewards'] [data-menu-topic='Rewards'] .header__main-nav-topic-section-list {
            display: block;
            padding-left: 0;
        }
    }

    @media screen and (min-width: 1023px) {
        [data-topic-status='open'] .header__main-nav-topic-heading-link,
        [data-menu-active-topic='Rewards'] [data-menu-topic='Rewards'] .header__main-nav-topic-heading-link {
            background-color: #ffffff;
            border-left: 1px solid #74736d;
            border-right: 1px solid #74736d;
            border-top: 3px solid #F3665C;
        }
    }
</style>

<script>
    businessNavJSONData['Rewards'] = {
        targetURL: "/Content_WeddingPlanning_main?cm_sp=WS_TopNav-_-TopNav-_-WS_Rewards",
        data: []
    };
</script>

</script>
<li class="header__business-nav-link-item" data-menu-topic="Rewards">

    <a onclick="businessNavClickEvent('Rewards');" class="header__business-nav-link" data-dropdown-menu-hover-trigger="Rewards" href="/Content_WeddingPlanning_main?cm_sp=WS_TopNav-_-TopNav-_-WS_Rewards">Rewards</a>

    <div class="header__business-nav-link-dropdown" data-dropdown-menu="Rewards" style="position: absolute; top: 81px; left: 48.5px; display: none;">
        <ul class="drop-down-menu left">
            <script>
                var businessNavL1Data = [];
            </script>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "All Rewards",
                        "url": "/Content_WeddingPlanning_main?cm_sp=WS_TopNav-_-TopNav-_-WS_allRewards"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'All Rewards');" class="sans-xs-bold" href="/Content_WeddingPlanning_main?cm_sp=WS_TopNav-_-TopNav-_-WS_allRewards">All Rewards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "DB Rewards",
                        "url": "/Content_SpecialOffers_rewards?cm_sp=WS_TopNav-_-TopNav-_-DB_dbRewards"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'DB Rewards');" class="sans-xs-bold" href="/Content_SpecialOffers_rewards?cm_sp=WS_TopNav-_-TopNav-_-DB_dbRewards">DB Rewards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Local Vendors",
                        "url": "http://local.davidsbridal.com/?cm_sp=WS_TopNav-_-TopNav-_-WS_localVendors"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Local Vendors');" class="sans-xs-bold" href="http://local.davidsbridal.com/?cm_sp=WS_TopNav-_-TopNav-_-WS_localVendors" target="_blank">Local Vendors</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Photography",
                        "url": "/Content_WeddingPlanning_photography?cm_sp=WS_TopNav-_-TopNav-_-WS_photography"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Photography');" class="sans-xs-bold" href="/Content_WeddingPlanning_photography?cm_sp=WS_TopNav-_-TopNav-_-WS_photography">Photography</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Gift Registry",
                        "url": "/Content_WeddingPlanning_giftregistry?cm_sp=WS_TopNav-_-TopNav-_-WS_giftRegistry"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Gift Registry');" class="sans-xs-bold" href="/Content_WeddingPlanning_giftregistry?cm_sp=WS_TopNav-_-TopNav-_-WS_giftRegistry">Gift Registry</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Fine Jewelry",
                        "url": "/Content_WeddingPlanning_jewelry?cm_sp=WS_TopNav-_-TopNav-_-WS_fineJewelry"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Fine Jewelry');" class="sans-xs-bold" href="/Content_WeddingPlanning_jewelry?cm_sp=WS_TopNav-_-TopNav-_-WS_fineJewelry">Fine Jewelry</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Honeymoon & Travel",
                        "url": "/Content_WeddingPlanning_honeymoons?cm_sp=WS_TopNav-_-TopNav-_-WS_honeymoonsTravel"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Honeymoon & Travel');" class="sans-xs-bold" href="/Content_WeddingPlanning_honeymoons?cm_sp=WS_TopNav-_-TopNav-_-WS_honeymoonsTravel">Honeymoon &amp; Travel</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Beauty & Wellness",
                        "url": "/Content_WeddingPlanning_beautywellness?cm_sp=WS_TopNav-_-TopNav-_-WS_beautyWellness"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Beauty & Wellness');" class="sans-xs-bold" href="/Content_WeddingPlanning_beautywellness?cm_sp=WS_TopNav-_-TopNav-_-WS_beautyWellness">Beauty &amp; Wellness</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Hotel Blocks",
                        "url": "https://www.hotelblocksforweddings.com/?cm_sp=WS_TopNav-_-TopNav-_-WS_giftRegistry"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Hotel Blocks');" class="sans-xs-bold" href="https://www.hotelblocksforweddings.com/?cm_sp=WS_TopNav-_-TopNav-_-WS_giftRegistry" target="_blank">Hotel Blocks</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Photo Gifts",
                        "url": "/Content_WeddingPlanning_photogifts?cm_sp=WS_TopNav-_-TopNav-_-WS_photoGifts"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'Photo Gifts');" class="sans-xs-bold" href="/Content_WeddingPlanning_photogifts?cm_sp=WS_TopNav-_-TopNav-_-WS_photoGifts">Photo Gifts</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "After The Wedding",
                        "url": "/Content_WeddingPlanning_afterthewedding?cm_sp=WS_TopNav-_-TopNav-_-WS_happilyEverAfter"
                    });
                </script>
                <a onclick="businessNavClickEvent('Rewards', 'After The Wedding');" class="sans-xs-bold" href="/Content_WeddingPlanning_afterthewedding?cm_sp=WS_TopNav-_-TopNav-_-WS_happilyEverAfter">After The Wedding</a>
            </li>

            <script>
                businessNavJSONData["Rewards"]["data"] = businessNavL1Data;
            </script>
        </ul>
    </div>

</li>
