<style>
    [data-menu-active-topic='Invitations'] .header__main-nav-trigger-text-topic[data-trigger-topic='Invitations'] {
        display: block;
    }

    @media screen and (max-width: 1023px) {
        [data-menu-active-topic='Invitations'] .header__main-nav-topic[data-menu-topic='Invitations'] {
            display: block;
        }
        [data-menu-active-topic='Invitations'] [data-menu-topic='Invitations'] .header__main-nav-topic-section-list {
            display: block;
            padding-left: 0;
        }
    }

    @media screen and (min-width: 1023px) {
        [data-topic-status='open'] .header__main-nav-topic-heading-link,
        [data-menu-active-topic='Invitations'] [data-menu-topic='Invitations'] .header__main-nav-topic-heading-link {
            background-color: #ffffff;
            border-left: 1px solid #74736d;
            border-right: 1px solid #74736d;
            border-top: 3px solid #F3665C;
        }
    }
</style>

<script>
    businessNavJSONData['Invitations'] = {
        targetURL: "http://invitations.davidsbridal.com/index.jsp?&amp;intSource=BusNavInvites",
        data: []
    };
</script>

</script>
<li class="header__business-nav-link-item" data-menu-topic="Invitations">

    <a onclick="businessNavClickEvent('Invitations');" target="_blank" class="header__business-nav-link" data-dropdown-menu-hover-trigger="Invitations" href="http://invitations.davidsbridal.com/index.jsp?&amp;intSource=BusNavInvites">Invitations</a>

    <div class="header__business-nav-link-dropdown" data-dropdown-menu="Invitations" style="position: absolute; top: 81px; left: 48.5px; display: none;">
        <ul class="drop-down-menu left">
            <script>
                var businessNavL1Data = [];
            </script>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Wedding Invitations",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&amp;intSource=BusNavInvitesFly"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Wedding Invitations');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&amp;intSource=BusNavInvitesFly"
                    target="_blank">Wedding Invitations</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Save The Dates",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Save-the-Dates/index.cat?lnklc=GlobeNav-Save%20the%20Dates_View%20all%20Save%20the%20Dates&amp;intSource=BusNavSaveDate"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Save The Dates');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Save-the-Dates/index.cat?lnklc=GlobeNav-Save%20the%20Dates_View%20all%20Save%20the%20Dates&amp;intSource=BusNavSaveDate"
                    target="_blank">Save The Dates</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Free Samples",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&amp;intSource=BusNavFreeSamples"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Free Samples');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&amp;intSource=BusNavFreeSamples"
                    target="_blank">Free Samples</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Thank You Cards",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Thank-You-Notes/index.cat?lnklc=GlobeNav-Thank%20You%20Notes_&amp;intSource=BusNavThankYou"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Thank You Cards');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Thank-You-Notes/index.cat?lnklc=GlobeNav-Thank%20You%20Notes_&amp;intSource=BusNavThankYou" target="_blank">Thank You Cards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Wedding Programs",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Wedding-Programs/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Wedding%20Programs&amp;intSource=BusNavPrograms"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Wedding Programs');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Wedding-Programs/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Wedding%20Programs&amp;intSource=BusNavPrograms"
                    target="_blank">Wedding Programs</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Escort Cards",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Escort-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Escort%20Cards&amp;intSource=BusNavEscortCards"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Escort Cards');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Escort-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Escort%20Cards&amp;intSource=BusNavEscortCards"
                    target="_blank">Escort Cards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Place Cards",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Place-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Place%20Cards&amp;intSource=BusNavPlaceCards"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Place Cards');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Place-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Place%20Cards&amp;intSource=BusNavPlaceCards"
                    target="_blank">Place Cards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Menu Cards",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Menu-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Menu%20Cards&amp;intSource=BusNavMenus"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Menu Cards');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Menu-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Menu%20Cards&amp;intSource=BusNavMenus" target="_blank">Menu Cards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Table Number Cards",
                        "url": "http://invitations.davidsbridal.com/Wedding-Invitations/Table-Number-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Table%20Number%20Cards&amp;intSource=BusNavTableNumber"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'Table Number Cards');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/Wedding-Invitations/Table-Number-Cards/index.cat?lnklc=GlobeNav-Complete%20Your%20Suite_Table%20Number%20Cards&amp;intSource=BusNavTableNumber"
                    target="_blank">Table Number Cards</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "All Stationery",
                        "url": "http://invitations.davidsbridal.com/index.jsp?&amp;intSource=BusNavStationery"
                    });
                </script>
                <a onclick="businessNavClickEvent('Invitations', 'All Stationery');" class="sans-xs-bold" href="http://invitations.davidsbridal.com/index.jsp?&amp;intSource=BusNavStationery" target="_blank">All Stationery</a>
            </li>

            <script>
                businessNavJSONData["Invitations"]["data"] = businessNavL1Data;
            </script>
        </ul>
    </div>

</li>
