<style>
  [data-menu-active-topic='Inspiration & Guidance'] .header__main-nav-trigger-text-topic[data-trigger-topic='Inspiration & Guidance'] {display: block;}
  @media screen and (max-width: 1023px){
      [data-menu-active-topic='Inspiration & Guidance'] .header__main-nav-topic[data-menu-topic='Inspiration & Guidance'] {
          display: block;
      }
      [data-menu-active-topic='Inspiration & Guidance'] [data-menu-topic='Inspiration & Guidance'] .header__main-nav-topic-section-list {
          display: block;
          padding-left: 0;
      }
 }
 @media screen and (min-width: 1023px){
      [data-topic-status='open'] .header__main-nav-topic-heading-link,
       [data-menu-active-topic='Inspiration & Guidance'] [data-menu-topic='Inspiration & Guidance']
       .header__main-nav-topic-heading-link {
          background-color: #ffffff;
          border-left: 1px solid #74736d;
          border-right: 1px solid #74736d;
          border-top: 3px solid #F3665C;
      }
 }

</style>

 <script>
      businessNavJSONData['Inspiration & Guidance'] = {targetURL: "/Content_StyleandFashionGuide_styleguide", data: []};
 </script>

</script>
<li class="header__business-nav-link-item" data-menu-topic="Inspiration & Guidance" >

          <a onclick="businessNavClickEvent('Inspiration & Guidance');" class="header__business-nav-link" data-dropdown-menu-hover-trigger="Inspiration & Guidance"  href="/Content_StyleandFashionGuide_styleguide" >Inspiration &amp; Guidance</a>

             <div class="header__business-nav-link-dropdown" data-dropdown-menu="Inspiration & Guidance" style="position: absolute; top: 81px; left: 48.5px; display: none;">
              <ul class="drop-down-menu left">
                 <script>
                         var businessNavL1Data = [];
                    </script>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"All Inspiration & Guidance","url":"/Content_StyleandFashionGuide_styleguide"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'All Inspiration & Guidance');" class="sans-xs-bold" href="/Content_StyleandFashionGuide_styleguide" >All Inspiration &amp; Guidance</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Wedding Dress Finder","url":"/wedding-dress-quiz"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Wedding Dress Finder');" class="sans-xs-bold" href="/wedding-dress-quiz" >Wedding Dress Finder</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Silhouette Guide","url":"/Content_StyleandFashionGuide-styleguidedressguide_index"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Silhouette Guide');" class="sans-xs-bold" href="/Content_StyleandFashionGuide-styleguidedressguide_index" >Silhouette Guide</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Wedding Themes","url":"/Content_StyleandFashionGuide_weddingthemes"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Wedding Themes');" class="sans-xs-bold" href="/Content_StyleandFashionGuide_weddingthemes" >Wedding Themes</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Real Weddings","url":"/Content_RealWeddings_realweddings"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Real Weddings');" class="sans-xs-bold" href="/Content_RealWeddings_realweddings" >Real Weddings</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Bridesmaid Dress Finder","url":"/Content_BridesmaidDress_Quiz"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Bridesmaid Dress Finder');" class="sans-xs-bold" href="/Content_BridesmaidDress_Quiz" >Bridesmaid Dress Finder</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Color Palette","url":"/Content_StyleandFashionGuide-ColorInspiration_colormain"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Color Palette');" class="sans-xs-bold" href="/Content_StyleandFashionGuide-ColorInspiration_colormain" >Color Palette</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Color Ideas for Mom","url":"/Content_StyleandFashionGuide_styleguidemobcoordinator"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Color Ideas for Mom');" class="sans-xs-bold" href="/Content_StyleandFashionGuide_styleguidemobcoordinator" >Color Ideas for Mom</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Spring 2017 Bridal Trends","url":"/spring-bridal-collection-2017"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Spring 2017 Bridal Trends');" class="sans-xs-bold" href="/spring-bridal-collection-2017" >Spring 2017 Bridal Trends</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Wedding Checklist","url":"/Content_StyleandFashionGuide_weddingchecklist"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Wedding Checklist');" class="sans-xs-bold" href="/Content_StyleandFashionGuide_weddingchecklist" >Wedding Checklist</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Headpiece Guide","url":"/Content_StyleandFashionGuide_headpiecestyleguide"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Headpiece Guide');" class="sans-xs-bold" href="/Content_StyleandFashionGuide_headpiecestyleguide" >Headpiece Guide</a>
                     </li>

                     <li class="drop-down-menu-item ">

                         <script>
                              businessNavL1Data.push({"item":"Magazines & Look Books","url":"/Content_Catalog_onlinecatalog"});
                         </script>
                         <a onclick="businessNavClickEvent('Inspiration & Guidance', 'Magazines & Look Books');" class="sans-xs-bold" href="/Content_Catalog_onlinecatalog" >Magazines &amp; Look Books</a>
                     </li>

                 <script>
                      businessNavJSONData["Inspiration & Guidance"]["data"] =  businessNavL1Data;
                 </script>
                  </ul>
              </div>

</li>
