<style>
    [data-menu-active-topic='Tuxedos & Suits'] .header__main-nav-trigger-text-topic[data-trigger-topic='Tuxedos & Suits'] {
        display: block;
    }

    @media screen and (max-width: 1023px) {
        [data-menu-active-topic='Tuxedos & Suits'] .header__main-nav-topic[data-menu-topic='Tuxedos & Suits'] {
            display: block;
        }
        [data-menu-active-topic='Tuxedos & Suits'] [data-menu-topic='Tuxedos & Suits'] .header__main-nav-topic-section-list {
            display: block;
            padding-left: 0;
        }
    }

    @media screen and (min-width: 1023px) {
        [data-topic-status='open'] .header__main-nav-topic-heading-link,
        [data-menu-active-topic='Tuxedos & Suits'] [data-menu-topic='Tuxedos & Suits'] .header__main-nav-topic-heading-link {
            background-color: #ffffff;
            border-left: 1px solid #74736d;
            border-right: 1px solid #74736d;
            border-top: 3px solid #F3665C;
        }
    }
</style>

<script>
    businessNavJSONData['Tuxedos & Suits'] = {
        targetURL: "/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_sp=WS_TopNav-_-TopNav-_-WS_Tuxedos",
        data: []
    };
</script>

</script>
<li class="header__business-nav-link-item" data-menu-topic="Tuxedos & Suits">

    <a onclick="businessNavClickEvent('Tuxedos & Suits');" class="header__business-nav-link" data-dropdown-menu-hover-trigger="Tuxedos & Suits" href="/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_sp=WS_TopNav-_-TopNav-_-WS_Tuxedos">Tuxedos &amp; Suits</a>

    <div class="header__business-nav-link-dropdown" data-dropdown-menu="Tuxedos & Suits" style="position: absolute; top: 81px; left: 48.5px; display: none;">
        <ul class="drop-down-menu left">
            <script>
                var businessNavL1Data = [];
            </script>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "All Tuxedos & Suits",
                        "url": "/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-All_Tuxedos&cm_sp=WS_TopNav-_-TopNav-_-MW_allTuxedos"
                    });
                </script>
                <a onclick="businessNavClickEvent('Tuxedos & Suits', 'All Tuxedos & Suits');" class="sans-xs-bold" href="/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-All_Tuxedos&cm_sp=WS_TopNav-_-TopNav-_-MW_allTuxedos">All Tuxedos &amp; Suits</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Register to Save",
                        "url": "/BrideGroomCaptureFormView?catalogId=10051&:storeId=10052&:langId=-1&:cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-Signup_to_Save&:cm_sp=WS_TopNav-_-TopNav-_-MW_signupToSave"
                    });
                </script>
                <a onclick="businessNavClickEvent('Tuxedos & Suits', 'Register to Save');" class="sans-xs-bold" href="/BrideGroomCaptureFormView?catalogId=10051&:storeId=10052&:langId=-1&:cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-Signup_to_Save&:cm_sp=WS_TopNav-_-TopNav-_-MW_signupToSave">Register to Save</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "Top Looks We Love",
                        "url": "https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-Top_Looks_We_Love&cm_sp=WS_TopNav-_-TopNav-_-MW_topLooksWeLove"
                    });
                </script>
                <a onclick="businessNavClickEvent('Tuxedos & Suits', 'Top Looks We Love');" class="sans-xs-bold" href="https://tuxedo.menswearhouse.com/wedding-tuxedo-prestyled-looks?cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-Top_Looks_We_Love&cm_sp=WS_TopNav-_-TopNav-_-MW_topLooksWeLove"
                    target="_blank">Top Looks We Love</a>
            </li>

            <li class="drop-down-menu-item ">

                <script>
                    businessNavL1Data.push({
                        "item": "How to Rent",
                        "url": "http://tuxedo.menswearhouse.com/howToRent.do?cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-How_to_Rent&:cm_sp=WS_TopNav-_-TopNav-_-MW_howToRent"
                    });
                </script>
                <a onclick="businessNavClickEvent('Tuxedos & Suits', 'How to Rent');" class="sans-xs-bold" href="http://tuxedo.menswearhouse.com/howToRent.do?cm_mmc=DavidsBridal-_-DB_Tux_BusNav-_-MW_BusNav-_-How_to_Rent&:cm_sp=WS_TopNav-_-TopNav-_-MW_howToRent" target="_blank">How to Rent</a>
            </li>

            <script>
                businessNavJSONData["Tuxedos & Suits"]["data"] = businessNavL1Data;
            </script>
        </ul>
    </div>

</li>
