$hero-lg:     1452px;

// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  position: relative;
  width: 100%;

  &__breadcrumbs {
    display: block;
    position: absolute;
    max-width: $container-max-width;
    width: 100%;
    top: 10px;
    left: 10px;
    @media screen and (min-width: $container-max-width + 20px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }


  &__text {
    //@include green-bg();
    display: block;
    position: relative;
    width: 100%;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 100%;
      max-width: $hero-lg;

    }
    @media screen and (min-width: $container-max-width + 20px) {
      left: 50%;
      transform: translate(-50%, -50%);
    }


    &--svg {
      display: block;
      svg {
        max-width: 120px;
        @media screen and (min-width: $breakpoint-lg) {
          max-width: 100%;
        }
      }
    }


    &--inner {
      //@include red-bg();
      display: block;
      width: 100%;
      @media screen and (min-width: $breakpoint-lg) {
        width: 50%;
        padding-left: 30px;
        padding-right: 10px;
        float: right;
      }
      @media screen and (min-width: $hero-lg) {
        padding-left: 30px;
        padding-right: 0;
        width: 35%;
      }
    }

    .serif-xl {
      font-size: 26px;
      line-height: 1;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    .sans-m {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 15px;
      @media screen and (min-width: $breakpoint-lg) {
        padding-right: 10px;
      }
      @media screen and (min-width: $container-max-width + 20px) {
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }

    &-copy {
      background: #f7c7c7;
      padding: 20px 10px 10px;
      @media screen and (min-width: $breakpoint-lg) {
        padding: 10px 0 0;
        background: none;
      }
      @media screen and (min-width: $container-max-width + 20px) {
        padding-bottom: 0;
      }
    }

    .btn {
      display: block;
      width: 100%;
      max-width: 330px;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 200px;
      }
      &-secondary a {
        display: block;
        width: 100%;
      }
    }


    &--jump-links {
      display: block;
      position: relative;
      margin-top: 20px;
      @media screen and (min-width: $breakpoint-md) {
        columns: 2
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 15px;
      }
      @media screen and (min-width: $hero-lg) {
        columns: 1;
      }

      p {
        margin-bottom: 10px;
        @media screen and (min-width: $breakpoint-lg) {
          margin-bottom: 8px;
        }
        @media screen and (min-width: $container-max-width) {
          margin-bottom: 10px;
        }
      }
    }

  }

} // .hero
