.slick-track {
  display: flex !important;
  align-items: stretch;
  align-content: stretch;
}

.slick-slide {
  display: flex !important;
  float: none !important;
  height: auto !important;
  img {
    width: 100%;
    height: 100%;
  }
}


.slide-cream {
  align-items: center;
  background: #f8f6f0;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 100%;
  @media screen and (min-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    &.serif-m {
      font-size: 16px;
      line-height: 20px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &.sans-m {
      font-size: 13px;
      line-height: 18px;
      @media screen and (min-width: $container-max-width) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

}
