// ========================================================
// VIDEO-TEXT-BLOCK
// ========================================================
.video-text-block {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 10px;
  background: #fcd8d8;
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  &--inner {
    //@include green-bg();
    min-height: 100px;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (min-width: $container-max-width + 20px) {
      padding-left: 0;
      padding-right: 0;
    }
  }


  &__video {
    display: block;
    position: relative;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }
    @media screen and (min-width: $container-max-width) {
      width: 65%;
    }


    .video-container {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }
    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


  &__text {
    //@include red-bg();
    display: block;
    position: relative;
    clear: both;
    padding: 15px 10px;
    max-width: $container-max-width;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
      padding-left: 30px;
    }
    @media screen and (min-width: $container-max-width) {
      width: 35%;
      padding-left: 50px;
    }

    &--copy {
      h3 {
        margin-bottom: 10px;
      }
    }

    .serif-m {
      font-size: 22px;
      line-height: 26px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 28px;
        line-height: 40px;
      }
    }
    .sans-m {
      font-size: 13px;
      line-height: 18px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  .btn + .btn {
    margin-left: 0;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
      margin-left: 10px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-top: 20px;
    }
  }
}
