
.page-heading {
  margin-left: -10px;
  margin-right: -10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  p {
    padding-left: 10px;
    padding-right: 20px;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}
