.recommend-block {
  display: block;
  position: relative;
  clear: both;
  margin-top: 30px;
  padding-bottom: 30px;


  // Inner
  &__inner {
    display: flex;
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 10px;
    }

    & a {
      color: #333333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;

      &:hover {
        color: #74736d;
        text-decoration: none;
      }
    }


  }

  // Image
  &__image {
    float: left;
    display: block;
    margin-right: 0%;
    width: 40%;
    min-width: 80px;
    @media screen and (min-width: $breakpoint-md) {
      width: 33.3333%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // Content
  &__content {
    padding-left: 10px;
    width: 60%;
    @media screen and (min-width: $breakpoint-md) {
      width: 66.66667%;
    }

    & .serif-xs {
      margin: 0;
    }

    & .sans-bold-uppercase {
      margin-top: 3px;
    }
  }
}
