html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
}

.row {
  margin: 0 auto;
}


.cmc-container {
  display: block;
  position: relative;
  max-width: 1380px;
  margin: 0 auto;

  p {
    hyphens: none;
  }

  h1,
  h1.serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .serif-xxl {
        font-size: 48px;
        line-height: 52px; } }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }




  .page-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding: 10px 10px 0;
    @media screen and (min-width: 1024px) {
      flex-wrap: nowrap;
      padding: 10px 0 0;
    }

    &__left {
      //background:red;
      //max-width: 600px;
      width: auto;
      @media screen and (min-width: 768px) {
        max-width: 768px;
      }
    }

    &__right {
      //background: green;
      width: 100%;
      @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        max-width: 314px;
      }
    }
  }



}





// ==========================================================================
// Article Share Bar
// ==========================================================================
.article__share-bar {
  width: 100%;
  background: #fff;
  padding: 12px 30px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #eee;

  @media screen and (min-width: 768px) {
    padding: 12px 30px;
    margin: 10px auto 0;
    flex-direction: row;
    align-items: center;
  }

  & a {
    cursor: pointer;
  }

  &-title {
    margin: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
      margin-bottom: 3px;
    }
  }

  &-item-list {
    line-height: 1;
    padding: 0;
  }

  &-item {
    display: inline-block;
    margin-left: 28px;
    @media screen and (min-width: 768px) {
      margin-left: 14px;
    }

    &-link {
      display: block;
      height: 18px !important;

      &--email {
        height: 16px;
      }
    }

    &-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto;
    }
  }



} // .article__share-bar

div.gig-button-container {
  margin-bottom: 0;
}
