html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

.row {
  margin: 0 auto; }

.cmc-container {
  display: block;
  position: relative;
  max-width: 1380px;
  margin: 0 auto; }
  .cmc-container p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .cmc-container h1,
  .cmc-container h1.serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .cmc-container .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .cmc-container .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .cmc-container .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .cmc-container .page-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding: 10px 10px 0; }
    @media screen and (min-width: 1024px) {
      .cmc-container .page-heading {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        padding: 10px 0 0; } }
    .cmc-container .page-heading__left {
      width: auto; }
      @media screen and (min-width: 768px) {
        .cmc-container .page-heading__left {
          max-width: 768px; } }
    .cmc-container .page-heading__right {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .cmc-container .page-heading__right {
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          max-width: 314px; } }

.article__share-bar {
  width: 100%;
  background: #fff;
  padding: 12px 30px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      padding: 12px 30px;
      margin: 10px auto 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }
