div.relative.button-column.pdp-favorite-container {
  margin-bottom: 8px;
  font-size: 11px;
}

a.add-to-shopping-list-button {
  color: #52535a;
  font-family: "Open Sans", Verdana, Helvetica, Arial, Droid Sans, sans-serif;
  line-height: 1em;
  display: inline;
  padding: 0 3px;
  font-size: 11px;
}


#notifyMeBtn {
  margin-top: 8px; }
@media screen and (min-width: 1024px) {
  #notifyMeBtn {
    margin-top: 0; } }
