@import "variables";
@import "mixins";


// ========================================================
// ESPOT RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}


// ========================================================
// HERO
// ========================================================
.hero {
  display: none;
  margin: 0 auto;
  margin-top: -5px;
  max-width: $max-width;
  position: relative;
  width: 100%;
  @media screen and (min-width: $breakpoint-lg) {
    display: block;
  }


  @import "typography";
  @import "buttons";
  @import "container";
  @import "items";
  @import "image-positioning";
  @import "copy-box";
  @import "helpers";
  @import "misc";
  @import "animation";

} // .hero
