.homepage-sale {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .homepage-sale {
      margin-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    .homepage-sale {
      margin-bottom: 0.9375%; } }
  .homepage-sale .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .homepage-sale .btn {
        width: auto;
        margin-top: 10px; } }
    .homepage-sale .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px; }
      .homepage-sale .btn-secondary a:hover, .homepage-sale .btn-secondary a:active, .homepage-sale .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .homepage-sale .btn-secondary a {
          width: auto;
          padding: 13px 40px; } }
    .homepage-sale .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .homepage-sale .btn-secondary-pink a:hover, .homepage-sale .btn-secondary-pink a:active, .homepage-sale .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .homepage-sale .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  @media screen and (min-width: 71.875em) {
    .homepage-sale p + p {
      margin-top: 1.125rem; } }
  .homepage-sale__img {
    display: block;
    position: relative; }
  .homepage-sale__text {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px; }
    @media screen and (min-width: 768px) {
      .homepage-sale__text {
        bottom: initial;
        top: 50%;
        left: initial;
        right: 10px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        text-align: center; } }
    @media screen and (min-width: 850px) {
      .homepage-sale__text {
        padding: 20px; } }
    @media screen and (min-width: 1024px) {
      .homepage-sale__text {
        padding: 30px;
        right: 3%; } }
    @media screen and (min-width: 1150px) {
      .homepage-sale__text {
        padding: 30px 50px; } }
    @media screen and (min-width: 1262px) {
      .homepage-sale__text {
        right: calc((100vw - 1262px) / 2); } }
    @media screen and (min-width: 1600px) {
      .homepage-sale__text {
        right: calc((1600px - 1262px) / 2); } }
    @media screen and (min-width: 850px) {
      .homepage-sale__text p.sans-m {
        padding-bottom: 10px; } }
    @media screen and (min-width: 768px) {
      .homepage-sale__text p.sans-bold-uppercase {
        font-size: 11px; } }
    @media screen and (min-width: 850px) {
      .homepage-sale__text p.btn {
        margin-top: 15px; } }
    @media screen and (min-width: 1024px) {
      .homepage-sale__text p.btn {
        margin-top: 25px; } }
  .homepage-sale__buttons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0 15px;
    z-index: 2;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .homepage-sale__buttons {
        display: none; } }
    .homepage-sale__buttons .column {
      width: 100%;
      padding: 5px 10px; }
    .homepage-sale__buttons .sans-m {
      font-weight: 700;
      margin-bottom: 10px; }
      .homepage-sale__buttons .sans-m a {
        text-decoration: underline; }
    .homepage-sale__buttons .btn {
      width: 100%; }
    .homepage-sale__buttons .btn-secondary a,
    .homepage-sale__buttons .btn-secondary-pink a,
    .homepage-sale__buttons p.sans-bold-uppercase {
      width: 100%; }
      .homepage-sale__buttons .btn-secondary a a,
      .homepage-sale__buttons .btn-secondary-pink a a,
      .homepage-sale__buttons p.sans-bold-uppercase a {
        display: block;
        margin-top: 8px;
        margin-bottom: 8px; }
  @media screen and (max-width: 767px) {
    .homepage-sale .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .homepage-sale .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .homepage-sale .lg-hidden {
      display: none !important; } }
