@import "variables";
@import "mixins";




.homepage-sale {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0.9375%;
  }

  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      margin-top: 10px;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        padding: 13px 40px;
      }
    }
  }

  p + p {
    @media screen and (min-width: 71.875em) {
      margin-top: 1.125rem;
    }
  }


  &__img {
    display: block;
    position: relative;
  }



  &__text {
    //@include red-bg();
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    @media screen and (min-width: $breakpoint-md) {
      bottom: initial;
      top: 50%;
      left: initial;
      right: 10px;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.80);
      padding: 10px;
      text-align: center;
    }
    @media screen and (min-width: 850px) {
      padding: 20px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding: 30px;
      right: 3%;
    }
    @media screen and (min-width: 1150px) {
      padding: 30px 50px;
    }
    @media screen and (min-width: 1262px) {
      right: calc((100vw - 1262px) / 2);
    }
    @media screen and (min-width: 1600px) {
      right: calc((1600px - 1262px) / 2);
    }

    p {
      &.sans-m {
        @media screen and (min-width: 850px) {
          padding-bottom: 10px;
        }
      }
      &.sans-bold-uppercase {
        @media screen and (min-width: $breakpoint-md) {
          font-size: 11px;
        }
      }
      &.btn {
        @media screen and (min-width: 850px) {
          margin-top: 15px;
        }
        @media screen and (min-width: $breakpoint-lg) {
          margin-top: 25px;
        }
      }
    }
  }



  &__buttons {
    //background: red;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0 15px;
    z-index: 2;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    .column {
      width: 100%;
      padding: 5px 10px;
    }

    .sans-m {
      font-weight: 700;
      margin-bottom: 10px;
      a {
        text-decoration: underline;
      }
    }

    .btn {
      width: 100%;
    }
    .btn-secondary a,
    .btn-secondary-pink a,
    p.sans-bold-uppercase {
      width: 100%;
      a {
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }



  @import "helpers";
} // .homepage-sale
