.accordion {
  background-color: $white;
  display: block;
  position: relative;
  width: 100%;
  margin: 30px auto 10px;


  &__items {
    padding: 0;
  }


  // ----------------------------------------------------------------
  // Header
  // ----------------------------------------------------------------
  &__header {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: nowrap;              // default: nowrap
    justify-content: space-between; // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch
    width: 100%;
    cursor: pointer;
    padding: 20px 0;
    @media screen and (min-width: $breakpoint-md) {
      padding: 40px 0 20px;
    }

    h3 {
      //@include green-bg();
      width: 95%;
      margin: 0;

    }

    &-action {
      //@include red-bg();
      width: 5%;

      &.relative {
        position: relative;
      }

      &-plus,
      &-minus {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
      & svg {
        width: 13px;
      }
    }
  } // .accordion__header



  // ----------------------------------------------------------------
  // Item
  // ----------------------------------------------------------------
  &__item {
    //padding: 20px 0;
    border-top: 1px solid #c1c1c1;
    transition: all 0.3s ease;
    &:last-child {
      border-bottom: 1px solid #c1c1c1;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 0 20px;
    }
  }



  // ----------------------------------------------------------------
  // Content
  // ----------------------------------------------------------------
  &__content {
    //@include red-bg();
    display: none;
    padding-top: 0;
    //padding-bottom: 20px;
    //margin-top: -20px;
    @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 10px;
    }

    p {
      &.lead {
        margin-bottom: 25px;
      }
      &.sans-m {
      }
    }

    ul {
      &.list-bulleted {
        padding: 0;
        padding-bottom: 10px;
        li {
          margin-bottom: 15px;
          &:before {
            content: "•";
            margin-right: 5px;
          }
        }
      }
      &.list-numbered {
        padding-bottom: 15px;
        padding-left: 0;
        padding-top: 15px;
        li {
          margin-bottom: 15px;
        }
      }
    }


  }


} // .accordion


[data-nav-open="false"] > .accordion__header .accordion__header-action .accordion__header-action-plus {
display: block; }

[data-nav-open="false"] > .accordion__header .accordion__header-action .accordion__header-action-minus {
display: none; }

[data-nav-open="true"] > .accordion__header .accordion__header-action .accordion__header-action-plus {
display: none; }

[data-nav-open="true"] > .accordion__header .accordion__header-action .accordion__header-action-minus {
display: block; }
