// ==========================================================================
// Getting Started
// ==========================================================================
.getting-started {
  background: #ffe6e3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 30px;
    padding-bottom: 0;
  }



  // ----------------------------------------------------------------
  // Actions
  // ----------------------------------------------------------------
  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    .col {
      //@include blue-bg();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33333%;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        padding: 0;
      }

      & > * {
        //@include green-bg();
        display: block;
        width: 100%;
      }

      img {
        width: 40px;
        margin: 0 auto;
      }

      &__img {
        //@include green-bg();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        //height: 60px;
        @media screen and (min-width: $breakpoint-md) {
          height: 60px;
        }

        svg {
          display: block;
          margin: 0 auto;
        }
      }


      &__heading {
        p {
          margin-top: 10px;
          margin-bottom: 5px;
        }

        .serif-l {
          font-size: 22px;
          line-height: 26px;
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }

      &__text {
        //@include green-bg();


        p {
          margin-bottom: 0;
          &.serif-s {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 0;
            @media screen and (min-width: $breakpoint-md) {
              margin-top: 20px;
            }
            @media screen and (min-width: $breakpoint-lg) {
              font-size: 20px;
              line-height: 24px;
            }
          }

          &.sans-m {
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
            @media screen and (min-width: $breakpoint-lg) {
              max-width: 320px;
            }
            &.print-it-out-desc {
              @media screen and (min-width: $breakpoint-lg) {
                max-width: 280px;
              }
            }
          }

        }
      }

    }
  }




} // .getting-started



.svg {
  &-transparent {
    fill: none;
  }
  &-pink {
    fill: #F93777;
  }
  &-white {
    fill: #fff;
  }
  &-green {
    fill: green;
  }



  // How it works
  &-phone {
    width: 50px;
    @media screen and (min-width: $breakpoint-md) {
      width: 44px;
    }
  }

  &-box {
    width: 80px;
    @media screen and (min-width: $breakpoint-md) {
      width: 90px;
    }
  }

  &-send-it {
    width: 80px;
    @media screen and (min-width: $breakpoint-md) {
      width: 90px;
    }
  }


}
