// ==========================================================================
// Flex-1-2
// ==========================================================================
.flex-1-2 {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__flex {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: flex-start;    // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch
    margin: 10px auto;
    background: $pink;

    &.reverse {
      flex-direction: row-reverse;
    }

    &-col {
      @include block;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
      }

      &:last-child {
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 20px;
        @media screen and (min-width: $breakpoint-md) {
          padding-top: 40px;
          padding-right: 40px;
          padding-bottom: 0;
          padding-left: 40px;
        }
      }

      ul {
        margin: 0;
        padding: 5px 0 10px 20px;
        @media screen and (min-width: $breakpoint-md) {
          padding: 10px 0 15px 20px;
        }
        li {
          list-style: disc;
          margin-top: 5px;
          margin-bottom: 5px;
          @media screen and (min-width: $breakpoint-lg) {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }

      p {
        margin: 0;
        &.sans-bold-uppercase{
          margin-bottom: 10px;
          @media screen and (min-width: $breakpoint-lg) {
            margin-bottom: 15px;
          }
        }
      }
    }

  } // flex
} // .questions
