.ctnr-checkout .ctnr-order-review #OrderReviewHeadingTop {
  padding: 20px;
  display: block;
  position: relative; }

.ctnr-checkout h2 {
  display: inline; }

#OrderReviewHeadingTop .paymentForm_nextButtonContainer {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #OrderReviewHeadingTop .paymentForm_nextButtonContainer {
      display: none; } }
