// ==========================================================================
// Breadcrumbs
// ==========================================================================
.breadcrumbs {
  display: block;
  position: relative;
  z-index: 1;
  @media screen and (min-width: $breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }



  &__inner {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1262px;
    margin: 0 auto;
    padding: 10px;
  }


  p {
    margin: 0;
  }
}
