.hero {
  display: block;
  position: relative;

  &__text {
    display: block;
    position: relative;
    padding: 20px 10px;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      background: $white;
      max-width: 420px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px;
    }
    @media screen and (min-width: 1262px) {
      left: calc((100vw - 1242px) / 2);
      padding: 30px 40px;
      max-width: 380px;
    }
    @media screen and (min-width: 1600px) {
      left: calc((1600px - 1242px) / 2);
    }

    &-headline {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    p {
      margin-bottom: 0;
    }

  } // .hero__text


} // .hero
