.section-heading {
  //@include blue-bg();
  text-align: center;
  margin: 30px auto 20px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 60px auto 40px;
  }

  p {
    margin: 0 auto;
    padding: 0;
  }

  a {
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #000;
    &:hover {
      color: $taupe;
      &::after {
        background: $taupe;
      }
    }
    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      background: #000;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: 1;
      transition: all 0.3s ease;
      //border-bottom: 1px solid #333;

    }
  }
}
