.social-share {
  display: block;
  position: relative;
  width: 100%;

  &__img {
    width: 100%;
    img {
      @media screen and (max-width: ($breakpoint-md - 1)) {
        width: 100%;
      }
    }
  }

  &__overlay {
    @media screen and (min-width: $breakpoint-lg) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      background: rgba(249, 179, 174, 0.7);
      cursor: pointer;

      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }

    &--icons {
      width: 100%;
      height: 20px;
      text-align: center;
      position: absolute;
      display: none;
      padding: 0;

      top: 50%;
      transform: translateY(-50%);
      @media screen and (min-width: $breakpoint-lg) {
        display: block;
      }

      svg {
        path {
          fill: #333;
        }
      }
    }
  }

  &__icon {
    width: 24px;
    height: 20px;
    margin: 0 15px;
  }

  .gig-bar-container {
    display: block;
    width: 100%;
    table {
      margin: 0 auto;
    }
  }
}
