.two-column-vert-offset {
  //@include red-bg();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px auto;
  @media screen and (min-width: $breakpoint-md) {
    justify-content: space-between;
  }
  @media screen and (min-width: $breakpoint-lg) {
    justify-content: space-around;
  }

  .column {
    //@include green-bg();
    width: 100%;
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-md) {
      width: 45%;
      margin-top: 15px;
      margin-bottom: 15px;

      &:last-child {
        align-self: flex-end;
        padding-top: 10%;
      }
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 40%;
    }


    &__text {
      margin-top: 10px;
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 20px;
      }
      a {
        margin-right: 10px;
      }
    }

  } // .column


} // .two-column-vert-offset
