// ========================================================
// Appointment Banner
// ========================================================
.appointment-banner {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px);
  max-width: 1252px;
  @media screen and (min-width: $breakpoint-lg) {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }


  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: $pink;
    text-align: center;
    padding: 20px;
    border: 1px solid $white;
    outline: 5px solid $pink;
    width: 100%;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      padding: 40px 20px;
    }
  }

  p {
    width: 100%;
    margin: 0;
    @media screen and (min-width: 1200px) {
      width: auto;
    }

    &.sans-m {
      max-width: 240px;
      margin: 5px auto 10px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 100%;
      }
      @media screen and (min-width: 1200px) {
        margin: 0 20px;
      }
    }
    &.btn-secondary a {
      padding: 11px 25px;
      width: auto;
    }
  }


}
