// ========================================================
// Flex
// ========================================================
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    margin-top: 10px;
  }

  &.pink-bg {
    background: $pink;
  }

  &.reverse {
    flex-direction: row-reverse;
    .text {
      @media screen and (min-width: $breakpoint-md) {
        padding-left: 20px;
        padding-right: 0;
      }
    }
  }


  p {
    margin: 0;
  }


  &__column {
    @include block();
    margin: 0;
    padding: 0;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }

    &.text {
      padding-right: 20px;
      padding: 20px;
      @media screen and (min-width: $breakpoint-lg) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }


  }

}
