// ========================================================
// HERO
// ========================================================
.hero {
  @include block();
  margin-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 0;
  }

  // --------------------------------------------------------
  // Image
  // --------------------------------------------------------
  &__img {
    @include block();
    margin-bottom: 15px;
  }


  // --------------------------------------------------------
  // Callout
  // --------------------------------------------------------
  &__callout {
    @include block();
    background: $pink;
    padding: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
      position: absolute;
      right: 0;
      bottom: 140px;
      min-width: 365px;
      padding-left: 15px;
    }
  }



  // --------------------------------------------------------
  // Title
  // --------------------------------------------------------
  &__title {
    @include block();
    background: $white;
    border: 1px solid $black;
    padding: 15px 10px;
    @media screen and (min-width: $breakpoint-md) {
      outline: 5px solid $white;
      margin-bottom: 0;
      position: absolute;
      right: 0;
      bottom: 40px;
      border-right: none;
      padding: 20px 15px;
      min-width: 360px;
    }
  }



} // .hero
