// ========================================================
// Img - Quote
// ========================================================
.img-quote {
  @include block();
  margin-top: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  &__img {
    @include block();
    margin-bottom: 20px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }



  &__quote {
    @include block();
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 10px 0 15px 0;
    margin-bottom: 20px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }


}
