.real-weddings-btn {
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: 0;
  }

  .btn {
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      display: inline-block;
    }
    &-secondary {
      display: block;
      @media screen and (min-width: $breakpoint-md) {
        display: inline-block;
      }
      a {
        display: block;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
          padding: 11px 40px;
        }
      }
    }
  }


}
