/**
*
* Layout: Two-Column
*
**/

.two-column {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: space-between;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
  }

  &.split-4-5 {

    .column {
      //@include green-bg();
      width: 100%;
      padding: 10px;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-md) {
        padding: 0 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin: 0 10px;
      }
      @media screen and (min-width: 1100px) {
        margin: 0 20px;
      }

      &:first-child {
        margin-left: 0;

        @media screen and (min-width: $breakpoint-lg) {
          max-width: 840px;
        }

      }
      &:last-child {
        margin-right: 0;
        @media screen and (min-width: $breakpoint-lg) {
          max-width: 314px;
        }
      }
    } // .column

  } // .split-4-5

} // .two-column
