// ========================================================
// Wedding Info
// ========================================================
.wedding-info {
  @include block();
  background: $pink;
  padding: 15px 10px;
  margin-top: 15px;
  margin-bottom: 20px;


  p {
    margin-bottom: 0;
    .serif-s {
      margin-right: 5px;
    }

    a {
      font-weight: normal;
      text-decoration: underline;
      color: $taupe;
      @include transition();
      &:hover,
      &:focus,
      &:active {
        color: $black;
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }




}
