.row {
  margin: 0; }

.vera-wang-toppromo {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333; }
  .vera-wang-toppromo a {
    text-decoration: none; }
    .vera-wang-toppromo a:hover {
      text-decoration: none;
      color: #333; }
  .vera-wang-toppromo__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/wcsstore/images/wwcm/banners/Vera-Wang_PLP-toppromo_767x200.jpg");
    background-position: center; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo__bg-img {
        background-image: url("/wcsstore/images/wwcm/banners/Vera-Wang_PLP-toppromo_1600x200.jpg");
        background-position: 30% 0; } }
  .vera-wang-toppromo__svg {
    display: inline-block;
    width: 280px;
    margin: 0 auto 15px; }
    .vera-wang-toppromo__svg-group {
      fill: #333; }
      @media screen and (min-width: 768px) {
        .vera-wang-toppromo__svg-group {
          fill: #fff; } }
  .vera-wang-toppromo__text {
    z-index: 999;
    display: block;
    position: relative;
    clear: both;
    background: #727475;
    text-align: center;
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo__text {
        background: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: calc(35% - 150px);
        width: 300px; } }
    .vera-wang-toppromo__text img {
      margin: 0 auto; }
    .vera-wang-toppromo__text p {
      margin: 0; }
      .vera-wang-toppromo__text p.serif-l {
        margin-bottom: 10px; }
      .vera-wang-toppromo__text p.sans-m {
        margin-bottom: 15px;
        color: #fff;
        margin-top: 10px; }
  .vera-wang-toppromo .sans-bold-uppercase a {
    letter-spacing: 0.055em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo .sans-bold-uppercase a {
        display: none;
        visibility: hidden; } }
    .vera-wang-toppromo .sans-bold-uppercase a:hover, .vera-wang-toppromo .sans-bold-uppercase a:active {
      color: #727278;
      text-decoration: none; }
  .vera-wang-toppromo .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    @media screen and (min-width: 768px) {
      .vera-wang-toppromo .btn {
        display: inline-block; } }
    .vera-wang-toppromo .btn-secondary a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.055em;
      display: inline-block;
      padding: 10px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none;
      min-width: 240px; }
      .vera-wang-toppromo .btn-secondary a:hover, .vera-wang-toppromo .btn-secondary a:active, .vera-wang-toppromo .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .vera-wang-toppromo .btn-secondary a {
          padding: 10px 50px; } }
