.flex-container {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: flex-start;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $breakpoint-md) {

  }
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .column {
    @include block;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    //min-height: 400px;
    //background: rgba(255, 0, 0, 0.1);
    //border: 1px solid rgba(255, 0, 0, 0.25);

    @media screen and (min-width: $breakpoint-lg) {
      &:first-child {
        max-width: 834px;
        margin-right: 20px;
      }
      &:last-child {
        max-width: 320px;
        margin-left: 20px;
      }
    }
  } // .column

} // .flex-container
