article.container {
  padding-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding-left: 10px;
  padding-right: 10px;
  &:not(:last-child) {
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }
  //@include red-bg();
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-right: -5px;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      margin: 5px;
      width: 50%;
    }

    figure {
      display: block;
      position: relative;
      figcaption {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(248,246,240, 0.70);
        padding: 5px;
      }
    }

    h2 {
      margin-bottom: 10px;
      @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 20px;
      }
    }
  } // .column

  .beige-bg {
    background: $cream;
    padding: 20px 20px 10px;
  }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-lg) {
      .sans-m {
        font-size: 15px;
        line-height: 25px; } }
} // .flex
