.jumbotron {
  clear: both;
  display: block;
  position: relative;
  max-width: 1262px;
  margin: 0 auto;

  &__img {
    background: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    z-index: 0;
    background-image: url('/wcsstore/images/wwcm/sfg/military-discount/MilitaryDiscount_ComingSoon_Hero.jpg');
    background-position: right;
  }

  &__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    background: rgba(248, 246, 240, 0.8);
    padding: 20px 10px;
    text-align: center;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: 370px) {
      margin: 0;
      padding: 20px;
      left: 50%;
      width: 350px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media screen and (min-width: $breakpoint-md) {
      width: 580px;
      padding: 20px 20px 25px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 580px;
    }

    h1,
    p {
      display: block;
      width: 100%;
    }
    p {
      margin-bottom: 0;
    }

    h1 {
      max-width: 320px;
      @media screen and (min-width: 375px) {
        max-width: 100%;
      }
    }

    .btn {
      display: block;
      margin: 10px auto 0;
      &-secondary {
        display: block;
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          max-width: 360px;
        }
        a {
          width: 100%;
          @media screen and (min-width: $breakpoint-md) {
            max-width: 360px;
          }
        }
      }
    }
  }

} // .jumbotron
