// ========================================================
// REAL BRIDES UGC
// ========================================================
.real-brides {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px;
  background: #f8f6f0;
  max-width: 100%;
  margin: 30px auto 0;
  @media screen and (min-width: 768px) {
    padding: 30px 10px;
  }

  &__inner {
    max-width: 1262px;
    margin: 0 auto;

    p {
      &.serif-l-italic {
        font-size: 22px;
        text-align: center;
        @media screen and (min-width: 768px) {
          font-size: 28px;
        }
      }
    }
  }


  &__imgs {
    display: flex;
    position: relative;
    clear: both;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-left: -10px;
      margin-right: -10px;
    }

    .column {
      width: 50%;
      padding: 5px;
      position: relative;
      @media screen and (min-width: 500px) {
        width: 25%;
        padding: 5px;
      }
      @media screen and (min-width: 768px) {
        width: 20%;
        padding: 10px;
      }
    }
  }


  &__text {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 100%;
    }

    p {
      &.sans-m {
        padding: 10px 0;
      }
    }
  }


  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    &-pink {
      a {
        background: #f93777;
        color: #fff;
        padding: 11px 50px;
        &:hover,
        &:focus,
        &:active {
          background: #f60756;
        }
      }
    }
  }


} // .real-brides
