<div class="media-block default spacing">
  <a class="media-block-img-wrap" href="#">
    <img class="media-block-img box-shadow" src="http://placehold.it/414x284" alt="">
  </a>
  <div class="media-block-content spacing-half">
    <div class="spacing-half">
      <span class="media-block-content__title serif-m">Lorem Ipsum</span>
    </div>
    <p class="sans-bold-uppercase">
      <a class="media-block-content__cta" href="#">Call To Action&nbsp;&gt;</a>
    </p>
  </div>
</div>
