// ==========================================================================
// Breadcrumbs - Gigya
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 0 0;
  @media screen and (min-width: $breakpoint-md) {
    padding: 5px 0 0 5px;
  }
  // @media screen and (min-width: $breakpoint-lg) {
  //   padding: 0 10px;
  // }

  // &-left {
  //   display: block;
  //   @media screen and (min-width: $breakpoint-md) {
  //     display: inline-block;
  //   }
  // }
  //
  // &-right {
  //   display: block;
  //   @media screen and (min-width: $breakpoint-md) {
  //     display: inline-block;
  //     float: right;
  //   }
  // }

  p.sans-bold-uppercase {
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 11px;
    }
  }
}
