/**
*
* Module: Gifts
*
**/

.gifts {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: stretch;       // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  padding: 30px 0 20px;
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 20px;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $purple-gray;
    @media screen and (min-width: $breakpoint-md) {
      border-bottom: none;
    }
  }

  &:nth-of-type(2) {
    padding: 10px 0 20px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 20px 0 20px;
    }
  }

  &:nth-of-type(5) {
    padding-bottom: 0;
  }


  // Flex Columns
  .col {
    width: 100%;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-width: $breakpoint-md) {
      margin: 0 5px;
    }
    &:first-child {
      background: $pink;
    }

    @media screen and (min-width: $breakpoint-md) {
      &:first-child {
        background: $pink;
        width: 70%;
      }
      &:last-child {
        width: 30%;
      }
    }

    p {
      margin: 0;
    }

    &__caption {
      padding: 10px 15px;
      @media screen and (min-width: $breakpoint-md) {
        padding: 10px 20px 15px;
      }
    }




    figure {
      figcaption {
        display: relative;
        padding: 10px 15px;
        @media screen and (min-width: $breakpoint-md) {
          padding: 10px 20px;
        }
        & .text {
          //margin-top: 10px;
        }
      }
    }



  } // .col


  // Vertical Images
  .flex-vertical {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: stretch;    // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch

    margin: 10px auto;

    @media screen and (min-width: $breakpoint-md) {
      margin: 0 5px;
    }

    &__col {
      width: 100%;
      margin: 5px 0;
      background: $pink;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      figure {
        figcaption {
          padding: 10px;
          & .text {
            margin-top: 10px;
          }
        }
      }
    } // col

  } // .flex-vertical

} // .gifts
