// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.inspiration-guidance {
  //@include blue-bg();
  position: relative;
  padding: 0;
  margin-top: -10px !important;
  .column-full {
    padding: 0;
  }


  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
    margin-bottom: 20px;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      bottom: -34px;
    }
  }

  .layout-split-3 > .column {
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      width: 33.33333%;
      margin-top: 0;
    }
  }

  .description {
    margin-bottom: 5px;
  }

}
