.logos {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: space-between;    // default: flex-start
  align-items: center;           // default: stretch
  align-content: flex-start;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  margin-top: -20px;
  padding: 0 20px 20px;
  text-align: center;

  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    padding: 20px 10px;
  }

  .column {
    width: 100%;
    //border: 1px solid black;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      padding: 0 20px;
    }

    img {
      width: auto;
      max-width: 100%;
    }
  }

  .m-t-10 {
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }

} // .logos
