/**
*
* Layout: Two-Column
*
**/

.two-column {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: flex-start;    // default: flex-start
  align-items: flex-start;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
  }


  &.split-4-5 {

    & > .column {
      //@include green-bg();
      width: 100%;
      padding: 10px 10px 0;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-md) {
        padding: 0 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin: 0 10px;
      }

      &:first-child {
        margin-left: 0;
        //background: rgba(255, 0, 0, 0.1);
      }
      &:last-child {
        margin-right: 0;
        //background: rgba(0, 255, 0, 0.1);
        @media screen and (min-width: $breakpoint-lg) {
          max-width: 353px;
        }
      }
    } // .column

  } // .split-4-5



  .two-column {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: flex-start;    // default: flex-start
    align-items: flex-start;           // default: stretch
    align-content: stretch;         // default: stretch
    max-width: $container-max-width;
    margin: 20px auto 0;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }

    .column {
      //@include red-bg();
      width: 100%;
      //padding: 10px 0;


      &:last-child {
        @media screen and (min-width: $breakpoint-md) {
          padding-left: 20px;
          padding-right: 0px;
        }
        @media screen and (min-width: $breakpoint-xl) {
          padding-right: 30px;
        }
      }


    }

  } // .two-column

} // .two-column


.appt-section {
  padding-bottom: 5px;
  @media screen and (min-width: $breakpoint-md) {
    padding-bottom: 20px;
  }
  &:last-child {
    padding: 0;
  }
  p {
    margin: 0;
    &.serif-s-italic {
      margin-top: 15px;
      margin-bottom: 0;
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 0;
      }
    }
    &.sans-m {
      margin-bottom: 5px;
      margin-top: 10px;
      a {
        font-weight: normal;
        color: $taupe;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active {
          color: $black;
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }
    &.sans-bold-uppercase {
      margin-bottom: 10px;
    }


  }
}
