<article class="content-page rewards">
  <div class="dark-pink">
    <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/DB-Rewards_Hero_580x307.jpg" alt="Bride Wearing Veil Winking Behind Bouquet">
  </div>

  <div class="container light-pink">
    <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/DavidsBridal-Logo.png" alt="David's Bridal Logo">
    <p class="serif-l-italic m-tb-10">Rewards</p>
    <p class="sans-m" style="max-width:500px; margin:0 auto;"><strong>Save up to $1,500</strong> with David's Bridal Rewards,* yours with your wedding gown purchase. Save on all the amazing details your big day deserves, including offers and free gifts from the country's top retailers and wedding-service providers. <a href="/Content_App_weddingapp">Download our app</a> to access your Rewards anytime, anywhere.</p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-m-italic">Savings for the bride</p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save $20</p>
    <p class="serif-m-italic m-t-5 m-b-10">on occasion dresses**</p>
    <p class="sans-bold-uppercase">
      <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save $60</p>
    <p class="serif-m-italic m-t-5 m-b-10">on wedding gown preservation</p>
    <p class="sans-bold-uppercase">
      <a href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save $25</p>
    <p class="serif-m-italic m-t-5 m-b-10">when you spend $100 on personalized decor</p>
    <p class="sans-bold-uppercase">
      <a href="/wedding-decorations/personalized-decorations">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save 30%</p>
    <p class="serif-m-italic m-t-5 m-b-10">on wedding invitations &amp; save the dates</p>
    <p class="sans-bold-uppercase">
      <a href="http://invitations.davidsbridal.com/index.jsp" target="_blank">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save 15%</p>
    <p class="serif-m-italic m-t-5 m-b-10">on shoes**</p>
    <p class="sans-bold-uppercase">
      <a href="/shoes/all-shoes">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="dark-pink m-t">
    <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/DB-Rewards_Hero2_580x307.jpg" alt="Bridesmaids Holding Flowers">
  </div>

  <div class="container light-pink m-t">
    <p class="serif-m-italic">Savings for the wedding party</p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save $20</p>
    <p class="serif-m-italic m-t-5 m-b-10">on bridesmaid dresses**</p>
    <p class="sans-bold-uppercase">
      <a href="/bridesmaid-dresses/all-bridesmaid-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save $10</p>
    <p class="serif-m-italic m-t-5 m-b-10">on junior bridesmaid dresses</p>
    <p class="sans-bold-uppercase">
      <a href="/bridesmaid-dresses/junior-bridesmaid-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save $20</p>
    <p class="serif-m-italic m-t-5 m-b-10">on dresses for the mother of the bride &amp; groom</p>
    <p class="sans-bold-uppercase">
      <a href="/dresses/mother-of-the-bride-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save 15%</p>
    <p class="serif-m-italic m-t-5 m-b-10">on flower girl dresses**</p>
    <p class="sans-bold-uppercase">
      <a href="/dresses/flower-girl-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save $20</p>
    <p class="serif-m-italic m-t-5 m-b-10">on occasion dresses**</p>
    <p class="sans-bold-uppercase">
      <a href="/dresses/all-dresses">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-xxxl">save $25</p>
    <p class="serif-m-italic m-t-5 m-b-10">when you spend $100 on bridal party robes</p>
    <p class="sans-bold-uppercase">
      <a href="/accessories/robes">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-xxxl">save 15%</p>
    <p class="serif-m-italic m-t-5 m-b-10">on shoes**</p>
    <p class="sans-bold-uppercase">
      <a href="/shoes/all-shoes">Shop Now&nbsp;&gt;</a>
    </p>
  </div>

  <div class="container light-pink m-t">
    <p class="serif-l-italic">Savings for the entire wedding</p>
    <p class="btn btn-secondary m-t-20">
      <a href="/Content_SpecialOffers_rewardsvendor" class="sans-bold-uppercase">Details</a>
    </p>
  </div>

  <div class="disclaimers">
    <p>*Please see your David's Bridal Rewards booklet for details and exclusions. Valid in U.S. only.</p>
    <br>
    <p>**Applicable to regular price merchandise only.</p>
  </div>

</article>
