<article class="content-page rewards">
  <div class="dark-pink">
    <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-Hero.jpg" alt="Bridal Party Walking Through Grass">
  </div>

  <div class="container light-pink">
    <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/DavidsBridal-Logo.png" alt="David's Bridal Logo">
    <p class="serif-l-italic m-tb-10">Rewards</p>
    <p class="sans-m" style="max-width:400px; margin:0 auto;"><strong>Save up to $1,500</strong> with offers from our national partners, exclusively for our brides.</p>
  </div>

  <div class="container dark-pink m-t">
    <p class="serif-m-italic">Savings for the entire wedding</p>
  </div>

  <!-- Men's Wearhouse -->
  <div class="m-t">
    <a href="/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_mmc=DavidsBridal-_-DB_Q2REWARDS-_-DB_MWQ2REWARDS-_-Q2REWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-MW_40off">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-MensWearhouse.jpg" alt="Groom and Best Man in Grey Suits">
    </a>
  </div>
  <a href="/BrideGroomCaptureFormView?catalogId=10051&storeId=10052&langId=-1&cm_mmc=DavidsBridal-_-DB_Q2REWARDS-_-DB_MWQ2REWARDS-_-Q2REWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-MW_40off">
    <div class="container light-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-MensWearhouse-Logo.png" alt="Men's Wearhouse Logo">
      <p class="serif-xl">$400 SHOPPING SPREE</p>
      <p class="serif-m-italic m-tb-5">or free rental with 5 paid packages*</p>
      <p class="sans-m">Plus, $40 off every tux or suit rent in your wedding.</p>
    </div>
  </a>

  <!-- The Pros -->
  <div class="m-t">
    <a href="http://www.thepros.com/Landing-Page.aspx?LandingPage=davidsgiftcard&LD=4927&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-ThePros_400off" target="_blank">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-ThePros.jpg" alt="Bride and Groom Kissing on Boat Dock">
    </a>
  </div>
  <a href="http://www.thepros.com/Landing-Page.aspx?LandingPage=davidsgiftcard&LD=4927&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-ThePros_400off" target="_blank">
    <div class="container dark-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-ThePros-Logo.png" alt="The Pros Logo">
      <p class="serif-xxxl">$150 off</p>
      <p class="serif-m-italic m-tb-5">photo, video &amp; DJ**</p>
      <p class="sans-m">$150 off each service when purchased separately.</p>
      <p class="sans-m">Cannot be combined with any other discounts.</p>
      <p class="sans-m">Applicable to new bookings only. Expires 10/31/17.</p>
      <p class="sans-m">Promo code: DB5150REWARDS</p>
    </div>
  </a>


  <!-- Jos. A. Bank -->
  <div class="m-t">
    <a href="https://www.josbankformal.com/create-account?cm_mmc=DavidsBridal-_-DB_Q2REWARDS-_-DB_JABQ2REWARDS-_-Q2REWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-JAB_40off" target="_blank">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-JosABank.jpg" alt="Bride and Groom Smiling at Each Other">
    </a>
  </div>
  <a href="https://www.josbankformal.com/create-account?cm_mmc=DavidsBridal-_-DB_Q2REWARDS-_-DB_JABQ2REWARDS-_-Q2REWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-JAB_40off" target="_blank">
    <div class="container light-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-JosABank-Logo.png" alt="Jos A Bank Logo">
      <p class="serif-l">$40 OFF EACH TUXEDO RENTAL</p>
      <p class="serif-s-italic m-tb-5">plus, a free tuxedo rental with 5 paid rentals***</p>
      <p class="sans-m">To redeem, present code in store. Restrictions and conditions apply. See davidsbridal.com/beyondthedress for full terms. Expires 3/15/2018.</p>
    </div>
  </a>


  <!-- Shutterfly -->
  <div class="m-t">
    <a href="http://www.shutterfly.com/davidsbridal?cid=DBRDREWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-Sfly_freePhotoBook" target="_blank">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-Shutterfly.jpg" alt="Wedding Album and Wedding Picture in Frame">
    </a>
  </div>
  <a href="http://www.shutterfly.com/davidsbridal?cid=DBRDREWARDS&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-Sfly_freePhotoBook" target="_blank">
    <div class="container dark-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-Shutterfly-Logo.png" alt="Shutterfly Logo">
      <p class="serif-xxxl">free photo book</p>
      <p class="m-tb-5">
        <span class="serif-m-italic">$39 value </span>
        <sup class="sans-m">&dagger;</sup>
      </p>
      <p class="sans-m" style="max-width:460px; margin:0 auto;">Turn the photos you love into 8&quot;x11&quot; engagement photo book, guest book, or wedding album with Shutterfly</p>
      <p class="sans-m" style="max-width:480px; margin:0 auto;">To redeem, visit shutterfly.com/davidsbridal and use the promotion code printed on the back cover of your rewards booklet.</p>
      <p class="sans-m">Offer valid through 12/31/2017.</p>
    </div>
  </a>


  <!-- Helzberg Diamonds -->
  <div class="m-t">
    <a href="https://www.helzberg.com/category/wedding/bands.do?utm_campaign=engagement&utm_medium=display&utm_source=davidsbridal&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-Helzberg_150off" target="_blank">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-HelzbergDiamonds.jpg" alt="Various Stacked Diamond Rings">
    </a>
  </div>
  <a href="https://www.helzberg.com/category/wedding/bands.do?utm_campaign=engagement&utm_medium=display&utm_source=davidsbridal&cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-Helzberg_150off" target="_blank">
    <div class="container light-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-HelzbergDiamonds-Logo.png" alt="Helzberg Diamonds Logo">
      <p class="serif-xxxl">$150 off</p>
      <p class="m-tb-5">
        <span class="serif-m-italic">your purchase of $800 or more</span>
        <sup class="sans-m">&dagger;&dagger;</sup>
      </p>
      <p class="sans-m" style="max-width:500px; margin:0 auto;">Visit Helzberg Diamonds to find the perfect wedding bands to complement your new life together. Use promo code ZY.</p>
      <p class="sans-m" style="max-width:500px; margin:0 auto;">Offer valid 10/31/17. This offer is good in-store and online at helzberg.com Not valid at Helzberg Diamond Outlet stores. Some exclusions may apply.</p>
    </div>
  </a>


  <!-- Easy NameChange -->
  <div class="m-t">
    <a href="http://www.easynamechange.com/davids?cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-ENC_25off" target="_blank">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-EasyNameChange.jpg" alt="Groom Kissing Bride on Cheek">
    </a>
  </div>
  <a href="http://www.easynamechange.com/davids?cm_sp=WS_PartnerRewards-_-2017Q2PartnerRewards-_-ENC_25off" target="_blank">
    <div class="container dark-pink">
      <img src="/wcsstore/images/wwcm/specialoffers/dbrewards/VendorRewards-EasyNameChange-Logo.png" alt="easynamechange.com Logo">
      <p class="serif-xxxl">25% off</p>
      <p class="serif-m-italic m-tb-5">your name change kit</p>
      <p class="sans-m">Use code DBREWARDS to save 25% on an unlimited kit. Just sign &amp; send!</p>
      <p class="sans-m">Visit easynamechange.com/davids to redeem.</p>
    </div>
  </a>


  <div class="disclaimers">
    <p>ALL OFFERS ARE VOID WHERE PROHIBITED.</p>
    <br>
    <p>*$400 Shopping Spree or Free Rental With 5 Paid Packages: You must present this coupon in-store or enter your coupon code online to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings. Online reservations do not require a deposit, however, in-store reservations require placement of the group rental deposit of $40 (“Deposit”). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie, and rental jewelry) or suit rental packages (which must include coat and pants, rental shirt, and rental vest) (“Rental Package”), choose between (1) retail offer of $400 shopping credit on a single retail purchase except shoes, Exceptional Value and custom items, OR (2) rental offer of one free Rental Package, with a maximum value of $239.99. With 10 paid Rental Packages, select an additional free Rental Package. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages. Retail offer discount will be applied to the regular price of applicable items; may be used once; any unused portion of the credit shall be forfeited; and may not be redeemed for cash or credit or on alterations, rental product, engraveables, gift cards and is not redeemable online. If returning items purchased with the retail offer, you will forfeit the amount of the coupon applied to those items; the Men’s Wearhouse return policy will apply to the remainder of the purchase. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Perfect Fit® rewards program discount; and may not be redeemed for cash or credit. Offer does not apply to Joseph & Feiss boys’ suit rentals, Calvin Klein 1865, CK 1870, Joseph & Feiss 1191, J&F 1872, J&F 1974 and Wilke-Rodriguez 1892 tuxedo rental packaged styles. Other restrictions apply. See store for complete details. Expires 3/15/18.</p>
    <br>
    <p>**Cannot be combined with any other discounts. Applicable to new bookings only. Expires on 3/15/18.</p>
    <br>
    <p>***$40 Off Each Tuxedo Rental Plus, a Free Tuxedo Rental. You must present this coupon in-store to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings and upon placement of the group rental deposit of $40 ("Deposit"). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry) ("Rental Package"), choose between (1) retail offer of up to $500 off one regular-priced retail tuxedo, OR (2) rental offer of one free Rental Package, which must be the same coat and pants style as the paid Rental Packages, with a maximum value of $229.99. With 10 paid Rental Packages, select an additional free Rental Package of the same coat and pants style. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages; alterations, taxes, and optional retail items cost extra for retail offer. Retail offer not valid on shoes or custom items. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Bank Account(tm) rewards program discount; may not be redeemed for cash or credit; and is not redeemable online. Offer does not apply to Joseph & Feiss boys' suit rentals. Other restrictions apply. See store for complete details. Expires 3/15/18.</p>
    <br>
    <p>&dagger;$40 Off Each Tuxedo Rental Plus, a Free Tuxedo Rental. You must present this coupon in-store to receive $40 off each rental package for your wedding party. This offer is valid only on new wedding bookings and upon placement of the group rental deposit of $40 ("Deposit"). With 5 paid tuxedo rental packages (which must include coat and pants, rental shirt, rental tie and cummerbund or retail tie and rental jewelry) ("Rental Package"), choose between (1) retail offer of up to $500 off one regular-priced retail tuxedo, OR (2) rental offer of one free Rental Package, which must be the same coat and pants style as the paid Rental Packages, with a maximum value of $229.99. With 10 paid Rental Packages, select an additional free Rental Package of the same coat and pants style. Fees, taxes, and additional/upgraded and/or retail items cost extra on Rental Packages; alterations, taxes, and optional retail items cost extra for retail offer. Retail offer not valid on shoes or custom items. The couple must select retail or rental offer at time of new booking; offer selection is final and subject to change or discontinuation without notice. Offer may not be combined with other discounts or offers, including Bank Account(tm) rewards program discount; may not be redeemed for cash or credit; and is not redeemable online. Offer does not apply to Joseph & Feiss boys' suit rentals. Other restrictions apply. See store for complete details. Expires 3/15/18.</p>
    <br>
    <p>&dagger;&dagger;Use Promo Code ZY at check out. Offer valid through 10/31/17. May not be used on clearance items, pre-owned items, Helzberg Diamonds gift cards, trade-ins/break-ups, Swarovski, Lladro, Waterford, WOW items, Limited Edition items, Juno Lucina, loose diamonds from Create Your Own Helzberg Diamond ring, Care Plans, repairs and appraisal servicess. Cannot be used in combination with any other offer including Expressions free bracelet offer, military discount, Customer Appreciation Certificates, watch discount or credit card reissue offer. Layaway and special orders must be picked up by 9/30/17 to qualify. Offer has no cash value and cannot be used as payment on account or for past purchases. Not valid at Helzberg Diamonds Outlet stores.</p>
  </div>

</article>
