.coordinate-your-day {
  clear: both;
  display: block;
  width: 100%;
  padding: 20px 0;

  .column-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: -5px;
    margin-right: -5px;
  }

  .section-minor-heading {
    display: block;
    border-bottom: 1px solid #c1c1c1;
    margin: 20px 5px;

    .serif-m-italic {
      margin: 0;
    }

    &__heading {
      display: inline-block;
      padding: 0 10px 0px 0;
      background: #fff;
      bottom: -7px;
      position: relative;
    }
  }


  .layout-split-4 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    & > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 50%;
      @media screen and (min-width: 768px) {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%;
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(2n+1) {
          clear: none;
        }
      }

      @media screen and (min-width: 1024px) {
        float: left;
        display: block;
        margin-right: 0;
        width: 25%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 0;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

    } //.column

    & > .column:last-child {
      margin-right: 0;
    }

  } // .layout-split-4


} // .coordinate-your-day


  .coordinate-your-day .spacing > * + * {
    margin-top: 5px; }
  @media screen and (min-width: 64em) {
    .coordinate-your-day .spacing > * + * {
      margin-top: 10px; } }
  .coordinate-your-day [class^=layout-] > .column {
    padding-left: 5px;
    padding-right: 5px; }
  @media screen and (min-width: 1024px) {
    .coordinate-your-day [class^=layout-] > .column {
      padding-left: 5px;
      padding-right: 5px; } }


    .coordinate-your-day .media-block-content .sans-bold-uppercase {margin-top: 10px; margin-bottom: 20px;}
