.links {
  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: flex-start;      // default: flex-start
  align-items: stretch;                // default: stretch
  align-content: stretch;              // default: stretch
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  & .column {
    width: 100%;
    text-align: center;
    border-top: 1px solid #c1c1c1;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }

    p {
      margin: 0;
    }
  }
}
