.page-heading {

  p.serif-m {

    .sans-bold-uppercase a {
      font-weight: bold !important;
      display: block;
      margin-top: 3px;
      @media screen and (min-width: 768px) {
        display: inline;
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }
}
