.swatch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;                 // default: row
  flex-wrap: wrap;                     // default: nowrap
  justify-content: flex-start;      // default: flex-start
  align-items: stretch;                // default: stretch
  align-content: stretch;              // default: stretch
  padding-bottom: 30px;
  margin-left: -10px;
  margin-right: -10px;


  // Safari fix
  &:before,
  &:after {
    content: normal;
  }


  &-container {
    //@include green-bg();
    position: relative;
    text-align: center;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    @media screen and (min-width: 768px) {
      width: 12.5%;
    }
    @media screen and (min-width: 1024px) {
      width: 10%;
    }


    &__svg {
      // background: rgba(255, 0, 0, 0.1);
      // border: 1px solid rgba(255, 0, 0, 0.3);
      & svg {
        display: block;
        width: 100%;
        height: 100%;
      }
      & img {
        display: block;
      }
    }

    &__copy {
      // background: rgba(0, 0, 255, 0.1);
      // border: 1px solid rgba(0, 0, 255, 0.3);
    }
  }


  a {
    transition: all 0.3s ease;
    &:hover p {
      color: #727278;
    }
  }

  p {
    transition: all 0.3s ease;
    margin: 0;
    &:first-child {
      margin-top: 10px;
    }

    &.sans-bold-uppercase {
      font-size: 9px;
      line-height: 12px;
      @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &.sans-xxs {
      font-size: 9px;
      line-height: 12px;
      font-weight: bold;
      text-transform: none;
      margin-top: 2px;
      @media screen and (min-width: 768px) {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  img {
    width: 100%;
  }

}



.petal {
  fill: #F9DFD5; }

.ballet {
  fill: #EAADAD; }

.quartz {
  fill: #B29297; }

.tickled {
  fill: #F9C3D0; }

.begonia {
  fill: #D80D86; }

.apple {
  fill: #981C41; }

.chianti {
  fill: #AB5568; }

.sienna {
  fill: #D94514; }

.watermelon {
  fill: #C73765; }

.wine {
  fill: #692640; }

.sangria {
  fill: #710C4C; }

.raspberry {
  fill: #862A77; }

.bellini {
  fill: #FBBEA7; }

.coralreef {
  fill: #F48788; }

.punch {
  fill: #F52B56; }

.guava {
  fill: #F05364; }

.canary {
  fill: #FFEBA8; }

.sunflower {
  fill: #FADA0C; }

.persimmon {
  fill: #E23E21; }

.mint {
  fill: #C3E5DA; }

.meadow {
  fill: #98B5A1; }

.clover {
  fill: #5D9468; }

.juniper {
  fill: #205241; }

.spa {
  fill: #80CECC; }

.pool {
  fill: #76C6D5; }

.malibu {
  fill: #00B2D1; }

.oasis {
  fill: #00839B; }

.capri {
  fill: #A5D5EB; }

.iceblue {
  fill: #92B1D7; }

.horizon {
  fill: #004B99; }

.marine {
  fill: #0D3862; }

.iris {
  fill: #d8cfe7; }

.bouquet {
  fill: #B68FB3; }

.wisteria {
  fill: #906C8D; }

.regency {
  fill: #472F92; }

.lapis {
  fill: #4B3457; }

.plum {
  fill: #470040; }

.ivory {
  fill: #F2EEEA; }

.champagne {
  fill: #D0BEA5; }

.portobello {
  fill: #806C6D; }

.truffle {
  fill: #473336; }

.mystic {
  fill: #909A9C; }

.mercury {
  fill: #7A7D7D; }

.pewter {
  fill: #595C68; }

.black {
  fill: #040A05; }

.steel-blue {
  fill: #496782; }

.cobalt {
  fill: #1c3061; }

.morning-glory {
  fill: #33549d; }

.graphite {
  fill: #525252; }

.biscotti {
  fill: #CAB6AC; }

.cherry {
  fill: #CE2145; }

.sunbeam {
  fill: #F6CE4C; }

.tangerine {
  fill: #f2822f; }

.emerald {
  fill: #019074; }

.pool {
  fill: #76C6D5; }

.cornflower {
  fill: #46A5DF; }

.pacific {
  fill: #1C83B1; }

.hydrangea {
  fill: #CBB2D8; }

.angel {
  fill: #F6F1EF; }


/*VERA WANG COLORS*/
.amethyst {
  fill: #42264f; }

.blush {
  fill: #e0cbc8; }

.cassis {
  fill: #cb5cb8; }

.charcoal {
  fill: #645f64; }

.ebony {
  fill: #000004; }

.forest {
  fill: #394e4d; }

.ivory {
  fill: #FAF6ED; }

.midnight {
  fill: #292f48; }

.mist {
  fill: #A5C2D0; }

.sterling {
  fill: #9FA4AE; }

.stone {
  fill: #c1b4a6; }

.sunset {
  fill: #dc8b86; }

.valentina {
  fill: #ef1128; }

.vwchampagne {
  fill: #d8c9bf; }

.cameo{
  fill: #CFBBB9; }

.grey {
  fill: #737279; }

.parfait {
  fill: #FF9C9E; }

.tealblue {
  fill: #6DA5AD; }

.olive{
  fill: #778151; }
