.top-banner {
  max-width: 1242px;
  position: relative;
  text-align: center;
  padding: 20px;
  transition: height 0.2s ease;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  background: #cf6464;
  background-image: url('/wcsstore/images/wwcm/sfg/colormain/ColorChart_TopBanner_768x200.jpg');
  height: 200px;


  @media screen and (min-width: 768px) {
    background-image: url('/wcsstore/images/wwcm/sfg/colormain/ColorChart_TopBanner_1262x200.jpg');
  }

  p {
    margin: 0;
    color: #fff;
    &:nth-child(2) {
      margin-top: 6px;
      margin-bottom: 12px;
    }
  }

  &__copy {
    //@include green-bg();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 110px;

    @media screen and (min-width: 768px) {
      left: 380px;
    }

  }
}
