.db-events-banner {
  display: block;
  position: relative;
  height: 200px;
  margin: 20px auto;
  max-width: 1262px;
  width: 100%; }
  .db-events-banner__inner {
    background: #efbfbb;
    background-image: url("/wcsstore/images/wwcm/homepage/events_banner_hp_03102018.jpg");
    background-position: 35% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%; }
  .db-events-banner__text {
    display: block;
    padding: 0 20px;
    position: absolute;
    right: calc(35% - 100px);
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .db-events-banner p {
    color: #333;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px; }
