$color: #F93777;
$hover: #c20b64;


#add2CartBtn {
  transition: all 0.3s ease;

  p.sans-bold-uppercase {
    background-color: $color;
    transition: all 0.3s ease;

    span.btn-label {
      background-color: $color;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    p.sans-bold-uppercase {
      background-color: $hover;

      span.btn-label {
        background-color: $hover;
      }
    }
  }

}


#makeApptBtn {
  transition: all 0.3s ease;

  p.sans-bold-uppercase {
    background-color: #52535a;
    transition: all 0.3s ease;

    span.btn-label {
      background-color: #52535a;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    p.sans-bold-uppercase {
      background-color: #333;

      span.btn-label {
        background-color: #333;
      }
    }
  }

}


.detail__actions-group {
  .btn-primary {
    transition: all 0.3s ease !important;
    .btn-link {
      padding: 5px !important;
    }
    .btn-label {
      border: none !important;
    }

    &:hover,
    &:focus,
    &:active {
      .btn-link {
        padding: 5px !important;
        transition: all 0.3s ease !important;
      }
      .btn-label {
        border: none !important;
        transition: all 0.3s ease !important;
      }
    }
  }
}
