@media screen and (min-width: 1024px) {
  #add2CartBtn p.sans-bold-uppercase {
    color: #fff;
    background-color: #F93777;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #add2CartBtn p.sans-bold-uppercase span.btn-label {
      color: #fff;
      background-color: #F93777;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #add2CartBtn:hover p.sans-bold-uppercase {
    color: #fff;
    background-color: #c20b64; }
    #add2CartBtn:hover p.sans-bold-uppercase span.btn-label {
      color: #fff;
      background-color: #c20b64; } }
