$color: #F93777;
$hover: #c20b64;

@media screen and (min-width: 1024px) {
  #add2CartBtn {

    p.sans-bold-uppercase {
      color: #fff;
      background-color: $color;
      transition: all 0.3s ease;

      span.btn-label {
        color: #fff;
        background-color: $color;
        transition: all 0.3s ease;
      }
    }

    &:hover {
      p.sans-bold-uppercase {
        color: #fff;
        background-color: $hover;

        span.btn-label {
          color: #fff;
          background-color: $hover;
        }
      }
    }

  }
}
