#add2CartBtn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #add2CartBtn p.sans-bold-uppercase {
    background-color: #F93777;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #add2CartBtn p.sans-bold-uppercase span.btn-label {
      background-color: #F93777;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #add2CartBtn:hover p.sans-bold-uppercase {
    background-color: #c20b64; }
    #add2CartBtn:hover p.sans-bold-uppercase span.btn-label {
      background-color: #c20b64; }

#makeApptBtn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #makeApptBtn p.sans-bold-uppercase {
    background-color: #52535a;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #makeApptBtn p.sans-bold-uppercase span.btn-label {
      background-color: #52535a;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #makeApptBtn:hover p.sans-bold-uppercase {
    background-color: #333; }
    #makeApptBtn:hover p.sans-bold-uppercase span.btn-label {
      background-color: #333; }

.detail__actions-group .btn-primary {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important; }
  .detail__actions-group .btn-primary .btn-link {
    padding: 5px !important; }
  .detail__actions-group .btn-primary .btn-label {
    border: none !important; }
  .detail__actions-group .btn-primary:hover .btn-link, .detail__actions-group .btn-primary:focus .btn-link, .detail__actions-group .btn-primary:active .btn-link {
    padding: 5px !important;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important; }
  .detail__actions-group .btn-primary:hover .btn-label, .detail__actions-group .btn-primary:focus .btn-label, .detail__actions-group .btn-primary:active .btn-label {
    border: none !important;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important; }
