<style>
.complete-your-day {
  max-width: 1282px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .complete-your-day {
      padding: 0; } }
  .complete-your-day .column-full {
    padding: 0; }
  .complete-your-day .spacing > * + * {
    margin-top: 0; }
  .complete-your-day .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .complete-your-day .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .complete-your-day .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: #ffffff;
    bottom: -7px;
    position: relative; }
  .complete-your-day .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .complete-your-day .article__teaser-list {
        margin-top: 5px; } }
    .complete-your-day .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .complete-your-day .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .complete-your-day .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .complete-your-day .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .complete-your-day .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .complete-your-day .layout-split-4 {
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .complete-your-day .layout-split-4 > .column {
      margin-top: 10px;
      margin-bottom: 10px; }
      .complete-your-day .layout-split-4 > .column:nth-child(1) {
        margin-top: 0; }
      @media screen and (min-width: 768px) {
        .complete-your-day .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0;
          width: 25%; }
          .complete-your-day .layout-split-4 > .column:nth-child(1) {
            margin-top: 10px; } }
      @media screen and (min-width: 1024px) {
        .complete-your-day .layout-split-4 > .column {
          float: left;
          clear: none;
          display: block;
          margin-right: 0;
          width: 25%;
          margin-top: 10px; } }

</style>

<section class="complete-your-day" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/unity-and-sand-ceremony-sets">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2017/decor/2017refresh_decor_complete1.jpg" alt="Sand Unity Ceremony for Wedding">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Unity Ceremony</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/unity-and-sand-ceremony-sets">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-guest-book">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2017/decor/2017refresh_decor_complete2_desktop.jpg" alt="White Lace Wedding Guest Book">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Guest Books</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-guest-book">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-decorations/personalized-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/fall2018_decor_personalized.jpg" alt="Gold frame holding a black sign with white writing welcoming guests to a wedding">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Personalized Decor</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-decorations/personalized-decorations">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-decorations/wedding-favors">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/gifts/fall2018_complete_cards.jpg" alt="Personalized playing cards in a clear case">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Favors</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-decorations/wedding-favors">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
