<section class="espot-container three-across" data-analytics-tagging="Favors-BacheloretteParty-Groomsmen">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-gifts/groomsmen-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/groomsmen-gifts.jpg" alt="custom groomsmen decanters" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Groomsmen Gifts</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-gifts/groomsmen-gifts">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-decorations/wedding-favors">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/wedding-favors.jpg" alt="Edible Wedding Favor Candy" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Favors from $1 Each</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-decorations/wedding-favors">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/bachelorette-party-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/bachelorette-party.jpg" alt="Bachelorette Party Shirts" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Bachelorette Party</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/bachelorette-party-gifts">Shop Now&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>      

  </div>
</section>
