<section class="espot-container three-across" data-analytics-tagging="RobesApparel-Totes-Invitations">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/wedding-robes-clothing-gifts">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/robes-apparel.jpg" alt="Woke Up Married Sleep Shirt" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Robes & Apparel</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-robes-clothing-gifts">Shop Now&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/totes-and-cosmetic-bags">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/totes-cosmetic-bags.jpg" alt="Sequined Maid of Honor Cosmetic Case" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Totes & Cosmetic Cases</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/totes-and-cosmetic-bags">Shop All&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666678891011153245326511010032105116391153270114101101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Yes - And it's Free&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decoration-gifts/personalized-gifts.jpg" alt="Blue Personalized Wedding Invitations" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Personalized Gifts</h3>
          </div>
          <p class="cta_space">
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:3074457345616666678891011153245326511010032105116391153270114101101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Yes - And it's Free&">Shop Now With Free Personalization&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
