<style media="screen">
.invitations-banner {
  margin-top: 30px;
}
.invitations-banner a:hover {
  color: #333; }

.invites-banner {
  max-width: 1262px;
  margin: 30px auto 30px;
  background-color: #fbcfd0;
  position: relative;
  text-align: center;a
  height: 160px; }
  @media screen and (min-width: 500px) {
    .invites-banner {
      margin: 30px auto;
      height: 160px; } }
  @media screen and (min-width: 768px) {
    .invites-banner {
      margin: 30px auto;
      height: 200px;
      background-image: url("/wcsstore/images/wwcm/homepage/DBHP-banner-invitations_1262x200_5WEDINVITES.jpg");
      background-position: 55% 0; } }
  @media screen and (min-width: 1024px) {
    .invites-banner {
      background-position: center; } }
  .invites-banner .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .invites-banner .serif-l-italic {
      font-size: 36px;
      line-height: 40px; } }
  .invites-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .invites-banner .sans-m {
      font-size: 18px;
      line-height: 24px; } }
  .invites-banner .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .invites-banner .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .invites-banner .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none !important;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .invites-banner .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .invites-banner .sans-m-bold-uppercase a,
  .invites-banner .sans-m-bold-uppercase a:visited {
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial; }
  .invites-banner .sans-m-bold-uppercase a:hover {
    color: #74736d;
    text-decoration: none; }
  .invites-banner__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media screen and (min-width: 768px) {
      .invites-banner__inner {
        left: 0%; } }
  .invites-banner__text {
    padding: 40px 0 0; }
    @media screen and (min-width: 768px) {
      .invites-banner__text {
        padding: 50px 0 0; } }
    @media screen and (min-width: 1024px) {
      .invites-banner__text {
        padding: 55px 0 0; } }
  .invites-banner__headline {
    padding: 12px 0 0; }
    @media screen and (min-width: 768px) {
      .invites-banner__headline {
        padding: 16px 0 0; } }
  .invites-banner__subheadline {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .invites-banner__subheadline {
        display: inline-block;
        padding: 8px 0 0; } }
  .invites-banner__subheadline2 {
    padding: 10px 0 0; }
    @media screen and (min-width: 768px) {
      .invites-banner__subheadline2 {
        display: block;
        padding: 8px 0 0;
		padding-bottom: 10px;} }
    @media screen and (min-width: 1024px) {
      .invites-banner__subheadline2 {
        padding-bottom: 10px;
		display: block; } }
    .invites-banner__subheadline2 .divider {
      display: none; }
      @media screen and (min-width: 1024px) {
        .invites-banner__subheadline2 .divider {
          display: block; } }

</style>
<section class="invitations-banner" data-analytics-tagging="Invites Banner">
  <a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank" aria-label="Get 25% off your wedding invites">
    </a><div class="invites-banner mobile-hidden"><a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank" aria-label="Get 25% off your wedding invites">
      </a><div class="invites-banner__inner"><a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank" aria-label="Get 25% off your wedding invites">
        </a><div class="invites-banner__text"><a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank" aria-label="Get 25% off your wedding invites">
          <div class="invites-banner_headline">
            <p class="serif-m-italic" style="display:inline-block; max-width:470px; margin-top:-30px;">Get 25% off your<br>wedding invitations order</p><br><p class="sans-m">at The Wedding Shop by Shutterfly</p>
          </div>
          <div class="invites-banner__subheadline2">
            <p class="sans-m">Promo Code: <b style="font-weight:bold !important;">DB25SAVING</b></p>
          </div>
		</a><div class="promo-banner4__cta sans-bold-uppercase"><a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank" aria-label="Get 25% off your wedding invites">
          </a><a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank">Shop Now&nbsp;&gt;</a>
        </div>
        </div>

      </div>
    </div>


<div class="desktop-hidden tablet-hidden" style="max-width:1110px; text-align:center; margin-bottom:30px;">
	<span data-alt="Invitations">
		<a href="http://www.pntrs.com/t/2-322578-162709-162580" target="_blank">
		<img src="/wcsstore/images/wwcm/homepage/DBHP-banner-invitations_737x300_DB25SAVING.gif" alt="">
		<!--[if (lt IE 9) & (!IEMobile)]>
			<span data-src="/"></span>
		<![endif]-->
		<noscript>
			&lt;img src="/wcsstore/images/wwcm/homepage/DBHP-banner-invitations_737x300_DB25SAVING.gif" alt=""&gt;
		</noscript>
		</a>
	</span>
</div>

</section>
