html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }
  .content-page .container, .content-page .container-full {
    display: block;
    position: relative;
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
    .content-page .container-full {
      max-width: 1600px; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.section-heading {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0; }

.flex {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 1262px;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%; }
  .flex.two-column .column {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .flex.two-column .column {
        width: 50%; } }
  .flex .media-block-content p {
    display: block;
    margin-top: 1rem;
    margin-bottom: .85rem; }
    @media screen and (min-width: 1024px) {
      .flex .media-block-content p {
        display: inline-block;
        margin-right: 10px; } }

.breadcrumbs {
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%; }
  .breadcrumbs p {
    display: block;
    margin: 0 auto;
    max-width: 1262px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    width: 100%; }
  .breadcrumbs .sans-bold-uppercase {
    margin-bottom: 0;
    padding-left: 10px; }
    @media screen and (min-width: 1262px) {
      .breadcrumbs .sans-bold-uppercase {
        padding-left: 0; } }

.hero__img {
  background: #fad5ce;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbd9d3), to(#fad5ce));
  background-image: linear-gradient(to right, #fbd9d3, #fad5ce);
  display: block; }
  @media screen and (min-width: 768px) {
    .hero__img {
      padding-top: 50px; } }
  @media screen and (min-width: 1024px) {
    .hero__img {
      padding-top: 20px; } }

.hero__text {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .hero__text {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 0;
      left: 40%; } }
  @media screen and (min-width: 1024px) {
    .hero__text {
      padding-left: 0;
      padding-right: 0;
      left: 45%;
      right: 5%; } }
  @media screen and (min-width: 1300px) {
    .hero__text {
      left: 50%;
      right: 10%; } }
  .hero__text-logo {
    display: block;
    width: 300px;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .hero__text-logo {
        width: 344px; } }
  .hero__text svg {
    margin-bottom: 5px; }
  .hero__text .serif-s-italic {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .hero__text .serif-s-italic {
        max-width: 100%; } }

.hero .serif-xl {
  font-size: 26px;
  line-height: 1; }

@media screen and (min-width: 1024px) {
  .hero .serif-xl {
    font-size: 36px;
    line-height: 40px; } }

.hero .serif-l {
  font-size: 22px;
  line-height: 26px; }

@media screen and (min-width: 1024px) {
  .hero .serif-l {
    font-size: 28px;
    line-height: 36px; } }

.hero .serif-s-italic {
  font-size: 16px;
  line-height: 20px; }

@media screen and (min-width: 1024px) {
  .hero .serif-s-italic {
    font-size: 20px;
    line-height: 24px; } }

.hero .sans-m {
  font-size: 13px;
  line-height: 20px; }

@media screen and (min-width: 1024px) {
  .hero .sans-m {
    font-size: 15px;
    line-height: 24px; } }

.rewards-banner {
  background: #f93777;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .rewards-banner {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .rewards-banner p {
    width: 100%; }
    @media screen and (min-width: 1262px) {
      .rewards-banner p {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        width: auto; } }
    .rewards-banner p.text-reverse {
      color: white; }
      .rewards-banner p.text-reverse a {
        color: white; }
        .rewards-banner p.text-reverse a:hover, .rewards-banner p.text-reverse a:active {
          color: #c1c1c1; }
    .rewards-banner p.sans-bold-uppercase.text-reverse a {
      color: white; }
      .rewards-banner p.sans-bold-uppercase.text-reverse a:hover, .rewards-banner p.sans-bold-uppercase.text-reverse a:active {
        color: #c1c1c1; }
  .rewards-banner__heading {
    max-width: 240px;
    margin-bottom: 10px; }
    @media screen and (min-width: 400px) {
      .rewards-banner__heading {
        max-width: 100%; } }
    @media screen and (min-width: 1024px) {
      .rewards-banner__heading {
        margin-bottom: 5px; } }
  @media screen and (min-width: 768px) {
    .rewards-banner__subheading {
      margin-bottom: 10px; } }
  .rewards-banner__btn {
    margin-bottom: 15px; }
    .rewards-banner__btn.btn-secondary a {
      padding-left: 50px;
      padding-right: 50px; }
  .rewards-banner__cta {
    margin-bottom: 0; }

.find-your-match {
  background: #ffe6e3;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .find-your-match {
      margin-top: 20px;
      margin-bottom: 20px; } }
  .find-your-match__img {
    display: none;
    background-color: #edbfbf; }
    @media screen and (min-width: 768px) {
      .find-your-match__img {
        display: none; } }
  .find-your-match__background {
    display: block;
    background-color: #edbfbf;
    background-image: url("/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly_Find-Your-Match-Mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px; }
    @media screen and (min-width: 768px) {
      .find-your-match__background {
        display: block;
        background-image: url("/wcsstore/images/wwcm/sfg/shutterfly/Shutterfly_Find-Your-Match.jpg");
        background-position: 10% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 230px; } }
    @media screen and (min-width: 1024px) {
      .find-your-match__background {
        height: 250px; } }
  .find-your-match__text {
    background: #ffe6e3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .find-your-match__text {
        background: none;
        padding: 0;
        position: absolute;
        right: 10px;
        left: 42.5%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    @media screen and (min-width: 1024px) {
      .find-your-match__text {
        left: 40%; } }
    @media screen and (min-width: 1262px) {
      .find-your-match__text {
        left: 45%; } }
    .find-your-match__text img {
      display: inline-block;
      float: left;
      width: 40px;
      max-width: 100%;
      margin-right: 5px; }
      @media screen and (min-width: 1024px) {
        .find-your-match__text img {
          margin-right: 10px; } }
  .find-your-match__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
    @media screen and (min-width: 1024px) {
      .find-your-match__heading {
        padding-bottom: 5px; } }
  .find-your-match__step {
    display: block;
    clear: both;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .find-your-match__step {
        max-width: 100%;
        margin-bottom: 3px; } }
    @media screen and (min-width: 1024px) {
      .find-your-match__step {
        margin-bottom: 5px; } }
  .find-your-match .serif-m-italic {
    font-size: 18px;
    line-height: 22px; }
  @media screen and (min-width: 1024px) {
    .find-your-match .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .find-your-match .sans-m {
    font-size: 13px;
    line-height: 20px; }
  @media screen and (min-width: 1024px) {
    .find-your-match .sans-m {
      font-size: 15px;
      line-height: 24px; } }

.palette {
  display: block;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #eeeeee; }
  .palette:last-of-type {
    border-bottom: none; }
  .palette__heading p {
    display: block; }
    @media screen and (min-width: 768px) {
      .palette__heading p {
        display: inline-block; } }
    @media screen and (min-width: 768px) {
      .palette__heading p.sans-m {
        margin-left: 10px;
        margin-right: 10px; } }
    .palette__heading p a {
      margin-left: 10px;
      margin-right: 10px; }
  .palette__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .palette__flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .palette__item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 50%; }
    @media screen and (min-width: 600px) {
      .palette__item {
        width: 33.33333%; } }
    @media screen and (min-width: 768px) {
      .palette__item {
        width: 25%; } }
    @media screen and (min-width: 1024px) {
      .palette__item {
        width: 16.66667%; } }
    .palette__item svg {
      margin-bottom: 5px;
      max-width: 140px; }
    .palette__item img {
      margin-bottom: 5px;
      max-width: 100%;
      width: auto; }
    .palette__item .sans-bold-uppercase {
      margin-bottom: 5px; }
    .palette__item .sans-xs {
      margin-bottom: 0; }
  .palette .img-circle {
    border-radius: 50%; }
  .palette .has-check {
    display: inline;
    position: relative;
    padding-left: 16px; }
    @media screen and (min-width: 768px) {
      .palette .has-check {
        padding-left: 20px; } }
    .palette .has-check::before {
      background-image: url("/wcsstore/images/wwcm/sfg/shutterfly/check-mark-icon.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      content: " ";
      display: inline-block;
      height: 12px;
      left: 0;
      margin-right: 5px;
      position: absolute;
      text-align: center;
      top: 2px;
      width: 12px; }
      @media screen and (min-width: 768px) {
        .palette .has-check::before {
          left: 0;
          top: 1px;
          height: 16px;
          width: 16px; } }

.banner-customer-service {
  background: #ffe6e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .banner-customer-service {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .banner-customer-service p {
    width: 100%;
    margin-bottom: 10px; }
  .banner-customer-service__lead {
    max-width: 240px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .banner-customer-service__lead {
        max-width: 100%; } }
  .banner-customer-service__cta .inline-link {
    font-weight: 400;
    text-decoration: underline; }
    .banner-customer-service__cta .inline-link:hover, .banner-customer-service__cta .inline-link:active, .banner-customer-service__cta .inline-link:visited {
      color: #727278;
      font-weight: 400;
      text-decoration: underline; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 10px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 10px 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1262px) {
    .article__share-bar {
      margin-left: 0; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 5px;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1262px;
    margin-left: 0;
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.mint {
  fill: #c3e5da; }

.spa {
  fill: #80cecc; }

.oasis {
  fill: #16839c; }

.horizon {
  fill: #094b9c; }

.marine {
  fill: #103864; }

.juniper {
  fill: #215241; }

.petal {
  fill: #f9dfd5; }

.ballet {
  fill: #ebadad; }

.coral-reef {
  fill: #f58789; }

.begonia {
  fill: #d81787; }

.guava {
  fill: #ef5364; }

.persimmon {
  fill: #e23e22; }

.apple {
  fill: #981d42; }

.bouquet {
  fill: #b68fb4; }

.raspberry {
  fill: #862a77; }

.regency {
  fill: #472e92; }

.mercury {
  fill: #7a7d7c; }

.graphite {
  fill: #525252; }

.truffle {
  fill: #473336; }

.black {
  fill: #000000; }
