<section class="espot-container three-across" data-analytics-tagging="Wedges-Handbags-Unconventional">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column"data-analytics-position="Module_10">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/wedges">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/Vertical_Cat_Crop_Wedges.jpg" alt="Pair of strappy wedges" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedges</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/wedges">Shop Wedges&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column"data-analytics-position="Module_11">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_weddingshoeideas">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/shoes/Vertical_Cat_Crop_5Shoes.jpg" alt="White crystal embellished peep-toe heels" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">5 Shoes Every Bride Should Have</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_weddingshoeideas">See the guide&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column"data-analytics-position="Module_12">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_uniqueweddingshoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/Vertical_Cat_Crop_Unconventional.jpg" alt="Unconventional Shoes for brides" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Unconventional Bridal Shoes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_uniqueweddingshoes">Think Beyond The Heel&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
