
<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0; }

.spacing-media-seo {
    max-width: 1262px;
    margin: 0 auto;
    width: 100%;
}

p.legacy,
.legacy p{
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size:10px;
	line-height: 15px;
	margin: 0 10px 0 10px;
}

</style>
<div class="spacing-media-seo mobile-hidden tablet-hidden">
<div class="legacy">
<br>
<p><strong>Wedding Shoe Trends You’ll Love</strong>
<br>
Find all the latest shoe trends in one place with our magical collection of wedding shoes. Wedding dresses get most of the attention, but brides know that wedding shoes are just as important. Wedding shoes have come a long way in a few generations, and trending shoes for brides have gone high fashion. The growing trend for tea length wedding dresses offers an opportunity to show off some spectacular shoes to their full advantage. If you’re going for a short reception dress, a fabulous neutral heel is incredibly flattering. From sleek stilettos to dainty sandals, we carry all the latest shoe trends.<br>
<br>
<strong>Wear Your Wedding Shoes Over And Over Again</strong>
<br>
A gorgeous pair of shoes for your wedding is an investment. They’re the one piece of your bridal ensemble that you are likely to use and enjoy long after the day. White shoes are still a wedding standby, but many brides are choosing to add a pop of color with shoes in brilliant shades of red, pink, yellow or “something blue.” Metallic shoes in gold or silver are an opportunity to add a little more sparkle to your wedding look. Still not sure which way to go? Our wonderful selection of wedding shoes should give you lots of inspiration and images to choose from.</p>
</div>
</div>


<!-- SCROLL TO TOP BUTTON -->
<style media="screen">
	.listing-pager__top {
		display: none;
		position: fixed;
		top: auto;
		right: 15px;
		bottom: 25px;
	 	z-index: 1; }
</style>
<div class="listing-pager__top" id="scrollToTop">
	<a class="listing-pager__top-link" href="#">
		<span class="listing-pager__top-link-image">
			<svg class="listing-pager__top-link-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
			</svg>
		</span>
		<span class="listing-pager__top-link-text">Top</span>
	</a>
</div>
<script type="text/javascript">
	// When the user scrolls down, show the button
	$(window).on('scroll', function() {
		scrollFunction();
	});
	const scrollFunction = () => {
		let scrollTop = $(window).scrollTop();
		if (scrollTop >= 100) {
			$('#scrollToTop').css('display', 'block');
		} else {
			$('#scrollToTop').css('display', 'none');
		}
	}

	// When the user clicks on the button, scroll to the top
	$('#scrollToTop a').on('click', function(e) {
		e.preventDefault();
    console.log('SCROLL TO TOP CLICKED');
		$('html, body').animate({scrollTop: 0}, 1000);
	});
</script>
