<style media="screen">
.quick-links {
  display: block;
  position: relative;
  max-width: 1272px;
  margin: 0 auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (min-width: 768px) {
    .quick-links {
      padding-left: 0;
      padding-right: 0; } }
  .quick-links__heading {
    margin-bottom: 10px; }
  .quick-links__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center; }
    .quick-links__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .quick-links__flex .column {
          width: 16.66666%; } }
    .quick-links__flex a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 50px;
      padding-left: 3px;
      padding-right: 3px;
      background: #fff;
      border: 1px solid #333;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .quick-links__flex a:hover {
        border: 1px solid #e0e0e7; }
      .quick-links__flex a p {
        width: 100%;
        display: block; }
</style>

<section class="quick-links" data-analytics-tagging="quick-links">
  <h3 class="quick-links__heading serif-m">Shop by Category</h3>

  <div class="quick-links__flex">
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses">Mother of The Bride</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/plus-size-dresses">Plus Size Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/formal-dresses">Formal Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/cocktail-party-dresses">Cocktail & Party Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/little-white-dresses">Little White Dresses</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/dresses/girls-dresses">Girl Dresses</a>
      </div>
    </div>

  </div>
</section>
