<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_Invites.jpg" alt="Colorful wedding invitations">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Color-Coordinated Invites</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">Shop New Styles from Shutterfly&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/handbags">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/HBGLITTER_MGOLD_HB_PROD11_009_414x284.jpg" alt="Embellished evening bag">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Evening Bags</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/handbags">Shop Styles From $19.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/jewelry">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/CompleteYourDay_Module_414x284_Jewelry.jpg" alt="Three pairs of black and metallic earrings, both dangling and studs">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Jewelry</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/jewelry">SHOP JEWELRY&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Complete_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/sashes-and-belts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/CompleteYourDay_Module_414x284_Sashes.jpg" alt="Three bridesmaids in white dresses with sash and belt accents">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Belts & Sashes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/sashes-and-belts">Shop Belts & Sashes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
