<section class="espot-container three-across" data-analytics-tagging="BetsyJohnson-TOMS-WVW">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_7">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:307445734561666667166108117101326612132661011161151011213274111104110115111110,307445734561666667180105110107329812132661011161151011213274111104110115111110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Blue By Betsey Johnson,Pink by Betsey Johnson&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/767px_Spotlight_BetseyJohnson.jpg" alt="Betsey Johnson lucite heels" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Betsey Johnson</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:307445734561666667166108117101326612132661011161151011213274111104110115111110,307445734561666667180105110107329812132661011161151011213274111104110115111110&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Blue By Betsey Johnson,Pink by Betsey Johnson&">Shop Betsey Johnson Collections&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_8">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:307445734561666667184797783&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,TOMS&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/767px_TOMS.jpg" alt="Toms closed toed shoes" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">TOMS&reg; Shoes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:307445734561666667184797783&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,TOMS&">Shop Toms&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_9">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:3074457345616666671871041051161013298121328610111497328797110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,White by Vera Wang&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/767px_Spotlight_WVW.jpg" alt="White by Vera Wang wedding shoes" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">White by Vera Wang</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002751&storeId=10052&langId=-1#!&facet:3074457345616666671871041051161013298121328610111497328797110103&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,White by Vera Wang&">Shop White by Vera Wang&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
