<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0;
        display: inline-block; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
        .few-favorites-carousel__inner--heading p.serif-m-italic {
          margin-right: 18px; }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
</style>

<div class="few-favorites-carousel" data-analytics-tagging="Trending-Products">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a id="shoesCarouselPrev" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" aria-label="See previous product">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div id="shoesCarouselSlick" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#shoesCarouselPrev", "nextArrow": "#shoesCarouselNext" }'>

        <!-- GIRLTALK11 -->
        <div class="slick-slide">
          <a href="/Product_simple-ankle-strap-sandals-girltalk11">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-GIRLTALK11-10747413-Black?$plpproductimgmobile_2up$" alt="Simple Ankle Strap Sandals">
          </a>
        </div>

        <!-- LAYLA -->
        <div class="slick-slide">
          <a href="/Product_lace-peep-toe-pump-layla">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-LAYLA-10281920-Ivory?$plpproductimgmobile_2up$" alt="Lace Peep Toe Pump">
          </a>
        </div>

        <!-- LULU -->
        <div class="slick-slide">
          <a href="/Product_crystal-t-strap-satin-wedges-lulu" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-LULU-10753129-Ivory?$plpproductimgmobile_2up$" alt="Crystal T-Strap Satin Wedges">
          </a>
        </div>

        <!-- SARINA -->
        <div class="slick-slide">
          <a href="/Product_pearl-and-crystal-t-strap-sandals-sarina" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SARINA-10757691-Ivory?$plpproductimgmobile_2up$" alt="Pearl and Crystal T-Strap Sandals">
          </a>
        </div>

        <!-- LARISSA -->
        <div class="slick-slide">
          <a href="/Product_patent-high-heel-sandals-with-ankle-strap-larissa" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-LARISSA-10722498-Nude?$plpproductimgmobile_2up$" alt="Patent High Heel Sandals with Ankle Strap">
          </a>
        </div>

        <!-- GEMMA -->
        <div class="slick-slide">
          <a href="/Product_jeweled-t-strap-sandal-gemma" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-GEMMA-10613584-Silver%20Metallic?$plpproductimgmobile_2up$" alt="Jeweled T Strap Sandal">
          </a>
        </div>

        <!-- RIO -->
        <div class="slick-slide">
          <a href="/Product_jeweled-metallic-ankle-strap-thong-sandals-rio" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RIO-10827491-Rose%20Gold?$plpproductimgmobile_2up$" alt="Jeweled Metallic Ankle-Strap Thong Sandals">
          </a>
        </div>

        <!-- KENDALL -->
        <div class="slick-slide">
          <a href="/Product_twisted-t-strap-sandals-kendall" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-KENDALL-10757650-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Twisted T-Strap Sandals">
          </a>
        </div>

        <!-- SBJUNO -->
        <div class="slick-slide">
          <a href="/Product_embellished-high-heel-sandals-with-ankle-strap-sbjuno" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SBJUNO-10823582-Champagne?$plpproductimgmobile_2up$" alt="Embellished High Heel Sandals with Ankle Strap">
          </a>
        </div>

        <!-- 001013B07 -->
        <div class="slick-slide">
          <a href="/Product_toms-glitter-classic-slip-on-shoes-001013b07" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-001013B07-10744540-Silver?$plpproductimgmobile_2up$" alt="TOMS Glitter Classic Slip-On Shoes">
          </a>
        </div>

        <!-- NAYOMI -->
        <div class="slick-slide">
          <a href="/Product_single-strap-sandal-nayomi" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-NAYOMI-10257253-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Single Strap Sandal">
          </a>
        </div>

        <!-- HAYLEE -->
        <div class="slick-slide">
          <a href="/Product_lustrous-ballet-flats-haylee" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-HAYLEE-10722363-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Lustrous Ballet Flats">
          </a>
        </div>

        <!-- SAYLOR -->
        <div class="slick-slide">
          <a href="/Product_glitter-fabric-t-strap-heels-saylor" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SAYLOR-10834915-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Glitter Fabric T-Strap Heels">
          </a>
        </div>

        <!-- FRENZY GOLD -->
        <div class="slick-slide">
          <a href="/Product_crisscross-strap-block-heel-sandals-frenzy" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-FRENZY-10888868-Gold?$plpproductimgmobile_2up$" alt="Crisscross Strap Block Heel Sandals">
          </a>
        </div>

        <!-- VWFS186 -->
        <div class="slick-slide">
          <a href="/Product_pointed-toe-cross-strap-heels-with-crystal-back-vwfs186" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VWFS186-10925648-Ivory?$plpproductimgmobile_2up$" alt="Pointed-Toe Cross-Strap Heels with Crystal Back">
          </a>
        </div>

      </div>

      <a id="shoesCarouselNext" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" aria-label="See next product">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var shoesCarouselSlick = $('#shoesCarouselSlick');
  shoesCarouselSlick.slick({
    autoplay: false,
    slidesToShow: 6,
    slidesToScroll: 1,
    variableWidth: false,
    infinite: true,
    centerMode: false,
    dots: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }
    ]
  });
  $('#shoesCarouselPrev, #shoesCarouselNext').on("click", function(event){
    event.preventDefault();
  });
});
</script>
