<section class="espot-container three-across" data-analytics-tagging="Dyeables-Designer-FlowerGirl">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/dyeable-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/Vertical_Cat_Crop_DyeableShoes.jpg" alt="Pink strappy heels" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Dyeable Shoes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/dyeable-shoes">Shop Styles From $29.99&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_5">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/designer-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/Vertical_Cat_Crop_DesignerShoes.jpg" alt="Two strappy and embellished heels" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Designer Shoes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/designer-shoes">Shop Styles From $69.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column" data-analytics-position="Module_6">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/shoes/flower-girl-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/shoes/Vertical_Cat_Crop_FLowerGirlShoes.jpg" alt="Pair of white lacey flower girl shoes" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Flower Girl Shoes</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/flower-girl-shoes">Shop Styles From $29.95&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
