<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0;
  margin: 0; }

.espot-container {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (min-width: 1282px) {
    .espot-container {
      padding-left: 0;
      padding-right: 0; } }

</style>
<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0; }

.slide-title .serif-xxl{color: #333;}
.slide-desc .sans-m{color:#333;}

.carousel h1,
.carousel h2,
.carousel h3,
.carousel h4,
.carousel h5,
.carousel h6 {
  padding: 0; }
.carousel .reverse-type h1,
.carousel .reverse-type h2,
.carousel .reverse-type h3,
.carousel .reverse-type h4,
.carousel .reverse-type h5,
.carousel .reverse-type h6,
.carousel .reverse-type p {
  color: #333;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .carousel .reverse-type h1,
    .carousel .reverse-type h2,
    .carousel .reverse-type h3,
    .carousel .reverse-type h4,
    .carousel .reverse-type h5,
    .carousel .reverse-type h6,
    .carousel .reverse-type p {
      color: #fff; }
.slide-text .serif-l-italic {
      font-family: Domaine Display,'Bodoni 72',Times New Roman,Times,Droid Serif,serif;
    font-style: italic;
    font-size: 32px;
    line-height: 36px;
} }

.carousel {
  position: relative;
  padding-bottom: 20px;
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .carousel {
      padding-bottom: 0; } }
  .carousel .slide {
    height: auto; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
      .carousel .slide-background img {
        width: 100%; }

      .carousel .slide-text .reverse-type > p {
        color: #333; }
        @media screen and (min-width: 768px) {
          .carousel .slide-text .reverse-type > p {
            color: #fff; } }
    .carousel .slide-title {
      padding: 0; }
    .carousel .slide-desc {
      display: none; }
      @media screen and (min-width: 768px) {
        .carousel .slide-desc {
          display: block;
          padding: 12px 0; } }
  @media screen and (min-width: 768px) {
    .carousel .carousel-button-container {
      top: 0;
      left: 0; } }
  .carousel .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel .carousel__buttons a svg {
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      .carousel .carousel__buttons a svg:hover {
        fill: #52535a; }
      @media screen and (min-width: 768px) {
        .carousel .carousel__buttons a svg {
          fill: #fff; }
          .carousel .carousel__buttons a svg:hover {
            fill: #c20b64; } }
  .carousel .carousel-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 10px; } }
  .carousel .carousel-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 10px; } }
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto; }
  .carousel .btn-secondary a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ffffff;
    color: #52535a;
    outline: 1px solid #52535a;
    text-align: center;
    text-decoration: none;
    position: relative; }
    .carousel .btn-secondary a:hover {
      outline: 1px solid #c20b64; }


/* Mini-Nav */
.carousel-nav {
background-color: #ffffff;
display: block;
position: absolute;
top: 30px;
left: 30px;
padding: 0 20px;
width: 100%;
max-width: 215px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
z-index: 9; }
@media screen and (max-width: 53.0625em) {
  .carousel-nav {
    display: none; } }

.carousel-heading {
padding: 20px 0;
display: -ms-flexbox;
display: flex;
width: 100%;
cursor: pointer;
-ms-flex-align: center;
    align-items: center;
-ms-flex-pack: justify;
    justify-content: space-between; }

.carousel-nav_items {
border-top: 3px solid #333333; }

.carousel-nav_item {
padding: 15px 0; }
.carousel-nav_item:not(:first-child) {
  border-top: 1px solid #eeeeee; }
  .carousel-nav_item:not(:first-child)[data-nav-open="true"] {
    border-color: #000000; }
.carousel-nav_item:last-child {
  padding-bottom: 20px; }

.carousel-nav_item_header {
display: -ms-flexbox;
display: flex;
width: 100%;
cursor: pointer;
-ms-flex-align: center;
    align-items: center;
-ms-flex-pack: justify;
    justify-content: space-between; }

.carousel-nav_item-child a,
.carousel-nav_item-child a:visited {
text-decoration: none;
display: block;
transition: all 0.25s ease;
transition-property: all;
transition-duration: 0.25s;
transition-timing-function: ease;
transition-delay: initial; }
.carousel-nav_item-child a:hover,
.carousel-nav_item-child a:focus {
  color: #52535a;
  text-decoration: none;
}

.carousel-nav_items-sub {
padding-top: 15px; }

.carousel-nav_header-open-link {
display: block; }

.carousel-nav_header-action-plus {
position: absolute;
top: -15px;
right: 0; }
.carousel-nav_header-action-plus svg {
  width: 13px;
  height: 13px; }

.carousel-nav_header-action-minus {
position: absolute;
top: -15px;
right: 0; }
.carousel-nav_header-action-minus svg {
  width: 13px;
  height: 3px; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
display: block; }

</style>

<style media="screen">
html,
body {
  color: #333; }
a {text-decoration:none;}
.rowContainer, .rowContainer > .row {
  padding: 0; }

.carousel {
  position: relative;
  padding-bottom: 20px;
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .carousel {
      padding-bottom: 0; } }
  .carousel h1,
  .carousel h2,
  .carousel h3,
  .carousel h4,
  .carousel h5,
  .carousel h6 {
    padding: 0; }
  .carousel .reverse-type h1,
  .carousel .reverse-type h2,
  .carousel .reverse-type h3,
  .carousel .reverse-type h4,
  .carousel .reverse-type h5,
  .carousel .reverse-type h6,
  .carousel .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .carousel .reverse-type h1,
      .carousel .reverse-type h2,
      .carousel .reverse-type h3,
      .carousel .reverse-type h4,
      .carousel .reverse-type h5,
      .carousel .reverse-type h6,
      .carousel .reverse-type p {
        color: #fff; } }
  .carousel .slide {
    height: auto; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
      .carousel .slide-background img {
    width: 767px;
    max-width: 100%;
}

      @media screen and (min-width: 1024px) {
        .serif-xl {font-size:2em;}
        .sans-m {font-size:.8rem;}
      }
      .carousel .slide-text .reverse-type > p {
        color: #333; }
        @media screen and (min-width: 768px) {
          .carousel .slide-text .reverse-type > p {
            color: #fff; } }
    .carousel .slide-title {
      padding: 0; }
    .carousel .slide-desc {
      display: block; }
      @media screen and (min-width: 768px) {
        .carousel .slide-desc {
          display: block; } }
  .carousel .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel .carousel__buttons a svg {
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      .carousel .carousel__buttons a svg:hover {
        fill: #74736d; }
      @media screen and (min-width: 768px) {
        .carousel .carousel__buttons a svg {
          fill: #fff; }
          .carousel .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel .carousel-prev {
    position: absolute;
    top: 8px;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 30px; } }
  .carousel .carousel-next {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 30px; }
        .spacing>*+* {
    margin-top: 10px;
}}
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto; }
  .carousel .btn a,
  .carousel .btn a:hover {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    padding: 7px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    min-width: 200px; }
  .carousel .btn-primary a {
    background-color: #52535a;
    color: #fff;
    outline: 4px solid #52535a;
    border: 1px solid #fff; }
    .carousel .btn-primary a:hover {
      outline: 4px solid #333333; }
  .carousel .btn-secondary a {
    background-color: #ffffff;
    color: #52535a;
    outline: 1px solid #52535a; }
    .carousel .btn-secondary a:hover {
            background-color: #ccc;
      outline: 1px solid #333; }
    a.white_text {
    color: #ffffff;
    }
    .letter-space {
    letter-spacing: 3px;
    }
  .carousel .btn-secondary-special a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ef4370;
    color: #ffffff;
    outline: 1px solid #ef4370;
    text-align: center;
    text-decoration: none;
    padding: 7px 24px;
    position: relative; }
    .carousel .btn-secondary-special a:hover {
      background-color: #c20b64;
      outline: 1px solid #c20b64; }

.mobile-only {
  display: block; }
  @media screen and (min-width: 768px) {
    .mobile-only {
      display: none; } }



/* Text Box */
.carousel .slide-text {
  margin: 10px 10px 0;
  padding: 10px;
  background-color: #f9f6ef;
  border: 2px solid #f04874;
  text-align: center;
  right: auto; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text {
      margin: 0;
      padding: 20px;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%); } }

.slide-desc {
  margin-top: 0em; }
  @media screen and (min-width: 768px) {
    .slide-desc {
      margin-top: -1.5em; } }

.slide-desc p.serif-xxl {
  font-size: 22px;
  line-height: 24px;
  color: #333;
  font-style: italic; }
  @media screen and (min-width: 768px) {
    .slide-desc p.serif-xxl {
       font-size: 24px;
       line-height: 30px; } }

.slide-text .spacing-quarter {
  margin-top: 4px; }
  @media screen and (min-width: 768px) {
    .slide-text .spacing-quarter {
      margin-top: 7px; } }

.slide-desc p.sans-m {
  font-size: 13px;
  line-height: 20px; }
  @media screen and (min-width: 768px) {
    .slide-desc p.sans-m {
      font-size: 12px;
      line-height: 15px; } }
  @media screen and (min-width: 1024px) {
    .slide-desc p.sans-m {
      font-size: 13px;
      line-height: 17px; } }

.slide-cta {
  padding: 10px 0px 0px;
  margin: 0px auto;
  margin-top: -.75em; }
  @media screen and (min-width: 768px) {
    .slide-cta {
      padding: 4px 0px 0px; } }
  @media screen and (min-width: 1024px) {
    .slide-cta {
      padding: 10px 0px 0px; } }

.slide-cta .btn-secondary-special {
  border: none;
  outline: none; }

.slide-cta .ctastyle {
  margin: 0px auto 0px;
  padding: 2px 0 10px 0; }
  @media screen and (min-width: 768px) {
    .slide-cta .ctastyle {
      padding: 0px; } }

.slide-cta a.sans-bold-uppercase {
  font-size:12px;
  margin: 0px auto;
  padding: 0px;
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  padding: 7px 24px;
  position: relative;
  text-align: center;
  text-decoration: none; }

/* For Video backgrounds */
.carousel {
  max-width: 1262px;
  margin: 0 auto;
  border: none; }
.carousel .slide-background {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .carousel .slide-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.carousel .slide-text {
  background: rgba(248, 246, 240, 0.85); }
  @media screen and (min-width: 768px) {
    .carousel .slide-text {
      top: 40%;
      transform: translateY(-40%);
      padding: 30px 40px;
    }
  }

.carousel .slide-text .sans-l {
  font-size: 15px;
  line-height: 24px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text .sans-l {
      font-size: 18px; } }
.carousel .carousel-nav {
  background: rgba(255, 255, 255, 0.85); }


.carousel .video-cover {
  display: none; }
  @media screen and (min-width: 768px) {
    .carousel .video-cover {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 13.38029%;
      background: rgba(255, 255, 255, 1);
    }
  }
</style>

<script type="text/javascript">
  // Set margin-top on element under video to compensate for .video-cover
  jQuery(document).ready(function() {
    var windowWidth = $(window).width();
    var espots = $('.contentRecommendationWidget');
    var carousel = espots.has('.carousel').index() + 1;
    var nthChild = carousel + 1;
    console.log('espots: ' + espots);
    console.log('carousel: ' + carousel);
    console.log('nthChild: ' + nthChild);


    var elementUnderVideo = $('[data-slot-id="1"] .contentRecommendationWidget:nth-child(' + nthChild + ')'); // nth-child is the # of the espot to move up
    function adjustMargin() {
      var videoCoverHeight = $('.carousel .video-cover').height();
      var marginTop = '-' + videoCoverHeight + 'px';
      elementUnderVideo.css('margin-top', marginTop);
    }
    // On Load
    if (windowWidth >= 768) {
      adjustMargin();
    }
    // On Resize
    $(window).on('resize', function() {
      var resizeWindowWidth = $(window).width();
      if (resizeWindowWidth >= 768) {
        adjustMargin();
      } else {
        elementUnderVideo.css('margin-top', '');
      }
    });
  });
</script>


<div class="carousel">
  <div class="slide-background">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mL28pYg7MVo?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&playlist=mL28pYg7MVo" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="slide-text">
    <div class="spacing">
      <div class="spacing-half">
        <div class="slide-desc">
          <p class="serif-l-italic">All the Details</p>
        </div>
      </div>
      <div class="spacing-half">
        <div class="slide-desc">
          <p class="sans-l">Wedding decorations for <br>less than you expect</p>
        </div>
      </div>
      <div class="slide-cta">
        <p class="btn btn-secondary-special">
          <a class="sans-bold-uppercase" href="/wedding-decorations/all-wedding-decorations">Shop All Decorations</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Cover bottom of video -->
  <div class="video-cover">&nbsp;</div>

  <!-- Static Image -->
  <div class="carousel-nav" data-nav-open="true">
    <div class="carousel-heading" data-trigger="">
      <h2 class="serif-s">Decor</h2>
      <div class="carousel-nav_header-action relative">
        <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
          <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
        </svg></div>
        <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
          <rect x="-492" y="501" width="11" height="1"></rect>
        </svg></div>
      </div>
    </div>

    <ul class="carousel-nav_items" data-sublist="">
      <li class="carousel-nav_item" data-nav-open="true">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Explore</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: block;">
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_bridalpartygifts" class="sans-xs">Wedding Party Gift Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_bridesmaidgiftideas" class="sans-xs">Bridesmaid Gift Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_engagementgiftideas" class="sans-xs">Engagement Party Gift Guide</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_engagementpartyideas" class="sans-xs">Engagement Party Ideas</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingthemes" class="sans-xs">Wedding Themes</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_rusticweddingideas" class="sans-xs">Rustic D&eacute;cor</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddinginvitationsandstationery" class="sans-xs">Wedding Invitations 101</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingsouvenirideas" class="sans-xs">Wedding Favor Ideas</a></li>
          <li class="carousel-nav_item-child"><a href="/Content_StyleandFashionGuide_weddingchecklist" class="sans-xs">Ultimate Wedding Checklist</a></li>
        </ul>
      </li>

      <li class="carousel-nav_item" data-nav-open="false">
        <div class="carousel-nav_item_header" data-trigger="">
          <h3 class="sans-bold-uppercase">Shop</h3>
          <div class="carousel-nav_header-action relative">
            <div class="carousel-nav_header-action-plus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
              <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
            </svg></div>
            <div class="carousel-nav_header-action-minus"><svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
              <rect x="-492" y="501" width="11" height="1"></rect>
            </svg></div>
          </div>
        </div>
        <ul class="carousel-nav_items-sub spacing-half" data-sublist="" style="display: none;">
          <li class="carousel-nav_item-child"><a href="/wedding-decorations/ceremony-decorations" class="sans-xs">Ceremony</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-decorations/reception-decorations" class="sans-xs">Reception</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-decorations/all-wedding-decorations" class="sans-xs">Wedding Decorations</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-decorations/wedding-favors" class="sans-xs">All Favors</a></li>
          <li class="carousel-nav_item-child"><a href="/unity-and-sand-ceremony-sets" class="sans-xs">Unity Ceremony</a></li>
          <li class="carousel-nav_item-child"><a href="/flower-girl-baskets" class="sans-xs">Flower Girl Baskets</a></li>
          <li class="carousel-nav_item-child"><a href="/ring-bearer-pillows" class="sans-xs">Ring Bearer Pillows</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-cake-toppers" class="sans-xs">Cake Toppers</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-toasting-and-champagne-flutes" class="sans-xs">Toasting Flutes</a></li>
          <li class="carousel-nav_item-child"><a href="/serving-sets" class="sans-xs">Serving Sets</a></li>
          <li class="carousel-nav_item-child"><a href="/wedding-decorations/personalized-decorations" class="sans-xs">Personalized Decorations</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div><!-- End Carousel -->


<!-- Mini-Nav -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    // ================================================================
    // MINI-NAV FUNCTIONALITY - OPEN/CLOSE
    // ================================================================
    // Mini-Nav Heading
    $('.carousel-heading').on("click", function(){
      if($(this).parent().attr('data-nav-open') == "false") {
        $(this).parent().attr('data-nav-open', 'true');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $('.carousel-nav_items').slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });

    // Mini-Nav Sections
    $('.carousel-nav_item_header').on('click', function(){
      if($(this).parent().attr('data-nav-open') == 'false') {
        $(this).parent().attr('data-nav-open', 'true');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      } else {
        $(this).parent().attr('data-nav-open', 'false');
        $(this).parent().find("ul").slideToggle("slow");
        var miniNavStates = getMiniNavStates();
        history.pushState([miniNavStates], null, null);
        var currentState = history.state;
      }
    });


    // ================================================================
    // MINI-NAV - BACK BUTTON - PRESERVE OPEN/CLOSE STATE
    // ================================================================
    // History State
    var currentState = history.state;
    if(currentState === null || currentState === undefined) {
      var menuStates = [];
    } else {
      var menuStates = currentState[0];
    }


    // Get Mini-Nav States
    function getMiniNavStates() {
      var menuStates = [];
      var numMiniNavMenus = $('[data-nav-open]').length;
      if(numMiniNavMenus > 0) {
        $('[data-nav-open]').each(function(index){
          var trueFalse = $(this).attr('data-nav-open');
          trueFalse = [trueFalse];
          menuStates = $.merge(menuStates, trueFalse);
        });
        return menuStates;
      }
    }

    // Set Mini-Nav States
    function setMiniNavStates() {
      $('[data-nav-open]').each(function(index){
        var currentMenuStatesValue = menuStates[index];
        $(this).attr('data-nav-open', currentMenuStatesValue);
        // Mini-Nav Heading
        if(index === 0) {
          if($('.carousel-nav').attr('data-nav-open') === 'true') {
            $('.carousel-nav_items').attr('style', 'display: block');
          } else {
            $('.carousel-nav_items').attr('style', 'display: none');
          }
        // Mini-Nav Sections
        } else {
          if(currentMenuStatesValue === 'true') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: block');
          } else if (currentMenuStatesValue === 'false') {
            $(this).find('ul.carousel-nav_items-sub').attr('style', 'display: none');
          }
        }
      });
    }
    setMiniNavStates();
  });
</script>

<!-- Google KnowledgeGraph -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "url": "http://www.davidsbridal.com",
  "logo": "http://www.davidsbridal.com/wcsstore/AuroraPlusStorefrontAssetStore/DBIUILayer/styleguide/images/general/davids-bridal-logo.png",
  "sameAs" : ["https://www.facebook.com/DavidsBridal/",
  "https://www.pinterest.com/davidsbridal/",
  "https://twitter.com/davidsbridal",
  "https://www.instagram.com/davidsbridal/",
  "https://www.youtube.com/user/davidsbridal"]
}
</script>
