<style media="screen">
.quick-links {
  display: block;
  position: relative;
  max-width: 1262px;
  margin: 15px auto 30px;
  text-align: center; }
  .quick-links__heading {
    margin-bottom: 10px; }
  .quick-links__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center; }
    .quick-links__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .quick-links__flex .column {
          width: 16.66666%; } }
      .quick-links__flex .column__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 50px;
        padding-left: 3px;
        padding-right: 3px;
        border: 1px solid #333; }
      .quick-links__flex .column a {
        width: 100%;
        display: block; }
</style>

<section class="quick-links">
  <h3 class="quick-links__heading serif-m">Shop These Categories</h3>

  <div class="quick-links__flex">
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-gifts/bridesmaid-gifts">Bridesmaid Gifts</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-gifts/groomsmen-gifts">Groomsmen Gifts</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-decorations/ceremony-decorations">Ceremony</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-decorations/reception-decorations">Reception</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/wedding-decorations/wedding-favors">Favors</a>
      </div>
    </div>
    <div class="column">
      <div class="column__flex">
        <a class="sans-bold-uppercase" href="/Content_StyleandFashionGuide_WeddingInvitations">Invitations</a>
      </div>
    </div>


  </div>
</section>
