<section class="inspiration-guidance">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">By Occasion</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/bridal-shower-favors-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/ByOccasion_BridalShower.jpg" alt="Bridal Shower">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Bridal Shower</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/bridal-shower-favors-decorations">Shop Bridal Shower&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:undefined&facetValues:&">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/ByOccasion_EngagementParty.jpg" alt="Engagement Party">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Engagement Party</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/SearchDisplay?categoryId=3002662&storeId=10052&langId=-1#!&facet:&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:undefined&facetValues:&">Shop Engagement Party&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/bachelorette-party-gifts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/ByOccasion_BacheloretteParty.jpg" alt="Bachelorette Party">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Bachelorette Party</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/bachelorette-party-gifts">Shop Bachelorette Party&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/wedding-decorations/all-wedding-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/ByOccasion_Wedding.jpg" alt="Wedding">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Wedding</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/wedding-decorations/all-wedding-decorations">Shop Wedding Decorations&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
