<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/flower-girl-baskets-and-ring-bearer-pillows">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_RingBearer.jpg" alt="white beaded ring bearer pillow with white ribbon" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Flower Girl Baskets &amp; Ring Bearer&nbsp;Pillows</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/flower-girl-baskets-and-ring-bearer-pillows">Shop Baskets &amp; Pillows&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/wedding-toasting-and-champagne-flutes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_ChampagneFLutes.jpg" alt="two stemless champagne flutes that say hubby and wifey" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Champagne &amp; Toasting Flutes</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-toasting-and-champagne-flutes">Shop Flutes&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-guest-book">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_GuestBooks.jpg" alt="white with floral detail heart drop guest book" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Guest Books &amp; Alternatives</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-guest-book">Shop Guest Books&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

  </div>
</section>
