<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/unity-and-sand-ceremony-sets">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_Unity.jpg" alt="white wooden unity ceremony kit" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Unity Ceremony</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/unity-and-sand-ceremony-sets">Shop Unity Ceremony&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/serving-sets">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_ServingSets.jpg" alt="black and white striped handles serving set" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Serving Sets</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/serving-sets">Shop Serving Sets&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-cake-toppers">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_CakeTopper.jpg" alt="gold script love cake topper" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Cake Toppers</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-cake-toppers">Shop Cake Toppers&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

  </div>
</section>
