<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 30px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- DB75GS -->
        <div class="slick-slide">
          <a href="/Product_db-exclusive-regal-ties-gift-set-db75gs" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DB75GS-10119086-Ivory-Angel?$plpproductimgmobile_2up$" alt="DB Exclusive Regal Ties Gift Set">
          </a>
        </div>

        <!-- SAR1704021 -->
        <div class="slick-slide">
          <a href="/Product_my-humans-are-getting-married-sign-sar1704021" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SAR1704021-10885784-Ivory?$plpproductimgmobile_2up$" alt="My Humans Are Getting Married Sign">
          </a>
        </div>

        <!-- MRMRS -->
        <div class="slick-slide">
          <a href="/Product_mrs-and-mrs-gold-cake-topper-mrmrs" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MRMRS-10387360-Gold?$plpproductimgmobile_2up$" alt="DB Exclusive Mr and Mrs Gold Cake Topper">
          </a>
        </div>

        <!-- BC1 -->
        <div class="slick-slide">
          <a href="/Product_bouquet-charm-set-bc1" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BC1-10792907-Silver?$plpproductimgmobile_2up$" alt="Bouquet Charm Set">
          </a>
        </div>

        <!-- EB3058GDN -->
        <div class="slick-slide">
          <a href="/Product_personalized-floral-garden-wedding-sign-eb3058gdn" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3058GDN-10893734?$plpproductimgmobile_2up$" alt="Personalized Floral Garden Wedding Sign">
          </a>
        </div>

        <!-- 9750 -->
        <div class="slick-slide">
          <a href="/Product_galvanized-tin-flower-bucket-with-handle-9750" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9750-10391935?$plpproductimgmobile_2up$" alt="Galvanized Tin Flower Bucket with Handle">
          </a>
        </div>

        <!-- 999DB2032 -->
        <div class="slick-slide">
          <a href="/Product_wedding-hashtag-reception-sign-999db2032" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-999DB2032-10852862-Black?$plpproductimgmobile_2up$" alt="Wedding Hashtag Reception Sign">
          </a>
        </div>

        <!-- 4235006 -->
        <div class="slick-slide">
          <a href="/Product_embossed-mr-and-mrs-cake-tasting-set-4235006" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-4235006-10881577-Ivory?$plpproductimgmobile_2up$" alt="Embossed Mr and Mrs Cake Tasting Set">
          </a>
        </div>

        <!-- WH3668G -->
        <div class="slick-slide">
          <a href="/Product_hubby-and-wifey-gold-rim-champagne-flutes-wh3668g" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WH3668G-10838095-Gold?$plpproductimgmobile_2up$" alt="Hubby and Wifey Gold Rim Champagne Flutes">
          </a>
        </div>

        <!-- EB2033FW -->
        <div class="slick-slide">
          <a href="/Product_personalized-metallic-foil-playing-cards-eb2033fw" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB2033FW-10399771?$plpproductimgmobile_2up$" alt="Personalized Metallic Foil Playing Cards">
          </a>
        </div>

        <!-- 30009NA -->
        <div class="slick-slide">
          <a href="/Product_personalized-stemless-wine-glass-30009na" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DB75GS-10119086-Ivory-Angel?$plpproductimgmobile_2up$" alt="Personalized Stemless Wine Glass">
          </a>
        </div>

        <!-- EB3107 -->
        <div class="slick-slide">
          <a href="/Product_personalized-wedding-sunglasses-eb3107" onclick="(ga('send', 'event', 'Decor Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3107-10616511-Pink?$plpproductimgmobile_2up$" alt="Personalized Wedding Sunglasses">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
