<style media="screen">
.three-across h2 {
  margin: 0;
  margin-bottom: -10px; }

.three-across .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  @media screen and (min-width: 768px) {
    .three-across .flex-container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .three-across .flex-container .column {
    width: 100%;
    padding: 0px;
    margin: 15px 0; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container .column {
        padding: 5px; } }
    .three-across .flex-container .column img {
      width: 100%; }
    .three-across .flex-container .column .media-block-content {
      margin-top: 10px; }
      .three-across .flex-container .column .media-block-content p {
        margin-top: 5px; }
        @media screen and (min-width: 768px) {
          .three-across .flex-container .column .media-block-content p {
            margin-top: 5px; } }
</style>
<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-decorations/ceremony-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_Ceremony.jpg" alt="a dog with a heart shaped sign around neck with script My Humans Are Getting Married!" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Ceremony Decor</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-decorations/ceremony-decorations">Shop Ceremony&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/wedding-decorations/reception-decorations">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_Reception.jpg" alt="black chalkboard style sign with Use Our Hashtag: #TEAMDAVE&ALISA" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Reception Decor</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-decorations/reception-decorations">Shop Reception&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/wedding-decorations/wedding-favors">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/decor/767_Decor_CLP_Favors.jpg" alt="white and floral mint case, wooden mint case, black and floral mint case" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Favors</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-decorations/wedding-favors">Shop Favors from $1&nbsp;&gt;</a>
            </p>
          </div><!-- media block-content -->
        </div>
      </div>

  </div>
</section>
