.listing__grid-carousel-buttons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 30px; }
  .listing__grid-carousel-buttons svg {
    width: 30px;
    height: 30px;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.75));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.75));
    fill: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .listing__grid-carousel-buttons svg:hover, .listing__grid-carousel-buttons svg:active, .listing__grid-carousel-buttons svg:focus {
      fill: white; }

.slick-arrow {
  width: 30px;
  height: 30px; }
  .slick-arrow:first-child {
    position: absolute;
    left: 10px; }
  .slick-arrow:last-child {
    position: absolute;
    right: 10px; }
