$size: 30px;

.listing__grid-carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: $size;

  svg {
    width: $size;
    height: $size;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.75));
    fill: rgba(255,255,255,0.8);
    transition: all 0.3s ease;
    &:hover,
    &:active,
    &:focus {
      fill: rgba(255,255,255,1);
    }
  }
}

.slick-arrow {
  width: $size;
  height: $size;
  &:first-child {
    position: absolute;
    left: 10px;

  }
  &:last-child {
    position: absolute;
    right: 10px;
  }
}
