body {
  margin: 0;
  padding: 0; }

.overflow-hidden {
  overflow: hidden; }

#temporaryOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100; }

#continue-dialog {
  display: none;
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 0;
  line-height: 1.5em;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 321px;
  z-index: 2000; }
  #continue-dialog h2 {
    margin: 0;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px 5px 0 0; }
  #continue-dialog button {
    position: absolute;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 1; }
    #continue-dialog button:focus {
      outline: -webkit-focus-ring-color auto 5px; }

#dialog-inner-wrapper {
  padding: 0px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
