<fieldset class="listing__filter">
  <div class="listing__filter-header title" id="29.0_5_3074457345618260106_3074457345618262126">
    <legend class="listing__filter-title sans-bold-uppercase"><span>PRICE</span></legend>
    <div class="listing__filter-header-action">
      <div class="listing__filter-open-link">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-494 495 11 11">
          <polygon points="-483,500 -488,500 -488,495 -489,495 -489,500 -494,500 -494,501 -489,501 -489,506 -488,506 -488,501 -483,501 "></polygon>
        </svg>
      </div>
      <div href="#" class="listing__filter-close-link">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-493 499.3 12.3 2.7">
          <rect x="-492" y="501" width="11" height="1"></rect>
        </svg>
      </div>
    </div>
  </div>
  <div id="section_list_29.0_5_3074457345618260106_3074457345618262126" class="facetSelectContainer listing__filter-content" role="group" aria-expanded="true" aria-labelledby="section_button_ads_f6_ntk_cs_5_3074457345618260106_3074457345618262126">
    <ul class="facetSelect listing__checkbox-filter-list spacing-quarter">

      <script>
      SearchBasedNavigationDisplayJS.facetIdsArray.push("1016576111110103");
      SearchBasedNavigationDisplayJS.facetIdsParentArray.push('PRICE');
      </script>

      <li id="facet_1016576111110103_5_3074457345618260106_3074457345618262126" class="listing__checkbox-filter" style="">
        <a role="checkbox" aria-labelledby="1016576111110103_ACCE_Label" id="facetButton_5_3074457345618260106_3074457345618262126_250_Long" class="facetbutton" href="#" data-for="1016576111110103" onclick="javascript:setCurrentId('1016576111110103');">
          <input tabindex="-1" class="nodisplay listing__checkbox-filter-input" type="checkbox" aria-labelledby="1016576111110103_ACCE_Label" id="1016576111110103" value="ads_f6_ntk_cs%3A%22Long%22" onclick="if(this.disabled == false){if(this.checked){dojo.topic.publish('Facet_Add', '1016576111110103', 'LENGTH', 'Long');}else{dojo.topic.publish('Facet_Remove', '1016576111110103', 'Long')};}else{this.checked = false};" onkeypress="if(event.keyCode == dojo.keys.ENTER) {this.checked=!this.checked;if(this.checked){dojo.topic.publish('Facet_Add', '1016576111110103', 'LENGTH', 'Long');}else{dojo.topic.publish('Facet_Remove', '1016576111110103', 'Long', 'LENGTH');}}">

          <label for="length--short" class="listing__checkbox-filter-label">
            <span class="outline listing__checkbox-filter-label-content">
              <span id="facetLabel_1016576111110103" class="listing__checkbox-filter-title sans-xs">Under $100</span>&nbsp;(<span id="facet_count1016576111110103" class="listing__checkbox-filter-count sans-xxs">250</span>)
            </span>
          </label>

        </a>
      </li>

      <script>
      SearchBasedNavigationDisplayJS.facetIdsArray.push("1016583104111114116");
      SearchBasedNavigationDisplayJS.facetIdsParentArray.push('PRICE');
      </script>

      <li id="facet_1016583104111114116_5_3074457345618260106_3074457345618262126" class="listing__checkbox-filter " style="">
        <a role="checkbox" aria-labelledby="1016583104111114116_ACCE_Label" id="facetButton_5_3074457345618260106_3074457345618262126_115_Short" class="facetbutton" href="#" data-for="1016583104111114116" onclick="javascript:setCurrentId('1016583104111114116');">
          <input tabindex="-1" class="nodisplay listing__checkbox-filter-input" type="checkbox" aria-labelledby="1016583104111114116_ACCE_Label" id="1016583104111114116" value="ads_f6_ntk_cs%3A%22Short%22" onclick="if(this.disabled == false){if(this.checked){dojo.topic.publish('Facet_Add', '1016583104111114116', 'LENGTH', 'Short');}else{dojo.topic.publish('Facet_Remove', '1016583104111114116', 'Short')};}else{this.checked = false};" onkeypress="if(event.keyCode == dojo.keys.ENTER) {this.checked=!this.checked;if(this.checked){dojo.topic.publish('Facet_Add', '1016583104111114116', 'LENGTH', 'Short');}else{dojo.topic.publish('Facet_Remove', '1016583104111114116', 'Short', 'LENGTH');}}">

          <label for="length--short" class="listing__checkbox-filter-label">
            <span class="outline listing__checkbox-filter-label-content">
              <span id="facetLabel_1016583104111114116" class="listing__checkbox-filter-title sans-xs">$100 - $150</span>&nbsp;(<span id="facet_count1016583104111114116" class="listing__checkbox-filter-count sans-xxs">115</span>)
            </span>
          </label>

        </a>
      </li>

      <script>
      SearchBasedNavigationDisplayJS.facetIdsArray.push("10165721051031043276111119");
      SearchBasedNavigationDisplayJS.facetIdsParentArray.push('PRICE');
      </script>

      <li id="facet_10165721051031043276111119_5_3074457345618260106_3074457345618262126" class="listing__checkbox-filter " style="">
        <a role="checkbox" aria-labelledby="10165721051031043276111119_ACCE_Label" id="facetButton_5_3074457345618260106_3074457345618262126_9_High_Low" class="facetbutton" href="#" data-for="10165721051031043276111119" onclick="javascript:setCurrentId('10165721051031043276111119');">
          <input tabindex="-1" class="nodisplay listing__checkbox-filter-input" type="checkbox" aria-labelledby="10165721051031043276111119_ACCE_Label" id="10165721051031043276111119" value="ads_f6_ntk_cs%3A%22High+Low%22" onclick="if(this.disabled == false){if(this.checked){dojo.topic.publish('Facet_Add', '10165721051031043276111119', 'LENGTH', 'High Low');}else{dojo.topic.publish('Facet_Remove', '10165721051031043276111119', 'High Low')};}else{this.checked = false};" onkeypress="if(event.keyCode == dojo.keys.ENTER) {this.checked=!this.checked;if(this.checked){dojo.topic.publish('Facet_Add', '10165721051031043276111119', 'LENGTH', 'High Low');}else{dojo.topic.publish('Facet_Remove', '10165721051031043276111119', 'High Low', 'LENGTH');}}">

          <label for="length--short" class="listing__checkbox-filter-label">
            <span class="outline listing__checkbox-filter-label-content">
              <span id="facetLabel_10165721051031043276111119" class="listing__checkbox-filter-title sans-xs">$150 - $200</span>&nbsp;(<span id="facet_count10165721051031043276111119" class="listing__checkbox-filter-count sans-xxs">9</span>)
            </span>
          </label>

        </a>
      </li>

      <script>
      SearchBasedNavigationDisplayJS.facetIdsArray.push("1016584101973276101110103116104");
      SearchBasedNavigationDisplayJS.facetIdsParentArray.push('PRICE');
      </script>

      <li id="facet_1016584101973276101110103116104_5_3074457345618260106_3074457345618262126" class="listing__checkbox-filter " style="">
        <a role="checkbox" aria-labelledby="1016584101973276101110103116104_ACCE_Label" id="facetButton_5_3074457345618260106_3074457345618262126_7_Tea_Length" class="facetbutton" href="#" data-for="1016584101973276101110103116104" onclick="javascript:setCurrentId('1016584101973276101110103116104');">
          <input tabindex="-1" class="nodisplay listing__checkbox-filter-input" type="checkbox" aria-labelledby="1016584101973276101110103116104_ACCE_Label" id="1016584101973276101110103116104" value="ads_f6_ntk_cs%3A%22Tea+Length%22" onclick="if(this.disabled == false){if(this.checked){dojo.topic.publish('Facet_Add', '1016584101973276101110103116104', 'LENGTH', 'Tea Length');}else{dojo.topic.publish('Facet_Remove', '1016584101973276101110103116104', 'Tea Length')};}else{this.checked = false};" onkeypress="if(event.keyCode == dojo.keys.ENTER) {this.checked=!this.checked;if(this.checked){dojo.topic.publish('Facet_Add', '1016584101973276101110103116104', 'LENGTH', 'Tea Length');}else{dojo.topic.publish('Facet_Remove', '1016584101973276101110103116104', 'Tea Length', 'LENGTH');}}">

          <label for="length--short" class="listing__checkbox-filter-label">
            <span class="outline listing__checkbox-filter-label-content">
              <span id="facetLabel_1016584101973276101110103116104" class="listing__checkbox-filter-title sans-xs">Over $200</span>&nbsp;(<span id="facet_count1016584101973276101110103116104" class="listing__checkbox-filter-count sans-xxs">7</span>)
            </span>
          </label>

        </a>
      </li>

    </ul>

  </div>
</fieldset>
