.footer-copy {
  padding-bottom: 60px !important; }

.no-scroll {
  overflow-y: hidden; }

.promo-drawer {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .promo-drawer p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .promo-drawer .highlight {
    color: #aa170d; }
  .promo-drawer__drawer {
    background: #fff;
    bottom: 0%;
    display: block;
    left: 50%;
    max-width: 1600px;
    position: absolute;
    -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: calc(100% - 20px);
    z-index: 10000; }
    @media screen and (min-width: 1600px) {
      .promo-drawer__drawer {
        width: 100%; } }
    .promo-drawer__drawer[data-drawer-status="open"] {
      -webkit-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
              box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0); }
      .promo-drawer__drawer[data-drawer-status="open"] .promo-drawer__header-text h3 {
        font-size: 16px;
        line-height: 20px; }
      .promo-drawer__drawer[data-drawer-status="open"] .promo-drawer__header-icon svg {
        margin-top: -6px;
        -webkit-transform: rotateZ(30deg) scale(1.25);
                transform: rotateZ(30deg) scale(1.25); }
      .promo-drawer__drawer[data-drawer-status="open"] .promo-drawer__header-arrow svg {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg); }
      .promo-drawer__drawer[data-drawer-status="open"] .promo-drawer__content {
        opacity: 1; }
  .promo-drawer__overlay {
    background: #333;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%; }
  .promo-drawer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #333;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #fff;
    -webkit-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
            box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -49px, 0);
            transform: translate3d(0, -49px, 0);
    cursor: pointer;
    height: 50px;
    width: 100%; }
    @media screen and (min-width: 420px) {
      .promo-drawer__header {
        margin: 0;
        width: 400px;
        left: 50%;
        -webkit-transform: translate3d(-50%, -49px, 0);
                transform: translate3d(-50%, -49px, 0); } }
    .promo-drawer__header-icon {
      width: 16px; }
      .promo-drawer__header-icon svg {
        width: 16px;
        fill: #fff;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; }
    .promo-drawer__header-text {
      width: 360px;
      padding-left: 10px; }
      .promo-drawer__header-text h3 {
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 2px; }
        @media screen and (min-width: 768px) {
          .promo-drawer__header-text h3 {
            font-size: 14px;
            line-height: 18px; } }
      .promo-drawer__header-text p {
        color: #fff;
        font-size: 10px;
        line-height: 12px;
        margin: 0; }
        @media screen and (min-width: 768px) {
          .promo-drawer__header-text p {
            font-size: 11px;
            line-height: 14px; } }
    .promo-drawer__header-arrow {
      width: 16px; }
      .promo-drawer__header-arrow svg {
        fill: #fff;
        width: 16px;
        height: 12px;
        margin-top: -4px;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; }
        @media screen and (min-width: 768px) {
          .promo-drawer__header-arrow svg {
            margin-top: 0; } }
    .promo-drawer__header.white {
      background: #fff;
      border: 1px solid #333; }
      .promo-drawer__header.white .promo-drawer__header-icon svg {
        fill: #333; }
      .promo-drawer__header.white .promo-drawer__header-text {
        color: #333; }
        .promo-drawer__header.white .promo-drawer__header-text h3,
        .promo-drawer__header.white .promo-drawer__header-text p {
          color: #333; }
      .promo-drawer__header.white .promo-drawer__header-arrow svg {
        fill: #333; }
  .promo-drawer__content {
    opacity: 0;
    -webkit-transition: opacity 1.2s ease;
    transition: opacity 1.2s ease; }
    .promo-drawer__content .sans-m-bold {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: 700; }
      @media screen and (min-width: 768px) {
        .promo-drawer__content .sans-m-bold {
          font-size: 14px;
          line-height: 24px; } }
  .promo-drawer__close-button {
    background: none;
    background-color: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    z-index: 1;
    padding: 0;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    @media screen and (min-width: 768px) {
      .promo-drawer__close-button {
        width: 40px;
        height: 40px; } }
    .promo-drawer__close-button:hover, .promo-drawer__close-button:focus, .promo-drawer__close-button:active {
      background-color: #eee; }
      .promo-drawer__close-button:hover svg, .promo-drawer__close-button:focus svg, .promo-drawer__close-button:active svg {
        fill: #333; }
    .promo-drawer__close-button:focus {
      outline: 1px dotted #333 !important;
      outline-offset: 2px; }
    .promo-drawer__close-button svg {
      fill: #74736d;
      display: block;
      width: 20px;
      height: 20px;
      -webkit-transition: fill 0.5s ease;
      transition: fill 0.5s ease;
      margin: 0 auto; }
  .promo-drawer__carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    clear: both;
    width: 100%;
    margin: 20px auto;
    visibility: visible;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .promo-drawer__carousel {
        margin: 10px auto; } }
    .promo-drawer__carousel--inner {
      display: block;
      position: relative;
      max-width: 1342px;
      margin: 0 auto;
      width: 100%; }
    .promo-drawer__carousel .slick-container {
      margin: 0 auto;
      position: relative;
      padding-left: 25px;
      padding-right: 25px; }
      @media screen and (min-width: 768px) {
        .promo-drawer__carousel .slick-container {
          padding-left: 35px;
          padding-right: 35px; } }
    .promo-drawer__carousel .slick-slide {
      padding: 0 5px;
      visibility: visible;
      height: auto; }
    .promo-drawer__carousel .slick-slider {
      margin-bottom: 0; }
    .promo-drawer__carousel .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .promo-drawer__carousel .promo-drawer__carousel-button {
      display: block; }
      .promo-drawer__carousel .promo-drawer__carousel-button svg {
        width: 24px;
        height: 24px; }
        @media screen and (min-width: 768px) {
          .promo-drawer__carousel .promo-drawer__carousel-button svg {
            width: 32px;
            height: 32px; } }
    .promo-drawer__carousel .promo-drawer__carousel-prev,
    .promo-drawer__carousel .promo-drawer__carousel-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .promo-drawer__carousel .promo-drawer__carousel-prev {
      left: 0; }
    .promo-drawer__carousel .promo-drawer__carousel-next {
      right: 0; }
  .promo-drawer__slide {
    background: #f8f8f8;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
    .promo-drawer__slide p {
      margin: 0; }
    .promo-drawer__slide-date {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      width: 100%; }
      .promo-drawer__slide-date p.sans-m-bold {
        font-size: 12px;
        line-height: 24px; }
    .promo-drawer__slide-img {
      display: block;
      position: relative; }
      .promo-drawer__slide-img img {
        width: 100%; }
    .promo-drawer__slide-description {
      padding: 5px 10px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: 100%; }
      .promo-drawer__slide-description p.sans-m-bold {
        font-size: 11px;
        line-height: 18px; }
        @media screen and (min-width: 1024px) {
          .promo-drawer__slide-description p.sans-m-bold {
            font-size: 13px;
            line-height: 20px; } }
      .promo-drawer__slide-description-title {
        width: 100%; }
      .promo-drawer__slide-description-links {
        margin-top: auto;
        width: 100%;
        padding-top: 10px; }
        .promo-drawer__slide-description-links a {
          color: #74736d;
          text-decoration: underline;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          font-size: 11px;
          line-height: 14px; }
          @media screen and (min-width: 1024px) {
            .promo-drawer__slide-description-links a {
              font-size: 12px;
              line-height: 16px; } }
          .promo-drawer__slide-description-links a:hover, .promo-drawer__slide-description-links a:focus, .promo-drawer__slide-description-links a:active {
            color: #333;
            text-decoration: underline; }
          .promo-drawer__slide-description-links a:not(:first-of-type) {
            margin-left: 10px; }
