// ========================================================
// DAILY DEALS DRAWER
// ========================================================
$breakpoint-sm:       420px;
$breakpoint-md:       768px;
$breakpoint-lg:       1024px;

// Colors
$black:                 #333;
$white:                 #fff;
$coral:                 #f3665c;
$purple-lt:             #e0e0e7;
$purple-gray-dk:        #52535a;
$purple-gray:           #727278;
$blue-lt:               #e2eef3;
$taupe:                 #74736d;
$gray-dk:               #666;
$gray-med:              #c1c1c1;
$gray-lt:               #eee;
$cream:                 #f8f6f0;
$dark-pink:             #e9b0b8;
$pink:                  #ffe6e3;
$brand-primary:         #f04874;

$z-index: 9999;

@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
@mixin red-bg() {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.4);
}

@mixin focus() {
  outline: 1px dotted $black !important;
  outline-offset: 2px;
}

@mixin transition() {
  transition: all 1s ease;
}


.footer-copy {
  padding-bottom: 60px !important;
}


.no-scroll {
  overflow-y: hidden;
}



.promo-drawer {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: $z-index;

  p {
    hyphens: none;
  }

  .highlight {
    color: #aa170d;
  }


  &__drawer {
    background: $white;
    //border: 1px solid $gray-lt;
    bottom: 0%;
    display: block;
    left: 50%;
    max-width: 1600px;
    position: absolute;
    transform: translate3d(-50%, 100%, 0);
    transition: all 1s ease-in-out;
    width: calc(100% - 20px);
    z-index: $z-index + 1;
    @media screen and (min-width: 1600px) {
      width: 100%;
    }


    // Drawer Open
    &[data-drawer-status="open"] {
      box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
      transform: translate3d(-50%, 0, 0);
      .promo-drawer__header-text h3 {
        font-size: 16px;
        line-height: 20px;
      }
      .promo-drawer__header-icon svg {
        margin-top: -6px;
        transform: rotateZ(30deg) scale(1.25);
      }
      .promo-drawer__header-arrow svg {
        transform: rotateX(180deg);
      }
      .promo-drawer__content {
        opacity: 1;
      }
    }
  }




  // ========================================================
  // Overlay
  // ========================================================
  &__overlay {
    background: #333;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
  }



  // --------------------------------------------------------
  // Header
  // --------------------------------------------------------
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background: $black;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid $white;
    //border-bottom: none;
    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    transform: translate3d(0, -49px, 0);
    cursor: pointer;
    height: 50px;
    width: 100%;
    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
      width: 400px;
      left: 50%;
      transform: translate3d(-50%, -49px, 0);
    }


    &-icon {
      width: 16px;
      svg {
        width: 16px;
        fill: $white;
        @include transition();
      }
    }

    &-text {
      width: 360px;
      padding-left: 10px;
      h3 {
        color: $white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 2px;
        @media screen and (min-width: $breakpoint-md) {
          font-size: 14px;
          line-height: 18px;
        }
      }
      p {
        color: $white;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
        @media screen and (min-width: $breakpoint-md) {
          font-size: 11px;
          line-height: 14px;
        }
      }
    }

    &-arrow {
      width: 16px;
      svg {
        fill: $white;
        width: 16px;
        height: 12px;
        margin-top: -4px;
        @include transition();
        @media screen and (min-width: $breakpoint-md) {
          margin-top: 0;
        }
      }
    }


    // White Background / Black Text
    &.white {
      background: $white;
      border: 1px solid $black;
      .promo-drawer__header-icon {
        svg {
          fill: $black;
        }
      }
      .promo-drawer__header-text {
        color: $black;
        h3,
        p {
          color: $black;
        }
      }
      .promo-drawer__header-arrow {
        svg {
          fill: $black;
        }
      }
    }

  } // .promo-drawer__header



  // ========================================================
  // CONTENT
  // ========================================================
  &__content {
    opacity: 0;
    transition: opacity 1.2s ease;
    .sans-m-bold {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }


  // ========================================================
  // CLOSE BUTTON
  // ========================================================
  &__close-button {
    background: none;
    background-color: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    z-index: 1;
    padding: 0;
    transition: background-color 0.5s ease;
    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $gray-lt;
      svg {
        fill: $black;
      }
    }
    &:focus {
      @include focus();
    }
    svg {
      fill: $taupe;
      display: block;
      width: 20px;
      height: 20px;
      transition: fill 0.5s ease;
      margin: 0 auto;
    }
  }



  // ========================================================
  // Carousel
  // ========================================================
  $carousel-max-width: 1342px;

  &__carousel {
    // @include green-bg();
    display: flex;
    align-items: center;
    position: relative;
    clear: both;
    width: 100%;
    margin: 20px auto;
    visibility: visible;
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (max-width: 768px) and (orientation: landscape) {
      margin: 10px auto;
    }


    // ----------------------------------------------------------------
    // Inner
    // ----------------------------------------------------------------
    &--inner {
      // @include red-bg();
      display: block;
      position: relative;
      max-width: $carousel-max-width;
      margin: 0 auto;
      width: 100%;
    }

    .slick-container {
      margin: 0 auto;
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
      // @media screen and (min-width: $breakpoint-sm) {
      //   padding-left: 25px;
      //   padding-right: 25px;
      // }
      @media screen and (min-width: $breakpoint-md) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .slick-slide {
      padding: 0 5px;
      visibility: visible;
      height: auto;
      //margin-bottom: 10px;
    }
    .slick-slider {
      margin-bottom: 0;
    }
    .slick-track {
      display: flex;
    }


    // ----------------------------------------------------------------
    // Arrows
    // ----------------------------------------------------------------
    .promo-drawer__carousel-button {
      display: block;
      & svg {
        width: 24px;
        height: 24px;
        // @media screen and (min-width: $breakpoint-sm) {
        //   width: 24px;
        //   height: 24px;
        // }
        @media screen and (min-width: $breakpoint-md) {
          width: 32px;
          height: 32px;
        }
      }
    }

    .promo-drawer__carousel-prev,
    .promo-drawer__carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .promo-drawer__carousel-prev {
      left: 0;
    }
    .promo-drawer__carousel-next {
      right: 0;
    }

  } // .promo-drawer__carousel




  // ========================================================
  // Slides
  // ========================================================
  &__slide {
    background: #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    p {
      margin: 0;
    }


    // DATE
    &-date {
      //@include red-bg();
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      width: 100%;
      p.sans-m-bold {
        font-size: 12px;
        line-height: 24px;
      }
    }


    // IMAGE
    &-img {
      display: block;
      position: relative;
      img {
        width: 100%;
      }
    }


    // GRADIENT
    // &-gradient {
    //   display: block;
    //   position: relative;
    //   width: 100%;
    //   padding-bottom: 70.9195402299%;
    //   box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
    //   background-image: linear-gradient(
    //     135deg,
    //     lighten($brand-primary, 10%),
    //     darken($brand-primary, 10%)
    //   );
    //   &::after {
    //     display: block;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: linear-gradient(
    //       135deg,
    //       rgba(0, 0, 0, 0),
    //       rgba(0, 0, 0, 0.2)
    //     );
    //   }
    //
    //
    //   // MESSAGE
    //   &-message {
    //     color: $white;
    //     text-align: center;
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     align-content: center;
    //     align-items: center;
    //     z-index: 1;
    //     p {
    //       text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    //       margin: 0;
    //       width: 100%;
    //       padding: 5px 10px;
    //       text-align: center;
    //       font-weight: 700;
    //       &.light-text {
    //         color: $white;
    //       }
    //       &.dark-text {
    //         color: $black !important;
    //         text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
    //       }
    //     }
    //   }
    // }


    // DESCRIPTION
    &-description {
      //@include green-bg();
      padding: 5px 10px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;

      p.sans-m-bold {
        font-size: 11px;
        line-height: 18px;
        @media screen and (min-width: 1024px) {
          font-size: 13px;
          line-height: 20px;
        }
      }

      // TITLE
      &-title {
        width: 100%;
      }

      // LINKS
      &-links {
        margin-top: auto;
        width: 100%;
        padding-top: 10px;
        a {
          color: $taupe;
          text-decoration: underline;
          transition: all 0.3s ease;
          font-size: 11px;
          line-height: 14px;
          @media screen and (min-width: 1024px) {
            font-size: 12px;
            line-height: 16px;
          }
          &:hover,
          &:focus,
          &:active {
            color: $black;
            text-decoration: underline;
          }
          &:not(:first-of-type) {
            margin-left: 10px;
          }
        }
      }
    }


    // LINKS
    // &-links {
    //   display: flex;
    //   flex-direction: row;
    //   flex-wrap: nowrap;
    //   justify-content: flex-start;
    //   align-items: center;
    //   align-content: center;
    //   padding: 10px;
    // }
    // &-link {
    //   color: $black;
    //   &:not(:last-of-type) {
    //     margin-right: 15px;
    //   }
    // }

  } // Slides


} // .promo-drawer
