<link rel="stylesheet" href="/monetate/actions/pro-reg/email-signup/styles.css">





<div class="email-signup-modal" id="EmailSignupModal" role="dialog" aria-hidden="true" aria-labelledby="emailSignupModalTitle" style="display:none;">
  <div class="email-signup-modal__dialog">

    <div class="email-signup-modal__form">
      <iframe src="https://pages.em.davidsbridal.com/NotifyMe" width="" height=""></iframe>
    </div>

    <button class="email-signup-modal__close-button" id="EmailSignupModalCloseButton" aria-label="Close" tabindex="0" type="button" role="button">
      <svg role="img" style="enable-background:new -493 495 13.9 12;" version="1.1" viewbox="-493 495 13.9 12" width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
        <polygon points="-480.7,495 -485.6,500 -490.6,495 -491.6,496 -486.6,501 -491.6,506 -490.6,507 -485.6,502 -480.7,507 -479.7,506 -484.7,501 -479.7,496 "></polygon>
      </svg>
    </button>
  </div>

  <div class="email-signup-modal__overlay" style="display:none;"></div>
</div>


<script type="text/javascript" src="/monetate/actions/pro-reg/email-signup/script.js"></script>
