<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0;
        display: inline-block; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
        .few-favorites-carousel__inner--heading p.serif-m-italic {
          margin-right: 18px; }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
</style>

<div class="few-favorites-carousel" data-analytics-tagging="Trending-Products">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a id="bridesCarouselPrev" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-prev" aria-label="See previous product">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div id="bridesCarouselSlick" class="few-favorites-carousel__slick" data-slick='{"prevArrow": "#bridesCarouselPrev", "nextArrow": "#bridesCarouselNext" }'>

        <!-- ZP341835 -->
        <div class="slick-slide">
          <a href="/Product_truly-zac-posen-horsehair-tier-skirt-wedding-dress-zp341835" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ZP341835-10925105-Ivory?$plpproductimgmobile_2up$" alt="Truly Zac Posen Horsehair Tier Skirt Wedding Dress">
          </a>
        </div>

        <!-- 183668DB -->
        <div class="slick-slide">
          <a href="/Product_scalloped-one-shoulder-glitter-lace-sheath-gown-183668db" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-183668DB-10881460-Soft%20White?$plpproductimgmobile_2up$" alt="Scalloped One-Shoulder Glitter Lace Sheath Gown">
          </a>
        </div>

        <!-- SDWG0618 -->
        <div class="slick-slide">
          <a href="/Product_short-illusion-lace-dress-with-3-4-bell-sleeves-sdwg0618" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0618-10926599-Ivory?$plpproductimgmobile_2up$" alt="Short Illusion Lace Dress with 3/4 Bell Sleeves">
          </a>
        </div>

        <!-- 264186 -->
        <div class="slick-slide">
          <a href="/Product_allover-sequined-v-neck-sheath-gown-264186" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-264186-10925625-Ivory?$plpproductimgmobile_2up$" alt="Allover Sequined V-Neck Sheath Gown">
          </a>
        </div>

        <!-- SWG784 -->
        <div class="slick-slide">
          <a href="/Product_sheer-beaded-bodice-organza-a-line-wedding-dress-swg784" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SWG784-10918948-Ivory_Rose%20Water?$plpproductimgmobile_2up$" alt="Sheer Beaded Bodice Organza A-Line Wedding Dress">
          </a>
        </div>

        <!-- WG3885 -->
        <div class="slick-slide">
          <a href="/Product_guipure-lace-sheath-wedding-dress-with-ribbon-sash-wg3885" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3885-10894080-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Guipure Lace Sheath Wedding Dress with Ribbon Sash">
          </a>
        </div>

        <!-- CWG791 -->
        <div class="slick-slide">
          <a href="/Product_crystal-encrusted-mikado-ball-gown-wedding-dress-cwg791" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG791-10894119-Ivory?$plpproductimgmobile_2up$" alt="Crystal Encrusted Mikado Ball Gown Wedding Dress">
          </a>
        </div>

        <!-- WG3877 -->
        <div class="slick-slide">
          <a href="/Product_mikado-and-tulle-v-neck-ball-gown-wedding-dress-wg3877" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3877-10894071-Ivory?$plpproductimgmobile_2up$" alt="Mikado and Tulle V-Neck Ball Gown Wedding Dress">
          </a>
        </div>

        <!-- 183626DB -->
        <div class="slick-slide">
          <a href="/Product_allover-lace-v-neck-sheath-wedding-dress-183626db" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-183626DB-10522636-Ivory?$plpproductimgmobile_2up$" alt="Allover Lace V-Neck Sheath Wedding Dress">
          </a>
        </div>

        <!-- WG3827 -->
        <div class="slick-slide">
          <a href="/Product_soft-lace-wedding-dress-with-low-back-wg3827" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3827-10752686-Ivory?$plpproductimgmobile_2up$" alt="Soft Lace Wedding Dress with Low Back">
          </a>
        </div>

        <!-- CWG780 -->
        <div class="slick-slide">
          <a href="/Product_beaded-lace-wedding-dress-with-pleated-skirt-cwg780">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG780-10893393-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Beaded Lace Wedding Dress with Pleated Skirt">
          </a>
        </div>

        <!-- VW351318 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-pleated-v-neck-wedding-dress-vw351318" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351318-10711236-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Pleated V-Neck Wedding Dress">
          </a>
        </div>

        <!-- 14130904 -->
        <div class="slick-slide">
          <a href="/Product_lace-illusion-wedding-gown-14130904" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-14130904-10889163-Ivory?$plpproductimgmobile_2up$" alt="Lace Illusion Plus Size Wedding Gown">
          </a>
        </div>

        <!-- VW351178 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-textured-organza-wedding-dress-vw351178" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351178-10177011-Blush?$plpproductimgmobile_2up$" alt="White by Vera Wang Textured Organza Wedding Dress">
          </a>
        </div>

        <!-- SDWG0622 -->
        <div class="slick-slide">
          <a href="/Product_soft-floral-lace-sheath-gown-with-blush-lining-sdwg0622">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0622-10925454-Ivory_Angel?$plpproductimgmobile_2up$" alt="Soft Floral Lace Sheath Gown with Blush Lining">
          </a>
        </div>

        <!-- MS251177 -->
        <div class="slick-slide">
          <a href="/Product_scalloped-a-line-wedding-dress-with-double-straps-ms251177" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251177-10757008-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Scalloped A-Line Wedding Dress with Double Straps">
          </a>
        </div>

        <!-- 19150905 -->
        <div class="slick-slide">
          <a href="/Product_wedding-belle-plus-size-short-dress-19150905" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="https://img.davidsbridal.com/is/image/DavidsBridalInc/Set-19150905-10889191-Antique%20Shimmer?$plpproductimgmobile_2up$" alt="Wedding Belle Plus Size Short Dress">
          </a>
        </div>

      </div>

      <a id="bridesCarouselNext" href="javascript:void()" class="few-favorites-carousel-button few-favorites-carousel-next" aria-label="See next product">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var bridesCarouselSlick = $('#bridesCarouselSlick');
  bridesCarouselSlick.slick({
    autoplay: false,
    slidesToShow: 6,
    slidesToScroll: 1,
    variableWidth: false,
    infinite: true,
    centerMode: false,
    dots: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }
    ]
  });
  $('#bridesCarouselPrev, #bridesCarouselNext').on("click", function(event){
    event.preventDefault();
  });
});
</script>
