<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1" data-analytics-position="Module_1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_Invites.jpg" alt="Colorful wedding invitations">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Color-Coordinated Invites</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="http://www.pjatr.com/t/2-322430-162709-162580" target="_blank">Shop New Styles from Shutterfly&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_2">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/veils">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/I&GModule_414x284_Veils.jpg" alt="Woman wearing long, flowing veil">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Gorgeous Veils</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/veils">Shop Veils&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_3">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/shoes/bridal-wedding-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/CompleteYourDay_Module_414x284_Shoes.jpg" alt="A pair of metallic high heels">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Shoes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/shoes/bridal-wedding-shoes">SHOP SHOES&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1" data-analytics-position="Module_4">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/accessories/CompleteYourDay_Module_414x284_WeddingGownPreservation.jpg" alt="bride smiling in white dress and necklace">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Preserve Your Wedding Dress</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/Product_davids-bridal-wedding-gown-preservation-kit-davidswgp">Shop Preservation Kit&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
