<style media="screen">
.sale-banner {
  margin: 20px auto 30px; }
  .sale-banner__inner {
    background: #f15269;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1252px;
    outline: 5px solid #f15269;
    padding: 40px 10px;
    text-align: center;
    width: 100%; }
  .sale-banner h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff; }
  .sale-banner p {
    margin: 0;
    color: #fff; }
    .sale-banner p.sans-bold-uppercase a {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .sale-banner p.sans-bold-uppercase a:hover, .sale-banner p.sans-bold-uppercase a:active {
        color: #ccc; }

</style>

<section class="espot-container sale-banner" data-analytics-tagging="BMClearance">
  <a href="/sale/sale-wedding-dresses" aria-label="Bridal Sample Sale - up to 75% off original prices">
    <div class="sale-banner__inner">
      <p class="serif-s-italic">bridal sample sale</p>
      <h3 class="serif-l-italic">up to 75% off original prices</h3>
      <p class="sans-bold-uppercase">
        <a href="/sale/sale-wedding-dresses">Shop Now&nbsp;&gt;</a>
      </p>
    </div>
  </a>
</section>




<style media="screen">
.designer-spotlight {
  max-width: 1282px;
  margin: 0 auto;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .designer-spotlight {
      padding: 0; } }
  .designer-spotlight .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .designer-spotlight .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .designer-spotlight .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -7px;
    position: relative; }
  .designer-spotlight h2 {
    margin: 0;
    margin-bottom: -10px; }
  .designer-spotlight .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .designer-spotlight .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .designer-spotlight .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .flex-container .column {
          padding: 5px; } }
  .designer-spotlight img {
    width: 100%; }
  .designer-spotlight .media-block-content {
    margin-top: 10px; }
    .designer-spotlight .media-block-content p {
      margin-top: 5px; }
      @media screen and (min-width: 768px) {
        .designer-spotlight .media-block-content p {
          margin-top: 5px; } }
</style>

<section data-analytics-tagging="DesignerSpotlight" class="espot-container designer-spotlight">
  <div class="section-minor-heading">
    <p class="section-minor-heading__heading serif-s-italic">Brand Spotlight</p>
  </div>

  <div class="flex-container">

    <div class="column" data-analytics-position="Designer_1">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:30744573456166666717510512111111011097&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Kiyonna&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/BrandSpotlight_Kiyonna.jpg" alt="Plus size red wine color dress with 3/4 sleeves by Kiyonna" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Kiyonna</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:30744573456166666717510512111111011097&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Kiyonna&">Shop Kiyonna&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_2">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:30744573456166666718497100971151041053283104111106105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Tadashi%20Shoji&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/BrandSpotlight_Tadashi.jpg" alt="Open back aqua dress with beautiful beading and embellishment by Terani Couture" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Tadashi Shoji</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:30744573456166666718497100971151041053283104111106105&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Tadashi%20Shoji&">Shop Tadashi Shoji&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_3">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:3074457345616666671769711497&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Lara&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/BrandSpotlight_Lara.jpg" alt="Red Y-neck halter dress by Speechless" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Lara</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:3074457345616666671769711497&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:,Lara&">Shop Lara&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

    <div class="column" data-analytics-position="Designer_4">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:307445734561666667184101114971101053267111117116117114101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Terani%20Couture&">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/brides/BrandSpotlight_Terani.jpg" alt="Glittering sequin dress with 3/4 sleeves and scoop back by Adrianna Papell" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Terani Couture</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/SearchDisplay?categoryId=3002605&storeId=10052&langId=-1#!&facet:307445734561666667184101114971101053267111117116117114101&productBeginIndex:0&orderBy:&pageView:grid&minPrice:&maxPrice:&pageSize:30&productSize:large&isPriceFacet:false&facetValues:Terani%20Couture&">Shop Terani Couture&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

  </div>
</section>