<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section class="espot-container three-across" data-analytics-tagging="Fall2018Collection-WeddingDressFinder-ReceptionDresses">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_1">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_fallweddingdressideas ">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_Newness.jpg" alt="Bride in wedding dress holding bouquet"/>
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">The Fall 2018 Collection</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_fallweddingdressideas ">Shop our newest styles&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_2">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap " href="/wedding-dress-quiz">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_WeddingDressFinder.gif" alt="Wedding dress silhouettes on a pink background" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Wedding Dress Finder</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-dress-quiz">Take the quiz&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_3">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/wedding-dresses/casual-wedding-dress">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_Casual.jpg" alt="Bride in wedding dress at beach." />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Casual & Reception Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/wedding-dresses/casual-wedding-dress">Amazingly Priced under $400&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
