<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0; }

.spacing-media-seo {
    max-width: 1262px;
    margin: 0 auto;
    width: 100%;
}

p.legacy,
.legacy p{
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size:10px;
	line-height: 15px;
	  font-weight: 400;
  margin: 0 10px 0 10px;
}

</style>
<div class="spacing-media-seo mobile-hidden tablet-hidden">
<div class="legacy">
<br>
<p><strong>The Most Beautiful Bridal Trends: 2017</strong>
<br>Looking for wedding dress inspiration? You’ve come to the right place. We make choosing your perfect gown easy with our comprehensive Brides Guides and Look Books. Full of bridal tips, gorgeous pictures of brides and breathtaking wedding dress ideas, they’ll walk you through all the latest looks right off the runway.<br>
<br>
<strong> A Wedding Dress Guide for Every Bride</strong>
<br>
Choosing the dress of your dreams can be overwhelming. With so many incredible styles to pick from, where does one begin? Finding a dress you adore starts with some basic information. Our Silhouette Guide explains some of the specialized fashion terms you’ll encounter while shopping. What’s the difference between an A-line gown and a princess cut? What about mermaid and trumpet dresses? You want a dress that works with your unique body to make you feel stunningly beautiful, so our Petite and Plus Size guides are full of bridal ideas and suggestions to suit every body.</p>
</div>
</div>


<!-- SCROLL TO TOP BUTTON -->
<style media="screen">
	.listing-pager__top {
		display: none;
		position: fixed;
		top: auto;
		right: 15px;
		bottom: 25px;
	 	z-index: 1; }
</style>
<div class="listing-pager__top" id="scrollToTop">
	<a class="listing-pager__top-link" href="#">
		<span class="listing-pager__top-link-image">
			<svg class="listing-pager__top-link-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
			</svg>
		</span>
		<span class="listing-pager__top-link-text">Top</span>
	</a>
</div>
<script type="text/javascript">
	// When the user scrolls down, show the button
	$(window).on('scroll', function() {
		scrollFunction();
	});
	const scrollFunction = () => {
		let scrollTop = $(window).scrollTop();
		if (scrollTop >= 100) {
			$('#scrollToTop').css('display', 'block');
		} else {
			$('#scrollToTop').css('display', 'none');
		}
	}

	// When the user clicks on the button, scroll to the top
	$('#scrollToTop a').on('click', function(e) {
		e.preventDefault();
    console.log('SCROLL TO TOP CLICKED');
		$('html, body').animate({scrollTop: 0}, 1000);
	});
</script>
