<section class="espot-container three-across" data-analytics-tagging="WeddingVeilGuide-WeddingDresses101-WTWEveryWedding">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_veilstyleguide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_VeilGuide.jpg" alt="Bride wearing a blush strapless wedding dress with veil" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Veil Guide</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_veilstyleguide">Top off your look&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_WeddingDressesGuide">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_WeddingDress101.jpg" alt="Bride wearing lace wedding dress" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Dresses 101</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_WeddingDressesGuide">Everything you need to know&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

<div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_WTW_WeddingEvents.jpg" alt="Bride and Groom walking in city" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">What to Wear: Every Wedding Event</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">For your bachelorette & more&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>



  </div>
</section>
