<style type="text/css">
	.topBannerContainer { width:100%; background-color:#f8b3ae; text-align:center; margin:auto; padding:10px; font-family:'Open Sans',Verdana,Helvetica, Arial,'Droid Sans',sans-serif; font-size:12px; line-height:22px; color:#333; }
	.topBannerHeadline { font-family:'Domaine Display','Bodoni 72','Times New Roman',Times,'Droid Serif',serif; font-size:18px; color:#333; font-style:italic; }
</style>

<section data-analytics-tagging="CLPTopPromoBanner" style="margin-bottom:10px;">
<div class="topBannerContainer" style="margin-bottom:0px;">
	<span class="topBannerHeadline">Gorgeous gowns up to <br class="desktop-hidden tablet-hidden">$500 off original price</span><span class="mobile-hidden">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><br class="desktop-hidden tablet-hidden"><span style="white-space:nowrap;">Ends June 27</span><span class="mobile-hidden">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><br class="desktop-hidden tablet-hidden"><a href="/sale/sale-wedding-dresses" style="font-weight:bold; text-decoration:none;" data-toppromo-message="SHOP NOW">SHOP THE SALE&nbsp;&gt;</a>
</div>

<div class="column-full align-center" style="line-height:1; margin:2px auto 0;">
  <p class="sans-xxs">*Ends 6/27/17. Price as marked online. <span style="white-space:nowrap;">Cannot be combined.</span> <span style="white-space:nowrap;">Not valid in CA or UK.</span> <a href="/Content_BuyOnline_offers" style="display:inline;" data-toppromo-message="Details"><span class="underline">Details</span></a>.</p>
</div>
</section>
