<section class="espot-container three-across" data-analytics-tagging="OurBrands-WeddingThemes-SilhouetteGuide">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_WeddingDressDesigners">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_Brands.jpg" alt="Bride and groom walking cliff side" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Our Brands</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_WeddingDressDesigners">A Designer for every style&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

     

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_weddingthemes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2018/brides/767px_Vertical_CLP_Module_WeddingThemes.jpg" alt="Bride sitting in wedding gown" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Wedding Theme Ideas</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_weddingthemes">Find Yours&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

<div class="column">
        <div class="media-block default media-block-special spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide-styleguidedressguide_index">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/fall2017/brides/2017fall_brides_3across_r2a_mobile.jpg" alt="Four dress silhouettes on a black background"/>
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Silhouette Guide</h3>
            </div>
            <p>
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide-styleguidedressguide_index">From mermaid to ball gown&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
