@import "../../../../variables";
@import "../../../../mixins";

#page .header_wrapper_position {
  padding-bottom: 0;
}

.rowContainer .row {
  margin: 0;
}


.walk-in-toppromo {
  display: block;
  position: relative;
  background: #f1cfc3;
  height: 200px;
  max-width: 1600px;
  width: 100%;
  margin: -15px auto 20px;
  @media screen and (min-width: 768px) {
    height: 150px;
    margin: 15px auto 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    color: #333;
    hyphens: none;
  }

  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 180px;

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 14px 14px;
      width: auto;
      min-width: 180px;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
    }
  }


  &__text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }


  &__storefront {
    //@include green-bg();
    width: 40%;
    padding: 10px;
    max-width: 160px;
    @media screen and (min-width: 768px) {
      width: 100%;
      padding: 0;
      padding-left: 10px;
    }
    svg {
      display: block;
      width: 100%;
    }
  }
  
  
  
  &__message {
    //@include red-bg();
    width: 60%;
    padding: 10px;
    max-width: 260px;
    display: block;
    @media screen and (min-width: 500px) {
      margin-left: 50px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      max-width: 100%;
      width: auto;
    }
    @media screen and (min-width: 1024px) {
      width: auto;
      margin-left: 30px;
    }
    @media screen and (min-width: 1262px) {
      margin-left: 60px;
    }
    
    img {
      margin-bottom: 10px;
      @media screen and (min-width: 1024px) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
    
    p.sans-l {
      @media screen and (min-width: 1024px) {
        margin-top: 4px;
      }
    }
    
    &-text {
      @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    
    .sans-bold-uppercase {
      margin-top: 10px;
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 0;
      }
    }

    .btn {
      margin-top: 20px;
      @media screen and (min-width: 768px) {
        margin: 0;
        margin-left: 40px;
      }
      @media screen and (min-width: 1262px) {
        margin-left: 80px;
      }
    }
  }

}


// IE11
html.no-smil {
  .walk-in-toppromo {
    &__message {

      .btn {
        margin-top: 70px;
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
    }
  }
}
