// ========================================================
// Careers Banner
// ========================================================
.careers-banner {
  background: #e4eff4;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  outline: 6px solid #e4eff4;
  padding: 20px;
  margin: 0 auto 10px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 1245px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    padding: 30px 0;
  }
  @media screen and (min-width: 1262px) {
    margin: 20px auto;
  }

  h3,
  p {
    // background: rgba(255, 0, 0, 0.1);
    // border: 1px solid rgba(255, 0, 0, 0.4);
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: auto;
    }
  }

  p.serif-l-italic {
    @media screen and (min-width: 1024px) {
      margin-left: 10px;
      margin-right: 20px;
    }
  }

  .btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 10px auto 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    @media screen and (min-width: 1024px) {
      margin: 0;
    }
    &-secondary {
      a {
        outline: none;
        color: #52535a;
        background-color: #ffffff;
        border: 1px solid #52535a;
        margin: 0 !important;
        padding: 10px 50px !important;
        display: block;
        text-align: center;
        text-decoration: none;
        &:hover,
        &:active {
          background-color: #ffffff;
          border: 1px solid #e0e0e7;
          outline: none;
        }
      }
    }
  }
} // .careers-banner
