// ==========================================================================
// Hero Banner
// ==========================================================================
.appointment-banner {
  background: $brand-primary;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  padding: 15px;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 5px;
  }

  p {
    display: block;
    @media screen and (min-width: $breakpoint-lg) {
      display: inline;
      margin: 0 20px;
    }
  }

  // White Text
  p:not(:last-of-type) {
    color: $white;
  }

  // Spacing
  p:first-of-type {
    margin-bottom: 4px;
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 10px;
    }
  }
  p:nth-of-type(2) {
    margin-bottom: 8px;
  }
  p.btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
    border: 1px solid $white;
  }

}
