// ==========================================================================
// Hero Image and Caption
// ==========================================================================
.hero {
  width: 100%;
  display: block;
  position: relative;
  clear: both;


  // ----------------------------------------------------------------
  // Main Hero Image / Caption
  // ----------------------------------------------------------------
  &__img {
    display: block;
    position: relative;
  }


  &__caption {
    display: block;
    position: relative;
    border: 1px solid $black;
    margin: 10px;
    padding: 20px;

    background: $white;
    min-height: 200px;

    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      margin: 0;
      width: 400px;
      outline: 10px solid $white;
      top: 50%;
      transform: translateY(-50%);
    }
    &.right {
      @media screen and (min-width: $breakpoint-lg) {
        right: 5%;
      }
    }
    &.left {
      @media screen and (min-width: $breakpoint-lg) {
        left: 20px;
      }
      @media screen and (min-width: 1282px) {
        left: calc((100vw - 1242px) / 2);
      }
      @media screen and (min-width: 1600px) {
        left: calc((1600px - 1242px) / 2);
      }
    }


    // Text
    .serif-l-italic {
      margin: 0;
      margin-bottom: 5px;
    }
    .serif-xl {
      margin: 0;
      margin-bottom: 10px;
    }
    .sans-l {
      margin: 0;
      margin-bottom: 10px;
    }

  } // .caption
} // .hero
