// ==========================================================================
// Real Brides
// ==========================================================================
.real-brides {
  padding: 0 10px;

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
    margin-bottom: 15px;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: -5px;
    margin-right: -5px;


    .column {
      width: 100%;
      padding: 5px;
    }
  }

} // .real-brides
