.rewards-banner {
  background: $pink;
  text-align: center;
  border: 1px solid $white;
  outline: 10px solid $pink;
  margin: 30px 10px;
  padding: 30px 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 30px 10px;
    padding: 30px 100px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin: 30px 20px;
    padding: 20px 20px;
  }

  p {
    margin: 0;
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
      margin: 0 20px 10px;
    }
    &.serif-m-italic {
      //margin-bottom: 10px;
    }
  }

  // text link
  .sans-bold-uppercase {
    display: block;
    margin-top: 10px;
    @media screen and (min-width: $breakpoint-lg) {
      display: none;
    }
  }

  // button link
  .btn-secondary {
    display: none;
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
      margin: 0;
    }

    a {
      font-size: 12px;
      letter-spacing: 0.055em;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
