// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.styled-it {
  position: relative;
  padding: 0 10px;

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      position: relative;
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 20%;
      }
      // @media screen and (min-width: $breakpoint-lg) {
      //   width: 20%;
      // }

      &__overlay {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        background: $cream;
        opacity: 0.85
      }
    } // .column
  } // .flex

}
