html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px; }
  .content-page .container-full {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .img-circle {
    border-radius: 50%; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .two-columns.reverse .column:nth-of-type(1) {
      max-width: 60%;
      margin-right: 30px;
      margin-left: 0; }
    .two-columns.reverse .column:nth-of-type(2) {
      max-width: 40%;
      margin-left: 30px;
      margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .two-columns.reverse .column:nth-of-type(1) {
      max-width: 60%;
      margin-right: 60px; }
    .two-columns.reverse .column:nth-of-type(2) {
      max-width: 40%;
      margin-left: 60px; } }
  .two-columns.reverse-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media screen and (min-width: 768px) {
      .two-columns.reverse-flex .column:nth-of-type(1) {
        max-width: 40%;
        margin-right: 0;
        margin-left: 30px; }
      .two-columns.reverse-flex .column:nth-of-type(2) {
        max-width: 60%;
        margin-left: 0;
        margin-right: 30px; } }
    @media screen and (min-width: 1024px) {
      .two-columns.reverse-flex .column:nth-of-type(1) {
        max-width: 40%;
        margin-left: 60px; }
      .two-columns.reverse-flex .column:nth-of-type(2) {
        max-width: 60%;
        margin-right: 60px; } }
  @media screen and (min-width: 768px) {
    .two-columns {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  @media screen and (min-width: 768px) {
    .two-columns.md-flex-start {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1024px) {
    .two-columns.md-flex-start {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .two-columns .column {
    width: 100%;
    margin: 10px 0; }
    @media screen and (min-width: 768px) {
      .two-columns .column:nth-of-type(1) {
        max-width: 40%;
        margin-right: 30px; }
      .two-columns .column:nth-of-type(2) {
        max-width: 60%;
        margin-left: 30px; } }
    @media screen and (min-width: 1024px) {
      .two-columns .column:nth-of-type(1) {
        max-width: 40%;
        margin-right: 60px; }
      .two-columns .column:nth-of-type(2) {
        max-width: 60%;
        margin-left: 60px; } }
    .two-columns .column .caption {
      margin: 5px 0;
      font-size: 13px; }
    .two-columns .column p {
      margin: 10px 0; }
      .two-columns .column p.sans-m {
        margin-top: -5px; }
    .two-columns .column__img {
      position: relative;
      margin-left: 20px;
      margin-right: 20px; }
      .two-columns .column__img img {
        border-radius: 50%; }
    .two-columns .column .quote {
      display: block;
      position: relative;
      clear: both;
      border: 2px solid #e2eef3;
      border-width: 2px 0;
      text-align: center;
      margin: 0; }
      .two-columns .column .quote blockquote {
        border: 1px solid #e2eef3;
        border-width: 1px 0;
        margin: 2px 0;
        padding: 20px; }
        .two-columns .column .quote blockquote .ldquo {
          margin: 0;
          margin-top: 10px;
          font-size: 48px;
          color: #d6d6d6; }
          @media screen and (min-width: 768px) {
            .two-columns .column .quote blockquote .ldquo {
              font-size: 60px; } }
        .two-columns .column .quote blockquote p {
          margin: 0; }
        .two-columns .column .quote blockquote .serif-s-italic {
          font-size: 18px;
          line-height: 22px;
          color: #52535a;
          max-width: 400px;
          margin: 0 auto; }
          @media screen and (min-width: 1024px) {
            .two-columns .column .quote blockquote .serif-s-italic {
              font-size: 20px;
              line-height: 24px; } }
        .two-columns .column .quote blockquote .sans-xs {
          margin-top: 20px;
          margin-bottom: 10px; }

@media screen and (min-width: 1024px) {
  .shift-up {
    margin-top: -50px; } }

.hero {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  z-index: 0; }
  .hero__img {
    display: block;
    position: relative; }
  .hero__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    .hero__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .hero__video--cover {
      display: none; }
      @media screen and (min-width: 1024px) {
        .hero__video--cover {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 9.375%;
          background: white; } }
  .hero__caption {
    text-align: center;
    display: block;
    position: relative;
    border: 3px solid white;
    margin: 10px;
    padding: 40px 20px;
    background: rgba(248, 246, 240, 0.8);
    margin-top: -110px; }
    @media screen and (min-width: 1024px) {
      .hero__caption {
        border: 3px solid rgba(255, 255, 255, 0.8);
        position: absolute;
        margin: 0;
        padding: 60px 30px;
        left: 7.5%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    .hero__caption img {
      margin-bottom: 20px;
      max-width: 350px; }
      @media screen and (min-width: 1024px) {
        .hero__caption img {
          max-width: 350px; } }
    .hero__caption p {
      margin: 0; }
      .hero__caption p.sans-bold-uppercase {
        margin-top: 15px;
        margin-bottom: 15px; }
        @media screen and (min-width: 1024px) {
          .hero__caption p.sans-bold-uppercase {
            margin-top: 30px; } }
        .hero__caption p.sans-bold-uppercase:last-child {
          margin-bottom: 0; }

.portrait-quote {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;
  z-index: 1; }
  @media screen and (min-width: 1024px) {
    .portrait-quote {
      margin-top: -100px;
      margin-bottom: 50px; } }
  .portrait-quote__img {
    display: block;
    max-width: 200px;
    margin: 0 auto; }
    .portrait-quote__img img {
      max-width: 80%;
      width: auto;
      border: 6px solid white;
      border-radius: 50%; }
      @media screen and (min-width: 1024px) {
        .portrait-quote__img img {
          max-width: 100%; } }
  .portrait-quote p {
    margin: 0; }
  .portrait-quote__text {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 20px;
    max-width: 340px; }
    @media screen and (min-width: 768px) {
      .portrait-quote__text {
        max-width: 480px; } }
    .portrait-quote__text::before {
      display: block;
      position: relative;
      content: "\201C";
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 48px;
      line-height: 52px;
      color: #d6d6d6;
      margin: 0;
      padding: 0;
      height: 30px; }
      @media screen and (min-width: 1024px) {
        .portrait-quote__text::before {
          font-size: 60px;
          line-height: 64px;
          margin-bottom: 10px; } }
    .portrait-quote__text .sans-m {
      margin-top: 10px; }

.appointment-banner {
  background: #f6c9c8;
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .appointment-banner {
      display: none; } }
  @media screen and (min-width: 1300px) {
    .appointment-banner {
      padding: 15px 0; } }
  .appointment-banner .sans-bold-uppercase a {
    color: #333; }
    .appointment-banner .sans-bold-uppercase a:hover, .appointment-banner .sans-bold-uppercase a:active {
      color: #74736d; }
  .appointment-banner p {
    display: block;
    margin: 10px 0; }
    @media screen and (min-width: 1300px) {
      .appointment-banner p {
        display: inline;
        margin: 0 20px; } }
  .appointment-banner p {
    color: #333; }
  .appointment-banner p:first-of-type {
    margin-bottom: 4px; }
    @media screen and (min-width: 1300px) {
      .appointment-banner p:first-of-type {
        padding-top: 10px;
        margin-bottom: 0; } }
  .appointment-banner p:nth-of-type(2) {
    margin-bottom: 8px; }
    @media screen and (min-width: 1300px) {
      .appointment-banner p:nth-of-type(2) {
        margin-bottom: 0; } }
  .appointment-banner p.btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
    padding: 11px 75px; }

.section-heading {
  display: block;
  position: relative;
  text-align: center;
  clear: both;
  padding: 20px 10px 0; }
  @media screen and (min-width: 768px) {
    .section-heading {
      padding: 50px 20px 40px; } }
  .section-heading img {
    width: auto;
    max-width: 100%;
    margin-bottom: 15px; }
  .section-heading p {
    margin: 0; }
    .section-heading p:last-of-type {
      margin-top: 5px; }

.few-favorites {
  display: block;
  position: relative;
  clear: both;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px; }
  @media screen and (min-width: 1024px) {
    .few-favorites {
      margin-bottom: 30px; } }
  .few-favorites__heading {
    padding: 0; }
  .few-favorites__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px; }
    .few-favorites__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .few-favorites__flex .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .few-favorites__flex .column {
          width: 16.66667%; } }

.social-share {
  display: block;
  position: relative;
  width: 100%; }
  .social-share__img {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .social-share__img img {
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .social-share__overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      background: rgba(249, 179, 174, 0.7);
      cursor: pointer;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 0; }
      .social-share__overlay:hover {
        opacity: 1; } }
  .social-share__overlay--icons {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    display: none;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (min-width: 768px) {
      .social-share__overlay--icons {
        display: block; } }
    .social-share__overlay--icons svg path {
      fill: #333; }
  .social-share__icon {
    width: 24px;
    height: 20px;
    margin: 0 15px; }
  .social-share .gig-bar-container {
    display: block;
    width: 100%; }
    .social-share .gig-bar-container table {
      margin: 0 auto; }

.wedding-inspiration-banner {
  background: #f6c9c8;
  max-width: 1382px;
  text-align: center;
  padding: 20px;
  margin: 20px auto 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  @media screen and (min-width: 1024px) {
    .wedding-inspiration-banner {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin: 60px auto 5px; } }
  .wedding-inspiration-banner p {
    width: 100%;
    margin: 0;
    color: #333;
    line-height: 1; }
    .wedding-inspiration-banner p:first-child {
      margin-bottom: 15px; }
    @media screen and (min-width: 1024px) {
      .wedding-inspiration-banner p {
        width: auto;
        margin: 0 15px; }
        .wedding-inspiration-banner p:first-child {
          margin-bottom: 0; } }
    .wedding-inspiration-banner p.btn-secondary a {
      font-size: 12px;
      letter-spacing: 0.055em;
      padding: 13px 25px; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 10px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 10px 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 10px; }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: #f8f6f0;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.our-db-brides {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 30px auto 0;
  padding: 0 10px; }
  .our-db-brides__heading {
    padding-left: 0; }
    .our-db-brides__heading h3,
    .our-db-brides__heading p {
      display: inline-block;
      margin-bottom: 10px; }
    .our-db-brides__heading-cta {
      margin-left: 10px; }
  .our-db-brides__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px; }
    .our-db-brides__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .our-db-brides__flex .column {
          width: 25%; } }

.ctnr-maincontent {
  background: #f8f6f0;
  padding-bottom: 50px; }

.content-page p a.inline-link {
  text-decoration: underline;
  font-weight: normal; }
  .content-page p a.inline-link:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #74736d; }
