// ==========================================================================
// Appointment Button
// ==========================================================================
.appointment-button {
  display: block;
  padding: 0 10px;
  width: 100%;
  @media screen and (min-width: $breakpoint-lg) {
    display: none;
  }

  .btn-secondary-special {
    display: block;
    a {
      background: #ef4370;
      color: #fff;
      padding-top: 11px;
      padding-bottom: 11px;
      &:hover,
      &:active {
        background: #c20b64;
      }
    }
  }
}



// ==========================================================================
// Appointment Banner
// ==========================================================================
.appointment-banner {
  display: none;
  @media screen and (min-width: $breakpoint-lg) {
    background: $brand-primary;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 5px 0;
  }

  p {
    color: #fff;
    margin: 0 15px;
    &.serif-m-italic {
      line-height: 1;
      padding-bottom: 4px;
    }
  }
}
