// ==========================================================================
// Brand
// ==========================================================================
$max-width: 320px;
$breakpoint-xl: 1262px;

.brand {

  // Text box
  &__text {
    display: block;
    position: relative;
    background: $cream;
    text-align: center;
    padding: 20px 30px;
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding: 40px 60px;
    }

    &.left {
      @media screen and (min-width: $breakpoint-lg) {
        left: 5%;
      }
      @media screen and (min-width: $breakpoint-xl) {
        left: 10%;
      }
    }

    &.right {
      @media screen and (min-width: $breakpoint-lg) {
        right: 5%;
      }
      @media screen and (min-width: $breakpoint-xl) {
        right: 10%;
      }
    }


    // Logo
    &--logo {
      margin: 0 auto 10px;
      img {
        margin: 0 auto;
      }
    }
    .sans-m {
      max-width: $max-width;
      margin: 0 auto 15px;
    }

  } // .brand__text


  &__title {
    margin: 0;
  }


  // Buttons
  .btn-secondary-special {
    display: block;
    max-width: $max-width;
    margin: 0 auto 15px;
    a {
      background: #ef4370;
      color: #fff;
      padding-top: 11px;
      padding-bottom: 11px;
      &:hover,
      &:active {
        color: #fff;
        background: #c20b64;
      }
    }
  }

  .sans-bold-uppercase {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

} // .brand
