// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
