// ==========================================================================
// Hero Image and Caption
// ==========================================================================
.hero {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;


  // ----------------------------------------------------------------
  // Main Hero Image / Caption
  // ----------------------------------------------------------------
  &__img {
    display: block;
    position: relative;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


  &__caption {
    display: block;
    position: relative;
    border: 3px solid #fb6999;
    margin: 10px;
    padding: 15px;
    background: $cream;

    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      text-align: center;
      margin: 0;
      padding: 20px 30px;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      transform-style: preserve-3d;
      opacity: 0.8;
      max-width: 360px;
    }
    @media screen and (min-width: 1262px) {
      left: 10%;
      padding: 20px 60px;
      max-width: 400px;
    }

  } // .caption

} // .hero
