.designed-to-match {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px; }
  .designed-to-match__heading {
    padding-bottom: 5px; }
    .designed-to-match__heading p {
      display: block;
      width: 100%;
      margin: 0; }
      @media screen and (min-width: 500px) {
        .designed-to-match__heading p {
          display: inline-block;
          width: auto;
          margin-right: 10px; } }
      .designed-to-match__heading p.serif-s-italic {
        margin-bottom: 5px; }
      .designed-to-match__heading p.sans-bold-uppercase a {
        text-decoration: none; }
        .designed-to-match__heading p.sans-bold-uppercase a:hover {
          text-decoration: none; }
