.designed-to-match {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;

  &__heading {
    padding-bottom: 5px;
    p {
      display: block;
      width: 100%;
      margin: 0;
      @media screen and (min-width: 500px) {
        display: inline-block;
        width: auto;
        margin-right: 10px;
      }

      &.serif-s-italic {
        margin-bottom: 5px;
      }

      &.sans-bold-uppercase a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}
