<link rel="stylesheet" href="/monetate/pdp/ATC-module-shoes-handbags/designed-to-match.css">


<style media="screen" type="text/css">.designed-to-match {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px; }
  .designed-to-match__heading {
    padding-bottom: 5px; }
    .designed-to-match__heading p {
      display: block;
      width: 100%;
      margin: 0; }
      @media screen and (min-width: 500px) {
        .designed-to-match__heading p {
          display: inline-block;
          width: auto;
          margin-right: 10px; } }
      .designed-to-match__heading p.serif-s-italic {
        margin-bottom: 5px; }
      .designed-to-match__heading p.sans-bold-uppercase a {
        text-decoration: none; }
        .designed-to-match__heading p.sans-bold-uppercase a:hover {
          text-decoration: none; }
</style>
<hr />
<div class="designed-to-match">
  <div class="designed-to-match__heading">
    <p class="serif-s-italic">Designed to match</p>

    <p class="sans-bold-uppercase">
      <a class="designed-to-match__link" href="/accessories/all-accessories">Shop Accessories&nbsp;&gt;</a>
    </p>
  </div>

  <div class="designed-to-match__img">
    <a class="designed-to-match__link" href="/accessories/all-accessories">
      <img alt="Buy One, Get One 50% Off Accessories" src="//sb.monetate.net/img/1/564/1512381.jpg" />
    </a>
  </div>
</div>
