{{> atoms-head-homepage }}

<div id="page">
  {{> organisms-header }}


  <div class="ctnr-maincontent" id="contentWrapper">
    <div id="content" role="main">
      <!-- BEGIN StaticContentPageDisplayContainer.jsp -->

      <div class="rowContainer" id="container_">
        <div class="row">
          <div class="col12" data-slot-id="1">

            <div id="contentRecommendationWidget_1_-2012_3074457345618265119" class="contentRecommendationWidget">
              <div class="left_espot">
                {{ espots-ES_HOMEPAGE_US_1 }}

                {{ espots-redesign-2018-april }}
                {{ espots-redesign-2018-april-grid }}

                {{ espots-redesign-2018-april-floats }}
                {{ espots-redesign-2018-april-age-of-opulence }}
                {{ espots-redesign-2018-free-shipping }}

                {{ espots-redesign-2018-may-little-white-dresses }}
                {{ espots-redesign-2018-may-sale }}
                {{ espots-redesign-2018-may-royal-wedding }}
                {{ espots-redesign-2018-may-memorial-day-weekend }}

                {{ espots-redesign-2018-june-seaside-bride }}
                {{ espots-redesign-2018-june-sale }}
                {{ espots-redesign-2018-june-garden-party }}

                <!-- July -->
                {{ espots-redesign-2018-vera-wang }}
                {{ espots-redesign-2018-july-sale-part-3 }}
                {{ espots-redesign-2018-july-sale-part-4 }}
                {{ espots-redesign-2018-july-sale-part-5 }}

                <!-- August -->
                {{ espots-redesign-2018-july-august-sale-part-7 }}
                
                {{ espots-redesign-2018-homecoming }}
                {{> espots-redesign-2018-september-weekend }}

              </div>
            </div>


            <div id="contentRecommendationWidget_1_-2012_3074457345618265114" class="contentRecommendationWidget">
              <div class="left_espot">
                {{ espots-ES_HOMEPAGE_US_2 }}

                <!-- July -->
                {{ espots-redesign-2018-vera-wang }}

                <!-- August -->
                {{ espots-redesign-2018-august-in-the-movies }}
                {{> espots-redesign-2018-august-sale }}
                {{> espots-redesign-2018-august-sale-UK }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618265117" class="contentRecommendationWidget">
              <div class="left_espot">
                {{ espots-ES_HOMEPAGE_US_3 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618265115" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_4 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618265116" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_5 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618265118" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_6 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266104" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_7 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266105" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_8 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618268104" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_9 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266107" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_10 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266107" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_11 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266107" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_12 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266107" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_13 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618265119" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_14 }}
              </div>
            </div>

            <div id="contentRecommendationWidget_1_-2012_3074457345618266108" class="contentRecommendationWidget">
              <div class="left_espot">
                {{> espots-ES_HOMEPAGE_US_15 }}
              </div>
            </div>




          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <link rel="stylesheet" href="/monetate/actions/webchat/button.css">
  <script type="text/javascript" src="/monetate/actions/webchat/button.js"></script> -->

  {{> organisms-footer }}

</div><!-- /page -->
