<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Sale">
  <a href="/sale/sample-sale" data-swimlane-category="Sale" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/sample_2.jpg" alt="Shop the Online Sample Sale for up to 75% off—dresses start at $148.48" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Shop the Online Sample Sale for up to 75% off&mdash;dresses start at $148.48&nbsp;&gt;</figcaption>
  </a>
</figure>

<!-- Add THE BLOG to main nav -->
<script type="text/javascript">
  console.log('BLOG');
  var blog = jQuery('.header__main-nav-topic[data-menu-topic="BLOG"]').length;
  console.log('Blog: ' + blog);
  if (blog === 0) {
    var blogMenu = '<li class="header__main-nav-topic" data-menu-topic="BLOG" data-topic-status="closed" role="menuitem">'+
      '<div class="header__main-nav-topic-heading">'+
        '<a onclick="headerClickEvent(\'Blog\');" class="header__main-nav-topic-heading-link sans-bold-uppercase" href="http://www.davidsbridal.com/blog" target="_blank">The Blog</a>'+
      '</div>'+
    '</li>';
    jQuery('.header__main-nav-topic[data-menu-topic="SALE"]').after(blogMenu);
  }
</script>
