<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Dresses">
  <a href="/dresses/mother-of-the-bride-dresses" data-swimlane-category="Dresses" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/MOB_FlyOut.jpg" alt="Styles for mom, now $20 off" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Styles for mom, now $20 off&nbsp;&gt;</figcaption>
  </a>
</figure>
<!-- <p class="header__main-nav-topic-section-paragraph">
  <a href="/dresses/flower-girl-dresses" data-swimlane-category="Dresses" data-swimlane-position="2">SHOP FLOWER GIRL</a>
</p> -->
