<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Shoes">
  <a href="/shoes/sandals" data-swimlane-category="Shoes" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/Shoes_FlyOut.jpg" alt="Sandal season is here! Styles start at $14.50" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Sandal season is here! Styles start at $14.50&nbsp;&gt;</figcaption>
  </a>
</figure>
<!-- <p class="header__main-nav-topic-section-paragraph">
  <a class="header__main-nav-topic-section-link sans-m-bold-uppercase" href="/shoes/all-shoes" data-swimlane-category="Shoes" data-swimlane-position="2">Shop the Sale</a>
</p> -->
