<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Prom">
  <a href="/UserSignupView?storeId=10052&catalogId=10051&roleName=Prom" data-swimlane-category="Prom" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/Homecoming_FlyOut.jpg" alt="Enter to win your prom dress, plus get $10 off + free shipping on your next order" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Enter to win your dress, plus get $10 off + free shipping on your next order&nbsp;&gt;</figcaption>
  </a>
</figure>
