<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Accessories">
  <a href="/accessories/jewelry" data-swimlane-category="Accessories" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/ACC_FlyOut.jpg" alt="Buy one, get one 50% off regular price jewelry" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Buy one, get one 50% off regular price jewelry&nbsp;&gt;</figcaption>
  </a>
</figure>
<!-- <p class="header__main-nav-topic-section-paragraph">
  <a class="header__main-nav-topic-section-link sans-m-bold-uppercase" href="/accessories/shapewear-and-slips" data-swimlane-category="Accessories" data-swimlane-position="2">Shop Spanx</a>
</p> -->
