<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="DecorationsGifts">
  <a href="http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&intSource=OmniDecorGiftEspot" target="_blank" data-swimlane-category="DecorationsGifts" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/Gifts_FlyOut.jpg" alt="Meaningful keepsakes, personalized for free" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Get up to 5 free samples of invitations or save the dates&nbsp;&gt;</figcaption>
  </a>
</figure>
<!-- <p class="header__main-nav-topic-section-paragraph">
  <a class="header__main-nav-topic-section-link sans-m-bold-uppercase" href="http://invitations.davidsbridal.com/Wedding-Invitations/View-All-Wedding-Invitations/index.cat?lnklc=GlobeNav-Wedding%20Invitations_View%20All%20Wedding%20Invitations&intSource=OmniDecorGiftEspot" target="_blank" data-swimlane-category="DecorationsGifts" data-swimlane-position="2">See Stationery</a>
</p> -->
