<style>
.header__main-nav-topic-section-figure figcaption {
  color: #333;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .header__main-nav-topic-section-figure figcaption:hover {
    color: #74736d; }
  .header__main-nav-topic-section-figure a {
    text-decoration: none !important;
  }
</style>

<figure class="show-at-large header__main-nav-topic-section-figure spacing" data-swimlane-category="Brides">
  <a href="/wedding-dresses/casual-wedding-dress" data-swimlane-category="Brides" data-swimlane-position="1">
    <img class="header__main-nav-topic-section-image" src="/wcsstore/images/wwcm/header/rightswimlane/CasualBride_FlyOut.jpg" alt="Oh-so-effortless little white dresses, starting at $99.95" nopin="nopin">
    <figcaption class="sans-bold-uppercase">Oh&ndash;so&ndash;effortless little white dresses, starting at $99.95&nbsp;&gt;</figcaption>
  </a>
</figure>
<!-- <p class="header__main-nav-topic-section-paragraph">
  <a href="/wedding-dress-quiz" data-swimlane-category="Dresses" data-swimlane-position="2">Find your gown</a>
</p> -->
