// ========================================================
// CONTAINER
// ========================================================
&__container {
  //@include red-bg();
  display: block;
  position: relative;

  &.clear { // Clearfix for floats
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
} // .hero__container
