// ========================================================
// COPY BOX
// ========================================================
$top-md: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
$box-width: 220px;

&__copy {
  display: block;
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: $breakpoint-md) {
    float: none;
    position: absolute;
    margin: 0;
    transform-style: preserve-3d;
    width: $box-width;
    top: $top-md;
    left: calc(54.1666666667% - 110px);
  }
  @media screen and (min-width: $breakpoint-lg) {
    top: 50%;
    transform: translateY(-50%);
    width: $box-width + 20;
    left: calc(36.4375% - 120px);; // Image A container width - half of copy box
  }
  @media screen and (min-width: 1262px) {
    width: $box-width + 60;
    left: calc(36.4375% - 140px);; // Image A container width - half of copy box
  }


  .btn {
    min-width: $box-width;
    @media screen and (min-width: $breakpoint-md) {
      min-width: $box-width - 40;
    }
    @media screen and (min-width: $breakpoint-lg) {
      min-width: $box-width - 20;
    }

    &-secondary a {
      min-width: $box-width;
      @media screen and (min-width: $breakpoint-md) {
        min-width: $box-width - 40;
      }
      @media screen and (min-width: $breakpoint-lg) {
        min-width: $box-width - 20;
      }
    }
  }

  // .btn {
  //   display: block;
  //   width: $box-width;
  //   margin: 0 auto;
  //   @media screen and (min-width: $breakpoint-md) {
  //     width: $box-width - 40;
  //   }
  //   @media screen and (min-width: $breakpoint-lg) {
  //     width: $box-width + 20;
  //     &:nth-child(3) {
  //       margin-top: 20px;
  //     }
  //   }
  //
  //   &-secondary a {
  //     min-width: $box-width;
  //     @media screen and (min-width: $breakpoint-md) {
  //       min-width: $box-width - 40;
  //     }
  //     @media screen and (min-width: $breakpoint-lg) {
  //       min-width: $box-width + 20;
  //     }
  //   }
  // }


  &--inner {
    background: rgba(248, 246, 240, 1);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      background: rgba(248,246,240, 0.85);
      margin-left: 0;
      margin-right: 0;
      padding: 10px 10px 15px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding: 10px 10px 15px;
    }
  }


  &--offer {
    //@include green-bg();
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }


  p {
    //@include red-bg();
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    // @media screen and (min-width: $breakpoint-xl) {
    //   margin-top: 6px;
    //   margin-bottom: 6px;
    // }

    &.sans-bold-uppercase,
    &.btn {
      margin-top: 8px;
    }
  }

} // .hero__copy
