.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  max-width: 1600px;
  position: relative;
  width: 100%; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0;
    position: relative; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1150px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1150px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 11px 14px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
  .hero__container {
    display: block;
    position: relative; }
    .hero__container.clear::after {
      clear: both;
      content: "";
      display: table; }
  .hero__item {
    display: block;
    position: relative;
    float: left; }
    .hero__item:not(:last-child) {
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .hero__item:not(:last-child) {
          margin-bottom: 0; } }
    .hero__item:last-child {
      margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .hero__item {
        display: inline-block;
        margin-bottom: 0; } }
    .hero__item-image .btn {
      background: none;
      bottom: 10px;
      left: 0;
      right: 0;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute; }
      .hero__item-image .btn-secondary a {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        letter-spacing: 0.055em;
        width: 100%; }
        .hero__item-image .btn-secondary a:hover, .hero__item-image .btn-secondary a:active, .hero__item-image .btn-secondary afocus {
          border: 1px solid #eee;
          background-color: rgba(255, 255, 255, 0.9); }
    .hero__item-image-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .hero__item-image-caption {
          background: rgba(255, 255, 255, 0.9); } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption {
          padding: 0;
          background: none;
          width: 100%;
          height: 100%; } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption a {
          background: rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          opacity: 0; }
          .hero__item-image-caption a:hover, .hero__item-image-caption a:active, .hero__item-image-caption a:focus {
            opacity: 1; } }
  .hero .image-a {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-a {
        width: 54.16667%;
        margin-right: 0.65104%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-a {
        width: 36.4375%;
        margin-right: 0.625%; } }
  .hero .image-b {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-b {
        width: 45.18229%;
        margin-bottom: 0.65104%;
        text-align: right; } }
    @media screen and (min-width: 1024px) {
      .hero .image-b {
        width: 36.4375%;
        margin-bottom: 0;
        margin-right: 0.625%; } }
  .hero .image-c {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-c {
        width: 45.18229%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-c {
        width: 25.875%; } }
  .hero .image-d {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-d {
        margin-top: 0.65104%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-d {
        width: 62.9375%;
        margin-top: 0.625%; } }
  .hero__copy {
    display: block;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        float: none;
        position: absolute;
        margin: 0;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        width: 220px;
        top: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
        left: calc(54.1666666667% - 110px); } }
    @media screen and (min-width: 1024px) {
      .hero__copy {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 240px;
        left: calc(36.4375% - 120px); } }
    @media screen and (min-width: 1262px) {
      .hero__copy {
        width: 280px;
        left: calc(36.4375% - 140px); } }
    .hero__copy .btn {
      min-width: 220px; }
      @media screen and (min-width: 768px) {
        .hero__copy .btn {
          min-width: 180px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy .btn {
          min-width: 200px; } }
      .hero__copy .btn-secondary a {
        min-width: 220px; }
        @media screen and (min-width: 768px) {
          .hero__copy .btn-secondary a {
            min-width: 180px; } }
        @media screen and (min-width: 1024px) {
          .hero__copy .btn-secondary a {
            min-width: 200px; } }
    .hero__copy--inner {
      background: #f8f6f0;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .hero__copy--inner {
          background: rgba(248, 246, 240, 0.85);
          margin-left: 0;
          margin-right: 0;
          padding: 10px 10px 15px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--inner {
          padding: 10px 10px 15px; } }
    .hero__copy--offer {
      padding-top: 8px;
      padding-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy--offer {
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .hero__copy p {
          margin-top: 4px;
          margin-bottom: 4px; } }
      .hero__copy p.sans-bold-uppercase, .hero__copy p.btn {
        margin-top: 8px; }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
  .hero__link {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .hero__link {
        display: none; } }
  .hero__disclaimer {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }
    @media screen and (min-width: 1600px) {
      .hero__disclaimer {
        margin-right: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media screen and (min-width: 768px) {
    .hero .fade-in {
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
              animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
      .hero .fade-in.image-a {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .hero .fade-in.image-b {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .hero .fade-in.image-c {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      .hero .fade-in.image-d {
        -webkit-animation-delay: 2s;
                animation-delay: 2s; }
      .hero .fade-in.hero__copy {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s; } }
