.payment-icons {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #c1c1c1; }
  .payment-icons__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
    padding-bottom: 10px;
    max-width: 320px;
    margin-left: auto; }
    @media screen and (min-width: 768px) {
      .payment-icons__flex {
        max-width: 100%;
        margin-left: initial; } }
  .payment-icons__icon {
    display: block;
    position: relative;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .payment-icons__icon {
        width: 16.66667%; } }
    .payment-icons__icon svg {
      display: block;
      width: 44px; }
      @media screen and (min-width: 768px) {
        .payment-icons__icon svg {
          width: 100%;
          max-height: 50px; } }
  .payment-icons.sm-visible {
    display: block; }
    @media screen and (min-width: 768px) {
      .payment-icons.sm-visible {
        display: none; } }
  .payment-icons.md-visible {
    display: none; }
    @media screen and (min-width: 768px) {
      .payment-icons.md-visible {
        display: block; } }
