.payment-icons {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #c1c1c1;


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
    padding-bottom: 10px;
    max-width: 320px;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      max-width: 100%;
      margin-left: initial;
    }
  }


  &__icon {
    display: block;
    position: relative;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 16.66667%;
    }

    svg {
      display: block;
      width: 44px;
      @media screen and (min-width: 768px) {
        width: 100%;
        max-height: 50px;
      }
    }
  }


  &.sm-visible {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &.md-visible {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}





// Hide mobile
// .bottom_buttons:nth-of-type(1) + .payment-icons {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }
//
//
// // Hide desktop
// #orderSummary .payment-icons {
//   display: none;
//   @media screen and (min-width: 768px) {
//     display: block;
//   }
// }
