.no-scroll {
  overflow-y: hidden; }

.proreg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000; }
  .proreg-modal .sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
            clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important; }
  .proreg-modal .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .proreg-modal .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .proreg-modal .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .proreg-modal .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .proreg-modal .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .proreg-modal .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .proreg-modal .sans-bold-uppercase a,
  .proreg-modal .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .proreg-modal .sans-bold-uppercase a:hover,
  .proreg-modal .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .proreg-modal .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .proreg-modal .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333;
      background-color: #fff;
      outline: none; }
      .proreg-modal .btn-secondary a:hover, .proreg-modal .btn-secondary a:active {
        border: 1px solid #e0e0e7; }
      .proreg-modal .btn-secondary a:focus {
        -webkit-box-shadow: 0 0 5px #3366ee !important;
                box-shadow: 0 0 5px #3366ee !important; }
      @media screen and (min-width: 768px) {
        .proreg-modal .btn-secondary a {
          padding: 11px 50px; } }
  .proreg-modal__overlay {
    position: fixed;
    background: #333;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease;
    top: 0;
    opacity: 0.7; }
  .proreg-modal__dialog {
    position: fixed;
    width: 320px;
    height: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10001;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3); }
    @media screen and (min-width: 768px) {
      .proreg-modal__dialog {
        width: 670px;
        height: 560px; } }
    .proreg-modal__dialog:focus {
      -webkit-box-shadow: 0 0 5px #3366ee !important;
              box-shadow: 0 0 5px #3366ee !important; }
  .proreg-modal__image {
    display: block;
    position: relative; }
    .proreg-modal__image a {
      display: block;
      width: 100%;
      height: 100%; }
    .proreg-modal__image a:focus {
      -webkit-box-shadow: 0px 0px 10px 2px #3366ee !important;
              box-shadow: 0px 0px 10px 2px #3366ee !important; }
  .proreg-modal__text {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .proreg-modal__text {
        width: auto;
        left: auto;
        right: 50px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    .proreg-modal__text h3 {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 15px;
      color: #333; }
    .proreg-modal__text p.sans-m {
      margin: 0; }
    .proreg-modal__text .btn-secondary a {
      min-width: 260px;
      padding-top: 13px;
      padding-bottom: 13px; }
  .proreg-modal__close-button {
    background: none;
    background-color: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 0;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    @media screen and (min-width: 768px) {
      .proreg-modal__close-button {
        width: 40px;
        height: 40px; } }
    .proreg-modal__close-button:hover, .proreg-modal__close-button:focus {
      background-color: #ffb1b9; }
      .proreg-modal__close-button:hover svg, .proreg-modal__close-button:focus svg {
        fill: #333; }
    .proreg-modal__close-button:active {
      background-color: #ff6476; }
      .proreg-modal__close-button:active svg {
        fill: #fff; }
    .proreg-modal__close-button:focus {
      -webkit-box-shadow: 0 0 5px #3366ee !important;
              box-shadow: 0 0 5px #3366ee !important; }
    .proreg-modal__close-button svg {
      fill: #333;
      display: block;
      width: 20px;
      height: 20px;
      -webkit-transition: fill 0.5s ease;
      transition: fill 0.5s ease;
      margin: 0 auto; }
