// ==========================================================================
// Variables
// ==========================================================================
$breakpoint-xs:         320px;
$breakpoint-sm:         350px;
$breakpoint-md:         768px;
$breakpoint-lg:         1024px;
$breakpoint-xl:         1300px;

// Colors
$black:                 #333;
$white:                 #fff;
$coral:                 #f3665c;
$purple-lt:             #e0e0e7;
$purple-gray-dk:        #52535a;
$purple-gray:           #727278;
$blue-lt:               #e2eef3;
$taupe:                 #74736d;
$gray-dk:               #666;
$gray-med:              #c1c1c1;
$gray-lt:               #eee;
$cream:                 #f8f6f0;
$dark-pink:             #e9b0b8;
$pink:                  #ffe6e3;
$brand-primary:         #f04874;

$wrapper-max-width:     1600px;
$container-max-width:   1262px;

$zIndex: 10000;

@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
@mixin red-bg() {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.4);
}

@mixin focus() {
  // outline: 1px dotted $black !important;
  // outline-offset: 2px;
  box-shadow: 0 0 5px rgba(51, 102, 238, 1) !important;
}

@mixin transition() {
  transition: all 1s ease;
}


.no-scroll {
  overflow-y: hidden;
}


// ========================================================
// Pro Reg Modal
// ========================================================
.proreg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $zIndex;

  .sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
  }



  // --------------------------------------------------------
  // Text
  // --------------------------------------------------------
  .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-xl {
        font-size: 36px;
        line-height: 40px; } }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }

  // Black LInks
  .sans-bold-uppercase a,
  .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
  }
  .sans-bold-uppercase a:hover,
  .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none;
  }



  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      &:hover,
      &:active {
        border: 1px solid $purple-lt;
      }
      &:focus {
        @include focus();
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 11px 50px;
      }
    }
  }




  // --------------------------------------------------------
  // Overlay
  // --------------------------------------------------------
  &__overlay {
    position: fixed;
    background: #333;
    width: 100%;
    height: 100%;
    left: 0;
    transition: all 1.0s ease;
    top: 0;
    opacity: 0.7;
  }



  // --------------------------------------------------------
  // Modal
  // --------------------------------------------------------
  &__dialog {
    position: fixed;
    width: 320px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $zIndex + 1;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    @media screen and (min-width: $breakpoint-md) {
      width: 670px;
      height: 560px;
    }
    &:focus {
      @include focus();
    }
  }


  &__image {
    display: block;
    position: relative;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    a:focus {
      box-shadow: 0px 0px 10px 2px  rgba(51, 102, 238, 1) !important;
    }
  }




  &__text {
    //@include green-bg();
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      width: auto;
      left: auto;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
    }


    h3 {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 15px;
      color: #333;
    }

    p.sans-m {
      margin: 0;
    }

    .btn {
      &-secondary a {
        min-width: 260px;
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
  }




  // ========================================================
  // CLOSE BUTTON
  // ========================================================
  &__close-button {
    background: none;
    background-color: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 0;
    transition: background-color 0.5s ease;
    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
    &:hover,
    &:focus {
      background-color: darken(#ffcad0, 5%);
      svg {
        fill: $black;
      }
    }
    &:active {
      background-color: darken(#ffcad0, 20%);
      svg {
        fill: $white;
      }
    }
    &:focus {
      @include focus();
    }
    svg {
      fill: $black;
      display: block;
      width: 20px;
      height: 20px;
      transition: fill 0.5s ease;
      margin: 0 auto;
    }
  }


}
