/**
*
* Flexbox
*
**/


// ==========================================================================
// Flex Container
// ==========================================================================
.flex {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: nowrap;                // default: nowrap
  justify-content: stretch;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  align-self: stretch;
  max-width: $container-max-width;

  background-color: rgba(255, 0, 0, 0.1);
  min-height: 600px;
  border: 1px solid red;


  &__col {
    width: 100%;
    align-self: stretch;

    border: 1px solid blue;
  }






  // ==========================================================================
  // All Sizes
  // ==========================================================================

    // ----------------------------------------------------------------
    // flex-direction
    // ----------------------------------------------------------------
    &.flex__direction {
      &--row {
        flex-direction: row;
        &-reverse {
          flex-direction: row-reverse;
        }
      }
      &--column {
        flex-direction: column;
        &-reverse {
          flex-direction: column-reverse;
        }
      }
    }

    // ----------------------------------------------------------------
    // flex-wrap
    // ----------------------------------------------------------------
    &.flex__wrap {
      &--wrap {
        flex-wrap: wrap;
      }
      &--nowrap {
        flex-wrap: nowrap;
      }
      &--wrap-reverse {
        flex-wrap: wrap-reverse;
      }
    }

    // ----------------------------------------------------------------
    // justify-content
    // ----------------------------------------------------------------
    &.flex__justify {
      &--flex-start {
        justify-content: flex-start;
      }
      &--flex-end {
        justify-content: flex-end;
      }
      &--center {
        justify-content: center;
      }
      &--space-between {
        justify-content: space-between;
      }
      &--space-around {
        justify-content: space-around;
      }
    } // justify-content

    // ----------------------------------------------------------------
    // align-items
    // ----------------------------------------------------------------
    &.flex__align-items {
      &--flex-start {
        align-items: flex-start;
      }
      &--flex-end {
        align-items: flex-end;
      }
      &--center {
        align-items: center;
      }
      &--baseline {
        align-items: baseline;
      }
      &--stretch {
        align-items: stretch;
      }
    } // align-items

    // ----------------------------------------------------------------
    // align-content
    // ----------------------------------------------------------------
    &.flex__align-content {
      &--flex-start {
        align-content: flex-start;
      }
      &--flex-end {
        align-content: flex-end;
      }
      &--center {
        align-content: center;
      }
      &--space-between {
        align-content: space-between;
      }
      &--space-around {
        align-content: space-around;
      }
      &--stretch {
        align-content: stretch;
      }
    } // align-content




  // ==========================================================================
  // screen-xs
  // ==========================================================================
  @media screen and (min-width: $breakpoint-xs) {
    &.flex-xs {

      // ----------------------------------------------------------------
      // flex-direction
      // ----------------------------------------------------------------
      &__direction {
        &--row {
          flex-direction: row;
          &-reverse {
            flex-direction: row-reverse;
          }
        }
        &--column {
          flex-direction: column;
          &-reverse {
            flex-direction: column-reverse;
          }
        }
      }


      // ----------------------------------------------------------------
      // flex-wrap
      // ----------------------------------------------------------------
      &__wrap {
        &--wrap {
          flex-wrap: wrap;
        }
        &--nowrap {
          flex-wrap: nowrap;
        }
        &--wrap-reverse {
          flex-wrap: wrap-reverse;
        }
      }


      // ----------------------------------------------------------------
      // justify-content
      // ----------------------------------------------------------------
      &__justify {
        &--flex-start {
          justify-content: flex-start;
        }
        &--flex-end {
          justify-content: flex-end;
        }
        &--center {
          justify-content: center;
        }
        &--space-between {
          justify-content: space-between;
        }
        &--space-around {
          justify-content: space-around;
        }
      } // justify-content


      // ----------------------------------------------------------------
      // align-items
      // ----------------------------------------------------------------
      &__align-items {
        &--flex-start {
          align-items: flex-start;
        }
        &--flex-end {
          align-items: flex-end;
        }
        &--center {
          align-items: center;
        }
        &--baseline {
          align-items: baseline;
        }
        &--stretch {
          align-items: stretch;
        }
      } // align-items


      // ----------------------------------------------------------------
      // align-content
      // ----------------------------------------------------------------
      &__align-content {
        &--flex-start {
          align-content: flex-start;
        }
        &--flex-end {
          align-content: flex-end;
        }
        &--center {
          align-content: center;
        }
        &--space-between {
          align-content: space-between;
        }
        &--space-around {
          align-content: space-around;
        }
        &--stretch {
          align-content: stretch;
        }
      } // align-content


    } // flex-xs
  }


  // ==========================================================================
  // screen-sm
  // ==========================================================================
  @media screen and (min-width: $breakpoint-sm) {
    &.flex-sm {
      // ----------------------------------------------------------------
      // flex-direction
      // ----------------------------------------------------------------
      &__direction {
        &--row {
          flex-direction: row;
          &-reverse {
            flex-direction: row-reverse;
          }
        }
        &--column {
          flex-direction: column;
          &-reverse {
            flex-direction: column-reverse;
          }
        }
      }


      // ----------------------------------------------------------------
      // flex-wrap
      // ----------------------------------------------------------------
      &__wrap {
        &--wrap {
          flex-wrap: wrap;
        }
        &--nowrap {
          flex-wrap: nowrap;
        }
        &--wrap-reverse {
          flex-wrap: wrap-reverse;
        }
      }


      // ----------------------------------------------------------------
      // justify-content
      // ----------------------------------------------------------------
      &__justify {
        &--flex-start {
          justify-content: flex-start;
        }
        &--flex-end {
          justify-content: flex-end;
        }
        &--center {
          justify-content: center;
        }
        &--space-between {
          justify-content: space-between;
        }
        &--space-around {
          justify-content: space-around;
        }
      } // justify-content


      // ----------------------------------------------------------------
      // align-items
      // ----------------------------------------------------------------
      &__align-items {
        &--flex-start {
          align-items: flex-start;
        }
        &--flex-end {
          align-items: flex-end;
        }
        &--center {
          align-items: center;
        }
        &--baseline {
          align-items: baseline;
        }
        &--stretch {
          align-items: stretch;
        }
      } // align-items


      // ----------------------------------------------------------------
      // align-content
      // ----------------------------------------------------------------
      &__align-content {
        &--flex-start {
          align-content: flex-start;
        }
        &--flex-end {
          align-content: flex-end;
        }
        &--center {
          align-content: center;
        }
        &--space-between {
          align-content: space-between;
        }
        &--space-around {
          align-content: space-around;
        }
        &--stretch {
          align-content: stretch;
        }
      } // align-content
    }
  }


  // ==========================================================================
  // screen-md
  // ==========================================================================
  @media screen and (min-width: $breakpoint-md) {
    &.flex-md {
      // ----------------------------------------------------------------
      // flex-direction
      // ----------------------------------------------------------------
      &__direction {
        &--row {
          flex-direction: row;
          &-reverse {
            flex-direction: row-reverse;
          }
        }
        &--column {
          flex-direction: column;
          &-reverse {
            flex-direction: column-reverse;
          }
        }
      }


      // ----------------------------------------------------------------
      // flex-wrap
      // ----------------------------------------------------------------
      &__wrap {
        &--wrap {
          flex-wrap: wrap;
        }
        &--nowrap {
          flex-wrap: nowrap;
        }
        &--wrap-reverse {
          flex-wrap: wrap-reverse;
        }
      }


      // ----------------------------------------------------------------
      // justify-content
      // ----------------------------------------------------------------
      &__justify {
        &--flex-start {
          justify-content: flex-start;
        }
        &--flex-end {
          justify-content: flex-end;
        }
        &--center {
          justify-content: center;
        }
        &--space-between {
          justify-content: space-between;
        }
        &--space-around {
          justify-content: space-around;
        }
      } // justify-content


      // ----------------------------------------------------------------
      // align-items
      // ----------------------------------------------------------------
      &__align-items {
        &--flex-start {
          align-items: flex-start;
        }
        &--flex-end {
          align-items: flex-end;
        }
        &--center {
          align-items: center;
        }
        &--baseline {
          align-items: baseline;
        }
        &--stretch {
          align-items: stretch;
        }
      } // align-items


      // ----------------------------------------------------------------
      // align-content
      // ----------------------------------------------------------------
      &__align-content {
        &--flex-start {
          align-content: flex-start;
        }
        &--flex-end {
          align-content: flex-end;
        }
        &--center {
          align-content: center;
        }
        &--space-between {
          align-content: space-between;
        }
        &--space-around {
          align-content: space-around;
        }
        &--stretch {
          align-content: stretch;
        }
      } // align-content
    }
  }


  // ==========================================================================
  // screen-lg
  // ==========================================================================
  @media screen and (min-width: $breakpoint-lg) {
    &.flex-lg {
      // ----------------------------------------------------------------
      // flex-direction
      // ----------------------------------------------------------------
      &__direction {
        &--row {
          flex-direction: row;
          &-reverse {
            flex-direction: row-reverse;
          }
        }
        &--column {
          flex-direction: column;
          &-reverse {
            flex-direction: column-reverse;
          }
        }
      }


      // ----------------------------------------------------------------
      // flex-wrap
      // ----------------------------------------------------------------
      &__wrap {
        &--wrap {
          flex-wrap: wrap;
        }
        &--nowrap {
          flex-wrap: nowrap;
        }
        &--wrap-reverse {
          flex-wrap: wrap-reverse;
        }
      }


      // ----------------------------------------------------------------
      // justify-content
      // ----------------------------------------------------------------
      &__justify {
        &--flex-start {
          justify-content: flex-start;
        }
        &--flex-end {
          justify-content: flex-end;
        }
        &--center {
          justify-content: center;
        }
        &--space-between {
          justify-content: space-between;
        }
        &--space-around {
          justify-content: space-around;
        }
      } // justify-content


      // ----------------------------------------------------------------
      // align-items
      // ----------------------------------------------------------------
      &__align-items {
        &--flex-start {
          align-items: flex-start;
        }
        &--flex-end {
          align-items: flex-end;
        }
        &--center {
          align-items: center;
        }
        &--baseline {
          align-items: baseline;
        }
        &--stretch {
          align-items: stretch;
        }
      } // align-items


      // ----------------------------------------------------------------
      // align-content
      // ----------------------------------------------------------------
      &__align-content {
        &--flex-start {
          align-content: flex-start;
        }
        &--flex-end {
          align-content: flex-end;
        }
        &--center {
          align-content: center;
        }
        &--space-between {
          align-content: space-between;
        }
        &--space-around {
          align-content: space-around;
        }
        &--stretch {
          align-content: stretch;
        }
      } // align-content
    }
  }



  // ==========================================================================
  // Flex Items
  // ==========================================================================
  .align-self {
    &__baseline {
      align-self: baseline;
    }
    &__center {
      align-self: center;
    }
    &__flex-end {
      align-self: flex-end;
    }
    &__flex-start {
      align-self: flex-start;
    }
    &__stretch {
      align-self: stretch;
    }
  } // flex-align-self
} // flex-container
