.careers-banner {
  background: #e4eff4;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  outline: 6px solid #e4eff4;
  padding: 20px;
  margin: 0 auto 10px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 1245px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .careers-banner {
      padding: 30px 0; } }
  @media screen and (min-width: 1262px) {
    .careers-banner {
      margin: 20px auto; } }
  .careers-banner h3,
  .careers-banner p {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .careers-banner h3,
      .careers-banner p {
        width: auto; } }
  @media screen and (min-width: 1024px) {
    .careers-banner p.serif-l-italic {
      margin-left: 10px;
      margin-right: 20px; } }
  .careers-banner .btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 10px auto 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: auto; }
    @media screen and (min-width: 1024px) {
      .careers-banner .btn {
        margin: 0; } }
    .careers-banner .btn-secondary a {
      outline: none;
      color: #52535a;
      background-color: #ffffff;
      border: 1px solid #52535a;
      margin: 0 !important;
      padding: 10px 50px !important;
      display: block;
      text-align: center;
      text-decoration: none; }
      .careers-banner .btn-secondary a:hover, .careers-banner .btn-secondary a:active {
        background-color: #ffffff;
        border: 1px solid #e0e0e7;
        outline: none; }
