html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.top-banner {
  max-width: 1242px;
  position: relative;
  text-align: center;
  padding: 20px;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #cf6464;
  background-image: url("/wcsstore/images/wwcm/sfg/colormain/ColorChart_TopBanner_768x200.jpg");
  height: 200px; }
  @media screen and (min-width: 768px) {
    .top-banner {
      background-image: url("/wcsstore/images/wwcm/sfg/colormain/ColorChart_TopBanner_1262x200.jpg"); } }
  .top-banner p {
    margin: 0;
    color: #fff; }
    .top-banner p:nth-child(2) {
      margin-top: 6px;
      margin-bottom: 12px; }
  .top-banner__copy {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    left: 110px; }
    @media screen and (min-width: 768px) {
      .top-banner__copy {
        left: 380px; } }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 10px; }
  .breadcrumbs p.sans-bold-uppercase {
    margin-top: 5px; }
  .breadcrumbs img {
    width: auto; }

.page-heading p.serif-m .sans-bold-uppercase a {
  font-weight: bold !important;
  display: block;
  margin-top: 3px; }
  @media screen and (min-width: 768px) {
    .page-heading p.serif-m .sans-bold-uppercase a {
      display: inline;
      margin-top: 0;
      margin-left: 20px; } }

.swatch {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding-bottom: 30px;
  margin-left: -10px;
  margin-right: -10px; }
  .swatch:before, .swatch:after {
    content: normal; }
  .swatch-container {
    position: relative;
    text-align: center;
    width: 25%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .swatch-container {
        width: 12.5%; } }
    @media screen and (min-width: 1024px) {
      .swatch-container {
        width: 10%; } }
    .swatch-container__svg svg {
      display: block;
      width: 100%;
      height: 100%; }
    .swatch-container__svg img {
      display: block; }
  .swatch a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .swatch a:hover p {
      color: #727278; }
  .swatch p {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0; }
    .swatch p:first-child {
      margin-top: 10px; }
    .swatch p.sans-bold-uppercase {
      font-size: 9px;
      line-height: 12px; }
      @media screen and (min-width: 768px) {
        .swatch p.sans-bold-uppercase {
          font-size: 12px;
          line-height: 16px; } }
    .swatch p.sans-xxs {
      font-size: 9px;
      line-height: 12px;
      font-weight: bold;
      text-transform: none;
      margin-top: 2px; }
      @media screen and (min-width: 768px) {
        .swatch p.sans-xxs {
          font-size: 10px;
          line-height: 14px; } }
  .swatch img {
    width: 100%; }

.petal {
  fill: #F9DFD5; }

.ballet {
  fill: #EAADAD; }

.quartz {
  fill: #B29297; }

.tickled {
  fill: #F9C3D0; }

.begonia {
  fill: #D80D86; }

.apple {
  fill: #981C41; }

.chianti {
  fill: #AB5568; }

.sienna {
  fill: #D94514; }

.watermelon {
  fill: #C73765; }

.wine {
  fill: #692640; }

.sangria {
  fill: #710C4C; }

.raspberry {
  fill: #862A77; }

.bellini {
  fill: #FBBEA7; }

.coralreef {
  fill: #F48788; }

.punch {
  fill: #F52B56; }

.guava {
  fill: #F05364; }

.canary {
  fill: #FFEBA8; }

.sunflower {
  fill: #FADA0C; }

.persimmon {
  fill: #E23E21; }

.mint {
  fill: #C3E5DA; }

.meadow {
  fill: #98B5A1; }

.clover {
  fill: #5D9468; }

.juniper {
  fill: #205241; }

.spa {
  fill: #80CECC; }

.pool {
  fill: #76C6D5; }

.malibu {
  fill: #00B2D1; }

.oasis {
  fill: #00839B; }

.capri {
  fill: #A5D5EB; }

.iceblue {
  fill: #92B1D7; }

.horizon {
  fill: #004B99; }

.marine {
  fill: #0D3862; }

.iris {
  fill: #d8cfe7; }

.bouquet {
  fill: #B68FB3; }

.wisteria {
  fill: #906C8D; }

.regency {
  fill: #472F92; }

.lapis {
  fill: #4B3457; }

.plum {
  fill: #470040; }

.ivory {
  fill: #F2EEEA; }

.champagne {
  fill: #D0BEA5; }

.portobello {
  fill: #806C6D; }

.truffle {
  fill: #473336; }

.mystic {
  fill: #909A9C; }

.mercury {
  fill: #7A7D7D; }

.pewter {
  fill: #595C68; }

.black {
  fill: #040A05; }

.steel-blue {
  fill: #496782; }

.cobalt {
  fill: #1c3061; }

.morning-glory {
  fill: #33549d; }

.graphite {
  fill: #525252; }

.biscotti {
  fill: #CAB6AC; }

.cherry {
  fill: #CE2145; }

.sunbeam {
  fill: #F6CE4C; }

.tangerine {
  fill: #f2822f; }

.emerald {
  fill: #019074; }

.pool {
  fill: #76C6D5; }

.cornflower {
  fill: #46A5DF; }

.pacific {
  fill: #1C83B1; }

.hydrangea {
  fill: #CBB2D8; }

.angel {
  fill: #F6F1EF; }

/*VERA WANG COLORS*/
.amethyst {
  fill: #42264f; }

.blush {
  fill: #e0cbc8; }

.cassis {
  fill: #cb5cb8; }

.charcoal {
  fill: #645f64; }

.ebony {
  fill: #000004; }

.forest {
  fill: #394e4d; }

.ivory {
  fill: #FAF6ED; }

.midnight {
  fill: #292f48; }

.mist {
  fill: #A5C2D0; }

.sterling {
  fill: #9FA4AE; }

.stone {
  fill: #c1b4a6; }

.sunset {
  fill: #dc8b86; }

.valentina {
  fill: #ef1128; }

.vwchampagne {
  fill: #d8c9bf; }

.cameo {
  fill: #CFBBB9; }

.grey {
  fill: #737279; }

.parfait {
  fill: #FF9C9E; }

.tealblue {
  fill: #6DA5AD; }

.olive {
  fill: #778151; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  @media screen and (min-width: 768px) {
    .links {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .links .column {
    width: 100%;
    text-align: center;
    border-top: 1px solid #c1c1c1;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .links .column:first-child {
        text-align: left; }
      .links .column:last-child {
        text-align: right; } }
    .links .column p {
      margin: 0; }

.coordinate-your-day {
  clear: both;
  display: block;
  width: 100%;
  padding: 20px 0; }
  .coordinate-your-day .column-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: -5px;
    margin-right: -5px; }
  .coordinate-your-day .section-minor-heading {
    display: block;
    border-bottom: 1px solid #c1c1c1;
    margin: 20px 5px; }
    .coordinate-your-day .section-minor-heading .serif-m-italic {
      margin: 0; }
    .coordinate-your-day .section-minor-heading__heading {
      display: inline-block;
      padding: 0 10px 0px 0;
      background: #fff;
      bottom: -7px;
      position: relative; }
  .coordinate-your-day .layout-split-4 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .coordinate-your-day .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 50%; }
      @media screen and (min-width: 768px) {
        .coordinate-your-day .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%; }
          .coordinate-your-day .layout-split-4 > .column:nth-child(1), .coordinate-your-day .layout-split-4 > .column:nth-child(2) {
            margin-top: 0; }
          .coordinate-your-day .layout-split-4 > .column:nth-child(2n+1) {
            clear: none; } }
      @media screen and (min-width: 1024px) {
        .coordinate-your-day .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0;
          width: 25%; }
          .coordinate-your-day .layout-split-4 > .column:nth-child(1), .coordinate-your-day .layout-split-4 > .column:nth-child(2), .coordinate-your-day .layout-split-4 > .column:nth-child(3), .coordinate-your-day .layout-split-4 > .column:nth-child(4) {
            margin-top: 0; }
          .coordinate-your-day .layout-split-4 > .column:nth-child(4n) {
            margin-right: 0; } }
    .coordinate-your-day .layout-split-4 > .column:last-child {
      margin-right: 0; }

.coordinate-your-day .spacing > * + * {
  margin-top: 5px; }

@media screen and (min-width: 64em) {
  .coordinate-your-day .spacing > * + * {
    margin-top: 10px; } }

.coordinate-your-day [class^=layout-] > .column {
  padding-left: 5px;
  padding-right: 5px; }

@media screen and (min-width: 1024px) {
  .coordinate-your-day [class^=layout-] > .column {
    padding-left: 5px;
    padding-right: 5px; } }

.coordinate-your-day .media-block-content .sans-bold-uppercase {
  margin-top: 10px;
  margin-bottom: 20px; }
