.ctnr-maincontent .row {
  margin: 0 auto; }

.head-to-toe-banner {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  max-width: 1262px;
  margin: 10px auto 30px; }
  @media screen and (min-width: 768px) {
    .head-to-toe-banner {
      margin: 30px auto 40px; } }
  .head-to-toe-banner__bg {
    height: 200px;
    background-position: 19% 0%;
    background-repeat: no-repeat;
    background-size: cover; }
  .head-to-toe-banner__text {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    left: 37%;
    text-align: center; }
    @media screen and (min-width: 350px) {
      .head-to-toe-banner__text {
        left: 37.5%; } }
    @media screen and (min-width: 768px) {
      .head-to-toe-banner__text {
        left: 31%; } }
    @media screen and (min-width: 1024px) {
      .head-to-toe-banner__text {
        left: 28%; } }
    .head-to-toe-banner__text p {
      margin: 0;
      color: #333; }
      .head-to-toe-banner__text p.sans-m {
        margin-top: 5px;
        margin-bottom: 10px; }
    .head-to-toe-banner__text a {
      text-decoration: none; }
  .head-to-toe-banner__ctas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 768px) {
      .head-to-toe-banner__ctas {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .head-to-toe-banner__ctas p {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .head-to-toe-banner__ctas p {
          width: auto;
          margin-left: 10px;
          margin-right: 10px; } }
