.ctnr-maincontent .row {
  margin: 0 auto;
}

.head-to-toe-banner {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  max-width: 1262px;
  margin: 10px auto 30px;
  @media screen and (min-width: 768px) {
    margin: 30px auto 40px;
  }


  &__bg {
    height: 200px;
    background-position: 19% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  &__text {
    //background: rgba(0, 255, 0, 0.1);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 37%;
    text-align: center;
    @media screen and (min-width: 350px) {
      left: 37.5%;
    }
    @media screen and (min-width: 768px) {
      left: 31%;
    }
    @media screen and (min-width: 1024px) {
      left: 28%;
    }

    p {
      margin: 0;
      color: #333;
      &.sans-m {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
    a {
      text-decoration: none;
    }
  }


  &__ctas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
    p {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      @media screen and (min-width: 768px) {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
} // .head-to-toe-banner
