.head-to-toe-plp {
  display: block;
  position: relative;
  width: 100%;
  background: #f8b3ae;
  padding: 10px 0;
  text-align: center;

  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    color: #333;
    &.serif-m-italic {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 22px;
      @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 22px;
      }
    }
    // &.promo-code {
    //   font-size: 13px;
    // }
  }

  &__ctas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
    p {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      @media screen and (min-width: 768px) {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }





}
