.head-to-toe-plp {
  display: block;
  position: relative;
  width: 100%;
  background: #f8b3ae;
  padding: 10px 0;
  text-align: center; }
  .head-to-toe-plp a {
    text-decoration: none; }
  .head-to-toe-plp p {
    margin: 0;
    color: #333; }
    .head-to-toe-plp p.serif-m-italic {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 22px; }
      @media screen and (min-width: 768px) {
        .head-to-toe-plp p.serif-m-italic {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 22px; } }
  .head-to-toe-plp__ctas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .head-to-toe-plp__ctas {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .head-to-toe-plp__ctas p {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .head-to-toe-plp__ctas p {
          width: auto;
          margin-left: 5px;
          margin-right: 5px; } }
