// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.few-favorites {
  display: block;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  //background: rgba(255, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 180px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1300px) {
    margin-top: 100px;
  }

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
    //background: rgba(0, 255, 0, 0.1);
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(248, 246, 240, 1);
    bottom: -27px;
    position: relative;
  }

  .flex-2-3-6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-top: 16px;
    margin-left: -5px;
    margin-right: -5px;
    .column {
      padding: 5px;
      width: calc(100% / 2);
      @media screen and (min-width: 768px) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: 1024px) {
        width: calc(100% / 6);
      }
    }
  }
}
