// ==========================================================================
// Hero Image and Caption
// ==========================================================================
.hero-video {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  z-index: 0;


  // ----------------------------------------------------------------
  // Main Hero Image / Caption
  // ----------------------------------------------------------------
  &__img {
    display: block;
    position: relative;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    //padding-top: 25px;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &--cover {
      display: none;
      @media screen and (min-width: $breakpoint-lg) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9.375%;
        background: rgba(248, 246, 240, 1);
      }
    }
  }


  &__caption {
    text-align: center;
    display: block;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 1);
    margin: 10px;
    padding: 40px 20px 30px;
    background: rgba(248, 246, 240, 0.8);
    //margin-top: -110px;

    @media screen and (min-width: $breakpoint-lg) {
      border: 3px solid rgba(255, 255, 255, 0.8);
      position: absolute;
      margin: 0;
      padding: 60px 30px 40px;
      left: 7.5%;
      top: 40%;
      transform: translateY(-40%);
    }
    // @media screen and (min-width: 1300px) {
    //   padding: 50px;
    // }


    // Text
    img {
      margin-bottom: 20px;
      max-width: 350px;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 350px;
      }
    }

    p {
      margin: 0;

      &.sans-bold-uppercase {
        margin-top: 15px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  } // .caption
} // .hero
