// ==========================================================================
// Hero Image and Caption
// ==========================================================================
.hero {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
    margin-top: 40px;
  }


  // ----------------------------------------------------------------
  // Main Hero Image / Caption
  // ----------------------------------------------------------------
  &__img {
    display: block;
    position: relative;
  }

  &__video {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    @media screen and (min-width: 1024px) {
      margin: 0;
      margin-top: 12px;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(-5%, -50%);
      width: 45%;
    }

    &-video {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      //padding-top: 25px;
      height: 0;
      @media screen and (min-width: 1024px) {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
      }
    }
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-text {
      display: block;
      position: relative;
      margin-top: 10px;
    }

    &-title {
      display: block;
      margin-bottom: 10px;
    }

  }


  &__caption {
    text-align: center;
    display: block;
    position: relative;
    border: 3px solid #f6c9c8;
    margin: 10px;
    padding: 30px 20px 20px;
    background: rgba(246,201,200, 0.85);

    @media screen and (min-width: $breakpoint-lg) {
      border: 3px solid rgba(255, 255, 255, 0.85);
      position: absolute;
      margin: 0;
      padding: 60px 30px;
      right: 7.5%;
      top: 50%;
      transform: translateY(-50%);
    }
    // @media screen and (min-width: 1300px) {
    //   padding: 50px;
    // }


    // Text
    img {
      margin-bottom: 20px;
      max-width: 280px;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 350px;
      }
    }

    p {
      margin: 0;

      &.sans-bold-uppercase {
        margin-top: 15px;
        margin-bottom: 10px;
        @media screen and (min-width: $breakpoint-lg) {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  } // .caption
} // .hero
