.ctnr-maincontent {
  background: rgba(248, 246, 240, 1);
  padding-bottom: 50px;
}

.content-page p a.inline-link {
  text-decoration: underline;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #74736d;
  }
}
