$portrait-width: 200px;

.portrait-quote {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;
  z-index: 1;
  @media screen and (min-width: 1024px) {
    margin-top: calc((-200px / 2) - 4.6875%);
    margin-bottom: 50px;
  }


  &__img {
    display: block;
    max-width: $portrait-width;
    margin: 0 auto;
    img {
      max-width: 80%;
      width: auto;
      border: 6px solid rgba(255, 255, 255, 1);
      border-radius: 50%;
      @media screen and (min-width: 1024px) {
        max-width: 100%;
      }
    }
  }


  p {
    margin: 0;
  }

  &__text {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 20px;
    max-width: 340px;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 480px;
    }


    &::before {
      display: block;
      position: relative;
      content: "\201C";
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 48px;
      line-height: 52px;
      color: #d6d6d6;
      margin: 0;
      padding: 0;
      height: 30px;
      @media screen and (min-width: 1024px) {
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 10px;
      }
    }

    .sans-m {
      margin-top: 10px;
    }
  }

}
