// ==========================================================================
// Breadcrumbs
// ==========================================================================

.breadcrumbs {
  //@include green-bg();
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 5px 10px;
  @media screen and (min-width: $breakpoint-lg) {
    padding-left: 0;
  }

  p {
    //@include green-bg();
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}
