// ==========================================================================
// Bridesmaid Hub Heading
// ==========================================================================
.bridesmaids-heading {
  max-width: 1262px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  @media screen and (min-width: $breakpoint-lg) {
    margin: 10px auto 0;
  }

  &.blue {
    background: #e4eff4;
  }
  &.gray {
    background: #e5e2e7;
  }
  &.green {
    background: #d5efe4;
  }
  &.neutral {
    background: #dccdcd;
  }
  &.pink {
    background: #f0d0d0;
  }
  &.purple {
    background: #ded8ec;
  }


  &__background {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 173px;
    }
  }

  // Text
  &__text {
    //@include green-bg();
    padding: 15px 20px;
    @media screen and (min-width: $breakpoint-md) {
      width: 90%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 80%;
    }

    .sans-m {
      margin: 0 auto;
      margin-bottom: 5px;
      max-width: 300px;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    .links {
      p.sans-bold-uppercase {
        display: inline-block;
        margin: 0;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .mobile-break {
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }
} // .bridesmaids-heading
