// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.color-palettes {
  //@include red-bg();
  position: relative;
  padding: 0 10px;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 0;
  }


  .section-heading {
    //@include green-bg();
    border-bottom: rgba(0,0,0,.1) 1px solid;
    &__text {
      //@include red-bg();
      display: inline-block;
      padding: 0 10px 3px 0;
      background: rgba(255, 255, 255, 1);
      bottom: -17px;
      position: relative;
    }
    &__heading {
      display: inline-block;
    }
    &__link {
      display: inline-block;
      margin-left: 10px;
    }
  }


  .layout-split-2-3-6 {
    //@include blue-bg();
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33333%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 16.66667%;
      }
    }
  }
}
