// ==========================================================================
// Events Banner
// ==========================================================================
.events-banner {
  display: block;
  position: relative;
  background: #ebbec8;
  background-image: url('/wcsstore/images/wwcm/sfg/bridesmaids-ugc/events-banner-mobile.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height: 143px;
  margin: 10px auto 20px;
  @media screen and (min-width: $breakpoint-md) {
    background-image: url('/wcsstore/images/wwcm/sfg/bridesmaids-ugc/events-banner.jpg');
    margin-top: 25px;
    margin-bottom: 0;
  }

  &__text {
    //@include green-bg();
    text-align: center;
    position: absolute;
    width: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    @media screen and (min-width: $breakpoint-lg) {
      width: 90%;
      left: 0;
      justify-content: center;
    }

    h3,
    p,
    .links {
      //@include blue-bg();
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      @media screen and (min-width: $breakpoint-lg) {
        width: auto;
      }
    }

    h3 {
      @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 4px;
      }
    }

    p.sans-s {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      @media screen and (min-width: $breakpoint-lg) {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    p.sans-bold-uppercase {
      display: block;
      visibility: visible;
      @media screen and (min-width: $breakpoint-lg) {
        display: none;
        visibility: hidden;
      }
    }

    p.btn {
      display: none;
      visibility: hidden;
      @media screen and (min-width: $breakpoint-lg) {
        display: block;
        visibility: visible;
      }
      &-secondary a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
} // .events-banner
