// ==========================================================================
// Flexbox
// ==========================================================================
.flex {
  //@include green-bg();
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  @media screen and (min-width: $breakpoint-md) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-left: -10px;
    margin-right: -10px;
  }


  &.outer-two-column {
    .column {
      //@include green-bg();
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .inner-two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    @media screen and (min-width: $breakpoint-lg) {
      padding-left: 5px;
      padding-right: 5px;
    }
    .col {
      //@include red-bg();
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }



  // ----------------------------------------------------------------
  // Flex Items
  // ----------------------------------------------------------------
  &-item {
    //@include blue-bg();
    margin-bottom: 10px;
    position: relative;
    background: $cream;

    &__img {

    }

    &__text {
      padding: 10px;

      .title {
        margin: 0;
      }
      .description {
        margin-top: 5px;
        margin-bottom: 0;
      }
      p.sans-bold-uppercase {
        margin-top: 7px;
        margin-bottom: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 15px 0 0 0;
      }
      .social-share__overlay--icons {
        width: 100%;
        position: relative;
        display: none;
        top: 50%;
      }
      .social-share__overlay--icons {
        display: block;
      }
      .social-share__icon {
        display: inline-block;
        width: 50px;
      }
      .social-share__icon svg {
        height: 18px;
        width: 18px;
      }
      .social-share table {
        margin: 0;
      }

      .gig-bar-container *,
      div.gig-reactions-container,
      .gig-reactions-container span,
      .gig-reactions-container a:hover,
      .gig-reactions-container a:visited,
      .gig-reactions-container a:link,
      .gig-reactions-container a:active {
        font-size: 12px;
        border: none;
        padding: 0px;
        margin: 0px;
        color: inherit;
        text-decoration: none;
        width: auto;
        float: none;
        -moz-border-radius: 0;
        border-radius: 0;
        font-family: arial;
        font-size: 10px;
        color: #4D4D4D;
        background: none;
      }
      .social-share__overlay--icons li {
        cursor: pointer;
        margin-right: 10px;
      }
    }

    .circle {
      &__text {
      //@include green-bg();
      display: block;
      position: absolute;
      width: 65%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
        p {
          margin: 0;
          &.sans-xs {
            margin-top: 5px;
          }
        }
      }
    } // .circle
  }

} // .flex
