html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
  -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
}
/* MOBILE FIRST */

#main_content {
  width: 100% !important;
}

.content-pages.one_column {
  width: auto;
}

.content-pages.one_column .ctnr-maincontent {
  padding: 0 10px;
  max-width: 1262px;
  margin: 0 auto;
}

#content {
  width: 100%;
  margin: auto;
  padding: 0;
}

.clearfix {
  clear: both;
}
/* Structure */

.inspiration_guidance_top {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.inspiration_guidance_main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.left_block {
  float: left;
  width: 100%;
  padding: 0;
  overflow: auto;
}

.left_block .serif-s-italic {
  color: #333333;
}

.images_container_fluid {
  float: left;
  max-width: 1010px;
  min-height: 1px;
  margin: 10px auto;
}

.images_cols:first-child {
  padding-right: 5px;
}

.images_cols:last-child {
  padding-left: 5px;
}

.images_cols {
  float: left;
  width: 50%;
}

.appointment-banner__subheadline {
  padding-top: 10px;
}

.appointment-banner__subheadline p {
  display: inline-block;
  padding-right: 5px;
}
/* Right Rail */

.right_rail {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.you_may_also_like {
  clear: both;
  width: 100%;
  padding: 0;
}

.you_may_also_like_links {
  float: left;
  width: 100%;
  min-height: 1px;
  margin: 10px auto;
  padding: 0;
}

.you_may_also_like_cols:first-child {
  padding-right: 10px;
}

.you_may_also_like_cols:last-child {
  padding-left: 10px;
}

.you_may_also_like_cols {
  float: left;
  width: 50%;
}

.you_may_also_like_cols a {
  color: #333333;
  text-decoration: none;
}

.you_may_also_like_cols img {
  width: 100%;
}

.inspiration_guidance_bottom {
  clear: both;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  min-height: 10px;
}

.serif-xxl {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 26px !important;
  line-height: 26px !important;
  font-weight: 500;
  margin-bottom: 0;
}

.serif-xl {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 26px !important;
  line-height: 26px !important;
  font-weight: 500;
  margin: 0;
}

.serif-l {
  font-size: 22px !important;
  line-height: 26px !important;
}

.serif-m {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: normal !important;
  margin-bottom: 0;
}

.serif-l-italic {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-style: italic;
  font-size: 22px !important;
  line-height: 26px !important;
  font-weight: normal !important;
  margin: 0;
}

.serif-m-italic {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-style: italic;
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: normal !important;
}

.serif-s-italic {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-style: italic;
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: normal !important;
  margin-bottom: 0;
}

.serif-s {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 500;
  margin-bottom: 0;
}

.serif-xs {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 500;
  margin-bottom: 0;
}

.sans-s {
  font-size: 11px !important;
  line-height: 14px !important;
}

.sans-m {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 13px !important;
  line-height: 18px !important;
  font-weight: normal;
}

.sans-l {
  font-size: 16px !important;
  line-height: 25px !important;
}

.sans-m-bold {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 13px !important;
  font-weight: 700;
  line-height: 18px !important;
  letter-spacing: 0.055em;
  text-decoration: none;
}

.sans-m-bold-uppercase {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 9px !important;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 0;
}

.sans-m-bold-uppercase a,
.sans-m-bold-uppercase a:visited {
  color: #333333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.sans-m-bold-uppercase a:hover {
  color: #74736d;
  text-decoration: none;
}

.sans-bold-uppercase {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 11px !important;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 0;
}

.sans-bold-uppercase a,
.sans-bold-uppercase a:visited {
  color: #333333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.sans-bold-uppercase a:hover {
  color: #74736d;
  text-decoration: none;
}

.sans-s-bold a,
.sans-s-bold a:visited {
  color: #333333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.sans-s-bold a:hover {
  color: #74736d;
  text-decoration: none;
}

.serif-xl>.sans-m-bold-uppercase {
  margin-left: 5px;
}

.left_block .sans-bold-uppercase a,
.left_block .sans-bold-uppercase a:visited {
  color: #333333;
}

.left_block .sans-bold-uppercase a:hover {
  color: #74736d;
}

.uppercase {
  text-transform: uppercase;
}

.bottomspace {
  margin-bottom: 5px;
}

.sans-m {
  padding-top: 10px;
}

.content-pages p.sans-l,
.content-pages p.sans-m {
  max-width: 721px;
}

.sans-xs {
  font-size: 11px;
  line-height: 14px;
}

.recommend-block__image {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  min-width: 80px;
}

.recommend-block__image:last-child {
  margin-right: 0;
}

.recommend-block__content {
  padding-left: 10px;
  width: 66.66667%;
}

.listing__heading-cta {
  font-style: initial;
  cursor: pointer;
  text-decoration: underline;
  color: #74736d;
}

.layout-longform .column:last-child {
  margin-right: 0;
  margin-bottom: 20px;
}

.layout-longform .column {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.text-decoration-none {
  text-decoration: none;
}

a {
  color: #333333;
  transition: all 0.25s ease;
  background-color: transparent;
}

.listing__heading-cta {
  font-style: initial;
  cursor: pointer;
  text-decoration: underline;
  color: #74736d;
}

.spacing>*+* {
  margin-top: 0px;
}

.recommend-block__inner {
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-bottom: 0;
}

.serif-m a {
  color: #333333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.serif-m a:hover {
  color: #74736d !important;
  text-decoration: none !important;
}

.serif-xs a {
  color: #333333;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.serif-xs a:hover {
  color: #74736d !important;
  text-decoration: none !important;
}

.margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.full-width {
  max-width: 400px;
}

.bottom-line {
  border-bottom: 1px solid #7f7f7f;
}

.bottom {
  padding: 20px 0;
}

.inspiration_guidance_main p[class^="serif"] a {
  font-weight: normal;
}
/*        flexbox code mobile*/

.product_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-top: 10px;
}

.flex-item {
  width: 100%;
  margin-bottom: 10px;
}

p {
  margin: 0 0 0;
}

.image_text {
  background-color: #f8f6f0;
  padding: 10px;
}

.flex-item img {
  width: 100%;
}

.appointment-banner {
  max-width: 1262px;
  margin: 10px auto 0;
  background-color: #ffe6e3;
  position: relative;
  text-align: center;
  height: 240px;
}

.appointment-banner__inner {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 6px;
  left: 6px;
  border: 1px solid #fff;
}

.appointment-banner .btn {
  font-family: "Open Sans", Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 10px 0 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  width: auto;
}

.appointment-banner .btn-secondary a {
  outline: none;
  color: #52535a;
  background-color: #ffffff;
  border: 1px solid #52535a;
  padding: 10px 50px !important;
  display: block;
  text-align: center;
  text-decoration: none;
}

.appointment-banner .btn-secondary a:hover,
.appointment-banner .btn-secondary a:focus {
  background-color: #ffffff;
  border: 1px solid #e0e0e7;
  outline: none;
}

.inspiration-guidance .section-minor-heading {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.second_container,
.third_container,
.fourth_container {
  margin-top: 0;
}

.inspiration-guidance .sans-bold-uppercase {
  margin-top: 3px;
}

.circle_2,
.circle_1,
.circle_3 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow: hidden;
}

.circle_2 span,
.circle_1 span,
.circle_3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 200px;
  text-align: center;
}



.appointment-banner__subheadline p.sans-bold-uppercase {
  padding-bottom: 10px;
}

.h1_text {
  color: #333333;
}

div.image_text p.sans-bold-uppercase {
  margin-top: 7px;
}


@media screen and (min-width: 475px) and (max-width: 767px) {
  .circle_text_1 span.serif-s-italic,
  .circle_text_2 span.serif-s-italic,
  .circle_text_3 span.serif-s-italic {
    font-size: 36px !important;
    line-height: 40px !important;
  }
  .circle_2 span,
  .circle_1 span,
  .circle_3 span {
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

  .section_container_fluid {
    max-width: 540px;
  }
    #content {

    width: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
  }
  .serif-xxl {
    font-size: 48px !important;
    line-height: 52px !important;
    margin-bottom: 0;
  }
  .serif-m {
    font-size: 22px !important;
    line-height: 26px !important;
  }
  .top-image {
    float: left;
    display: block;
    margin-top: 10px;
  }
  .serif-l-italic {
    font-size: 28px !important;
    line-height: 36px !important;
    padding-bottom: 10px;
  }
  .top-text {
    float: right;
    display: block;
    width: 43%;
  }
  .left_block {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }
  .top-section {
    width: 100%;
    max-width: 720px;
  }
  .top-image {
    float: left;
    display: block;
  }
  .top-text {
    float: right;
    display: block;
    padding-left: 30px;
  }
  .product_container {
    width: 100%;
    padding: 0;
    margin-top: -20px;
  }
  .spacing>*+* {
    margin-top: 17px;
  }
  .float {
    float: left !important;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .content-pages p.sans-l,
  .content-pages p.sans-m.sans-m {
    max-width: 721px;
  }
  .sans-s {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .serif-s {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .sans-m {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .full-width {
    width: 100%;
  }
  .bottom-line {
    display: none;
  }
  .serif-s-italic {
    font-size: 20px !important;
    line-height: 24px !important;
    margin-bottom: 0;
  }
  .sans-m {
    padding-bottom: 0;
    padding-top: 0;
  }
  .sans-m-bold-uppercase {
    font-size: 11px !important;
    line-height: 14px;
  }
  .serif-xs {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .columns_full {
    margin-right: -5px;
    margin-left: -5px;
  }
  .product_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    padding: 0 5px;
    float: left;
  }
  .flex-item {
    width: 100%;
  }

  .columns_full {
    margin-top: 30px;
  }

  .second_container {
    padding-bottom: 50px;
  }
  .third_container {
    margin-top: -30px;
    clear: left;
  }
  .fourth_container {
    margin-top: -50px;
  }
  .appointment-banner__text {
    margin-top: 10px;
  }
  .appointment-banner__subheadline {
    padding-top: 0;
  }

  .appointment-banner {
    max-width: 1262px;
    margin: 10px auto 0;
    background-color: #ffe6e3;
    position: relative;
    text-align: center;
    height: 125px;
  }
  .appointment-banner__text {
    margin-top: 11px;
  }
}
/*      End Tablet */
/*      Begin Desktop */

@media screen and (min-width: 830px) and (max-width: 1024px) {
  .third_container {
    margin-top: -50px;
  }
}

@media screen and (min-width: 1024px) {
  /* Structure */
  .content-pages.one_column .ctnr-maincontent {
    padding: 0 20px;
    max-width: 1262px;
    margin: 0 auto;
  }
  #content {
    width: 100%;
    margin: 0 auto;
  }
  .inspiration_guidance_top {
    width: 100%;
    padding: 5px 0 5px 5px;
  }
  .inspiration_guidance_main {
    float: left;
    width: 100%;
    min-height: 1px;
    margin: 0;
    padding: 0;
  }
  .left_block {
    float: left;
    padding: 0 50px 50px 0;
    max-width: 70%;
    margin: 0;
  }
  .right_rail {
    max-width: 326px;
    width: 30%;
    float: left;
    clear: none;
    padding-top: 107px;
  }
  .you_may_also_like {
    clear: both;
    width: 100%;
    padding: 0;
  }
  .you_may_also_like_links {
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 0;
    margin: 0;
  }
  .you_may_also_like_cols:first-child,
  .you_may_also_like_cols:last-child {
    padding: 0;
  }
  .you_may_also_like_cols {
    float: left;
    width: 100%;
    margin: 0;
  }
  .you_may_also_like_cols a {
    color: #333333;
  }
  .you_may_also_like_cols img {
    width: 100%;
    max-width: 182px;
  }
  .inspiration_guidance_bottom {
    position: relative;
    clear: both;
    float: left;
    max-width: 990px;
    min-height: 1px;
    margin: 0;
    padding: 0;
  }
  .serif-xxl {
    font-size: 48px !important;
    line-height: 52px !important;
    margin-bottom: 0;
  }
  .serif-xl {
    font-size: 36px !important;
    line-height: 40px !important;
  }
  .serif-l {
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .serif-m {
    font-size: 22px !important;
    line-height: 26px !important;
  }
  .serif-l-italic {
    font-size: 28px !important;
    line-height: 26px !important;
  }
  .serif-m-italic {
    font-size: 26px !important;
    line-height: 32px !important;
  }
  .serif-s {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .serif-xs {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .sans-s {
    font-size: 15px !important;
    line-height: 19px !important;
  }
  .sans-m {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .sans-m-bold {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px !important;
    font-weight: 700;
    line-height: 24px !important;
    text-decoration: none;
    color: #333333;
  }
  .sans-m-bold-uppercase {
    font-size: 11px !important;
    line-height: 14px !important;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3px;
  }
  .sans-l {
    font-size: 18px !important;
    line-height: 30px !important;
  }

  .uppercase {
    text-transform: uppercase;
  }
  .extraspace {
    margin-top: 3px;
  }
  .topspace {
    margin-top: 7px;
  }
  .bottomspace {
    margin-bottom: 10px;
  }
  .paddingtop {
    padding-top: 3px;
  }
  .recommend-block__image {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    min-width: 80px;
  }
  .recommend-block__content {
    padding-left: 10px;
    width: 66.66667%;
  }
  .listing__heading-cta {
    font-style: initial;
    cursor: pointer;
    text-decoration: underline;
    color: #74736d;
  }
  .layout-longform {
    display: -ms-flexbox;
    display: flex;
  }
  .text-decoration-none {
    text-decoration: none;
  }
  a {
    color: #333333;
    transition: all 0.25s ease;
  }
  a {
    background-color: transparent;
  }
  .listing__heading-cta {
    font-style: initial;
    cursor: pointer;
    text-decoration: underline;
    color: #74736d;
  }
  .sans-xs {
    font-size: 13px;
    line-height: 20px;
  }
  .top-section {
    width: 100%;
    max-width: 720px;
  }
  .top-image {
    float: left;
    display: block;
  }
  .top-text {
    float: right;
    display: block;
    padding-left: 30px;
  }
  .spacing>*+* {
    margin-top: 0;
  }
  .float {
    float: left !important;
    margin-right: 35px;
    margin-bottom: 20px;
  }
  .content-pages p.sans-l,
  .content-pages p.sans-m.sans-m {
    max-width: 721px;
  }
  .full-width {
    width: 100%;
  }
  .top-padding {
    padding-top: 10px;
  }
  .margin-bottom {
    margin-bottom: 10px;
  }
  .bottom-line {
    display: none;
  }
  .sans-m {
    padding-bottom: 0;
    padding-top: 0;
  }
  .recommend-block__inner {
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .product_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
  }
  .product_container {
    margin: 25px 0 0 0;
    width: 25%;
    padding: 0 5px;
  }

  .columns_full {
    margin-top: -15px;
  }
  .flex-item {
    width: 100%;
  }
  .product_container:last-child {
    margin-top: 25px;
  }
  .fourth_container {
    margin-right: 0;
  }
  .appointment-banner {
    height: 125px;
  }
  .appointment-banner__text {
    padding-top: 30px;
  }
  .appointment-banner__headline {
    display: block;
    padding: 0;
  }
  .appointment-banner__subheadline {
    display: inline-block;
    padding: 10px 10px 0 10px;
  }
  .appointment-banner__subheadline p {
    display: inline-block;
    padding-right: 5px;
  }

  .appointment-banner {
    max-width: 1262px;
    margin: 10px auto 0;
    background-color: #ffe6e3;
    position: relative;
    text-align: center;
    height: 125px;
  }
  .appointment-banner__inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 6px;
    left: 6px;
    border: 1px solid #fff;
  }

}

/*      End Desktop */
/*Gigya Share Bar*/

.article__share-bar {
  background: #fff;
  padding: 12px 0;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: solid 1px #eee;
}

@media screen and (min-width: 768px) {
  .article__share-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

.article__share-bar a {
  cursor: pointer;
}

.article__share-bar-title {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .article__share-bar-title {
    margin-bottom: 3px;
  }
}

.article__share-bar-item-list {
  line-height: 1;
  padding: 0;
}

.article__share-bar-item {
  display: inline-block;
  margin-left: 28px;
}

@media screen and (min-width: 768px) {
  .article__share-bar-item {
    margin-left: 14px;
  }
}

.article__share-bar-item-link {
  display: block;
  height: 18px !important;
}

.article__share-bar-item-link--email {
  height: 16px;
}

.article__share-bar-item-image {
  height: 100%;
  max-width: none;
  width: auto;
}

.row {
  margin-left: 0;
}

.column-centered {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 5px 0 0 0;
}

[class^="serif"] {
  margin: 0;
}

.media-block-content {
  margin-top: 10px;
}

.media-block-content p {
  margin: 0;
}

.section-minor-heading .section-minor-heading__heading {
  color: #333;
  background: #fff;
}


@media screen and (max-width: 767px) {
  .article__teaser-list .mobile-mb-split-1:not(:last-child) {
    padding-bottom: 10px;
  }

  .article__teaser-list .media-block-img-wrap {
    float: left;
    margin-right: 11px;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .article__teaser-list {
    margin-top: 10px;
  }

  .article__teaser-list .media-block-img-wrap {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .layout-split-4>.column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%;
  }
  /*    .layout-split-4 > .column:nth-child(1) {
margin-top: 10px; }*/
}

@media screen and (min-width: 1024px) {
  .layout-split-4>.column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%;
  }
  .layout-split-4>.column:nth-child(1) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 71.875em) and (min-width: 64em) {
  .layout-split-4>.column:nth-child(2n+1) {
    clear: none;
    margin-top: 0;
  }

  .layout-split-4>.column:nth-child(4) {
    clear: none;
    margin-top: 0;
  }
}
/*      Appointment Banner */

.appointment-banner__headline .serif-l-italic {
  font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .appointment-banner__headline .inspiration-guidance .serif-l-italic {
    font-size: 30px;
    line-height: 36px;
  }
  .appointment-banner__headline .serif-l-italic {
    font-size: 32px;
    line-height: 36px;
  }
}

.appointment-banner__headline .serif-l-italic {
  margin: 15px 0 0;
}

.appointment-banner__text {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .appointment-banner__headline .serif-l-italic {
    margin: 5px 0 0;
  }
  .appointment-banner__text {
    margin-top: 11px;
  }
}

@media screen and (min-width: 1024px) {
  .appointment-banner__text {
    margin-top: -7px;
  }
}

.appointment-banner__btn {
  margin-top: -2px;
}
/*inspiration and guidance*/

.inspiration-guidance {
  position: relative;
  overflow: hidden;
}

.inspiration-guidance .column-full {
  padding: 0;
}

.inspiration-guidance .section-minor-heading {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.inspiration-guidance .section-minor-heading .section-minor-heading__heading {
  display: inline-block;
  padding: 0 10px 3px 0;
  background: white;
  bottom: -27px;
  position: relative;
  margin-bottom: 20px
}

.inspiration-guidance .article__teaser-list {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .inspiration-guidance .article__teaser-list {
    margin-top: 5px;
  }
}

.inspiration-guidance .article__teaser-list .media-block-img-wrap {
  float: left;
  margin-right: 11px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .inspiration-guidance .article__teaser-list .media-block-img-wrap {
    float: left;
    margin-right: 11px;
    width: 50%;
  }
  .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .inspiration-guidance .article__teaser-list .media-block-img-wrap {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .inspiration-guidance .layout-split-4>.column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%;
  }
  .inspiration-guidance .layout-split-4>.column:nth-child(1) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .inspiration-guidance .layout-split-4>.column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%;
  }
  .inspiration-guidance .layout-split-4>.column:nth-child(1) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 71.875em) and (min-width: 64em) {
  .inspiration-guidance .layout-split-4>.column:nth-child(2n+1) {
    clear: none;
    margin-top: 0;
  }
  .inspiration-guidance .layout-split-4>.column:nth-child(4) {
    clear: none;
    margin-top: 0;
  }
}
/*Social Share*/

.social-share {
  display: inline;
  position: relative;
}

.social-share__img {
  position: relative;
}

@media screen and (min-width: 768px) {
  .social-share__overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(249, 179, 174, 0.7);
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
}

.social-share__overlay--icons {
  width: 100%;
  /*height: 18px;*/
  position: relative;
  display: none;
  top: 50%;
}

.social-share__overlay--icons {
  display: block;
}

.social-share__icon {
  display: inline-block;
  width: 50px;
}

.social-share__icon svg {
  height: 18px;
  width: 18px;
}

.social-share table {
  margin: 0;
}

ul.social-share__overlay--icons {
  padding: 10px 0 0 0;
}

.gig-bar-container *,
div.gig-reactions-container,
.gig-reactions-container span,
.gig-reactions-container a:hover,
.gig-reactions-container a:visited,
.gig-reactions-container a:link,
.gig-reactions-container a:active {
  font-size: 12px;
  border: none;
  padding: 0px;
  margin: 0px;
  color: inherit;
  text-decoration: none;
  width: auto;
  float: none;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: arial;
  font-size: 10px;
  color: #4D4D4D;
  background: none;
}

section {
  display: inline-block;
}
/*      Gigya Share Bar */

.article__share-bar {
  background: #fff;
  padding: 12px 0;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: solid 1px #eee;
}

@media screen and (min-width: 768px) {
  .article__share-bar {
    float: left;
    padding: 12px 30px;
    margin: 30px auto 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

.article__share-bar a {
  cursor: pointer;
}

.article__share-bar-title {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .article__share-bar-title {
    margin-bottom: 3px;
  }
}

.article__share-bar-item-list {
  line-height: 1;
  padding: 0;
}

.article__share-bar-item {
  display: inline-block;
  margin-left: 28px;
}

@media screen and (min-width: 768px) {
  .article__share-bar-item {
    margin-left: 14px;
  }
}

.article__share-bar-item-link {
  display: block;
  height: 18px !important;
}

.article__share-bar-item-link--email {
  height: 16px;
}

.article__share-bar-item-image {
  height: 100%;
  max-width: 20px;
  max-height: 20px;
  width: auto;
}

div.gig-button-container {
  margin-bottom: 0;
}

.hero {
  display: block;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .hero {
      padding: 0 5px; } }
.hero__text {
  background-color: #ffffff;
  border: 1px solid #000000;
  outline: 5px solid #ffffff;
  padding: 20px;
  margin-top: 10px; }
.hero__text p.sans-bold-uppercase {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .hero__text {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 30px;
      background-color: #ffffff;
      border: 1px solid #000000;
      outline: 5px solid #ffffff;
      max-width: 300px;
      padding: 20px;
      opacity: 1; }
    .hero__text p.sans-m {
      margin-top: 10px; }
    .hero__text p.sans-bold-uppercase {
      margin-top: 10px; }
  }

@media screen and (min-width: 1024px) {
  .hero__text {
    max-width: 360px;
    right: 50px;
    padding: 15px 20px 20px;
  }
}

.social-share__icon {
  margin-right: 5px;
}
.social-share__overlay--icons li {
  cursor: pointer;
}

#content .sans-xs {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 11px;
  line-height: 14px; }
@media screen and (min-width: 768px) {
  #content .sans-xs {
    font-size: 13px;
    line-height: 20px; } }

    #content .serif-xxxl {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 26px;
      line-height: 1;
      font-weight: normal; }
      @media screen and (min-width: 768px) {
        #content .serif-xxxl {
          font-size: 60px;
          line-height: 64px; } }
    #content .serif-xxl {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 26px;
      line-height: 1;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .serif-xxl {
        font-size: 48px;
        line-height: 52px; } }
    #content .serif-xl {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 26px;
      line-height: 1;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .serif-xl {
        font-size: 36px;
        line-height: 40px; } }
    #content .serif-l {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 22px;
      line-height: 26px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .serif-l {
        font-size: 28px;
        line-height: 36px; } }
    #content .serif-l-italic {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-style: italic;
      font-size: 22px;
      line-height: 26px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .serif-l-italic {
        font-size: 32px;
        line-height: 36px; } }
    #content .serif-m-italic {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-style: italic;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500; }
    @media screen and (min-width: 768px) {
      #content .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }
    #content .serif-s-italic {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-style: italic;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500; }
    @media screen and (min-width: 768px) {
      #content .serif-s-italic {
        font-size: 20px;
        line-height: 24px; } }
    #content .serif-m {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 18px;
      line-height: 22px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .serif-m {
        font-size: 22px;
        line-height: 26px; } }
    #content .serif-s {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500; }
    @media screen and (min-width: 768px) {
      #content .serif-s {
        font-size: 20px;
        line-height: 24px; } }
    #content .serif-xs {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500; }
    @media screen and (min-width: 768px) {
      #content .serif-xs {
        font-size: 16px;
        line-height: 20px; } }
    #content .sans-l {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 16px;
      line-height: 25px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .sans-l {
        font-size: 18px;
        line-height: 30px; } }
    #content .sans-m {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 13px;
      line-height: 20px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .sans-m {
        font-size: 15px;
        line-height: 24px; } }
    #content .sans-s {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      #content .sans-s {
        font-size: 15px;
        line-height: 24px; } }
    #content .sans-xs {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px; }
    @media screen and (min-width: 768px) {
      #content .sans-xs {
        font-size: 13px;
        line-height: 20px; } }
    #content .sans-bold-uppercase {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.055em;
      text-decoration: none; }
    @media screen and (min-width: 768px) {
      #content .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }

.social-share .sans-xs {
  margin-top: 5px;
}

.hero__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .hero__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
