// ========================================================
// FLEX
// ========================================================
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px !important;
  padding-left: 5px;
  padding-right: 5px;

  .column {
    display: block;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      width: 50%;
    }


    .flex__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;

      .col {
        display: block;
        padding: 5px ;
        position: relative;
        width: 100%;
        @media screen and (min-width: $breakpoint-lg) {
          width: 50%;
        }
      }
    }
  }




  &__item {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      &.sans-xs {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }



    &--text {
      background: $cream;
      padding: 10px 10px 20px;
    }

    &--gigya {
      display: block;
      margin-top: 10px;
      padding: 0;
      position: relative;
      width: 100%;

      li {
        cursor: pointer;
        margin-right: 5px;
      }

      svg {
        height: 24px;
      }
    }
  }



  &__circle {
    display: block;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--text {
      //@include green-bg();
      display: block;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
      left: 15%;
    }
    p {
      margin: 0;
    }
  }


}
