// ========================================================
// THEME LINKS
// ========================================================
.theme-links {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 15px;
  position: relative;
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }


  &.blue {
    background: #dbe4e6;
  }
  &.pink {
    background: $pink;
  }

  p {
    margin-top: 10px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 5px;
    }
  }


  &__headline {
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
  }


  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }


}
