$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;


html {
  -webkit-font-smoothing: antialiased !important; }

.ctnr-footer {
  padding: 0; }

#footer {
  background: #727278;
  min-height: 400px;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  display: block !important;
  box-sizing: border-box;
  color: #fff; }




.footer-links {

  .row-no-stack {
    max-width: 1262px;
    margin: 0 auto;
    .span2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: stretch;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      min-height: auto !important;

      .column {
        width: 100%;
      }
    }
  } // .footer-links .row-no-stack




  .footer {
    &__menu {
      background-color: #727278;
      color: #ffffff;
      @media screen and (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
      }

      &-section {
        padding-left: 0px;
        @media screen and (min-width: $breakpoint-md) {
          padding-left: 20px;
          padding-right: 5px;
          &:nth-child(2) {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
        @media screen and (min-width: $breakpoint-lg) {
          padding-right: 0px;
        }

        &:last-child {
          margin-bottom: 24px;
          @media screen and (min-width: $breakpoint-sm) {
            margin-bottom: 34px;
          }
          @media screen and (min-width: $breakpoint-md) {
            padding-bottom: 12px;
            padding-top: 12px;
          }
        }
        &:not(:first-child) {
          @media screen and (min-width: $breakpoint-md) {
            padding-left: 20px;
          }
        }
        &:not(:last-child) {
          @media screen and (min-width: $breakpoint-md) {
            border-right: 1px solid rgba(255, 255, 255, 0.25);
          }
        }

        &-heading {
          margin: 0;
          padding: 0;
        } // .footer__menu-section-heading

        &-item {
          padding-top: 16px;
          &-link {
            color: #ffffff;
            display: block;
            text-decoration: none;
            &:active,
            &:focus,
            &:hover {
              color: #c1c1c1;
            }
          }
        } // .footer__menu-section-item

      } // .footer__menu-section
    } // .footer__menu


    // --------------------------------------------------------
    // Partners
    // --------------------------------------------------------
    .layout-split-2-3-6:after {
      content: "";
      display: table;
      clear: both; }

    @media screen and (max-width: 499px) {
      .layout-split-2-3-6 > .column:nth-child(1),
      .layout-split-2-3-6 > .column:nth-child(2) {
        margin-top: 0; }
      .layout-split-2-3-6 > .column {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%; }
        .layout-split-2-3-6 > .column:last-child {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(2n) {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(2n+1) {
          clear: left; } }

    @media screen and (min-width: 500px) and (max-width: 950px) {
      .layout-split-2-3-6 > .column:nth-child(1),
      .layout-split-2-3-6 > .column:nth-child(2),
      .layout-split-2-3-6 > .column:nth-child(3) {
        margin-top: 0; }
      .layout-split-2-3-6 > .column {
        float: left;
        display: block;
        margin-right: 0%;
        width: 33.33333%; }
        .layout-split-2-3-6 > .column:last-child {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(3n) {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(3n+1) {
          clear: left; } }

    @media screen and (min-width: 950px) {
      .layout-split-2-3-6 > .column:nth-child(1),
      .layout-split-2-3-6 > .column:nth-child(2),
      .layout-split-2-3-6 > .column:nth-child(3),
      .layout-split-2-3-6 > .column:nth-child(4),
      .layout-split-2-3-6 > .column:nth-child(5),
      .layout-split-2-3-6 > .column:nth-child(6) {
        margin-top: 0; }
      .layout-split-2-3-6 > .column {
        float: left;
        display: block;
        margin-right: 0%;
        width: 16.66667%; }
        .layout-split-2-3-6 > .column:last-child {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(6n) {
          margin-right: 0; }
        .layout-split-2-3-6 > .column:nth-child(6n+1) {
          clear: left; } }

    @media screen and (max-width: 63.875em) {
      .layout-split-2-3-6>.column:nth-child(2n+1) {
          clear: none;
      }
    }
    @media screen and (max-width: 71.875em) and (min-width: 63.9375em) {
      .layout-split-2-3-6>.column:nth-child(3n+1) {
          clear: none;
      }
    }

    &__partners {
      background-color: #727278;
      color: #ffffff;
      &-heading {
        margin: 0 0 20px;
        padding: 0;
      }
      &-item {
        &-link {
          display: block;
          text-align: left;
          padding: 0 10px 40px 0;
          @media screen and (min-width: $breakpoint-md) {
            text-align: left;
          }
          svg {
            max-width: 120px;
            max-height: 40px;
          }
        }
        &-image {
          width: 100%;
          max-width: 135px;
          display: inline;
        }
      }
    }


    // --------------------------------------------------------
    // Social
    // --------------------------------------------------------
    &__social {
      background-color: #727278;
      color: #ffffff;
      margin-top: 20px;
      text-align: center;
      @media screen and (min-width: $breakpoint-sm) {
        text-align: left;
      }

      &-item {
        display: block;
        -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: inline-block !important;
        float: left;
        width: 30px;
        margin: 0;
        @media screen and (min-width: $breakpoint-md) {
          width: 20px;
        }
        @media screen and (min-width: 950px) {
          -ms-flex-preferred-size: 18px;
          flex-basis: 18px;
        }

        svg {
          width: 30px;
          @media screen and (min-width: $breakpoint-md) {
            width: 18px;
          }
        }

        &-list {
          align-content: stretch;
          align-items: stretch;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 auto;
          width: 100%;
          max-width: 300px;
          text-align: left;
          @media screen and (min-width: $breakpoint-sm) {
            margin: 0;
          }
          @media screen and (min-width: $breakpoint-md) {
            max-width: 180px;
            margin: 0;
          }
        } // .footer__social-item-list

        &-link {
          display: block;
          fill: #ffffff;
          &:hover,
          &:focus,
          &:active {
            filter: none;
          }
          svg {
            width: 30px;
            height: 30px;
            @media screen and (min-width: $breakpoint-md) {
              width: 18px;
              height: 18px;
            }
          }
        } // .footer__social-item-link

        &-image {
          height: auto;
          width: 100%;
        } // .footer__social-item-image

        &-text {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
        } // .footer__social-item-text

      } // .footer__social-item

      &-icon {
        fill: #fff;
      } // .footer__social-icon

    } // .footer-links .footer__social

  } // .footer


  .find-us-online {
    border-right: none !important;
    padding-right: 0 !important;
  }



} // .footer-links











































@media screen and (min-width: 68.75em) {
  .footer-links .footer__menu-section.footer__menu-section--wide .footer__menu-section-item-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 130px;
    -moz-column-width: 130px;
    column-width: 130px; } }













@media screen and (max-width: 63.875em) {
  .footer-links .layout-split-2-3-6 > .column:nth-child(2n+1) {
    clear: none; } }
@media screen and (max-width: 71.875em) and (min-width: 63.9375em) {
  .footer-links .layout-split-2-3-6 > .column:nth-child(3n+1) {
    clear: none; } }
