<!-- BACK TO TOP BUTTON -->
<style media="screen">
  .listing-pager__top {
    display: block;
    position: fixed;
    top: auto;
    left: auto;
    right: 10px;
    bottom: -100px;
    height: 60px;
    width: 40px;
    z-index: 1;
    text-align: center;
    pointer-events: all;
    transition: bottom 0.5s ease; }
    .listing-pager__top-link {
      display: block;
      position: relative;
      cursor: pointer;
      text-decoration: none !important;
      height: 100%; }
      .listing-pager__top-link:hover .listing-pager__top-link-text,
      .listing-pager__top-link:active .listing-pager__top-link-text {
        color: #000; }
      .listing-pager__top-link:hover .listing-pager__top-link-image svg,
      .listing-pager__top-link:active .listing-pager__top-link-image svg {
        fill: #000; }
      :focus {
        outline: 1px dotted #333 !important;
        outline-offset: 2px;
      }
      .listing-pager__top-link-text {
        font-family: "Open Sans", Verdana, Helvetica, Arial, Droid Sans, sans-serif;
        display: block;
        font-size: 11px;
        font-weight: 700;
        margin-top: 10px;
        text-transform: uppercase;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        color: #333;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .listing-pager__top-link-image {
        width: 100%; }
      .listing-pager__top-link-svg {
        width: 40px;
        fill: #333;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
</style>
<div class="listing-pager__top" id="scrollToTop" aria-hidden="true">
  <a class="listing-pager__top-link" href="javascript:void();" role="button" tabindex="0" title="Click to return to the top of the page">
    <span class="listing-pager__top-link-image">
      <svg role="img" aria-describedby="backToTopButtonTitle backToTopButtonDesc" class="listing-pager__top-link-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
        <title id="backToTopButtonTitle">Back To Top Button</title>
        <desc id="backToTopButtonDesc">Click to return to the top of the page</desc>
        <polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
        <path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
      </svg>
    </span>
    <span class="listing-pager__top-link-text">Top</span>
  </a>
</div>
<script type="text/javascript">
(function($) {
  $(document).ready(function() {
    function scrollFunction() {
      var scrollTop = $(window).scrollTop();
      var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
      if (scrollTop >= 100 && scrollBottom !== 0) {
        $('#scrollToTop').css({'bottom': '10px'}).attr('aria-hidden', 'false');
      } else if (scrollTop >= 100 && scrollBottom <= 1000) {
        $('#scrollToTop').css({'bottom': '80px'});
      } else {
        $('#scrollToTop').css({'bottom': ''}).attr('aria-hidden', 'true');
      }
    }
    $(window).on('scroll', function() {
      scrollFunction();
    });
    $('#scrollToTop a').on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop: 0}, 1000, function() {
        $('a[href]:visible, area[href]:visible, input[type!="hidden"]:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled])').eq(0).focus();
      });
    });
  });
}(jQuery));
</script>
