.reverie-toppromo {
  background: #e8c9c7;
  background-image: url("/wcsstore/images/wwcm/espots/plp/toppromo/Reverie_PLP_BannerReverie_Mobile_400x200.jpg");
  background-position: 20% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 200px;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 350px) {
    .reverie-toppromo {
      background-position: 0% 0%; } }
  @media screen and (min-width: 600px) {
    .reverie-toppromo {
      background-image: url("/wcsstore/images/wwcm/espots/plp/toppromo/Reverie_PLP_BannerReverie_Desktop_1600x200.jpg");
      background-position: 50% 0%; } }
  @media screen and (min-width: 768px) {
    .reverie-toppromo {
      background-position: 40% 0%; } }
  @media screen and (min-width: 1262px) {
    .reverie-toppromo {
      background-position: 30% 0%; } }
  .reverie-toppromo__text {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
    @media screen and (min-width: 600px) {
      .reverie-toppromo__text {
        left: 30%;
        width: 70%; } }
    @media screen and (min-width: 768px) {
      .reverie-toppromo__text {
        left: 40%;
        width: 60%; } }
    @media screen and (min-width: 1262px) {
      .reverie-toppromo__text {
        right: 10%; } }
  .reverie-toppromo p {
    margin: 0; }
    .reverie-toppromo p.sans-m {
      font-size: 13px;
      line-height: 18px; }
      @media screen and (min-width: 768px) {
        .reverie-toppromo p.sans-m {
          font-size: 15px;
          line-height: 24px; } }
    .reverie-toppromo p.serif-l {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .reverie-toppromo p.serif-l {
          font-size: 28px;
          line-height: 32px; } }
  .reverie-toppromo img {
    display: inline-block;
    margin: 0 auto;
    max-width: 160px;
    margin-bottom: 10px; }
