// ==========================================================================
// SVGs
// ==========================================================================
.svg {
  &-transparent {
    fill: none;
  }
  &-pink {
    fill: #F93777;
  }
  &-white {
    fill: #fff;
  }
  &-green {
    fill: green;
  }



  // Before your appointment
  &-phone-get-inspired1 {
    width: 32px;
  }

  &-heart {
    width: 30px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 42px;
    }
  }

  &-clock {
    width: 36px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 44px;
    }

    &-stroke1 {
      fill:#FFF3F1;
      stroke:#F93777;
      stroke-width:5;
      stroke-miterlimit:10;
    }

    &-stroke2 {
      fill:none;
      stroke:#F93777;
      stroke-width:2;
      stroke-miterlimit:10;
    }
  }


  // During your appointment
  &-notebook {
    width: 38px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 44px;
    }
  }

  &-hanger {
    width: 64px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 84px;
    }
  }

  &-high-heel {
    width: 42px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 52px;
    }
  }



  // After your appointment
  &-pencil {
    width: 36px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 58px;
    }
  }

  &-dress-alterations {
    width: 30px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 34px;
    }
  }

  &-calendar {
    width: 36px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 50px;
    }
  }


  // Shopping for bridesmaids
  &-phone-get-inspired2 {
    width: 32px;
    &-stroke {
      fill: none;
      stroke: #F93777;
      stroke-miterlimit: 10;
    }
  }

  &-swatch {
    width: 36px;
    @media screen and (min-width: $breakpoint-lg) {
      width: 44px;
    }
  }

}
