<link rel="stylesheet" href="/css/espots/homepage/hero/June/sale/sale.css">
<link rel="stylesheet" href="/css/espots/homepage/hero/June/sale/hero.css">


<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
  max-width: 1600px;
  position: relative;
  width: 100%; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0;
    position: relative; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1150px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1150px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
  .hero__container {
    display: block;
    position: relative; }
    .hero__container.clear::after {
      clear: both;
      content: "";
      display: table; }
  .hero__item {
    display: block;
    position: relative;
    float: left; }
    .hero__item:not(:last-child) {
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .hero__item:not(:last-child) {
          margin-bottom: 0; } }
    .hero__item:last-child {
      margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .hero__item {
        display: inline-block;
        margin-bottom: 0; } }
    .hero__item-image .btn {
      background: none;
      bottom: 10px;
      left: 0;
      right: 0;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute; }
      .hero__item-image .btn-secondary a {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        letter-spacing: 0.055em;
        width: 100%; }
        .hero__item-image .btn-secondary a:hover, .hero__item-image .btn-secondary a:active, .hero__item-image .btn-secondary afocus {
          border: 1px solid #eee;
          background-color: rgba(255, 255, 255, 0.9); }
    .hero__item-image-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .hero__item-image-caption {
          background: rgba(255, 255, 255, 0.9); } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption {
          padding: 0;
          background: none;
          width: 100%;
          height: 100%; } }
      @media screen and (min-width: 1024px) {
        .hero__item-image-caption a {
          background: rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          opacity: 0; }
          .hero__item-image-caption a:hover, .hero__item-image-caption a:active, .hero__item-image-caption a:focus {
            opacity: 1; } }
  .hero .image-a {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-a {
        width: 54.1666666667%;
        margin-right: 0.6510416667%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-a {
        width: 36.4375%;
        margin-right: 0.625%; } }
  .hero .image-b {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-b {
        width: 45.1822916667%;
        margin-bottom: 0.6510416667%;
        text-align: right; } }
    @media screen and (min-width: 1024px) {
      .hero .image-b {
        width: 36.4375%;
        margin-bottom: 0;
        margin-right: 0.625%; } }
  .hero .image-c {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-c {
        width: 45.1822916667%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-c {
        width: 25.875%; } }
  .hero .image-d {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .image-d {
        margin-top: 0.6510416667%; } }
    @media screen and (min-width: 1024px) {
      .hero .image-d {
        width: 62.9375%;
        margin-top: 0.625%; } }
  .hero__copy {
    display: block;
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      .hero__copy {
        float: none;
        position: absolute;
        margin: 0;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        width: 280px;
        top: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
        left: calc(54.1666666667% - (280px / 2)); } }
    @media screen and (min-width: 1024px) {
      .hero__copy {
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 300px;
        left: calc(36.4375% - 140px); } }
    @media screen and (min-width: 1262px) {
      .hero__copy {
        width: 320px;
        left: calc(36.4375% - 160px); } }
    .hero__copy--inner {
      background: #f8f6f0;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 15px;
      padding-bottom: 25px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .hero__copy--inner {
          background: rgba(248, 246, 240, 0.85);
          margin-left: 0;
          margin-right: 0;
          padding: 10px 10px 15px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--inner {
          padding: 10px 10px 15px; } }
    .hero__copy--offer {
      padding-top: 8px;
      padding-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy--offer {
          padding-top: 4px;
          padding-bottom: 4px; } }
      @media screen and (min-width: 1150px) {
        .hero__copy--offer {
          padding-top: 8px;
          padding-bottom: 8px; } }
    .hero__copy p {
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .hero__copy p {
          margin-top: 4px;
          margin-bottom: 4px; } }
    .hero__copy .serif-xl {
      font-size: 26px; }
    .hero__copy .sans-l {
      margin-top: 10px;
      margin-bottom: 14px; }
    .hero__copy .sans-bold-uppercase {
      margin-top: 0; }
    .hero__copy .btn-secondary a {
      min-width: 300px; }
      @media screen and (min-width: 768px) {
        .hero__copy .btn-secondary a {
          min-width: 240px; } }
      @media screen and (min-width: 1024px) {
        .hero__copy .btn-secondary a {
          min-width: 260px; } }
    .hero__copy--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .hero__copy--buttons .column {
        width: 100%;
        padding: 2px 0; }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
  .hero__link {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      .hero__link {
        display: none; } }
  .hero__disclaimer {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .hero__disclaimer {
        text-align: right;
        margin-right: 5px;
        margin-top: -3px; } }
    @media screen and (min-width: 1600px) {
      .hero__disclaimer {
        margin-right: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media screen and (min-width: 768px) {
    .hero .fade-in {
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
              animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
      .hero .fade-in.image-a {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .hero .fade-in.image-b {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .hero .fade-in.image-c {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      .hero .fade-in.image-d {
        -webkit-animation-delay: 2s;
                animation-delay: 2s; }
      .hero .fade-in.hero__copy {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s; } }
</style>
<section class="hero" data-analytics-tagging="Hero">
  <div class="hero__container clear">

    <!-- Image A -->
    <section class="hero__item fade-in image-a">
      <figure class="hero__item-image md-hidden lg-hidden">
        <a href="/Content_Catalog_onlinecatalog?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/June/seaside-bride/HP_SeasideBride_Mobile_767.jpg" alt="Bride standing on cliff side deck with bridesmaids in green staggered by her">
        </a>
        <figcaption class="hero__item-image-caption sm-hidden">
          <p class="btn btn-secondary">
            <a href="/Content_Catalog_onlinecatalog?homepage=hero">Shop Wedding Dresses</a>
          </p>
        </figcaption>
      </figure>

      <figure class="hero__item-image sm-hidden">
        <a href="/wedding-dresses/new-arrivals?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/June/seaside-bride/HP_SeasideBride_Desktop_A_583x760.jpg" alt="Bride standing on seaside cliff with wildflower bouquet">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/wedding-dresses/new-arrivals?homepage=hero">Shop Wedding Dresses<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- CTA Link -->
    <section class="hero__link sm-hidden">
      <p class="sans-bold-uppercase">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment&nbsp;&gt;</a>
      </p>
    </section>


    <!-- Copy Box -->
    <section class="hero__copy fade-in">
      <div class="hero__copy--inner">

        <div class="hero__copy--offer">
          <p class="serif-xl">Sneak Peek</p>
          <p class="sans-l">Our fall styles are on their way!<br>Get a first look</p>
          <div class="hero__copy--buttons">
            <div class="column">
              <p class="btn btn-secondary">
                <a href="/wedding-dresses/new-arrivals?homepage=hero" class="sans-bold-uppercase">Shop New Arrivals</a>
              </p>
            </div>
            <div class="column">
              <p class="btn btn-secondary">
                <a href="/bridesmaid-dresses/bridesmaids-new-arrivals?homepage=hero" class="sans-bold-uppercase">Shop Bridesmaid New Arrivals</a>
              </p>
            </div>
            <div class="column">
              <p class="btn btn-secondary">
                <a href="/Content_Catalog_onlinecatalog?homepage=hero" class="sans-bold-uppercase">See The Look Book</a>
              </p>
            </div>
          </div>
        </div>

        <div class="hero__copy--offer">
          <p class="sans-bold-uppercase">
            <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make An Appointment&nbsp;&gt;</a>
          </p>
        </div>

      </div>
    </section>


    <!-- Image B -->
    <section class="hero__item fade-in image-b sm-hidden">
      <figure class="hero__item-image sm-hidden">
        <a href="/accessories/all-accessories?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/June/seaside-bride/HP_SeasideBride_Desktop_B_583x375.jpg" alt="Bride running her hands through her hair with flowy floral topper">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/accessories/all-accessories?homepage=hero">Shop Accessories<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- Image C -->
    <section class="hero__item fade-in image-c sm-hidden">
      <figure class="hero__item-image">
        <a href="/bridesmaid-dresses/bridesmaids-new-arrivals?homepage=hero">
          <img src="/wcsstore/images/wwcm/homepage/2018/June/seaside-bride/HP_SeasideBride_Desktop_C_414x375.jpg" alt="Bridesmaids in dark green dresses with their arms around each other smiling to the side">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="/bridesmaid-dresses/bridesmaids-new-arrivals?homepage=hero">Shop Bridesmaids<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>


    <!-- Image D -->
    <section class="hero__item fade-in image-d sm-hidden">
      <figure class="hero__item-image">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">
          <img src="/wcsstore/images/wwcm/homepage/2018/June/seaside-bride/HP_SeasideBride_Desktop_D_1007x375.jpg" alt="Bride looking back while walking in seaside field with groom">
        </a>
        <figcaption class="hero__item-image-caption sans-bold-uppercase">
          <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment<span class="lg-hidden">&nbsp;&gt;</span></a>
        </figcaption>
      </figure>
    </section>

  </div>

  <!-- <p class="hero__disclaimer sans-xs">*Wedding dresses shown are on sale but are not part of the $99 and $499 sale</p> -->
</section>


<style media="screen">
.homepage-sale {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .homepage-sale {
      margin-bottom: 10px; } }
  @media screen and (min-width: 1024px) {
    .homepage-sale {
      margin-bottom: 0.9375%; } }
  .homepage-sale .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .homepage-sale .btn {
        width: auto;
        margin-top: 10px; } }
    .homepage-sale .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px; }
      .homepage-sale .btn-secondary a:hover, .homepage-sale .btn-secondary a:active, .homepage-sale .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .homepage-sale .btn-secondary a {
          width: auto;
          padding: 13px 40px;
          min-width: 260px; } }
    .homepage-sale .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .homepage-sale .btn-secondary-pink a:hover, .homepage-sale .btn-secondary-pink a:active, .homepage-sale .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .homepage-sale .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  @media screen and (min-width: 71.875em) {
    .homepage-sale p + p {
      margin-top: 1.125rem; } }
  .homepage-sale__img {
    display: block;
    position: relative; }
  .homepage-sale__text {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px; }
    @media screen and (min-width: 768px) {
      .homepage-sale__text {
        bottom: auto;
        top: 50%;
        left: auto;
        right: 10px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.8);
        padding: 20px 30px;
        text-align: center; } }
    @media screen and (min-width: 1024px) {
      .homepage-sale__text {
        /* padding: 20px; */
        right: 3%; } }
    /* @media screen and (min-width: 1100px) {
      .homepage-sale__text {
        padding: 30px; } }
    @media screen and (min-width: 1150px) {
      .homepage-sale__text {
        padding: 30px 50px; } } */
    @media screen and (min-width: 1262px) {
      .homepage-sale__text {
        right: 5%; } }
    @media screen and (min-width: 850px) {
      .homepage-sale__text p.sans-m {
        padding-bottom: 10px; } }
    @media screen and (min-width: 768px) {
      .homepage-sale__text p.sans-bold-uppercase {
        font-size: 11px; } }
    @media screen and (min-width: 850px) {
      .homepage-sale__text p.btn {
        margin-top: 15px; } }
    @media screen and (min-width: 1024px) {
      .homepage-sale__text p.btn {
        margin-top: 5px; } }
  .homepage-sale__buttons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0 15px;
    z-index: 2;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .homepage-sale__buttons {
        display: none; } }
    .homepage-sale__buttons .column {
      width: 100%;
      padding: 5px 10px; }
    .homepage-sale__buttons .sans-m {
      font-weight: 700;
      margin-bottom: 10px; }
      .homepage-sale__buttons .sans-m a {
        text-decoration: underline; }
    .homepage-sale__buttons .btn {
      width: 100%; }
    .homepage-sale__buttons .btn-secondary a,
    .homepage-sale__buttons .btn-secondary-pink a,
    .homepage-sale__buttons p.sans-bold-uppercase {
      width: 100%; }
      .homepage-sale__buttons .btn-secondary a a,
      .homepage-sale__buttons .btn-secondary-pink a a,
      .homepage-sale__buttons p.sans-bold-uppercase a {
        display: block;
        margin-top: 8px;
        margin-bottom: 8px; }
  @media screen and (max-width: 767px) {
    .homepage-sale .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .homepage-sale .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .homepage-sale .lg-hidden {
      display: none !important; } }
</style>
<section class="homepage-sale" data-analytics-tagging="sale">
  <div class="homepage-sale__img">
    <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/June/sale/HP_June2018_Sale_Mobile.jpg" alt="End of season clearance event | up to 75% off original price">
    <img class="sm-hidden" src="/wcsstore/images/wwcm/homepage/2018/June/sale/HP_June2018_Sale_Desktop.jpg" alt="End of season clearance event | up to 75% off original price">

    <div class="homepage-sale__text">
      <p class="btn btn-secondary-pink sans-bold-uppercase md-hidden lg-hidden">
        <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment</a>
      </p>

      <div class="sm-hidden">
        <p class="sans-m"><strong>in-store &amp; online</strong></p>
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/sale?homepage=hero">Shop Sale</a>
        </p>
        <!-- <p class="sans-bold-uppercase">
          <a href="/sale/bridesmaid-dresses?homepage=hero">Shop Clearance Bridesmaid Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/sale/sale-prom-dresses?homepage=hero">Shop Clearance Prom Dresses&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/sale/sale-accessories?homepage=hero">Shop Clearance Accessories&nbsp;&gt;</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/sale/sale-shoes?homepage=hero">Shop Clearance Shoes&nbsp;&gt;</a>
        </p> -->

        <p class="sans-bold-uppercase">
          <a href="https://www.davidsbridal.com/DBIMakeAnAppointmentView?catalogId=10051&langId=&storeId=10052">Make an Appointment&nbsp;&gt;</a>
        </p>
      </div>

    </div>
  </div>

  <div class="homepage-sale__buttons">
    <div class="column">
      <p class="btn btn-secondary">
        <a class="sans-bold-uppercase" href="/sale?homepage=hero">Shop Sale</a>
      </p>
      <!-- <p class="sans-m">
        or call <a href="tel:8779222743">877-92-BRIDE</a>
      </p> -->
    </div>
    <!-- <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/sale/bridesmaid-dresses?homepage=hero">Shop Clearance Bridesmaids Dresses&nbsp;&gt;</a>
      </p>
    </div>
    <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/sale/sale-prom-dresses?homepage=hero">Shop Prom Dresses&nbsp;&gt;</a>
      </p>
    </div>
    <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/sale/sale-accessories?homepage=hero">Shop Clearance Accessories&nbsp;&gt;</a>
      </p>
    </div>
    <div class="column">
      <p class="sans-bold-uppercase">
        <a href="/sale/sale-shoes?homepage=hero">Shop Clearance Shoes&nbsp;&gt;</a>
      </p>
    </div> -->
  </div>
</section>
