<div class="header__main-nav-topic-section-heading serif-m-italic--main-nav-topic-section-heading serif-xs-italic">
  <a class="header__main-nav-topic-section-heading-link">Complete Your Day </a>
</div>
<ul class="header__main-nav-topic-section-item-list">
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Reception Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/wedding-dresses/casual-wedding-dress"> Reception Dresses</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Little White Dresses');" class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/little-white-dresses"> Little White Dresses</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Bridal Jackets & Wraps');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jackets-and-wraps"> Bridal Jackets &amp; Wraps</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Flower Girl');" class="header__main-nav-topic-section-item-link sans-xs" href="/dresses/flower-girl-dresses"> Flower Girl</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Veils');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/veils"> Veils</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Hair Accessories');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/hair-accessories "> Hair Accessories</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Bridal Shoes');" class="header__main-nav-topic-section-item-link sans-xs" href="/shoes/bridal-wedding-shoes"> Bridal Shoes</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Slips & Shapewear');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/shapewear-and-slips"> Slips &amp; Shapewear</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Jewelry');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/jewelry"> Jewelry</a>
  </li>
  <li class="header__main-nav-topic-section-item">
    <a onclick="headerClickEvent('Brides', 'Complete Your Day', 'Sashes & Belts');" class="header__main-nav-topic-section-item-link sans-xs" href="/accessories/sashes-and-belts"> Sashes &amp; Belts</a>
  </li>
</ul>


<style media="screen">
  #catalog_navigation_menu_container > div.header__primary-dropdown-content > div.header__primary-dropdown-row.header__primary-dropdown-row--primary > nav.header__main-nav > div.header__main-nav-content > ul.header__main-nav-topic-list > li.header__main-nav-topic[data-menu-topic="BRIDES"] > ul.header__main-nav-topic-section-list > li.header__main-nav-topic-section.spacing-half:eq(4)
</style>
