// ==========================================================================
// Breadcrumbs - Gigya
// ==========================================================================

.breadcrumbs {
  display: block;
  left: 0;
  padding-left: 5px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  @media screen and (min-width: $breakpoint-md) {
    padding-left: 10px;
    padding-top: 10px;
  }

  p.sans-bold-uppercase {
    a {
      color: $white !important;
      &:hover,
      &:active {
        color: $gray-med !important;
      }
    }
  }
}
