// ==========================================================================
// FLEXBOX
// ==========================================================================
.flex {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: flex-start;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 10px auto 0;
  @media screen and (min-width: $breakpoint-md) {
    margin: 24px auto 10px;
  }


  .column {
    //@include green-bg();
    position: relative;
    width: 100%;
    padding: 0 0 20px;
    &:last-child {
      padding-bottom: 0;
    }
    @media screen and (min-width: $breakpoint-md) {
      width: 33.33333%;
      padding: 0 5px 50px;
    }
  }

} // flex-container
