// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  position: relative;
  width: 100%;

  &__img {

  }



  &__text {
    background: $pink;
    display: block;
    position: relative;
    padding: 40px 20px;
    margin: 10px;
    text-align: center;

    @media screen and (min-width: $breakpoint-md) {
      background: rgba(254, 231, 226, 0.85);
      outline: 6px solid rgba(255, 255, 255, 0.85);
      margin: 0;
      padding: 20px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      transform-style: preserve-3d;
      width: 360px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding: 40px 30px;
      right: 10%;
      width: 420px;
      transition: all 1s ease;
    }

    .serif-xl {
      font-size: 36px;
      margin-bottom: 20px;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 48px;
        margin-bottom: 20px;
      }
    }

    // .sans-m {
    //   margin-bottom: 20px;
    // }

    .sans-bold-uppercase {
      margin-top: 20px;
      margin-bottom: 0;
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 20px;
      }
    }


  } // .hero__text


} // .hero
