// ========================================================
// REGISTRATION BANNER
// ========================================================
.reg-banner {
  background: $dark-pink;
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    padding: 10px;
  }
  @media screen and (min-width: 1200px) {
    padding: 18px;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  p {
    //@include green-bg();
    display: block;
    width: 100%;
    margin: 0;
    @media screen and (min-width: 1200px) {
      width: auto;
    }

    &.btn {
      margin-bottom: 15px;
      margin-top: 15px;
      @media screen and (min-width: $breakpoint-md) {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      @media screen and (min-width: 1200px) {
        margin: 0;
        margin-right: 20px;
        margin-left: 20px;
      }

      &-secondary a {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }
} // .reg-banner
