// ==========================================================================
// Variables
// ==========================================================================
$breakpoint-xs:         320px;
$breakpoint-sm:         350px;
$breakpoint-md:         768px;
$breakpoint-lg:         1024px;
$breakpoint-xl:         1300px;

// Colors
$black:                 #333;
$white:                 #fff;
$coral:                 #f3665c;
$purple-lt:             #e0e0e7;
$purple-gray-dk:        #52535a;
$purple-gray:           #727278;
$blue-lt:               #e2eef3;
$taupe:                 #74736d;
$gray-dk:               #666;
$gray-med:              #c1c1c1;
$gray-lt:               #eee;
$cream:                 #f8f6f0;
$dark-pink:             #f5c9c9;
$pink:                  rgb(254,231,226); // #fee7e2
$brand-primary:         #f04874;

$border-color:          #333;

$wrapper-max-width:     1600px;
$container-max-width:   1262px;
