<!-- Async Tag // Tag for network 5245: David's Bridal, Inc. // Website: David's bridal // Page:  Category Return Bridal Gown // Placement:  Category Return Bridal Gown-Position 4-300 x 250 (3927975) // created at: Apr 11, 2018 9:26:58 AM -->
<div id="3927975">
  <noscript>
    <a href="https://adserver.adtechus.com/adlink|3.0|5245.1|3927975|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" target="_blank">
      <img src="https://adserver.adtechus.com/adserv|3.0|5245.1|3927975|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" border="0" width="300" height="250">
    </a>
  </noscript>
</div>
<script>
  ADTECH.config.placements[3927975] = {
    sizeid: 170,
    params: {
      alias: '',
      target: '_blank'
    }
  };
  ADTECH.loadAd(3927975);
</script>
