<style>
  .page-vendor-spots__item img {
    margin-top: 40px !important;
  }
</style>

<script type="text/javascript" src="https://aka-cdn-ns.adtechus.com/dt/common/DAC.js"></script>
<script type="text/javascript">
  ADTECH.config.page = {
    protocol: 'https',
    pageid: 492217,
    server: 'adserver.adtechus.com',
    network: '5245.1',
    params: {
      loc: '100'
    }
  };
</script>


<!-- Async Tag // Tag for network 5245: David's Bridal, Inc. // Website: David's bridal // Page: Category Return Bridal Party  // Placement: Category Return Bridal Party -Position 1-300 x 250 (3330743) // created at: Apr 11, 2018 9:27:21 AM -->
<div id="3330743">
  <noscript>
    <a href="https://adserver.adtechus.com/adlink|3.0|5245.1|3330743|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" target="_blank">
      <img src="https://adserver.adtechus.com/adserv|3.0|5245.1|3330743|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" border="0" width="300" height="250">
    </a>
  </noscript>
</div>
<script>
  ADTECH.config.placements[3330743] = {
    sizeid: 170,
    params: {
      alias: '',
      target: '_blank'
    }
  };
  ADTECH.loadAd(3330743);
</script>
