// ========================================================
// COPY BOX
// ========================================================
$top-md: calc(calc(calc(100vw / 1.4169741697) - 360px) / 2);
$box-width: 280px;

&__copy {
  display: block;
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 10;
  @media screen and (min-width: $breakpoint-md) {
    float: none;
    position: absolute;
    margin: 0;
    transform-style: preserve-3d;
    width: $box-width;
    top: $top-md;
    left: calc(54.1666666667% - (280px / 2));
  }
  @media screen and (min-width: $breakpoint-lg) {
    top: 50%;
    transform: translateY(-50%);
    width: $box-width + 20;
    left: calc(36.4375% - 150px);; // Image A container width - half of copy box
  }
  @media screen and (min-width: 1262px) {
    width: $box-width + 60;
    left: calc(36.4375% - 170px);; // Image A container width - half of copy box
  }





  &--inner {
    background: rgba(248, 246, 240, 1);
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      background: rgba(248,246,240, 0.85);
      margin-left: 0;
      margin-right: 0;
      padding: 20px 20px 15px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding: 40px 30px 25px;
    }
  }


  &--offer {
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }


  p {
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .serif-xl {
    font-size: 26px;
  }
  .sans-l {
    margin-top: 10px;
    margin-bottom: 14px;
  }
  .sans-bold-uppercase {
    margin-top: 0;
  }

  .btn {
    // min-width: $box-width;
    // @media screen and (min-width: $breakpoint-md) {
    //   min-width: $box-width - 40;
    // }
    // @media screen and (min-width: $breakpoint-lg) {
    //   min-width: $box-width - 20;
    // }

    &-secondary a {
      min-width: $box-width + 20px;
      @media screen and (min-width: $breakpoint-md) {
        min-width: $box-width - 40px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        min-width: $box-width - 20;
      }
    }
  }


  &--buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .column {
      width: 100%;
      padding: 2px 0;
    }
  }

  &--figure {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    img {
      display: block;
      position: relative;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width: $breakpoint-md) {
        max-width: 260px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 280px;
      }
    }
  }

} // .hero__copy
