// ==========================================================================
// VISIBILITY
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none !important;
  }
}
