$width1: 54.56%;
$width2: 36.875%;
$width3: 45.44%;
$width4: 25.875%;
$width5: 62.9375%;

$margin-md: 0;
$margin-lg: 0;

// --------------------------------------------------------
// IMAGE A
// --------------------------------------------------------
.image-a {
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $breakpoint-md) {
    width: $width1;
    margin-right: 0;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 36.875%;
    margin-right: 0;
  }
}

// --------------------------------------------------------
// IMAGE B
// --------------------------------------------------------
.image-b {
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $breakpoint-md) {
    width: $width3;
    margin-bottom: 0;
    text-align: right;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 36.875%;
    margin-bottom: 0;
    margin-right: 0;
  }
}

// --------------------------------------------------------
// IMAGE C
// --------------------------------------------------------
.image-c {
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $breakpoint-md) {
    width: $width3;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 26.25%;
  }
}

// --------------------------------------------------------
// IMAGE D
// --------------------------------------------------------
.image-d {
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 0;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: 63.125%;
    margin-top: 0;
  }
}
