.loveStoriesTV {
  color: #333;
  max-width: 1262px;
  display: block;
  position: relative;
  margin: 0 auto; }
  .loveStoriesTV p {
    margin-bottom: 0; }
  .loveStoriesTV .sans-m {
    margin: 0; }
    .loveStoriesTV .sans-m a {
      color: #727278;
      text-decoration: underline;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: initial;
              transition-delay: initial; }
      .loveStoriesTV .sans-m a:hover, .loveStoriesTV .sans-m a:active, .loveStoriesTV .sans-m a:focus {
        color: #333;
        text-decoration: underline; }
  .loveStoriesTV .column-full {
    padding: 0; }
  .loveStoriesTV .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .loveStoriesTV .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -10px;
    position: relative; }
  .loveStoriesTV .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .loveStoriesTV .article__teaser-list {
        margin-top: 5px; } }
    .loveStoriesTV .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .loveStoriesTV .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 40%; }
          .loveStoriesTV .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .loveStoriesTV .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .loveStoriesTV .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .loveStoriesTV .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .loveStoriesTV .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .loveStoriesTV .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .loveStoriesTV .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .loveStoriesTV .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .loveStoriesTV .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }
