$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

.jumbotron {
  clear: both;
  display: block;
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: #ffe6e3;


  &__text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 5px;
    }
  }

} // .jumbotron
