.few-favorites {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites {
      margin-top: 40px; } }
  .few-favorites .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .few-favorites .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .few-favorites .flex-2-3-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-top: 16px;
    margin-left: -5px;
    margin-right: -5px; }
    .few-favorites .flex-2-3-6 .column {
      padding: 5px;
      width: calc(100% / 2); }
      @media screen and (min-width: 768px) {
        .few-favorites .flex-2-3-6 .column {
          width: calc(100% / 3); } }
      @media screen and (min-width: 1024px) {
        .few-favorites .flex-2-3-6 .column {
          width: calc(100% / 6); } }
