<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- 60250E -->
        <div class="slick-slide">
          <a href="/Product_filigree-and-crystal-drop-earrings-60250e" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60250E-10498627-Rose%20Gold?$plpproductimgmobile_2up$" alt="Filigree and Crystal Drop Earrings">
          </a>
        </div>

        <!-- STNRBN -->
        <div class="slick-slide">
          <a href="/Product_classic-satin-1-inch-sash-stnrbn" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-STNRBN-10194978-Angel?$plpproductimgmobile_2up$" alt="Classic Satin 1 inch Sash">
          </a>
        </div>

        <!-- ALINESLIP -->
        <div class="slick-slide">
          <a href="/Product_a-line-silhouette-slip-alineslip" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ALINESLIP-10495363-White?$plpproductimgmobile_2up$" alt="A-Line Silhouette Slip">
          </a>
        </div>

        <!-- V682 -->
        <div class="slick-slide">
          <a href="/Product_mid-veil-with-scalloped-edges-and-lace-v682" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V682-10551940-Champagne?$plpproductimgmobile_2up$" alt="Mid Veil with Scalloped Edges and Lace">
          </a>
        </div>

        <!-- BE02493 -->
        <div class="slick-slide">
          <a href="/Product_pear-shaped-cubic-zirconia-halo-studs-be02493" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BE02493-10823531-Rose%20Gold?$plpproductimgmobile_2up$" alt="Pear-Shaped Cubic Zirconia Halo Studs">
          </a>
        </div>

        <!-- C9149  -->
        <div class="slick-slide">
          <a href="/Product_leafy-rhinestone-flexible-hair-vine-c9149" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-C9149-10825472-Silver?$plpproductimgmobile_2up$" alt="Leafy Rhinestone Flexible Hair Vine">
          </a>
        </div>

        <!-- V702 -->
        <div class="slick-slide">
          <a href="/Product_two-tier-horsehair-trim-fingertip-veil-v702" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V702-10885330-Ivory?$plpproductimgmobile_2up$" alt="Two-Tier Horsehair Trim Fingertip Veil">
          </a>
        </div>

        <!-- 10119R -->
        <div class="slick-slide">
          <a href="/Product_spanx-spotlight-on-lace-bodysuit-10119r" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-10119R-10760583-Black?$plpproductimgmobile_2up$" alt="Spanx Spotlight on Lace Bodysuit">
          </a>
        </div>

        <!-- 51579BDA -->
        <div class="slick-slide">
          <a href="/Product_pear-solitaire-pave-earrings-51579bda" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-51579BDA-10630574-Gold?$plpproductimgmobile_2up$" alt="Pear Solitaire Pave Earrings">
          </a>
        </div>

        <!-- IMO6212 -->
        <div class="slick-slide">
          <a href="/Product_lucite-bride-minaudiere-imo6212" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-IMO6212-10756869-Silver?$plpproductimgmobile_2up$" alt="Lucite Bride Minaudiere">
          </a>
        </div>

        <!-- G231464 -->
        <div class="slick-slide">
          <a href="/Product_pearl-and-rhinestone-accented-satin-sash-g231464" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-G231464-10243162-Ivory?$plpproductimgmobile_2up$" alt="Pearl and Rhinestone Accented Satin Sash">
          </a>
        </div>

        <!-- OW2003 -->
        <div class="slick-slide">
          <a href="/Product_scalloped-chiffon-capelet-with-beading-ow2003" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OW2003-10876265-Ivory?$plpproductimgmobile_2up$" alt="Scalloped Chiffon Capelet with Beading">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
