<link rel="stylesheet" type="text/css" href="/css/modules/bridesmaids-carousel.css">

<style media="screen">
.bridesmaids-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .bridesmaids-carousel {
      margin: 30px auto 0; } }
  .bridesmaids-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .bridesmaids-carousel__inner {
        display: block; } }
    .bridesmaids-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .bridesmaids-carousel__inner--heading {
          padding-left: 40px; } }
      .bridesmaids-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .bridesmaids-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .bridesmaids-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .bridesmaids-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .bridesmaids-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .bridesmaids-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .bridesmaids-carousel .bridesmaids-carousel-button {
    display: block; }
    .bridesmaids-carousel .bridesmaids-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .bridesmaids-carousel .bridesmaids-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .bridesmaids-carousel .bridesmaids-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .bridesmaids-carousel .bridesmaids-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .bridesmaids-carousel .bridesmaids-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="bridesmaids-carousel">
  <div class="bridesmaids-carousel__inner">

    <div class="bridesmaids-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="bridesmaids-carousel-button bridesmaids-carousel-prev">
        <svg class="bridesmaids-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="bridesmaids-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="bridesmaids-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="bridesmaids-carousel__slick" data-slick='{"prevArrow": ".bridesmaids-carousel-prev", "nextArrow": ".bridesmaids-carousel-next" }' data-category="BRIDESMAIDS">

        <!-- F19328 -->
        <div class="slick-slide">
          <a href="/Product_long-bridesmaid-dress-with-lace-bodice-f19328" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19328-10639812-Mint?$plpproductimgmobile_2up$" alt="Long Bridesmaid Dress with Lace Bodice">
          </a>
        </div>

        <!-- F17063 -->
        <div class="slick-slide">
          <a href="/Product_long-one-shoulder-lace-bridesmaid-dress-f17063" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F17063-10416672-Ice%20Blue?$plpproductimgmobile_2up$" alt="Long One Shoulder Lace Bridesmaid Dress">
          </a>
        </div>

        <!-- VW360214 -->
        <div class="slick-slide">
          <a href="/Product_v-neck-halter-gown-with-sash-vw360214" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360214-10277801-Amethyst?$plpproductimgmobile_2up$" alt="V Neck Halter Gown with Sash">
          </a>
        </div>

        <!-- F15782 -->
        <div class="slick-slide">
          <a href="/Product_versa-convertible-long-mesh-dress-f15782" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F15782-10561182-Pacific?$plpproductimgmobile_2up$" alt="Versa Convertible Long Mesh Dress">
          </a>
        </div>

        <!-- F15933 -->
        <div class="slick-slide">
          <a href="/Product_long-mesh-dress-with-swooping-cowl-back-detail-f15933" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F15933-10468716-Cherry?$plpproductimgmobile_2up$" alt="Long Dress with Mesh and Swooping Cowl Back Detail">
          </a>
        </div>

        <!-- F18055 -->
        <div class="slick-slide">
          <a href="/Product_long-one-shoulder-chiffon-dress-f18055" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F18055-10523250-Black?$plpproductimgmobile_2up$" alt="Long One-Shoulder Crinkle Chiffon Dress">
          </a>
        </div>

        <!-- VW360274 -->
        <div class="slick-slide">
          <a href="/Product_long-one-shoulder-bridesmaid-dress-with-ruffles-vw360274" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW360274-10679979-Coral%20Reef?$plpproductimgmobile_2up$" alt="Long One-Shoulder Bridesmaid Dress with Ruffles">
          </a>
        </div>

        <!-- F19585 -->
        <div class="slick-slide">
          <a href="/Product_faux-wrap-pleated-chiffon-bridesmaid-dress-f19585" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19585-10856293-Wine?$plpproductimgmobile_2up$" alt="Faux-Wrap Pleated Chiffon Bridesmaid Dress">
          </a>
        </div>

        <!-- F19608 -->
        <div class="slick-slide">
          <a href="/Product_open-back-lace-and-mesh-bridesmaid-dress-f19608" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19608-10850544-Horizon?$plpproductimgmobile_2up$" alt="Open-Back Lace and Mesh Bridesmaid Dress">
          </a>
        </div>

        <!-- F19533 -->
        <div class="slick-slide">
          <a href="/Product_soft-mesh-halter-bridesmaid-dress-with-slim-sash-f19533" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19533-10831687-Mint?$plpproductimgmobile_2up$" alt="Soft Mesh Halter Bridesmaid Dress with Slim Sash">
          </a>
        </div>

        <!-- F19623 -->
        <div class="slick-slide">
          <a href="/Product_high-low-satin-bridesmaid-dress-with-pockets-f19623" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19623-10880903-Marine?$plpproductimgmobile_2up$" alt="High-Low Satin Bridesmaid Dress with Pockets">
          </a>
        </div>

        <!-- AP1E200446 -->
        <div class="slick-slide">
          <a href="/Product_embellished-waist-long-mesh-bridesmaid-dress-ap1e200446" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-AP1E200446-10866174-Blush?$plpproductimgmobile_2up$" alt="Embellished-Waist Long Mesh Bridesmaid Dress">
          </a>
        </div>

        <!-- F15662 -->
        <div class="slick-slide">
          <a href="/Product_sleeveless-long-mesh-dress-with-illusion-neckline-f15662" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F15662-10407872-Punch?$plpproductimgmobile_2up$" alt="Sleeveless Long Mesh Dress with Illusion Neckline">
          </a>
        </div>

        <!-- F19526 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-sheath-bridesmaid-dress-with-beaded-straps-f19526" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F19526-10855187-Lapis?$plpproductimgmobile_2up$" alt="Chiffon Sheath Bridesmaid Dress with Beaded Straps">
          </a>
        </div>

        <!-- F17019 -->
        <div class="slick-slide">
          <a href="/Product_short-lace-and-mesh-dress-with-illusion-neckline-f17019" onclick="(ga('send', 'event', 'Bridesmaids Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-F17019-10407964-Apple?$plpproductimgmobile_2up$" alt="Short Lace and Mesh Dress with Illusion Neckline">
          </a>
        </div>

      </div>

      <a href="#" class="bridesmaids-carousel-button bridesmaids-carousel-next">
        <svg class="bridesmaids-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="bridesmaids-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="bridesmaids-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var bridesmaidsCarousel = $('.bridesmaids-carousel__slick[data-category="BRIDESMAIDS"]');
  bridesmaidsCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.bridesmaids-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.bridesmaids-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = bridesmaidsCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = bridesmaidsCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
