<link rel="stylesheet" type="text/css" href="/css/modules/few-favorites-carousel.css">

<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }' data-category="BRIDES">

        <!-- j1161016 -->
        <div class="slick-slide">
          <a href="/Product_embroidered-chiffon-dress-with-plunging-neckline-j1161016" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-J1161016-10758300-Ivory_Blush?$plpproductimgmobile_2up$" alt="Embroidered Chiffon Dress with Plunging Neckline">
          </a>
        </div>

        <!-- 183626db -->
        <div class="slick-slide">
          <a href="/Product_allover-lace-v-neck-sheath-wedding-dress-183626db" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-183626DB-10522636-Ivory?$plpproductimgmobile_2up$" alt="Allover Lace V-Neck Sheath Wedding Dress">
          </a>
        </div>

        <!-- vw351178 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-textured-organza-wedding-dress-vw351178" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351178-10177011-Blush?$plpproductimgmobile_2up$" alt="White by Vera Wang Textured Organza Wedding Dress">
          </a>
        </div>

        <!-- wg3827 -->
        <div class="slick-slide">
          <a href="/Product_soft-lace-wedding-dress-with-low-back-wg3827" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3827-10752686-Ivory?$plpproductimgmobile_2up$" alt="Soft Lace Wedding Dress with Low Back">
          </a>
        </div>

        <!-- 19150906 -->
        <div class="slick-slide">
          <a href="/Product_elegant-aisle-plus-size-wedding-gown-19150906" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-19150906-10889156-Ivory?$plpproductimgmobile_2up$" alt="Elegant Aisle Plus Size Wedding Gown">
          </a>
        </div>

        <!-- v3848 -->
        <div class="slick-slide">
          <a href="/Product_satin-cummerbund-ball-gown-wedding-dress-v3848" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V3848-10852982-Ivory?$plpproductimgmobile_2up$" alt="Satin Cummerbund Ball Gown Wedding Dress">
          </a>
        </div>

        <!-- vc4322 -->
        <div class="slick-slide">
          <a href="/Product_mixed-lace-a-line-halter-dress-vc4322" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VC4322-10759618-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Mixed Lace A-line Halter Dress">
          </a>
        </div>

        <!-- vw351339 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-hand-draped-tulle-wedding-dress-vw351339" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351339-10713460-Soft%20White?$plpproductimgmobile_2up$" alt="White by Vera Wang Hand-Draped Tulle Wedding Dress">
          </a>
        </div>

        <!-- KP3783 -->
        <div class="slick-slide">
          <a href="/Product_flower-lace-v-neck-wedding-dress-with-empire-waist-kp3783" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-KP3783-10512768-Ivory?$plpproductimgmobile_2up$" alt="Flower Lace V-Neck Wedding Dress with Empire Waist">
          </a>
        </div>

        <!-- XS3450 -->
        <div class="slick-slide">
          <a href="/Product_lace-cap-sleeve-long-matte-mesh-dress-xs3450" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-XS3450-10155761-Ivory?$plpproductimgmobile_2up$" alt="Lace Cap Sleeve Long Matte Mesh Dress">
          </a>
        </div>

        <!-- CMK513 -->
        <div class="slick-slide">
          <a href="/Product_oleg-cassini-cap-sleeve-illusion-wedding-dress-cmk513" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CMK513-10149955-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Cap Sleeve Illusion Wedding Dress">
          </a>
        </div>

        <!-- JP341761 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-and-chantilly-lace-wedding-dress-jp341761" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JP341761-10848868-Ivory?$plpproductimgmobile_2up$" alt="Chiffon and Chantilly Lace Wedding Dress">
          </a>
        </div>

        <!-- VW351312 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-short-sleeve-lace-wedding-dress-vw351312" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351312-10678870-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Short Sleeve Lace Wedding Dress">
          </a>
        </div>

        <!-- 19150905 -->
        <div class="slick-slide">
          <a href="/Product_wedding-belle-plus-size-short-dress-19150905" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-19150905-10889191-Antique%20Shimmer?$plpproductimgmobile_2up$" alt="Wedding Belle Plus Size Short Dress">
          </a>
        </div>

        <!-- WG3826 -->
        <div class="slick-slide">
          <a href="/Product_strapless-lace-short-wedding-dress-wg3826" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3826-10756443-Ivory?$plpproductimgmobile_2up$" alt="Strapless Lace Short Wedding Dress">
          </a>
        </div>

        <!-- SDWG0394 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-sheath-halter-wedding-dress-sdwg0394" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SDWG0394-10513867-Ivory?$plpproductimgmobile_2up$" alt="Chiffon Sheath Halter Wedding Dress">
          </a>
        </div>

        <!-- VW351395 -->
        <div class="slick-slide">
          <a href="/Product_white-by-vera-wang-bias-tier-trumpet-wedding-dress-vw351395" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-VW351395-10802138-Ivory?$plpproductimgmobile_2up$" alt="White by Vera Wang Bias-Tier Trumpet Wedding Dress">
          </a>
        </div>

        <!-- CWG731 -->
        <div class="slick-slide">
          <a href="/Product_oleg-cassini-organza-3-4-sleeved-wedding-dress-cwg731" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CWG731-10513558-Ivory?$plpproductimgmobile_2up$" alt="Oleg Cassini Organza 3/4 Sleeved Wedding Dress">
          </a>
        </div>

        <!-- SWG723 -->
        <div class="slick-slide">
          <a href="/Product_beaded-venice-lace-trumpet-wedding-dress-swg723" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SWG723-10538637-Ivory_Blush?$plpproductimgmobile_2up$" alt="Beaded Venice Lace Trumpet Wedding Dress">
          </a>
        </div>

        <!-- 1992 -->
        <div class="slick-slide">
          <a href="/Product_illusion-lace-mini-dress-with-fishtail-hem-1992" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1992-10758582-White?$plpproductimgmobile_2up$" alt="Illusion Lace Mini Dress with Fishtail Hem">
          </a>
        </div>

        <!-- MS251173 -->
        <div class="slick-slide">
          <a href="/Product_melissa-sweet-linear-lace-wedding-dress-ms251173" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MS251173-10650135-Ivory_Champagne?$plpproductimgmobile_2up$" alt="Melissa Sweet Linear Lace Wedding Dress">
          </a>
        </div>

        <!-- JP341761 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-and-chantilly-lace-wedding-dress-jp341761" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JP341761-10848868-Ivory?$plpproductimgmobile_2up$" alt="Chiffon and Chantilly Lace Wedding Dress">
          </a>
        </div>

        <!-- WG3844 -->
        <div class="slick-slide">
          <a href="/Product_plunging-lace-halter-ball-gown-wedding-dress-wg3844" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG3844-10848832-Ivory?$plpproductimgmobile_2up$" alt="Plunging Lace Halter Ball Gown Wedding Dress">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  var fewFavoritesCarousel = $('.few-favorites-carousel__slick[data-category="BRIDES"]');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
