<link rel="stylesheet" type="text/css" href="/css/modules/dresses-carousel.css">

<style media="screen">
.dresses-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .dresses-carousel {
      margin: 30px auto 0; } }
  .dresses-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .dresses-carousel__inner {
        display: block; } }
    .dresses-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .dresses-carousel__inner--heading {
          padding-left: 40px; } }
      .dresses-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .dresses-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .dresses-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .dresses-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .dresses-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .dresses-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .dresses-carousel .dresses-carousel-button {
    display: block; }
    .dresses-carousel .dresses-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .dresses-carousel .dresses-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .dresses-carousel .dresses-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .dresses-carousel .dresses-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .dresses-carousel .dresses-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="dresses-carousel">
  <div class="dresses-carousel__inner">

    <div class="dresses-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="dresses-carousel-button dresses-carousel-prev">
        <svg class="dresses-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="dresses-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="dresses-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="dresses-carousel__slick" data-slick='{"prevArrow": ".dresses-carousel-prev", "nextArrow": ".dresses-carousel-next" }'>

        <!-- 12089 -->
        <div class="slick-slide">
          <a href="/Product_lace-keyhole-tie-back-halter-dress-12089" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-12089-10511155-Wine?$plpproductimgmobile_2up$" alt="Lace Keyhole Tie Back Halter Dress">
          </a>
        </div>

        <!-- 3930SE3B -->
        <div class="slick-slide">
          <a href="/Product_glitter-lace-sheath-gown-with-geometric-neckline-3930se3b" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3930SE3B-10881483-Silver?$plpproductimgmobile_2up$" alt="Glitter Lace Sheath Gown with Geometric Neckline">
          </a>
        </div>

        <!-- 3524FE5C -->
        <div class="slick-slide">
          <a href="/Product_short-lace-cap-sleeve-dress-with-beaded-waist-3524fe5c" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3524FE5C-10229468-Ivory?$plpproductimgmobile_2up$" alt="Short Lace Cap Sleeve Dress with Beaded Waist">
          </a>
        </div>

        <!-- 1351353 -->
        <div class="slick-slide">
          <a href="/Product_cold-shoulder-capelet-dress-with-beading-1351353" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1351353-10758171-Navy?$plpproductimgmobile_2up$" alt="Cold Shoulder Capelet Dress with Beading">
          </a>
        </div>

        <!-- 21434 -->
        <div class="slick-slide">
          <a href="/Product_long-halter-lace-dress-with-illusion-cutout-21434" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21434-10739582-Merlot?$plpproductimgmobile_2up$" alt="Long Halter Lace Dress with Illusion Cutout">
          </a>
        </div>

        <!-- XS10041 -->
        <div class="slick-slide">
          <a href="/Product_v-neck-high-low-jacquard-ball-gown-xs10041" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-XS10041-10885820-Blue?$plpproductimgmobile_2up$" alt="V-Neck High-Low Jacquard Ball Gown">
          </a>
        </div>

        <!-- 21567 -->
        <div class="slick-slide">
          <a href="/Product_scalloped-off-the-shoulder-lace-mermaid-dress-21567" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21567-10881450-Twilight?$plpproductimgmobile_2up$" alt="Scalloped Off-the-Shoulder Lace Mermaid Dress">
          </a>
        </div>

        <!-- 1579 -->
        <div class="slick-slide">
          <a href="/Product_embroidered-mermaid-gown-with-tier-skirt-1579" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-1579-10797820-Black_Gold?$plpproductimgmobile_2up$" alt="Embroidered Mermaid Gown with Tiered Skirt">
          </a>
        </div>

        <!-- 12150901 -->
        <div class="slick-slide">
          <a href="/Product_mademoiselle-lace-plus-size-dress-12150901" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-12150901-10875242-Black?$plpproductimgmobile_2up$" alt="Mademoiselle Lace Plus Size Dress">
          </a>
        </div>

        <!-- 21301D -->
        <div class="slick-slide">
          <a href="/Product_long-all-over-glitter-lace-mermaid-dress-21301d" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-21301D-10487805-Champagne?$plpproductimgmobile_2up$" alt="Long All Over Glitter Lace Mermaid Dress">
          </a>
        </div>

        <!-- 24799 -->
        <div class="slick-slide">
          <a href="/Product_chiffon-three-piece-pantsuit-with-high-low-jacket-24799" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-24799-10884959-Eggplant?$plpproductimgmobile_2up$" alt="Chiffon Three-Piece Pantsuit with High-Low Jacket">
          </a>
        </div>

        <!-- XS8201 -->
        <div class="slick-slide">
          <a href="/Product_long-mesh-dress-with-cap-sleeves-and-lace-bodice-xs8201" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-XS8201-10539409-Navy?$plpproductimgmobile_2up$" alt="Long Mesh Dress with Cap Sleeves and Lace Bodice">
          </a>
        </div>

        <!-- 13140903 -->
        <div class="slick-slide">
          <a href="/Product_soiree-plus-size-evening-gown-13140903" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-13140903-10875356-Navy?$plpproductimgmobile_2up$" alt="Soiree Plus Size Evening Gown">
          </a>
        </div>

        <!-- 58652D -->
        <div class="slick-slide">
          <a href="/Product_linear-sequin-short-sleeve-gown-with-beaded-waist-58652d" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-58652D-10885621-Black_Nude?$plpproductimgmobile_2up$" alt="Linear Sequin Short Sleeve Gown with Beaded Waist">
          </a>
        </div>

        <!-- JHDM2776 -->
        <div class="slick-slide">
          <a href="/Product_lace-and-shantung-short-ball-gown-dress-jhdm2776" onclick="(ga('send', 'event', 'Dresses Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JHDM2776-10827391-Wine?$plpproductimgmobile_2up$" alt="Lace and Shantung Short Ball Gown Dress">
          </a>
        </div>

      </div>

      <a href="#" class="dresses-carousel-button dresses-carousel-next">
        <svg class="dresses-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="dresses-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="dresses-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.dresses-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.dresses-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.dresses-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
