<link rel="stylesheet" type="text/css" href="/css/modules/few-favorites-carousel.css">

<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- RK1368 -->
        <div class="slick-slide">
          <a href="/Product_ball-gown-flower-girl-dress-with-heart-cutout-rk1368" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RK1368-10630763-Soft%20White?$plpproductimgmobile_2up$" alt="Ball Gown Flower Girl Dress with Heart Cutout">
          </a>
        </div>

        <!-- OP218 -->
        <div class="slick-slide">
          <a href="/Product_flower-girl-dress-with-tulle-and-ribbon-waist-op218" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP218-10302451-Ivory?$plpproductimgmobile_2up$" alt="Flower Girl Dress with Tulle and Ribbon Waist">
          </a>
        </div>

        <!-- S1038 -->
        <div class="slick-slide">
          <a href="/Product_satin-flower-girl-dress-with-tulle-skirt-s1038" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-S1038-6096959-Ivory?$plpproductimgmobile_2up$" alt="Satin Flower Girl Dress with Tulle Skirt">
          </a>
        </div>

        <!-- OP237 -->
        <div class="slick-slide">
          <a href="/Product_illusion-lace-tie-back-halter-flower-girl-dress-op237" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP237-10885140-Soft%20White?$plpproductimgmobile_2up$" alt="Illusion Lace Tie-Back Halter Flower Girl Dress">
          </a>
        </div>

        <!-- OP222 -->
        <div class="slick-slide">
          <a href="/Product_lace-and-mesh-tank-flower-girl-dress-op222" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP222-10538791-Ivory?$plpproductimgmobile_2up$" alt="Lace and Mesh Tank Flower Girl Dress">
          </a>
        </div>

        <!-- OP217 -->
        <div class="slick-slide">
          <a href="/Product_tulle-tea-length-gown-with-metallic-shimmer-detail-op217" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP217-10803388-Ivory?$plpproductimgmobile_2up$" alt="Tulle Tea Length Gown with Metallic Shimmer Detail">
          </a>
        </div>

        <!-- DB70966 -->
        <div class="slick-slide">
          <a href="/Product_allover-lace-flower-girl-shift-dress-db79066" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DB79066-10828397-Ivory?$plpproductimgmobile_2up$" alt="Allover Lace Flower Girl Shift Dress">
          </a>
        </div>

        <!-- OP228 -->
        <div class="slick-slide">
          <a href="/Product_corded-lace-flower-girl-dress-with-tulle-skirt-op228" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OP228-10759779-Ivory?$plpproductimgmobile_2up$" alt="Corded Lace Flower Girl Dress with Tulle Skirt">
          </a>
        </div>

        <!-- RK1361 -->
        <div class="slick-slide">
          <a href="/Product_sleeveless-all-over-lace-dress-with-scalloped-hem-rk1361" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RK1361-10503710-Ivory?$plpproductimgmobile_2up$" alt="Sleeveless All Over Lace Dress with Scalloped Hem">
          </a>
        </div>

        <!-- wg1370 -->
        <div class="slick-slide">
          <a href="/Product_sequin-and-tulle-flower-girl-dress-with-satin-sash-wg1370" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-WG1370-10874522-Ivory?$plpproductimgmobile_2up$" alt="Sequin and Tulle Flower Girl Dress with Satin Sash">
          </a>
        </div>

        <!-- 101UA -->
        <div class="slick-slide">
          <a href="/Product_spaghetti-strap-tulle-flower-girl-dress-101ua" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-101UA-10872092-Lilac?$plpproductimgmobile_2up$" alt="Spaghetti-Strap Tulle Flower Girl Dress">
          </a>
        </div>

        <!-- E721347 -->
        <div class="slick-slide">
          <a href="/Product_lattice-bodice-dress-with-tiered-tulle-skirt-e721347" onclick="(ga('send', 'event', 'Brides Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-E721347-10858422-Ivory?$plpproductimgmobile_2up$" alt="Lattice Bodice Dress with Tiered Tulle Skirt">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
