<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- DBBMRB -->
        <div class="slick-slide">
          <a href="/Product_rhinestone-bridesmaid-satin-robe-dbbmrb" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-DBBMRB-10230793-Aqua?$plpproductimgmobile_2up$" alt="Rhinestone Bridesmaid Satin Robe">
          </a>
        </div>

        <!-- A032014680 -->
        <div class="slick-slide">
          <a href="/Product_bridal-squad-v-neck-tee-a032014680" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-A032014680-10749270-Black?$plpproductimgmobile_2up$" alt="Bridal Squad V-Neck Tee">
          </a>
        </div>

        <!-- 30009NA -->
        <div class="slick-slide">
          <a href="/Product_personalized-stemless-wine-glass-30009na" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-30009NA-10156642?$plpproductimgmobile_2up$" alt="Personalized Stemless Wine Glass">
          </a>
        </div>

        <!-- MBM1CH -->
        <div class="slick-slide">
          <a href="/Product_minimergency-kit-for-bridesmaids-mbm1ch" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-MBM1CH-10644616-Gold?$plpproductimgmobile_2up$" alt="Minimergency Kit for Bridesmaids">
          </a>
        </div>

        <!-- 9998928 -->
        <div class="slick-slide">
          <a href="/Product_wifey-tote-bag-9998928" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9998928-10624545-Gold?$plpproductimgmobile_2up$" alt="Wifey Tote Bag">
          </a>
        </div>

        <!-- BLNKROBE -->
        <div class="slick-slide">
          <a href="/Product_blank-luxury-satin-robe-blnkrobe" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BLNKROBE-10629894-Navy?$plpproductimgmobile_2up$" alt="Blank Luxury Satin Robe">
          </a>
        </div>

        <!-- 999DB1001 -->
        <div class="slick-slide">
          <a href="/Product_happily-ever-after-sun-hat-999db1001" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-999DB1001-10827180-Black?$plpproductimgmobile_2up$" alt="Happily Ever After Sun Hat">
          </a>
        </div>

        <!-- EB3107 -->
        <div class="slick-slide">
          <a href="/Product_personalized-wedding-sunglasses-eb3107" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3107-10616511-Pink?$plpproductimgmobile_2up$" alt="Personalized Wedding Sunglasses">
          </a>
        </div>

        <!-- N9103S -->
        <div class="slick-slide">
          <a href="/Product_personalized-open-heart-charm-necklace-n9103s" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-N9103S-10186818-Gold?$plpproductimgmobile_2up$" alt="Personalized Open Heart Charm Necklace">
          </a>
        </div>

        <!-- EB3113FL -->
        <div class="slick-slide">
          <a href="/Product_personalized-floral-skinny-tumbler-eb3113fl" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3113FL-10825296-Floral?$plpproductimgmobile_2up$" alt="Personalized Floral Skinny Tumbler">
          </a>
        </div>

        <!-- CPJ1 -->
        <div class="slick-slide">
          <a href="/Product_cotton-floral-pajama-set-cpj1" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-CPJ1-10874595-Blue?$plpproductimgmobile_2up$" alt="Cotton Floral Pajama Set">
          </a>
        </div>

        <!-- EB3152 -->
        <div class="slick-slide">
          <a href="/Product_floral-satin-robe-eb3152" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3152-10836734-Aqua%20Blue?$plpproductimgmobile_2up$" alt="Floral Satin Robe">
          </a>
        </div>

        <!-- EB3145 -->
        <div class="slick-slide">
          <a href="/Product_tie-the-knot-bracelet-eb3145" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-EB3145-10836717-Gold?$plpproductimgmobile_2up$" alt="Tie the Knot Bracelet">
          </a>
        </div>

        <!-- SAR1704021 -->
        <div class="slick-slide">
          <a href="/Product_my-humans-are-getting-married-sign-sar1704021" onclick="(ga('send', 'event', 'Gifts & Decorations Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SAR1704021-10885784-Ivory?$plpproductimgmobile_2up$" alt="My Humans Are Getting Married Sign">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
