<link rel="stylesheet" type="text/css" href="/css/modules/few-favorites-carousel.css">

<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- 9234XX8P -->
        <div class="slick-slide">
          <a href="/Product_long-sleeve-lace-crop-top-and-shantung-skirt-set-9234xx8p" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-9234XX8P-10885677-Navy?$plpproductimgmobile_2up$" alt="Long-Sleeve Lace Crop Top and Shantung Skirt Set">
          </a>
        </div>

        <!-- 4679BH8P -->
        <div class="slick-slide">
          <a href="/Product_embroidered-crop-top-and-tiered-mesh-skirt-set-4679bh8p" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-4679BH8P-10885596-Ivory_Gold?$plpproductimgmobile_2up$" alt="Embroidered Crop Top and Tiered Mesh Skirt Set">
          </a>
        </div>

        <!-- 57485 MEMERALD -->
        <div class="slick-slide">
          <a href="/Product_beaded-illusion-halter-dress-with-teardrop-back-57485" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-57485-10887499-Emerald?$plpproductimgmobile_2up$" alt="Beaded Illusion Halter Dress with Teardrop Back">
          </a>
        </div>

        <!-- D68081DNE -->
        <div class="slick-slide">
          <a href="/Product_stretch-crepe-off-the-shoulder-cocktail-dress-d68081dne" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-D68081DNE-10874653-Midnight?$plpproductimgmobile_2up$" alt="Stretch Crepe Off-The-Shoulder Cocktail Dress">
          </a>
        </div>

        <!-- 3483SU8C -->
        <div class="slick-slide">
          <a href="/Product_lace-crop-top-and-printed-skater-skirt-set-3483su8c" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-3483SU8C-10885545-Wine%20Multi?$plpproductimgmobile_2up$" alt="Lace Crop Top and Printed Skater Skirt Set">
          </a>
        </div>

        <!-- D66591DDNE -->
        <div class="slick-slide">
          <a href="/Product_stretch-knit-y-neck-dress-with-beaded-waist-d66591ddne" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-D66591DDNE-10885739-Green?$plpproductimgmobile_2up$" alt="Stretch Knit Y-Neck Dress with Beaded Waist">
          </a>
        </div>

        <!-- 156561 -->
        <div class="slick-slide">
          <a href="/Product_embroidered-illusion-corset-party-dress-156561" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-156561-10885884-Black_Gold?$plpproductimgmobile_2up$" alt="Embroidered Illusion Corset Party Dress">
          </a>
        </div>

        <!-- 58016 -->
        <div class="slick-slide">
          <a href="/Product_high-neck-beaded-jersey-and-mesh-party-dress-58016" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-58016-10885874-Black_White?$plpproductimgmobile_2up$" alt="High-Neck Beaded Jersey and Mesh Party Dress">
          </a>
        </div>

        <!-- D67791DNE -->
        <div class="slick-slide">
          <a href="/Product_stretch-crepe-keyhole-dress-with-beaded-waist-d67791dne" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-D67791DNE-10883085-Midnight?$plpproductimgmobile_2up$" alt="Stretch Crepe Keyhole Dress with Beaded Waist">
          </a>
        </div>

        <!-- 8145AB3B -->
        <div class="slick-slide">
          <a href="/Product_embroidered-lace-mock-neck-homecoming-dress-8145ab3b" onclick="(ga('send', 'event', 'Prom Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-8145AB3B-10885653-Wine?$plpproductimgmobile_2up$" alt="Embroidered Lace Mock-Neck Homecoming Dress">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
