<link rel="stylesheet" type="text/css" href="/css/modules/few-favorites-carousel.css">

<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- LULU -->
        <div class="slick-slide">
          <a href="/Product_crystal-t-strap-satin-wedges-lulu" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-LULU-10753129-Ivory?$plpproductimgmobile_2up$" alt="Crystal T-Strap Satin Wedges">
          </a>
        </div>

        <!-- SARINA -->
        <div class="slick-slide">
          <a href="/Product_pearl-and-crystal-t-strap-sandals-sarina" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SARINA-10757691-Ivory?$plpproductimgmobile_2up$" alt="Pearl and Crystal T-Strap Sandals">
          </a>
        </div>

        <!-- TEGHAN -->
        <div class="slick-slide">
          <a href="/Product_jeweled-strappy-heels-teghan" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-TEGHAN-10781993-Light%20Pink?$plpproductimgmobile_2up$" alt="Jeweled Strappy Heels">
          </a>
        </div>

        <!-- LARISSA -->
        <div class="slick-slide">
          <a href="/Product_patent-high-heel-sandals-with-ankle-strap-larissa" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-LARISSA-10722498-Nude?$plpproductimgmobile_2up$" alt="Patent High Heel Sandals with Ankle Strap">
          </a>
        </div>

        <!-- GEMMA -->
        <div class="slick-slide">
          <a href="/Product_jeweled-t-strap-sandal-gemma" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-GEMMA-10613584-Silver%20Metallic?$plpproductimgmobile_2up$" alt="Jeweled T Strap Sandal">
          </a>
        </div>

        <!-- RIO -->
        <div class="slick-slide">
          <a href="/Product_jeweled-metallic-ankle-strap-thong-sandals-rio" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-RIO-10827491-Rose%20Gold?$plpproductimgmobile_2up$" alt="Jeweled Metallic Ankle-Strap Thong Sandals">
          </a>
        </div>

        <!-- KENDALL -->
        <div class="slick-slide">
          <a href="/Product_twisted-t-strap-sandals-kendall" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-KENDALL-10757650-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Twisted T-Strap Sandals">
          </a>
        </div>

        <!-- SBJUNO -->
        <div class="slick-slide">
          <a href="/Product_embellished-high-heel-sandals-with-ankle-strap-sbjuno" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SBJUNO-10823582-Champagne?$plpproductimgmobile_2up$" alt="Embellished High Heel Sandals with Ankle Strap">
          </a>
        </div>

        <!-- JWLITTLE -->
        <div class="slick-slide">
          <a href="/Product_satin-and-crystal-wedges-with-crisscross-straps-jwlittle" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JWLITTLE-10876232-Champagne?$plpproductimgmobile_2up$" alt="Satin and Crystal Wedges with Crisscross Straps">
          </a>
        </div>

        <!-- 001013B07 -->
        <div class="slick-slide">
          <a href="/Product_toms-glitter-classic-slip-on-shoes-001013b07" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-001013B07-10744540-Silver?$plpproductimgmobile_2up$" alt="TOMS Glitter Classic Slip-On Shoes">
          </a>
        </div>

        <!-- JWHARRISON -->
        <div class="slick-slide">
          <a href="/Product_crystal-embellished-jelly-flip-flops-jwharrison" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JWHARRISON-10825932-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Crystal-Embellished Jelly Flip Flops">
          </a>
        </div>

        <!-- JWHAZEL -->
        <div class="slick-slide">
          <a href="/Product_strappy-satin-t-strap-heels-with-crystals-jwhazel" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-JWHAZEL-10822791-Light%20Pink?$plpproductimgmobile_2up$" alt="Strappy Satin T-Strap Heels with Crystals">
          </a>
        </div>

        <!-- SAYLOR -->
        <div class="slick-slide">
          <a href="/Product_glitter-fabric-t-strap-heels-saylor" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SAYLOR-10834915-Gold%20Metallic?$plpproductimgmobile_2up$" alt="Glitter Fabric T-Strap Heels">
          </a>
        </div>

        <!-- BELIZE12 -->
        <div class="slick-slide">
          <a href="/Product_crystal-t-strap-high-heel-sandal-by-blossom-belize12" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-SAGE-10756855-Silver%20Metallic?$plpproductimgmobile_2up$" alt="Crystal T-Strap High Heel Sandal by Blossom">
          </a>
        </div>

        <!-- SAGE -->
        <div class="slick-slide">
          <a href="/Product_metallic-low-heel-sandals-with-crystal-strap-sage" onclick="(ga('send', 'event', 'Shoes Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-BELIZE12-10495445-Nude?$plpproductimgmobile_2up$" alt="Braided T-Strap Wedges with Crystals">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
