// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.most-loved {
  //@include red-bg();
  display: block;
  position: relative;
  margin: 20px auto;



  &__inner {
    //@include blue-bg();
    display: block;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__heading {
    //@include blue-bg();
    display: block;
    position: relative;

    h3,
    p {
      display: inline;
    }

    p {
      margin-left: 20px;
    }
  }



  &__flex {
    //@include red-bg();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -5px;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
      margin-top: 15px;
      margin-bottom: 15px;
    }


    .column {
      //@include green-bg();
      width: 50%;
      padding: 5px;
      @media screen and (min-width: $breakpoint-md) {
        width: 16.66667%;
        padding-left: 0.3623188406%;
        padding-right: 0.3623188406%;
      }

      &.mobile-full {
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          width: 34%;
        }
      }
    }
  }

}
