.page-heading {
  display: block;
  position: relative;
  background: $pink;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
  img {
    max-width: 280px;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 400px;
    }
  }
  p {
    margin: 0;
    margin-top: 5px;
  }
}
