.listing__grid-item-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5px;
  padding-bottom: 5px;

  &-stars {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 24px;
    line-height: 24px;
    max-width: 140px;
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    //text-shadow: 0px 1px 0 #a2a2a2;
    cursor: default;
    transition: all 0.3s ease;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 14px;
      line-height: 14px;
      max-width: 90px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 18px;
      line-height: 18px;
      max-width: 110px;
    }

    &-top {
      color: $taupe;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }

    span {
      //@include blue-bg();
      padding-left: 2px;
      padding-right: 2px;
    }
  }


  // &-reviews {
  //   color: #333;
  //   font-size: 11px;
  //   font-family: 'Open Sans';
  //   font-weight: 700;
  //   margin-left: 2px;
  //   margin-top: 2px;
  // }



}
