<!-- PROMO 1 -->
<li class="header__promo-list-item" data-promo-status="active" data-promo-viewed="false" data-promo-name="MEET WITH A STYLIST" data-promo-position="1">
  <span class="header__promo-list-item-bg header__promo-list-item-bg--color-purple-gray-dk full-bleed"></span>
  <span class="header__promo-list-item-inner">
    <strong class="sans-xs">Up to $500 off gorgeous gowns</strong>
    <br class="desktop-hidden tablet-hidden">Ends May 24
    <a href="/wedding-dresses/all-wedding-dresses">Shop Now</a>
    or
    <a href="/DBIMakeAnAppointmentView?catalogId=10051&langId=-1&storeId=10052">Make an Appointment</a>
  </span>
</li>


<!-- PROMO 2 -->
<li class="header__promo-list-item" data-promo-status="inactive" data-promo-viewed="false" data-promo-name="FREE SHIPPING on all orders $99 and up" data-promo-position="2">
  <span class="header__promo-list-item-bg header__promo-list-item-bg--color-purple-gray-dk full-bleed"></span>
  <span class="header__promo-list-item-inner">
    <strong class="sans-xs">
      FREE SHIPPING on all orders $100 and up
    </strong>
    discount applied at checkout&nbsp;
    <a href="/Content_BuyOnline_offers">See Details & Daily Deals</a>
  </span>
</li>


<!-- PROMO 3 -->
<li class="header__promo-list-item" data-promo-status="inactive" data-promo-viewed="false" data-promo-name="ENTER FOR A CHANCE TO WIN YOUR GOWN or up to 5 bridesmaid dresses." data-promo-position="3">
  <span class="header__promo-list-item-bg header__promo-list-item-bg--color-purple-gray-dk full-bleed"></span>
  <span class="header__promo-list-item-inner">
    <strong class="sans-xs">ENTER FOR A CHANCE TO WIN YOUR GOWN or up to 5 bridesmaid dresses.</strong>
    <a href="/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=-1&storeId=10052&regSource=">Sign up now</a>
  </span>
</li>


<style>
.header__promo-list-item-inner a {
  text-decoration: underline !important; }
.header__promo-list-item-bg--color-coral {
  color: #f3665c;
  background-color: #f3665c; }
.header__promo-list-item-bg--color-purple-gray {
  color: #727278;
  background-color: #727278; }
.header__promo-list-item-bg--color-purple-gray-dk {
  color: #52535a;
  background-color: #52535a; }
.header__promo-list-item-bg--color-pink {
  color: #f93777;
  background-color: #f93777; }
</style>

<script>
jQuery(document).ready(function() {
  function sendHeaderPromoBarImpressions(dataPromoName, dataPromoPosition) {
    function getWords(str) {
      return str.split(/\s+/).slice(0,3).join(" ");
    }
    dataPromoName = getWords(dataPromoName);
    dataPromoName = dataPromoName.replace(/\s/g, '');

    options = {
      "internal_promotion_id":["Top Carousel | "+pageNameValue],
      "internal_promotion_Name":["TopCarousel"],
      "internal_promotion_position":[dataPromoPosition],
      "internal_promotion_creative":[dataPromoName]
    }
    //console.log(options);
    //utag.view(options);
  }

  function autoRotate() {
    var d;
    var e=0;
    var f=1;
    var g=$('.header__promo-list-item');
    var h=g.length;
    var i=g.length;

    function a() {
      h=$('.header__promo-list-item').length;
      i=$('.header__promo-list-item').length;
      d=$('.header__promo-list-item[data-promo-status="active"]');
      e=d&&d.index&&d.index();
      f=e+1;
      1===f?$('.header__promo-bar')&&$('.header__promo-bar').attr&&$('.header__promo-bar').attr('data-first-item-active','true'):$('.header__promo-bar')&&$('.header__promo-bar').attr&&$('.header__promo-bar').attr('data-first-item-active','false');
    }

    // Next Item
    function b() {
      a();
      nextIndex=e+1;
      nextItemNumber=f+1;
      nextItemNumber>h&&(nextIndex=0,nextItemNumber=1);
      nextPromoItem=$(g.selector).eq(nextIndex);
      $(g.selector).attr('data-promo-status','inactive');
      nextPromoItem.attr('data-promo-status','active');

      // On autoRotate, if promo not viewed, send utag.view
      var v = $('.header__promo-list-item[data-promo-status="active"]');
      if(v.attr('data-promo-viewed')=="false") {
        var dataPromoName = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-name');
        var dataPromoPosition = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-position');
        sendHeaderPromoBarImpressions(dataPromoName, dataPromoPosition);
        v.attr('data-promo-viewed','true');
      }

      nextPromoItem.attr('data-promo-viewed','true');
    }

    b();
  }


  // Header Promo Bar Auto-Rotate Interval
  var headerPromoAutoRotate = setInterval(autoRotate, 5000);


  // Next Click - if promo not viewed, send utag.view
  $('.header__promo-controls-next-link').on("click", function(){
    clearInterval(headerPromoAutoRotate);
    if($('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-viewed')=="false") {
      var dataPromoName = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-name');
      var dataPromoPosition = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-position');
      sendHeaderPromoBarImpressions(dataPromoName, dataPromoPosition);
      $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-viewed','true');
    }
  });

  // Previous Click - if promo not view, send utag.view
  $('.header__promo-controls-previous-link').on("click", function(){
    clearInterval(headerPromoAutoRotate);
    if($('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-viewed')=="false") {
      var dataPromoName = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-name');
      var dataPromoPosition = $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-position');
      sendHeaderPromoBarImpressions(dataPromoName, dataPromoPosition);
      $('.header__promo-list-item[data-promo-status="active"]').attr('data-promo-viewed','true');
    }
  });

});
</script>
