<link rel="stylesheet" href="/css/espots/homepage/UK/July/sale/styles.css">


<style media="screen">
.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .hero {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .hero {
      margin-bottom: 0.9375%; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .btn {
        width: auto;
        margin-top: 10px; } }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 40px;
      width: 100%;
      font-size: 12px; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary a {
          width: auto;
          padding: 13px 40px; } }
    .hero .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: 100%;
      font-size: 12px; }
      .hero .btn-secondary-pink a:hover, .hero .btn-secondary-pink a:active, .hero .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary-pink a {
          width: auto;
          padding: 13px 40px; } }
  .hero__img {
    display: block;
    position: relative;
    width: 100%; }
  .hero__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    text-align: center;
    padding: 20px 10px; }
    @media screen and (min-width: 768px) {
      .hero__text {
        padding: 10px; } }
    .hero__text img {
      max-width: 75%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 30px; }
      @media screen and (min-width: 768px) {
        .hero__text img {
          max-width: 80%;
          margin-top: 0; } }
      @media screen and (min-width: 1024px) {
        .hero__text img {
          max-width: 50%;
          margin-bottom: 20px; } }
    .hero__text-ctas > * {
      margin-top: 10px;
      margin-bottom: 10px; }
      .hero__text-ctas > *:last-child {
        margin-bottom: 0; }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
</style>
<section class="hero" data-analytics-tagging="Hero">
  <div class="hero__container">

    <div class="hero__img">
      <a href="/DBIMakeAnAppointmentView?catalogId=15001&langId=&storeId=15001">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/UK_mobile.jpg" alt="Blue background with mirrored tropical plants on each side">
        <img class="sm-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/UK_tablet.jpg" alt="Blue background with mirrored tropical plants on each side">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/HP_7.24-7.26_7.30-8.9_desktop.jpg" alt="Blue background with mirrored tropical plants on each side">
      </a>
    </div>

    <div class="hero__text">
      <a href="/DBIMakeAnAppointmentView?catalogId=15001&langId=&storeId=15001">
        <img class="md-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/UK_JulySale_text_mobile.png" alt="Summer Sale | designer wedding dresses &pound;100 Off | bridesmaid dresses &pound;10 Off">
        <img class="sm-hidden lg-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/UK_JulySale_text_tablet.png" alt="Summer Sale | designer wedding dresses &pound;100 Off | bridesmaid dresses &pound;10 Off">
        <img class="sm-hidden md-hidden" src="/wcsstore/images/wwcm/homepage/2018/July/UK_JulySale_text.png" alt="Summer Sale | designer wedding dresses &pound;100 Off | bridesmaid dresses &pound;10 Off">
      </a>

      <div class="hero__text-ctas">
        <p class="btn btn-secondary">
          <a class="sans-bold-uppercase" href="/DBIMakeAnAppointmentView?catalogId=15001&langId=&storeId=15001">Make an Appointment</a>
        </p>
        <p class="sans-bold-uppercase">
          <a href="/find-a-store">Find a Store&nbsp;&gt;</a>
        </p>
      </div>
    </div>

  </div>
</section>
