// ==========================================================================
// Appointment Banner - Pink
// ==========================================================================
.appointment-banner {
  //@include green-bg();
  display: block;
  position: relative;
  max-width: 1262px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;


  &__inner {
    background: #ffe6e3;
    outline: 8px solid #ffe6e3;
    border: 1px solid #fff;
    margin: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  p {
    margin: 0;
  }


  &__headline {
    display: block;
    margin-bottom: 10px;
  }

  &__subheadline {
    display: block;
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    display: block;
    margin: 0;
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 10px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      display: inline-block;
    }
  }


  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    background-color: transparent;
  }

  .btn-secondary a {
    outline: none;
    color: #52535a;
    background-color: #ffffff;
    border: 1px solid #52535a;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 240px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .btn-secondary a:hover,
  .btn-secondary a:focus {
    background-color: #ffffff;
    border: 1px solid #e0e0e7;
    outline: none;
  }
}
