.page-heading {
  a {
    color: $taupe;
    font-weight: normal !important;
    text-decoration: underline;
    &:hover {
      color: $black;
      text-decoration: underline !important;
    }
  }

}
