.style-tip {
  display: block;
  text-align: center;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-top: 20px;
  margin-bottom: 20px;


  &__inner {
    margin: 2px auto;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    margin: 0;
    margin: 0 auto;

    a {
      color: $taupe;
      text-decoration: underline;
      transition: all 0.3s ease;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

} // .quote
