// ==========================================================================
// Something Blue
// ==========================================================================
.something-blue {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__flex {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: flex-start;    // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch
    margin: 10px auto;
    background: #ffe6e3;

    &.reverse {
      flex-direction: row-reverse;
    }

    &-col {
      @include block;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
      }

      &:last-child {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        @media screen and (min-width: $breakpoint-md) {
          padding-top: 40px;
          padding-right: 40px;
          padding-bottom: 0;
          padding-left: 40px;
          width: 40%;
        }
        @media screen and (min-width: 1262px) {
          padding-right: 60px;
        }
      }

      &:first-child {
        @media screen and (min-width: $breakpoint-md) {
          width: 60%;
        }
      }

      p {
        margin: 0;
        &.sans-bold-uppercase{
          margin-top: 5px;
          @media screen and (min-width: $breakpoint-md) {
            margin-top: 10px;
          }
        }
        a {
          color: #333;
          font-weight: normal !important;
          text-decoration: underline;
          &:hover {
            color: $taupe;
            font-weight: normal !important;
            text-decoration: underline;
          }
        }
      }


    }

  } // flex
} // .questions
