<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Wedding Dresses 101')" href="/Content_StyleandFashionGuide_WeddingDressesGuide">Wedding Dresses 101</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Wedding Dress Finder')" href="/wedding-dress-quiz">Wedding Dress Finder</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Meet the Brands')" href="/Content_StyleandFashionGuide_WeddingDressDesigners">Meet the Brands</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Getting Started')" href="/Content_Appointment_planning">Getting Started</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Silhouette Guide')" href="/Content_StyleandFashionGuide-styleguidedressguide_index">Silhouette Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'What to Wear: Every Wedding Event')" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear: Every Wedding Event</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Wedding Themes')" href="/Content_StyleandFashionGuide_weddingthemes">Wedding Themes</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Wedding Planning Guide')" href="/Content_StyleandFashionGuide_WeddingPlanningGuide">Wedding Planning Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Spring 2018 Collection')" href="/Content_StyleandFashionGuide_fallweddingdressideas">Fall 2018 Collection</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Look Books')" href="/Content_Catalog_onlinecatalog">Look Books</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Plus Size Guide')" href="/Content_Bridal_dbwomanabout">Plus Size Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Petite Size Guide')" href="/Content_Bridal_dbpetiteabout">Petite Size Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Real Weddings')" href="/Content_RealWeddings_realweddings">Real Weddings</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDES', 'Brides', 'Wedding Checklist')" href="/Content_StyleandFashionGuide_gownpreservation">Preserve Your Gown</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
