<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Mother of the Bride Guide')" href="/Content_StyleandFashionGuide_MotheroftheBrideGuide">Mother of the Bride Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Guest of Wedding Guide')" href="/Content_StyleandFashionGuide_whattowearsummerweddings">Guest of Wedding Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Casual Wedding Ideas')" href="/Content_StyleandFashionGuide_casualweddingideas">Casual Wedding Ideas</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'What to Wear to Every Wedding Event')" href="/Content_StyleandFashionGuide_whattoweartopreweddingevents">What to Wear to Every Wedding Event</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Holiday Party Dress Trends')" href="/Content_StyleandFashionGuide_SpecialOccasions">Special Occasions Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Flower Girl Guide')" href="/Content_StyleandFashionGuide_FlowerGirlDressGuide">Flower Girl Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_DRESSES', 'Dresses', 'Social Occasion Dress Finder')" href="/social-occasion-dress-quiz">Social Occasion Dress Finder</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
