<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', '5 Must-Have Bridal Shoes')" href="/Content_StyleandFashionGuide_weddingshoeideas">5 Must-Have Bridal Shoes</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', 'Dyeable Shoes Guide')" href="/Content_StyleandFashionGuide_dyeableshoesguide">Dyeable Shoes Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', 'Wedding Shoe Color Tips')" href="/Content_StyleandFashionGuide_weddingcolorshoes">Wedding Shoe Color Tips</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', 'Completing Your Look Guide')" href="/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', 'Something Blue')" href="/Content_StyleandFashionGuide_somethingblueideas">Something Blue</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Shoes', 'Shoes', 'Real Accessories')" href="/Content_Curations_accessories">#DBAccessories</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
