<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Wedding Colors & Bridal Party Ideas')" href="/Content_StyleandFashionGuide_PrettyBridalPartyColorPalettes">Wedding Colors & Bridal Party Ideas</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Color Chart')" href="/Content_StyleandFashionGuide-ColorInspiration_colormain">Color Chart</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Style Finder Quiz')" href="/Content_BridesmaidDress_Quiz">Style Finder Quiz</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Wedding Colors by Season')" href="/Content_StyleandFashionGuide_springweddingcolorideas">Wedding Colors by Season</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Mismatched Bridesmaid Dresses')" href="/Content_StyleandFashionGuide_mismatcheddifferentcolorbridesmaiddressesideas">Mismatched Bridesmaid Dresses</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Convertible Dresses')" href="/Content_BridalParty_convertibledressstyles">Convertible Dresses</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Wedding Color Inspiration')" href="/Content_StyleandFashionGuide_weddingcolorideas">Color Inspiration</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'Look Books')" href="/Content_Catalog_onlinecatalog">Look Books</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_BRIDESMAIDS', 'Bridesmaids', 'DBMaids')" href="/Content_Curations_weddingparty">#DBMaids</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
