<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Daily Deals')" href="/Content_BuyOnline_offers">Daily Deals</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Wedding Planning Guide')" href="/Content_StyleandFashionGuide_weddingideasonabudget">Wedding Planning Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Budget Tips from Real Brides')" href="/Content_StyleandFashionGuide_realbridesweddingbudget">Budget Tips from Real Brides</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'How to Set a Wedding Budget')" href="/Content_WeddingPlanning_budgetplanner">How to Set a Wedding Budget</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Your Ultimate Wedding Checklist')" href="/Content_StyleandFashionGuide_weddingchecklist">Your Ultimate Wedding Checklist</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Savings From Our Partners')" href="/Content_WeddingVendors_main">Savings From Our Partners</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'DB Rewards')" href="/Content_SpecialOffers_rewards">DB Rewards</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_SALE', 'Sale', 'Real Weddings')" href="/Content_RealWeddings_realweddings">Real Weddings</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
