<ul>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Completing Your Look Guide')" href="/Content_StyleandFashionGuide_WeddingAccessories">Completing Your Look Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Veil Guide')" href="/Content_StyleandFashionGuide_veilstyleguide">Veil Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Headpiece Guide')" href="/Content_StyleandFashionGuide_headpiecestyleguide">Headpiece Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Lingerie Guide')" href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">Shapewear Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Bra Guide')" href="/Content_StyleandFashionGuide_bestbratypes">Bra Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Neckline Jewelry Guide')" href="/Content_StyleandFashionGuide_jewelrynecklines">Neckline & Jewelry Guide</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', '5 Must-Have Wedding Shoes')" href="/Content_StyleandFashionGuide_weddingshoeideas">5 Must-Have Wedding Shoes</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'Four Looks For Less')" href="/Content_StyleandFashionGuide_weddingdressonabudget">4 Looks for Less</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'DBAccessories')" href="/Content_StyleandFashionGuide_bridalpartyaccessorizing">Accessorizing Your Bridal Party</a></li>
  <li><a onclick="headerExploreClickEvent('ES_EXPLORE_Accessories', 'Accessories', 'DBAccessories')" href="/Content_Curations_accessories">#DBAccessories</a></li>
</ul>

<style media="screen">
@media screen and (min-width: 64em) {
  .listing__filters {
    padding-top: 0;
  }
  .listing__explore {
    padding-top: 30px;
    padding-top: 1.875rem;
  }
}
</style>
