.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
  .content-page p + p {
    margin: 0; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  min-height: 22px;
  padding-top: 2px;
  padding-bottom: 2px; }
  .form-group label {
    display: inline;
    margin-right: 8px;
    color: #74736d; }
    .form-group label:hover {
      cursor: pointer; }
  .form-group input {
    display: inline-block;
    margin: 0;
    background: white;
    border: 1px solid #727278; }
    .form-group input:focus {
      border: 1px solid #74736d;
      -webkit-box-shadow: 0 0 5px #51cbee;
              box-shadow: 0 0 5px #51cbee; }
    .form-group input[type="text"], .form-group input[type="email"] {
      height: auto;
      margin-top: 2px;
      padding-top: 6px;
      padding-bottom: 6px;
      min-width: 220px; }
  .form-group span {
    margin: 0; }
    .form-group span:hover {
      cursor: pointer; }

.hidden {
  display: none !important; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px auto !important; }
  .page-heading__text {
    width: 100%;
    padding-right: 40px; }
  .page-heading h1 {
    display: block;
    margin: 0;
    width: 100%;
    margin-bottom: 10px; }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee;
  display: none; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 320px;
      padding: 12px 30px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.bridesmaid-module-template {
  display: none !important; }

.bridesmaid {
  display: block;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
  background: #f8f8f8;
  width: 100%;
  max-width: 1262px;
  margin: 40px auto 30px;
  padding: 20px 10px; }
  @media screen and (min-width: 768px) {
    .bridesmaid {
      margin: 50px auto;
      padding: 20px; } }
  .bridesmaid:not(:last-of-type) {
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .bridesmaid:not(:last-of-type) {
        margin-bottom: 50px; } }
    .bridesmaid:not(:last-of-type)::after {
      display: block;
      content: "";
      position: absolute;
      border-bottom: 1px solid #c1c1c1;
      bottom: -22px;
      left: 0;
      right: 0; }
      @media screen and (min-width: 768px) {
        .bridesmaid:not(:last-of-type)::after {
          display: none; } }
  .bridesmaid__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .bridesmaid__header-close {
      background: none;
      border: none; }
      .bridesmaid__header-close:hover, .bridesmaid__header-close:focus {
        background: none;
        border: none; }
        .bridesmaid__header-close:hover svg, .bridesmaid__header-close:focus svg {
          fill: #333333; }
      .bridesmaid__header-close:active, .bridesmaid__header-close:visited {
        background: none;
        border: none; }
        .bridesmaid__header-close:active svg, .bridesmaid__header-close:visited svg {
          fill: #74736d; }
      .bridesmaid__header-close svg {
        fill: #74736d;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
  .bridesmaid .product-image {
    display: block;
    position: relative; }
    .bridesmaid .product-image img {
      cursor: pointer; }
    .bridesmaid .product-image .primary-image {
      display: block;
      position: relative;
      z-index: 1;
      opacity: 1;
      -webkit-transition: all 0.75s ease-in-out;
      transition: all 0.75s ease-in-out; }
      .bridesmaid .product-image .primary-image:hover {
        opacity: 0; }
    .bridesmaid .product-image .alt-image {
      display: block;
      position: absolute;
      top: 0;
      z-index: 0; }
  .bridesmaid__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 20px; }
    .bridesmaid__columns > .column {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .bridesmaid__columns > .column:first-child {
          width: 42%; }
        .bridesmaid__columns > .column:last-child {
          width: 58%; } }
    .bridesmaid__columns .options {
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        .bridesmaid__columns .options {
          padding-top: 0;
          padding-left: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
    .bridesmaid__columns .option {
      display: block;
      width: 100%;
      background: white;
      border: 1px solid #eeeeee;
      padding: 10px 20px;
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .bridesmaid__columns .option {
          margin-bottom: 20px; } }
      .bridesmaid__columns .option-heading {
        border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
        .bridesmaid__columns .option-heading__heading {
          display: inline-block;
          padding: 0 10px 3px 0;
          background: #fff;
          bottom: -7px;
          position: relative; }
      .bridesmaid__columns .option-body {
        display: block;
        padding-top: 20px;
        padding-bottom: 10px; }
    .bridesmaid__columns .split-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .bridesmaid__columns .split-2 > * {
        width: 100%; }
        @media screen and (min-width: 768px) {
          .bridesmaid__columns .split-2 > * {
            width: calc((100% - 20px) / 2); } }
  .bridesmaid .lengths {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    .bridesmaid .lengths .length {
      width: calc(100% / 2);
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
      @media screen and (min-width: 768px) {
        .bridesmaid .lengths .length {
          width: calc(100% / 3); } }
      @media screen and (min-width: 1024px) {
        .bridesmaid .lengths .length {
          width: calc(100% / 5); } }
      .bridesmaid .lengths .length svg {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .bridesmaid .lengths .length svg .stroke {
          fill: #74736d; }
      .bridesmaid .lengths .length span {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: #74736d; }
      .bridesmaid .lengths .length .sans-bold-uppercase {
        font-size: 10px; }
    .bridesmaid .lengths input[type="radio"] {
      display: none; }
      .bridesmaid .lengths input[type="radio"]:checked ~ label {
        border: 1px solid #333333; }
        .bridesmaid .lengths input[type="radio"]:checked ~ label svg .stroke {
          fill: #333333; }
        .bridesmaid .lengths input[type="radio"]:checked ~ label .sans-bold-uppercase {
          color: #333333; }
      .bridesmaid .lengths input[type="radio"]:disabled ~ label {
        position: relative;
        cursor: not-allowed; }
        .bridesmaid .lengths input[type="radio"]:disabled ~ label svg .stroke {
          fill: #c1c1c1; }
        .bridesmaid .lengths input[type="radio"]:disabled ~ label .sans-bold-uppercase {
          color: #c1c1c1; }
    .bridesmaid .lengths label {
      display: inline-block;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid white;
      padding: 10px 0 10px;
      width: 100%; }
  .bridesmaid .necklines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    .bridesmaid .necklines .neckline {
      width: calc(100% / 2);
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
      @media screen and (min-width: 768px) {
        .bridesmaid .necklines .neckline {
          width: calc(100% / 3); } }
      @media screen and (min-width: 1024px) {
        .bridesmaid .necklines .neckline {
          width: calc(100% / 5); } }
      .bridesmaid .necklines .neckline svg {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .bridesmaid .necklines .neckline svg .stroke {
          stroke: #74736d;
          stroke-width: 2; }
      .bridesmaid .necklines .neckline span {
        display: block;
        width: 100%;
        margin-top: 10px;
        color: #74736d; }
      .bridesmaid .necklines .neckline .sans-bold-uppercase {
        font-size: 10px; }
    .bridesmaid .necklines input[type="radio"] {
      display: none; }
      .bridesmaid .necklines input[type="radio"]:checked ~ label {
        border: 1px solid #333333; }
        .bridesmaid .necklines input[type="radio"]:checked ~ label svg .stroke {
          stroke: #333333; }
        .bridesmaid .necklines input[type="radio"]:checked ~ label .sans-bold-uppercase {
          color: #333333; }
      .bridesmaid .necklines input[type="radio"]:disabled ~ label {
        position: relative;
        cursor: not-allowed; }
        .bridesmaid .necklines input[type="radio"]:disabled ~ label svg .stroke {
          stroke: #c1c1c1; }
        .bridesmaid .necklines input[type="radio"]:disabled ~ label .sans-bold-uppercase {
          color: #c1c1c1; }
    .bridesmaid .necklines label {
      display: inline-block;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: end;
          align-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid white;
      padding: 10px 0 10px;
      width: 100%;
      min-height: 110px; }
  .bridesmaid .selections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 1262px) {
      .bridesmaid .selections {
        background: white;
        border: 1px solid #eeeeee;
        padding: 20px; } }
    .bridesmaid .selections .column {
      display: block;
      width: 100%; }
      @media screen and (min-width: 1262px) {
        .bridesmaid .selections .column {
          width: auto; } }
      .bridesmaid .selections .column:first-child {
        background: white;
        border: 1px solid #eeeeee;
        padding: 20px; }
        @media screen and (min-width: 1262px) {
          .bridesmaid .selections .column:first-child {
            background: none;
            border: none;
            padding: 0; } }
    .bridesmaid .selections p.sans-xs {
      font-weight: 700; }
    .bridesmaid .selections button {
      width: 100%;
      margin-top: 20px; }
      @media screen and (min-width: 1262px) {
        .bridesmaid .selections button {
          margin-top: 0;
          width: auto; } }
      .bridesmaid .selections button.btn-secondary-pink span {
        display: inline-block;
        background: #f93777;
        outline: none;
        color: #fff;
        padding: 15px 50px;
        border: none;
        width: 100%; }
        @media screen and (min-width: 1262px) {
          .bridesmaid .selections button.btn-secondary-pink span {
            width: auto; } }
        .bridesmaid .selections button.btn-secondary-pink span:hover, .bridesmaid .selections button.btn-secondary-pink span:active, .bridesmaid .selections button.btn-secondary-pink spanfocus {
          background: #f60756; }

.add-bridesmaid {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto; }
  .add-bridesmaid__button {
    display: block;
    width: 100%;
    background: white;
    color: #333333;
    border: 1px solid #333333;
    padding: 11px 0; }
    .add-bridesmaid__button:hover, .add-bridesmaid__button:focus, .add-bridesmaid__button:active {
      background: white;
      color: #333333;
      border: 1px solid #c1c1c1; }

.bridal-party {
  display: block;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
  border: 1px solid #eeeeee;
  background: #f8f8f8;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .bridal-party {
      margin: 50px auto; } }
  .bridal-party__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .bridal-party__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 10px;
    margin-left: -5px;
    margin-right: -5px; }
    .bridal-party__members .column {
      width: 50%;
      padding: 10px 5px; }
      @media screen and (min-width: 768px) {
        .bridal-party__members .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .bridal-party__members .column {
          width: 20%; } }
  .bridal-party .name {
    text-align: center;
    margin-bottom: 5px; }
    .bridal-party .name p {
      color: #52535a;
      min-height: 24px; }
  .bridal-party .image {
    display: block;
    margin-bottom: 10px; }
    .bridal-party .image img {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28); }
  .bridal-party .dress-details {
    display: block;
    text-align: center; }
    .bridal-party .dress-details p {
      font-weight: 700;
      font-size: 10px;
      line-height: 14px; }

.chosen-container {
  width: 100% !important; }

.chosen-container-single .chosen-single {
  background: white;
  border-radius: 0;
  padding: 4px 0 4px 8px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .chosen-container-single .chosen-single span {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    padding-left: 10px; }

.chosen-container-single .chosen-single div {
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px; }

.chosen-container-single .chosen-single div b {
  background-image: url('data:image/svg+xml;utf8,<svg width="18px" height="11px" viewBox="0 0 18 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Maids:-Style-Proliferation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Desktop-HD" transform="translate(-882.000000, -939.000000)" fill="#333333"><g id="Concent-2" transform="translate(89.000000, 330.000000)"><g id="Colors" transform="translate(511.000000, 520.000000)"><g id="color-dropdown" transform="translate(20.000000, 70.000000)"><g id="arrow-down" transform="translate(262.000000, 19.000000)"><polygon fill-rule="nonzero" points="9 10.7555556 0.310344828 1.52777778 1.67586207 0.305555556 9 8.06666667 16.3241379 0.305555556 17.6896552 1.52777778"></polygon></g></g></g></g></g></g></svg>') !important;
  background-size: 18px 11px !important;
  background-repeat: no-repeat !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: 0px 2px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.chosen-container .chosen-results li.active-result,
.chosen-container .chosen-results li.disabled-result {
  height: 50px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 36px;
  padding-left: 10px; }
  .chosen-container .chosen-results li.active-result span,
  .chosen-container .chosen-results li.disabled-result span {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 15px; }
    .chosen-container .chosen-results li.active-result span.color-swatch,
    .chosen-container .chosen-results li.disabled-result span.color-swatch {
      border: 2px solid #c1c1c1; }
    .chosen-container .chosen-results li.active-result span.size-swatch,
    .chosen-container .chosen-results li.disabled-result span.size-swatch {
      border: 2px solid #333333;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      width: 40px;
      color: #333333; }

.chosen-container .chosen-results li.disabled-result {
  text-decoration: line-through;
  color: #999999; }

.chosen-container .chosen-results li.highlighted {
  background: #eeeeee;
  color: #333333; }

.chosen-container-single .chosen-drop {
  border-radius: 0; }

.swatch {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px; }
  .swatch.color-swatch {
    border: 2px solid #c1c1c1; }
  .swatch.size-swatch {
    border: 2px solid #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 40px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px; }

main > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
