@charset "utf-8";

/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* Dev: legacy */
.widget_site_popup {
    font-size: 12px;
    background: rgb(255, 255, 255) none repeat scroll 0px 0px;
    border: 2px solid rgb(102, 102, 102);
    box-shadow: 1px 0px 15px rgb(102, 102, 102);
    }
.dijitDialogTitleBar {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}
body {
    margin: 0px;
    padding: 0px;
    color: #4d4d4d;
    font-family: sans-serif;
    line-height: 1.4;
}
#content {
    overflow: hidden;
}
.left_espot {
        position: relative;
        z-index: 0;
}
.row > div {
    float: left;
}
.col12 {
    width: 100%;
}
.contentRecommendationWidget {
    position: relative;
}
.left {
    float: left;
}
.right {
    float: right;
    }
/*@import url("ribbon.css");

@import url("legacy1_1.css");

@import url("gridsystem.css");
@import url("styles.css");
@import url("CMC.css");*/

/** Configurator **/
/*@import url("Configurator.css");*/

/** Original WC Styles Files
@import url("original/common1_1.css");**/

/** CrossView WC Extension Styles Files
@import url("ext/common1_1.ext.css");**/

/** Client Specific WC Extension Styles Files **/
