<style media="screen" type="text/css">.prom-countdown {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 210px;
  height: 120px;
  background: rgba(248, 246, 240, 0.8);
  border: 2px solid rgba(249, 55, 119, 0.8);
  z-index: 999999;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .prom-countdown {
      width: 280px;
      height: 140px;
      bottom: 30%; } }
.prom-countdown__close {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  right: 10px; }
.prom-countdown__close svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: #333; }
.prom-countdown__text {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }
.prom-countdown__text .serif-s {
  margin-top: 5px;
  margin-bottom: 5px; }
</style>
<div class="prom-countdown">
  <div class="prom-countdown__close">
    <a aria-label="Close prom countdown modal" class="prom-countdown__close-btn" href="javascript:void(0);">
      <svg aria-labelledby="promCountdownTitle promCountdownDesc" height="12px" id="Layer_1" role="img" style="enable-background:new -493 495 13.9 12;" version="1.1" viewbox="-493 495 13.9 12" width="13.9px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
        <title id="promCountdownTitle"></title>
        <desc id="promCountdownDesc">This button will close the prom countdown modal</desc>
        <polygon id="XMLID_210_" points="-480.7,495 -485.6,500 -490.6,495 -491.6,496 -486.6,501 -491.6,506 -490.6,507 -485.6,502 -480.7,507 -479.7,506 -484.7,501 -479.7,496 "></polygon>
      </svg>
    </a>
  </div>

  <div class="prom-countdown__text">
    <p class="sans-bold-uppercase">Coming Soon!</p>
    <h4 class="serif-s">prom 2018 collection</h4>
    <p class="sans-s" id="promCountdown">&nbsp;</p>
  </div>
</div>
