<style>
.page-vendor-spots__item img {
  margin-top: 40px !important;
}
</style>

<!-- <script type="text/javascript" src="http://aka-cdn-ns.adtechus.com/dt/common/DAC.js"></script> -->
<script type="text/javascript">
  jQuery(window).on('load', function() {
    $.ajax({
      method: "GET",
      url: "//aka-cdn-ns.adtechus.com/dt/common/DAC.js",
      dataType: "script"
    }).done(function() {

      ADTECH.config.page = {
        server: 'adserver.adtechus.com',
        network: '5245.1'
      };

      // BRIDES_ES_PLP_VENDORPROMO1
      ADTECH.config.placements[3330728] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330728);

      // BRIDES_ES_PLP_VENDORPROMO2
      ADTECH.config.placements[3330727] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330727);

      // BRIDES_ES_PLP_VENDORPROMO3
      ADTECH.config.placements[3330729] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330729);

      // BRIDES_ES_PLP_VENDORPROMO4
      ADTECH.config.placements[3927975] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3927975);

    });
  });
</script>

<!-- Async Tag // Tag for network 5245: David's Bridal, Inc. // Website: David's bridal // Page:  Category Return Bridal Gown // Placement:  Category Return Bridal Gown-Position 1-300 x 250 (3330728) // created at: Oct 3, 2016 9:00:01 AM -->
<div id="3330728">
  <noscript>
    <a href="http://adserver.adtechus.com/adlink|3.0|5245.1|3330728|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" target="_blank">
      <img src="http://adserver.adtechus.com/adserv|3.0|5245.1|3330728|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" border="0" width="300" height="250">
    </a>
  </noscript>
</div>
