<style>
  .page-vendor-spots__item img {
    margin-top: 40px !important;
  }
</style>

<script type="text/javascript">
  jQuery(window).on('load', function() {
    $.ajax({
      method: "GET",
      url: "//aka-cdn-ns.adtechus.com/dt/common/DAC.js",
      dataType: "script"
    }).done(function() {

      ADTECH.config.page = {
        server: 'adserver.adtechus.com',
        network: '5245.1'
      };

      // BRIDESMAIDS_ES_PLP_VENDORPROMO1
      ADTECH.config.placements[3330743] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330743);

      // BRIDESMAIDS_ES_PLP_VENDORPROMO2
      ADTECH.config.placements[3330742] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330742);

      // BRIDESMAIDS_ES_PLP_VENDORPROMO3
      ADTECH.config.placements[3330741] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3330741);

      // BRIDESMAIDS_ES_PLP_VENDORPROMO4
      ADTECH.config.placements[3927973] = {
        sizeid: 170,
        params: {
          alias: '',
          target: '_blank'
        }
      };
      ADTECH.loadAd(3927973);
    });
  });
</script>

<!-- Async Tag // Tag for network 5245: David's Bridal, Inc. // Website: David's bridal // Page: Category Return Bridal Party  // Placement: Category Return Bridal Party -Position 1-300 x 250 (3330743) // created at: Oct 3, 2016 9:00:02 AM -->
<div id="3330743"><noscript><a href="http://adserver.adtechus.com/adlink|3.0|5245.1|3330743|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" target="_blank"><img src="http://adserver.adtechus.com/adserv|3.0|5245.1|3330743|0|170|ADTECH;loc=300;key=key1+key2+key3+key4;alias=" border="0" width="300" height="250"></a></noscript></div>
