<!--
* Change color of Add to Cart Button
* Desktop font-family
* DO NOT REMOVE
-->
<style media="screen">
@media screen and (min-width: 1024px) {
  #add2CartBtn p.sans-bold-uppercase {
    color: #fff;
    background-color: #F93777;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #add2CartBtn p.sans-bold-uppercase span.btn-label {
      color: #fff;
      background-color: #F93777;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #add2CartBtn:hover p.sans-bold-uppercase {
    color: #fff;
    background-color: #c20b64; }
    #add2CartBtn:hover p.sans-bold-uppercase span.btn-label {
      color: #fff;
      background-color: #c20b64; } }
</style>


<style type="text/css">
.es_omnipdp_mid {
  width: 100%;
  background-color: #f93777;
  text-align: center;
  margin: auto;
  padding: 10px; }
.es_omnipdp_mid .serif-m {
  font-family: 'Domaine Display', serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-style: normal; }
.cta_code {
  padding: 0px;
  margin: 5px 0px 0px;
  font-size: 20px;
  line-height: 20px; }
.cta_link {
  color: #ffffff;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none; }
</style>
<div class="es_omnipdp_mid">
  <br>
  <div class="serif-m">Enter to win your gown<br>or up to 5 bridal party dresses!</div>
  <div class="cta_code">
    <a href="/UserRegistrationForm?new=Y&amp;catalogId=10051&amp;myAcctMain=1&amp;myAcctMain=1&amp;langId=&amp;storeId=10052&amp;regSource=" class="cta_link sans-bold-uppercase">SIGN UP NOW&nbsp;&gt;</a>
  </div>
  <br>
</div>


<style media="screen">
.dbcc-pdp-banner {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 20px auto 30px;
  background: #ffd0cc;
  background-image: url("/wcsstore/images/wwcm/espots/pdp/DBCC_Mobile_v2.jpg");
  background-repeat: no-repeat;
  height: 200px; }
  @media screen and (min-width: 1024px) {
    .dbcc-pdp-banner {
      display: block;
      background-image: url("/wcsstore/images/wwcm/espots/pdp/DBCC_Desktop_v2.jpg");
      height: 160px; } }
  .dbcc-pdp-banner a {
    color: #333; }
    .dbcc-pdp-banner a:hover {
      color: #333; }
  .dbcc-pdp-banner__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; }
  .dbcc-pdp-banner__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    right: 0; }
    @media screen and (min-width: 1024px) {
      .dbcc-pdp-banner__text {
        width: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 275px;
        padding-left: 10px;
        padding-right: 10px; } }
  .dbcc-pdp-banner p {
    margin: 0; }
    .dbcc-pdp-banner p.serif-m {
      font-size: 22px; }
    .dbcc-pdp-banner p.sans-m {
      margin-top: 5px; }
</style>
<div class="dbcc-pdp-banner">
  <a href="/Content_Finance_dbiCreditCard">
    <div class="dbcc-pdp-banner__inner">
      <div class="dbcc-pdp-banner__text">
        <p class="serif-m">Take 6 months to pay</p>
        <p class="sans-m">with the David's Bridal Credit&nbsp;Card</p>
      </div>
    </div>
  </a>
</div>
