<section class="inspiration-guidance" data-analytics-tagging="Complete-Your-Day">
  <div class="column-full">

    <div class="section-minor-heading">
      <p class="section-minor-heading__heading serif-s-italic">Complete Your Day</p>
    </div>


    <div class="layout-split-4 spacing article__teaser-list">

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/veils">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/CompleteTheLook_Veils_870x615.jpg" alt="Bride with long flowing veil">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Veils</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/veils">Shop Veils&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/jackets-and-wraps">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/sfg/ig-hub-categorization/I&GModule_870x617_Outerwear.jpg" alt="Closeup of bride wearing a sheer cape over wedding dress">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Outerwear</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/jackets-and-wraps">Shop Outerwear&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/shoes/all-shoes">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/CompleteTheLook_Shoes_870x615.jpg" alt="A pair of metallic high heels">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Shoes</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/shoes/all-shoes">Shop Shoes&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column mobile-mb-split-1">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap" href="/accessories/sashes-and-belts">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/CompleteTheLook_SashesAndBelts_870x615.jpg" alt="Rhinestone Beaded Satin Sash">
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <span class="media-block-content__title serif-m">Sashes &amp; Belts</span>
            </div>
            <p class="sans-bold-uppercase">
              <a class="media-block-content__cta" href="/accessories/sashes-and-belts">Shop Sashes &amp; Belts&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
