<style media="screen">
.few-favorites-carousel {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 10px auto 0;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .few-favorites-carousel {
      margin: 30px auto 0; } }
  .few-favorites-carousel__inner {
    display: block;
    position: relative;
    max-width: 1342px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel__inner {
        display: block; } }
    .few-favorites-carousel__inner--heading {
      padding: 0 0 10px 32px; }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel__inner--heading {
          padding-left: 40px; } }
      .few-favorites-carousel__inner--heading p {
        margin: 0; }
        @media screen and (min-width: 768px) {
          .few-favorites-carousel__inner--heading p {
            padding-bottom: 10px; } }
  .few-favorites-carousel .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 500px) {
      .few-favorites-carousel .slick-container {
        padding-left: 25px;
        padding-right: 25px; } }
    @media screen and (min-width: 768px) {
      .few-favorites-carousel .slick-container {
        padding-left: 35px;
        padding-right: 35px; } }
  .few-favorites-carousel .slick-slide {
    padding: 0 5px;
    visibility: visible; }
  .few-favorites-carousel .few-favorites-carousel-button {
    display: block; }
    .few-favorites-carousel .few-favorites-carousel-button svg {
      width: 20px;
      height: 20px; }
      @media screen and (min-width: 500px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 768px) {
        .few-favorites-carousel .few-favorites-carousel-button svg {
          width: 32px;
          height: 32px; } }
  .few-favorites-carousel .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .few-favorites-carousel .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

</style>

<div class="few-favorites-carousel">
  <div class="few-favorites-carousel__inner">

    <div class="few-favorites-carousel__inner--heading">
      <p class="serif-m-italic">Trending Products</p>
    </div>

    <div class="slick-container">
      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-prev">
        <svg class="few-favorites-carousel-button-prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="39.6,11.5 41.7,13.7 29,25.5 41.7,37.3 39.6,39.5 24.6,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5-5C53.4-5,67,8.7,67,25.5S53.4,56,36.5,56S6,42.4,6,25.5S19.7-5,36.5-5z M36.5,53C51.7,53,64,40.7,64,25.5 S51.7-2,36.5-2S9,10.3,9,25.5S21.3,53,36.5,53z"/>
        </svg>
      </a>

      <div class="few-favorites-carousel__slick" data-slick='{"prevArrow": ".few-favorites-carousel-prev", "nextArrow": ".few-favorites-carousel-next" }'>

        <!-- OW1004 -->
        <div class="slick-slide">
          <a href="/Product_beaded-lace-3-4-sleeve-jacket-ow1004">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-OW1004-10687322-Ivory?$plpproductimgmobile_2up$" alt="Beaded Lace 3/4 Sleeve Jacket">
          </a>
        </div>

        <!-- 60250E -->
        <div class="slick-slide">
          <a href="/Product_filigree-and-crystal-drop-earrings-60250e" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-60250E-10498627-Rose%20Gold?$plpproductimgmobile_2up$" alt="Filigree and Crystal Drop Earrings">
          </a>
        </div>

        <!-- STNRBN -->
        <div class="slick-slide">
          <a href="/Product_classic-satin-1-inch-sash-stnrbn" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-STNRBN-10194978-Apple?$plpproductimgmobile_2up$" alt="Classic Satin 1 inch Sash">
          </a>
        </div>

        <!-- ALINESLIP -->
        <div class="slick-slide">
          <a href="/Product_a-line-silhouette-slip-alineslip" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-ALINESLIP-10495363-White?$plpproductimgmobile_2up$" alt="A-Line Silhouette Slip">
          </a>
        </div>

        <!-- HBCARINA43 -->
        <div class="slick-slide">
        	<a href="/Product_curved-pearl-and-crystal-minaudiere-hbcarina43">
        		<img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-HBCARINA43-10630588-White?$plpproductimgmobile_2up$" alt="Curved Pearl and Crystal Minaudiere">
        	</a>
        </div>

        <!-- 139129HW -->
        <div class="slick-slide">
          <a href="/Product_solitaire-stretch-headband-139129hw" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-139129HW-10811049-Champagne?$plpproductimgmobile_2up$" alt="Solitaire Stretch Headband">
          </a>
        </div>

        <!-- BAY12 -->
        <div class="slick-slide">
          <a href="/Product_dainty-cubic-zirconia-necklace-and-earring-set-bay12" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image//DavidsBridalInc/BAY12_MSILVER_JWLY_PROD3_001?$plpproductimgmobile_2up$" alt="Pear-Shaped Cubic Zirconia Halo Studs">
          </a>
        </div>

        <!-- V384 -->
        <div class="slick-slide">
          <a href="/Product_one-tier-blusher-veil-v384" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-V384-10271361-Ivory?$plpproductimgmobile_2up$" alt="One-Tier Blusher Veil">
          </a>
        </div>

        <!-- 669 -->
        <div class="slick-slide">
          <a href="/Product_chapel-length-veil-with-pencil-edge-669" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-669-2001046-Champagne?$plpproductimgmobile_2up$" alt="Chapel Length Veil with Pencil Edge">
          </a>
        </div>

        <!-- 8950WHITE-->
        <div class="slick-slide">
          <a href="/Product_dominique-white-satin-torsolette-8950white" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/8950_MWHITE_LING_PROD7_R2_029?$plpproductimgmobile_2up$" alt="Dominique White Satin Torsolette">
          </a>
        </div>

        <!-- 51579BDA -->
        <div class="slick-slide">
          <a href="/Product_pear-solitaire-pave-earrings-51579bda" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-51579BDA-10630574-Gold?$plpproductimgmobile_2up$" alt="Pear Solitaire Pave Earrings">
          </a>
        </div>

        <!-- S8148 -->
        <div class="slick-slide">
          <a href="/Product_crystal-floral-wired-sash-s8148" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/S8148_MROSEGOLD_SASH_PROD8_001?$plpproductimgmobile_2up$" alt="Crystal Floral Wired Sash">
          </a>
        </div>

        <!-- OW2003 -->
        <div class="slick-slide">
          <a href="/Product_glitter-minaudiere-with-rose-gold-frame-hbariel" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-HBARIEL-10924538-White?$plpproductimgmobile_2up$" alt="Iridescent Glitter Minaudiere">
          </a>
        </div>

        <!-- 850 -->
        <div class="slick-slide">
          <a href="/Product_one-tier-tulle-fingertip-veil-with-pencil-edge-850" onclick="(ga('send', 'event', 'Accessories Landing', 'Monetate', 'Trending Products'))">
            <img src="http://img.davidsbridal.com/is/image/DavidsBridalInc/Set-850-10103795-Champagne?$plpproductimgmobile_2up$" alt="One Tier Tulle Fingertip Veil with Pencil Edge">
          </a>
        </div>

      </div>

      <a href="#" class="few-favorites-carousel-button few-favorites-carousel-next">
        <svg class="few-favorites-carousel-button-next" version="1.1" id="arrow-right-gray-dk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="62px" height="62px" viewBox="5.5 -5.5 62 62" style="enable-background:new 5.5 -5.5 62 62;" xml:space="preserve">
          <polygon class="few-favorites-carousel-buttons-fill" points="33.4,39.5 31.4,37.3 44.1,25.5 31.4,13.7 33.4,11.5 48.5,25.5 "/>
          <path class="few-favorites-carousel-buttons-fill" d="M36.5,56C19.7,56,6,42.4,6,25.5S19.7-5,36.5-5S67,8.7,67,25.5S53.4,56,36.5,56z M36.5-2C21.3-2,9,10.3,9,25.5 S21.3,53,36.5,53S64,40.7,64,25.5S51.7-2,36.5-2z"/>
        </svg>
      </a>
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  const fewFavoritesCarousel = $('.few-favorites-carousel__slick');
  fewFavoritesCarousel.slick({
    autoplay: false,
    slidesToShow: 6,
    variableWidth: true,
    infinite: true,
    centerMode: false,
    dots: false
  });
  $('.few-favorites-carousel-button').on("click", function(event){
    event.preventDefault();
  });

  function resizeCarousel(a, b) {
    var slides = $('.few-favorites-carousel .slick-slide');
    if(a < 600) {
      slides.width((b / 2) - 10);
    } else if (a < 768) {
      slides.width((b / 3) - 10);
    } else if (a < 1024) {
      slides.width((b / 4) - 10);
    } else {
      slides.width((b / 6) - 10);
    }
  }

  var windowWidth = $(window).width();
  var carouselWidth = fewFavoritesCarousel.width();
  resizeCarousel(windowWidth, carouselWidth);

  $(window).resize(function(){
    var windowWidthResize = $(window).width();
    var carouselWidthResize = fewFavoritesCarousel.width();
    resizeCarousel(windowWidthResize, carouselWidthResize);
  });
});
</script>
