<section class="espot-container three-across" data-analytics-tagging="BeltsSashes-OuterwearGuide-HairAccessories">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

    <div class="flex-container">

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/dresses/mother-of-the-bride-dresses">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/MotherOfTheBride_767x1150.jpg" alt="Mock Two Piece Lace and Jersey Pant Suit" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Mother of the Bride</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/dresses/mother-of-the-bride-dresses">Shop Mother of the Bride&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/accessories/shapewear-and-slips">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/SlipsShapewear_767x1150.jpg" alt="Parfait Elissa Low-Back Bustier" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Slips &amp; Shapewear</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/accessories/shapewear-and-slips">Shop Slips &amp; Shapewear&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="media-block default spacing">
          <a class="media-block-img-wrap " href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">
            <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/plus-size/Spanx_vertical_refresh.jpg" alt="Bride and bridesmaid in Spanx" />
          </a>
          <div class="media-block-content spacing-half">
            <div class="spacing-half">
              <h3 class="media-block-content__title serif-m">Shapewear Guide</h3>
            </div>
            <p class="cta_space">
              <a class="media-block-content__cta sans-bold-uppercase" href="/Content_StyleandFashionGuide_styleguideenhanceyourshape">What Goes Under the Dress&nbsp;&gt;</a>
            </p>
          </div>
        </div>
      </div>

  </div>
</section>
