<style media="screen">
.win-your-gown {
  position: relative;
  background: #ea768a;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  padding: 30px 10px; }
  @media screen and (min-width: 768px) {
    .win-your-gown {
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media screen and (min-width: 1024px) {
    .win-your-gown {
      background-image: url("/wcsstore/images/wwcm/homepage/win_your_wedding_banner_v2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      height: 200px;
      outline: none;
      border: none;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .win-your-gown__text {
      position: absolute;
      left: 25%;
      right: 0%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center; } }
  .win-your-gown p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .win-your-gown p.serif-l-italic {
    color: #fff; }
  .win-your-gown .sans-bold-uppercase a {
    color: #fff; }
    .win-your-gown .sans-bold-uppercase a:hover, .win-your-gown .sans-bold-uppercase a:active, .win-your-gown .sans-bold-uppercase a:focus {
      color: #c1c1c1; }
</style>


<section class="espot-container" data-analytics-tagging="Designer">
  <div class="win-your-gown">
    <div class="win-your-gown__text">
      <p class="serif-l-italic">Win your wedding gown or 5 bridesmaid&nbsp;dresses</p>
      <p class="sans-bold-uppercase">
        <a href="/UserRegistrationForm?new=Y&catalogId=10051&myAcctMain=1&myAcctMain=1&langId=-1&storeId=10052&regSource=">Enter Now&nbsp;&gt;</a>
      </p>
    </div>
  </div>
</section>
