.ctnr-maincontent .row {
  margin: 0 auto; }

.hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: -5px; }
  .hero a {
    text-decoration: none; }
  .hero .column_full {
    margin-left: -5px;
    margin-right: -5px; }
  .hero .object-fit_fill {
    -o-object-fit: fill;
       object-fit: fill; }
  .hero .object-fit_contain {
    -o-object-fit: contain;
       object-fit: contain; }
  .hero .object-fit_cover {
    -o-object-fit: cover;
       object-fit: cover; }
  .hero .object-fit_none {
    -o-object-fit: none;
       object-fit: none; }
  .hero .object-fit_scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down; }
  .hero img[class] {
    width: 100%; }
  .hero .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .hero .flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .hero .flex__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .hero .flex__row {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          .hero .flex__row:first-child {
            width: 37.5%; } }
    @media screen and (min-width: 768px) and (min-width: 768px) {
      .hero .flex__row:first-child {
        width: 54.498714653%; } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .hero .flex__row:first-child {
        width: 36.9%; } }
      @media screen and (min-width: 768px) {
          .hero .flex__row:last-child {
            width: 62.5%; } }
    @media screen and (min-width: 768px) and (min-width: 768px) {
      .hero .flex__row:last-child {
        width: 45.501285347%; } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .hero .flex__row:last-child {
        width: 63.1%; } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .hero .flex__row:last-child .flex__cell:first-child {
        width: 58.308751229105%; } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .hero .flex__row:last-child .flex__cell:nth-child(2) {
        width: 41.691248770895%; } }
      @media screen and (min-width: 768px) {
          .hero .flex__row:last-of-type {
            -ms-flex-flow: wrap;
                flex-flow: wrap; } }
    .hero .flex__cell {
      background: rgba(0, 255, 0, 0.1);
      border: 1px solid rgba(0, 255, 0, 0.4);
      display: block;
      position: relative;
      padding: 5px;
      width: 100%; }
      .hero .flex__cell-img {
        display: block;
        position: relative;
        padding-left: 10px;
        padding-right: 10px; }
        .hero .flex__cell-img.full-width {
          padding-left: 0 !important;
          padding-right: 0 !important; }
        @media screen and (min-width: 768px) {
          .hero .flex__cell-img {
            padding-left: 0;
            padding-right: 0; } }
      .hero .flex__cell-overlay {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px 0 5px 5px;
        background: rgba(248, 246, 240, 0.85); }
        @media screen and (min-width: 768px) {
          .hero .flex__cell-overlay {
            margin-left: 5px;
            margin-right: 5px;
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            bottom: 5px;
            padding: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: white; }
            .hero .flex__cell-overlay:hover, .hero .flex__cell-overlay:active, .hero .flex__cell-overlay:focus {
              opacity: 1; } }
        .hero .flex__cell-overlay.lead {
          margin-left: 0;
          margin-right: 0;
          padding-left: 15px; }
          @media screen and (min-width: 768px) {
            .hero .flex__cell-overlay.lead {
              margin-left: 5px;
              margin-right: 5px;
              padding-left: 0; } }
    @media screen and (min-width: 768px) {
      .hero .flex .row-2 {
        margin: 0; } }
    @media screen and (min-width: 768px) {
      .hero .flex .col-2 {
        margin: 0; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .hero .sans-l {
      font-size: 18px;
      line-height: 24px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .hero .btn-primary a:hover, .hero .btn-primary a:active, .hero .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .hero .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary a {
          padding: 11px 50px; } }
  .hero__bottom-cover {
    display: none; }
    @media screen and (min-width: 1024px) {
      .hero__bottom-cover {
        display: block;
        position: absolute;
        bottom: 0;
        background: white;
        width: 100%;
        height: 6px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }
