.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  min-height: 400px;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: -5px; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1024px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1024px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      display: inline-block;
      padding: 11px 14px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary afocus {
        border: 1px solid #eeeeee; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary a {
          padding: 9px 14px; } }
  .hero .flex__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .hero .flex__column {
    display: block;
    position: relative;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .hero .flex__column:nth-child(1) {
        width: 54.4%; }
      .hero .flex__column:nth-child(2) {
        width: 45.6%; }
      .hero .flex__column:nth-child(3) {
        width: 100%; } }
    @media screen and (min-width: 1024px) {
      .hero .flex__column:nth-child(1) {
        width: 36%; }
      .hero .flex__column:nth-child(2) {
        width: 50%; }
        .hero .flex__column:nth-child(2) .flex__item:first-child {
          width: 58.2%; }
        .hero .flex__column:nth-child(2) .flex__item:last-child {
          width: 41.8%; }
      .hero .flex__column:nth-child(3) {
        width: 50%; } }
  .hero .flex__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (min-width: 768px) {
      .hero .flex__inner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (min-width: 1024px) {
      .hero .flex__inner {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
  .hero .flex__item {
    display: block;
    position: relative;
    width: 100%; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none !important; } }
