.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  min-height: 400px;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: -5px; }
  .hero a {
    text-decoration: none; }
  .hero figure {
    margin: 0;
    padding: 0; }
  .hero img {
    width: 100%; }
  .hero .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 36px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .serif-xl {
        font-size: 26px; } }
    @media screen and (min-width: 1024px) {
      .hero .serif-xl {
        font-size: 36px; } }
  .hero .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .hero .sans-l {
        font-size: 13px;
        line-height: 18px; } }
    @media screen and (min-width: 1024px) {
      .hero .sans-l {
        font-size: 15px;
        line-height: 20px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      display: inline-block;
      padding: 11px 14px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary afocus {
        border: 1px solid #eeeeee; }
      @media screen and (min-width: 768px) {
        .hero .btn-secondary a {
          padding: 9px 14px; } }
  .hero__grid {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.4);
    width: 100%;
    max-width: 1600px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto); }
    @media screen and (min-width: 768px) {
      .hero__grid {
        grid-gap: 5px;
        -ms-grid-columns: 54.3905635649% 5px 45.6094364351%;
        -ms-grid-rows: 27.2174969623% 5px 38.1530984204% 5px 34.6294046173%;
        grid-template-columns: 54.0364583333% 45.3125%;
        grid-template-rows: repeat(3, auto); } }
    @media screen and (min-width: 1024px) {
      .hero__grid {
        grid-gap: 10px;
        -ms-grid-columns: 36.4375% 10px 36.4375% 10px 25.875%;
        -ms-grid-rows: 1fr 10px 1fr;
        grid-template-columns: repeat(2, 36.4375%) 25.875%;
        grid-template-rows: repeat(2, auto); } }
    .hero__grid--item {
      background: #444;
      display: block;
      position: relative;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .hero__grid--item {
          margin-bottom: 0; } }
    .hero__grid .image-a {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 1;
      grid-row: 1 / 1; }
      @media screen and (min-width: 768px) {
        .hero__grid .image-a {
          -ms-grid-row: 1;
          -ms-grid-row-span: 3;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          grid-column: 1 / 2;
          grid-row: 1 / 3; } }
      @media screen and (min-width: 1024px) {
        .hero__grid .image-a {
          -ms-grid-row: 1;
          -ms-grid-row-span: 3;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          grid-column: 1 / 1;
          grid-row: 1 / 3; } }
    .hero__grid .image-b {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1; }
      @media screen and (min-width: 768px) {
        .hero__grid .image-b {
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          -ms-grid-column: 3;
          -ms-grid-column-span: 1;
          grid-column: 2 / 3;
          grid-row: 1 / 2; } }
      @media screen and (min-width: 1024px) {
        .hero__grid .image-b {
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          -ms-grid-column: 3;
          grid-column: 2 / 3;
          grid-row: 2 / 1; } }
    .hero__grid .image-c {
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1; }
      @media screen and (min-width: 768px) {
        .hero__grid .image-c {
          -ms-grid-row: 3;
          -ms-grid-row-span: 1;
          -ms-grid-column: 3;
          -ms-grid-column-span: 1;
          grid-column: 2 / 3;
          grid-row: 2 / 3; } }
      @media screen and (min-width: 1024px) {
        .hero__grid .image-c {
          -ms-grid-row: 1;
          -ms-grid-column: 5;
          grid-column: 3 / 4;
          grid-row: 1 / 1; } }
    .hero__grid .image-d {
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1; }
      @media screen and (min-width: 768px) {
        .hero__grid .image-d {
          -ms-grid-row: 5;
          -ms-grid-row-span: 1;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          grid-column: 1 / 3;
          grid-row: 3 / 4; } }
      @media screen and (min-width: 1024px) {
        .hero__grid .image-d {
          -ms-grid-column: 3;
          -ms-grid-column-span: 3;
          -ms-grid-row: 3;
          grid-column: 2 / 4;
          grid-row: 2; } }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
