.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  padding: 15px 0;
  padding-bottom: 20px;
  @media screen and (min-width: $breakpoint-lg) {
    padding-bottom: 30px;
  }

  p {
    margin: 0;
  }
}
