.db-prom {
  //@include red-bg();
  display: block;
  position: relative;
  clear: both;
  margin: 50px auto 0;

  &__heading {
    padding-left: 0;
    h3,
    p {
      @media screen and (min-width: $breakpoint-md) {
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    &-cta {
      @media screen and (min-width: $breakpoint-md) {
        margin-left: 10px;
      }
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 16.66667%;
      }
    }
  }

}
