.grid {
  //@include green-bg();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  transition: all 0.5s ease;
  z-index: 1;

  &.reverse {
    flex-direction: row-reverse;
  }


  .column {
    //@include red-bg();
    display: block;
    width: 100%;
    padding: 0 5px 0;
  }


  &-split-1-2 {
    .column {
      width: 100%;
      padding: 15px 5px 0;
      &:not(:last-child) {
        padding-bottom: 5px;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        padding: 15px 5px 0;
        &:not(:last-child) {
          padding-bottom: 25px;
        }
      }
    }
  }




  &-split-1-3 {
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 15px;
    }

    .column {
      width: 100%;
      padding-bottom: 15px;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.3333%;
        &:not(:last-child) {
          padding-bottom: 15px;
        }
      }
    }
  }




  &-split-1-4 {
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 15px;
    }

    .column {
      width: 100%;
      padding-bottom: 15px;
      @media screen and (min-width: $breakpoint-md) {
        width: 25%;
        &:not(:last-child) {
          padding-bottom: 15px;
        }
      }
    }
  }




  &__spotlight {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 50px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 35px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 25px;
    }

    .media-block {
      position: relative;
    }
    .column {
      padding: 0 5px 0;
      @media screen and (min-width: $breakpoint-lg) {
        padding: 0 15px 15px;
      }

      &:first-child {

        .media-block-img-wrap {
          display: block;
          position: relative;
          margin-bottom: 10px;
          @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 0;
          }
          &::after {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.8) 100%);
            @media screen and (min-width: $breakpoint-md) {
              display: none;
            }
          }
        }

        .media-block-content {
          position: absolute;
          bottom: 15px;
          left: 15px;
          right: 15px;
          text-align: center;
          @media screen and (min-width: $breakpoint-md) {
            position: relative;
            text-align: left;
            left: initial;
            right: initial;
            bottom: initial;
          }
          &__title {
            color: #fff;
            @media screen and (min-width: $breakpoint-md) {
              color: #333;
            }
          }
        }
        p.sans-bold-uppercase {
          display: none;
          @media screen and (min-width: $breakpoint-md) {
            display: block;
          }
        }
        p.btn {
          margin-top: 10px;
          display: block;
          @media screen and (min-width: $breakpoint-md) {
            display: none;
            margin-top: 0;
          }
          &-secondary a {
            display: block;
            width: 100%;
          }
        }
      }
      &:last-child {
        .media-block {
          //@include blue-bg();
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          &:not(:last-child) {
            padding-bottom: 10px;
            @media screen and (min-width: $breakpoint-md) {
              padding-bottom: 0;
            }
          }
          &-img-wrap {
            width: 45%;
            padding-right: 5px;
            padding-bottom: 0;
            padding-top: 5px;
            @media screen and (min-width: $breakpoint-md) {
              width: 100%;
              padding-bottom: 0;
              padding-top: 0;
              padding-right: 0;
            }
          }
          &-content {
            width: 55%;
            margin-top: 5px;
            padding-left: 5px;
            @media screen and (min-width: $breakpoint-md) {
              width: 100%;
              padding-left: 0;
              margin-top: 12px;
            }
            @media screen and (min-width: $breakpoint-lg) {
              margin-top: 19px;
            }
          }
          .serif-m {
            font-size: 16px;
            line-height: 20px;
            @media screen and (min-width: $breakpoint-lg) {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }

      @media screen and (min-width: $breakpoint-md) {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          & > * + * {
            display: block;
            width: 100%;
            &:last-child {
              margin-top: auto;
            }
          }
        }
      }

      @media screen and (min-width: $breakpoint-lg) {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
        }
      }

    }
  }


}


.media-block-content__cta {
  display: inline-block;
  &:not(:first-child) {
    margin-left: 10px;
  }
  @media screen and (min-width: $breakpoint-md) {
    display: block;
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 5px;
    }
  }
  @media screen and (min-width: 1262px) {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 15px;
      margin-top: 0;
    }
  }
}

/* IE11 Fix */
@media screen and (min-width: 768px) {
  html.no-smil .grid__spotlight .column:last-child {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
