.jumbotron {
  clear: both;
  display: block;
  position: relative;
  max-width: 1600px;

  &__img {
    background: #ccc;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    z-index: 0;

    // MAIN HUB
    background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/767_MobileHero_MainHub.jpg');
    @media screen and (min-width: $breakpoint-md) {
      background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/MainHub_IG_Tablet_Hero.jpg');
      background-position: 85% 0;
    }
    @media screen and (min-width: $breakpoint-lg) {
      background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/main-hub/MainHub_IG_Desktop_Hero.jpg');
      background-position: 60% 0;
    }

    &.summer-weddings {
      background-image: url('/wcsstore/images/wwcm/sfg/summer-weddings/1804032_Summer_Wedding_HUB_IG_Tablet_Hero.jpg');
      background-position: right;
      @media screen and (min-width: $breakpoint-md) {
        background-position: 85% 0;
      }
      @media screen and (min-width: $breakpoint-lg) {
        background-image: url('/wcsstore/images/wwcm/sfg/summer-weddings/1804032_Summer_Wedding_HUB_IG_Desktop_Hero.jpg');
        background-position: 60% 0;
      }
    }

    // COMPLETING YOUR DAY
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/completing-your-day/767_MobileHero_CompleteDay.jpg');
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/completing-your-day/CompleteYourDay_Hero_1600x250.jpg');
    //   background-position: 10% 0%;
    // }

    // COMPLETING YOUR LOOK
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/completing-your-look/CompleteYourLook_IG_Tablet_Hero.jpg');
    // background-position: 0% 0%;
    // @media screen and (min-width: $breakpoint-lg) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/completing-your-look/CompletingYourLook_Hero_1600x250.jpg');
    //   background-position: 10% 0%;
    // }

    // PROM
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/prom/PromHub_Hero_1600x250.jpg');
    // background-position: 100% 0%;

    // REAL WEDDINGS
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/real-weddings/767_MobileHero_RealWeddings.jpg');
    // background-position: 12% 0%;
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/real-weddings/RealWeddings_IG_Tablet_Hero.jpg');
    //   background-position: 0% 0%;
    // }
    // @media screen and (min-width: $breakpoint-lg) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/real-weddings/RealWeddingHub_Hero_1600x250.jpg');
    // }

    // SPECIAL OCCASIONS
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/special-occasions/767_MobileHero_Occasion.jpg');
    // background-position: 12% 0%;
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/special-occasions/SpecialOccasionsHub_Hero_1600x250.jpg');
    // }

    // WEDDING COLORS
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-colors/767_MobileHero_Color.jpg');
    // background-position: 12% 0%;
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-colors/WeddingColors_IG_Tablet_Hero.jpg');
    // }
    // @media screen and (min-width: $breakpoint-lg) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-colors/WeddingColorsHub_Hero_1600x250.jpg');
    //   background-position: 10% 0%;
    // }

    // WEDDING DRESSES
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-dresses/767_MobileHero_WeddingDresses101.jpg');
    // background-position: 15% 0%;
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-dresses/Dresses101_IG_Tablet_Hero.jpg');
    //   background-position: center;
    // }
    // @media screen and (min-width: $breakpoint-lg) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-dresses/WeddingDresses101_Hero_1600x250.jpg');
    //   background-position: 35% 0%;
    // }

    // WEDDING PLANNING
    // background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-planning/767_MobileHero_WeddingPlanning.jpg');
    // background-position: 5% 0%;
    // @media screen and (min-width: $breakpoint-md) {
    //   background-image: url('/wcsstore/images/wwcm/sfg/ig-hub-categorization/wedding-planning/WeddingPlanningHub_Hero_1600x250.jpg');
    // }


  }

  &__text {
    background: rgba(248, 246, 240, 0.8);
    position: absolute;
    padding: 20px 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease;
    @media screen and (min-width: $breakpoint-lg) {
      bottom: initial;
      left: initial;
      right: initial;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 580px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-svg {
      //@include green-bg();
      display: block;
      margin: 0 auto;
      max-width: 320px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 480px;
        padding-left: 0px;
        padding-right: 0px;
      }

      & svg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    h1,
    p {
      display: block;
      width: 100%;
    }
    p {
      margin-bottom: 0;
    }
  }

} // .jumbotron
