.section-minor-heading {
  //@include blue-bg();
  border-bottom: rgba(0,0,0,.1) 1px solid;
  margin-top: -24px;
  margin-bottom: 15px;
  z-index: 0;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: -27px;
    margin-bottom: 20px;
  }
}

.section-minor-heading .section-minor-heading__heading {
  display: inline-block;
  padding: 0 10px 3px 0;
  background: rgba(255, 255, 255, 1);
  bottom: -24px;
  position: relative;
  @media screen and (min-width: $breakpoint-md) {
    bottom: -27px;
  }
}
