.margin {
  &-top {
    &-10 {
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 10px;
      }
    }
    &-20 {
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 20px;
      }
    }
    &-30 {
      @media screen and (min-width: $breakpoint-md) {
        margin-top: 30px;
      }
    }
  }
}
