
// ========================================================
// Utilities
// ========================================================
@import "../../variables";
@import "../../mixins";

@import "../../resets";


// ========================================================
// Base
// ========================================================
@import "base";


// ========================================================
// Layout
// ========================================================
@import "grid";
@import "spacing";


// ========================================================
// Modules
// ========================================================
@import "jumbotron";
@import "breadcrumb";
@import "section-heading";
@import "inspiration-guidance";
@import "db-prom";


.sitemap-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  .btn {
    width: 100%;
    max-width: 400px;
    &-secondary a {
      font-size: 11px;
      width: 100%;
      max-width: 400px;
      @media screen and (min-width: 1024px) {
        font-size: 12px;
      }
    }
  }
}