#page .header_wrapper_position {
  padding-bottom: 0; }

.rowContainer .row {
  margin: 0; }

.walk-in-toppromo {
  display: block;
  position: relative;
  background: #f1cfc3;
  height: 200px;
  max-width: 1600px;
  width: 100%;
  margin: -15px auto 20px; }
  @media screen and (min-width: 768px) {
    .walk-in-toppromo {
      height: 150px;
      margin: 15px auto 20px; } }
  .walk-in-toppromo a {
    text-decoration: none; }
  .walk-in-toppromo p {
    color: #333;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .walk-in-toppromo .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    min-width: 180px; }
    .walk-in-toppromo .btn-secondary a {
      background-color: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333333;
      display: inline-block;
      outline: none;
      padding: 14px 14px;
      width: auto;
      min-width: 180px; }
      .walk-in-toppromo .btn-secondary a:hover, .walk-in-toppromo .btn-secondary a:active, .walk-in-toppromo .btn-secondary a:focus {
        border: 1px solid #eeeeee; }
  .walk-in-toppromo__text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center; }
  .walk-in-toppromo__storefront {
    width: 40%;
    padding: 10px;
    max-width: 160px; }
    @media screen and (min-width: 768px) {
      .walk-in-toppromo__storefront {
        width: 100%;
        padding: 0;
        padding-left: 10px; } }
    .walk-in-toppromo__storefront svg {
      display: block;
      width: 100%; }
  .walk-in-toppromo__message {
    width: 60%;
    padding: 10px;
    max-width: 260px;
    display: block; }
    @media screen and (min-width: 500px) {
      .walk-in-toppromo__message {
        margin-left: 50px; } }
    @media screen and (min-width: 768px) {
      .walk-in-toppromo__message {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
        max-width: 100%;
        width: auto; } }
    @media screen and (min-width: 1024px) {
      .walk-in-toppromo__message {
        width: auto;
        margin-left: 30px; } }
    @media screen and (min-width: 1262px) {
      .walk-in-toppromo__message {
        margin-left: 60px; } }
    .walk-in-toppromo__message img {
      margin-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .walk-in-toppromo__message img {
          margin-right: 30px;
          margin-bottom: 0; } }
    @media screen and (min-width: 1024px) {
      .walk-in-toppromo__message p.sans-l {
        margin-top: 4px; } }
    @media screen and (min-width: 1024px) {
      .walk-in-toppromo__message-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .walk-in-toppromo__message .sans-bold-uppercase {
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .walk-in-toppromo__message .sans-bold-uppercase {
          margin-top: 0; } }
    .walk-in-toppromo__message .btn {
      margin-top: 20px; }
      @media screen and (min-width: 768px) {
        .walk-in-toppromo__message .btn {
          margin: 0;
          margin-left: 40px; } }
      @media screen and (min-width: 1262px) {
        .walk-in-toppromo__message .btn {
          margin-left: 80px; } }

html.no-smil .walk-in-toppromo__message .btn {
  margin-top: 70px; }
  @media screen and (min-width: 768px) {
    html.no-smil .walk-in-toppromo__message .btn {
      margin: 0; } }
