.prom-sweeps-banner {
  display: block;
  position: relative;
  max-width: 1252px;
  margin: 30px auto;
  height: 200px;

  &__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__bg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #26040d;
    background-image: url('/wcsstore/images/wwcm/categorylandingpages/spring2018/prom/Prom-2K18-Sweeps_767x200.jpg');
    background-position: right;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      background-image: url('/wcsstore/images/wwcm/categorylandingpages/spring2018/prom/Prom-2K18-Sweeps_1600x200.jpg');
    }
  }


  &__text {
    //background: green;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    @media screen and (min-width: 768px) {
      width: 400px;
      left: calc(50% - 300px);
      right: initial;
    }


    p {
      display: block;
      margin: 0;
      color: #fff;
      &.serif-xl {
        margin-bottom: 10px;
      }
      &.sans-m {
        margin-bottom: 15px;
      }
    }
  }

  .btn {
    font-family: "Open Sans", "Helvetica Neue",Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 240px;
    &-secondary a {
      display: inline-block;
      padding: 11px 32px;
      border: 1px solid #727278;
      color: #333;;
      background-color: #fff;
      outline: none;
      width: 240px;
      &:hover,
      &:active,
      &focus {
        border: 1px solid #e0e0e7;
      }
    }
  }

}
