.content-page {

  .text-box {
    display: block;
    position: relative;
    text-align: center;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    @media screen and (min-width: $breakpoint-lg) {
      margin-left: auto;
      margin-right: auto;
    }

    &.pink {
      background: #f4d8d8;
    }

    p {
      margin-bottom: 0;
      a.inline-link {
        font-weight: 400;
        color: $purple-gray;
        text-decoration: underline;
        &:hover,
        &:active {
          color: $black;
        }
      }
    }
  }

  .main-text {
    padding-top: 10px;

    ul {
      list-style: none;
      padding: 0;
      li {
        a {
          display: block;
          color: $purple-gray;
          text-decoration: underline;
          &:hover,
          &:active {
            color: $black;
          }
        }
      }
    }

    .btn {
      margin-top: 20px;
      display: inline-block;
      @media screen and (min-width: $breakpoint-md) {
        width: 300px;
      }
      &-secondary {
        a {
          display: block;
          padding: 11px 50px;
          @media screen and (min-width: $breakpoint-md) {
            width: 300px;
          }
        }
      }
    }

    p.sans-bold-uppercase {
      margin-top: 20px;
    }
  }

} // .content-page
