/**
*
* Layout: Two-Column
*
**/

.two-column {
  display: flex;
  flex-direction: row;            // default: row
  flex-wrap: wrap;                // default: nowrap
  justify-content: flex-start;    // default: flex-start
  align-items: stretch;           // default: stretch
  align-content: stretch;         // default: stretch
  max-width: $container-max-width;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
  }


  &.split-4-5 {

    & > .column {
      width: 100%;
      padding: 10px;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint-md) {
        padding: 0 10px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin: 0 10px;
      }

      &:first-child {
        margin-left: 0;
        //background: rgba(255, 0, 0, 0.1);
      }
      &:last-child {
        margin-right: 0;
        //background: rgba(0, 255, 0, 0.1);
        @media screen and (min-width: $breakpoint-lg) {
          max-width: 353px;
        }
      }
    } // .column

  } // .split-4-5



  .two-column {
    display: flex;
    flex-direction: row;            // default: row
    flex-wrap: wrap;                // default: nowrap
    justify-content: flex-start;    // default: flex-start
    align-items: stretch;           // default: stretch
    align-content: stretch;         // default: stretch
    max-width: $container-max-width;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }

    .column {
      width: 100%;
      padding: 5px 0;
      //border: 1px solid black;


      &:last-child {
        @media screen and (min-width: $breakpoint-md) {
          padding-left: 20px;
          padding-right: 10px;
        }
        @media screen and (min-width: $breakpoint-xl) {
          padding-right: 30px;
        }
      }

    }
  } // .two-column



} // .two-column
