.sample-sale-banner {
  display: block;
  position: relative;
  max-width: 1262px;
  margin-top: -10px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border: 2px solid #f0d060;
  text-align: center;
  padding: 20px 10px; }
  @media screen and (min-width: 768px) {
    .sample-sale-banner {
      margin-top: 25px; } }
  .sample-sale-banner p + p {
    margin: 0; }
  .sample-sale-banner img {
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto; }
  .sample-sale-banner a {
    color: #333; }
    .sample-sale-banner a:hover {
      color: #333 !important; }
  .sample-sale-banner__text {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sample-sale-banner__text-message {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media screen and (min-width: 768px) {
        .sample-sale-banner__text-message {
          margin-top: 15px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
    .sample-sale-banner__text-cta {
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .sample-sale-banner__text-cta {
          margin-top: 15px; } }
  .sample-sale-banner .serif-s-italic {
    font-size: 24px;
    line-height: 28px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .sample-sale-banner .serif-s-italic:last-child {
        font-size: 18px;
        line-height: 22px; } }
    @media screen and (min-width: 768px) {
      .sample-sale-banner .serif-s-italic {
        padding-right: 10px;
        padding-left: 5px; }
        .sample-sale-banner .serif-s-italic:not(:last-child)::after {
          display: block;
          position: absolute;
          content: "";
          border-right: 1px solid #333;
          height: 100%;
          top: 0;
          right: 0; } }
  @media screen and (max-width: 767px) {
    .sample-sale-banner .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .sample-sale-banner .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .sample-sale-banner .lg-hidden {
      display: none !important; } }
