.sample-sale-banner {
  display: block;
  position: relative;
  max-width: 1262px;
  margin-top: -10px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border: 2px solid #f0d060;
  text-align: center;
  padding: 20px 10px;
  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }

  p + p {
    margin: 0;
  }

  img {
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto;
  }

  a {
    color: #333;
    &:hover {
      color: #333 !important;
    }
  }

  &__text {
    //background: rgba(red, 0.1);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-message {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: 768px) {
        margin-top: 15px;
        flex-direction: row;
      }
    }

    &-cta {
      margin-top: 10px;
      @media screen and (min-width: 768px) {
        margin-top: 15px;
      }
    }
  }

  .serif-s-italic {
    font-size: 24px;
    line-height: 28px;
    position: relative;
    @media screen and (max-width: 767px) {
      &:last-child {
        font-size: 18px;
        line-height: 22px;
      }
    }
    @media screen and (min-width: 768px) {
      padding-right: 10px;
      padding-left: 5px;
      &:not(:last-child) {
        &::after {
          display: block;
          position: absolute;
          content: "";
          border-right: 1px solid #333;
          height: 100%;
          top: 0;
          right: 0;
        }
      }
    }
  }







  // ==========================================================================
  // VISIBILITY
  // ==========================================================================
  .sm-hidden {
    @media screen and (max-width: 767px) {
      display: none !important;
    }
  }

  .md-hidden {
    @media screen and (min-width: 768px) and (max-width: (1023px)) {
      display: none !important;
    }
  }

  .lg-hidden {
    @media screen and (min-width: 1024px) {
      display: none !important;
    }
  }

}
