html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px; }
  .content-page .container-full {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .img-circle {
    border-radius: 50%; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.flex-1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  .flex-1-2 .column {
    display: block; }
    .flex-1-2 .column:first-child {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .flex-1-2 .column:first-child {
          width: 33.3333%; } }
    .flex-1-2 .column:nth-child(2), .flex-1-2 .column:nth-child(3) {
      width: 50%; }
      @media screen and (min-width: 768px) {
        .flex-1-2 .column:nth-child(2), .flex-1-2 .column:nth-child(3) {
          width: 33.3333%; } }

.quote-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  max-width: 1600px;
  margin: 0 auto; }
  .quote-video .column {
    margin: 0;
    padding: 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .quote-video .column {
        width: 50%; } }
  .quote-video__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0; }
    @media screen and (min-width: 768px) {
      .quote-video__video {
        padding-bottom: 98.7468671679%; } }
    .quote-video__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.hero {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both; }
  .hero .breadcrumbs {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    max-width: 1262px; }
    @media screen and (min-width: 1262px) {
      .hero .breadcrumbs {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
    .hero .breadcrumbs a {
      color: #fff; }
      .hero .breadcrumbs a:hover {
        color: #c1c1c1; }
  .hero__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    .hero__flex .column {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .hero__flex .column:first-child {
          width: 33.33333%; }
        .hero__flex .column:last-child {
          width: 66.66667%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -ms-flex-line-pack: stretch;
              align-content: stretch;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
  .hero__logo {
    display: block;
    text-align: center;
    margin-left: -50px;
    margin-right: -50px; }
    @media screen and (min-width: 768px) {
      .hero__logo {
        -ms-flex-item-align: end;
            align-self: flex-end;
        width: 100%;
        margin-left: auto;
        margin-right: auto; } }
    .hero__logo img {
      display: block;
      margin: 0 auto;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .hero__logo img {
          max-width: 100%; } }
  .hero__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0; }
    @media screen and (min-width: 768px) {
      .hero__video {
        -ms-flex-item-align: end;
            align-self: flex-end;
        padding-bottom: 63.28125%; } }
    .hero__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.appointment-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  clear: both;
  text-align: center;
  padding: 20px; }
  @media screen and (min-width: 1100px) {
    .appointment-banner {
      padding: 15px 0; } }
  .appointment-banner .sans-bold-uppercase a {
    color: #fff !important; }
    .appointment-banner .sans-bold-uppercase a:hover, .appointment-banner .sans-bold-uppercase a:active {
      color: #c1c1c1 !important; }
  .appointment-banner p {
    display: block;
    margin: 10px 0; }
    @media screen and (min-width: 1100px) {
      .appointment-banner p {
        display: inline;
        margin: 0 20px; } }
  .appointment-banner p {
    color: #fff; }
  .appointment-banner p:first-of-type {
    margin-bottom: 4px;
    width: 100%; }
    @media screen and (min-width: 1100px) {
      .appointment-banner p:first-of-type {
        margin-bottom: 0;
        width: auto; } }
  .appointment-banner p:nth-of-type(2) {
    margin-bottom: 8px; }
    @media screen and (min-width: 1100px) {
      .appointment-banner p:nth-of-type(2) {
        margin-bottom: 0; } }
  .appointment-banner .sans-bold-uppercase {
    width: 100%; }
    @media screen and (min-width: 1100px) {
      .appointment-banner .sans-bold-uppercase {
        width: auto; } }
  .appointment-banner p.btn-secondary a {
    min-width: 240px;
    font-size: 11px;
    letter-spacing: 0.055em;
    padding-top: 11px;
    padding-bottom: 11px; }
    @media screen and (min-width: 768px) {
      .appointment-banner p.btn-secondary a {
        font-size: 12px; } }

.vera-wang {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  color: #fff;
  background: #333333; }
  .vera-wang__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .vera-wang .column {
    display: block;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .vera-wang .column:first-child {
        width: 33.33333%;
        -ms-flex-item-align: center;
            align-self: center; }
      .vera-wang .column:last-child {
        width: 66.66667%; } }
  .vera-wang .img-round {
    border-radius: 50%; }
  .vera-wang__about {
    display: block;
    position: relative;
    text-align: center;
    padding: 30px 10px; }
    @media screen and (min-width: 1024px) {
      .vera-wang__about {
        padding: 15px 10px; } }
    @media screen and (min-width: 1262px) {
      .vera-wang__about {
        padding: 30px 10px; } }
    .vera-wang__about img {
      max-width: 100%;
      width: auto; }
    .vera-wang__about-portrait {
      margin-bottom: 30px; }
      @media screen and (min-width: 1024px) {
        .vera-wang__about-portrait {
          max-width: 200px;
          margin-left: auto;
          margin-right: auto; } }
      @media screen and (min-width: 1262px) {
        .vera-wang__about-portrait {
          max-width: 100%; } }
    .vera-wang__about-logo {
      display: block;
      max-width: 240px;
      margin: 0 auto; }
      @media screen and (min-width: 1024px) {
        .vera-wang__about-logo {
          max-width: 240px; } }
      @media screen and (min-width: 1262px) {
        .vera-wang__about-logo {
          max-width: 300px; } }
  .vera-wang__text {
    display: block;
    position: relative;
    padding: 0 10px; }
    @media screen and (min-width: 768px) {
      .vera-wang__text {
        text-align: center; } }
    @media screen and (min-width: 1024px) {
      .vera-wang__text {
        text-align: left; } }
    @media screen and (min-width: 1262px) {
      .vera-wang__text {
        max-width: 405px;
        margin-left: auto;
        margin-right: auto; } }
    .vera-wang__text p.sans-m {
      color: #fff;
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px; }
      @media screen and (min-width: 1024px) {
        .vera-wang__text p.sans-m {
          font-size: 12px; } }
      @media screen and (min-width: 1262px) {
        .vera-wang__text p.sans-m {
          font-size: 15px; } }
    .vera-wang__text p.sans-bold-uppercase a {
      color: #fff !important; }
      .vera-wang__text p.sans-bold-uppercase a:hover {
        color: #c1c1c1 !important; }
    .vera-wang__text .btn {
      width: 100%;
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .vera-wang__text .btn {
          width: auto; } }
      .vera-wang__text .btn-secondary a {
        width: 100%;
        padding: 15px 50px; }
        @media screen and (min-width: 768px) {
          .vera-wang__text .btn-secondary a {
            width: auto; } }
    .vera-wang__text-ctas {
      text-align: center;
      padding-top: 20px; }
      @media screen and (min-width: 1024px) {
        .vera-wang__text-ctas {
          text-align: left; } }
      .vera-wang__text-ctas .sans-bold-uppercase {
        display: block;
        margin-bottom: 20px; }
  .vera-wang .flex-split-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    .vera-wang .flex-split-2 .col {
      width: 50%; }

.section-heading {
  display: block;
  position: relative;
  text-align: center;
  clear: both;
  padding: 20px 10px 0; }
  @media screen and (min-width: 768px) {
    .section-heading {
      padding: 50px 20px 40px; } }
  .section-heading img {
    width: auto;
    max-width: 100%;
    margin-bottom: 15px; }
  .section-heading p {
    margin: 0; }
    .section-heading p:last-of-type {
      margin-top: 5px; }

.few-favorites {
  background: #333333;
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 10px; }
  .few-favorites__inner {
    display: block;
    max-width: 1420px;
    margin: 0 auto; }
  .few-favorites__heading {
    padding: 0; }
    .few-favorites__heading h3 {
      color: #fff; }
  .few-favorites__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px; }
    .few-favorites__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .few-favorites__flex .column {
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .few-favorites__flex .column {
          width: 16.66667%; } }

.our-db-brides {
  background: #555555;
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 10px 30px; }
  @media screen and (min-width: 768px) {
    .our-db-brides {
      padding: 30px 10px 50px; } }
  .our-db-brides__inner {
    max-width: 1262px;
    margin: 0 auto; }
  .our-db-brides__heading {
    padding-left: 0; }
    .our-db-brides__heading h3,
    .our-db-brides__heading p {
      display: inline-block;
      margin-bottom: 10px;
      color: #fff; }
    .our-db-brides__heading-main {
      margin-right: 10px; }
    .our-db-brides__heading .sans-bold-uppercase a {
      color: #fff !important; }
      .our-db-brides__heading .sans-bold-uppercase a:hover {
        color: #c1c1c1 !important; }
  .our-db-brides__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-left: -5px;
    margin-right: -5px; }
    .our-db-brides__flex .column {
      width: 100%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .our-db-brides__flex .column {
          width: 33.33333%; } }

.wedding-inspiration-banner {
  max-width: 1600px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  @media screen and (min-width: 1024px) {
    .wedding-inspiration-banner {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  .wedding-inspiration-banner p {
    width: 100%;
    margin: 0;
    color: #fff;
    line-height: 1; }
    .wedding-inspiration-banner p:first-child {
      margin-bottom: 15px; }
    @media screen and (min-width: 1024px) {
      .wedding-inspiration-banner p {
        width: auto;
        margin: 0 15px; }
        .wedding-inspiration-banner p:first-child {
          margin-bottom: 0; } }
    .wedding-inspiration-banner p.btn-secondary a {
      font-size: 11px;
      letter-spacing: 0.055em;
      padding: 13px 25px; }
      @media screen and (min-width: 768px) {
        .wedding-inspiration-banner p.btn-secondary a {
          font-size: 12px; } }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 10px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 10px 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 10px; }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }

.bg-dark-gray {
  background: #555555; }
