html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  width: 100%;
  margin: 0 auto; }
  .content-page .container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }
  .content-page .inline-link {
    color: #74736d;
    font-weight: 400;
    text-decoration: underline; }
    .content-page .inline-link:hover, .content-page .inline-link:active, .content-page .inline-link:focus {
      color: #333333;
      font-weight: 400;
      text-decoration: underline; }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .two-columns {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin-bottom: 80px; } }
  .two-columns.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  @media screen and (min-width: 768px) {
    .two-columns.md-flex-start {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1024px) {
    .two-columns.md-flex-start {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .two-columns .column {
    width: 100%;
    margin: 10px; }
    @media screen and (min-width: 768px) {
      .two-columns .column {
        margin-left: 30px;
        margin-right: 30px; } }
    @media screen and (min-width: 1024px) {
      .two-columns .column {
        margin-left: 60px;
        margin-right: 60px; } }
    @media screen and (min-width: 768px) {
      .two-columns .column:nth-of-type(1) {
        max-width: 35%; }
      .two-columns .column:nth-of-type(2) {
        max-width: 65%; } }
    @media screen and (min-width: 1024px) {
      .two-columns .column:nth-of-type(1) {
        max-width: 35%; }
      .two-columns .column:nth-of-type(2) {
        max-width: 65%; } }
    .two-columns .column .caption {
      margin: 5px 0;
      font-size: 13px; }
    .two-columns .column .sans-m {
      margin: 10px 0; }
    .two-columns .column .sans-bold-uppercase a:not(:first-child) {
      margin-left: 15px; }
    .two-columns .column__img {
      position: relative;
      margin-left: 20px;
      margin-right: 20px; }
      .two-columns .column__img img {
        border-radius: 50%; }
    .two-columns .column .quote {
      display: block;
      position: relative;
      clear: both;
      border: 2px solid #333333;
      border-width: 2px 0;
      text-align: center;
      margin: 0; }
      .two-columns .column .quote blockquote {
        border: 1px solid #333333;
        border-width: 1px 0;
        margin: 2px 0;
        padding: 20px 0; }
        .two-columns .column .quote blockquote p {
          margin: 0; }
        .two-columns .column .quote blockquote .serif-s-italic {
          color: #52535a;
          margin-bottom: 5px;
          padding: 0 10px; }

@media screen and (min-width: 1024px) {
  .shift-up {
    margin-top: -100px; } }

.social-share {
  display: block;
  position: relative;
  width: 100%; }
  .social-share__img {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .social-share__img img {
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .social-share__overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      background: rgba(249, 179, 174, 0.7);
      cursor: pointer;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 0; }
      .social-share__overlay:hover {
        opacity: 1; } }
  .social-share__overlay--icons {
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    display: none;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (min-width: 768px) {
      .social-share__overlay--icons {
        display: block; } }
    .social-share__overlay--icons svg path {
      fill: #333; }
  .social-share__icon {
    width: 24px;
    height: 20px;
    margin: 0 15px; }
  .social-share .gig-bar-container {
    display: block;
    width: 100%; }
    .social-share .gig-bar-container table {
      margin: 0 auto; }

.page-heading {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 0 auto;
  padding: 10px; }
  .page-heading h1 {
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .page-heading h1 {
        margin-bottom: 5px; } }
    @media screen and (min-width: 1024px) {
      .page-heading h1 {
        margin-bottom: 15px; } }
  .page-heading__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .page-heading .breadcrumbs {
    display: none; }
    @media screen and (min-width: 768px) {
      .page-heading .breadcrumbs {
        display: block; } }
  .page-heading .article__share-bar {
    display: none;
    background: white;
    padding: 12px 0;
    margin: 0;
    position: relative;
    text-align: center;
    border: solid 1px #eee; }
    @media screen and (min-width: 768px) {
      .page-heading .article__share-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 320px;
        padding: 12px 30px;
        margin: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .page-heading .article__share-bar a {
      cursor: pointer; }
    .page-heading .article__share-bar-title {
      margin: 0;
      padding: 0; }
      @media screen and (min-width: 768px) {
        .page-heading .article__share-bar-title {
          margin-bottom: 3px; } }
    .page-heading .article__share-bar-item-list {
      line-height: 1;
      padding: 0; }
    .page-heading .article__share-bar-item {
      display: inline-block;
      margin-left: 28px; }
      @media screen and (min-width: 768px) {
        .page-heading .article__share-bar-item {
          margin-left: 14px; } }
      .page-heading .article__share-bar-item-link {
        display: block;
        height: 18px !important; }
        .page-heading .article__share-bar-item-link--email {
          height: 16px; }
      .page-heading .article__share-bar-item-image {
        height: 100%;
        max-width: 20px;
        max-height: 20px;
        width: auto; }
  .page-heading div.gig-button-container {
    margin-bottom: 0; }

.hero {
  width: 100%;
  display: block;
  position: relative;
  clear: both;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  .hero__img {
    display: block;
    position: relative; }
  .hero__caption {
    display: block;
    position: relative;
    border: 1px solid #333333;
    margin: 10px;
    padding: 20px;
    background: white;
    min-height: 200px; }
    @media screen and (min-width: 1024px) {
      .hero__caption {
        position: absolute;
        margin: 0;
        width: 400px;
        outline: 10px solid white;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    @media screen and (min-width: 1024px) {
      .hero__caption.right {
        right: 5%; } }
    @media screen and (min-width: 1024px) {
      .hero__caption.left {
        left: 20px; } }
    @media screen and (min-width: 1282px) {
      .hero__caption.left {
        left: calc((100vw - 1242px) / 2); } }
    @media screen and (min-width: 1600px) {
      .hero__caption.left {
        left: calc((1600px - 1242px) / 2); } }
    .hero__caption .serif-l-italic {
      margin: 0;
      margin-bottom: 5px; }
    .hero__caption .serif-xl {
      margin: 0;
      margin-bottom: 10px; }
    .hero__caption .sans-l {
      margin: 0;
      margin-bottom: 10px; }

.appointment-banner {
  background: #f93777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  text-align: left;
  padding: 5px 10px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .appointment-banner {
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center; } }
  .appointment-banner p {
    display: block;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .appointment-banner p {
        width: 100%;
        margin: 0; } }
    @media screen and (min-width: 1262px) {
      .appointment-banner p {
        width: auto; } }
  .appointment-banner p:not(:last-of-type) {
    color: white; }
  .appointment-banner .serif-m-italic {
    color: #fff;
    margin-bottom: 4px; }
    @media screen and (min-width: 768px) {
      .appointment-banner .serif-m-italic {
        margin: 0; } }
  .appointment-banner .sans-s {
    display: none;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .appointment-banner .sans-s {
        display: block;
        margin-bottom: 10px; } }
    @media screen and (min-width: 1262px) {
      .appointment-banner .sans-s {
        margin: 0 20px; } }
  .appointment-banner p.sans-bold-uppercase {
    display: block;
    position: relative;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .appointment-banner p.sans-bold-uppercase {
        display: none; } }
    .appointment-banner p.sans-bold-uppercase a {
      color: #fff !important; }
      .appointment-banner p.sans-bold-uppercase a:hover {
        color: #c1c1c1; }
  .appointment-banner .btn {
    display: none; }
    @media screen and (min-width: 768px) {
      .appointment-banner .btn {
        display: block; } }
  .appointment-banner p.btn-secondary a {
    font-size: 12px;
    letter-spacing: 0.055em;
    border: 1px solid white;
    color: #f93777; }

.section-heading {
  display: block;
  position: relative;
  clear: both;
  padding: 10px 10px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .section-heading {
      padding: 50px 20px 40px; } }
  .section-heading p {
    margin-top: 10px;
    margin-bottom: 10px; }
  .section-heading__copy {
    display: block;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.few-favorites {
  position: relative;
  padding: 0 10px; }
  .few-favorites .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .few-favorites .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .few-favorites .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px auto;
    margin-left: -5px;
    margin-right: -5px; }
    @media screen and (min-width: 768px) {
      .few-favorites .flex {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .few-favorites .flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .few-favorites .flex .column {
          width: 100%; } }

.article__share-bar {
  background: white;
  padding: 12px 0;
  margin: 20px 10px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      max-width: 320px;
      padding: 12px 30px;
      margin: 30px 10px 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  position: relative;
  padding: 0 10px;
  max-width: 1262px;
  margin-left: auto;
  margin-right: auto; }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }
