html,
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333; }

:focus {
  outline: 1px dotted #333333 !important;
  outline-offset: 2px; }

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6,
.content-container p,
.content-container a {
  color: #333;
  text-decoration: none; }

#main_content {
  width: 100%; }

.content-pages.one_column {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

.content-pages.one_column .ctnr-maincontent {
  width: 100%;
  max-width: 100%;
  padding: 0; }

#page .header_wrapper_position {
  padding-bottom: 0; }

.content-page {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .content-page .container {
    max-width: 1282px;
    width: 100%;
    margin: 0 auto; }
  .content-page img {
    width: 100%; }
  .content-page h1,
  .content-page h2,
  .content-page h3,
  .content-page h4,
  .content-page h5,
  .content-page h6,
  .content-page p,
  .content-page a {
    color: #333;
    text-decoration: none; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: none; }
  .content-page hr {
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5; }
    @media screen and (min-width: 768px) {
      .content-page hr {
        margin-top: 60px; } }
  .content-page p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .content-page .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .content-page .serif-xxxl {
        font-size: 60px;
        line-height: 64px; } }
  .content-page .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xxl {
      font-size: 48px;
      line-height: 52px; } }
  .content-page .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xl {
      font-size: 36px;
      line-height: 40px; } }
  .content-page .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .content-page .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-l-italic {
      font-size: 32px;
      line-height: 36px; } }
  .content-page .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m-italic {
      font-size: 26px;
      line-height: 32px; } }
  .content-page .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s-italic {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .serif-m {
      font-size: 22px;
      line-height: 26px; } }
  .content-page .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-s {
      font-size: 20px;
      line-height: 24px; } }
  .content-page .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .content-page .serif-xs {
      font-size: 16px;
      line-height: 20px; } }
  .content-page .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-l {
      font-size: 18px;
      line-height: 30px; } }
  .content-page .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-m-bold {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .content-page .sans-s {
      font-size: 15px;
      line-height: 24px; } }
  .content-page .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
  @media screen and (min-width: 768px) {
    .content-page .sans-xs {
      font-size: 13px;
      line-height: 20px; } }
  .content-page .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .content-page .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .content-page .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
  @media screen and (min-width: 768px) {
    .content-page .sans-m-bold-uppercase {
      font-size: 11px;
      line-height: 14px; } }
  .content-page .sans-bold-uppercase a,
  .content-page .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .content-page .sans-bold-uppercase a:hover,
  .content-page .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .content-page p[class^="serif"] a {
    font-weight: normal !important; }
  .content-page .inline-link {
    color: #74736d;
    font-weight: 400;
    text-decoration: underline; }
    .content-page .inline-link:hover, .content-page .inline-link:active, .content-page .inline-link:focus {
      color: #333333;
      font-weight: 400;
      text-decoration: underline; }
  .content-page .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .content-page .btn-primary a {
      display: inline-block;
      padding: 7px 24px;
      border: 1px solid white;
      color: white;
      background-color: #52535a;
      outline: 4px solid #52535a; }
      .content-page .btn-primary a:hover, .content-page .btn-primary a:active, .content-page .btn-primary a:focus {
        border: 1px solid #e0e0e7;
        outline: 4px solid #333333 !important; }
    .content-page .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .content-page .btn-secondary a:hover, .content-page .btn-secondary a:active, .content-page .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .content-page .btn-secondary a {
          padding: 11px 50px; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none;
    visibility: hidden; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px !important;
  padding-left: 5px;
  padding-right: 5px; }
  .flex .column {
    display: block;
    position: relative; }
    @media screen and (min-width: 768px) {
      .flex .column {
        width: 50%; } }
    .flex .column .flex__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 0; }
      .flex .column .flex__inner .col {
        display: block;
        padding: 5px;
        position: relative;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          .flex .column .flex__inner .col {
            width: 50%; } }
  .flex__item:not(:last-of-type) {
    margin-bottom: 10px; }
  .flex__item p {
    margin: 0; }
    .flex__item p.sans-xs {
      margin-top: 5px;
      margin-bottom: 5px; }
  .flex__item--text {
    background: #f8f6f0;
    padding: 10px 10px 20px; }
  .flex__item--gigya {
    display: block;
    margin-top: 10px;
    padding: 0;
    position: relative;
    width: 100%; }
    .flex__item--gigya li {
      cursor: pointer;
      margin-right: 5px; }
    .flex__item--gigya svg {
      height: 24px; }
  .flex__circle {
    display: block;
    position: relative; }
    .flex__circle:not(:last-child) {
      margin-bottom: 10px; }
    .flex__circle--text {
      display: block;
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 15%;
      left: 15%; }
    .flex__circle p {
      margin: 0; }

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 0 10px; }
  .breadcrumbs p.sans-bold-uppercase {
    margin-top: 10px; }
    .breadcrumbs p.sans-bold-uppercase a {
      margin-right: 10px; }

.hero {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }
  .hero__img {
    display: block;
    position: relative; }
  .hero__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    .hero__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .hero__text {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #333333;
    display: block;
    margin: 10px auto 0;
    padding: 20px 20px 10px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .hero__text {
        bottom: 30px;
        right: 30px;
        margin: 0;
        outline: 6px solid rgba(255, 255, 255, 0.85);
        position: absolute;
        width: 340px; } }
    @media screen and (min-width: 1024px) {
      .hero__text {
        right: 40px;
        bottom: 30px; } }
    @media screen and (min-width: 1200px) {
      .hero__text {
        bottom: 60px;
        right: 50px; } }

.theme-links {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 15px;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .theme-links {
      margin-top: 30px;
      padding-top: 25px;
      padding-bottom: 25px; } }
  .theme-links.blue {
    background: #dbe4e6; }
  .theme-links.pink {
    background: #ffe6e3; }
  .theme-links p {
    margin-top: 10px;
    margin-bottom: 5px; }
    @media screen and (min-width: 768px) {
      .theme-links p {
        margin-top: 5px; } }
  .theme-links__headline {
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .theme-links__headline {
        margin-bottom: 20px; } }
  .theme-links__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .theme-links__links p {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .theme-links__links p {
          width: auto;
          margin-left: 10px;
          margin-right: 10px; }
          .theme-links__links p:first-child {
            margin-left: 0; }
          .theme-links__links p:last-child {
            margin-right: 0; } }

.article__share-bar {
  background: white;
  padding: 12px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #eee;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .article__share-bar {
      padding: 12px 30px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 320px;
      margin-top: 30px; } }
  .article__share-bar a {
    cursor: pointer; }
  .article__share-bar-title {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .article__share-bar-title {
        margin-bottom: 3px; } }
  .article__share-bar-item-list {
    line-height: 1;
    padding: 0; }
  .article__share-bar-item {
    display: inline-block;
    margin-left: 28px; }
    @media screen and (min-width: 768px) {
      .article__share-bar-item {
        margin-left: 14px; } }
    .article__share-bar-item-link {
      display: block;
      height: 18px !important; }
      .article__share-bar-item-link--email {
        height: 16px; }
    .article__share-bar-item-image {
      height: 100%;
      max-width: 20px;
      max-height: 20px;
      width: auto; }

div.gig-button-container {
  margin-bottom: 0; }

.inspiration-guidance {
  display: block;
  margin: 0 auto;
  max-width: 1262px;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-right: 5px; }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 5px;
    background: white;
    bottom: -27px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 0; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1262px;
    margin-left: 0;
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
  @media screen and (min-width: 1024px) {
    .inspiration-guidance .layout-split-4 > .column {
      float: left;
      display: block;
      margin-right: 0;
      width: 25%; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
  @media screen and (max-width: 71.875em) and (min-width: 64em) {
    .inspiration-guidance .layout-split-4 > .column:nth-child(2n+1) {
      clear: none;
      margin-top: 0; }
    .inspiration-guidance .layout-split-4 > .column:nth-child(4) {
      clear: none;
      margin-top: 0; } }
