<style media="screen">
.davids-pick {
  margin-top: 5px; }
  .davids-pick span {
    background: #f04874;
    background: -webkit-gradient(linear, left top, right top, from(#ec1950), to(#f47798));
    background: linear-gradient(to right, #ec1950, #f47798);
    color: #fff !important;
    border: none !important;
    border: 1px solid #f04874; }
</style>
<p class="btn btn-secondary btn-secondary--small no-hover davids-pick">
  <span class="sans-s btn-link btn-link--small">David's Choice</span>
</p>
