$pink: #f04874;

.davids-pick {
  margin-top: 5px;
  span {
    background: $pink;
    background: linear-gradient( to right, darken($pink, 20%), lighten($pink, 5%) );
    color: #fff !important;
    border: none !important;
    border: 1px solid $pink;
  }
}
