.davids-pick {
  margin-top: 5px; }
  .davids-pick span {
    background: #f04874;
    background: -webkit-gradient(linear, left top, right top, from(#c2103f), to(#f26086));
    background: linear-gradient(to right, #c2103f, #f26086);
    color: #fff !important;
    border: none !important;
    border: 1px solid #f04874; }
