.closest-store-banner {
  background: #fdccd0;
  display: block;
  margin: 0 auto;
  max-width: 1215px;
  position: relative;
  text-align: center;
  @media screen and (min-width: 768px) {
    background-image: url('http://sb.monetate.net/img/1/564/717050.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 200px;
  }


  &__inner {
    // background: rgba(0, 255, 0, 0.1);
    display: block;
    height: 100%;
    width: 100%;
  }


  &__text {
    // background: rgba(255, 0, 0, 0.1);
    padding: 20px;

    @media screen and (min-width: 768px) {
      padding: 0;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform-style: preserve-3d;
      left: 30%;
      right: 10%;
    }
    @media screen and (min-width: 1024px) {
      left: initial;
      right: 25%;
    }
  }


  p {
    margin: 0;
  }

  .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .sans-l {
        font-size: 18px;
        line-height: 30px; } }

  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    margin-top: 15px;

    &-secondary a.sans-bold-uppercase {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #74736d;
      color: #333;
      background-color: #fff;
      outline: none;
      &:hover,
      &:active,
      &focus {
        border: 1px solid #e0e0e7;
      }
      @media screen and (min-width: 768px) {
        padding: 11px 50px !important;
      }
    }
  }
}
