<style>
.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
</style>


<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_1">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/all-prom-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/6_BehindScenes.jpg" alt="Two prom girls posing in photo booth with arms around each other" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">All Prom Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/all-prom-dresses">Shop Styles from $99.95&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_2">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/plus-size-prom-dresses">
          <img class="media-block-img box-shadow" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/prom/767px_Prom_Plus.jpg" alt="Plus size Prom girl in halter prom dress" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Plus sizes</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/plus-size-prom-dresses">SHOP SIZES 17-23&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_3">
      <div class="media-block default media-block-special spacing">
        <a class="media-block-img-wrap" href="/Content_Prom_lp">
          <img class="box-shadow media-block-img" src="/wcsstore/images/wwcm/categorylandingpages/spring2018/prom/767px_Prom_TwoPiece.jpg" alt="Prom girl wearing red two piece prom dress" />
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Top Trends</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/Content_Prom_lp">Get Inspired&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
