<!-- Appointment Banner -->
<style media="screen">
.db-rewards-banner {
  position: relative;
  max-width: 1600px;
  margin: 0 10px 5px;
  text-align: center;
  background: #f04874;
  padding: 20px 0;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 768px) {
    .db-rewards-banner {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          margin: 0 auto 0;
          padding: 10px 0; } }
  @media screen and (min-width: 1024px) {
    .db-rewards-banner {
          margin: 0 auto 0; } }
  .db-rewards-banner p {
    width: 100%;
    color: #fff;
    margin: 0 15px; }
    @media screen and (min-width: 768px) {
      .db-rewards-banner p {
        width: auto; } }
    .db-rewards-banner p.serif-m-italic {
      padding: 0 80px 10px; }
      @media screen and (min-width: 768px) {
        .db-rewards-banner p.serif-m-italic {
          padding: 0 0 4px;
        }
      }
  .db-rewards-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .db-rewards-banner .btn-secondary a {
      display: inline-block;
      padding: 9px 50px;
      border: 1px solid #52535a;
      color: #333;
      background-color: #fff;
      outline: none; }
      .db-rewards-banner .btn-secondary a:hover,
      .db-rewards-banner .btn-secondary a:active {
        border: 1px solid #e0e0e7;
      }


</style>
<div class="db-rewards-banner" style="margin-top:15px;">
  <p class="serif-m-italic">Homecoming styles coming soon!</p>
 
</div>
