<section data-analytics-tagging="PromCat" class="espot-container three-across">
  <!-- <h2 class="serif-l">Section Heading</h2> -->

  <div class="flex-container">

    <div class="column" data-analytics-position="Module_4">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/printed-dresses">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/2_PrettyPrints.jpg" class="media-block-img box-shadow" alt="Prom girl in two piece black and white dress sitting on colorful carnival wheel game">
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">The Prettiest Prints</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/printed-dresses">Shop The Trend&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>
    
    <div class="column" data-analytics-position="Module_5">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/two-piece-prom-dresses">
          <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/5_Checklist.jpg" class="media-block-img box-shadow" alt="Prom girl in two piece black and white dress sitting on colorful carnival wheel game">
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Two-Piece Prom Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/two-piece-prom-dresses">Shop the Trend&nbsp;&gt;</a>
          </p>
        </div>
      </div>
    </div>

    <div class="column" data-analytics-position="Module_6">
      <div class="media-block default spacing">
        <a class="media-block-img-wrap " href="/prom-dresses/graduation-dresses">
          <img src="wcsstore/images/wwcm/categorylandingpages/spring2018/prom/767px_Vertical_CLP_Module_Grad.jpg" class="media-block-img box-shadow" alt="Girl wearing white dress with black graduation cap">
        </a>
        <div class="media-block-content spacing-half">
          <div class="spacing-half">
            <h3 class="media-block-content__title serif-m">Graduation Dresses</h3>
          </div>
          <p>
            <a class="media-block-content__cta sans-bold-uppercase" href="/prom-dresses/graduation-dresses">Little white dresses & More&nbsp;&gt;</a>
          </p>
        </div><!-- media block-content -->
      </div>
    </div>

  </div>
</section>
