<style>
..row {
  margin-left: 0; }

.column-centered.one-more-thing {
  display: block;
  position: relative;
  clear: both;
  max-width: 1262px;
  margin: 0 auto;
  padding: 20px 0; }

@media screen and (max-width:767px) {
  .column-centered.one-more-thing {
  padding: 0px 0 !important;
  margin-top: -5px;
}
}

[class^="serif"] {
  margin: 0; }

.media-block-content {
  margin-top: 10px; }

.media-block-content p {
  margin: 0; }

.section-minor-heading .section-minor-heading__heading {
  color: #333;
  background: #fff; }
.section-minor-heading {
  border-bottom: rgba(0,0,0,.1) 1px solid;
}

.article__teaser-list {
  margin-top: 15px; }

.article__teaser-list .media-block-img-wrap {
  float: left;
  margin-right: 11px;
  width: 100%; }

@media screen and (max-width: 767px) {

  .article__teaser-list .mobile-mb-split-1:not(:last-child) {
    padding-bottom: 10px; }

  .article__teaser-list .media-block-img-wrap {
    float: left;
    margin-right: 11px;
    width: 50%; } }
@media screen and (min-width: 768px) {
  .article__teaser-list {
    margin-top: 10px; }

  .article__teaser-list .media-block-img-wrap {
    margin-bottom: 10px; } }
@media screen and (min-width: 768px) {
  .layout-split-4 > .column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%; }
    .layout-split-4 > .column:nth-child(1) {
      margin-top: 10px; } }
@media screen and (min-width: 1024px) {
  .accessories-special{
    height: 210px;
  }

  .layout-split-4 > .column {
    float: left;
    display: block;
    margin-right: 0;
    width: 25%; }
    .layout-split-4 > .column:nth-child(1) {
      margin-top: 0px; } }
@media screen and (max-width: 71.875em) and (min-width: 64em) {
  .layout-split-4 > .column:nth-child(2n+1) {
    clear: none;
    margin-top: 0; }

  .layout-split-4 > .column:nth-child(4) {
    clear: none;
    margin-top: 0; } }

    @media screen and (max-width: 767px){
      .complete-special{
        width: 415px !important;
      }
    }

</style>

<a id="accessories"></a>
<section class="column-centered one-more-thing" data-analytics-tagging="Complete Your Day">
  <div class="column-full complete-column">
    <div class="spacing spacing-h">

      <div class="section-minor-heading">
        <p class="section-minor-heading__heading serif-l" style="color: #333;">One More Thing...</p>
      </div>


      <div class="layout-split-4 spacing article__teaser-list">

        <div class="column mobile-mb-split-1" data-analytics-position="Complete_1">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/shoes/evening-shoes">
              <img class="media-block-img  complete-special" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt1.jpg" alt="Group close up shot of prom girl shoes on black floor" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Shoes</h3>
              </div>
              <p>
                <a class="media-block-content__cta sans-bold-uppercase" href="/shoes/evening-shoes">FROM $29.95&nbsp;&gt;</a>
              </p>
            </div><!-- media block-content -->
          </div>
        </div>

        <div class="column mobile-mb-split-1" data-analytics-position="Complete_2">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap" href="/earrings">
              <img class="media-block-img  complete-special" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt2.jpg" alt="Prom girl with pink tassle earrings" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Earrings</h3>
              </div>
              <p>
                <a class="media-block-content__cta sans-bold-uppercase" href="/earrings">Shop Earrings&nbsp;&gt;</a>
              </p>
            </div><!-- media block-content -->
          </div>
        </div>

        <div class="column mobile-mb-split-1" data-analytics-position="Complete_3">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap " href="/prom-handbags-clutches">
              <img class="media-block-img  complete-special" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt3.jpg" alt="Close up of prom girl holding colorful clutch" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Handbags</h3>
              </div>
              <p>
                <a class="media-block-content__cta sans-bold-uppercase" href="/prom-handbags-clutches">Shop Handbags&nbsp;&gt;</a>
              </p>
            </div><!-- media block-content -->
          </div>
        </div>

        <div class="column mobile-mb-split-1" data-analytics-position="Complete_4">
          <div class="media-block default spacing">
            <a class="media-block-img-wrap " href="/necklaces">
              <img class="media-block-img  complete-special" src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/omt4.jpg" alt="Prom girl leaning against carousel horse wearing black choker necklace" />
            </a>
            <div class="media-block-content spacing-half">
              <div class="spacing-half">
                <h3 class="media-block-content__title serif-m">Chokers & Necklaces</h3>
              </div>
              <p>
                <a class="media-block-content__cta sans-bold-uppercase" href="/necklaces">Shop Necklaces&nbsp;&gt;</a>
              </p>
            </div><!-- media block-content -->
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
