<style media="screen">
html,
body {
  color: #333; }

.rowContainer, .rowContainer > .row {
  padding: 0; }

.spacing-media-seo {
    max-width: 1272px;
    margin: 0 auto;
    width: 100%;
}

p.legacy,
.legacy p{
	font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
	font-size:10px;
	line-height: 15px;
	margin: 0 10px 0 10px;
}

</style>
<div class="spacing-media-seo mobile-hidden tablet-hidden">
<div class="legacy">
<br>
<p><strong>Prom Trends 2018: All the Hottest Prom Looks</strong>
<br>
Need prom dress ideas? We’ll help you plan your prom night fashion with fabulous pictures of prom dresses right off the runway. Your prom is a time to express yourself, so choose a dress that reflects exactly who you are inside! We carry hundreds of prom dress styles, from short and flirty to unforgettably dramatic. Find a floor-length beaded gown that makes you feel like you’re walking the red carpet or pick an on-trend crop top prom dress that makes you feel like a total rock star. No matter what you choose, you’ll look amazing.<br>
<br>
<strong>Get Inspired With Our Beautiful Prom Styles</strong>
<br>
Planning your prom look is almost as much fun as going to prom. The hunt for unique prom ideas is exciting, and the hours you spend with your BFFs poring over thousands of images of prom dresses are true bonding time. When you find the one dress you can’t live without, everything else falls into place. Shoes, accessories, jewelry, makeup, hair, nails...it all comes together to create an unforgettable look.</p>
</div>
</div>


<!-- SCROLL TO TOP BUTTON -->
<style media="screen">
	.listing-pager__top {
		display: none;
		position: fixed;
		top: auto;
		right: 15px;
		bottom: 25px;
	 	z-index: 1; }
</style>
<div class="listing-pager__top" id="scrollToTop">
	<a class="listing-pager__top-link" href="#">
		<span class="listing-pager__top-link-image">
			<svg class="listing-pager__top-link-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
				<polygon points="23.2,9 11.3,21.8 13,23.5 21.9,13.8 21.9,37.5 24.4,37.5 24.4,13.6 33.4,23.5 35,21.8 "></polygon>
				<path d="M23.2,1.1c12.2,0,22.1,9.9,22.1,22.1s-9.8,22.1-22.1,22.1S1.1,35.4,1.1,23.2S11,1.1,23.2,1.1z M23.2,43.1 c11,0,19.9-8.9,19.9-19.9S34.2,3.3,23.2,3.3S3.3,12.2,3.3,23.2S12.2,43.1,23.2,43.1z"></path>
			</svg>
		</span>
		<span class="listing-pager__top-link-text">Top</span>
	</a>
</div>
<script type="text/javascript">
	// When the user scrolls down, show the button
	$(window).on('scroll', function() {
		scrollFunction();
	});
	const scrollFunction = () => {
		let scrollTop = $(window).scrollTop();
		if (scrollTop >= 100) {
			$('#scrollToTop').css('display', 'block');
		} else {
			$('#scrollToTop').css('display', 'none');
		}
	}

	// When the user clicks on the button, scroll to the top
	$('#scrollToTop a').on('click', function(e) {
		e.preventDefault();
    console.log('SCROLL TO TOP CLICKED');
		$('html, body').animate({scrollTop: 0}, 1000);
	});
</script>
