<style media="screen">
.prom-style {
  max-width: 1272px;
  margin: 15px auto;
  padding: 0 10px; }
  .prom-style__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 5px; }
    .prom-style__flex .column {
      width: 50%;
      padding: 5px; }
      @media screen and (min-width: 768px) {
        .prom-style__flex .column {
          padding: 5px;
          width: 33.33333%; } }
      @media screen and (min-width: 1024px) {
        .prom-style__flex .column {
          width: 16.66667%; } }
      .prom-style__flex .column.sm-hidden {
        display: none; }
        @media screen and (min-width: 500px) {
          .prom-style__flex .column.sm-hidden {
            display: block; } }
    .prom-style__flex img {
      width: 100%; }
  .prom-style .sans-bold-uppercase {
    font-size: 11px;
    line-height: 14px; }
    @media screen and (min-width: 1024px) {
      .prom-style .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }

</style>

<section class="prom-style" data-analytics-tagging="RealBridesUGC">
  <p class="serif-l">Show Us Your Style #DavidsProm</p>
  <p class="sans-bold-uppercase"><a href="/Content_Curations_prom">See More Inspiration&nbsp;&gt;</a></p>

  <div class="prom-style__flex">

    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom1.jpg" alt="Prom girl twirling in gold and white two piece prom dress" />
      </a>
    </div>
    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom2.jpg" alt="Prom girl posting in high low red dress" />
      </a>
    </div>
    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom3.jpg" alt="Prom girl with open back beaded prom dress" />
      </a>
    </div>
    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom4.jpg" alt="Prom girl twirling and smiling in printed floral prom dress" />
      </a>
    </div>
    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom5.jpg" alt="Prom girl posing in black prom dress with floral skirt" />
      </a>
    </div>
    <div class="column">
      <a href="/Content_Curations_prom">
        <img src="/wcsstore/images/wwcm/categorylandingpages/homecoming2018/davidsprom6.jpg" alt="Prom girl looking over her shoulder wearing two piece ball gown prom dress" />
      </a>
    </div>

  </div>

</section>
