.just-opened-banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 0 auto;

  a {
    color: #333;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: #333;
    }
  }

  .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    @media screen and (min-width: 1024px) {
      font-size: 26px;
      line-height: 32px;
    }
  }
  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    @media screen and (min-width: 1024px) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none;
    @media screen and (min-width: 1024px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .sans-bold-uppercase a,
  .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
  }
  .sans-bold-uppercase a:hover,
  .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none;
  }



  &__background-image {
    height: 180px;
    background: #ebebeb;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('/wcsstore/images/wwcm/storepages/NewStoreBanner_Mobile.jpg');
    @media screen and (min-width: 768px) {
      background-position: 0 0;
      background-image: url('/wcsstore/images/wwcm/storepages/NewStoreBanner_Desktop.jpg');
    }
  }

  &__text {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    left: 37.5%;
    @media screen and (min-width: 400px) {
      left: 150px;
    }
    @media screen and (min-width: 768px) {
      left: 280px;
    }

    p {
      margin: 0;
      &.sans-m {
        max-width: 360px;
        margin: 5px auto 10px;
        @media screen and (min-width: 1024px) {
          max-width: 100%;
        }
      }
    }
  }
}
