.row {
  margin: 0; }

.designer-banner {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333; }
  .designer-banner a {
    text-decoration: none; }
    .designer-banner a:hover {
      text-decoration: none;
      color: #333; }
  .designer-banner__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover; }
  .designer-banner__text {
    display: block;
    position: relative;
    clear: both;
    background: #f8f6f0;
    text-align: center;
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .designer-banner__text {
        background: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 0;
        left: 30%; } }
    .designer-banner__text p {
      margin: 0; }
      .designer-banner__text p.serif-l {
        margin-bottom: 10px; }
      .designer-banner__text p.sans-m {
        margin-bottom: 15px; }
  .designer-banner .sans-bold-uppercase a {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
    @media screen and (min-width: 768px) {
      .designer-banner .sans-bold-uppercase a {
        display: none;
        visibility: hidden; } }
    .designer-banner .sans-bold-uppercase a:hover, .designer-banner .sans-bold-uppercase a:active {
      color: #727278;
      text-decoration: none; }
  .designer-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    @media screen and (min-width: 768px) {
      .designer-banner .btn {
        display: inline-block; } }
    .designer-banner .btn-secondary a {
      display: inline-block;
      padding: 9px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .designer-banner .btn-secondary a:hover, .designer-banner .btn-secondary a:active, .designer-banner .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .designer-banner .btn-secondary a {
          padding: 9px 60px; } }
