@import "../../variables";

.row {
  margin: 0;
}

.galina-banner {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }



  &__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: 5% 0;
  }



  &__text {
    display: block;
    position: relative;
    clear: both;
    background: #f8f6f0;
    text-align: center;
    padding: 20px;
    @media screen and (min-width: 768px) {
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: 30%;
    }

    img {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 10px;
      max-width: 260px;
      @media screen and (min-width: 768px) {
        max-width: 100%;
        margin-bottom: 5px;
      }
    }

    p {
      margin: 0;

      &.serif-l {
        margin-bottom: 10px;
      }
      &.sans-m {
        margin-bottom: 15px;
        color: #333;
        @media screen and (min-width: 768px) {
          color: #333;
          margin-bottom: 20px;
        }
      }


    }
  }


  .sans-bold-uppercase {
    a {
      font-weight: 700;
      color: #333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
      @media screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
      }

      &:hover,
      &:active {
        color: #727278;
        text-decoration: none;
      }
    }

  }


  // Button
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }

    &-secondary a {
      letter-spacing: 0.055em;
      font-size: 12px;
      line-height: 16px;
      display: inline-block;
      padding: 10px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 10px 50px;
      }
    }
  }
}
