.row {
  margin: 0; }

.melissa-sweet-banner {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333; }
  .melissa-sweet-banner p {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  .melissa-sweet-banner a {
    text-decoration: none; }
    .melissa-sweet-banner a:hover {
      text-decoration: none;
      color: #333; }
  .melissa-sweet-banner__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0%;
    background-image: url("/wcsstore/images/wwcm/banners/Designers/melissa-sweet/MelissaSweet_TopPromo_767x200.jpg"); }
    @media screen and (min-width: 768px) {
      .melissa-sweet-banner__bg-img {
        background-image: url("/wcsstore/images/wwcm/banners/Designers/melissa-sweet/MelissaSweet_TopPromo_1600x200.jpg"); } }
  .melissa-sweet-banner__img {
    max-width: 200px; }
  .melissa-sweet-banner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    clear: both;
    background: rgba(248, 246, 240, 0.85);
    text-align: center;
    padding: 20px;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 50%;
    max-width: 280px; }
    @media screen and (min-width: 570px) {
      .melissa-sweet-banner__text {
        right: auto; } }
    @media screen and (min-width: 768px) {
      .melissa-sweet-banner__text {
        right: calc(50% + 10px);
        max-width: 100%; } }
    .melissa-sweet-banner__text p {
      margin: 0;
      width: 100%; }
      .melissa-sweet-banner__text p.sans-m {
        color: #333;
        margin-top: 15px;
        margin-bottom: 15px; }
  .melissa-sweet-banner .sans-bold-uppercase a {
    letter-spacing: 0.055em;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
    @media screen and (min-width: 768px) {
      .melissa-sweet-banner .sans-bold-uppercase a {
        display: none;
        visibility: hidden; } }
    .melissa-sweet-banner .sans-bold-uppercase a:hover, .melissa-sweet-banner .sans-bold-uppercase a:active {
      color: #727278;
      text-decoration: none; }
  .melissa-sweet-banner .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    @media screen and (min-width: 768px) {
      .melissa-sweet-banner .btn {
        display: inline-block; } }
    .melissa-sweet-banner .btn-secondary a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.055em;
      display: inline-block;
      padding: 10px 32px;
      border: 1px solid #52535a;
      color: #333333;
      background-color: white;
      outline: none; }
      .melissa-sweet-banner .btn-secondary a:hover, .melissa-sweet-banner .btn-secondary a:active, .melissa-sweet-banner .btn-secondary afocus {
        border: 1px solid #e0e0e7; }
      @media screen and (min-width: 768px) {
        .melissa-sweet-banner .btn-secondary a {
          padding: 10px 50px; } }
  @media screen and (max-width: 767px) {
    .melissa-sweet-banner .sm-hidden {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .melissa-sweet-banner .md-hidden {
      display: none;
      visibility: hidden; } }
  @media screen and (min-width: 1024px) {
    .melissa-sweet-banner .lg-hidden {
      display: none;
      visibility: hidden; } }
