@import "../../variables";

.row {
  margin: 0;
}

.oleg-cassini-bridal-banner {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333;

  p {
    hyphens: none;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }



  &__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%;
    background-image: url('/wcsstore/images/wwcm/banners/Designers/oleg-cassini/OlegCassini_Bridal_TopPromo_767x200.jpg');
    @media screen and (min-width: 768px) {
      background-image: url('/wcsstore/images/wwcm/banners/Designers/oleg-cassini/OlegCassini_Bridal_TopPromo_1600x200.jpg');
    }
  }

  &__img {
    max-width: 160px;
    @media screen and (min-width: 1024px) {
      max-width: 260px;
    }
  }


  &__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    clear: both;
    background: rgba(248, 246, 240, 0.85);
    text-align: center;
    padding: 20px 10px;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 50%;
    max-width: 280px;
    @media screen and (min-width: 570px) {
      right: auto;
    }
    @media screen and (min-width: 768px) {
      right: calc(50% + 10px);
      max-width: 100%;
    }



    p {
      margin: 0;
      width: 100%;
      &.sans-m {
        color: #333;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }


  .sans-bold-uppercase {
    a {
      letter-spacing: 0.055em;
      font-weight: 700;
      color: #333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
      @media screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
      }

      &:hover,
      &:active {
        color: #727278;
        text-decoration: none;
      }
    }

  }


  // Button
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }

    &-secondary a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.055em;
      display: inline-block;
      padding: 10px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 10px 50px;
      }
    }
  }



  .sm-hidden {
    @media screen and (max-width: $breakpoint-md - 1) {
      display: none;
      visibility: hidden;
    }
  }

  .md-hidden {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
      display: none;
      visibility: hidden;
    }
  }

  .lg-hidden {
    @media screen and (min-width: $breakpoint-lg) {
      display: none;
      visibility: hidden;
    }
  }

}
