@import "../../variables";

.row {
  margin: 0;
}

.vera-wang-toppromo {
  display: block;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  color: #333;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }



  &__bg-img {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/wcsstore/images/wwcm/banners/Vera-Wang_PLP-toppromo_767x200.jpg');
    background-position: center;
    @media screen and (min-width: $breakpoint-md) {
      background-image: url('/wcsstore/images/wwcm/banners/Vera-Wang_PLP-toppromo_1600x200.jpg');
      background-position: 30% 0;
    }
  }

  &__svg {
    display: inline-block;
    width: 280px;
    margin: 0 auto 15px;
    &-group {
      fill: #333;
      @media screen and (min-width: 768px) {
        fill: #fff;
      }
    }
  }

  &__text {
    z-index: 999;
    display: block;
    position: relative;
    clear: both;
    background: #727475;
    text-align: center;
    padding: 20px;
    @media screen and (min-width: $breakpoint-md) {
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(35% - 150px);
      //left: 40%;
      width: 300px;
    }

    img {
      margin: 0 auto;
    }

    p {
      margin: 0;

      &.serif-l {
        margin-bottom: 10px;
      }
      &.sans-m {
        margin-bottom: 15px;
        color: #fff;
        margin-top: 10px;
      }


    }
  }


  .sans-bold-uppercase {
    a {
      letter-spacing: 0.055em;
      font-weight: 700;
      color: #333;
      text-decoration: none;
      transition: all 0.25s ease;
      transition-property: all;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      transition-delay: initial;
      @media screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
      }

      &:hover,
      &:active {
        color: #727278;
        text-decoration: none;
      }
    }

  }


  // Button
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }

    &-secondary a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.055em;
      display: inline-block;
      padding: 10px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      min-width: 240px;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 10px 50px;
      }
    }
  }
}
