// ========================================================
// ANIMATION - FADE-IN
// ========================================================

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$delay: 0.5s;

@media screen and (min-width: $breakpoint-md) {
  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    &.image-a {
      animation-delay: $delay;
    }
    &.image-b {
      animation-delay: $delay * 2;
    }
    &.image-c {
      animation-delay: $delay * 3;
    }
    &.image-d {
      animation-delay: $delay * 4;
    }
    &.hero__copy {
      animation-delay: $delay * 5;
    }

  } // .fade-in
}
