.dbcc-pdp-banner {
  display: block;
  position: relative;
  max-width: 621px;
  margin: 30px auto 0;
  background: #ffd0cc;
  background-image: url("/wcsstore/images/wwcm/espots/pdp/DBCC_Mobile_v2.jpg");
  background-repeat: no-repeat;
  height: 200px; }
  @media screen and (min-width: 768px) {
    .dbcc-pdp-banner {
      background-image: url("/wcsstore/images/wwcm/espots/pdp/DBCC_Desktop_v2.jpg");
      height: 160px; } }
  .dbcc-pdp-banner a {
    color: #333; }
    .dbcc-pdp-banner a:hover {
      color: #333; }
  .dbcc-pdp-banner__inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; }
  .dbcc-pdp-banner__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    right: 0; }
    @media screen and (min-width: 768px) {
      .dbcc-pdp-banner__text {
        width: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 275px; } }
  .dbcc-pdp-banner p {
    margin: 0; }
    .dbcc-pdp-banner p.serif-m {
      font-size: 22px; }
    .dbcc-pdp-banner p.sans-m {
      margin-top: 10px; }
