.few-favorites {
  display: block;
  position: relative;
  clear: both;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }

  &__heading {
    padding: 0;
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 33.33333%;
      }
      @media screen and (min-width: 1024px) {
        width: 16.66667%;
      }
    }
  }
}
