// ==========================================================================
// Two Column - Offset
// ==========================================================================
.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;

  // background: rgba(0, 255, 0, 0.1);
  // border: 1px solid rgba(0, 255, 0, 0.4);

  &.reverse {
    .column {
      @media screen and (min-width: $breakpoint-md) {
        &:nth-of-type(1) {
          max-width: 60%;
          margin-right: 30px;
          margin-left: 0;
        }
        &:nth-of-type(2) {
          max-width: 40%;
          margin-left: 30px;
          margin-right: 0;
        }
      }
      @media screen and (min-width: $breakpoint-lg) {
        &:nth-of-type(1) {
          max-width: 60%;
          margin-right: 60px;
        }
        &:nth-of-type(2) {
          max-width: 40%;
          margin-left: 60px;
        }
      }
    }
  }

  &.reverse-flex {
    flex-direction: row-reverse;
    .column {
      @media screen and (min-width: $breakpoint-md) {
        &:nth-of-type(1) {
          max-width: 40%;
          margin-right: 0;
          margin-left: 30px;
        }
        &:nth-of-type(2) {
          max-width: 60%;
          margin-left: 0;
          margin-right: 30px;
        }
      }
      @media screen and (min-width: $breakpoint-lg) {
        &:nth-of-type(1) {
          max-width: 40%;
          margin-left: 60px;
        }
        &:nth-of-type(2) {
          max-width: 60%;
          margin-right: 60px;
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $breakpoint-md) {
    &.md-flex-start {
      align-items: center;
    }
  }
  @media screen and (min-width: $breakpoint-lg) {
    &.md-flex-start {
      align-items: center;
    }
  }




  // ----------------------------------------------------------------
  // DEFAULT COLUMNS
  // ----------------------------------------------------------------
  .column {
    width: 100%;
    margin: 10px 0;
    @media screen and (min-width: $breakpoint-md) {
      // margin-left: 30px;
      // margin-right: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      // margin-left: 60px;
      // margin-right: 60px;
    }

    //background: rgba(255, 0, 0, 0.1);
    //border: 1px solid rgba(255, 0, 0, 0.5);

    @media screen and (min-width: $breakpoint-md) {
      &:nth-of-type(1) {
        max-width: 40%;
        margin-right: 30px;
      }
      &:nth-of-type(2) {
        max-width: 60%;
        margin-left: 30px;
      }
    }
    @media screen and (min-width: $breakpoint-lg) {
      &:nth-of-type(1) {
        max-width: 40%;
        margin-right: 60px;
      }
      &:nth-of-type(2) {
        max-width: 60%;
        margin-left: 60px;
      }
    }

    & .caption {
      margin: 5px 0;
      font-size: 13px;
    }

    // Spacing under images
    p {
      margin: 10px 0;
      &.sans-m {
        margin-top: -5px;
      }
    }


    // ----------------------------------------------------------------
    // Round Image
    // ----------------------------------------------------------------
    &__img {
      position: relative;
      margin-left: 20px;
      margin-right: 20px;


      & img {
        border-radius: 50%;
      }
    } // .column__img


    // ----------------------------------------------------------------
    // Blockquote
    // ----------------------------------------------------------------
    & .quote {
      display: block;
      position: relative;
      clear: both;
      border: 2px solid $blue-lt;
      border-width: 2px 0;
      text-align: center;
      margin: 0;


      & blockquote {
        border: 1px solid $blue-lt;
        border-width: 1px 0;
        margin: 2px 0;
        padding: 20px;

        .ldquo {
          margin: 0;
          margin-top: 10px;
          font-size: 48px;
          color: #d6d6d6;
          @media screen and (min-width: $breakpoint-md) {
            font-size: 60px;
          }
        }

        & p {
          margin: 0;
        }

        & .serif-s-italic {
          font-size: 18px;
          line-height: 22px;
          color: $purple-gray-dk;
          max-width: 400px;
          margin: 0 auto;
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        & .sans-xs {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    } // .quote

  } // .column

} // .two-columns


@media screen and (min-width: $breakpoint-lg) {
  .shift-up {
    margin-top: -50px;
  }
}
