@import "variables";
@import "mixins";

.flash-sale-banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 195px;
  text-align: center;
  background: #b8dae0;
  background-image: url('/wcsstore/images/wwcm/homepage/2018/May/memorial-day-weekend/HP_MemorialDayWeekend_FreeShipping_Mobile.jpg');
  background-position: right;
  background-repeat: no-repeat;
  @media screen and (min-width: $breakpoint-lg) {
    height: 100px;
    background-image: url('/wcsstore/images/wwcm/homepage/2018/May/memorial-day-weekend/HP_MemorialDayWeekend_FreeShipping_Desktop_1600x100.jpg');
  }

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }


  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  &__svg {
    //@include red-bg();
    svg {
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 700px;
        margin-right: 20px;
      }
      @media screen and (min-width: 1262px) {
        max-width: 100%;
        margin-right: 60px;
      }
    }
  }



  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
    @media screen and (min-width: $breakpoint-lg) {
      margin-top: 0;
      float: left;
    }

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 50px;
      width: auto;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
    }
  }





  @import "helpers";
}
