@import "variables";
@import "mixins";


// ========================================================
// ESPOT RESETS
// ========================================================
.ctnr-maincontent .row {
  margin: 0 auto;
}
.ctnr-maincontent a {
  text-decoration: none;
}


// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  margin: 0 auto;
  max-width: $max-width;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }

  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-secondary a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid $purple-gray-dk;
      color: $black;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $gray-lt;
      }
    }

    &-secondary-pink a {
      background-color: $white;
      backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64;
      }
    }
  }



  &__img {
    display: block;
    position: relative;
    z-index: 1;
  }



  &__text {
    //@include red-bg();
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding-right: 2px;
    @media screen and (min-width: 400px) {
      width: 80%;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding-right: 0;
      width: 120%;
      height: 95%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 95%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    img {
      width: 100%;
    }
  }



  &__buttons {
    //background: red;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0;
    z-index: 2;
    @media screen and (min-width: $breakpoint-md) {
      padding: 5px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 5px;
      padding-right: 5px;
      width: 768px;
    }
    @media screen and (min-width: 1262px) {
      bottom: 5%;
    }

    .column {
      width: 100%;
      padding: 5px 10px;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.3333%;
        padding: 5px;
      }
    }

    .btn {
      width: 100%;
    }
    .btn-secondary a,
    .btn-secondary-pink a {
      width: 100%;
    }
  }



  &__countdown {
    display: none;
    @media screen and (min-width: $breakpoint-lg) {
      background: #f04874;
      border-radius: 50%;
      position: absolute;
      width: 140px;
      height: 140px;
      z-index: 2;
      top: 14%;
      right: 8%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateZ(-22deg);
    }

    &--text {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.055em;
    }
  }


  @import "helpers";

} // .hero
