.ctnr-maincontent .row {
  margin: 0 auto; }

.ctnr-maincontent a {
  text-decoration: none; }

.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1; }
  .hero .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .hero .sans-bold-uppercase {
      font-size: 12px;
      line-height: 16px; } }
  .hero .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .hero .btn-secondary a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #52535a;
      color: #333;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto; }
      .hero .btn-secondary a:hover, .hero .btn-secondary a:active, .hero .btn-secondary a:focus {
        border: 1px solid #eee; }
    .hero .btn-secondary-pink a {
      background-color: #fff;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border: 1px solid #ef4370;
      background: #ef4370;
      color: #fff;
      display: inline-block;
      outline: none;
      padding: 15px 10px;
      width: auto; }
      .hero .btn-secondary-pink a:hover, .hero .btn-secondary-pink a:active, .hero .btn-secondary-pink a:focus {
        color: #fff;
        background: #c20b64;
        border: 1px solid #c20b64; }
  .hero__img {
    display: block;
    position: relative;
    z-index: 1; }
  .hero__text {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    padding-right: 2px; }
    @media screen and (min-width: 400px) {
      .hero__text {
        width: 80%; } }
    @media screen and (min-width: 768px) {
      .hero__text {
        padding-right: 0;
        width: 120%;
        height: 95%; } }
    @media screen and (min-width: 1024px) {
      .hero__text {
        width: 95%;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0); } }
    .hero__text img {
      width: 100%; }
  .hero__buttons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero__buttons {
        padding: 5px; } }
    @media screen and (min-width: 1024px) {
      .hero__buttons {
        position: absolute;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        padding-left: 5px;
        padding-right: 5px;
        width: 768px; } }
    @media screen and (min-width: 1262px) {
      .hero__buttons {
        bottom: 5%; } }
    .hero__buttons .column {
      width: 100%;
      padding: 5px 10px; }
      @media screen and (min-width: 768px) {
        .hero__buttons .column {
          width: 33.3333%;
          padding: 5px; } }
    .hero__buttons .btn {
      width: 100%; }
    .hero__buttons .btn-secondary a,
    .hero__buttons .btn-secondary-pink a {
      width: 100%; }
  .hero__countdown {
    display: none; }
    @media screen and (min-width: 1024px) {
      .hero__countdown {
        background: #f04874;
        border-radius: 50%;
        position: absolute;
        width: 140px;
        height: 140px;
        z-index: 2;
        top: 14%;
        right: 8%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: rotateZ(-22deg);
                transform: rotateZ(-22deg); } }
    .hero__countdown--text {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.055em; }
  @media screen and (max-width: 767px) {
    .hero .sm-hidden {
      display: none !important; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero .md-hidden {
      display: none !important; } }
  @media screen and (min-width: 1024px) {
    .hero .lg-hidden {
      display: none !important; } }
