// ==========================================================================
// Content
// ==========================================================================
.content-page {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;

  & img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: #333;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }


  // ----------------------------------------------------------------
  // Fonts
  // ----------------------------------------------------------------
  .serif-xxxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  .serif-xxl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-xxl {
        font-size: 48px;
        line-height: 52px; } }

  .serif-xl {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 26px;
    line-height: 1;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-xl {
        font-size: 36px;
        line-height: 40px; } }

  .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-l {
        font-size: 28px;
        line-height: 36px; } }

  .serif-l-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-l-italic {
        font-size: 32px;
        line-height: 36px; } }

  .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }

  .serif-s-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-s-italic {
        font-size: 20px;
        line-height: 24px; } }

  .serif-m {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-m {
        font-size: 22px;
        line-height: 26px;} }

  .serif-s {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-s {
        font-size: 20px;
        line-height: 24px; } }

  .serif-xs {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-xs {
        font-size: 16px;
        line-height: 20px; } }

  .sans-l {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-l {
        font-size: 18px;
        line-height: 30px; } }

  .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-m {
        font-size: 15px;
        line-height: 24px; } }

  .sans-s {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-s {
        font-size: 15px;
        line-height: 24px; } }

  .sans-xs {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-xs {
        font-size: 13px;
        line-height: 20px;
        } }

  .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }


  .sans-m-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 9px;
    font-weight: 700 !important;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    text-decoration: none;
    margin: 0; }
    @media screen and (min-width: $breakpoint-md) {
      .sans-m-bold-uppercase {
        font-size: 11px;
        line-height: 14px; } }

  // Black LInks
  .sans-bold-uppercase a,
  .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: all 0.25s ease;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
  }
  .sans-bold-uppercase a:hover,
  .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none;
  }

  // White Links
  // .sans-bold-uppercase a,
  // .sans-bold-uppercase a:visited {
  //   font-weight: 700;
  //   color: #fff;
  //   text-decoration: none;
  //   transition: all 0.25s ease;
  //   transition-property: all;
  //   transition-duration: 0.25s;
  //   transition-timing-function: ease;
  //   transition-delay: initial;
  // }
  // .sans-bold-uppercase a:hover {
  //   color: #c1c1c1;
  //   text-decoration: none;
  // }

  p[class^="serif"] a {
    font-weight: normal !important
  }


  // ----------------------------------------------------------------
  // Buttons
  // ----------------------------------------------------------------
  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;

    &-primary {
      & a {
        display: block;
        padding: 7px 0;
        border: 1px solid $white;
        color: $white;
        background-color: $purple-gray-dk;
        outline: 4px solid $purple-gray-dk;
        &:hover,
        &:active,
        &:focus {
          border: 1px solid $purple-lt;
          outline: 4px solid $black !important;
        }
      }
    }


    &-secondary a {
      display: block;
      padding: 9px 0;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 11px 0;
      }
    }
  }

  .inline-link {
    color: $taupe;
    font-weight: 400;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      color: $black;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}


// ==========================================================================
// Visibility
// ==========================================================================
.sm-hidden {
  @media screen and (max-width: $breakpoint-md - 1) {
    display: none;
    visibility: hidden;
  }
}

.md-hidden {
  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    display: none;
    visibility: hidden;
  }
}

.lg-hidden {
  @media screen and (min-width: $breakpoint-lg) {
    display: none;
    visibility: hidden;
  }
}
