// ==========================================================================
// Breadcrumbs - Gigya
// ==========================================================================

.breadcrumbs {
  display: block;
  position: relative;
  clear: both;
  overflow: auto;
  padding: 0 10px;
  // @media screen and (min-width: $breakpoint-lg) {
  //   padding: 0 10px;
  // }

  // &-left {
  //   display: block;
  //   @media screen and (min-width: $breakpoint-md) {
  //     display: inline-block;
  //   }
  // }
  //
  // &-right {
  //   display: block;
  //   @media screen and (min-width: $breakpoint-md) {
  //     display: inline-block;
  //     float: right;
  //   }
  // }

  p.sans-bold-uppercase {
    margin-top: 5px;
  }
}
