.large-2-small {
  display: block;
  position: relative;
  margin-top: 20px;

  .sans-m {
    max-width: 800px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    @media screen and (min-width: $breakpoint-md) {
      margin-left: -6px;
      margin-right: -6px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-left: -5px;
      margin-right: -5px;
    }

    &.reverse {
      flex-direction: row-reverse;
    }

    &__col {
      display: block;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        padding-left: 6px;
        padding-right: 6px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        padding-left: 5px;
        padding-right: 5px;
      }

      &:first-child {
        //@include red-bg();
        @media screen and (min-width: $breakpoint-md) {
          width: 70%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          width: 70%;
        }
      }
      &:last-child {
        //@include green-bg();
        @media screen and (min-width: $breakpoint-md) {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        @media screen and (min-width: $breakpoint-lg) {
          width: 30%;
          justify-content: space-between;
        }
      }

      figure {
        padding-bottom: 10px;
        img {
          margin-bottom: 10px;
        }
        p {
          @media screen and (min-width: 1024px) {
            margin-bottom: 6px;
          }
        }
      }
    }
  }

}
