.quick-tip {
  //@include green-bg();
  display: block;
  position: relative;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__inner {
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 20px 30px 25px;
    @media screen and (min-width: $breakpoint-md) {
      padding: 30px 80px 35px;
    }
  }

  p {
    margin: 0;
    &.serif-m-italic {
      font-size: 18px;
      line-height: 22px;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 20px;
      }
    }
  }

  &__heading {
    padding-bottom: 5px;
  }
}
