/**
*
* Layout: Spacing
*
**/


$zero:            0;
$quarter:         6px;
$half:            8px;
$default:         16px;
$one-and-half:    36px;
$double:          48px;
$triple:          72px;



.spacing {
  margin-top: $default;
  margin-bottom: $default;

  & > * + * {
    margin-top: 12px;
  }

  &-zero {
    margin-top: $zero;
    margin-bottom: $zero;
  }
  &-quarter {
    margin-top: $quarter;
    margin-bottom: $quarter;
  }
  &-half {
    margin-top: $half;
    margin-bottom: $half;
  }
}
