
.slide-title .serif-xxl{color: #333;}
.slide-desc .sans-m{color:#333;}


.carousel {
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .carousel {
      padding-bottom: 0; } }
  .carousel .slide {
    height: auto; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
      .carousel img {
        width: 100%; }

  @media screen and (min-width: 768px) {
    .carousel .carousel-button-container {
      top: 0;
      left: 0; } }
  .carousel .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel .carousel__buttons a svg {
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      .carousel .carousel__buttons a svg:hover {
        fill: #74736d; }
      @media screen and (min-width: 768px) {
        .carousel .carousel__buttons a svg {
          fill: #fff; }
          .carousel .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel .carousel-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 10px; } }
  .carousel .carousel-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 10px; } }
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto; }
  .carousel .btn-secondary a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ffffff;
    color: #52535a;
    outline: 1px solid #52535a;
    text-align: center;
    text-decoration: none;
    position: relative; }
    .carousel .btn-secondary a:hover {
      outline: 1px solid #c1c1c1; }


/* Mini-Nav */
.carousel-nav {
background-color: #ffffff;
display: block;
position: absolute;
top: 30px;
left: 30px;
padding: 0 20px;
width: 100%;
max-width: 215px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
z-index: 9; }
@media screen and (max-width: 53.0625em) {
  .carousel-nav {
    display: none; } }

.carousel-heading {
padding: 20px 0;
display: -ms-flexbox;
display: flex;
width: 100%;
cursor: pointer;
-ms-flex-align: center;
    align-items: center;
-ms-flex-pack: justify;
    justify-content: space-between; }

.carousel-nav_items {
border-top: 3px solid #333333; }

.carousel-nav_item {
padding: 15px 0; }
.carousel-nav_item:not(:first-child) {
  border-top: 1px solid #eeeeee; }
  .carousel-nav_item:not(:first-child)[data-nav-open="true"] {
    border-color: #000000; }
.carousel-nav_item:last-child {
  padding-bottom: 20px; }

.carousel-nav_item_header {
display: -ms-flexbox;
display: flex;
width: 100%;
cursor: pointer;
-ms-flex-align: center;
    align-items: center;
-ms-flex-pack: justify;
    justify-content: space-between; }

.carousel-nav_item-child a,
.carousel-nav_item-child a:visited {
text-decoration: none;
display: block;
transition: all 0.25s ease;
transition-property: all;
transition-duration: 0.25s;
transition-timing-function: ease;
transition-delay: initial; }
.carousel-nav_item-child a:hover,
.carousel-nav_item-child a:focus {
  color: #74736d;
  text-decoration: none;
}

.carousel-nav_items-sub {
padding-top: 15px; }

.carousel-nav_header-open-link {
display: block; }

.carousel-nav_header-action-plus {
position: absolute;
top: -15px;
right: 0; }
.carousel-nav_header-action-plus svg {
  width: 13px;
  height: 13px; }

.carousel-nav_header-action-minus {
position: absolute;
top: -15px;
right: 0; }
.carousel-nav_header-action-minus svg {
  width: 13px;
  height: 3px; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
display: block; }


html,
body {
  color: #333; }
a {text-decoration:none;}
.rowContainer, .rowContainer > .row {
  padding: 0; }

.carousel {
  border: none;
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .carousel {
      padding-bottom: 10px; } }
  .carousel h1,
  .carousel h2,
  .carousel h3,
  .carousel h4,
  .carousel h5,
  .carousel h6 {
    padding: 0; }
  .carousel .reverse-type h1,
  .carousel .reverse-type h2,
  .carousel .reverse-type h3,
  .carousel .reverse-type h4,
  .carousel .reverse-type h5,
  .carousel .reverse-type h6,
  .carousel .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .carousel .reverse-type h1,
      .carousel .reverse-type h2,
      .carousel .reverse-type h3,
      .carousel .reverse-type h4,
      .carousel .reverse-type h5,
      .carousel .reverse-type h6,
      .carousel .reverse-type p {
        color: #fff; } }
  .carousel .slide {
    height: auto; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
      .carousel .slide-background img {
    width: 767px;
    max-width: 100%;
}

  .carousel .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel .carousel__buttons a svg {
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      .carousel .carousel__buttons a svg:hover {
        fill: #74736d; }
      @media screen and (min-width: 768px) {
        .carousel .carousel__buttons a svg {
          fill: #fff; }
          .carousel .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel .carousel-prev {
    position: absolute;
    top: 8px;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 30px; } }
  .carousel .carousel-next {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 30px; }
        .spacing>*+* {
    margin-top: 10px;
}}
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto; }
  .carousel .btn a,
  .carousel .btn a:hover {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    padding: 7px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    min-width: 200px; }
  .carousel .btn-primary a {
    background-color: #52535a;
    color: #fff;
    outline: 4px solid #52535a;
    border: 1px solid #fff; }
    .carousel .btn-primary a:hover {
      outline: 4px solid #333333; }
  .carousel .btn-secondary a {
    background-color: #ffffff;
    color: #52535a;
    outline: 1px solid #52535a; }
    .carousel .btn-secondary a:hover {
            background-color: #ccc;
      outline: 1px solid #333; }
    a.white_text {
    color: #ffffff;
    }
    .letter-space {
    letter-spacing: 3px;
    }
  .carousel .btn-secondary-special a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ef4370;
    color: #ffffff;
    outline: 1px solid #ef4370;
    text-align: center;
    text-decoration: none;
    padding: 11px 24px;
    position: relative; }
    .carousel .btn-secondary-special a:hover {
      background-color: #c20b64;
      outline: 1px solid #c20b64; }

.mobile-only {
  display: block; }
  @media screen and (min-width: 768px) {
    .mobile-only {
      display: none; } }





.carousel {
  .slide {
    width: 100%;

    &-background {
      img {
        width: 100%;
      }
    }

    &-text {
      position: relative;
      padding: 30px;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874;
      @media screen and (min-width: 768px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        margin: 0;
        padding: 60px 40px;
      }

      p {
        margin: 0;
        &.serif-l-italic {
          margin-bottom: 10px;
        }
        &.sans-m {
          margin-bottom: 20px;
          max-width: 240px;
        }
        &.btn {
          margin-bottom: 20px;
        }
        &.sans-bold-uppercase {
          margin-bottom: 0;
        }
      }
    } // .slide-text

  } // .slide

} // .carousel
