.bm-gifts {
  background: #f3eadf;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 30px auto;


  &__bg {
    width: 100%;
    height: 200px;
    background-image: url('/wcsstore/images/wwcm/categorylandingpages/spring2018/bridesmaids/Bridesmaids_CLP_BM-Gifts-Banner_1262x200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
      background-position: 90% 0;
    }
  }

  &__text {
    //background: rgba(0, 255, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
    @media screen and (min-width: 768px) {
      padding: 0;
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translate(-25%, -50%);
    }
    @media screen and (min-width: 1024px) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p {
    margin: 0;
  }

  .serif-l {
    margin-bottom: 15px;
  }

}
