// ========================================================
// CAROUSEL
// ========================================================

$breakpoint-md:    768px;
$breakpoint-lg:    1024px;
$breakpoint-xl:    1262px;
$full-width:       1600px;

.left_espot .column {
  z-index: 1;
}

.carousel {
  border: none;
  color: #333;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  position: relative;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
  }

  .reverse-type {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #333;
      padding: 0;
      @media screen and (min-width: $breakpoint-md) {
        color: #fff;
      }
    }
  }


  .slide {
    height: auto;
    width: 100%;
    &-background {
      position: relative;
      width: 100%;
    }


    &-text {
      position: relative;
      padding: 30px;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874;
      @media screen and (min-width: $breakpoint-md) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        margin: 0;
        padding: 20px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        padding: 60px 40px;
        right: 10%;
        width: 340px;
      }

      p {
        margin: 0;
        &.serif-l,
        &.serif-l-italic {
          margin-bottom: 10px;
        }
        &.sans-m {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 240px;
        }
        &.btn {
          margin-bottom: 20px;
        }
        &.sans-bold-uppercase {
          margin-bottom: 15px;
        }
      }
    } // .slide-text

  } // .slide


  img {
    width: 100%;
  }


  .carousel-button-container {
    @media screen and (min-width: $breakpoint-md) {
      top: 0;
      left: 0;
    }
  }


  &__buttons {
    a {
      display: inline-block;
      width: 30px;
      svg {
        transition: fill 0.2s ease-in-out;
        width: 30px;
        height: 30px;
        fill: #333;
        @media screen and (min-width: $breakpoint-md) {
          fill: #fff;
        }
        &:hover {
          fill: #74736d;
          @media screen and (min-width: $breakpoint-md) {
            fill: #c1c1c1;
          }
        }
      }
    }
  } // .carousel__buttons


  &-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px;
    @media screen and (min-width: $breakpoint-md) {
      top: 45%;
      left: 0;
      margin-left: 10px;
    }
  }

  &-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px;
    @media screen and (min-width: $breakpoint-md) {
      top: 45%;
      right: 0;
      margin-right: 10px;
    }
  }


  .btn {
    margin: 10px 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid transparent;
    a,
    a:hover {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      padding: 7px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      min-width: 200px;
    }

    &-primary {
      a {
        background-color: #52535a;
        color: #fff;
        outline: 4px solid #52535a;
        border: 1px solid #fff;
        &:hover {
          outline: 4px solid #333333;
        }
      }
    }

    &-secondary {
      a {
        font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #ffffff;
        color: #52535a;
        outline: 1px solid #52535a;
        text-align: center;
        text-decoration: none;
        position: relative;
        &:hover {
          background-color: #ccc;
          outline: 1px solid #333;
        }
      }
    }

    &-secondary-special {
      a {
        font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #ef4370;
        color: #ffffff;
        outline: 1px solid #ef4370;
        text-align: center;
        text-decoration: none;
        padding: 11px 24px;
        position: relative;
        &:hover,
        &:focus {
          padding: 11px 24px;
          background-color: #c20b64;
          outline: 1px solid #c20b64;
        }
      }
    }

  }



  // Mini-Nav
  &-nav {
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0 20px;
    width: 100%;
    max-width: 215px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 9;
    @media screen and (max-width: 849px) {
      display: none;
    }

    &_items {
      border-top: 3px solid #333333;
      &-sub {
        padding-top: 15px;
      }
    } // .carousel-nav_items

    &_item {
      padding: 15px 0;
      &:not(:first-child) {
        border-top: 1px solid #eeeeee;
        &[data-nav-open="true"] {
          border-color: #000000;
        }
      }
      &:last-child {
        padding-bottom: 20px;
      }

      &_header {
        display: flex;
        width: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
      } // .carousel-nav_item_header

      &-child {
        a,
        a:visited {
          text-decoration: none;
          display: block;
          transition: all 0.25s ease;
          transition-property: all;
          transition-duration: 0.25s;
          transition-timing-function: ease;
          transition-delay: initial;
        }
        a:hover,
        a:focus {
          color: #74736d;
          text-decoration: none;
        }
      }
    } // .carousel-nav_item

    &_header {
      &-open-link {
        display: block;
      } // .carousel-nav_header-open-link
      &-action {
        &-plus {
          position: absolute;
          top: -15px;
          right: 0;
          & svg {
            width: 13px;
            height: 13px;
          }
        } // .carousel-nav_item_header-action-plus
        &-minus {
          position: absolute;
          top: -15px;
          right: 0;
          & svg {
            width: 13px;
            height: 3px;
          }
        } // .carousel-nav_item_header-action-minus
      }  // .carousel-nav_header-action
    } // .carousel-nav_header
  } // .carousel-nav


  &-heading {
    padding: 20px 0;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  } // .carousel-heading




  &.video {
    max-width: 1262px;
    margin: 0 auto;
    border: none;

    .slide-background {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .slide-text {
      background: rgba(248, 246, 240, 0.85);
      @media screen and (min-width: $breakpoint-md) {
        top: 40%;
        transform: translateY(-40%);
        padding: 30px 40px;
      }
    }

    .carousel-nav {
      background: rgba(255, 255, 255, 0.85);
    }
  } // .carousel.video

  .video-cover {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 13.38029%;
      background: rgba(255, 255, 255, 1);
    }
  }



} // .carousel


[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
display: block; }




.carousel {
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: -10%;
  }
  @media screen and (min-width: 850px) {
    margin-bottom: -6%;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin-bottom: -10%;
  }
  @media screen and (min-width: $breakpoint-xl) {
    margin-bottom: -250px;
  }

  .slide-text {
    background: rgba(248, 246, 240, 0.85);
    margin-top: -200px;
    padding: 20px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
      top: 30%;
      transform: translateY(-30%);
      right: 20px;
    }
    @media screen and (min-width: 850px) {
      margin-top: 0;
      top: 40%;
      transform: translateY(-40%);
      right: 20px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      //padding: 20px 30px;
      right: 40px;
      width: auto;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (min-width: $breakpoint-xl) {
      padding: 40px;
      right: calc(calc(100vw - 1252px) / 2);
      top: 25%;
      transform: translateY(-25%);
      width: 360px;
    }
    @media screen and (min-width: $full-width) {
      right: calc(calc(1600px - 1262px) / 2);
    }
  }
}


// ========================================================
// Bottom Fade
// ========================================================
.carousel {

  .slide-background {
    &::after {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      height: 70%;
      width: 100%;
      z-index: 0;
      // background-image: linear-gradient(
      //   to bottom,
      //   rgba(255, 255, 255, 0.00) 0%,
      //   rgba(255, 255, 255, 1.00) 100.00%
      // );
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.00) 0%,
        rgba(255, 255, 255, 0.01) 6.67%,
        rgba(255, 255, 255, 0.02) 13.33%,
        rgba(255, 255, 255, 0.05) 20.00%,
        rgba(255, 255, 255, 0.08) 26.67%,
        rgba(255, 255, 255, 0.13) 33.33%,
        rgba(255, 255, 255, 0.21) 40.00%,
        rgba(255, 255, 255, 0.34) 46.67%,
        rgba(255, 255, 255, 0.50) 53.33%,
        rgba(255, 255, 255, 0.66) 60.00%,
        rgba(255, 255, 255, 0.79) 66.67%,
        rgba(255, 255, 255, 0.88) 73.33%,
        rgba(255, 255, 255, 0.92) 80.00%,
        rgba(255, 255, 255, 0.95) 86.67%,
        rgba(255, 255, 255, 0.98) 93.33%,
        rgba(248, 246, 240, 1.00) 100.00%
      );
      @media screen and (min-width: $breakpoint-md) {
        height: 40%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        height: 50%;
      }
    }

    &.bridesmaids {
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        height: 70%;
        width: 100%;
        z-index: 0;
        // background-image: linear-gradient(
        //   to bottom,
        //   rgba(255, 255, 255, 0.00) 0%,
        //   rgba(255, 255, 255, 1.00) 100.00%
        // );
        background-image: linear-gradient(
          to bottom,
          rgba(36, 5, 0, 0.00) 0%,
          rgba(50, 21, 16, 0.01) 6.67%,
          rgba(64, 37, 32, 0.02) 13.33%,
          rgba(78, 53, 48, 0.05) 20.00%,
          rgba(93, 69, 64, 0.08) 26.67%,
          rgba(107, 85, 80, 0.13) 33.33%,
          rgba(121, 101, 96, 0.21) 40.00%,
          rgba(135, 117, 112, 0.34) 46.67%,
          rgba(149, 134, 128, 0.50) 53.33%,
          rgba(163, 150, 144, 0.66) 60.00%,
          rgba(177, 166, 160, 0.79) 66.67%,
          rgba(191, 182, 176, 0.88) 73.33%,
          rgba(206, 198, 192, 0.92) 80.00%,
          rgba(220, 214, 208, 0.95) 86.67%,
          rgba(234, 230, 224, 0.98) 93.33%,
          rgba(248, 246, 240, 1.00) 100.00%
        );
        @media screen and (min-width: $breakpoint-md) {
          height: 40%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          height: 50%;
        }
      }
    }
  }

}
