.left_espot .column {
  z-index: 1; }

.carousel {
  border: none;
  color: #333;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
  position: relative; }
  .carousel h1,
  .carousel h2,
  .carousel h3,
  .carousel h4,
  .carousel h5,
  .carousel h6 {
    padding: 0; }
  .carousel .reverse-type h1,
  .carousel .reverse-type h2,
  .carousel .reverse-type h3,
  .carousel .reverse-type h4,
  .carousel .reverse-type h5,
  .carousel .reverse-type h6,
  .carousel .reverse-type p {
    color: #333;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .carousel .reverse-type h1,
      .carousel .reverse-type h2,
      .carousel .reverse-type h3,
      .carousel .reverse-type h4,
      .carousel .reverse-type h5,
      .carousel .reverse-type h6,
      .carousel .reverse-type p {
        color: #fff; } }
  .carousel .slide {
    height: auto;
    width: 100%; }
    .carousel .slide-background {
      position: relative;
      width: 100%; }
    .carousel .slide-text {
      position: relative;
      padding: 30px;
      text-align: center;
      margin: 10px;
      background-color: #f9f6ef;
      border: solid 2px #f04874; }
      @media screen and (min-width: 768px) {
        .carousel .slide-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 5%;
          margin: 0;
          padding: 20px; } }
      @media screen and (min-width: 1024px) {
        .carousel .slide-text {
          padding: 60px 40px;
          right: 10%;
          width: 340px; } }
      .carousel .slide-text p {
        margin: 0; }
        .carousel .slide-text p.serif-l, .carousel .slide-text p.serif-l-italic {
          margin-bottom: 10px; }
        .carousel .slide-text p.sans-m {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 240px; }
        .carousel .slide-text p.btn {
          margin-bottom: 20px; }
        .carousel .slide-text p.sans-bold-uppercase {
          margin-bottom: 15px; }
  .carousel img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .carousel .carousel-button-container {
      top: 0;
      left: 0; } }
  .carousel__buttons a {
    display: inline-block;
    width: 30px; }
    .carousel__buttons a svg {
      -webkit-transition: fill 0.2s ease-in-out;
      transition: fill 0.2s ease-in-out;
      width: 30px;
      height: 30px;
      fill: #333; }
      @media screen and (min-width: 768px) {
        .carousel__buttons a svg {
          fill: #fff; } }
      .carousel__buttons a svg:hover {
        fill: #74736d; }
        @media screen and (min-width: 768px) {
          .carousel__buttons a svg:hover {
            fill: #c1c1c1; } }
  .carousel-prev {
    position: absolute;
    top: 80%;
    right: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-prev {
        top: 45%;
        left: 0;
        margin-left: 10px; } }
  .carousel-next {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 10px; }
    @media screen and (min-width: 768px) {
      .carousel-next {
        top: 45%;
        right: 0;
        margin-right: 10px; } }
  .carousel .btn {
    margin: 10px 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid transparent; }
    .carousel .btn a,
    .carousel .btn a:hover {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      padding: 7px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      min-width: 200px; }
    .carousel .btn-primary a {
      background-color: #52535a;
      color: #fff;
      outline: 4px solid #52535a;
      border: 1px solid #fff; }
      .carousel .btn-primary a:hover {
        outline: 4px solid #333333; }
    .carousel .btn-secondary a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ffffff;
      color: #52535a;
      outline: 1px solid #52535a;
      text-align: center;
      text-decoration: none;
      position: relative; }
      .carousel .btn-secondary a:hover {
        background-color: #ccc;
        outline: 1px solid #333; }
    .carousel .btn-secondary-special a {
      font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: #ef4370;
      color: #ffffff;
      outline: 1px solid #ef4370;
      text-align: center;
      text-decoration: none;
      padding: 11px 24px;
      position: relative; }
      .carousel .btn-secondary-special a:hover, .carousel .btn-secondary-special a:focus {
        padding: 11px 24px;
        background-color: #c20b64;
        outline: 1px solid #c20b64; }
  .carousel-nav {
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0 20px;
    width: 100%;
    max-width: 215px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 9; }
    @media screen and (max-width: 849px) {
      .carousel-nav {
        display: none; } }
    .carousel-nav_items {
      border-top: 3px solid #333333; }
      .carousel-nav_items-sub {
        padding-top: 15px; }
    .carousel-nav_item {
      padding: 15px 0; }
      .carousel-nav_item:not(:first-child) {
        border-top: 1px solid #eeeeee; }
        .carousel-nav_item:not(:first-child)[data-nav-open="true"] {
          border-color: #000000; }
      .carousel-nav_item:last-child {
        padding-bottom: 20px; }
      .carousel-nav_item_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        cursor: pointer;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .carousel-nav_item-child a,
      .carousel-nav_item-child a:visited {
        text-decoration: none;
        display: block;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-delay: initial;
                transition-delay: initial; }
      .carousel-nav_item-child a:hover,
      .carousel-nav_item-child a:focus {
        color: #74736d;
        text-decoration: none; }
    .carousel-nav_header-open-link {
      display: block; }
    .carousel-nav_header-action-plus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-plus svg {
        width: 13px;
        height: 13px; }
    .carousel-nav_header-action-minus {
      position: absolute;
      top: -15px;
      right: 0; }
      .carousel-nav_header-action-minus svg {
        width: 13px;
        height: 3px; }
  .carousel-heading {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .carousel.video {
    max-width: 1262px;
    margin: 0 auto;
    border: none; }
    .carousel.video .slide-background {
      position: relative;
      padding-bottom: 56.25%;
      height: 0; }
      .carousel.video .slide-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .carousel.video .slide-text {
      background: rgba(248, 246, 240, 0.85); }
      @media screen and (min-width: 768px) {
        .carousel.video .slide-text {
          top: 40%;
          -webkit-transform: translateY(-40%);
                  transform: translateY(-40%);
          padding: 30px 40px; } }
    .carousel.video .carousel-nav {
      background: rgba(255, 255, 255, 0.85); }
  .carousel .video-cover {
    display: none; }
    @media screen and (min-width: 768px) {
      .carousel .video-cover {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 13.38029%;
        background: white; } }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] > .carousel-nav_item_header .carousel-nav_header-action .carousel-nav_header-action-minus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-plus {
  display: block; }

[data-nav-open="false"] .carousel-heading .carousel-nav_header-action-minus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-plus {
  display: none; }

[data-nav-open="true"] .carousel-heading .carousel-nav_header-action-minus {
  display: block; }

@media screen and (min-width: 768px) {
  .carousel {
    margin-bottom: -10%; } }

@media screen and (min-width: 850px) {
  .carousel {
    margin-bottom: -6%; } }

@media screen and (min-width: 1024px) {
  .carousel {
    margin-bottom: -10%; } }

@media screen and (min-width: 1262px) {
  .carousel {
    margin-bottom: -250px; } }

.carousel .slide-text {
  background: rgba(248, 246, 240, 0.85);
  margin-top: -200px;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .carousel .slide-text {
      margin-top: 0;
      top: 30%;
      -webkit-transform: translateY(-30%);
              transform: translateY(-30%);
      right: 20px; } }
  @media screen and (min-width: 850px) {
    .carousel .slide-text {
      margin-top: 0;
      top: 40%;
      -webkit-transform: translateY(-40%);
              transform: translateY(-40%);
      right: 20px; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-text {
      right: 40px;
      width: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media screen and (min-width: 1262px) {
    .carousel .slide-text {
      padding: 40px;
      right: calc(calc(100vw - 1252px) / 2);
      top: 25%;
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
      width: 360px; } }
  @media screen and (min-width: 1600px) {
    .carousel .slide-text {
      right: calc(calc(1600px - 1262px) / 2); } }

.carousel .slide-background::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(6.67%, rgba(255, 255, 255, 0.01)), color-stop(13.33%, rgba(255, 255, 255, 0.02)), color-stop(20%, rgba(255, 255, 255, 0.05)), color-stop(26.67%, rgba(255, 255, 255, 0.08)), color-stop(33.33%, rgba(255, 255, 255, 0.13)), color-stop(40%, rgba(255, 255, 255, 0.21)), color-stop(46.67%, rgba(255, 255, 255, 0.34)), color-stop(53.33%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.66)), color-stop(66.67%, rgba(255, 255, 255, 0.79)), color-stop(73.33%, rgba(255, 255, 255, 0.88)), color-stop(80%, rgba(255, 255, 255, 0.92)), color-stop(86.67%, rgba(255, 255, 255, 0.95)), color-stop(93.33%, rgba(255, 255, 255, 0.98)), to(#f8f6f0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 6.67%, rgba(255, 255, 255, 0.02) 13.33%, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.08) 26.67%, rgba(255, 255, 255, 0.13) 33.33%, rgba(255, 255, 255, 0.21) 40%, rgba(255, 255, 255, 0.34) 46.67%, rgba(255, 255, 255, 0.5) 53.33%, rgba(255, 255, 255, 0.66) 60%, rgba(255, 255, 255, 0.79) 66.67%, rgba(255, 255, 255, 0.88) 73.33%, rgba(255, 255, 255, 0.92) 80%, rgba(255, 255, 255, 0.95) 86.67%, rgba(255, 255, 255, 0.98) 93.33%, #f8f6f0 100%); }
  @media screen and (min-width: 768px) {
    .carousel .slide-background::after {
      height: 40%; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-background::after {
      height: 50%; } }

.carousel .slide-background.bridesmaids::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 5, 0, 0)), color-stop(6.67%, rgba(50, 21, 16, 0.01)), color-stop(13.33%, rgba(64, 37, 32, 0.02)), color-stop(20%, rgba(78, 53, 48, 0.05)), color-stop(26.67%, rgba(93, 69, 64, 0.08)), color-stop(33.33%, rgba(107, 85, 80, 0.13)), color-stop(40%, rgba(121, 101, 96, 0.21)), color-stop(46.67%, rgba(135, 117, 112, 0.34)), color-stop(53.33%, rgba(149, 134, 128, 0.5)), color-stop(60%, rgba(163, 150, 144, 0.66)), color-stop(66.67%, rgba(177, 166, 160, 0.79)), color-stop(73.33%, rgba(191, 182, 176, 0.88)), color-stop(80%, rgba(206, 198, 192, 0.92)), color-stop(86.67%, rgba(220, 214, 208, 0.95)), color-stop(93.33%, rgba(234, 230, 224, 0.98)), to(#f8f6f0));
  background-image: linear-gradient(to bottom, rgba(36, 5, 0, 0) 0%, rgba(50, 21, 16, 0.01) 6.67%, rgba(64, 37, 32, 0.02) 13.33%, rgba(78, 53, 48, 0.05) 20%, rgba(93, 69, 64, 0.08) 26.67%, rgba(107, 85, 80, 0.13) 33.33%, rgba(121, 101, 96, 0.21) 40%, rgba(135, 117, 112, 0.34) 46.67%, rgba(149, 134, 128, 0.5) 53.33%, rgba(163, 150, 144, 0.66) 60%, rgba(177, 166, 160, 0.79) 66.67%, rgba(191, 182, 176, 0.88) 73.33%, rgba(206, 198, 192, 0.92) 80%, rgba(220, 214, 208, 0.95) 86.67%, rgba(234, 230, 224, 0.98) 93.33%, #f8f6f0 100%); }
  @media screen and (min-width: 768px) {
    .carousel .slide-background.bridesmaids::after {
      height: 40%; } }
  @media screen and (min-width: 1024px) {
    .carousel .slide-background.bridesmaids::after {
      height: 50%; } }
