$pink1: #e8aead;
$pink2: #f7c4d0;
$pink3: #d51d88;

$purple1: #952042;
$purple2: #842d79;
$purple3: #70114e;

$blue1: #113864;
$blue2: #842d79;
$blue3: #472e92;

@keyframes circle1 {
  0% {
    fill: $pink1;
  }
  33% {
    fill: $purple1;
  }
  66% {
    fill: $blue1;
  }
  100% {
    fill: $pink1;
  }
}

@keyframes circle2 {
  0% {
    fill: $pink2;
  }
  33% {
    fill: $purple2;
  }
  66% {
    fill: $blue2;
  }
  100% {
    fill: $pink2;
  }
}

@keyframes circle3 {
  0% {
    fill: $pink3;
  }
  33% {
    fill: $purple3;
  }
  66% {
    fill: $blue3;
  }
  100% {
    fill: $pink3;
  }
}


$animation-duration: 6s;
$animation-iteration: infinite;
$animation-direction: normal;
$animation-delay: 2s;


.color-circles {
  //background: rgba(0, 255, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto 10px;
  @media screen and (min-width: 1024px) {
    max-width: 100%;
  }

  &__svg {
    width: 33.33333%;
    padding: 15px;
    @media screen and (min-width: 1024px) {
      padding: 10px;
    }

    svg {
      animation-duration: $animation-duration;
      animation-iteration-count: $animation-iteration;
      animation-direction: $animation-direction;
      animation-delay: $animation-delay;
    }

    &:nth-child(1) {
      svg {
        fill: #e8aead;
        animation-name: circle1;
      }
    }

    &:nth-child(2) {
      svg {
        fill: #f7c4d0;
        animation-name: circle2;
      }
    }

    &:nth-child(3) {
      svg {
        fill: #d51d88;
        animation-name: circle3;
      }
    }
  }
} // .color-circles
