@-webkit-keyframes circle1 {
  0% {
    fill: #e8aead; }
  33% {
    fill: #952042; }
  66% {
    fill: #113864; }
  100% {
    fill: #e8aead; } }

@keyframes circle1 {
  0% {
    fill: #e8aead; }
  33% {
    fill: #952042; }
  66% {
    fill: #113864; }
  100% {
    fill: #e8aead; } }

@-webkit-keyframes circle2 {
  0% {
    fill: #f7c4d0; }
  33% {
    fill: #842d79; }
  66% {
    fill: #842d79; }
  100% {
    fill: #f7c4d0; } }

@keyframes circle2 {
  0% {
    fill: #f7c4d0; }
  33% {
    fill: #842d79; }
  66% {
    fill: #842d79; }
  100% {
    fill: #f7c4d0; } }

@-webkit-keyframes circle3 {
  0% {
    fill: #d51d88; }
  33% {
    fill: #70114e; }
  66% {
    fill: #472e92; }
  100% {
    fill: #d51d88; } }

@keyframes circle3 {
  0% {
    fill: #d51d88; }
  33% {
    fill: #70114e; }
  66% {
    fill: #472e92; }
  100% {
    fill: #d51d88; } }

.color-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 320px;
  margin: 0 auto 10px; }
  @media screen and (min-width: 1024px) {
    .color-circles {
      max-width: 100%; } }
  .color-circles__svg {
    width: 33.33333%;
    padding: 15px; }
    @media screen and (min-width: 1024px) {
      .color-circles__svg {
        padding: 10px; } }
    .color-circles__svg svg {
      -webkit-animation-duration: 6s;
              animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
    .color-circles__svg:nth-child(1) svg {
      fill: #e8aead;
      -webkit-animation-name: circle1;
              animation-name: circle1; }
    .color-circles__svg:nth-child(2) svg {
      fill: #f7c4d0;
      -webkit-animation-name: circle2;
              animation-name: circle2; }
    .color-circles__svg:nth-child(3) svg {
      fill: #d51d88;
      -webkit-animation-name: circle3;
              animation-name: circle3; }
