@import "../variables";

.dbcc-banner {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1252px;

  &__inner {
    background: #ffbbb3;
    border: 1px solid $white;
    outline: 5px solid #ffbbb3;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    @media screen and (min-width: 1150px) {
      flex-wrap: nowrap;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  p {
    width: 100%;
    margin: 0;
    @media screen and (min-width: 1150px) {
      width: auto;
    }
    &.sans-m {
      max-width: 280px;
      margin-top: 5px;
      margin-bottom: 15px;
      @media screen and (min-width: 500px) {
        max-width: 100%;
      }
      @media screen and (min-width: 1150px) {
        margin: 0 20px;
      }
    }
  }

  .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;

    &-secondary a {
      display: inline-block;
      padding: 11px 32px;
      border: 1px solid $purple-gray-dk;
      color: $black;
      background-color: $white;
      outline: none;
      min-width: 240px;
      &:hover,
      &:active,
      &focus {
        border: 1px solid $purple-lt;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding: 11px 50px;
        min-width: auto;
      }
    }
  }

}
