.designer-spotlight {
  // background: rgba(0, 255, 0, 0.1);
  // border: 1px solid rgba(0, 255, 0, 0.4);
  max-width: 1282px;
  margin: 0 auto;
  position: relative;
  padding: 0 5px;
  @media screen and (min-width: 1262px) {
    padding: 0;
  }

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (min-width: 1262px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -7px;
    position: relative;
  }

  h2 {
    margin: 0;
    margin-bottom: -10px;
    // @media screen and (min-width: 768px) {
    //   padding-left: 5px;
    // }
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0;
      @media screen and (min-width: 768px) {
        padding: 5px;
      }
    }
  }


  img {
    width: 100%;
  }

  .media-block-content {
    margin-top: 10px;
    p {
      margin-top: 5px;
      @media screen and (min-width: 768px) {
        margin-top: 5px;
      }
    }
  }
}
