.fg-rewards-banner {
  margin: 20px auto 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1282px;


  &__inner {
    background: #f93777;


  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      padding-top: 30px;
      align-items: flex-end;
    }
  }

  p {
    width: 100%;
    margin: 0;
    color: #fff;
    @media screen and (min-width: 768px) {
      width: auto;
      margin-right: 15px;
      margin-left: 15px;
    }
    &.sans-m {
      margin-top: 10px;
      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }
  }

  .sans-bold-uppercase {
    //background: green;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    @media screen and (min-width: 768px) {
      padding-bottom: 30px;
    }
    a {
      color: #fff;
      &:hover {
        color: #eee;
      }
    }
  }
}
