.grid-2-3-6 {
  display: block;
  position: relative;
  clear: both;
  margin: 20px auto;
  @media screen and (min-width: 1024px) {
    margin: 30px auto;
  }

  img {
    width: 100%;
  }

  &__inner {
    display: block;
    margin: 0 auto;
    padding: 0 5px;
    @media screen and (min-width: 1282px) {
      padding: 0;
    }
  }

  &__heading {
    padding: 0;
    display: block;
    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }



    h3 {
      display: inline-block;
    }
    p {
      display: inline-block;
    }
  }


  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 33.33333%;
      }
      @media screen and (min-width: 1024px) {
        width: 16.66667%;
      }
    }
  }
}
