.homecoming-banner {
  display: block;
  position: relative;
  max-width: 1252px;
  margin: 0 auto;
  background-color: #acdef1;
  background-image: url('/wcsstore/images/wwcm/categorylandingpages/homecoming2017/hoco_trends2017_banner_full.jpg');
  background-position: 18% 0;
  background-size: cover;
  height: 115px;

  @media screen and (min-width: 768px) {
    background-position: 9% 0;
    height: 149px;
  }
  @media screen and (min-width: 1024px) {
    background-position: 0 0;
  }



  &__text {
    //background: rgba(255, 0, 0, 0.1);
    position: absolute;
    text-align: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    @media screen and (min-width: 768px) {
      right: 5%;
    }
    @media screen and (min-width: 1024px) {
      right: 10%;
    }

    p {
      margin: 0;
    }

    .serif-l-italic {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    .sans-s {
      margin-bottom: 10px;
    }
  }
}
