.inspiration-guidance {
  max-width: 1282px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 5px; }
  @media screen and (min-width: 1262px) {
    .inspiration-guidance {
      padding: 0; } }
  .inspiration-guidance .column-full {
    padding: 0; }
  .inspiration-guidance .spacing > * + * {
    margin-top: 0; }
  .inspiration-guidance .section-minor-heading {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 1262px) {
      .inspiration-guidance .section-minor-heading {
        margin-left: 10px;
        margin-right: 10px; } }
  .inspiration-guidance .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: white;
    bottom: -7px;
    position: relative; }
  .inspiration-guidance .article__teaser-list {
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .inspiration-guidance .article__teaser-list {
        margin-top: 5px; } }
    .inspiration-guidance .article__teaser-list .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%; }
      @media screen and (max-width: 767px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          float: left;
          margin-right: 11px;
          width: 50%; }
          .inspiration-guidance .article__teaser-list .media-block-img-wrap img {
            width: 100%; } }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .article__teaser-list .media-block-img-wrap {
          margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .inspiration-guidance .article__teaser-list .mobile-mb-split-1:not(:last-child) {
        padding-bottom: 0px; } }
  .inspiration-guidance .layout-split-4 {
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .inspiration-guidance .layout-split-4 > .column {
      margin-top: 10px;
      margin-bottom: 10px; }
      .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
        margin-top: 0; }
      @media screen and (min-width: 768px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          display: block;
          margin-right: 0;
          width: 25%; }
          .inspiration-guidance .layout-split-4 > .column:nth-child(1) {
            margin-top: 10px; } }
      @media screen and (min-width: 1024px) {
        .inspiration-guidance .layout-split-4 > .column {
          float: left;
          clear: none;
          display: block;
          margin-right: 0;
          width: 25%;
          margin-top: 10px; } }
