// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.inspiration-guidance {
  // background: rgba(0, 255, 0, 0.1);
  // border: 1px solid rgba(0, 255, 0, 0.4);
  max-width: 1282px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 5px;
  @media screen and (min-width: 1262px) {
    padding: 0;
  }
  .column-full {
    padding: 0;
  }

  .spacing>*+* {
    margin-top: 0;
  }

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (min-width: 1262px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -7px;
    position: relative;
  }

  .article__teaser-list {
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }

    & .media-block-img-wrap {
      float: left;
      margin-right: 11px;
      width: 100%;
      @media screen and (max-width: 767px) {
        float: left;
        margin-right: 11px;
        width: 50%;
        & img {
          width: 100%;
        }
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
      }
    }

    & .mobile-mb-split-1:not(:last-child) {
      @media screen and (max-width: 767px) {
        padding-bottom: 0px;
      }
    }
  }

  .layout-split-4 {
    // background: rgba(255, 0, 0, 0.1);
    // border: 1px solid rgba(255, 0, 0, 0.4);
    max-width: 1272px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    > .column {
      // background: rgba(0, 255, 0, 0.1);
      // border: 1px solid rgba(0, 255, 0, 0.4);
      margin-top: 10px;
      margin-bottom: 10px;
      &:nth-child(1) {
        margin-top: 0;
      }
      @media screen and (min-width: 768px) {
        float: left;
        display: block;
        margin-right: 0;
        width: 25%;
        &:nth-child(1) {
          margin-top: 10px;
        }
      }
      @media screen and (min-width: 1024px) {
        float: left;
        clear: none;
        display: block;
        margin-right: 0;
        width: 25%;
        margin-top: 10px;
        // &:nth-child(1) {
        //   margin-top: 10px;
        // }
        // &:nth-child(2n+1) {
        //   clear: none;
        //   margin-top: 0;
        // }
        // &:nth-child(4) {
        //   clear: none;
        //   margin-top: 0;
        // }
      }
    }

  }


}
