.three-across {
  max-width: 1272px; }
  .three-across h2 {
    margin: 0;
    margin-bottom: -10px; }
  .three-across .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
    @media screen and (min-width: 768px) {
      .three-across .flex-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .three-across .flex-container .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0; }
      @media screen and (min-width: 768px) {
        .three-across .flex-container .column {
          padding: 5px; } }
      .three-across .flex-container .column img {
        width: 100%; }
      .three-across .flex-container .column .media-block-content {
        margin-top: 10px; }
        .three-across .flex-container .column .media-block-content p {
          margin-top: 5px; }
          @media screen and (min-width: 768px) {
            .three-across .flex-container .column .media-block-content p {
              margin-top: 5px; } }
