.three-across {
  max-width: 1272px;

  h2 {
    margin: 0;
    margin-bottom: -10px;
    // @media screen and (min-width: 768px) {
    //   padding-left: 5px;
    // }
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .column {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin: 15px 0;
      @media screen and (min-width: 768px) {
        padding: 5px;
      }

      img {
        width: 100%;
      }

      .media-block-content {
        margin-top: 10px;
        p {
          margin-top: 5px;
          @media screen and (min-width: 768px) {
            margin-top: 5px;
          }
        }
      }
    }
  }


}
