.carousel {

  .slide-text {
    background: none;
    border: none;
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 768px) {
      right: 0;
      left: auto;
      width: 80%;
    }
    @media screen and (min-width: 1024px) {
      width: 90%;
    }
    @media screen and (min-width: 1400px) {
      width: 100%;
      left: auto;
      right: auto;
    }

    //background: rgba(255, 255, 255, 0.2);



    img {
      display: block;
      width: 100%;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 75%;
      }
    }

    .btn-secondary a {
      width: auto;
      padding: 15px 100px;
    }
  }

  margin-bottom: -160px;
  @media screen and (min-width: 768px) {
    margin-bottom: -120px;
  }
}
