// ========================================================
// QUICK LINKS MODULE
// ========================================================
.quick-links {
  display: block;
  position: relative;
  max-width: 1272px;
  margin: 0 auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }


  &__heading {
    margin-bottom: 10px;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 16.66666%;
      }
    } // .column

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding-left: 3px;
      padding-right: 3px;
      border: 1px solid #333;
      transition: all 0.3s ease;
      &:hover {
        border: 1px solid #e0e0e7;
      }

      p {
        width: 100%;
        display: block;
      }
    }

  } // .quick-links__flex
} // .quick-links
