.real-brides {
  display: block;
  position: relative;
  clear: both;
  padding: 20px 10px;
  background: #f8f6f0;
  max-width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .real-brides {
      padding: 30px 10px; } }
  .real-brides__inner {
    max-width: 1262px;
    margin: 0 auto; }
    .real-brides__inner p.serif-l-italic {
      font-size: 22px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .real-brides__inner p.serif-l-italic {
          font-size: 28px; } }
  .real-brides__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    clear: both;
    margin-left: -5px;
    margin-right: -5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .real-brides__imgs {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: -10px;
        margin-right: -10px; } }
    .real-brides__imgs .column {
      width: 50%;
      padding: 5px;
      position: relative; }
      @media screen and (min-width: 500px) {
        .real-brides__imgs .column {
          width: 25%;
          padding: 5px; } }
      @media screen and (min-width: 768px) {
        .real-brides__imgs .column {
          width: 20%;
          padding: 10px; } }
  .real-brides__text {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    max-width: 220px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .real-brides__text {
        max-width: 100%; } }
    .real-brides__text p.sans-m {
      padding: 10px 0; }
  .real-brides .btn {
    font-family: "Open Sans",Helvetica Neue,Arial,sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto; }
    .real-brides .btn-pink a {
      background: #f93777;
      color: #fff;
      padding: 11px 50px; }
      .real-brides .btn-pink a:hover, .real-brides .btn-pink a:focus, .real-brides .btn-pink a:active {
        background: #f60756; }
