// ========================================================
// SALE BANNER
// ========================================================

.sale-banner {
  margin: 20px auto 30px;


  &__inner {
    background: #f15269;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1252px;
    outline: 5px solid #f15269;
    padding: 40px 10px;
    text-align: center;
    width: 100%;
  }

  h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
  }

  p {
    margin: 0;
    color: #fff;
    &.sans-bold-uppercase {
      a {
        color: #fff;
        transition: all 0.3s ease;
        &:hover,
        &:active {
          color: #ccc;
        }
      }
    }
  }

}


// .sale-banner {
//   background: #f15269;
//   border: 1px solid #fff;
//   color: #fff;
//   display: block;
//   margin: 20px 5px;
//   max-width: 1252px;
//   outline: 5px solid #f15269;
//
//   text-align: center;
//   @media screen and (min-width: 1262px) {
//     margin: 20px auto;
//   }
//
//   &__inner {
//     width: 100%;
//     height: 100%;
//     padding: 40px 10px;
//     background: green;
//   }
//
//   p {
//     margin: 0;
//     &.sans-bold-uppercase {
//       a {
//         color: #fff;
//         transition: all 0.3s ease;
//         &:hover,
//         &:active {
//           color: #ccc;
//         }
//       }
//     }
//   }
// }
