.shop-by-price {
  max-width: 1272px;
  margin: 5px auto 0;

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .column {
      width: 50%;
      padding: 5px;
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }

    a {
      color: #333;
      &:hover,
      &:active {
        color: #333;
      }
    }
  }

  img {
    width: 100%;
  }


  &-item {
    //background: #f9b3ae;
    display: flex;
    flex-grow: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #f8f6f0;
    border: 2px solid #f04874;
    padding: 24px 5px;
    text-align: center;
    height: 100%;

    p {
      margin: 0;
      width: 100%;
      .serif-m {
        font-size: 18px;
        @media screen and (min-width: 768px) {
          font-size: 24px;
        }
      }
      .serif-xxl {
        font-size: 26px;
        @media screen and (min-width: 768px) {
          font-size: 48px;
        }
      }
    }
  }

}
