$breakpoint-sm: 500px;
$breakpoint-md: 768px;

$carousel-max-width: 1342px;

@mixin red-bg() {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.3);
}
@mixin green-bg() {
  background: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.3);
}
@mixin blue-bg() {
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.3);
}

// ----------------------------------------------------------------
// Bottom Carousel
// ----------------------------------------------------------------
.few-favorites-carousel {
  //@include red-bg();
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 auto;
  visibility: visible;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 30px auto 0;
  }


  // ----------------------------------------------------------------
  // Inner
  // ----------------------------------------------------------------
  &__inner {
    //@include green-bg();
    display: block;
    position: relative;
    max-width: $carousel-max-width;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }

    // Heading
    &--heading {
      padding: 0 0 10px 32px;
      @media screen and (min-width: $breakpoint-md) {
        padding-left: 40px;
      }
      p {
        margin: 0;
        display: inline-block;
        @media screen and (min-width: $breakpoint-md) {
          padding-bottom: 10px;
        }
        &.serif-m-italic {
          margin-right: 18px;
        }
      }
    }
  }

  .slick-container {
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $breakpoint-sm) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .slick-slide {
    padding: 0 5px;
    visibility: visible;
  }


  // ----------------------------------------------------------------
  // Arrows
  // ----------------------------------------------------------------
  .few-favorites-carousel-button {
    display: block;
    & svg {
      width: 20px;
      height: 20px;
      @media screen and (min-width: $breakpoint-sm) {
        width: 24px;
        height: 24px;
      }
      @media screen and (min-width: $breakpoint-md) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .few-favorites-carousel-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .few-favorites-carousel-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

} // End .bottom-carousel
