// Win Your Gown Banner
.win-your-gown {
  position: relative;
  background: #ea768a;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  padding: 30px 10px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1024px) {
    background-image: url('/wcsstore/images/wwcm/homepage/win_your_wedding_banner_v2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    outline: none;
    border: none;
  }

  &__text {
    //background: rgba(0, 255, 0, 0.5);
    @media screen and (min-width: 1024px) {
      position: absolute;
      left: 25%;
      right: 0%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }

  p {
    hyphens: none;
  }

  p.serif-l-italic {
    color: #fff;
  }

  .sans-bold-uppercase {
    a {
      color: #fff;
      &:hover,
      &:active,
      &:focus {
        color: #c1c1c1;
      }
    }
  }
}
