// Win Your Gown Banner
.win-your-gown {
  position: relative;
  background: #ea768a;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  outline: 5px solid #ea768a;
  border: 1px solid #fff;
  padding: 30px 10px;

  // @media screen and (min-width: 768px) {
  //   background-image: url('/wcsstore/images/wwcm/homepage/win_your_wedding_banner_v2.jpg');
  //   height: 200px;
  // }

  .sans-bold-uppercase {
    a {
      color: #fff;
    }
  }
}
