<style media="screen">
.next-steps {
  display: block;
  position: relative; }
  .next-steps .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
  @media screen and (min-width: 768px) {
    .next-steps .serif-l {
      font-size: 28px;
      line-height: 36px; } }
  .next-steps__heading p.serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
    @media screen and (min-width: 768px) {
      .next-steps__heading p.serif-l {
        font-size: 28px;
        line-height: 36px; } }
</style>

<section class="next-steps">
  <div class="next-steps__heading">
    <p class="serif-l">Next Steps</p>
  </div>
</section>
