<p class="guestMsg">
  Hi Adam, we sent an <strong><em>email confirmation</em></strong> and a <strong><em>style profile questionnaire</em></strong> to <u>apengh@dbi.com</u>. Please take a few minutes to fill out your style profile so that we can personalize your appointment and make it even better!
</p>
