@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.next-steps {
  display: block;
  position: relative;

  .serif-l {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal; }
    @media screen and (min-width: $breakpoint-md) {
      .serif-l {
        font-size: 28px;
        line-height: 36px; } }

  &__heading {
    p.serif-l {
      font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
      font-size: 22px;
      line-height: 26px;
      font-weight: normal;
      color: #333;
      @media screen and (min-width: $breakpoint-md) {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }

}
