.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
  margin-bottom: 5px;
  //@include red-bg();
  @media screen and (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
  }


  &.reverse {
    flex-direction: row-reverse;
  }


  .column {
    display: block;
    position: relative;
    width: 100%;
    &:first-child {
      padding: 5px;
    }
    //@include green-bg();
    @media screen and (min-width: $breakpoint-md) {
      &:first-child {
        width: 40%;
        padding: 4.75px;
      }
      &:last-child {
        width: 60%;
      }
    }

    .circle-text {
      position: absolute;
      bottom: 21px;
      right: 21px;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      text-align: center;
      @media screen and (min-width: $breakpoint-md) {
        bottom: 28px;
        right: 28px;
        height: 136px;
        width: 136px;
      }
      &.pink {
        background: #f93777;
      }

      p {
        color: $white;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (min-width: $breakpoint-md) {
          font-size: 13px;
          line-height: 20px;
        }
      }
    }

  } // .column





  .flex-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    & .col {
      display: block;
      position: relative;
      width: 50%;
      padding: 5px;
      text-align: center;
      @media screen and (min-width: $breakpoint-md) {
        width: 33.33334%;
      }

      &__text {
        position: absolute;
        width: 100%;
        padding-right: 5px;
        top: 50%;
        transform: translateY(-50%);
        p {
          margin: 0;
        }

        .serif-m {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 15px;
          @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 10px;
          }
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 15px;
          }
        }

        .sans-m {
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 15px;
          padding: 0 15px;
          @media screen and (min-width: 600px) {
            max-width: 320px;
            margin: 0 auto 15px;
          }
          @media screen and (min-width: $breakpoint-md) {
            padding: 0 10px;
            max-width: auto;
            margin: 0 auto 5px;
          }
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 15px;
            padding: 0 20px;
          }
        }

        .sans-bold-uppercase {
          font-size: 11px;
          line-height: 14px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0 !important;
          }
          @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 5px;
          }
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
          }
        }

      }
    }
  } // .flex-inner


} // .flex
