// ==========================================================================
// Inspiration & Guidance
// ==========================================================================
.styled-it {
  position: relative;
  padding: 0;

  .section-minor-heading {
    border-bottom: rgba(0,0,0,.1) 1px solid;
  }

  .section-minor-heading .section-minor-heading__heading {
    display: inline-block;
    padding: 0 10px 3px 0;
    background: rgba(255, 255, 255, 1);
    bottom: -27px;
    position: relative;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto 20px;
    margin-left: -5px;
    margin-right: -5px;
  } // .flex

  &__column {
    position: relative;
    width: 50%;
    padding: 5px;
    @media screen and (min-width: $breakpoint-md) {
      width: 25%;
    }

    img {
      margin: 0;
    }

    &-overlay {
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      background: rgba(248, 246, 240, 0.85);
    }
  } // .column

}
