.style-tip {
  display: block;
  text-align: center;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-bottom: 10px;

  &__inner {
    margin: 2px auto;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    margin: 0;
    max-width: 280px;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint-md) {
      max-width: 600px;
    }

    a {
      color: $taupe;
      text-decoration: underline;
      transition: all 0.3s ease;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

} // .quote
