// ==========================================================================
// Two Column - Offset
// ==========================================================================
.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
  }


  // ----------------------------------------------------------------
  // DEFAULT COLUMNS
  // ----------------------------------------------------------------
  .column {
    width: 100%;
    // padding: 10px 0;
    // @media screen and (min-width: $breakpoint-lg) {
    //   padding: 0;
    // }

    //background: rgba(255, 0, 0, 0.1);
    //border: 1px solid rgba(255, 0, 0, 0.5);

    // Column 1
    &:first-child {
      //background: green;
      @media screen and (min-width: $breakpoint-lg) {
        margin-right: 30px;
      }
    }

    // Column 2
    &:last-child {
      //background: red;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 325px;
        margin-left: 30px;
      }
    }
  } // .column

} // .two-columns
