
// ==========================================================================
// GLOBAL
// ==========================================================================
@import "../../variables";
@import "../../mixins";

@import "../../resets";


// ==========================================================================
// BASE
// ==========================================================================
@import "../../base";



// ==========================================================================
// LAYOUT
// ==========================================================================
@import "two-columns";
@import "flexbox";



// ==========================================================================
// MODULE
// ==========================================================================
@import "../../breadcrumbs";
@import "../../article-share-bar";

@import "../../recommend-block";
@import "blockquote";
@import "styled-it";
// ==========================================================================
// PAGE SPECIFIC
// ==========================================================================
// @import "page-specific";


a.inline-link {
  color: $taupe;
  text-decoration: underline;
  transition: all 0.3s ease;
  font-weight: 400 !important;
  &:hover {
    color: $black;
    text-decoration: underline !important;
    font-weight: 400 !important;
  }
}