.just-opened-banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1262px;
  margin: 0 auto; }
  .just-opened-banner a {
    color: #333;
    text-decoration: none; }
    .just-opened-banner a:hover, .just-opened-banner a:active, .just-opened-banner a:focus {
      color: #333; }
  .just-opened-banner .serif-m-italic {
    font-family: 'Domaine Display', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; }
    @media screen and (min-width: 1024px) {
      .just-opened-banner .serif-m-italic {
        font-size: 26px;
        line-height: 32px; } }
  .just-opened-banner .sans-m {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal; }
    @media screen and (min-width: 1024px) {
      .just-opened-banner .sans-m {
        font-size: 15px;
        line-height: 24px; } }
  .just-opened-banner .sans-bold-uppercase {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.055em;
    text-decoration: none; }
    @media screen and (min-width: 1024px) {
      .just-opened-banner .sans-bold-uppercase {
        font-size: 12px;
        line-height: 16px; } }
  .just-opened-banner .sans-bold-uppercase a,
  .just-opened-banner .sans-bold-uppercase a:visited {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: initial;
            transition-delay: initial; }
  .just-opened-banner .sans-bold-uppercase a:hover,
  .just-opened-banner .sans-bold-uppercase a:active {
    color: #727278;
    text-decoration: none; }
  .just-opened-banner__background-image {
    height: 180px;
    background: #ebebeb;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("/wcsstore/images/wwcm/storepages/NewStoreBanner_Mobile.jpg"); }
    @media screen and (min-width: 768px) {
      .just-opened-banner__background-image {
        background-position: 0 0;
        background-image: url("/wcsstore/images/wwcm/storepages/NewStoreBanner_Desktop.jpg"); } }
  .just-opened-banner__text {
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5px;
    left: 37.5%; }
    @media screen and (min-width: 400px) {
      .just-opened-banner__text {
        left: 150px; } }
    @media screen and (min-width: 768px) {
      .just-opened-banner__text {
        left: 280px; } }
    .just-opened-banner__text p {
      margin: 0; }
      .just-opened-banner__text p.sans-m {
        max-width: 360px;
        margin: 5px auto 10px; }
        @media screen and (min-width: 1024px) {
          .just-opened-banner__text p.sans-m {
            max-width: 100%; } }
