// ========================================================
// HERO
// ========================================================
.hero {
  display: block;
  position: relative;
  width: 100%;

  &__breadcrumbs {
    display: block;
    position: absolute;
    max-width: $container-max-width;
    width: 100%;
    top: 10px;
    left: 10px;
    @media screen and (min-width: $container-max-width + 20px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }


  &__text {
    //@include green-bg();
    display: block;
    position: relative;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      max-width: $container-max-width;
    }
    @media screen and (min-width: $container-max-width + 20px) {
      left: 50%;
      transform: translateX(-50%);
    }

    &--inner {
      //@include red-bg();
      display: block;
      width: 100%;
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        padding-left: 10px;
      }
      @media screen and (min-width: $container-max-width + 20px) {
        width: 50%;
        padding-left: 0;
      }
    }

    .serif-xl {
      font-size: 26px;
      line-height: 1;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    .sans-m {
      font-size: 15px;
      @media screen and (min-width: $breakpoint-lg) {
        max-width: 420px;
      }
      @media screen and (min-width: $container-max-width + 20px) {
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }

    &-copy {
      background: #f7c7c7;
      padding: 20px 10px;
      @media screen and (min-width: $breakpoint-md) {
        padding: 20px 0 30px;
        background: none;
      }
      @media screen and (min-width: $container-max-width + 20px) {
        padding-bottom: 50px;
      }
    }

    &-video {
      display: block;
      background: #fff;
      padding: 10px;
      @media screen and (min-width: $breakpoint-md) {
        padding: 0;
        background: none;
      }

      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

  }

} // .hero
