// ========================================================
// IMG-TEXT-BLOCK
// ========================================================
.img-text-block {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: #fcd8d8;



  &__text {
    //@include green-bg();
    display: block;
    position: relative;
    padding: 20px 10px;
    max-width: $container-max-width;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      position: absolute;
      padding: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    &--inner {
      //@include red-bg();
      @media screen and (min-width: $breakpoint-md) {
        width: 50%;
        &.md-left {
          padding-left: 10px;
        }
        &.md-right {
          float: right;
          padding-right: 10px;
        }
      }
    }


    &--svg {
      display: block;
      svg {
        max-width: 120px;
        @media screen and (min-width: $breakpoint-lg) {
          max-width: 100%;
        }
      }
    }


    &--copy {
      h3 {
        margin-bottom: 10px;
      }

      .btn {
        display: block;
        width: 100%;
        max-width: 330px;
        @media screen and (min-width: $breakpoint-md) {
          display: inline-block;
          max-width: 175px;
          width: 50%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          width: 100%;
          max-width: 220px;
          margin-top: 20px;
        }
        &-secondary a {
          display: block;
          width: 100%;
          padding: 11px 0;
        }
      }
    }

    .serif-m {
      font-size: 18px;
      line-height: 22px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 15px;
      }
    }
    .sans-m {
      font-size: 13px;
      line-height: 18px;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 15px;
        line-height: 24px;
      }
    }


  }

  .btn + .btn {
    margin-left: 0;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
      margin-left: 10px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-top: 20px;
    }
  }
}
