.slick-track {
  display: flex !important;
  align-items: stretch;
  align-content: stretch;
}

.slick-slide {
  display: flex !important;
  float: none !important;
  height: auto !important;
  img {
    width: 100%;
    height: 100%;
  }
}

.slide-cream {
  align-items: center;
  background: #f8f6f0;
  display: flex;
  position: relative;
  width: 100%;

  &__text {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (min-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  p {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
