// ========================================================
// STEPS
// ========================================================
.steps {
  display: block;
  position: relative;
  width: 100%;
  background: #fcd8d8;

  &__inner {
    max-width: $container-max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  svg {
    fill: #333;
  }

  &__svg {
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 25px;
    }
  }


  .column {
    //@include green-bg();
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $breakpoint-md) {
      width: 33.33333%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 33.33333%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }


  &__text {
    p {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

}
