// --------------------------------------------------------
// LINK
// --------------------------------------------------------
&__link {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
}


// --------------------------------------------------------
// DISCLAIMER
// --------------------------------------------------------
&__disclaimer {
  z-index: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    text-align: right;
    margin-right: 5px;
    margin-top: -3px;
  }
  @media screen and (min-width: $max-width) {
    margin-right: 0;
  }
}
